Repository ppy/osu-wiki, pull requests merged in 2018-09, with the labels that each got.

#1648 DeltaMax's Taiko Oni Overlord Wiki Page
  wiki/Tournaments/DMX/2/en.md
  wiki/Tournaments/DMX/2/img/logo.png
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
Labels: new article

#1655 IGTS 2018 Finals - Week 1 update
  wiki/Tournaments/IGTS/2018/en.md
Labels: update

#1656 Round of 16 update for the MWC 2018 article
  wiki/Tournaments/MWC/2018/4K/en.md
Labels: update

#1646 [EN/ZH] Tournament-CJB: Finals - Week 2
  wiki/Tournaments/CJB/2018/4K/en.md
  wiki/Tournaments/CJB/2018/4K/img/banner.png
  wiki/Tournaments/CJB/2018/4K/img/podium.jpg
  wiki/Tournaments/CJB/2018/4K/zh.md
  wiki/Tournaments/en.md
  wiki/redirect.yaml
Labels: update

#1500 [ZH] Twitter
  wiki/Twitter/zh.md
Labels: blocked, translations

#1661 Add a link to the Storyboard Scripting Shorthand in the Commands article
  wiki/Storyboard_Scripting/Commands/en.md
  wiki/Storyboard_Scripting/Commands/ja.md
Labels: update

#1615 Update Tournament Article Template
  wiki/Tournaments/TEMPLATE.md
  wiki/Tournaments/Template/en.md
  wiki/Tournaments/Template/id.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
Labels: update

#1619 [KO] Retranslate the Chat Console article
  wiki/Chat_Console/ko.md
Labels: translations

#1572 Add Catch the Beat Indonesia Cup 2018 article
  wiki/Tournaments/CIC/2018/en.md
  wiki/Tournaments/CIC/2018/id.md
  wiki/Tournaments/CIC/2018/img/logo.jpg
Labels: new article, wip

#1669 Add PH Holiday Friendlies 2018 article
  wiki/Tournaments/oPHF/2018/en.md
  wiki/Tournaments/oPHF/2018/img/logo.png
Labels: new article

#1672 Add CFC 3 article
  wiki/Tournaments/CFC/3/en.md
  wiki/Tournaments/CFC/3/fr.md
  wiki/Tournaments/CFC/3/img/logo.png
Labels: new article

#1676 IGTS 2018 Grand Finals update
  wiki/Tournaments/IGTS/2018/en.md
  wiki/Tournaments/IGTS/2018/logo.jpg
Labels: update

#1674 TSC Quarterfinals update
  wiki/Tournaments/TSC/1/en.md
  wiki/Tournaments/TSC/1/fr.md
Labels: update

#1683 GMT Updates
  wiki/People/Global_Moderation_Team/de.md
  wiki/People/Global_Moderation_Team/en.md
  wiki/People/Global_Moderation_Team/es.md
  wiki/People/Global_Moderation_Team/fr.md
  wiki/People/Global_Moderation_Team/id.md
  wiki/People/Global_Moderation_Team/it.md
  wiki/People/Global_Moderation_Team/ja.md
  wiki/People/Global_Moderation_Team/ko.md
  wiki/People/Global_Moderation_Team/pl.md
  wiki/People/Global_Moderation_Team/pt.md
  wiki/People/Global_Moderation_Team/ru.md
  wiki/People/Global_Moderation_Team/tl.md
  wiki/People/Global_Moderation_Team/tr.md
  wiki/People/Global_Moderation_Team/zh.md
  wiki/People/osu!_Alumni/de.md
  wiki/People/osu!_Alumni/en.md
  wiki/People/osu!_Alumni/es.md
  wiki/People/osu!_Alumni/fr.md
  wiki/People/osu!_Alumni/id.md
  wiki/People/osu!_Alumni/it.md
  wiki/People/osu!_Alumni/ja.md
  wiki/People/osu!_Alumni/ko.md
  wiki/People/osu!_Alumni/pl.md
  wiki/People/osu!_Alumni/pt.md
  wiki/People/osu!_Alumni/ru.md
  wiki/People/osu!_Alumni/tr.md
  wiki/People/osu!_Alumni/zh.md
Labels: update

#1651 Ranking Criteria Updates
  wiki/Ranking_Criteria/en.md
  wiki/Ranking_Criteria/osu!/en.md
  wiki/Ranking_Criteria/osu!catch/en.md
Labels: update

#1662 Fix a typo in the osu!catch RC article
  wiki/Ranking_Criteria/osu!catch/en.md
Labels: update

#1650 [ID] Beatmap Nominators
  wiki/People/Beatmap_Nominators/id.md
Labels: translations

#1684 CIC 2018 Finals & Grand Finals update
  wiki/Tournaments/CIC/2018/en.md
  wiki/Tournaments/CIC/2018/id.md
  wiki/Tournaments/CIC/2018/img/podium.png
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
Labels: update

#1334 Update Article Styling Criteria and News Styling Criteria
  wiki/Article_Styling_Criteria/Images/en.md
  wiki/Article_Styling_Criteria/en.md
  wiki/News_Styling_Criteria/en.md
  wiki/redirect.yaml
Labels: update

#1660 Storyboard Scripting - Move command specification fixes
  wiki/Storyboard_Scripting/Commands/en.md
Labels: update

#1639 Add Taiko World Cup #3 article
  wiki/Tournaments/TWC/3/en.md
  wiki/Tournaments/TWC/3/img/logo.png
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/shared/flag/DKNO.png
  wiki/shared/flag/ITNL.png
  wiki/shared/flag/SVVE.png
Labels: new article

#1697 IGTS 2018 Conclusion
  wiki/Tournaments/IGTS/2018/en.md
Labels: update

#1701 Staff and Rule Updates for oPHF2018
  wiki/Tournaments/oPHF/2018/en.md
  wiki/Tournaments/oPHF/2018/img/logo.png
Labels: update

#1694 Fix the transparency of the double flags
  wiki/shared/flag/BRCL.png
  wiki/shared/flag/DKNO.png
  wiki/shared/flag/ITNL.png
  wiki/shared/flag/SVVE.png
Labels: update

#1695 Add redirects for OWC #3 and TWC #3
  wiki/redirect.yaml
Labels: update

#1699 Upload August 2018 QAT Gazette
  news/2018-09-19-the-qat-gazette-august-2018.md
Labels: news

#1708 Community Mentorship Program Winter 2018 Announcement
  news/2018-09-24-community-mentorship-program-winter-2018-signups-now-open.md
  wiki/shared/news/2018-09-24-community-mentorship-program-winter-2018-signups-now-open/banner.png
Labels: news
