Repository ppy/osu-wiki, pull requests merged in 2018-03, with the labels that each got.

#1033 Welcome: add Skinning Section and change the AotM
  wiki/Welcome/en.md
  wiki/Welcome/es.md
  wiki/Welcome/pl.md
  wiki/Welcome/zh.md
Labels: update

#1083 HOO/2018: add February and changes to January
  wiki/History_of_osu!/2018/en.md
  wiki/History_of_osu!/osu!_wiki/en.md
  wiki/History_of_osu!/osu!_wiki/img/ow_MW.jpg
  wiki/History_of_osu!/osu!_wiki/it.md
  wiki/History_of_osu!/osu!_wiki/pl.md
  wiki/History_of_osu!/osu!_wiki/zh-hk.md
  wiki/History_of_osu!/osu!_wiki/zh.md
  wiki/History_of_osu!/osu!wiki/en.md
  wiki/redirect.yaml
Labels: update

#1091 Difficulty page changes and additions
  wiki/Difficulties/Hard/Hardsetup.png
  wiki/Difficulties/en.md
Labels: update

#1104 MWC7K 2018 Finals update
  wiki/Tournaments/MWC/2018/7K/bracket.jpg
  wiki/Tournaments/MWC/2018/7K/en.md
Labels: update

#1087 Unify the style of OWC #1 - OWC 2014 Tournament articles
  wiki/Tournaments/OWC/1/en.md
  wiki/Tournaments/OWC/2/en.md
  wiki/Tournaments/OWC/2013/en.md
  wiki/Tournaments/OWC/2014/de.md
  wiki/Tournaments/OWC/2014/en.md
  wiki/Tournaments/OWC/2014/es.md
  wiki/Tournaments/OWC/2014/fr.md
  wiki/Tournaments/OWC/2014/ko.md
  wiki/Tournaments/OWC/2014/pt.md
  wiki/Tournaments/OWC/2014/ru.md
Labels: update

#1106 [PL] The Team
  wiki/People/The_Team/pl.md
Labels: translations

#1112 New Featured Artist: Trial & Error newspost
  news/2018-03-06-new-featured-artist-trial-and-error.md
Labels: news

#1078 Upload osu!catch Aspire outcome
  news/2018-03-08-aspire-2017-stage-three-osucatch-results.md
Labels: news

#1064 [ES] Beatmap Discussion
  wiki/Beatmap_Discussion/es.md
Labels: translations

#1092 [ES] AiMod
  wiki/Beatmap_Editor/AiMod/es.md
Labels: translations

#1116 Add ANZT 5S to tournaments
  wiki/Tournaments/ANZT/2018_Summer/en.md
  wiki/Tournaments/ANZT/2018_Summer/logo.jpg
Labels: new article

#1127 Unify the style of all OWC articles (to Links header)
  wiki/Tournaments/OWC/2013/en.md
  wiki/Tournaments/OWC/2014/en.md
  wiki/Tournaments/OWC/2015/en.md
  wiki/Tournaments/OWC/2016/en.md
  wiki/Tournaments/OWC/2017/en.md
Labels: update

#1108 RC: osu! specific Normals as lowest difficulties
  wiki/Ranking_Criteria/osu!/Scaling_BPM/en.md
  wiki/Ranking_Criteria/osu!/en.md
Labels: update

#1140 Featured Artists Track Update newspost
  news/2018-03-20-featured-artist-track-updates.md
  wiki/shared/news/2018-03-20-featured-artist-track-updates/banner.jpg
Labels: news

#1139 Created the SOFT3 Wiki page
  wiki/Tournaments/SOFT/3/badge.png
  wiki/Tournaments/SOFT/3/banner.jpg
  wiki/Tournaments/SOFT/3/en.md
Labels: new article

#1158 [PL] Twitter
  wiki/Twitter/pl.md
Labels: translations

#1155 Quality Assurance Team members update
  wiki/People/Quality_Assurance_Team/de.md
  wiki/People/Quality_Assurance_Team/en.md
  wiki/People/Quality_Assurance_Team/es.md
  wiki/People/Quality_Assurance_Team/fr.md
  wiki/People/Quality_Assurance_Team/id.md
  wiki/People/Quality_Assurance_Team/it.md
  wiki/People/Quality_Assurance_Team/ja.md
  wiki/People/Quality_Assurance_Team/ko.md
  wiki/People/Quality_Assurance_Team/pl.md
  wiki/People/Quality_Assurance_Team/pt.md
  wiki/People/Quality_Assurance_Team/ru.md
  wiki/People/Quality_Assurance_Team/zh.md
Labels: update

#1156 Create 2018-03-21-mwc-7k-2018-concludes.md
  news/2018-03-22-mwc-7k-2018-concludes.md
Labels: blocked, news

#1152 February Spotlights article
  news/2018-03-22-beatmap-spotlights-february-2018.md
  wiki/shared/news/2018-03-22-beatmap-spotlights-february-2018/aimless-voyage.jpg
  wiki/shared/news/2018-03-22-beatmap-spotlights-february-2018/astral-dogma.jpg
  wiki/shared/news/2018-03-22-beatmap-spotlights-february-2018/canon.jpg
  wiki/shared/news/2018-03-22-beatmap-spotlights-february-2018/destroyer.jpg
  wiki/shared/news/2018-03-22-beatmap-spotlights-february-2018/escapist.jpg
  wiki/shared/news/2018-03-22-beatmap-spotlights-february-2018/fair-wind.jpg
  wiki/shared/news/2018-03-22-beatmap-spotlights-february-2018/four-seasons.jpg
  wiki/shared/news/2018-03-22-beatmap-spotlights-february-2018/future-candy.jpg
  wiki/shared/news/2018-03-22-beatmap-spotlights-february-2018/invoker.jpg
  wiki/shared/news/2018-03-22-beatmap-spotlights-february-2018/kaede.jpg
  wiki/shared/news/2018-03-22-beatmap-spotlights-february-2018/kanpan.jpg
  wiki/shared/news/2018-03-22-beatmap-spotlights-february-2018/lets-jump.jpg
  wiki/shared/news/2018-03-22-beatmap-spotlights-february-2018/sennen.jpg
  wiki/shared/news/2018-03-22-beatmap-spotlights-february-2018/spotlight-header.jpg
  wiki/shared/news/2018-03-22-beatmap-spotlights-february-2018/suicide-penguin.jpg
  wiki/shared/news/2018-03-22-beatmap-spotlights-february-2018/yolo.jpg
  wiki/shared/news/2018-03-22-beatmap-spotlights-february-2018/yukari.jpg
  wiki/shared/news/2018-03-22-beatmap-spotlights-february-2018/yume.jpg
Labels: news

#1154 [PL] Do you really want to ask peppy?
  wiki/Do_you_really_want_to_ask_peppy/pl.md
Labels: translations

#1134 [ID] Tournaments Translation
  wiki/Tournaments/id.md
Labels: translations

#1162 Divisions
  wiki/People/Beatmap_Nominators/Divisions/en.md
Labels: discussion, new article

#1098 [ES] Forums
  wiki/Forums/es.md
Labels: translations

#1097 [ES] Do you really want to ask peppy
  wiki/Do_you_really_want_to_ask_peppy/es.md
Labels: translations

#1111 [ES] Community Contributors
  wiki/People/Community_Contributors/es.md
Labels: translations

#1110 [ES] People
  wiki/People/es.md
Labels: translations

#1160 Update QAT and BN listing with additions/removals
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Quality_Assurance_Team/en.md
Labels: update

#1153 Skinning FAQ
  wiki/Skinning/FAQ/en.md
  wiki/Skinning/Tutorial/en.md
Labels: new article

#1137 Guides/omMG: fix a few things
  wiki/Guides/osu!mania_Mapping_Guide/de.md
  wiki/Guides/osu!mania_Mapping_Guide/en.md
Labels: update

#1144 Remove user links from flags on team page
  wiki/People/The_Team/en.md
Labels: update

#1179 Update ANZT5S Tourney since completing
  wiki/Tournaments/ANZT/2018_Summer/en.md
Labels: update
