Repository ppy/osu-wiki, pull requests merged in 2018-06, with the labels that each got.

#1367 March and April Beatmap Spotlights
  news/2018-06-06-beatmap-spotlights-march-and-april-2018.md
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/akaito.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/booths-of-fighters.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/captivate.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/cosmic-love.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/daedalus.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/der-wald.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/deublithick.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/dum-surfer.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/element-of-spada.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/enantiomorphs.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/figue-folle.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/gabriel-catch.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/gabriel.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/happy-halloween.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/iwashi-ga.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/jojo.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/lesson.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/nexta.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/nirvana.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/on-the-backs-of-angels.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/onigiri.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/piccadilly.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/shitai-ryokou.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/spotlight-header.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/squall.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/strike.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/tokei-no-heya.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/transport.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/turii.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/world-fragments.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/yell.jpg
Labels: news

#1379 [ES] Small fixes to the Installation article
  wiki/Installation/es.md
Labels: translations

#1401 [IT] Welcome
  wiki/Welcome/it.md
Labels: translations

#1410 [DE] Disambiguation
  wiki/Disambiguation/Bancho/de.md
  wiki/Disambiguation/EZ/de.md
  wiki/Disambiguation/Easy/de.md
  wiki/Disambiguation/Mod/de.md
  wiki/Disambiguation/de.md
Labels: translations

#1415 [DE] Beatmapping
  wiki/Beatmapping/de.md
Labels: translations

#1403 [IT] Installation
  wiki/Installation/it.md
Labels: translations

#1418 [DE] Chat Console (Rework)
  wiki/Chat_Console/de.md
Labels: translations

#1424 [DE] osu!api
  wiki/osu!api/de.md
Labels: translations

#1422 [DE] Do you really want to ask peppy?
  wiki/Do_you_really_want_to_ask_peppy/de.md
Labels: translations

#1462 [THOM CUP] Round of 16 Update
  wiki/Tournaments/THOM_CUP/1/en.md
Labels: update

#1417 Remove huge piece of example from chat commands table
  wiki/Chat_Console/en.md
Labels: update

#1432 [ID] Beatmaps and Packs
  wiki/Beatmaps/Packs/id.md
  wiki/Beatmaps/id.md
Labels: translations

#1438 Add description to some properties in .osu file format
  wiki/osu!_File_Formats/Osu_(file_format)/en.md
Labels: update

#1456 [ID] Chat_Console update
  wiki/Chat_Console/id.md
Labels: translations

#1461 Remove "Article of the month" section on Welcome page
  wiki/Welcome/en.md
  wiki/Welcome/es.md
  wiki/Welcome/id.md
  wiki/Welcome/it.md
  wiki/Welcome/ko.md
  wiki/Welcome/pl.md
  wiki/Welcome/pt-br.md
  wiki/Welcome/ru.md
  wiki/Welcome/zh.md
Labels: update

#1467 [ATS 2018] Semifinals update
  wiki/Tournaments/ATS/2018/en.md
  wiki/Tournaments/ATS/2018/ja.md
  wiki/Tournaments/ATS/2018/ko.md
  wiki/Tournaments/ATS/2018/lower_bracket.png
  wiki/Tournaments/ATS/2018/upper_bracket.png
  wiki/Tournaments/ATS/2018/zh-tw.md
Labels: update

#1446 Update osu! wiki Contribution Guide
  wiki/osu!_wiki_Contribution_Guide/en.md
  wiki/osu!_wiki_Contribution_Guide/es.md
  wiki/osu!_wiki_Contribution_Guide/id.md
  wiki/osu!_wiki_Contribution_Guide/img/new-pull-request.jpg
  wiki/osu!_wiki_Contribution_Guide/img/new-pull-request.png
  wiki/osu!_wiki_Contribution_Guide/ko.md
  wiki/osu!_wiki_Contribution_Guide/zh.md
Labels: update

#1419 [PL] Chat Console
  wiki/Chat_Console/en.md
  wiki/Chat_Console/pl.md
Labels: translations

#1459 [ID] Beatmapping
  wiki/Beatmapping/id.md
Labels: translations, unmeaningful commit names

#1473 Correct punctuation on osu!supporter page
  wiki/osu!supporter/en.md
Labels: unmeaningful commit names

#1453 [IT] Registration update
  wiki/Registration/it.md
Labels: translations

#1460 [IT] Rules
  wiki/Rules/it.md
Labels: translations, unmeaningful commit names

#1489 [ATS 2018] Finals update
  wiki/Tournaments/ATS/2018/en.md
  wiki/Tournaments/ATS/2018/ja.md
  wiki/Tournaments/ATS/2018/ko.md
  wiki/Tournaments/ATS/2018/lower_bracket.png
  wiki/Tournaments/ATS/2018/upper_bracket.png
  wiki/Tournaments/ATS/2018/zh-tw.md
Labels: update
