Repository ppy/osu-wiki, pull requests merged in 2018-04, with the labels that each got.

#1168 [Ranking Criteria] add drug abuse to list of glorifying things to avoid
  wiki/Ranking_Criteria/Song_Content_Rules/en.md
Labels: update

#1171 Port of a forum post, part of #962
  wiki/Skinning/Guides_and_Important_Threads/en.md
Labels: new article

#1084 Beatmap Nominator Rules: Recent changes
  wiki/People/Beatmap_Nominators/Rules/en.md
Labels: update

#1005 [KO] Welcome
  wiki/Welcome/ko.md
Labels: translations

#1164 [Ranking Criteria] Apply all general Drafts
  wiki/Ranking_Criteria/en.md
Labels: update

#928 [Help wanted] .osu: Expand the Difficulty section
  wiki/osu!_File_Formats/Osu_(file_format)/en.md
Labels: help wanted

#1093 [ES] Beat Snap Divisor
  wiki/Beatmap_Editor/Beat_Snap_Divisor/es.md
Labels: translations

#841 [PT-BR] Translations of some wiki articles
  wiki/Accuracy/pt-br.md
  wiki/BBCode/pt-br.md
  wiki/Beatmaps/pt-br.md
  wiki/Game_Modes/osu!/pt-br.md
  wiki/Game_Modes/pt-br.md
  wiki/Tournaments/pt-br.md
  wiki/Visual_Settings/pt-br.md
  wiki/Welcome/pt-br.md
Labels: translations

#1143 [KO] osu!wiki Contribution Guide
  wiki/osu!wiki_Contribution_Guide/ko.md
Labels: translations

#1031 Completed Skins Compendium
  wiki/Skinning/Compendium/en.md
Labels: discussion, new article

#1095 [ES] Contests
  wiki/Contests/es.md
Labels: translations

#1172 March's QAT Gazette
  news/2018-04-02-the-qat-gazette-march-2018.md
Labels: high priority, news

#1215 Welcome: fix lead parapgraph, include RC links, and update AotM
  wiki/Welcome/en.md
  wiki/Welcome/ko.md
  wiki/Welcome/pl.md
  wiki/Welcome/pt-br.md
Labels: update

#1222 Add Project Loved: Week of April 8th
  news/2018-04-09-project-loved-week-of-april-8th.md
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/catch/apparition.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/catch/fffff.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/catch/imaginary-like-the-justice.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/catch/pizza-rolls.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/catch/sink-to-the-deep-sea-world.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/mania/april.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/mania/dawn-of-a-dark-day.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/mania/messier-333.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/mania/monkey-bussines.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/mania/mottai-night-land.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/mania/no-money-down-low-monthly-payments.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/mania/over-the-top.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/mania/sapphire.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/mania/starry-presto.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/mania/that-was-too-slow.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/osu/adrenaline.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/osu/amazing-mirage.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/osu/flower-dance.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/osu/kakushigoto.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/osu/kodama.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/osu/kokoro-odoru.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/osu/last-stardust.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/osu/no-title.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/osu/seashore-on-the-moon.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/osu/trigger.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/taiko/dreamin-attraction.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/taiko/grief-and-malice.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/taiko/holy.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/taiko/soundcloud-do-not-die.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/taiko/stronghold.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/taiko/tsugihagi-construction-2012.jpg
  wiki/shared/news/2018-04-09-project-loved-week-of-april-8th/taiko/uber-6.jpg
Labels: news

#1226 [oPHST 2018] Various additions and changes
  wiki/Tournaments/oPHST/2018/en.md
Labels: update

#1205 [ID] osu!tourney
  wiki/osu!tourney/Multiplayer_Usage/id.md
  wiki/osu!tourney/Prizes/id.md
  wiki/osu!tourney/Setup/id.md
  wiki/osu!tourney/Skinning/id.md
  wiki/osu!tourney/Spectator_Usage/id.md
  wiki/osu!tourney/Tournament_Management_Commands/id.md
  wiki/osu!tourney/Troubleshooting/id.md
  wiki/osu!tourney/id.md
Labels: translations

#1233 [ID] Internet Relay Chat
  wiki/Internet_Relay_Chat/id.md
Labels: translations

#1212 osu!supporter
  wiki/osu!supporter/O!s_Decide.jpg
  wiki/osu!supporter/O!s_Duration.jpg
  wiki/osu!supporter/Osu!support_mail-gifted.png
  wiki/osu!supporter/Osu-support.png
  wiki/osu!supporter/de.md
  wiki/osu!supporter/en.md
  wiki/osu!supporter/es.md
  wiki/osu!supporter/fr.md
  wiki/osu!supporter/id.md
  wiki/osu!supporter/img/profile.png
  wiki/osu!supporter/img/selecting-duration.jpg
  wiki/osu!supporter/img/shopping-cart.jpg
  wiki/osu!supporter/img/signed-out-home.png
  wiki/osu!supporter/img/status.jpg
  wiki/osu!supporter/img/store-product.jpg
  wiki/osu!supporter/img/usercard-heart.png
  wiki/osu!supporter/img/usercard.png
  wiki/osu!supporter/img/userpage.jpg
  wiki/osu!supporter/it.md
  wiki/osu!supporter/nl.md
  wiki/osu!supporter/pt.md
  wiki/osu!supporter/ru.md
  wiki/osu!supporter/th.md
  wiki/osu!supporter/zh.md
Labels: rewrite

#1251 Installation
  wiki/Installation/de.md
  wiki/Installation/en.md
  wiki/Installation/es.md
  wiki/Installation/fi.md
  wiki/Installation/fr.md
  wiki/Installation/hu.md
  wiki/Installation/id.md
  wiki/Installation/it.md
  wiki/Installation/ko.md
  wiki/Installation/pl.md
  wiki/Installation/pt.md
  wiki/Installation/ru.md
  wiki/Installation/th.md
  wiki/Installation/zh-hk.md
  wiki/Installation/zh.md
Labels: rewrite

#1224 [ES] About
  wiki/About/es.md
Labels: translations

#1258 Create THOM CUP wiki page
  wiki/Tournaments/THOM_CUP/1/en.md
  wiki/Tournaments/THOM_CUP/1/logo.png
Labels: new article

#1257 [oPHST2018] Various additions, removals, and fixes
  wiki/Tournaments/oPHST/2018/en.md
Labels: update

#1256 QuarterFinals Update TWC2018
  wiki/Tournaments/TWC/2018/bracket.png
  wiki/Tournaments/TWC/2018/en.md
Labels: update

#1266 [ID] Installation
  wiki/Installation/id.md
Labels: translations

#1265 [ID] Welcome
  wiki/Welcome/id.md
Labels: translations

#1262 [ID] Reporting Bad Behaviour
  wiki/Reporting_Bad_Behaviour/id.md
Labels: translations

#1239 [ID] Visual Settings
  wiki/Visual_Settings/id.md
Labels: translations

#1255 [RU] Russian translation of the welcome page
  wiki/Welcome/ru.md
Labels: translations

#1109 [ES] The Team
  wiki/People/The_Team/es.md
Labels: translations

#1270 [ATS 2018] Schedules, Staff, Ruleset Updates
  wiki/Tournaments/ATS/2018/en.md
Labels: update

#1278 Project Loved April 22nd (BARE WIP)
  news/2018-04-24-project-loved-week-of-april-22nd.md
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/catch/code-crimson.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/catch/crystallized.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/catch/holy-moon.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/catch/lolinternetcatgirls.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/catch/skill-analyzer.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/mania/chikyuu-saigo.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/mania/cuddlepiano.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/mania/epollo.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/mania/hesperides.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/mania/piano.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/mania/scrap-syndrome.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/mania/takecore.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/osu/avalanche.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/osu/die.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/osu/glorious-crown.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/osu/heiju.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/osu/history-maker.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/osu/lyoshka.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/osu/maradjatok.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/osu/megalovania.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/osu/revolutionary-etude.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/osu/ultramarine.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/taiko/chambarising.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/taiko/el-ritmo.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/taiko/mudpie.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/taiko/oshama-scramble.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/taiko/snow-drive.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/taiko/volar.jpg
  wiki/shared/news/2018-04-24-project-loved-week-of-april-22nd/taiko/wasting-my-time.jpg
Labels: news

#1272 [ID] Mascots
  wiki/Mascots/Gallery/id.md
  wiki/Mascots/id.md
Labels: translations

#1273 ASC: various updates and CRLF to LF
  wiki/Article_Styling_Criteria/en.md
  wiki/Article_Styling_Criteria/zh.md
Labels: update

#1274 Registration
  wiki/Registration/Channelopenbutton.png
  wiki/Registration/Login-zh.png
  wiki/Registration/Login.png
  wiki/Registration/Register-1.png
  wiki/Registration/Register-2.png
  wiki/Registration/Register-3.png
  wiki/Registration/Userpanel.png
  wiki/Registration/de.md
  wiki/Registration/en.md
  wiki/Registration/es.md
  wiki/Registration/fr.md
  wiki/Registration/id.md
  wiki/Registration/img/register.jpg
  wiki/Registration/it.md
  wiki/Registration/ko.md
  wiki/Registration/nl.md
  wiki/Registration/no.md
  wiki/Registration/pl.md
  wiki/Registration/pt-br.md
  wiki/Registration/pt.md
  wiki/Registration/ru.md
  wiki/Registration/sv.md
  wiki/Registration/th.md
  wiki/Registration/zh.md
Labels: rewrite
