Repository ppy/osu-wiki, pull requests merged in 2018-05, with the labels that each got.

#1227 People/Staff Log: update
  wiki/People/Staff_Log/en.md
  wiki/People/en.md
Labels: update

#1279 [oPHST2018] Qualifiers
  wiki/Tournaments/oPHST/2018/en.md
Labels: update

#1103 [ES] Game Modes / osu!
  wiki/Game_Modes/osu!/es.md
Labels: translations

#1214 [KO] Translation of osu!wiki_Contribution_Guide/Common_Issues
  wiki/osu!wiki_Contribution_Guide/Common_Issues/ko.md
Labels: translations

#1252 [KO] Typo fix for osu! Contribution Guide
  wiki/osu!wiki_Contribution_Guide/ko.md
Labels: translations

#1314 Spring 2018 Fanart Contest results newspost
  news/2018-05-02-spring-2018-fanart-contest-results.md
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/2Su.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/2Su@2x.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/Amumizu.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/Amumizu@2x.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/Evaine.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/Evaine@2x.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/Evans.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/Evans@2x.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/Heidy.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/Heidy@2x.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/In those days.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/In those days@2x.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/Leissss.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/Leissss@2x.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/R3_AL.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/R3_AL@2x.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/RaudhrAkai.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/RaudhrAkai@2x.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/Raynel.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/Raynel@2x.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/Sunako.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/Sunako@2x.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/Vio.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/Vio@2x.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/YaoiForeva.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/YaoiForeva@2x.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/banner.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/banner@2x.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/keizami.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/keizami@2x.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/snowyani2000.jpg
  wiki/shared/news/2018-05-02-spring-2018-fanart-contest-results/snowyani2000@2x.jpg
Labels: news

#1307 CWC 2018 Wiki Page + newspost
  news/2018-05-02-CWC-2018-registrations-open.md
  wiki/Tournaments/CWC/2018/en.md
  wiki/Tournaments/CWC/2018/logo.png
  wiki/shared/news/banners/CWC_2018_banner.jpg
Labels: new article, news

#1306 TWC Semis Recap
  news/2018-05-01-twc-semis-recap.md
  wiki/shared/news/2018-04-23-twc-quarters-recap/canada-hk-tiebreaker.jpg
  wiki/shared/news/2018-04-23-twc-quarters-recap/indonesia-burn.jpg
  wiki/shared/news/2018-04-23-twc-quarters-recap/japan-perthed.jpg
Labels: news

#1308 HOO/2018: add April and update the contributor badge
  wiki/History_of_osu!/2018/en.md
  wiki/History_of_osu!/2018/img/.gitkeep
  wiki/History_of_osu!/2018/img/april-fools-main-menu.jpg
  wiki/History_of_osu!/2018/img/april-fools-song-select-hover.jpg
  wiki/History_of_osu!/2018/img/april-fools-song-select.jpg
  wiki/History_of_osu!/2018/img/contributor-old.jpg
  wiki/History_of_osu!/2018/img/header-after-menu.jpg
  wiki/History_of_osu!/2018/img/header-after.jpg
  wiki/History_of_osu!/2018/img/header-before-menu.jpg
  wiki/History_of_osu!/2018/img/header-before.jpg
  wiki/People/Community_Contributors/Contributor_Badge.png
  wiki/People/Community_Contributors/de.md
  wiki/People/Community_Contributors/en.md
  wiki/People/Community_Contributors/es.md
  wiki/People/Community_Contributors/fr.md
  wiki/People/Community_Contributors/id.md
  wiki/People/Community_Contributors/it.md
  wiki/People/Community_Contributors/pl.md
  wiki/People/Community_Contributors/pt.md
  wiki/People/Community_Contributors/tr.md
  wiki/People/Community_Contributors/zh.md
  wiki/shared/contributor.jpg
Labels: update

#1316 [KO] Update translated Rules page.
  wiki/Rules/ko.md
Labels: translations

#1315 [KO] Translation of osu!api
  wiki/osu!api/ko.md
Labels: translations

#1309 [ID] Twitter
  wiki/Twitter/id.md
Labels: translations

#1304 [ES] Chat Console - Changing Responses to the original English ones
  wiki/Chat_Console/es.md
Labels: translations

#1295 Add space between osu! and wiki
  README.md
  wiki/Welcome/en.md
  wiki/Welcome/es.md
  wiki/Welcome/id.md
  wiki/Welcome/ko.md
  wiki/Welcome/pl.md
  wiki/Welcome/pt-br.md
  wiki/Welcome/ru.md
  wiki/Welcome/zh.md
  wiki/osu!_wiki_Contribution_Guide/Common_Issues/en.md
  wiki/osu!_wiki_Contribution_Guide/Common_Issues/zh.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/en.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/img/github-desktop-branch.jpg
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/img/github-desktop-changes.jpg
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/img/github-desktop-first-commit.jpg
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/img/github-desktop-push.jpg
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/img/github-desktop-second-commit.jpg
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/img/github-desktop-select-repo.jpg
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/zh.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Web_Interface/en.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Web_Interface/img/online-commit-changes-empty.jpg
  wiki/osu!_wiki_Contribution_Guide/GitHub_Web_Interface/img/online-commit-changes-filled.jpg
  wiki/osu!_wiki_Contribution_Guide/GitHub_Web_Interface/img/online-editing.jpg
  wiki/osu!_wiki_Contribution_Guide/GitHub_Web_Interface/img/online-move.jpg
  wiki/osu!_wiki_Contribution_Guide/GitHub_Web_Interface/img/pull-request-pippi-osu--osu-wiki.jpg
  wiki/osu!_wiki_Contribution_Guide/GitHub_Web_Interface/zh.md
  wiki/osu!_wiki_Contribution_Guide/en.md
  wiki/osu!_wiki_Contribution_Guide/img/compare-across-forks-no.jpg
  wiki/osu!_wiki_Contribution_Guide/img/compare-branch.jpg
  wiki/osu!_wiki_Contribution_Guide/img/fork-ahead-behind.jpg
  wiki/osu!_wiki_Contribution_Guide/img/fork-ahead.jpg
  wiki/osu!_wiki_Contribution_Guide/img/fork-behind.jpg
  wiki/osu!_wiki_Contribution_Guide/img/fork-even.jpg
  wiki/osu!_wiki_Contribution_Guide/img/fork.jpg
  wiki/osu!_wiki_Contribution_Guide/img/forked.jpg
  wiki/osu!_wiki_Contribution_Guide/img/github-recent.jpg
  wiki/osu!_wiki_Contribution_Guide/img/head-fork.jpg
  wiki/osu!_wiki_Contribution_Guide/img/new-pull-request.jpg
  wiki/osu!_wiki_Contribution_Guide/ko.md
  wiki/osu!_wiki_Contribution_Guide/zh.md
Labels: update

#1305 [ID] osu!wiki Contribution Guide
  wiki/osu!wiki_Contribution_Guide/Common_Issues/id.md
  wiki/osu!wiki_Contribution_Guide/GitHub_Desktop/id.md
  wiki/osu!wiki_Contribution_Guide/GitHub_Web_Interface/id.md
  wiki/osu!wiki_Contribution_Guide/id.md
Labels: translations

#1281 [ES] Beatmapping
  wiki/Beatmapping/es.md
Labels: translations

#1282 [ES] Distance Snap
  wiki/Beatmap_Editor/Distance_Snap/es.md
Labels: translations

#1301 CFC2018
  wiki/Tournaments/CFC/2018/en.md
  wiki/Tournaments/CFC/2018/logo.png
Labels: new article

#1280 [ES] BanchoBot
  wiki/BanchoBot/es.md
Labels: translations

#1293 [EN] OZT2018
  wiki/Tournaments/OZT/2018/OZT2018.png
  wiki/Tournaments/OZT/2018/en.md
Labels: new article

#1335 Update redirects
  wiki/redirect.yaml
Labels: update

#1320 TWC Finals Recap
  news/2018-05-18-twc-finals-recap.md
  wiki/shared/news/2018-05-18-twc-finals-recap/bracket.png
  wiki/shared/news/2018-05-18-twc-finals-recap/japan-taiwan-tb.jpg
  wiki/shared/news/2018-05-18-twc-finals-recap/n1do-silence.jpg
  wiki/shared/news/2018-05-18-twc-finals-recap/podium.png
  wiki/shared/news/2018-05-18-twc-finals-recap/us-indo-tb.jpg
Labels: news

#1345 [oPHST2018] Various changes for Match Week 3
  wiki/Tournaments/oPHST/2018/en.md
Labels: update

#1296 [ES] osu!wiki Contribution Guide
  wiki/osu!_wiki_Contribution_Guide/es.md
Labels: translations

#1297 [ES] Welcome
  wiki/Welcome/es.md
Labels: translations

#1298 [ES] Registration
  wiki/Registration/es.md
Labels: translations

#1299 [ES] Installation
  wiki/Installation/es.md
Labels: translations

#1300 [ES] Mascots
  wiki/Mascots/es.md
Labels: translations

#1366 [ID] osu!academy
  wiki/osu!academy/id.md
Labels: translations

#1371 [ID] Disambiguation
  wiki/Disambiguation/Bancho/id.md
  wiki/Disambiguation/EZ/id.md
  wiki/Disambiguation/Easy/id.md
  wiki/Disambiguation/Mod/id.md
  wiki/Disambiguation/id.md
Labels: translations

#1372 [ID] Forums
  wiki/Forums/id.md
Labels: translations

#1364 Create 2018-05-19-osu-mapping-olympiad-2-taiko.md
  news/2018-05-21-osu-mapping-olympiad-2-taiko.md
Labels: news

#1291 [ES] Compose
  wiki/Beatmap_Editor/Compose/es.md
Labels: translations, wip

#1391 [DE] About
  wiki/About/de.md
Labels: translations

#1389 [DE] Compendium
  wiki/Skinning/Compendium/de.md
Labels: translations

#1347 Completed Skins Compendium Update
  wiki/Skinning/Compendium/en.md
Labels: update

#1369 [DE] Installation
  wiki/Installation/de.md
Labels: translations

#1370 [DE] Registration
  wiki/Registration/de.md
Labels: translations

#1377 [DE] BanchoBot
  wiki/BanchoBot/de.md
Labels: translations
