Repository ppy/osu-wiki, pull requests merged in 2018-08, with the labels that each got.

#1546 Rewrite repo readme
  README.md
Labels: rewrite

#1562 Cleanup of MWC articles
  wiki/Tournaments/MWC/2014/en.md
  wiki/Tournaments/MWC/2015/en.md
  wiki/Tournaments/MWC/2015/podium.png
  wiki/Tournaments/MWC/2016/4K/en.md
  wiki/Tournaments/MWC/2016/7K/en.md
  wiki/Tournaments/MWC/2017/4K/en.md
  wiki/Tournaments/MWC/2017/7K/en.md
  wiki/Tournaments/MWC/2018/7K/en.md
Labels: pending review, update

#1524 osu!catch Ranking Criteria Update
  wiki/Ranking_Criteria/osu!catch/en.md
Labels: update

#1512 ATS 2018 Grand Finals and Conclusion
  wiki/Tournaments/ATS/2018/banner.png
  wiki/Tournaments/ATS/2018/en.md
  wiki/Tournaments/ATS/2018/ja.md
  wiki/Tournaments/ATS/2018/ko.md
  wiki/Tournaments/ATS/2018/logo.jpg
  wiki/Tournaments/ATS/2018/lower_bracket.jpg
  wiki/Tournaments/ATS/2018/lower_bracket.png
  wiki/Tournaments/ATS/2018/podium.jpg
  wiki/Tournaments/ATS/2018/upper_bracket.jpg
  wiki/Tournaments/ATS/2018/upper_bracket.png
  wiki/Tournaments/ATS/2018/zh-tw.md
Labels: update

#1568 Taiko Suiji Cup Wiki Page
  wiki/Tournaments/TSC/1/en.md
  wiki/Tournaments/TSC/1/logo.jpg
Labels: new article

#1577 Overhaul tournament profile badge criteria and requirements
  wiki/osu!tourney/Prizes/en.md
Labels: update

#1590 Upload July 2018 QAT Gazette
  news/2018-08-17-the-qat-gazette-july-2018.md
Labels: news

#1571 Fix formatting of MWC articles
  wiki/Tournaments/MWC/2014/en.md
  wiki/Tournaments/MWC/2014/img/brackets-4K.jpg
  wiki/Tournaments/MWC/2014/img/brackets-7K.jpg
  wiki/Tournaments/MWC/2014/img/logo.png
  wiki/Tournaments/MWC/2015/en.md
  wiki/Tournaments/MWC/2015/img/brackets.jpg
  wiki/Tournaments/MWC/2015/img/logo.png
  wiki/Tournaments/MWC/2015/img/podium.png
  wiki/Tournaments/MWC/2016/4K/en.md
  wiki/Tournaments/MWC/2016/4K/img/brackets.jpg
  wiki/Tournaments/MWC/2016/4K/img/logo.png
  wiki/Tournaments/MWC/2016/4K/img/podium.jpg
  wiki/Tournaments/MWC/2016/7K/en.md
  wiki/Tournaments/MWC/2016/7K/img/brackets.jpg
  wiki/Tournaments/MWC/2016/7K/img/logo.png
  wiki/Tournaments/MWC/2016/7K/img/podium.jpg
  wiki/Tournaments/MWC/2017/4K/en.md
  wiki/Tournaments/MWC/2017/4K/img/bracket.jpg
  wiki/Tournaments/MWC/2017/4K/img/logo.jpg
  wiki/Tournaments/MWC/2017/4K/img/podium.jpg
  wiki/Tournaments/MWC/2017/7K/en.md
  wiki/Tournaments/MWC/2017/7K/img/bracket.jpg
  wiki/Tournaments/MWC/2017/7K/img/logo.jpg
  wiki/Tournaments/MWC/2017/7K/img/podium.jpg
  wiki/Tournaments/MWC/2018/4K/en.md
  wiki/Tournaments/MWC/2018/4K/img/logo.png
  wiki/Tournaments/MWC/2018/7K/en.md
  wiki/Tournaments/MWC/2018/7K/img/bracket.jpg
  wiki/Tournaments/MWC/2018/7K/img/logo.png
  wiki/Tournaments/MWC/2018/7K/img/podium.png
  wiki/shared/stages-visual.png
Labels: update

#1602 Aspire 2018 Announcement
  news/2018-08-19-aspire-2018-begins.md
Labels: news

#1600 Remove bare urls
  wiki/Guides/Discord_RPC/en.md
  wiki/Guides/GL_Support_Issues/en.md
  wiki/Guides/Getting_Songs_From_Video_Games/en.md
  wiki/Guides/How_to_Run_osu!_on_Your_Mac_Without_Using_Boot_Camp/en.md
  wiki/History_of_osu!/2007/en.md
  wiki/History_of_osu!/2012/en.md
  wiki/Multi/en.md
  wiki/Tournaments/osu!_Tag_Team_Multiplayer_Tournament/en.md
  wiki/osu!academy/en.md
  wiki/osu!talk/en.md
Labels: update

#1612 Updates on GMT, Language Moderators, Support Team and osu! Alumni Articles.
  wiki/People/Global_Moderation_Team/de.md
  wiki/People/Global_Moderation_Team/en.md
  wiki/People/Global_Moderation_Team/es.md
  wiki/People/Global_Moderation_Team/fr.md
  wiki/People/Global_Moderation_Team/id.md
  wiki/People/Global_Moderation_Team/it.md
  wiki/People/Global_Moderation_Team/ja.md
  wiki/People/Global_Moderation_Team/ko.md
  wiki/People/Global_Moderation_Team/pl.md
  wiki/People/Global_Moderation_Team/pt.md
  wiki/People/Global_Moderation_Team/ru.md
  wiki/People/Global_Moderation_Team/tl.md
  wiki/People/Global_Moderation_Team/tr.md
  wiki/People/Global_Moderation_Team/zh.md
  wiki/People/Language_Moderators/de.md
  wiki/People/Language_Moderators/en.md
  wiki/People/Language_Moderators/es.md
  wiki/People/Language_Moderators/fr.md
  wiki/People/Language_Moderators/id.md
  wiki/People/Language_Moderators/it.md
  wiki/People/Language_Moderators/ja.md
  wiki/People/Language_Moderators/pl.md
  wiki/People/Language_Moderators/pt-br.md
  wiki/People/Language_Moderators/pt.md
  wiki/People/Language_Moderators/ru.md
  wiki/People/Language_Moderators/tl.md
  wiki/People/Language_Moderators/tr.md
  wiki/People/Language_Moderators/zh.md
  wiki/People/Support_Team/de.md
  wiki/People/Support_Team/en.md
  wiki/People/Support_Team/es.md
  wiki/People/Support_Team/fr.md
  wiki/People/Support_Team/id.md
  wiki/People/Support_Team/it.md
  wiki/People/Support_Team/pl.md
  wiki/People/Support_Team/pt.md
  wiki/People/Support_Team/ru.md
  wiki/People/Support_Team/tr.md
  wiki/People/Support_Team/zh.md
  wiki/People/osu!_Alumni/de.md
  wiki/People/osu!_Alumni/en.md
  wiki/People/osu!_Alumni/es.md
  wiki/People/osu!_Alumni/fr.md
  wiki/People/osu!_Alumni/id.md
  wiki/People/osu!_Alumni/it.md
  wiki/People/osu!_Alumni/ja.md
  wiki/People/osu!_Alumni/ko.md
  wiki/People/osu!_Alumni/pl.md
  wiki/People/osu!_Alumni/pt.md
  wiki/People/osu!_Alumni/ru.md
  wiki/People/osu!_Alumni/tr.md
  wiki/People/osu!_Alumni/zh.md
Labels: update

#1450 [EN] RMoTI 5
  wiki/Tournaments/RMoT_Invitational/5/en.md
Labels: new article

#1592 [ID] History of osu! (Main Menu, 2007)
  wiki/History_of_osu!/2007/id.md
  wiki/History_of_osu!/en.md
  wiki/History_of_osu!/id.md
Labels: translations

#1594 [ID] History of osu! (2008)
  wiki/History_of_osu!/2008/id.md
Labels: translations

#1595 [ID] History of osu! (2009/2010/2011)
  wiki/History_of_osu!/2009/id.md
  wiki/History_of_osu!/2010/id.md
  wiki/History_of_osu!/2011/id.md
Labels: translations

#1596 [ID] History of osu! (2012)
  wiki/History_of_osu!/2012/id.md
Labels: translations

#1589 [ID] Tournament Drawings
  wiki/Tournament_Drawings/id.md
Labels: translations

#1623 Update to Important Guides and Threads
  wiki/Skinning/Guides_and_Important_Threads/en.md
Labels: update

#1640 IGTS 2018 Semifinals update
  wiki/Tournaments/IGTS/2018/en.md
  wiki/Tournaments/IGTS/2018/img/logo.png
Labels: update

#1634 Add osu! World Cup #3 article
  wiki/Tournaments/OWC/3/en.md
  wiki/Tournaments/OWC/3/img/logo.png
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
Labels: new article

#1643 [ID] Storyboards
  wiki/Storyboards/id.md
Labels: translations

#1593 Add "legal" property to articles
  wiki/Legal/Copyright/en.md
  wiki/Legal/Copyright/ru.md
  wiki/Legal/Copyright/zh.md
  wiki/Legal/Privacy/en.md
  wiki/Legal/Terms/en.md
Labels: blocked, high priority

#1588 [ZH] Legal/Terms
  wiki/Legal/Terms/zh.md
Labels: translations
