Repository ppy/osu-wiki, pull requests merged in 2018-11, with the labels that each got.

#1798 [EN/ZH] Tournament-CMT: Semifinals
  wiki/Tournaments/CMT_4K/2018/en.md
  wiki/Tournaments/CMT_4K/2018/zh.md
Labels: update

#1711 Summer Spotlights 2018
  news/2018-11-01-beatmap-spotlights-summer-2018.md
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/catch/above-the-clouds.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/catch/euclid.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/catch/marigold.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/catch/seasons.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/catch/tokei-no-heya.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/catch/ultimate-ascension.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/header.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/header@2x.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/mania/bella.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/mania/dropz.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/mania/go-go-maniac.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/mania/lost.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/mania/mazare-party.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/mania/ongaku.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/mania/redemption.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/mania/trappola.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/mania/tsukidokei.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/mania/volcanic.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/mania/xperanza.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/osu/day-and-night.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/osu/glitch.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/osu/i-got-that-tune.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/osu/last-minute.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/osu/messiah.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/osu/min.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/osu/moment-of-betrayal.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/osu/negai.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/osu/sad-spring.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/osu/the-raven-that-refused-to-sing.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/osu/tomodachi-no-uta.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/osu/unknown-x-known.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/osu/you-and-beautiful-world.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/taiko/basstest.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/taiko/bison-charge.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/taiko/hachimitsu.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/taiko/icicle-stinger.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/taiko/into-the-unknown.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/taiko/key-of-timepieces.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/taiko/ohayou.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/taiko/sawg.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/taiko/showdown.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/taiko/sulfide.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/taiko/the-rift.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/taiko/ultrasonic.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/taiko/universal.jpg
  wiki/shared/news/2018-11-01-beatmap-spotlights-summer-2018/taiko/viden.jpg
  wiki/shared/news/banners/spotlights-header.jpg
Labels: high priority, news

#1766 Add issue template
  .github/issue_template.md
Labels: discussion, high priority

#1810 OWC18 Teams update
  wiki/Tournaments/OWC/2018/en.md
Labels: update

#1730 Use shared spotlights header in news posts
  news/2018-02-23-beatmap-spotlights-january-2018.md
  news/2018-03-22-beatmap-spotlights-february-2018.md
  news/2018-06-06-beatmap-spotlights-march-and-april-2018.md
  wiki/shared/news/2018-02-23-beatmap-spotlights-january-2018/spotlight-header.jpg
  wiki/shared/news/2018-03-22-beatmap-spotlights-february-2018/spotlight-header.jpg
  wiki/shared/news/2018-06-06-beatmap-spotlights-march-and-april-2018/spotlight-header.jpg
Labels: update

#1808 osu!idol 2018 Community Voting Results
  news/2018-11-05-osu-idol-2018-finals-community-voting-results.md
  wiki/shared/news/2018-11-04-osu-idol-2018-finals-community-voting-results/banner.jpg
Labels: news

#1825 Update osu!taiko BN listing
  wiki/People/Beatmap_Nominators/en.md
Labels: update

#1733 DeltaMax's Mania Key Smasher Wiki Page
  wiki/Tournaments/DMX/3/en.md
  wiki/Tournaments/DMX/3/img/badge.png
  wiki/Tournaments/DMX/3/img/logo.png
Labels: new article

#1818 Update beatmap status list in the Interface article
  wiki/Interface/de.md
  wiki/Interface/en.md
  wiki/Interface/es.md
  wiki/Interface/fr.md
  wiki/Interface/id.md
  wiki/Interface/ko.md
  wiki/Interface/zh.md
Labels: update

#1837 Reword the introduction in the AiMod article
  wiki/Beatmap_Editor/AiMod/en.md
Labels: update

#1856 European Taiko Tournament 2018 Wiki page
  wiki/Tournaments/EUTT/2018/en.md
  wiki/Tournaments/EUTT/2018/img/badge.png
  wiki/Tournaments/EUTT/2018/img/logo.png
Labels: update
