Repository ppy/osu-wiki, pull requests merged in 2019-08, with the labels that each got.

#2392 Add CWC2019 Finals Recap & GF Preview
  news/2019-08-01-cwc-2019-preview-grand-final.md
  wiki/shared/news/2019-08-01-cwc-2019-preview-grand-final/CLvMX-game10-720w.jpg
Labels: news

#2357 [EN/ZH] TNMT: Initial article
  wiki/Tournaments/TNMT/1/en.md
  wiki/Tournaments/TNMT/1/img/logo.png
  wiki/Tournaments/TNMT/1/zh.md
Labels: new article, tournament, translations

#1800 [PL] Storyboarding
  wiki/Storyboarding/pl.md
Labels: pending review, translations

#1794 [PL] Contests
  wiki/Contests/pl.md
Labels: pending review, translations, wip

#2399 Upload CWC2019 Results Newspost
  news/2019-08-04-cwc-2019-concludes.md
  wiki/shared/news/2019-08-04-cwc-2019-concludes.md/CNvSK-game10-720w.jpg
  wiki/shared/news/2019-08-04-cwc-2019-concludes.md/podium_cwc2019.png
Labels: news

#2397 [FR] Best Of 2009
  wiki/Best_Of/2009/fr.md
Labels: translations

#2398 [FR] Best Of 2010
  wiki/Best_Of/2010/fr.md
Labels: translations

#2400 [FR] Best Of 2011
  wiki/Best_Of/2011/fr.md
Labels: translations

#2401 [FR] Best Of 2012
  wiki/Best_Of/2012/fr.md
Labels: translations

#2402 [FR] Best Of 2013
  wiki/Best_Of/2013/fr.md
Labels: translations

#2403 [FR] Best Of 2014
  wiki/Best_Of/2014/fr.md
Labels: translations

#2404 [FR] Best Of 2015
  wiki/Best_Of/2015/fr.md
Labels: translations

#2405 [FR] Best Of 2016
  wiki/Best_Of/2016/fr.md
Labels: translations

#2406 [FR] Best Of
  wiki/Best_Of/fr.md
Labels: translations

#2409 [FR] Difficulties
  wiki/Difficulties/fr.md
Labels: translations

#2407 Staff Log: July 2019
  wiki/People/Staff_Log/2019/en.md
Labels: update

#2395 [FR] Welcome page
  wiki/Welcome/fr.md
Labels: translations

#2379 Organize BN Rules
  wiki/People/Beatmap_Nominators/Rules/en.md
Labels: update

#2366 Move and update "Changing the Title Text"
  wiki/Beatmaps/Title_Text/en.md
  wiki/Beatmaps/Title_Text/img/liquid-title-text.jpg
  wiki/Guides/Changing_the_Title_Text/en.md
  wiki/Guides/en.md
  wiki/redirect.yaml
Labels: update

#2322 ASC: Updates
  wiki/Article_Styling_Criteria/en.md
Labels: update

#2422 Add Project Loved: Week of Aug 11th
  news/2019-08-12-project-loved-week-of-august-11th.md
  wiki/shared/news/2019-08-12-project-loved-week-of-august-11th/catch/1-amazing-break.jpg
  wiki/shared/news/2019-08-12-project-loved-week-of-august-11th/catch/2-sentimental-hades-in-the-heavenly-skyscraper.jpg
  wiki/shared/news/2019-08-12-project-loved-week-of-august-11th/mania/1-finixe.jpg
  wiki/shared/news/2019-08-12-project-loved-week-of-august-11th/mania/2-toraburu-kuroneko-manbiki.jpg
  wiki/shared/news/2019-08-12-project-loved-week-of-august-11th/mania/3-suikinkutsu-feat-uehara-hiromi.jpg
  wiki/shared/news/2019-08-12-project-loved-week-of-august-11th/osu/1-kyouran-hey-kids-speed-up-version.jpg
  wiki/shared/news/2019-08-12-project-loved-week-of-august-11th/osu/2-charon-dj-seven-pnb-refix.jpg
  wiki/shared/news/2019-08-12-project-loved-week-of-august-11th/osu/3-logical-stimulus.jpg
  wiki/shared/news/2019-08-12-project-loved-week-of-august-11th/osu/4-lone-digger.jpg
  wiki/shared/news/2019-08-12-project-loved-week-of-august-11th/osu/5-bring-it-on-speed-up-ver.jpg
  wiki/shared/news/2019-08-12-project-loved-week-of-august-11th/taiko/1-u-n-owen-was-her.jpg
  wiki/shared/news/2019-08-12-project-loved-week-of-august-11th/taiko/2-the-government-knows.jpg
  wiki/shared/news/2019-08-12-project-loved-week-of-august-11th/taiko/3-hachigatsu-no-yoru-mathafuckera-k-alziefuck.jpg
Labels: news

#2418 o!AOT: Round of 16
  wiki/Tournaments/o!AOT/1/en.md
  wiki/Tournaments/o!AOT/1/img/badge.png
  wiki/Tournaments/o!AOT/1/img/logo.png
  wiki/Tournaments/o!AOT/en.md
Labels: new article, tournament

#2320 Fix Ranking Criteria reference
  wiki/Guides/Compressing_Files/en.md
Labels: update

#2394 Fix format of skinning sounds wiki article
  wiki/Skinning/Sounds/en.md
Labels: clean up

#2344 Rule Change: Allowing more than 6 Notes at once
  wiki/Ranking_Criteria/osu!mania/en.md
Labels: update

#2426 [FR] Cropping with Simple Backgrounds
  wiki/Guides/Cropping_with_Simple_Backgrounds/fr.md
Labels: translations

#2425 [FR] Cropping with Complex Backgrounds
  wiki/Guides/Cropping_with_Complex_Backgrounds/fr.md
Labels: translations

#2421 [FR] Starting a Beatmap Project
  wiki/Guides/Starting_a_Beatmap_Project/fr.md
Labels: translations

#2423 [FR] Collab Information
  wiki/Guides/Collab_Information/fr.md
Labels: translations

#2388 [RU] Difficulties
  wiki/Difficulties/ru.md
Labels: translations

#2443 MWC4K 2019 Wiki and news article
  news/2019-08-20-MWC4K-2019-registrations-open.md
  wiki/Tournaments/MWC/2019_4K/en.md
  wiki/Tournaments/MWC/2019_4K/img/logo.jpg
  wiki/shared/news/banners/MWC4K_2019_banner.jpg
  wiki/shared/news/banners/MWC4K_2019_banner@2x.jpg
Labels: new article, news, tournament

#2439 [FR] Legal
  wiki/Legal/fr.md
Labels: translations

#2436 [FR] Title Text
  wiki/Beatmaps/Title_Text/fr.md
Labels: translations

#2431 Staff Log: July and August 2019
  wiki/People/Staff_Log/2019/en.md
  wiki/People/Staff_Log/en.md
  wiki/People/en.md
Labels: update

#2424 [FR] Recording osu!
  wiki/Guides/Recording_osu!/fr.md
Labels: translations

#2420 [FR] Purchase Tablet
  wiki/Guides/Tablet_Purchase/fr.md
Labels: translations

#2415 [FR] BBCode
  wiki/BBCode/fr.md
Labels: translations

#2391 [RU]Guides
  wiki/Guides/ru.md
Labels: translations

#2389 [RU] Do_you_really_want_to_ask_peppy
  wiki/Do_you_really_want_to_ask_peppy/ru.md
Labels: translations

#2384 [RU] Skinning
  wiki/Skinning/ru.md
Labels: translations

#2429 [FR] Music Theory
  wiki/Guides/Music_Theory/fr.md
Labels: translations

#2457 Staff log august 2019 update
  wiki/People/Staff_Log/2018/en.md
  wiki/People/Staff_Log/2019/en.md
Labels: update
