Repository ppy/osu-wiki, pull requests merged in 2019-01, with the labels that each got.

#1867 Staff Log: November and December 2018 update
  wiki/People/Staff_Log/2018/en.md
Labels: update

#1926 Remove end slashes from redirect links
  wiki/redirect.yaml
Labels: update

#1944 Creating osu! Mapping World Cup page
  wiki/Contests/oMWC/1/en.md
  wiki/Contests/oMWC/1/img/logo.png
Labels: new article

#1803 [DE] Shortcut Key Reference
  wiki/Shortcut_Key_Reference/de.md
Labels: translations

#1885 [JA] Welcome
  wiki/Welcome/ja.md
Labels: translations

#1869 [KO] Tournaments
  wiki/Tournaments/ko.md
Labels: translations

#1809 [ES] BanchoBot
  wiki/BanchoBot/es.md
Labels: translations

#1811 [KO] Welcome
  wiki/Welcome/ko.md
Labels: translations

#1902 Update Osr Format description
  wiki/osu!_File_Formats/Osr_(file_format)/en.md
Labels: update

#1939 [JA] Fix for table row in Chat_Console/ja
  wiki/Chat_Console/ja.md
Labels: translations, update

#1940 [JA] Fix typo Beatmapping/ja
  wiki/Beatmapping/ja.md
Labels: translations, update

#1895 Addition of rule regarding beatmap commissions
  wiki/People/Beatmap_Nominators/Rules/en.md
Labels: update

#1941 oSEAT2: Semifinals
  wiki/Tournaments/oSEAT/2/en.md
Labels: update

#1942 DMX3: Grand Finals
  wiki/Tournaments/DMX/3/en.md
Labels: update

#1945 osu! Technical Championship #2: wiki page
  wiki/Tournaments/OTC/2/en.md
  wiki/Tournaments/OTC/2/img/badge.png
  wiki/Tournaments/OTC/2/img/logo.png
  wiki/Tournaments/OTC/en.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
Labels: new article

#1927 Rewrite osu! Tag Team Multiplayer Tournament article
  wiki/Tournaments/en.md
  wiki/Tournaments/oTTMT/1/en.md
  wiki/Tournaments/oTTMT/1/img/badge.png
  wiki/Tournaments/oTTMT/1/img/bracket.png
  wiki/Tournaments/oTTMT/1/img/logo.png
  wiki/Tournaments/oTTMT/en.md
  wiki/Tournaments/osu!_Tag_Team_Multiplayer_Tournament/en.md
Labels: rewrite

#1905 Clarify the minimum drain time rule in RC
  wiki/Ranking_Criteria/en.md
Labels: update

#1925 Add Taiko World Cup 2012 article
  wiki/Tournaments/TWC/2012/en.md
  wiki/Tournaments/TWC/2012/img/badge.png
  wiki/Tournaments/TWC/2012/img/bracket.jpg
  wiki/Tournaments/TWC/2012/img/logo.png
  wiki/Tournaments/TWC/2012/img/podium.png
  wiki/Tournaments/TWC/en.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
Labels: new article

#1973 oMWC teams update
  wiki/Contests/oMWC/1/en.md
Labels: update

#1964 osu! Technical Championship #3: Wiki page
  wiki/Tournaments/OTC/3/en.md
  wiki/Tournaments/OTC/3/img/badge.png
  wiki/Tournaments/OTC/3/img/logo.png
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
Labels: update

#1954 Mentorship Spring 2019 newspost
  news/2019-01-27-community-mentorship-program-spring-2019-signups-now-open.md
  wiki/shared/news/2019-01-27-community-mentorship-program-spring-2019-signups-now-open/banner.jpg
Labels: news
