Repository ppy/osu-wiki, pull requests merged in 2019-07, with the labels that each got.

#2313 [EN/ZH] MXB-3rd: Finals - Week 2 updates
  wiki/Tournaments/MXB/3/en.md
  wiki/Tournaments/MXB/3/zh.md
Labels: tournament, update

#2335 Add CWC 2019 Group Stage Recap
  news/2019-07-03-cwc-2019-recap-group-stage.md
  wiki/shared/news/2019-07-02-cwc-2019-recap-group-stage.md/CNvMX-game9-720w.jpg
Labels: news

#2338 CWC Ro16 update
  wiki/Tournaments/CWC/2019/en.md
Labels: tournament, update

#2334 AOTS: Initial Article & Tournament Reorganisation
  wiki/Tournaments/AOTS/AOTS_1/en.md
  wiki/Tournaments/AOTS/AOTS_1/img/logo.png
  wiki/Tournaments/AOTS/ATS_2018/en.md
  wiki/Tournaments/AOTS/ATS_2018/img/gs_participants.gif
  wiki/Tournaments/AOTS/ATS_2018/img/logo.jpg
  wiki/Tournaments/AOTS/ATS_2018/img/lower_bracket.jpg
  wiki/Tournaments/AOTS/ATS_2018/img/podium.jpg
  wiki/Tournaments/AOTS/ATS_2018/img/upper_bracket.jpg
  wiki/Tournaments/AOTS/ATS_2018/ja.md
  wiki/Tournaments/AOTS/ATS_2018/ko.md
  wiki/Tournaments/AOTS/ATS_2018/zh-tw.md
  wiki/Tournaments/AOTS/IDTS_1/en.md
  wiki/Tournaments/AOTS/IDTS_1/id.md
  wiki/Tournaments/AOTS/IDTS_1/img/logo.png
  wiki/Tournaments/AOTS/en.md
  wiki/Tournaments/AOTS/id.md
  wiki/Tournaments/ATS/en.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/ko.md
  wiki/Tournaments/pl.md
Labels: clean up, new article, tournament

#2310 Additions to account restriction article
  wiki/Help_Centre/Account_Restrictions/en.md
Labels: update

#2341 oPHN4K2019 Finals Week 1 Update
  wiki/Tournaments/oPHN/4K_2019/en.md
Labels: tournament, update

#2332 Seasonal Spotlights: Spring 2019
  news/2019-07-08-beatmap-spotlights-spring-2019.md
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/catch/butterfly.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/catch/fffff.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/catch/flash-back.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/catch/xino.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/header.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/header@2x.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/mania/exavid.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/mania/lfo.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/mania/manycolors.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/mania/overkill.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/mania/protoflicker.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/mania/suiren.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/mania/the-flood.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/osu/focus.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/osu/kagefumi.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/osu/kyoumen.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/osu/line.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/osu/meng.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/osu/uh.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/taiko/can-fly.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/taiko/cauldron.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/taiko/city.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/taiko/flags.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/taiko/goodworld.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/taiko/nobodyknows.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/taiko/rebellio.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/taiko/red-letter.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/taiko/rolling.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/taiko/shoujo.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/taiko/sugary.jpg
  wiki/shared/news/2019-07-07-beatmap-spotlights-spring-2019/taiko/ylil.jpg
Labels: news

#2346 IGTS 2019: Grand Finals
  wiki/Tournaments/IGTS/2019/en.md
  wiki/Tournaments/IGTS/2019/es.md
  wiki/Tournaments/IGTS/2019/fr.md
  wiki/Tournaments/IGTS/2019/img/badge.png
  wiki/Tournaments/IGTS/2019/ko.md
  wiki/Tournaments/IGTS/2019/pt-br.md
  wiki/Tournaments/IGTS/2019/ru.md
Labels: update

#2328 Fix beatmapset listing query options
  news/2016-10-17-here-comes-the-love.md
  news/2016-10-24-osuweekly-76.md
  news/2016-10-29-halloween-cometh.md
  news/2016-10-31-osuweekly-78-extra-spooky-edition.md
  news/2016-11-07-osuweekly-79.md
  news/2016-11-21-osuweekly-81.md
  news/2018-02-05-project-loved-february-week-1.md
  news/2018-02-12-project-loved-february-week-2.md
  news/2018-02-26-project-loved-week-of-february-25th.md
  news/2018-03-13-project-loved-week-of-march-11th.md
  news/2018-03-28-project-loved-week-of-march-25th.md
  news/2018-04-09-project-loved-week-of-april-8th.md
  news/2018-04-24-project-loved-week-of-april-22nd.md
  news/2018-05-06-project-loved-week-of-may-6th.md
  news/2018-05-22-project-loved-week-of-may-20th.md
  news/2018-06-03-project-loved-week-of-june-3rd.md
  news/2018-06-17-project-loved-week-of-june-17th.md
  news/2018-07-02-project-loved-week-of-july-1st.md
  news/2018-07-16-project-loved-week-of-july-15th.md
  news/2018-07-29-project-loved-week-of-july-29th.md
  news/2018-08-14-project-loved-week-of-august-12th.md
  news/2018-08-26-project-loved-week-of-august-26th.md
  news/2018-09-10-project-loved-week-of-september-9th.md
  news/2018-09-25-project-loved-one-year-week-of-september-23rd.md
  news/2018-10-08-project-loved-week-of-october-7th.md
  news/2018-10-22-project-loved-week-of-october-21st.md
  news/2018-11-04-project-loved-week-of-november-4th.md
  news/2018-11-18-project-loved-week-of-november-18th.md
  news/2018-12-04-project-loved-week-of-december-2nd.md
  news/2018-12-18-project-loved-week-of-december-16th.md
  news/2018-12-31-project-loved-week-of-december-30th.md
  news/2019-01-16-project-loved-week-of-january-13th.md
  news/2019-01-26-project-loved-week-of-january-27th.md
  news/2019-02-12-project-loved-week-of-february-10th.md
  news/2019-02-26-project-loved-week-of-february-24th.md
  news/2019-03-11-project-loved-week-of-march-10th.md
  news/2019-03-25-project-loved-week-of-march-24th.md
  news/2019-04-08-project-loved-week-of-april-7th.md
  news/2019-04-22-project-loved-week-of-april-21st.md
  news/2019-05-06-project-loved-week-of-may-5th.md
  news/2019-05-21-project-loved-week-of-may-19th.md
  news/2019-06-12-project-loved-week-of-june-9th.md
  news/2019-06-23-project-loved-week-of-june-23rd.md
  wiki/Help_Centre/zh.md
  wiki/How_You_Can_Help!/en.md
  wiki/How_You_Can_Help!/id.md
  wiki/How_You_Can_Help!/ru.md
Labels: update

#2348 CWC19 QFs update
  wiki/Tournaments/CWC/2019/en.md
Labels: tournament, update

#2350 Summer 2019 Fan Art newspost
  news/2019-07-12-summer-2019-fanart-contest.md
Labels: news

#2304 [TH] Copyright Translation
  wiki/Legal/Copyright/th.md
Labels: translations

#2058 Rework Glossary
  wiki/Glossary/en.md
  wiki/redirect.yaml
Labels: rewrite

#2272 osu!mania Mapping Guide Part Review
  wiki/Guides/osu!mania_Mapping_Guide/en.md
Labels: rewrite

#2249 Staff Log: May and June 2019 update
  wiki/People/Staff_Log/2019/en.md
Labels: update, wip

#2351 Add Loved July 14th Newspost
  news/2019-07-14-project-loved-week-of-july-14th.md
  wiki/shared/news/2019-07-11-project-loved-week-of-july-14th/catch/1-a-reyvateil-s-curse.jpg
  wiki/shared/news/2019-07-11-project-loved-week-of-july-14th/catch/2-be-there.jpg
  wiki/shared/news/2019-07-11-project-loved-week-of-july-14th/mania/1-ghost.jpg
  wiki/shared/news/2019-07-11-project-loved-week-of-july-14th/mania/2-chik-habit.jpg
  wiki/shared/news/2019-07-11-project-loved-week-of-july-14th/mania/3-sakurairo-time-capsule.jpg
  wiki/shared/news/2019-07-11-project-loved-week-of-july-14th/osu/1-bon-appetit-s-oldskool-happyhardcore-remix-short-ver.jpg
  wiki/shared/news/2019-07-11-project-loved-week-of-july-14th/osu/10-tori-no-uta.jpg
  wiki/shared/news/2019-07-11-project-loved-week-of-july-14th/osu/2-uta.jpg
  wiki/shared/news/2019-07-11-project-loved-week-of-july-14th/osu/3-frozen-one.jpg
  wiki/shared/news/2019-07-11-project-loved-week-of-july-14th/osu/4-lost-in-time.jpg
  wiki/shared/news/2019-07-11-project-loved-week-of-july-14th/osu/5-stereo-sayan-3d.jpg
  wiki/shared/news/2019-07-11-project-loved-week-of-july-14th/osu/6-amygdala.jpg
  wiki/shared/news/2019-07-11-project-loved-week-of-july-14th/osu/7-rainbow-archiver.jpg
  wiki/shared/news/2019-07-11-project-loved-week-of-july-14th/osu/8-war-machine.jpg
  wiki/shared/news/2019-07-11-project-loved-week-of-july-14th/osu/9-it-s-raining-men.jpg
  wiki/shared/news/2019-07-11-project-loved-week-of-july-14th/taiko/1-nightmare-of-hornets-squad.jpg
  wiki/shared/news/2019-07-11-project-loved-week-of-july-14th/taiko/2-lune-chiptune-music-box-arrange-ver.jpg
  wiki/shared/news/2019-07-11-project-loved-week-of-july-14th/taiko/3-wowie-zowie.jpg
  wiki/shared/news/2019-07-11-project-loved-week-of-july-14th/taiko/4-foolish-hero-futurecore-mix.jpg
  wiki/shared/news/2019-07-14-project-loved-week-of-july-14th/catch/1-a-reyvateil-s-curse.jpg
  wiki/shared/news/2019-07-14-project-loved-week-of-july-14th/catch/2-be-there.jpg
  wiki/shared/news/2019-07-14-project-loved-week-of-july-14th/mania/1-ghost.jpg
  wiki/shared/news/2019-07-14-project-loved-week-of-july-14th/mania/2-chik-habit.jpg
  wiki/shared/news/2019-07-14-project-loved-week-of-july-14th/mania/3-sakurairo-time-capsule.jpg
  wiki/shared/news/2019-07-14-project-loved-week-of-july-14th/osu/1-bon-appetit-s-oldskool-happyhardcore-remix-short-ver.jpg
  wiki/shared/news/2019-07-14-project-loved-week-of-july-14th/osu/10-tori-no-uta.jpg
  wiki/shared/news/2019-07-14-project-loved-week-of-july-14th/osu/2-uta.jpg
  wiki/shared/news/2019-07-14-project-loved-week-of-july-14th/osu/3-frozen-one.jpg
  wiki/shared/news/2019-07-14-project-loved-week-of-july-14th/osu/4-lost-in-time.jpg
  wiki/shared/news/2019-07-14-project-loved-week-of-july-14th/osu/5-stereo-sayan-3d.jpg
  wiki/shared/news/2019-07-14-project-loved-week-of-july-14th/osu/6-amygdala.jpg
  wiki/shared/news/2019-07-14-project-loved-week-of-july-14th/osu/7-rainbow-archiver.jpg
  wiki/shared/news/2019-07-14-project-loved-week-of-july-14th/osu/8-war-machine.jpg
  wiki/shared/news/2019-07-14-project-loved-week-of-july-14th/osu/9-it-s-raining-men.jpg
  wiki/shared/news/2019-07-14-project-loved-week-of-july-14th/taiko/1-nightmare-of-hornets-squad.jpg
  wiki/shared/news/2019-07-14-project-loved-week-of-july-14th/taiko/2-lune-chiptune-music-box-arrange-ver.jpg
  wiki/shared/news/2019-07-14-project-loved-week-of-july-14th/taiko/3-wowie-zowie.jpg
  wiki/shared/news/2019-07-14-project-loved-week-of-july-14th/taiko/4-foolish-hero-futurecore-mix.jpg
Labels: news

#2352 RC: move glossaries to sections they apply to
  wiki/Ranking_Criteria/en.md
Labels: update

#2358 IGTS 2019: Conclusion
  wiki/Tournaments/IGTS/2019/en.md
  wiki/Tournaments/IGTS/2019/es.md
  wiki/Tournaments/IGTS/2019/fr.md
  wiki/Tournaments/IGTS/2019/ko.md
  wiki/Tournaments/IGTS/2019/pt-br.md
  wiki/Tournaments/IGTS/2019/ru.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/ko.md
  wiki/Tournaments/pl.md
Labels: tournament, update

#2347 NT Tournaments Wiki page
  wiki/Tournaments/NT/NSST_2019/en.md
  wiki/Tournaments/NT/NSST_2019/img/badge-1.png
  wiki/Tournaments/NT/NSST_2019/img/badge-2.png
  wiki/Tournaments/NT/NSST_2019/img/logo.jpg
  wiki/Tournaments/NT/NWT_2019/en.md
  wiki/Tournaments/NT/NWT_2019/img/badge.jpg
  wiki/Tournaments/NT/NWT_2019/img/logo.jpg
  wiki/Tournaments/NT/en.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/ko.md
  wiki/Tournaments/pl.md
Labels: new article, tournament

#2355 Add link to restriction page
  wiki/Help_Centre/en.md
Labels: clean up

#2330 Fix inaccurate description in the osu!mania Ranking Criteria
  wiki/Ranking_Criteria/osu!mania/en.md
Labels: update

#2376 CWC19 Finals update
  wiki/Tournaments/CWC/2019/en.md
Labels: tournament, update

#2378 Ranking Criteria updates
  wiki/Ranking_Criteria/en.md
  wiki/Ranking_Criteria/osu!catch/en.md
Labels: update

#2380 CWC19 Final reschedule
  wiki/Tournaments/CWC/2019/en.md
Labels: tournament, update

#2386 CWC19 Grand finals update
  wiki/Tournaments/CWC/2019/en.md
Labels: tournament, update
