Repository ppy/osu-wiki, pull requests merged in 2019-10, with the labels that each got.

#2629 Featured Artists Track Updates: October 2019 Newspost
  news/2019-10-01-new-featured-artist-updates.md
Labels: news, size/L

#2631 MWC4K2019 Quarterfinals Update
  wiki/Tournaments/MWC/2019_4K/en.md
Labels: size/L, tournament, update

#2635 Update song select filter list
  wiki/Interface/en.md
Labels: size/XS, update

#2383 [IT] Multiple fixes in italian translations
  wiki/Installation/it.md
  wiki/Installation/macOS/it.md
  wiki/Registration/en.md
  wiki/Registration/it.md
  wiki/Rules/it.md
  wiki/Welcome/it.md
Labels: translations, update

#2640 Fix typo in Skinning/Interface
  wiki/Skinning/Interface/en.md
Labels: resolves issue, size/XS, update

#2616 [KO] Update osu!mania Ranking Criteria
  wiki/Ranking_Criteria/osu!mania/en.md
  wiki/Ranking_Criteria/osu!mania/ko.md
Labels: size/L, translations, update

#2622 [RU] Featured_Artists
  wiki/Featured_Artists/en.md
  wiki/Featured_Artists/fr.md
  wiki/Featured_Artists/ru.md
Labels: size/S, translations

#2647 [KO] Fix grammar in osu!mania RC
  wiki/Ranking_Criteria/osu!mania/ko.md
Labels: size/XS, translations, update

#2626 [EN/RU] Update BanchoBot, Beatmap Editor, and How You Can Help
  wiki/BanchoBot/en.md
  wiki/BanchoBot/es.md
  wiki/BanchoBot/fr.md
  wiki/BanchoBot/ko.md
  wiki/BanchoBot/pl.md
  wiki/BanchoBot/ru.md
  wiki/Beatmap_Editor/en.md
  wiki/Beatmap_Editor/ru.md
  wiki/How_You_Can_Help!/en.md
  wiki/How_You_Can_Help!/ru.md
Labels: size/L, translations, update

#2658 [KO] Add missing bold markers to osu!mania RC
  wiki/Ranking_Criteria/osu!mania/ko.md
Labels: size/XS, translations, update

#2636 [EN/PT-BR] Update Rules translation and add back part of an Off-Topic rule
  wiki/Rules/en.md
  wiki/Rules/pt-br.md
Labels: size/M, translations, update

#2657 Add A Most Manic Art Contest voting news post
  news/2019-10-07-most-manic-contest-voting-now-open.md
Labels: news, size/S

#2652 [RU] Update Disambiguation/Mod
  wiki/Disambiguation/Mod/de.md
  wiki/Disambiguation/Mod/en.md
  wiki/Disambiguation/Mod/fr.md
  wiki/Disambiguation/Mod/id.md
  wiki/Disambiguation/Mod/ru.md
Labels: size/XS, translations, update

#2653 [RU] Update Disambiguation/Easy
  wiki/Disambiguation/Easy/de.md
  wiki/Disambiguation/Easy/en.md
  wiki/Disambiguation/Easy/fr.md
  wiki/Disambiguation/Easy/id.md
  wiki/Disambiguation/Easy/ru.md
Labels: size/XS, translations, update

#2651 [RU] Update Disambiguation/EZ
  wiki/Disambiguation/EZ/de.md
  wiki/Disambiguation/EZ/en.md
  wiki/Disambiguation/EZ/fr.md
  wiki/Disambiguation/EZ/id.md
  wiki/Disambiguation/EZ/ru.md
Labels: size/XS, translations, update

#2659 New Featured Artist: Native Construct
  news/2019-10-08-new-featured-artist-native-construct.md
Labels: size/M

#2660 Halloween Fanart Contest 2019 newspost
  news/2019-10-09-halloween-fanart-contest.md
Labels: size/M

#2661 MWC4K2019 Semifinals Update
  wiki/Tournaments/MWC/2019_4K/en.md
Labels: size/M, tournament, update

#2664 Fix broken links in Guides
  wiki/Guides/How_to_Play_osu!mania/en.md
  wiki/Guides/Searching_and_Downloading_Beatmaps/en.md
  wiki/Guides/Tips_and_Tricks_on_Skill_Improvement/en.md
  wiki/Guides/en.md
  wiki/Guides/fr.md
  wiki/Guides/ru.md
  wiki/redirect.yaml
Labels: clean up, resolves issue, size/L, update

#2583 [RU] Multi
  wiki/Multi/ru.md
Labels: size/L, translations

#2643 Update authors of Spotlights and Project Loved news posts
  news/2018-02-05-project-loved-february-week-1.md
  news/2018-02-12-project-loved-february-week-2.md
  news/2018-02-26-project-loved-week-of-february-25th.md
  news/2018-03-13-project-loved-week-of-march-11th.md
  news/2018-03-28-project-loved-week-of-march-25th.md
  news/2018-04-09-project-loved-week-of-april-8th.md
  news/2018-04-24-project-loved-week-of-april-22nd.md
  news/2018-05-06-project-loved-week-of-may-6th.md
  news/2018-05-22-project-loved-week-of-may-20th.md
  news/2018-06-03-project-loved-week-of-june-3rd.md
  news/2018-06-17-project-loved-week-of-june-17th.md
  news/2018-07-02-project-loved-week-of-july-1st.md
  news/2018-07-16-project-loved-week-of-july-15th.md
  news/2018-07-29-project-loved-week-of-july-29th.md
  news/2018-08-14-project-loved-week-of-august-12th.md
  news/2018-08-26-project-loved-week-of-august-26th.md
  news/2018-09-10-project-loved-week-of-september-9th.md
  news/2018-09-25-project-loved-one-year-week-of-september-23rd.md
  news/2018-10-08-project-loved-week-of-october-7th.md
  news/2018-10-22-project-loved-week-of-october-21st.md
  news/2018-11-01-beatmap-spotlights-summer-2018.md
  news/2018-11-04-project-loved-week-of-november-4th.md
  news/2018-11-18-project-loved-week-of-november-18th.md
  news/2018-12-04-project-loved-week-of-december-2nd.md
  news/2018-12-18-project-loved-week-of-december-16th.md
  news/2018-12-31-project-loved-week-of-december-30th.md
  news/2019-01-16-beatmap-spotlights-fall-2018.md
  news/2019-01-16-project-loved-week-of-january-13th.md
  news/2019-01-26-project-loved-week-of-january-27th.md
  news/2019-02-12-project-loved-week-of-february-10th.md
  news/2019-02-26-project-loved-week-of-february-24th.md
  news/2019-03-11-project-loved-week-of-march-10th.md
  news/2019-03-25-project-loved-week-of-march-24th.md
  news/2019-04-08-project-loved-week-of-april-7th.md
  news/2019-04-11-beatmap-spotlights-winter-2019.md
  news/2019-04-22-project-loved-week-of-april-21st.md
  news/2019-05-06-project-loved-week-of-may-5th.md
  news/2019-05-21-project-loved-week-of-may-19th.md
  news/2019-06-12-project-loved-week-of-june-9th.md
  news/2019-06-23-project-loved-week-of-june-23rd.md
  news/2019-07-08-beatmap-spotlights-spring-2019.md
  news/2019-07-14-project-loved-week-of-july-14th.md
  news/2019-07-29-project-loved-week-of-july-28th.md
  news/2019-08-12-project-loved-week-of-august-11th.md
  news/2019-08-26-project-loved-week-of-august-25th.md
  news/2019-09-16-project-loved-week-of-september-15th.md
  news/2019-09-30-project-loved-week-of-september-29th.md
Labels: news, resolves issue, size/L, update

#2669 Add some missing skin template dimensions
  wiki/Skinning/Interface/en.md
Labels: size/XS, update

#2670 MWC4K2019 Finals Update
  wiki/Tournaments/MWC/2019_4K/en.md
Labels: size/M, tournament, update

#2671 Add Project Loved: Week of October 13th news post
  news/2019-10-14-project-loved-week-of-october-13th.md
  wiki/shared/news/2019-10-14-project-loved-week-of-october-13th/catch/1-highscore.jpg
  wiki/shared/news/2019-10-14-project-loved-week-of-october-13th/catch/2-the-pretender.jpg
  wiki/shared/news/2019-10-14-project-loved-week-of-october-13th/mania/1-poetic-justice-away.jpg
  wiki/shared/news/2019-10-14-project-loved-week-of-october-13th/mania/2-eighto.jpg
  wiki/shared/news/2019-10-14-project-loved-week-of-october-13th/mania/3-kawaki-wo-ameku.jpg
  wiki/shared/news/2019-10-14-project-loved-week-of-october-13th/osu/1-overtime-live-band-session.jpg
  wiki/shared/news/2019-10-14-project-loved-week-of-october-13th/osu/2-jinsei-wa-yume-darake.jpg
  wiki/shared/news/2019-10-14-project-loved-week-of-october-13th/osu/3-mesen.jpg
  wiki/shared/news/2019-10-14-project-loved-week-of-october-13th/osu/4-nounai-kakumei-girl.jpg
  wiki/shared/news/2019-10-14-project-loved-week-of-october-13th/osu/5-altar.jpg
  wiki/shared/news/2019-10-14-project-loved-week-of-october-13th/taiko/1-underveil-is-real-and-we-are-underveil.jpg
  wiki/shared/news/2019-10-14-project-loved-week-of-october-13th/taiko/2-mariquita-breakcore.jpg
Labels: news

#2675 Fix osu!standard captains/writers in Loved October 13th
  news/2019-10-14-project-loved-week-of-october-13th.md
Labels: news, size/S, update

#2676 New Featured Artist: Akira Complex
  news/2019-10-16-new-featured-artist-akira-complex.md
Labels: size/M

#2674 OWC2019 Newspost + Wikipage
  news/2019-10-16-OWC-2019-registrations-open.md
  wiki/Tournaments/OWC/2019/en.md
  wiki/Tournaments/OWC/2019/img/logo.jpg
  wiki/shared/news/banners/OWC_2019_banner.jpg
Labels: new article, news, tournament

#2632 [FR] Beginner's Tutorial
  wiki/Guides/Beginner's_Tutorial/en.md
  wiki/Guides/Beginner's_Tutorial/fr.md
Labels: size/L, translations

#2682 Update forum name on "do you really want to ask peppy" article
  wiki/Do_you_really_want_to_ask_peppy/en.md
Labels: size/XS, update

#2680 Add .editorconfig
  .editorconfig
Labels: size/S, utilities

#2683 Update BN rules
  wiki/People/Beatmap_Nominators/Rules/en.md
Labels: rule change, size/M, update

#2662 [ID] Featured Artists
  wiki/Featured_Artists/id.md
Labels: size/S, translations

#2672 Remove "use osu! account to contribute" note on Main Page
  wiki/Main_Page/en.md
Labels: size/XS, update

#2686 Update video in Loved news post
  news/2019-10-14-project-loved-week-of-october-13th.md
Labels: news, size/XS, update

#2581 Update everything to do with difficulty names
  wiki/Difficulties/en.md
  wiki/Difficulties/es.md
  wiki/Difficulties/fr.md
  wiki/Difficulties/ru.md
  wiki/Ranking_Criteria/Difficulty_Naming/en.md
  wiki/Ranking_Criteria/Difficulty_Naming/zh.md
  wiki/Ranking_Criteria/Skin_Set_List/en.md
  wiki/Ranking_Criteria/Timing_Songs_With_8-Signatures/en.md
  wiki/Ranking_Criteria/en.md
  wiki/Ranking_Criteria/osu!/en.md
  wiki/Ranking_Criteria/osu!/zh.md
  wiki/Ranking_Criteria/osu!catch/en.md
  wiki/Ranking_Criteria/osu!catch/zh.md
  wiki/Ranking_Criteria/osu!mania/en.md
  wiki/Ranking_Criteria/osu!mania/zh.md
  wiki/Ranking_Criteria/osu!taiko/de.md
  wiki/Ranking_Criteria/osu!taiko/en.md
  wiki/Ranking_Criteria/osu!taiko/es.md
  wiki/Ranking_Criteria/osu!taiko/fr.md
  wiki/Ranking_Criteria/osu!taiko/hu.md
  wiki/Ranking_Criteria/osu!taiko/id.md
  wiki/Ranking_Criteria/osu!taiko/ja.md
  wiki/Ranking_Criteria/osu!taiko/ko.md
  wiki/Ranking_Criteria/osu!taiko/nl.md
  wiki/Ranking_Criteria/osu!taiko/pt.md
  wiki/Ranking_Criteria/osu!taiko/ru.md
  wiki/Ranking_Criteria/osu!taiko/zh.md
Labels: clean up, resolves issue, review wanted, size/XL, update

#2687 Add Content Parity clause to ASC
  wiki/Article_Styling_Criteria/en.md
Labels: resolves issue, rule change, size/XS, update

#2688 Added importaint information missing from score documentation
  wiki/osu!_File_Formats/Db_(file_format)/en.md
  wiki/osu!_File_Formats/Osr_(file_format)/en.md
Labels: size/S, update

#2690 Ranking Criteria Update
  wiki/Ranking_Criteria/en.md
Labels: rule change, size/XS, update

#2689 Update group pages and Staff Log
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Global_Moderation_Team/en.md
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Staff_Log/2019/en.md
Labels: size/M, update

#2576 [FR] osu!taiko
  wiki/Game_Modes/osu!taiko/fr.md
Labels: size/L, translations

#2570 [FR] Update osu!supporter
  wiki/osu!supporter/es.md
Labels: size/M, translations, update

#2568 [FR] Update osu!academy
  wiki/osu!academy/fr.md
Labels: size/M, translations, update

#2564 [FR] Storyboard Scripting
  wiki/Storyboard_Scripting/en.md
  wiki/Storyboard_Scripting/fr.md
Labels: size/S, translations

#2566 [FR] Update Twitter
  wiki/Twitter/fr.md
Labels: size/S, translations, update

#2563 [FR] Guides and Important Threads
  wiki/Skinning/Guides_and_Important_Threads/en.md
  wiki/Skinning/Guides_and_Important_Threads/fr.md
Labels: size/M, translations

#2558 [FR] osu!
  wiki/Game_Modes/osu!/fr.md
Labels: size/L, translations

#2560 [FR] Project Loved
  wiki/Project_Loved/fr.md
Labels: size/M, translations

#2557 [FR] Update Internet Relay Chat
  wiki/Internet_Relay_Chat/en.md
  wiki/Internet_Relay_Chat/fr.md
Labels: size/M, translations, update

#2692 Most Manic Art Contest results newspost
  news/2019-10-21-most-manic-art-contest-voting-results.md
  wiki/shared/news/2019-10-21-most-manic-art-contest-voting-results/Hecatia.jpg
  wiki/shared/news/2019-10-21-most-manic-art-contest-voting-results/TofuMang.jpg
  wiki/shared/news/2019-10-21-most-manic-art-contest-voting-results/crystalsuicine.jpg
Labels: news

#2663 Rewrite User Configuration File
  wiki/Options/en.md
  wiki/osu!_Program_Files/User_Configuration_File/en.md
  wiki/osu!_Program_Files/User_Configuration_File/fr.md
  wiki/osu!_Program_Files/User_Configuration_File/it.md
  wiki/osu!_Program_Files/en.md
  wiki/osu!_Program_Files/fr.md
  wiki/osu!_Program_Files/id.md
  wiki/osu!_Program_Files/pl.md
  wiki/osu!_Program_Files/ru.md
  wiki/osu!_Program_Files/zh.md
Labels: resolves issue, review wanted, rewrite, size/XXL

#2697 Remove Skinning_Tutorial/Sounds
  wiki/Sitemap/en.md
  wiki/Skinning_Tutorial/Sounds/en.md
  wiki/Skinning_Tutorial/en.md
  wiki/Skinning_Tutorial/fr.md
  wiki/Skinning_Tutorial/ru.md
  wiki/redirect.yaml
Labels: clean up, size/M

#2699 New Featured Artist: False Noise
  news/2019-10-23-new-featured-artist-false-noise.md
Labels: news, size/M

#2700 Update MWC4K 2019 Finals results and Grand Finals schedule
  wiki/Tournaments/MWC/2019_4K/en.md
Labels: size/M, tournament, update

#2696 Add missing index pages
  wiki/Contests/OMC/en.md
  wiki/Contests/oMWC/en.md
  wiki/Organisations/en.md
  wiki/Sitemap/en.md
  wiki/Tournaments/MP4K/3/en.md
  wiki/Tournaments/MP4K/en.md
  wiki/Tournaments/MXB/3/en.md
  wiki/Tournaments/MXB/3/zh.md
  wiki/Tournaments/MXB/en.md
  wiki/Tournaments/T2T/en.md
Labels: clean up, resolves issue, size/M

#2684 Make Stylistic and Grammar Edits to the OWC Page
  wiki/Tournaments/OWC/2019/en.md
  wiki/Tournaments/OWC/en.md
Labels: size/M, tournament, update

#2703 Add a new place where BBCode is used
  wiki/BBCode/en.md
Labels: size/XS, update

#2706 Halloween 2019 Fanart Contest voting newspost
  news/2019-10-24-halloween-fanart-voting-open.md
Labels: news, size/M

#2698 [RU] Add Legal and Privacy Policy
  wiki/Glossary/en.md
  wiki/Legal/Privacy/en.md
  wiki/Legal/Privacy/fr.md
  wiki/Legal/Privacy/ru.md
  wiki/Legal/Privacy/zh.md
  wiki/Legal/Terms/en.md
  wiki/Legal/Terms/zh.md
  wiki/Legal/en.md
  wiki/Legal/fr.md
  wiki/Legal/ru.md
Labels: size/L, translations

#2707 Use improved Halloween 2019 showcase video
  news/2019-10-24-halloween-fanart-voting-open.md
Labels: size/XS

#2704 Fix formatting in ASC and add example about nested list indentation
  wiki/Article_Styling_Criteria/en.md
  wiki/Article_Styling_Criteria/zh.md
Labels: size/L, update

#2716 Fix grammar in Play Styles
  wiki/Play_Styles/en.md
Labels: size/XS, update

#2719 Move RC sections that apply sitewide to Rules
  wiki/Rules/Code_of_Conduct_for_Modding_and_Mapping/en.md
  wiki/Rules/Code_of_Conduct_for_Modding_and_Mapping/zh.md
  wiki/Rules/Song_Content_Rules/en.md
  wiki/Rules/Song_Content_Rules/zh.md
  wiki/Rules/Visual_Content_Considerations/en.md
  wiki/Sitemap/en.md
  wiki/redirect.yaml
Labels: update

#2718 Clarify Project Loved beatmap rules
  wiki/Project_Loved/en.md
Labels: blocked, rule change, size/S, update

#2717 Update description of "Create an account" button in Options
  wiki/Options/en.md
Labels: size/XS, update

#2721 Rewrite Registration
  wiki/Registration/en.md
  wiki/Registration/img/register.jpg
Labels: resolves issue, size/XS, update

#2723 Don't use pp redirect link in Beatmaps page
  wiki/Beatmaps/en.md
Labels: size/XS, update

#2695 Deprecate Welcome and merge to Main_Page
  wiki/Main_Page/en.md
  wiki/Welcome/en.md
  wiki/Welcome/es.md
  wiki/Welcome/fr.md
  wiki/Welcome/id.md
  wiki/Welcome/it.md
  wiki/Welcome/ja.md
  wiki/Welcome/ko.md
  wiki/Welcome/pl.md
  wiki/Welcome/pt-br.md
  wiki/Welcome/ru.md
  wiki/Welcome/sk.md
  wiki/Welcome/zh.md
Labels: resolves issue, size/XL, update

#2727 Main Page: Add a missing space
  wiki/Main_Page/en.md
Labels: size/XS, update

#2725 Miscellaneous Section on Guides
  wiki/Guides/en.md
Labels: size/XS, update

#2733 Update guide article titles
  wiki/Guides/Discord_Rich_Presence/en.md
  wiki/Guides/Discord_Rich_Presence/fr.md
  wiki/Guides/Discord_Rich_Presence/img/join.jpg
  wiki/Guides/Discord_Rich_Presence/img/shiny-green-button.jpg
  wiki/Guides/Discord_Rich_Presence/img/slow-down.jpg
  wiki/Guides/Discord_Rich_Presence/img/spectate.jpg
  wiki/Guides/OpenGL_Support_Issues/DE-devicemanager.png
  wiki/Guides/OpenGL_Support_Issues/Devicemanager.png
  wiki/Guides/OpenGL_Support_Issues/FR-Devicemanager.png
  wiki/Guides/OpenGL_Support_Issues/IDDevicemanager.png
  wiki/Guides/OpenGL_Support_Issues/IDSystemProperties.png
  wiki/Guides/OpenGL_Support_Issues/de.md
  wiki/Guides/OpenGL_Support_Issues/en.md
  wiki/Guides/OpenGL_Support_Issues/fr.md
  wiki/Guides/OpenGL_Support_Issues/id.md
  wiki/Guides/OpenGL_Support_Issues/pt-br.md
  wiki/Guides/en.md
  wiki/redirect.yaml
Labels: update

#2730 Hotfix for Main Page
  wiki/Main_Page/en.md
  wiki/Welcome/en.md
  wiki/Welcome/es.md
  wiki/Welcome/fr.md
  wiki/Welcome/id.md
  wiki/Welcome/it.md
  wiki/Welcome/ja.md
  wiki/Welcome/ko.md
  wiki/Welcome/pl.md
  wiki/Welcome/pt-br.md
  wiki/Welcome/ru.md
  wiki/Welcome/sk.md
  wiki/Welcome/zh.md
Labels: size/XL, update

#2722 Reference Song Content Rules and Visual Content Considerations in Rules
  wiki/Rules/de.md
  wiki/Rules/el.md
  wiki/Rules/en.md
  wiki/Rules/es.md
  wiki/Rules/fr.md
  wiki/Rules/hu.md
  wiki/Rules/id.md
  wiki/Rules/it.md
  wiki/Rules/ko.md
  wiki/Rules/nl.md
  wiki/Rules/pl.md
  wiki/Rules/pt-br.md
  wiki/Rules/ru.md
  wiki/Rules/sk.md
  wiki/Rules/zh.md
Labels: size/M, update

#2737 Outdate Replay and make minor fixes
  wiki/Replay/en.md
Labels: size/S, update

#2742 Add Project Loved: Week of October 27th news post
  news/2019-10-29-project-loved-week-of-october-27th.md
  wiki/shared/news/2019-10-29-project-loved-week-of-october-27th/catch/1-paradigm-shift.jpg
  wiki/shared/news/2019-10-29-project-loved-week-of-october-27th/catch/2-shinkirou.jpg
  wiki/shared/news/2019-10-29-project-loved-week-of-october-27th/mania/1-little-girl-goodbye-rah.jpg
  wiki/shared/news/2019-10-29-project-loved-week-of-october-27th/mania/2-slow-dancing-in-the-dark.jpg
  wiki/shared/news/2019-10-29-project-loved-week-of-october-27th/mania/3-can-t-stop-lovin-you.jpg
  wiki/shared/news/2019-10-29-project-loved-week-of-october-27th/osu/1-overkill.jpg
  wiki/shared/news/2019-10-29-project-loved-week-of-october-27th/osu/2-tarte-tatin.jpg
  wiki/shared/news/2019-10-29-project-loved-week-of-october-27th/osu/3-fly-heart-fly.jpg
  wiki/shared/news/2019-10-29-project-loved-week-of-october-27th/osu/4-history-of-japan.jpg
  wiki/shared/news/2019-10-29-project-loved-week-of-october-27th/osu/5-i-can-fly-in-the-universe.jpg
  wiki/shared/news/2019-10-29-project-loved-week-of-october-27th/taiko/1-flower.jpg
  wiki/shared/news/2019-10-29-project-loved-week-of-october-27th/taiko/2-iki-o-koroshita-stokesia.jpg
Labels: news

#2746 Add outdated tag to Play Styles translations
  wiki/Play_Styles/es.md
Labels: size/XS, translations, update

#2736 Outdate Registration translations
  wiki/Registration/de.md
  wiki/Registration/es.md
  wiki/Registration/fr.md
  wiki/Registration/id.md
  wiki/Registration/it.md
  wiki/Registration/pl.md
  wiki/Registration/sk.md
Labels: size/M, update

#2747 New Featured Artist: Nekrogoblikon
  news/2019-10-30-new-featured-artist-nekrogoblikon.md
Labels: news

#2749 Add pick'em link to the wiki page
  wiki/Tournaments/OWC/2019/en.md
Labels: size/XS
