Repository ppy/osu-wiki, pull requests merged in 2019-09, with the labels that each got.

#2458 Update group members and add Developers
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Developers/en.md
  wiki/People/Global_Moderation_Team/en.md
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Project_Loved_Team/en.md
  wiki/People/Staff_Log/2019/en.md
  wiki/People/The_Team/en.md
  wiki/People/en.md
  wiki/People/osu!_Alumni/en.md
Labels: new article, update

#2465 Fill in missing details about .osu file events
  wiki/osu!_File_Formats/Osu_(file_format)/en.md
Labels: resolves issue

#2475 osu! Mapping Olympiad #2 Results
  news/2019-09-07-osu!taiko-mapping-olympiad-2-results.md
Labels: news

#2468 Update [FR] Registration
  wiki/Registration/fr.md
Labels: translations, update

#2469 Update [FR] Game Modes
  wiki/Game_Modes/fr.md
Labels: translations, update

#2438 [FR] Beatmap Veto
  wiki/People/Beatmap_Nominators/Beatmap_Veto/fr.md
Labels: translations

#2444 Update [RU] Difficulties
  wiki/Difficulties/ru.md
Labels: translations, update

#2445 [FR] Guides/How_to_Use_the_Offset_Wizard
  wiki/Guides/How_to_Use_the_Offset_Wizard/fr.md
Labels: translations

#2447 [RU] Beatmaps
  wiki/Beatmaps/ru.md
Labels: translations

#2448 [RU] Beatmap Packs
  wiki/Beatmaps/Packs/ru.md
Labels: translations

#2446 [FR] Guides/Adding_Custom_Hit_Sounds
  wiki/Guides/Adding_Custom_Hit_Sounds/fr.md
Labels: translations

#2453 Ranking Criteria updates
  wiki/Ranking_Criteria/en.md
Labels: update

#2396 Add OMC5 articles
  wiki/Contests/OMC/5/en.md
  wiki/Contests/OMC/5/img/Banner.jpg
  wiki/Contests/OMC/5/kr.md
Labels: new article, tournament, translations

#2416 [FR] Accuracy
  wiki/Accuracy/fr.md
Labels: translations

#2393 Create O!MIC 4K 2019 Wiki Page
  wiki/Tournaments/OMIC/2019_4K/en.md
  wiki/Tournaments/OMIC/2019_4K/id.md
  wiki/Tournaments/OMIC/2019_4K/img/logo.png
  wiki/Tournaments/OMIC/en.md
  wiki/Tournaments/OMIC/id.md
Labels: new article, tournament, translations

#2464 Add Featured Artists article
  wiki/Featured_Artists/en.md
Labels: new article, resolves issue, review wanted

#2478 osu!mania Twins Mascot Design Contest newspost
  news/2019-09-06-a-most-manic-contest.md
  wiki/shared/news/2019-09-06-a-most-manic-contest/banner.jpg
  wiki/shared/news/2019-09-06-a-most-manic-contest/banner@2x.jpg
Labels: news

#2442 SOFT4 end of tournament
  wiki/Tournaments/SOFT/4/en.md
  wiki/Tournaments/SOFT/4/img/badge.png
Labels: tournament, update

#2449 [FR] Custom Hit Sound Library
  wiki/Guides/Custom_Hit_Sound_Library/fr.md
Labels: translations

#2427 [FR] People
  wiki/People/fr.md
Labels: translations

#2331 [ZH] The_Team
  wiki/People/The_Team/zh.md
Labels: translations, update

#2462 [FR] Changing_the_Artist_or_Title
  wiki/Guides/Changing_the_Artist_or_Title/fr.md
Labels: translations

#2451 [RU] osu!api
  wiki/osu!api/ru.md
Labels: translations

#2450 [ZH-TW] About
  wiki/About/zh-tw.md
Labels: translations

#2479 [FR] Beatmap_Editor
  wiki/Beatmap_Editor/de.md
  wiki/Beatmap_Editor/en.md
  wiki/Beatmap_Editor/es.md
  wiki/Beatmap_Editor/fr.md
  wiki/Beatmap_Editor/id.md
  wiki/Beatmap_Editor/ko.md
  wiki/Beatmap_Editor/pl.md
  wiki/Beatmap_Editor/pt-br.md
  wiki/Beatmap_Editor/pt.md
  wiki/Beatmap_Editor/ru.md
  wiki/Beatmap_Editor/zh-hk.md
  wiki/Beatmap_Editor/zh.md
Labels: translations, update

#2499 Update for NAT / BN / Staff Log pages
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Staff_Log/2019/en.md
Labels: update

#2484 Fix formatting in Changing the Artist or Title guide
  wiki/Guides/Changing_the_Artist_or_Title/en.md
  wiki/Guides/Changing_the_Artist_or_Title/fr.md
Labels: update

#2501 Fix links to osu!academy article
  wiki/Chat_Console/es.md
  wiki/Chat_Console/fr.md
  wiki/Chat_Console/id.md
  wiki/Chat_Console/it.md
  wiki/Chat_Console/ja.md
  wiki/Chat_Console/pl.md
  wiki/Chat_Console/zh.md
  wiki/Guides/Audio_Editing/en.md
  wiki/Guides/Audio_Editing/fr.md
  wiki/Guides/Audio_Editing/ja.md
  wiki/Guides/Audio_Editing/pt.md
  wiki/Multi/en.md
  wiki/People/Community_Contributors/es.md
  wiki/People/Community_Contributors/tr.md
  wiki/People/Community_Contributors/zh.md
  wiki/People/The_Team/es.md
  wiki/People/The_Team/pl.md
  wiki/People/The_Team/tr.md
  wiki/redirect.yaml
Labels: update

#2452 [RU] Visual Settings
  wiki/Visual_Settings/ru.md
Labels: translations

#2503 Add Fall 2019 Mentorship newspost
  news/2019-09-08-community-mentorship-program-fall-2019-mentee-signups-now-open.md
Labels: news

#2500 Update [FR] Mascots and Mascots Gallery
  wiki/Mascots/Gallery/fr.md
  wiki/Mascots/fr.md
Labels: translations, update

#2504 Revise Mascots folder
  wiki/Mascots/de.md
  wiki/Mascots/it.md
  wiki/Mascots/pl.md
  wiki/Mascots/pt-br.md
  wiki/Mascots/pt.md
  wiki/Mascots/tr.md
Labels: clean up, update

#2482 Move Best of (and Community Choice) to Contests, other Contests updates
  wiki/Best_Of/2009/2009results.png
  wiki/Best_Of/2009/en.md
  wiki/Best_Of/2009/fr.md
  wiki/Best_Of/2010/en.md
  wiki/Best_Of/2010/fr.md
  wiki/Best_Of/2011/en.md
  wiki/Best_Of/2011/fr.md
  wiki/Best_Of/2012/en.md
  wiki/Best_Of/2012/fr.md
  wiki/Best_Of/2013/en.md
  wiki/Best_Of/2013/fr.md
  wiki/Best_Of/2014/en.md
  wiki/Best_Of/2014/fr.md
  wiki/Best_Of/2015/en.md
  wiki/Best_Of/2015/fr.md
  wiki/Best_Of/2016/2016formula.png
  wiki/Best_Of/2016/en.md
  wiki/Best_Of/2016/fr.md
  wiki/Best_Of/en.md
  wiki/Best_Of/fr.md
  wiki/Contests/en.md
  wiki/redirect.yaml
Labels: resolves issue, update

#2496 [FR] Easy
  wiki/Disambiguation/Easy/fr.md
Labels: translations

#2476 Update [FR] BanchoBot
  wiki/BanchoBot/fr.md
Labels: translations, update

#2467 Update [FR] Installation
  wiki/Installation/fr.md
Labels: translations, update

#2505 Revise Mascots Gallery
  wiki/Mascots/Gallery/it.md
  wiki/Mascots/Gallery/tr.md
Labels: clean up, update

#2495 [FR] EZ
  wiki/Disambiguation/EZ/fr.md
Labels: translations

#2494 [FR] Mod
  wiki/Disambiguation/Mod/fr.md
Labels: translations

#2507 [RU] Visual Settings: Add localised screenshot
  wiki/Visual_Settings/img/VisualSettings-RU.jpg
  wiki/Visual_Settings/ru.md
Labels: resolves issue, translations

#2510 [FR] Featured_Artists
  wiki/Featured_Artists/fr.md
Labels: translations

#2483 Update [FR] Beatmapping
  wiki/Beatmapping/fr.md
Labels: translations, update

#2493 [FR] Disambiguation
  wiki/Disambiguation/fr.md
Labels: translations

#2497 [FR] Bancho
  wiki/Disambiguation/Bancho/fr.md
Labels: translations

#2471 [FR] Storyboarding
  wiki/Storyboarding/fr.md
Labels: translations

#2511 [FR] Skinning Tutorial
  wiki/Skinning_Tutorial/fr.md
Labels: translations

#2311 MP4K 3: End of the tournament update
  wiki/Tournaments/MP4K/3/en.md
  wiki/Tournaments/MP4K/3/img/podium.png
Labels: tournament, update

#2502 MWC4K 2019 teams + commentators update
  wiki/Tournaments/MWC/2019_4K/en.md
Labels: tournament, update

#2472 [FR] Skinning
  wiki/Skinning/fr.md
Labels: translations

#2514 Fix kudosu! redirect
  wiki/redirect.yaml
Labels: update

#2466 Add History of Loved article
  wiki/Beatmaps/History_of_Loved/en.md
  wiki/Beatmaps/en.md
  wiki/Glossary/en.md
  wiki/Project_Loved/en.md
Labels: new article, resolves issue, review wanted

#2498 Update [FR] Do_you_really_want_to_ask_peppy
  wiki/Do_you_really_want_to_ask_peppy/fr.md
Labels: translations, update

#2520 Mention other requirements for Loved maps
  wiki/Project_Loved/en.md
Labels: update

#2508 Update groups lists and standardize formatting
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Developers/en.md
  wiki/People/Global_Moderation_Team/en.md
  wiki/People/Global_Moderation_Team/es.md
  wiki/People/Global_Moderation_Team/id.md
  wiki/People/Global_Moderation_Team/ko.md
  wiki/People/Global_Moderation_Team/pl.md
  wiki/People/Language_Moderators/de.md
  wiki/People/Language_Moderators/en.md
  wiki/People/Language_Moderators/es.md
  wiki/People/Language_Moderators/fr.md
  wiki/People/Language_Moderators/id.md
  wiki/People/Language_Moderators/it.md
  wiki/People/Language_Moderators/ja.md
  wiki/People/Language_Moderators/pl.md
  wiki/People/Language_Moderators/pt-br.md
  wiki/People/Language_Moderators/pt.md
  wiki/People/Language_Moderators/ru.md
  wiki/People/Language_Moderators/tl.md
  wiki/People/Language_Moderators/tr.md
  wiki/People/Language_Moderators/zh.md
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Project_Loved_Team/en.md
  wiki/People/Staff_Log/2019/en.md
  wiki/People/Support_Team/de.md
  wiki/People/Support_Team/en.md
  wiki/People/Support_Team/es.md
  wiki/People/Support_Team/fr.md
  wiki/People/Support_Team/id.md
  wiki/People/Support_Team/it.md
  wiki/People/Support_Team/pl.md
  wiki/People/Support_Team/pt.md
  wiki/People/Support_Team/ru.md
  wiki/People/Support_Team/tr.md
  wiki/People/Support_Team/zh.md
  wiki/People/The_Team/en.md
  wiki/People/osu!_Alumni/de.md
  wiki/People/osu!_Alumni/en.md
  wiki/People/osu!_Alumni/es.md
  wiki/People/osu!_Alumni/fr.md
  wiki/People/osu!_Alumni/id.md
  wiki/People/osu!_Alumni/it.md
  wiki/People/osu!_Alumni/ja.md
  wiki/People/osu!_Alumni/ko.md
  wiki/People/osu!_Alumni/pl.md
  wiki/People/osu!_Alumni/pt-br.md
  wiki/People/osu!_Alumni/pt.md
  wiki/People/osu!_Alumni/ru.md
  wiki/People/osu!_Alumni/tr.md
  wiki/People/osu!_Alumni/zh.md
Labels: high priority, resolves issue, review wanted, update

#2522 Update Language Moderators
  wiki/People/Language_Moderators/en.md
Labels: update

#2525 Revise Registration
  wiki/Registration/de.md
  wiki/Registration/en.md
  wiki/Registration/es.md
  wiki/Registration/fr.md
  wiki/Registration/id.md
  wiki/Registration/it.md
  wiki/Registration/ko.md
  wiki/Registration/nl.md
  wiki/Registration/no.md
  wiki/Registration/pl.md
  wiki/Registration/pt-br.md
  wiki/Registration/pt.md
  wiki/Registration/ru.md
  wiki/Registration/sk.md
  wiki/Registration/sv.md
  wiki/Registration/th.md
  wiki/Registration/zh.md
Labels: clean up, size/XL

#2526 Minor Ranking Criteria update
  wiki/Ranking_Criteria/en.md
Labels: size/XS

#2521 Revise Reporting Bad Behaviour folder
  wiki/Reporting_Bad_Behaviour/Handling_Foul_Play/en.md
  wiki/Reporting_Bad_Behaviour/Handling_Foul_Play/fr.md
  wiki/Reporting_Bad_Behaviour/Handling_Foul_Play/id.md
  wiki/Reporting_Bad_Behaviour/Handling_Foul_Play/pl.md
  wiki/Reporting_Bad_Behaviour/Handling_Foul_Play/pt-br.md
  wiki/Reporting_Bad_Behaviour/Handling_Foul_Play/ru.md
  wiki/Reporting_Bad_Behaviour/Handling_Foul_Play/th.md
  wiki/Reporting_Bad_Behaviour/Handling_Foul_Play/zh.md
  wiki/Reporting_Bad_Behaviour/en.md
  wiki/Reporting_Bad_Behaviour/id.md
  wiki/Reporting_Bad_Behaviour/ru.md
  wiki/Reporting_Bad_Behaviour/zh.md
Labels: clean up

#2531 update usergroup listing for 1 person
  wiki/People/Beatmap_Nominators/en.md
Labels: size/XS, update

#2532 MWC4K19 Players Update
  wiki/Tournaments/MWC/2019_4K/en.md
Labels: size/M, tournament, update

#2535 Staff Log + BN page for 2 more people
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Staff_Log/2019/en.md
Labels: size/XS, update

#2524 Update [FR] Help_Centre
  wiki/Help_Centre/fr.md
Labels: translations, update

#2534 Update [FR] Medals
  wiki/Medals/fr.md
Labels: size/M, translations, update

#2551 Minor RC wording change
  wiki/Ranking_Criteria/osu!mania/en.md
Labels: size/XS, update

#2553 Beatmap skin clarification
  wiki/Skinning/Sounds/en.md
Labels: size/XS, update

#2552 More BN application info
  wiki/People/Beatmap_Nominators/en.md
Labels: size/S, update

#2490 [RU] EZ
  wiki/Disambiguation/EZ/ru.md
Labels: translations

#2491 [RU] Mod
  wiki/Disambiguation/Mod/ru.md
Labels: translations

#2488 [RU] Easy
  wiki/Disambiguation/Easy/ru.md
Labels: translations

#2489 [RU] Bancho
  wiki/Disambiguation/Bancho/ru.md
Labels: translations

#2487 [RU] Disambiguation
  wiki/Disambiguation/ru.md
Labels: translations

#2550 Revise osu!supporter folder
  wiki/osu!supporter/de.md
  wiki/osu!supporter/es.md
  wiki/osu!supporter/it.md
  wiki/osu!supporter/nl.md
  wiki/osu!supporter/pt.md
  wiki/osu!supporter/ru.md
  wiki/osu!supporter/th.md
  wiki/osu!supporter/zh.md
Labels: clean up, size/XL

#2547 [FR] osu!api
  wiki/osu!api/fr.md
Labels: size/S, translations

#2536 [FR] osu!_UCI
  wiki/Organisations/osu!_UCI/fr.md
Labels: size/M, translations

#2509 [RU] Visual_Settings: Minor fixes
  wiki/Visual_Settings/ru.md
Labels: translations, update

#2555 Project Loved: Week of September 15th
  news/2019-09-16-project-loved-week-of-september-15th.md
  wiki/shared/news/2019-09-16-project-loved-week-of-september-15th/catch/1-der-wald-kors-k-remix.jpg
  wiki/shared/news/2019-09-16-project-loved-week-of-september-15th/catch/2-soldiers-of-the-wasteland.jpg
  wiki/shared/news/2019-09-16-project-loved-week-of-september-15th/mania/1-sense.jpg
  wiki/shared/news/2019-09-16-project-loved-week-of-september-15th/mania/2-kimi-no-shiranai-monogatari.jpg
  wiki/shared/news/2019-09-16-project-loved-week-of-september-15th/mania/3-tiefsee.jpg
  wiki/shared/news/2019-09-16-project-loved-week-of-september-15th/osu/1-kitty-attack.jpg
  wiki/shared/news/2019-09-16-project-loved-week-of-september-15th/osu/2-army-of-the-night.jpg
  wiki/shared/news/2019-09-16-project-loved-week-of-september-15th/osu/3-preserved-valkyria.jpg
  wiki/shared/news/2019-09-16-project-loved-week-of-september-15th/osu/4-amore-aoi-hoshi.jpg
  wiki/shared/news/2019-09-16-project-loved-week-of-september-15th/osu/5-encounter.jpg
  wiki/shared/news/2019-09-16-project-loved-week-of-september-15th/taiko/1-bassdrop-freaks-2018-redrop-ver.jpg
  wiki/shared/news/2019-09-16-project-loved-week-of-september-15th/taiko/2-hizai-ni-negu.jpg
Labels: news

#2556 Skinning osu!mania en.md
  wiki/Skinning/osu!mania/en.md
Labels: size/XS, update

#2574 State the file size limit for beatmaps
  wiki/Submission/en.md
Labels: resolves issue, size/XS, update

#2573 Remove "v1" game mode articles
  wiki/Game_Modes/osu!/en.md
  wiki/Game_Modes/osu!/es.md
  wiki/Game_Modes/osu!/pt-br.md
  wiki/Game_Modes/osu!/v1/en.md
  wiki/Game_Modes/osu!catch/en.md
  wiki/Game_Modes/osu!catch/v1/en.md
  wiki/Game_Modes/osu!mania/en.md
  wiki/Game_Modes/osu!mania/fr.md
  wiki/Game_Modes/osu!mania/v1/en.md
  wiki/Game_Modes/osu!mania/v1/img/Mania_SC.jpg
  wiki/Game_Modes/osu!mania/v1/img/Mania_SCDifference.png
  wiki/Game_Modes/osu!mania/v1/img/Mania_Scale.png
  wiki/Game_Modes/osu!mania/v1/img/Mania_logo.png
  wiki/Game_Modes/osu!mania/v1/img/deprecated/20121009085459!Mania_logo.png
  wiki/Game_Modes/osu!mania/v1/img/deprecated/Mania_SCDifference.png
  wiki/Game_Modes/osu!taiko/en.md
  wiki/Game_Modes/osu!taiko/v1/en.md
  wiki/Game_Modes/osu!taiko/v1/img/Taiko_logo.jpg
  wiki/Sitemap/en.md
Labels: resolves issue

#2575 AOTS Conclusion
  wiki/Tournaments/AOTS/AOTS_1/en.md
  wiki/Tournaments/AOTS/AOTS_1/img/badge.png
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/ko.md
  wiki/Tournaments/pl.md
Labels: tournament, update

#2577 AOTS add missing match link
  wiki/Tournaments/AOTS/AOTS_1/en.md
Labels: size/XS, tournament, update

#2571 MWC 4K 2019 Groups Update
  wiki/Tournaments/MWC/2019_4K/en.md
Labels: size/M, tournament, update

#2587 MWC4K2019 Reschedules
  wiki/Tournaments/MWC/2019_4K/en.md
Labels: size/XS, tournament, update

#2586 New Featured Artist: KOAN Sound
  news/2019-09-20-new-featured-artist-koan-sound.md
Labels: news, size/M

#2593 Fix duplicate preview link in KOAN Sound article
  news/2019-09-20-new-featured-artist-koan-sound.md
Labels: size/XS

#2597 Song Content Rules Update: Explicit and heavily political content
  wiki/Ranking_Criteria/Song_Content_Rules/en.md
  wiki/Ranking_Criteria/Song_Content_Rules/zh.md
Labels: rule change, size/S, update

#2585 [FR] BSS Issues
  wiki/Guides/BSS_Issues/en.md
  wiki/Guides/BSS_Issues/fr.md
Labels: size/M, translations

#2578 CWC 2019 Conclusion
  wiki/Tournaments/CWC/2019/en.md
  wiki/Tournaments/CWC/2019/img/badge.png
  wiki/Tournaments/CWC/2019/img/logo.jpg
  wiki/Tournaments/CWC/en.md
Labels: tournament, update

#2584 GTS Reorganisation & AGTS 2019 Conclusion
  wiki/Tournaments/GTS/AGTS_2019/de.md
  wiki/Tournaments/GTS/AGTS_2019/en.md
  wiki/Tournaments/GTS/AGTS_2019/es.md
  wiki/Tournaments/GTS/AGTS_2019/fr.md
  wiki/Tournaments/GTS/AGTS_2019/img/badge.png
  wiki/Tournaments/GTS/AGTS_2019/img/logo.png
  wiki/Tournaments/GTS/AGTS_2019/ja.md
  wiki/Tournaments/GTS/AGTS_2019/ko.md
  wiki/Tournaments/GTS/AGTS_2019/pl.md
  wiki/Tournaments/GTS/AGTS_2019/pt-br.md
  wiki/Tournaments/GTS/AGTS_2019/zh-tw.md
  wiki/Tournaments/GTS/IGTS_2018/en.md
  wiki/Tournaments/GTS/IGTS_2018/img/logo.png
  wiki/Tournaments/GTS/IGTS_2019/en.md
  wiki/Tournaments/GTS/IGTS_2019/es.md
  wiki/Tournaments/GTS/IGTS_2019/fr.md
  wiki/Tournaments/GTS/IGTS_2019/img/badge.png
  wiki/Tournaments/GTS/IGTS_2019/img/logo.png
  wiki/Tournaments/GTS/IGTS_2019/ko.md
  wiki/Tournaments/GTS/IGTS_2019/pt-br.md
  wiki/Tournaments/GTS/IGTS_2019/ru.md
  wiki/Tournaments/GTS/en.md
  wiki/Tournaments/GTS/fr.md
  wiki/Tournaments/GTS/id.md
  wiki/Tournaments/IGTS/en.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/ko.md
  wiki/Tournaments/pl.md
  wiki/redirect.yaml
Labels: new article, tournament, translations, update

#2603 Update osu!catch RC guideline
  wiki/Ranking_Criteria/osu!catch/en.md
Labels: rule change, size/XS, update

#2604 Update metadata whitespace rule
  wiki/Ranking_Criteria/en.md
Labels: rule change, size/XS, update

#2600 o!AOT Conclusion
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/ko.md
  wiki/Tournaments/o!AOT/1/en.md
  wiki/Tournaments/pl.md
Labels: size/L, tournament, update

#2601 Update MWC4K 2019 for Round of 16
  wiki/Tournaments/MWC/2019_4K/en.md
Labels: size/M, tournament, update

#2602 Mappers' Guild September Newspost
  news/2019-09-24-mappers-guild-september-newspost.md
  wiki/shared/news/banners/mappersguild.png
  wiki/shared/news/banners/mappersguild@2x.png
Labels: news, resolves issue, size/L

#2440 Update main page to work with new wiki stuff
  wiki/Main_Page/en.md
  wiki/Main_Page/en.yaml
  wiki/Main_Page/pl.md
  wiki/Main_Page/pl.yaml
Labels: discussion, high priority, resolves issue, update, website

#2607 Document permissions in osu!.db
  wiki/osu!_File_Formats/Db_(file_format)/en.md
Labels: size/XS, update

#2598 Correct level score requirements
  wiki/FAQ/zh.md
  wiki/Score/en.md
Labels: resolves issue, size/S, update

#2608 Update Sitemap
  wiki/Sitemap/en.md
  wiki/redirect.yaml
Labels: size/L, update

#2599 Add osu!mapping
  wiki/osu!mapping/en.md
Labels: new article, resolves issue, review wanted, size/L

#2610 Update repo description with new main page on readme
  README.md
Labels: size/XS, update

#2611 Ranking Criteria updates
  wiki/Ranking_Criteria/en.md
  wiki/Ranking_Criteria/osu!taiko/en.md
Labels: size/S

#2613 Update editor section of shortcut key reference
  wiki/Shortcut_Key_Reference/en.md
Labels: size/S, update

#2620 Add missing definition to osu!mania Ranking Criteria
  wiki/Ranking_Criteria/osu!mania/en.md
Labels: size/XS, update

#2554 Update [FR] Shortcut Key Reference
  wiki/Shortcut_Key_Reference/fr.md
Labels: size/L, translations, update

#2624 Add Project Loved September 29th news post
  news/2019-09-30-project-loved-week-of-september-29th.md
  wiki/shared/news/2019-09-30-project-loved-week-of-september-29th/catch/1-gigadelic-camellia-s-the-tera-remix-10-12-long-ver.jpg
  wiki/shared/news/2019-09-30-project-loved-week-of-september-29th/catch/2-hoshi-o-kakeru-adventure-we-are-forever-friends-long-ver.jpg
  wiki/shared/news/2019-09-30-project-loved-week-of-september-29th/mania/1-10dollar-dump-dump-revolutions-2-part-3.jpg
  wiki/shared/news/2019-09-30-project-loved-week-of-september-29th/mania/2-dropdead.jpg
  wiki/shared/news/2019-09-30-project-loved-week-of-september-29th/mania/3-hype-lapix-remix.jpg
  wiki/shared/news/2019-09-30-project-loved-week-of-september-29th/osu/1-kyuukyoku-no-seisen.jpg
  wiki/shared/news/2019-09-30-project-loved-week-of-september-29th/osu/2-good-bye-mr-jack.jpg
  wiki/shared/news/2019-09-30-project-loved-week-of-september-29th/osu/3-bad-apple-camellia-s-bad-psy-remix.jpg
  wiki/shared/news/2019-09-30-project-loved-week-of-september-29th/osu/4-hightechnological.jpg
  wiki/shared/news/2019-09-30-project-loved-week-of-september-29th/osu/5-palette-gamma.jpg
  wiki/shared/news/2019-09-30-project-loved-week-of-september-29th/taiko/1-eu-quero.jpg
  wiki/shared/news/2019-09-30-project-loved-week-of-september-29th/taiko/2-black-mind.jpg
Labels: news
