Repository ppy/osu-wiki, pull requests merged in 2020-02, with the labels that each got.

#2889 [FR] Update Help Centre
  wiki/Help_Centre/fr.md
Labels: size/M, translations, update

#3137 Update BN pages
  wiki/People/The_Team/Beatmap_Nominators/General_Information/en.md
  wiki/People/The_Team/Beatmap_Nominators/Rules/en.md
  wiki/People/The_Team/Beatmap_Nominators/en.md
Labels: size/M, update

#3116 Add info about promotion to the NAT
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
Labels: resolves issue, size/XS, update

#3046 Override multiple top-level headers lint rule for news posts
  news/.markdownlint.json
Labels: news, size/XS, utilities

#3012 [SV] People, Legal, The Team, Main Page
  wiki/Legal/sv.md
  wiki/Main_Page/sv.md
  wiki/People/The_Team/sv.md
  wiki/People/sv.md
Labels: size/L, stale merge, translations

#3052 [FR] Beatmap Editor/Compose
  wiki/Beatmap_Editor/Compose/fr.md
Labels: size/L, stale merge, translations

#3054 [FR] Update Beatmap Editor/Distance Snap
  wiki/Beatmap_Editor/Distance_Snap/fr.md
Labels: size/M, stale merge, translations, update

#3056 [FR] Beatmap Editor/SB Load
  wiki/Beatmap_Editor/SB_Load/fr.md
Labels: size/M, stale merge, translations

#3058 [FR] Beatmap Editor/Timelines
  wiki/Beatmap_Editor/Timelines/fr.md
Labels: size/L, stale merge, translations

#3060 [FR] Beatmap Editor/Menu
  wiki/Beatmap_Editor/Menu/fr.md
Labels: size/L, stale merge, translations

#3061 [FR] Update Accuracy
  wiki/Accuracy/fr.md
Labels: size/M, stale merge, translations, update

#3062 [FR] Beatmap Discussion
  wiki/Beatmap_Discussion/fr.md
Labels: size/L, stale merge, translations

#3066 [FR] Beatmaps/History of Loved
  wiki/Beatmaps/History_of_Loved/fr.md
Labels: size/M, stale merge, translations

#3068 [FR] Contests
  wiki/Contests/fr.md
Labels: size/L, stale merge, translations

#3070 [FR] Contests/OMC
  wiki/Contests/OMC/fr.md
Labels: size/XS, stale merge, translations

#3072 [FR] Contests/oMWC
  wiki/Contests/oMWC/fr.md
Labels: size/XS, stale merge, translations

#3078 [FR] Game Modifiers
  wiki/Game_Modifiers/fr.md
Labels: size/XL, stale merge, translations

#3079 [FR] Beatmap ranking procedure
  wiki/Beatmap_ranking_procedure/fr.md
Labels: size/M, translations

#3080 [FR] Brand identity guidelines
  wiki/Brand_identity_guidelines/fr.md
Labels: size/M, translations

#3081 [FR] Update Guides
  wiki/Guides/fr.md
Labels: size/M, translations, update

#3050 [FR] Beatmap Editor/AiMod
  wiki/Beatmap_Editor/AiMod/fr.md
Labels: size/L, translations

#3142 Update meta for the recently merged FR pulls
  wiki/Accuracy/fr.md
  wiki/Beatmap_Discussion/fr.md
  wiki/Beatmap_Editor/Compose/fr.md
  wiki/Beatmap_Editor/Distance_Snap/fr.md
  wiki/Beatmap_Editor/Menu/fr.md
  wiki/Beatmap_Editor/SB_Load/fr.md
  wiki/Beatmap_Editor/Timelines/fr.md
  wiki/Beatmaps/History_of_Loved/fr.md
  wiki/Contests/OMC/fr.md
  wiki/Contests/fr.md
  wiki/Contests/oMWC/fr.md
  wiki/Game_Modifiers/fr.md
Labels: size/M, translations

#3141 Replace raw HTML or outdate articles that are beyond repair
  wiki/FAQ/es.md
  wiki/FAQ/hu.md
  wiki/FAQ/id.md
  wiki/FAQ/ja.md
  wiki/FAQ/nl.md
  wiki/FAQ/pl.md
  wiki/FAQ/pt.md
  wiki/FAQ/th.md
  wiki/FAQ/tl.md
  wiki/Guides/How_to_Use_the_Offset_Wizard/it.md
  wiki/Internet_Relay_Chat/de.md
  wiki/Internet_Relay_Chat/pl.md
  wiki/Internet_Relay_Chat/pt.md
  wiki/Internet_Relay_Chat/ru.md
  wiki/Internet_Relay_Chat/zh.md
  wiki/Performance_Points/ppv1/bg.md
  wiki/Performance_Points/ppv1/zh.md
  wiki/Reporting_Bad_Behaviour/Handling_Foul_Play/fr.md
  wiki/Tournaments/MP/2019_4K/en.md
  wiki/osu!_File_Formats/Osr_(file_format)/zh.md
  wiki/osu!_File_Formats/Osz_(file_format)/fr.md
  wiki/osu!academy/de.md
  wiki/osu!academy/pl.md
  wiki/osu!academy/pt.md
  wiki/osu!academy/ru.md
  wiki/osu!stream/id.md
  wiki/osu!talk/fr.md
  wiki/osu!talk/id.md
  wiki/osu!talk/it.md
  wiki/osu!talk/pl.md
  wiki/osu!talk/pt.md
Labels: clean up, resolves issue, size/L

#3099 Fill in missing details in Staff Log 2014 and 2015
  wiki/People/The_Team/osu!_Alumni/en.md
  wiki/People/The_Team/osu!_Alumni/ko.md
  wiki/Staff_Log/2014/en.md
  wiki/Staff_Log/2015/en.md
  wiki/Staff_Log/en.md
Labels: resolves issue, size/XL, update

#3085 Add Night Fall LAN, clean up some other osu! UCI articles
  wiki/Organisations/osu!_UCI/en.md
  wiki/Sitemap/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/ko.md
  wiki/Tournaments/osu!_UCI/NFL/en.md
  wiki/Tournaments/osu!_UCI/NFL/img/badge.jpg
  wiki/Tournaments/osu!_UCI/NFL/img/banner.png
  wiki/Tournaments/osu!_UCI/NFL/img/group-photo.jpg
  wiki/Tournaments/osu!_UCI/NFL/img/group-photo@2x.jpg
  wiki/Tournaments/osu!_UCI/NFL/img/room-photo.jpg
  wiki/Tournaments/osu!_UCI/NFL/img/room-photo@2x.jpg
  wiki/Tournaments/osu!_UCI/en.md
  wiki/Tournaments/osu!_UCI/iDOL@NSTER/en.md
  wiki/Tournaments/pl.md
  wiki/Tournaments/pt-br.md
  wiki/Tournaments/zh.md
  wiki/shared/UCI-Moss-Cove-map.png
Labels: new article, tournament, update

#3144 Add Overlap stub
  wiki/Mapping_Techniques/Overlap/en.md
  wiki/Mapping_Techniques/Overlap/img/overlap.jpg
Labels: new article

#3139 Add Monthly Beatmapping Contest and update Contests
  wiki/Contests/Monthly_Beatmapping_Contest/en.md
  wiki/Contests/en.md
  wiki/Contests/es.md
  wiki/Contests/pl.md
  wiki/Contests/zh.md
  wiki/Sitemap/en.md
Labels: new article, size/L, update

#3140 Add Monthly Beatmapping Contest: February news post
  news/2020-02-03-monthly-beatmapping-contest-february.md
Labels: news, size/L

#3146 Update BTT5 for Round of 32
  wiki/Tournaments/BTT/5/en.md
Labels: size/L, tournament, update

#3157 Update SEAT3 for Finals
  wiki/Tournaments/oSEAT/3/en.md
Labels: size/M, tournament, update

#3165 Add New Featured Artist: Kola Kid
  news/2020-02-05-new-featured-artist-kola-kid.md
Labels: news, size/M

#3166 Fix missing space in Kola Kid FA article
  news/2020-02-05-new-featured-artist-kola-kid.md
Labels: size/XS

#3158 Add tags to group pages
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Developers/en.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
  wiki/People/The_Team/Project_Loved_Team/en.md
  wiki/People/The_Team/en.md
Labels: size/M, update

#3109 Complete Project Loved Team history in Staff Log
  wiki/People/The_Team/Project_Loved_Team/en.md
  wiki/People/The_Team/Project_Loved_Team/ru.md
  wiki/Staff_Log/2018/en.md
  wiki/Staff_Log/2019/en.md
Labels: size/S, update

#3084 [DA] Add Rules
  wiki/Rules/da.md
Labels: size/M, stale merge, translations

#3172 Add TWC 2020 Wiki entry & Newspost
  news/2020-02-06-twc-2020-registrations-open.md
  wiki/Tournaments/TWC/2020/en.md
  wiki/Tournaments/TWC/2020/img/TWC2020.jpg
  wiki/Tournaments/TWC/2020/img/TWC20202x.jpg
  wiki/shared/news/banners/TWC2020.jpg
  wiki/shared/news/banners/TWC20202x.jpg
Labels: new article, news, tournament

#3083 [DA] Add Welcome
  wiki/Welcome/da.md
Labels: size/M, translations

#3051 [FR] Update Beatmap Editor/Beat Snap Divisor
  wiki/Beatmap_Editor/Beat_Snap_Divisor/fr.md
Labels: size/L, translations, update

#3053 [FR] Update Beatmap Editor/Design
  wiki/Beatmap_Editor/Design/fr.md
Labels: size/L, stale merge, translations, update

#3055 [FR] Update Beatmap Editor/Kiai Time
  wiki/Beatmap_Editor/Kiai_Time/fr.md
Labels: size/S, stale merge, translations, update

#3057 [FR] Update Beatmap Editor/Song Setup
  wiki/Beatmap_Editor/Song_Setup/fr.md
Labels: size/L, stale merge, translations, update

#3178 Attempt to fix broken mirror links in CC 2019 article
  news/2020-02-07-community-contributors-2019.md
Labels: size/XS

#3183 Update the Community Contributors list
  wiki/People/Community_Contributors/en.md
  wiki/People/Community_Contributors/fr.md
Labels: size/L, update

#3195 Update BN listing
  wiki/People/The_Team/Beatmap_Nominators/en.md
Labels: size/S, update

#2974 [ZH] Update Rules folder and clean up formatting in other languages
  wiki/Rules/Song_Content_Rules/en.md
  wiki/Rules/Song_Content_Rules/zh.md
  wiki/Rules/Visual_Content_Considerations/en.md
  wiki/Rules/Visual_Content_Considerations/zh.md
  wiki/Rules/en.md
  wiki/Rules/fr.md
  wiki/Rules/id.md
  wiki/Rules/tr.md
  wiki/Rules/zh.md
Labels: size/L, translations, update

#3071 [FR] Contests/OMC/5
  wiki/Contests/OMC/5/en.md
  wiki/Contests/OMC/5/fr.md
  wiki/Contests/OMC/5/kr.md
  wiki/Contests/OMC/fr.md
Labels: size/M, stale merge, translations

#3073 [FR] Contests/oMWC/1
  wiki/Contests/oMWC/1/en.md
  wiki/Contests/oMWC/1/fr.md
  wiki/Contests/oMWC/fr.md
Labels: size/L, stale merge, translations

#3177 Add osu! TV Size Tournament 2020 article
  wiki/Tournaments/otst!/2018/en.md
  wiki/Tournaments/otst!/2019/en.md
  wiki/Tournaments/otst!/2020/en.md
  wiki/Tournaments/otst!/2020/img/logo.jpg
  wiki/Tournaments/otst!/en.md
Labels: clean up, new article, tournament

#3198 Apply centering to CC2016 article images
  news/2016-11-02-recognising-the-best-of-the-best.md
Labels: size/M

#3201 Update BTT5 for Round of 16
  wiki/Tournaments/BTT/5/en.md
Labels: size/M, tournament, update

#2992 [ZH/ZH-TW] Add Discord Rich Presence, Main Page, and Tournaments
  wiki/Guides/Discord_Rich_Presence/en.md
  wiki/Guides/Discord_Rich_Presence/fr.md
  wiki/Guides/Discord_Rich_Presence/zh.md
  wiki/Main_Page/zh-tw.md
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/zh.md
  wiki/Tournaments/zh.md
Labels: size/XL, translations

#2958 [EN/KO] Update Medals
  wiki/Medals/en.md
  wiki/Medals/ko.md
Labels: size/XS, translations, update

#2973 [RU] Fix wording in The Team article
  wiki/People/The_Team/ru.md
Labels: size/XS, translations, update

#3200 Add Community Choice 2019: Results newspost
  news/2020-02-10-community-choice-2019-results.md
  wiki/shared/news/2020-02-10-community-choice-2019-results/aether-ritual.jpg
  wiki/shared/news/2020-02-10-community-choice-2019-results/aether-ritual@2x.jpg
  wiki/shared/news/2020-02-10-community-choice-2019-results/blue-zenith.jpg
  wiki/shared/news/2020-02-10-community-choice-2019-results/blue-zenith@2x.jpg
  wiki/shared/news/2020-02-10-community-choice-2019-results/chroma.jpg
  wiki/shared/news/2020-02-10-community-choice-2019-results/chroma@2x.jpg
  wiki/shared/news/2020-02-10-community-choice-2019-results/ghost-rule.jpg
  wiki/shared/news/2020-02-10-community-choice-2019-results/ghost-rule@2x.jpg
Labels: news

#3206 Use image figures and clean up formatting in Community Contributor news post
  news/2020-02-07-community-contributors-2019.md
Labels: clean up, news, size/S

#3213 Add New Featured Artist: Frums newspost
  news/2020-02-12-new-featured-artist-frums.md
Labels: news, size/M

#3209 Fix broken references in news posts
  news/2014-07-01-osumania-world-cup-2014-registration-phase.md
  news/2014-07-18-june-2014-ranking-chart.md
  news/2014-08-17-july-2014-ranking-charts.md
  news/2015-04-18-osuweekly-6.md
  news/2015-11-23-osuweekly-36.md
  news/2016-01-27-december-2015-ranking-charts.md
  news/2016-03-16-february-2016-ranking-charts.md
  news/2016-06-04-osuweekly-63.md
  news/2017-04-06-osuweekly-99.md
  news/2017-05-18-osuweekly-104.md
  news/2017-07-14-osucatch-world-cup-2017-results.md
  news/2018-05-18-twc-finals-recap.md
  news/2018-11-01-beatmap-spotlights-summer-2018.md
Labels: clean up, news, size/M

#3207 Update Users with unique titles
  wiki/People/Users_with_unique_titles/en.md
Labels: size/S, update

#3059 [FR] Update Beatmap Editor/Timing
  wiki/Beatmap_Editor/Timing/fr.md
Labels: size/S, translations, update

#3067 [FR] Update Beatmaps/Packs
  wiki/Beatmaps/Packs/fr.md
Labels: size/M, translations, update

#3112 [FR] Update Guides/Audio Editing
  wiki/Guides/Audio_Editing/en.md
  wiki/Guides/Audio_Editing/fr.md
Labels: size/L, stale merge, translations, update

#3113 [FR] Update Guides/Custom Sample Overrides
  wiki/Guides/Custom_Sample_Overrides/fr.md
Labels: size/M, stale merge, translations, update

#3119 [FR] Guides/Getting Songs From Video Games
  wiki/Guides/Getting_Songs_From_Video_Games/en.md
  wiki/Guides/Getting_Songs_From_Video_Games/fr.md
Labels: size/M, translations

#3196 [FR] Add flag references
  meta/flag-references/fr.md
Labels: size/L, stale merge, translations, utilities

#3199 Fix formatting in FAQ article
  wiki/FAQ/en.md
  wiki/FAQ/es.md
  wiki/FAQ/fi.md
  wiki/FAQ/fr.md
  wiki/FAQ/hu.md
  wiki/FAQ/id.md
  wiki/FAQ/it.md
  wiki/FAQ/ja.md
  wiki/FAQ/nl.md
  wiki/FAQ/pl.md
  wiki/FAQ/pt.md
  wiki/FAQ/ru.md
  wiki/FAQ/th.md
  wiki/FAQ/tl.md
  wiki/FAQ/zh.md
Labels: clean up, size/XXL

#3190 Fix formatting in C/D-lettered articles
  wiki/Chat_Console/de.md
  wiki/Chat_Console/en.md
  wiki/Chat_Console/es.md
  wiki/Chat_Console/fr.md
  wiki/Chat_Console/id.md
  wiki/Chat_Console/it.md
  wiki/Chat_Console/ja.md
  wiki/Chat_Console/ko.md
  wiki/Chat_Console/pl.md
  wiki/Chat_Console/pt.md
  wiki/Chat_Console/ru.md
  wiki/Chat_Console/th.md
  wiki/Chat_Console/zh.md
  wiki/Contests/FBC/en.md
  wiki/Contests/FBC/fr.md
  wiki/Contests/en.md
  wiki/Contests/es.md
  wiki/Contests/fr.md
  wiki/Contests/pl.md
  wiki/Contests/zh.md
  wiki/Difficulties/es.md
  wiki/Difficulties/id.md
  wiki/Difficulties/ru.md
  wiki/Disambiguation/Mod/de.md
  wiki/Disambiguation/Mod/en.md
  wiki/Disambiguation/Mod/fr.md
  wiki/Disambiguation/Mod/id.md
  wiki/Disambiguation/Mod/ru.md
Labels: clean up, size/XXL

#3136 Add The Ultimate Beginners Taiko World Cup article
  wiki/Sitemap/en.md
  wiki/Tournaments/TUBTWC/1/en.md
  wiki/Tournaments/TUBTWC/1/img/logo.jpg
  wiki/Tournaments/TUBTWC/en.md
Labels: new article, tournament

#3217 Fix formatting in TWC2020 wiki article and news post
  news/2020-02-06-twc-2020-registrations-open.md
  wiki/Sitemap/en.md
  wiki/Tournaments/TWC/2020/en.md
  wiki/Tournaments/TWC/2020/img/TWC2020.jpg
  wiki/Tournaments/TWC/2020/img/TWC20202x.jpg
  wiki/Tournaments/TWC/en.md
  wiki/Tournaments/TWC/fr.md
  wiki/Tournaments/TWC/id.md
  wiki/Tournaments/TWC/ru.md
  wiki/shared/news/banners/TWC2020@2x.jpg
Labels: clean up, news, tournament

#3219 Update staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/Staff_Log/2020/en.md
Labels: size/M, update

#3218 Add Mapping Olympiad #6 (osu!catch) announcement
  news/2020-02-15-osu-mapping-olympiad-6-catch.md
Labels: news, size/M

#3221 Encode osz url in Olympiad 6 article
  news/2020-02-15-osu-mapping-olympiad-6-catch.md
Labels: size/XS, update

#3223 Fix Spun Out speed in Game Modifiers
  wiki/Game_Modifiers/en.md
Labels: clean up, size/XS

#3160 [RU] Update osu!api
  wiki/osu!api/ru.md
Labels: size/S, stale merge, translations, update

#3230 Correct minor error in "CursorTrailRotate" question
  wiki/Skinning/skin.ini/en.md
Labels: size/XS

#3227 Update 4DM2 for Group Stage
  wiki/Tournaments/4DM/2/en.md
Labels: size/M, tournament, update

#3234 Fix Vulkin's staff log entry
  wiki/Staff_Log/2020/en.md
Labels: size/XS, update

#3235 Add New Featured Artist: ELFENSJóN newspost
  news/2020-02-19-new-featured-artist-elfensjon.md
Labels: news, size/M

#3236 Add Results for Monthly Beatmapping Contest news post
  news/2020-02-20-monthly-beatmapping-contest-1-results.md
  wiki/Contests/Monthly_Beatmapping_Contest/en.md
  wiki/shared/news/2020-02-20-monthly-beatmapping-contest-1-results/mbc-badge-1.png
Labels: news, tournament, update

#3229 TWC2020 Rulechange and other fixes
  wiki/Tournaments/TWC/2020/en.md
Labels: size/S, tournament, update

#3237 Beatmap Veto: Clarify mediation conditions
  wiki/People/The_Team/Beatmap_Nominators/Beatmap_Veto/en.md
Labels: rule change, size/XS, update

#2924 Add Speed of Light Mania Tournament
  wiki/Tournaments/SOLMT/2019/en.md
  wiki/Tournaments/SOLMT/2019/img/badge.png
  wiki/Tournaments/SOLMT/2019/img/logo.png
Labels: new article, tournament

#3241 Fix broken crowns and purge whitespace in SOLMT
  wiki/Tournaments/SOLMT/2019/en.md
Labels: clean up, size/S

#3226 Update CFIC2 for Group Stage
  wiki/Tournaments/CFC/CFIC_2/en.md
  wiki/Tournaments/CFC/CFIC_2/fr.md
Labels: size/M, tournament, update

#3244 Add Peru and Dominican Republic as participants for 4DM2
  wiki/Tournaments/4DM/2/en.md
Labels: size/XS, tournament, update

#3245 Fix Xayah's user link
  news/2020-02-19-new-featured-artist-elfensjon.md
Labels: size/XS, update

#3243 Update staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/Staff_Log/2020/en.md
Labels: size/XS, update

#3225 Update BTT5 for Quarterfinals
  wiki/Tournaments/BTT/5/en.md
Labels: area:tournaments, size/M, type:update

#3087 Add Royal Danish osu!Cup
  wiki/Sitemap/en.md
  wiki/Tournaments/RDOC/2014/en.md
  wiki/Tournaments/RDOC/2014/img/logo.png
  wiki/Tournaments/RDOC/2016/en.md
  wiki/Tournaments/RDOC/2016/img/logo.png
  wiki/Tournaments/RDOC/2017/en.md
  wiki/Tournaments/RDOC/2017/img/badge.png
  wiki/Tournaments/RDOC/2017/img/logo.png
  wiki/Tournaments/RDOC/2018/en.md
  wiki/Tournaments/RDOC/2018/img/badge.png
  wiki/Tournaments/RDOC/2018/img/logo.jpg
  wiki/Tournaments/RDOC/2019/en.md
  wiki/Tournaments/RDOC/2019/img/badge.png
  wiki/Tournaments/RDOC/2019/img/logo.png
  wiki/Tournaments/RDOC/en.md
  wiki/Tournaments/en.md
Labels: area:tournaments, type:new article

#3228 [ZH] Add Submission
  wiki/Submission/en.md
  wiki/Submission/zh.md
Labels: area:translations, size/S, type:new article

#3251 osu!mania RC Hard Guideline change
  wiki/Ranking_Criteria/osu!mania/en.md
Labels: size/XS, special:rule change, type:update

#3224 Conclude oSEAT3
  wiki/Tournaments/en.md
  wiki/Tournaments/oSEAT/2/en.md
  wiki/Tournaments/oSEAT/3/en.md
Labels: area:tournaments, size/L, type:update

#3249 RDOC19 Conclude Qualifiers
  wiki/Tournaments/RDOC/2019/en.md
Labels: area:tournaments, size/M, type:update

#3247 Fill in missing BN languages
  wiki/People/The_Team/Beatmap_Nominators/en.md
Labels: area:modding, size/S, type:update

#3252 Update TWC2020 Teams
  wiki/Tournaments/TWC/2020/en.md
Labels: area:tournaments, size/M, type:update

#3250 Fix grammar and spelling in interface skinning
  wiki/Skinning/Interface/en.md
Labels: area:skinning, size/L, type:update

#3253 Update Yuri Cup for RO32
  wiki/Tournaments/YC/1/en.md
Labels: area:tournaments, size/L, type:update

#3255 Update CFIC 2 for Quarterfinals
  wiki/Tournaments/CFC/CFIC_2/en.md
  wiki/Tournaments/CFC/CFIC_2/fr.md
Labels: area:tournaments, size/L, type:update

#3256 Update BTT 5 for Semifinals
  wiki/Tournaments/BTT/5/en.md
Labels: size/M

#3258 Update Taiko Suiji Cup for Round of 32
  wiki/Tournaments/TSC/2020/en.md
  wiki/Tournaments/YC/1/en.md
Labels: area:tournaments, size/L, type:update

#3261 Update 4DM2 for Round of 16
  wiki/Tournaments/4DM/2/en.md
Labels: area:tournaments, size/L, type:update

#3262 Add New Featured Artist: Sound Souler newspost
  news/2020-02-26-new-featured-artist-sound-souler.md
Labels: area:news, size/M

#3265 Add pickems page to the link section of TWC 2020
  wiki/Tournaments/TWC/2020/en.md
Labels: area:tournaments, size/XS, type:update

#3264 Add more prizes for BTT 5
  wiki/Tournaments/BTT/5/en.md
Labels: area:tournaments, size/XS, type:update

#3263 Update otst! 2020 for Qualifiers
  wiki/Tournaments/otst!/2020/en.md
Labels: area:tournaments, size/L, type:update

#3233 Add Mappers' Report: February newspost
  news/2020-02-28-mappers-report-february.md
  wiki/shared/news/banners/the-mappers-report.jpg
  wiki/shared/news/banners/the-mappers-report@2x.jpg
Labels: area:news, type:new article

#3267 Fix minor typo in Mappers' Report article
  news/2020-02-28-mappers-report-february.md
Labels: size/XS

#3231 Fix formatting in Game Modes folder
  wiki/Game_Modes/en.md
  wiki/Game_Modes/es.md
  wiki/Game_Modes/fr.md
  wiki/Game_Modes/ja.md
  wiki/Game_Modes/osu!/en.md
  wiki/Game_Modes/osu!/es.md
  wiki/Game_Modes/osu!/fr.md
  wiki/Game_Modes/osu!/pt-br.md
  wiki/Game_Modes/osu!catch/en.md
  wiki/Game_Modes/osu!catch/fr.md
  wiki/Game_Modes/osu!mania/en.md
  wiki/Game_Modes/osu!mania/fr.md
  wiki/Game_Modes/osu!taiko/en.md
  wiki/Game_Modes/osu!taiko/fr.md
  wiki/Game_Modes/pt-br.md
  wiki/Game_Modes/ru.md
Labels: size/XXL, type:clean up
