Repository ppy/osu-wiki, pull requests merged in 2020-04, with the labels that each got.

#3391 Add New Featured Artist: MillhioreF newspost
  news/2020-04-01-new-featured-artist-millhioref.md
Labels: size/M

#3392 Fix incorrect link in recent FA article
  news/2020-04-01-new-featured-artist-millhioref.md
Labels: size/XS

#3393 Add preview credits to FA article
  news/2020-04-01-new-featured-artist-millhioref.md
Labels: size/XS

#3394 Update TSC 2020 for Grand Finals
  wiki/Tournaments/TSC/2020/en.md
Labels: area:tournaments, size/M, type:update

#3395 Update YC for Grand Finals
  wiki/Tournaments/YC/1/en.md
Labels: area:tournaments, size/M, type:update

#3396 Add Spring Indoors 2020 Fanart Contest announcement
  news/2020-04-02-spring-indoors-2020-fanart-contest.md
Labels: size/M

#3398 Add April Fools footnote to MillhioreF's FA announcement
  news/2020-04-01-new-featured-artist-millhioref.md
Labels: size/XS

#3372 [ZH] Update Ranking Criteria for each game mode
  wiki/Ranking_Criteria/Difficulty_Naming/zh.md
  wiki/Ranking_Criteria/osu!/zh.md
  wiki/Ranking_Criteria/osu!catch/zh.md
  wiki/Ranking_Criteria/osu!mania/zh.md
  wiki/Ranking_Criteria/osu!taiko/zh.md
  wiki/Ranking_Criteria/zh.md
Labels: area:translations, size/XXL, type:update

#3401 Add meganeko Featured Artist newspost
  news/2020-04-03-new-featured-artist-meganeko.md
Labels: size/M

#3351 [FI] Update Installation
  wiki/Installation/fi.md
Labels: area:translations, size/M, type:update

#3402 Replace Feral preview w/ Etude remix in meganeko article
  news/2020-04-03-new-featured-artist-meganeko.md
Labels: area:news, size/S, type:update

#3406 Add MBC April news post
  news/2020-04-04-monthly-beatmapping-contest-april.md
Labels: area:news, size/L

#3333 [SV] Add FAQ
  wiki/FAQ/sv.md
Labels: area:translations, size/XL

#3404 Add Collab stub
  wiki/Beatmaps/Beatmap_collaborations/en.md
  wiki/Glossary/en.md
  wiki/redirect.yaml
Labels: area:beatmapping, size/S, type:new article

#3399 Add Hype article
  wiki/Beatmaps/Hype/en.md
Labels: area:modding, size/S, type:new article

#3405 Add Beatmapset stub
  wiki/Beatmaps/Beatmapsets/en.md
  wiki/Beatmaps/Beatmapsets/img/in-game.jpg
Labels: area:beatmapping, type:new article

#3348 Add Timestamp
  wiki/Modding/Timestamp/en.md
Labels: area:modding, size/S, type:new article

#3306 Add Approach rate
  meta/unused/difficulty-settings.md
  wiki/Beatmap_Editor/Song_Setup/en.md
  wiki/Beatmap_Editor/Song_Setup/fr.md
  wiki/Beatmapping/Approach_rate/en.md
  wiki/Game_Modifiers/en.md
  wiki/Game_Modifiers/fr.md
  wiki/Glossary/en.md
  wiki/redirect.yaml
Labels: area:gameplay, size/M, type:new article

#3355 [IT] Add Main_Page, Update Registration
  wiki/Main_Page/it.md
  wiki/Registration/it.md
Labels: area:translations, size/M, type:new article, type:update

#3410 Conclude Taiko Suiji Cup 2020
  wiki/Tournaments/TSC/1/en.md
  wiki/Tournaments/TSC/1/fr.md
  wiki/Tournaments/TSC/1/img/badge.png
  wiki/Tournaments/TSC/2020/en.md
  wiki/Tournaments/TSC/2020/img/badge.png
  wiki/Tournaments/en.md
Labels: area:tournaments, type:clean up, type:update

#3320 [NL] Update Taiko Ranking Criteria and Rules
  wiki/Ranking_Criteria/osu!taiko/nl.md
  wiki/Rules/nl.md
Labels: area:translations, size/L, type:update

#3126 Rewrite Beatmap Discussion article
  wiki/Beatmap_Discussion/en.md
  wiki/Beatmap_Discussion/img/beatmap-discussion.jpg
  wiki/Beatmap_Discussion/img/beatmap-header.jpg
  wiki/Beatmap_Discussion/img/beatmap-status.jpg
  wiki/Beatmap_Discussion/img/difficulty-menu.jpg
  wiki/Beatmap_Discussion/img/discussions.jpg
  wiki/Beatmap_Discussion/img/history.jpg
  wiki/Beatmap_Discussion/img/info.jpg
  wiki/Beatmap_Discussion/img/mod-submission-field.jpg
  wiki/Beatmap_Discussion/img/mod-type.jpg
  wiki/Beatmap_Discussion/img/modding-field.jpg
  wiki/Beatmap_Discussion/img/modding-status.jpg
  wiki/Beatmap_Discussion/img/modding-tabs.jpg
  wiki/Beatmap_Discussion/img/mode-selection.jpg
  wiki/Beatmap_Discussion/img/modes.jpg
  wiki/Beatmap_Discussion/img/similar-post-warning.jpg
  wiki/Beatmap_Discussion/img/sorting-options.jpg
  wiki/Beatmap_Discussion/img/submission-field.jpg
  wiki/Beatmap_Discussion/img/thumbs.jpg
  wiki/Beatmap_Discussion/img/timeline.jpg
  wiki/Beatmap_Discussion/img/visual-timeline.jpg
Labels: area:modding, size/L, type:rewrite

#3418 Wrong formula in osu!standart Accuracy
  wiki/Game_Modes/osu!/en.md
  wiki/Game_Modes/osu!/es.md
  wiki/Game_Modes/osu!/fr.md
  wiki/Game_Modes/osu!/pt-br.md
Labels: area:gameplay, size/XS, type:update

#3414 Remove link reference style from the wiki
  wiki/Medals/Beatmap_Packs_0916/en.md
  wiki/Medals/Beatmap_Packs_0916/fr.md
  wiki/Medals/Beatmap_Packs_0916/pt-br.md
  wiki/Medals/Beatmap_Packs_0916/ru.md
  wiki/Multi/en.md
  wiki/Multi/ru.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/Play_Styles/en.md
  wiki/Play_Styles/es.md
  wiki/Replay/en.md
  wiki/Score/ScoreV1/en.md
  wiki/Score/en.md
  wiki/Skinning/History/en.md
  wiki/Skinning/Interface/en.md
  wiki/Skinning/osu!/en.md
  wiki/Skinning/osu!catch/en.md
  wiki/Skinning/osu!mania/en.md
  wiki/Skinning/osu!taiko/en.md
  wiki/Storyboard_Scripting/General_Rules/ja.md
  wiki/osu!_File_Formats/en.md
  wiki/osu!_File_Formats/id.md
  wiki/osu!stream/Song_List/en.md
  wiki/osu!stream/en.md
  wiki/osu!stream/id.md
  wiki/redirect.yaml
Labels: size/XXL, type:clean up

#3422 Update TWC 2020 for Grand Finals
  wiki/Tournaments/TWC/2020/en.md
Labels: area:tournaments, size/M, type:update

#3415 Fix recently merged translation pull requests
  wiki/Registration/it.md
  wiki/Rules/nl.md
  wiki/osu!_Program_Files/fr.md
Labels: area:translations, size/M, type:update

#3419 Update otst! 2020 for Grand Finals
  wiki/Tournaments/otst!/2020/en.md
Labels: area:tournaments, size/M, type:update

#3421 Add CWC 2020
  wiki/Tournaments/CWC/2020/en.md
  wiki/Tournaments/CWC/en.md
  wiki/shared/news/banners/CWC2020.jpg
  wiki/shared/news/banners/CWC2020@2x.jpg
Labels: area:tournaments, type:new article

#3408 Add CWC2020 Registration Announcement
  news/2020-04-07-cwc-2020-registrations-open.md
Labels: area:news, size/M, type:new article

#3368 [RU] Add Kudosu
  wiki/Modding/Kudosu/ru.md
Labels: area:translations, size/XS, type:new article

#3413 Add Project Loved: April 2020 news post
  news/2020-04-07-project-loved-april-2020.md
  wiki/shared/news/2020-04-07-project-loved-april-2020/catch/1-calameme-fortune.jpg
  wiki/shared/news/2020-04-07-project-loved-april-2020/catch/2-preserved-valkyria.jpg
  wiki/shared/news/2020-04-07-project-loved-april-2020/catch/3-remind.jpg
  wiki/shared/news/2020-04-07-project-loved-april-2020/catch/4-the-flawless-wings-of-yatagarasu.jpg
  wiki/shared/news/2020-04-07-project-loved-april-2020/mania/1-arche.jpg
  wiki/shared/news/2020-04-07-project-loved-april-2020/mania/2-der-wald-kors-k-remix.jpg
  wiki/shared/news/2020-04-07-project-loved-april-2020/mania/3-jumpstream-of-fighters-vol-2b.jpg
  wiki/shared/news/2020-04-07-project-loved-april-2020/mania/4-the-everlasting-guilty-crown.jpg
  wiki/shared/news/2020-04-07-project-loved-april-2020/mania/5-sudden-romance.jpg
  wiki/shared/news/2020-04-07-project-loved-april-2020/mania/6-polygon.jpg
  wiki/shared/news/2020-04-07-project-loved-april-2020/osu/1-genryuu-kaiko.jpg
  wiki/shared/news/2020-04-07-project-loved-april-2020/osu/2-tsugisogi-reconstruction-for-the-x.jpg
  wiki/shared/news/2020-04-07-project-loved-april-2020/osu/3-duan-di-da-wang-nyanpasu.jpg
  wiki/shared/news/2020-04-07-project-loved-april-2020/osu/4-lovely-girls-anthem-cobalt-green-eurobeatremix.jpg
  wiki/shared/news/2020-04-07-project-loved-april-2020/osu/5-frozen-gear.jpg
  wiki/shared/news/2020-04-07-project-loved-april-2020/taiko/1-loveloli-with-katagiri.jpg
  wiki/shared/news/2020-04-07-project-loved-april-2020/taiko/2-ao-to-natsu-katagiri-bootleg-sped-up-ver.jpg
Labels: area:news, type:new article

#3347 Fix 2013 news article dates incorrectly being 2014
  news/2013-09-06-august-2013-highlights.md
  news/2013-09-06-osu-monthly-beatmapping-contest-1.md
  news/2013-09-15-mapping-analysis-1-flow.md
  news/2013-09-15-the-adventures-of-clicking-circles-1-never.md
  news/2013-09-22-osu-world-cup-now-accepting-map-suggestions.md
  news/2013-10-04-important-pp-performance-point-changes.md
  news/2013-10-05-tell-us-about-amazing-storyboards.md
  news/2013-10-08-storyboard-showcase-kozato-45nen-no-yukizakura.md
  news/2013-10-11-how-happy-are-you-with-each-aspect-of-osu.md
  news/2013-10-15-osu-world-cup-2013-registration-phase.md
  news/2013-10-19-storyboard-showcase-perfume-laser-beam.md
  news/2013-10-20-monthly-beatmapping-contest-1-results.md
  news/2013-10-21-september-2013-ranking-chart.md
  news/2013-10-28-monthly-beatmapping-contest-2-submissions-open.md
  news/2013-10-31-storyboard-showcase-sound-horizon-yield.md
  news/2013-11-04-skin-showcase-nexus.md
  news/2013-11-12-storyboard-showcase-owl-city-gold.md
  news/2013-11-19-skin-showcase-oxygen.md
  news/2013-11-22-october-2013-ranking-chart.md
  news/2013-11-29-storyboard-showcase-brief-and-trunks-konbini.md
  news/2013-12-05-skin-showcase-shingeki-no-kyojin.md
  news/2013-12-08-osu-world-cup-2013-results.md
  news/2013-12-15-monthly-beatmapping-contest-3-submissions-open.md
  news/2013-12-19-introducing-the-osu-academy.md
  news/2013-12-22-november-2013-ranking-chart.md
  news/2013-12-31-happy-new-year.md
Labels: area:news, size/M, type:clean up

#3409 Fix empty header in Mappers' Report news post
  news/2020-02-28-mappers-report-february.md
Labels: area:news, size/XS, type:update

#3428 Add New Featured Artist: Zekk newspost
  news/2020-04-08-new-featured-artist-zekk.md
Labels: size/M

#3432 Escape quotation marks in image elements
  wiki/Storyboards/ko.md
  wiki/Storyboards/pt.md
Labels: type:clean up

#3433 Clarify storyboarding ranking criteria guideline
  wiki/Ranking_Criteria/en.md
Labels: size/XS

#3434 Remove unused definitions from the wiki
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Developers/en.md
  wiki/People/The_Team/Developers/fr.md
  wiki/People/The_Team/Global_Moderation_Team/fr.md
  wiki/People/The_Team/Global_Moderation_Team/ko.md
  wiki/People/The_Team/fr.md
  wiki/People/The_Team/osu!_Alumni/de.md
  wiki/People/The_Team/osu!_Alumni/es.md
  wiki/People/The_Team/osu!_Alumni/fr.md
  wiki/People/The_Team/osu!_Alumni/id.md
  wiki/People/The_Team/osu!_Alumni/it.md
  wiki/People/The_Team/osu!_Alumni/ja.md
  wiki/People/The_Team/osu!_Alumni/ko.md
  wiki/People/The_Team/osu!_Alumni/pl.md
  wiki/People/The_Team/osu!_Alumni/pt.md
  wiki/People/The_Team/osu!_Alumni/ru.md
  wiki/People/The_Team/osu!_Alumni/tr.md
  wiki/People/The_Team/osu!_Alumni/zh.md
  wiki/Tournaments/BTT/4/en.md
  wiki/Tournaments/CMT_4K/2018/en.md
  wiki/Tournaments/CMT_4K/2018/zh.md
  wiki/Tournaments/GO/3/en.md
  wiki/Tournaments/GO/3/fr.md
  wiki/Tournaments/GST/1/en.md
  wiki/Tournaments/GST/2/en.md
  wiki/Tournaments/MP/2019_4K/en.md
  wiki/Tournaments/MWC/2019_4K/en.md
  wiki/Tournaments/OWC/2/en.md
  wiki/Tournaments/OWC/2017/en.md
  wiki/Tournaments/OWC/2017/ko.md
  wiki/Tournaments/OWC/2019/en.md
  wiki/Tournaments/OZT/2018/en.md
  wiki/Tournaments/SOFT/4/en.md
  wiki/Tournaments/SOLMT/2019/en.md
  wiki/Tournaments/TWC/2014/en.md
  wiki/Tournaments/en.md
  wiki/Tournaments/o!mAC/2019/en.md
Labels: size/L, type:clean up

#3431 Remove a space from news' file name
  news/2017-09-07-osu-mania-4k-world-cup-semifinals-recap.md
Labels: area:news, type:clean up

#3412 [ZH] Update osu!api article
  wiki/osu!api/zh.md
Labels: area:translations, size/S, type:update

#2951 [RU] Add NAT
  wiki/People/The_Team/Nomination_Assessment_Team/ru.md
Labels: area:translations, size/M

#3426 Clean up Internet Relay Chat article
  wiki/Internet_Relay_Chat/de.md
  wiki/Internet_Relay_Chat/en.md
  wiki/Internet_Relay_Chat/fr.md
  wiki/Internet_Relay_Chat/id.md
  wiki/Internet_Relay_Chat/ja.md
  wiki/Internet_Relay_Chat/ko.md
  wiki/Internet_Relay_Chat/pl.md
  wiki/Internet_Relay_Chat/pt.md
  wiki/Internet_Relay_Chat/ru.md
  wiki/Internet_Relay_Chat/zh.md
Labels: size/L, type:clean up

#3423 Remove literal URLs from the wiki
  news/2015-03-28-osuweekly-3.md
  news/2017-04-15-osuweekly-100.md
  news/2017-06-07-osu-weekly-106.md
  news/2017-09-24-scorewatch-september-week-2.md
  wiki/FAQ/en.md
  wiki/FAQ/fr.md
  wiki/FAQ/sv.md
  wiki/Guides/Videos_From_Youtube/pt-br.md
  wiki/Legal/Copyright/ru.md
  wiki/People/Community_Contributors/pt-br.md
  wiki/Performance_Points/ppv1/zh.md
  wiki/Reporting_Bad_Behaviour/Handling_Foul_Play/fr.md
  wiki/Storyboard_Scripting/Commands/en.md
  wiki/Tournaments/CWC/2014/en.md
  wiki/Tournaments/CWC/2014/ko.md
  wiki/Tournaments/T2T/2019/en.md
  wiki/osu!academy/de.md
  wiki/osu!academy/pl.md
  wiki/osu!academy/pt.md
  wiki/osu!academy/ru.md
  wiki/osu!stream/Song_List/en.md
  wiki/osu!supporter/de.md
  wiki/osu!supporter/es.md
  wiki/osu!supporter/it.md
  wiki/osu!supporter/nl.md
  wiki/osu!supporter/pt.md
  wiki/osu!supporter/th.md
  wiki/osu!supporter/zh.md
  wiki/osu!talk/de.md
  wiki/osu!talk/fr.md
  wiki/osu!talk/id.md
  wiki/osu!talk/it.md
  wiki/osu!talk/pl.md
  wiki/osu!talk/pt.md
Labels: size/L, type:clean up

#3407 Add winter Spotlights 2020 newspost
  news/2020-04-09-beatmap-spotlights-winter-2020.md
  wiki/shared/news/2020-04-09-beatmap-spotlights-winter-2020/catch/chocolate.jpg
  wiki/shared/news/2020-04-09-beatmap-spotlights-winter-2020/catch/lights.jpg
  wiki/shared/news/2020-04-09-beatmap-spotlights-winter-2020/catch/loving.jpg
  wiki/shared/news/2020-04-09-beatmap-spotlights-winter-2020/catch/sweet.jpg
  wiki/shared/news/2020-04-09-beatmap-spotlights-winter-2020/header.png
  wiki/shared/news/2020-04-09-beatmap-spotlights-winter-2020/header@2x.png
  wiki/shared/news/2020-04-09-beatmap-spotlights-winter-2020/mania/altros.jpg
  wiki/shared/news/2020-04-09-beatmap-spotlights-winter-2020/mania/every.jpg
  wiki/shared/news/2020-04-09-beatmap-spotlights-winter-2020/mania/experiment.jpg
  wiki/shared/news/2020-04-09-beatmap-spotlights-winter-2020/mania/oceanus.jpg
  wiki/shared/news/2020-04-09-beatmap-spotlights-winter-2020/mania/transhuman.jpg
  wiki/shared/news/2020-04-09-beatmap-spotlights-winter-2020/osu/24.jpg
  wiki/shared/news/2020-04-09-beatmap-spotlights-winter-2020/osu/buried.jpg
  wiki/shared/news/2020-04-09-beatmap-spotlights-winter-2020/osu/felys.jpg
  wiki/shared/news/2020-04-09-beatmap-spotlights-winter-2020/osu/haryo.jpg
  wiki/shared/news/2020-04-09-beatmap-spotlights-winter-2020/osu/precious.jpg
  wiki/shared/news/2020-04-09-beatmap-spotlights-winter-2020/osu/sealer.jpg
  wiki/shared/news/2020-04-09-beatmap-spotlights-winter-2020/osu/umineko.jpg
  wiki/shared/news/2020-04-09-beatmap-spotlights-winter-2020/osu/xaaa.jpg
  wiki/shared/news/2020-04-09-beatmap-spotlights-winter-2020/taiko/1000.jpg
  wiki/shared/news/2020-04-09-beatmap-spotlights-winter-2020/taiko/dungeon.jpg
  wiki/shared/news/2020-04-09-beatmap-spotlights-winter-2020/taiko/hibi.jpg
  wiki/shared/news/2020-04-09-beatmap-spotlights-winter-2020/taiko/leviathan.jpg
Labels: area:news

#3435 Fix the introduction in winter Spotlights 2020 newspost
  news/2020-04-09-beatmap-spotlights-winter-2020.md
Labels: size/XS

#3436 Fix spotllights ranking url in winter Spotlights 2020 newspost
  news/2020-04-09-beatmap-spotlights-winter-2020.md
Labels: size/XS

#3437 Add Aspire V newspost
  news/2020-04-09-aspire-v-a-new-format.md
Labels: size/L

#3439 [KO] Remove duplicate line from CWC 2014
  wiki/Tournaments/CWC/2014/ko.md
Labels: size/XS, type:clean up

#3287 [ZH] Add People category articles
  wiki/People/Community_Contributors/zh.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Developers/en.md
  wiki/People/The_Team/Developers/fr.md
  wiki/People/The_Team/Developers/zh.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
  wiki/People/The_Team/Nomination_Assessment_Team/zh.md
  wiki/People/The_Team/Project_Loved_Team/zh.md
  wiki/People/The_Team/Support_Team/zh.md
  wiki/People/The_Team/osu!_Alumni/en.md
  wiki/People/The_Team/osu!_Alumni/zh.md
  wiki/People/The_Team/zh.md
  wiki/People/Users_with_unique_titles/zh.md
Labels: area:translations, size/XXL, type:new article, type:update

#3441 Conclude RDOC2019
  wiki/Tournaments/RDOC/2019/en.md
  wiki/Tournaments/en.md
Labels: area:tournaments, size/L, type:update

#3425 Add Mappers' Report: March news post
  news/2020-04-07-mappers-report-march.md
Labels: area:news, size/L, type:new article

#3443 fix authors + redate mappers' report march article
  news/2020-04-11-mappers-report-march.md
Labels: size/XS

#3442 [ZH] Fix notes translation & consistency in Team pages
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
  wiki/People/The_Team/Nomination_Assessment_Team/zh.md
  wiki/People/The_Team/Support_Team/zh.md
Labels: area:translations, size/S, type:update

#3444 change hour on mappers' report march article
  news/2020-04-11-mappers-report-march.md
Labels: size/XS

#3187 Add Overall difficulty article
  meta/unused/difficulty-settings.md
  wiki/Beatmapping/Overall_difficulty/en.md
Labels: area:gameplay, size/M, type:new article

#3445 Miscellaneous article formatting clean-ups
  meta/unused/traitement-des-erreurs.md
  wiki/Beatmap_Editor/Compose/en.md
  wiki/Beatmap_Editor/Compose/fr.md
  wiki/FAQ/tl.md
  wiki/Interface/de.md
  wiki/Mascots/de.md
  wiki/Mascots/it.md
  wiki/Mascots/pl.md
  wiki/Mascots/pt.md
  wiki/Mascots/tr.md
  wiki/People/Community_Contributors/de.md
  wiki/People/Community_Contributors/id.md
  wiki/People/Community_Contributors/it.md
  wiki/People/Community_Contributors/pl.md
  wiki/People/Community_Contributors/pt.md
  wiki/People/The_Team/Support_Team/es.md
  wiki/Performance_Points/ppv1/bg.md
  wiki/Performance_Points/ppv1/fr.md
  wiki/Performance_Points/ppv1/zh.md
  wiki/Ranking_Criteria/osu!mania/fr.md
  wiki/Reporting_Bad_Behaviour/Handling_Foul_Play/fr.md
  wiki/Shortcut_key_reference/id.md
  wiki/Tournaments/CWC/2014/zh.md
  wiki/osu!stream/id.md
Labels: size/L, type:clean up

#3446 Conclude osu! TV Size Tournament 2020
  wiki/Tournaments/en.md
  wiki/Tournaments/otst!/2018/en.md
  wiki/Tournaments/otst!/2019/en.md
  wiki/Tournaments/otst!/2020/en.md
  wiki/Tournaments/otst!/2020/img/badge.png
Labels: area:tournaments, type:update

#3192 Add Combo article
  wiki/Beatmapping/Combo/en.md
Labels: area:gameplay, size/M, type:new article

#3175 Add Circle size article
  wiki/Beatmapping/Circle_size/en.md
Labels: area:gameplay, size/S, type:new article

#3448 Add osu! Indonesia Tournament #10 (2020)
  wiki/Tournaments/OIT/2020/en.md
  wiki/Tournaments/OIT/2020/img/badge.jpg
  wiki/Tournaments/OIT/2020/img/logo.jpg
  wiki/Tournaments/OIT/2020/img/podium.jpg
  wiki/Tournaments/OIT/en.md
Labels: area:tournaments, type:new article

#3438 Add Spotlights Renewal News Article
  news/2020-04-13-renewing-the-beatmap-spotlights.md
  wiki/shared/news/banners/beatmap-spotlights.jpg
  wiki/shared/news/banners/beatmap-spotlights@2x.jpg
Labels: area:news, size/M, type:new article

#3174 Add Health articles
  wiki/Beatmapping/HP_drain_rate/en.md
  wiki/Beatmapping/Health/en.md
  wiki/Beatmapping/Health_drain/en.md
Labels: area:gameplay, size/L, type:new article

#3375 [PT-BR] Translate Help Centre
  wiki/Help_Centre/pt-br.md
Labels: area:translations, size/XL, type:new article

#3452 Add Mod effects section to Circle size
  wiki/Beatmapping/Circle_size/en.md
Labels: area:beatmapping, size/XS, type:update

#3453 Update TWC winner user titles
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/pt-br.md
  wiki/People/Users_with_unique_titles/zh.md
Labels: area:community, size/S, type:update

#3454 Update Project Loved Team members
  wiki/People/The_Team/Project_Loved_Team/en.md
Labels: area:community, size/XS, type:update

#3447 Reword 1/3 Futsuu guideline in taiko RC
  wiki/Ranking_Criteria/osu!taiko/en.md
Labels: area:ranking criteria, size/XS, type:update

#3427 Update meta/group-info
  meta/group-info/en.yaml
  meta/group-info/fr.yaml
  meta/group-info/id.yaml
  meta/group-info/ko.yaml
  meta/group-info/pl.yaml
  meta/group-info/ru.yaml
  meta/group-info/zh.yaml
  wiki/People/The_Team/Global_Moderation_Team/en.md
Labels: area:utilities, size/L, type:update

#3424 Clean up How to get your map modded and mark it as outdated
  wiki/Guides/Getting_Your_Map_Modded/en.md
Labels: area:modding, size/S, type:update

#3451 [RU] Update osu!alumni
  wiki/People/The_Team/osu!_Alumni/ru.md
Labels: area:translations, size/L, type:update

#3456 Correct "Scheduling instructions" for 3v3
  wiki/Tournaments/CWC/2020/en.md
Labels: size/XS

#3173 Add defunct modding usergroups & pubble stubs
  wiki/Modding/BAT_Managers/en.md
  wiki/Modding/Beatmap_Appreciation_Team/en.md
  wiki/Modding/MAT_Leaders/en.md
  wiki/Modding/Mapping_Assistance_Team/en.md
  wiki/Modding/Proto-bubble/en.md
  wiki/redirect.yaml
Labels: area:modding, size/M, type:new article

#3459 Add New Featured Artist: MIMI newspost
  news/2020-04-15-new-featured-artist-mimi.md
Labels: size/M

#3458 Unify the style of table aligns in news posts
  news/2018-02-22-osu-mania-7k-world-cup-ro16-recap.md
  news/2018-06-23-osu-mapping-olympiad-1-results.md
  news/2018-07-25-MWC4K-2018-registrations-open.md
  news/2019-02-06-osu-mapping-olympiad-4-results.md
  news/2019-05-22-osu-mapping-olympiad-5-results.md
  news/2019-05-29-CWC-2019-registrations-open.md
  news/2019-08-20-MWC4K-2019-registrations-open.md
Labels: type:clean up

#3460 [PT-BR] Add flag references and group info
  meta/flag-references/pt-br.md
  meta/group-info/en.yaml
  meta/group-info/pt-br.yaml
Labels: area:translations, area:utilities, size/L

#3457 Update People and Staff Log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/pt-br.md
  wiki/People/Users_with_unique_titles/zh.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/L, type:update

#3400 Add osu!dev Discord server article
  wiki/osu!dev_Discord_server/en.md
Labels: area:community, size/M, type:new article

#3462 Minor improvements to osu! Program Files article
  wiki/osu!_Program_Files/en.md
Labels: size/XS

#3463 Add Spring Indoors 2020 voting newspost
  news/2020-04-16-spring-indoors-2020-voting-open.md
Labels: size/S

#3464 Add missing newline at end of file
  news/2020-04-02-spring-indoors-2020-fanart-contest.md
Labels: size/XS, type:clean up

#3466 Fix another missing EOF newline in recent news post
  news/2020-04-15-new-featured-artist-mimi.md
Labels: size/XS, type:clean up

#3416 [RU] Update Installation, Add Installation/macOS
  wiki/Installation/en.md
  wiki/Installation/macOS/ru.md
  wiki/Installation/ru.md
Labels: area:translations, size/L, stale merge, type:new article, type:update

#3097 Add modding guide for osu!mania
  wiki/Guides/osu!mania_modding_guide/en.md
  wiki/Guides/osu!mania_modding_guide/img/difficulties.jpg
  wiki/Guides/osu!mania_modding_guide/img/status.jpg
Labels: area:modding, type:new article

#3470 Add MBC March Results news post
  news/2020-04-21-monthly-beatmapping-contest-3-results.md
  wiki/Contests/Monthly_Beatmapping_Contest/en.md
Labels: size/M

#3471 Conclude Yuri Cup
  wiki/Tournaments/YC/1/en.md
  wiki/Tournaments/YC/1/img/badge.png
  wiki/Tournaments/en.md
Labels: area:tournaments, type:update

#3473 Add New Featured Artist: CircusP newspost
  news/2020-04-22-new-featured-artist-circusp.md
Labels: size/M

#3474 Fix CircusP newspost
  news/2020-04-22-new-featured-artist-circusp.md
Labels: size/XS

#3129 Rewrite Beatmap editor index
  wiki/Beatmap_Editor/en.md
  wiki/Beatmap_Editor/fr.md
  wiki/Beatmap_Editor/img/compose.jpg
  wiki/Beatmap_Editor/ko.md
  wiki/Beatmap_Editor/pt-br.md
  wiki/Beatmap_Editor/ru.md
Labels: area:beatmapping, size/M, type:rewrite

#3475 Add Mapping Olympiad 6 results newspost
  news/2020-04-23-osu-mapping-olympiad-6-results.md
Labels: area:news, size/M, type:new article

#3481 Add Spring Indoors 2020 fanart contest results newspost
  news/2020-04-24-spring-indoors-2020-fanart-contest-results.md
Labels: size/L

#3482 Add contest link and fix missing word
  news/2020-04-24-spring-indoors-2020-fanart-contest-results.md
Labels: size/XS

#3115 Rewrite Beatmaps article
  wiki/Beatmaps/en.md
Labels: area:beatmapping, size/M, type:rewrite

#3487 Fix typo in Skinning Tutorial/Interface
  wiki/Skinning_Tutorial/Interface/en.md
Labels: area:skinning, size/XS, type:update

#3503 NAT: Update Promotion Criteria
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
Labels: size/XS

#3506 Add New Featured Artist: PUP newspost
  news/2020-04-29-new-featured-artist-pup.md
Labels: size/M

#3500 Add Catch French Beginner 4 article
  wiki/Tournaments/CFB/4/en.md
  wiki/Tournaments/CFB/4/fr.md
  wiki/Tournaments/CFB/4/img/logo.jpg
  wiki/Tournaments/CFB/en.md
  wiki/Tournaments/CFB/fr.md
Labels: area:tournaments, type:new article

#3499 CWC2020 Staff and Teams Update
  wiki/Tournaments/CWC/2020/en.md
Labels: area:tournaments, size/L, type:update
