Repository ppy/osu-wiki, pull requests merged in 2020-10, with the labels that each got.

#4276 BN Rules: Temporary Freeze on Hybrids
  wiki/People/The_Team/Beatmap_Nominators/Rules/en.md
Labels: size/XS

#4277 Change unsupported beat snap example to "1/11" in RC
  wiki/Ranking_Criteria/en.md
  wiki/Ranking_Criteria/ko.md
  wiki/Ranking_Criteria/ru.md
  wiki/Ranking_Criteria/zh.md
Labels: area:ranking criteria, size/M, type:clean up

#4278 [HU] Fix a typo in BanchoBot article
  wiki/BanchoBot/hu.md
Labels: size/XS

#4279 Update Users with unique titles listings
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/th.md
  wiki/People/Users_with_unique_titles/tr.md
Labels: size/M

#4280 Add index page for 112's Tournaments
  wiki/Tournaments/112/en.md
Labels: size/S

#4283 Fix broken tags YAML
  wiki/Beatmaps/Beatmap_ID/en.md
  wiki/Beatmaps/Beatmapset_ID/en.md
Labels: size/XS, type:clean up

#4281 Add Expectations for Beatmap Nominators
  wiki/People/The_Team/Beatmap_Nominators/Expectations/en.md
  wiki/People/The_Team/Beatmap_Nominators/Rules/en.md
  wiki/People/The_Team/Beatmap_Nominators/Rules/tr.md
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
Labels: area:community, area:modding, size/M, special:rule change, type:new article

#4284 Fix news post title
  news/2016-11-08-osustandard-bn-examination.md
Labels: size/XS

#4221 [TR] Add Visual Content Considerations
  wiki/Rules/Visual_Content_Considerations/tr.md
Labels: area:translations, size/L, type:new article

#4285 BN Rules: Unfreeze Hybrids
  wiki/People/The_Team/Beatmap_Nominators/Rules/en.md
Labels: size/XS

#4231 [ES] Add flag references and group info
  meta/flag-references/es.md
  meta/group-info/es.yaml
  meta/group-info/zh.yaml
Labels: area:translations, area:utilities, size/L

#4286 Update group listings and Staff log, fix typo on BN expectations
  meta/group-info/en.yaml
  meta/group-info/es.yaml
  meta/group-info/pt-br.yaml
  meta/group-info/tr.yaml
  wiki/People/The_Team/Beatmap_Nominators/Expectations/en.md
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/es.md
  wiki/People/The_Team/Support_Team/es.md
  wiki/People/The_Team/osu!_Alumni/es.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, area:modding, size/L, type:clean up, type:update

#4288 Add Halloween Fanart Contest Voting Open newspost
  news/2020-10-03-halloween-fanart-contest-voting-open.md
Labels: size/M

#4287 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/L, type:update

#4289 [ZH] Fix English redirect in OWC2020
  wiki/Tournaments/OWC/2020/zh.md
Labels: size/XS

#4292 Conclude Coffee Hispanic Tournament
  wiki/Tournaments/CH/CHS_1/en.md
  wiki/Tournaments/CH/CHS_1/es.md
  wiki/Tournaments/CH/CHS_1/img/badge.jpg
  wiki/Tournaments/CH/CHS_1/img/logo.jpg
  wiki/Tournaments/CH/CHT_1/en.md
  wiki/Tournaments/CH/CHT_1/es.md
  wiki/Tournaments/CH/CHT_1/img/badge.png
  wiki/Tournaments/CH/CHT_1/img/logo.jpg
  wiki/Tournaments/CH/en.md
  wiki/Tournaments/CH/es.md
  wiki/Tournaments/CHT/en.md
  wiki/Tournaments/CHT/es.md
  wiki/Tournaments/en.md
Labels: area:tournaments, type:update

#3868 Create Gameplay stubs (Sliderbreak, Tablet cover, Fingerlock, Mind block)
  wiki/Gameplay/Fingerlock/en.md
  wiki/Gameplay/Mind_block/en.md
  wiki/Gameplay/Slider_break/en.md
  wiki/Gameplay/Tablet_cover/en.md
  wiki/Gameplay/en.md
Labels: area:gameplay, size/L, type:new article

#4290 Add New Featured Artist: Sable Hills newspost
  news/2020-10-03-new-featured-artist-sable-hills.md
Labels: area:news, size/M

#4293 Add linting rule for wiki links
  .remarkrc.js
  package-lock.json
  package.json
Labels: area:utilities, size/XS, type:update

#4294 Conclude Indonesia Draft Cup 2020
  wiki/Tournaments/IDC/2020/en.md
  wiki/Tournaments/en.md
Labels: area:tournaments, size/M, type:update

#4296 Update Project Loved Team members
  wiki/People/The_Team/Project_Loved_Team/en.md
  wiki/People/The_Team/Project_Loved_Team/ru.md
  wiki/People/The_Team/Project_Loved_Team/tr.md
  wiki/People/The_Team/Project_Loved_Team/zh.md
Labels: area:community, size/S, type:update

#4291 Add GMT Applications newspost
  news/2020-10-04-global-moderation-team-applications-open.md
  wiki/shared/news/banners/gmt-generic.jpg
  wiki/shared/news/banners/gmt-generic@2x.jpg
Labels: area:news, size/M, type:new article

#4297 Remove duplicate sliderbreak article
  wiki/Full_combo/en.md
  wiki/Gameplay/Slider_break/id.md
  wiki/Gameplay/Slider_break/th.md
  wiki/Gameplay/Sliderbreak/en.md
  wiki/Glossary/Combo_(score_multiplier)/en.md
  wiki/redirect.yaml
Labels: area:gameplay, size/S

#4298 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: size/L

#4300 [RU] Fix a typo in Global Moderation Team
  wiki/People/The_Team/Global_Moderation_Team/ru.md
Labels: area:translations, size/XS, type:update

#4301 Fix hatnote formatting typo in Fingerlock
  wiki/Gameplay/Fingerlock/en.md
Labels: size/XS, type:clean up

#4303 Clarify CV formatting rule in RC
  wiki/Ranking_Criteria/en.md
Labels: area:ranking criteria, size/XS, type:update

#4307 Add Monthly Beatmapping Contest October news post
  news/2020-10-06-monthly-beatmapping-contest-october.md
Labels: size/M

#4306 shortcut reference update timing section
  wiki/Shortcut_key_reference/en.md
Labels: area:beatmapping, area:client, size/XS, type:update

#4274 Reorganize and clarify title markers section of RC
  wiki/Ranking_Criteria/en.md
Labels: area:ranking criteria, size/S, type:clean up

#4310 Add New Featured Artist: Omoi newspost
  news/2020-10-07-new-featured-artist-omoi.md
Labels: size/M

#4311 [ZH] Correct translation in OWC2020
  wiki/Tournaments/OWC/2020/zh.md
Labels: size/XS

#4312 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: size/S

#4313 Update macOS installation
  wiki/Installation/macOS/en.md
Labels: area:client, size/XS, type:update

#4316 Update BN page for hybrid related fix
  wiki/People/The_Team/Beatmap_Nominators/en.md
Labels: size/XS

#4315 Add shortcuts for user titles
  wiki/redirect.yaml
Labels: size/S, type:update

#4317 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: size/S

#4308 Add Spotlights Autumn 2020 newspost
  news/2020-10-09-beatmap-spotlights-season-2-autumn-2020.md
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/bronze_1.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/bronze_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/bronze_2.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/bronze_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/bronze_3.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/bronze_3@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/copper_1.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/copper_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/copper_2.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/copper_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/copper_3.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/copper_3@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/diamond_1.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/diamond_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/diamond_2.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/diamond_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/diamond_3.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/diamond_3@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/gold_1.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/gold_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/gold_2.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/gold_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/gold_3.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/gold_3@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/iron_1.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/iron_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/iron_2.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/iron_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/iron_3.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/iron_3@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/platinum_1.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/platinum_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/platinum_2.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/platinum_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/platinum_3.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/platinum_3@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/ri_1.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/ri_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/ri_2.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/ri_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/ri_3.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/ri_3@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/silver_1.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/silver_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/silver_2.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/silver_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/silver_3.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2020/silver_3@2x.png
Labels: area:news

#4319 Fix Spotlights Autumn 2020 newspost
  news/2020-10-09-beatmap-spotlights-season-2-autumn-2020.md
Labels: size/XS

#4321 Add New Featured Artist: cute girls doing cute things
  news/2020-10-10-new-featured-artist-cute-girls-doing-cute-things.md
Labels: size/M

#4322 MP7K Conclusion update
  wiki/Tournaments/MP/2019_7K/en.md
Labels: area:tournaments, size/L, type:update

#4324 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: size/S

#4325 Add Halloween 2020 Fanart Contest results newspost
  news/2020-10-11-halloween-fanart-contest-results.md
Labels: area:news, size/M

#4330 Add OWC 2020 to the OWC index
  wiki/Tournaments/OWC/en.md
  wiki/Tournaments/OWC/ru.md
Labels: area:tournaments, size/XS, type:update

#4326 Update AGTS 2020 for Finals
  wiki/Tournaments/GTS/AGTS_2020/en.md
  wiki/Tournaments/GTS/IGTS_2020/en.md
Labels: size/M

#4336 Add New Featured Artist: P4koo newspost
  news/2020-10-14-new-featured-artist-p4koo.md
Labels: size/M

#4337 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/XS, type:update

#4339 Clarify Ranking Criteria
  wiki/Ranking_Criteria/en.md
Labels: size/XS, special:rule change

#4341 Reword a clarification in Ranking Criteria
  wiki/Ranking_Criteria/en.md
Labels: size/XS

#4323 OWC2020 Teams participating
  wiki/Tournaments/OWC/2020/en.md
Labels: area:tournaments, size/M, type:update

#4342 OWC2020 small captain fix
  wiki/Tournaments/OWC/2020/en.md
Labels: size/XS

#4329 [ZH] OWC2020 Teams participating
  wiki/Tournaments/OWC/2020/zh.md
Labels: area:translations, size/M, type:update

#4158 [ZH] Skinning
  wiki/Skinning/zh.md
Labels: area:translations, size/S, type:new article

#4331 [UK] Full translation of OWCG
  wiki/osu!_wiki_Contribution_Guide/Common_Issues/uk.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/uk.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Web_Interface/uk.md
  wiki/osu!_wiki_Contribution_Guide/uk.md
Labels: area:translations, size/L, type:new article

#4232 [ES] Contribution Guide
  wiki/osu!_wiki_Contribution_Guide/Common_Issues/es.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/es.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Web_Interface/es.md
  wiki/osu!_wiki_Contribution_Guide/es.md
Labels: area:translations, size/L, type:new article

#4263 [TH] Performance points
  wiki/Performance_points/th.md
Labels: area:gameplay, area:translations, size/L, type:new article

#4261 [PT-BR] Update group-info
  meta/group-info/pt-br.yaml
Labels: area:translations, area:utilities, size/S, type:update

#4345 [PT-BR] Fix casing of group-info entry
  meta/group-info/pt-br.yaml
Labels: area:utilities, size/XS, type:clean up

#4333 Update Beatmap Spotlights for Autumn 2020
  wiki/Beatmap_Spotlights/en.md
Labels: area:beatmapping, area:tournaments, size/S, type:update

#4347 New Featured Artist: ALEPH newspost
  news/2020-10-17-new-featured-artist-aleph.md
Labels: size/M

#4348 Update mascot names on osu!mania page
  wiki/Game_mode/osu!mania/en.md
Labels: size/XS

#4350 OWC2020 Qualifiers Mappool update
  wiki/Tournaments/OWC/2020/en.md
Labels: area:tournaments, size/S, type:update

#4351 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/S, type:update

#4343 [RU] Add flag references and group info metadata
  meta/flag-references/ru.md
  meta/group-info/ru.yaml
Labels: area:translations, area:utilities, size/L, type:new article

#4318 Add o!mAC2020 tournament article
  wiki/Tournaments/o!mAC/2020/en.md
  wiki/Tournaments/o!mAC/2020/img/logo.jpg
  wiki/Tournaments/o!mAC/en.md
Labels: area:tournaments, type:new article

#4359 Add New Featured Artist: Morimori Atsushi newspost
  news/2020-10-21-new-featured-artist-morimori-atsushi.md
Labels: size/M

#4352 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/M, type:update

#4358 Update AGTS 2020 for Grand Finals
  wiki/Tournaments/GTS/AGTS_2020/en.md
Labels: size/M

#4355 Update Installation/macOS
  wiki/Installation/macOS/en.md
Labels: area:client, size/M, type:update

#4357 Add osu! Beatmapping World Championship 2020 Concludes newspost
  news/2020-10-22-beatmapping-world-championship-2020-concludes.md
  wiki/shared/news/2020-10-22-beatmapping-world-championship-concludes/podium.png
Labels: area:news, type:new article

#4360 Conclude osu! Beatmapping World Championship 2020
  wiki/Contests/oBWC/2/en.md
  wiki/Contests/oBWC/2/img/podium.png
Labels: area:community, blocked, type:update

#4362 Outdate Installation/macOS translations
  wiki/Installation/macOS/id.md
  wiki/Installation/macOS/ko.md
  wiki/Installation/macOS/ru.md
  wiki/Installation/macOS/tr.md
Labels: size/S, type:clean up

#4320 Update unplayed search filter usage
  wiki/Interface/en.md
Labels: area:client, size/XS, type:update

#4363 Add Autumn 2020 Spotlights Playlists B and C
  wiki/Beatmap_Spotlights/Seasons/2020_Autumn/en.md
Labels: area:beatmapping, area:tournaments, size/M, type:update

#4361 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/M, type:update

#4252 [ID] Add The Team and group articles
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Developers/id.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/Nomination_Assessment_Team/id.md
  wiki/People/The_Team/Project_Loved_Team/id.md
  wiki/People/The_Team/Support_Team/id.md
  wiki/People/The_Team/id.md
  wiki/People/The_Team/osu!_Alumni/id.md
Labels: area:translations, size/XXL, type:new article, type:update

#4305 [ZH] Update Performance Points
  wiki/Performance_points/ppv1/zh.md
  wiki/Performance_points/zh.md
Labels: area:translations, size/L, type:update

#4353 Add SOL2 tournament article
  wiki/Tournaments/SOL/2019/en.md
  wiki/Tournaments/SOL/2019/img/badge.png
  wiki/Tournaments/SOL/2019/img/logo.png
  wiki/Tournaments/SOL/2020/en.md
  wiki/Tournaments/SOL/2020/img/badge.jpg
  wiki/Tournaments/SOL/2020/img/logo.jpg
  wiki/Tournaments/SOL/en.md
Labels: area:tournaments, type:new article

#4366 Move tournament names from tooltips to link titles
  wiki/Tournaments/ANZT/en.md
  wiki/Tournaments/AOTS/en.md
  wiki/Tournaments/AOTS/id.md
  wiki/Tournaments/CIC/en.md
  wiki/Tournaments/CJB_4K/en.md
  wiki/Tournaments/CMT_4K/en.md
  wiki/Tournaments/CWC/en.md
  wiki/Tournaments/CWC/ru.md
  wiki/Tournaments/DMX/en.md
  wiki/Tournaments/EUTT/en.md
  wiki/Tournaments/GO/en.md
  wiki/Tournaments/GO/fr.md
  wiki/Tournaments/GTS/en.md
  wiki/Tournaments/GTS/fr.md
  wiki/Tournaments/GTS/id.md
  wiki/Tournaments/MP/en.md
  wiki/Tournaments/MWC/en.md
  wiki/Tournaments/MWC/ru.md
  wiki/Tournaments/NPC/en.md
  wiki/Tournaments/NT/en.md
  wiki/Tournaments/OMIC/en.md
  wiki/Tournaments/OMIC/id.md
  wiki/Tournaments/OTC/en.md
  wiki/Tournaments/OWC/en.md
  wiki/Tournaments/OWC/ru.md
  wiki/Tournaments/OZT/en.md
  wiki/Tournaments/RDOC/en.md
  wiki/Tournaments/RMoTI/en.md
  wiki/Tournaments/SAS/en.md
  wiki/Tournaments/SOFT/en.md
  wiki/Tournaments/SOL/en.md
  wiki/Tournaments/SST/en.md
  wiki/Tournaments/THOM_CUP/en.md
  wiki/Tournaments/TMC/en.md
  wiki/Tournaments/TMT/en.md
  wiki/Tournaments/TNMT/en.md
  wiki/Tournaments/TW/en.md
  wiki/Tournaments/o!AOT/en.md
  wiki/Tournaments/o!ET/en.md
  wiki/Tournaments/o!cCC/en.md
  wiki/Tournaments/oMMFF/en.md
  wiki/Tournaments/oMMFF/fr.md
  wiki/Tournaments/oPHF/en.md
  wiki/Tournaments/oPHN/en.md
  wiki/Tournaments/oPHST/en.md
  wiki/Tournaments/oTTMT/en.md
Labels: area:tournaments, size/L, type:clean up

#4367 Add New Featured Artist: Joe Ford newspost
  news/2020-10-24-new-featured-artist-joe-ford.md
Labels: size/M

#4344 [RU] Add staff logs (2007 to 2020)
  wiki/Staff_Log/2007/ru.md
  wiki/Staff_Log/2008/ru.md
  wiki/Staff_Log/2009/ru.md
  wiki/Staff_Log/2010/ru.md
  wiki/Staff_Log/2011/ru.md
  wiki/Staff_Log/2012/ru.md
  wiki/Staff_Log/2013/ru.md
  wiki/Staff_Log/2014/ru.md
  wiki/Staff_Log/2015/ru.md
  wiki/Staff_Log/2016/ru.md
  wiki/Staff_Log/2017/ru.md
  wiki/Staff_Log/2018/ru.md
  wiki/Staff_Log/2019/ru.md
  wiki/Staff_Log/2020/ru.md
  wiki/Staff_Log/ru.md
Labels: area:community, area:translations, blocked, size/XXL, type:new article

#4271 [TH] Add Star; update DYRWTAP and Main Page
  wiki/Do_you_really_want_to_ask_peppy/th.md
  wiki/Main_Page/th.md
  wiki/Star/th.md
Labels: area:translations, blocked, size/M, type:new article, type:update

#4369 Fix mascots links
  wiki/Game_mode/osu!/en.md
  wiki/Game_mode/osu!/es.md
  wiki/Game_mode/osu!/fr.md
  wiki/Game_mode/osu!/pt-br.md
  wiki/Game_mode/osu!catch/en.md
  wiki/Game_mode/osu!catch/fr.md
  wiki/Game_mode/osu!mania/es.md
  wiki/Game_mode/osu!mania/fr.md
  wiki/Game_mode/osu!taiko/en.md
  wiki/Game_mode/osu!taiko/fr.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/en.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/es.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/fr.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/id.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/ru.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/uk.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/zh.md
Labels: size/M

#4334 Update Interface
  wiki/Interface/en.md
  wiki/Interface/img/Osu!_Online_score.jpg
  wiki/Interface/ko.md
  wiki/Interface/tr.md
Labels: area:client, size/S, type:update

#4356 [UK] Main Page
  wiki/Main_Page/uk.md
Labels: area:translations, size/M, type:new article

#4332 [ID] Add group info and flag references
  meta/flag-references/id.md
  meta/group-info/id.yaml
Labels: area:translations, area:utilities, size/L

#4375 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/Global_Moderation_Team/pt-br.md
  wiki/People/The_Team/Global_Moderation_Team/ru.md
  wiki/People/The_Team/Nomination_Assessment_Team/id.md
  wiki/People/The_Team/Nomination_Assessment_Team/pt-br.md
  wiki/People/The_Team/Support_Team/id.md
  wiki/People/The_Team/Support_Team/pt-br.md
  wiki/People/The_Team/Support_Team/ru.md
  wiki/People/The_Team/osu!_Alumni/id.md
  wiki/People/The_Team/osu!_Alumni/pt-br.md
  wiki/People/The_Team/osu!_Alumni/ru.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/XL, type:update

#4377 Add New Featured Artist: Sennzai newspost
  news/2020-10-28-new-featured-artist-sennzai.md
Labels: size/M

#4373 [RU] upppy
  wiki/upppy/ru.md
Labels: area:translations, size/XS, type:new article

#4378 OWC2020 Round of 32 update
  wiki/Tournaments/OWC/2020/en.md
Labels: area:tournaments, blocked, size/M, type:update

#4381 OWC2020 article fixes and added stats
  wiki/Tournaments/OWC/2020/en.md
Labels: area:tournaments, size/S, type:clean up

#4364 [ID] Update Twitter
  wiki/Twitter/id.md
Labels: area:translations, size/XS, type:update

#4382 Add Project Loved: October 2020 news post
  news/2020-10-29-project-loved-october-2020.md
  wiki/shared/news/2020-10-29-project-loved-october-2020/catch/1-last-resort.jpg
  wiki/shared/news/2020-10-29-project-loved-october-2020/catch/2-anti-the-euphoriaholic.jpg
  wiki/shared/news/2020-10-29-project-loved-october-2020/catch/3-rainbow-after-snow.jpg
  wiki/shared/news/2020-10-29-project-loved-october-2020/catch/4-sendan-life.jpg
  wiki/shared/news/2020-10-29-project-loved-october-2020/catch/5-starlight-express.jpg
  wiki/shared/news/2020-10-29-project-loved-october-2020/mania/1-forgotten.jpg
  wiki/shared/news/2020-10-29-project-loved-october-2020/mania/2-slavik-goblins.jpg
  wiki/shared/news/2020-10-29-project-loved-october-2020/mania/3-fubuki.jpg
  wiki/shared/news/2020-10-29-project-loved-october-2020/mania/4-wavetapper.jpg
  wiki/shared/news/2020-10-29-project-loved-october-2020/mania/5-start-dash-prepro-piano-mix.jpg
  wiki/shared/news/2020-10-29-project-loved-october-2020/mania/6-mawaru-sora-usagi.jpg
  wiki/shared/news/2020-10-29-project-loved-october-2020/osu/1-bookmaker.jpg
  wiki/shared/news/2020-10-29-project-loved-october-2020/osu/2-sudden-death.jpg
  wiki/shared/news/2020-10-29-project-loved-october-2020/osu/3-bedroom-community.jpg
  wiki/shared/news/2020-10-29-project-loved-october-2020/osu/4-upload-your-mind-download-my-soul.jpg
  wiki/shared/news/2020-10-29-project-loved-october-2020/osu/5-tower-light-fireworks-feat-rachie-cut-ver.jpg
  wiki/shared/news/2020-10-29-project-loved-october-2020/osu/6-ren-ren-ai-ai-cir-cir-cula-cula-tion-tion.jpg
  wiki/shared/news/2020-10-29-project-loved-october-2020/osu/7-bamboo-disco.jpg
  wiki/shared/news/2020-10-29-project-loved-october-2020/osu/8-go-go-carlito-who-s-that-boy.jpg
  wiki/shared/news/2020-10-29-project-loved-october-2020/osu/9-africa.jpg
  wiki/shared/news/2020-10-29-project-loved-october-2020/taiko/1-strong-280.jpg
  wiki/shared/news/2020-10-29-project-loved-october-2020/taiko/2-vtuber-mads.jpg
  wiki/shared/news/2020-10-29-project-loved-october-2020/taiko/3-issyogaii.jpg
  wiki/shared/news/2020-10-29-project-loved-october-2020/taiko/4-stimulant-beatmaps.jpg
Labels: area:news, type:new article

#4383 Remove reference to Kroytz in recent Project Loved News article
  news/2020-10-29-project-loved-october-2020.md
Labels: area:news, size/XS, type:update

#4387 Fix Spotlights Summer 2020 leaderboard
  wiki/Beatmap_Spotlights/Seasons/2020_Summer/en.md
Labels: area:community, size/L, type:update

#4370 Add SoCal Fall Festival tournament
  wiki/Tournaments/BruinGG/SoCal_Fall_Festival/en.md
  wiki/Tournaments/BruinGG/SoCal_Fall_Festival/img/banner.jpg
  wiki/Tournaments/BruinGG/SoCal_Fall_Festival/img/banner@2x.jpg
  wiki/Tournaments/BruinGG/en.md
Labels: area:tournaments, type:new article

#4389 Fix badge tiers on Beatmap Spotlights Summer 2020 leaderboards
  wiki/Beatmap_Spotlights/Seasons/2020_Summer/en.md
Labels: area:community, size/M, type:update

#4391 Conclude T2T 2019
  wiki/Tournaments/T2T/2019/en.md
Labels: area:tournaments, size/L, type:clean up, type:update

#4388 [ZH] Update OWC 2020 for Round of 32
  wiki/Tournaments/OWC/2020/en.md
  wiki/Tournaments/OWC/2020/zh.md
Labels: area:translations, size/M, type:update

#4392 Add New Featured Artist: Dual Alter World article
  news/2020-10-31-new-featured-artist-dual-alter-world.md
Labels: size/M

#4327 Add MP7K2 tournament article and update MP index page
  wiki/Tournaments/MP/2020_7K/en.md
  wiki/Tournaments/MP/2020_7K/img/logo.png
  wiki/Tournaments/MP/en.md
Labels: area:tournaments, type:new article
