Repository ppy/osu-wiki, pull requests merged in 2020-06, with the labels that each got.

#3615 Conclude Catch French Beginner 4
  wiki/Tournaments/CFB/4/en.md
  wiki/Tournaments/CFB/4/fr.md
  wiki/Tournaments/en.md
Labels: area:tournaments, size/M, type:update

#3616 Update CFB4, Ladylag to Madeline (FR)
  wiki/Tournaments/CFB/4/fr.md
Labels: area:tournaments, size/S, type:update

#3617 Update EGTS 2020 to Group Stage
  wiki/Tournaments/GTS/EGTS_2020/en.md
Labels: area:tournaments, size/L, type:update

#3618 Update IGTS 2020 to Qualifiers
  wiki/Tournaments/GTS/IGTS_2020/en.md
Labels: area:tournaments, size/M, type:update

#3619 Update MBS2 for Round of 16
  wiki/Tournaments/MBS/2/en.md
Labels: area:tournaments, size/L, type:update

#3622 Add NPC tournament Round of 32 mappool
  wiki/Tournaments/NPC/2/en.md
Labels: area:tournaments, size/S, type:update

#3621 Update HOT to Quarterfinals
  wiki/Tournaments/HOT/1/en.md
Labels: area:tournaments, size/M, type:update

#3611 Add 112's Corona Tournament article
  wiki/Tournaments/112/Corona_2020/en.md
  wiki/Tournaments/112/Corona_2020/img/banner.png
  wiki/Tournaments/112/Corona_2020/img/podium.png
  wiki/Tournaments/en.md
Labels: area:tournaments, type:new article

#3613 CWC2020 Finals Update
  wiki/Tournaments/CWC/2020/en.md
Labels: area:tournaments, size/M, type:update

#3591 [TR] Add Nomination Assessment Team
  meta/group-info/tr.yaml
  wiki/People/The_Team/Nomination_Assessment_Team/tr.md
Labels: area:translations, size/M, type:new article

#3589 [TR] Add Developers
  wiki/People/The_Team/Developers/tr.md
Labels: area:translations, size/M, type:new article

#3592 [TR] Add Project Loved Team
  wiki/People/The_Team/Project_Loved_Team/tr.md
Labels: area:translations, size/M, type:new article

#3624 Update BN Listing
  wiki/People/The_Team/Beatmap_Nominators/en.md
Labels: area:community, size/S, type:update

#3625 Update Staff log
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/M, type:update

#3627 Add New Featured Artist: Noisia
  news/2020-06-03-new-featured-artist-noisia.md
Labels: size/M

#3620 Update MBC scores
  wiki/Contests/Monthly_Beatmapping_Contest/en.md
Labels: area:tournaments, size/XS, type:update

#3593 [TR] Add Welcome
  wiki/Welcome/tr.md
Labels: area:translations, size/M, type:new article

#3623 [TR] Update Community Contributors
  wiki/People/Community_Contributors/en.md
  wiki/People/Community_Contributors/pt-br.md
  wiki/People/Community_Contributors/tr.md
  wiki/People/Community_Contributors/zh.md
Labels: area:translations, size/L, type:clean up, type:update

#3610 [TR] Add Shortcut key reference
  wiki/Shortcut_key_reference/tr.md
Labels: area:translations, size/L, type:new article

#3574 [RU] Fix wording in Do_you_want_to_ask_peppy article
  wiki/Do_you_really_want_to_ask_peppy/ru.md
Labels: area:translations, size/XS, type:update

#3612 [TR] Update Beatmapping
  wiki/Beatmapping/tr.md
Labels: area:translations, size/M, type:update

#3572 [ZH] Update Shortcut_key_reference
  wiki/Shortcut_key_reference/zh.md
Labels: area:translations, size/L, type:update

#3631 [TR] Difficulties
  wiki/Difficulties/tr.md
Labels: area:translations, size/M, type:new article

#3626 Update group listings
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
  wiki/People/The_Team/Support_Team/en.md
  wiki/People/The_Team/osu!_Alumni/en.md
Labels: area:community, size/S, type:update

#3628 Update translations of group pages
  meta/group-info/en.yaml
  meta/group-info/pt-br.yaml
  meta/group-info/tr.yaml
  meta/group-info/zh.yaml
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Global_Moderation_Team/tr.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
  wiki/People/The_Team/Nomination_Assessment_Team/tr.md
  wiki/People/The_Team/Nomination_Assessment_Team/zh.md
  wiki/People/The_Team/Support_Team/tr.md
  wiki/People/The_Team/Support_Team/zh.md
  wiki/People/The_Team/osu!_Alumni/pt-br.md
  wiki/People/The_Team/osu!_Alumni/tr.md
  wiki/People/The_Team/osu!_Alumni/zh.md
Labels: area:translations, size/L, type:update

#3509 [TR] Beatmap_Editor
  wiki/Beatmap_Editor/tr.md
Labels: area:translations, size/M, type:new article

#3639 [TR] Account Restrictions
  wiki/Help_Centre/Account_Restrictions/tr.md
Labels: area:translations, size/L, type:new article

#3638 [TR] Guides
  wiki/Guides/tr.md
Labels: area:translations, size/M, type:new article

#3637 [TR] Add How you can help!
  wiki/How_You_Can_Help!/tr.md
Labels: area:translations, size/M, type:new article

#3640 [TR] Adding Custom Hitsounds
  wiki/Guides/Adding_Custom_Hitsounds/tr.md
Labels: area:translations, size/M, type:new article

#3636 [TR] Update group-info and group pages
  meta/group-info/tr.yaml
  wiki/People/The_Team/Beatmap_Nominators/tr.md
Labels: area:translations, size/XS, type:update

#3635 [ZH] Update group-info and group pages
  meta/group-info/zh.yaml
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
  wiki/People/The_Team/osu!_Alumni/zh.md
Labels: area:translations, size/L, type:update

#3647 [TR] Cropping with Simple Backgrounds
  wiki/Guides/Cropping_with_Simple_Backgrounds/tr.md
Labels: area:translations, size/M, type:new article

#3648 [TR] Custom Hitsound Library
  wiki/Guides/Custom_Hitsound_Library/tr.md
Labels: area:translations, size/L, type:new article

#3650 Changing chord Guidelines in Easy and Normal for osu!mania
  wiki/Ranking_Criteria/osu!mania/en.md
Labels: area:ranking criteria, size/XS, type:update

#3646 [TR] Cropping with Complex Backgrounds
  wiki/Guides/Cropping_with_Complex_Backgrounds/tr.md
Labels: area:translations, size/M, type:new article

#3501 [TR] Add OWC 2019
  wiki/Tournaments/OWC/2019/tr.md
Labels: area:translations, size/XL, type:new article

#3634 osu! Mapping Olympiad #7 - Mania
  news/2020-06-06-osu-mapping-olympiad-7-mania.md
Labels: area:news, size/L, type:new article

#3655 Hyun Song Preview has wrong ID in olymiad news post
  news/2020-06-06-osu-mapping-olympiad-7-mania.md
Labels: size/XS

#3601 Add Beatmap Spotlights article
  wiki/Beatmap_Spotlights/en.md
  wiki/Beatmap_Spotlights/img/logo.jpg
Labels: area:community, type:new article

#3642 [TR] Beginner's Tutorial
  wiki/Guides/Beginner's_Tutorial/tr.md
Labels: area:translations, size/L, type:new article

#3643 [TR] BSS Issues
  wiki/Guides/BSS_Issues/tr.md
Labels: area:translations, size/M, type:new article

#3649 [TR] Timing
  wiki/Beatmap_Editor/Timing/tr.md
Labels: area:translations, size/S, type:new article

#3645 [TR] Collab Information
  wiki/Guides/Collab_Information/tr.md
Labels: area:translations, size/M, type:new article

#3644 [TR] Changing the Artist or Title
  wiki/Guides/Changing_the_Artist_or_Title/tr.md
Labels: area:translations, size/S, type:new article

#3665 Update NPC2 for Round of 16
  wiki/Tournaments/NPC/2/en.md
Labels: area:tournaments, size/M, type:update

#3663 Reword minor problems in RC
  wiki/Ranking_Criteria/osu!mania/en.md
  wiki/Ranking_Criteria/osu!taiko/en.md
Labels: area:ranking criteria, size/XS, type:clean up

#3662 Add Ulat Bulu Cup 2020 article
  wiki/Tournaments/UCUP/2020/en.md
  wiki/Tournaments/UCUP/2020/img/badge.png
  wiki/Tournaments/UCUP/2020/img/logo.jpg
  wiki/Tournaments/UCUP/en.md
  wiki/Tournaments/UCUP/id.md
Labels: area:tournaments, type:new article

#3658 Update MBS2 for Quarterfinals
  wiki/Tournaments/MBS/2/en.md
Labels: area:tournaments, size/L, type:update

#3657 Update HOT for Semifinals
  wiki/Tournaments/HOT/1/en.md
Labels: area:tournaments, size/M, type:update

#3654 Update EGTS 2020 for Round of 32
  wiki/Tournaments/GTS/EGTS_2020/en.md
Labels: area:tournaments, size/L, type:update

#3653 Update IGTS 2020 for Group Stage
  wiki/Tournaments/GTS/IGTS_2020/en.md
  wiki/Tournaments/GTS/en.md
  wiki/Tournaments/GTS/fr.md
  wiki/Tournaments/GTS/id.md
Labels: area:tournaments, size/L, type:update

#3590 [KO] Update Interface
  wiki/Interface/ko.md
Labels: area:translations, size/S, stale merge, type:update

#3667 CWC2020 Grand Finals Update
  wiki/Tournaments/CWC/2020/en.md
Labels: area:tournaments, size/M, type:update

#3660 Add content usage guidelines and clarify music licensing
  wiki/Legal/Music_Licensing/en.md
  wiki/Legal/Music_Licensing/ru.md
  wiki/Rules/Content_Usage_Guidelines/en.md
  wiki/Rules/en.md
Labels: area:community, size/M, special:legal, type:new article

#3583 Update Help_Centre
  wiki/Help_Centre/en.md
  wiki/Installation/en.md
  wiki/Registration/en.md
Labels: area:community, size/L, type:update

#3666 Use new remark features
  .github/workflows/continuous-integration.yml
  .remarkrc.js
  package-lock.json
Labels: area:utilities, size/XS, type:update

#3670 Add New Featured Artist: Hyper Potions newspost
  news/2020-06-10-new-featured-artist-hyper-potions.md
Labels: size/M

#3678 Fix links in Rules and Legal articles
  wiki/Legal/Music_Licensing/en.md
  wiki/Rules/Content_Usage_Guidelines/en.md
  wiki/Rules/da.md
  wiki/Rules/en.md
  wiki/Rules/ja.md
  wiki/Rules/nl.md
  wiki/Rules/pt-br.md
  wiki/Rules/tr.md
Labels: size/S, type:clean up

#3679 Add code owner for Legal articles
  .github/CODEOWNERS
Labels: area:utilities, size/XS, type:update

#3540 Add Beatmapping World Championship 2020 wiki article
  wiki/Contests/oBWC/1/en.md
  wiki/Contests/oBWC/1/fr.md
  wiki/Contests/oBWC/1/img/logo.png
  wiki/Contests/oBWC/1/img/podium.jpg
  wiki/Contests/oBWC/2/en.md
  wiki/Contests/oBWC/2/img/badge.png
  wiki/Contests/oBWC/2/img/badge2.png
  wiki/Contests/oBWC/2/img/badge3.png
  wiki/Contests/oBWC/2/img/banner.jpg
  wiki/Contests/oBWC/en.md
  wiki/Contests/oBWC/fr.md
  wiki/Contests/oMWC/en.md
  wiki/redirect.yaml
Labels: area:community, type:new article, type:update

#3671 Conclude Taiko LMS: Shift Cup 2
  wiki/Tournaments/LMS/en.md
  wiki/Tournaments/OSIM/1/en.md
  wiki/Tournaments/RPT/1/en.md
  wiki/Tournaments/RPT/1/id.md
  wiki/Tournaments/T_LMS/Shift_1/en.md
  wiki/Tournaments/T_LMS/Shift_1/img/badge.png
  wiki/Tournaments/T_LMS/Shift_1/img/logo.jpg
  wiki/Tournaments/T_LMS/Shift_2/en.md
  wiki/Tournaments/T_LMS/Shift_2/img/badge.png
  wiki/Tournaments/T_LMS/Shift_2/img/logo.jpg
  wiki/Tournaments/T_LMS/en.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/ko.md
  wiki/Tournaments/pl.md
  wiki/Tournaments/zh.md
  wiki/redirect.yaml
Labels: area:tournaments, type:update

#3672 Add osu!mania LN Tournament 2 article
  wiki/Tournaments/o!mLN/1/en.md
  wiki/Tournaments/o!mLN/2/en.md
  wiki/Tournaments/o!mLN/2/img/logo.jpg
  wiki/Tournaments/o!mLN/en.md
Labels: area:tournaments, type:new article, type:update

#3673 [TR] Custom Sample Overrides
  wiki/Guides/Custom_Sample_Overrides/tr.md
Labels: area:beatmapping, area:translations, size/M, type:new article

#3669 Remove or replace all puush mentions
  wiki/BBCode/en.md
  wiki/Glossary/en.md
  wiki/Skinning/FAQ/en.md
Labels: size/S, type:update

#3656 [ZH] Add osu!_UCI
  wiki/Organisations/osu!_UCI/zh.md
  wiki/Organisations/zh.md
Labels: area:translations, size/M, type:new article

#3580 [PT-BR] Update Account_Restrictions
  wiki/Help_Centre/Account_Restrictions/pt-br.md
Labels: area:translations, size/S, stale merge, type:update

#3604 [RU] Add Project Loved
  wiki/Project_Loved/en.md
  wiki/Project_Loved/ru.md
Labels: area:translations, size/M, stale merge, type:new article

#3683 Update Users with unique titles listing
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/pt-br.md
  wiki/People/Users_with_unique_titles/tr.md
  wiki/People/Users_with_unique_titles/zh.md
Labels: area:community, size/L, type:update

#3686 Allow Ogg file format for beatmap audio in RC
  wiki/Ranking_Criteria/en.md
Labels: area:ranking criteria, size/XS, special:rule change, type:update

#3684 Update EGTS 2020 for Round of 16
  wiki/Tournaments/GTS/EGTS_2020/en.md
Labels: area:tournaments, size/M, type:update

#3685 Update IGTS 2020 for Round of 16
  wiki/Tournaments/GTS/IGTS_2020/en.md
Labels: area:tournaments, size/M, type:update

#3689 Update Staff Log and BN listing
  meta/group-info/en.yaml
  meta/group-info/pt-br.yaml
  meta/group-info/tr.yaml
  meta/group-info/zh.yaml
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/M, type:update

#3695 CWC2020 Conclusion Update
  wiki/Tournaments/CWC/2020/en.md
  wiki/Tournaments/CWC/2020/img/badge.png
  wiki/Tournaments/CWC/2020/img/badge2.png
  wiki/Tournaments/CWC/2020/img/badge3.png
  wiki/Tournaments/CWC/2020/img/podium.png
Labels: area:tournaments, type:update

#3690 Upload CWC 2020 conclusion newspost
  news/2020-06-15-cwc-2020-concludes.md
  wiki/shared/news/2020-06-15-cwc-2020-concludes/podium_cwc2020_South_Korea.png
Labels: area:news

#3698 Fix Twitch VOD embed
  news/2020-06-15-cwc-2020-concludes.md
Labels: size/XS

#3699 Fix autoplay in CWC 2020 recap Twitch VOD link
  news/2020-06-15-cwc-2020-concludes.md
Labels: size/XS

#3701 Fix typo in CWC 2020 recap
  news/2020-06-15-cwc-2020-concludes.md
Labels: size/XS

#3705 Update o!mLN2 for Round of 64
  wiki/Tournaments/o!mLN/2/en.md
Labels: area:tournaments, size/L, type:update

#3700 Add parent tag to twitch player links
  news/2017-03-13-aspire-2017-voting-now-open.md
  news/2017-05-02-osuweekly-102.md
  news/2017-06-07-osu-weekly-106.md
  news/2017-06-23-osu-catch-world-cup-ro16-quarterfinals-recap.md
  news/2017-07-14-osucatch-world-cup-2017-results.md
  news/2017-08-16-happystick-summer-tour-concludes.md
  news/2017-08-17-scorewatch-august-weeks-1-and-2.md
  news/2018-06-16-cwc-2018-recap-group-stage.md
  news/2018-06-22-cwc-2018-recap-round-of-16.md
  news/2018-06-30-cwc-2018-recap-quarter-finals.md
  news/2018-07-14-cwc-2018-recap-semi-finals-finals-week-1.md
  news/2018-07-16-cwc-2018-recap-grand-finals.md
  news/2018-10-11-MWC4K-2018-Grand-Finals-Recap.md
  news/2018-12-20-osu-world-cup-2018-recap.md
  news/2019-07-03-cwc-2019-recap-group-stage.md
  news/2019-08-01-cwc-2019-preview-grand-final.md
  news/2019-08-04-cwc-2019-concludes.md
Labels: area:news, size/M, type:clean up

#3688 Clarify "additional tags" guideline in RC
  wiki/Ranking_Criteria/en.md
Labels: area:ranking criteria, size/XS, type:clean up

#3651 Add origin of osu!catch
  wiki/Game_Modes/en.md
  wiki/Game_Modes/es.md
  wiki/Game_Modes/fr.md
  wiki/Game_Modes/ja.md
  wiki/Game_Modes/pt-br.md
  wiki/Game_Modes/ru.md
Labels: area:gameplay, size/S, type:update

#3702 Update HOT for Finals
  wiki/Tournaments/HOT/1/en.md
Labels: area:tournaments, size/M, type:update

#3703 Update UCUP 2020 for Quarterfinals
  wiki/Tournaments/UCUP/2020/en.md
Labels: area:tournaments, size/L, type:update

#3715 Add New Featured Artist: Ne Obliviscaris newspost
  news/2020-06-17-new-featured-artist-ne-obliviscaris.md
Labels: size/M

#3709 Update MBS2 for Semifinals
  wiki/Tournaments/MBS/2/en.md
Labels: area:tournaments, size/L, type:update

#3724 Fix spelling of plural "ranking criteria"
  wiki/Beatmap_Editor/Song_Setup/en.md
  wiki/Ranking_Criteria/en.md
Labels: size/XS, type:clean up

#3659 Cleanup Accuracy
  wiki/Accuracy/en.md
Labels: area:gameplay, size/S, type:clean up

#3693 [TR] Discord Rich Presence
  wiki/Guides/Discord_Rich_Presence/tr.md
Labels: area:translations, size/M, type:new article

#3694 [TR] Getting Songs From Video Games
  wiki/Guides/Getting_Songs_From_Video_Games/tr.md
Labels: area:translations, size/M, type:new article

#3706 [TR] Add Featured Artists
  wiki/Featured_Artists/tr.md
Labels: area:translations, size/M, type:new article

#3720 Update GMT and BN listings
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Global_Moderation_Team/tr.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/S, type:update

#3721 Fix wording in Content Usage Guidelines intro paragraph
  wiki/Rules/Content_Usage_Guidelines/en.md
Labels: area:beatmapping, area:community, size/XS, type:update

#3707 Update and re-organize Genre and language article
  wiki/Beatmaps/Genre_and_language/en.md
  wiki/Beatmaps/Genre_and_language/img/beatmap-listing.png
Labels: area:beatmapping, size/S, type:update

#3710 Update NPC2 for Quarterfinals
  .markdownlint.json
  wiki/Tournaments/NPC/2/en.md
  wiki/Tournaments/NPC/2/img/badge.png
  wiki/Tournaments/NPC/2/img/logo.png
Labels: area:tournaments, size/M, type:update

#3712 Add blob size inspection workflow step
  .github/workflows/continuous-integration.yml
Labels: area:utilities, size/M, type:update

#3692 [TR] Add missing translations in group-info and BN listing
  meta/group-info/tr.yaml
  wiki/People/The_Team/Beatmap_Nominators/tr.md
Labels: area:translations, size/XS, type:update

#3725 Add bot account article
  wiki/Help_Centre/Bot_Account/en.md
Labels: area:client, area:community, size/M, type:new article

#3730 Update Monthly Beatmapping Contests info
  wiki/Contests/Monthly_Beatmapping_Contest/en.md
Labels: size/M

#3718 [TR] Update Rules
  wiki/Rules/tr.md
Labels: area:translations, size/M, type:update

#3630 Add TKBC contest wiki pages
  wiki/Contests/TKBC/1/en.md
  wiki/Contests/TKBC/1/img/logo.png
  wiki/Contests/TKBC/1/img/theme.png
  wiki/Contests/TKBC/1/ko.md
  wiki/Contests/TKBC/en.md
Labels: area:tournaments, area:translations, stale merge, type:new article

#3489 [TR] Main Page
  wiki/Main_Page/tr.md
Labels: area:translations, size/M, stale merge, type:new article

#3696 [TR] How to Use the Offset Wizard
  wiki/Guides/How_to_Use_the_Offset_Wizard/tr.md
Labels: area:translations, size/S, type:new article

#3716 [TR] Add osu!supporter
  wiki/osu!supporter/tr.md
Labels: area:translations, size/M, type:new article

#3719 [TR] Add Song Content Rules
  wiki/Rules/Song_Content_Rules/tr.md
Labels: area:translations, size/M, type:new article

#3735 [TR] Fix mistranslations in Main Page
  wiki/Main_Page/tr.md
Labels: area:translations, size/S, type:update

#3465 [PT-BR] Update The_Team and add sub articles
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Developers/pt-br.md
  wiki/People/The_Team/Global_Moderation_Team/pt-br.md
  wiki/People/The_Team/Nomination_Assessment_Team/pt-br.md
  wiki/People/The_Team/Project_Loved_Team/pt-br.md
  wiki/People/The_Team/Support_Team/pt-br.md
  wiki/People/The_Team/osu!_Alumni/pt-br.md
  wiki/People/The_Team/pt-br.md
Labels: area:translations, size/XL, stale merge, type:new article, type:update

#3736 Add Project Loved: June 2020 news post
  news/2020-06-21-project-loved-june-2020.md
  wiki/shared/news/2020-06-21-project-loved-june-2020/catch/1-dancing-dollz-feat-cold-kiss-redalice-remix.jpg
  wiki/shared/news/2020-06-21-project-loved-june-2020/catch/2-kakuzetsu-thanatos.jpg
  wiki/shared/news/2020-06-21-project-loved-june-2020/catch/3-yuyushiki-of-nights.jpg
  wiki/shared/news/2020-06-21-project-loved-june-2020/catch/4-no-poi-nenpulse-bootleg-remix.jpg
  wiki/shared/news/2020-06-21-project-loved-june-2020/mania/1-over-the-fullereneshift.jpg
  wiki/shared/news/2020-06-21-project-loved-june-2020/mania/2-gympie-gympe.jpg
  wiki/shared/news/2020-06-21-project-loved-june-2020/mania/3-warriors.jpg
  wiki/shared/news/2020-06-21-project-loved-june-2020/mania/4-chaosmaid.jpg
  wiki/shared/news/2020-06-21-project-loved-june-2020/mania/5-alipay-s-6k-practice-pack.jpg
  wiki/shared/news/2020-06-21-project-loved-june-2020/mania/6-watagumo-no-onaka.jpg
  wiki/shared/news/2020-06-21-project-loved-june-2020/osu/1-revenge-reek-s-dude-what-s-a-genre-remix.jpg
  wiki/shared/news/2020-06-21-project-loved-june-2020/osu/2-prayer.jpg
  wiki/shared/news/2020-06-21-project-loved-june-2020/osu/3-humanoid.jpg
  wiki/shared/news/2020-06-21-project-loved-june-2020/osu/4-accumula-town.jpg
  wiki/shared/news/2020-06-21-project-loved-june-2020/osu/5-code-crimson.jpg
  wiki/shared/news/2020-06-21-project-loved-june-2020/osu/6-something-good-08-radio-edit.jpg
  wiki/shared/news/2020-06-21-project-loved-june-2020/osu/7-mc-mental-at-his-best.jpg
  wiki/shared/news/2020-06-21-project-loved-june-2020/taiko/1-amazing-sampling-showcase.jpg
  wiki/shared/news/2020-06-21-project-loved-june-2020/taiko/2-energy-night.jpg
  wiki/shared/news/2020-06-21-project-loved-june-2020/taiko/3-adcar.jpg
Labels: area:news, type:new article

#3742 Don't run remark over deleted files
  .github/workflows/continuous-integration.yml
Labels: area:utilities, size/XS, type:update

#3741 Rewrite Bot account
  wiki/Bot_account/en.md
  wiki/Help_Centre/Bot_Account/en.md
  wiki/redirect.yaml
Labels: area:community, size/L, type:rewrite

#3744 Add Aspire V category stage newspost
  news/2020-06-22-aspire-v-category-stage-voting.md
Labels: size/M

#3743 Updating Curator List
  wiki/Beatmap_Spotlights/en.md
Labels: area:community, size/S, type:update

#3738 Update IGTS 2020 for Quarterfinals
  wiki/Tournaments/GTS/IGTS_2020/en.md
Labels: area:tournaments, size/M, type:update

#3739 Update EGTS 2020 for Quarterfinals
  wiki/Tournaments/GTS/EGTS_2020/en.md
Labels: area:tournaments, size/M, type:update

#3740 Update o!mLN2 for Round of 32
  wiki/Tournaments/o!mLN/2/en.md
Labels: area:tournaments, size/M, type:update

#3746 Update MBS2 for Finals
  wiki/Tournaments/MBS/2/en.md
Labels: area:tournaments, size/M, type:update

#3750 Update UCUP 2020 for Semifinals
  wiki/Tournaments/UCUP/2020/en.md
Labels: area:tournaments, size/M, type:update

#3745 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/S, type:update

#3661 Cleanup ppv1
  wiki/Performance_Points/ppv1/en.md
Labels: size/M, type:clean up

#3751 Fix typo in BAT intro
  wiki/Modding/Beatmap_Appreciation_Team/en.md
Labels: area:community, area:modding, size/XS, type:clean up

#3752 Add New Featured Artist: Rusty K newspost
  news/2020-06-24-new-featured-artist-rusty-k.md
Labels: size/M

#3753 Fix Rusty K FA newspost preview links
  news/2020-06-24-new-featured-artist-rusty-k.md
Labels: size/XS

#3687 Add CS guidelines to osu! RC
  wiki/Ranking_Criteria/osu!/en.md
Labels: area:ranking criteria, size/XS, special:rule change, type:update

#3588 Clarify what counts as unintended .osu edits in RC
  wiki/Ranking_Criteria/en.md
Labels: area:ranking criteria, size/XS, special:rule change, type:update

#3754 Update info for MC Mental and fix SR sort on Loved news post
  news/2020-06-21-project-loved-june-2020.md
Labels: area:news, size/S, type:update

#3762 Update Song Setup to reflect new CS guidelines on RC
  wiki/Beatmap_Editor/Song_Setup/en.md
Labels: area:beatmapping, size/XS, type:update

#3761 Fix corner cases in blob size inspection
  .github/workflows/continuous-integration.yml
Labels: area:utilities, size/XS, type:update

#3769 Add clause describing username restrictions to Help Centre article
  wiki/Help_Centre/en.md
  wiki/Help_Centre/pt-br.md
Labels: area:community, size/XS, type:update

#3767 [ZH] Update meta/group-info languages and separator
  meta/group-info/zh.yaml
Labels: area:utilities, size/XS, type:update

#3764 Update group listings and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Global_Moderation_Team/tr.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
  wiki/People/The_Team/Nomination_Assessment_Team/zh.md
  wiki/People/The_Team/Support_Team/zh.md
  wiki/People/The_Team/osu!_Alumni/en.md
  wiki/People/The_Team/osu!_Alumni/tr.md
  wiki/People/The_Team/osu!_Alumni/zh.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/L, type:update

#3755 Update Project Loved Team members and organize notes
  wiki/People/The_Team/Project_Loved_Team/en.md
  wiki/People/The_Team/Project_Loved_Team/pt-br.md
  wiki/People/The_Team/Project_Loved_Team/tr.md
Labels: area:community, size/S, type:update

#3727 [TR] Add Brand identity guidelines
  wiki/Brand_identity_guidelines/tr.md
Labels: area:translations, size/M, type:new article

#3726 [TR] Update Installation
  wiki/Installation/tr.md
Labels: area:translations, size/S, type:update

#3704 [TR] Add Interface
  wiki/Interface/en.md
  wiki/Interface/tr.md
Labels: area:translations, size/L, type:new article

#3675 Cleanup Play Styles
  wiki/Play_Styles/en.md
Labels: area:gameplay, size/L, type:clean up

#3771 [TR] Update Project Loved Team
  wiki/People/The_Team/Project_Loved_Team/tr.md
Labels: area:translations, size/S, type:update

#3758 Use LF for markdown files and check with remark
  .gitattributes
  .remarkrc.js
  package-lock.json
  package.json
Labels: area:utilities, size/XS, type:update

#3776 Add MWR#3 info to Contests
  wiki/Contests/en.md
Labels: area:community, size/XS, type:update

#3450 Add Hit Object stubs
  wiki/Beatmapping/Slider_tick_rate/en.md
  wiki/Hit_Objects/en.md
  wiki/Hit_object/Approach_circle/en.md
  wiki/Hit_object/Hit_circle/en.md
  wiki/Hit_object/Reverse_slider/en.md
  wiki/Hit_object/Slider/en.md
  wiki/Hit_object/Slider_anchor/en.md
  wiki/Hit_object/Slider_velocity/en.md
  wiki/Hit_object/Sliderbody/en.md
  wiki/Hit_object/Sliderhead/en.md
  wiki/Hit_object/Slidertail/en.md
  wiki/Hit_object/Spinner/en.md
  wiki/Hit_object/de.md
  wiki/Hit_object/en.md
  wiki/Hit_object/es.md
  wiki/Hit_object/fr.md
  wiki/Hit_object/id.md
  wiki/Hit_object/img/Hit_circle.png
  wiki/Hit_object/img/Slider2.jpg
  wiki/Hit_object/img/Spinner.jpg
  wiki/Hit_object/ko.md
  wiki/Hit_object/pt.md
  wiki/redirect.yaml
Labels: area:beatmapping, area:gameplay, size/L, type:new article

#3681 [ID] Add osu!dev Discord server
  wiki/osu!dev_Discord_server/en.md
  wiki/osu!dev_Discord_server/id.md
  wiki/osu!dev_Discord_server/zh.md
Labels: area:community, area:translations, size/M, stale merge, type:new article

#3682 [ID] Add Brand identity guidelines
  wiki/Brand_identity_guidelines/en.md
  wiki/Brand_identity_guidelines/fr.md
  wiki/Brand_identity_guidelines/id.md
Labels: area:community, area:translations, size/M, stale merge, type:new article

#3782 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/XS, type:update

#3770 Clean up 'Do you really want to ask peppy?'
  wiki/Do_you_really_want_to_ask_peppy/de.md
  wiki/Do_you_really_want_to_ask_peppy/en.md
  wiki/Do_you_really_want_to_ask_peppy/es.md
  wiki/Do_you_really_want_to_ask_peppy/fr.md
  wiki/Do_you_really_want_to_ask_peppy/id.md
  wiki/Do_you_really_want_to_ask_peppy/ja.md
  wiki/Do_you_really_want_to_ask_peppy/ko.md
  wiki/Do_you_really_want_to_ask_peppy/pl.md
  wiki/Do_you_really_want_to_ask_peppy/ru.md
  wiki/Do_you_really_want_to_ask_peppy/zh.md
Labels: size/M, type:clean up

#3783 Fix a few errors in MWR section of Contests
  wiki/Contests/en.md
Labels: size/XS

#3785 Update IGTS 2020 for Semifinals
  wiki/Tournaments/GTS/IGTS_2020/en.md
Labels: area:tournaments, size/M, type:update

#3784 Update EGTS 2020 for Semifinals
  wiki/Tournaments/GTS/EGTS_2020/en.md
Labels: area:tournaments, size/M, type:update

#3787 Fix Hit object redirects
  wiki/redirect.yaml
Labels: size/M, type:clean up

#3757 Add OWC 2020 Staff Applications newspost
  news/2020-06-28-osu-world-cup-2020-staff-and-mapper-application.md
  wiki/shared/news/banners/OWC_2020_banner.jpg
  wiki/shared/news/banners/OWC_2020_banner@2x.jpg
Labels: area:news, size/M, type:new article

#3789 [PL] Update Registration
  wiki/Registration/pl.md
Labels: area:translations, size/S, type:update

#3788 [PL] Update Main Page
  wiki/Main_Page/pl.md
Labels: area:translations, size/S, type:update
