Repository ppy/osu-wiki, pull requests merged in 2020-12, with the labels that each got.

#4464 osu! Mapping Olympiad #7: Results (osu!mania)
  news/2020-12-01-osu-mapping-olympiad-7-concludes.md
Labels: area:news, size/M

#4547 [ZH] Fix wrong date in OWC2020
  wiki/Tournaments/OWC/2020/zh.md
Labels: area:tournaments, area:translations, size/XS, type:update

#4475 [ES] Update Main Page
  wiki/Main_Page/es.md
Labels: area:translations, size/M, state:needs native review, type:update

#4546 Update SOL2 for Round of 32
  wiki/Tournaments/SOL/2020/en.md
Labels: area:tournaments, size/L, type:update

#4531 Update Spotlights Team listing and history
  wiki/Beatmap_Spotlights/en.md
  wiki/Beatmap_Spotlights/pt-br.md
  wiki/Beatmap_Spotlights/zh.md
Labels: area:community, size/S, type:update

#4534 [ID] Rework and update Featured Artists
  wiki/Featured_Artists/en.md
  wiki/Featured_Artists/id.md
Labels: area:translations, size/M, type:clean up, type:update

#4548 Move RC rule about spoiler warnings
  wiki/Ranking_Criteria/en.md
Labels: area:ranking criteria, size/XS, type:clean up

#4550 Fix indentation of Spotlights playlists
  wiki/Beatmap_Spotlights/Seasons/2020_Autumn/en.md
  wiki/Beatmap_Spotlights/Seasons/2020_Summer/en.md
Labels: area:beatmapping, area:tournaments, size/L, type:clean up

#4549 Add Spotlights autumn playlist D
  wiki/Beatmap_Spotlights/Seasons/2020_Autumn/en.md
Labels: area:beatmapping, area:tournaments, size/M, type:update

#4555 Add MuryokuP / Powerless FA news post
  news/2020-12-02-new-featured-artist-muryokup-powerless.md
Labels: area:news, size/M

#4551 [RU] Update Rules
  wiki/Rules/ru.md
Labels: area:translations, size/L, type:update

#4557 Update IRC
  wiki/Internet_Relay_Chat/en.md
Labels: size/M, type:update

#4559 Clean up IRC and outdate translations
  wiki/Internet_Relay_Chat/en.md
  wiki/Internet_Relay_Chat/es.md
  wiki/Internet_Relay_Chat/fr.md
  wiki/Internet_Relay_Chat/id.md
  wiki/Internet_Relay_Chat/ja.md
Labels: size/S, type:clean up

#4560 [RU] Update IRC
  wiki/Internet_Relay_Chat/ru.md
Labels: area:translations, size/L, type:update

#4562 [EN/RU] Specify osu!lazer users unlisted in IRC clients
  wiki/Internet_Relay_Chat/en.md
  wiki/Internet_Relay_Chat/ru.md
Labels: area:translations, size/XS, type:update

#4564 Add MYUKKE FA announcement post
  news/2020-12-05-new-featured-artist-myukke.md
Labels: size/M

#4558 [RU/EN] Add Accuracy, fix broken link in the original article
  wiki/Accuracy/en.md
  wiki/Accuracy/ru.md
Labels: area:translations, size/M, state:needs native review, type:new article

#4570 Update Users with unique titles
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/id.md
  wiki/People/Users_with_unique_titles/pt-br.md
  wiki/People/Users_with_unique_titles/th.md
  wiki/People/Users_with_unique_titles/tr.md
  wiki/People/Users_with_unique_titles/zh.md
Labels: area:community, size/L, type:update

#3127 Rewrite the "Adding Custom Hitsounds" guide
  wiki/Guides/Adding_Custom_Hitsounds/en.md
  wiki/Guides/Adding_Custom_Hitsounds/img/ACH_01.png
  wiki/Guides/Adding_Custom_Hitsounds/img/ACH_02.png
  wiki/Guides/Using_custom_hitsounds/de.md
  wiki/Guides/Using_custom_hitsounds/en.md
  wiki/Guides/Using_custom_hitsounds/fr.md
  wiki/Guides/Using_custom_hitsounds/id.md
  wiki/Guides/Using_custom_hitsounds/img/adding-custom-hitsounds.png
  wiki/Guides/Using_custom_hitsounds/img/beatmap-folder-resources.png
  wiki/Guides/Using_custom_hitsounds/img/using-multiple-hitsound-sets.png
  wiki/Guides/Using_custom_hitsounds/pt-br.md
  wiki/Guides/Using_custom_hitsounds/tr.md
  wiki/redirect.yaml
Labels: area:beatmapping, size/M, type:rewrite

#4571 Add kanki2 and xbopost to Users with unique titles
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/id.md
  wiki/People/Users_with_unique_titles/pt-br.md
  wiki/People/Users_with_unique_titles/th.md
  wiki/People/Users_with_unique_titles/tr.md
  wiki/People/Users_with_unique_titles/zh.md
Labels: area:community, size/S, type:update

#4572 Fix timeline typos
  wiki/Mapping_and_Modding_Timeline/en.md
Labels: size/XS, type:clean up

#4580 Fix NatsumeRin's name in Mapping and modding timeline
  wiki/Mapping_and_Modding_Timeline/en.md
Labels: size/XS, type:clean up

#4578 Update TSCW 2020 to Semifinals
  wiki/Tournaments/TSC/2020_Winter/en.md
Labels: area:tournaments, size/L, type:update

#4577 Update BGTS 2020 to Group Stage
  wiki/Tournaments/GTS/BGTS_2020/en.md
Labels: area:tournaments, size/L, type:update

#4573 [TR] Update BanchoBot
  wiki/BanchoBot/tr.md
Labels: area:translations, size/S, state:needs native review, type:update

#4574 [TR] Update Installation/macOS
  wiki/Installation/macOS/tr.md
Labels: size/M

#4575 [TR] Update Project Loved Team
  wiki/People/The_Team/Project_Loved_Team/tr.md
Labels: area:translations, size/XS, state:needs native review, type:update

#4576 [TR] Update Shortcut key reference
  wiki/Shortcut_key_reference/tr.md
Labels: area:translations, size/S, state:needs native review, type:update

#3867 Add P-R lettered article stubs from glossary
  wiki/Disambiguation/Rank/en.md
  wiki/Disambiguation/en.md
  wiki/Pass/en.md
  wiki/People/en.md
  wiki/People/peppy/en.md
  wiki/Performance_points/Total_performance_points/en.md
  wiki/Performance_points/Weighting_system/en.md
  wiki/Performance_points/en.md
  wiki/Performance_points/fr.md
  wiki/Performance_points/ppv1/en.md
  wiki/Performance_points/ppv2/en.md
  wiki/Performance_points/ru.md
  wiki/Ranking/en.md
  wiki/Recalculate_slider_lengths/en.md
  wiki/Resnap/en.md
  wiki/redirect.yaml
Labels: area:beatmapping, area:community, area:gameplay, size/L, type:new article

#4579 Add 3 Digit Taiko World Cup article
  wiki/Tournaments/3TWC/1/en.md
  wiki/Tournaments/3TWC/1/img/logo.png
  wiki/Tournaments/3TWC/en.md
Labels: area:tournaments, type:new article

#4502 [ID] Update Rules, Add COC and Abuse
  wiki/Contributor_Code_of_Conduct/id.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/Nomination_Assessment_Team/id.md
  wiki/Reporting_Bad_Behaviour/Abuse/id.md
  wiki/Rules/id.md
Labels: area:translations, size/L, type:new article, type:update

#4582 Update SOL2 for Round of 16
  wiki/Tournaments/SOL/2020/en.md
Labels: area:tournaments, size/M, type:update

#4581 Add osu!mania South East Asia Champion 2020 article
  wiki/Tournaments/SEAC/2020/en.md
  wiki/Tournaments/SEAC/2020/img/logo.gif
  wiki/Tournaments/SEAC/en.md
Labels: area:tournaments, type:new article

#4584 Add New Featured Artist: Lifetheory newspost
  news/2020-12-09-new-featured-artist-lifetheory.md
Labels: area:news, size/M, type:new article

#4587 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: size/L

#4585 Update Visual Settings
  wiki/Visual_Settings/en.md
  wiki/Visual_Settings/fr.md
  wiki/Visual_Settings/ko.md
  wiki/Visual_Settings/nl.md
  wiki/Visual_Settings/ru.md
  wiki/Visual_Settings/tr.md
Labels: area:client, size/S, type:update

#4588 More precise timestamps of July '13 news posts
  news/2013-07-31-clicking-styles.md
  news/2013-07-31-commentating-circle-clicking-competitions.md
  news/2013-07-31-easy-mod-how-and-why.md
  news/2013-07-31-highlights-of-july.md
  news/2013-07-31-interview-with-ephemeral.md
  news/2013-07-31-maras-gaming-corner-july.md
  news/2013-07-31-the-revival.md
Labels: size/S

#4589 Fix broken table
  wiki/Tournaments/Template/en.md
Labels: size/XS

#4556 Add osu! Mapping Olympiad wiki article
  wiki/Contests/Mapping_Olympiad/en.md
  wiki/Contests/en.md
  wiki/Contests/fr.md
Labels: area:community, size/M, type:clean up, type:new article

#4592 Add Winter 2020 Arrives newspost
  news/2020-12-02-winter-2020-arrives.md
Labels: size/L

#4595 Outdate the Livestreaming guide
  wiki/Guides/Live_Streaming_osu!/en.md
Labels: size/XS

#4596 Fix CI by updating ini 1.3.5 -> 1.3.8
  package-lock.json
Labels: area:utilities, size/XS

#4598 Add new FA kanone news post
  news/2020-12-12-new-featured-artist-kanone.md
Labels: size/M

#4461 [ID] Add Beatmap Nominators and Modding group articles
  wiki/Modding/BAT_Managers/id.md
  wiki/Modding/Beatmap_Appreciation_Team/id.md
  wiki/Modding/Beatmap_Nominator_Tiers/id.md
  wiki/Modding/Delegation_of_the_Beatmap_Approval_Deciding_Authorities_Submission_Squad/id.md
  wiki/Modding/Kudosu/id.md
  wiki/Modding/MAT_Leaders/id.md
  wiki/Modding/Mapping_Assistance_Team/id.md
  wiki/Modding/Mod_for_mod/id.md
  wiki/Modding/Mod_request/id.md
  wiki/Modding/Modder/id.md
  wiki/Modding/NAT_meetings/id.md
  wiki/Modding/Normal_mod/id.md
  wiki/Modding/Nuke/id.md
  wiki/Modding/Proto-bubble/id.md
  wiki/Modding/QAT_Leaders/id.md
  wiki/Modding/Quality_Assurance_Team/id.md
  wiki/Modding/Star_priority/id.md
  wiki/Modding/Timestamp/id.md
  wiki/Modding/id.md
  wiki/People/The_Team/Beatmap_Nominators/Beatmap_Nominator_Test/id.md
  wiki/People/The_Team/Beatmap_Nominators/Beatmap_Veto/id.md
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/id.md
  wiki/People/The_Team/Beatmap_Nominators/Expectations/id.md
  wiki/People/The_Team/Beatmap_Nominators/General_Information/id.md
  wiki/People/The_Team/Beatmap_Nominators/General_Information/img/nominate_id.png
  wiki/People/The_Team/Beatmap_Nominators/General_Information/img/reset_dq_id.png
  wiki/People/The_Team/Beatmap_Nominators/Rules/id.md
Labels: area:translations, size/L, state:needs native review, state:needs rebase, type:new article

#4503 [DE] Add Reporting Bad Behaviour/Abuse
  wiki/Reporting_Bad_Behaviour/Abuse/de.md
Labels: area:translations, size/M, state:needs native review, type:new article

#4506 [ES] Add osu! File Formats
  wiki/osu!_File_Formats/es.md
Labels: area:translations, size/M, state:needs native review, type:new article

#4519 [PL] Update Group info
  meta/group-info/pl.yaml
Labels: area:translations, size/M, state:needs native review, type:update

#4597 Update BN listing
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
Labels: area:community, size/S, type:update

#4590 Conclude o!mAC2020 tournament
  wiki/Tournaments/o!mAC/2020/en.md
Labels: area:tournaments, size/L, type:new article

#4601 Add outdated tag to Score Multiplier stub
  wiki/Game_modifier/Score_multiplier/en.md
Labels: size/XS

#4599 [PL] Update People, The Team, Community Contributors, Add Users with unique titles
  wiki/People/Community_Contributors/pl.md
  wiki/People/The_Team/pl.md
  wiki/People/Users_with_unique_titles/pl.md
  wiki/People/pl.md
Labels: area:translations, size/XL, state:needs native review, type:new article, type:update

#4603 [RU] Update Project Loved Team
  wiki/People/The_Team/Project_Loved_Team/ru.md
Labels: area:community, area:translations, size/S, type:update

#4535 [PL] Update outdated usergroup articles, add Developers and Project Loved Team
  wiki/People/The_Team/Developers/pl.md
  wiki/People/The_Team/Global_Moderation_Team/pl.md
  wiki/People/The_Team/Project_Loved_Team/pl.md
  wiki/People/The_Team/Support_Team/pl.md
  wiki/People/The_Team/osu!_Alumni/pl.md
Labels: area:translations, size/XL, state:needs native review, type:new article, type:update

#4606 Fix group-info casing rules
  meta/group-info/en.yaml
  meta/group-info/es.yaml
  meta/group-info/fr.yaml
  meta/group-info/id.yaml
  meta/group-info/ko.yaml
  meta/group-info/pl.yaml
  meta/group-info/pt-br.yaml
  meta/group-info/ru.yaml
  meta/group-info/th.yaml
  meta/group-info/tr.yaml
  meta/group-info/zh.yaml
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Global_Moderation_Team/es.md
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/id.md
  wiki/People/The_Team/Nomination_Assessment_Team/pt-br.md
  wiki/People/The_Team/Nomination_Assessment_Team/tr.md
  wiki/People/The_Team/osu!_Alumni/en.md
  wiki/People/The_Team/osu!_Alumni/es.md
  wiki/People/The_Team/osu!_Alumni/id.md
  wiki/People/The_Team/osu!_Alumni/pt-br.md
  wiki/People/The_Team/osu!_Alumni/ru.md
  wiki/People/The_Team/osu!_Alumni/tr.md
Labels: area:translations, area:utilities, size/XL, type:clean up, type:update

#4609 OWC2020 Conclusion update
  wiki/Tournaments/OWC/2020/en.md
  wiki/Tournaments/OWC/2020/img/badge.png
  wiki/Tournaments/OWC/2020/img/badge2.png
  wiki/Tournaments/OWC/2020/img/badge3.png
  wiki/Tournaments/OWC/2020/img/podium.jpg
Labels: area:tournaments, type:update

#4569 [ID] Add Beatmap Spotlights
  wiki/Beatmap_Spotlights/id.md
Labels: area:translations, size/L, type:new article

#4604 Update osu!talk listing and formatting
  wiki/osu!talk/en.md
Labels: area:community, size/L, type:clean up, type:update

#4602 [RU] Add Beatmap Nominators
  wiki/People/The_Team/Beatmap_Nominators/ru.md
Labels: area:community, area:translations, size/L, type:new article

#4611 Credit the original forum designer, phill
  wiki/People/The_Team/de.md
  wiki/People/The_Team/en.md
  wiki/People/The_Team/es.md
  wiki/People/The_Team/fr.md
  wiki/People/The_Team/id.md
  wiki/People/The_Team/it.md
  wiki/People/The_Team/pl.md
  wiki/People/The_Team/pt-br.md
  wiki/People/The_Team/pt.md
  wiki/People/The_Team/sv.md
  wiki/People/The_Team/th.md
  wiki/People/The_Team/tr.md
  wiki/People/The_Team/zh.md
Labels: area:community, size/M, type:clean up

#4518 [RU] [EN] Update Modding, Beatmap Ranking Procedure and add its translation
  wiki/Beatmap_ranking_procedure/en.md
  wiki/Beatmap_ranking_procedure/ru.md
  wiki/Modding/ru.md
Labels: area:translations, size/L, state:blocked, type:new article, type:update

#4616 Add MBC 10 results news post
  news/2020-12-14-monthly-beatmapping-contest-10-results.md
  wiki/Contests/Monthly_Beatmapping_Contest/en.md
Labels: size/L

#4613 Update TSCW 2020 for Finals
  wiki/Tournaments/TSC/2020_Winter/en.md
Labels: area:tournaments, size/M, type:update

#4618 Update group-info to include Norwegian language
  meta/group-info/en.yaml
  meta/group-info/es.yaml
  meta/group-info/id.yaml
  meta/group-info/pt-br.yaml
  meta/group-info/ru.yaml
  meta/group-info/th.yaml
  meta/group-info/tr.yaml
  meta/group-info/zh.yaml
Labels: area:translations, area:utilities, size/XS, type:update

#4619 [RU] Lowercase languages in group-info
  meta/group-info/ru.yaml
Labels: area:translations, area:utilities, size/M, type:clean up

#4617 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/ru.md
  wiki/People/The_Team/Support_Team/ru.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/L, type:update

#4623 Update SOL2 for Quarterfinals
  wiki/Tournaments/SOL/2020/en.md
Labels: area:tournaments, size/M, type:update

#4621 Explain the difference between the "Support Team" and account support
  wiki/People/The_Team/Support_Team/en.md
  wiki/People/The_Team/Support_Team/fr.md
  wiki/People/The_Team/Support_Team/id.md
  wiki/People/The_Team/Support_Team/pl.md
  wiki/People/The_Team/Support_Team/pt-br.md
  wiki/People/The_Team/Support_Team/tr.md
  wiki/People/The_Team/Support_Team/zh.md
Labels: area:community, size/S, type:clean up

#4608 [RU] Update Support Team
  wiki/People/The_Team/Support_Team/ru.md
Labels: area:community, area:translations, size/M, type:update

#4607 [RU] Rewrite and update NAT
  meta/group-info/ru.yaml
  wiki/People/The_Team/Nomination_Assessment_Team/ru.md
Labels: area:community, area:translations, size/L, type:rewrite

#4612 Update BGTS 2020 for Round of 32
  wiki/Tournaments/GTS/BGTS_2020/en.md
Labels: area:tournaments, size/L, type:update

#4630 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/M, type:update

#4627 [TR] Update Nomination Assessment Team and group-info
  meta/group-info/tr.yaml
  wiki/People/The_Team/Nomination_Assessment_Team/tr.md
Labels: area:translations, size/S, type:update

#4628 [TR] Update Global Moderation Team
  wiki/People/The_Team/Global_Moderation_Team/tr.md
Labels: area:translations, size/XS, type:update

#4631 RC: Add detailed reference for modified hepburn.
  wiki/Ranking_Criteria/en.md
Labels: area:ranking criteria, size/XS, type:update

#4632 Add A Labour Of Love teams listing
  wiki/Contests/A_Labour_of_Love_Contest/en.md
Labels: size/M

#4625 Allow alternative casing of "vs." and "feat." markers in RC
  wiki/Ranking_Criteria/en.md
Labels: area:ranking criteria, rule change, size/XS, type:update

#4633 Add Jun Kuroda FA news post
  news/2020-12-16-new-featured-artist-jun-kuroda.md
Labels: size/M

#4634 Change Jun Kuroda news header
  news/2020-12-16-new-featured-artist-jun-kuroda.md
  wiki/shared/news/2020-12-16-new-featured-artist-jun-kuroda/jun-kuroda-header.png
Labels: area:news, type:update

#4637 Update Alumni/GMT/BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Global_Moderation_Team/es.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/Global_Moderation_Team/pl.md
  wiki/People/The_Team/Global_Moderation_Team/pt-br.md
  wiki/People/The_Team/Global_Moderation_Team/ru.md
  wiki/People/The_Team/Global_Moderation_Team/th.md
  wiki/People/The_Team/Global_Moderation_Team/tr.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
  wiki/People/The_Team/osu!_Alumni/en.md
  wiki/People/The_Team/osu!_Alumni/es.md
  wiki/People/The_Team/osu!_Alumni/id.md
  wiki/People/The_Team/osu!_Alumni/pl.md
  wiki/People/The_Team/osu!_Alumni/pt-br.md
  wiki/People/The_Team/osu!_Alumni/ru.md
  wiki/People/The_Team/osu!_Alumni/tr.md
  wiki/People/The_Team/osu!_Alumni/zh.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/M, type:update

#4635 Update the listing of official tournaments
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/ko.md
  wiki/Tournaments/pl.md
  wiki/Tournaments/th.md
  wiki/Tournaments/zh.md
Labels: area:tournaments, size/L, type:update

#4636 Add article about accounts management team
  wiki/People/The_Team/Accounts_management_team/en.md
  wiki/People/The_Team/Support_Team/en.md
Labels: area:community, size/M, type:new article

#4641 Add links to the new account support team article
  wiki/Bot_account/en.md
  wiki/Bot_account/fr.md
  wiki/Bot_account/id.md
  wiki/Bot_account/pt-br.md
  wiki/Bot_account/ru.md
  wiki/Bot_account/tr.md
  wiki/Do_you_really_want_to_ask_peppy/en.md
  wiki/Do_you_really_want_to_ask_peppy/es.md
  wiki/Do_you_really_want_to_ask_peppy/fr.md
  wiki/Do_you_really_want_to_ask_peppy/id.md
  wiki/Do_you_really_want_to_ask_peppy/nl.md
  wiki/Do_you_really_want_to_ask_peppy/pt-br.md
  wiki/Do_you_really_want_to_ask_peppy/ru.md
  wiki/Do_you_really_want_to_ask_peppy/th.md
  wiki/Do_you_really_want_to_ask_peppy/tr.md
  wiki/Help_Centre/Account_Restrictions/en.md
  wiki/Help_Centre/Account_Restrictions/id.md
  wiki/Help_Centre/Account_Restrictions/pt-br.md
  wiki/Help_Centre/Account_Restrictions/tr.md
  wiki/Help_Centre/en.md
  wiki/People/The_Team/Account_support_team/en.md
  wiki/People/The_Team/Support_Team/en.md
  wiki/People/The_Team/Support_Team/ru.md
  wiki/People/The_Team/en.md
  wiki/People/The_Team/ru.md
Labels: size/M, type:update

#4642 Add osu! South East Asia Tournament 4 (oSEAT4) wiki article
  wiki/Tournaments/oSEAT/4/en.md
  wiki/Tournaments/oSEAT/4/img/badge.png
  wiki/Tournaments/oSEAT/4/img/group-stage-bracket.jpg
  wiki/Tournaments/oSEAT/4/img/logo.jpg
  wiki/Tournaments/oSEAT/en.md
Labels: area:tournaments, type:new article

#4624 Minor tweaks to Mods stubs
  wiki/Game_modifier/Auto/en.md
  wiki/Game_modifier/Cinema/en.md
  wiki/Game_modifier/Co-op/en.md
  wiki/Game_modifier/Double_Time/en.md
  wiki/Game_modifier/Flashlight/en.md
  wiki/Game_modifier/Half_Time/en.md
  wiki/Game_modifier/Hard_Rock/en.md
  wiki/Game_modifier/Hidden/en.md
  wiki/Game_modifier/Mirror/en.md
  wiki/Game_modifier/ScoreV2/en.md
  wiki/Game_modifier/Sudden_Death/en.md
  wiki/Game_modifier/xK/en.md
Labels: area:gameplay, size/M, type:update

#4629 Update Countries_that_participated_in_osu!_tournaments
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/de.md
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/en.md
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/es.md
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/pt-br.md
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/pt.md
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/zh.md
Labels: area:tournaments, size/XL, type:clean up, type:update

#4645 [PL] Update Main Page
  wiki/Main_Page/pl.md
Labels: area:translations, size/M, type:update

#4643 Add combo disambiguation page
  wiki/Disambiguation/Combo/en.md
  wiki/Disambiguation/en.md
  wiki/redirect.yaml
Labels: size/S, type:new article

#3411 Add input device stubs
  wiki/Gameplay/Input_device/Beatmania_controller/en.md
  wiki/Gameplay/Input_device/Beatmania_controller/img/beatmania-controller.jpg
  wiki/Gameplay/Input_device/Dance_pad/en.md
  wiki/Gameplay/Input_device/Dance_pad/img/dance-pad.jpg
  wiki/Gameplay/Input_device/Drum_controller/en.md
  wiki/Gameplay/Input_device/Drum_controller/img/taiko-drum.jpg
  wiki/Gameplay/Input_device/Graphics_tablet/en.md
  wiki/Gameplay/Input_device/Graphics_tablet/img/os-tabletpc-option.jpg
  wiki/Gameplay/Input_device/Graphics_tablet/img/tablet.jpg
  wiki/Gameplay/Input_device/Keyboard/en.md
  wiki/Gameplay/Input_device/Mouse/en.md
  wiki/Gameplay/Input_device/Touch_device/en.md
  wiki/Gameplay/Input_device/Wiimote/en.md
  wiki/Gameplay/Input_device/Wiimote/img/wiimote-support-option.jpg
  wiki/Gameplay/Input_device/Wiimote/img/wiimote.jpg
  wiki/Gameplay/Input_device/en.md
  wiki/Gameplay/en.md
Labels: area:gameplay, size/M, type:new article

#4648 Add Erik McClure FA news post
  news/2020-12-19-new-featured-artist-erik-mcclure.md
Labels: size/M

#4649 Update Users with unique titles listing
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/id.md
  wiki/People/Users_with_unique_titles/pl.md
  wiki/People/Users_with_unique_titles/pt-br.md
  wiki/People/Users_with_unique_titles/th.md
  wiki/People/Users_with_unique_titles/tr.md
  wiki/People/Users_with_unique_titles/zh.md
Labels: size/XS

#4646 [RU] Fix links in Russian articles where possible
  wiki/Accuracy/ru.md
  wiki/BanchoBot/ru.md
  wiki/Beatmapping/ru.md
  wiki/Guides/Tips_and_Tricks_on_Skill_Improvement/ru.md
  wiki/Guides/ru.md
  wiki/Internet_Relay_Chat/ru.md
  wiki/Main_Page/ru.md
  wiki/Medals/ru.md
  wiki/Multi/ru.md
  wiki/Music_theory/ru.md
  wiki/People/The_Team/osu!_Alumni/ru.md
  wiki/Project_Loved/ru.md
  wiki/Reporting_Bad_Behaviour/Handling_Foul_Play/ru.md
  wiki/Rules/ru.md
  wiki/Skinning/ru.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/ru.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Web_Interface/ru.md
  wiki/osu!_wiki_Contribution_Guide/ru.md
Labels: size/L

#4565 [ES] Add Developers
  wiki/People/The_Team/Developers/es.md
Labels: area:translations, size/M, state:needs native review, type:new article

#4553 [ES] Add Game modifier
  wiki/Game_modifier/es.md
Labels: area:translations, size/M, type:new article

#4515 [ID] Update Beatmaps
  wiki/Beatmaps/id.md
Labels: area:translations, size/M, state:needs rebase, type:update

#3734 Update Article styling criteria and split it into formatting and writing style rules
  wiki/Article_Styling_Criteria/en.md
  wiki/Article_styling_criteria/Formatting/en.md
  wiki/Article_styling_criteria/Writing/en.md
  wiki/Article_styling_criteria/en.md
  wiki/Article_styling_criteria/ru.md
  wiki/Article_styling_criteria/zh.md
Labels: rule change, type:update

#4651 Outdate Russian and Chinese Article styling criteria
  wiki/Article_styling_criteria/ru.md
  wiki/Article_styling_criteria/zh.md
Labels: area:translations, area:utilities, size/XS, type:update

#4653 Remove the "How to play osu!mania" guide
  wiki/Guides/How_to_Play_osu!mania/en.md
  wiki/Guides/How_to_Play_osu!mania/img/Basic.png
  wiki/Guides/How_to_Play_osu!mania/img/Hold.png
  wiki/Guides/How_to_Play_osu!mania/img/Mania-Screenshot.jpg
  wiki/Guides/How_to_Play_osu!mania/ru.md
  wiki/Guides/en.md
  wiki/Guides/fr.md
  wiki/Guides/ja.md
  wiki/Guides/pt-br.md
  wiki/Guides/ru.md
  wiki/Guides/tr.md
  wiki/redirect.yaml
Labels: area:translations, type:clean up

#4644 Add offset disambiguation page
  wiki/Disambiguation/Offset/en.md
  wiki/redirect.yaml
Labels: size/S, type:new article

#4650 [RU] Mark some translations as in need of rewrite/cleanup
  wiki/Beatmap_Editor/Design/ru.md
  wiki/Beatmaps/Packs/ru.md
  wiki/Chat_Console/ru.md
  wiki/Disambiguation/NM/ru.md
  wiki/Disambiguation/ru.md
  wiki/Featured_Artists/ru.md
  wiki/Guides/Collab_Information/ru.md
  wiki/Guides/Getting_Your_Map_Modded/ru.md
  wiki/Guides/How_to_Time_Songs/ru.md
  wiki/Guides/Tips_and_Tricks_on_Skill_Improvement/ru.md
  wiki/Guides/ru.md
  wiki/How_you_can_help!/ru.md
  wiki/Installation/ru.md
  wiki/Legal/Copyright/ru.md
  wiki/Legal/ru.md
  wiki/Modding/Kudosu/ru.md
  wiki/Music_theory/ru.md
  wiki/People/The_Team/Global_Moderation_Team/ru.md
  wiki/Reporting_Bad_Behaviour/Handling_Foul_Play/ru.md
  wiki/Submission/ru.md
  wiki/Visual_Settings/ru.md
  wiki/osu!_Program_Files/ru.md
  wiki/osu!api/ru.md
  wiki/osu!tourney/ru.md
Labels: area:translations, area:utilities, size/M

#4639 Add article about user titles
  wiki/User_title/en.md
  wiki/User_title/img/dev.png
  wiki/User_title/img/star-shooter.png
Labels: area:community, area:website, type:new article

#4658 Update SOL2 for Semifinals
  wiki/Tournaments/SOL/2020/en.md
Labels: size/M

#4657 Update TSCW 2020 to Grand Finals
  wiki/Tournaments/TSC/2020_Winter/en.md
Labels: size/M

#4656 Update BGTS 2020 to Round of 16
  wiki/Tournaments/GTS/BGTS_2020/en.md
Labels: size/M, state:needs rebase

#4568 [ES] Add Nomination Assessment Team
  wiki/People/The_Team/Nomination_Assessment_Team/es.md
Labels: area:translations, size/M, state:needs native review, type:new article

#4659 Add Project Loved: December 2020 news post
  news/2020-12-21-project-loved-december-2020.md
  wiki/shared/news/2020-12-21-project-loved-december-2020/catch/1-break-over.jpg
  wiki/shared/news/2020-12-21-project-loved-december-2020/catch/2-exit-this-earth-s-atomosphere-camellia-s-planetary-200step-remix.jpg
  wiki/shared/news/2020-12-21-project-loved-december-2020/catch/3-jackhammer-madness.jpg
  wiki/shared/news/2020-12-21-project-loved-december-2020/catch/4-akasha.jpg
  wiki/shared/news/2020-12-21-project-loved-december-2020/mania/1-edison.jpg
  wiki/shared/news/2020-12-21-project-loved-december-2020/mania/2-electric-angel.jpg
  wiki/shared/news/2020-12-21-project-loved-december-2020/mania/3-move-that-body-extended-mix.jpg
  wiki/shared/news/2020-12-21-project-loved-december-2020/mania/4-oceanus.jpg
  wiki/shared/news/2020-12-21-project-loved-december-2020/mania/5-flexo123-s-pack.jpg
  wiki/shared/news/2020-12-21-project-loved-december-2020/mania/6-rockhill.jpg
  wiki/shared/news/2020-12-21-project-loved-december-2020/osu/1-flashbacklog.jpg
  wiki/shared/news/2020-12-21-project-loved-december-2020/osu/10-beyond-the-blue.jpg
  wiki/shared/news/2020-12-21-project-loved-december-2020/osu/2-gekka-midare-botan.jpg
  wiki/shared/news/2020-12-21-project-loved-december-2020/osu/3-songs-compilation.jpg
  wiki/shared/news/2020-12-21-project-loved-december-2020/osu/4-revolvania.jpg
  wiki/shared/news/2020-12-21-project-loved-december-2020/osu/5-lost-umbrella.jpg
  wiki/shared/news/2020-12-21-project-loved-december-2020/osu/6-remeslo.jpg
  wiki/shared/news/2020-12-21-project-loved-december-2020/osu/7-love-scenario.jpg
  wiki/shared/news/2020-12-21-project-loved-december-2020/osu/8-snow-crystal-185.jpg
  wiki/shared/news/2020-12-21-project-loved-december-2020/osu/9-embraced-by-the-flame.jpg
  wiki/shared/news/2020-12-21-project-loved-december-2020/taiko/1-el-porron-cut-ver.jpg
  wiki/shared/news/2020-12-21-project-loved-december-2020/taiko/2-invisible-poltergeist-mix.jpg
  wiki/shared/news/2020-12-21-project-loved-december-2020/taiko/3-reimei-sketchbook.jpg
  wiki/shared/news/2020-12-21-project-loved-december-2020/taiko/4-nil-phonation.jpg
Labels: area:news, type:new article

#4661 Update A Labour Of Love teams list
  wiki/Contests/A_Labour_of_Love_Contest/en.md
Labels: area:beatmapping, area:tournaments, size/XS, type:update

#4665 Fix "Scorewatch" title in Community Contributors descriptions
  wiki/People/Community_Contributors/en.md
  wiki/People/Community_Contributors/es.md
  wiki/People/Community_Contributors/fr.md
  wiki/People/Community_Contributors/id.md
  wiki/People/Community_Contributors/pt-br.md
  wiki/People/Community_Contributors/tr.md
Labels: area:community, size/S, type:clean up

#4662 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: size/M

#4663 Update osu! South East Asia Tournament 4 for Round of 32
  wiki/Tournaments/oSEAT/4/en.md
Labels: area:tournaments, size/L, type:update

#4666 Fix osu!standard multiplier for Double Time
  wiki/Game_modifier/Double_Time/en.md
Labels: area:gameplay, size/XS, type:update

#4561 Summarize the Visual Content Considerations
  wiki/Rules/Visual_Content_Considerations/en.md
  wiki/Rules/Visual_Content_Considerations/id.md
  wiki/Rules/Visual_Content_Considerations/ru.md
  wiki/Rules/Visual_Content_Considerations/tr.md
  wiki/Rules/Visual_Content_Considerations/zh.md
Labels: area:community, rule change, size/L, type:update

#4670 Add BLOOD STAIN CHILD Featured Artist news post
  news/2020-12-23-new-featured-artist-blood-stain-child.md
Labels: size/M

#4673 [TR] Add Account support team and update related articles
  wiki/Bot_account/tr.md
  wiki/Do_you_really_want_to_ask_peppy/tr.md
  wiki/Help_Centre/Account_Restrictions/tr.md
  wiki/People/The_Team/Account_support_team/tr.md
  wiki/People/The_Team/Support_Team/tr.md
  wiki/People/The_Team/tr.md
Labels: area:translations, size/M, type:new article, type:update

#4675 [TR] Update Visual Content Considerations
  wiki/Rules/Visual_Content_Considerations/tr.md
Labels: size/L

#4676 [TR] Update Using custom hitsounds and Visual Settings
  wiki/Guides/Using_custom_hitsounds/tr.md
  wiki/Visual_Settings/tr.md
Labels: size/M

#4678 [TR] Add Expectations for Beatmap Nominators and update related articles
  wiki/People/The_Team/Beatmap_Nominators/Expectations/tr.md
  wiki/People/The_Team/Beatmap_Nominators/Rules/tr.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
Labels: size/M

#4681 Add Aitsuki Nakuru FA news post
  news/2020-12-26-new-featured-artist-aitsuki-nakuru.md
Labels: size/M

#4683 Recapitulate number of new FAs announced in 2020 on Featured Artist articles
  wiki/Featured_Artists/en.md
  wiki/Featured_Artists/id.md
  wiki/Featured_Artists/nl.md
  wiki/Featured_Artists/tr.md
Labels: size/S

#4567 [ID] Add gameplay-related articles (Fingerlock, Mind block, Slider break, Tablet cover) and their index
  wiki/Gameplay/Fingerlock/id.md
  wiki/Gameplay/Mind_block/id.md
  wiki/Gameplay/Slider_break/id.md
  wiki/Gameplay/Tablet_cover/id.md
  wiki/Gameplay/id.md
Labels: area:translations, size/L, state:needs native review, type:new article, type:update

#4684 [ID] Gameplay translation improvements
  wiki/Gameplay/Mind_block/id.md
  wiki/Gameplay/Tablet_cover/id.md
  wiki/Gameplay/id.md
Labels: area:translations, size/S, type:clean up

#4692 Update images for game modifier articles
  wiki/Game_modifier/Cinema/en.md
  wiki/Game_modifier/Cinema/img/CM-comparison.jpg
  wiki/Game_modifier/Co-op/en.md
  wiki/Game_modifier/Co-op/img/CP-comparison-converted-beatmap.jpg
  wiki/Game_modifier/Co-op/img/CP-comparison-mania-specific-beatmap.jpg
  wiki/Game_modifier/Easy/en.md
  wiki/Game_modifier/Easy/img/EZ-comparison-catch.jpg
  wiki/Game_modifier/Easy/img/EZ-comparison-standard.jpg
  wiki/Game_modifier/Fade_In/en.md
  wiki/Game_modifier/Fade_In/img/FI-combo-comparison-mania.jpg
  wiki/Game_modifier/Flashlight/en.md
  wiki/Game_modifier/Flashlight/img/FL-catch.jpg
  wiki/Game_modifier/Flashlight/img/FL-comparison-standard.jpg
  wiki/Game_modifier/Flashlight/img/FL-mania.jpg
  wiki/Game_modifier/Flashlight/img/FL-taiko.jpg
  wiki/Game_modifier/Hard_Rock/en.md
  wiki/Game_modifier/Hard_Rock/img/HR-comparison-catch.jpg
  wiki/Game_modifier/Hard_Rock/img/HR-comparison-standard.jpg
  wiki/Game_modifier/Hidden/en.md
  wiki/Game_modifier/Hidden/img/HD-catch.jpg
  wiki/Game_modifier/Hidden/img/HD-combo-comparison-mania.jpg
  wiki/Game_modifier/Hidden/img/HD-standard.jpg
  wiki/Game_modifier/Hidden/img/HD-taiko.jpg
  wiki/Game_modifier/Mirror/en.md
  wiki/Game_modifier/Mirror/img/MR-comparison-mania.jpg
  wiki/Game_modifier/Random/en.md
  wiki/Game_modifier/Random/img/RD-comparison-mania.jpg
  wiki/Game_modifier/Target_Practice/en.md
  wiki/Game_modifier/Target_Practice/img/TP-gameplay.jpg
  wiki/Game_modifier/en.md
  wiki/Game_modifier/img/mod-selection-screen.jpg
Labels: area:gameplay, type:update

#4695 Add report link to VCC
  wiki/Rules/Visual_Content_Considerations/en.md
Labels: size/XS

#4696 Update Alumni/BN/NAT listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/id.md
  wiki/People/The_Team/Nomination_Assessment_Team/pt-br.md
  wiki/People/The_Team/Nomination_Assessment_Team/ru.md
  wiki/People/The_Team/Nomination_Assessment_Team/th.md
  wiki/People/The_Team/Nomination_Assessment_Team/tr.md
  wiki/People/The_Team/Nomination_Assessment_Team/zh.md
  wiki/People/The_Team/osu!_Alumni/en.md
  wiki/People/The_Team/osu!_Alumni/es.md
  wiki/People/The_Team/osu!_Alumni/id.md
  wiki/People/The_Team/osu!_Alumni/pl.md
  wiki/People/The_Team/osu!_Alumni/pt-br.md
  wiki/People/The_Team/osu!_Alumni/ru.md
  wiki/People/The_Team/osu!_Alumni/tr.md
  wiki/People/The_Team/osu!_Alumni/zh.md
  wiki/Staff_Log/2020/en.md
Labels: size/L

#4615 [ID] Fix wording of BAT history in Beatmap Nominators
  wiki/People/The_Team/Beatmap_Nominators/id.md
Labels: area:translations, size/XS, type:clean up

#4614 [ID/EN] Add and update Disambiguation and group articles
  wiki/Disambiguation/Bancho/id.md
  wiki/Disambiguation/Combo/id.md
  wiki/Disambiguation/EZ/id.md
  wiki/Disambiguation/Easy/id.md
  wiki/Disambiguation/Fail/id.md
  wiki/Disambiguation/Mod/id.md
  wiki/Disambiguation/NC/id.md
  wiki/Disambiguation/NM/id.md
  wiki/Disambiguation/Offset/id.md
  wiki/Disambiguation/Rank/id.md
  wiki/Disambiguation/Version/id.md
  wiki/Disambiguation/en.md
  wiki/Disambiguation/id.md
  wiki/Disambiguation/osu!/id.md
Labels: area:translations, size/L, type:new article, type:update

#4626 [ZH] Conclude OWC 2020
  wiki/Tournaments/OWC/2020/zh.md
Labels: area:translations, size/M, type:update

#4594 [KO] Add mappers' guild translation
  wiki/Mappers_Guild/ko.md
Labels: area:translations, size/M, state:needs rebase, type:new article

#4586 [ZH/EN] Add Interface, update information in English article
  wiki/Interface/en.md
  wiki/Interface/img/Osu!_Online_score-ZH.jpg
  wiki/Interface/img/Soloplay10-ZH.jpg
  wiki/Interface/img/Soloplay3-ZH.png
  wiki/Interface/img/Soloplay5-ZH.png
  wiki/Interface/img/Soloplay8-ZH.jpg
  wiki/Interface/img/Soloplay9-ZH.jpg
  wiki/Interface/img/Useroptions1-ZH.png
  wiki/Interface/zh.md
Labels: area:client, area:translations, type:new article, type:update

#4566 [ES] Update Support Team
  wiki/People/The_Team/Support_Team/es.md
Labels: area:translations, size/S, state:needs native review, type:update

#4593 [KO] Add a few Beatmapping articles
  wiki/Beatmap_ranking_procedure/ko.md
  wiki/Modding/ko.md
  wiki/Ranking_Criteria/osu!/ko.md
  wiki/Submission/ko.md
Labels: area:translations, size/L, state:needs rebase, type:new article

#4652 Rewrite Beatmaps and Beatmapsets
  wiki/Beatmaps/Beatmapsets/en.md
  wiki/Beatmaps/Beatmapsets/id.md
  wiki/Beatmaps/Beatmapsets/zh.md
  wiki/Beatmaps/en.md
  wiki/Beatmaps/id.md
  wiki/Beatmaps/ko.md
  wiki/Beatmaps/tr.md
  wiki/Beatmaps/zh.md
Labels: area:beatmapping, size/L, type:rewrite

#4600 Cleanup BBCode
  wiki/BBCode/en.md
  wiki/BBCode/img/editor.jpg
  wiki/BBCode/img/quotereply.png
Labels: area:website, type:clean up, type:update

#4697 Add a query string to the BBCode editor image
  wiki/BBCode/en.md
Labels: size/XS, type:clean up

#4700 Update osu! South East Asia Tournament 4 to Round of 16
  wiki/Tournaments/oSEAT/4/en.md
Labels: area:tournaments, size/M, type:update

#4708 Update SEAC 2020 for Post-Qualifiers
  wiki/Tournaments/SEAC/2020/en.md
Labels: size/L

#4706 Update group-info to include Danish
  meta/group-info/en.yaml
  meta/group-info/es.yaml
  meta/group-info/id.yaml
  meta/group-info/pl.yaml
  meta/group-info/pt-br.yaml
  meta/group-info/ru.yaml
  meta/group-info/th.yaml
  meta/group-info/tr.yaml
  meta/group-info/zh.yaml
Labels: size/S

#4704 Update Information in osu!tourney page
  wiki/osu!tourney/Multiplayer_Usage/en.md
  wiki/osu!tourney/Setup/en.md
Labels: area:tournaments, size/XS, type:update

#4694 Add Cemara Mania Cup #1 (2020) wiki article
  wiki/Tournaments/CMC/2020/en.md
  wiki/Tournaments/CMC/2020/img/logo.jpg
  wiki/Tournaments/CMC/en.md
Labels: area:tournaments, type:new article

#4591 [ID] Add RC, Scaling BPM, and Difficulty Naming
  wiki/Ranking_Criteria/Difficulty_Naming/id.md
  wiki/Ranking_Criteria/Scaling_BPM/id.md
  wiki/Ranking_Criteria/id.md
Labels: area:translations, size/L, type:new article

#4583 [ZH] Add Visual Settings
  wiki/Visual_Settings/img/visual-settings-ZH.png
  wiki/Visual_Settings/zh.md
Labels: area:translations, size/XXL, type:new article

#4691 Rewrite the livestreaming guide
  wiki/Guides/Live_Streaming_osu!/en.md
  wiki/Guides/Live_Streaming_osu!/img/OBSMP_Finished.png
  wiki/Guides/Live_Streaming_osu!/img/OBSMP_FirstStart.png
  wiki/Guides/Live_Streaming_osu!/img/OBSMP_GameCapture1.png
  wiki/Guides/Live_Streaming_osu!/img/OBSMP_GameCapture2.png
  wiki/Guides/Live_Streaming_osu!/img/OBSMP_StreamKey.png
  wiki/Guides/Live_Streaming_osu!/img/OBS_AddGameCapture.jpg
  wiki/Guides/Live_Streaming_osu!/img/OBS_FillStreamKey.png
  wiki/Guides/Live_Streaming_osu!/img/OBS_FirstStart.png
  wiki/Guides/Live_Streaming_osu!/img/OBS_GetTwitchKey.jpg
  wiki/Guides/Live_Streaming_osu!/img/OBS_InsertOsuAsGlobalSource.jpg
  wiki/Guides/Live_Streaming_osu!/img/OBS_LocateBroadcastSettings.png
  wiki/Guides/Live_Streaming_osu!/img/OBS_SetOsuAsGameCapture.png
  wiki/Guides/Live_Streaming_osu!/img/TTV_ChannelSetup.jpg
  wiki/Guides/Live_Streaming_osu!/img/TTV_RegistrationSteps.jpg
  wiki/Guides/Live_Streaming_osu!/img/Xsplit_channel_edit.png
  wiki/Guides/Live_Streaming_osu!/img/Xsplit_final_capture.png
  wiki/Guides/Live_Streaming_osu!/img/Xsplit_initial_capture.png
  wiki/Guides/Live_Streaming_osu!/img/Xsplit_main.png
  wiki/Guides/Livestreaming_osu!/en.md
  wiki/Guides/Livestreaming_osu!/img/adding-stream-key.png
  wiki/Guides/Livestreaming_osu!/img/configuration-wizard.png
  wiki/Guides/Livestreaming_osu!/img/dashboard.png
  wiki/Guides/Livestreaming_osu!/img/game-capture.png
  wiki/Guides/Livestreaming_osu!/img/stream-info.png
  wiki/Guides/Livestreaming_osu!/img/stream-key.png
  wiki/Guides/Livestreaming_osu!/img/successful-capture.png
  wiki/Guides/en.md
  wiki/Guides/fr.md
  wiki/Guides/ja.md
  wiki/Guides/pt-br.md
  wiki/Guides/tr.md
  wiki/redirect.yaml
Labels: area:community, type:rewrite

#4499 [ES] Update Rules, Add COC and Abuse
  wiki/Contributor_Code_of_Conduct/es.md
  wiki/Reporting_Bad_Behaviour/Abuse/es.md
  wiki/Rules/es.md
Labels: area:translations, size/L, state:needs native review, type:new article

#4712 Apply several minor corrections to Cemara Mania Cup #1 (2020) wiki article
  wiki/Tournaments/CMC/2020/en.md
Labels: size/S

#4494 Add Mappers' Report: Fall news post
  news/2020-31-12-mappers-report-fall.md
Labels: area:news, size/L, type:new article
