Repository ppy/osu-wiki, pull requests merged in 2020-01, with the labels that each got.

#2943 [JA] Add Main Page
  wiki/Main_Page/ja.md
Labels: size/M, translations

#2947 [JA] Add Internet Relay Chat
  wiki/Internet_Relay_Chat/ja.md
Labels: size/M, translations

#2985 Update osu!catch RC difficulty setting guidelines
  wiki/Ranking_Criteria/osu!catch/en.md
Labels: rule change, size/S, update

#2987 Remove fillers and fix grammar on Interface
  wiki/Interface/en.md
Labels: size/XS, update

#2991 Fix range and dash formatting
  wiki/Guides/Compressing_Files/en.md
  wiki/Ranking_Criteria/en.md
  wiki/Ranking_Criteria/osu!/en.md
  wiki/Ranking_Criteria/osu!catch/en.md
  wiki/Ranking_Criteria/osu!mania/en.md
  wiki/Ranking_Criteria/osu!taiko/en.md
  wiki/Tournaments/CMT_4K/2017/en.md
  wiki/Tournaments/oPHF/2018/en.md
  wiki/Tournaments/oPHST/2018/en.md
Labels: clean up, size/L

#2990 Update long note release rules in RC
  wiki/Ranking_Criteria/osu!mania/en.md
Labels: rule change, size/XS, update

#2946 [JA] Update Installation
  wiki/Installation/ja.md
Labels: size/M, translations, update

#2993 Remove RC rule about osu!taiko drum sampleset
  wiki/Ranking_Criteria/osu!taiko/en.md
Labels: rule change, size/XS, update

#2994 Replace dead links with new links
  wiki/Help_Centre/en.md
  wiki/Help_Centre/fr.md
  wiki/Help_Centre/id.md
  wiki/Help_Centre/zh.md
Labels: size/XS

#2952 [JA] Add Twitter
  wiki/Twitter/ja.md
Labels: size/M, translations

#2999 Fix dead link in How Can You Help article
  wiki/How_You_Can_Help!/en.md
Labels: size/XS

#2989 Add Monthly Beatmapping Contests Return news post
  news/2020-01-05-monthly-beatmapping-contests-return.md
  wiki/shared/news/2020-01-05-monthly-beatmapping-contest-returns/limitation.png
  wiki/shared/news/banners/monthly-beatmapping-contest.png
Labels: news

#3000 Fix previews on MBC news post
  news/2020-01-05-monthly-beatmapping-contests-return.md
Labels: size/XS

#3001 Fix preview in MBC news post
  news/2020-01-05-monthly-beatmapping-contests-return.md
Labels: news, size/XS, update

#2961 [JA] Add Do you really want to ask peppy
  wiki/Do_you_really_want_to_ask_peppy/ja.md
Labels: size/S, translations

#3005 Update December Staff Log
  wiki/Staff_Log/2019/en.md
Labels: size/XS, update

#3003 Add Mao, Nardo and Stack to the Alumni list
  wiki/People/The_Team/osu!_Alumni/en.md
Labels: size/XS, update

#3002 Remove Nardo, Mao and Stack from NAT list
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
Labels: size/XS, update

#3004 Add Staff Log 2020
  wiki/Staff_Log/2020/en.md
Labels: size/S, update

#3010 Add links to 2020 Staff Log
  wiki/Sitemap/en.md
  wiki/Staff_Log/en.md
Labels: size/XS, update

#3013 Fix image link in How to Time Songs
  wiki/Guides/How_to_Time_Songs/en.md
Labels: size/XS, update

#3014 Add New Featured Artist: Rivers of Nihil newspost
  news/2020-01-07-new-featured-artist-rivers-of-nihil.md
Labels: news, size/M

#3007 Add page with tips for troubleshooting performance issues
  wiki/Performance_Troubleshooting/en.md
Labels: new article, size/M

#2998 Replace FAQ tutorial beatmap link with new one.
  wiki/FAQ/en.md
  wiki/FAQ/fr.md
Labels: size/XS, update

#2964 [JA] Add Difficulties
  wiki/Difficulties/ja.md
Labels: size/M, translations

#3009 Update CGTS 2019 for Global phase
  wiki/Tournaments/GTS/CGTS_2019/en.md
Labels: size/L, tournament, update

#3019 [RU] Remove unnecessary "osu!" upper-cases
  wiki/Guides/Tips_and_Tricks_on_Skill_Improvement/ru.md
Labels: size/XS

#3015 Updates to Ranking Criteria
  wiki/Ranking_Criteria/en.md
Labels: rule change, size/S, update

#2937 Add clause about misleading tags to RC
  wiki/Ranking_Criteria/en.md
Labels: rule change, size/XS, update

#2967 Add BSS difficulty limit to Submission
  wiki/Submission/en.md
Labels: size/XS, update

#2986 Add osu! South East Asia Tournament 3
  wiki/Tournaments/en.md
  wiki/Tournaments/oSEAT/3/en.md
  wiki/Tournaments/oSEAT/3/img/badge.png
  wiki/Tournaments/oSEAT/3/img/group-stage-4man-bracket.png
  wiki/Tournaments/oSEAT/3/img/group-stage-6man-bracket.png
  wiki/Tournaments/oSEAT/3/img/logo.jpg
  wiki/Tournaments/oSEAT/en.md
Labels: new article, tournament

#3022 Fix RO32 match table in oSEAT3
  wiki/Tournaments/oSEAT/3/en.md
Labels: size/XS, tournament, update

#2963 [JA] Add Rules
  wiki/Rules/ja.md
Labels: size/M, translations

#2925 Remove hitsound additions requirement for difficult osu!mania maps in RC
  wiki/Ranking_Criteria/en.md
Labels: rule change, size/XS, update

#3017 Update group members and Staff Log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
  wiki/People/The_Team/osu!_Alumni/en.md
  wiki/Staff_Log/2020/en.md
Labels: size/M, update

#3043 Disable MD040 rule in markdownlint
  .markdownlint.json
  wiki/Accuracy/en.md
  wiki/Accuracy/ko.md
  wiki/BanchoBot/en.md
  wiki/BanchoBot/fr.md
  wiki/BanchoBot/ko.md
  wiki/BanchoBot/ru.md
Labels: size/XS, update, utilities

#3039 Remove description and link to "Report a Qualified beatmap here" in BN General Info
  wiki/People/The_Team/Beatmap_Nominators/General_Information/en.md
Labels: size/XS, update

#3042 Update oSEAT 3 for Quarterfinals
  wiki/Tournaments/oSEAT/3/en.md
Labels: size/M, tournament, update

#3041 Update CGTS 2019 for Global phase Finals
  wiki/Tournaments/GTS/CGTS_2019/en.md
Labels: size/M, tournament, update

#3044 Fix markdownlint warnings in A-lettered articles
  wiki/Accuracy/pt-br.md
  wiki/Article_Styling_Criteria/zh.md
Labels: clean up, size/XS

#3047 Add New Featured Artist: Teminite newspost
  news/2020-01-15-new-featured-artist-teminite.md
Labels: news, size/M

#3048 Fix YT applet dimensions & formatting in Teminite article
  news/2020-01-15-new-featured-artist-teminite.md
Labels: size/XS

#3033 Update Shortcut key reference
  wiki/Shortcut_Key_Reference/en.md
  wiki/Shortcut_key_reference/de.md
  wiki/Shortcut_key_reference/en.md
  wiki/Shortcut_key_reference/es.md
  wiki/Shortcut_key_reference/fr.md
  wiki/Shortcut_key_reference/id.md
  wiki/Shortcut_key_reference/ko.md
  wiki/Shortcut_key_reference/pl.md
  wiki/Shortcut_key_reference/pt.md
  wiki/Shortcut_key_reference/ru.md
  wiki/Shortcut_key_reference/zh.md
Labels: clean up, resolves issue, update

#3045 Add Taiko Suiji Cup 2020 article
  wiki/Tournaments/TSC/1/en.md
  wiki/Tournaments/TSC/2020/en.md
  wiki/Tournaments/TSC/2020/img/logo.jpg
  wiki/Tournaments/TSC/en.md
Labels: new article, tournament

#3029 Update tournaments article
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/en.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/ko.md
  wiki/Tournaments/pl.md
Labels: size/M, tournament, update

#2788 Rewrite Beatmap ranking procedure
  wiki/Beatmap_ranking_procedure/en.md
  wiki/Beatmapping/de.md
  wiki/Beatmapping/en.md
  wiki/Beatmapping/es.md
  wiki/Beatmapping/fr.md
  wiki/Beatmapping/id.md
  wiki/Beatmapping/nl.md
  wiki/Beatmapping/pl.md
  wiki/Beatmapping/pt.md
  wiki/Beatmapping/tl.md
  wiki/Beatmapping/tr.md
  wiki/Beatmapping/zh.md
  wiki/Beatmaps/History_of_Loved/en.md
  wiki/Beatmaps/en.md
  wiki/Beatmaps/es.md
  wiki/Beatmaps/fr.md
  wiki/Beatmaps/id.md
  wiki/Beatmaps/pl.md
  wiki/Beatmaps/pt-br.md
  wiki/Beatmaps/ru.md
  wiki/Glossary/en.md
  wiki/Guides/How_To_Get_Your_Map_Ranked/de.md
  wiki/Guides/How_To_Get_Your_Map_Ranked/en.md
  wiki/Guides/How_To_Get_Your_Map_Ranked/fr.md
  wiki/Guides/How_To_Get_Your_Map_Ranked/id.md
  wiki/Guides/How_To_Get_Your_Map_Ranked/ja.md
  wiki/Guides/How_To_Get_Your_Map_Ranked/ko.md
  wiki/Guides/How_To_Get_Your_Map_Ranked/pt.md
  wiki/Guides/How_To_Get_Your_Map_Ranked/ru.md
  wiki/Guides/How_To_Get_Your_Map_Ranked/zh.md
  wiki/Main_Page/en.md
  wiki/Main_Page/es.md
  wiki/Main_Page/fr.md
  wiki/Main_Page/id.md
  wiki/Main_Page/ja.md
  wiki/Main_Page/ko.md
  wiki/Main_Page/pl.md
  wiki/Main_Page/pt-br.md
  wiki/Main_Page/ru.md
  wiki/Main_Page/zh.md
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/Sitemap/en.md
  wiki/Submission/Beatmap_Ranking_Procedure/Ranking_procedure.png
  wiki/Submission/Beatmap_Ranking_Procedure/de.md
  wiki/Submission/Beatmap_Ranking_Procedure/en.md
  wiki/Submission/Beatmap_Ranking_Procedure/fr.md
  wiki/Submission/Beatmap_Ranking_Procedure/id.md
  wiki/Submission/Beatmap_Ranking_Procedure/it.md
  wiki/Submission/Beatmap_Ranking_Procedure/ja.md
  wiki/Submission/Beatmap_Ranking_Procedure/ko.md
  wiki/Submission/Beatmap_Ranking_Procedure/pt.md
  wiki/Submission/Beatmap_Ranking_Procedure/zh-hk.md
  wiki/Submission/Beatmap_Ranking_Procedure/zh.md
  wiki/redirect.yaml
Labels: rewrite, size/XL, update

#2940 [ZH] Update Ranking Criteria
  wiki/Ranking_Criteria/zh.md
Labels: size/L, translations, update

#2984 Add Beatmap Spotlights: Autumn 2019 news post
  news/2020-01-17-beatmap-spotlights-autumn-2019.md
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/catch/calling.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/catch/cold.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/catch/conflict.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/catch/getaway.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/catch/high.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/catch/hype.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/catch/kill.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/catch/trappola.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/header.png
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/header@2x.png
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/mania/bug.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/mania/crystal.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/mania/education.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/mania/flowers.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/mania/knife.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/mania/konran.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/mania/pictured.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/mania/xyz.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/osu/alde.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/osu/alex.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/osu/arrogance.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/osu/cross.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/osu/instrumental.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/osu/kan.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/osu/kokoro.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/osu/last.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/osu/natsu.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/osu/point.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/osu/shadow.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/osu/sit.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/taiko/betrayal.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/taiko/chalon.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/taiko/fire.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/taiko/manycolors.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/taiko/outer.jpg
  wiki/shared/news/2020-01-17-beatmap-spotlights-autumn-2019/taiko/psystyle.jpg
Labels: news

#3074 Add OnosakiHito to Users with unique titles
  wiki/People/Users_with_unique_titles/en.md
Labels: size/XS, update

#3076 Update links to Shortcut key reference
  wiki/Beatmap_Editor/Timelines/en.md
  wiki/FAQ/en.md
  wiki/FAQ/fr.md
  wiki/Main_Page/en.md
  wiki/Main_Page/es.md
  wiki/Main_Page/fr.md
  wiki/Main_Page/id.md
  wiki/Main_Page/ja.md
  wiki/Main_Page/ko.md
  wiki/Main_Page/pl.md
  wiki/Main_Page/pt-br.md
  wiki/Main_Page/ru.md
  wiki/Main_Page/zh.md
  wiki/Shortcut_key_reference/es.md
  wiki/Shortcut_key_reference/zh.md
  wiki/Sitemap/en.md
  wiki/redirect.yaml
Labels: size/M, update

#2906 Add Brand identity guidelines
  wiki/Brand_identity_guidelines/en.md
  wiki/Brand_identity_guidelines/img/clear-space-area.png
  wiki/Brand_identity_guidelines/img/restrictions-bad-full.png
  wiki/Brand_identity_guidelines/img/restrictions-bad-single.png
  wiki/Brand_identity_guidelines/img/restrictions-good-single.png
  wiki/Brand_identity_guidelines/img/usage-full-colour.png
  wiki/Brand_identity_guidelines/img/usage-single-colour.png
  wiki/Glossary/en.md
  wiki/Sitemap/en.md
  wiki/redirect.yaml
Labels: new article, resolves issue

#3008 [ID] Update osu!academy
  wiki/osu!academy/id.md
Labels: size/S, stale merge, translations, update

#2996 [JA] Add Game Modes
  wiki/Game_Modes/ja.md
Labels: size/S, stale merge, translations

#2995 [JA] Add Guides
  wiki/Guides/ja.md
Labels: size/M, stale merge, translations

#3006 [ID] Update The Team
  wiki/People/The_Team/id.md
Labels: size/L, translations, update

#3088 Updated FC logo details
  wiki/Brand_identity_guidelines/en.md
Labels: size/M, update

#2997 [JA] Add Registration
  wiki/Registration/ja.md
Labels: size/S, stale merge, translations

#3077 Group osu! UCI tournaments
  wiki/Organisations/osu!_UCI/en.md
  wiki/Organisations/osu!_UCI/fr.md
  wiki/Sitemap/en.md
  wiki/Tournaments/Zotcade/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/ko.md
  wiki/Tournaments/osu!_UCI/en.md
  wiki/Tournaments/osu!_UCI/iDOL@NSTER/en.md
  wiki/Tournaments/osu!_UCI/iDOL@NSTER/img/badge.png
  wiki/Tournaments/osu!_UCI/iDOL@NSTER/img/logo.png
  wiki/Tournaments/osu!_UCI/iDOL@NSTER/img/people.jpg
  wiki/Tournaments/osu!_UCI/iDOL@NSTER/img/student-center-map.png
  wiki/Tournaments/pl.md
  wiki/Tournaments/pt-br.md
  wiki/Tournaments/zh.md
  wiki/redirect.yaml
Labels: tournament, update

#3089 Update invalid Flag path in Tournament Drawings
  wiki/Tournament_Drawings/en.md
  wiki/Tournament_Drawings/id.md
Labels: size/XS, update

#3093 Lint BanchoBot article
  wiki/BanchoBot/id.md
  wiki/BanchoBot/ja.md
  wiki/BanchoBot/zh.md
Labels: clean up, size/XS

#3092 Update oSEAT3 for Semifinals
  wiki/Tournaments/oSEAT/3/en.md
  wiki/Tournaments/oSEAT/en.md
Labels: size/M, tournament, update

#3091 Update CGTS 2019 for Global phase Grand Finals
  wiki/Tournaments/GTS/CGTS_2019/en.md
Labels: size/M, tournament, update

#3082 Add Catch French Intermediate Cup 2 & clean up CFC
  wiki/Sitemap/en.md
  wiki/Tournaments/CFC/2018/en.md
  wiki/Tournaments/CFC/2018/img/badge.png
  wiki/Tournaments/CFC/2018/img/logo.png
  wiki/Tournaments/CFC/3/en.md
  wiki/Tournaments/CFC/3/fr.md
  wiki/Tournaments/CFC/3/img/badge.jpg
  wiki/Tournaments/CFC/4/en.md
  wiki/Tournaments/CFC/4/fr.md
  wiki/Tournaments/CFC/CFIC_1/en.md
  wiki/Tournaments/CFC/CFIC_1/fr.md
  wiki/Tournaments/CFC/CFIC_2/en.md
  wiki/Tournaments/CFC/CFIC_2/fr.md
  wiki/Tournaments/CFC/CFIC_2/img/logo.jpg
  wiki/Tournaments/CFC/en.md
  wiki/Tournaments/CFC/fr.md
  wiki/redirect.yaml
Labels: new article, tournament, translations, update

#3095 Add New Featured Artist: Blue Stahli newspost
  news/2020-01-22-new-featured-artist-blue-stahli.md
Labels: size/M

#3090 Add Community Choice 2019 newspost
  news/2020-01-23-community-choice-2019-voting-open.md
  wiki/shared/news/2020-01-23-community-choice-2019-voting-open/header.jpg
  wiki/shared/news/2020-01-23-community-choice-2019-voting-open/header@2x.jpg
Labels: blocked, news

#3018 [RU] Performance_Troubleshooting
  wiki/Performance_Troubleshooting/ru.md
Labels: size/M, translations

#3098 Add no_native_review marker and update Metadata section of ASC
  wiki/Article_Styling_Criteria/en.md
  wiki/Difficulties/ja.md
  wiki/Game_Modes/ja.md
  wiki/Game_Modes/osu!catch/fr.md
  wiki/Guides/Beginner's_Tutorial/fr.md
  wiki/Guides/ja.md
  wiki/Installation/ja.md
  wiki/Internet_Relay_Chat/ja.md
  wiki/Main_Page/ja.md
  wiki/Main_Page/pt-br.md
  wiki/Main_Page/ru.md
  wiki/Main_Page/zh.md
  wiki/Mascots/id.md
  wiki/Options/Keyboard_Bindings/fr.md
  wiki/Options/Offset_Wizard/fr.md
  wiki/People/The_Team/Developers/fr.md
  wiki/People/The_Team/Project_Loved_Team/ru.md
  wiki/Rules/ja.md
  wiki/Twitter/ja.md
  wiki/osu!academy/id.md
  wiki/osu!tourney/Tournament_Management_Commands/ru.md
  wiki/osu!tourney/ru.md
Labels: resolves issue, size/L, update, utilities

#3100 Add Chinese New Year 2020 news post
  news/2020-01-24-happy-chinese-new-year.md
  wiki/shared/news/2020-01-25-happy-chinese-new-year/CNY2020.jpg
  wiki/shared/news/2020-01-25-happy-chinese-new-year/CNY2020@2x.jpg
  wiki/shared/news/2020-01-25-happy-chinese-new-year/CNY2020_Poster.jpg
  wiki/shared/news/2020-01-25-happy-chinese-new-year/CNY2020_Poster@2x.jpg
Labels: news

#3102 Remove fillers on brand identity guidelines
  wiki/Brand_identity_guidelines/en.md
Labels: size/XS, update

#3106 Add selection-mod-mirror.png to Skinning/Interface
  wiki/Skinning/Interface/en.md
  wiki/Skinning/Interface/img/selection-mod-mirror.png
Labels: update

#3108 Clarify difficulty naming rule in osu!mania RC
  wiki/Ranking_Criteria/osu!mania/en.md
Labels: rule change, size/XS, update

#3037 [DE] Update Rules
  wiki/Rules/de.md
Labels: size/M, translations

#3111 Move Chat Console images to an img directory
  wiki/Chat_Console/de.md
  wiki/Chat_Console/en.md
  wiki/Chat_Console/es.md
  wiki/Chat_Console/fr.md
  wiki/Chat_Console/id.md
  wiki/Chat_Console/img/Chat_Console-Afk.png
  wiki/Chat_Console/img/Chat_Console-Editing.png
  wiki/Chat_Console/img/Chat_Console-Extended.png
  wiki/Chat_Console/img/Chat_Console-IRC.png
  wiki/Chat_Console/img/Chat_Console-Idle.png
  wiki/Chat_Console/img/Chat_Console-Modding.png
  wiki/Chat_Console/img/Chat_Console-Multiplayer.png
  wiki/Chat_Console/img/Chat_Console-Multiplaying.png
  wiki/Chat_Console/img/Chat_Console-Playing.png
  wiki/Chat_Console/img/Chat_Console-Submitting.png
  wiki/Chat_Console/img/Chat_Console-Testing.png
  wiki/Chat_Console/img/Chat_Console-Userpaneloptions.jpg
  wiki/Chat_Console/img/Chat_Console-Watching.png
  wiki/Chat_Console/img/Chatconsole1.png
  wiki/Chat_Console/img/DE-Chat_Console-Userpaneloptions.jpg
  wiki/Chat_Console/img/ZH_CN-Chat_Console-Extended.png
  wiki/Chat_Console/img/ZH_CN-Chat_Console-Userpaneloptions.png
  wiki/Chat_Console/it.md
  wiki/Chat_Console/ja.md
  wiki/Chat_Console/ko.md
  wiki/Chat_Console/pl.md
  wiki/Chat_Console/pt.md
  wiki/Chat_Console/ru.md
  wiki/Chat_Console/th.md
  wiki/Chat_Console/zh.md
Labels: clean up

#3117 Add New Featured Artist: Station Earth / Blue Marble newspost
  news/2020-01-29-new-featured-artist-station-earth-blue-marble.md
Labels: size/M

#3118 Move Guides/Compressing Files images to an img directory
  wiki/Guides/Compressing_Files/en.md
  wiki/Guides/Compressing_Files/img/CBF_01.png
  wiki/Guides/Compressing_Files/img/CBF_02.png
  wiki/Guides/Compressing_Files/img/CBF_03.png
  wiki/Guides/Compressing_Files/img/CBF_04.png
  wiki/Guides/Compressing_Files/img/CBF_05.png
  wiki/Guides/Compressing_Files/img/CV_01.png
  wiki/Guides/Compressing_Files/img/CV_02.png
  wiki/Guides/Compressing_Files/img/CV_03.png
  wiki/Guides/Compressing_Files/img/CV_04.png
  wiki/Guides/Compressing_Files/img/CV_05.png
  wiki/Guides/Compressing_Files/img/CV_06.png
  wiki/Guides/Compressing_Files/img/CV_07.png
  wiki/Guides/Compressing_Files/img/CV_08.png
Labels: clean up

#3121 Add more information describing why articles are outdated
  wiki/BBCode/en.md
  wiki/Beatmaps/en.md
  wiki/Contests/en.md
  wiki/Game_Modifiers/Summary/en.md
  wiki/Game_Modifiers/en.md
  wiki/Guides/Compressing_Files/en.md
  wiki/Medals/en.md
  wiki/Options/en.md
  wiki/Replay/en.md
  wiki/Skinning/Guides_and_Important_Threads/en.md
  wiki/Storyboards/en.md
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/en.md
  wiki/osu!_Program_Files/en.md
Labels: size/S, update

#3120 Fix wording and links in Modding
  wiki/Modding/en.md
Labels: size/XS, update
