Repository ppy/osu-wiki, pull requests merged in 2020-08, with the labels that each got.

#3960 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/Staff_Log/2020/en.md
Labels: size/XS

#3963 MWC4K2020 Initial rosters
  news/2020-07-17-mwc-4k-2020-registrations-open.md
  wiki/Tournaments/MWC/2020_4K/en.md
Labels: area:tournaments, size/M, type:update

#3964 [PT-BR] Add Universal Offset
  wiki/Universal_offset/pt-br.md
Labels: area:translations, size/XS

#3968 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/S, type:update

#3969 [RU] osu! wiki Contribution Guide
  wiki/osu!_wiki_Contribution_Guide/ru.md
Labels: area:translations, size/L

#3975 Skinning/osu!taiko clean up
  wiki/Skinning/osu!taiko/en.md
Labels: area:skinning, size/XS, type:clean up

#3977 [PT-BR] Fix typos in GMT and NAT articles
  wiki/People/The_Team/Global_Moderation_Team/pt-br.md
  wiki/People/The_Team/Nomination_Assessment_Team/pt-br.md
Labels: area:translations, size/XS, type:clean up

#3976 Unify wording in Skinning/osu!mania
  wiki/Skinning/osu!mania/en.md
Labels: area:skinning, size/M, type:clean up

#3835 [TR] Add General Information for Beatmap Nominators
  wiki/People/The_Team/Beatmap_Nominators/General_Information/tr.md
Labels: area:translations, size/M, type:new article

#3973 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/XS, type:update

#3959 Fix remark no-duplicate-definitions warnings
  wiki/Tournaments/SST/2018/en.md
Labels: size/XS, type:clean up

#3978 Update Catch the Beat Indonesia Cup 2020 for Round of 16
  wiki/Tournaments/CIC/2020/en.md
Labels: size/L

#3980 Add New Featured Artist: Ariabl'eyeS newspost
  news/2020-08-05-new-featured-artist-ariableyes.md
Labels: size/M

#3971 Comment out a sidenote in Combo stub
  wiki/Beatmapping/Combo/en.md
Labels: size/XS, type:update

#3979 Update o!AOT2 for Finals
  wiki/Tournaments/o!AOT/2/en.md
Labels: size/M

#3885 [FR] Update osu!api
  wiki/osu!api/fr.md
Labels: area:translations, blocked, size/S, type:update

#3917 [ZH] Update/Move osu!tourney part
  wiki/osu!tourney/Multiplayer_Usage/zh.md
  wiki/osu!tourney/Prizes/zh.md
  wiki/osu!tourney/Setup/zh.md
  wiki/osu!tourney/Skinning/zh.md
  wiki/osu!tourney/Spectator_Usage/zh.md
  wiki/osu!tourney/Tournament_Management_Commands/zh.md
  wiki/osu!tourney/Troubleshooting/zh.md
  wiki/osu!tourney/zh.md
Labels: area:translations, size/XL, type:update

#3954 Cleanup formatting in Beatmap Spotlights
  wiki/Beatmap_Spotlights/en.md
Labels: size/L, type:clean up

#3982 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/XS, type:update

#3989 MWC4K2020 Full teams and commentators update
  wiki/Tournaments/MWC/2020_4K/en.md
Labels: area:tournaments, size/M, type:update

#3987 [ZH] Fix the wrong link in Prizes
  wiki/osu!tourney/Prizes/zh.md
Labels: size/XS

#3990 Reword contribution-related articles to make them easier to read. Also, remove odd escaping in list enumerations
  wiki/osu!_wiki_Contribution_Guide/Common_Issues/en.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/en.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Web_Interface/en.md
  wiki/osu!_wiki_Contribution_Guide/en.md
Labels: size/L

#3996 Confirm profile badge in NPC 2 article
  wiki/Tournaments/NPC/2/en.md
Labels: size/XS

#4000 Add Monthly Beatmapping Contest August news post
  news/2020-08-08-monthly-beatmapping-contest-august.md
Labels: size/L

#4001 Fix wrong Featured Artist link
  news/2020-08-08-monthly-beatmapping-contest-august.md
Labels: size/XS

#4003 Add Pickems link to the MWC 2020 4K article
  wiki/Tournaments/MWC/2020_4K/en.md
Labels: size/XS

#3998 Update BN/NAT listing and Staff Log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/XS, type:update

#3986 Update group page translations
  meta/group-info/en.yaml
  meta/group-info/pt-br.yaml
  meta/group-info/tr.yaml
  meta/group-info/zh.yaml
  wiki/People/The_Team/Beatmap_Nominators/zh.md
Labels: area:translations, size/S, type:update

#4004 Fix typo in Visual Content Considerations
  wiki/Rules/Visual_Content_Considerations/en.md
Labels: area:community, size/XS, type:clean up

#4005 [TR] Update group-info languages
  meta/group-info/tr.yaml
Labels: size/XS

#3974 Add Mappers' Report: July news post
  news/2020-08-09-mappers-report-july.md
Labels: area:news, size/L

#4006 Update BN/Dev listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Developers/en.md
  wiki/People/The_Team/Developers/fr.md
  wiki/People/The_Team/Developers/pt-br.md
  wiki/People/The_Team/Developers/tr.md
  wiki/People/The_Team/Developers/zh.md
  wiki/People/The_Team/Nomination_Assessment_Team/tr.md
  wiki/People/The_Team/Nomination_Assessment_Team/zh.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/M, type:update

#4008 Update Project Loved links
  wiki/Project_Loved/en.md
  wiki/Project_Loved/id.md
  wiki/Project_Loved/nl.md
  wiki/Project_Loved/ru.md
Labels: area:community, size/S, type:update

#4007 Add Project Loved: August 2020 news post
  news/2020-08-10-project-loved-august-2020.md
  wiki/shared/news/2020-08-10-project-loved-august-2020/catch/1-red-goose.jpg
  wiki/shared/news/2020-08-10-project-loved-august-2020/catch/2-ninelie-redshift-x-vesuvia-remix.jpg
  wiki/shared/news/2020-08-10-project-loved-august-2020/catch/3-yukki-3-yukki-3-yukki-3-yukkii-3-3.jpg
  wiki/shared/news/2020-08-10-project-loved-august-2020/catch/4-trickl4sh-220.jpg
  wiki/shared/news/2020-08-10-project-loved-august-2020/mania/1-loshaxi.jpg
  wiki/shared/news/2020-08-10-project-loved-august-2020/mania/2-ametsuchi.jpg
  wiki/shared/news/2020-08-10-project-loved-august-2020/mania/3-shotgun-senorita-zardonic-remix.jpg
  wiki/shared/news/2020-08-10-project-loved-august-2020/mania/4-more-one-night-assertive-hardcore-bootleg-long-ver.jpg
  wiki/shared/news/2020-08-10-project-loved-august-2020/mania/5-kan-saete-kuyashiiwa.jpg
  wiki/shared/news/2020-08-10-project-loved-august-2020/mania/6-t-t-l-time-to-love.jpg
  wiki/shared/news/2020-08-10-project-loved-august-2020/osu/1-daijobanai.jpg
  wiki/shared/news/2020-08-10-project-loved-august-2020/osu/2-internet-bitch-p-light-remix.jpg
  wiki/shared/news/2020-08-10-project-loved-august-2020/osu/3-your-voice-so-feat-such.jpg
  wiki/shared/news/2020-08-10-project-loved-august-2020/osu/4-senkou-no-flare.jpg
  wiki/shared/news/2020-08-10-project-loved-august-2020/osu/5-toxic-vibration-extend-ver.jpg
  wiki/shared/news/2020-08-10-project-loved-august-2020/osu/6-zettai-ni-chocomint-o-taberu-aoi-chan.jpg
  wiki/shared/news/2020-08-10-project-loved-august-2020/osu/7-sink-to-the-deep-sea-world.jpg
  wiki/shared/news/2020-08-10-project-loved-august-2020/osu/8-osu-rewind-uncompressed-fury-of-a-raging-2017.jpg
  wiki/shared/news/2020-08-10-project-loved-august-2020/taiko/1-hope-sped-up-ver.jpg
  wiki/shared/news/2020-08-10-project-loved-august-2020/taiko/2-anomaly.jpg
  wiki/shared/news/2020-08-10-project-loved-august-2020/taiko/3-half-a-pony.jpg
Labels: area:news, type:new article

#3997 [EN/RU] Update Project Loved Team
  wiki/People/The_Team/Project_Loved_Team/en.md
  wiki/People/The_Team/Project_Loved_Team/ru.md
  wiki/People/The_Team/Project_Loved_Team/tr.md
Labels: area:translations, size/M, type:update

#4011 Update o!AOT2 for Grand Finals
  wiki/Tournaments/o!AOT/2/en.md
Labels: size/M

#4013 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: size/S

#3992 [RU] Update difficulty names
  wiki/Difficulties/ru.md
Labels: area:translations, size/M, type:update

#3737 Cleanup History of osu! 2008
  wiki/History_of_osu!/2008/en.md
Labels: size/S, type:clean up

#3774 Create "Tech Maps" Stub
  wiki/Beatmaps/Technical_maps/en.md
  wiki/Beatmaps/Technical_maps/img/beatmap_hard_flow.jpg
  wiki/Beatmaps/Technical_maps/img/difficult_to_read_beatmap.jpg
  wiki/Beatmaps/Technical_maps/img/irregular_slider.jpg
  wiki/Beatmaps/Technical_maps/img/nongeneric_beatmap_pattern.jpg
Labels: area:beatmapping, size/M, type:new article

#4012 MWC 4K 2020 Group Stage update
  wiki/Tournaments/MWC/2020_4K/en.md
Labels: area:tournaments, size/M, type:update

#3995 [PT-BR] Add disambiguation
  wiki/Disambiguation/Bancho/pt-br.md
  wiki/Disambiguation/EZ/pt-br.md
  wiki/Disambiguation/Easy/pt-br.md
  wiki/Disambiguation/Mod/pt-br.md
  wiki/Disambiguation/Version/pt-br.md
  wiki/Disambiguation/osu!/pt-br.md
  wiki/Disambiguation/pt-br.md
Labels: area:translations, size/M, type:new article

#3991 [RU] Add GitHub Desktop and GitHub Web Interface guides' translations
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/ru.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Web_Interface/ru.md
  wiki/osu!_wiki_Contribution_Guide/ru.md
Labels: area:translations, size/L, type:new article, type:update

#4014 Conclude osu!mania LN Tournament 2
  wiki/Tournaments/en.md
  wiki/Tournaments/o!mLN/2/en.md
  wiki/Tournaments/o!mLN/2/img/badge.jpg
Labels: area:tournaments, type:update

#4015 Update Catch the Beat Indonesia Cup 2020 for Quarterfinals
  wiki/Tournaments/CIC/2020/en.md
Labels: area:tournaments, size/M, type:update

#4016 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: size/XS

#4024 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: size/XS

#3994 [PT-BR] Add Brand identity guidelines
  wiki/Brand_identity_guidelines/pt-br.md
Labels: area:translations, size/M, type:new article

#3953 [KO] Add Ranking Criteria, Update osu!mania and osu!taiko RC
  wiki/Ranking_Criteria/en.md
  wiki/Ranking_Criteria/ko.md
  wiki/Ranking_Criteria/osu!mania/en.md
  wiki/Ranking_Criteria/osu!mania/ko.md
  wiki/Ranking_Criteria/osu!taiko/ko.md
Labels: area:translations, size/XL, type:new article, type:update

#4025 Update osu! gameplay images
  wiki/FAQ/en.md
  wiki/FAQ/es.md
  wiki/FAQ/fr.md
  wiki/FAQ/hu.md
  wiki/FAQ/id.md
  wiki/FAQ/nl.md
  wiki/FAQ/pl.md
  wiki/FAQ/pt.md
  wiki/FAQ/sv.md
  wiki/FAQ/th.md
  wiki/FAQ/tl.md
  wiki/FAQ/zh.md
  wiki/Game_Modes/osu!/en.md
  wiki/Game_Modes/osu!/es.md
  wiki/Game_Modes/osu!/fr.md
  wiki/Game_Modes/osu!/pt-br.md
  wiki/Game_Modes/osu!catch/en.md
  wiki/Game_Modes/osu!catch/fr.md
  wiki/Game_Modes/osu!mania/en.md
  wiki/Game_Modes/osu!mania/fr.md
  wiki/Game_Modes/osu!taiko/en.md
  wiki/Game_Modes/osu!taiko/fr.md
  wiki/shared/Interface_ctb.jpg
  wiki/shared/Interface_mania.jpg
  wiki/shared/Interface_osu.jpg
  wiki/shared/Interface_taiko.jpg
  wiki/shared/catch-gameplay.jpg
  wiki/shared/mania-gameplay.jpg
  wiki/shared/osu-gameplay.jpg
  wiki/shared/taiko-gameplay.jpg
Labels: area:gameplay, type:update

#4026 Add New Featured Artist: Magnetude newspost
  news/2020-08-12-new-featured-artist-magnetude.md
Labels: size/M

#3927 Update Main Page sections and articles
  wiki/Main_Page/.remarkrc.js
  wiki/Main_Page/en.md
  wiki/Main_Page/es.md
  wiki/Main_Page/fr.md
  wiki/Main_Page/id.md
  wiki/Main_Page/it.md
  wiki/Main_Page/ja.md
  wiki/Main_Page/ko.md
  wiki/Main_Page/pl.md
  wiki/Main_Page/pt-br.md
  wiki/Main_Page/ru.md
  wiki/Main_Page/sv.md
  wiki/Main_Page/th.md
  wiki/Main_Page/tr.md
  wiki/Main_Page/zh-tw.md
  wiki/Main_Page/zh.md
Labels: size/M, type:update

#4030 MWC4K2020 Group Stage reschedules
  wiki/Tournaments/MWC/2020_4K/en.md
Labels: area:tournaments, size/S, type:update

#4032 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/S, type:update

#4022 [RU] Registration
  wiki/Registration/ru.md
Labels: area:translations, size/S, type:new article

#4038 o!BWC2020 Qualifiers and Ro16 Results Update
  wiki/Contests/oBWC/2/en.md
Labels: size/M

#4041 osu!catch Ranking Criteria update
  wiki/Ranking_Criteria/osu!catch/en.md
Labels: size/XS

#3577 Add Music Theory and Beat articles
  wiki/Guides/Music_Theory/img/2x+_Repeating_sliders.png
  wiki/Guides/Music_Theory/img/Music_Theory_Important.png
  wiki/Guides/Music_Theory/img/Offbeat_sliders.png
  wiki/Guides/Music_Theory/img/On_Beat_Sliders.png
  wiki/Guides/Music_Theory/img/Short_Sliders_vs_Long_sliders.jpg
  wiki/Guides/Music_Theory/img/Slider_patterns.png
  wiki/Guides/Music_Theory/img/Upbeat_sliders.png
  wiki/Music_theory/Beat/en.md
  wiki/Music_theory/Beat/img/timeline.png
  wiki/Music_theory/en.md
  wiki/Music_theory/fr.md
  wiki/Music_theory/img/2x+_Repeating_sliders.jpg
  wiki/Music_theory/img/MusicTheory1.png
  wiki/Music_theory/img/Music_Theory_Important.jpg
  wiki/Music_theory/img/Musictheory1-RU.png
  wiki/Music_theory/img/Offbeat_sliders.jpg
  wiki/Music_theory/img/On_Beat_Sliders.jpg
  wiki/Music_theory/img/Short_Sliders_vs_Long_sliders.jpg
  wiki/Music_theory/img/Slider_patterns.jpg
  wiki/Music_theory/img/Upbeat_sliders.jpg
  wiki/Music_theory/ja.md
  wiki/Music_theory/ru.md
Labels: area:beatmapping, type:new article

#3897 Create Glossary stubs S
  wiki/Beatmapping/Sampleset/en.md
  wiki/Beatmapping/Slider_tick/en.md
  wiki/Gameplay/Sliderbreak/en.md
  wiki/Gameplay/Spectate/en.md
  wiki/Gameplay/Spectating/en.md
  wiki/Gameplay/Spectating/nl.md
  wiki/Modding/Star_priority/en.md
  wiki/Silence/en.md
  wiki/Skin/en.md
  wiki/Skinning/Skinner/en.md
  wiki/Star/en.md
  wiki/Storyboarding/Storyboarder/en.md
  wiki/redirect.yaml
Labels: area:beatmapping, area:gameplay, area:skinning, size/L, type:new article

#4046 Add a missing referee for the Mirai Tournament 2020
  wiki/Tournaments/Mirai/2020/en.md
Labels: size/XS

#3972 [ZH] Update People
  meta/flag-references/zh.md
  wiki/People/Community_Contributors/zh.md
  wiki/People/The_Team/Developers/zh.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
  wiki/People/The_Team/Project_Loved_Team/zh.md
  wiki/People/Users_with_unique_titles/zh.md
  wiki/People/zh.md
Labels: area:translations, size/M, type:new article, type:update

#4045 Add BAT role for HeatKai in osu! Alumni article
  wiki/People/The_Team/osu!_Alumni/en.md
Labels: size/XS

#4048 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: size/XS

#4051 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/osu!_Alumni/en.md
  wiki/People/The_Team/osu!_Alumni/tr.md
  wiki/People/The_Team/osu!_Alumni/zh.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/S, type:update

#4052 MWC4K2020 Round of 16 update
  wiki/Tournaments/MWC/2020_4K/en.md
Labels: area:tournaments, size/L, type:update

#4054 Fix wrong formula in Accuracy article
  wiki/Accuracy/en.md
  wiki/Accuracy/es.md
  wiki/Accuracy/fr.md
  wiki/Accuracy/id.md
  wiki/Accuracy/ko.md
  wiki/Accuracy/nl.md
  wiki/Accuracy/pl.md
Labels: size/S

#4055 Conclude osu! Asia Oceania Tournament 2
  wiki/Tournaments/en.md
  wiki/Tournaments/o!AOT/2/en.md
  wiki/Tournaments/o!AOT/2/img/badge.jpg
Labels: area:tournaments, type:update

#4053 Update Catch the Beat Indonesia Cup 2020 for Semifinals
  wiki/Tournaments/CIC/2020/en.md
Labels: area:tournaments, size/M, type:update

#4060 Reword a definition in Accuracy article
  wiki/Accuracy/en.md
Labels: size/XS

#4062 Add ARForest Featured Artist newspost
  news/2020-08-19-new-featured-artist-arforest.md
Labels: size/M

#4064 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/S, type:update

#3664 Add spoiler warning rule in RC
  wiki/Ranking_Criteria/en.md
Labels: area:ranking criteria, size/XS, special:rule change, type:update

#4066 MWC4K2020 Round of 16 Reschedules
  wiki/Tournaments/MWC/2020_4K/en.md
Labels: area:tournaments, size/XS, type:update

#4077 Run CI workflow on push / merge into master
  .github/workflows/continuous-integration.yml
Labels: area:utilities, size/XS

#4087 Fix no-multiple-toplevel-headings remark warnings
  news/2013-09-06-osu-monthly-beatmapping-contest-1.md
  news/2014-09-24-monthly-beatmapping-contest-7.md
  news/2017-09-22-beatmap-spotlights-july-august-2017.md
  news/2017-12-20-beatmap-spotlights-november-2017.md
  news/2018-01-23-beatmap-spotlights-december-2017.md
  news/2018-02-23-beatmap-spotlights-january-2018.md
  news/2018-03-22-beatmap-spotlights-february-2018.md
  news/2018-06-06-beatmap-spotlights-march-and-april-2018.md
  news/2018-11-01-beatmap-spotlights-summer-2018.md
  news/2019-01-16-beatmap-spotlights-fall-2018.md
  news/2019-02-05-new-changes-to-star-rating-performance-points.md
  news/2019-04-11-beatmap-spotlights-winter-2019.md
  news/2019-07-08-beatmap-spotlights-spring-2019.md
  news/2019-09-29-mca-ayim-2018.md
  news/2019-10-05-beatmap-spotlights-summer-2019.md
  news/2020-01-17-beatmap-spotlights-autumn-2019.md
  news/2020-04-09-aspire-v-a-new-format.md
  news/2020-04-09-beatmap-spotlights-winter-2020.md
  news/2020-06-22-aspire-v-category-stage-voting.md
  news/2020-07-21-aspire-v-finals-stage-voting.md
  wiki/osu!_Program_Files/fr.md
Labels: type:clean up

#4093 Update privacy policy to include mention of anti-cheat
  wiki/Legal/Privacy/en.md
Labels: size/S, special:legal

#4039 [TH] Modding
  wiki/Modding/th.md
Labels: area:translations, size/M, type:new article

#4094 Add Indonesian Draft Cup 2020 article
  wiki/Tournaments/IDC/2020/en.md
  wiki/Tournaments/IDC/2020/img/badge.jpg
  wiki/Tournaments/IDC/2020/img/logo.jpg
  wiki/Tournaments/IDC/en.md
Labels: area:tournaments, type:new article

#4095 Player typo on IDC 2020 article
  wiki/Tournaments/IDC/2020/en.md
Labels: area:tournaments, size/XS, type:update

#4091 Fix outdated link in Accuracy/TH
  wiki/Accuracy/th.md
Labels: size/XS, type:clean up

#4096 Update Catch the Beat Indonesia Cup 2020 for Finals
  wiki/Tournaments/CIC/2020/en.md
Labels: area:tournaments, size/M, type:update

#4097 MWC4K2020 Quarterfinals update
  wiki/Tournaments/MWC/2020_4K/en.md
Labels: area:tournaments, size/M, type:update

#3983 [FR] Add Bot Account
  wiki/Bot_account/fr.md
Labels: area:translations, size/M, type:new article

#3985 [FR] Add Circle Size
  wiki/Beatmapping/Circle_size/fr.md
Labels: area:translations, size/M, type:new article

#3999 [DE] Update Beginner's Tutorial
  wiki/Guides/Beginner's_Tutorial/de.md
Labels: area:translations, size/S, type:update

#4017 [TH] Welcome
  wiki/Welcome/th.md
Labels: area:translations, size/M, type:new article

#4018 [TH] Add People
  wiki/People/th.md
Labels: area:translations, size/XS, type:new article

#4059 [RU] Storyboarding
  wiki/Storyboarding/ru.md
Labels: area:translations, size/S, type:new article

#3966 [ZH] Beatmaps Spotlights
  wiki/Beatmap_Spotlights/zh.md
Labels: area:translations, size/L

#4092 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/S, type:update

#4099 Add missing group language key
  meta/group-info/en.yaml
  meta/group-info/tr.yaml
  meta/group-info/zh.yaml
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
Labels: area:utilities, size/XS, type:update

#4100 Add New Featured Artist: Kobaryo newspost
  news/2020-08-26-new-featured-artist-kobaryo.md
Labels: size/M

#4104 Update Aspire V award names
  news/2020-08-23-aspire-v-results.md
Labels: area:news, size/XS, type:update

#4106 Fix typo in Beginner's Tutorial article
  wiki/Guides/Beginner's_Tutorial/en.md
  wiki/Guides/Beginner's_Tutorial/fr.md
  wiki/Guides/Beginner's_Tutorial/tr.md
Labels: size/XS

#4105 [RU] Main_Page
  wiki/Main_Page/ru.md
Labels: size/M

#4102 [TH] Gameplay
  wiki/Gameplay/Accuracy/th.md
  wiki/Gameplay/Drain_time/th.md
  wiki/Gameplay/Play_time/th.md
  wiki/Gameplay/Sliderbreak/th.md
  wiki/Gameplay/Spectating/th.md
  wiki/Gameplay/th.md
Labels: area:translations, size/S, type:new article

#4058 [PT-BR] Add osu!dev discord server
  wiki/osu!dev_Discord_server/pt-br.md
Labels: area:translations, size/M, type:new article

#4109 Add Monthly Beatmapping Contest 7 Results news post
  news/2020-08-27-monthly-beatmapping-contest-7-results.md
  wiki/Contests/Monthly_Beatmapping_Contest/en.md
Labels: size/M

#4110 MWC4K2020 Quarterfinals Reschedules
  wiki/Tournaments/MWC/2020_4K/en.md
Labels: area:tournaments, size/XS, type:update

#4108 Fix no-duplicate-headings-in-section remark warnings
  wiki/Ranking_Criteria/osu!taiko/es.md
  wiki/osu!supporter/es.md
  wiki/osu!supporter/zh.md
Labels: size/S, type:clean up

#4107 Fix heading-increment remark warnings
  wiki/Skinning_Tutorial/osu!/en.md
Labels: size/XS, type:clean up

#4019 [TH] Users with unique titles
  wiki/People/Users_with_unique_titles/th.md
Labels: area:translations, size/L, type:new article

#4112 [TH] Update user with unique titles
  wiki/People/Users_with_unique_titles/th.md
Labels: size/XS

#4098 [ZH] Update MWC 4K 2020 for Quarterfinals
  wiki/Tournaments/MWC/2020_4K/zh.md
Labels: area:translations, size/M, type:update

#4111 Correct Capu and Stefan's modes in the BN listing
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
Labels: area:community, size/S, type:clean up

#3958 Fix remark no-html warnings
  wiki/Reporting_Bad_Behaviour/Handling_Foul_Play/id.md
  wiki/Storyboard_Scripting/Audio/de.md
  wiki/Storyboard_Scripting/Audio/en.md
  wiki/Storyboard_Scripting/Audio/ja.md
  wiki/Storyboard_Scripting/Audio/pt-br.md
  wiki/Tournaments/AOTS/ATS_2018/en.md
  wiki/Tournaments/CMT_4K/2017/en.md
  wiki/Tournaments/CMT_4K/2017/zh-tw.md
  wiki/Tournaments/CMT_4K/2017/zh.md
  wiki/Tournaments/CMT_4K/2018/en.md
  wiki/Tournaments/CMT_4K/2018/zh.md
  wiki/Tournaments/oPHF/2018/en.md
  wiki/Tournaments/oPHST/2018/en.md
  wiki/osu!_File_Formats/Osz_(file_format)/fr.md
  wiki/osu!_Program_Files/pl.md
  wiki/osu!academy/de.md
Labels: size/M, type:clean up

#4113 MWC4K2020 last minute reschedule
  wiki/Tournaments/MWC/2020_4K/en.md
Labels: area:tournaments, size/XS, type:update

#3389 Rewrite compression guide
  wiki/Guides/Compressing_Files/en.md
  wiki/Guides/Compressing_Files/img/CBF_01.png
  wiki/Guides/Compressing_Files/img/CBF_02.png
  wiki/Guides/Compressing_Files/img/CBF_03.png
  wiki/Guides/Compressing_Files/img/CBF_04.png
  wiki/Guides/Compressing_Files/img/CBF_05.png
  wiki/Guides/Compressing_Files/img/CV_01.png
  wiki/Guides/Compressing_Files/img/CV_02.png
  wiki/Guides/Compressing_Files/img/CV_03.png
  wiki/Guides/Compressing_Files/img/CV_04.png
  wiki/Guides/Compressing_Files/img/CV_05.png
  wiki/Guides/Compressing_Files/img/CV_06.png
  wiki/Guides/Compressing_Files/img/CV_07.png
  wiki/Guides/Compressing_Files/img/CV_08.png
  wiki/Guides/Compressing_files/en.md
  wiki/Guides/Compressing_files/img/codecquality-handbrake.jpg
  wiki/Guides/Compressing_files/img/dimensions-handbrake.jpg
  wiki/Guides/Compressing_files/img/exportmenu-audacity.jpg
  wiki/Guides/Compressing_files/img/exportsettings-audacity.jpg
  wiki/Guides/Compressing_files/img/framerate-handbrake.jpg
  wiki/Guides/Compressing_files/img/import-audacity.jpg
  wiki/Guides/Compressing_files/img/import-handbrake.jpg
  wiki/Guides/Compressing_files/img/preset-handbrake.jpg
  wiki/Guides/Compressing_files/img/removeaudio-handbrake.jpg
  wiki/Guides/Compressing_files/img/save-handbrake.jpg
Labels: area:beatmapping, type:rewrite

#3505 Add C lettered article stubs from glossary
  wiki/Beatmapping/Colourhaxing/en.md
  wiki/Beatmapping/Combo/en.md
  wiki/Glossary/Changelog/en.md
  wiki/Glossary/Choke/en.md
  wiki/Glossary/Combo_(score_multiplier)/en.md
  wiki/Glossary/Combo_colour/en.md
  wiki/Glossary/Combo_fire/en.md
  wiki/Glossary/Combo_milestone/en.md
  wiki/Glossary/Combo_multiplier_effect/en.md
  wiki/Glossary/Combobreak/en.md
  wiki/Glossary/Comboburst/en.md
  wiki/Glossary/Cookie/en.md
  wiki/Glossary/Cookie/img/Pippi_corruption.jpg
Labels: type:clean up, type:new article

#4101 [TH] Flag-references
  meta/flag-references/th.md
Labels: area:translations, size/L, type:new article

#4116 [RU] Update "Do_you_really_want_to_ask_peppy"
  wiki/Do_you_really_want_to_ask_peppy/ru.md
Labels: area:translations, size/S, type:update

#4033 [ES] Update The Team
  wiki/People/The_Team/es.md
Labels: area:translations, size/L, type:update

#4042 [ZH] Add Difficulties
  wiki/Difficulties/zh.md
Labels: area:translations, size/M, type:new article

#3993 [RU] Add Hit_object
  wiki/Hit_object/ru.md
Labels: area:translations, size/S, type:new article

#4037 [TR] Update Main Page
  wiki/Main_Page/tr.md
Labels: area:translations, size/M, type:update

#4036 [ES] Do you really want to ask peppy - update
  wiki/Do_you_really_want_to_ask_peppy/es.md
Labels: area:translations, size/S, type:update

#4114 Fix CI failures on modifying files with quotes in name
  .github/workflows/continuous-integration.yml
Labels: area:utilities, size/XS

#4090 Add osu!idol 2020 auditions announcement
  news/2020-09-01-osu-idol-2020-auditions-now-open.md
  wiki/shared/news/2020-09-01-osu-idol-2020-auditions-now-open/2020.jpg
Labels: area:news

#4035 [ES] Update Timing
  wiki/Beatmap_Editor/Timing/es.md
Labels: area:translations, size/M, type:update

#4117 Update BN listing and Staff log
  meta/group-info/tr.yaml
  meta/group-info/zh.yaml
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/S, type:update
