Repository ppy/osu-wiki, pull requests merged in 2020-03, with the labels that each got.

#3275 Update CFIC 2 for Semifinals
  wiki/Tournaments/CFC/CFIC_2/en.md
  wiki/Tournaments/CFC/CFIC_2/fr.md
Labels: area:tournaments, size/M, type:update

#3278 Add New Featured Artist: Venetian Snares newspost
  news/2020-03-04-new-featured-artist-venetian-snares.md
Labels: area:news, size/M

#3272 Update 4DM2 for Quarterfinals
  wiki/Tournaments/4DM/2/en.md
Labels: area:tournaments, size/M, type:update

#3279 Add Monthly Beatmapping Contests March news post
  news/2020-03-05-monthly-beatmapping-contest-march.md
Labels: size/L

#3283 Update MBC March news
  news/2020-03-05-monthly-beatmapping-contest-march.md
Labels: size/XS

#3281 TWC2020 Group Stage Update
  wiki/Tournaments/TWC/2020/en.md
Labels: area:tournaments, size/L, type:update

#3239 [FR] Update API
  wiki/osu!api/fr.md
Labels: area:translations, size/S, stale merge, type:update

#3270 Update BTT 5 for Finals
  wiki/Tournaments/BTT/5/en.md
Labels: area:tournaments, size/M, type:update

#3271 Update YC for Round of 16
  wiki/Tournaments/BTT/5/en.md
  wiki/Tournaments/BTT/5/img/badge.png
  wiki/Tournaments/YC/1/en.md
Labels: area:tournaments, size/M, type:update

#3191 Add Star Rating stub
  wiki/Beatmapping/Star_rating/en.md
  wiki/Sitemap/en.md
Labels: area:beatmapping, type:new article

#3246 [ZH]Update Installation
  wiki/Installation/zh.md
Labels: area:translations, size/S, type:update

#3291 Update TSC 2020 for Quarterfinals
  wiki/Tournaments/TSC/2020/en.md
Labels: area:tournaments, size/M, type:update

#3290 Update 4DM2 for Semifinals
  wiki/Tournaments/4DM/2/en.md
Labels: area:tournaments, size/M, type:update

#3292 Update otst! 2020 for Round of 16
  wiki/Tournaments/otst!/2020/en.md
Labels: area:tournaments, size/M, type:update

#3254 [FR] Update Game Modes
  wiki/Game_Modes/fr.md
Labels: area:translations, size/XS, type:update

#3296 Update CFIC 2 for Finals
  wiki/Tournaments/CFC/CFIC_2/en.md
  wiki/Tournaments/CFC/CFIC_2/fr.md
Labels: area:tournaments, area:translations, size/L, type:update

#3295 Update YC for Quarterfinals
  wiki/Tournaments/YC/1/en.md
Labels: area:tournaments, size/M, type:update

#3293 Fix seedings for 4DM2
  wiki/Tournaments/4DM/2/en.md
Labels: area:tournaments, size/XS, type:update

#3232 Add Beats Per Minute stub
  wiki/Beatmapping/Beats_per_minute/en.md
  wiki/Glossary/en.md
  wiki/redirect.yaml
Labels: area:beatmapping, size/S, type:new article

#3299 Put osu!droid into the community game client list
  wiki/Projects/en.md
Labels: area:community, size/XS, type:update

#3294 Update BTT 5 for Grand Finals
  wiki/Tournaments/BTT/5/en.md
Labels: area:tournaments, size/M, type:update

#3301 Add New Featured Artist: ginkiha newspost
  news/2020-03-11-new-featured-artist-ginkiha.md
Labels: size/M

#3257 [PT-BR] Update various articles
  wiki/Mascots/pt-br.md
  wiki/People/Community_Contributors/pt-br.md
  wiki/People/The_Team/pt-br.md
  wiki/People/Users_with_unique_titles/pt-br.md
  wiki/People/pt-br.md
  wiki/Rules/pt-br.md
Labels: area:translations, size/XL, type:update

#3300 TWC2020 Round of 16 update
  wiki/Tournaments/TWC/2020/en.md
Labels: area:tournaments, size/L, type:update

#3298 Remove Sitemap
  wiki/Sitemap/en.md
Labels: area:utilities, size/L

#3302 Add sitemap redirect
  wiki/redirect.yaml
Labels: size/XS, type:update

#3305 Add Fractal Dreamers: Azure of the Horizon album release newspost
  news/2020-03-13-new-fractal-dreamers-album-azure.md
Labels: size/M

#3194 Add Countdown article
  wiki/Beatmapping/Countdown/en.md
Labels: area:gameplay, size/S, type:new article

#3308 TWC2020 reschedules
  wiki/Tournaments/TWC/2020/en.md
Labels: size/XS

#3303 Fix formatting in H-lettered articles
  wiki/Help_Centre/Account_Restrictions/en.md
  wiki/Help_Centre/Account_Restrictions/id.md
  wiki/Help_Centre/en.md
  wiki/Help_Centre/fr.md
  wiki/Help_Centre/id.md
  wiki/Help_Centre/zh.md
  wiki/History_of_osu!/2007/en.md
  wiki/History_of_osu!/2007/es.md
  wiki/History_of_osu!/2007/id.md
  wiki/History_of_osu!/2008/en.md
  wiki/History_of_osu!/2008/id.md
  wiki/History_of_osu!/2009/id.md
  wiki/History_of_osu!/2010/id.md
  wiki/History_of_osu!/2011/id.md
  wiki/History_of_osu!/2012/en.md
  wiki/History_of_osu!/2012/id.md
  wiki/History_of_osu!/2013/en.md
  wiki/History_of_osu!/2013/id.md
  wiki/History_of_osu!/2014/en.md
  wiki/History_of_osu!/2014/id.md
  wiki/History_of_osu!/2015/en.md
  wiki/History_of_osu!/2015/id.md
  wiki/History_of_osu!/2016/en.md
  wiki/History_of_osu!/2018/en.md
  wiki/History_of_osu!/osu!_wiki/en.md
  wiki/History_of_osu!/osu!_wiki/it.md
  wiki/History_of_osu!/osu!_wiki/pl.md
  wiki/History_of_osu!/osu!_wiki/zh-hk.md
  wiki/History_of_osu!/osu!_wiki/zh.md
  wiki/Hit_Objects/de.md
  wiki/Hit_Objects/en.md
  wiki/Hit_Objects/es.md
  wiki/Hit_Objects/id.md
  wiki/Hit_Objects/ko.md
  wiki/Hit_Objects/pt.md
  wiki/How_You_Can_Help!/en.md
  wiki/How_You_Can_Help!/id.md
  wiki/How_You_Can_Help!/ru.md
Labels: size/XL, type:clean up

#3311 Add a Codacy badge to README.md
  README.md
Labels: size/XS

#3316 RC update: Fix Applause filetype rule to guideline
  wiki/Ranking_Criteria/en.md
Labels: area:ranking criteria, size/XS, special:rule change, type:update

#3315 Update CFIC 2 for Grand Finals
  wiki/Tournaments/CFC/CFIC_2/en.md
  wiki/Tournaments/CFC/CFIC_2/fr.md
Labels: area:tournaments, size/L, type:update

#3312 TWC2020 Quarterfinals Update
  wiki/Tournaments/TWC/2020/en.md
Labels: area:tournaments, size/M, type:update

#3317 Update 4DM2 for Finals Week 1
  wiki/Tournaments/4DM/2/en.md
Labels: area:tournaments, size/M, type:update

#3314 Conclude Beginner's Taiko Tournament 5
  wiki/Tournaments/BTT/5/en.md
  wiki/Tournaments/en.md
Labels: area:tournaments, size/S, type:update

#3318 Add Remark config
  .remarkrc
Labels: area:utilities, size/S

#3325 Apply remark config fixes
  .remarkrc
Labels: size/XS

#3326 Fix remark-stringify config and add remarkignore
  .remarkignore
  .remarkrc
Labels: area:utilities, size/M

#3328 Update YC for Semifinals
  wiki/Tournaments/YC/1/en.md
Labels: area:tournaments, size/M, type:update

#3329 Update staff for BTT 5
  wiki/Tournaments/BTT/5/en.md
Labels: area:tournaments, size/XS, type:update

#3330 [ko] Fix incorrect translation filename
  wiki/Contests/OMC/5/ko.md
  wiki/Tournaments/OWC/2017/ko.md
Labels: area:translations

#3331 Add New Featured Artist: LeaF newspost
  news/2020-03-18-new-featured-artist-leaf.md
Labels: area:news, size/M

#3327 Update otst! 2020 for Quarterfinals
  wiki/Tournaments/otst!/2020/en.md
Labels: area:tournaments, size/M, type:update

#3321 Update TSC 2020 for Semifinals
  wiki/Tournaments/TSC/2020/en.md
Labels: area:tournaments, size/M, type:update

#3338 Add podium for BTT5
  wiki/Tournaments/BTT/5/en.md
  wiki/Tournaments/BTT/5/img/podium.png
Labels: area:tournaments, type:update

#3340 Remove TUBTWC
  wiki/Tournaments/TUBTWC/1/en.md
  wiki/Tournaments/TUBTWC/1/img/logo.jpg
  wiki/Tournaments/TUBTWC/en.md
Labels: area:tournaments, type:clean up

#3334 Fix documentation of mania judgement storage
  wiki/osu!_File_Formats/Db_(file_format)/en.md
  wiki/osu!_File_Formats/Db_(file_format)/fr.md
  wiki/osu!_File_Formats/Osr_(file_format)/en.md
  wiki/osu!_File_Formats/Osr_(file_format)/fr.md
  wiki/osu!_File_Formats/Osr_(file_format)/zh.md
Labels: size/XS, type:update

#3313 Clean up the Interface article
  wiki/Interface/de.md
  wiki/Interface/en.md
  wiki/Interface/es.md
  wiki/Interface/fr.md
  wiki/Interface/id.md
  wiki/Interface/ko.md
  wiki/Interface/zh.md
Labels: size/L, type:clean up

#3336 Update osu! Team, GMT and Alumni members
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/en.md
  wiki/People/The_Team/osu!_Alumni/en.md
Labels: size/S, type:update

#3343 Add MBC2 results news post
  news/2020-03-21-monthly-beatmapping-contest-2-results.md
  wiki/Contests/Monthly_Beatmapping_Contest/en.md
Labels: area:news, size/M

#3344 Redate MBC2 results news post
  news/2020-03-21-monthly-beatmapping-contest-2-results.md
  wiki/Contests/Monthly_Beatmapping_Contest/en.md
Labels: area:news, size/XS, type:update

#3341 Update staff log and team listings
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
  wiki/People/The_Team/Project_Loved_Team/en.md
  wiki/People/The_Team/en.md
  wiki/People/The_Team/osu!_Alumni/en.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/L, type:update

#3339 Add Mania Beginner's Showdown article
  wiki/Tournaments/MBS/1/en.md
  wiki/Tournaments/MBS/1/img/badge_high.png
  wiki/Tournaments/MBS/1/img/badge_low.png
  wiki/Tournaments/MBS/1/img/logo.png
  wiki/Tournaments/MBS/en.md
  wiki/Tournaments/en.md
Labels: area:tournaments, type:new article

#3345 Check for blank lines in remark lint-list-item-spacing
  .remarkrc
Labels: area:utilities, size/XS, type:update

#3349 Add redirects and tags for The Team and Developers
  wiki/People/The_Team/Developers/en.md
  wiki/People/The_Team/Developers/fr.md
  wiki/People/The_Team/en.md
  wiki/People/The_Team/id.md
  wiki/People/The_Team/pt-br.md
  wiki/People/The_Team/sv.md
  wiki/redirect.yaml
Labels: area:community, size/M, type:update

#3322 Clean up Installation article
  wiki/Installation/de.md
  wiki/Installation/en.md
  wiki/Installation/es.md
  wiki/Installation/fi.md
  wiki/Installation/fr.md
  wiki/Installation/hu.md
  wiki/Installation/id.md
  wiki/Installation/it.md
  wiki/Installation/ja.md
  wiki/Installation/ko.md
  wiki/Installation/pl.md
  wiki/Installation/pt.md
  wiki/Installation/ru.md
  wiki/Installation/sk.md
  wiki/Installation/th.md
  wiki/Installation/zh-hk.md
  wiki/Installation/zh.md
Labels: size/L, type:clean up

#3307 Add Kudosu
  wiki/Glossary/en.md
  wiki/Modding/Kudosu/en.md
  wiki/redirect.yaml
Labels: area:modding, size/S, type:new article

#3280 Update Featured Artists and add Mappers' Guild
  wiki/Contests/Monthly_Beatmapping_Contest/en.md
  wiki/Featured_Artists/en.md
  wiki/Featured_Artists/fr.md
  wiki/Featured_Artists/id.md
  wiki/Featured_Artists/ru.md
  wiki/Mappers_Guild/en.md
  wiki/redirect.yaml
Labels: area:community, size/M, type:new article, type:update

#3352 Remove HTML entities from the wiki
  wiki/Beatmap_Editor/SB_Load/fr.md
  wiki/Internet_Relay_Chat/de.md
  wiki/Internet_Relay_Chat/ko.md
  wiki/Medals/pt-br.md
  wiki/Performance_Points/ppv1/bg.md
  wiki/Performance_Points/ppv1/zh.md
  wiki/Ranking_Criteria/osu!catch/zh.md
  wiki/Shortcut_key_reference/pt.md
  wiki/Storyboard_Scripting/Audio/pt-br.md
  wiki/osu!_File_Formats/fr.md
  wiki/osu!_File_Formats/id.md
  wiki/osu!_File_Formats/pl.md
  wiki/osu!_File_Formats/ru.md
  wiki/osu!_File_Formats/zh.md
  wiki/osu!_Program_Files/ru.md
  wiki/osu!stream/en.md
  wiki/osu!stream/id.md
  wiki/osu!talk/de.md
  wiki/osu!talk/en.md
  wiki/osu!talk/fr.md
  wiki/osu!talk/id.md
  wiki/osu!talk/it.md
  wiki/osu!talk/pl.md
  wiki/osu!talk/pt.md
Labels: size/M, type:clean up

#3353 Override some remark-lint rules for news posts
  .remarkrc
  .remarkrc.js
  news/.remarkrc.js
Labels: area:utilities, size/M, type:update

#3153 Add Accuracy, Drain Time, Play Time, Spectate stubs
  wiki/Gameplay/Accuracy/en.md
  wiki/Gameplay/Drain_time/en.md
  wiki/Gameplay/Play_time/en.md
  wiki/Gameplay/Spectate/en.md
  wiki/Gameplay/en.md
Labels: area:gameplay, size/S, type:new article

#3297 [RU] Performance Points
  wiki/Performance_Points/ru.md
Labels: area:translations, size/L, type:new article

#3357 Generalise mode-specific guidelines about custom hitsounds replacing defaults
  wiki/Ranking_Criteria/en.md
  wiki/Ranking_Criteria/osu!/en.md
  wiki/Ranking_Criteria/osu!catch/en.md
Labels: area:ranking criteria, size/XS, type:update

#3304 Add mappers' guild update newspost
  news/2020-03-23-featured-artist-beatmap-updates-from-the-mappers-guild.md
Labels: area:news, size/L, type:new article

#3354 Add Coffee Hispanic Tournament article
  wiki/Tournaments/CHT/1/en.md
  wiki/Tournaments/CHT/1/es.md
  wiki/Tournaments/CHT/1/img/badge.png
  wiki/Tournaments/CHT/1/img/logo.jpg
  wiki/Tournaments/CHT/en.md
  wiki/Tournaments/CHT/es.md
  wiki/Tournaments/en.md
Labels: area:tournaments, type:new article

#3358 Conclude Catch French Intermediate Cup 2
  wiki/Tournaments/CFC/CFIC_2/en.md
  wiki/Tournaments/CFC/CFIC_2/fr.md
  wiki/Tournaments/CFC/CFIC_2/img/badge.png
  wiki/Tournaments/en.md
Labels: area:tournaments, type:update

#3362 Wrong player fix on CHT
  wiki/Tournaments/CHT/1/en.md
  wiki/Tournaments/CHT/1/es.md
Labels: area:tournaments, size/XS, type:update

#3359 Update 4DM2 for Finals Week 2
  wiki/Tournaments/4DM/2/en.md
Labels: area:tournaments, size/M, type:update

#3360 Update TSC 2020 for Finals
  wiki/Tournaments/TSC/2020/en.md
Labels: area:tournaments, size/M, type:update

#3361 Update otst! 2020 to Semifinals
  wiki/Tournaments/otst!/2020/en.md
Labels: area:tournaments, size/M, type:update

#3363 Update outdated explanation about inactivity for usernames
  wiki/Help_Centre/en.md
  wiki/Help_Centre/fr.md
Labels: area:website, size/XS, type:update

#3365 TWC2020 Semifinals Update
  wiki/Tournaments/TWC/2020/en.md
Labels: area:tournaments, size/M, type:update

#3366 Fix some URLs
  news/2013-09-06-august-2013-highlights.md
  news/2013-09-06-osu-monthly-beatmapping-contest-1.md
  news/2013-11-22-october-2013-ranking-chart.md
  news/2016-08-22-weekly-report-2.md
  wiki/Tournaments/o!ET/2/en.md
Labels: size/S, type:clean up

#3367 Add fartownik to Project Loved Team
  wiki/People/The_Team/Project_Loved_Team/en.md
Labels: area:community, size/XS, type:update

#3369 Fix spellling in osu!tourney article
  wiki/osu!tourney/Multiplayer_Usage/en.md
Labels: size/XS

#3370 Update YC for Finals
  wiki/Tournaments/YC/1/en.md
Labels: area:tournaments, size/M, type:update

#3371 Add O2i3 Featured Artist newspost
  news/2020-03-25-new-featured-artist-o2i3.md
Labels: area:news, size/M, type:new article

#3374 Update osu!taiko RC about 1/3 patterns in Futsuu
  wiki/Ranking_Criteria/osu!taiko/en.md
Labels: area:ranking criteria, size/XS, special:rule change, type:update

#3373 Point old site forum links to the new site
  news/2014-10-02-osu-world-cup-2014-registration-phase.md
  news/2015-01-13-osu-taiko-world-cup-2015-registration-phase.md
  news/2015-04-02-osu-catch-the-beat-world-cup-2015-registrations.md
  news/2018-07-24-osu-mapping-olympiad-3-mania.md
  wiki/Beatmap_Editor/SB_Load/en.md
  wiki/Beatmap_Editor/SB_Load/fr.md
  wiki/Ranking_Criteria/ru.md
  wiki/Storyboard_Scripting/General_Rules/de.md
  wiki/Storyboard_Scripting/General_Rules/en.md
  wiki/Storyboard_Scripting/General_Rules/ru.md
  wiki/Storyboard_Scripting/de.md
  wiki/Storyboard_Scripting/en.md
  wiki/Storyboard_Scripting/fr.md
  wiki/Storyboard_Scripting/id.md
  wiki/Storyboard_Scripting/ja.md
  wiki/Storyboard_Scripting/osu!_File_Toggles/de.md
  wiki/Storyboard_Scripting/osu!_File_Toggles/en.md
  wiki/Storyboard_Scripting/osu!_File_Toggles/ja.md
  wiki/Storyboard_Scripting/pl.md
  wiki/Tournaments/CWC/2014/en.md
  wiki/Tournaments/CWC/2014/es.md
  wiki/Tournaments/CWC/2014/ko.md
  wiki/Tournaments/CWC/2014/zh.md
  wiki/Tournaments/CWC/2015/en.md
  wiki/Tournaments/CWC/2015/zh.md
  wiki/Tournaments/MWC/2014/en.md
  wiki/Tournaments/MWC/2014/fr.md
  wiki/Tournaments/OWC/2013/de.md
  wiki/Tournaments/OWC/2013/en.md
  wiki/Tournaments/OWC/2013/fr.md
  wiki/Tournaments/OWC/2013/it.md
  wiki/Tournaments/OWC/2013/ko.md
  wiki/Tournaments/OWC/2013/pt.md
  wiki/Tournaments/OWC/2013/ru.md
  wiki/Tournaments/OWC/2013/zh.md
  wiki/Tournaments/OWC/2014/de.md
  wiki/Tournaments/OWC/2014/en.md
  wiki/Tournaments/OWC/2014/fr.md
  wiki/Tournaments/OWC/2014/ko.md
  wiki/Tournaments/OWC/2014/pt.md
  wiki/Tournaments/OWC/2014/ru.md
  wiki/Tournaments/TWC/2014/en.md
  wiki/Tournaments/TWC/2014/zh.md
  wiki/Tournaments/TWC/2015/de.md
  wiki/Tournaments/TWC/2015/en.md
  wiki/Tournaments/TWC/2015/es.md
  wiki/Tournaments/TWC/2015/ja.md
  wiki/Tournaments/TWC/2015/ru.md
Labels: size/L, type:clean up

#3342 Add Community Mentorship Program Signups Open news post
  news/2020-03-23-community-mentorship-program-spring-2020-signups-now-open.md
Labels: area:news, size/S, type:new article

#2949 [RU] Update GMT
  wiki/People/The_Team/Global_Moderation_Team/de.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Global_Moderation_Team/es.md
  wiki/People/The_Team/Global_Moderation_Team/fr.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/Global_Moderation_Team/it.md
  wiki/People/The_Team/Global_Moderation_Team/ja.md
  wiki/People/The_Team/Global_Moderation_Team/ko.md
  wiki/People/The_Team/Global_Moderation_Team/pl.md
  wiki/People/The_Team/Global_Moderation_Team/pt.md
  wiki/People/The_Team/Global_Moderation_Team/ru.md
  wiki/People/The_Team/Global_Moderation_Team/tl.md
  wiki/People/The_Team/Global_Moderation_Team/tr.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
Labels: area:translations, size/L, stale merge, type:update

#3378 Update TWC schedule
  wiki/Tournaments/TWC/2020/en.md
Labels: area:tournaments, size/XS, type:update

#3379 Remove outdated rule for modding v1
  wiki/People/The_Team/Beatmap_Nominators/Rules/en.md
Labels: area:modding, size/XS, type:update

#3380 Small fix in TWC reschedule
  wiki/Tournaments/TWC/2020/en.md
Labels: size/XS

#3376 Add Great Singapore Tournament & Great Singapore Tournament 2
  wiki/Tournaments/GST/1/en.md
  wiki/Tournaments/GST/1/img/logo.jpg
  wiki/Tournaments/GST/2/en.md
  wiki/Tournaments/GST/2/img/badge.png
  wiki/Tournaments/GST/2/img/logo.jpg
  wiki/Tournaments/GST/en.md
  wiki/Tournaments/en.md
Labels: area:tournaments, type:new article

#3383 Update otst! 2020 for Finals
  wiki/Tournaments/otst!/2020/en.md
Labels: area:tournaments, size/M, type:update

#3382 Conclude 4 Digit osu!mania World Cup 2
  wiki/Tournaments/4DM/2/en.md
  wiki/Tournaments/en.md
Labels: area:tournaments, size/M, type:update

#3384 Update GST1 prize pool
  wiki/Tournaments/GST/1/en.md
Labels: size/XS

#3385 Update GST prize pool wording
  wiki/Tournaments/GST/1/en.md
Labels: area:tournaments, size/XS, type:update

#3387 Update Project Loved Team members
  wiki/People/The_Team/Project_Loved_Team/en.md
Labels: area:community, size/S, type:update

#3386 [ZH] Add flag-references translation
  meta/flag-references/zh.md
Labels: area:translations, area:utilities, size/L

#3390 TWC Finals Update
  wiki/Tournaments/TWC/2020/en.md
Labels: area:tournaments, size/M, type:update
