Repository ppy/osu-wiki, pull requests merged in 2020-07, with the labels that each got.

#3795 Add Summer Theme Park 2020 Fanart Contest newspost
  news/2020-07-01-summer-theme-park-2020-fanart-contest.md
Labels: area:news, size/M

#3796 Add New Featured Artist: LEAF XCEED Music Division newspost
  news/2020-07-01-new-featured-artist-leaf-xceed.md
Labels: size/M

#3797 Fix broken map link
  news/2020-07-01-new-featured-artist-leaf-xceed.md
Labels: size/XS

#3794 Add RDOC 2020 article
  wiki/Tournaments/RDOC/2020/en.md
  wiki/Tournaments/RDOC/2020/img/badge.png
  wiki/Tournaments/RDOC/2020/img/logo.jpg
  wiki/Tournaments/RDOC/en.md
Labels: area:tournaments, type:new article

#3801 [TR] Add Rules for Beatmap Nominators
  wiki/People/The_Team/Beatmap_Nominators/Rules/tr.md
Labels: area:translations, size/M, type:new article

#3805 Remove references to Outer Oni in osu!taiko difficulties
  wiki/Difficulties/id.md
  wiki/Difficulties/ja.md
  wiki/Difficulties/pt-br.md
  wiki/Ranking_Criteria/Difficulty_Naming/en.md
  wiki/Ranking_Criteria/Difficulty_Naming/zh.md
Labels: area:beatmapping, area:ranking criteria, size/S

#3763 Add Mappers' Report: May/June news post
  news/2020-07-02-mappers-report-may-june.md
Labels: area:news, size/L

#3717 [ID] Add Mapper's Guild
  wiki/Mappers_Guild/id.md
Labels: area:translations, size/M, stale merge, type:new article

#3775 Fix more linting & automatic fixing issues
  .remarkrc.js
  package-lock.json
  package.json
Labels: area:utilities, size/S, type:update

#3815 Add Monthly Beatmapping Contest: July news post
  news/2020-07-04-monthly-beatmapping-contest-july.md
  wiki/shared/news/2020-07-04-monthly-beatmapping-contest-july/circle-size-notepad.png
Labels: area:news

#3812 Remove `.md` from news folder names
  news/2019-07-03-cwc-2019-recap-group-stage.md
  news/2019-08-04-cwc-2019-concludes.md
  wiki/shared/news/2019-07-03-cwc-2019-recap-group-stage/CNvMX-game9-720w.jpg
  wiki/shared/news/2019-08-04-cwc-2019-concludes/CNvSK-game10-720w.jpg
  wiki/shared/news/2019-08-04-cwc-2019-concludes/podium_cwc2019.png
Labels: area:news, type:clean up

#3814 Quick edit on the "Becoming a Beatmap Nominator" page
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/en.md
Labels: size/XS, type:update

#3791 [TR] Update Do you really want to ask peppy?
  wiki/Do_you_really_want_to_ask_peppy/tr.md
Labels: area:translations, size/S, type:update

#3420 [ZH] Update ASC
  wiki/Article_Styling_Criteria/zh.md
Labels: area:translations, size/XL, type:update

#3728 [ID] Add Bot Account
  wiki/Bot_account/id.md
Labels: area:translations, size/M, type:update

#3798 Update NPC2 for Semifinals and Finals
  wiki/Tournaments/NPC/2/en.md
Labels: area:tournaments, size/L, type:update

#3792 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/S, type:update

#3803 Add YAML linting support
  .github/workflows/continuous-integration.yml
  .yamllint.yaml
Labels: area:utilities, size/S, type:update

#3799 Update pickem links to new domain
  news/2019-10-16-OWC-2019-registrations-open.md
  wiki/Contests/oBWC/2/en.md
  wiki/Tournaments/CWC/2019/en.md
  wiki/Tournaments/GST/2/en.md
  wiki/Tournaments/GTS/IGTS_2019/en.md
  wiki/Tournaments/GTS/IGTS_2019/es.md
  wiki/Tournaments/GTS/IGTS_2019/fr.md
  wiki/Tournaments/GTS/IGTS_2019/ko.md
  wiki/Tournaments/GTS/IGTS_2019/pt-br.md
  wiki/Tournaments/GTS/IGTS_2019/ru.md
  wiki/Tournaments/GTS/IGTS_2020/en.md
  wiki/Tournaments/OWC/2018/en.md
  wiki/Tournaments/OWC/2019/en.md
  wiki/Tournaments/OWC/2019/tr.md
  wiki/Tournaments/TSC/2020/en.md
  wiki/Tournaments/TWC/2020/en.md
Labels: size/M, type:update

#3749 [RU] Fix a mistranslation in Distance Snap
  wiki/Beatmap_Editor/Distance_Snap/ru.md
Labels: area:translations, size/XS, type:update

#3839 Update o!mLN2 for Quarterfinals
  wiki/Tournaments/o!mLN/2/en.md
Labels: area:tournaments, size/L, type:update

#3832 Update UCUP 2020 for Grand Finals
  wiki/Tournaments/UCUP/2020/en.md
Labels: area:tournaments, size/M, type:update

#3831 Update EGTS 2020 for Finals
  wiki/Tournaments/GTS/EGTS_2020/en.md
Labels: area:tournaments, size/M, type:update

#3830 Update IGTS 2020 for Finals
  wiki/Tournaments/GTS/IGTS_2020/en.md
Labels: area:tournaments, size/M, type:update

#3842 Fix typos of "ranking criteria"
  wiki/Modding/en.md
  wiki/Ranking_Criteria/en.md
Labels: size/XS, type:clean up

#3826 New Spotlights Season: Summer 2020
  news/2020-07-06-new-beatmap-spotlights-test-run-summer-2020.md
  wiki/Beatmap_Spotlights/en.md
  wiki/Beatmap_Spotlights/img/badges/summer_2020/bronze_1.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/bronze_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/bronze_2.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/bronze_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/bronze_3.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/bronze_3@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/copper_1.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/copper_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/copper_2.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/copper_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/copper_3.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/copper_3@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/diamond_1.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/diamond_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/diamond_2.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/diamond_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/diamond_3.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/diamond_3@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/gold_1.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/gold_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/gold_2.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/gold_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/gold_3.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/gold_3@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/iron_1.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/iron_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/iron_2.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/iron_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/iron_3.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/iron_3@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/platinum_1.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/platinum_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/platinum_2.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/platinum_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/platinum_3.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/platinum_3@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/ri_1.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/ri_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/ri_2.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/ri_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/ri_3.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/ri_3@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/silver_1.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/silver_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/silver_2.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/silver_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/silver_3.png
  wiki/Beatmap_Spotlights/img/badges/summer_2020/silver_3@2x.png
Labels: area:news, size/L

#3723 [NL] Add 25 new translations
  wiki/Accuracy/nl.md
  wiki/BanchoBot/nl.md
  wiki/Beatmap_Discussion/nl.md
  wiki/Beatmap_ranking_procedure/nl.md
  wiki/Brand_identity_guidelines/nl.md
  wiki/Disambiguation/Bancho/nl.md
  wiki/Disambiguation/EZ/nl.md
  wiki/Disambiguation/Easy/nl.md
  wiki/Disambiguation/Mod/nl.md
  wiki/Disambiguation/nl.md
  wiki/Do_you_really_want_to_ask_peppy/nl.md
  wiki/Featured_Artists/nl.md
  wiki/Gameplay/Accuracy/nl.md
  wiki/Gameplay/Drain_time/nl.md
  wiki/Gameplay/Play_time/nl.md
  wiki/Gameplay/Spectate/nl.md
  wiki/Gameplay/nl.md
  wiki/History_of_osu!/2007/nl.md
  wiki/Project_Loved/nl.md
  wiki/Storyboards/nl.md
  wiki/Submission/nl.md
  wiki/Twitter/nl.md
  wiki/Visual_Settings/nl.md
  wiki/osu!api/nl.md
  wiki/osu!dev_Discord_server/nl.md
Labels: area:translations, size/XL, type:new article

#3843 Add osu! Asia Oceania Tournament 2 article
  wiki/Tournaments/o!AOT/1/en.md
  wiki/Tournaments/o!AOT/1/img/badge.jpg
  wiki/Tournaments/o!AOT/1/img/badge.png
  wiki/Tournaments/o!AOT/1/img/logo.jpg
  wiki/Tournaments/o!AOT/1/img/logo.png
  wiki/Tournaments/o!AOT/2/en.md
  wiki/Tournaments/o!AOT/2/img/logo.jpg
  wiki/Tournaments/o!AOT/en.md
Labels: area:tournaments, type:new article

#3807 Update AiMod wiki page
  wiki/Beatmap_Editor/AiMod/AiMod.jpg
  wiki/Beatmap_Editor/AiMod/de.md
  wiki/Beatmap_Editor/AiMod/en.md
  wiki/Beatmap_Editor/AiMod/es.md
  wiki/Beatmap_Editor/AiMod/fr.md
  wiki/Beatmap_Editor/AiMod/img/AiMod.jpg
  wiki/Beatmap_Editor/AiMod/zh.md
Labels: area:beatmapping, area:client, type:update

#3834 Update remark-lint-osu-links
  package-lock.json
Labels: area:utilities, size/XS, type:update

#3847 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/S, type:update

#3768 Fix or add default news header in old posts
  news/2013-07-31-easy-mod-how-and-why.md
  news/2013-07-31-highlights-of-july.md
  news/2013-07-31-maras-gaming-corner-july.md
  news/2013-08-08-osutest-build-now-more-usable.md
  news/2013-09-15-mapping-analysis-1-flow.md
  news/2013-09-15-the-adventures-of-clicking-circles-1-never.md
  news/2013-12-08-osu-world-cup-2013-results.md
  news/2013-12-31-happy-new-year.md
  news/2014-05-21-first-official-osu-fanart-contest-results.md
  news/2014-06-03-the-adventures-of-clicking-circles-2-git-gud.md
  news/2014-06-21-meet-yuzu.md
  news/2014-06-25-osu-catch-the-beat-world-cup-2014-results.md
  news/2014-07-04-second-official-osu-fanart-contest-results.md
  news/2014-08-30-restructuring-ranking-procedure.md
  news/2014-10-10-third-official-osu-fanart-contest-results.md
  news/2014-11-12-fourth-official-osu-fanart-contest-results.md
  news/2014-11-28-official-osu-fanart-contest-5-begins.md
  news/2015-01-02-osuidol-2014-results.md
  news/2015-01-04-osu-world-cup-2014-results.md
  news/2015-01-08-fifth-official-osu-fanart-contest-results.md
  news/2015-03-20-osu-beatmap-blueprints-available-contest.md
  news/2015-04-12-osu-taiko-world-cup-2015-results.md
  news/2015-06-16-osu-catch-the-beat-world-cup-2015-results.md
  news/2015-10-07-osumania-4k-world-cup-2015-results.md
  news/2015-12-05-osuidol-2015-results.md
  news/2015-12-17-osu-world-cup-2015-results.md
  news/2016-02-08-happy-chinese-new-year.md
  news/2016-04-20-meet-maria-osumanias-new-mascot.md
  news/2016-07-09-osuweekly-67.md
  news/2016-07-18-osu-mascot-design-contest.md
  news/2016-08-17-new-hush-hush-medals.md
  news/2016-08-29-osuremix-contest-1-results.md
  news/2016-09-10-osumania-4k-world-cup-results.md
  news/2016-10-25-osuidol-2016-finals-community-voting.md
  news/2016-11-08-osuidol-2016-final-results.md
  news/2016-12-24-osuworld-cup-2016-results.md
  news/2017-01-09-new-featured-artists-s3rl-and-nanobii.md
  news/2017-01-17-featured-artist-update-cysmix-yuki-and.md
  news/2017-01-27-happy-chinese-new-year.md
  news/2017-02-16-best-of-2016-results.md
  news/2017-03-18-introducing-to-you-spotlights.md
  news/2017-05-09-osu-at-anime-expo-2017.md
Labels: area:news, size/M, type:clean up

#3821 Add D-E lettered article stubs from Glossary
  wiki/Beatmap_Editor/Distance_Snap/en.md
  wiki/Downbeat/en.md
  wiki/iNiS_games/en.md
  wiki/iNiS_games/img/Elite-Beat-Agents.jpg
Labels: area:beatmapping, area:community, size/M, type:new article

#3849 Add New Featured Artist: Street newspost
  news/2020-07-08-new-featured-artist-street.md
Labels: size/M

#3860 Fix incorrect terminology in bitrate glossary entry
  wiki/Glossary/en.md
Labels: size/XS

#3854 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/pt-br.md
  wiki/People/Users_with_unique_titles/tr.md
  wiki/People/Users_with_unique_titles/zh.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/M, type:update

#3861 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/S, type:update

#3862 Add Community Mentorship Summer 2020 Mentor Signups
  news/2020-07-10-community-mentorship-program-summer-2020-signups-now-open.md
Labels: size/M

#3495 [TR] Update Mascots/Gallery
  wiki/Mascots/Gallery/tr.md
Labels: area:translations, size/M, type:update

#3864 Clarify wording of snap limits in osu!taiko RC
  wiki/Ranking_Criteria/osu!taiko/en.md
  wiki/Ranking_Criteria/osu!taiko/nl.md
  wiki/Ranking_Criteria/osu!taiko/zh.md
Labels: area:ranking criteria, size/S, type:update

#3806 [ID] Update Installation
  wiki/Installation/id.md
  wiki/Installation/macOS/id.md
Labels: area:translations, size/L, type:update

#3855 [ID] People
  wiki/People/Community_Contributors/id.md
  wiki/People/Users_with_unique_titles/id.md
  wiki/People/id.md
Labels: area:translations, size/XL, type:new article

#3811 [ID] Update Do you really want to ask peppy
  wiki/Do_you_really_want_to_ask_peppy/id.md
Labels: area:translations, size/S, type:update

#3813 [PT-BR] Add Do you really want to ask peppy?
  wiki/Do_you_really_want_to_ask_peppy/pt-br.md
Labels: area:community, area:translations, size/S, type:new article

#3850 Move stub attribute to front matter
  wiki/Beatmapping/Beats_per_minute/en.md
  wiki/Beatmapping/Countdown/en.md
  wiki/Beatmapping/HP_drain_rate/en.md
  wiki/Beatmapping/Health_drain/en.md
  wiki/Beatmapping/Hitsound/en.md
  wiki/Beatmapping/Offset/en.md
  wiki/Beatmapping/Slider_tick_rate/en.md
  wiki/Beatmapping/Snapping/en.md
  wiki/Beatmapping/Song_compilation/en.md
  wiki/Beatmapping/Star_rating/en.md
  wiki/Beatmaps/Beatmap_collaborations/en.md
  wiki/Beatmaps/Beatmapsets/Beatmapset_host/en.md
  wiki/Beatmaps/Beatmapsets/Guest_difficulty/en.md
  wiki/Beatmaps/Beatmapsets/en.md
  wiki/Beatmaps/Hype/en.md
  wiki/Beatmaps/Pattern/Jump/en.md
  wiki/Beatmaps/Pattern/Stream/en.md
  wiki/Beatmaps/Pattern/en.md
  wiki/Gameplay/Accuracy/en.md
  wiki/Gameplay/Drain_time/en.md
  wiki/Gameplay/Play_time/en.md
  wiki/Gameplay/Spectate/en.md
  wiki/Hit_object/Approach_circle/en.md
  wiki/Hit_object/Hit_circle/en.md
  wiki/Hit_object/Reverse_slider/en.md
  wiki/Hit_object/Slider_anchor/en.md
  wiki/Hit_object/Slider_velocity/en.md
  wiki/Hit_object/Sliderbody/en.md
  wiki/Hit_object/Sliderhead/en.md
  wiki/Hit_object/Slidertail/en.md
  wiki/Hit_object/Spinner/en.md
  wiki/Mapping_Techniques/Overlap/en.md
  wiki/Mapping_Techniques/Stack/en.md
  wiki/Mapping_Techniques/Time-distance_equality/en.md
  wiki/Modding/BAT_Managers/en.md
  wiki/Modding/Beatmap_Appreciation_Team/en.md
  wiki/Modding/Kudosu/en.md
  wiki/Modding/MAT_Leaders/en.md
  wiki/Modding/Mapping_Assistance_Team/en.md
  wiki/Modding/Proto-bubble/en.md
  wiki/Storyboarding/en.md
Labels: size/L, type:clean up

#3838 [TR] Add Mapping Assistance Team
  wiki/Modding/Mapping_Assistance_Team/tr.md
Labels: area:translations, size/S, type:new article

#3837 [TR] Add Proto-bubble
  wiki/Modding/Proto-bubble/tr.md
Labels: area:translations, size/S, type:new article

#3869 [ID] osu!api
  wiki/osu!api/id.md
Labels: area:translations, size/S, type:update

#3863 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/XS, type:update

#3780 [SV] Rules
  wiki/Rules/sv.md
Labels: area:translations, size/M, type:new article

#3779 [SV] Skinning tutorial
  wiki/Skinning_Tutorial/sv.md
Labels: area:translations, size/M, type:new article

#3778 [SV] Skinning
  wiki/Skinning/sv.md
Labels: area:translations, size/M, type:new article

#3777 [SV] Difficulty naming
  wiki/Ranking_Criteria/Difficulty_Naming/sv.md
Labels: area:translations, size/L, type:new article

#3833 Conclude Hidden Only Tournament
  wiki/Tournaments/HOT/1/en.md
  wiki/Tournaments/HOT/1/img/badge.jpg
  wiki/Tournaments/en.md
Labels: area:tournaments, size/M, type:update

#3878 Update IGTS 2020 for Grand Finals
  wiki/Tournaments/GTS/IGTS_2020/en.md
Labels: area:tournaments, size/M, type:update

#3877 Update EGTS 2020 for Grand Finals
  wiki/Tournaments/GTS/EGTS_2020/en.md
Labels: area:tournaments, size/M, type:update

#3876 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/XS, type:update

#3879 Conclude Ulat Bulu Cup 2020
  wiki/Tournaments/UCUP/2020/en.md
  wiki/Tournaments/UCUP/2020/img/badge.jpg
  wiki/Tournaments/UCUP/2020/img/badge.png
  wiki/Tournaments/en.md
Labels: area:tournaments, type:update

#3882 Add Playlist B to Beatmap Spotlights Summer 2020
  wiki/Beatmap_Spotlights/en.md
Labels: size/M

#3790 [TR] Add Modding
  wiki/Modding/tr.md
Labels: area:translations, size/M, type:new article

#3786 [RU] Update Medals
  wiki/Medals/ru.md
Labels: area:translations, size/M, type:update

#3822 [PT-BR] Add osu!api
  wiki/osu!api/pt-br.md
Labels: area:translations, size/S, type:new article

#3765 Create "Hover" and "Drag" stubs
  wiki/Play_Styles/Drag/en.md
  wiki/Play_Styles/Hover/en.md
Labels: area:gameplay, size/S, type:new article

#3883 Update o!mLN2 for Semifinals
  wiki/Tournaments/o!mLN/2/en.md
Labels: size/M

#3884 Updated NPC2 for Grandfinals
  wiki/Tournaments/NPC/2/en.md
Labels: size/M

#3823 [PT-BR] Add Installation translation
  wiki/Installation/pt-br.md
Labels: area:translations, size/M, type:new article

#3890 Update o!AOT2 for Round of 16
  wiki/Tournaments/o!AOT/2/en.md
Labels: size/M

#3891 [PT-BR] Update Twitter
  wiki/Twitter/pt-br.md
Labels: size/XS

#3892 Add New Featured Artist: Numtack05 newspost
  news/2020-07-15-new-featured-artist-numtack05.md
Labels: size/M

#3896 Fix links to the Slider Velocity stub in the Ranking Criteria
  wiki/Ranking_Criteria/osu!/en.md
Labels: size/S

#3898 Add Project Loved: July 2020 news post
  news/2020-07-16-project-loved-july-2020.md
  wiki/shared/news/2020-07-16-project-loved-july-2020/catch/1-cotton-eye-joe.jpg
  wiki/shared/news/2020-07-16-project-loved-july-2020/catch/2-installation.jpg
  wiki/shared/news/2020-07-16-project-loved-july-2020/catch/3-u-n-owen-wa-kanojo-nano-ka.jpg
  wiki/shared/news/2020-07-16-project-loved-july-2020/catch/4-legacy-of-grabbag.jpg
  wiki/shared/news/2020-07-16-project-loved-july-2020/mania/1-here-i-go-again.jpg
  wiki/shared/news/2020-07-16-project-loved-july-2020/mania/2-palette-gamma.jpg
  wiki/shared/news/2020-07-16-project-loved-july-2020/mania/3-second-run-core-mix.jpg
  wiki/shared/news/2020-07-16-project-loved-july-2020/mania/4-lost-found-melody.jpg
  wiki/shared/news/2020-07-16-project-loved-july-2020/mania/5-valhalla.jpg
  wiki/shared/news/2020-07-16-project-loved-july-2020/mania/6-lovely-icecream-princess-sweetie.jpg
  wiki/shared/news/2020-07-16-project-loved-july-2020/osu/1-sakkyokusuru-nara-ima-no-uchi.jpg
  wiki/shared/news/2020-07-16-project-loved-july-2020/osu/2-grievous-lady.jpg
  wiki/shared/news/2020-07-16-project-loved-july-2020/osu/3-sendan-life-katagiri-bootleg.jpg
  wiki/shared/news/2020-07-16-project-loved-july-2020/osu/4-cold-as-ice-ph-electro-remix-nightcore-mix.jpg
  wiki/shared/news/2020-07-16-project-loved-july-2020/osu/5-disconnected-hardkore.jpg
  wiki/shared/news/2020-07-16-project-loved-july-2020/osu/6-il-vento-d-oro.jpg
  wiki/shared/news/2020-07-16-project-loved-july-2020/osu/7-vanity-clock.jpg
  wiki/shared/news/2020-07-16-project-loved-july-2020/osu/8-bloodthirsty-nightmare-lullaby-the-empress.jpg
  wiki/shared/news/2020-07-16-project-loved-july-2020/taiko/1-reichi-no-taiyou-shinkou-1th-anniversary-mix.jpg
  wiki/shared/news/2020-07-16-project-loved-july-2020/taiko/2-genkyoku-o-kizamu.jpg
  wiki/shared/news/2020-07-16-project-loved-july-2020/taiko/3-avalanche.jpg
Labels: area:news, type:new article

#3899 Add Summer Theme Park 2020 Fanart Contest voting newspost
  news/2020-07-16-summer-theme-park-2020-voting-open.md
Labels: area:news, size/S, type:new article

#3873 [ID] osu!mapping
  wiki/osu!mapping/id.md
Labels: area:translations, size/L, type:new article

#3902 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/XS, type:update

#3836 [TR] Add Timestamp
  wiki/Modding/Timestamp/tr.md
Labels: area:translations, size/S, type:new article

#3870 [ID] iNiS Games
  wiki/iNiS_games/id.md
Labels: area:translations, size/M, type:new article

#3888 [TR] Add BAT Managers
  wiki/Modding/BAT_Managers/tr.md
Labels: area:translations, size/S, type:new article

#3889 [TR] Add NAT meetings
  wiki/Modding/NAT_meetings/tr.md
Labels: area:translations, size/M, type:new article

#3904 MWC4K2020 Wiki + News article
  news/2020-07-17-mwc-4k-2020-registrations-open.md
  wiki/Tournaments/MWC/2020_4K/en.md
  wiki/shared/news/banners/MWC4k2020.jpg
  wiki/shared/news/banners/MWC4k2020@2x.jpg
Labels: area:news, area:tournaments, type:new article

#3893 [TR] Add Beatmap Veto
  wiki/People/The_Team/Beatmap_Nominators/Beatmap_Veto/tr.md
Labels: area:translations, size/M, type:new article

#3905 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/XS, type:update

#3818 [ES] Internet Relay Chat
  wiki/Internet_Relay_Chat/es.md
Labels: area:translations, size/M

#3907 Remove dots from IRC article headers
  wiki/Internet_Relay_Chat/en.md
  wiki/Internet_Relay_Chat/fr.md
  wiki/Internet_Relay_Chat/id.md
  wiki/Internet_Relay_Chat/ja.md
  wiki/Internet_Relay_Chat/pl.md
  wiki/Internet_Relay_Chat/ru.md
Labels: size/S, type:clean up

#3759 [ZH] Update .osr (file format)
  wiki/osu!_File_Formats/Osr_(file_format)/zh.md
Labels: area:translations, size/M, type:update

#3819 [TH] Add Main Page
  wiki/Main_Page/th.md
Labels: area:translations, size/M, type:new article

#3909 Tighten lists in MWC 2020 4K article
  wiki/Tournaments/MWC/2020_4K/en.md
Labels: area:tournaments, size/L, type:clean up

#3825 [TH] Global Moderation Team
  wiki/People/The_Team/Global_Moderation_Team/th.md
Labels: area:translations, size/L

#3845 Add MCNC 2020 article
  wiki/Tournaments/MCNC/2019/en.md
  wiki/Tournaments/MCNC/2020/en.md
  wiki/Tournaments/MCNC/2020/img/bracket.png
  wiki/Tournaments/MCNC/2020/img/logo.jpg
  wiki/Tournaments/MCNC/2020/img/podium.png
  wiki/Tournaments/MCNC/en.md
Labels: area:tournaments, type:new article

#3886 [TR] Add Beatmap Appreciation Team
  wiki/Modding/Beatmap_Appreciation_Team/tr.md
Labels: area:translations, size/S, type:new article

#3887 [TR] Add MAT Leaders
  wiki/Modding/MAT_Leaders/tr.md
Labels: area:translations, size/S, type:new article

#3894 [TR] Add Becoming a Beatmap Nominator
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/tr.md
Labels: area:translations, size/M, type:new article

#3895 [TR] Add Installation/macOS
  wiki/Installation/macOS/tr.md
Labels: area:translations, size/S, type:new article

#3900 [TR] Add Bot account
  wiki/Bot_account/tr.md
Labels: area:translations, size/M, type:new article

#3903 [TR] Add Mappers' Guild
  wiki/Mappers_Guild/tr.md
Labels: area:translations, size/M, type:new article

#3829 [TH] Reword a sentence in The Team
  wiki/People/The_Team/th.md
Labels: area:translations, size/XS, type:new article

#3908 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/S, type:update

#3910 Update "Users with unique titles" page
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/id.md
  wiki/People/Users_with_unique_titles/pt-br.md
  wiki/People/Users_with_unique_titles/tr.md
  wiki/People/Users_with_unique_titles/zh.md
Labels: area:community, size/L, type:update

#3915 Add Playlist C to Beatmap Spotlights Summer 2020
  wiki/Beatmap_Spotlights/en.md
Labels: size/S

#3918 Add New Featured Artist: Receptor newspost
  news/2020-07-22-new-featured-artist-receptor.md
Labels: size/M

#3856 [FR] Add ScoreV1
  wiki/Score/ScoreV1/fr.md
Labels: area:translations, size/L, type:new article

#3852 [FR] Add Score
  wiki/Score/fr.md
Labels: area:translations, size/L, type:new article

#3916 Add aspire v finals voting newspost
  news/2020-07-21-aspire-v-finals-stage-voting.md
Labels: area:news, size/M

#3817 Unify list item indent in news posts
  news/2013-07-31-easy-mod-how-and-why.md
  news/2013-08-15-august-2013-ranking-chart.md
  news/2013-09-06-osu-monthly-beatmapping-contest-1.md
  news/2013-10-04-important-pp-performance-point-changes.md
  news/2013-10-15-osu-world-cup-2013-registration-phase.md
  news/2013-10-21-september-2013-ranking-chart.md
  news/2013-10-28-monthly-beatmapping-contest-2-submissions-open.md
  news/2013-11-22-october-2013-ranking-chart.md
  news/2013-12-08-osu-world-cup-2013-results.md
  news/2013-12-15-monthly-beatmapping-contest-3-submissions-open.md
  news/2013-12-22-november-2013-ranking-chart.md
  news/2014-01-16-osu-taiko-world-cup-2014-registration-phase.md
  news/2014-01-26-new-performance-ranking.md
  news/2014-02-01-skin-showcase-taiko-special.md
  news/2014-02-10-best-maps-of-2013-results.md
  news/2014-02-14-monthly-beatmapping-contest-4-submissions-now.md
  news/2014-03-01-performance-ranking-for-all-gamemodes.md
  news/2014-03-23-january-february-2014-ranking-chart.md
  news/2014-04-03-osu-monthly-fanart-contest-1-ends-this-week.md
  news/2014-04-11-osu-catch-the-beat-world-cup-2014-registration.md
  news/2014-04-17-march-2014-ranking-chart.md
  news/2014-04-23-taiko-world-cup-2014-last-man-standing.md
  news/2014-05-06-osu-monthly-fanart-contest-2-vote-for-mfc1.md
  news/2014-05-07-monthly-beatmapping-contest-5-submissions-now.md
  news/2014-05-16-april-2014-ranking-chart.md
  news/2014-05-23-skin-showcase-catch-the-beat-special.md
  news/2014-06-16-may-2014-ranking-chart.md
  news/2014-06-25-osu-catch-the-beat-world-cup-2014-results.md
  news/2014-07-01-osumania-world-cup-2014-registration-phase.md
  news/2014-07-18-june-2014-ranking-chart.md
  news/2014-07-21-monthly-beatmapping-contest-6.md
  news/2014-07-30-official-osu-fanart-contest-3-begins.md
  news/2014-08-17-july-2014-ranking-charts.md
  news/2014-08-21-restructuring-of-the-bat.md
  news/2014-08-24-osuidol-sign-ups-now-open.md
  news/2014-09-17-august-2014-ranking-charts-new-season.md
  news/2014-09-24-monthly-beatmapping-contest-7.md
  news/2014-10-01-official-osu-fanart-contest-4-begins.md
  news/2014-10-02-osu-world-cup-2014-registration-phase.md
  news/2015-01-17-december-2014-monthly-ranking-charts.md
  news/2015-02-11-monthly-beatmapping-contest-8.md
  news/2015-02-17-january-2015-monthly-ranking-charts.md
  news/2015-03-20-osu-beatmap-blueprints-available-contest.md
  news/2015-03-31-osucoins.md
  news/2015-05-18-april-2015-monthly-ranking-charts.md
  news/2015-08-20-july-2015-ranking-charts.md
  news/2016-08-05-explore-the-qat.md
  news/2016-08-15-weekly-report-1.md
  news/2016-08-22-weekly-report-2.md
  news/2016-08-26-are-huge-sets-a-problem.md
  news/2016-09-03-weekly-report-3.md
  news/2016-10-08-the-qat-gazette-4.md
  news/2016-10-15-the-way-we-do-spreads-is-actually-really-weird.md
  news/2016-11-08-osustandard-bn-examination.md
  news/2017-04-13-the-qat-gazette-5.md
  news/2017-04-20-march-2017-spotlights.md
  news/2017-06-07-the-qat-gazette-6.md
Labels: area:news, size/XXL, type:clean up

#3922 Tighten lists in news posts
  news/2013-07-31-easy-mod-how-and-why.md
  news/2013-07-31-maras-gaming-corner-july.md
  news/2013-08-08-osu-community-contributors.md
  news/2013-12-08-osu-world-cup-2013-results.md
  news/2014-02-10-best-maps-of-2013-results.md
  news/2014-06-25-osu-catch-the-beat-world-cup-2014-results.md
  news/2014-10-02-osu-world-cup-2014-registration-phase.md
  news/2015-01-04-osu-world-cup-2014-results.md
  news/2015-02-01-best-of-2014-results.md
  news/2015-03-20-osu-beatmap-blueprints-available-contest.md
  news/2015-04-12-osu-taiko-world-cup-2015-results.md
  news/2015-06-16-osu-catch-the-beat-world-cup-2015-results.md
  news/2015-12-14-osuweekly-39.md
  news/2016-03-01-osuweekly-50.md
  news/2016-03-08-osuweekly-51.md
  news/2016-03-15-osuweekly-52.md
  news/2016-03-17-storyboard-showcase-1.md
  news/2016-03-22-osuweekly-53.md
  news/2016-03-30-osuweekly-54.md
  news/2016-04-13-osuweekly-56.md
  news/2016-04-20-osuweekly-57.md
  news/2016-05-18-osuweekly-61.md
  news/2016-07-01-osuweekly-66-osucatch-world-cup-2016-results.md
  news/2016-08-15-weekly-report-1.md
  news/2016-08-22-weekly-report-2.md
  news/2016-09-03-weekly-report-3.md
  news/2016-10-08-the-qat-gazette-4.md
  news/2017-04-13-the-qat-gazette-5.md
  news/2018-02-15-mapping-with-rewards-2-bounties-complete.md
  news/2018-08-17-the-qat-gazette-july-2018.md
  news/2020-02-28-mappers-report-february.md
Labels: size/L, type:clean up

#3920 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/S, type:update

#3921 Conclude Intermediate Global Taiko Showdown 2020
  wiki/Tournaments/GTS/IGTS_2020/en.md
  wiki/Tournaments/GTS/IGTS_2020/img/badge.jpg
  wiki/Tournaments/GTS/IGTS_2020/img/mousepad.jpg
  wiki/Tournaments/en.md
Labels: area:tournaments, type:update

#3923 Fix Loved map metadata in July news post
  news/2020-07-16-project-loved-july-2020.md
  wiki/shared/news/2020-07-16-project-loved-july-2020/osu/5-disconnected-hardkore-canblaster-remix.jpg
  wiki/shared/news/2020-07-16-project-loved-july-2020/osu/5-disconnected-hardkore.jpg
  wiki/shared/news/2020-07-16-project-loved-july-2020/osu/7-vanity-clock.jpg
  wiki/shared/news/2020-07-16-project-loved-july-2020/taiko/1-reichi-no-taiyou-shinkou-1th-anniversary-mix.jpg
  wiki/shared/news/2020-07-16-project-loved-july-2020/taiko/2-genkyoku-o-kizamu.jpg
Labels: area:news, type:update

#3926 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/Staff_Log/2020/en.md
Labels: size/XS

#3928 Fix deadlink in Storyboarding
  wiki/Storyboarding/en.md
Labels: size/XS, type:update

#3924 Add Summer Theme Park 2020 Fanart Contest newspost
  news/2020-07-23-summer-theme-park-fanart-contest-results.md
Labels: size/L

#3932 Fix broken MediaWiki leftover links
  wiki/Tournaments/OWC/2014/fr.md
  wiki/Tournaments/TWC/2015/ja.md
  wiki/Tournaments/TWC/2015/ru.md
  wiki/osu!_Program_Files/ru.md
Labels: size/XS, type:clean up

#3933 Update osu!mania RC
  wiki/Ranking_Criteria/osu!mania/en.md
  wiki/Ranking_Criteria/osu!mania/ko.md
  wiki/Ranking_Criteria/osu!mania/zh.md
Labels: area:ranking criteria, size/S, special:rule change, type:update

#3866 [ES] Add Reporting Bad Behaviour, update BanchoBot, Installation
  wiki/BanchoBot/es.md
  wiki/Installation/es.md
  wiki/Reporting_Bad_Behaviour/es.md
Labels: area:translations, size/L, type:update

#3931 Update "users with unique titles" page
  wiki/People/Users_with_unique_titles/en.md
Labels: size/XS

#3936 Conclude Mania Beginner's Showdown 2
  wiki/Tournaments/MBS/2/en.md
  wiki/Tournaments/MBS/2/img/badge_high.jpg
  wiki/Tournaments/MBS/2/img/badge_low.jpg
  wiki/Tournaments/en.md
Labels: area:tournaments, type:update

#3871 [FR] Add Skinning Interface
  wiki/Skinning/Interface/en.md
  wiki/Skinning/Interface/fr.md
Labels: area:translations, size/XXL, type:new article, type:update

#3941 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/XS, type:update

#3937 Fix news author format in old posts
  news/2017-08-15-introducing-the-osu-coffee-hour.md
  news/2017-08-16-happystick-summer-tour-concludes.md
  news/2018-10-11-MWC4K-2018-Grand-Finals-Recap.md
  news/2020-03-23-community-mentorship-program-spring-2020-signups-now-open.md
Labels: area:news, size/XS, type:clean up

#3874 [FR] Stream Pattern
  wiki/Beatmaps/Pattern/Stream/fr.md
Labels: area:translations, size/S, type:new article

#3875 [FR] Jump Pattern stub
  wiki/Beatmaps/Pattern/Jump/fr.md
Labels: area:translations, size/S, type:new article

#3935 Add redirect for deadlink found in #3928
  wiki/redirect.yaml
Labels: size/XS, type:update

#3942 Add Playlist D to Beatmap Spotlights Summer 2020
  wiki/Beatmap_Spotlights/en.md
Labels: area:community, size/S, type:update

#3641 Cleanup How You Can Help!
  wiki/How_You_Can_Help!/en.md
  wiki/How_you_can_help!/en.md
Labels: area:community, size/L, type:clean up

#3945 Update o!AOT2 for Semifinals
  wiki/Tournaments/o!AOT/2/en.md
Labels: area:tournaments, size/L, type:update

#3944 Move 'How you can help!' translations, mark outdated
  wiki/How_you_can_help!/id.md
  wiki/How_you_can_help!/ru.md
  wiki/How_you_can_help!/tr.md
Labels: area:translations

#3947 Add Mirai. Tournament 2020
  wiki/Tournaments/Mirai/2020/en.md
  wiki/Tournaments/Mirai/2020/img/bracket.png
  wiki/Tournaments/Mirai/2020/img/logo.png
  wiki/Tournaments/Mirai/en.md
Labels: area:translations, type:new article

#3949 New Featured Artist: Silentroom newspost
  news/2020-07-29-new-featured-artist-silentroom.md
Labels: area:news, size/M

#3950 Update o!mLN2 for Finals - Week 2
  wiki/Tournaments/o!mLN/2/en.md
Labels: size/M

#3951 Add a missing word in IRC article
  wiki/Internet_Relay_Chat/en.md
Labels: size/XS

#3510 Add mention of next hitobject brightening in osu! mode
  wiki/Hit_object/en.md
Labels: area:gameplay, size/XS, type:update

#3901 [ID] Add Legal, Legal/Copyright
  wiki/Legal/Copyright/id.md
  wiki/Legal/id.md
Labels: area:translations, size/M, type:new article

#3946 Add Catch the Beat Indonesia Cup 2020
  wiki/Tournaments/CIC/2020/en.md
  wiki/Tournaments/CIC/2020/img/logo.jpg
  wiki/Tournaments/CIC/en.md
Labels: area:tournaments, type:new article

#3948 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/Staff_Log/2020/en.md
Labels: area:community, size/S, type:update

#3913 [ZH] Update Installation
  wiki/Installation/zh.md
Labels: area:translations, size/M, type:update

#3906 [PT-BR] Add Bot account
  wiki/Bot_account/pt-br.md
Labels: area:translations, size/M, type:new article

#3955 Fix a typo in Ranking_Criteria/Scaling_BPM
  wiki/Ranking_Criteria/Scaling_BPM/en.md
Labels: size/XS

#3957 fixing seed info in groups section
  wiki/Tournaments/MWC/2019_4K/en.md
Labels: size/XS

#3956 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/Staff_Log/2020/en.md
Labels: size/XS
