Repository ppy/osu-wiki, pull requests merged in 2021-03, with the labels that each got.

#5003 Correct 2014-04-28 newspost title
  news/2014-04-28-monthly-beatmapping-contest-4-results.md
Labels: area:news, size/XS

#5009 Update Developers, BN listing and Staff Log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Developers/en.md
  wiki/People/The_Team/Developers/es.md
  wiki/People/The_Team/Developers/fr.md
  wiki/People/The_Team/Developers/id.md
  wiki/People/The_Team/Developers/pl.md
  wiki/People/The_Team/Developers/pt-br.md
  wiki/People/The_Team/Developers/tr.md
  wiki/People/The_Team/Developers/zh.md
  wiki/Staff_Log/2021/en.md
Labels: area:community, size/M, type:update

#5010 Update Alumni/BN/NAT listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/es.md
  wiki/People/The_Team/Nomination_Assessment_Team/id.md
  wiki/People/The_Team/Nomination_Assessment_Team/pt-br.md
  wiki/People/The_Team/Nomination_Assessment_Team/ru.md
  wiki/People/The_Team/Nomination_Assessment_Team/th.md
  wiki/People/The_Team/Nomination_Assessment_Team/tr.md
  wiki/People/The_Team/Nomination_Assessment_Team/zh.md
  wiki/People/The_Team/osu!_Alumni/en.md
  wiki/People/The_Team/osu!_Alumni/es.md
  wiki/People/The_Team/osu!_Alumni/id.md
  wiki/People/The_Team/osu!_Alumni/pl.md
  wiki/People/The_Team/osu!_Alumni/pt-br.md
  wiki/People/The_Team/osu!_Alumni/ru.md
  wiki/People/The_Team/osu!_Alumni/tr.md
  wiki/People/The_Team/osu!_Alumni/zh.md
  wiki/Staff_Log/2021/en.md
Labels: area:community, size/S, type:update

#5014 TWC2021 Group Stage update
  wiki/Tournaments/TWC/2021/en.md
Labels: area:tournaments, size/L, type:update

#5013 Finalize A Labour of Love teams list
  wiki/Contests/A_Labour_of_Love_Contest/en.md
Labels: size/M

#5007 Update History of osu! 2014
  wiki/History_of_osu!/2014/en.md
  wiki/History_of_osu!/2014/id.md
Labels: area:community, size/M, type:update

#5018 Add Tanchiky FA news post
  news/2021-03-03-new-featured-artist-tanchiky.md
Labels: size/M

#5012 Add Mappers' Report: February news post
  news/2021-03-05-mappers-report-february.md
Labels: area:news, size/L, type:new article

#5023 TWC2021 Groups Reschedules
  wiki/Tournaments/TWC/2021/en.md
Labels: area:tournaments, size/M, type:update

#5008 Update 4DM3 to Grand Finals
  wiki/Tournaments/4DM/3/en.md
Labels: area:tournaments, size/M, type:update

#5017 Update osu! Indonesia Tournament 2021 to Quarterfinals
  wiki/Tournaments/OIT/2021/en.md
Labels: area:tournaments, size/M, type:update

#5015 Update FL4T to Semifinals
  wiki/Tournaments/FL4T/1/en.md
Labels: area:tournaments, size/M, type:update

#5016 Update BTT6 to Round of 16
  wiki/Tournaments/BTT/6/en.md
Labels: area:tournaments, size/M, type:update

#5024 Add Empty Peperoncino FA news post
  news/2021-03-06-new-featured-artist-empty-peperoncino.md
Labels: size/M

#5025 Add MBC March 2021 news post + update MBC wiki article
  news/2021-03-07-monthly-beatmapping-contest-march-2021.md
  wiki/Contests/Monthly_Beatmapping_Contest/en.md
Labels: size/L

#5026 Update BN/NAT listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/es.md
  wiki/People/The_Team/Nomination_Assessment_Team/id.md
  wiki/People/The_Team/Nomination_Assessment_Team/pt-br.md
  wiki/People/The_Team/Nomination_Assessment_Team/ru.md
  wiki/People/The_Team/Nomination_Assessment_Team/th.md
  wiki/People/The_Team/Nomination_Assessment_Team/tr.md
  wiki/People/The_Team/Nomination_Assessment_Team/zh.md
  wiki/Staff_Log/2021/en.md
Labels: area:community, size/M, type:update

#5006 Update CGTS 2021 to Regional Semifinals
  wiki/Tournaments/GTS/CGTS_2021/en.md
Labels: area:tournaments, size/L, type:update

#5029 TWC2021 Round of 16 update
  wiki/Tournaments/TWC/2021/en.md
Labels: area:tournaments, size/L, type:update

#5030 Add Skinning Contest Announcement news post and wiki article
  news/2021-03-08-skinning-contest-announcement.md
  wiki/Contests/Skinning_Contest/en.md
  wiki/Contests/Skinning_Contest/img/banner.jpg
  wiki/shared/news/2021-03-08-skinning-contest-announcement/skinning_contest_banner_announcement.jpg
Labels: area:news, type:new article

#5034 Fix broken wiki link in skinning contest announcement
  news/2021-03-08-skinning-contest-announcement.md
Labels: size/XS

#5035 TWC2021 Staff quick fix
  wiki/Tournaments/TWC/2021/en.md
Labels: size/XS

#5036 Update BTT6 to Quarterfinals
  wiki/Tournaments/BTT/6/en.md
Labels: size/M

#5032 Conclude 4DM3
  wiki/Tournaments/4DM/3/en.md
  wiki/Tournaments/en.md
Labels: area:tournaments, size/M, type:update

#5037 Remove duplicate team logos for Tournaments/OCM/3
  wiki/Tournaments/OCM/3/img/teams/Bjirrsquad.png
  wiki/Tournaments/OCM/3/img/teams/Futalovers.png
  wiki/Tournaments/OCM/3/img/teams/Izayoi.png
  wiki/Tournaments/OCM/3/img/teams/KRNS.png
  wiki/Tournaments/OCM/3/img/teams/Obama.png
  wiki/Tournaments/OCM/3/img/teams/Smukur.png
Labels: area:tournaments, type:clean up

#4732 [ID] Add and update Legal and group articles
  wiki/Legal/Copyright/id.md
  wiki/Legal/Music_Licensing/id.md
  wiki/Legal/Privacy/id.md
  wiki/Legal/Terms/id.md
  wiki/Legal/id.md
Labels: area:legal, area:translations, size/L, type:new article, type:update

#5038 Legal/Terms: fix item ordering in "Limitation of liability"
  wiki/Legal/Terms/en.md
Labels: area:legal, size/XS, type:clean up

#5039 Update FL4T to Finals week 1
  wiki/Tournaments/FL4T/1/en.md
Labels: area:tournaments, size/M, type:update

#5043 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2021/en.md
Labels: area:community, size/M, type:update

#5042 Add statistics sheet to link references in BTT6
  wiki/Tournaments/BTT/6/en.md
Labels: area:tournaments, size/XS, type:update

#5041 Update CGTS 2021 to Regional Finals
  wiki/Tournaments/GTS/CGTS_2021/en.md
Labels: area:tournaments, size/L, type:update

#5040 Update osu! Indonesia Tournament 2021 to Semifinals
  wiki/Tournaments/OIT/2021/en.md
Labels: area:tournaments, size/M, type:update

#5033 Add link to individual team entries on A Labour of Love wiki article
  wiki/Contests/A_Labour_of_Love_Contest/en.md
Labels: area:community, size/M, type:update

#4980 [FR] Users with unique titles
  wiki/People/Users_with_unique_titles/fr.md
Labels: area:community, area:translations, size/L, type:new article

#4975 [FR] Multi
  wiki/Multi/fr.md
Labels: area:client, area:translations, size/L, type:new article

#5045 Labour of Love contest updates
  wiki/Contests/A_Labour_of_Love_Contest/en.md
Labels: size/S

#5044 Minor ruleset reword on 4DM3
  wiki/Tournaments/4DM/3/en.md
Labels: area:tournaments, size/XS, type:update

#5031 Add guideline about crediting media to RC
  wiki/Ranking_Criteria/en.md
  wiki/Ranking_Criteria/zh.md
Labels: area:ranking criteria, rule change, size/XS, type:update

#5048 Add polysha FA news post
  news/2021-03-10-new-featured-artist-polysha.md
Labels: area:news, size/M

#5049 Fix polysha FA announcement date
  news/2021-03-10-new-featured-artist-polysha.md
Labels: size/XS

#4993 [RU] Add Abandoned wasteland
  wiki/Abandoned_wasteland/ru.md
Labels: area:translations, size/S, type:new article

#5055 TWC2021 Round of 16 Reschedules
  wiki/Tournaments/TWC/2021/en.md
Labels: area:tournaments, size/XS, type:update

#5020 [ZH] Add TWC 2021/Fix language in MWC4K/OWC 2020
  wiki/Tournaments/MWC/2020_4K/zh.md
  wiki/Tournaments/OWC/2020/zh.md
  wiki/Tournaments/TWC/2021/zh.md
Labels: area:translations, size/L, state:needs native review, type:new article

#5054 Add skinning documentation for Score V2's icon
  wiki/Skinning/Interface/en.md
Labels: area:skinning, size/XS, type:update

#5057 Add Cres. FA news post
  news/2021-03-13-new-featured-artist-cres.md
Labels: size/M

#5001 [PT-BR] osu!tourney
  wiki/osu!tourney/Multiplayer_Usage/pt-br.md
  wiki/osu!tourney/Setup/pt-br.md
  wiki/osu!tourney/Skinning/pt-br.md
  wiki/osu!tourney/Spectator_Usage/pt-br.md
  wiki/osu!tourney/Tournament_Management_Commands/pt-br.md
  wiki/osu!tourney/pt-br.md
Labels: area:tournaments, area:translations, size/L, type:new article

#5058 Fix minor typo in FA article
  news/2021-03-13-new-featured-artist-cres.md
Labels: size/XS

#4914 Keep Beatmap_Spotlights up to date
  wiki/Beatmap_Spotlights/en.md
  wiki/Beatmap_Spotlights/id.md
  wiki/Beatmap_Spotlights/zh.md
Labels: area:community, size/M, type:update

#5064 Update links in osu!catch
  wiki/Game_mode/osu!catch/en.md
Labels: size/XS

#5065 Add a couple of rules-related redirects (VCC, SCR, content licensing)
  wiki/redirect.yaml
Labels: size/S

#5068 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2021/en.md
Labels: area:community, size/L, type:update

#5047 Add 3 Digit World Cup 2021 tournament article
  wiki/Tournaments/3WC/2021/en.md
  wiki/Tournaments/3WC/2021/img/banner.png
  wiki/Tournaments/3WC/en.md
Labels: area:tournaments, type:new article

#5027 Add Rejoining the Beatmap Nominators requirements
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/en.md
Labels: area:beatmapping, rule change, size/M

#5071 Fix changelog link for ScoreV2 in Score
  wiki/Score/en.md
  wiki/Score/fr.md
Labels: size/XS, type:clean up

#5075 Remove user from Labour of Love team list
  wiki/Contests/A_Labour_of_Love_Contest/en.md
Labels: size/XS

#5073 Update osu! Indonesia Tournament 2021 to Finals week 1
  wiki/Tournaments/OIT/2021/en.md
Labels: area:tournaments, size/M, type:update

#5072 Update FL4T to Finals week 2
  wiki/Tournaments/FL4T/1/en.md
Labels: area:tournaments, size/M, type:update

#5070 Update CGTS 2021 to Regional Grand Finals
  wiki/Tournaments/GTS/CGTS_2021/en.md
Labels: area:tournaments, size/L, type:update

#5069 Update BTT6 to Semifinals
  wiki/Tournaments/BTT/6/en.md
Labels: area:tournaments, size/M, type:update

#5078 Fix osu!taiko linking to the wrong game mode
  wiki/Beatmap/en.md
  wiki/Beatmap/fr.md
Labels: size/XS

#5081 Update definition of "Marathon" in Glossary
  wiki/Glossary/en.md
Labels: size/XS

#5083 Update additional BN functions
  wiki/People/The_Team/Beatmap_Nominators/General_Information/en.md
  wiki/People/The_Team/Beatmap_Nominators/General_Information/id.md
  wiki/People/The_Team/Beatmap_Nominators/General_Information/tr.md
Labels: area:community, size/M, type:update

#5067 [RU] Circle size
  wiki/Beatmapping/Circle_size/ru.md
Labels: area:translations, size/M, type:new article

#5077 Update osu!taiko and osu!mania Project Loved captains
  wiki/People/The_Team/Project_Loved_Team/en.md
  wiki/People/The_Team/Project_Loved_Team/id.md
  wiki/People/The_Team/Project_Loved_Team/pl.md
  wiki/People/The_Team/Project_Loved_Team/pt-br.md
  wiki/People/The_Team/Project_Loved_Team/ru.md
  wiki/People/The_Team/Project_Loved_Team/tr.md
  wiki/People/The_Team/Project_Loved_Team/zh.md
Labels: area:community, size/M, type:update

#5089 Add GYZE FA news post
  news/2021-03-17-new-featured-artist-gyze.md
Labels: area:news, size/M

#5052 [TR] Storyboarding
  wiki/Storyboarding/tr.md
Labels: area:translations, size/S, type:new article

#5086 TWC2021 Quarterfinals update
  wiki/Tournaments/TWC/2021/en.md
Labels: area:tournaments, size/M, type:update

#5093 Change GYZE FA showcase video to assets.ppy.sh hosted
  news/2021-03-17-new-featured-artist-gyze.md
Labels: size/XS

#5094 Fix typo in Account Support Team
  wiki/People/The_Team/Account_support_team/en.md
Labels: size/XS, type:clean up

#5095 TWC2021 Quarterfinals reschedule
  wiki/Tournaments/TWC/2021/en.md
Labels: area:tournaments, size/XS, type:update

#5096 TWC2021 Extra reschedule
  wiki/Tournaments/TWC/2021/en.md
Labels: area:tournaments, size/XS, type:update

#5074 Fix Spoilerbox not being treated as a tag in BBCode
  wiki/BBCode/en.md
  wiki/BBCode/es.md
  wiki/BBCode/fr.md
  wiki/BBCode/id.md
  wiki/BBCode/ko.md
  wiki/BBCode/pl.md
  wiki/BBCode/pt-br.md
  wiki/BBCode/zh.md
Labels: size/M, type:clean up

#5097 Clarify BN application cooldowns
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/en.md
Labels: size/M

#5098 Fix spelling/grammar in updated BN application article
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/en.md
Labels: size/XS

#5091 Add Community Contributors 2020 article
  news/2021-03-19-community-contributors-2020.md
  wiki/shared/news/2021-03-19-community-contributors-2020/agatsu.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/agatsu@2x.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/baar_vendel.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/baar_vendel@2x.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/charles445.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/charles445@2x.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/eiri.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/eiri@2x.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/hallowatcher.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/hallowatcher@2x.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/jemzuu.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/jemzuu@2x.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/lasse.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/lasse@2x.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/mangomizer.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/mangomizer@2x.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/milan.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/milan@2x.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/mordred.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/mordred@2x.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/pishifat.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/pishifat@2x.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/raiden.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/raiden@2x.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/rivals_7.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/rivals_7@2x.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/rockroller.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/rockroller@2x.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/spaceman_atlas.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/spaceman_atlas@2x.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/this1neguy.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/this1neguy@2x.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/title.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/title@2x.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/tochi.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/tochi@2x.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/unpredictable.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/unpredictable@2x.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/xexxar.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/xexxar@2x.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/xinely.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/xinely@2x.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/yf_bmp.jpg
  wiki/shared/news/2021-03-19-community-contributors-2020/yf_bmp@2x.jpg
Labels: area:news

#5021 [FR] Beatmap Nominators
  wiki/People/The_Team/Beatmap_Nominators/fr.md
Labels: area:translations, size/L, state:needs native review, type:new article

#5019 [ZH] Update Spotlight 2021 Winter
  wiki/Beatmap_Spotlights/Seasons/2021_Winter/zh.md
Labels: area:translations, size/M, state:needs native review, type:update

#5011 [FR] Nomination Assessment Team
  wiki/People/The_Team/Nomination_Assessment_Team/fr.md
Labels: area:translations, size/M, state:needs native review, type:new article

#5005 [ES] osu!api
  wiki/osu!api/es.md
Labels: area:translations, size/S, state:needs native review, type:new article

#5000 [FR] How you can help
  wiki/How_you_can_help!/fr.md
Labels: area:translations, size/M, type:new article

#5101 Minor fix in osu! program files
  wiki/osu!_Program_Files/en.md
Labels: size/XS

#5102 Add URBANGARDE FA news post
  news/2021-03-20-new-featured-artist-urbangarde.md
Labels: size/M

#5051 [TR] Game_modifier
  wiki/Game_modifier/Summary/tr.md
  wiki/Game_modifier/tr.md
Labels: area:translations, size/L, type:new article

#5103 [TR] Add BBCode
  wiki/BBCode/tr.md
Labels: area:translations, size/L

#5104 Add 2020 Community Contributors to Community Contributors wiki article
  wiki/People/Community_Contributors/en.md
  wiki/People/Community_Contributors/id.md
  wiki/People/Community_Contributors/pl.md
  wiki/People/Community_Contributors/pt-br.md
  wiki/People/Community_Contributors/tr.md
  wiki/People/Community_Contributors/zh.md
Labels: size/M

#5062 [RU] Add Ranking queue
  wiki/Beatmap_ranking_procedure/Ranking_queue/ru.md
Labels: area:translations, size/S, type:new article

#5061 [RU] Update Beatmap ranking procedure
  wiki/Beatmap_ranking_procedure/ru.md
Labels: area:translations, size/XS, type:update

#5060 [RU] Update Beatmap/Difficulty
  wiki/Beatmap/Difficulty/ru.md
Labels: area:beatmapping, area:translations, size/S, type:update

#5059 [RU] Update Beatmap/Category
  wiki/Beatmap/Category/ru.md
Labels: area:beatmapping, area:translations, size/M, type:update

#4969 [KO] Update Internet Relay Chat
  wiki/Internet_Relay_Chat/ko.md
Labels: area:translations, size/L, type:update

#4563 [DE] Add Skinning
  wiki/Skinning/de.md
Labels: area:skinning, area:translations, size/M, type:new article

#4848 [EN/ZH] Add/Update Storyboard Scripting articles
  wiki/Storyboard_Scripting/Shorthand/zh.md
  wiki/Storyboard_Scripting/Variables/zh.md
  wiki/Storyboard_Scripting/en.md
  wiki/Storyboard_Scripting/osu!_File_Toggles/zh.md
  wiki/Storyboard_Scripting/zh.md
Labels: area:translations, size/L, type:new article, type:update

#5105 [RU] Update Storyboard Scripting
  wiki/Storyboard_Scripting/ru.md
Labels: area:translations, size/XS, type:clean up

#5107 TWC2021 Semifinals update
  wiki/Tournaments/TWC/2021/en.md
Labels: area:tournaments, size/M, type:update

#5092 GH-5090: Add GitHub-native upriver-style upstream sync
  .github/workflows/manual-sync.yml
  wiki/osu!_wiki_Contribution_Guide/Common_Issues/en.md
  wiki/osu!_wiki_Contribution_Guide/Common_Issues/es.md
  wiki/osu!_wiki_Contribution_Guide/Common_Issues/fr.md
  wiki/osu!_wiki_Contribution_Guide/Common_Issues/id.md
  wiki/osu!_wiki_Contribution_Guide/Common_Issues/ko.md
  wiki/osu!_wiki_Contribution_Guide/Common_Issues/ru.md
  wiki/osu!_wiki_Contribution_Guide/Common_Issues/uk.md
  wiki/osu!_wiki_Contribution_Guide/Common_Issues/zh.md
  wiki/osu!_wiki_Contribution_Guide/img/github-actions-run-workflow.png
  wiki/osu!_wiki_Contribution_Guide/img/github-actions-workflow-overview.png
Labels: area:utilities, size/L

#5084 Add Community Mentorship Spring Cycle 2021 Newspost
  news/2021-3-22-community-mentorship-program-spring-2021-signups-now-open.md
Labels: area:news, size/M

#5111 Move GH workflow screenshots into an appropriate directory (fix broken links)
  wiki/osu!_wiki_Contribution_Guide/Common_Issues/img/github-actions-run-workflow.png
  wiki/osu!_wiki_Contribution_Guide/Common_Issues/img/github-actions-workflow-overview.png
Labels: area:utilities, type:clean up

#5066 [RU] Retranslate Beatmap
  wiki/Beatmap/ru.md
Labels: area:beatmapping, area:translations, size/L, type:rewrite

#5116 Add BlackY FA news post
  news/2021-03-24-new-featured-artist-blacky.md
Labels: area:news, size/M

#5109 Update BTT6 to Finals
  wiki/Tournaments/BTT/6/en.md
Labels: area:tournaments, size/M, type:update

#5110 Update osu! Indonesia Tournament 2021 to Finals week 2
  wiki/Tournaments/OIT/2021/en.md
Labels: area:tournaments, size/M, type:update

#5122 TWC2021 Semifinal reschedules
  wiki/Tournaments/TWC/2021/en.md
Labels: area:tournaments, size/XS, type:update

#4961 [KO] Add Beatmap Nominators
  wiki/People/The_Team/Beatmap_Nominators/ko.md
Labels: area:translations, size/L, type:new article

#4964 [ID] Add Mapping and modding timeline
  wiki/Mapping_and_Modding_Timeline/id.md
Labels: area:community, area:translations, size/L, type:new article

#4978 [FR] Projects
  wiki/Projects/fr.md
Labels: area:community, area:translations, size/L, type:new article

#5106 Update CGTS 2021 to Global Qualifiers
  wiki/Tournaments/GTS/CGTS_2021/en.md
Labels: area:tournaments, size/L, type:update

#5053 [VI] Add Rules and Account Restrictions
  wiki/Help_Centre/Account_Restrictions/vi.md
  wiki/Rules/vi.md
Labels: area:translations, size/L, type:new article

#5125 Fix Kuba Oms' flag in A Labour of Love wiki article
  wiki/Contests/A_Labour_of_Love_Contest/en.md
Labels: size/XS

#5126 Update github-actions-run-workflow.png to match documentation
  wiki/osu!_wiki_Contribution_Guide/Common_Issues/img/github-actions-run-workflow.png
Labels: area:utilities, type:clean up

#4977 [FR] Replay
  wiki/Replay/fr.md
Labels: area:translations, size/L, type:new article

#4983 [FR] Add Article styling criteria
  wiki/Article_styling_criteria/fr.md
Labels: area:translations, size/S, type:new article

#4877 [ID/EN] Update Reporting Bad Behaviour articles and their images
  wiki/Reporting_Bad_Behaviour/en.md
  wiki/Reporting_Bad_Behaviour/es.md
  wiki/Reporting_Bad_Behaviour/fr.md
  wiki/Reporting_Bad_Behaviour/id.md
  wiki/Reporting_Bad_Behaviour/img/Report-command.png
  wiki/Reporting_Bad_Behaviour/img/Report-user-1.png
  wiki/Reporting_Bad_Behaviour/img/Report-user-2.png
  wiki/Reporting_Bad_Behaviour/img/Report-user-beatmap.png
  wiki/Reporting_Bad_Behaviour/img/Report-user-profile.png
  wiki/Reporting_Bad_Behaviour/img/report-command.jpg
  wiki/Reporting_Bad_Behaviour/img/report-score-beatmap-ID.png
  wiki/Reporting_Bad_Behaviour/img/report-score-beatmap.png
  wiki/Reporting_Bad_Behaviour/img/report-score-user-ID.png
  wiki/Reporting_Bad_Behaviour/img/report-score-user.png
  wiki/Reporting_Bad_Behaviour/img/report-user-1-ID.png
  wiki/Reporting_Bad_Behaviour/img/report-user-1.png
  wiki/Reporting_Bad_Behaviour/img/report-user-2-ID.png
  wiki/Reporting_Bad_Behaviour/img/report-user-2.png
  wiki/Reporting_Bad_Behaviour/img/report-user-comment-ID.png
  wiki/Reporting_Bad_Behaviour/img/report-user-comment.png
  wiki/Reporting_Bad_Behaviour/img/report-user-discussion-ID.png
  wiki/Reporting_Bad_Behaviour/img/report-user-discussion.png
  wiki/Reporting_Bad_Behaviour/img/report-user-forum-ID.png
  wiki/Reporting_Bad_Behaviour/img/report-user-forum.png
  wiki/Reporting_Bad_Behaviour/img/report-user-profile-ID.png
  wiki/Reporting_Bad_Behaviour/img/report-user-profile.png
  wiki/Reporting_Bad_Behaviour/img/report-user-web-ID.png
  wiki/Reporting_Bad_Behaviour/img/report-user-web.png
  wiki/Reporting_Bad_Behaviour/zh.md
Labels: area:translations, size/M, type:update

#5128 Add Amidst FA news post
  news/2021-03-27-new-featured-artist-amidst.md
Labels: size/M

#5131 Conclude osu! Indonesia Tournament 2021
  wiki/Tournaments/OIT/2021/en.md
  wiki/Tournaments/OIT/2021/img/badge.jpg
  wiki/Tournaments/OIT/2021/img/podium.jpg
Labels: area:tournaments, type:update

#5132 Fix workflow screenshot not being displayed in "Common Issues"
  wiki/osu!_wiki_Contribution_Guide/Common_Issues/en.md
  wiki/osu!_wiki_Contribution_Guide/Common_Issues/img/github-actions-workflow-dialog.png
Labels: area:utilities, type:clean up

#5063 [RU] Add BBCode
  wiki/BBCode/ru.md
Labels: area:translations, size/L, type:new article

#5120 [FR] Bancho (server)
  wiki/Bancho_(server)/fr.md
Labels: area:translations, size/S, type:new article

#5140 Update 3WC 2021 to Qualifiers
  wiki/Tournaments/3WC/2021/en.md
Labels: area:tournaments, size/M, type:update

#5138 Update BTT6 to Grand Finals
  wiki/Tournaments/BTT/6/en.md
Labels: area:tournaments, size/M, type:update

#5137 SOFT5 Round of 32 Update
  wiki/Tournaments/SOFT/5/en.md
Labels: area:tournaments, size/L, type:update

#5139 Update CGTS 2021 to Global's Semifinals
  wiki/Tournaments/GTS/CGTS_2021/en.md
Labels: area:tournaments, size/M, type:update

#5135 [FR] History of osu!
  wiki/History_of_osu!/fr.md
Labels: area:translations, size/S, type:new article

#5115 [FR] Update BBCode
  wiki/BBCode/fr.md
Labels: area:translations, size/XL, type:update

#5145 TWC2021 Finals update
  wiki/Tournaments/TWC/2021/en.md
Labels: area:tournaments, size/M, type:update

#5149 Allow ranking 10-key beatmaps in osu!mania RC
  wiki/Ranking_Criteria/osu!mania/en.md
  wiki/Ranking_Criteria/osu!mania/ko.md
  wiki/Ranking_Criteria/osu!mania/zh.md
Labels: area:ranking criteria, rule change, size/XS, type:update

#5153 Add Xanthochroid FA news post
  news/2021-03-31-new-featured-artist-xanthochroid.md
Labels: size/M

#4972 [ID] Add osu!mania Ranking Criteria
  wiki/Ranking_Criteria/osu!mania/id.md
Labels: area:translations, size/L, state:needs rebase, type:new article

#5146 Add PERAK osu! Tournament
  wiki/Tournaments/POT/1/en.md
  wiki/Tournaments/POT/1/img/logo.jpg
  wiki/Tournaments/POT/en.md
Labels: area:tournaments, type:new article

#4714 Clarify examples given for BN contribution rule
  wiki/People/The_Team/Beatmap_Nominators/Rules/en.md
Labels: area:community, size/XS, type:update
