Repository ppy/osu-wiki, pull requests merged in 2021-02, with the labels that each got.

#4887 Update 4DM3 to Round of 16
  wiki/Tournaments/4DM/3/en.md
Labels: area:tournaments, size/M, type:update

#4886 Update BGTS 2020 to Grand Finals
  wiki/Tournaments/GTS/BGTS_2020/en.md
Labels: area:tournaments, size/M, type:update

#4884 Update CFB5 to Semifinals
  wiki/Tournaments/CFB/5/en.md
  wiki/Tournaments/CFB/5/fr.md
Labels: size/M

#4867 Clean up disambiguation articles; fix links to the article about difficulties
  wiki/Beatmap/Guest_difficulty/en.md
  wiki/Beatmap/Guest_difficulty/id.md
  wiki/Disambiguation/Bancho/de.md
  wiki/Disambiguation/Bancho/en.md
  wiki/Disambiguation/Bancho/fr.md
  wiki/Disambiguation/Bancho/id.md
  wiki/Disambiguation/Bancho/nl.md
  wiki/Disambiguation/Bancho/pt-br.md
  wiki/Disambiguation/Combo/en.md
  wiki/Disambiguation/EZ/de.md
  wiki/Disambiguation/EZ/en.md
  wiki/Disambiguation/EZ/fr.md
  wiki/Disambiguation/EZ/id.md
  wiki/Disambiguation/EZ/nl.md
  wiki/Disambiguation/EZ/pt-br.md
  wiki/Disambiguation/Easy/de.md
  wiki/Disambiguation/Easy/en.md
  wiki/Disambiguation/Easy/fr.md
  wiki/Disambiguation/Easy/id.md
  wiki/Disambiguation/Easy/nl.md
  wiki/Disambiguation/Easy/pt-br.md
  wiki/Disambiguation/Fail/en.md
  wiki/Disambiguation/Fail/id.md
  wiki/Disambiguation/Mod/en.md
  wiki/Disambiguation/NC/en.md
  wiki/Disambiguation/NM/en.md
  wiki/Disambiguation/NM/id.md
  wiki/Disambiguation/Offset/en.md
  wiki/Disambiguation/Rank/en.md
  wiki/Disambiguation/Rank/id.md
  wiki/Disambiguation/Version/en.md
  wiki/Disambiguation/Version/id.md
  wiki/Disambiguation/Version/pt-br.md
  wiki/Glossary/en.md
Labels: size/L, type:clean up

#4882 Add Mappers' Report: January news post
  news/2021-02-01-mappers-report-january.md
Labels: area:news, size/L

#4892 Update A Labour of Love teams
  wiki/Contests/A_Labour_of_Love_Contest/en.md
Labels: size/XS

#4868 [ID] Update and retranslate Project Loved Team
  wiki/People/The_Team/Project_Loved_Team/id.md
Labels: area:translations, size/S, type:update

#4890 Update 3TWC to Semifinals
  wiki/Tournaments/3TWC/1/en.md
Labels: area:tournaments, size/M, type:update

#4885 Add Project Loved: January 2021 news post
  news/2021-02-02-project-loved-january-2021.md
  wiki/shared/news/2021-02-02-project-loved-january-2021/catch/1-werewolf-howls.jpg
  wiki/shared/news/2021-02-02-project-loved-january-2021/catch/2-trane.jpg
  wiki/shared/news/2021-02-02-project-loved-january-2021/catch/3-ghost-rule.jpg
  wiki/shared/news/2021-02-02-project-loved-january-2021/catch/4-garakuta-doll-play.jpg
  wiki/shared/news/2021-02-02-project-loved-january-2021/mania/1-far-in-the-blue-sky.jpg
  wiki/shared/news/2021-02-02-project-loved-january-2021/mania/2-verflucht.jpg
  wiki/shared/news/2021-02-02-project-loved-january-2021/mania/3-galvanize-beat-juggle.jpg
  wiki/shared/news/2021-02-02-project-loved-january-2021/mania/4-lullaby.jpg
  wiki/shared/news/2021-02-02-project-loved-january-2021/mania/5-4-6k-pack-1.jpg
  wiki/shared/news/2021-02-02-project-loved-january-2021/mania/6-memoria-original-mix.jpg
  wiki/shared/news/2021-02-02-project-loved-january-2021/osu/1-goodbye-moonmen-rick-and-morty-remix.jpg
  wiki/shared/news/2021-02-02-project-loved-january-2021/osu/10-sorochinskaya-yarmarka.jpg
  wiki/shared/news/2021-02-02-project-loved-january-2021/osu/2-lullaby.jpg
  wiki/shared/news/2021-02-02-project-loved-january-2021/osu/3-flower-dance.jpg
  wiki/shared/news/2021-02-02-project-loved-january-2021/osu/4-heathens-magnetude-bootleg.jpg
  wiki/shared/news/2021-02-02-project-loved-january-2021/osu/5-love-live-school-idol-compilation.jpg
  wiki/shared/news/2021-02-02-project-loved-january-2021/osu/6-super-panda-64-sped-up-ver.jpg
  wiki/shared/news/2021-02-02-project-loved-january-2021/osu/7-koko-soko-akiba-koubou-eurobeat-remix.jpg
  wiki/shared/news/2021-02-02-project-loved-january-2021/osu/8-shirayama-hime-no-kami.jpg
  wiki/shared/news/2021-02-02-project-loved-january-2021/osu/9-libertas.jpg
  wiki/shared/news/2021-02-02-project-loved-january-2021/taiko/1-ignite.jpg
  wiki/shared/news/2021-02-02-project-loved-january-2021/taiko/2-berserkerz-warfare-345.jpg
  wiki/shared/news/2021-02-02-project-loved-january-2021/taiko/3-dogs.jpg
  wiki/shared/news/2021-02-02-project-loved-january-2021/taiko/4-unmeiron.jpg
Labels: area:news, type:new article

#4865 Cleanup Catch The Beat World Cup wiki article
  wiki/Tournaments/CWC/1/en.md
Labels: area:tournaments, size/L, type:clean up

#4780 [KO] Add Auto
  wiki/Game_modifier/Auto/ko.md
Labels: area:translations, size/M, state:needs native review, type:new article

#4781 [KO] Add Cinema
  wiki/Game_modifier/Cinema/ko.md
Labels: area:translations, size/M, state:needs native review, type:new article

#4895 Add osu! Indonesia Tournament #11 (2021) wiki article
  wiki/Tournaments/OIT/2021/en.md
  wiki/Tournaments/OIT/2021/img/logo.jpg
  wiki/Tournaments/OIT/en.md
Labels: area:tournaments, size/L, type:new article

#4896 Update SEAC 2020 to Finals
  wiki/Tournaments/SEAC/2020/en.md
Labels: area:tournaments, size/M, type:update

#4897 Add Penguinosity to mania Project Loved captains
  wiki/People/The_Team/Project_Loved_Team/en.md
  wiki/People/The_Team/Project_Loved_Team/id.md
  wiki/People/The_Team/Project_Loved_Team/pl.md
  wiki/People/The_Team/Project_Loved_Team/pt-br.md
  wiki/People/The_Team/Project_Loved_Team/ru.md
  wiki/People/The_Team/Project_Loved_Team/tr.md
  wiki/People/The_Team/Project_Loved_Team/zh.md
Labels: area:community, size/XS, type:update

#4893 BTT6: Initial Article
  wiki/Tournaments/BTT/6/en.md
  wiki/Tournaments/BTT/6/img/logo.jpg
  wiki/Tournaments/BTT/en.md
Labels: area:translations, type:new article

#4891 FL4T: Initial Article
  wiki/Tournaments/FL4T/1/en.md
  wiki/Tournaments/FL4T/1/img/logo.jpg
  wiki/Tournaments/FL4T/en.md
Labels: area:translations, type:new article

#4898 Add Masahiro Aoki FA news post
  news/2021-02-03-new-featured-artist-masahiro-godspeed-aoki.md
Labels: size/M

#4899 Fix typo in Masahiro Aoki news post
  news/2021-02-03-new-featured-artist-masahiro-godspeed-aoki.md
Labels: size/XS

#4824 [ZH] Add osu file formats
  wiki/osu!_File_Formats/Db_(file_format)/zh.md
  wiki/osu!_File_Formats/Osb_(file_format)/zh.md
  wiki/osu!_File_Formats/Osk_(file_format)/zh.md
  wiki/osu!_File_Formats/Osz_(file_format)/zh.md
Labels: area:translations, size/L, type:new article

#4903 [TR] Update Project Loved and Project Loved Team
  wiki/People/The_Team/Project_Loved_Team/tr.md
  wiki/Project_Loved/tr.md
Labels: area:community, area:translations, size/S, type:update

#4902 [TR] Update GMT, NAT and Account support team
  wiki/People/The_Team/Account_support_team/tr.md
  wiki/People/The_Team/Global_Moderation_Team/tr.md
  wiki/People/The_Team/Nomination_Assessment_Team/tr.md
Labels: area:community, area:translations, size/M, type:update

#4901 Clarify Beatmap Nominator modding expectations
  wiki/People/The_Team/Beatmap_Nominators/Expectations/en.md
  wiki/People/The_Team/Beatmap_Nominators/Expectations/id.md
  wiki/People/The_Team/Beatmap_Nominators/Expectations/tr.md
Labels: area:community, area:modding, size/S, type:update

#4905 Add Playlist C to Beatmap Spotlights Season 3: Winter 2021 wiki article
  wiki/Beatmap_Spotlights/Seasons/2021_Winter/en.md
  wiki/Beatmap_Spotlights/Seasons/2021_Winter/zh.md
Labels: area:community, area:translations, size/M, type:update

#4906 Remove Sorochinskaya Yarmarka from January Loved voting
  news/2021-02-02-project-loved-january-2021.md
  wiki/shared/news/2021-02-02-project-loved-january-2021/osu/10-sorochinskaya-yarmarka.jpg
Labels: area:news, type:update

#4908 Fix Spotlights Winter 2021 schedule
  news/2021-01-18-beatmap-spotlights-season-3-winter-2021.md
  wiki/Beatmap_Spotlights/Seasons/2021_Winter/en.md
Labels: size/XS

#4909 TWC2021 Wiki and News article
  news/2021-01-04-osu!taiko-world-cup-2021-staff-and-mapper-applications.md
  news/2021-02-04-twc-2021-registrations-open.md
  wiki/Tournaments/TWC/2021/en.md
  wiki/shared/news/banners/TWC_2021.jpg
  wiki/shared/news/banners/TWC_2021@2x.jpg
Labels: area:news, area:tournaments, type:new article

#4910 TWC2021 News bad date fix
  news/2021-02-04-twc-2021-registrations-open.md
Labels: size/XS

#4912 Add Community Choice 2020 Results newspost
  news/2021-02-05-community-choice-2020-results.md
  wiki/shared/news/2021-02-05-community-choice-2020-results/carry-me-away.jpg
  wiki/shared/news/2021-02-05-community-choice-2020-results/daddy-daddy-do.jpg
  wiki/shared/news/2021-02-05-community-choice-2020-results/excuse-my-rudeness.jpg
  wiki/shared/news/2021-02-05-community-choice-2020-results/finorza.jpg
  wiki/shared/news/2021-02-05-community-choice-2020-results/genre-switches.jpg
  wiki/shared/news/2021-02-05-community-choice-2020-results/illness-lilin.jpg
  wiki/shared/news/2021-02-05-community-choice-2020-results/run.jpg
  wiki/shared/news/2021-02-05-community-choice-2020-results/space-angel.jpg
  wiki/shared/news/2021-02-05-community-choice-2020-results/super-ink-burst.jpg
Labels: area:news

#4915 Add votes to Space Angel in Community Choice 2020
  news/2021-02-05-community-choice-2020-results.md
Labels: area:news, size/XS

#4916 Add SECONDWALL FA news post
  news/2021-02-06-new-featured-artist-secondwall.md
Labels: size/M

#4917 Update metadata RC regarding fictional characters
  wiki/Ranking_Criteria/en.md
Labels: area:ranking criteria, rule change, size/XS, type:update

#4836 [ES] Add Combo
  wiki/Beatmapping/Combo/es.md
Labels: area:translations, size/S, state:needs native review, type:new article

#4919 Conclude Beginners Global Taiko Showdown 2020
  wiki/Tournaments/GTS/BGTS_2020/en.md
  wiki/Tournaments/en.md
Labels: area:tournaments, size/M, type:update

#4921 Update CFB5 to Finals
  wiki/Tournaments/CFB/5/en.md
  wiki/Tournaments/CFB/5/fr.md
Labels: area:tournaments, size/M, type:update

#4922 Update 4DM3 to Quarterfinals
  wiki/Tournaments/4DM/3/en.md
Labels: area:tournaments, size/M, type:update

#4923 Update SEAC 2020 to Grand Finals
  wiki/Tournaments/SEAC/2020/en.md
Labels: area:tournaments, size/M, type:update

#4918 [ZH] Update General RC
  wiki/Ranking_Criteria/id.md
  wiki/Ranking_Criteria/zh.md
Labels: area:ranking criteria, area:translations, size/XS, type:update

#4699 Clarify rhythm incarnate tier info on Beatmap Spotlights
  wiki/Beatmap_Spotlights/en.md
  wiki/Beatmap_Spotlights/id.md
Labels: area:community, area:gameplay, size/XS, type:update

#4928 Add TWC 2021 pickems page to wiki
  wiki/Tournaments/TWC/2021/en.md
Labels: area:tournaments, size/XS, type:update

#4770 [KO] Retranslate Registration
  wiki/Registration/ko.md
Labels: area:translations, size/S, state:needs native review, type:update

#4931 Add FringeRemover program
  wiki/Projects/en.md
Labels: size/XS

#4937 [ID] Remove outdated tag from iNiS games
  wiki/iNiS_games/id.md
Labels: area:translations, size/XS, type:update

#4874 Rewrite the Program Files article
  wiki/osu!_Program_Files/en.md
  wiki/osu!_Program_Files/img/file_structure.jpg
Labels: size/L, type:rewrite

#4936 Add Playlist D to Beatmap Spotlights Season 3: Winter 2021 wiki article
  wiki/Beatmap_Spotlights/Seasons/2021_Winter/en.md
  wiki/Beatmap_Spotlights/Seasons/2021_Winter/zh.md
Labels: area:community, size/M, type:update

#4938 Update 3TWC to Finals
  wiki/Tournaments/3TWC/1/en.md
Labels: size/M

#4944 Add seleP FA news post
  news/2021-02-10-new-featured-artist-selep.md
Labels: area:news, size/M

#4854 [KO] Add Mod (disambiguation)
  wiki/Disambiguation/Mod/ko.md
Labels: area:translations, size/S, state:needs native review, type:new article

#4855 [KO] Add Disambiguation
  wiki/Disambiguation/ko.md
Labels: area:translations, size/S, state:needs native review, type:new article

#4924 Update FL4T to Group Stage
  wiki/Tournaments/FL4T/1/en.md
Labels: area:tournaments, size/L, type:update

#4940 Update BTT6 to Group Stage
  wiki/Tournaments/BTT/6/en.md
Labels: area:tournaments, size/L, type:update

#4932 [ID] Update Project Loved
  wiki/Project_Loved/id.md
Labels: area:translations, size/S, type:update

#4933 [ID] Update Do you really want to ask peppy?
  wiki/Do_you_really_want_to_ask_peppy/id.md
Labels: area:translations, size/S, type:update

#4935 CGTS 2021: Initial Article
  wiki/Tournaments/GTS/CGTS_2021/en.md
  wiki/Tournaments/GTS/CGTS_2021/img/logo.jpg
  wiki/Tournaments/GTS/en.md
  wiki/Tournaments/GTS/fr.md
  wiki/Tournaments/GTS/id.md
Labels: area:tournaments, type:new article, type:update

#4925 [TR] Add Game_mode/osu!
  wiki/Game_mode/osu!/tr.md
Labels: area:translations, size/L, type:new article

#4949 Add ovEnola FA news post
  news/2021-02-13-new-featured-artist-ovenola.md
Labels: size/M

#4950 Fix hit objects links
  wiki/Beatmap/Pattern/Stream/en.md
  wiki/Beatmap/Pattern/Stream/fr.md
  wiki/Beatmap/Pattern/Stream/id.md
  wiki/Beatmap_Editor/Timing/en.md
  wiki/Beatmap_Editor/Timing/es.md
  wiki/Beatmap_Editor/Timing/tr.md
  wiki/Gameplay/Drain_time/en.md
  wiki/Gameplay/Drain_time/id.md
  wiki/Gameplay/Drain_time/nl.md
  wiki/Gameplay/Drain_time/th.md
  wiki/Hit_object/Slider/en.md
Labels: size/S, type:clean up

#4929 Correct total ranked score definition in "Score"
  wiki/Score/en.md
  wiki/Score/fr.md
Labels: area:gameplay, size/M, type:update

#4953 Update A Labour of Love team listing
  wiki/Contests/A_Labour_of_Love_Contest/en.md
Labels: area:community, size/XS, type:update

#4954 Add the github repo url of osu!droid
  wiki/Projects/en.md
Labels: size/XS

#4952 Update mapping and modding timeline
  wiki/Mapping_and_Modding_Timeline/en.md
Labels: area:beatmapping, area:modding, size/S, type:update

#4956 Update osu! Indonesia Tournament 2021 to Round of 32
  wiki/Tournaments/OIT/2021/en.md
Labels: area:tournaments, size/M, type:update

#4957 Conclude SEAC 2020
  wiki/Tournaments/SEAC/2020/en.md
  wiki/Tournaments/SEAC/2020/img/badge.jpg
  wiki/Tournaments/en.md
Labels: area:tournaments, size/M, type:update

#4958 Update 3TWC to Grand Finals
  wiki/Tournaments/3TWC/1/en.md
Labels: area:tournaments, size/M, type:update

#4959 Update CFB5 to Grand Finals
  wiki/Tournaments/CFB/5/en.md
  wiki/Tournaments/CFB/5/fr.md
Labels: area:tournaments, size/L, type:update

#4851 [ZH] Submission
  wiki/Submission/img/bss-submitting-ZH.png
  wiki/Submission/img/bss-warning-ZH.png
  wiki/Submission/zh.md
Labels: area:translations, size/M, type:new article

#4965 Add New Featured Artist: Shawn Wasabi newspost
  news/2021-02-17-new-featured-artist-shawn-wasabi.md
Labels: size/M

#4942 Add Explicit Content & Content Voting Process articles + VCC & SCR updates + new exceptions
  wiki/Rules/Content_Voting_Process/en.md
  wiki/Rules/Explicit_Content/en.md
  wiki/Rules/Song_Content_Rules/en.md
  wiki/Rules/Song_Content_Rules/id.md
  wiki/Rules/Song_Content_Rules/tr.md
  wiki/Rules/Song_Content_Rules/zh.md
  wiki/Rules/Visual_Content_Considerations/en.md
  wiki/Rules/Visual_Content_Considerations/id.md
  wiki/Rules/Visual_Content_Considerations/tr.md
Labels: area:community, rule change, size/L, type:new article, type:update

#4967 Add nora2r FA news post
  news/2021-02-20-new-featured-artist-nora2r.md
Labels: size/M

#4913 [KO] Add Hidden
  wiki/Game_modifier/Hidden/ko.md
Labels: area:translations, size/M, state:needs native review, type:new article

#4900 [FR] Update Beatmap
  wiki/Beatmap/fr.md
Labels: area:translations, size/L, type:update

#4971 Add autofanboy to Users with unique titles
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/id.md
  wiki/People/Users_with_unique_titles/pl.md
  wiki/People/Users_with_unique_titles/pt-br.md
  wiki/People/Users_with_unique_titles/th.md
  wiki/People/Users_with_unique_titles/tr.md
  wiki/People/Users_with_unique_titles/zh.md
Labels: size/S

#4968 TWC 2021 pending teams
  wiki/Tournaments/TWC/2021/en.md
Labels: area:tournaments, size/M, type:update

#4970 [ZH] Fix a typo in Interface
  wiki/Interface/zh.md
Labels: size/XS

#4945 [ID] Update and retranslate Visual Settings; [KO/NL/PL/PT-BR/TR] Add per-language in-game screenshot to corresponding Visual Settings article
  wiki/Visual_Settings/id.md
  wiki/Visual_Settings/img/visual-settings-ID.jpg
  wiki/Visual_Settings/img/visual-settings-KO.jpg
  wiki/Visual_Settings/img/visual-settings-NL.jpg
  wiki/Visual_Settings/img/visual-settings-PL.jpg
  wiki/Visual_Settings/img/visual-settings-PT-BR.jpg
  wiki/Visual_Settings/img/visual-settings-TR.jpg
  wiki/Visual_Settings/ko.md
  wiki/Visual_Settings/nl.md
  wiki/Visual_Settings/pl.md
  wiki/Visual_Settings/pt-br.md
  wiki/Visual_Settings/tr.md
Labels: area:client, area:translations, state:needs native review, type:rewrite, type:update

#4878 [ID] Update GMT, NAT, and BanchoBot
  wiki/BanchoBot/id.md
  wiki/People/The_Team/Account_support_team/id.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/Nomination_Assessment_Team/id.md
Labels: area:translations, size/M, state:needs native review, type:update

#4943 [ID] Update and retranslate Difficulty
  wiki/Beatmap/Difficulty/id.md
Labels: area:beatmapping, area:translations, size/M, type:rewrite

#4963 Add recommended length of pause-loop and applause
  wiki/Skinning/Sounds/en.md
Labels: area:skinning, size/XS, type:update

#4799 [RU] Add Interface
  wiki/Interface/ru.md
Labels: area:translations, size/L, type:new article

#4974 Fix typo in News styling criteria
  wiki/News_Styling_Criteria/en.md
Labels: size/XS

#4960 Update osu!catch RC regarding difficulty settings guideline and new Rain guideline
  wiki/Ranking_Criteria/osu!catch/en.md
Labels: area:ranking criteria, size/XS, type:update

#4976 Update osu! Indonesia Tournament 2021 to Round of 16
  wiki/Tournaments/OIT/2021/en.md
Labels: area:tournaments, size/M, type:update

#4979 Add The Gentle Men FA news post
  news/2021-02-24-new-featured-artist-the-gentle-men.md
Labels: size/M

#4981 Fix incorrect date in new FA newspost
  news/2021-02-24-new-featured-artist-the-gentle-men.md
Labels: size/XS

#4982 Update GMT/BN/Alumni/Users with unique titles listing/Staff Log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Global_Moderation_Team/es.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/Global_Moderation_Team/pl.md
  wiki/People/The_Team/Global_Moderation_Team/pt-br.md
  wiki/People/The_Team/Global_Moderation_Team/ru.md
  wiki/People/The_Team/Global_Moderation_Team/th.md
  wiki/People/The_Team/Global_Moderation_Team/tr.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
  wiki/People/The_Team/osu!_Alumni/en.md
  wiki/People/The_Team/osu!_Alumni/es.md
  wiki/People/The_Team/osu!_Alumni/id.md
  wiki/People/The_Team/osu!_Alumni/pl.md
  wiki/People/The_Team/osu!_Alumni/pt-br.md
  wiki/People/The_Team/osu!_Alumni/ru.md
  wiki/People/The_Team/osu!_Alumni/tr.md
  wiki/People/The_Team/osu!_Alumni/zh.md
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/id.md
  wiki/People/Users_with_unique_titles/pl.md
  wiki/People/Users_with_unique_titles/pt-br.md
  wiki/People/Users_with_unique_titles/th.md
  wiki/People/Users_with_unique_titles/tr.md
  wiki/People/Users_with_unique_titles/zh.md
  wiki/Staff_Log/2021/en.md
Labels: area:community, size/XL, type:update

#4985 Add BigMoist10 to Users with unique titles
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/id.md
  wiki/People/Users_with_unique_titles/pl.md
  wiki/People/Users_with_unique_titles/pt-br.md
  wiki/People/Users_with_unique_titles/th.md
  wiki/People/Users_with_unique_titles/tr.md
  wiki/People/Users_with_unique_titles/zh.md
Labels: area:community, size/XS, type:update

#4987 Update 4DM3 to Finals
  wiki/Tournaments/4DM/3/en.md
Labels: area:tournaments, size/M, type:update

#4989 Update BTT6 to RO32
  wiki/Tournaments/BTT/6/en.md
Labels: area:tournaments, size/L, type:update

#4990 Update CGTS 2021 to Regional Quarterfinals
  wiki/Tournaments/GTS/CGTS_2021/en.md
Labels: area:tournaments, size/L, type:update

#4986 Conclude 3TWC
  wiki/Tournaments/3TWC/1/en.md
  wiki/Tournaments/3TWC/1/img/badge.jpg
  wiki/Tournaments/en.md
Labels: area:tournaments, type:update

#4988 [TH] Update Global Moderation Team
  wiki/People/The_Team/Global_Moderation_Team/th.md
Labels: area:translations, size/S, type:update

#4992 Update FL4T to Quarterfinals
  wiki/Tournaments/FL4T/1/en.md
Labels: area:tournaments, size/L, type:update

#4939 [ID] Update Disambiguation/Fail and Disambiguation/Rank
  wiki/Disambiguation/Fail/id.md
  wiki/Disambiguation/Rank/id.md
Labels: area:translations, size/S, type:update

#4930 [ID] Add Guides
  wiki/Guides/id.md
Labels: area:translations, size/M, state:needs native review, type:new article

#4920 [ID] Add Skin and Skinning
  wiki/Skin/id.md
  wiki/Skinning/id.md
Labels: area:translations, size/M, type:new article

#4955 [ID] Add Graveyard
  wiki/Graveyard/id.md
Labels: area:translations, size/S, state:needs native review, type:new article

#4995 BN rules update: specify when activity is checked
  wiki/People/The_Team/Beatmap_Nominators/Rules/en.md
Labels: area:community, size/XS, type:update

#4997 fixed a player name in the German team
  wiki/Tournaments/OWC/2/en.md
Labels: size/XS

#4948 [ZH] User_title
  wiki/User_title/zh.md
Labels: area:community, area:translations, size/M, type:new article

#4998 Add Extra Terra FA news post
  news/2021-02-27-new-featured-artist-extra-terra.md
Labels: size/M

#4904 Add accurate formula to determine score multiplier
  wiki/Score/en.md
Labels: area:gameplay, size/S, type:update

#4934 [ID] Update Bot Account
  wiki/Bot_account/id.md
Labels: area:translations, size/M, type:update

#4947 [ZH] Twitter, Visual_Settings, upppy
  wiki/Twitter/zh.md
  wiki/Visual_Settings/zh.md
  wiki/upppy/zh.md
Labels: area:translations, size/M, type:new article, type:update
