Repository ppy/osu-wiki, pull requests merged in 2021-10, with the labels that each got.

#6174 Expand `Mapping and Modding Timeline` article
  wiki/Mapping_and_Modding_Timeline/en.md
Labels: type:update, size/M, area:community

#6120 [ZH-TW] Add `Medals/Unlock_requirements/Dedication`
  wiki/Medals/Unlock_requirements/Dedication/zh-tw.md
Labels: area:translations, type:new article, size/M

#6125 [FR] Update `Beatmapping/Overall difficulty`
  wiki/Beatmapping/Overall_difficulty/fr.md
Labels: area:translations, type:update

#6124 [FR] Update `Beatmap/Category`, `Beatmap/Beatmap description`, `Beatmap/Difficulty` and `Beatmap/History of Loved`
  wiki/Beatmap/Beatmap_description/fr.md
  wiki/Beatmap/Category/fr.md
  wiki/Beatmap/Difficulty/fr.md
  wiki/Beatmap/History_of_Loved/fr.md
Labels: area:translations, type:update, size/M

#6134 [BG] Add `Rules`
  wiki/Rules/bg.md
Labels: area:translations, type:new article, size/M

#6182 Add `New Featured Artist: DJ Raisei` news post
  news/2021-10-02-new-featured-artist-dj-raisei.md
Labels: size/M

#6132 [FR] Update `Glossary/Changelog`, `Glossary/Choke` and `Glossary/Combo fire`
  wiki/Glossary/Changelog/fr.md
  wiki/Glossary/Choke/fr.md
  wiki/Glossary/Combo_fire/fr.md
Labels: area:translations, type:update, size/M

#6135 [FR] Update `Guides/Beginner's Tutorial`, `BSS_Issues`, `Changing the Artist or Title` and `Collab information`
  wiki/Guides/BSS_Issues/fr.md
  wiki/Guides/Beginner's_Tutorial/fr.md
  wiki/Guides/Changing_the_Artist_or_Title/fr.md
  wiki/Guides/Collab_Information/fr.md
Labels: area:translations, type:update, size/L

#6183 Correct details about loved.sh development in `History of Loved`
  wiki/Beatmap/History_of_Loved/en.md
  wiki/Beatmap/History_of_Loved/fr.md
Labels: type:update, size/S, area:community

#6164 [RU] Add `Content usage guidelines`
  wiki/Rules/Content_Usage_Guidelines/ru.md
Labels: area:translations, type:new article, size/M, area:community

#6163 [RU] Update some of the translations
  wiki/Article_styling_criteria/Formatting/ru.md
  wiki/Beatmap/Category/ru.md
  wiki/Beatmap/Difficulty/ru.md
  wiki/Main_Page/ru.md
  wiki/People/The_Team/Project_Loved_Team/ru.md
  wiki/Project_Loved/ru.md
Labels: area:translations, type:update, size/L, area:beatmapping, area:community

#6185 Add Halloween 2021 Fanart Contest newspost
  news/2021-10-04-halloween-fanart-contest.md
Labels: area:news, size/M

#6188 Update `OWC 2021`
  wiki/Tournaments/OWC/2021/en.md
Labels: size/M

#6172 Update BN / NAT Listing
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/fr.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/es.md
  wiki/People/The_Team/Nomination_Assessment_Team/fr.md
  wiki/People/The_Team/Nomination_Assessment_Team/id.md
  wiki/People/The_Team/Nomination_Assessment_Team/pt-br.md
  wiki/People/The_Team/Nomination_Assessment_Team/ru.md
  wiki/People/The_Team/Nomination_Assessment_Team/th.md
  wiki/People/The_Team/Nomination_Assessment_Team/tr.md
  wiki/People/The_Team/Nomination_Assessment_Team/zh.md
  wiki/People/The_Team/osu!_Alumni/en.md
  wiki/People/The_Team/osu!_Alumni/es.md
  wiki/People/The_Team/osu!_Alumni/fr.md
  wiki/People/The_Team/osu!_Alumni/id.md
  wiki/People/The_Team/osu!_Alumni/ja.md
  wiki/People/The_Team/osu!_Alumni/pl.md
  wiki/People/The_Team/osu!_Alumni/pt-br.md
  wiki/People/The_Team/osu!_Alumni/ru.md
  wiki/People/The_Team/osu!_Alumni/tr.md
  wiki/People/The_Team/osu!_Alumni/zh-tw.md
  wiki/People/The_Team/osu!_Alumni/zh.md
  wiki/Staff_Log/2021/en.md
Labels: type:update, size/L, area:community

#6154 Rewrite the `Contribution guide`. Improve `Best practices` (ex-`Common Issues`)
  wiki/osu!_wiki/Contribution_guide/Best_practices/en.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/es.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/fr.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/id.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/img/github-actions-workflow-dialog.png
  wiki/osu!_wiki/Contribution_guide/Best_practices/img/github-actions-workflow-overview.png
  wiki/osu!_wiki/Contribution_guide/Best_practices/img/update-branch.png
  wiki/osu!_wiki/Contribution_guide/Best_practices/ko.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/ru.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/uk.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/vi.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/zh.md
  wiki/osu!_wiki/Contribution_guide/Common_Issues/en.md
  wiki/osu!_wiki/Contribution_guide/Common_Issues/img/select-branch.png
  wiki/osu!_wiki/Contribution_guide/Common_Issues/img/update-branch.png
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/en.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/es.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/id.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/ru.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/uk.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/vi.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Web_Interface/en.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Web_Interface/es.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Web_Interface/id.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Web_Interface/ru.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Web_Interface/uk.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Web_Interface/vi.md
  wiki/osu!_wiki/Contribution_guide/en.md
  wiki/osu!_wiki/Contribution_guide/es.md
  wiki/osu!_wiki/Contribution_guide/fr.md
  wiki/osu!_wiki/Contribution_guide/id.md
  wiki/osu!_wiki/Contribution_guide/ja.md
  wiki/osu!_wiki/Contribution_guide/ko.md
  wiki/osu!_wiki/Contribution_guide/ru.md
  wiki/osu!_wiki/Contribution_guide/tr.md
  wiki/osu!_wiki/Contribution_guide/uk.md
  wiki/osu!_wiki/Contribution_guide/vi.md
  wiki/osu!_wiki/Contribution_guide/zh-tw.md
  wiki/osu!_wiki/Contribution_guide/zh.md
  wiki/redirect.yaml
Labels: type:rewrite, type:update, size/L, area:community

#6189 Outdate translations of the `Mapping and modding timeline`
  wiki/Mapping_and_Modding_Timeline/fr.md
  wiki/Mapping_and_Modding_Timeline/id.md
Labels: type:clean up, size/S

#6140 [FR] Update `Guides/Cropping with Complex Backgrounds`, `Cropping with Simple Backgrounds`, `Custom Hitsound Library`, `Custom Sample Overrides`, `Discord Rich Presence`
  wiki/Guides/Cropping_with_Complex_Backgrounds/fr.md
  wiki/Guides/Cropping_with_Simple_Backgrounds/fr.md
  wiki/Guides/Custom_Hitsound_Library/fr.md
  wiki/Guides/Custom_Sample_Overrides/fr.md
  wiki/Guides/Discord_Rich_Presence/fr.md
Labels: area:translations, type:update, size/L

#6190 [ID] Cleanup/Rewrite `Beatmap_Ranking_Procedure/Ranking_Queue`
  wiki/Beatmap_ranking_procedure/Ranking_queue/id.md
Labels: size/S

#6184 [ID] Update `Rules/Explicit_Content`
  wiki/Rules/Explicit_Content/en.md
  wiki/Rules/Explicit_Content/id.md
Labels: area:translations, type:update, size/S

#6121 [FR] Update `Article styling criteria/Formatting`
  wiki/Article_styling_criteria/Formatting/fr.md
Labels: area:translations, type:update, size/S

#6145 [BG] Add `Reporting Abuse`, `Twitter`
  wiki/Reporting_Bad_Behaviour/Abuse/bg.md
  wiki/Twitter/bg.md
Labels: area:translations, type:new article, size/L, stale merge

#6192 Add `New Featured Artist: HARDCORE UTOPIA` news post
  news/2021-10-06-new-featured-artist-hardcore-utopia.md
Labels: size/M

#6193 Update `OWC 2021` with more teams
  wiki/Tournaments/OWC/2021/en.md
Labels: type:update, area:tournaments, size/S

#6295 Fixed incorrect year in "Featured artist showcase beatmaps"
  wiki/Featured_Artists/Featured_Artist_Showcase_Beatmaps/en.md
Labels: size/S

#6288 Add AGTS 2021 tournament article
  wiki/Tournaments/GTS/AGTS_2021/en.md
  wiki/Tournaments/GTS/AGTS_2021/img/badge.jpg
  wiki/Tournaments/GTS/AGTS_2021/img/logo.jpg
  wiki/Tournaments/GTS/en.md
  wiki/Tournaments/GTS/fr.md
  wiki/Tournaments/GTS/id.md
  wiki/Tournaments/GTS/ja.md
  wiki/Tournaments/en.md
Labels: type:new article, area:tournaments, size/XL

#6296 Add `New Featured Artist: garlagan` news post
  news/2021-10-30-new-featured-artist-garlagan.md
  wiki/shared/news/2021-10-30-new-featured-artist-garlagan/track-search.png
Labels: area:news, size/M

#6300 Fix Going Back link on latest FA
  news/2021-10-30-new-featured-artist-garlagan.md
Labels: size/XS

#6297 Update to reflect changes in timezones due to summer time ending
  wiki/Tournaments/OWC/2021/en.md
Labels: size/S

#6244 Add osu! Community Meeting article + link from main page
  wiki/Main_Page/bg.md
  wiki/Main_Page/en.md
  wiki/Main_Page/fr.md
  wiki/Main_Page/id.md
  wiki/Main_Page/it.md
  wiki/Main_Page/ru.md
  wiki/osu!_Community_Meetings/en.md
Labels: type:new article, size/M, area:community

#6294 [ID] Update `Featured artist showcase beatmaps`
  wiki/Featured_Artists/Featured_Artist_Showcase_Beatmaps/id.md
Labels: area:translations, type:update, size/M

#6293 [ID] Update `Mappers' Guild`
  wiki/Mappers_Guild/id.md
Labels: area:translations, type:update, size/M

#6304 Remove dummy note from `osu! community meetings`
  wiki/osu!_Community_Meetings/en.md
Labels: type:clean up, size/XS, area:community

#6237 Add the pull request template
  .github/pull_request_template.md
  .remarkignore
Labels: area:utilities, size/S

#6306 Add VOD/meeting notes for today's community meeting
  wiki/osu!_Community_Meetings/en.md
Labels: type:update, size/XS, area:community

#6305 Improve tags for game mod articles
  wiki/Game_modifier/Double_Time/en.md
  wiki/Game_modifier/Double_Time/fr.md
  wiki/Game_modifier/Double_Time/id.md
  wiki/Game_modifier/Double_Time/ko.md
  wiki/Game_modifier/Half_Time/en.md
  wiki/Game_modifier/Half_Time/fr.md
  wiki/Game_modifier/Half_Time/id.md
  wiki/Game_modifier/Hard_Rock/en.md
  wiki/Game_modifier/Hard_Rock/fr.md
  wiki/Game_modifier/Hard_Rock/id.md
  wiki/Game_modifier/No_Fail/en.md
  wiki/Game_modifier/No_Fail/fr.md
  wiki/Game_modifier/No_Fail/id.md
  wiki/Game_modifier/No_Fail/ko.md
  wiki/Game_modifier/No_Fail/zh-tw.md
Labels: type:clean up, size/M, area:gameplay

#6177 [ID] Update `Game_mode`
  wiki/Game_mode/en.md
  wiki/Game_mode/id.md
  wiki/Mascots/fr.md
  wiki/Mascots/id.md
  wiki/Mascots/pt-br.md
  wiki/Mascots/tr.md
Labels: area:translations, type:update, size/M

#6229 [JA] Add 'Code of conduct for modding and mapping'
  wiki/Rules/Code_of_Conduct_for_Modding_and_Mapping/ja.md
Labels: area:translations, type:new article, size/M, area:community

#6226 [BG] Improvement of `Main_Page`
  wiki/Main_Page/bg.md
Labels: area:translations, type:update, size/M

#6310 Update `OWC 2021` for Quarterfinals
  wiki/Tournaments/OWC/2021/en.md
Labels: size/L
