Repository ppy/osu-wiki, pull requests merged in 2021-04, with the labels that each got.

#5152 Add Project Loved: March 2021 news post
  news/2021-04-01-project-loved-march-2021.md
  wiki/shared/news/2021-03-31-project-loved-march-2021/1024370.jpg
  wiki/shared/news/2021-03-31-project-loved-march-2021/1043915.jpg
  wiki/shared/news/2021-03-31-project-loved-march-2021/1055051.jpg
  wiki/shared/news/2021-03-31-project-loved-march-2021/1080535.jpg
  wiki/shared/news/2021-03-31-project-loved-march-2021/1190543.jpg
  wiki/shared/news/2021-03-31-project-loved-march-2021/1227210.jpg
  wiki/shared/news/2021-03-31-project-loved-march-2021/1291019.jpg
  wiki/shared/news/2021-03-31-project-loved-march-2021/1315615.jpg
  wiki/shared/news/2021-03-31-project-loved-march-2021/206487.jpg
  wiki/shared/news/2021-03-31-project-loved-march-2021/344771.jpg
  wiki/shared/news/2021-03-31-project-loved-march-2021/352950.jpg
  wiki/shared/news/2021-03-31-project-loved-march-2021/367425.jpg
  wiki/shared/news/2021-03-31-project-loved-march-2021/481273.jpg
  wiki/shared/news/2021-03-31-project-loved-march-2021/586935.jpg
  wiki/shared/news/2021-03-31-project-loved-march-2021/622897.jpg
  wiki/shared/news/2021-03-31-project-loved-march-2021/624087.jpg
  wiki/shared/news/2021-03-31-project-loved-march-2021/663472.jpg
  wiki/shared/news/2021-03-31-project-loved-march-2021/729137.jpg
  wiki/shared/news/2021-03-31-project-loved-march-2021/740853.jpg
  wiki/shared/news/2021-03-31-project-loved-march-2021/797466.jpg
  wiki/shared/news/2021-03-31-project-loved-march-2021/820985.jpg
  wiki/shared/news/2021-03-31-project-loved-march-2021/892422.jpg
  wiki/shared/news/2021-03-31-project-loved-march-2021/940607.jpg
  wiki/shared/news/2021-03-31-project-loved-march-2021/954880.jpg
Labels: area:news, type:new article

#5160 Fix links in [EN] Beatmapping
  wiki/Beatmapping/en.md
Labels: size/XS

#5161 TWC2021 Finals Reschedules
  wiki/Tournaments/TWC/2021/en.md
Labels: area:tournaments, size/S, type:update

#5100 [ID] Add Game Modifier
  wiki/Game_modifier/id.md
  wiki/Game_modifier/img/mod-selection-screen-ID.jpg
Labels: area:translations, size/L, type:new article

#5112 Add the names of "2020: Community Contributors" to the list of Users with unique titles
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/fr.md
  wiki/People/Users_with_unique_titles/id.md
  wiki/People/Users_with_unique_titles/pl.md
  wiki/People/Users_with_unique_titles/pt-br.md
  wiki/People/Users_with_unique_titles/th.md
  wiki/People/Users_with_unique_titles/tr.md
  wiki/People/Users_with_unique_titles/zh.md
Labels: area:community, size/L, type:update

#5164 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2021/en.md
Labels: size/L

#5165 CWC2021 Registration news article and Wiki page
  news/2021-04-02-cwc-2021-registrations-open.md
  wiki/Tournaments/CWC/2021/en.md
  wiki/shared/news/banners/CWC2021.jpg
  wiki/shared/news/banners/CWC2021@2x.jpg
Labels: area:news, area:tournaments, type:new article

#5162 [ID] Add "Ouendan"
  wiki/Ouendan/id.md
Labels: area:translations, size/S, type:new article

#5144 [TH] Add "Abandoned wasteland" and "upppy"
  wiki/Abandoned_wasteland/th.md
  wiki/upppy/th.md
Labels: area:translations, size/S, type:new article

#5088 [TH] Update "Do you really want to ask peppy?"
  wiki/Do_you_really_want_to_ask_peppy/th.md
Labels: area:translations, size/S, type:update

#5087 [TH] Update "Nomination Assessment Team"
  wiki/People/The_Team/Nomination_Assessment_Team/th.md
Labels: area:translations, size/S, type:update

#5169 Add Aethoro FA news post
  news/2021-04-03-new-featured-artist-aethoro.md
Labels: size/M

#5171 Remove BaAR_Vendel from Users with unique titles
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/fr.md
  wiki/People/Users_with_unique_titles/id.md
  wiki/People/Users_with_unique_titles/pl.md
  wiki/People/Users_with_unique_titles/pt-br.md
  wiki/People/Users_with_unique_titles/th.md
  wiki/People/Users_with_unique_titles/tr.md
  wiki/People/Users_with_unique_titles/zh.md
Labels: area:community, size/S, type:update

#5119 [ID] Add "Performance points"
  wiki/Performance_points/id.md
Labels: area:translations, size/L, type:new article

#5185 Conclude PERAK osu! Tournament
  wiki/Tournaments/POT/1/en.md
Labels: area:tournaments, size/M, type:update

#5154 [ID] Add "Game mode"
  wiki/Game_mode/id.md
Labels: area:translations, size/M, type:new article

#5167 [ID] Add "User title"
  wiki/User_title/id.md
Labels: area:translations, size/M, type:new article

#4951 Create April Fools' day article
  wiki/History_of_osu!/April_Fools/en.md
  wiki/History_of_osu!/April_Fools/img/2010-touhosu-main-screen.jpg
  wiki/History_of_osu!/April_Fools/img/2010-touhosu-website.jpg
  wiki/History_of_osu!/April_Fools/img/2012-flashlight.gif
  wiki/History_of_osu!/April_Fools/img/2012-hidden.gif
  wiki/History_of_osu!/April_Fools/img/2013-regular-banchobot.jpg
  wiki/History_of_osu!/April_Fools/img/2013-tsundere-banchobot.jpg
  wiki/History_of_osu!/April_Fools/img/2014-main-screen-doge.jpg
  wiki/History_of_osu!/April_Fools/img/2015-osucoins.png
  wiki/History_of_osu!/en.md
Labels: area:community, type:new article

#5197 Remove unavailable external links in "Contests"
  wiki/Contests/en.md
Labels: area:community, size/XS, type:update

#5198 Update CGTS 2021 to Global's Finals
  wiki/Tournaments/GTS/CGTS_2021/en.md
Labels: area:tournaments, size/M, type:update

#5163 [ID] Add "TAG"
  wiki/Beatmap/TAG/id.md
Labels: area:translations, size/S, type:new article

#5172 [ZH-TW] Update Main Page
  wiki/Main_Page/zh-tw.md
Labels: area:translations, size/M, type:update

#5174 [ZH-TW] Add "TAG"
  wiki/Beatmap/TAG/zh-tw.md
Labels: area:translations, size/S, type:new article

#5205 Update 3WC 2021 to Round of 16
  wiki/Tournaments/3WC/2021/en.md
Labels: size/M

#5209 Add old site's forum ranks to User titles wiki article
  wiki/User_title/en.md
  wiki/User_title/id.md
  wiki/User_title/zh.md
Labels: size/M

#5099 [ID] Update Becoming a Beatmap Nominator
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/id.md
Labels: area:translations, size/M, type:update

#5210 Remove bold from table headers in Becoming a Beatmap Nominator
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/en.md
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/id.md
Labels: size/XS, type:clean up

#5201 Add Mappers' Report: March news post
  news/2021-04-06-mappers-report-march.md
Labels: area:news, size/L

#5219 Add Boxplot FA news post
  news/2021-04-07-new-featured-artist-boxplot.md
Labels: area:news, size/M

#5223 Remove song restrictions from qualification BN rules
  wiki/People/The_Team/Beatmap_Nominators/Rules/en.md
  wiki/People/The_Team/Beatmap_Nominators/Rules/id.md
  wiki/People/The_Team/Beatmap_Nominators/Rules/tr.md
Labels: area:community, area:ranking criteria, rule change, size/XS, type:update

#5080 Add TKBC2 article
  wiki/Contests/TKBC/2/en.md
  wiki/Contests/TKBC/2/img/logo.png
  wiki/Contests/TKBC/2/ko.md
  wiki/Contests/TKBC/en.md
Labels: area:community, type:new article

#5226 [EN] Update link to ppv2 in ppv1's article
  wiki/Performance_points/ppv1/en.md
Labels: size/XS

#5222 Rewrite "Beatmap packs 0916" as "Legacy Beatmap Packs"
  wiki/Medals/Legacy_Beatmap_Packs/en.md
  wiki/Medals/Legacy_Beatmap_Packs/fr.md
  wiki/Medals/Legacy_Beatmap_Packs/pt-br.md
  wiki/Medals/Legacy_Beatmap_Packs/ru.md
  wiki/Medals/pl.md
  wiki/Medals/pt-br.md
  wiki/Medals/zh.md
  wiki/redirect.yaml
Labels: size/L

#5232 Update BN/GMT listing & Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Global_Moderation_Team/es.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/Global_Moderation_Team/pl.md
  wiki/People/The_Team/Global_Moderation_Team/pt-br.md
  wiki/People/The_Team/Global_Moderation_Team/ru.md
  wiki/People/The_Team/Global_Moderation_Team/th.md
  wiki/People/The_Team/Global_Moderation_Team/tr.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
  wiki/Staff_Log/2021/en.md
Labels: size/L, type:update

#5228 Update ppv2 link in [ZH] ppv1
  wiki/Performance_points/ppv1/zh.md
Labels: size/XS, type:clean up

#5221 [ID] Add "Rules/Explicit content" and an example screenshot
  wiki/Rules/Explicit_Content/en.md
  wiki/Rules/Explicit_Content/id.md
  wiki/Rules/Explicit_Content/img/explicit-tag.jpg
Labels: area:translations, type:new article

#5200 [ID] Add "osu! File Formats/{osb,osk,osz}"
  wiki/osu!_File_Formats/Osb_(file_format)/id.md
  wiki/osu!_File_Formats/Osk_(file_format)/id.md
  wiki/osu!_File_Formats/Osz_(file_format)/id.md
Labels: area:translations, size/XS, type:new article

#5151 [TH] Add osu!tourney articles (multiplayer, setup, skinning, spectating, commands)
  wiki/osu!tourney/Multiplayer_Usage/th.md
  wiki/osu!tourney/Setup/th.md
  wiki/osu!tourney/Skinning/th.md
  wiki/osu!tourney/Spectator_Usage/th.md
  wiki/osu!tourney/Tournament_Management_Commands/th.md
  wiki/osu!tourney/th.md
Labels: area:translations, size/L, type:new article

#5233 TWC2021 Grandfinals update
  wiki/Tournaments/TWC/2021/en.md
Labels: area:tournaments, size/M, type:update

#5240 Add YUZUKINGDOM FA news post
  news/2021-04-10-new-featured-artist-yuzukingdom.md
Labels: area:news, size/M

#5187 [FR] Katu
  wiki/Katu/fr.md
Labels: area:translations, size/S, state:needs native review, type:new article

#5241 Minor fixes to grid snapping article
  wiki/Grid_snapping/en.md
Labels: size/XS, type:update

#5237 Update BN listing
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
Labels: size/S

#5244 Fix Ikutoshitsuki link in March Project Loved news post
  news/2021-04-01-project-loved-march-2021.md
Labels: area:news, size/XS, type:clean up

#5239 Add CI check to make sure links without hostname start with `/wiki/`
  package-lock.json
  wiki/Gameplay/Drain_time/id.md
  wiki/Gameplay/Mind_block/en.md
  wiki/Gameplay/Mind_block/id.md
  wiki/History_of_osu!/2008/en.md
  wiki/People/Community_Contributors/es.md
  wiki/People/The_Team/Beatmap_Nominators/Beatmap_Nominator_Test/en.md
  wiki/People/The_Team/Beatmap_Nominators/Beatmap_Nominator_Test/id.md
Labels: area:utilities, size/S, type:update

#5235 Add osu! Beatmapping World Championship 2021 Judge Applications newspost and wiki article
  news/2021-04-11-osu-beatmapping-world-championship-2021-call-for-judges.md
  wiki/Contests/oBWC/3/en.md
  wiki/Contests/oBWC/3/img/banner.png
  wiki/shared/news/banners/obwc2021.png
Labels: area:news

#5215 [EN] Add MCNC2021 wiki page
  wiki/Tournaments/MCNC/2021/en.md
  wiki/Tournaments/MCNC/2021/img/logo.jpg
  wiki/Tournaments/MCNC/en.md
Labels: area:tournaments, type:new article

#5247 Remove Xinely from Users with unique titles
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/fr.md
  wiki/People/Users_with_unique_titles/id.md
  wiki/People/Users_with_unique_titles/pl.md
  wiki/People/Users_with_unique_titles/pt-br.md
  wiki/People/Users_with_unique_titles/th.md
  wiki/People/Users_with_unique_titles/tr.md
  wiki/People/Users_with_unique_titles/zh.md
Labels: area:community, size/S, type:update

#5253 Add CWC 2021 link to CWC index page
  wiki/Tournaments/CWC/en.md
Labels: area:tournaments, size/XS, type:update

#5254 Conclude BTT6
  wiki/Tournaments/BTT/6/en.md
  wiki/Tournaments/BTT/6/img/badge.jpg
  wiki/Tournaments/BTT/6/img/podium.jpg
  wiki/Tournaments/en.md
Labels: area:tournaments, type:update

#5251 Update Universal_Offset Stub
  wiki/Universal_offset/en.md
Labels: area:client, size/S, type:update

#5256 Update formatting and grammar Universal offset
  wiki/Universal_offset/en.md
Labels: area:beatmapping, size/XS, type:update

#5258 Add fiend FA news post
  news/2021-04-14-new-featured-artist-fiend.md
Labels: area:news, size/M

#5246 Rewrite all instances of "osu!standard" as "osu!" in the Article Styling Criteria
  wiki/Article_styling_criteria/Writing/en.md
  wiki/Article_styling_criteria/Writing/es.md
  wiki/Article_styling_criteria/Writing/ru.md
Labels: size/S, type:update

#5252 Update 3WC 2021 to Quarterfinals
  wiki/Tournaments/3WC/2021/en.md
Labels: area:tournaments, size/M, type:update

#5259 Add NSATT 2019 tournament article
  wiki/Tournaments/NSATT/2019/en.md
  wiki/Tournaments/NSATT/2019/img/badge.jpg
  wiki/Tournaments/NSATT/2019/img/logo.jpg
  wiki/Tournaments/NSATT/en.md
  wiki/Tournaments/en.md
Labels: area:tournaments, size/L, type:new article

#5079 [PT-BR] Update Beatmap
  wiki/Beatmap/pt-br.md
Labels: area:translations, size/L, type:update

#5245 Add "Featured artist showcase beatmaps" wiki article
  wiki/Featured_Artists/Featured_Artist_Showcase_Beatmaps/en.md
Labels: area:community, size/L, type:new article

#5204 [ID] Add "Rules/Content voting process"
  wiki/Rules/Content_Voting_Process/id.md
Labels: area:translations, size/M, type:new article

#5264 Fix metadata in the PP article
  wiki/Performance_points/Total_performance_points/en.md
Labels: size/XS

#5133 [TH] Add "Performance points/ppv2"
  wiki/Performance_points/ppv2/th.md
Labels: area:translations, size/XS, type:new article

#5242 [ID] Add "Full combo", "Combo multiple effect", "Slidertails"
  wiki/Full_combo/id.md
  wiki/Glossary/Combo_multiplier_effect/id.md
  wiki/Hit_object/Slidertail/id.md
Labels: area:translations, size/M, type:new article

#5263 Allow deletion for accounts outside of EU
  wiki/Legal/Privacy/en.md
  wiki/Legal/Privacy/fr.md
  wiki/Legal/Privacy/id.md
Labels: area:legal, size/XS, type:update

#5262 Add NATT 2018 tournament article
  wiki/Tournaments/NSATT/NATT_2018/en.md
  wiki/Tournaments/NSATT/NATT_2018/img/badge.jpg
  wiki/Tournaments/NSATT/NATT_2018/img/logo.jpg
  wiki/Tournaments/NSATT/NSATT_2019/en.md
  wiki/Tournaments/NSATT/NSATT_2019/img/badge.jpg
  wiki/Tournaments/NSATT/NSATT_2019/img/logo.jpg
  wiki/Tournaments/NSATT/en.md
  wiki/Tournaments/en.md
Labels: area:tournaments, size/L, type:new article, type:update

#5265 [ID] "Combo multiplier effect" fix unused word and link
  wiki/Glossary/Combo_multiplier_effect/id.md
Labels: area:translations, size/XS, type:clean up

#5085 [PT-BR] Disambiguation
  wiki/Disambiguation/Combo/pt-br.md
  wiki/Disambiguation/EZ/pt-br.md
  wiki/Disambiguation/Easy/pt-br.md
  wiki/Disambiguation/Fail/pt-br.md
  wiki/Disambiguation/Mod/pt-br.md
  wiki/Disambiguation/NC/pt-br.md
  wiki/Disambiguation/NM/pt-br.md
  wiki/Disambiguation/Offset/pt-br.md
  wiki/Disambiguation/Rank/pt-br.md
  wiki/Disambiguation/pt-br.md
Labels: area:translations, size/M, state:needs native review, type:new article, type:update

#5267 Log Project Loved Team group changes
  wiki/Staff_Log/2021/en.md
Labels: area:community, size/S, type:update

#5268 fix typo on "Featured Artists/Featured Artist Showcase Beatmaps"
  wiki/Featured_Artists/Featured_Artist_Showcase_Beatmaps/en.md
Labels: size/XS

#5269 Add 2ToneDisco FA news post
  news/2021-04-17-new-featured-artist-2tonedisco.md
  wiki/Featured_Artists/Featured_Artist_Showcase_Beatmaps/en.md
Labels: size/M

#5266 Add TWC2021 to the listings
  wiki/Tournaments/TWC/en.md
  wiki/Tournaments/TWC/fr.md
  wiki/Tournaments/TWC/id.md
  wiki/Tournaments/TWC/ru.md
  wiki/Tournaments/en.md
Labels: area:tournaments, size/XS, state:needs rebase, type:update

#5270 Update BN/NAT/ALM listing and Staff Log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/es.md
  wiki/People/The_Team/Nomination_Assessment_Team/id.md
  wiki/People/The_Team/Nomination_Assessment_Team/pt-br.md
  wiki/People/The_Team/Nomination_Assessment_Team/ru.md
  wiki/People/The_Team/Nomination_Assessment_Team/th.md
  wiki/People/The_Team/Nomination_Assessment_Team/tr.md
  wiki/People/The_Team/Nomination_Assessment_Team/zh.md
  wiki/People/The_Team/osu!_Alumni/en.md
  wiki/People/The_Team/osu!_Alumni/es.md
  wiki/People/The_Team/osu!_Alumni/id.md
  wiki/People/The_Team/osu!_Alumni/pl.md
  wiki/People/The_Team/osu!_Alumni/pt-br.md
  wiki/People/The_Team/osu!_Alumni/ru.md
  wiki/People/The_Team/osu!_Alumni/tr.md
  wiki/People/The_Team/osu!_Alumni/zh.md
  wiki/Staff_Log/2021/en.md
Labels: area:community, size/L, type:update

#5250 Rework the Offset_Wizard article
  wiki/Options/Offset_Wizard/en.md
Labels: area:client, size/M, type:rewrite

#5271 CWC2021 Preliminary teams
  wiki/Tournaments/CWC/2021/en.md
Labels: area:tournaments, size/M, type:update

#5276 Update osu!team/GMT/BN/ALM listing & Staff Log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/fr.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/ko.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Global_Moderation_Team/es.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/Global_Moderation_Team/pl.md
  wiki/People/The_Team/Global_Moderation_Team/pt-br.md
  wiki/People/The_Team/Global_Moderation_Team/ru.md
  wiki/People/The_Team/Global_Moderation_Team/th.md
  wiki/People/The_Team/Global_Moderation_Team/tr.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
  wiki/People/The_Team/en.md
  wiki/People/The_Team/osu!_Alumni/en.md
  wiki/People/The_Team/osu!_Alumni/es.md
  wiki/People/The_Team/osu!_Alumni/id.md
  wiki/People/The_Team/osu!_Alumni/pl.md
  wiki/People/The_Team/osu!_Alumni/pt-br.md
  wiki/People/The_Team/osu!_Alumni/ru.md
  wiki/People/The_Team/osu!_Alumni/tr.md
  wiki/People/The_Team/osu!_Alumni/zh.md
  wiki/Staff_Log/2021/en.md
Labels: size/L

#5277 [TR] Update and rework The Team, [ID/RU/ZH] Update The Team
  wiki/People/The_Team/id.md
  wiki/People/The_Team/ru.md
  wiki/People/The_Team/tr.md
  wiki/People/The_Team/zh.md
Labels: area:community, area:translations, size/M, type:update

#5257 [ID] Add "Hidden" and "Double-time"
  wiki/Game_modifier/Double_Time/id.md
  wiki/Game_modifier/Hidden/id.md
Labels: area:translations, size/L, type:new article

#5249 Rework the How_to_Use_the_Offset_Wizard guide
  wiki/Guides/How_to_Use_the_Offset_Wizard/en.md
Labels: area:client, size/S, type:rewrite

#5203 [ID] Add "Beat" & "Music_theory/Beat"
  wiki/Beat/id.md
  wiki/Music_theory/Beat/id.md
Labels: area:translations, size/S, type:new article

#5274 Add Project Loved: April 2021 News Post
  news/2021-04-20-project-loved-april-2021.md
  wiki/shared/news/2021-04-20-project-loved-april-2021/1026767.jpg
  wiki/shared/news/2021-04-20-project-loved-april-2021/1055371.jpg
  wiki/shared/news/2021-04-20-project-loved-april-2021/1082737.jpg
  wiki/shared/news/2021-04-20-project-loved-april-2021/1126647.jpg
  wiki/shared/news/2021-04-20-project-loved-april-2021/1135854.jpg
  wiki/shared/news/2021-04-20-project-loved-april-2021/116778.jpg
  wiki/shared/news/2021-04-20-project-loved-april-2021/1171250.jpg
  wiki/shared/news/2021-04-20-project-loved-april-2021/1222320.jpg
  wiki/shared/news/2021-04-20-project-loved-april-2021/1414510.jpg
  wiki/shared/news/2021-04-20-project-loved-april-2021/154137.jpg
  wiki/shared/news/2021-04-20-project-loved-april-2021/204468.jpg
  wiki/shared/news/2021-04-20-project-loved-april-2021/304074.jpg
  wiki/shared/news/2021-04-20-project-loved-april-2021/454685.jpg
  wiki/shared/news/2021-04-20-project-loved-april-2021/486424.jpg
  wiki/shared/news/2021-04-20-project-loved-april-2021/519505.jpg
  wiki/shared/news/2021-04-20-project-loved-april-2021/53813.jpg
  wiki/shared/news/2021-04-20-project-loved-april-2021/581468.jpg
  wiki/shared/news/2021-04-20-project-loved-april-2021/647615.jpg
  wiki/shared/news/2021-04-20-project-loved-april-2021/65476.jpg
  wiki/shared/news/2021-04-20-project-loved-april-2021/800341.jpg
  wiki/shared/news/2021-04-20-project-loved-april-2021/883114.jpg
  wiki/shared/news/2021-04-20-project-loved-april-2021/895846.jpg
  wiki/shared/news/2021-04-20-project-loved-april-2021/898099.jpg
  wiki/shared/news/2021-04-20-project-loved-april-2021/967318.jpg
Labels: area:news, type:new article

#4242 [EN/ID] Rewrite "Geki" and "Katu"
  wiki/Geki/en.md
  wiki/Geki/id.md
  wiki/Geki/img/eba-bornlove-300g.jpg
  wiki/Geki/img/osu-lonelest-300g.jpg
  wiki/Geki/img/oto-sambomaster-300g.jpg
  wiki/Katu/en.md
  wiki/Katu/id.md
  wiki/Katu/img/eba-without-100k.jpg
  wiki/Katu/img/osu-cutepnth-100k.jpg
  wiki/Katu/img/osu-stardisc-300k.jpg
  wiki/Katu/img/oto-countdwn-300k.jpg
Labels: area:gameplay, area:translations, type:new article, type:update

#5286 Update the FA showcase article
  wiki/Featured_Artists/Featured_Artist_Showcase_Beatmaps/en.md
Labels: size/XS, type:clean up

#5288 Relay o!BWC2021 judging criteria changes to the newspost
  news/2021-04-11-osu-beatmapping-world-championship-2021-call-for-judges.md
Labels: size/XS

#5291 [ID] Fix wording in "Geki" and "Katu"
  wiki/Geki/id.md
  wiki/Katu/id.md
Labels: area:translations, size/S, type:update

#5289 Update 3WC 2021 to Semifinals
  wiki/Tournaments/3WC/2021/en.md
Labels: area:tournaments, size/M, type:update

#5292 Add Vektor FA news post
  news/2021-04-21-new-featured-artist-vektor.md
Labels: area:news, size/M

#5273 [RU] Add "Beatmap/Genre & Language"
  wiki/Beatmap/Genre_and_language/ru.md
Labels: area:translations, area:website, size/M, type:new article

#5293 Update Project Loved Team
  wiki/People/The_Team/Project_Loved_Team/en.md
  wiki/People/The_Team/Project_Loved_Team/id.md
  wiki/People/The_Team/Project_Loved_Team/tr.md
Labels: area:community, size/L, type:update

#5294 112CT2020: Reflect the name change
  wiki/Tournaments/112/Corona_2020/en.md
Labels: area:tournaments, size/XS, type:clean up

#5238 Clean up the Help Centre
  wiki/Help_Centre/en.md
  wiki/Help_Centre/img/beatmapdiffdisp.png
  wiki/Help_Centre/img/mapstatusgood.png
Labels: size/L, type:clean up

#5296 [TR] Update "Project Loved Team"
  wiki/People/The_Team/Project_Loved_Team/tr.md
Labels: area:community, size/L, type:update

#5300 [TR] Update "Modding"
  wiki/Modding/tr.md
Labels: area:translations, size/XS

#5299 [TR] Update "BanchoBot"
  wiki/BanchoBot/tr.md
Labels: area:translations, size/XS

#5298 [TR] Update and revise "Community Contributors"
  wiki/People/Community_Contributors/tr.md
Labels: area:community, area:translations, size/M, type:update

#5297 [TR] Update BN Expectations & General Information
  wiki/People/The_Team/Beatmap_Nominators/Expectations/tr.md
  wiki/People/The_Team/Beatmap_Nominators/General_Information/tr.md
Labels: area:translations, size/M, type:update

#5278 Add Ausu!Taiko Tournament 2021 tournament article
  wiki/Tournaments/ATT/2021/en.md
  wiki/Tournaments/ATT/2021/img/logo.jpg
  wiki/Tournaments/ATT/en.md
Labels: area:tournaments, type:new article

#5302 Add missing escape characters in Project Loved Team wiki article
  wiki/People/The_Team/Project_Loved_Team/en.md
  wiki/People/The_Team/Project_Loved_Team/tr.md
Labels: size/XS

#5305 Refresh privacy policy's last change date
  wiki/Legal/Privacy/en.md
Labels: area:legal, size/XS, type:update

#5304 Add Spring 2021 Fanart Contest newspost
  news/2021-04-23-spring-2021-fanart-contest.md
Labels: area:news, size/M

#5307 Add March MBC results news post
  news/2021-04-23-results-monthly-beatmapping-contest-march-2021.md
  wiki/Contests/Monthly_Beatmapping_Contest/en.md
Labels: size/L

#5308 Apply grammatical fixes and markdown escaping to MBC March 2021 newspost
  news/2021-04-23-results-monthly-beatmapping-contest-march-2021.md
Labels: size/S

#5309 Update "Users with unique titles" listing
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/fr.md
  wiki/People/Users_with_unique_titles/id.md
  wiki/People/Users_with_unique_titles/pl.md
  wiki/People/Users_with_unique_titles/pt-br.md
  wiki/People/Users_with_unique_titles/th.md
  wiki/People/Users_with_unique_titles/tr.md
  wiki/People/Users_with_unique_titles/zh.md
Labels: size/M

#5311 Add Grynpyret FA news post
  news/2021-04-24-new-featured-artist-grynpyret.md
Labels: size/M

#5310 Add Ausu!Taiko Tournament 2019 tournament article
  wiki/Tournaments/ATT/2019/en.md
  wiki/Tournaments/ATT/2019/img/badge.jpg
  wiki/Tournaments/ATT/2019/img/logo.jpg
  wiki/Tournaments/ATT/en.md
  wiki/Tournaments/en.md
Labels: area:tournaments, type:new article

#5314 Fix one finals match in ATT 2019
  wiki/Tournaments/ATT/2019/en.md
Labels: size/XS

#5282 [ZH-TW] Add .osk
  wiki/osu!_File_Formats/Osk_(file_format)/zh-tw.md
Labels: area:translations, size/XS, state:needs native review, type:new article

#5283 [ZH-TW] Add .osb
  wiki/osu!_File_Formats/Osb_(file_format)/zh-tw.md
Labels: area:translations, size/XS, state:needs native review, type:new article

#5284 [ZH-TW] Add Organisations
  wiki/Organisations/zh-tw.md
Labels: area:translations, size/XS, state:needs native review, type:new article

#5280 [ZH-TW] Add Beatmap Spotlights Seasons
  wiki/Beatmap_Spotlights/Seasons/zh-tw.md
Labels: area:translations, size/S, state:needs native review, type:new article

#5230 [ZH-TW] Add peppy
  wiki/People/peppy/zh-tw.md
Labels: area:translations, size/S, state:needs native review, type:new article

#5231 [ZH-TW] Add Legal
  wiki/Legal/zh-tw.md
Labels: area:translations, size/XS, state:needs native review, type:new article

#5227 [ZH] Change wording in User_title
  wiki/People/The_Team/Developers/zh.md
Labels: area:translations, size/XS, type:update

#5196 [ZH-TW] Add upppy
  wiki/upppy/zh-tw.md
Labels: area:translations, size/XS, state:needs native review, type:new article

#5173 [ZH-TW] Create People
  wiki/People/zh-tw.md
Labels: area:translations, size/XS, state:needs native review, type:new article

#4962 [ZH] Update Beatmapping
  wiki/Beatmapping/zh.md
Labels: area:translations, size/M, state:needs native review, type:update

#5281 [ZH-TW] Add .osz
  wiki/osu!_File_Formats/Osz_(file_format)/zh-tw.md
Labels: area:translations, size/XS, state:needs native review, type:new article

#5181 [ZH-TW] Add Graphics tablet
  wiki/Gameplay/Input_device/Graphics_tablet/zh-tw.md
Labels: area:translations, size/S, state:needs native review, type:new article

#5175 [ZH-TW] Add Beatmap description
  wiki/Beatmap/Beatmap_description/zh-tw.md
Labels: area:translations, size/S, state:needs native review, type:new article

#5322 Fix osu!taiko World Cup 2021 start end dates
  wiki/Tournaments/en.md
Labels: size/XS

#5323 CWC2021 Group Stage updates
  wiki/Tournaments/CWC/2021/en.md
Labels: area:tournaments, size/L, type:update

#5320 Update ATT 2021 to Round of 16
  wiki/Tournaments/ATT/2021/en.md
Labels: area:tournaments, size/L, type:update

#5213 [ID] Add Autopilot, Cinema, and Co-op mod articles
  wiki/Game_modifier/Autopilot/id.md
  wiki/Game_modifier/Cinema/id.md
  wiki/Game_modifier/Co-op/id.md
Labels: area:translations, size/L, type:new article

#5208 [FR] Play style stubs
  wiki/Play_style/Alternating/en.md
  wiki/Play_style/Alternating/fr.md
  wiki/Play_style/Double_tapping/fr.md
  wiki/Play_style/Drag/fr.md
  wiki/Play_style/Hover/en.md
  wiki/Play_style/Hover/fr.md
  wiki/Play_style/Hybrid/fr.md
  wiki/Play_style/Single-tapping/fr.md
  wiki/Play_style/Tapping_style/fr.md
  wiki/Play_style/Tapx/fr.md
Labels: area:translations, size/L, type:new article

#5117 [PL] Update osu!api
  wiki/osu!api/pl.md
Labels: area:translations, area:utilities, size/S, type:update

#5207 [FR] Performance points stubs
  wiki/Performance_points/Total_performance_points/fr.md
  wiki/Performance_points/Weighting_system/fr.md
  wiki/Performance_points/ppv2/fr.md
Labels: area:translations, size/M, type:new article

#5188 [FR] Mapping techniques stubs
  wiki/Mapping_Techniques/Blanket/fr.md
  wiki/Mapping_Techniques/Overlap/fr.md
  wiki/Mapping_Techniques/Stack/fr.md
  wiki/Mapping_Techniques/Time-distance_equality/fr.md
Labels: area:translations, size/M, state:needs native review, type:new article

#5189 [FR] Modding stubs
  wiki/Modding/BAT_Managers/fr.md
  wiki/Modding/Beatmap_Appreciation_Team/fr.md
  wiki/Modding/MAT_Leaders/fr.md
  wiki/Modding/Mod_for_mod/fr.md
  wiki/Modding/Mod_request/fr.md
  wiki/Modding/Modder/fr.md
  wiki/Modding/Normal_mod/fr.md
  wiki/Modding/Nuke/fr.md
  wiki/Modding/Proto-bubble/fr.md
  wiki/Modding/Star_priority/fr.md
Labels: area:translations, size/L, state:needs native review, type:new article

#5178 [FR] Graveyard
  wiki/Graveyard/fr.md
Labels: area:translations, size/S, state:needs native review, type:new article

#5170 [FR] Geki
  wiki/Geki/fr.md
Labels: area:translations, size/M, type:new article

#5143 [FR] Community Mentorship Program
  wiki/Community_Mentorship_Program/fr.md
Labels: area:translations, size/S, type:new article

#5186 [FR] Hit object stubs
  wiki/Hit_object/Approach_circle/fr.md
  wiki/Hit_object/Hit_circle/fr.md
  wiki/Hit_object/Juice_stream/fr.md
  wiki/Hit_object/Reverse_slider/fr.md
  wiki/Hit_object/Slider_anchor/fr.md
  wiki/Hit_object/Slider_velocity/fr.md
  wiki/Hit_object/Sliderbody/fr.md
  wiki/Hit_object/Sliderhead/fr.md
  wiki/Hit_object/Slidertail/fr.md
  wiki/Hit_object/Spinner/fr.md
Labels: area:translations, size/L, state:needs native review, type:new article

#5179 [FR] Grid Snapping
  wiki/Grid_snapping/fr.md
Labels: area:translations, size/S, type:new article

#5157 [FR] Skin
  wiki/Skin/fr.md
Labels: area:translations, size/S, type:new article

#5324 Prevent beatmap stealing in Ranking Criteria
  wiki/Ranking_Criteria/en.md
Labels: area:ranking criteria, size/XS, type:update

#5306 Make Boolean Matching Case-Insensitive For Manually-Triggered Actions
  .github/workflows/manual-sync.yml
  wiki/osu!_wiki_Contribution_Guide/Common_Issues/en.md
Labels: area:utilities, size/XS

#5331 Update 3WC 2021 to Finals
  wiki/Tournaments/3WC/2021/en.md
Labels: area:tournaments, size/M, type:update

#5295 [ID] Update "Project Loved Team"
  wiki/People/The_Team/Project_Loved_Team/id.md
Labels: area:translations, size/L, type:update

#5326 Add A Labour of Love results news post
  news/2021-04-27-results-a-labour-of-love.md
  wiki/Contests/A_Labour_of_Love_Contest/en.md
  wiki/shared/news/2021-04-27-results-a-labour-of-love/alol_communitypick2x.png
  wiki/shared/news/2021-04-27-results-a-labour-of-love/alol_overallrunnerup@2x.png
  wiki/shared/news/2021-04-27-results-a-labour-of-love/alol_overallwinner@2x.png
  wiki/shared/news/2021-04-27-results-a-labour-of-love/community_vote.png
  wiki/shared/news/2021-04-27-results-a-labour-of-love/overall.jpeg
  wiki/shared/news/2021-04-27-results-a-labour-of-love/runnerup.png
Labels: area:news

#5211 [ID] Add Auto and Easy (mod) articles
  wiki/Game_modifier/Auto/id.md
  wiki/Game_modifier/Easy/id.md
Labels: area:translations, size/L, type:new article

#5212 [ID] Add 10K, Fade In, and Fade Out (mod) articles
  wiki/Game_modifier/10K/id.md
  wiki/Game_modifier/Fade_In/id.md
  wiki/Game_modifier/Fade_Out/id.md
Labels: area:translations, size/L, type:new article

#5317 [ID] Add "Abandoned wasteland"
  wiki/Abandoned_wasteland/id.md
Labels: area:translations, size/S, type:new article

#5177 [FR] Grade
  wiki/Grade/fr.md
Labels: area:translations, size/S, state:needs native review, type:new article

#5333 Add Emiru no Aishita Tsukiyo ni Dai San Gensou Kyoku wo FA news post
  news/2021-04-28-new-featured-artist-emilles-moonlight-serenade.md
Labels: area:news, size/M

#5332 [ID] Update "Community Contributors"
  wiki/People/Community_Contributors/id.md
Labels: area:translations, size/S, type:update

#5325 Update "Users with unique titles" wiki article
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/fr.md
  wiki/People/Users_with_unique_titles/id.md
  wiki/People/Users_with_unique_titles/pl.md
  wiki/People/Users_with_unique_titles/pt-br.md
  wiki/People/Users_with_unique_titles/th.md
  wiki/People/Users_with_unique_titles/tr.md
  wiki/People/Users_with_unique_titles/zh.md
Labels: area:community, size/L, type:update

#5337 Update "Skinning Contest" wiki article
  wiki/Contests/Skinning_Contest/en.md
Labels: area:news, area:tournaments, size/M

#5340 CWC2021 Group Stage reschedules
  wiki/Tournaments/CWC/2021/en.md
Labels: area:tournaments, size/M, type:update

#5341 Fix mistyped username in Skinning Contest wiki article
  wiki/Contests/Skinning_Contest/en.md
Labels: size/XS

#5343 Conclude FL4T tournament
  wiki/Tournaments/FL4T/1/en.md
  wiki/Tournaments/FL4T/1/img/badge.jpg
  wiki/Tournaments/en.md
Labels: area:tournaments, size/M, type:update
