Repository ppy/osu-wiki, pull requests merged in 2021-09, with the labels that each got.

#6035 Update article styling criteria
  wiki/Article_styling_criteria/Formatting/en.md
Labels: type:clean up, size/XS

#6034 Minor cleanup for the news styling criteria
  wiki/News_Styling_Criteria/en.md
Labels: area:utilities, area:news, type:clean up, size/S

#6038 Add `New Featured Artist: Alkome` news post
  news/2021-09-01-new-featured-artist-alkome.md
Labels: area:news, size/M

#6026 Update `Silence`
  wiki/Silence/en.md
  wiki/Silence/fr.md
  wiki/Silence/id.md
  wiki/Silence/img/silence-ingame.png
  wiki/Silence/img/silence-profile.png
  wiki/Silence/pl.md
Labels: type:update, size/M

#6040 Fix infobox locations in `Silence`
  wiki/Silence/en.md
Labels: type:clean up, size/S

#6044 Add PP/SR survey results newspost
  news/2021-09-02-pp-sr-survey-results.md
Labels: area:news, size/S

#6045 Fix misspelling in `Song Content Rules`
  wiki/Rules/Song_Content_Rules/en.md
Labels: type:clean up, size/XS

#5917 [FR] Update `Community Contributors`, `People` and `Users with unique title`
  wiki/People/Community_Contributors/fr.md
  wiki/People/Users_with_unique_titles/fr.md
  wiki/People/fr.md
Labels: area:translations, type:update, size/L

#6046 Update `Touhou Mania Cap` tournament article
  wiki/Tournaments/TMC/1st/en.md
  wiki/Tournaments/TMC/1st/img/badge.png
Labels: type:update, area:tournaments, size/L

#6042 Add `UKCC2` tournament article
  wiki/Tournaments/UKCC/2/en.md
Labels: type:update, area:tournaments, size/XL

#6050 Update schedules for MWC 4K 2021
  wiki/Tournaments/MWC/2021_4K/en.md
Labels: type:update, area:tournaments, size/S

#6049 Mention new cutoff height for `scorebar-colour.png` in RC and `Interface`
  wiki/Ranking_Criteria/Skin_Set_List/en.md
  wiki/Ranking_Criteria/Skin_Set_List/zh.md
  wiki/Skinning/Interface/en.md
  wiki/Skinning/Interface/fr.md
Labels: type:update, size/S

#5983 [FR] Update `Main Page`
  wiki/Main_Page/fr.md
Labels: area:translations, type:update, size/M

#6052 Update outdated information on `Mappers' Guild`
  wiki/Mappers_Guild/en.md
  wiki/Mappers_Guild/fr.md
  wiki/Mappers_Guild/id.md
  wiki/Mappers_Guild/ko.md
  wiki/Mappers_Guild/tr.md
  wiki/Mappers_Guild/zh.md
Labels: type:update, size/S

#5975 [CS] Add `Help_Centre`
  wiki/Help_Centre/cs.md
Labels: area:translations, type:new article, size/M

#5925 [FR] Update `Performance points`
  wiki/Performance_points/fr.md
Labels: area:translations, type:update, size/L

#5994 [FR] Update `Contests`
  wiki/Contests/fr.md
Labels: area:translations, size/XL

#6053 Update schedules for `MWC 4K 2021`
  wiki/Tournaments/MWC/2021_4K/en.md
Labels: size/XS

#5991 [RU] Add `Rules`, `Expectations`, and `General information` for beatmap nominators; fix typo in `NAT`
  wiki/People/The_Team/Beatmap_Nominators/Expectations/ru.md
  wiki/People/The_Team/Beatmap_Nominators/General_Information/ru.md
  wiki/People/The_Team/Beatmap_Nominators/Rules/ru.md
  wiki/People/The_Team/Nomination_Assessment_Team/ru.md
Labels: area:translations, type:new article, type:clean up, size/L, area:community

#5996 [FR] Add `Contests/KCC/1`, `KCC`, `Aspire` and `A Labour of Love`, Update `Contests/FBC`
  wiki/Contests/A_Labour_of_Love_Contest/fr.md
  wiki/Contests/Aspire/fr.md
  wiki/Contests/FBC/fr.md
  wiki/Contests/KCC/1/fr.md
  wiki/Contests/KCC/fr.md
Labels: area:translations, type:new article, size/L

#6056 Add `New Featured Artist: SEPHID` news post
  news/2021-09-04-new-featured-artist-sephid.md
  wiki/shared/news/2021-09-04-new-featured-artist-sephid/fa-badge.png
Labels: area:news, size/M

#6036 Complete the `Changelog`, `Choke`, and `Combo fire` stubs
  wiki/Game_mode/osu!/en.md
  wiki/Game_mode/osu!/es.md
  wiki/Game_mode/osu!/fr.md
  wiki/Game_mode/osu!/id.md
  wiki/Game_mode/osu!/pt-br.md
  wiki/Game_mode/osu!/tr.md
  wiki/Glossary/Changelog/en.md
  wiki/Glossary/Changelog/fr.md
  wiki/Glossary/Changelog/id.md
  wiki/Glossary/Changelog/img/build-propagation-graph-2015.png
  wiki/Glossary/Changelog/img/changelog-osume-2013.png
  wiki/Glossary/Changelog/img/changelog-web-2007.png
  wiki/Glossary/Changelog/zh-tw.md
  wiki/Glossary/Choke/en.md
  wiki/Glossary/Choke/fr.md
  wiki/Glossary/Choke/id.md
  wiki/Glossary/Combo_fire/en.md
  wiki/Glossary/Combo_fire/fr.md
  wiki/Glossary/Combo_fire/id.md
  wiki/Glossary/Combo_fire/img/blue-combo-fire.jpg
  wiki/Glossary/Combo_fire/img/combo-fire.jpg
  wiki/Options/en.md
  wiki/Options/fr.md
  wiki/Options/pl.md
Labels: type:update, size/L

#6057 Add `Old Map Fantasy World Cup` tournament article
  wiki/Tournaments/OMF/WC/en.md
  wiki/Tournaments/OMF/WC/img/banner.png
  wiki/Tournaments/OMF/en.md
Labels: area:tournaments, size/L

#6061 Update `MWC 4K 2021` for the Finals weekend
  wiki/Tournaments/MWC/2021_4K/en.md
Labels: size/M

#6043 Add `Notelock`
  wiki/Beatmapping/Overall_difficulty/en.md
  wiki/Beatmapping/Overall_difficulty/fr.md
  wiki/Beatmapping/Overall_difficulty/id.md
  wiki/Gameplay/Fingerlock/en.md
  wiki/Gameplay/Fingerlock/fr.md
  wiki/Gameplay/Fingerlock/id.md
  wiki/Gameplay/Mind_block/en.md
  wiki/Gameplay/Mind_block/fr.md
  wiki/Gameplay/Mind_block/id.md
  wiki/Gameplay/Notelock/en.md
  wiki/Gameplay/Notelock/img/notelock.gif
Labels: type:new article, size/M, area:gameplay

#6068 Replace Google form/sheet links with Loved website in `Project Loved` wiki page
  wiki/Beatmap/History_of_Loved/en.md
  wiki/Beatmap/History_of_Loved/fr.md
  wiki/Project_Loved/en.md
  wiki/Project_Loved/tr.md
Labels: type:update, size/M, area:community

#6071 Update `ASC` with recent changes to link tooltips
  wiki/Article_styling_criteria/Formatting/en.md
Labels: area:utilities, type:clean up, size/XS

#6037 [ZH] Add `Downbeat`
  wiki/Downbeat/zh.md
Labels: area:translations, type:new article, size/S

#6064 Update/Cleanup `Mappers' Guild` and `Featured artist showcase beatmaps`
  wiki/Featured_Artists/Featured_Artist_Showcase_Beatmaps/en.md
  wiki/Featured_Artists/Featured_Artist_Showcase_Beatmaps/fr.md
  wiki/Featured_Artists/Featured_Artist_Showcase_Beatmaps/id.md
  wiki/Featured_Artists/Featured_Artist_Showcase_Beatmaps/ja.md
  wiki/Mappers_Guild/en.md
  wiki/Mappers_Guild/id.md
  wiki/Mappers_Guild/img/mg-badges.png
  wiki/Mappers_Guild/img/mg-logo.png
Labels: type:update, type:clean up, size/M, area:community

#6073 Fix broken link on `Mappers' Guild`
  wiki/Featured_Artists/Featured_Artist_Showcase_Beatmaps/en.md
  wiki/Mappers_Guild/en.md
Labels: size/XS

#6059 Add `Language Surveillance Division`
  wiki/People/The_Team/Language_Surveillance_Division/en.md
  wiki/People/The_Team/Language_Surveillance_Division/img/chat-moderator-profile.png
  wiki/redirect.yaml
Labels: type:new article, size/M, area:community

#6075 Add `New Featured Artist: Harumaki Gohan` news post
  news/2021-09-08-new-featured-artist-harumaki-gohan.md
Labels: size/M

#6067 Adjust existing articles to the infobox syntax change
  wiki/Modding/Nuke/en.md
  wiki/Silence/en.md
Labels: state:blocked, area:utilities, type:update, size/S

#6019 [RU] Add `Brand Identity Guidelines`
  wiki/Brand_identity_guidelines/ru.md
Labels: area:translations, area:utilities, type:new article, size/M

#6054 Clean up `Code of conduct for modding and mapping`
  wiki/Rules/Code_of_Conduct_for_Modding_and_Mapping/en.md
Labels: type:clean up, size/M, area:community

#6055 [RU] Add `Code of conduct for modding and mapping`
  wiki/Rules/Code_of_Conduct_for_Modding_and_Mapping/ru.md
Labels: area:translations, type:new article, size/M, area:community

#6051 Rewrite `Reporting bad behaviour`
  wiki/Reporting_Bad_Behaviour/en.md
  wiki/Reporting_Bad_Behaviour/id.md
  wiki/Reporting_Bad_Behaviour/img/report-beatmap.png
Labels: type:rewrite, size/L, area:community

#6072 Add `UKCC3` tournament article and `UKCC10` qualifiers stage
  wiki/Tournaments/UKCC/1/en.md
  wiki/Tournaments/UKCC/10/en.md
  wiki/Tournaments/UKCC/10/img/logo.jpg
  wiki/Tournaments/UKCC/2/en.md
  wiki/Tournaments/UKCC/3/en.md
Labels: type:new article, area:tournaments, size/XL

#6081 Clarify terms related to various osu! teams where possible
  wiki/Contributor_Code_of_Conduct/en.md
  wiki/Help_Centre/Account/en.md
  wiki/Help_Centre/Account_Restrictions/en.md
  wiki/Help_Centre/Beatmapping/en.md
  wiki/Help_Centre/Website/en.md
  wiki/History_of_osu!/2015/en.md
  wiki/History_of_osu!/2016/en.md
  wiki/How_you_can_help!/en.md
  wiki/People/Community_Contributors/en.md
  wiki/Projects/en.md
  wiki/Reporting_Bad_Behaviour/Handling_Foul_Play/en.md
  wiki/Rules/Content_Voting_Process/en.md
  wiki/Rules/Visual_Content_Considerations/en.md
  wiki/osu!talk/en.md
Labels: type:clean up, size/M

#6082 Update the schedule for `MWC 4K 2021`
  wiki/Tournaments/MWC/2021_4K/en.md
Labels: type:update, area:tournaments, size/S

#6084 Specify video encode and quality guideline in RC
  wiki/Ranking_Criteria/en.md
Labels: size/XS, area:ranking criteria

#5787 [RU] Add `Beatmap collaborations`, `Beatmap host`, `Guest difficulty`
  wiki/Beatmap/Beatmap_collaborations/ru.md
  wiki/Beatmap/Beatmap_host/ru.md
  wiki/Beatmap/Guest_difficulty/ru.md
Labels: area:translations, type:new article, size/M

#6078 [ID] Update `Silence`
  wiki/Silence/id.md
  wiki/Silence/img/ID-silence-profile.png
Labels: area:translations, type:update, size/M

#6083 Add `UKCC7` tournament article, add missing staff in `UKCC3`
  wiki/Tournaments/UKCC/3/en.md
  wiki/Tournaments/UKCC/7/en.md
  wiki/Tournaments/UKCC/7/img/badge.png
  wiki/Tournaments/UKCC/7/img/logo.png
Labels: size/XL

#6089 Add `New Featured Artist: Avizura` news post
  news/2021-09-11-new-featured-artist-avizura.md
Labels: size/M

#6090 Add clause about osu! source usage in Ranking Criteria
  wiki/Ranking_Criteria/en.md
Labels: size/XS

#6091 Fix punctuation in `Beatmapping`
  wiki/Beatmapping/en.md
Labels: type:clean up, size/XS

#6092 Fix Match Results heading level in `MWC 4K 2021`
  wiki/Tournaments/MWC/2021_4K/en.md
Labels: type:clean up, size/XS

#6048 Clean up `Song content rules` and `Explicit content`
  wiki/Rules/Explicit_Content/en.md
  wiki/Rules/Explicit_Content/ru.md
  wiki/Rules/Song_Content_Rules/en.md
Labels: type:clean up, size/S, area:community

#6096 Update the `MWC 4K 2021` article for the Grand Finals weekend
  wiki/Tournaments/MWC/2021_4K/en.md
Labels: size/M

#6086 Clean up: make "osu!team" a regular collocation
  wiki/Beatmap/en.md
  wiki/Beatmap/fr.md
  wiki/Beatmap/id.md
  wiki/Beatmap/pt-br.md
  wiki/Beatmap/ru.md
  wiki/Contributor_Code_of_Conduct/zh.md
  wiki/Help_Centre/Account_Restrictions/pt-br.md
  wiki/Help_Centre/Account_Restrictions/tr.md
  wiki/History_of_osu!/2016/en.md
  wiki/History_of_osu!/2017/en.md
  wiki/Mapping_and_Modding_Timeline/en.md
  wiki/Mapping_and_Modding_Timeline/fr.md
  wiki/Mapping_and_Modding_Timeline/id.md
  wiki/Modding/QAT_Leaders/en.md
  wiki/People/Community_Contributors/id.md
  wiki/People/Community_Contributors/tr.md
  wiki/People/The_Team/Developers/en.md
  wiki/People/The_Team/Developers/fr.md
  wiki/People/The_Team/Developers/id.md
  wiki/People/The_Team/Developers/pt-br.md
  wiki/People/The_Team/Developers/tr.md
  wiki/People/The_Team/Language_Surveillance_Division/en.md
  wiki/People/The_Team/en.md
  wiki/People/The_Team/id.md
  wiki/People/The_Team/tr.md
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/zh.md
  wiki/Tournaments/AOTS/AOTS_1/en.md
  wiki/Tournaments/CIC/2019/en.md
  wiki/Tournaments/CIC/2021/en.md
  wiki/Tournaments/CWC/1/en.md
  wiki/Tournaments/CWC/2021/zh.md
  wiki/Tournaments/OIT/2021/en.md
  wiki/Tournaments/OWC/2019/en.md
  wiki/Tournaments/OWC/2019/tr.md
  wiki/Tournaments/OWC/2020/en.md
  wiki/Tournaments/OWC/2020/zh.md
  wiki/Tournaments/POT/1/en.md
  wiki/Tournaments/TWC/2021/zh.md
  wiki/Twitter/en.md
  wiki/Twitter/id.md
  wiki/User_title/en.md
  wiki/User_title/id.md
  wiki/osu!dev_Discord_server/en.md
  wiki/osu!dev_Discord_server/id.md
  wiki/osu!dev_Discord_server/nl.md
  wiki/osu!dev_Discord_server/pt-br.md
  wiki/osu!dev_Discord_server/tr.md
  wiki/osu!tourney/Prizes/en.md
Labels: type:clean up, size/L

#4941 Updated officially supported tournaments rules/information article
  wiki/Tournaments/Official_support/en.md
  wiki/osu!tourney/Prizes/en.md
  wiki/osu!tourney/Prizes/fr.md
  wiki/osu!tourney/Prizes/id.md
  wiki/osu!tourney/Prizes/ko.md
  wiki/osu!tourney/Prizes/zh.md
  wiki/redirect.yaml
Labels: type:update, area:tournaments, size/XL

#6098 Fix table information for `MWC 4K 2021`
  wiki/Tournaments/MWC/2021_4K/en.md
Labels: size/XS

#6085 [ID] Update all articles from the `Rules` category
  wiki/Rules/Code_of_Conduct_for_Modding_and_Mapping/id.md
  wiki/Rules/Content_Usage_Guidelines/id.md
  wiki/Rules/Content_Voting_Process/id.md
  wiki/Rules/Explicit_Content/id.md
  wiki/Rules/Song_Content_Rules/id.md
  wiki/Rules/Visual_Content_Considerations/id.md
  wiki/Rules/id.md
Labels: area:translations, type:update, size/L

#6094 Update `Guides/Tablet Purchase`
  wiki/Guides/Tablet_Purchase/en.md
Labels: type:update, size/S

#6102 Add `Skinners' Bulletin: July 2021` newspost
  news/2021-09-14-skinners-bulletin-july-2021.md
  wiki/shared/news/2021-09-14-skinners-bulletin-july-2021/graph-skinners.png
  wiki/shared/news/2021-09-14-skinners-bulletin-july-2021/graph-skins.png
  wiki/shared/news/banners/skinners-bulletin.png
Labels: area:news, size/L

#6105 Fix misplaced videos on Skinners' Bulletin newspost
  news/2021-09-14-skinners-bulletin-july-2021.md
Labels: size/XS

#6104 [JA] Fix broken link in `Hit_object`
  wiki/Hit_object/ja.md
Labels: size/XS

#6106 Fix dates for `3 Digit World Cup 2021` in `Tournaments`
  wiki/Tournaments/en.md
Labels: size/XS

#6107 Add `New Featured Artist: rejection` news post
  news/2021-09-15-new-featured-artist-rejection.md
Labels: size/M

#6095 [ID] Add `Help_Centre/Client`
  wiki/Help_Centre/Account/id.md
  wiki/Help_Centre/Client/id.md
  wiki/Help_Centre/id.md
Labels: area:translations, type:new article, size/XL

#6109 Update `Medals/Unlock_requirements/Dedication`
  wiki/Medals/Unlock_requirements/Dedication/en.md
  wiki/Medals/Unlock_requirements/Dedication/fr.md
Labels: type:update, size/M

#6110 Add the wiki article and news post for `OWC 2021`
  news/2021-09-16-osu-world-cup-2021-registrations-now-open.md
  wiki/Tournaments/OWC/2021/en.md
  wiki/Tournaments/OWC/en.md
  wiki/Tournaments/en.md
  wiki/shared/news/2021-09-16-osu-world-cup-2021-registrations-now-open/owc-2021-banner.jpg
  wiki/shared/news/2021-09-16-osu-world-cup-2021-registrations-now-open/owc-2021-banner@2x.jpg
Labels: size/L

#6099 [ZH-TW] Add `Disambiguation/Bancho`
  wiki/Disambiguation/Bancho/zh-tw.md
Labels: area:translations, type:new article, size/XS

#6111 [FR] Outdate `Guides/Tablet purchase`
  wiki/Guides/Tablet_Purchase/fr.md
Labels: type:clean up, size/XS

#6113 [ID] Fix misspelling on `People`
  wiki/People/id.md
Labels: area:translations, size/XS

#6112 Update `OWC 2021`
  news/2021-09-16-osu-world-cup-2021-registrations-now-open.md
  wiki/Tournaments/OWC/2021/en.md
Labels: area:tournaments, size/S

#6116 Update `OWC 2021` with more links
  wiki/Tournaments/OWC/2021/en.md
Labels: type:update, area:tournaments, size/XS

#6119 [ID] Update `Featured artist showcase beatmaps`
  wiki/Featured_Artists/Featured_Artist_Showcase_Beatmaps/id.md
Labels: area:translations, type:update, size/S

#6058 [BG] Add `Main_Page`
  wiki/Main_Page/bg.md
Labels: area:translations, type:new article, size/L, state:needs rebase

#6127 [ID] Update `People/peppy`
  wiki/People/id.md
  wiki/People/peppy/id.md
Labels: area:translations, type:update, size/XS

#6129 Add `200th Featured Artist: Our Stolen Theory` news post
  news/2021-09-18-200th-featured-artist-our-stolen-theory.md
Labels: area:news, size/M

#6130 Fix broken bold syntax in the `Our Stolen Theory FA` news post
  news/2021-09-18-200th-featured-artist-our-stolen-theory.md
Labels: area:news, size/XS

#6133 Update GMT/ALM/BN/LVD listings & Staff Log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/fr.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Global_Moderation_Team/es.md
  wiki/People/The_Team/Global_Moderation_Team/fr.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/Global_Moderation_Team/ja.md
  wiki/People/The_Team/Global_Moderation_Team/pl.md
  wiki/People/The_Team/Global_Moderation_Team/pt-br.md
  wiki/People/The_Team/Global_Moderation_Team/ru.md
  wiki/People/The_Team/Global_Moderation_Team/th.md
  wiki/People/The_Team/Global_Moderation_Team/tr.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
  wiki/People/The_Team/Project_Loved_Team/en.md
  wiki/People/The_Team/Project_Loved_Team/fr.md
  wiki/People/The_Team/Project_Loved_Team/id.md
  wiki/People/The_Team/Project_Loved_Team/tr.md
  wiki/People/The_Team/osu!_Alumni/en.md
  wiki/People/The_Team/osu!_Alumni/es.md
  wiki/People/The_Team/osu!_Alumni/fr.md
  wiki/People/The_Team/osu!_Alumni/id.md
  wiki/People/The_Team/osu!_Alumni/ja.md
  wiki/People/The_Team/osu!_Alumni/pl.md
  wiki/People/The_Team/osu!_Alumni/pt-br.md
  wiki/People/The_Team/osu!_Alumni/ru.md
  wiki/People/The_Team/osu!_Alumni/tr.md
  wiki/People/The_Team/osu!_Alumni/zh.md
  wiki/Staff_Log/2021/en.md
Labels: type:update, size/XL, area:community

#6062 Add the `osu! wiki` article, information on `Maintenance`, and `List of maintainers`
  wiki/osu!_wiki/Maintenance/List_of_maintainers/en.md
  wiki/osu!_wiki/Maintenance/en.md
  wiki/osu!_wiki/Maintenance/img/ci-status.png
  wiki/osu!_wiki/en.md
Labels: area:utilities, type:new article, size/L, area:community

#6141 Update `MWC 4K 2020` / `MWC 4K 2021` with podium info
  wiki/Tournaments/MWC/2020_4K/en.md
  wiki/Tournaments/MWC/2021_4K/en.md
  wiki/Tournaments/MWC/2021_4K/img/badge-1st.jpg
  wiki/Tournaments/MWC/2021_4K/img/badge-2nd.jpg
  wiki/Tournaments/MWC/2021_4K/img/badge-3rd.jpg
  wiki/Tournaments/MWC/2021_4K/img/podium.jpg
  wiki/Tournaments/en.md
Labels: size/L

#6069 Remove tooltips from links in protected articles
  wiki/Help_Centre/Account/en.md
  wiki/Help_Centre/Account/fr.md
  wiki/Help_Centre/Account/id.md
  wiki/Help_Centre/Account/zh.md
  wiki/Help_Centre/Client/en.md
  wiki/Help_Centre/Client/fr.md
  wiki/Help_Centre/Client/ru.md
  wiki/Help_Centre/Store/en.md
  wiki/Help_Centre/pt-br.md
  wiki/Help_Centre/uk.md
Labels: type:clean up, size/S

#6070 Remove tooltips from links in news posts
  news/2021-02-01-mappers-report-january.md
  news/2021-03-05-mappers-report-february.md
  news/2021-04-11-osu-beatmapping-world-championship-2021-call-for-judges.md
  news/2021-04-27-results-a-labour-of-love.md
  news/2021-05-02-osu-beatmapping-world-championship-2021-registrations-open.md
  news/2021-06-20-mappers-report-may.md
  news/2021-07-07-osumania-4k-world-cup-2021-registrations-now-open.md
Labels: type:clean up, size/M

#6144 Update staff list for `MWC 4K 2021`
  wiki/Tournaments/MWC/2021_4K/en.md
Labels: size/XS

#6074 [TR] Add `Skin`
  wiki/Skin/tr.md
Labels: area:translations, type:new article, size/S

#6142 Update `People/Users_with_unique_titles` to include MWC 4K 2021 winners
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/fr.md
  wiki/People/Users_with_unique_titles/id.md
  wiki/People/Users_with_unique_titles/pl.md
  wiki/People/Users_with_unique_titles/pt-br.md
  wiki/People/Users_with_unique_titles/th.md
  wiki/People/Users_with_unique_titles/tr.md
  wiki/People/Users_with_unique_titles/zh.md
Labels: type:update, size/L, area:community

#6147 Add `New Featured Artist: litmus*` news post
  news/2021-09-22-new-featured-artist-litmus.md
Labels: size/M

#6076 [ID] Add `Unlock Requirements`
  wiki/Medals/Unlock_requirements/Beatmap_challenge_packs/id.md
  wiki/Medals/Unlock_requirements/Beatmap_packs/id.md
  wiki/Medals/Unlock_requirements/Beatmap_spotlights/id.md
  wiki/Medals/Unlock_requirements/Dedication/id.md
  wiki/Medals/Unlock_requirements/Mod_introduction/id.md
  wiki/Medals/Unlock_requirements/Seasonal_spotlights/id.md
  wiki/Medals/Unlock_requirements/Skill/id.md
  wiki/Medals/Unlock_requirements/id.md
Labels: area:translations, type:new article, size/L

#6077 [ID] Add `Beatmap Spotlights Spring 2021`
  wiki/Beatmap_Spotlights/Seasons/2021_Spring/id.md
Labels: area:translations, type:new article, size/L

#6148 Update the Challonge link in the `OWC/2019` article
  wiki/Tournaments/OWC/2019/en.md
Labels: size/XS

#6149 Add preferred metadata guideline to `Ranking_criteria`
  wiki/Ranking_Criteria/en.md
Labels: type:update, size/XS, rule change, area:ranking criteria

#6152 Update `UKCC10` with Round of 64 results
  wiki/Tournaments/UKCC/10/en.md
Labels: size/L

#6047 [ZH] Add `Mascots`
  wiki/Mascots/zh.md
Labels: area:translations, type:new article, size/L

#6088 [IT] Update `Rules`
  wiki/Rules/it.md
Labels: area:translations, type:update, size/M

#6150 Update source rule in `Ranking_Criteria`
  wiki/Ranking_Criteria/en.md
Labels: type:update, size/XS, rule change, area:ranking criteria

#6156 Remove QA activity for Beatmap Nominators
  wiki/People/The_Team/Beatmap_Nominators/Rules/en.md
Labels: size/S

#6158 Add `New Featured Artist: tokiwa` news post
  news/2021-09-25-new-featured-artist-tokiwa.md
Labels: size/M

#6159 [RU] Update `Explicit content` and `Visual content considerations`
  wiki/Rules/Explicit_Content/ru.md
  wiki/Rules/Visual_Content_Considerations/ru.md
Labels: area:translations, type:update, size/L, area:community

#6162 Update `Countries that participated in osu! tournaments` with `MWC 4K 2021` results
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/en.md
Labels: type:update, area:tournaments, size/L

#6097 [ZH] Add `Bot_account`
  wiki/Bot_account/zh.md
Labels: area:translations, type:new article, size/M

#6155 Add `Indonesia Convert Cup 2021` wiki article
  wiki/Tournaments/ICC/2021/en.md
  wiki/Tournaments/ICC/2021/img/banner.jpg
  wiki/Tournaments/ICC/en.md
Labels: type:new article, area:tournaments, size/L

#6169 Update staff listing for `OWC 2021`
  wiki/Tournaments/OWC/2021/en.md
Labels: size/XS

#6167 [FR] Update `Internet Relay Chat`
  wiki/Internet_Relay_Chat/fr.md
Labels: area:translations, type:clean up, size/XS

#6170 Increase discoverability of some legal/service/regulatory articles
  wiki/Tournaments/en.md
  wiki/redirect.yaml
Labels: area:utilities, type:update, size/S

#6165 Add Project Loved: September 2021 Newspost
  news/2021-09-28-project-loved-september-2021.md
  wiki/shared/news/2021-09-26-project-loved-september-2021/1025452.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/1036031.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/1065707.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/1086072.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/1095721.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/1123064.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/1126349.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/1129251.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/1204970.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/1220647.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/1262927.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/1291269.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/1334132.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/1350854.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/1527020.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/31084.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/365254.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/389617.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/406332.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/435015.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/459133.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/547451.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/699875.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/720978.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/724338.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/746240.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/752651.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/808948.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/832873.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/857533.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/894000.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/894505.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/902007.jpg
  wiki/shared/news/2021-09-26-project-loved-september-2021/995126.jpg
Labels: area:news, size/L

#6171 Update `UKCC10` with Round of 32 results
  wiki/Tournaments/UKCC/10/en.md
Labels: size/M

#6176 Add `New Featured Artist: Lundy` news post
  news/2021-09-29-new-featured-artist-lundy.md
Labels: area:news, size/M

#6175 Fix typo in `BBCode`
  wiki/BBCode/en.md
Labels: type:clean up, size/XS

#6173 Add `UKCC4` tournament article
  wiki/Tournaments/UKCC/3/en.md
  wiki/Tournaments/UKCC/4/en.md
  wiki/Tournaments/UKCC/4/img/badge.png
  wiki/Tournaments/UKCC/4/img/logo.png
Labels: size/XL

#6100 [ZH-TW] Add `Hit_object`
  wiki/Hit_object/zh-tw.md
Labels: area:translations, type:new article, size/S

#6103 [ZH-TW] Add `Hit_object/Slider_anchor`
  wiki/Hit_object/Slider_anchor/zh-tw.md
Labels: area:translations, type:new article, size/S

#6101 [ZH-TW] Add `Hit_object/Slidertail`
  wiki/Hit_object/Slidertail/zh-tw.md
Labels: area:translations, type:new article, size/S

#6131 [FR] Update `Game mode`
  wiki/Game_mode/fr.md
Labels: area:translations, type:update, size/S

#6126 [FR] Update `Featured Artists/Featured Artists Showcase Beatmaps`
  wiki/Featured_Artists/Featured_Artist_Showcase_Beatmaps/fr.md
Labels: area:translations, type:update, size/M

#6178 Update `Indonesia Convert Cup 2021` to Semifinals
  wiki/Tournaments/ICC/2021/en.md
Labels: type:update, area:tournaments, size/M

#6117 [NO] Add `Kiai_time`
  wiki/Kiai_time/no.md
Labels: area:translations, type:new article, size/S

#6180 [IT] Update `Main Page`
  wiki/Main_Page/it.md
Labels: area:translations, type:update, size/L
