Repository ppy/osu-wiki, pull requests merged in 2021-01, with the labels that each got.

#4716 Update BN listing and Staff log
  meta/group-info/en.yaml
  meta/group-info/es.yaml
  meta/group-info/id.yaml
  meta/group-info/pl.yaml
  meta/group-info/pt-br.yaml
  meta/group-info/ru.yaml
  meta/group-info/th.yaml
  meta/group-info/tr.yaml
  meta/group-info/zh.yaml
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2020/en.md
Labels: size/M

#4698 Add T-lettered article stubs
  wiki/Beatmap_Editor/Test_mode/en.md
  wiki/Beatmap_Editor/Test_mode/img/test-mode-button.png
  wiki/Beatmap_Editor/Test_mode/img/test-mode-example.jpg
  wiki/Beatmapping/Time_signature/en.md
  wiki/Beatmapping/Timing_section/en.md
  wiki/Beatmaps/TAG/en.md
  wiki/Glossary/Touhosu!/en.md
Labels: type:new article

#4667 [ID] Add Beatmap Spotlights group articles
  wiki/Beatmap_Spotlights/Seasons/2020_Autumn/id.md
  wiki/Beatmap_Spotlights/Seasons/2020_Summer/id.md
  wiki/Beatmap_Spotlights/Seasons/id.md
Labels: area:translations, size/XL, type:new article

#4655 [ES] Add Account Support Team
  wiki/People/The_Team/Account_support_team/es.md
Labels: area:translations, size/M, type:new article

#4721 Add osu!taiko world cup 2021 staff and mapper applications news post
  news/2021-01-04-osu!taiko-world-cup-2021-staff-and-mapper-applications.md
Labels: area:news, size/M

#4725 Fix headers in TWC2021 Staff and Mapper Application newspost
  news/2021-01-04-osu!taiko-world-cup-2021-staff-and-mapper-applications.md
Labels: size/XS

#4710 Fix formatting issues of osu!weekly articles
  news/2016-11-07-osuweekly-79.md
  news/2017-04-15-osuweekly-100.md
  news/2017-05-02-osuweekly-102.md
  news/2017-05-18-osuweekly-104.md
Labels: area:news, size/M, type:clean up

#4727 Fix image parsing issues in osu!weekly #100
  news/2017-04-15-osuweekly-100.md
Labels: size/XS

#4728 Trim loose closing div tag from osu!weekly #100 newspost
  news/2017-04-15-osuweekly-100.md
Labels: size/XS

#4638 [UK] Add Project Loved
  wiki/Project_Loved/uk.md
Labels: area:translations, size/M, type:new article

#4719 [UK] Add Storyboards
  wiki/Storyboards/uk.md
Labels: area:translations, size/S, type:new article

#4726 Update SOL2 for Finals
  wiki/Tournaments/SOL/2020/en.md
Labels: area:tournaments, size/M, type:update

#4729 Update osu! South East Asia Tournament 4 to Quarterfinals
  wiki/Tournaments/oSEAT/4/en.md
Labels: area:tournaments, size/L, type:update

#4640 [ZH] Add Project Loved
  wiki/Project_Loved/zh.md
Labels: area:translations, size/M, type:new article

#4660 [ID] Add Accounts Support Team
  wiki/People/The_Team/Account_support_team/id.md
  wiki/People/The_Team/Support_Team/id.md
Labels: area:translations, size/M, type:new article

#4664 [KO] Add Double Time
  wiki/Game_modifier/Double_Time/ko.md
Labels: area:translations, size/M, type:new article

#4733 Add Staff log 2021 and update BN listing
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/Staff_Log/2021/en.md
Labels: size/M

#4734 Fix Hivie's profile link in the BN listing
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
Labels: size/S

#4735 [UK] Clean up Project Loved
  wiki/Project_Loved/uk.md
Labels: size/S

#4736 Add New FA Getty news post
  news/2021-01-06-new-featured-artist-getty.md
Labels: size/M

#4738 Fix Getty FA new line
  news/2021-01-06-new-featured-artist-getty.md
Labels: size/XS

#4739 Add map to Getty news post
  news/2021-01-06-new-featured-artist-getty.md
Labels: size/XS

#4672 [ID] Add Beatmap Discussion
  wiki/Beatmap_Discussion/id.md
  wiki/Beatmap_Discussion/img/beatmap-header-ID.jpg
  wiki/Beatmap_Discussion/img/beatmap-status-ID.jpg
  wiki/Beatmap_Discussion/img/difficulty-menu-ID.jpg
  wiki/Beatmap_Discussion/img/discussion-ID.jpg
  wiki/Beatmap_Discussion/img/modding-tabs-ID.jpg
  wiki/Beatmap_Discussion/img/mode-selection-ID.jpg
  wiki/Beatmap_Discussion/img/sorting-option-ID.jpg
  wiki/Beatmap_Discussion/img/submission-field-ID.jpg
  wiki/Beatmap_Discussion/img/visual-timeline-ID.jpg
Labels: area:translations, type:new article

#4740 Update Project Loved Wiki Page
  wiki/Project_Loved/en.md
Labels: size/XS, type:update

#4741 Mark translations of Project Loved as outdated
  wiki/Project_Loved/ru.md
  wiki/Project_Loved/tr.md
  wiki/Project_Loved/uk.md
  wiki/Project_Loved/zh.md
Labels: area:community, size/S, type:clean up

#4742 Remove 18+ warning rule from Ranking Criteria
  wiki/Ranking_Criteria/en.md
  wiki/Ranking_Criteria/id.md
  wiki/Ranking_Criteria/ko.md
  wiki/Ranking_Criteria/ru.md
  wiki/Ranking_Criteria/zh.md
Labels: area:ranking criteria, size/S, type:update

#4677 [ID] Update and rework The Team
  wiki/People/The_Team/id.md
Labels: area:translations, size/L, type:update

#4731 Clean up the osu! World Cup #1 wiki article
  wiki/Tournaments/OWC/1/en.md
Labels: area:tournaments, size/L, type:clean up

#4737 [UK] Add Account Restrictions, Help Centre, Installation (macOS), Installation, Registration, and Welcome
  wiki/Help_Centre/Account_Restrictions/uk.md
  wiki/Help_Centre/uk.md
  wiki/Installation/macOS/uk.md
  wiki/Installation/uk.md
  wiki/Registration/uk.md
  wiki/Welcome/uk.md
Labels: area:translations, size/XXL, type:new article

#4746 [ID] Update group-info and related articles
  meta/group-info/id.yaml
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/osu!_Alumni/id.md
Labels: area:translations, size/S, type:update

#4747 Don't use redirects when referring to the osu! wiki contribution guide
  wiki/Welcome/da.md
  wiki/Welcome/en.md
  wiki/Welcome/es.md
  wiki/Welcome/fr.md
  wiki/Welcome/id.md
  wiki/Welcome/it.md
  wiki/Welcome/ja.md
  wiki/Welcome/ko.md
  wiki/Welcome/pl.md
  wiki/Welcome/pt-br.md
  wiki/Welcome/ru.md
  wiki/Welcome/sk.md
  wiki/Welcome/th.md
  wiki/Welcome/tr.md
  wiki/Welcome/uk.md
  wiki/Welcome/zh.md
  wiki/osu!_wiki_Contribution_Guide/Common_Issues/ko.md
  wiki/osu!_wiki_Contribution_Guide/Common_Issues/zh.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/en.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/fr.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/id.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/uk.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/zh.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Web_Interface/en.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Web_Interface/fr.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Web_Interface/id.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Web_Interface/uk.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Web_Interface/zh.md
  wiki/osu!_wiki_Contribution_Guide/en.md
  wiki/osu!_wiki_Contribution_Guide/fr.md
  wiki/osu!_wiki_Contribution_Guide/id.md
  wiki/osu!_wiki_Contribution_Guide/ja.md
  wiki/osu!_wiki_Contribution_Guide/ko.md
  wiki/osu!_wiki_Contribution_Guide/tr.md
  wiki/osu!_wiki_Contribution_Guide/uk.md
  wiki/osu!_wiki_Contribution_Guide/zh.md
Labels: area:utilities, size/L, type:clean up

#4750 Add Phantom Sage FA news post
  news/2021-01-09-new-featured-artist-phantom-sage.md
Labels: size/M

#4751 [UK] Main Page
  wiki/Main_Page/uk.md
Labels: area:translations, area:utilities, size/S, type:clean up

#4748 [RU] Update Bot account, People, The Team, and Support Team
  wiki/Bot_account/ru.md
  wiki/People/The_Team/Support_Team/ru.md
  wiki/People/The_Team/ru.md
  wiki/People/ru.md
Labels: area:community, area:translations, size/M, type:update

#4752 Minor clean up for the osu! Program files article
  wiki/osu!_Program_Files/en.md
Labels: area:client, size/S, type:clean up

#4682 [KO] Add Spun Out
  wiki/Game_modifier/Spun_Out/ko.md
Labels: area:translations, size/M, state:needs native review, type:new article

#4680 [KO] Add Autopilot
  wiki/Game_modifier/Autopilot/ko.md
Labels: area:translations, size/M, state:needs native review, type:new article

#4674 [KO] Add Nightcore
  wiki/Game_modifier/Nightcore/ko.md
Labels: area:translations, size/M, state:needs native review, type:new article

#4679 [KO] Add No Fail
  wiki/Game_modifier/No_Fail/ko.md
Labels: area:translations, size/M, state:needs native review, type:new article

#4687 [KO] Add Perfect
  wiki/Game_modifier/Perfect/ko.md
Labels: area:translations, size/M, state:needs native review, type:new article

#4688 [KO] Add Sudden Death
  wiki/Game_modifier/Sudden_Death/ko.md
Labels: area:translations, size/M, state:needs native review, type:new article

#4756 Add flags to Mapping and modding timeline
  wiki/Mapping_and_Modding_Timeline/en.md
Labels: size/M

#4757 Fix some typos in Mapping and modding timeline
  wiki/Mapping_and_Modding_Timeline/en.md
Labels: size/S, type:clean up

#4758 Minor namefix on TSCW 2020
  wiki/Tournaments/TSC/2020_Winter/en.md
Labels: size/XS

#4772 Fix remaining beatmap links
  wiki/Beatmap_Discussion/id.md
  wiki/Game_modifier/No_Fail/ko.md
  wiki/Game_modifier/Perfect/ko.md
  wiki/Game_modifier/Spun_Out/ko.md
  wiki/Game_modifier/Sudden_Death/ko.md
  wiki/Kiai_time/en.md
  wiki/Project_Loved/zh.md
Labels: size/S, type:clean up

#4774 Add missing space to osu!catch
  wiki/Game_mode/osu!catch/en.md
Labels: size/XS, type:clean up

#4769 Update SOL2 for Grand Finals
  wiki/Tournaments/SOL/2020/en.md
Labels: area:tournaments, size/M, type:update

#4760 Update SEAC 2020 to Round of 16
  wiki/Tournaments/SEAC/2020/en.md
Labels: area:tournaments, size/M, type:update

#4775 Add Symholic FA news post
  news/2021-01-13-new-featured-artist-symholic.md
Labels: size/M

#4762 Update BGTS 2020 to Quarterfinals
  wiki/Tournaments/GTS/BGTS_2020/en.md
Labels: area:tournaments, size/M, type:update

#4755 Update 3TWC to Round of 24
  wiki/Tournaments/3TWC/1/en.md
Labels: area:tournaments, size/L, type:update

#4761 Update osu! South East Asia Tournament 4 to Semifinals
  wiki/Tournaments/oSEAT/4/en.md
Labels: area:tournaments, size/M, type:update

#4779 [RU] Update macOS Installation
  wiki/Installation/macOS/ru.md
Labels: area:translations, size/M, type:update

#4713 [ES] Add Article Styling Criteria
  wiki/Article_styling_criteria/es.md
Labels: area:translations, size/S, type:new article

#4705 [ID] Add Ranking
  wiki/Ranking/id.md
Labels: area:translations, size/M, state:needs native review, type:new article

#4703 [ID] Update Visual Content Considerations
  wiki/Rules/Visual_Content_Considerations/id.md
Labels: area:translations, size/L, type:update

#4768 Performance Points Updates (2021)
  news/2021-01-14-performance-points-updates.md
  wiki/shared/news/2021-01-14-performance-points-updates/accuracy-speed-curve-graph.png
  wiki/shared/news/2021-01-14-performance-points-updates/ar-aim.png
  wiki/shared/news/2021-01-14-performance-points-updates/ar-speed.png
  wiki/shared/news/2021-01-14-performance-points-updates/doubletap-penalty.png
  wiki/shared/news/2021-01-14-performance-points-updates/miss-penalty-curve.png
  wiki/shared/news/2021-01-14-performance-points-updates/new-curve.png
  wiki/shared/news/2021-01-14-performance-points-updates/old-curve.png
  wiki/shared/news/2021-01-14-performance-points-updates/spunout-mult.png
  wiki/shared/news/2021-01-14-performance-points-updates/star-rating.jpg
  wiki/shared/news/2021-01-14-performance-points-updates/star-rating@2x.jpg
Labels: area:news

#4786 [RU] peppy
  wiki/People/peppy/ru.md
Labels: area:community, size/S, type:new article

#4787 [RU] Update Project Loved
  wiki/Project_Loved/ru.md
Labels: area:community, area:translations, size/XS, type:update

#4789 Add Tiny Waves Featured Artist newspost
  news/2021-01-17-new-featured-artist-tiny-waves.md
Labels: size/M

#4784 Update miss count plot in performance points newspost
  wiki/shared/news/2021-01-14-performance-points-updates/miss-penalty-curve.png
Labels: area:news, type:update

#4722 osu!catch Ranking Criteria update
  wiki/Ranking_Criteria/osu!catch/en.md
Labels: area:ranking criteria, rule change, size/XS, type:update

#4785 [RU] Update osu! Installation on Windows
  wiki/Installation/ru.md
Labels: area:translations, area:utilities, size/M

#4744 [RU] Actualize Article styling criteria
  wiki/Article_styling_criteria/Formatting/ru.md
  wiki/Article_styling_criteria/Writing/ru.md
  wiki/Article_styling_criteria/ru.md
Labels: area:translations, area:utilities, size/XXL, type:update

#4792 Make the new miss count plot show up in the newspost
  news/2021-01-14-performance-points-updates.md
Labels: area:news, size/XS, type:clean up

#4782 Update Performance Points
  wiki/Performance_points/en.md
Labels: area:client, size/S, type:update

#4771 [KO] Retranslate Visual_Settings
  wiki/Visual_Settings/ko.md
Labels: area:client, area:translations, size/S, type:update

#4776 Add Spotlights Winter Season 2021 newspost & season wiki article
  news/2021-01-18-beatmap-spotlights-season-3-winter-2021.md
  wiki/Beatmap_Spotlights/Seasons/2021_Winter/en.md
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/bronze_1.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/bronze_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/bronze_2.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/bronze_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/copper_1.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/copper_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/copper_2.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/copper_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/diamond_1.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/diamond_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/diamond_2.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/diamond_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/gold_1.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/gold_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/gold_2.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/gold_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/iron_1.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/iron_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/iron_2.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/iron_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/platinum_1.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/platinum_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/platinum_2.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/platinum_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/ri_1.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/ri_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/ri_2.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/ri_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/silver_1.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/silver_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/silver_2.png
  wiki/Beatmap_Spotlights/img/badges/winter_2021/osu/silver_2@2x.png
Labels: area:news, size/L, type:new article

#4797 Rename one of images in the performance points-related newspost
  news/2021-01-14-performance-points-updates.md
  wiki/shared/news/2021-01-14-performance-points-updates/miss-penalty-multiplier-curve.png
Labels: area:news, type:clean up

#4800 Spotlights Winter 2021 fixes
  news/2021-01-18-beatmap-spotlights-season-3-winter-2021.md
  wiki/Beatmap_Spotlights/Seasons/2021_Winter/en.md
  wiki/Beatmap_Spotlights/Seasons/en.md
Labels: size/XS

#4795 Update BGTS 2020 to Semifinals
  wiki/Tournaments/GTS/BGTS_2020/en.md
Labels: area:tournaments, size/M, type:update

#4794 Update 3TWC to Round of 16
  wiki/Tournaments/3TWC/1/en.md
Labels: area:tournaments, size/M, type:update

#4801 Update osu! South East Asia Tournament 4 to Finals week 1
  wiki/Tournaments/oSEAT/4/en.md
Labels: area:tournaments, size/M, type:update

#4773 Update Beatmap and Difficulties to underline the difference between two concepts
  wiki/Beatmap/en.md
  wiki/Difficulties/en.md
  wiki/Difficulties/fr.md
  wiki/Difficulties/id.md
  wiki/Difficulties/ja.md
  wiki/Difficulties/pt-br.md
  wiki/Difficulties/ru.md
  wiki/Difficulties/tr.md
  wiki/Difficulties/zh.md
Labels: area:beatmapping, size/M, type:update

#4802 Remove Beatmap_ID and Beatmapset_ID articles
  wiki/Beatmap/Beatmap_ID/en.md
  wiki/Beatmap/Beatmap_ID/id.md
  wiki/Beatmap/Beatmapset_ID/en.md
  wiki/Beatmap/Beatmapset_ID/id.md
Labels: area:beatmapping, size/M, type:clean up

#4718 [TH] Banchobot
  wiki/BanchoBot/th.md
Labels: area:translations, size/L, type:new article

#4778 [UK] Project Loved update
  wiki/Project_Loved/uk.md
Labels: area:translations, size/XS, type:update

#4807 Correct the mistake in o!mAC2020 article
  wiki/Tournaments/o!mAC/2020/en.md
Labels: area:tournaments, size/XS, type:clean up

#4810 Update Arcaea section to include Beyond diff name
  wiki/Ranking_Criteria/Difficulty_Naming/en.md
  wiki/Ranking_Criteria/Difficulty_Naming/id.md
  wiki/Ranking_Criteria/Difficulty_Naming/sv.md
  wiki/Ranking_Criteria/Difficulty_Naming/zh.md
Labels: area:ranking criteria, size/XS, type:update

#4811 Fix typo on [TH] BanchoBot article.
  wiki/BanchoBot/th.md
Labels: area:translations, area:utilities, size/XS, type:clean up

#4813 Fix a typo in Ranking Criteria Council article
  wiki/Ranking_Criteria/Ranking_Criteria_Council/en.md
Labels: size/XS, type:clean up

#4812 Add Yuyoyuppe FA news post
  news/2021-01-20-new-featured-artist-yuyoyuppe-dj-tekina-something.md
Labels: size/M

#4806 Fix links to a list of osu! wiki's locales
  wiki/BanchoBot/en.md
  wiki/BanchoBot/id.md
  wiki/BanchoBot/tr.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/en.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/es.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/fr.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/id.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Desktop/uk.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Web_Interface/en.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Web_Interface/es.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Web_Interface/fr.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Web_Interface/id.md
  wiki/osu!_wiki_Contribution_Guide/GitHub_Web_Interface/uk.md
Labels: area:utilities, size/S, type:clean up

#4805 Clean up references to Beatmap[Set]ID
  wiki/Glossary/en.md
  wiki/redirect.yaml
Labels: size/M, type:clean up

#4689 [KO] Add Game modifier
  wiki/Game_modifier/ko.md
Labels: area:translations, size/M, state:needs native review, type:new article

#4690 [KO] Add Summary of game modifiers
  wiki/Game_modifier/Summary/ko.md
Labels: area:translations, size/M, state:needs native review, type:new article

#4743 [ZH] Update General Ranking Criteria
  wiki/Ranking_Criteria/zh.md
Labels: area:translations, size/L, type:update

#4821 Add Community Choice 2020 newspost
  news/2021-01-21-community-choice-2020-voting-open.md
Labels: size/M

#4715 [ES] Add Writing
  wiki/Article_styling_criteria/Writing/es.md
Labels: area:translations, size/L, state:needs native review, type:new article

#4819 Link to a list of important skinning guides and threads from Guides; update the Russian translation of Guides
  wiki/Guides/en.md
  wiki/Guides/fr.md
  wiki/Guides/ja.md
  wiki/Guides/pt-br.md
  wiki/Guides/ru.md
  wiki/Guides/tr.md
  wiki/Skinning/Guides_and_important_threads/en.md
Labels: area:skinning, area:translations, size/M, type:clean up, type:update

#4826 Clean up Storyboard Scripting
  wiki/Storyboard_Scripting/de.md
  wiki/Storyboard_Scripting/en.md
  wiki/Storyboard_Scripting/fr.md
  wiki/Storyboard_Scripting/id.md
  wiki/Storyboard_Scripting/ja.md
  wiki/Storyboard_Scripting/pl.md
Labels: size/M, type:clean up

#4754 Cleanup osu! World Cup #2 wiki article
  wiki/Tournaments/OWC/2/en.md
Labels: area:tournaments, size/L, type:clean up

#4829 [KO] Update hatnote in Game modifier article
  wiki/Game_modifier/ko.md
Labels: area:translations, size/XS, type:update

#4831 Update BN listing and Staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/Staff_Log/2021/en.md
Labels: area:community, size/L, type:update

#4832 Fix broken table in osu! World Cup #2 wiki article
  wiki/Tournaments/OWC/2/en.md
Labels: size/XS

#4788 4DM3: Initial Article
  wiki/Tournaments/4DM/2/en.md
  wiki/Tournaments/4DM/3/en.md
  wiki/Tournaments/4DM/3/img/badge.jpg
  wiki/Tournaments/4DM/3/img/logo.jpg
  wiki/Tournaments/4DM/en.md
Labels: area:tournaments, type:new article

#4798 CFB5: Initial Article
  wiki/Tournaments/CFB/4/en.md
  wiki/Tournaments/CFB/4/fr.md
  wiki/Tournaments/CFB/4/img/badge.jpg
  wiki/Tournaments/CFB/4/img/badge.png
  wiki/Tournaments/CFB/5/en.md
  wiki/Tournaments/CFB/5/fr.md
  wiki/Tournaments/CFB/5/img/logo.jpg
  wiki/Tournaments/CFB/en.md
  wiki/Tournaments/CFB/fr.md
Labels: area:tournaments, type:new article

#4834 Add Geoxor FA news post
  news/2021-01-23-new-featured-artist-geoxor.md
Labels: size/M

#4833 Minor host namechange on 4DM3 tournament
  wiki/Tournaments/4DM/3/en.md
Labels: size/XS

#4835 Bust the cache on Geoxor's FA header to fix
  news/2021-01-23-new-featured-artist-geoxor.md
Labels: size/XS

#4837 Add the article about SOFT5 tournament
  wiki/Tournaments/SOFT/5/en.md
  wiki/Tournaments/SOFT/5/img/logo.png
  wiki/Tournaments/SOFT/en.md
Labels: area:tournaments, type:new article

#4843 Fix a typo in Making Good Sliders article
  wiki/Mapping_Techniques/Making_Good_Sliders/en.md
Labels: size/XS

#4830 [ZH] Update BanchoBot and osu! Program Files
  wiki/BanchoBot/zh.md
  wiki/osu!_Program_Files/en.md
  wiki/osu!_Program_Files/zh.md
Labels: area:translations, size/M, type:update

#4842 Update BGTS 2020 to Finals
  wiki/Tournaments/GTS/BGTS_2020/en.md
Labels: area:tournaments, size/M, type:update

#4841 Update 3TWC to Quarterfinals
  wiki/Tournaments/3TWC/1/en.md
Labels: area:tournaments, size/M, type:update

#4840 Update CFB5 to Quarterfinals
  wiki/Tournaments/CFB/5/en.md
  wiki/Tournaments/CFB/5/fr.md
Labels: area:tournaments, size/L, type:update

#4816 [ID] Update BanchoBot
  wiki/BanchoBot/id.md
Labels: area:translations, size/M, type:update

#4817 [ZH] Add Mappers_Gulid
  wiki/Mappers_Guild/zh.md
Labels: area:translations, size/M, type:new article

#4346 [ZH] Add seasonal information to Beatmap Spotlights
  wiki/Beatmap_Spotlights/Seasons/2020_Autumn/zh.md
  wiki/Beatmap_Spotlights/Seasons/2020_Summer/zh.md
  wiki/Beatmap_Spotlights/Seasons/2021_Winter/zh.md
  wiki/Beatmap_Spotlights/Seasons/zh.md
  wiki/Beatmap_Spotlights/zh.md
Labels: area:translations, size/XL, type:update

#4814 [ZH] Update osu!mania ranking criteria
  wiki/Ranking_Criteria/osu!mania/zh.md
Labels: area:translations, size/S, type:update

#4061 Add osu!lazer tournament client article
  wiki/osu!tourney/osu!lazer_tournament_client/en.md
  wiki/osu!tourney/osu!lazer_tournament_client/img/setup-screen.png
Labels: area:client, area:tournaments, type:new article

#4844 Update osu! South East Asia Tournament 4 to Finals week 2
  wiki/Tournaments/oSEAT/4/en.md
Labels: area:tournaments, size/M, type:update

#4845 [ZH/EN] Clarify the mod selection screen caption
  wiki/Interface/en.md
  wiki/Interface/zh.md
Labels: area:client, size/XS, type:clean up

#4847 Update 4DM3 to Group Stage
  wiki/Tournaments/4DM/2/en.md
  wiki/Tournaments/4DM/3/en.md
Labels: area:tournaments, size/M, type:update

#4846 Conclude Speed of Light 2
  wiki/Tournaments/SOL/2020/en.md
  wiki/Tournaments/en.md
Labels: area:tournaments, size/M, type:update

#4759 [KO] Add Play time
  wiki/Gameplay/Play_time/ko.md
Labels: area:translations, size/S, state:needs native review, type:new article

#4763 [KO] Add Accuracy
  wiki/Gameplay/Accuracy/ko.md
Labels: area:translations, size/XS, state:needs native review, type:new article

#4764 [KO] Add Gameplay
  wiki/Gameplay/ko.md
Labels: area:translations, size/S, state:needs native review, type:new article

#4765 [KO] Add Input device
  wiki/Gameplay/Input_device/ko.md
Labels: area:translations, size/S, state:needs native review, type:new article

#4766 [KO] Add Spectating
  wiki/Gameplay/Spectating/ko.md
Labels: area:translations, size/S, state:needs native review, type:new article

#4767 [KO] Add Mouse
  wiki/Gameplay/Input_device/Mouse/ko.md
Labels: area:translations, size/M, state:needs native review, type:new article

#4856 Update SEAC 2020 to Semifinals
  wiki/Tournaments/SEAC/2020/en.md
Labels: area:tournaments, size/M, type:update

#4852 Add Beatmap Spotlights Season 3: Winter 2021 Playlists B
  news/2021-01-18-beatmap-spotlights-season-3-winter-2021.md
  wiki/Beatmap_Spotlights/Seasons/2021_Winter/en.md
Labels: area:community, area:news, size/M, type:clean up, type:update

#4860 Add Dimrain47 FA news post
  news/2021-01-27-new-featured-artist-dimrain47.md
Labels: size/M

#4853 Actualize font family for image annotations
  wiki/Article_styling_criteria/Formatting/en.md
  wiki/Article_styling_criteria/Formatting/ru.md
Labels: area:utilities, size/XS, type:update

#4815 [ID] Interlink some articles and their disambiguation pages
  wiki/Bancho_(server)/id.md
  wiki/Beatmap/Online_offset/id.md
  wiki/Beatmapping/Combo/id.md
  wiki/Beatmapping/Countdown/id.md
  wiki/Beatmapping/New_combo/id.md
  wiki/Beatmapping/Offset/id.md
  wiki/Disambiguation/Mod/id.md
  wiki/Disambiguation/id.md
  wiki/Grade/id.md
  wiki/Modding/Normal_mod/id.md
  wiki/Modding/id.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/Ranking/id.md
  wiki/iNiS_games/id.md
Labels: area:translations, size/M, type:clean up

#4858 [ZH/EN] Add Winter 2021 Playlists B, Fix datetime format
  wiki/Beatmap_Spotlights/Seasons/2020_Autumn/en.md
  wiki/Beatmap_Spotlights/Seasons/2020_Autumn/zh.md
  wiki/Beatmap_Spotlights/Seasons/2020_Summer/en.md
  wiki/Beatmap_Spotlights/Seasons/2020_Summer/zh.md
  wiki/Beatmap_Spotlights/Seasons/2021_Winter/zh.md
Labels: area:community, size/L, type:clean up, type:update

#4862 Announce the prizes of SOFT5 tournament
  wiki/Tournaments/SOFT/5/en.md
Labels: area:tournaments, size/XS, type:update

#4863 Refer to the existing commit in outdated_since (fixup for #4828)
  wiki/BanchoBot/id.md
  wiki/BanchoBot/th.md
  wiki/BanchoBot/zh.md
  wiki/Reporting_Bad_Behaviour/es.md
  wiki/Reporting_Bad_Behaviour/fr.md
  wiki/Reporting_Bad_Behaviour/id.md
  wiki/Reporting_Bad_Behaviour/zh.md
Labels: area:utilities, size/S, type:clean up

#4864 Update Project Loved Team members
  wiki/People/The_Team/Project_Loved_Team/en.md
  wiki/People/The_Team/Project_Loved_Team/id.md
  wiki/People/The_Team/Project_Loved_Team/pl.md
  wiki/People/The_Team/Project_Loved_Team/pt-br.md
  wiki/People/The_Team/Project_Loved_Team/ru.md
  wiki/People/The_Team/Project_Loved_Team/tr.md
  wiki/People/The_Team/Project_Loved_Team/zh.md
Labels: area:community, size/L, type:update

#4866 [RU] Add and update Disambiguation articles
  wiki/Disambiguation/Bancho/ru.md
  wiki/Disambiguation/Combo/ru.md
  wiki/Disambiguation/EZ/ru.md
  wiki/Disambiguation/Easy/ru.md
  wiki/Disambiguation/NM/ru.md
  wiki/Disambiguation/Rank/ru.md
  wiki/Disambiguation/Version/ru.md
  wiki/Disambiguation/ru.md
Labels: area:translations, size/M, type:new article, type:update

#4796 [RU] Update Storyboard Scripting
  wiki/Storyboard_Scripting/ru.md
Labels: area:translations, size/S, type:update

#4859 [ID] Add Staff Log, [EN] Add 2021 to the listing of Staff Logs
  wiki/Staff_Log/en.md
  wiki/Staff_Log/id.md
  wiki/Staff_Log/ru.md
Labels: area:translations, size/M, type:new article, type:update

#4872 Add Irreversible Mechanism FA news post
  news/2021-01-30-new-featured-aritst-irreversible-mechanism.md
Labels: size/M

#4873 [KO] Update Registration
  wiki/Registration/ko.md
Labels: area:translations, size/XS, type:clean up

#4745 [RU] Retranslate GMT
  wiki/People/The_Team/Global_Moderation_Team/ru.md
Labels: area:community, area:translations, size/L, type:rewrite

#4870 [RU] Update NAT
  wiki/People/The_Team/Nomination_Assessment_Team/ru.md
Labels: area:community, area:translations, size/S, type:update

#4869 [RU] Update BanchoBot
  wiki/Article_styling_criteria/Formatting/ru.md
  wiki/BanchoBot/ru.md
Labels: area:translations, area:utilities, size/S, type:update

#4876 SOFT5 Staff updates
  wiki/Tournaments/SOFT/5/en.md
Labels: area:tournaments, size/XS, type:update

#4880 Update BN/GMT/Alumni listing and Staff Log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Global_Moderation_Team/es.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/Global_Moderation_Team/pl.md
  wiki/People/The_Team/Global_Moderation_Team/pt-br.md
  wiki/People/The_Team/Global_Moderation_Team/ru.md
  wiki/People/The_Team/Global_Moderation_Team/th.md
  wiki/People/The_Team/Global_Moderation_Team/tr.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
  wiki/People/The_Team/osu!_Alumni/en.md
  wiki/People/The_Team/osu!_Alumni/es.md
  wiki/People/The_Team/osu!_Alumni/id.md
  wiki/People/The_Team/osu!_Alumni/pl.md
  wiki/People/The_Team/osu!_Alumni/pt-br.md
  wiki/People/The_Team/osu!_Alumni/ru.md
  wiki/People/The_Team/osu!_Alumni/tr.md
  wiki/People/The_Team/osu!_Alumni/zh.md
  wiki/Staff_Log/2021/en.md
Labels: area:community, size/XL, type:update

#4881 [EN/RU] Update "People/peppy"
  wiki/People/peppy/en.md
  wiki/People/peppy/ru.md
Labels: area:community, area:translations, size/S, type:update

#4879 Remove references to #modhelp
  wiki/Guides/How_to_Time_Songs/en.md
  wiki/How_you_can_help!/en.md
  wiki/How_you_can_help!/id.md
  wiki/How_you_can_help!/ru.md
  wiki/How_you_can_help!/tr.md
Labels: size/S, type:clean up

#4883 Conclude osu! South East Asia Tournament 4
  wiki/Tournaments/en.md
  wiki/Tournaments/oSEAT/4/en.md
Labels: size/XL
