Repository ppy/osu-wiki, pull requests merged in 2021-11, with the labels that each got.

#6312 Update `Project Loved Team` To Reflect Username Change
  wiki/People/The_Team/Project_Loved_Team/en.md
  wiki/People/The_Team/Project_Loved_Team/fr.md
  wiki/People/The_Team/Project_Loved_Team/id.md
  wiki/People/The_Team/Project_Loved_Team/ru.md
  wiki/People/The_Team/Project_Loved_Team/tr.md
Labels: size/S

#6314 [ID] Further cleanup `Mappers' Guild`
  wiki/Mappers_Guild/id.md
Labels: area:translations, type:clean up, size/M, area:community

#6311 [ID] Update `Main Page`
  wiki/Main_Page/id.md
Labels: area:translations, type:update, size/XS

#6313 Fix local timezones in quaterfinals listing
  wiki/Tournaments/OWC/2021/en.md
Labels: size/S

#6319 [FR] Fix typo in `BBCode`
  wiki/BBCode/fr.md
Labels: type:clean up, size/XS

#6317 [ID/EN] Update `Tournaments`
  wiki/Tournaments/en.md
  wiki/Tournaments/id.md
Labels: area:translations, type:update, size/XL

#6289 Improve explanation of image formatting in `Article styling criteria/Formatting`
  wiki/Article_styling_criteria/Formatting/en.md
  wiki/Article_styling_criteria/Formatting/fr.md
  wiki/Article_styling_criteria/Formatting/ru.md
  wiki/Article_styling_criteria/Formatting/th.md
Labels: type:update, size/M

#6320 Add `New Featured Artist: linear ring` news post
  news/2021-11-03-new-featured-artist-linear-ring.md
Labels: area:news, size/M

#6242 [FR] Update `Reporting Bad Behaviour/Handling Foul Play`, `Reporting Bad Behaviour`, Add `Abuse`
  wiki/Reporting_Bad_Behaviour/Abuse/fr.md
  wiki/Reporting_Bad_Behaviour/Handling_Foul_Play/fr.md
  wiki/Reporting_Bad_Behaviour/fr.md
Labels: area:translations, type:update, type:new article, size/L, area:community

#6253 [FR] Add `Rules/Code of Conduct for Modding and Mapping`, `Content Usage Guidelines`, `Content Voting Process`, `Explicit Content`, `Song Content Rules`, `Visual Content Considerations`, Update `Rules`
  wiki/Rules/Code_of_Conduct_for_Modding_and_Mapping/fr.md
  wiki/Rules/Content_Usage_Guidelines/fr.md
  wiki/Rules/Content_Voting_Process/fr.md
  wiki/Rules/Explicit_Content/fr.md
  wiki/Rules/Song_Content_Rules/fr.md
  wiki/Rules/Visual_Content_Considerations/fr.md
  wiki/Rules/fr.md
Labels: area:translations, type:update, type:new article, size/L

#6323 Add article sections clarifying tournament bans and their reach
  wiki/Help_Centre/Account/en.md
  wiki/Help_Centre/Account/fr.md
  wiki/Help_Centre/Account/id.md
  wiki/Help_Centre/Account/zh.md
  wiki/Tournaments/Official_support/en.md
Labels: size/S

#6325 Update `OWC 2021` with the Quarterfinals schedule
  wiki/Tournaments/OWC/2021/en.md
Labels: size/M

#6321 Add `Skinners' Bulletin: August 2021` newspost
  news/2021-11-05-skinners-bulletin-august-2021.md
  wiki/shared/news/2021-11-04-skinners-bulletin-august-2021/graph-skinners.png
  wiki/shared/news/2021-11-04-skinners-bulletin-august-2021/graph-skins.png
Labels: area:news, size/M

#6327 Add `New Featured Artist: LV.4` news post
  news/2021-11-06-new-featured-artist-lv4.md
Labels: size/M

#6329 Update `Staff Log` and BN/GMT/NAT/Loved listing, Add Lithuanian to the language group
  meta/group-info/en.yaml
  meta/group-info/es.yaml
  meta/group-info/fr.yaml
  meta/group-info/id.yaml
  meta/group-info/ja.yaml
  meta/group-info/pl.yaml
  meta/group-info/pt-br.yaml
  meta/group-info/ru.yaml
  meta/group-info/th.yaml
  meta/group-info/tr.yaml
  meta/group-info/zh.yaml
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/fr.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Global_Moderation_Team/es.md
  wiki/People/The_Team/Global_Moderation_Team/fr.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/Global_Moderation_Team/ja.md
  wiki/People/The_Team/Global_Moderation_Team/pl.md
  wiki/People/The_Team/Global_Moderation_Team/pt-br.md
  wiki/People/The_Team/Global_Moderation_Team/ru.md
  wiki/People/The_Team/Global_Moderation_Team/th.md
  wiki/People/The_Team/Global_Moderation_Team/tr.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/es.md
  wiki/People/The_Team/Nomination_Assessment_Team/fr.md
  wiki/People/The_Team/Nomination_Assessment_Team/id.md
  wiki/People/The_Team/Nomination_Assessment_Team/pt-br.md
  wiki/People/The_Team/Nomination_Assessment_Team/ru.md
  wiki/People/The_Team/Nomination_Assessment_Team/th.md
  wiki/People/The_Team/Nomination_Assessment_Team/tr.md
  wiki/People/The_Team/Nomination_Assessment_Team/zh.md
  wiki/People/The_Team/Project_Loved_Team/en.md
  wiki/People/The_Team/Project_Loved_Team/fr.md
  wiki/People/The_Team/Project_Loved_Team/id.md
  wiki/People/The_Team/Project_Loved_Team/ru.md
  wiki/People/The_Team/Project_Loved_Team/tr.md
  wiki/People/The_Team/osu!_Alumni/en.md
  wiki/People/The_Team/osu!_Alumni/es.md
  wiki/People/The_Team/osu!_Alumni/fr.md
  wiki/People/The_Team/osu!_Alumni/id.md
  wiki/People/The_Team/osu!_Alumni/ja.md
  wiki/People/The_Team/osu!_Alumni/pl.md
  wiki/People/The_Team/osu!_Alumni/pt-br.md
  wiki/People/The_Team/osu!_Alumni/ru.md
  wiki/People/The_Team/osu!_Alumni/tr.md
  wiki/People/The_Team/osu!_Alumni/zh.md
  wiki/Staff_Log/2021/en.md
Labels: type:update, size/XL, area:community

#6271 [CS] Add `Rules`
  wiki/Rules/cs.md
Labels: area:translations, type:new article, size/M

#6259 [KO] Update `Contribution guide` and `Contribution guide/Best practices`
  wiki/osu!_wiki/Contribution_guide/Best_practices/ko.md
  wiki/osu!_wiki/Contribution_guide/ko.md
Labels: area:translations, type:update, size/L

#6265 [CS] Update `Main_Page` to the new version
  wiki/Main_Page/cs.md
Labels: area:translations, type:update, size/M

#6333 Update community meeting date
  wiki/osu!_Community_Meetings/en.md
Labels: size/XS

#6335 Fix typo in `Brand identity guidelines`
  wiki/Brand_identity_guidelines/en.md
Labels: size/XS

#6336 Fix wrong flag in LVD Team page & add missing translations in ALM page locales
  wiki/People/The_Team/Project_Loved_Team/en.md
  wiki/People/The_Team/Project_Loved_Team/fr.md
  wiki/People/The_Team/Project_Loved_Team/id.md
  wiki/People/The_Team/Project_Loved_Team/ru.md
  wiki/People/The_Team/Project_Loved_Team/tr.md
  wiki/People/The_Team/osu!_Alumni/es.md
  wiki/People/The_Team/osu!_Alumni/fr.md
  wiki/People/The_Team/osu!_Alumni/id.md
  wiki/People/The_Team/osu!_Alumni/ja.md
  wiki/People/The_Team/osu!_Alumni/pl.md
  wiki/People/The_Team/osu!_Alumni/pt-br.md
  wiki/People/The_Team/osu!_Alumni/ru.md
  wiki/People/The_Team/osu!_Alumni/tr.md
  wiki/People/The_Team/osu!_Alumni/zh.md
Labels: type:clean up, size/M

#6338 Update `OWC 2021` for the Semifinals weekend
  wiki/Tournaments/OWC/2021/en.md
Labels: area:tournaments, size/L

#6339 [EN] Fix missing 'the' in `osu! wiki`
  wiki/osu!_wiki/en.md
Labels: type:clean up, size/XS

#6298 [FR] Update `Silence`
  wiki/Silence/fr.md
Labels: area:translations, type:update, size/M

#6337 Add Performance Points & Star Rating Updates article
  news/2021-11-09-performance-points-star-rating-updates.md
  wiki/shared/news/2021-11-08-performance-points-star-rating-updates/rhythm-complexity.png
  wiki/shared/news/2021-11-08-performance-points-star-rating-updates/star-rating-function.png
  wiki/shared/news/2021-11-08-performance-points-star-rating-updates/visible-fl-area.png
Labels: area:news, size/L

#6299 [FR] Update `Skinning/Guides and important threads`
  wiki/Skinning/Guides_and_important_threads/fr.md
Labels: area:translations, type:update, size/M

#6332 [FR] Add `Skinning/skin.ini/Blank`
  wiki/Skinning/skin.ini/Blank/fr.md
Labels: area:translations, type:new article, size/XXL

#6331 [FR] Add `People/The_Team/Language_Surveillance_Division`
  wiki/People/The_Team/Language_Surveillance_Division/fr.md
Labels: area:translations, type:new article, size/S

#6342 Fix newspost header format misalignment
  news/2021-11-09-performance-points-star-rating-updates.md
Labels: size/XS

#6268 [RU] Add `Rules/Content voting process`
  wiki/Rules/Content_Voting_Process/ru.md
  wiki/Rules/Visual_Content_Considerations/ru.md
Labels: area:translations, type:new article, size/M, area:community

#6340 [DE] Add `osu! wiki`
  wiki/osu!_wiki/de.md
Labels: area:translations, type:new article, size/M

#6344 [DE] Update `Rules`
  wiki/Rules/de.md
Labels: area:translations, type:update, size/S

#6346 Add Chroma Featured Artist announcement newspost
  news/2021-11-10-new-featured-artist-chroma.md
Labels: size/L

#6349 Fix ThatsNotAName's Flag in `Project Loved Team`
  wiki/People/The_Team/Project_Loved_Team/en.md
  wiki/People/The_Team/Project_Loved_Team/fr.md
  wiki/People/The_Team/Project_Loved_Team/id.md
  wiki/People/The_Team/Project_Loved_Team/ru.md
  wiki/People/The_Team/Project_Loved_Team/tr.md
Labels: size/S

#6292 [ID/EN] Translate mapping-related stubs; use a more formal language in some of the original stubs
  wiki/Beatmap_Editor/Beat_Snap/id.md
  wiki/Beatmapping/Antiflow/id.md
  wiki/Beatmapping/Overmapping/id.md
  wiki/Bit_rate/id.md
  wiki/Downbeat/id.md
  wiki/Glossary/Active_object/id.md
  wiki/Glossary/Dash/id.md
  wiki/Glossary/Edge_dash/id.md
  wiki/Glossary/Walk/id.md
  wiki/Grid_snapping/en.md
  wiki/Grid_snapping/id.md
  wiki/History_of_osu!/Online_rankings/osu!/id.md
  wiki/History_of_osu!/Online_rankings/osu!catch/id.md
  wiki/History_of_osu!/Online_rankings/osu!mania/id.md
  wiki/History_of_osu!/Online_rankings/osu!taiko/id.md
  wiki/Hit_object/Approach_circle/id.md
  wiki/Hit_object/Banana/id.md
  wiki/Hit_object/Fruit/id.md
  wiki/Hit_object/Hit_circle/id.md
  wiki/Hit_object/Hyperfruit/id.md
  wiki/Hit_object/Juice_stream/en.md
  wiki/Hit_object/Juice_stream/id.md
  wiki/Hit_object/Reverse_slider/id.md
  wiki/Hit_object/Slider/en.md
  wiki/Hit_object/Slider/id.md
  wiki/Hit_object/Slider_anchor/id.md
  wiki/Hit_object/Slider_velocity/en.md
  wiki/Hit_object/Slider_velocity/id.md
  wiki/Hit_object/Sliderbody/id.md
  wiki/Hit_object/Sliderhead/en.md
  wiki/Hit_object/Sliderhead/id.md
  wiki/Hit_object/Slidertail/id.md
  wiki/Hit_object/Spinner/id.md
  wiki/Mapping_Techniques/Blanket/id.md
  wiki/Mapping_Techniques/Overlap/id.md
  wiki/Mapping_Techniques/Stack/id.md
  wiki/Mapping_Techniques/Time-distance_equality/id.md
  wiki/Recalculate_slider_lengths/id.md
  wiki/Resnap/en.md
  wiki/Resnap/id.md
  wiki/Skinning/Skinner/id.md
  wiki/osupixel/id.md
Labels: area:translations, type:new article, type:clean up, size/XL, area:beatmapping

#6347 Add osu!trivium Quiz 2021 announcement newspost
  news/2021-11-10-osu!trivium-quiz-2021.md
  wiki/shared/news/2021-11-10-osu-trivium-quiz-2021/otq-2021-banner.png
  wiki/shared/news/2021-11-10-osu-trivium-quiz-2021/otq-2021-banner@2x.png
Labels: area:news, size/M

#6283 [FR] Update `People/The_Team/Beatmap_Nominators`
  wiki/People/The_Team/Beatmap_Nominators/fr.md
Labels: area:translations, type:update, size/M

#6284 [FR] Update `Project Loved`
  wiki/Project_Loved/fr.md
Labels: area:translations, type:update, size/M

#6285 [ES] Add `Twitter`
  wiki/Twitter/es.md
Labels: area:translations, type:new article, size/S

#6350 Fix rate-limited link in osu!trivium Quiz 2021 article
  news/2021-11-10-osu!trivium-quiz-2021.md
Labels: size/XS

#6356 Update match schedule for `OWC 2021`
  wiki/Tournaments/OWC/2021/en.md
Labels: type:update, area:tournaments, size/S

#6309 [DE] Add `Twitter`
  wiki/Twitter/de.md
Labels: area:translations, type:new article, size/S

#6308 [FR] Update `Twitter`
  wiki/Twitter/fr.md
Labels: area:translations, type:update, size/M

#6315 [DE] Update `Main Page`
  wiki/Main_Page/de.md
Labels: area:translations, type:update, size/M

#6316 [DE] Update `Disambiguation`
  wiki/Disambiguation/de.md
Labels: area:translations, type:update, size/S

#6291 [DE] Add `Disambiguation/osu!`
  wiki/Disambiguation/osu!/de.md
Labels: area:translations, type:new article, size/XS

#6301 [DE] Add `Disambiguation/Version`
  wiki/Disambiguation/Version/de.md
Labels: area:translations, type:new article, size/XS

#6303 [VI] Add `Play style/Hybrid`
  wiki/Play_style/Hybrid/vi.md
Labels: area:translations, type:new article, size/S

#6357 Add paragraph describing hotfix to osu! SR rework newspost
  news/2021-11-09-performance-points-star-rating-updates.md
Labels: area:news, size/S

#6359 Add `New Featured Artist: FATE GEAR` news post
  news/2021-11-13-new-featured-artist-fate-gear.md
Labels: size/M

#6362 Update `OWC 2021` with missing information
  wiki/Tournaments/OWC/2021/en.md
Labels: size/S

#6365 Update community meetings listing
  wiki/osu!_Community_Meetings/en.md
Labels: type:update, size/XS, area:community

#6361 [DE] Add `osu!dev Discord server`
  wiki/osu!dev_Discord_server/de.md
Labels: area:translations, type:new article, size/M, area:community

#6366 [ID] Add `osu!_Community_Meetings`
  wiki/osu!_Community_Meetings/id.md
Labels: area:translations, type:new article, size/M, area:community

#6372 Update `OWC 2021` for the Finals weekend
  wiki/Tournaments/OWC/2021/en.md
Labels: size/M

#6376 Add `Performance Points Committee` article
  wiki/People/Performance_Points_Committee/en.md
Labels: type:new article, size/S, area:community

#6307 [FR] Update `Storyboard`, `Storyboard/Scripting`, Add `Storyboard/Scripting/Audio`, `Cheat Sheet`, `Commands`, `Compound_Commands`, `General_Rules`, `Objects`, `osu!_File_Toggles`, `Shorthand`, `Variables`
  wiki/Storyboard/Scripting/Audio/fr.md
  wiki/Storyboard/Scripting/Cheat_Sheet/fr.md
  wiki/Storyboard/Scripting/Commands/fr.md
  wiki/Storyboard/Scripting/Compound_Commands/fr.md
  wiki/Storyboard/Scripting/General_Rules/fr.md
  wiki/Storyboard/Scripting/Objects/fr.md
  wiki/Storyboard/Scripting/Shorthand/fr.md
  wiki/Storyboard/Scripting/Variables/fr.md
  wiki/Storyboard/Scripting/fr.md
  wiki/Storyboard/Scripting/osu!_File_Toggles/fr.md
  wiki/Storyboard/fr.md
Labels: area:translations, type:update, size/XL

#6318 [BG] Update `ppv1`
  wiki/Performance_points/ppv1/bg.md
Labels: area:translations, type:update, size/M

#6322 [FR] Add `osu!_wiki`, `Maintenance`, `Maintenance/List_of_maintainers`, Update `Contribution_guide`, `Best_practices`, `GitHub_Desktop`, `GitHub_Web_Interface`
  wiki/osu!_wiki/Contribution_guide/Best_practices/fr.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/fr.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Web_Interface/fr.md
  wiki/osu!_wiki/Contribution_guide/fr.md
  wiki/osu!_wiki/Maintenance/List_of_maintainers/fr.md
  wiki/osu!_wiki/Maintenance/fr.md
  wiki/osu!_wiki/fr.md
Labels: area:translations, type:update, type:new article, size/XL

#6363 [DE] Cleanup outdated articles in `Disambiguation`
  wiki/Disambiguation/Bancho/de.md
  wiki/Disambiguation/EZ/de.md
  wiki/Disambiguation/Easy/de.md
  wiki/Disambiguation/Mod/de.md
Labels: area:translations, type:update, size/M

#6364 [DE] Add missing articles for `Disambiguation`
  wiki/Disambiguation/Combo/de.md
  wiki/Disambiguation/Fail/de.md
  wiki/Disambiguation/NC/de.md
  wiki/Disambiguation/NM/de.md
  wiki/Disambiguation/Offset/de.md
  wiki/Disambiguation/Ouendan/de.md
  wiki/Disambiguation/Rank/de.md
Labels: area:translations, type:new article, size/M

#6370 [DE] Update `Registration` and `Installation`
  wiki/Installation/de.md
  wiki/Registration/de.md
Labels: area:translations, type:update, size/M

#6379 Add `New Featured Artist: Kurubukko` news post
  news/2021-11-17-new-featured-artist-kurubukko.md
  wiki/Featured_Artists/Featured_Artist_Showcase_Beatmaps/en.md
Labels: size/M

#6378 [DE] Add `Gameplay` and `Gameplay/Notelock`
  wiki/Gameplay/Notelock/de.md
  wiki/Gameplay/de.md
Labels: area:translations, type:new article, size/M

#6381 OWC2021: fix: semifinals -> finals
  wiki/Tournaments/OWC/2021/en.md
Labels: size/XS

#6380 [UK] Add `osu! wiki`
  wiki/osu!_wiki/uk.md
Labels: area:translations, size/M

#6389 Update schedules for `OWC 2021` Finals weekend
  wiki/Tournaments/OWC/2021/en.md
Labels: size/XS

#6395 Fix CI errors for `History_of_osu!/2015`
  wiki/History_of_osu!/2015/en.md
Labels: size/XS

#6341 Add `UKCC6` tournament article
  wiki/Tournaments/UKCC/4/en.md
  wiki/Tournaments/UKCC/6/en.md
  wiki/Tournaments/UKCC/6/img/badge.jpg
  wiki/Tournaments/UKCC/6/img/logo.png
  wiki/Tournaments/UKCC/6/img/medals.jpg
  wiki/Tournaments/UKCC/6/img/trophy.jpg
  wiki/Tournaments/UKCC/7/en.md
Labels: type:new article, area:tournaments, size/XL

#6383 [DE] Update articles in `Disambiguation`
  wiki/Disambiguation/Bancho/de.md
  wiki/Disambiguation/Combo/de.md
  wiki/Disambiguation/EZ/de.md
  wiki/Disambiguation/Easy/de.md
  wiki/Disambiguation/Fail/de.md
  wiki/Disambiguation/Mod/de.md
  wiki/Disambiguation/NC/de.md
  wiki/Disambiguation/NM/de.md
  wiki/Disambiguation/Offset/de.md
  wiki/Disambiguation/Ouendan/de.md
  wiki/Disambiguation/Rank/de.md
  wiki/Disambiguation/Version/de.md
  wiki/Disambiguation/de.md
  wiki/Disambiguation/osu!/de.md
Labels: area:translations, type:update, size/M

#6384 [DE] Update `osu!api`
  wiki/osu!api/de.md
Labels: area:translations, area:utilities, type:update, size/S

#6385 [DE] Update `Do you really want to ask peppy`
  wiki/Do_you_really_want_to_ask_peppy/de.md
Labels: area:translations, type:update, size/S

#6387 [DE] add `Gameplay/Accuracy`
  wiki/Gameplay/Accuracy/de.md
Labels: area:translations, type:new article, size/M

#6388 [PT-BR] Add `Skinning`
  wiki/Skinning/pt-br.md
Labels: area:translations, type:new article, size/S, area:skinning

#6360 Update `osu!stream`
  wiki/osu!stream/en.md
Labels: type:update, size/L, area:client

#6326 [BG] Add `Help centre`
  wiki/Help_Centre/bg.md
Labels: area:translations, type:new article, size/M

#6397 [DE] Add `Gameplay/Drain_time`
  wiki/Gameplay/Drain_time/de.md
Labels: area:translations, type:new article, size/S

#6214 [BG] Add all articles from the `People` category
  wiki/People/Community_Contributors/bg.md
  wiki/People/The_Team/Account_support_team/bg.md
  wiki/People/The_Team/Beatmap_Nominators/Beatmap_Nominator_Test/bg.md
  wiki/People/The_Team/Beatmap_Nominators/Beatmap_Veto/bg.md
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/bg.md
  wiki/People/The_Team/Beatmap_Nominators/Expectations/bg.md
  wiki/People/The_Team/Beatmap_Nominators/General_Information/bg.md
  wiki/People/The_Team/Beatmap_Nominators/Rules/bg.md
  wiki/People/The_Team/Beatmap_Nominators/bg.md
  wiki/People/The_Team/Developers/bg.md
  wiki/People/The_Team/Global_Moderation_Team/bg.md
  wiki/People/The_Team/Language_Surveillance_Division/bg.md
  wiki/People/The_Team/Nomination_Assessment_Team/bg.md
  wiki/People/The_Team/Project_Loved_Team/bg.md
  wiki/People/The_Team/Support_Team/bg.md
  wiki/People/The_Team/bg.md
  wiki/People/The_Team/osu!_Alumni/bg.md
  wiki/People/Users_with_unique_titles/bg.md
  wiki/People/bg.md
  wiki/People/peppy/bg.md
Labels: area:translations, type:new article, size/XXL, area:community

#6404 [DE] Cleanup `Reporting_Bad_Behaviour\Abuse`
  wiki/Reporting_Bad_Behaviour/Abuse/de.md
Labels: area:translations, type:clean up, size/S

#6405 [DE] Cleanup `Guides\Beginner's_Tutorial`
  wiki/Guides/Beginner's_Tutorial/de.md
Labels: area:translations, type:clean up, size/XS

#6406 Fix one OWC 2021 match result
  wiki/Tournaments/OWC/2021/en.md
Labels: area:tournaments, type:clean up, size/XS

#6411 Fix a Quarterfinals match result formatting in `OWC/2021`
  wiki/Tournaments/OWC/2021/en.md
Labels: area:tournaments, type:clean up

#6412 [DE] Add `Gameplay/Mind_block`
  wiki/Gameplay/Mind_block/de.md
Labels: area:translations, type:new article, size/S

#6390 Update difficulty spectrum
  wiki/Beatmap/Difficulty/img/osu-difficulty-spectrum.png
  wiki/Beatmap/Difficulty/img/osu-difficulty-spectrum.svg
Labels: size/L

#6408 Remove system file formats
  wiki/osu!_File_Formats/Db_(file_format)/en.md
  wiki/osu!_File_Formats/Db_(file_format)/fr.md
  wiki/osu!_File_Formats/Db_(file_format)/pt-br.md
  wiki/osu!_File_Formats/Db_(file_format)/zh.md
  wiki/osu!_File_Formats/de.md
  wiki/osu!_File_Formats/es.md
  wiki/osu!_File_Formats/fr.md
  wiki/osu!_File_Formats/id.md
  wiki/osu!_File_Formats/pl.md
  wiki/osu!_File_Formats/pt-br.md
  wiki/osu!_File_Formats/ru.md
  wiki/osu!_File_Formats/zh.md
Labels: type:update, size/XL, area:client

#6415 [EN/ID] Fix forum modding reference on `Beatmap Discussion`
  wiki/Beatmap_Discussion/en.md
  wiki/Beatmap_Discussion/id.md
Labels: size/XS

#6417 Add `New Featured Artist: Yooh` news post
  news/2021-11-21-new-featured-artist-yooh.md
Labels: size/M

#6419 Update `OWC 2021` for the Grand Finals weekend
  wiki/Tournaments/OWC/2021/en.md
Labels: size/M

#6425 Update `OWC 2021`
  wiki/Tournaments/OWC/2021/en.md
Labels: size/XS

#6423 Nightcore: Fix score multiplier for osu!
  wiki/Game_modifier/Nightcore/en.md
  wiki/Game_modifier/Nightcore/fr.md
  wiki/Game_modifier/Nightcore/id.md
Labels: type:clean up, size/XS, area:gameplay

#6424 [ID] Update `People/The_Team/Account_support_team`
  wiki/People/The_Team/Account_support_team/id.md
Labels: area:translations, type:update, size/XS

#6391 [ID] Add `Bubble` and `Forum_modding` and Update `Modding/Beatmap_Appreciation_Team`, `Modding/Mapping_Assistance_Team`, `Modding/Nuke`, `Modding/Proto-bubble`, and `Modding/Star_priority`
  wiki/Modding/Beatmap_Appreciation_Team/id.md
  wiki/Modding/Bubble/id.md
  wiki/Modding/Forum_modding/id.md
  wiki/Modding/Mapping_Assistance_Team/id.md
  wiki/Modding/Nuke/id.md
  wiki/Modding/Proto-bubble/id.md
  wiki/Modding/Star_priority/id.md
Labels: area:translations, type:update, type:new article, size/L

#6398 Add Project Loved: November 2021 Newspost
  news/2021-11-21-project-loved-november-2021.md
  wiki/shared/news/2021-11-21-project-loved-november-2021/1006176.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/1032781.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/1084285.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/1096471.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/1170842.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/1178390.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/1188950.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/1191248.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/1217647.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/1232243.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/1257336.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/126492.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/1306418.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/1307846.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/1313122.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/1325317.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/1441640.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/1485845.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/1487495.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/1569493.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/1624095.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/438819.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/480077.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/542969.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/576883.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/581007.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/650554.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/660649.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/801435.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/817364.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/868220.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/912281.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/933075.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/954628.jpg
  wiki/shared/news/2021-11-21-project-loved-november-2021/981773.jpg
Labels: area:news, size/L

#6427 Fix incorrect map in Project Loved article
  news/2021-11-21-project-loved-november-2021.md
Labels: size/XS

#6414 Remove remaining links to `osu!_File_Formats\Db_(file_format)`
  wiki/Beatmap/Online_offset/en.md
  wiki/Beatmap/Online_offset/fr.md
  wiki/Beatmap/Online_offset/id.md
  wiki/Main_Page/bg.md
  wiki/Main_Page/cs.md
  wiki/Main_Page/de.md
  wiki/Main_Page/en.md
  wiki/Main_Page/es.md
  wiki/Main_Page/fr.md
  wiki/Main_Page/id.md
  wiki/Main_Page/it.md
  wiki/Main_Page/ja.md
  wiki/Main_Page/ko.md
  wiki/Main_Page/pl.md
  wiki/Main_Page/pt-br.md
  wiki/Main_Page/ro.md
  wiki/Main_Page/ru.md
  wiki/Main_Page/th.md
  wiki/Main_Page/tr.md
  wiki/Main_Page/uk.md
  wiki/Main_Page/zh-tw.md
  wiki/Main_Page/zh.md
Labels: type:clean up, size/M

#6351 [ZH-TW] Add `osu!_Community_Meetings`
  wiki/osu!_Community_Meetings/zh-tw.md
Labels: area:translations, type:new article, size/M, area:community

#6430 Add Winter 2021 Fanart Contest announcement newspost
  news/2021-11-23-winter-fanart-contest.md
Labels: size/M

#6393 [ID] Add `Organisations` and `Organisations/osu!_UCI`
  wiki/Organisations/id.md
  wiki/Organisations/osu!_UCI/id.md
Labels: area:translations, type:new article, size/M

#6432 Add `New Featured Artist: Matduke` news post
  news/2021-11-24-new-featured-artist-matduke.md
Labels: size/M

#6328 [FR] Add `Modding/Forum_modding`, `Bubble`
  wiki/Modding/Bubble/fr.md
  wiki/Modding/Forum_modding/fr.md
Labels: area:translations, type:new article, size/L

#6345 [FR] Add `Skinning/FAQ`, Update `Skinning/Interface`
  wiki/Skinning/FAQ/fr.md
  wiki/Skinning/Interface/fr.md
Labels: area:translations, type:update, type:new article, size/XXL, area:skinning

#6354 [FR] Add `Skinning/osu!`, `Skinning/osu!catch`
  wiki/Skinning/osu!/fr.md
  wiki/Skinning/osu!catch/fr.md
Labels: area:translations, type:new article, size/XXL, area:skinning

#6355 [FR] Update `Skinning`, Add `Skinning/osu!taiko`, `Skinning/Sounds`
  wiki/Skinning/Sounds/fr.md
  wiki/Skinning/fr.md
  wiki/Skinning/osu!taiko/fr.md
Labels: area:translations, type:update, type:new article, size/XXL, area:skinning

#6367 [FR] Add `Skinning/skin.ini`
  wiki/Skinning/skin.ini/fr.md
Labels: area:translations, type:new article, size/XL, area:skinning

#6368 [FR] Add `User_title`
  wiki/User_title/fr.md
Labels: area:translations, type:new article, size/M

#6371 [FR] Update `osu!_File_Formats`, `Osb`, `Osk`, `Osu`, `Osz`
  wiki/osu!_File_Formats/Osb_(file_format)/fr.md
  wiki/osu!_File_Formats/Osk_(file_format)/fr.md
  wiki/osu!_File_Formats/Osr_(file_format)/fr.md
  wiki/osu!_File_Formats/Osu_(file_format)/fr.md
  wiki/osu!_File_Formats/Osz_(file_format)/fr.md
  wiki/osu!_File_Formats/fr.md
Labels: area:translations, type:update, size/XL

#6401 [FR] Update `Article_styling_criteria/Formatting`
  wiki/Article_styling_criteria/Formatting/fr.md
Labels: area:translations, type:update, size/M

#6369 [FR] Add `osu!_Community_Meetings`
  wiki/osu!_Community_Meetings/fr.md
Labels: area:translations, type:new article, size/M

#6449 Add `New Featured Artist: Marmalade butcher` news post
  news/2021-11-27-new-featured-artist-marmalade-butcher.md
Labels: size/M

#6455 Update osu! community meetings
  wiki/osu!_Community_Meetings/en.md
Labels: size/XS

#6457 [ID] Update `osu!_Community_Meetings`
  wiki/osu!_Community_Meetings/id.md
Labels: area:translations, type:update, size/XS, area:community

#6456 [ZH-TW] Update `osu!_Community_Meetings`
  wiki/osu!_Community_Meetings/zh-tw.md
Labels: area:translations, type:update, size/XS, area:community

#6458 [FR] Update `osu!_Community_Meetings`
  wiki/osu!_Community_Meetings/fr.md
Labels: area:translations, type:update, size/XS, area:community

#6450 Update Staff Log & Listings
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/fr.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Global_Moderation_Team/es.md
  wiki/People/The_Team/Global_Moderation_Team/fr.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/Global_Moderation_Team/ja.md
  wiki/People/The_Team/Global_Moderation_Team/pl.md
  wiki/People/The_Team/Global_Moderation_Team/pt-br.md
  wiki/People/The_Team/Global_Moderation_Team/ru.md
  wiki/People/The_Team/Global_Moderation_Team/th.md
  wiki/People/The_Team/Global_Moderation_Team/tr.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/es.md
  wiki/People/The_Team/Nomination_Assessment_Team/fr.md
  wiki/People/The_Team/Nomination_Assessment_Team/id.md
  wiki/People/The_Team/Nomination_Assessment_Team/pt-br.md
  wiki/People/The_Team/Nomination_Assessment_Team/ru.md
  wiki/People/The_Team/Nomination_Assessment_Team/th.md
  wiki/People/The_Team/Nomination_Assessment_Team/tr.md
  wiki/People/The_Team/Nomination_Assessment_Team/zh.md
  wiki/People/The_Team/osu!_Alumni/en.md
  wiki/People/The_Team/osu!_Alumni/es.md
  wiki/People/The_Team/osu!_Alumni/fr.md
  wiki/People/The_Team/osu!_Alumni/id.md
  wiki/People/The_Team/osu!_Alumni/ja.md
  wiki/People/The_Team/osu!_Alumni/pl.md
  wiki/People/The_Team/osu!_Alumni/pt-br.md
  wiki/People/The_Team/osu!_Alumni/ru.md
  wiki/People/The_Team/osu!_Alumni/tr.md
  wiki/People/The_Team/osu!_Alumni/zh.md
  wiki/Staff_Log/2021/en.md
Labels: type:update, size/L, area:community

#6429 [DE] Add `meta/flag-references` and update flag titles in German articles
  meta/flag-references/de.md
  wiki/People/The_Team/Global_Moderation_Team/de.md
  wiki/People/The_Team/Support_Team/de.md
  wiki/People/The_Team/osu!_Alumni/de.md
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/de.md
  wiki/Tournaments/GTS/AGTS_2019/de.md
  wiki/Tournaments/OWC/2013/de.md
  wiki/Tournaments/OWC/2014/de.md
  wiki/Tournaments/OWC/2015/de.md
  wiki/Tournaments/TWC/2015/de.md
  wiki/Tournaments/de.md
Labels: area:translations, area:utilities, size/XL

#6439 [DE] Add `Gameplay/Spectating` and `Gameplay/Tablet_cover`
  wiki/Gameplay/Spectating/de.md
  wiki/Gameplay/Tablet_cover/de.md
Labels: size/M

#6374 [ZH-TW] Add `User_title`
  wiki/User_title/zh-tw.md
Labels: area:translations, type:new article, size/M

#6416 [DE] Add `Gameplay/Play_time` and `Gameplay/Slider_break`
  wiki/Gameplay/Play_time/de.md
  wiki/Gameplay/Slider_break/de.md
Labels: area:translations, type:new article, size/S

#6435 [DE] Add `Help_Centre\Installation_and_registration`
  wiki/Help_Centre/Installation_and_registration/de.md
Labels: area:translations, type:new article, size/M

#6402 [FR] Update `Help_Centre/Account`
  wiki/Help_Centre/Account/fr.md
Labels: area:translations, type:update, size/S

#6434 [DE] Add `Help_Centre`
  wiki/Help_Centre/de.md
Labels: area:translations, type:new article, size/M

#6375 [ZH-TW] Add `osu!_wiki/Maintenance/List_of_maintainers`
  wiki/osu!_wiki/Maintenance/List_of_maintainers/zh-tw.md
Labels: area:translations, type:new article, size/M

#6377 [ZH-TW] Add `Medals/Unlock_requirements`
  wiki/Medals/Unlock_requirements/zh-tw.md
Labels: area:translations, type:new article, size/S

#6373 [ZH-TW] Update `Main_Page`
  wiki/Main_Page/zh-tw.md
Labels: area:translations, type:update, size/M

#6382 [FR] Add `osu!_Program_Files/User_Configuration_File`, Update `osu!_Program_Files`
  wiki/osu!_Program_Files/User_Configuration_File/fr.md
  wiki/osu!_Program_Files/fr.md
Labels: area:translations, type:new article, size/L

#6399 [FR] Add/update all articles of the `osu!tourney` category
  wiki/osu!tourney/Multiplayer_Usage/fr.md
  wiki/osu!tourney/Setup/fr.md
  wiki/osu!tourney/Skinning/fr.md
  wiki/osu!tourney/Spectator_Usage/fr.md
  wiki/osu!tourney/Tournament_Management_Commands/fr.md
  wiki/osu!tourney/fr.md
  wiki/osu!tourney/osu!lazer_tournament_client/fr.md
Labels: area:translations, type:update, size/L

#6413 [DE] Update `Internet_Relay_Chat`
  wiki/Internet_Relay_Chat/de.md
Labels: area:translations, type:update, size/L

#6348 [DE] Add `osu!stream`
  wiki/osu!stream/de.md
Labels: area:translations, type:new article, size/L, area:client

#6420 [ID] Retranslate "beatmap pack" in medal-related articles. Reword `Medals/Unlock_requirements`
  wiki/Medals/Unlock_requirements/Beatmap_challenge_packs/id.md
  wiki/Medals/Unlock_requirements/Beatmap_packs/id.md
  wiki/Medals/Unlock_requirements/Beatmap_spotlights/id.md
  wiki/Medals/Unlock_requirements/Seasonal_spotlights/id.md
  wiki/Medals/Unlock_requirements/id.md
  wiki/Medals/id.md
Labels: area:translations, type:update, size/L

#6396 [FR] Update `osu!talk`
  wiki/osu!talk/fr.md
Labels: area:translations, type:update, size/L

#6407 [FR] Update `Mapping_and_Modding_Timeline`
  wiki/Mapping_and_Modding_Timeline/fr.md
Labels: area:translations, type:update, size/M

#6422 [ID] Update `Mascots`
  wiki/Mascots/id.md
Labels: area:translations, type:update, size/S

#6421 [ID] Update `Help_centre/Account`
  wiki/Help_Centre/Account/id.md
Labels: area:translations, type:update, size/S

#6410 [FR] Update `Medals/Unlock_requirements/Dedication`, `Medals/Unlock_requirements`, `Medals/Legacy_Beatmap_Packs`, `Medals`
  wiki/Medals/Legacy_Beatmap_Packs/fr.md
  wiki/Medals/Unlock_requirements/Dedication/fr.md
  wiki/Medals/Unlock_requirements/fr.md
  wiki/Medals/fr.md
Labels: area:translations, type:update, size/L

#6433 [RU] Add `Help Centre/Account`
  wiki/Help_Centre/Account/ru.md
Labels: area:translations, type:new article, size/L

#6463 Update `OWC 2021` with Grand Finals information
  wiki/Tournaments/OWC/2021/en.md
  wiki/Tournaments/OWC/2021/img/badge1.png
  wiki/Tournaments/OWC/2021/img/badge2.png
  wiki/Tournaments/OWC/2021/img/badge3.png
  wiki/Tournaments/OWC/2021/img/podium.jpg
Labels: type:update, area:tournaments, size/M

#6464 Update `OWC 2021` with Grand Final stats
  wiki/Tournaments/OWC/2021/en.md
Labels: size/XS

#6466 Update `Tournaments` index with updated `OWC2021` podium
  wiki/Tournaments/en.md
Labels: size/XS

#6442 Add `Disambiguation/Score`; make individual articles of some `Score` sections
  wiki/Disambiguation/Score/en.md
  wiki/History_of_osu!/April_Fools/en.md
  wiki/History_of_osu!/April_Fools/fr.md
  wiki/History_of_osu!/Online_rankings/osu!/en.md
  wiki/History_of_osu!/Online_rankings/osu!/fr.md
  wiki/History_of_osu!/Online_rankings/osu!/id.md
  wiki/Interface/en.md
  wiki/Interface/fr.md
  wiki/Interface/ru.md
  wiki/Interface/zh.md
  wiki/Score/Ranked_score/en.md
  wiki/Score/Ranked_score/fr.md
  wiki/Score/Total_score/en.md
  wiki/Score/Total_score/fr.md
  wiki/Score/en.md
  wiki/Score/fr.md
  wiki/redirect.yaml
Labels: type:new article, type:clean up, size/L

#6428 Add CI step for checking if translations are properly marked as outdated
  .github/workflows/continuous-integration.yml
Labels: area:utilities, size/M

#6465 Update `Countries that participated in osu! tournaments` with `OWC2021` results
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/en.md
Labels: size/S

#6461 [EN/ID/FR] Update `osu!tourney/Tournament_Management_Commands`
  wiki/osu!tourney/Tournament_Management_Commands/en.md
  wiki/osu!tourney/Tournament_Management_Commands/fr.md
  wiki/osu!tourney/Tournament_Management_Commands/id.md
Labels: area:utilities, type:update, size/XS

#6467 Add Mentorship Winter 2022 signups newspost
  news/2021-12-02-community-mentorship-program-winter-2022-signups-now-open.md
Labels: area:news, size/M

#6468 Add more links to articles
  wiki/Beatmapping/Slider_tick_rate/en.md
  wiki/Beatmapping/Slider_tick_rate/fr.md
  wiki/Beatmapping/Slider_tick_rate/id.md
  wiki/Hit_object/Slidertail/en.md
  wiki/Hit_object/Slidertail/fr.md
  wiki/Hit_object/Slidertail/id.md
  wiki/Hit_object/Slidertail/zh-tw.md
  wiki/Modding/Modder/en.md
  wiki/Modding/Modder/fr.md
  wiki/Modding/Modder/id.md
Labels: type:clean up, size/S

#6324 [TH] Added `Writing`, `Article Styling Criteria`, `Beatmap Description`, `Category`, `Primary Metadata Source`, `TAG`
  wiki/Article_styling_criteria/Writing/th.md
  wiki/Article_styling_criteria/th.md
  wiki/Beatmap/Beatmap_description/th.md
  wiki/Beatmap/Category/th.md
  wiki/Beatmap/Primary_metadata_source/th.md
  wiki/Beatmap/TAG/th.md
Labels: area:translations, type:new article, size/L

#6386 [FR] Update `osu!academy`
  wiki/Community/Video_series/osu!academy/fr.md
Labels: area:translations, type:update, size/L

#6436 [FR] Update `meta/flag-references` and flags in articles
  meta/flag-references/fr.md
  wiki/Beatmap_Spotlights/fr.md
  wiki/Contests/A_Labour_of_Love_Contest/fr.md
  wiki/Contests/FBC/fr.md
  wiki/Contests/Mapping_Olympiad/fr.md
  wiki/Contests/fr.md
  wiki/Contests/oBWC/1/fr.md
  wiki/Featured_Artists/Featured_Artist_Showcase_Beatmaps/fr.md
  wiki/History_of_osu!/Online_rankings/osu!/fr.md
  wiki/Mapping_and_Modding_Timeline/fr.md
  wiki/People/Community_Contributors/fr.md
  wiki/People/The_Team/Beatmap_Nominators/fr.md
  wiki/People/The_Team/Developers/fr.md
  wiki/People/The_Team/Global_Moderation_Team/fr.md
  wiki/People/The_Team/Nomination_Assessment_Team/fr.md
  wiki/People/The_Team/Project_Loved_Team/fr.md
  wiki/People/The_Team/fr.md
  wiki/People/The_Team/osu!_Alumni/fr.md
  wiki/People/Users_with_unique_titles/fr.md
  wiki/Tournaments/CFC/4/fr.md
  wiki/Tournaments/GO/3/fr.md
  wiki/Tournaments/GTS/AGTS_2019/fr.md
  wiki/Tournaments/GTS/IGTS_2019/fr.md
  wiki/Tournaments/MWC/2014/fr.md
  wiki/Tournaments/MWC/2017_4K/fr.md
  wiki/Tournaments/OWC/2013/fr.md
  wiki/Tournaments/OWC/2014/fr.md
  wiki/Tournaments/TSC/1/fr.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/oMMFF/1/fr.md
  wiki/osu!_wiki/Maintenance/List_of_maintainers/fr.md
Labels: area:translations, area:utilities, type:update, size/L

#6409 [FR] Update `Mascots`
  wiki/Mascots/fr.md
Labels: area:translations, type:update, size/M

#6451 [DE] Add `Article_styling_criteria`, `Article_styling_criteria\Formatting` and `Article_styling_criteria\Writing`
  wiki/Article_styling_criteria/Formatting/de.md
  wiki/Article_styling_criteria/Writing/de.md
  wiki/Article_styling_criteria/de.md
Labels: area:translations, type:new article, size/XXL

#6469 [ID] Fix Typo in `Bot_account`
  wiki/Bot_account/id.md
Labels: area:translations, type:update, size/S
