Repository ppy/osu-wiki, pull requests merged in 2022-09, with the labels that each got.

#7935 Update `MWC4K 2022` Semifinas Schedule
  wiki/Tournaments/MWC/2022_4K/en.md
Labels: size/S

#7913 [JA] Add `Client/Keyboard_shortcuts`
  wiki/Client/Keyboard_shortcuts/ja.md
Labels: area:translations, type:new article, size/L

#7902 Add the `osu!monthly, August 2022` newspost
  news/2022-09-01-osumonthly-2.md
  wiki/shared/news/2022-09-01-osumonthly-2/coebanner.jpg
  wiki/shared/news/2022-09-01-osumonthly-2/collabbanner.jpg
  wiki/shared/news/2022-09-01-osumonthly-2/monthlybanner.jpg
  wiki/shared/news/2022-09-01-osumonthly-2/osu.jpg
  wiki/shared/news/2022-09-01-osumonthly-2/osu@2x.jpg
Labels: area:news, type:new article, size/L

#7938 Add 15th Anniversary Art Contest voting newspost
  news/2022-09-01-anniversay-art-voting.md
Labels: area:news, size/S

#7940 Small fixes for the `osu!monthly, August 2022` newspost
  news/2022-09-01-osumonthly-2.md
Labels: area:news, type:clean up, size/XS

#7942 Update fan art count in `15th Anniversary Art Contest Voting Open` newspost
  news/2022-09-01-anniversay-art-voting.md
Labels: size/XS

#7941 Add updated Discord event links to pp/sr meetings article
  news/2022-08-26-community-meeting-pp-and-sr-developments.md
Labels: area:news, type:update, size/S

#7892 [ZH] Add `Background`
  wiki/Beatmap/Background/zh.md
Labels: area:translations, type:new article, size/S, area:beatmapping

#7932 [FR] Update `Twitter`
  wiki/Twitter/fr.md
Labels: area:translations, type:update, size/XS, area:community

#7875 [ES] Add `Circle_size`
  wiki/Beatmap/Circle_size/es.md
Labels: area:translations, type:new article, size/M, stale merge

#7946 Add New Featured Artist: Nashimoto Ui newspost
  news/2022-09-03-new-featured-artist-nashimoto-ui.md
  wiki/shared/news/2022-09-03-new-featured-artist-nashimoto-ui/miss.gif
Labels: area:news, size/M

#7950 Set Walavouchey as active in `List_of_maintainers`
  wiki/osu!_wiki/Maintenance/List_of_maintainers/en.md
  wiki/osu!_wiki/Maintenance/List_of_maintainers/es.md
  wiki/osu!_wiki/Maintenance/List_of_maintainers/fr.md
  wiki/osu!_wiki/Maintenance/List_of_maintainers/id.md
  wiki/osu!_wiki/Maintenance/List_of_maintainers/zh-tw.md
Labels: type:update, size/S, area:community

#7952 Update `MWC4K 2022` for the Finals stage
  wiki/Tournaments/MWC/2022_4K/en.md
Labels: area:tournaments, size/M

#7937 [FR] Update `Skinning/osu!`
  wiki/Skinning/osu!/fr.md
Labels: area:translations, type:update, size/S, area:skinning

#7959 Add New Featured Artists: Nitro Fun & Rezonate newspost
  news/2022-09-07-new-featured-artists-nitro-fun-rezonate.md
  wiki/shared/news/2022-09-07-new-featured-artists-nitro-fun-rezonate/header.jpg
  wiki/shared/news/2022-09-07-new-featured-artists-nitro-fun-rezonate/header@2x.jpg
Labels: area:news, size/M

#7961 Fix broken preview in Nitro Fun & Rezonate FA post
  news/2022-09-07-new-featured-artists-nitro-fun-rezonate.md
  wiki/shared/news/2022-09-07-new-featured-artists-nitro-fun-rezonate/header.jpg
  wiki/shared/news/2022-09-07-new-featured-artists-nitro-fun-rezonate/header@2x.jpg
Labels: size/XS

#7965 Update `MWC4K 2022` Finals schedule
  wiki/Tournaments/MWC/2022_4K/en.md
Labels: size/XS

#7953 Update `EGTS 2022` to the RO16 stage
  wiki/Tournaments/GTS/EGTS_2022/en.md
Labels: size/L

#7954 Cleanup `GBC 2022 Spring`
  wiki/Tournaments/GBC/GBC_2022_Spring/en.md
Labels: size/M

#7962 Add Skinning Contest 3: Voting Open newspost
  news/2022-09-08-skinning-contest-chromatic-alteration-voting-open.md
  wiki/Contests/Skinning_Contest/3/en.md
  wiki/shared/news/2022-09-08-skinning-contest-chromatic-alteration-voting-open/banner.jpg
Labels: size/M

#7948 Update `Account`
  wiki/Help_centre/Account/de.md
  wiki/Help_centre/Account/en.md
  wiki/Help_centre/Account/fr.md
  wiki/Help_centre/Account/ru.md
  wiki/Help_centre/Account/uk.md
Labels: area:translations, type:update, size/S, area:help centre

#7947 Add `triangles: Voting Phase` news post
  news/2022-09-08-triangles-voting-phase.md
  wiki/Contests/triangles_Beatmapping_Contest/en.md
  wiki/shared/news/2022-09-08-triangles-voting-open/Crazy_Thursday.jpg
  wiki/shared/news/2022-09-08-triangles-voting-open/Crush_the_Candy_Boys.jpg
  wiki/shared/news/2022-09-08-triangles-voting-open/TV_Sizers.jpg
  wiki/shared/news/2022-09-08-triangles-voting-open/ULTRA_ICE_TEA.jpg
  wiki/shared/news/2022-09-08-triangles-voting-open/absolutno_pofig.jpg
  wiki/shared/news/2022-09-08-triangles-voting-open/equation.jpg
  wiki/shared/news/2022-09-08-triangles-voting-open/playlist.png
  wiki/shared/news/2022-09-08-triangles-voting-open/questionmark.jpg
  wiki/shared/news/2022-09-08-triangles-voting-open/symbols.jpg
Labels: area:news, type:update, type:new article, size/L, area:community

#7966 Update `CFDT 2` to the Semifinals stage
  wiki/Tournaments/CFC/CFDT_2/en.md
Labels: size/M

#7960 Add `o!BAM 2` Tournament
  wiki/Tournaments/o!BAM/2/en.md
  wiki/Tournaments/o!BAM/2/img/banner.png
  wiki/Tournaments/o!BAM/en.md
Labels: size/L

#7951 [FR] Update `Contests`
  wiki/Contests/fr.md
Labels: area:translations, type:update, size/M

#7895 [ES] Add `Choke`
  wiki/Gameplay/Choke/es.md
Labels: area:translations, type:new article, size/S

#7886 [ZH-TW] Add `Gameplay/Grade`
  wiki/Gameplay/Grade/zh-tw.md
Labels: area:translations, type:new article, size/M, area:gameplay

#7885 [ZH-TW] Add `Community/Forum/Abandoned_Wasteland`
  wiki/Community/Forum/Abandoned_Wasteland/zh-tw.md
Labels: area:translations, type:new article, size/S, area:community

#7894 [ES] Add `Gameplay/Health`
  wiki/Gameplay/Health/es.md
Labels: area:translations, type:new article, size/L, area:gameplay

#7968 Add video to `triangles: Voting phase` news post
  news/2022-09-08-triangles-voting-phase.md
Labels: size/XS

#7967 Update `Featured Artist showcase beatmaps`
  wiki/Featured_Artists/Featured_Artist_showcase_beatmaps/en.md
  wiki/Featured_Artists/Featured_Artist_showcase_beatmaps/fr.md
  wiki/Featured_Artists/Featured_Artist_showcase_beatmaps/id.md
  wiki/Featured_Artists/Featured_Artist_showcase_beatmaps/ru.md
Labels: type:update, size/M, area:community

#7956 [DE] Add `Maintenance`
  wiki/osu!_wiki/Maintenance/de.md
Labels: area:translations, type:new article, size/L

#7958 Refine ambiguous slider rule in ranking criteria
  wiki/Ranking_Criteria/osu!/en.md
  wiki/Ranking_Criteria/osu!/fr.md
  wiki/Ranking_Criteria/osu!/ru.md
  wiki/Ranking_Criteria/osu!/zh.md
Labels: type:update, size/S, rule change, area:ranking criteria

#7928 [DE] Add `osu_wiki/Maintenance/List_of_maintainers`
  wiki/osu!_wiki/Maintenance/List_of_maintainers/de.md
Labels: area:translations, type:new article, size/M, area:community

#7930 [KO] Add `Article_styling_criteria`
  wiki/Article_styling_criteria/ko.md
Labels: area:translations, type:new article, size/S

#7969 Fix outdated commit hash in `Help_centre/Account`
  wiki/Help_centre/Account/de.md
  wiki/Help_centre/Account/ru.md
  wiki/Help_centre/Account/uk.md
Labels: type:clean up, size/XS, area:help centre

#7972 Correctly list `BeatDivisor` as an integer in `Osu_(file_format)`
  wiki/Client/File_formats/Osu_(file_format)/en.md
  wiki/Client/File_formats/Osu_(file_format)/fr.md
  wiki/Client/File_formats/Osu_(file_format)/pt-br.md
  wiki/Client/File_formats/Osu_(file_format)/zh.md
Labels: type:update, size/XS, area:client

#7973 Update `Maintenance` osu-wiki status links
  wiki/osu!_wiki/Maintenance/de.md
  wiki/osu!_wiki/Maintenance/en.md
  wiki/osu!_wiki/Maintenance/es.md
  wiki/osu!_wiki/Maintenance/fr.md
  wiki/osu!_wiki/Maintenance/id.md
Labels: area:utilities, type:update, size/M

#7970 [EL] Minor grammar + syntax fixes in `meta\group-info`
  meta/group-info/el.yaml
Labels: area:translations, area:utilities, type:clean up, size/M

#7949 Add `How Zetera became a Medal Hunter` news post
  news/2022-09-09-how-zetera-became-a-medal-hunter.md
  wiki/shared/news/2022-09-30-how-zetera-became-a-medal-hunter/banner.jpg
  wiki/shared/news/2022-09-30-how-zetera-became-a-medal-hunter/banner2x.jpg
  wiki/shared/news/2022-09-30-how-zetera-became-a-medal-hunter/oldmedals.jpg
Labels: area:news, type:new article, size/M

#7976 Fix links on beatmap pack images in the Medal Hunter news post
  news/2022-09-09-how-zetera-became-a-medal-hunter.md
Labels: area:news, type:clean up, size/XS

#7980 Fix outdated link in `Contribution_guide/GitHub_Desktop`
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/en.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/fr.md
Labels: size/XS

#7978 Add `4 Digit osu!mania World Cup` wiki article
  wiki/Tournaments/4DM/1/en.md
  wiki/Tournaments/4DM/en.md
  wiki/Tournaments/4DM/zh-tw.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
Labels: size/L

#7982 [FR] Update `Featured Artist showcase beatmaps`
  wiki/Featured_Artists/Featured_Artist_showcase_beatmaps/fr.md
Labels: area:translations, type:update, size/M, area:community

#7981 [FR] Update `Ranking_Criteria/osu!`
  wiki/Ranking_Criteria/osu!/fr.md
Labels: size/S

#7986 Fix -Lethal-'s user link and replace Logan in 4DM's wiki article
  wiki/Tournaments/4DM/1/en.md
Labels: type:update, area:tournaments, type:clean up, size/XS

#7989 [VI] Update wording in `Rules`
  wiki/Rules/vi.md
Labels: size/XS

#7987 Add `osu!mania LN Tournament 3` wiki article
  wiki/Tournaments/o!mLN/3/en.md
  wiki/Tournaments/o!mLN/3/img/logo.jpg
  wiki/Tournaments/o!mLN/3/img/mappool-categories.jpg
  wiki/Tournaments/o!mLN/3/img/mappool-structure.jpg
  wiki/Tournaments/o!mLN/3/img/winning-conditions.jpg
  wiki/Tournaments/o!mLN/en.md
Labels: type:new article, area:tournaments, size/L

#7991 Add New Featured Artist: AAAA news post
  news/2022-09-11-new-featured-artist-aaaa.md
Labels: size/L

#7990 Update `MWC4K 2022` for the Grand Finals stage
  wiki/Tournaments/MWC/2022_4K/en.md
Labels: type:update, area:tournaments, size/M

#7996 Add username to `New Featured Artist: AAAA` news post
  news/2022-09-11-new-featured-artist-aaaa.md
Labels: area:news, type:update, size/XS

#7905 [ES] Add several `File Formats` articles
  wiki/Client/File_formats/Osb_(file_format)/es.md
  wiki/Client/File_formats/Osr_(file_format)/es.md
  wiki/Client/File_formats/Osu_(file_format)/es.md
  wiki/Client/File_formats/Osz_(file_format)/es.md
Labels: area:translations, type:new article, size/L, area:client

#7944 [ES] Update `Twitter`
  wiki/Twitter/es.md
Labels: area:translations, type:update, size/S

#7926 [NL] Update `osu!supporter` page
  wiki/osu!supporter/nl.md
Labels: area:translations, type:update, size/L, stale merge

#7963 [ES] Add `Score`
  wiki/Gameplay/Score/es.md
Labels: area:translations, type:new article, size/S

#7927 [NL] Update `Beatmapping` page
  wiki/Beatmapping/nl.md
Labels: area:translations, type:update, size/M, stale merge

#7992 Add `Catch French Dual Tournament` wiki article
  wiki/Tournaments/CFC/CFDT_1/en.md
  wiki/Tournaments/CFC/CFDT_1/img/badge.jpg
  wiki/Tournaments/CFC/en.md
  wiki/Tournaments/CFC/fr.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
Labels: type:new article, area:tournaments, size/L, stale merge

#7901 Update `BBCode`
  wiki/BBCode/de.md
  wiki/BBCode/en.md
  wiki/BBCode/fr.md
  wiki/BBCode/id.md
  wiki/BBCode/pt-br.md
  wiki/BBCode/ru.md
  wiki/BBCode/tr.md
  wiki/BBCode/uk.md
Labels: type:update, area:website, size/M

#7995 Update `OBAM 2022` to Group stage
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/o!BAM/2/en.md
Labels: type:update, area:tournaments, size/L, stale merge

#7919 [JA] Update `BBCode`
  wiki/BBCode/ja.md
Labels: area:translations, type:update, area:website, size/XS

#7983 [FR] Update `Contribution_guide/GitHub_Desktop`
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/fr.md
Labels: area:translations, type:update, size/XS

#7900 Add English articles for OMIC 4K 2019 & 2022
  wiki/Tournaments/OMIC/2019_4K/en.md
  wiki/Tournaments/OMIC/2022_4K/en.md
Labels: area:tournaments, size/XL

#7998 Update medal count in `Medals`
  wiki/Medals/de.md
  wiki/Medals/en.md
  wiki/Medals/fr.md
  wiki/Medals/id.md
Labels: size/XS

#7997 Update `EGTS 2022` to the Quarterfinals stage
  wiki/Tournaments/GTS/EGTS_2022/en.md
  wiki/Tournaments/GTS/de.md
  wiki/Tournaments/GTS/en.md
  wiki/Tournaments/GTS/es.md
  wiki/Tournaments/GTS/fr.md
  wiki/Tournaments/GTS/id.md
  wiki/Tournaments/GTS/ja.md
  wiki/Tournaments/GTS/ko.md
  wiki/Tournaments/GTS/nl.md
  wiki/Tournaments/GTS/zh.md
Labels: type:update, area:tournaments, size/M

#7999 Add New Featured Artist: Andy Gillion newspost
  news/2022-09-14-new-featured-artist-andy-gillion.md
Labels: area:news, size/M

#8002 Add `OWC 2022` wiki article
  wiki/Tournaments/OWC/2022/en.md
  wiki/Tournaments/OWC/2022/img/owc2022_banner.jpg
  wiki/Tournaments/OWC/en.md
  wiki/Tournaments/OWC/fr.md
  wiki/Tournaments/OWC/id.md
  wiki/Tournaments/OWC/ja.md
  wiki/Tournaments/OWC/ru.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
Labels: type:new article, area:tournaments, size/L

#8004 Update `MWC4K 2022` Grand Finals schedule
  wiki/Tournaments/MWC/2022_4K/en.md
Labels: size/XS

#8005 Update `OWC 2022`
  wiki/Tournaments/OWC/2022/en.md
Labels: size/XS

#8006 Add `OWC 2022` news post and update wiki links
  news/2022-09-15-osu-world-cup-2022-registrations-now-open.md
  wiki/Tournaments/OWC/2022/en.md
  wiki/shared/news/2022-09-15-osu-world-cup-2022-registrations-now-open/owc-2022-banner.jpg
  wiki/shared/news/2022-09-15-osu-world-cup-2022-registrations-now-open/owc-2022-banner@2x.jpg
Labels: area:news, type:update, type:new article, area:tournaments, size/M

#8009 Add 15th Anniversary Art Contest Results news post
  news/2022-09-15-anniversary-art-contest-results.md
Labels: area:news, size/L

#8003 Add `Ascaveth Invitational Tournament 2022` wiki article
  wiki/Tournaments/AIT/2022/en.md
  wiki/Tournaments/AIT/2022/img/logo.jpg
  wiki/Tournaments/AIT/2022/img/podium.jpg
  wiki/Tournaments/AIT/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
Labels: type:new article, area:tournaments, size/L

#8017 Add New Featured Artist: Vorso newspost
  news/2022-09-17-new-featured-artist-vorso.md
Labels: area:news, size/M

#8020 Fix broken flag syntax on `Ascaveth Invitational Tournament 2022`
  wiki/Tournaments/AIT/2022/en.md
Labels: size/XS

#8013 Add mania-warningarrow image to `Skinning/osu!mania`
  wiki/Skinning/osu!mania/en.md
  wiki/Skinning/osu!mania/fr.md
  wiki/Skinning/osu!mania/img/mania-warningarrow.png
  wiki/Skinning/osu!mania/pt-br.md
Labels: size/XS

#8024 Add AJT to the list of Elite Nominators on `Users with unique titles`
  wiki/People/Users_with_unique_titles/de.md
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/es.md
  wiki/People/Users_with_unique_titles/fr.md
  wiki/People/Users_with_unique_titles/id.md
Labels: type:update, size/XS, area:community

#8026 Update `MWC4K 2022` with tournament results
  wiki/Tournaments/MWC/2022_4K/en.md
  wiki/Tournaments/MWC/2022_4K/img/badge-1st.jpg
  wiki/Tournaments/MWC/2022_4K/img/badge-1st@2x.jpg
  wiki/Tournaments/MWC/2022_4K/img/badge-2nd.jpg
  wiki/Tournaments/MWC/2022_4K/img/badge-2nd@2x.jpg
  wiki/Tournaments/MWC/2022_4K/img/badge-3rd.jpg
  wiki/Tournaments/MWC/2022_4K/img/badge-3rd@2x.jpg
  wiki/Tournaments/MWC/2022_4K/img/podium.jpg
  wiki/Tournaments/MWC/2022_4K/img/podium@2x.jpg
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
Labels: size/M

#7964 [ES] Add `Approach_rate`
  wiki/Beatmap/Approach_rate/es.md
Labels: area:translations, type:new article, size/M

#7979 [DE] Add `Approach_Rate`
  wiki/Beatmap/Approach_rate/de.md
Labels: area:translations, type:new article, size/M

#7985 [DE] Adjust terms to terminology
  wiki/osu!_wiki/de.md
Labels: area:translations, type:clean up, size/XS

#7957 [ES] Add `Notelock`
  wiki/Gameplay/Judgement/Notelock/es.md
Labels: area:translations, type:new article, size/M

#8010 Add Project Loved: September 2022 news post
  news/2022-09-18-project-loved-september-2022.md
  wiki/shared/news/2022-09-18-project-loved-september-2022/1014481.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1014481@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1105509.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1105509@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1114344.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1114344@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1134669.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1134669@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1165592.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1165592@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1182067.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1182067@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1190299.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1190299@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1205520.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1205520@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1234494.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1234494@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/124556.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/124556@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/128153.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/128153@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1435435.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1435435@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1471137.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1471137@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1599667.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1599667@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1749123.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/1749123@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/450599.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/450599@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/623741.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/623741@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/669191.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/669191@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/683291.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/683291@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/781732.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/781732@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/848100.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/848100@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/857226.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/857226@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/973421.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/973421@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/981267.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/981267@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/999432.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/999432@2x.jpg
  wiki/shared/news/2022-09-18-project-loved-september-2022/apply-catch.png
Labels: area:news, type:new article, size/L

#8031 Update `MWC4K 2022` staff listing
  wiki/Tournaments/MWC/2022_4K/en.md
Labels: type:update, area:tournaments, size/XS

#8023 [DE] Fix styling issues and wording improvements
  wiki/Client/Interface/de.md
  wiki/Gameplay/Game_modifier/de.md
  wiki/Help_centre/Account_restrictions/de.md
  wiki/History_of_osu!/April_Fools/osu!coin/de.md
  wiki/Silence/de.md
Labels: area:translations, type:update, size/S

#7984 [DE] Add `Contribution_guide` and all subarticles
  wiki/osu!_wiki/Contribution_guide/Best_practices/de.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/de.md
  wiki/osu!_wiki/Contribution_guide/GitHub_web-based_editor/de.md
  wiki/osu!_wiki/Contribution_guide/de.md
Labels: area:translations, area:utilities, type:new article, size/L

#8038 Add New Featured Artist: Alestorm newspost
  news/2022-09-21-new-featured-artist-alestorm.md
Labels: area:news, size/M

#8035 [VI] Add `Registration`
  wiki/Registration/vi.md
Labels: area:translations, type:new article, size/S

#8036 Add `GBC 2022 Autumn` tournament page
  wiki/Tournaments/GBC/GBC_2022_Autumn/en.md
  wiki/Tournaments/GBC/GBC_2022_Autumn/img/GBC-2022-Autumn-banner.png
  wiki/Tournaments/GBC/en.md
Labels: type:new article, area:tournaments, size/L

#8040 Add Pick'ems link to OWC 2022 article
  wiki/Tournaments/OWC/2022/en.md
Labels: size/XS

#8039 Update `GBC 2022 Autumn`
  wiki/Tournaments/GBC/GBC_2022_Autumn/en.md
Labels: size/M

#8034 [ZH] Add `Reporting Abuse`
  wiki/Reporting_bad_behaviour/Abuse/zh.md
Labels: area:translations, type:new article, size/M

#7936 Update "User title"
  wiki/Community/User_title/en.md
  wiki/Community/User_title/fr.md
  wiki/Community/User_title/id.md
  wiki/Community/User_title/img/dev.png
  wiki/Community/User_title/img/multiple-titles.png
  wiki/Community/User_title/zh-tw.md
  wiki/Community/User_title/zh.md
Labels: type:update, size/S, area:community

#8000 [RU] Update `Medals`
  wiki/Medals/Unlock_requirements/Beatmap_challenge_packs/ru.md
  wiki/Medals/ru.md
Labels: area:translations, type:update, size/M

#8012 [RU] Add `osu! wiki/Maintenance` and `List of maintainers`
  wiki/osu!_wiki/Maintenance/List_of_maintainers/ru.md
  wiki/osu!_wiki/Maintenance/ru.md
Labels: area:translations, type:new article, size/L, area:community

#7994 [RU] Add game modifier articles: `Double_Time`, `Easy`, `Fade_In`, `Fade_Out`, `Flashlight`
  wiki/Gameplay/Game_modifier/Auto/ru.md
  wiki/Gameplay/Game_modifier/Autopilot/ru.md
  wiki/Gameplay/Game_modifier/Cinema/ru.md
  wiki/Gameplay/Game_modifier/Double_Time/ru.md
  wiki/Gameplay/Game_modifier/Easy/ru.md
  wiki/Gameplay/Game_modifier/Fade_In/ru.md
  wiki/Gameplay/Game_modifier/Fade_Out/ru.md
  wiki/Gameplay/Game_modifier/Flashlight/ru.md
Labels: area:translations, type:new article, size/L, area:gameplay

#8008 [UK] Update `BBCode`
  wiki/BBCode/uk.md
Labels: area:translations, type:update, area:website, size/S

#8048 Add New Featured Artist: Ritorikal news post
  news/2022-09-24-new-featured-artist-ritorikal.md
Labels: area:news, size/M

#8022 [DE] Update `Storyboard/Scripting/osu_File_Toggles`
  wiki/Storyboard/Scripting/osu!_File_Toggles/de.md
Labels: area:translations, type:update, size/S, area:storyboarding

#8045 [FR] Update `Community/User_title`
  wiki/Community/User_title/fr.md
Labels: area:translations, type:update, size/XS, area:community

#8044 [UK] Add `Beatmap Challenge Packs`
  wiki/Medals/Unlock_requirements/Beatmap_challenge_packs/uk.md
Labels: area:translations, type:new article, size/XS

#8019 [DE] Add `Bot_account`
  wiki/Bot_account/de.md
Labels: area:translations, type:new article, size/M, area:community

#8057 [ES] Spanish Showdown 2022
  wiki/Tournaments/SS/2021/img/logo.jpg
  wiki/Tournaments/SS/2022/es.md
Labels: size/XL

#8059 Update `EGTS 2022` to the Finals stage
  wiki/Tournaments/GTS/EGTS_2022/en.md
Labels: type:update, area:tournaments, size/L

#8049 Minor wording/grammar fix in RC
  wiki/Ranking_Criteria/en.md
  wiki/Ranking_Criteria/fr.md
  wiki/Ranking_Criteria/zh.md
Labels: type:clean up, size/XS, area:ranking criteria

#8053 [RU] Add all `Unlock Requirements` articles
  wiki/Medals/Unlock_requirements/Beatmap_packs/ru.md
  wiki/Medals/Unlock_requirements/Beatmap_spotlights/ru.md
  wiki/Medals/Unlock_requirements/Dedication/ru.md
  wiki/Medals/Unlock_requirements/Mod_introduction/ru.md
  wiki/Medals/Unlock_requirements/Seasonal_spotlights/ru.md
  wiki/Medals/Unlock_requirements/Skill/ru.md
  wiki/Medals/Unlock_requirements/ru.md
Labels: area:translations, type:new article, size/L

#8021 [FR] Update `BBCode`
  wiki/BBCode/fr.md
Labels: area:translations, type:update, area:website, size/S

#8046 Create `osu! originals` wiki article
  wiki/osu!_originals/en.md
Labels: type:new article, size/L

#7974 [ES] Update `Reporting_bad_behaviour`
  wiki/Reporting_bad_behaviour/es.md
Labels: area:translations, type:update, size/L, stale merge, area:community

#7955 [ES] Update `Hit_object`
  wiki/Gameplay/Hit_object/es.md
Labels: area:translations, type:update, size/M, area:gameplay

#8047 Move genre/language tags guideline to rules in the RC
  wiki/Ranking_Criteria/en.md
  wiki/Ranking_Criteria/fr.md
  wiki/Ranking_Criteria/zh.md
Labels: type:update, size/XS, rule change, area:ranking criteria

#7975 Add menu tips article
  wiki/Client/Interface/de.md
  wiki/Client/Interface/en.md
  wiki/Client/Interface/fr.md
  wiki/Client/Interface/id.md
  wiki/Client/Interface/ko.md
  wiki/Client/Interface/ru.md
  wiki/Client/Interface/tr.md
  wiki/Client/Interface/zh.md
  wiki/Client/Menu_tips/en.md
  wiki/Client/Program_files/User_configuration_file/en.md
  wiki/Client/Program_files/User_configuration_file/fr.md
  wiki/Client/Program_files/User_configuration_file/id.md
  wiki/Client/Program_files/User_configuration_file/tr.md
  wiki/Client/de.md
  wiki/Client/en.md
  wiki/Client/fr.md
  wiki/Client/id.md
  wiki/Client/tr.md
  wiki/Client/zh-tw.md
Labels: type:new article, size/L, area:client

#8058 Move performance points/star rating news post banners to one folder
  news/2021-01-14-performance-points-updates.md
  news/2021-07-27-performance-points-star-rating-updates.md
  news/2022-01-14-taiko-mania-pp-sr-survey.md
  news/2022-02-07-taiko-mania-survey-results.md
  wiki/shared/news/2021-01-14-performance-points-updates/star-rating.jpg
  wiki/shared/news/2021-01-14-performance-points-updates/star-rating@2x.jpg
  wiki/shared/news/2021-07-27-performance-points-star-rating-updates/star-rating.jpg
  wiki/shared/news/2021-07-27-performance-points-star-rating-updates/star-rating@2x.jpg
  wiki/shared/news/2022-01-14-taiko-mania-pp-sr-survey/star-rating.jpg
  wiki/shared/news/2022-01-14-taiko-mania-pp-sr-survey/star-rating@2x.jpg
  wiki/shared/news/banners/star-rating.jpg
  wiki/shared/news/banners/star-rating@2x.jpg
Labels: area:news, type:clean up, size/XS

#8064 [FR] Update `BBCode`
  wiki/BBCode/fr.md
Labels: size/XS

#7915 Add `Changes to osu!taiko star rating and performance points` news post
  news/2022-09-28-changes-to-osu-taiko-sr-and-pp.md
  wiki/shared/news/2022-09-28-changes-to-osu-taiko-star-rating-and-performance-points/accuracy-mod-bonus.jpg
  wiki/shared/news/2022-09-28-changes-to-osu-taiko-star-rating-and-performance-points/difficulty-accuracy-scaling.jpg
  wiki/shared/news/2022-09-28-changes-to-osu-taiko-star-rating-and-performance-points/effective-miss-count.jpg
Labels: area:news, type:new article, size/L

#8070 Add New Featured Artist: Feint news post
  news/2022-09-28-new-featured-artist-feint.md
Labels: area:news, type:new article, size/L

#8071 Remove extraneous beatmap reference in Feint FA article
  news/2022-09-28-new-featured-artist-feint.md
Labels: size/XS

#8073 Fix typo in `Client/Menu_tips`
  wiki/Client/Menu_tips/en.md
Labels: type:clean up, size/XS, area:client

#8077 Update `Skinning/osu!` with `hitcircleoverlay.png` visibility rules
  wiki/Skinning/osu!/en.md
  wiki/Skinning/osu!/fr.md
Labels: type:clean up, size/S, area:skinning

#8075 Remove outdated flag example from `osu! tournament client`
  wiki/osu!_tournament_client/de.md
  wiki/osu!_tournament_client/en.md
  wiki/osu!_tournament_client/fr.md
  wiki/osu!_tournament_client/ru.md
  wiki/osu!_tournament_client/zh.md
Labels: area:utilities, type:clean up, size/S

#8015 [ES] Update `Contribution_guide/Best_practices`
  wiki/osu!_wiki/Contribution_guide/Best_practices/es.md
Labels: area:translations, area:utilities, type:update, size/L

#8065 [FR] Update `Client`
  wiki/Client/Keyboard_shortcuts/fr.md
  wiki/Client/fr.md
Labels: area:translations, type:update, size/XS, area:client

#7925 Add `Changes to osu! Star Rating & Performance Points` news post
  news/2022-09-30-changes-to-osu-sr-and-pp.md
Labels: area:news, type:new article, size/L

#8084 Update `OBAM 2022` to RO16
  wiki/Tournaments/o!BAM/2/en.md
Labels: type:update, area:tournaments, size/L

#8085 Small fixes in the `OBAM 2022` tournament article
  wiki/Tournaments/o!BAM/2/en.md
Labels: area:tournaments, type:clean up, size/XS

#8086 Fix typo in `Community Contributors`
  wiki/People/Community_Contributors/de.md
  wiki/People/Community_Contributors/en.md
  wiki/People/Community_Contributors/fr.md
  wiki/People/Community_Contributors/id.md
  wiki/People/Community_Contributors/ru.md
Labels: type:clean up, size/S, area:community

#8063 Update `Article styling criteria/Formatting` with infobox usage
  wiki/Article_styling_criteria/Formatting/en.md
  wiki/Article_styling_criteria/Formatting/fr.md
Labels: area:utilities, type:update, size/M

#7806 [ID] Update `Modding/Kudosu` and `Community/Mappers' Guild`
  wiki/Community/Mappers_Guild/id.md
  wiki/Modding/Kudosu/id.md
Labels: area:translations, type:update, size/S

#7612 [ZH] Update `osu! copyright policy`
  wiki/Legal/Copyright/zh.md
Labels: area:translations, type:update, size/M, area:legal

#7945 [VI] Add `Beatmapping/Hitsound`
  wiki/Beatmapping/Hitsound/vi.md
Labels: area:translations, type:new article, size/M

#8088 [FR] Update `Article_styling_criteria/Formatting`
  wiki/Article_styling_criteria/Formatting/fr.md
Labels: area:translations, type:update, size/M
