Repository ppy/osu-wiki, pull requests merged in 2022-02, with the labels that each got.

#6817 [FR] Cleanup `Play_style`
  wiki/Play_style/fr.md
Labels: area:translations, type:clean up, size/M

#6808 [ZH] Update `Ranking_Criteria\osu!taiko`
  wiki/Ranking_Criteria/osu!taiko/zh.md
Labels: area:translations, type:update, size/L

#6815 [DE] Add `Client`, `upppy`, `osu!coin`, `iNiS_games` and `Client\Interface\Visual_settings`
  wiki/Client/Interface/Visual_settings/de.md
  wiki/Client/Interface/Visual_settings/img/visual-settings-DE.jpg
  wiki/Client/de.md
  wiki/iNiS_games/de.md
  wiki/osu!coin/de.md
  wiki/upppy/de.md
Labels: area:translations, type:new article, size/L

#6825 [ID] Add `Client` index page; update `Main page`
  wiki/Client/id.md
  wiki/Main_Page/id.md
Labels: area:translations, type:new article, size/M

#6781 [DE] Update `Community Contributors`
  wiki/People/Community_Contributors/de.md
Labels: area:translations, type:update, size/L

#6829 Add new tournament committee members
  wiki/People/Tournament_Committee/en.md
  wiki/People/Tournament_Committee/fr.md
  wiki/People/Tournament_Committee/id.md
Labels: type:update, area:tournaments, size/XS, area:community

#6828 Update and simplify active hitsound rules in the Ranking Criteria
  wiki/Ranking_Criteria/en.md
  wiki/Ranking_Criteria/id.md
Labels: type:clean up, size/S, area:ranking criteria

#6753 Cleanup `Client\Interface`
  wiki/Client/Interface/en.md
  wiki/Client/Interface/fr.md
  wiki/Client/Interface/img/jukebox/jump-to-window.jpg
  wiki/Client/Interface/img/jukebox/next-track.jpg
  wiki/Client/Interface/img/jukebox/pause.jpg
  wiki/Client/Interface/img/jukebox/play.jpg
  wiki/Client/Interface/img/jukebox/previous-track.jpg
  wiki/Client/Interface/img/jukebox/stop.jpg
  wiki/Client/Interface/img/jukebox/view-song-info.jpg
  wiki/Client/Interface/ru.md
  wiki/Client/Interface/zh.md
Labels: type:rewrite, size/L, area:client

#6830 Add `new featured artist: bill wurtz` news post
  news/2022-02-02-new-featured-artist-bill-wurtz.md
Labels: area:news, size/M

#6834 Conclude `osu! South East Asia Tournament 5`
  wiki/Tournaments/en.md
  wiki/Tournaments/oSEAT/5/en.md
  wiki/Tournaments/oSEAT/5/img/badge.png
Labels: type:update, area:tournaments, size/M

#6836 Update Semifinals schedule for `MWC/2022_7K`
  wiki/Tournaments/MWC/2022_7K/en.md
Labels: type:update, area:tournaments, size/S

#6812 Update and clarify points in the ASC
  wiki/Article_styling_criteria/Formatting/de.md
  wiki/Article_styling_criteria/Formatting/en.md
  wiki/Article_styling_criteria/Formatting/fr.md
  wiki/Article_styling_criteria/Writing/de.md
  wiki/Article_styling_criteria/Writing/en.md
  wiki/Article_styling_criteria/Writing/fr.md
  wiki/Article_styling_criteria/Writing/ru.md
  wiki/Article_styling_criteria/Writing/th.md
Labels: area:utilities, type:update, size/M

#6833 [FR] Sort index pages alphabetically
  wiki/Article_styling_criteria/fr.md
  wiki/Community/fr.md
  wiki/Contests/Skinning_Contest/fr.md
  wiki/Contests/TKBC/fr.md
  wiki/Contests/osu!trivium_Quiz/fr.md
  wiki/Glossary/fr.md
  wiki/Skinning/fr.md
  wiki/osu!tourney/fr.md
Labels: area:translations, type:new article, type:clean up, size/M

#6806 [ZH] Update `Ranking_Criteria\osu!`
  wiki/Ranking_Criteria/osu!/zh.md
Labels: area:translations, type:update, size/L

#6826 [FR] Cleanup `Gameplay\Score`, `osu!`, `osu!catch`, `osu!mania`, `osu!taiko`, `ScoreV1`
  wiki/Gameplay/Score/ScoreV1/fr.md
  wiki/Gameplay/Score/fr.md
  wiki/Gameplay/Score/osu!/fr.md
  wiki/Gameplay/Score/osu!catch/fr.md
  wiki/Gameplay/Score/osu!mania/fr.md
  wiki/Gameplay/Score/osu!taiko/fr.md
Labels: area:translations, type:clean up, size/L

#6837 Add `New Featured Artist: Atavistia` news post
  news/2022-02-05-new-featured-artist-atavistia.md
Labels: area:news, size/M

#6782 [FR] Add `Ranking_Criteria`
  wiki/Ranking_Criteria/fr.md
Labels: area:translations, type:new article, size/L

#6774 [FR] Update `Ranking_Criteria\osu!taiko`
  wiki/Ranking_Criteria/osu!taiko/fr.md
Labels: area:translations, type:update, size/L

#6841 Update meeting date in `osu!_community_meetings`
  wiki/Community/osu!_community_meetings/de.md
  wiki/Community/osu!_community_meetings/en.md
  wiki/Community/osu!_community_meetings/fr.md
  wiki/Community/osu!_community_meetings/id.md
Labels: type:update, size/S, area:community

#6842 [FR] Update `Community\osu!_community_meetings`
  wiki/Community/osu!_community_meetings/fr.md
Labels: area:translations, type:update, size/XS

#6850 Update `MWC/2022_7K` for the Finals week
  wiki/Tournaments/MWC/2022_7K/en.md
Labels: area:tournaments, size/L

#6853 Add osu!mania & osu!taiko 2022 PP/SR survey results newspost
  news/2022-02-07-taiko-mania-survey-results.md
Labels: area:news, size/S

#6854 Fix incorrect information in `MWC/2022_7K`
  wiki/Tournaments/MWC/2022_7K/en.md
Labels: size/XS

#6843 Added SF results and Finals pools for 4DM4
  wiki/Tournaments/4DM/4/en.md
Labels: type:update, area:tournaments, size/M

#6852 [ID] Cleanup `Rules`
  wiki/Rules/id.md
Labels: area:translations, type:clean up, size/M

#6856 [DE] Update `osu!_community_meetings`
  wiki/Community/osu!_community_meetings/de.md
Labels: size/XS

#6849 [ZH] Cleanup `Ranking_Criteria\osu!`
  wiki/Ranking_Criteria/osu!/zh.md
Labels: area:translations, type:clean up, size/XS

#6858 [ID] Fix small typo in `Rules`
  wiki/Rules/id.md
Labels: size/XS

#6857 [ID] Update `Community/osu!_community_meetings`
  wiki/Community/osu!_community_meetings/id.md
Labels: area:translations, type:update, size/XS

#6761 [ZH] Update `Medals`
  wiki/Medals/zh.md
Labels: area:translations, type:update, size/M

#6787 [FR] Add `Ranking_Criteria\Skin_Set_List`
  wiki/Ranking_Criteria/Skin_Set_List/fr.md
Labels: area:translations, type:new article, size/L

#6835 BN Rules Update: Adding minimum activity
  wiki/People/The_Team/Beatmap_Nominators/Rules/bg.md
  wiki/People/The_Team/Beatmap_Nominators/Rules/en.md
  wiki/People/The_Team/Beatmap_Nominators/Rules/fr.md
  wiki/People/The_Team/Beatmap_Nominators/Rules/ru.md
Labels: type:update, size/S, area:community

#6809 [FR] Update `Performance_troubleshooting`
  wiki/Performance_troubleshooting/fr.md
Labels: area:translations, type:update, size/S

#6860 Add `New Featured Artist: HEAD PHONES PRESIDENT` news post
  news/2022-02-09-new-featured-artist-head-phones-president.md
Labels: area:news, size/M

#6865 Update Finals schedule for `MWC/2022_7K`
  wiki/Tournaments/MWC/2022_7K/en.md
Labels: size/XS

#6864 Fix links to header in `Client\Interface`
  wiki/Beatmap/Background/en.md
  wiki/Beatmap/Background/zh-tw.md
  wiki/Beatmap/Category/en.md
  wiki/Beatmap/Category/th.md
  wiki/Beatmapping/Star_rating/en.md
  wiki/Client/Installation/cs.md
  wiki/Client/Installation/en.md
  wiki/Client/Installation/es.md
  wiki/Client/Installation/fi.md
  wiki/Client/Installation/it.md
  wiki/Client/Installation/ja.md
  wiki/Client/Installation/pt-br.md
  wiki/Client/Installation/sk.md
  wiki/Client/Installation/uk.md
  wiki/Client/Installation/vi.md
  wiki/Client/Installation/zh-tw.md
Labels: size/M

#6840 Ranking Criteria: Attempt to clarify song compilation mixing/transition guideline
  wiki/Ranking_Criteria/en.md
  wiki/Ranking_Criteria/fr.md
Labels: size/XS, area:ranking criteria

#6863 [DE] Smaller fixes in various articles
  wiki/BBCode/de.md
  wiki/Client/File_formats/Osk_(file_format)/de.md
  wiki/Client/File_formats/Osk_(file_format)/img/DE-Skin.jpg
  wiki/Client/Installation/de.md
  wiki/Client/Options/de.md
  wiki/Community/Internet_Relay_Chat/de.md
  wiki/Community/osu!dev_Discord_server/de.md
  wiki/Guides/de.md
  wiki/Help_centre/Account_restrictions/de.md
  wiki/Help_centre/de.md
  wiki/Reporting_bad_behaviour/Handling_foul_play/de.md
  wiki/Reporting_bad_behaviour/de.md
  wiki/Rules/de.md
  wiki/osu!api/de.md
  wiki/osu!stream/de.md
Labels: area:translations, type:update, type:clean up, size/L

#6867 Add Community Choice 2021: Results newspost
  news/2022-02-10-community-choice-results.md
  wiki/shared/news/2022-02-10-community-choice-results/bagelseeker.jpg
  wiki/shared/news/2022-02-10-community-choice-results/bagelseeker@2x.jpg
  wiki/shared/news/2022-02-10-community-choice-results/caravan.jpg
  wiki/shared/news/2022-02-10-community-choice-results/caravan@2x.jpg
  wiki/shared/news/2022-02-10-community-choice-results/dark-sheep.jpg
  wiki/shared/news/2022-02-10-community-choice-results/dark-sheep@2x.jpg
  wiki/shared/news/2022-02-10-community-choice-results/drip.jpg
  wiki/shared/news/2022-02-10-community-choice-results/drip@2x.jpg
  wiki/shared/news/2022-02-10-community-choice-results/taiko-mf.jpg
  wiki/shared/news/2022-02-10-community-choice-results/taiko-mf@2x.jpg
  wiki/shared/news/2022-02-10-community-choice-results/take.jpg
  wiki/shared/news/2022-02-10-community-choice-results/take@2x.jpg
  wiki/shared/news/2022-02-10-community-choice-results/true-dj-mag.jpg
  wiki/shared/news/2022-02-10-community-choice-results/true-dj-mag@2x.jpg
Labels: area:news, size/L

#6762 [ZH] Update `osu!_wiki/Contribution_guide`
  wiki/osu!_wiki/Contribution_guide/zh.md
Labels: area:translations, type:update, size/L

#6877 Update Project Loved Team listing
  wiki/People/The_Team/Project_Loved_Team/bg.md
  wiki/People/The_Team/Project_Loved_Team/en.md
  wiki/People/The_Team/Project_Loved_Team/fr.md
  wiki/People/The_Team/Project_Loved_Team/id.md
  wiki/People/The_Team/Project_Loved_Team/ru.md
  wiki/People/The_Team/Project_Loved_Team/tr.md
Labels: type:update, size/L, area:community

#6820 [KO] Update `Contribution guide` and `Contribution guide/Best practices`
  wiki/osu!_wiki/Contribution_guide/Best_practices/ko.md
  wiki/osu!_wiki/Contribution_guide/ko.md
Labels: area:translations, type:update, size/M

#6831 [ID] Retranslate `Client/Keyboard_shortcuts`
  wiki/Client/Keyboard_shortcuts/id.md
Labels: area:translations, type:rewrite, size/L

#6879 Update `MWC/2022_7K` for the Grand Finals weekend
  wiki/Tournaments/MWC/2022_7K/en.md
Labels: size/M

#6880 Added 4DM4 Finals results and Grand Finals pools
  wiki/Tournaments/4DM/4/en.md
Labels: type:update, area:tournaments, size/M

#6872 Remove misleading line from the osu!mania hitsound RC
  wiki/Ranking_Criteria/en.md
Labels: type:clean up, size/XS, area:ranking criteria

#6883 [EN/ID] Add chromb as `Global Moderation Team` member
  wiki/People/The_Team/Global_Moderation_Team/bg.md
  wiki/People/The_Team/Global_Moderation_Team/de.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Global_Moderation_Team/es.md
  wiki/People/The_Team/Global_Moderation_Team/fr.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/Global_Moderation_Team/ja.md
  wiki/People/The_Team/Global_Moderation_Team/pl.md
  wiki/People/The_Team/Global_Moderation_Team/pt-br.md
  wiki/People/The_Team/Global_Moderation_Team/ru.md
  wiki/People/The_Team/Global_Moderation_Team/th.md
  wiki/People/The_Team/Global_Moderation_Team/tr.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
Labels: type:update, size/L, area:community

#6882 [EN/RU] Update `COT22` to Quarterfinals
  wiki/Tournaments/COT/2022/en.md
  wiki/Tournaments/COT/2022/ru.md
Labels: area:translations, type:update, area:tournaments, size/L

#6884 Update `UKCC11` with Qualifiers information
  wiki/Tournaments/UKCC/11/en.md
Labels: type:update, area:tournaments, size/S

#6870 Clean up `Ranking Criteria` slightly
  wiki/Ranking_Criteria/en.md
Labels: type:clean up, size/M, area:ranking criteria

#6855 Add Beatmap Spotlights winter 2022 newspost & wiki article
  news/2022-02-15-beatmap-spotlights-season-5-winter-2022.md
  wiki/Beatmap_Spotlights/Seasons/2022_Winter/en.md
  wiki/Beatmap_Spotlights/Seasons/en.md
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/bronze_1.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/bronze_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/bronze_1a.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/bronze_1a@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/bronze_2.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/bronze_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/copper_1.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/copper_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/copper_2.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/copper_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/diamond_1.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/diamond_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/diamond_2.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/diamond_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/gold_1.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/gold_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/gold_2.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/gold_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/iron_1.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/iron_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/iron_2.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/iron_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/platinum_1.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/platinum_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/platinum_2.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/platinum_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/ri_1.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/ri_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/ri_2.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/ri_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/silver_1.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/silver_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/silver_2.png
  wiki/Beatmap_Spotlights/img/badges/winter_2022/osu/silver_2@2x.png
Labels: area:news, type:new article, size/L, area:community

#6885 Update Grand Finals schedules, staff listing for `MWC/2022_7K`
  wiki/Tournaments/MWC/2022_7K/en.md
Labels: size/XS

#6847 [ZH] Update `Ranking_Criteria\Difficulty_naming`
  wiki/Ranking_Criteria/Difficulty_naming/zh.md
Labels: area:translations, type:update, size/M

#6889 Add `New Featured Artist: Good Kid` news post
  news/2022-02-16-new-featured-artist-good-kid.md
Labels: area:news, size/M

#6891 Fix Spotlights Winter 2022 schedule
  news/2022-02-15-beatmap-spotlights-season-5-winter-2022.md
  wiki/Beatmap_Spotlights/Seasons/2022_Winter/en.md
Labels: size/XS

#6892 Update Grand Finals schedule for `MWC/2022_7K`
  wiki/Tournaments/MWC/2022_7K/en.md
Labels: size/XS

#6845 [ZH] Add `Ranking_Criteria\Scaling_BPM`
  wiki/Ranking_Criteria/Scaling_BPM/zh.md
Labels: area:translations, type:new article, size/S

#6859 [ZH] Update `Ranking_Criteria\osu!mania`
  wiki/Ranking_Criteria/osu!mania/zh.md
Labels: area:translations, type:update, size/L, area:ranking criteria

#6876 [ES] Fix punctuation marks and typos in `Disambiguation` articles
  wiki/Disambiguation/NC/es.md
  wiki/Disambiguation/Ouendan/es.md
  wiki/Disambiguation/es.md
  wiki/Disambiguation/osu!/es.md
Labels: area:translations, type:clean up, size/S

#6893 Update community meeting date
  wiki/Community/osu!_community_meetings/de.md
  wiki/Community/osu!_community_meetings/en.md
  wiki/Community/osu!_community_meetings/fr.md
  wiki/Community/osu!_community_meetings/id.md
  wiki/Community/osu!_community_meetings/zh-tw.md
Labels: area:translations, type:update, size/S, area:community

#6890 Add "Tools" section to the Ranking Criteria
  wiki/Ranking_Criteria/en.md
Labels: size/S

#6848 [ZH] Update `Ranking_Criteria`
  wiki/Ranking_Criteria/zh.md
Labels: area:translations, type:update, size/L

#6851 [ZH] Update `Ranking_Criteria\osu!catch`
  wiki/Ranking_Criteria/osu!catch/zh.md
Labels: area:translations, type:update, size/L

#6894 Add `Project Loved: February 2022` news post
  news/2022-02-18-project-loved-february-2022.md
  wiki/shared/news/2022-02-18-project-loved-february-2022/1006480.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/1015335.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/1026167.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/1040735.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/1099229.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/1107074.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/1113833.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/1120507.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/1157124.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/1173017.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/1211809.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/1219078.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/1249679.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/1290926.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/1302447.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/1348795.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/1417973.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/1504187.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/1632807.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/283595.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/296304.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/502203.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/621216.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/715542.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/727196.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/835717.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/855239.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/858142.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/961953.jpg
  wiki/shared/news/2022-02-18-project-loved-february-2022/973750.jpg
Labels: area:news, size/L

#6901 Add 'badge' Tag to Tourney official support
  wiki/Tournaments/Official_support/en.md
Labels: area:tournaments, type:clean up, size/XS, area:community

#6902 Add New Featured Artist: Riya newspost
  news/2022-02-19-new-featured-artist-riya.md
Labels: area:news, size/M

#6903 Correct shortcut reference in `TWC/2022`
  wiki/Tournaments/TWC/2022/en.md
Labels: area:tournaments, type:clean up, size/XS

#6898 Update medal count in Medals
  wiki/Medals/en.md
  wiki/Medals/fr.md
  wiki/Medals/id.md
  wiki/Medals/zh.md
Labels: type:update, size/XS, area:gameplay

#6905 Update `MWC/2022_7K` with the final tournament standings
  wiki/Tournaments/MWC/2022_7K/en.md
  wiki/Tournaments/MWC/2022_7K/img/mwc7k-2022-badge-1st.jpg
  wiki/Tournaments/MWC/2022_7K/img/mwc7k-2022-badge-2nd.jpg
  wiki/Tournaments/MWC/2022_7K/img/mwc7k-2022-badge-3rd.jpg
  wiki/Tournaments/MWC/2022_7K/img/mwc7k-2022-podium.jpg
  wiki/Tournaments/en.md
Labels: type:update, area:tournaments, size/M

#6907 Add Grand Finals Statistics link for `MWC/2022_7K`
  wiki/Tournaments/MWC/2022_7K/en.md
Labels: type:update, area:tournaments, size/XS

#6910 Update `Countries that participated in osu! tournaments` with `MWC 7K 2022` results
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/en.md
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/id.md
Labels: type:update, area:tournaments, size/M

#6909 Add osb! Storyboarding Contest
  wiki/Contests/en.md
  wiki/Contests/fr.md
  wiki/Contests/osb!_Storyboarding_Contest/1/en.md
  wiki/Contests/osb!_Storyboarding_Contest/1/img/badge-winner.png
  wiki/Contests/osb!_Storyboarding_Contest/1/img/banner.png
  wiki/Contests/osb!_Storyboarding_Contest/1/img/editing-rules.jpg
  wiki/Contests/osb!_Storyboarding_Contest/en.md
Labels: type:new article, size/L, area:community

#6908 Make references to the ASC less intimidating for new contributors
  CONTRIBUTING.md
  wiki/Article_styling_criteria/Formatting/en.md
  wiki/Article_styling_criteria/Writing/en.md
  wiki/Article_styling_criteria/de.md
  wiki/Article_styling_criteria/en.md
  wiki/Article_styling_criteria/es.md
  wiki/Article_styling_criteria/fr.md
  wiki/Article_styling_criteria/id.md
  wiki/Article_styling_criteria/ja.md
  wiki/Article_styling_criteria/ru.md
  wiki/Article_styling_criteria/th.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/en.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/es.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/fr.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/id.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/ru.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/uk.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/vi.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/zh.md
  wiki/osu!_wiki/Contribution_guide/en.md
  wiki/osu!_wiki/Contribution_guide/fr.md
  wiki/osu!_wiki/Contribution_guide/ko.md
  wiki/osu!_wiki/Contribution_guide/zh.md
  wiki/osu!_wiki/de.md
  wiki/osu!_wiki/en.md
  wiki/osu!_wiki/fr.md
  wiki/osu!_wiki/id.md
  wiki/osu!_wiki/uk.md
Labels: type:update, type:clean up, size/L

#6906 Update community meetings page with latest meeting
  wiki/Community/osu!_community_meetings/de.md
  wiki/Community/osu!_community_meetings/en.md
  wiki/Community/osu!_community_meetings/fr.md
  wiki/Community/osu!_community_meetings/id.md
  wiki/Community/osu!_community_meetings/zh-tw.md
Labels: type:update, size/S, area:community

#6911 4DM4 Grand Finals results + Podium
  wiki/Tournaments/4DM/4/en.md
  wiki/Tournaments/en.md
Labels: type:update, area:tournaments, size/S

#6913 Add missing flag image reference
  wiki/Tournaments/en.md
Labels: area:tournaments, type:clean up, size/XS

#6914 Add `osu! Indonesia Tournament #12 (2022)` wiki article
  wiki/Tournaments/OIT/2022/en.md
  wiki/Tournaments/OIT/2022/img/logo.jpg
  wiki/Tournaments/OIT/en.md
Labels: size/L

#6916 Update `People` index and `Main_page` with new articles
  wiki/Main_Page/bg.md
  wiki/Main_Page/cs.md
  wiki/Main_Page/de.md
  wiki/Main_Page/en.md
  wiki/Main_Page/es.md
  wiki/Main_Page/fr.md
  wiki/Main_Page/id.md
  wiki/Main_Page/it.md
  wiki/Main_Page/ja.md
  wiki/Main_Page/ko.md
  wiki/Main_Page/pl.md
  wiki/Main_Page/pt-br.md
  wiki/Main_Page/ro.md
  wiki/Main_Page/ru.md
  wiki/Main_Page/th.md
  wiki/Main_Page/tr.md
  wiki/Main_Page/uk.md
  wiki/Main_Page/zh-tw.md
  wiki/Main_Page/zh.md
  wiki/People/bg.md
  wiki/People/de.md
  wiki/People/en.md
  wiki/People/fr.md
  wiki/People/id.md
  wiki/People/ja.md
  wiki/People/pl.md
  wiki/People/pt-br.md
  wiki/People/ru.md
  wiki/People/sv.md
  wiki/People/th.md
  wiki/People/tr.md
  wiki/People/zh-tw.md
  wiki/People/zh.md
Labels: type:update, size/L, area:community

#6917 Update `UKCC11` tournament article with Qualifiers results and RO32 mappool
  wiki/Tournaments/OWC/2021/en.md
  wiki/Tournaments/UKCC/11/en.md
Labels: type:update, area:tournaments, size/M

#6918 Becoming a BN: Revise Activity
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/bg.md
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/en.md
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/fr.md
Labels: size/M

#6919 Remove incomplete stub marker from Performance Points Committee
  wiki/People/Performance_Points_Committee/en.md
  wiki/People/Performance_Points_Committee/fr.md
  wiki/People/Performance_Points_Committee/id.md
  wiki/People/Performance_Points_Committee/zh-tw.md
Labels: type:clean up, size/XS, area:community

#6925 Replace winner badge image for osb! Storyboarding Contest #1
  wiki/Contests/osb!_Storyboarding_Contest/1/img/badge-winner.png
Labels: type:clean up, size/XS, area:community

#6927 Add Skinning Contest Tides of Winter Results Newspost
  news/2022-02-25-skinning-contest-tides-of-winter-results.md
  wiki/shared/news/2022-02-25-skinning-contest-tides-of-winter-results/azure.png
  wiki/shared/news/2022-02-25-skinning-contest-tides-of-winter-results/banner.jpg
  wiki/shared/news/2022-02-25-skinning-contest-tides-of-winter-results/ganyu.png
  wiki/shared/news/2022-02-25-skinning-contest-tides-of-winter-results/wintherest.png
Labels: area:news, size/M

#6931 Fix unescaped hyphen causing bullet point in the tides of winter news post
  news/2022-02-25-skinning-contest-tides-of-winter-results.md
Labels: area:news, type:clean up, size/XS

#6934 Add `New Featured Artist: MisomyL` news post
  news/2022-02-26-new-featured-artist-misomyl.md
Labels: area:news, size/M

#6936 Update `TWC 2022` rules, add pending teams
  wiki/Tournaments/TWC/2022/en.md
Labels: type:update, area:tournaments, size/M

#6921 Expand the Off-Topic stub
  wiki/Community/Forum/Off-Topic/en.md
  wiki/Community/Forum/Off-Topic/fr.md
  wiki/Community/Forum/Off-Topic/zh-tw.md
Labels: type:update, area:website, size/M, area:community

#6924 Add guideline regarding long note length to o!m RC
  wiki/Ranking_Criteria/osu!mania/en.md
  wiki/Ranking_Criteria/osu!mania/fr.md
  wiki/Ranking_Criteria/osu!mania/id.md
  wiki/Ranking_Criteria/osu!mania/ja.md
  wiki/Ranking_Criteria/osu!mania/ko.md
  wiki/Ranking_Criteria/osu!mania/zh.md
Labels: size/S, rule change, area:ranking criteria

#6937 Add `Project Loved: Community Survey` news post
  news/2022-02-27-project-loved-community-survey.md
Labels: area:news, size/S

#6941 Update `osu! Indonesia Tournament #12 (2022)` to Round of 16
  wiki/Tournaments/OIT/2022/en.md
Labels: type:update, area:tournaments, size/M

#6944 Update team listing for `TWC 2022`
  wiki/Tournaments/TWC/2022/en.md
Labels: size/M
