Repository ppy/osu-wiki, pull requests merged in 2022-04, with the labels that each got.

#7111 Create wiki page detailing BN evaluations
  wiki/People/The_Team/Beatmap_Nominators/bg.md
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/fr.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Nomination_Assessment_Team/Evaluations/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/fr.md
  wiki/People/The_Team/Nomination_Assessment_Team/id.md
  wiki/People/The_Team/Nomination_Assessment_Team/ru.md
  wiki/People/The_Team/Nomination_Assessment_Team/th.md
  wiki/People/The_Team/Nomination_Assessment_Team/tr.md
Labels: type:new article, size/L, area:community

#7123 Fix link to `osu!stream` in `osu!stream/Song_List`
  wiki/osu!stream/Song_List/en.md
Labels: type:clean up, size/XS

#7125 Add `New Featured Artist: A.SAKA` news post
  news/2022-04-02-new-featured-artist-a-saka.md
Labels: area:news, size/M

#7124 [DE] Fix wrong link in `Tournaments/OWC/2014`
  wiki/Tournaments/OWC/2014/de.md
Labels: area:tournaments, type:clean up, size/XS

#7028 [TR] Add `Client`
  wiki/Client/tr.md
Labels: area:translations, type:new article, size/S, area:client

#7120 [DE] Update `Tournaments/OWC/2015`
  wiki/Tournaments/OWC/2015/de.md
Labels: type:update, area:tournaments, size/XL

#7122 [DE] Add `Rules/Song_Content_Rules`
  wiki/Rules/Song_Content_Rules/de.md
Labels: area:translations, type:new article, size/S, area:community

#7128 Conclude `osu! Indonesia Tournament #12 (2022)`
  wiki/Tournaments/OIT/2022/en.md
  wiki/Tournaments/OIT/2022/img/badge.png
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
Labels: type:update, area:tournaments, size/M

#7129 Update `TWC 2022` for the Semifinals stage
  wiki/Tournaments/TWC/2022/en.md
Labels: type:update, area:tournaments, size/M

#7132 Add Semifinals map pool to `TWC 2022`
  wiki/Tournaments/TWC/2022/en.md
Labels: area:tournaments, size/S

#7131 Ranking Criteria: Add repeat tags allowance
  wiki/Ranking_Criteria/en.md
  wiki/Ranking_Criteria/id.md
  wiki/Ranking_Criteria/ru.md
Labels: type:update, size/S, area:ranking criteria

#7134 Add dedicated podium graphics to `osu! Indonesia Tournament #12 (2022)`
  wiki/Tournaments/OIT/2022/en.md
  wiki/Tournaments/OIT/2022/img/podium.jpg
Labels: area:tournaments, size/XS

#7135 [ID] Update `Ranking Criteria`
  wiki/Ranking_Criteria/id.md
Labels: area:translations, type:update, size/XS, area:ranking criteria

#7133 Update Participants and schedule for `GBC 2022 Spring`
  wiki/Tournaments/GBC/GBC_2022_Spring/en.md
  wiki/Tournaments/GBC/GBC_2022_Spring/img/GBC-2022-Spring-banner.jpg
Labels: type:update, area:tournaments, size/L

#7136 fix date on SGTS 2021 Semifinals schedule
  wiki/Tournaments/GTS/SGTS_2021/en.md
Labels: size/XS

#7011 [ZH-TW] Add `Community/Forum/Feature_Requests`
  wiki/Community/Forum/Feature_Requests/zh-tw.md
Labels: area:translations, type:new article, size/S

#7021 [ZH-TW] Add `Client`
  wiki/Client/zh-tw.md
Labels: area:translations, type:new article, size/S, area:client

#7017 [ZH-TW] Add `Gameplay/Dash`
  wiki/Gameplay/Dash/zh-tw.md
Labels: area:translations, type:new article, size/S, area:gameplay

#7140 Add conclusion of `UKCC11` to tournament articles
  wiki/Tournaments/UKCC/11/en.md
  wiki/Tournaments/en.md
Labels: type:update, area:tournaments, size/M

#7012 [ZH-TW] Update `Main_Page`
  wiki/Main_Page/zh-tw.md
Labels: area:translations, type:update, size/XS

#7004 [ZH-TW] Update `Community/osu!_community_meetings`
  wiki/Community/osu!_community_meetings/zh-tw.md
Labels: area:translations, type:update, size/S

#7141 Add `New Featured Artist: Stonebank` news post
  news/2022-04-06-new-featured-artist-stonebank.md
Labels: area:news, size/M

#7143 Fix Skinning Contest #2 broken profile links
  wiki/Contests/Skinning_Contest/2/en.md
Labels: type:clean up, size/M

#7039 [RU] Add `Ranking criteria/osu!`
  wiki/Ranking_Criteria/osu!/ru.md
Labels: area:translations, type:new article, size/L, area:ranking criteria

#7144 Update `Beatmap_Spotlights` page
  wiki/Beatmap_Spotlights/en.md
  wiki/Beatmap_Spotlights/fr.md
  wiki/Beatmap_Spotlights/id.md
  wiki/Beatmap_Spotlights/zh.md
Labels: type:update, size/M, area:community

#7121 [ZH] Update Account in Help centre
  wiki/Help_centre/Account/zh.md
Labels: area:translations, type:update, size/M

#7145 Update Semifinals schedule for `TWC 2022`
  wiki/Tournaments/TWC/2022/en.md
Labels: area:tournaments, size/S

#7146 Removed redundant wording in Platter guideline
  wiki/Ranking_Criteria/osu!catch/en.md
  wiki/Ranking_Criteria/osu!catch/fr.md
  wiki/Ranking_Criteria/osu!catch/zh.md
Labels: size/S

#7147 Add clause about unsolicited PMs in `Bot account`
  wiki/Bot_account/en.md
  wiki/Bot_account/es.md
  wiki/Bot_account/fr.md
  wiki/Bot_account/id.md
  wiki/Bot_account/ru.md
  wiki/Bot_account/tr.md
  wiki/Bot_account/zh.md
Labels: type:update, size/S, area:community

#7149 Add `New Featured Artist: Archspire` news post
  news/2022-04-09-new-featured-artist-archspire.md
Labels: area:news, size/M

#7150 Fix grammar issue on `New Featured Artist: Archspire` news post
  news/2022-04-09-new-featured-artist-archspire.md
Labels: area:news, type:clean up, size/XS

#7151 Update `TWC 2022` for the Finals weekend
  wiki/Tournaments/TWC/2022/en.md
Labels: type:update, area:tournaments, size/M

#7156 Add Finals information to `TWC 2022`
  wiki/Tournaments/TWC/2022/en.md
Labels: size/M

#7158 Add A Place To Belong Fanart Contest newspost
  news/2022-04-11-place-to-belong-fanart-contest.md
Labels: area:news, size/M

#7160 Fix styling issues
  wiki/Rules/Explicit_Content/en.md
  wiki/Rules/Visual_Content_Considerations/en.md
  wiki/osu!stream/Song_List/en.md
  wiki/osu!stream/Song_List/fr.md
Labels: type:clean up, size/XS

#7142 Add `Expert Global Taiko Showdown 2021` wiki article
  wiki/Tournaments/GTS/EGTS_2021/en.md
  wiki/Tournaments/GTS/EGTS_2021/img/badge1.jpg
  wiki/Tournaments/GTS/EGTS_2021/img/badge2.jpg
  wiki/Tournaments/GTS/EGTS_2021/img/badge3.jpg
  wiki/Tournaments/GTS/EGTS_2021/img/logo.jpg
  wiki/Tournaments/GTS/en.md
  wiki/Tournaments/GTS/fr.md
  wiki/Tournaments/GTS/id.md
  wiki/Tournaments/GTS/ja.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
Labels: type:new article, area:tournaments, size/XL

#7052 [FR] Update `Article_styling_criteria\Formatting` and `Article_styling_criteria\Writing`
  wiki/Article_styling_criteria/Formatting/fr.md
  wiki/Article_styling_criteria/Writing/fr.md
Labels: area:translations, area:utilities, type:update, size/L

#7167 [DE] Update `Community/osu!_community_meetings`
  wiki/Community/osu!_community_meetings/de.md
Labels: area:translations, type:update, size/XS, area:community

#7171 Re-enable code ownership for the `Help centre` articles
  .github/CODEOWNERS
Labels: area:utilities, size/XS

#7162 [DE] Add `Rules/Explicit_Content`, `Rules/Content_Usage_Guidelines` and `Rules/Visual_Content_Considerations`
  wiki/Rules/Content_Usage_Guidelines/de.md
  wiki/Rules/Explicit_Content/de.md
  wiki/Rules/Explicit_Content/img/explicit-tag-DE.jpg
  wiki/Rules/Visual_Content_Considerations/de.md
Labels: area:translations, type:new article, size/L

#7130 [DE] Add `osu!stream/Song_List`
  wiki/osu!stream/Song_List/de.md
Labels: area:translations, type:new article, size/L

#7170 Minor cleanup of the `Help centre` articles
  wiki/Help_centre/Account/en.md
  wiki/Help_centre/Account_restrictions/de.md
  wiki/Help_centre/Account_restrictions/en.md
  wiki/Help_centre/Account_restrictions/fr.md
  wiki/Help_centre/Account_restrictions/id.md
  wiki/Help_centre/Account_restrictions/pt-br.md
  wiki/Help_centre/Account_restrictions/ru.md
  wiki/Help_centre/Account_restrictions/tr.md
  wiki/Help_centre/Account_restrictions/uk.md
  wiki/Help_centre/Account_restrictions/vi.md
  wiki/Help_centre/Account_restrictions/zh.md
  wiki/Help_centre/Client/en.md
  wiki/Help_centre/Store/en.md
  wiki/Help_centre/Website/en.md
  wiki/Help_centre/bg.md
  wiki/Help_centre/cs.md
  wiki/Help_centre/de.md
  wiki/Help_centre/en.md
  wiki/Help_centre/fr.md
  wiki/Help_centre/id.md
  wiki/Help_centre/zh.md
Labels: type:clean up, size/M

#7169 Update Node.js, the linter, and its dependencies to the next major version(s)
  .github/workflows/continuous-integration.yml
  news/.remarkrc.js
  package-lock.json
  package.json
  wiki/Main_Page/.remarkrc.js
Labels: area:utilities, size/M, dependencies

#6066 Update OD- and HR-related articles with correct information (especially regarding osu!mania)
  wiki/Beatmapping/Overall_difficulty/en.md
  wiki/Beatmapping/Overall_difficulty/fr.md
  wiki/Beatmapping/Overall_difficulty/id.md
  wiki/Beatmapping/Overall_difficulty/ru.md
  wiki/Client/Beatmap_editor/Song_Setup/en.md
  wiki/Client/Beatmap_editor/Song_Setup/fr.md
  wiki/Game_modifier/Hard_Rock/en.md
  wiki/Game_modifier/Hard_Rock/fr.md
  wiki/Game_modifier/Hard_Rock/id.md
Labels: type:update, type:clean up, size/M, area:gameplay

#7153 Add Catch The Beat Indonesia Cup 2022 Wiki Article
  wiki/Tournaments/CIC/2022/en.md
  wiki/Tournaments/CIC/2022/img/badge.png
  wiki/Tournaments/CIC/2022/img/banner.png
  wiki/Tournaments/CIC/2022/img/podium.png
  wiki/Tournaments/CIC/en.md
Labels: type:new article, area:tournaments, size/L

#7172 Add a note about Cutting Edge multiplayer access for `osu!supporter`s
  wiki/osu!supporter/en.md
Labels: type:update, size/XS

#7168 Update Regular stage Week 2 Match Schedule for `GBC 2022 Spring`
  wiki/Tournaments/GBC/GBC_2022_Spring/en.md
  wiki/Tournaments/GBC/GBC_2022_Spring/img/GBC2SprW1M7.jpg
Labels: type:update, area:tournaments, size/L

#7177 [DE] Mark `Client/Beatmap_editor/Menu` as needing native review
  wiki/Client/Beatmap_editor/Menu/de.md
Labels: area:translations, type:clean up, size/XS

#7180 Update Finals Schedule for `TWC 2022`
  wiki/Tournaments/TWC/2022/en.md
Labels: size/XS

#7178 Revert incorrect rewording of guideline
  wiki/Ranking_Criteria/osu!catch/en.md
Labels: type:clean up, size/XS, area:ranking criteria

#6813 Rewrite `Gameplay/Multiplayer`
  wiki/Gameplay/Multiplayer/en.md
  wiki/Gameplay/Multiplayer/fr.md
  wiki/Gameplay/Multiplayer/img/Multi_roomhost.jpg
  wiki/Gameplay/Multiplayer/img/Multi_roomplayer.jpg
  wiki/Gameplay/Multiplayer/img/multi-match-current-players-list.jpg
  wiki/Gameplay/Multiplayer/img/multi-match-header.jpg
  wiki/Gameplay/Multiplayer/img/multi-match-settings.jpg
  wiki/Gameplay/Multiplayer/img/multi-mh.jpg
  wiki/Gameplay/Multiplayer/ru.md
Labels: type:rewrite, size/XL, area:gameplay

#7182 Fix various infobox positioning issues in `Gameplay/Multiplayer`
  wiki/Gameplay/Multiplayer/en.md
  wiki/Gameplay/Multiplayer/img/Multi_mods_host.jpg
  wiki/Gameplay/Multiplayer/img/Multi_roomhost.jpg
Labels: type:clean up, size/M, area:gameplay

#7154 Move, outdate, and add links to some articles
  wiki/Beatmap/Genre_and_language/en.md
  wiki/Beatmap/Genre_and_language/fr.md
  wiki/Beatmap/Genre_and_language/id.md
  wiki/Beatmap/Genre_and_language/ru.md
  wiki/Beatmap/Genre_and_language/zh.md
  wiki/Beatmap/Online_offset/en.md
  wiki/Beatmap/Online_offset/fr.md
  wiki/Beatmap/Online_offset/id.md
  wiki/Beatmapping/Approach_rate/en.md
  wiki/Beatmapping/Approach_rate/fr.md
  wiki/Beatmapping/Approach_rate/id.md
  wiki/Beatmapping/Combo_colour/en.md
  wiki/Beatmapping/Combo_colour/fr.md
  wiki/Beatmapping/Combo_colour/id.md
  wiki/Beatmapping/Overall_difficulty/en.md
  wiki/Beatmapping/Overall_difficulty/fr.md
  wiki/Beatmapping/Overall_difficulty/id.md
  wiki/Beatmapping/Overall_difficulty/ru.md
  wiki/Gameplay/Drain_time/de.md
  wiki/Gameplay/Drain_time/en.md
  wiki/Gameplay/Drain_time/fr.md
  wiki/Gameplay/Drain_time/id.md
  wiki/Gameplay/Drain_time/nl.md
  wiki/Gameplay/Drain_time/th.md
  wiki/Gameplay/Full_combo/en.md
  wiki/Gameplay/Full_combo/fr.md
  wiki/Gameplay/Full_combo/id.md
  wiki/Gameplay/Full_combo/img/combo-comparison.png
  wiki/Gameplay/Full_combo/ja.md
  wiki/Hit_object/Approach_circle/en.md
  wiki/Hit_object/Approach_circle/fr.md
  wiki/Hit_object/Approach_circle/id.md
  wiki/Hit_object/Hit_circle/en.md
  wiki/Hit_object/Hit_circle/fr.md
  wiki/Hit_object/Hit_circle/id.md
  wiki/Hit_object/Sliderbody/en.md
  wiki/Hit_object/Sliderbody/fr.md
  wiki/Hit_object/Sliderbody/id.md
  wiki/Hit_object/Spinner/en.md
  wiki/Hit_object/Spinner/fr.md
  wiki/Hit_object/Spinner/id.md
  wiki/redirect.yaml
Labels: type:clean up, size/L

#7179 [RU] Rephrase some parts of the `Ranking Criteria`
  wiki/Ranking_Criteria/ru.md
Labels: area:translations, type:clean up, size/M

#7184 Sort members of the `Global Moderation Team` alphabetically
  wiki/People/The_Team/Global_Moderation_Team/bg.md
  wiki/People/The_Team/Global_Moderation_Team/de.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Global_Moderation_Team/es.md
  wiki/People/The_Team/Global_Moderation_Team/fr.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/Global_Moderation_Team/it.md
  wiki/People/The_Team/Global_Moderation_Team/ja.md
  wiki/People/The_Team/Global_Moderation_Team/ko.md
  wiki/People/The_Team/Global_Moderation_Team/pl.md
  wiki/People/The_Team/Global_Moderation_Team/pt-br.md
  wiki/People/The_Team/Global_Moderation_Team/pt.md
  wiki/People/The_Team/Global_Moderation_Team/ru.md
  wiki/People/The_Team/Global_Moderation_Team/th.md
  wiki/People/The_Team/Global_Moderation_Team/tl.md
  wiki/People/The_Team/Global_Moderation_Team/tr.md
  wiki/People/The_Team/Global_Moderation_Team/zh-tw.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
Labels: type:clean up, size/M, area:community

#7190 Add New Featured Artist: Mage newspost
  news/2022-04-16-new-featured-artist-mage.md
Labels: area:news, size/M

#7173 Add scoring survey results newspost
  news/2022-04-17-scoring-survey-results.md
Labels: area:news, size/M

#5859 Update `History of osu! 2016`
  wiki/History_of_osu!/2016/en.md
  wiki/History_of_osu!/2016/fr.md
  wiki/History_of_osu!/2016/img/hush-hush-medals.jpg
  wiki/History_of_osu!/2016/img/maria.jpg
  wiki/History_of_osu!/2016/img/new-medal-design-2016.jpg
  wiki/History_of_osu!/2016/img/osu-mug-osu-go.jpg
  wiki/History_of_osu!/2016/img/taiko-mascot-winners-community.jpg
Labels: type:update, size/L, area:community

#7194 Add Tournament bans article to Help centre
  wiki/Help_centre/Account/de.md
  wiki/Help_centre/Account/en.md
  wiki/Help_centre/Account/fr.md
  wiki/Help_centre/Account/id.md
  wiki/Help_centre/Account/ru.md
  wiki/Help_centre/Account/zh.md
  wiki/Help_centre/Tournament_bans/en.md
  wiki/Help_centre/en.md
Labels: type:new article, size/M

#7195 [EN] Update on `osu!supporter`
  wiki/osu!supporter/en.md
Labels: size/XS

#7196 Update `TWC 2022` for the Grand Finals stage
  wiki/Tournaments/TWC/2022/en.md
Labels: type:update, area:tournaments, size/M

#7183 Remove formatting from section headings
  wiki/Beatmap_ranking_procedure/Ranking_queue/id.md
  wiki/Beatmap_ranking_procedure/id.md
  wiki/Client/Installation/id.md
  wiki/Client/Installation/macOS/id.md
  wiki/Client/Keyboard_shortcuts/id.md
  wiki/Community/Internet_Relay_Chat/ru.md
  wiki/Game_modifier/Summary/en.md
  wiki/Game_modifier/Summary/fr.md
  wiki/Game_modifier/Summary/id.md
  wiki/Game_modifier/Summary/ko.md
  wiki/Game_modifier/Summary/tr.md
  wiki/Game_modifier/Summary/zh-tw.md
  wiki/Guides/Discord_Rich_Presence/id.md
  wiki/Help_centre/Account/id.md
  wiki/Help_centre/Account_restrictions/id.md
  wiki/Help_centre/Beatmapping/id.md
  wiki/Help_centre/Client/id.md
  wiki/Help_centre/Website/id.md
  wiki/Legal/Copyright/id.md
  wiki/Legal/Privacy/id.md
  wiki/Reporting_bad_behaviour/Abuse/id.md
  wiki/Reporting_bad_behaviour/id.md
  wiki/Rules/id.md
  wiki/Silence/id.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/ru.md
  wiki/osu!_wiki/Maintenance/id.md
Labels: type:clean up, size/L

#7159 Add the `TMC/2nd` tournament article
  wiki/Tournaments/TMC/1st/en.md
  wiki/Tournaments/TMC/2nd/en.md
  wiki/Tournaments/TMC/2nd/img/badge.png
  wiki/Tournaments/TMC/2nd/img/logo.png
  wiki/Tournaments/TMC/en.md
Labels: type:new article, area:tournaments, size/XL

#7198 Update `TWC 2022` staff listing, map pool
  wiki/Tournaments/TWC/2022/en.md
Labels: type:update, area:tournaments, size/M

#7105 [ES] Update `Contribution_guide`
  wiki/osu!_wiki/Contribution_guide/es.md
Labels: area:translations, area:utilities, type:update, size/L

#7106 [ES] Add `List_of_maintainers`
  wiki/osu!_wiki/Maintenance/List_of_maintainers/es.md
Labels: area:translations, type:update, size/M

#7109 [ES] Add `Maintenance`
  wiki/osu!_wiki/Maintenance/es.md
Labels: area:translations, area:utilities, type:new article, size/L

#7118 [ES] Update `Tournaments/CWC/2014`
  wiki/Tournaments/CWC/2014/es.md
Labels: area:translations, type:update, area:tournaments, size/L

#7127 [KO] Update `Ranking criteria`
  wiki/Ranking_Criteria/ko.md
Labels: area:translations, size/L, area:ranking criteria

#7186 [ES] Update `Global_Moderation_Team`
  wiki/People/The_Team/Global_Moderation_Team/es.md
Labels: area:translations, type:update, size/M, area:community

#7202 [ES] Update in `flag-references`
  meta/flag-references/es.md
Labels: area:translations, area:utilities, type:update, size/XS

#7192 [ES] Add `Users_with_unique_titles`
  wiki/People/Users_with_unique_titles/es.md
Labels: area:translations, type:new article, size/L, area:community

#7201 add Project Loved: April 2022 newspost
  news/2022-04-18-project-loved-april-2022.md
  wiki/shared/news/2022-04-18-project-loved-april-2022/1014516.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/1018730.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/1024321.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/1035686.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/1042704.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/1060027.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/1063109.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/1134062.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/1188926.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/1275470.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/1299810.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/1350314.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/1351301.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/1392496.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/1408888.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/1478486.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/1584345.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/1610503.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/1738985.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/267041.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/396643.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/454942.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/516224.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/539007.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/58016.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/692689.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/740015.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/754402.jpg
  wiki/shared/news/2022-04-18-project-loved-april-2022/777877.jpg
Labels: area:news, size/L

#7188 Update Regular Week2 Result & Week3 Schedule For `GBC 2022 Spring`
  wiki/Tournaments/GBC/GBC_2022_Spring/en.md
Labels: type:update, area:tournaments, size/L

#7148 [ID] Update `Ranking_criteria/osu!taiko`
  wiki/Ranking_Criteria/osu!taiko/id.md
Labels: area:translations, type:update, size/L, area:ranking criteria

#7207 Add wiki article for `CWC 2022`
  wiki/Tournaments/CWC/2022/en.md
  wiki/Tournaments/CWC/2022/img/cwc2022_banner.jpg
  wiki/Tournaments/CWC/2022/img/cwc2022_banner@2x.jpg
  wiki/Tournaments/CWC/en.md
  wiki/Tournaments/CWC/ru.md
  wiki/Tournaments/en.md
Labels: type:new article, area:tournaments, size/L

#7208 Add `New Featured Artist: Aethral` news post
  news/2022-04-20-new-featured-artist-aethral.md
Labels: area:news, size/M

#7197 [ES] Update `osu!supporter`
  wiki/osu!supporter/es.md
Labels: area:translations, type:update, size/L

#7210 Add `CWC 2022` news post, update wiki article
  news/2022-04-21-osu-catch-world-cup-2022-registrations-now-open.md
  wiki/Tournaments/CWC/2022/en.md
Labels: area:news, type:new article, area:tournaments, size/M

#7211 Update `TWC 2022` Grand Finals schedule
  wiki/Tournaments/TWC/2022/en.md
Labels: type:update, area:tournaments, size/XS

#7023 [ZH] Add `People\The_Team\Beatmap_Nominators\Rules`
  wiki/People/The_Team/Beatmap_Nominators/Rules/zh.md
Labels: area:translations, type:new article, size/M, area:community

#7085 [ZH] Update `Ranking_Criteria`
  wiki/Ranking_Criteria/zh.md
Labels: area:translations, type:update, size/M, area:ranking criteria

#7086 [ZH] Add `People\The_Team\Beatmap_Nominators\Becoming_a_Beatmap_Nominator`
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/zh.md
Labels: area:translations, type:new article, size/M, area:community

#7087 [ZH] Update `People\The_Team\Beatmap_Nominators`
  wiki/People/The_Team/Beatmap_Nominators/zh.md
Labels: area:translations, type:update, size/M, area:community

#7175 [DE] Add `Brand_identity_guidelines` and `Client/Interface/Cookie`; update `Gameplay`, `People` and `Help_centre`
  wiki/Brand_identity_guidelines/de.md
  wiki/Client/Interface/Cookie/de.md
  wiki/Gameplay/de.md
  wiki/Help_centre/de.md
  wiki/People/de.md
Labels: area:translations, type:update, type:new article, size/L

#7185 [ZH/others] Update `Beatmap_Spotlights`
  wiki/Beatmap_Spotlights/Seasons/2020_Autumn/zh.md
  wiki/Beatmap_Spotlights/Seasons/2020_Summer/zh.md
  wiki/Beatmap_Spotlights/Seasons/2021_Spring/zh.md
  wiki/Beatmap_Spotlights/Seasons/2021_Winter/zh.md
  wiki/Beatmap_Spotlights/Seasons/2022_Winter/zh.md
  wiki/Beatmap_Spotlights/Seasons/fr.md
  wiki/Beatmap_Spotlights/Seasons/id.md
  wiki/Beatmap_Spotlights/Seasons/ja.md
  wiki/Beatmap_Spotlights/Seasons/zh-tw.md
  wiki/Beatmap_Spotlights/Seasons/zh.md
  wiki/Beatmap_Spotlights/en.md
  wiki/Beatmap_Spotlights/fr.md
  wiki/Beatmap_Spotlights/id.md
  wiki/Beatmap_Spotlights/pt-br.md
  wiki/Beatmap_Spotlights/zh.md
Labels: area:translations, type:update, size/XL, area:community

#7205 [KO] Update `Contribution guide`
  wiki/osu!_wiki/Contribution_guide/ko.md
Labels: area:translations, area:utilities, type:update, size/XS

#7193 Add `MCNC7K2022` article
  wiki/Tournaments/MCNC/7K2022/en.md
  wiki/Tournaments/MCNC/7K2022/img/banner.jpg
  wiki/Tournaments/MCNC/7K2022/img/mcnc7k-2022-badge-1st.jpg
  wiki/Tournaments/MCNC/en.md
Labels: type:new article, area:tournaments, size/L

#7189 April update of the team and staff log
  wiki/People/The_Team/Beatmap_Nominators/bg.md
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/fr.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/ko.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/de.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Global_Moderation_Team/es.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/es.md
  wiki/People/The_Team/Nomination_Assessment_Team/fr.md
  wiki/People/The_Team/Nomination_Assessment_Team/id.md
  wiki/People/The_Team/Nomination_Assessment_Team/pt-br.md
  wiki/People/The_Team/Nomination_Assessment_Team/ru.md
  wiki/People/The_Team/Nomination_Assessment_Team/th.md
  wiki/People/The_Team/Nomination_Assessment_Team/tr.md
  wiki/People/The_Team/Nomination_Assessment_Team/zh.md
  wiki/People/The_Team/osu!_Alumni/de.md
  wiki/People/The_Team/osu!_Alumni/en.md
  wiki/People/The_Team/osu!_Alumni/es.md
  wiki/People/The_Team/osu!_Alumni/fr.md
  wiki/People/The_Team/osu!_Alumni/id.md
  wiki/People/The_Team/osu!_Alumni/ja.md
  wiki/People/The_Team/osu!_Alumni/pl.md
  wiki/People/The_Team/osu!_Alumni/pt-br.md
  wiki/People/The_Team/osu!_Alumni/ru.md
  wiki/People/The_Team/osu!_Alumni/tr.md
  wiki/People/The_Team/osu!_Alumni/zh-tw.md
  wiki/People/The_Team/osu!_Alumni/zh.md
  wiki/Staff_Log/2021/en.md
  wiki/Staff_Log/2022/en.md
Labels: type:update, size/XL, area:community

#7206 [ES] Add `Formatting`
  wiki/Article_styling_criteria/Formatting/es.md
Labels: area:translations, area:utilities, type:new article, size/XL

#7203 [ES] Add `Skinning/FAQ`
  wiki/Skinning/FAQ/es.md
Labels: area:translations, type:new article, size/L, area:skinning

#7213 Update schedule and staff list in the GBC 2022 Spring tournament article
  wiki/Tournaments/GBC/GBC_2022_Spring/en.md
Labels: type:update, area:tournaments, size/S

#7200 [FR] Add `Help_centre\Tournament_bans`
  wiki/Help_centre/Tournament_bans/fr.md
Labels: area:translations, type:new article, size/M

#7209 [DE] Update `Medals`; add `Gameplay/Full_combo` and `Medals/Legacy_beatmap_packs`
  wiki/Gameplay/Full_combo/de.md
  wiki/Medals/Legacy_beatmap_packs/de.md
  wiki/Medals/de.md
Labels: area:translations, type:update, type:new article, size/XL

#7220 [PT-BR] Add `History_of_osu!/2010`
  wiki/History_of_osu!/2010/pt-br.md
Labels: area:translations, type:new article, size/XS, area:community

#7223 Fix Maxus being incorrectly listed in the osu! NAT instead of the mania NAT
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/es.md
  wiki/People/The_Team/Nomination_Assessment_Team/fr.md
  wiki/People/The_Team/Nomination_Assessment_Team/id.md
  wiki/People/The_Team/Nomination_Assessment_Team/pt-br.md
  wiki/People/The_Team/Nomination_Assessment_Team/ru.md
  wiki/People/The_Team/Nomination_Assessment_Team/th.md
  wiki/People/The_Team/Nomination_Assessment_Team/tr.md
  wiki/People/The_Team/Nomination_Assessment_Team/zh.md
Labels: type:clean up, size/S, area:community

#7224 Add New Featured Artist: Nile newspost
  news/2022-04-23-new-featured-artist-nile.md
Labels: area:news, size/M

#7229 [EN] Fix broken links to `Combo_colour` in osu!catch RC
  wiki/Ranking_Criteria/osu!catch/en.md
  wiki/redirect.yaml
Labels: type:clean up, size/XS, area:ranking criteria

#7230 Update `osu!trivium Quiz 2021` VOD links
  wiki/Contests/osu!trivium_Quiz/2021/en.md
Labels: type:update, size/S, area:community

#7228 Add osu!mania pp committee members
  wiki/People/Performance_Points_Committee/en.md
  wiki/People/Performance_Points_Committee/fr.md
  wiki/People/Performance_Points_Committee/id.md
  wiki/People/Performance_Points_Committee/zh-tw.md
Labels: type:update, size/S, area:community

#7218 [PT-BR] Add `Video_series`
  wiki/Community/Video_series/pt-br.md
Labels: area:translations, type:new article, size/XS, area:community

#7219 [PT-BR] Add `Organisations`
  wiki/Community/Organisations/pt-br.md
Labels: area:translations, type:new article, size/XS, area:community

#7221 [PT-BR] Add `Trigger_distance`
  wiki/Glossary/Trigger_distance/pt-br.md
Labels: area:translations, type:new article, size/XS, area:beatmapping

#7232 [PT-BR] Add `History_of_osu!/2011`
  wiki/History_of_osu!/2011/pt-br.md
Labels: area:translations, type:new article, size/XS, area:community

#7233 [DE] Apply fixes to various files
  meta/group-info/de.yaml
  wiki/BanchoBot/de.md
  wiki/Main_Page/de.md
  wiki/Play_style/Single-tapping/de.md
  wiki/Rules/de.md
  wiki/Tournaments/OWC/2013/de.md
  wiki/Tournaments/OWC/2014/de.md
  wiki/osu!_wiki/de.md
  wiki/osu!stream/Song_List/de.md
Labels: area:translations, type:clean up, size/M

#7234 [ID] Update `People/Performance_Points_Committee`
  wiki/People/Performance_Points_Committee/id.md
Labels: area:translations, type:update, size/S, area:community

#7217 [PT-BR] Add `Beatmap_description`
  wiki/Beatmap/Beatmap_description/pt-br.md
Labels: area:translations, type:update, size/S, area:beatmapping

#7235 Update `TWC 2022` with podium, results
  wiki/Tournaments/TWC/2022/en.md
  wiki/Tournaments/TWC/2022/img/podium.jpg
  wiki/Tournaments/TWC/2022/img/twc-2022-badge-1st.jpg
  wiki/Tournaments/TWC/2022/img/twc-2022-badge-2nd.jpg
  wiki/Tournaments/TWC/2022/img/twc-2022-badge-3rd.jpg
  wiki/Tournaments/en.md
Labels: type:update, area:tournaments, size/M

#7236 [EN/ID] Update `Countries that participated in osu! tournaments` with `TWC 2022` results
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/en.md
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/id.md
Labels: type:update, area:tournaments, size/M

#7238 Update links for `TWC 2022`
  wiki/Tournaments/TWC/2022/en.md
Labels: type:update, area:tournaments, size/XS

#7237 Add Beatmap Spotlights Winter 2022 conclusion newspost
  news/2022-04-24-beatmap-spotlights-season-5-winter-2022-conclusion.md
Labels: area:news, size/L

#7242 Swap tier and player columns in Beatmap Spotlights Winter 2022 news post
  news/2022-04-24-beatmap-spotlights-season-5-winter-2022-conclusion.md
Labels: area:news, type:clean up, size/L

#7243 Fix table headers in spotlights conclusion newspost
  news/2022-04-24-beatmap-spotlights-season-5-winter-2022-conclusion.md
Labels: area:news, type:clean up, size/XS

#7215 Require proper attribution for guest difficulties in `Ranking Criteria`
  wiki/Ranking_Criteria/en.md
  wiki/Ranking_Criteria/id.md
  wiki/Ranking_Criteria/ko.md
  wiki/Ranking_Criteria/zh.md
Labels: type:update, size/S, rule change, area:ranking criteria

#7245 Update "Reporting bad behaviour" and "How you can help"
  wiki/Community/How_you_can_help!/en.md
  wiki/Community/How_you_can_help!/fr.md
  wiki/Community/How_you_can_help!/id.md
  wiki/Community/How_you_can_help!/tr.md
  wiki/Reporting_bad_behaviour/de.md
  wiki/Reporting_bad_behaviour/en.md
  wiki/Reporting_bad_behaviour/fr.md
  wiki/Reporting_bad_behaviour/id.md
  wiki/Reporting_bad_behaviour/ru.md
  wiki/Tournaments/CWC/2013/en.md
Labels: type:update, size/M, area:community

#7226 [FR] Update `Beatmap_Spotlights`
  wiki/Beatmap_Spotlights/fr.md
Labels: area:translations, type:update, size/S, area:community

#7250 Update Regular stage week 3 Result and Play-Offs week 1 schedule.
  wiki/Tournaments/GBC/GBC_2022_Spring/en.md
Labels: size/L

#7253 Add New Featured Artist: MUZZ newspost
  news/2022-04-27-new-featured-artist-MUZZ.md
Labels: area:news, size/L

#7244 [ID] Update `Ranking_criteria`
  wiki/Ranking_Criteria/id.md
Labels: area:translations, type:update, size/XS, area:ranking criteria

#7216 [ZH] Update `osu!supporter`
  wiki/osu!supporter/zh.md
Labels: area:translations, type:update, size/L

#7249 Add MCNC 7k 2022 to Tournament list
  wiki/Tournaments/MCNC/en.md
  wiki/Tournaments/en.md
Labels: type:update, area:tournaments, size/XS

#7239 Add `Perak osu! Tournament 2022` wiki article
  wiki/Tournaments/POT/1/en.md
  wiki/Tournaments/POT/2022/en.md
  wiki/Tournaments/POT/2022/img/banner.jpg
  wiki/Tournaments/POT/en.md
  wiki/Tournaments/en.md
Labels: type:new article, area:tournaments, size/L

#7088 [RU] Update the `Contribution guide`, `Best practices` of contribution, and add the `github.dev` guide
  wiki/osu!_wiki/Contribution_guide/Best_practices/ru.md
  wiki/osu!_wiki/Contribution_guide/GitHub_web-based_editor/ru.md
  wiki/osu!_wiki/Contribution_guide/ru.md
Labels: area:translations, area:utilities, type:update, size/L

#7259 Add missing streamer profile on `Perak osu! Tournament 2022`
  wiki/Tournaments/POT/2022/en.md
Labels: type:update, area:tournaments, size/XS

#7262 Add New Featured Artist: Mitsuki / RINYA newspost
  news/2022-04-30-new-featured-artist-mitsuki-rinya.md
Labels: area:news, size/M
