Repository ppy/osu-wiki, pull requests merged in 2022-05, with the labels that each got.

#7212 [DE] Add `Medals/Unlock_requirements` and its subarticles
  wiki/Medals/Unlock_requirements/Beatmap_challenge_packs/de.md
  wiki/Medals/Unlock_requirements/Beatmap_packs/de.md
  wiki/Medals/Unlock_requirements/Beatmap_spotlights/de.md
  wiki/Medals/Unlock_requirements/Dedication/de.md
  wiki/Medals/Unlock_requirements/Mod_introduction/de.md
  wiki/Medals/Unlock_requirements/Seasonal_spotlights/de.md
  wiki/Medals/Unlock_requirements/Skill/de.md
  wiki/Medals/Unlock_requirements/de.md
Labels: area:translations, type:new article, size/L

#7251 [FR] Update `Beatmapping\Overall_difficulty`
  wiki/Beatmapping/Overall_difficulty/fr.md
Labels: area:translations, type:update, size/M, area:beatmapping

#7256 [FR] Update `Reporting bad behaviour`
  wiki/Reporting_bad_behaviour/fr.md
Labels: area:translations, type:update, size/S

#7257 [FR] Update `Bot_account`
  wiki/Bot_account/fr.md
Labels: area:translations, type:update, size/XS, area:community

#7204 [PT-BR] update `BanchoBot`
  wiki/BanchoBot/pt-br.md
Labels: area:translations, type:update, size/L

#7261 Ranking Criteria - Add Performances to Allowances
  wiki/Ranking_Criteria/en.md
  wiki/Ranking_Criteria/id.md
Labels: type:update, size/XS, rule change, area:ranking criteria

#7275 [ID] Update `Ranking Criteria` - Add Performances to Allowance
  wiki/Ranking_Criteria/id.md
Labels: area:translations, type:update, size/XS, area:ranking criteria

#7222 Add a shell script for running CI checks locally
  .gitattributes
  .github/workflows/continuous-integration.yml
  .gitignore
  CONTRIBUTING.md
  run-ci.sh
  scripts/ci/check_outdated_tags.sh
  scripts/ci/find_broken_wikilinks.py
  scripts/ci/inspect_binary_file_sizes.sh
  scripts/ci/run_remark.sh
  scripts/ci/run_yamllint.py
  scripts/requirements.txt
Labels: area:utilities, size/L

#7278 Remove reading ambiguity in the NAT article
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
Labels: type:clean up, size/XS, area:community

#7280 Add New Featured Artist: Ardolf newspost
  news/2022-05-04-new-featured-artist-ardolf.md
Labels: area:news, size/M

#7269 [FR] Update `osu!tourney` `osu!tourney/setup`
  wiki/osu!_tournament_client/osu!tourney/Setup/fr.md
  wiki/osu!_tournament_client/osu!tourney/fr.md
Labels: area:translations, type:update, size/S

#7276 [PT-BR] Correct typo in `BanchoBot`
  wiki/BanchoBot/pt-br.md
Labels: area:translations, type:update, size/XS

#7282 [FR] Update `Community\osu!_community_meetings`
  wiki/Community/osu!_community_meetings/fr.md
Labels: area:translations, type:update, size/XS, area:community

#7284 Update schedule for `GBC 2022 Spring` Semifinal.
  wiki/Tournaments/GBC/GBC_2022_Spring/en.md
Labels: type:update, area:tournaments, size/M

#7266 Update `Users with unique titles` listing
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/es.md
  wiki/People/Users_with_unique_titles/fr.md
  wiki/People/Users_with_unique_titles/id.md
Labels: type:update, size/L, area:community

#7267 [DE] Add `Help_centre/Tournament_bans`; update `Help_centre/Account`
  wiki/Help_centre/Account/de.md
  wiki/Help_centre/Tournament_bans/de.md
Labels: area:translations, type:update, type:new article, size/M

#7265 Update metadata and audio quality rules for Loved
  wiki/Community/Project_Loved/en.md
  wiki/Community/Project_Loved/fr.md
  wiki/Community/Project_Loved/id.md
  wiki/Community/Project_Loved/ru.md
  wiki/Community/Project_Loved/tr.md
Labels: type:update, size/S, area:beatmapping

#7289 Eliminate false positives of the freshness check by running `grep` with platform-dependent flags
  scripts/ci/check_outdated_tags.sh
Labels: area:utilities, size/XS

#7291 Fix incorrect flag in the `TMC/2nd` tournament article
  wiki/Tournaments/TMC/2nd/en.md
Labels: area:tournaments, type:clean up, size/XS

#7292 Add New Featured Artist: Allegaeon newspost
  news/2022-05-07-new-featured-artist-allegaeon.md
Labels: area:news, size/M

#7274 [FR] Update `Client\File_formats`
  wiki/Client/File_formats/fr.md
Labels: area:translations, type:update, size/M, area:client

#7281 [FR] Add `Music_theory/Measure` `Music_theory/Tempo` `Music_theory/Rhythm` `Music_theory/Syncopation`
  wiki/Music_theory/Measure/fr.md
  wiki/Music_theory/Rhythm/fr.md
  wiki/Music_theory/Syncopation/fr.md
  wiki/Music_theory/Tempo/fr.md
Labels: area:translations, type:new article, size/M

#7268 [FR] Update `osu!supporter`
  wiki/osu!supporter/fr.md
Labels: area:translations, type:update, size/L

#7285 [ID] Update `Reporting bad behaviour`
  wiki/Reporting_bad_behaviour/id.md
Labels: area:translations, type:update, size/S, area:community

#7286 [FR] Update `Play_style`
  wiki/Play_style/de.md
  wiki/Play_style/en.md
  wiki/Play_style/es.md
  wiki/Play_style/fr.md
Labels: area:translations, type:update, size/M, area:gameplay

#7277 [FR] Update `Ranking_Criteria` `Ranking_Criteria/osu!mania` `Ranking_Criteria/osu!taiko` `Ranking_Criteria/osu!catch`
  wiki/Ranking_Criteria/fr.md
  wiki/Ranking_Criteria/osu!catch/fr.md
  wiki/Ranking_Criteria/osu!mania/fr.md
  wiki/Ranking_Criteria/osu!taiko/fr.md
Labels: area:translations, type:update, size/M, area:ranking criteria

#7258 Add more difficulty names to `RC/Difficulty_naming`
  wiki/Ranking_Criteria/Difficulty_naming/en.md
  wiki/Ranking_Criteria/Difficulty_naming/fr.md
  wiki/Ranking_Criteria/Difficulty_naming/id.md
  wiki/Ranking_Criteria/Difficulty_naming/ru.md
  wiki/Ranking_Criteria/Difficulty_naming/sv.md
  wiki/Ranking_Criteria/Difficulty_naming/zh-tw.md
  wiki/Ranking_Criteria/Difficulty_naming/zh.md
Labels: type:update, size/M, area:ranking criteria

#7273 [FR] Update `Client\Beatmap_editor\Song_Setup`
  wiki/Client/Beatmap_editor/Song_Setup/fr.md
Labels: area:translations, type:update, size/M, area:client

#7297 Update `Featured Artist showcase beatmaps` article
  wiki/Featured_Artists/Featured_Artist_showcase_beatmaps/en.md
  wiki/Featured_Artists/Featured_Artist_showcase_beatmaps/fr.md
  wiki/Featured_Artists/Featured_Artist_showcase_beatmaps/id.md
  wiki/Featured_Artists/Featured_Artist_showcase_beatmaps/ja.md
Labels: type:update, size/XL

#7295 [FR] Update `Contests`
  wiki/Contests/fr.md
Labels: area:translations, type:update, size/S, area:community

#7296 [FR] Update `Help_centre`, `Help_centre\Account`
  wiki/Help_centre/Account/fr.md
  wiki/Help_centre/fr.md
Labels: area:translations, type:update, size/S

#7300 Update `CWC 2022` team listing
  wiki/Tournaments/CWC/2022/en.md
Labels: size/M

#7293 Split lighting.png from Hitburst Set in ranking criteria's skin set list
  wiki/Ranking_Criteria/Skin_Set_List/en.md
  wiki/Ranking_Criteria/Skin_Set_List/fr.md
  wiki/Ranking_Criteria/Skin_Set_List/zh.md
Labels: type:update, size/S, rule change, area:ranking criteria

#7241 [PT-BR] Add `Article_styling_criteria`
  wiki/Article_styling_criteria/pt-br.md
Labels: area:translations, area:utilities, type:new article, size/S

#7304 Add A Place To Belong Fanart Contest Results newspost
  news/2022-05-08-aptb-fanart-results.md
Labels: area:news, size/L

#7305 Adjust mascot name in APTB 2022 results article
  news/2022-05-08-aptb-fanart-results.md
Labels: size/XS

#7270 Change date style in French translations
  wiki/Community/Projects/fr.md
  wiki/Contests/OMC/5/fr.md
  wiki/Contests/oBWC/1/fr.md
  wiki/Gameplay/Score/fr.md
  wiki/Help_centre/Client/fr.md
  wiki/History_of_osu!/2013/fr.md
  wiki/History_of_osu!/2016/fr.md
  wiki/Tournaments/CFB/4/fr.md
  wiki/Tournaments/CFB/5/fr.md
  wiki/Tournaments/CFC/3/fr.md
  wiki/Tournaments/CFC/4/fr.md
  wiki/Tournaments/CFC/CFIC_1/fr.md
  wiki/Tournaments/CFC/CFIC_2/fr.md
  wiki/Tournaments/GO/3/fr.md
  wiki/Tournaments/GTS/AGTS_2019/fr.md
  wiki/Tournaments/GTS/IGTS_2019/fr.md
  wiki/Tournaments/TSC/1/fr.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/oMMFF/1/fr.md
Labels: area:translations, type:clean up, size/XL

#7271 [FR] Update `Staff_Log` and `Staff_Log/2021`
  wiki/Staff_Log/2021/fr.md
  wiki/Staff_Log/fr.md
Labels: area:translations, type:update, size/L, area:community

#7290 Add information about osu!taiko OD hit window timing and hit window rounding
  wiki/Beatmapping/Overall_difficulty/en.md
  wiki/Beatmapping/Overall_difficulty/fr.md
Labels: type:update, size/S, area:beatmapping, area:gameplay

#7311 Update `CWC 2022` team listing
  wiki/Tournaments/CWC/2022/en.md
Labels: size/S

#7283 Add osu!taiko pp committee members.
  wiki/People/Performance_Points_Committee/en.md
  wiki/People/Performance_Points_Committee/id.md
Labels: type:update, size/M, area:community

#7313 [FR] Revert translations of "guest difficulty"
  wiki/Beatmap/Beatmap_collaborations/fr.md
  wiki/Beatmap/Guest_difficulty/fr.md
  wiki/Client/Beatmap_editor/Song_Setup/fr.md
  wiki/Modding/Forum_modding/fr.md
  wiki/Rules/Content_Usage_Guidelines/fr.md
  wiki/Rules/fr.md
Labels: area:translations, type:clean up, size/S

#7299 [DE] Update `Reporting_bad_behaviour`; fix smaller styling issues
  wiki/Client/Interface/de.md
  wiki/Help_centre/Account/de.md
  wiki/Help_centre/Account_restrictions/de.md
  wiki/Reporting_bad_behaviour/de.md
  wiki/Rules/Explicit_Content/de.md
Labels: area:translations, type:update, type:clean up, size/M

#7301 [FR] Update `Community\How_you_can_help!`
  wiki/Community/How_you_can_help!/fr.md
Labels: area:translations, type:update, size/S, area:community

#7294 [FR] Update `Game_modifier\Hard_Rock`
  wiki/Game_modifier/Hard_Rock/fr.md
Labels: area:translations, type:update, size/S, area:gameplay

#7302 [FR] Update `Music_theory\Time_signature`
  wiki/Music_theory/Time_signature/fr.md
Labels: area:translations, type:update, size/S

#7309 [FR] Update `History_of_osu!` `History_of_osu!/April_fool`
  wiki/History_of_osu!/April_Fools/fr.md
  wiki/History_of_osu!/fr.md
Labels: area:translations, type:update, size/S, area:community

#7314 Update `CWC 2022` team listing
  wiki/Tournaments/CWC/2022/en.md
Labels: type:update, area:tournaments, size/XS

#7252 [PT-BR] Update `Featured_Artists`
  wiki/Featured_Artists/pt-br.md
Labels: area:translations, type:update, size/M

#7298 [DE] Add `Tournaments/Official_support`
  wiki/Tournaments/Official_support/de.md
  wiki/Tournaments/Official_support/en.md
Labels: area:translations, type:new article, area:tournaments, size/L

#7316 Add Tenchio Featured Artist newspost
  news/2022-05-11-new-featured-artist-tenchio.md
Labels: area:news, size/M

#7307 [FR] Update `Ranking_Criteria/Skin_set`
  wiki/Ranking_Criteria/Skin_Set_List/fr.md
Labels: area:translations, type:update, size/S, area:ranking criteria

#7315 [FR] Update `Gameplay/Score/osu!` `Gameplay/Score/osu!catch`
  wiki/Gameplay/Score/osu!/fr.md
  wiki/Gameplay/Score/osu!catch/fr.md
Labels: area:translations, type:update, size/M, area:gameplay

#7264 [RU] Add `Help centre`
  wiki/Help_centre/ru.md
Labels: area:translations, type:new article, size/M

#7317 Update medal count
  wiki/Medals/de.md
  wiki/Medals/en.md
  wiki/Medals/fr.md
  wiki/Medals/id.md
  wiki/Medals/zh.md
Labels: type:update, size/S, area:gameplay

#7320 Update `CWC 2022` team listing
  wiki/Tournaments/CWC/2022/en.md
Labels: size/S

#7321 Update `CWC 2022` with fixes, team lists
  wiki/Tournaments/CWC/2022/en.md
Labels: area:tournaments, size/S

#7312 [FR] Update `Beatmapping\Overall_difficulty`
  wiki/Beatmapping/Overall_difficulty/fr.md
Labels: area:translations, type:update, size/S, area:beatmapping, area:gameplay

#7324 Add `vote` tag to content voting process
  wiki/Rules/Content_Voting_Process/en.md
  wiki/Rules/Content_Voting_Process/fr.md
  wiki/Rules/Content_Voting_Process/id.md
  wiki/Rules/Content_Voting_Process/ru.md
Labels: type:clean up, size/S

#7325 Update `CWC 20221` player listing. staff listing
  wiki/Tournaments/CWC/2022/en.md
Labels: size/S

#7326 Update `GBC 2022 Spring` Finals Schedules
  wiki/Tournaments/GBC/GBC_2022_Spring/en.md
Labels: type:update, area:tournaments, size/M

#6735 Rewrite Storyboard scripting
  wiki/Storyboard/Scripting/de.md
  wiki/Storyboard/Scripting/en.md
  wiki/Storyboard/Scripting/fr.md
  wiki/Storyboard/Scripting/id.md
  wiki/Storyboard/Scripting/img/SBS_Base.jpg
  wiki/Storyboard/Scripting/img/osb-example.png
  wiki/Storyboard/Scripting/ja.md
  wiki/Storyboard/Scripting/pl.md
  wiki/Storyboard/Scripting/pt.md
  wiki/Storyboard/Scripting/ru.md
  wiki/Storyboard/Scripting/zh.md
Labels: type:rewrite, size/M, area:storyboarding

#7330 Fix `outdated_since` value for storyboard scripting
  wiki/Storyboard/Scripting/fr.md
  wiki/Storyboard/Scripting/id.md
Labels: area:utilities, type:clean up, size/XS

#7323 [FR] Add `Countries_that_participated_in_osu!_tournaments`
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/fr.md
Labels: area:translations, type:new article, area:tournaments, size/L

#7331 Add New Featured Artist: Neko Hacker newspost
  news/2022-05-14-new-featured-artist-neko-hacker.md
Labels: area:news, size/M

#7332 Fix incorrect preview link in Neko Hacker FA newspost
  news/2022-05-14-new-featured-artist-neko-hacker.md
Labels: area:news, type:clean up, size/XS

#7334 [FR] Remove `outdated` tag in `Beatmapping\Overall_difficulty`
  wiki/Beatmapping/Overall_difficulty/fr.md
Labels: area:translations, type:clean up, size/XS, area:beatmapping

#7329 [FR] Update `People` articles
  wiki/People/Performance_Points_Committee/fr.md
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/fr.md
  wiki/People/The_Team/Beatmap_Nominators/fr.md
  wiki/People/The_Team/Nomination_Assessment_Team/fr.md
  wiki/People/The_Team/Project_Loved_Team/fr.md
Labels: area:translations, type:update, size/L, area:community

#7227 [ID] Add `Ranking_criteria/osu!catch`
  wiki/Ranking_Criteria/osu!catch/id.md
Labels: area:translations, type:new article, size/L, area:ranking criteria

#7231 [ES] Add `/Skinning/Guides_and_important_threads`
  wiki/Skinning/Guides_and_important_threads/es.md
Labels: area:translations, type:new article, size/M, stale merge, area:skinning

#7240 [ES] Add `Skinning/History`
  wiki/Skinning/History/es.md
Labels: area:translations, type:new article, size/L, stale merge, area:skinning

#7248 [KO] Update `Ranking Criteria`
  wiki/Ranking_Criteria/ko.md
Labels: area:translations, type:update, size/XS, stale merge, area:ranking criteria

#7260 [ZH] Update `Ranking_Criteria` and `Ranking_Criteria\osu!catch`
  wiki/Ranking_Criteria/osu!catch/zh.md
  wiki/Ranking_Criteria/zh.md
Labels: area:translations, type:update, size/S, stale merge, area:ranking criteria

#7263 [ZH] Add `Game_modifier`
  wiki/Game_modifier/zh.md
Labels: area:translations, type:new article, size/M, stale merge, area:gameplay

#7319 [FR] Convert `chat` > `tchat` across the wiki
  wiki/Article_styling_criteria/Writing/fr.md
  wiki/BanchoBot/fr.md
  wiki/Bancho_(server)/fr.md
  wiki/Client/Options/Ignore_list/fr.md
  wiki/Community/Internet_Relay_Chat/fr.md
  wiki/Disambiguation/Bancho/fr.md
  wiki/Gameplay/Multiplayer/fr.md
  wiki/Gameplay/Replay/fr.md
  wiki/Gameplay/Spectating/fr.md
  wiki/Guides/Beginner's_Tutorial/fr.md
  wiki/History_of_osu!/2007/fr.md
  wiki/History_of_osu!/2008/fr.md
  wiki/History_of_osu!/April_Fools/fr.md
  wiki/People/The_Team/Global_Moderation_Team/fr.md
  wiki/People/The_Team/Language_Surveillance_Division/fr.md
  wiki/People/The_Team/Nomination_Assessment_Team/Evaluations/fr.md
  wiki/People/The_Team/fr.md
  wiki/Registration/fr.md
  wiki/Reporting_bad_behaviour/Handling_foul_play/fr.md
  wiki/Rules/fr.md
  wiki/Tournaments/GO/3/fr.md
  wiki/Tournaments/GTS/AGTS_2019/fr.md
  wiki/Tournaments/GTS/IGTS_2019/fr.md
  wiki/Tournaments/MWC/2014/fr.md
  wiki/Tournaments/MWC/2017_4K/fr.md
  wiki/Tournaments/OWC/2013/fr.md
  wiki/Tournaments/OWC/2014/fr.md
  wiki/Tournaments/TSC/1/fr.md
  wiki/Tournaments/oMMFF/1/fr.md
Labels: area:translations, type:clean up, size/L

#7318 [FR] Cleanup `Client\Interface\Chat_console`
  wiki/Client/Interface/Chat_console/fr.md
Labels: area:translations, type:clean up, size/L, area:client

#7337 Update `CWC 2022` staff listing, add Qualifiers mappool
  wiki/Tournaments/CWC/2022/en.md
Labels: type:update, area:tournaments, size/S

#7279 Add article for "osu! at UCSD" and upcoming LAN tournament
  wiki/Community/Organisations/en.md
  wiki/Community/Organisations/fr.md
  wiki/Community/Organisations/id.md
  wiki/Community/Organisations/ja.md
  wiki/Community/Organisations/osu!_at_UCSD/en.md
  wiki/Community/Organisations/pt-br.md
  wiki/Community/Organisations/zh-tw.md
  wiki/Community/Organisations/zh.md
  wiki/Tournaments/osu!_at_UCSD/TGEX_2022/en.md
  wiki/Tournaments/osu!_at_UCSD/en.md
Labels: type:new article, area:tournaments, size/M, area:community

#7340 [FR] Add `Community\Organisations\osu!_at_UCSD`
  wiki/Community/Organisations/osu!_at_UCSD/fr.md
Labels: area:translations, type:new article, size/M, area:community

#7336 [ZH] Update `Modding` and Cleanup `Game_modifier`
  wiki/Game_modifier/zh.md
  wiki/Modding/zh.md
Labels: area:translations, type:update, type:clean up, size/L, area:gameplay, area:modding

#7344 Change image description in `osu!supporter`
  wiki/osu!supporter/en.md
  wiki/osu!supporter/es.md
  wiki/osu!supporter/fr.md
  wiki/osu!supporter/zh.md
Labels: type:update, size/XS

#7345 [FR] Update `osu!supporter`
  wiki/osu!supporter/fr.md
Labels: area:translations, type:update, size/XS

#7346 Update `CWC 2022` Qualifiers rules, add links
  wiki/Tournaments/CWC/2022/en.md
Labels: type:update, area:tournaments, size/S

#7349 Add New Featured Artist: JOYLESS newspost
  news/2022-05-18-new-featured-artist-joyless.md
Labels: area:news, size/M

#7350 Add Deluge osu!catch difficulty naming `Difficulty_naming`
  wiki/Ranking_Criteria/Difficulty_naming/en.md
  wiki/Ranking_Criteria/Difficulty_naming/fr.md
  wiki/Ranking_Criteria/Difficulty_naming/id.md
  wiki/Ranking_Criteria/Difficulty_naming/ru.md
  wiki/Ranking_Criteria/Difficulty_naming/sv.md
  wiki/Ranking_Criteria/Difficulty_naming/zh-tw.md
  wiki/Ranking_Criteria/Difficulty_naming/zh.md
Labels: type:update, size/XS, area:ranking criteria

#7351 Add osu! Talk Event: Overcoming Obstacles newspost
  news/2022-05-19-osu-talk-event-overcoming-obstacles.md
  wiki/shared/news/2022-05-19-osu-talk-event-overcoming-obstacles/ote-newspost-banner.png
Labels: area:news, size/M

#7353 Remove extraneous "UTC" in OTE news post tables
  news/2022-05-19-osu-talk-event-overcoming-obstacles.md
Labels: area:news, type:clean up, size/S

#7352 Add `OWC 2022` staff recruiting news post
  news/2022-05-20-osu-world-cup-2022-mapper-tester-applications.md
Labels: area:news, size/M

#7338 [ZH] Add `Beatmap_Nominator_Test`
  wiki/People/The_Team/Beatmap_Nominators/Beatmap_Nominator_Test/zh.md
Labels: area:translations, type:new article, size/M, area:community

#7335 [FR] Update `Storyboard\Scripting`
  wiki/Storyboard/Scripting/fr.md
Labels: area:translations, type:update, size/M, area:storyboarding

#7355 Add osu! Talk Event article
  wiki/Community/en.md
  wiki/Community/fr.md
  wiki/Community/id.md
  wiki/Community/osu!_Talk_Event/Overcoming_Obstacles/en.md
  wiki/Community/osu!_Talk_Event/en.md
  wiki/Community/zh-tw.md
Labels: type:new article, size/M, area:community

#7357 Add New Featured Artist: 69 de 74 newspost
  news/2022-05-21-new-featured-artist-69-de-74.md
Labels: area:news, size/M

#7359 Add links to new VODs and clean up formatting in the osu! talk event article
  wiki/Community/osu!_Talk_Event/Overcoming_Obstacles/en.md
Labels: type:update, size/S, area:community

#7354 Add Beatmap Spotlights Spring 2022 newspost
  news/2022-05-22-beatmap-spotlights-season-6-spring-2022-high-speed.md
  wiki/Beatmap_Spotlights/Seasons/2022_Spring/en.md
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/bronze_1.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/bronze_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/bronze_2.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/bronze_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/copper_1.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/copper_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/copper_2.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/copper_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/diamond_1.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/diamond_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/diamond_2.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/diamond_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/gold_1.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/gold_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/gold_2.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/gold_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/iron_1.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/iron_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/iron_2.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/iron_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/platinum_1.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/platinum_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/platinum_2.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/platinum_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/ri_1.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/ri_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/ri_2.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/ri_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/silver_1.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/silver_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/silver_2.png
  wiki/Beatmap_Spotlights/img/badges/spring_2022/osu/silver_2@2x.png
Labels: area:news, size/L

#7358 Update and rewind Beatmap Spotlights wiki article
  wiki/Beatmap_Spotlights/en.md
  wiki/Beatmap_Spotlights/fr.md
  wiki/Beatmap_Spotlights/img/spotlights-lobby.png
  wiki/Beatmap_Spotlights/zh.md
Labels: type:update, size/L, area:community

#7347 [JA] Cleanup `BanchoBot`
  wiki/BanchoBot/ja.md
Labels: area:translations, type:clean up, size/M

#7363 Update final result for `GBC2022Spring`
  wiki/Tournaments/GBC/GBC_2022_Spring/en.md
  wiki/Tournaments/GBC/GBC_2022_Spring/img/GBC-2022-Spring-PlayoffsSummary.png
  wiki/Tournaments/GBC/GBC_2022_Spring/img/GBC-2022-Spring-badge-1st.png
  wiki/Tournaments/GBC/GBC_2022_Spring/img/GBC-2022-Spring-badge-2nd.png
  wiki/Tournaments/GBC/GBC_2022_Spring/img/GBC-2022-Spring-badge-3rd.png
  wiki/Tournaments/GBC/GBC_2022_Spring/img/GBC-2022-Spring-podium.png
  wiki/Tournaments/en.md
Labels: type:update, area:tournaments, size/M

#7364 Add a space between flag and Hivie in the Spotlights article
  wiki/Beatmap_Spotlights/en.md
Labels: type:clean up, size/XS, area:community

#7365 FIx spotlights spring 2022 beatmap of the season crediting order
  news/2022-05-22-beatmap-spotlights-season-6-spring-2022-high-speed.md
Labels: size/XS

#7342 [FR] Cleanup `Client\Beatmap_editor\Distance_snap`
  wiki/Client/Beatmap_editor/Distance_snap/de.md
  wiki/Client/Beatmap_editor/Distance_snap/en.md
  wiki/Client/Beatmap_editor/Distance_snap/es.md
  wiki/Client/Beatmap_editor/Distance_snap/fr.md
  wiki/Client/Beatmap_editor/Distance_snap/id.md
  wiki/Client/Beatmap_editor/Distance_snap/ko.md
  wiki/Client/Beatmap_editor/Distance_snap/ru.md
  wiki/Client/Beatmap_editor/Distance_snap/zh-tw.md
Labels: area:translations, type:clean up, size/M, area:client

#7368 Conclude osu! Talk Event article and add links to final VODs
  wiki/Community/osu!_Talk_Event/Overcoming_Obstacles/en.md
  wiki/Community/osu!_Talk_Event/en.md
  wiki/Community/osu!_Talk_Event/img/banner.png
Labels: type:update, size/M, area:community

#7370 Fix spotlights spring 2022 incorrect spelling curator name
  news/2022-05-22-beatmap-spotlights-season-6-spring-2022-high-speed.md
Labels: size/XS

#7366 Update `Countries that participated in osu! tournaments` for `CWC 2022`
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/en.md
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/fr.md
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/id.md
Labels: type:update, area:tournaments, size/L

#7362 [DE] Add `Help_centre\Client`
  wiki/Help_centre/Client/de.md
  wiki/Help_centre/Client/img/correct-map-status-DE.png
  wiki/Help_centre/Client/img/difficulty-display-DE.png
Labels: area:translations, type:new article, size/XL, area:help centre

#7378 [FR] Update `Gameplay/Score` `Gameplay/Score/osu!taiko` `Gameplay/Score/osu!mania`
  wiki/Gameplay/Score/fr.md
  wiki/Gameplay/Score/osu!mania/fr.md
  wiki/Gameplay/Score/osu!taiko/fr.md
Labels: area:translations, type:update, size/M, area:gameplay

#7375 [FR] Update `People/Users_with_unique_titles`
  wiki/People/Users_with_unique_titles/fr.md
Labels: area:translations, type:update, size/XS, area:community

#7339 Update `meta\group-info\zh.yaml`
  meta/group-info/zh.yaml
Labels: area:translations, area:utilities, type:update, size/S

#7380 Add New Featured Artist: Origami Angel newspost
  news/2022-05-25-new-featured-artist-origami-angel.md
Labels: area:news, size/M

#7361 [KO] Update `meta/group-info`
  meta/group-info/ko.yaml
Labels: area:translations, area:utilities, type:update, size/M

#7333 [FR] Add `Tournaments\Official_support`
  wiki/Tournaments/Official_support/fr.md
Labels: area:translations, type:new article, area:tournaments, size/L

#7348 [ZH] Change image description in `osu!supporter`
  wiki/osu!supporter/zh.md
Labels: area:translations, type:update, size/XS

#7191 [RU] Added Russian versions of some articles in Guides
  wiki/Guides/Audio_Editing/ru.md
  wiki/Guides/BSS_Issues/ru.md
  wiki/Guides/Beginner's_Tutorial/ru.md
  wiki/Guides/Changing_the_Artist_or_Title/ru.md
  wiki/Guides/Compressing_files/ru.md
  wiki/Guides/Cropping_with_Complex_Backgrounds/ru.md
  wiki/Guides/Cropping_with_Simple_Backgrounds/ru.md
  wiki/Guides/Custom_Hitsound_Library/ru.md
  wiki/Guides/Discord_Rich_Presence/ru.md
  wiki/Guides/How_to_Use_the_Offset_Wizard/ru.md
  wiki/Guides/Livestreaming_osu!/ru.md
  wiki/Guides/Making_Properly_Centred_Spinners/ru.md
  wiki/Guides/Recording_osu!/ru.md
  wiki/Guides/Starting_a_Beatmap_Project/ru.md
  wiki/Guides/Tablet_Purchase/ru.md
  wiki/Guides/ru.md
Labels: area:translations, type:new article, size/XXL

#7387 Update `CWC 2022` Round of 32 schedule
  wiki/Tournaments/CWC/2022/en.md
Labels: size/S

#7372 [ZH] Update `Help_centre/Account`
  wiki/Help_centre/Account/zh.md
Labels: area:translations, type:update, size/XS, area:help centre

#7384 Update link to the partition reset guide in `Help centre/Store`
  wiki/Help_centre/Store/en.md
  wiki/Help_centre/Store/fr.md
Labels: type:clean up, size/XS, area:help centre

#7356 Add Project Loved: May 2022 news post
  news/2022-05-26-project-loved-may-2022.md
  wiki/shared/news/2022-05-26-project-loved-may-2022/1012105.jpg
  wiki/shared/news/2022-05-26-project-loved-may-2022/1077335.jpg
  wiki/shared/news/2022-05-26-project-loved-may-2022/1098451.jpg
  wiki/shared/news/2022-05-26-project-loved-may-2022/1107782.jpg
  wiki/shared/news/2022-05-26-project-loved-may-2022/116413.jpg
  wiki/shared/news/2022-05-26-project-loved-may-2022/1245950.jpg
  wiki/shared/news/2022-05-26-project-loved-may-2022/1342866.jpg
  wiki/shared/news/2022-05-26-project-loved-may-2022/1347388.jpg
  wiki/shared/news/2022-05-26-project-loved-may-2022/1415947.jpg
  wiki/shared/news/2022-05-26-project-loved-may-2022/1428709.jpg
  wiki/shared/news/2022-05-26-project-loved-may-2022/1493146.jpg
  wiki/shared/news/2022-05-26-project-loved-may-2022/1530469.jpg
  wiki/shared/news/2022-05-26-project-loved-may-2022/1555979.jpg
  wiki/shared/news/2022-05-26-project-loved-may-2022/358342.jpg
  wiki/shared/news/2022-05-26-project-loved-may-2022/529279.jpg
  wiki/shared/news/2022-05-26-project-loved-may-2022/74115.jpg
  wiki/shared/news/2022-05-26-project-loved-may-2022/789869.jpg
  wiki/shared/news/2022-05-26-project-loved-may-2022/825417.jpg
  wiki/shared/news/2022-05-26-project-loved-may-2022/918068.jpg
  wiki/shared/news/2022-05-26-project-loved-may-2022/924496.jpg
  wiki/shared/news/2022-05-26-project-loved-may-2022/945848.jpg
  wiki/shared/news/2022-05-26-project-loved-may-2022/952233.jpg
  wiki/shared/news/2022-05-26-project-loved-may-2022/971144.jpg
  wiki/shared/news/2022-05-26-project-loved-may-2022/979160.jpg
Labels: area:news, type:new article, size/L

#7393 [FR] Add notes on translations where the article is outdated, but the translation is up to date
  wiki/Game_modifier/Score_multiplier/fr.md
  wiki/Gameplay/Replay/fr.md
  wiki/Guides/How_to_Time_Songs/fr.md
  wiki/History_of_osu!/2018/fr.md
  wiki/History_of_osu!/fr.md
  wiki/History_of_osu!/osu!_wiki/fr.md
  wiki/Tournament_drawings/fr.md
Labels: area:translations, type:clean up, size/S

#7377 Add information about locking an account
  wiki/Help_centre/Account/de.md
  wiki/Help_centre/Account/en.md
  wiki/Help_centre/Account/fr.md
Labels: type:update, size/S, area:help centre

#7396 Fix `outdated_since` value in ASC translations
  wiki/Article_styling_criteria/Formatting/de.md
  wiki/Article_styling_criteria/Formatting/es.md
  wiki/Article_styling_criteria/Formatting/fr.md
  wiki/Article_styling_criteria/Formatting/ru.md
Labels: area:utilities, type:clean up, size/XS

#7373 [ZH] Update `Beatmap_Spotlights`
  wiki/Beatmap_Spotlights/Seasons/2020_Autumn/zh.md
  wiki/Beatmap_Spotlights/Seasons/2020_Summer/zh.md
  wiki/Beatmap_Spotlights/Seasons/2021_Spring/zh.md
  wiki/Beatmap_Spotlights/Seasons/2021_Winter/zh.md
  wiki/Beatmap_Spotlights/Seasons/2022_Spring/zh.md
  wiki/Beatmap_Spotlights/Seasons/2022_Winter/zh.md
  wiki/Beatmap_Spotlights/zh.md
Labels: area:translations, type:update, type:new article, size/XL, area:community

#7400 Add `New Featured Artist: Rameses B` news post
  news/2022-05-28-new-featured-artist-rameses-b.md
  wiki/shared/news/2022-05-28-new-featured-artist-rameses-b/faplcatch.png
  wiki/shared/news/2022-05-28-new-featured-artist-rameses-b/faplmania.png
  wiki/shared/news/2022-05-28-new-featured-artist-rameses-b/faplosu.png
  wiki/shared/news/2022-05-28-new-featured-artist-rameses-b/fapltaiko.png
Labels: area:news, size/L

#7360 Localise date style in German translations
  wiki/Tournaments/CJB_4K/2018/en.md
  wiki/Tournaments/GTS/AGTS_2019/de.md
  wiki/Tournaments/MCNC/7K2022/en.md
  wiki/Tournaments/OUKT/1/en.md
  wiki/Tournaments/OWC/2013/de.md
  wiki/Tournaments/OWC/2014/de.md
  wiki/Tournaments/OWC/2015/de.md
  wiki/Tournaments/UKCC/7/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
Labels: area:translations, type:clean up, size/XL

#7404 Add `.osu-wiki-bin.json` to `.gitignore`
  .gitignore
Labels: proposal, area:utilities, type:update, size/XS

#7403 Add `Client/Interface/Chat console/Highlight`
  wiki/Client/Interface/Chat_console/Highlight/en.md
  wiki/Client/Interface/Chat_console/Highlight/img/hl-notification.png
  wiki/Client/Interface/Chat_console/de.md
  wiki/Client/Interface/Chat_console/en.md
  wiki/Client/Interface/Chat_console/es.md
  wiki/Client/Interface/Chat_console/fr.md
  wiki/Client/Interface/Chat_console/id.md
  wiki/Client/Interface/Chat_console/it.md
  wiki/Client/Interface/Chat_console/ja.md
  wiki/Client/Interface/Chat_console/ko.md
  wiki/Client/Interface/Chat_console/ru.md
  wiki/Client/Interface/Chat_console/th.md
  wiki/Client/Interface/Chat_console/tr.md
  wiki/Client/Options/de.md
  wiki/Client/Options/en.md
  wiki/Client/Options/fr.md
  wiki/Client/Program_files/User_configuration_file/en.md
  wiki/Client/Program_files/User_configuration_file/fr.md
  wiki/Client/Program_files/User_configuration_file/id.md
  wiki/Client/Program_files/User_configuration_file/tr.md
  wiki/History_of_osu!/2008/en.md
  wiki/History_of_osu!/2008/fr.md
  wiki/History_of_osu!/2008/id.md
  wiki/Skinning/Sounds/en.md
  wiki/Skinning/Sounds/fr.md
  wiki/Skinning/Sounds/zh-tw.md
  wiki/redirect.yaml
Labels: type:new article, size/L, area:client

#7402 Add more variety to footnote headings in the ASC
  wiki/Article_styling_criteria/Formatting/en.md
Labels: area:utilities, type:update, size/XS

#7398 Use proper footnotes instead of superscript numbers
  wiki/Contests/en.md
  wiki/Contests/fr.md
  wiki/Contests/o!tFAC/1/en.md
  wiki/Medals/Legacy_beatmap_packs/de.md
  wiki/Medals/Legacy_beatmap_packs/en.md
  wiki/Medals/Legacy_beatmap_packs/fr.md
  wiki/Medals/Legacy_beatmap_packs/id.md
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/fr.md
  wiki/People/Users_with_unique_titles/id.md
  wiki/Rules/Visual_Content_Considerations/de.md
  wiki/Rules/Visual_Content_Considerations/en.md
  wiki/Rules/Visual_Content_Considerations/fr.md
  wiki/Rules/Visual_Content_Considerations/id.md
  wiki/Rules/Visual_Content_Considerations/ru.md
  wiki/Tournaments/CIC/2021/en.md
  wiki/Tournaments/CIC/2022/en.md
  wiki/Tournaments/CWC/1/en.md
  wiki/Tournaments/GBC/GBC_2022_Spring/en.md
  wiki/Tournaments/GTS/CGTS_2021/en.md
  wiki/Tournaments/OIT/2021/en.md
  wiki/Tournaments/OWC/2/en.md
  wiki/Tournaments/Official_support/de.md
  wiki/Tournaments/Official_support/en.md
  wiki/Tournaments/Official_support/fr.md
  wiki/Tournaments/UKCC/10/en.md
  wiki/Tournaments/UKCC/11/en.md
  wiki/Tournaments/UKCC/3/en.md
  wiki/Tournaments/oSEAT/4/en.md
  wiki/Tournaments/oSEAT/5/en.md
Labels: type:clean up, size/L

#7408 Update `Staff Log` and BN/GMT listing
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/fr.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/ko.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/de.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Global_Moderation_Team/es.md
  wiki/People/The_Team/Global_Moderation_Team/fr.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/Global_Moderation_Team/ja.md
  wiki/People/The_Team/Global_Moderation_Team/ko.md
  wiki/People/The_Team/Global_Moderation_Team/pl.md
  wiki/People/The_Team/Global_Moderation_Team/pt-br.md
  wiki/People/The_Team/Global_Moderation_Team/ru.md
  wiki/People/The_Team/Global_Moderation_Team/th.md
  wiki/People/The_Team/Global_Moderation_Team/tr.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
  wiki/People/The_Team/osu!_Alumni/ko.md
  wiki/Staff_Log/2022/en.md
Labels: type:update, size/XL, area:community

#7409 Update `CWC 2022` for the Round of 16 stage
  wiki/Tournaments/CWC/2022/en.md
Labels: type:update, area:tournaments, size/M

#7411 Update `CWC 2022` with RO16 information
  wiki/Tournaments/CWC/2022/en.md
Labels: type:update, area:tournaments, size/M

#7392 [DE] Update `Tournaments/Countries_that_participated_in_osu!_tournaments`
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/de.md
Labels: type:update, area:tournaments, size/XL

#7412 Specify the role of special mods when unlocking medals
  wiki/Medals/Unlock_requirements/Beatmap_spotlights/de.md
  wiki/Medals/Unlock_requirements/Beatmap_spotlights/en.md
  wiki/Medals/Unlock_requirements/Beatmap_spotlights/fr.md
  wiki/Medals/Unlock_requirements/Beatmap_spotlights/id.md
  wiki/Medals/de.md
  wiki/Medals/en.md
  wiki/Medals/fr.md
  wiki/Medals/id.md
  wiki/Medals/zh.md
Labels: type:update, size/M, area:gameplay

#7374 Add `triangles` news post
  news/2022-05-31-triangles.md
  wiki/Contests/triangles_Beatmapping_Contest/en.md
  wiki/shared/news/2022-05-26-triangles/aficionado@2x.png
  wiki/shared/news/2022-05-26-triangles/community@2x.png
  wiki/shared/news/2022-05-26-triangles/mappers@2x.png
  wiki/shared/news/2022-05-26-triangles/overallrunnerup@2x.png
  wiki/shared/news/2022-05-26-triangles/overallwinner@2x.png
  wiki/shared/news/2022-05-26-triangles/storyboarders@2x.png
Labels: area:news, size/L

#7414 Improve triangles Beatmapping Contest newspost readability
  news/2022-05-31-triangles.md
Labels: area:news, size/M

#7379 Add explanation for translated blockquotes to the ASC
  wiki/Article_styling_criteria/Formatting/en.md
  wiki/Article_styling_criteria/Writing/de.md
  wiki/Article_styling_criteria/Writing/en.md
  wiki/Article_styling_criteria/Writing/fr.md
  wiki/Article_styling_criteria/Writing/ru.md
Labels: area:utilities, type:update, size/M

#7382 Update nomination limit for taiko BNs
  wiki/People/The_Team/Beatmap_Nominators/Rules/en.md
  wiki/People/The_Team/Beatmap_Nominators/Rules/fr.md
  wiki/People/The_Team/Beatmap_Nominators/Rules/zh.md
Labels: type:update, size/S, area:community

#7415 [DE] Add `Client/Interface/Chat_console/Highlight`
  wiki/Client/Interface/Chat_console/Highlight/de.md
Labels: area:translations, type:new article, size/S, area:client

#7247 [JA] Update `Modding`
  wiki/Modding/ja.md
Labels: area:translations, type:update, size/L, area:modding

#7416 Ensure triangles osz link in newspost is up to date with conformant file
  news/2022-05-31-triangles.md
Labels: size/XS

#7397 Update ASC section about outdating articles
  wiki/Article_styling_criteria/Formatting/en.md
Labels: area:utilities, type:update, size/S

#7417 Correct Greek language code in `ASC/Formatting`
  wiki/Article_styling_criteria/Formatting/de.md
  wiki/Article_styling_criteria/Formatting/en.md
  wiki/Article_styling_criteria/Formatting/es.md
  wiki/Article_styling_criteria/Formatting/fr.md
  wiki/Article_styling_criteria/Formatting/ru.md
  wiki/Article_styling_criteria/Formatting/th.md
Labels: area:utilities, type:clean up, size/S
