Repository ppy/osu-wiki, pull requests merged in 2022-06, with the labels that each got.

#7418 Update `CWC 2022` RO16 schedule
  wiki/Tournaments/CWC/2022/en.md
Labels: type:update, area:tournaments, size/S

#7419 Add New Featured Artist: Ponchi newspost
  news/2022-06-01-new-featured-artist-ponchi.md
Labels: area:news, size/M

#7425 [ID] Update `Bot account`
  wiki/Bot_account/id.md
Labels: area:translations, type:update, size/S

#7436 Update `CWC 2022` RO16 schedule
  wiki/Tournaments/CWC/2022/en.md
Labels: size/XS

#7434 [ZH] Fix typo in Song Setup
  wiki/Client/Beatmap_editor/Song_Setup/zh.md
Labels: area:translations, type:update, size/XS, area:beatmapping

#7381 [FR] Update Projects
  wiki/Community/Projects/en.md
  wiki/Community/Projects/fr.md
Labels: area:translations, type:update, size/L, area:community

#7389 [FR] Add osu! Talk Event: Overcoming Obstacles
  wiki/Community/osu!_Talk_Event/Overcoming_Obstacles/fr.md
Labels: area:translations, type:new article, size/M, area:community

#7390 [FR] Add osu! Talk Event
  wiki/Community/osu!_Talk_Event/fr.md
Labels: area:translations, type:new article, size/S, area:community

#7440 Fix outdated tag in [FR] Projects
  wiki/Community/Projects/fr.md
Labels: area:translations, type:clean up, size/XS

#7428 [FR] Update Mappers' Guild
  wiki/Community/Mappers_Guild/fr.md
Labels: area:translations, type:update, size/XS, area:community

#7422 [FR] Update Medals
  wiki/Medals/en.md
  wiki/Medals/fr.md
  wiki/Medals/id.md
  wiki/Medals/ko.md
  wiki/Medals/pl.md
  wiki/Medals/ru.md
  wiki/Medals/zh.md
Labels: area:translations, type:update, size/M, area:gameplay

#7441 Add New Featured Artist: Hino Isuka newspost
  news/2022-06-04-new-featured-artist-hino-isuka.md
Labels: area:news, size/M

#7443 Fix broken preview link in Hino Isuka FA newspost
  news/2022-06-04-new-featured-artist-hino-isuka.md
Labels: size/XS

#7424 Update TGEX 2022 article
  wiki/Tournaments/osu!_at_UCSD/TGEX_2022/en.md
  wiki/Tournaments/osu!_at_UCSD/TGEX_2022/img/people.jpg
  wiki/Tournaments/osu!_at_UCSD/TGEX_2022/img/spreadsheet-pixel-art.png
  wiki/Tournaments/osu!_at_UCSD/TGEX_2022/img/tgex-banner.png
Labels: type:update, area:tournaments, size/L, area:community

#7446 Add `o!TFAC #2` contest article
  wiki/Contests/o!tFAC/1/en.md
  wiki/Contests/o!tFAC/2/en.md
  wiki/Contests/o!tFAC/2/img/badge.png
  wiki/Contests/o!tFAC/2/img/logo.jpg
  wiki/Contests/o!tFAC/en.md
Labels: type:new article, size/M, area:community

#7385 [RU] Update `Help centre/Account restrictions`
  wiki/Help_centre/Account_restrictions/ru.md
Labels: area:translations, type:update, size/M, area:help centre

#7386 [RU] Add `Help centre/Beatmapping`
  wiki/Help_centre/Beatmapping/ru.md
Labels: area:translations, type:new article, size/M, area:help centre

#7388 [RU] Add `Help centre/Tournament bans`
  wiki/Help_centre/Tournament_bans/ru.md
  wiki/Help_centre/ru.md
Labels: area:translations, type:new article, size/M, area:help centre

#7399 [RU] Add `Help centre/Store`
  wiki/Help_centre/Store/ru.md
Labels: area:translations, type:new article, size/L, area:help centre

#7405 [RU] Add `Help centre/Website`
  wiki/Help_centre/Website/ru.md
Labels: area:translations, type:new article, size/L, area:help centre

#7406 [RU] Update `Help centre/Account`
  wiki/Help_centre/Account/ru.md
Labels: area:translations, type:update, size/M, area:help centre

#7429 [RU] Update `Legal` articles (`Privacy policy`, `Music licensing`, `Copyright`)
  wiki/Legal/Copyright/ru.md
  wiki/Legal/Music_licensing/ru.md
  wiki/Legal/Privacy/ru.md
Labels: area:translations, type:update, size/L, area:legal

#7437 [RU] Add `Legal/Terms` of Service
  wiki/Legal/Terms/ru.md
Labels: area:translations, type:new article, size/L, area:legal

#7421 [FR] Update `People/The_Team/Beatmap_Nominators/Rules`
  wiki/People/The_Team/Beatmap_Nominators/Rules/fr.md
Labels: area:translations, type:update, size/XS, area:community

#7448 Clarify explanation of slider time length in .osu file format
  wiki/Client/File_formats/Osu_(file_format)/en.md
  wiki/Client/File_formats/Osu_(file_format)/fr.md
  wiki/Client/File_formats/Osu_(file_format)/pt-br.md
  wiki/Client/File_formats/Osu_(file_format)/zh.md
Labels: type:update, size/S, area:beatmapping

#7449 Outdate very old mapping techniques articles
  wiki/Mapping_techniques/Basics/en.md
  wiki/Mapping_techniques/Basics/fr.md
  wiki/Mapping_techniques/Formations/en.md
  wiki/Mapping_techniques/Formations/fr.md
  wiki/Mapping_techniques/Jumps/en.md
  wiki/Mapping_techniques/Jumps/fr.md
  wiki/Mapping_techniques/Making_good_sliders/en.md
  wiki/Mapping_techniques/Making_good_sliders/fr.md
  wiki/Mapping_techniques/Rhythm/en.md
  wiki/Mapping_techniques/Rhythm/fr.md
  wiki/Mapping_techniques/Sliders/en.md
  wiki/Mapping_techniques/Sliders/fr.md
  wiki/Mapping_techniques/Spinners/en.md
  wiki/Mapping_techniques/Spinners/fr.md
  wiki/Mapping_techniques/Unrankable/en.md
  wiki/Mapping_techniques/Unrankable/fr.md
  wiki/Mapping_techniques/en.md
  wiki/Mapping_techniques/fr.md
  wiki/Mapping_techniques/id.md
Labels: type:clean up, size/M, area:beatmapping

#7454 Add playlist B to spotlights spring 2022
  wiki/Beatmap_Spotlights/Seasons/2022_Spring/en.md
  wiki/Beatmap_Spotlights/Seasons/2022_Spring/zh.md
Labels: size/M

#7455 [ID] Update `Mappers' Guild`
  wiki/Community/Mappers_Guild/id.md
Labels: size/XS

#7458 Add teams to `triangles Beatmapping Contest` article
  wiki/Contests/triangles_Beatmapping_Contest/en.md
Labels: type:update, size/M, area:community

#7450 Add `SVS` and `SVS2` contest articles
  wiki/Contests/SVS/1/en.md
  wiki/Contests/SVS/2/en.md
  wiki/Contests/SVS/2/img/badge.png
  wiki/Contests/SVS/en.md
  wiki/Contests/SVS/img/banner.png
  wiki/Contests/en.md
  wiki/Contests/fr.md
Labels: type:new article, size/L, area:community

#7431 [DE] Update rules in the ASC
  wiki/Article_styling_criteria/Formatting/de.md
  wiki/Article_styling_criteria/Writing/de.md
Labels: area:translations, area:utilities, type:update, size/L

#7460 Update `CWC 2022` for the Quarterfinals stage
  wiki/Tournaments/CWC/2022/en.md
Labels: type:update, area:tournaments, size/L

#7444 Use inline code blocks for buttons and menu texts in `Performance_troubleshooting`
  wiki/Performance_troubleshooting/en.md
  wiki/Performance_troubleshooting/fr.md
  wiki/Performance_troubleshooting/zh.md
Labels: type:clean up, size/M, area:client

#7459 Fix banner image links in Slider Velocity Showdown articles
  wiki/Contests/SVS/1/en.md
  wiki/Contests/SVS/2/en.md
Labels: type:clean up, size/XS, area:community

#7457 [ZH] Add Beatmap Spotlights Spring 2022 playlist B
  wiki/Beatmap_Spotlights/Seasons/2022_Spring/zh.md
Labels: area:translations, type:update, size/L, area:community

#7461 Add `2022_Spring` to `Beatmap_Spotlights/Seasons` index page
  wiki/Beatmap_Spotlights/Seasons/en.md
  wiki/Beatmap_Spotlights/Seasons/fr.md
  wiki/Beatmap_Spotlights/Seasons/id.md
  wiki/Beatmap_Spotlights/Seasons/ja.md
  wiki/Beatmap_Spotlights/Seasons/zh-tw.md
  wiki/Beatmap_Spotlights/Seasons/zh.md
Labels: size/XS

#7442 Use wikilink checker externally
  .github/workflows/continuous-integration.yml
  run-ci.sh
  scripts/ci/find_broken_wikilinks.py
  scripts/requirements.txt
Labels: area:utilities, size/L

#7447 Use shorter link syntax across the wiki
  wiki/Contributor_Code_of_Conduct/en.md
  wiki/Contributor_Code_of_Conduct/es.md
  wiki/Contributor_Code_of_Conduct/fr.md
  wiki/Contributor_Code_of_Conduct/id.md
  wiki/Contributor_Code_of_Conduct/zh.md
  wiki/Legal/Copyright/en.md
  wiki/Legal/Copyright/fr.md
  wiki/Legal/Copyright/pt-br.md
  wiki/Legal/Copyright/th.md
  wiki/Legal/Copyright/tr.md
  wiki/Legal/Copyright/zh.md
  wiki/Legal/Terms/en.md
  wiki/Legal/Terms/fr.md
  wiki/Legal/Terms/id.md
  wiki/Legal/Terms/tr.md
  wiki/Legal/Terms/zh.md
Labels: type:clean up, size/M, area:legal, area:community

#7463 [PT-BR] Move `Glossary/Trigger distance` to the new location
  wiki/Beatmapping/Trigger_distance/pt-br.md
  wiki/redirect.yaml
Labels: type:clean up, size/XS

#7407 Add `Beatmapping/Flow`
  wiki/Beatmapping/Mapping_techniques/Flow/en.md
  wiki/redirect.yaml
Labels: type:new article, size/M, area:beatmapping

#7453 [DE] Add `Performance_troubleshooting`
  wiki/Performance_troubleshooting/de.md
Labels: area:translations, type:new article, size/L, area:client

#7430 [RU] Add `Ranking criteria/osu!catch` and related articles with the o!c terminology
  wiki/Beatmapping/Mapping_techniques/Antiflow/ru.md
  wiki/Beatmapping/Trigger_distance/ru.md
  wiki/Gameplay/Dash/ru.md
  wiki/Gameplay/Dash_snapping/ru.md
  wiki/Gameplay/Edge_dash/ru.md
  wiki/Gameplay/Hit_object/Hyperfruit/ru.md
  wiki/Gameplay/Hyperdash/ru.md
  wiki/Gameplay/Walk/ru.md
  wiki/Ranking_Criteria/osu!catch/ru.md
Labels: area:translations, type:new article, size/L, area:beatmapping, area:ranking criteria, area:gameplay

#7438 [RU] Add `Community Contributors`, and the committees articles
  wiki/People/Community_Contributors/ru.md
  wiki/People/Performance_Points_Committee/ru.md
  wiki/People/Tournament_Committee/ru.md
  wiki/People/ru.md
Labels: area:translations, type:update, type:new article, size/L, area:community

#7464 Update `Staff Log`, `The Team`, GMT/BN listings
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/fr.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/ko.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/bg.md
  wiki/People/The_Team/Global_Moderation_Team/de.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Global_Moderation_Team/es.md
  wiki/People/The_Team/Global_Moderation_Team/fr.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/Global_Moderation_Team/it.md
  wiki/People/The_Team/Global_Moderation_Team/ja.md
  wiki/People/The_Team/Global_Moderation_Team/ko.md
  wiki/People/The_Team/Global_Moderation_Team/pl.md
  wiki/People/The_Team/Global_Moderation_Team/pt-br.md
  wiki/People/The_Team/Global_Moderation_Team/pt.md
  wiki/People/The_Team/Global_Moderation_Team/ru.md
  wiki/People/The_Team/Global_Moderation_Team/th.md
  wiki/People/The_Team/Global_Moderation_Team/tl.md
  wiki/People/The_Team/Global_Moderation_Team/tr.md
  wiki/People/The_Team/Global_Moderation_Team/zh-tw.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
  wiki/People/The_Team/Staff_Log/2022/en.md
Labels: type:update, size/L, area:community

#7451 [FR] Change `Temps` > `Date` in `Beatmap_Spotlights/Seasons` folder
  wiki/Beatmap_Spotlights/Seasons/2020_Autumn/fr.md
  wiki/Beatmap_Spotlights/Seasons/2020_Summer/fr.md
  wiki/Beatmap_Spotlights/Seasons/2021_Spring/fr.md
  wiki/Beatmap_Spotlights/Seasons/2021_Winter/fr.md
  wiki/Beatmap_Spotlights/Seasons/2022_Winter/fr.md
Labels: area:translations, type:clean up, size/S, area:community

#7469 [JA] Update `Ranking_Criteria/osu!taiko`
  wiki/Ranking_Criteria/osu!taiko/ja.md
Labels: area:translations, type:update, size/XS, area:ranking criteria

#7470 Add New Featured Artist: SAMString newspost
  news/2022-06-08-new-featured-artist-samstring.md
Labels: area:news, size/M

#7420 [FR] Add `Beatmap_Spotlights/Seasons/2022_Spring`
  wiki/Beatmap_Spotlights/Seasons/2022_Spring/fr.md
Labels: area:translations, type:new article, size/L, area:community

#7445 [FR] Update `Performance_points\ppv1`
  wiki/Performance_points/ppv1/fr.md
Labels: area:translations, type:update, size/M, area:gameplay

#7465 [FR] Update `Client/File_formats/Osu_(file_format)`
  wiki/Client/File_formats/Osu_(file_format)/fr.md
Labels: area:translations, area:utilities, type:update, size/XS

#7452 [FR] Update `Beatmap_Spotlights`
  wiki/Beatmap_Spotlights/fr.md
Labels: area:translations, type:new article, size/M, area:community

#7468 [FR] Update `Help_centre\Account`
  wiki/Help_centre/Account/fr.md
Labels: area:translations, type:update, size/S, area:help centre

#7341 [JA] Add `BBCode`
  wiki/BBCode/ja.md
Labels: area:translations, type:new article, size/L, stale merge

#6881 [ES] Add `Account Restrictions`
  wiki/Help_centre/Account_restrictions/es.md
Labels: area:translations, type:new article, size/L, stale merge

#7471 Fix some of the broken wiki links
  wiki/BanchoBot/fr.md
  wiki/Beatmap/Beatmap_description/pt-br.md
  wiki/Beatmap/Beatmap_description/th.md
  wiki/Beatmap/Category/ru.md
  wiki/Beatmap/Category/th.md
  wiki/Beatmap/Difficulty/zh.md
  wiki/Beatmap/Genre_and_language/fr.md
  wiki/Beatmap/Genre_and_language/ru.md
  wiki/Beatmap/Genre_and_language/zh.md
  wiki/Beatmap/TAG/en.md
  wiki/Beatmap/TAG/id.md
  wiki/Beatmap/TAG/ja.md
  wiki/Beatmap/TAG/th.md
  wiki/Beatmap/TAG/zh-tw.md
  wiki/Beatmap/zh.md
  wiki/Beatmap_ranking_procedure/Ranking_queue/id.md
  wiki/Beatmap_ranking_procedure/zh.md
  wiki/Client/Interface/de.md
  wiki/Disambiguation/es.md
  wiki/Guides/Compressing_files/ru.md
  wiki/Help_centre/Account/ru.md
  wiki/Help_centre/Account/zh.md
  wiki/Help_centre/Tournament_bans/fr.md
  wiki/History_of_osu!/2008/fr.md
  wiki/Mascots/zh.md
  wiki/Modding/ja.md
  wiki/Modding/zh.md
  wiki/People/The_Team/Account_support_team/bg.md
  wiki/People/The_Team/Account_support_team/de.md
  wiki/People/The_Team/Account_support_team/en.md
  wiki/People/The_Team/Account_support_team/fr.md
  wiki/People/The_Team/Account_support_team/id.md
  wiki/People/The_Team/Account_support_team/th.md
  wiki/People/The_Team/Account_support_team/tr.md
  wiki/People/The_Team/Account_support_team/zh-tw.md
  wiki/People/The_Team/Beatmap_Nominators/Beatmap_Nominator_Test/zh.md
  wiki/People/The_Team/Nomination_Assessment_Team/Evaluations/fr.md
  wiki/People/Users_with_unique_titles/fr.md
  wiki/Ranking_Criteria/osu!/zh.md
  wiki/Ranking_Criteria/osu!catch/id.md
  wiki/Ranking_Criteria/osu!catch/zh.md
  wiki/Ranking_Criteria/zh.md
  wiki/Reporting_bad_behaviour/fr.md
  wiki/Skinning/FAQ/es.md
  wiki/Tournaments/Official_support/fr.md
  wiki/Tournaments/TMC/2nd/en.md
  wiki/Twitter/zh-tw.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/ko.md
  wiki/osu!_wiki/Contribution_guide/GitHub_web-based_editor/ru.md
  wiki/osu!_wiki/Contribution_guide/es.md
  wiki/osu!_wiki/Contribution_guide/ko.md
  wiki/osu!_wiki/Contribution_guide/ru.md
  wiki/osu!_wiki/Maintenance/es.md
  wiki/osu!supporter/fr.md
  wiki/osu!supporter/zh.md
Labels: type:clean up, size/L

#7476 Update `CWC 2022` Quarterfinals schedule
  wiki/Tournaments/CWC/2022/en.md
Labels: type:update, area:tournaments, size/S

#7475 update the amount of modposts needed in `Becoming_a_Beatmap_Nominator`
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/en.md
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/fr.md
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/zh.md
Labels: type:update, size/XS, area:community

#7479 Update ja.md
  wiki/BBCode/ja.md
Labels: size/XS

#7477 Update `CWC 2022` to use the new footnote style
  wiki/Tournaments/CWC/2022/en.md
Labels: type:update, area:tournaments, size/M

#7462 [DE] Add `Help_centre/Website`
  wiki/Help_centre/Website/de.md
Labels: area:translations, type:new article, size/L, area:help centre

#7483 Update `CWC 2022` Quarterfinals schedule
  wiki/Tournaments/CWC/2022/en.md
Labels: type:update, area:tournaments, size/XS

#7481 [FR] Add `Client\Interface\Chat_console\Highlight`
  wiki/Client/Interface/Chat_console/Highlight/fr.md
  wiki/Client/Interface/Chat_console/Highlight/img/hl-notification-FR.png
Labels: area:translations, type:new article, size/S, area:client

#7433 Update `Ranking Criteria`
  wiki/Ranking_Criteria/en.md
  wiki/Ranking_Criteria/fr.md
  wiki/Ranking_Criteria/id.md
  wiki/Ranking_Criteria/ko.md
  wiki/Ranking_Criteria/zh.md
Labels: type:update, size/M, rule change, area:ranking criteria

#7489 Add New Featured Artist: Kanpyohgo newspost
  news/2022-06-11-new-featured-artist-kanpyohgo.md
Labels: area:news, size/M

#7491 Remove execute permission from some images
  wiki/shared/Interface_mode.png
  wiki/shared/news/banners/mwc4k-2021.jpg
  wiki/shared/news/banners/mwc4k-2021@2x.jpg
Labels: type:clean up, size/XS

#7492 Add Project Loved news banner v2
  wiki/shared/news/banners/project-loved-2.jpg
  wiki/shared/news/banners/project-loved-2@2x.jpg
Labels: area:news, type:update, size/XS

#7487 [ID] Cleanup `The Team`
  wiki/People/The_Team/id.md
Labels: area:translations, type:update, size/M, area:community

#7490 Update `Kudosu`
  wiki/Modding/Kudosu/de.md
  wiki/Modding/Kudosu/en.md
  wiki/Modding/Kudosu/fr.md
  wiki/Modding/Kudosu/id.md
  wiki/Modding/Kudosu/ru.md
  wiki/Modding/Kudosu/tr.md
Labels: size/S

#7493 Update `CWC 2022` for the Semifinals stage
  wiki/Tournaments/CWC/2022/en.md
Labels: type:update, area:tournaments, size/M

#7488 [RU] Update `osu!supporter`
  wiki/Beatmap/Category/ru.md
  wiki/Help_centre/Beatmapping/ru.md
  wiki/osu!supporter/ru.md
Labels: area:translations, type:update, size/L

#7485 [FR] Add `Beatmapping\Mapping_techniques\Flow`
  wiki/Beatmapping/Mapping_techniques/Flow/en.md
  wiki/Beatmapping/Mapping_techniques/Flow/fr.md
Labels: area:translations, type:new article, size/M, area:beatmapping

#7482 [ID] Rewrite and update Beatmap Nominators
  meta/flag-references/id.md
  meta/group-info/de.yaml
  meta/group-info/en.yaml
  meta/group-info/es.yaml
  meta/group-info/fr.yaml
  meta/group-info/id.yaml
  meta/group-info/ja.yaml
  meta/group-info/ko.yaml
  meta/group-info/pl.yaml
  meta/group-info/pt-br.yaml
  meta/group-info/ru.yaml
  meta/group-info/th.yaml
  meta/group-info/tr.yaml
  meta/group-info/zh.yaml
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/fr.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/ko.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/Nomination_Assessment_Team/id.md
  wiki/People/The_Team/osu!_Alumni/id.md
Labels: area:translations, type:rewrite, size/L, area:community

#7494 Update `CWC 2022` Semifinals information
  wiki/Tournaments/CWC/2022/en.md
Labels: area:tournaments, size/S

#7484 Update details on beatmap upload limits in `osu!supporter` + `Help centre/Beatmapping`
  wiki/Beatmap/Category/en.md
  wiki/Beatmap/Category/fr.md
  wiki/Beatmap/Category/th.md
  wiki/Help_centre/Beatmapping/en.md
  wiki/Help_centre/Beatmapping/fr.md
  wiki/Help_centre/Beatmapping/id.md
  wiki/Help_centre/Beatmapping/zh-tw.md
  wiki/Help_centre/Beatmapping/zh.md
  wiki/osu!supporter/en.md
  wiki/osu!supporter/fr.md
  wiki/osu!supporter/zh.md
Labels: type:update, size/M, area:help centre

#7503 Clarify that osu!mania hitsounding exemptions are for hitsound additions
  wiki/Beatmapping/Hitsound/en.md
  wiki/Beatmapping/Hitsound/fr.md
  wiki/Beatmapping/Hitsound/id.md
  wiki/Ranking_Criteria/en.md
Labels: type:update, type:clean up, size/S, area:beatmapping, area:ranking criteria

#7499 [DE] Add `People/Tournament_Committee` and `People/Users_with_unique_titles`
  wiki/Main_Page/de.md
  wiki/People/Tournament_Committee/de.md
  wiki/People/Users_with_unique_titles/de.md
Labels: area:translations, type:new article, size/L, area:community

#7496 Add help file about translating group articles with member lists
  meta/group-info/TRANSLATING.md
  meta/group-info/de.yaml
  meta/group-info/en.yaml
  meta/group-info/es.yaml
  meta/group-info/fr.yaml
  meta/group-info/ja.yaml
  meta/group-info/ko.yaml
  meta/group-info/pl.yaml
  meta/group-info/pt-br.yaml
  meta/group-info/ru.yaml
  meta/group-info/th.yaml
  meta/group-info/tr.yaml
  meta/group-info/zh.yaml
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/de.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/bg.md
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
  wiki/People/The_Team/Staff_Log/2020/en.md
  wiki/People/The_Team/Staff_Log/2020/ja.md
  wiki/People/The_Team/Staff_Log/2020/ru.md
  wiki/People/The_Team/Staff_Log/2021/en.md
  wiki/People/The_Team/Staff_Log/2021/ja.md
  wiki/People/The_Team/Staff_Log/en.md
  wiki/People/The_Team/Support_Team/en.md
  wiki/People/The_Team/osu!_Alumni/en.md
Labels: area:utilities, type:new article, size/L

#7507 Update `Featured Artist showcase beatmaps`
  wiki/Featured_Artists/Featured_Artist_showcase_beatmaps/en.md
  wiki/Featured_Artists/Featured_Artist_showcase_beatmaps/fr.md
  wiki/Featured_Artists/Featured_Artist_showcase_beatmaps/id.md
  wiki/Featured_Artists/Featured_Artist_showcase_beatmaps/ja.md
Labels: type:update, size/M, area:community

#7480 Update `History_of_osu!/osu!_wiki`
  wiki/History_of_osu!/osu!_wiki/en.md
  wiki/History_of_osu!/osu!_wiki/fr.md
Labels: type:update, size/M, area:community

#7508 Add New Featured Artist: :Poin7less newspost
  news/2022-06-15-new-featured-artist-poin7less.md
Labels: area:news, size/M

#7512 Update `CWC 2022` Semifinal schedule
  wiki/Tournaments/CWC/2022/en.md
Labels: type:update, area:tournaments, size/S

#7511 [DE] Mark `Guides/Custom_Sample_Overrides` as outdated translation
  wiki/Guides/Custom_Sample_Overrides/de.md
Labels: area:translations, type:clean up, size/XS

#7515 [ZH] Mark `Help centre/Account` as outdated
  wiki/Help_centre/Account/zh.md
Labels: area:translations, type:clean up, size/XS, area:help centre

#7510 [DE] Update `group-info`, osu! file formats, storyboard, and tournaments articles
  meta/group-info/de.yaml
  wiki/Article_styling_criteria/de.md
  wiki/Client/File_formats/de.md
  wiki/Main_Page/de.md
  wiki/Mascots/de.md
  wiki/Storyboard/de.md
  wiki/Tournaments/de.md
  wiki/iNiS_games/de.md
  wiki/osu!api/de.md
Labels: area:translations, area:utilities, type:update, size/L, area:client

#7495 [FR] Update Kudosu article
  wiki/Modding/Kudosu/fr.md
Labels: area:translations, type:update, size/XS, area:modding

#7473 [FR] Update `Article_styling_criteria\Writing`
  wiki/Article_styling_criteria/Writing/fr.md
Labels: area:translations, type:update, size/S

#7517 Update `CWC 2022` Semifinals schedule
  wiki/Tournaments/CWC/2022/en.md
Labels: size/XS

#7432 [PT-BR] Add History of osu! 2007 article
  wiki/History_of_osu!/2007/pt-br.md
Labels: area:translations, type:new article, size/L, stale merge, area:community

#7497 [ZH] Update help centre articles
  wiki/Help_centre/Account/zh.md
  wiki/Help_centre/Account_restrictions/zh.md
  wiki/Help_centre/zh.md
Labels: area:translations, type:update, size/L, area:help centre

#7518 Add section about covers in news styling criteria
  wiki/News_styling_criteria/en.md
  wiki/News_styling_criteria/fr.md
Labels: area:news, type:update, size/S

#7472 [FR] Update `Article_styling_criteria\Formatting`
  wiki/Article_styling_criteria/Formatting/fr.md
Labels: area:translations, area:utilities, type:update, size/M

#7504 [ID] Add `Tournament bans`
  wiki/Help_centre/Tournament_bans/id.md
Labels: area:translations, type:new article, size/M, area:help centre

#7521 Expand on main menu banner image requirements
  wiki/Tournaments/Official_support/de.md
  wiki/Tournaments/Official_support/en.md
  wiki/Tournaments/Official_support/fr.md
Labels: type:update, area:tournaments, size/S

#7519 Restructure score article setup to allow for ScoreV1/ScoreV2 split
  wiki/Gameplay/Score/ScoreV1/en.md
  wiki/Gameplay/Score/ScoreV1/fr.md
  wiki/Gameplay/Score/ScoreV1/osu!/en.md
  wiki/Gameplay/Score/ScoreV1/osu!/es.md
  wiki/Gameplay/Score/ScoreV1/osu!/fr.md
  wiki/Gameplay/Score/ScoreV1/osu!/id.md
  wiki/Gameplay/Score/ScoreV1/osu!/pt-br.md
  wiki/Gameplay/Score/ScoreV1/osu!/tr.md
  wiki/Gameplay/Score/ScoreV1/osu!catch/en.md
  wiki/Gameplay/Score/ScoreV1/osu!catch/fr.md
  wiki/Gameplay/Score/ScoreV1/osu!mania/en.md
  wiki/Gameplay/Score/ScoreV1/osu!mania/es.md
  wiki/Gameplay/Score/ScoreV1/osu!mania/fr.md
  wiki/Gameplay/Score/ScoreV1/osu!taiko/en.md
  wiki/Gameplay/Score/ScoreV1/osu!taiko/fr.md
  wiki/Gameplay/Score/en.md
  wiki/Gameplay/Score/fr.md
  wiki/redirect.yaml
Labels: type:update, type:clean up, size/L, area:gameplay

#7524 Fix backwards markdown links in `Gameplay/Score`
  wiki/Gameplay/Score/en.md
Labels: type:clean up, size/XS, area:gameplay

#7522 Add New Featured Artist: Tokyo Machine newspost
  news/2022-06-18-new-featured-artist-tokyo-machine.md
Labels: area:news, size/M

#7526 Update Medal Count
  wiki/Medals/de.md
  wiki/Medals/en.md
  wiki/Medals/fr.md
  wiki/Medals/id.md
Labels: type:update, size/XS, area:gameplay

#7513 [ID] Update `Beatmap_Spotlights/Seasons/2021_Spring`
  wiki/Beatmap_Spotlights/Seasons/2021_Spring/id.md
Labels: area:translations, type:update, size/S, area:community

#7531 [FR] Fix error in `Article_styling_criteria\Formatting` and `Article styling_criteria\Writing`
  wiki/Article_styling_criteria/Formatting/fr.md
  wiki/Article_styling_criteria/Writing/fr.md
Labels: area:translations, area:utilities, type:clean up, size/XS

#7525 Rewrite `ScoreV1/osu!` using ground truth information
  wiki/Gameplay/Score/ScoreV1/osu!/en.md
  wiki/Gameplay/Score/ScoreV1/osu!/fr.md
Labels: type:update, size/M, area:gameplay

#7527 Update `Gameplay/Judgement/osu!` with ground truth information
  wiki/Gameplay/Judgement/osu!/en.md
  wiki/Gameplay/Judgement/osu!/fr.md
Labels: type:update, size/M, area:gameplay

#7537 Update `CWC 2022` for the Finals stage
  wiki/Tournaments/CWC/2022/en.md
Labels: type:update, area:tournaments, size/M

#7538 Add playlist C to Beatmap Spotlights Spring 2022
  wiki/Beatmap_Spotlights/Seasons/2022_Spring/en.md
  wiki/Beatmap_Spotlights/Seasons/2022_Spring/fr.md
  wiki/Beatmap_Spotlights/Seasons/2022_Spring/zh.md
Labels: type:update, size/L, area:community

#7500 [RU] Add/update articles under `People/The team`
  meta/group-info/ru.yaml
  wiki/People/The_Team/Account_support_team/ru.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Developers/ru.md
  wiki/People/The_Team/Language_Surveillance_Division/ru.md
  wiki/People/The_Team/Nomination_Assessment_Team/ru.md
  wiki/People/The_Team/Support_Team/ru.md
  wiki/People/The_Team/ru.md
Labels: area:translations, type:update, type:new article, size/L, area:community

#7533 Fix unstacked hatnotes in various articles
  wiki/Article_styling_criteria/Formatting/de.md
  wiki/Article_styling_criteria/Formatting/en.md
  wiki/Article_styling_criteria/Formatting/es.md
  wiki/Article_styling_criteria/Formatting/fr.md
  wiki/Article_styling_criteria/Formatting/ru.md
  wiki/Article_styling_criteria/Formatting/th.md
  wiki/Article_styling_criteria/Writing/es.md
  wiki/Client/Beatmap_editor/Song_Setup/en.md
  wiki/Client/Beatmap_editor/Song_Setup/fr.md
  wiki/Client/Keyboard_shortcuts/zh.md
  wiki/Client/Options/Universal_offset/en.md
  wiki/Client/Options/Universal_offset/fr.md
  wiki/Client/Options/Universal_offset/id.md
  wiki/Client/Options/de.md
  wiki/Client/Options/en.md
  wiki/Client/Options/fr.md
  wiki/Client/Options/pl.md
  wiki/Gameplay/Game_modifier/Easy/en.md
  wiki/Gameplay/Game_modifier/Easy/fr.md
  wiki/Gameplay/Game_modifier/Easy/id.md
  wiki/Gameplay/Game_modifier/Fade_In/en.md
  wiki/Gameplay/Game_modifier/Fade_In/fr.md
  wiki/Gameplay/Game_modifier/Fade_In/id.md
  wiki/Gameplay/Game_modifier/ScoreV2/en.md
  wiki/Gameplay/Game_modifier/ScoreV2/id.md
  wiki/Gameplay/Game_modifier/Summary/fr.md
  wiki/Gameplay/Game_modifier/Summary/tr.md
  wiki/Gameplay/Game_modifier/Summary/zh.md
  wiki/Gameplay/Judgement/Katu/en.md
  wiki/Gameplay/Judgement/Katu/fr.md
  wiki/Gameplay/Judgement/Katu/id.md
  wiki/Gameplay/Judgement/Katu/ja.md
  wiki/Help_centre/Account/de.md
  wiki/Help_centre/Account/en.md
  wiki/Help_centre/Account/fr.md
  wiki/Help_centre/Account/id.md
  wiki/Help_centre/Account/ru.md
  wiki/Help_centre/Account/zh.md
  wiki/Help_centre/Store/en.md
  wiki/Help_centre/Store/fr.md
  wiki/Help_centre/Store/ru.md
  wiki/People/The_Team/Account_support_team/bg.md
  wiki/People/The_Team/Account_support_team/de.md
  wiki/People/The_Team/Account_support_team/en.md
  wiki/People/The_Team/Account_support_team/es.md
  wiki/People/The_Team/Account_support_team/fr.md
  wiki/People/The_Team/Account_support_team/id.md
  wiki/People/The_Team/Account_support_team/th.md
  wiki/People/The_Team/Account_support_team/tr.md
  wiki/People/The_Team/Account_support_team/zh-tw.md
  wiki/Performance_troubleshooting/de.md
  wiki/Performance_troubleshooting/en.md
  wiki/Performance_troubleshooting/fr.md
  wiki/Performance_troubleshooting/vi.md
  wiki/Performance_troubleshooting/zh.md
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/de.md
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/en.md
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/fr.md
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/id.md
Labels: type:clean up, size/L

#7530 Update dash usage rules in the ASC
  wiki/Article_styling_criteria/Writing/de.md
  wiki/Article_styling_criteria/Writing/en.md
  wiki/Article_styling_criteria/Writing/fr.md
Labels: area:utilities, type:update, size/S

#7543 Bump osu-wiki-tools to version `0.0.3`
  scripts/requirements.txt
Labels: area:utilities, type:update, size/XS

#7514 [ID] Update `Game modifier/Hard Rock`
  wiki/Gameplay/Game_modifier/Hard_Rock/en.md
  wiki/Gameplay/Game_modifier/Hard_Rock/fr.md
  wiki/Gameplay/Game_modifier/Hard_Rock/id.md
Labels: area:translations, type:update, size/M, area:gameplay

#7545 Use correct hash for `outdated_since` in a few articles
  wiki/Storyboard/Scripting/Audio/de.md
  wiki/Storyboard/Scripting/Audio/fr.md
  wiki/Storyboard/Scripting/Audio/ja.md
  wiki/Storyboard/Scripting/Audio/pt-br.md
  wiki/Storyboard/Scripting/Cheat_Sheet/fr.md
  wiki/Storyboard/Scripting/Commands/fr.md
  wiki/Storyboard/Scripting/Objects/fr.md
Labels: type:clean up

#7541 Use ICU/CLDR language display names for group page translations
  meta/group-info/de.yaml
  meta/group-info/en.yaml
  meta/group-info/es.yaml
  meta/group-info/fr.yaml
  meta/group-info/id.yaml
  meta/group-info/ja.yaml
  meta/group-info/ko.yaml
  meta/group-info/pl.yaml
  meta/group-info/pt-br.yaml
  meta/group-info/ru.yaml
  meta/group-info/th.yaml
  meta/group-info/tr.yaml
  meta/group-info/zh.yaml
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/fr.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/ko.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/es.md
  wiki/People/The_Team/Global_Moderation_Team/fr.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/Global_Moderation_Team/ja.md
  wiki/People/The_Team/Global_Moderation_Team/ko.md
  wiki/People/The_Team/Global_Moderation_Team/pt-br.md
  wiki/People/The_Team/Global_Moderation_Team/ru.md
  wiki/People/The_Team/Global_Moderation_Team/tr.md
  wiki/People/The_Team/Nomination_Assessment_Team/es.md
  wiki/People/The_Team/Nomination_Assessment_Team/fr.md
  wiki/People/The_Team/Nomination_Assessment_Team/id.md
  wiki/People/The_Team/Nomination_Assessment_Team/pt-br.md
  wiki/People/The_Team/Nomination_Assessment_Team/ru.md
  wiki/People/The_Team/Nomination_Assessment_Team/tr.md
  wiki/People/The_Team/Support_Team/fr.md
  wiki/People/The_Team/Support_Team/id.md
  wiki/People/The_Team/Support_Team/pt-br.md
  wiki/People/The_Team/osu!_Alumni/fr.md
Labels: area:utilities, type:update, size/XL

#7547 Fix redundant redirects
  wiki/redirect.yaml
Labels: area:utilities, type:clean up, size/M

#7546 Update wiki maintainers list
  wiki/osu!_wiki/Maintenance/List_of_maintainers/en.md
  wiki/osu!_wiki/Maintenance/List_of_maintainers/es.md
  wiki/osu!_wiki/Maintenance/List_of_maintainers/fr.md
  wiki/osu!_wiki/Maintenance/List_of_maintainers/id.md
  wiki/osu!_wiki/Maintenance/List_of_maintainers/zh-tw.md
Labels: type:update, size/M, area:community

#7549 [ID/FR] Update osu-wiki status link to their specific language
  wiki/osu!_wiki/Maintenance/fr.md
  wiki/osu!_wiki/Maintenance/id.md
Labels: type:clean up, size/XS

#7523 [ZH] Change translation for `playlist`
  wiki/Beatmap_Spotlights/Seasons/2020_Autumn/zh.md
  wiki/Beatmap_Spotlights/Seasons/2020_Summer/zh.md
  wiki/Beatmap_Spotlights/Seasons/2021_Spring/zh.md
  wiki/Beatmap_Spotlights/Seasons/2021_Winter/zh.md
  wiki/Beatmap_Spotlights/Seasons/2022_Spring/zh.md
  wiki/Beatmap_Spotlights/Seasons/2022_Winter/zh.md
  wiki/Beatmap_Spotlights/zh.md
Labels: area:translations, type:update, size/L

#7552 Add New Featured Artist: Beach Bunny newspost
  news/2022-06-22-new-featured-artist-beach-bunny.md
Labels: area:news, size/M

#7555 Update `CWC 2022` Finals stage schedule
  wiki/Tournaments/CWC/2022/en.md
Labels: size/XS

#7550 [PL] Update `Twitter`
  wiki/Twitter/pl.md
Labels: area:translations, type:update, size/M

#7559 Fix style of a CI script
  scripts/ci/run_yamllint.py
Labels: size/XS

#7561 Update `CWC 2022` staff listing, Finals schedule
  wiki/Tournaments/CWC/2022/en.md
Labels: size/XS

#7563 Add New Featured Artist: NILFRUITS newspost
  news/2022-06-25-new-featured-artist-nilfruits.md
Labels: area:news, size/M

#7565 Link to `Content voting process` from the main page
  wiki/Main_Page/de.md
  wiki/Main_Page/en.md
  wiki/Main_Page/fr.md
  wiki/Main_Page/id.md
  wiki/Main_Page/pt-br.md
  wiki/Main_Page/ru.md
  wiki/Main_Page/zh-tw.md
  wiki/Main_Page/zh.md
Labels: type:update, size/S

#7567 Update `CWC 2022` for the Grand Finals stage
  wiki/Tournaments/CWC/2022/en.md
Labels: type:update, area:tournaments, size/M

#7557 [FR] Update History of the osu! wiki
  wiki/History_of_osu!/osu!_wiki/en.md
  wiki/History_of_osu!/osu!_wiki/fr.md
  wiki/History_of_osu!/osu!_wiki/it.md
  wiki/History_of_osu!/osu!_wiki/pl.md
Labels: area:translations, type:update, size/S

#7553 [ID] Add Feature Requests article
  wiki/Community/Forum/Feature_Requests/en.md
  wiki/Community/Forum/Feature_Requests/fr.md
  wiki/Community/Forum/Feature_Requests/id.md
  wiki/Community/Forum/Feature_Requests/zh-tw.md
Labels: area:translations, type:new article, size/S, area:community

#7562 Add 4 Digit Catch World Cup 2022 wiki page
  wiki/Tournaments/4CWC/2022/en.md
  wiki/Tournaments/4CWC/2022/img/banner.png
  wiki/Tournaments/4CWC/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
Labels: type:new article, area:tournaments, size/L

#7572 Fix broken news post links
  wiki/Contests/en.md
  wiki/Contests/fr.md
  wiki/Contests/triangles_Beatmapping_Contest/en.md
Labels: type:clean up, size/S

#7566 [DE] Add History of osu!, History of the osu! wiki, and Grade; update `.osb` and `.osz` articles
  wiki/Client/File_formats/Osb_(file_format)/de.md
  wiki/Client/File_formats/Osz_(file_format)/de.md
  wiki/Client/File_formats/Osz_(file_format)/img/DE-.osz_export.jpg
  wiki/Gameplay/Grade/de.md
  wiki/History_of_osu!/de.md
  wiki/History_of_osu!/osu!_wiki/de.md
Labels: area:translations, type:update, type:new article, size/L, area:gameplay, area:client, area:community

#7478 [ES] Update "The Team"
  wiki/People/The_Team/es.md
Labels: area:translations, type:update, size/M, stale merge, area:community

#7506 [FR] Clean up How to time songs
  wiki/Guides/How_to_Time_Songs/fr.md
Labels: area:translations, type:clean up, size/M, area:beatmapping

#7573 Add New Featured Artist: Toromaru newspost
  news/2022-06-29-new-featured-artist-toromaru.md
Labels: area:news

#7574 Update contest results links across news posts
  news/2020-07-24-monthly-beatmapping-contest-5-6-results.md
  news/2020-08-27-monthly-beatmapping-contest-7-results.md
  news/2020-09-27-monthly-beatmapping-contest-8-results.md
  news/2020-10-30-monthly-beatmapping-contest-9-results.md
  news/2020-12-14-monthly-beatmapping-contest-10-results.md
  news/2021-04-23-results-monthly-beatmapping-contest-march-2021.md
  news/2021-05-24-results-monthly-beatmapping-contest-april-2020.md
  news/2021-06-25-results-monthly-beatmapping-contest-may-osu.md
  news/2021-07-30-results-monthly-beatmapping-contest-june-2021.md
  news/2021-08-30-results-monthly-beatmapping-contest-july-2021.md
  news/2021-12-07-results-monthly-beatmapping-contest-2021-wrap-up.md
Labels: area:news, type:clean up, size/L

#7575 Update `CWC 2022` Grand Finals schedules, links
  wiki/Tournaments/CWC/2022/en.md
Labels: area:tournaments, size/S

#7570 Convert Remark configuration to ECMAScript modules
  .remarkrc.js
  news/.remarkrc.js
  package-lock.json
  package.json
  wiki/Main_Page/.remarkrc.js
Labels: area:utilities, type:update, size/XS

#7569 [ID] Retranslate osu!supporter
  wiki/osu!supporter/en.md
  wiki/osu!supporter/fr.md
  wiki/osu!supporter/id.md
  wiki/osu!supporter/ru.md
  wiki/osu!supporter/zh.md
Labels: area:translations, type:rewrite, type:update, size/L

#7551 Add Harumachi Cup Ω Wiki Page
  wiki/Tournaments/HC/Omega/en.md
  wiki/Tournaments/HC/Omega/img/banner.jpg
  wiki/Tournaments/HC/en.md
Labels: type:new article, area:tournaments, size/L
