Repository ppy/osu-wiki, pull requests merged in 2022-10, with the labels that each got.

#8092 Update `OWC 2022` team listing, links
  wiki/Tournaments/OWC/2022/en.md
Labels: size/M

#8095 Add New Featured Artist: Mono. news post
  news/2022-10-01-new-featured-artist-mono.md
Labels: area:news, type:new article, size/M

#8083 [FR] Update `Skinning/osu!`
  wiki/Skinning/osu!/fr.md
Labels: area:translations, type:update, size/S

#8051 [DE] Add `Community/Organisations` and subarticles
  wiki/Community/Organisations/de.md
  wiki/Community/Organisations/osu!_UCI/de.md
  wiki/Community/Organisations/osu!_at_UCSD/de.md
Labels: area:translations, type:new article, size/M, area:community

#8081 [RU] Add game modifier articles: `Half Time`, `Hard Rock`, `Hidden`, `Mirror`, and `Nightcore`
  wiki/Gameplay/Game_modifier/Half_Time/ru.md
  wiki/Gameplay/Game_modifier/Hard_Rock/ru.md
  wiki/Gameplay/Game_modifier/Hidden/ru.md
  wiki/Gameplay/Game_modifier/Mirror/ru.md
  wiki/Gameplay/Game_modifier/Nightcore/ru.md
Labels: area:translations, type:new article, size/L, area:gameplay

#8097 Update `OWC 2022` team listings
  wiki/Tournaments/OWC/2022/en.md
Labels: size/M

#8094 Update `Bancho`
  wiki/Bancho_(server)/de.md
  wiki/Bancho_(server)/en.md
  wiki/Bancho_(server)/es.md
  wiki/Bancho_(server)/fr.md
  wiki/Bancho_(server)/id.md
  wiki/Bancho_(server)/img/connection-warning.png
  wiki/Bancho_(server)/ja.md
  wiki/Bancho_(server)/th.md
  wiki/Bancho_(server)/zh-tw.md
  wiki/Bancho_(server)/zh.md
Labels: area:utilities, type:update, size/M

#8098 Adjust infobox positioning in `Bancho (server)`
  wiki/Bancho_(server)/en.md
Labels: area:utilities, type:clean up, size/XS

#8050 [DE] Update `Community/Video_series/osu_academy`
  wiki/Community/Video_series/osu!academy/de.md
Labels: area:translations, type:update, size/L

#8078 Add the `osu!monthly, September 2022` news post
  news/2022-10-02-osumonthly-3.md
  wiki/shared/news/2022-10-01-osumonthly-3/banner.jpg
  wiki/shared/news/2022-10-01-osumonthly-3/banner@2x.jpg
  wiki/shared/news/2022-10-01-osumonthly-3/corsacebanner.jpg
  wiki/shared/news/2022-10-01-osumonthly-3/corsacebanner2x.jpg
  wiki/shared/news/2022-10-01-osumonthly-3/corsacetop3.jpg
  wiki/shared/news/2022-10-01-osumonthly-3/medalsbanner.jpg
  wiki/shared/news/2022-10-01-osumonthly-3/medalsbanner@2x.jpg
  wiki/shared/news/2022-10-01-osumonthly-3/newskinoption.jpg
Labels: area:news, type:new article, size/L

#8102 Fixes for the `osu!monthly September 2022` news post
  news/2022-10-02-osumonthly-3.md
Labels: area:news, type:clean up, size/S

#8103 Remove `Glossary/Touhosu!` in favour of `History of osu!/April Fools#touhosu!`
  wiki/Glossary/Touhosu!/en.md
  wiki/Glossary/Touhosu!/fr.md
  wiki/Glossary/Touhosu!/id.md
  wiki/Glossary/en.md
  wiki/Glossary/fr.md
  wiki/Glossary/id.md
  wiki/redirect.yaml
Labels: type:clean up, size/M

#8104 Fix statement in medal section of `osu!monthly September 2022` news post
  news/2022-10-02-osumonthly-3.md
Labels: area:news, type:clean up, size/XS

#8101 Update the main page with links to extra community pages
  wiki/Main_Page/de.md
  wiki/Main_Page/en.md
  wiki/Main_Page/es.md
  wiki/Main_Page/fr.md
  wiki/Main_Page/id.md
  wiki/Main_Page/it.md
  wiki/Main_Page/ja.md
  wiki/Main_Page/pt-br.md
  wiki/Main_Page/ro.md
  wiki/Main_Page/zh.md
Labels: type:update, size/S

#8107 Update `OWC 2022` team listings
  wiki/Tournaments/OWC/2022/en.md
Labels: area:tournaments, size/S

#8105 Add EGTS Grand Finals songs to `osu! originals`
  wiki/osu!_originals/en.md
Labels: type:new article, size/XS

#8108 Add VINXIS - Joushou no Tabi ~ The Ascending Journey to `osu! originals`
  wiki/osu!_originals/en.md
Labels: type:update, size/XS

#8111 Link peppy's profile in peppy's article
  wiki/People/peppy/bg.md
  wiki/People/peppy/de.md
  wiki/People/peppy/en.md
  wiki/People/peppy/es.md
  wiki/People/peppy/fr.md
  wiki/People/peppy/id.md
  wiki/People/peppy/ru.md
  wiki/People/peppy/tr.md
  wiki/People/peppy/zh-tw.md
  wiki/People/peppy/zh.md
Labels: type:update, size/S

#8079 [DE] Adjust translation for score multiplier
  wiki/Client/Interface/de.md
  wiki/Gameplay/Game_modifier/de.md
Labels: area:translations, type:update, size/XS

#8112 [DE] Link peppy's profile in peppy's article
  wiki/People/peppy/de.md
Labels: area:translations, type:update, size/XS

#8080 [DE] Add `Community/How you can help!`
  wiki/Community/How_you_can_help!/de.md
Labels: area:translations, type:new article, size/M

#8096 [DE] Add `Help_centre/Store`
  wiki/Help_centre/Store/de.md
Labels: area:translations, type:new article, size/L, area:help centre

#8029 [DE] Add `Gameplay/Comboburst` and `Gameplay/Combo multiplier effect`
  wiki/Gameplay/Combo_multiplier_effect/de.md
  wiki/Gameplay/Comboburst/de.md
Labels: area:translations, type:new article, size/M, area:gameplay

#8043 [DE] Add `Gameplay/Game modifier/Flashlight`
  wiki/Gameplay/Game_modifier/Flashlight/de.md
Labels: area:translations, type:new article, size/M, area:gameplay

#8082 [DE] Update `BBCode`, `Twitter`, `Client` and `Help centre/Account`
  wiki/BBCode/de.md
  wiki/Client/de.md
  wiki/Help_centre/Account/de.md
  wiki/Twitter/de.md
Labels: area:translations, type:update, area:website, size/M, area:client, area:community, area:help centre

#8052 [DE] Add `Community`, `Community/Video series` and `Community/Community Mentorship Program`
  wiki/Community/Community_Mentorship_Program/de.md
  wiki/Community/Video_series/de.md
  wiki/Community/de.md
Labels: area:translations, type:new article, size/M, area:community

#8042 [DE] Add `Community/User title`
  wiki/Community/User_title/de.md
Labels: area:translations, type:new article, size/M, area:community

#8028 [DE] Add `Rules/Contributor Code of Conduct`
  wiki/Rules/Contributor_Code_of_Conduct/de.md
Labels: area:translations, type:new article, size/M, area:community

#8115 Added YuugenP (rN) to Featured Artists list in `Users_with_unique_titles`
  wiki/People/Users_with_unique_titles/de.md
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/fr.md
  wiki/People/Users_with_unique_titles/id.md
Labels: type:update, size/XS, area:community

#8120 Update `OWC 2022` commentators
  wiki/Tournaments/OWC/2022/en.md
Labels: size/XS

#8119 Update `Users with unique titles` with new Elite Storyboarder and Elite Mapper title holders
  wiki/People/Users_with_unique_titles/de.md
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/fr.md
  wiki/People/Users_with_unique_titles/id.md
Labels: type:update, size/S, area:community

#8123 Update `OWC 2022` player listing
  wiki/Tournaments/OWC/2022/en.md
Labels: type:update, area:tournaments, size/S

#8060 Update `GBC 2022 Autumn`
  wiki/Tournaments/GBC/GBC_2022_Autumn/en.md
Labels: type:update, area:tournaments, size/M

#8124 Update `EGTS 2022` to the Grand Finals stage
  wiki/Tournaments/GTS/EGTS_2022/en.md
Labels: type:update, area:tournaments, size/M

#8113 [FR] Update `Main_Page`
  wiki/Main_Page/fr.md
Labels: area:translations, type:update, size/XS

#8032 [ZH] Add `Silence`
  wiki/Silence/zh.md
Labels: area:translations, type:new article, size/M

#8025 [ES] Update `Beatmap`, `Category`, `Beatmap_host` and links
  wiki/Beatmap/Beatmap_host/es.md
  wiki/Beatmap/Category/de.md
  wiki/Beatmap/Category/en.md
  wiki/Beatmap/Category/es.md
  wiki/Beatmap/Category/fr.md
  wiki/Beatmap/Category/id.md
  wiki/Beatmap/Category/ru.md
  wiki/Beatmap/Category/th.md
  wiki/Beatmap/de.md
  wiki/Beatmap/en.md
  wiki/Beatmap/es.md
  wiki/Beatmap/fr.md
  wiki/Beatmap/id.md
  wiki/Beatmap/uk.md
  wiki/Beatmap/zh.md
Labels: area:translations, type:update, size/L

#8074 Add `M2P` contest article
  wiki/Contests/M2P/en.md
  wiki/Contests/M2P/img/banner.jpg
  wiki/Contests/M2P/img/t1.png
  wiki/Contests/M2P/img/t2.png
  wiki/Contests/M2P/img/t3.png
  wiki/Contests/en.md
  wiki/Contests/fr.md
Labels: type:new article, size/L, area:community

#8016 [ZH] Add `Juice_stream`
  wiki/Gameplay/Hit_object/Juice_stream/zh.md
Labels: area:translations, type:new article, size/S

#8127 Update `OBAM 2022` to Quarterfinals
  wiki/Tournaments/o!BAM/2/en.md
Labels: type:update, area:tournaments, size/M

#8125 [FR] Update `People/Users_with_unique_titles`
  wiki/People/Users_with_unique_titles/fr.md
Labels: area:translations, type:update, size/S

#8068 [FR] Add `Client/Menu_tips`
  wiki/Client/Interface/fr.md
  wiki/Client/Menu_tips/fr.md
Labels: area:translations, type:new article, size/L

#8116 [DE] Add `Beatmap/Star_rating`
  wiki/Beatmap/Star_rating/de.md
Labels: area:translations, type:new article, size/M

#8133 Update `OWC 2022` team listing
  wiki/Tournaments/OWC/2022/en.md
Labels: size/S

#8130 Conclude `CFDT 2` wiki article
  wiki/Tournaments/CFC/CFDT_2/en.md
  wiki/Tournaments/CFC/CFDT_2/img/badge.jpg
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
Labels: type:update, area:tournaments, size/L

#8134 Fix flags in contest page
  wiki/Contests/M2P/en.md
  wiki/Contests/en.md
Labels: type:clean up, size/M, area:community

#8136 Add New Featured Artist: Tokyo.Meltimelt news post
  news/2022-10-05-new-featured-artist-tokyo-meltimelt.md
Labels: area:news, size/M

#8137 Add winners of 15th Anniversary Art Contest to `Contests`
  wiki/Contests/en.md
Labels: type:update, size/XS, area:community

#8142 Update `OWC 2022` team listing
  wiki/Tournaments/OWC/2022/en.md
Labels: size/S

#8132 Update `Approach rate`
  wiki/Beatmap/Approach_rate/de.md
  wiki/Beatmap/Approach_rate/en.md
  wiki/Beatmap/Approach_rate/es.md
  wiki/Beatmap/Approach_rate/fr.md
  wiki/Beatmap/Approach_rate/id.md
  wiki/Beatmap/Approach_rate/ru.md
Labels: type:update, type:clean up, size/S, area:gameplay

#8061 Update `Brand identity guidelines` with osu! spelling rules
  wiki/Article_styling_criteria/Writing/de.md
  wiki/Article_styling_criteria/Writing/en.md
  wiki/Article_styling_criteria/Writing/fr.md
  wiki/Brand_identity_guidelines/de.md
  wiki/Brand_identity_guidelines/en.md
  wiki/Brand_identity_guidelines/fr.md
  wiki/Brand_identity_guidelines/id.md
  wiki/Brand_identity_guidelines/nl.md
  wiki/Brand_identity_guidelines/pt-br.md
  wiki/Brand_identity_guidelines/ru.md
  wiki/Brand_identity_guidelines/tr.md
Labels: area:utilities, type:update, size/L

#8106 Add `Results - triangles` news post
  news/2022-10-06-results-triangles.md
  wiki/Contests/triangles_Beatmapping_Contest/en.md
  wiki/shared/news/2022-10-04-results-triangles/overall.jpg
  wiki/shared/news/2022-10-04-results-triangles/runnerup.jpg
  wiki/shared/news/2022-10-04-results-triangles/runneruppreview.png
  wiki/shared/news/2022-10-04-results-triangles/sb.jpg
  wiki/shared/news/2022-10-04-results-triangles/sbpreview.png
  wiki/shared/news/2022-10-04-results-triangles/winnerpreview.png
Labels: area:news, type:new article, size/L

#8091 Update `Article styling criteria/Formatting` with guidelines for reference titles
  wiki/Article_styling_criteria/Formatting/en.md
  wiki/Article_styling_criteria/Formatting/fr.md
Labels: area:utilities, type:update, size/S

#8148 Update `o!mLN 3` participant and staff listing
  wiki/Tournaments/o!mLN/3/en.md
Labels: type:update, area:tournaments, size/L

#8146 [KO] Add ``upppy``
  wiki/upppy/ko.md
Labels: area:translations, type:new article, size/XS

#8145 [VI] Update `Twitter`
  wiki/Twitter/vi.md
Labels: type:update, size/S, area:community

#8154 Update `OWC 2022` team and staff listings
  wiki/Tournaments/OWC/2022/en.md
Labels: size/S

#8099 [FR] Update `Bancho`
  wiki/Bancho_(server)/fr.md
Labels: area:translations, area:utilities, type:update, size/S

#8122 [ZH] Add `Kudosu`
  wiki/Modding/Kudosu/zh.md
Labels: area:translations, type:new article, size/S, area:modding

#8143 Update `Beatmap/Online offset` with relevant information
  wiki/Beatmap/Online_offset/en.md
  wiki/Beatmap/Online_offset/fr.md
  wiki/Beatmap/Online_offset/id.md
  wiki/Beatmap/Online_offset/img/beatmap-management-panel-new.png
  wiki/Beatmap/Online_offset/img/beatmap-management-panel.jpg
  wiki/Beatmap/Online_offset/ja.md
  wiki/Beatmap/Online_offset/zh.md
Labels: area:utilities, type:update, size/M

#8157 Add `Taiko Convert Tournament v4` wiki article
  wiki/Tournaments/TCT/en.md
  wiki/Tournaments/TCT/v4/en.md
  wiki/Tournaments/TCT/v4/img/badge.jpg
  wiki/Tournaments/TCT/v4/img/logo.jpg
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
Labels: type:new article, area:tournaments, size/XL

#8158 Add New Featured Artist: Ata news post
  news/2022-10-08-new-featured-artist-ata.md
Labels: area:news, type:new article, size/M

#8161 Conclude `4CWC22`
  wiki/Tournaments/4CWC/2022/en.md
  wiki/Tournaments/4CWC/2022/img/badge.png
  wiki/Tournaments/4CWC/2022/img/podium.png
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
Labels: type:update, area:tournaments, size/L

#8162 Correct flags in `4CWC22` article
  wiki/Tournaments/4CWC/2022/en.md
Labels: area:tournaments, type:clean up, size/M

#8165 Update peppy's Twitter avatar in `Twitter`
  wiki/Twitter/img/ppy.jpg
Labels: type:update, size/XS

#8144 Update the OD comparison table, and add links and references to `Beatmap/Overall difficulty`
  wiki/Beatmap/Overall_difficulty/en.md
  wiki/Beatmap/Overall_difficulty/fr.md
  wiki/Beatmap/Overall_difficulty/id.md
  wiki/Beatmap/Overall_difficulty/ru.md
  wiki/Client/Beatmap_editor/Song_Setup/en.md
  wiki/Client/Beatmap_editor/Song_Setup/fr.md
  wiki/Client/Beatmap_editor/Song_Setup/img/ODTable.png
  wiki/Client/Beatmap_editor/Song_Setup/zh.md
  wiki/shared/ODTable.png
Labels: type:update, size/M, area:gameplay

#8167 Trigger image cache update for peppy's avatar in `Twitter`
  wiki/Twitter/bg.md
  wiki/Twitter/de.md
  wiki/Twitter/en.md
  wiki/Twitter/es.md
  wiki/Twitter/fr.md
  wiki/Twitter/id.md
  wiki/Twitter/ja.md
  wiki/Twitter/nl.md
  wiki/Twitter/pl.md
  wiki/Twitter/pt-br.md
  wiki/Twitter/ru.md
  wiki/Twitter/th.md
  wiki/Twitter/tr.md
  wiki/Twitter/vi.md
  wiki/Twitter/zh-tw.md
  wiki/Twitter/zh.md
Labels: type:clean up, size/M

#8168 Reduce peppy's Twitter avatar size in `Twitter`
  wiki/Twitter/bg.md
  wiki/Twitter/de.md
  wiki/Twitter/en.md
  wiki/Twitter/es.md
  wiki/Twitter/fr.md
  wiki/Twitter/id.md
  wiki/Twitter/img/ppy.jpg
  wiki/Twitter/ja.md
  wiki/Twitter/nl.md
  wiki/Twitter/pl.md
  wiki/Twitter/pt-br.md
  wiki/Twitter/ru.md
  wiki/Twitter/th.md
  wiki/Twitter/tr.md
  wiki/Twitter/vi.md
  wiki/Twitter/zh-tw.md
  wiki/Twitter/zh.md
Labels: type:clean up, size/M

#8163 [VI] Update `Twitter`
  wiki/Twitter/vi.md
Labels: area:translations, type:update, size/XS

#8160 Improve section reference in `Gameplay/Game_modifier/Co-op`
  wiki/Gameplay/Game_modifier/Co-op/en.md
  wiki/Gameplay/Game_modifier/Co-op/fr.md
  wiki/Gameplay/Game_modifier/Co-op/id.md
  wiki/Gameplay/Game_modifier/Co-op/ru.md
Labels: type:clean up, size/XS

#8171 Add self-harm exclusion criteria into the Visual Content Considerations
  wiki/Rules/Visual_Content_Considerations/de.md
  wiki/Rules/Visual_Content_Considerations/en.md
  wiki/Rules/Visual_Content_Considerations/fr.md
  wiki/Rules/Visual_Content_Considerations/id.md
  wiki/Rules/Visual_Content_Considerations/ru.md
Labels: type:update, size/S, rule change

#8169 Add SAMString to `Labour of Love` in `osu! originals`
  wiki/osu!_originals/en.md
Labels: type:update, size/XS, area:community

#8173 Update `OWC 2022` with Qualifiers mappack, links
  wiki/Tournaments/OWC/2022/en.md
Labels: type:update, area:tournaments, size/S

#8170 Add `Taiko 2v2 Convert Tourney v3` wiki article
  wiki/Tournaments/TCT/en.md
  wiki/Tournaments/TCT/v3/en.md
  wiki/Tournaments/TCT/v3/img/badge.jpg
  wiki/Tournaments/TCT/v3/img/logo.jpg
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
Labels: type:new article, area:tournaments, size/XL

#8164 [VI] Update `Main Page`
  wiki/Main_Page/vi.md
Labels: area:translations, type:update, size/XS

#8156 [FR] Update `Beatmap/Approach_rate`
  wiki/Beatmap/Approach_rate/fr.md
Labels: area:translations, type:update, size/S, area:beatmapping, area:gameplay

#8166 [VI] Add `Bot_account`
  wiki/Bot_account/vi.md
Labels: area:translations, type:new article, size/M

#7988 Add `Changes to osu!mania Star Rating & Performance Points` news post
  news/2022-10-09-changes-to-osu-mania-sr-and-pp.md
  wiki/shared/news/2022-10-09-changes-to-osu-mania-sr-and-pp/accuracy-comparison.png
  wiki/shared/news/2022-10-09-changes-to-osu-mania-sr-and-pp/accuracy-equation.png
Labels: area:news, type:new article, size/M

#8178 Update `o!mLN 3` to the Qualifiers stage
  wiki/Tournaments/o!mLN/3/en.md
Labels: type:update, area:tournaments, size/S

#8181 Remove stub mark from `Beatmap/Countdown`
  wiki/Beatmap/Countdown/en.md
  wiki/Beatmap/Countdown/fr.md
  wiki/Beatmap/Countdown/id.md
  wiki/Beatmap/Countdown/ja.md
  wiki/Beatmap/Countdown/ru.md
Labels: type:clean up, size/S, area:beatmapping

#8089 [FR] Add `osu! originals`
  wiki/osu!_originals/fr.md
Labels: area:translations, type:new article, size/L

#8183 Fix broken links in news posts
  news/2015-03-28-osuweekly-3.md
  news/2019-02-05-new-changes-to-star-rating-performance-points.md
  news/2021-08-17-pp-sr-survey.md
  news/2021-09-02-pp-sr-survey-results.md
  news/2021-11-09-performance-points-star-rating-updates.md
Labels: area:news, type:clean up, size/M

#8131 Update `Music theory/Beat` and remove the `Beat` duplicate
  wiki/Beat/en.md
  wiki/Beat/fr.md
  wiki/Beat/id.md
  wiki/Beat/ja.md
  wiki/Music_theory/Beat/en.md
  wiki/Music_theory/Beat/fr.md
  wiki/Music_theory/Beat/id.md
  wiki/Music_theory/Beat/ja.md
  wiki/Music_theory/Beat/ru.md
  wiki/Music_theory/Beat/zh.md
  wiki/Music_theory/Time_signature/en.md
  wiki/Music_theory/Time_signature/fr.md
  wiki/redirect.yaml
Labels: type:update, type:clean up, size/L, area:beatmapping

#8182 Add Halloween 2022 Fanart Contest news post
  news/2022-10-10-halloween-fanart-contest.md
Labels: area:news, size/M

#8041 [ES] Update `People/The_Team/Beatmap_Nominators` and `Beatmap_ranking_procedure`
  wiki/Beatmap_ranking_procedure/es.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
Labels: area:translations, type:update, size/M, stale merge

#8179 [EN/ZH] Update `GBC 2022 Autumn`
  wiki/Tournaments/GBC/GBC_2022_Autumn/en.md
  wiki/Tournaments/GBC/GBC_2022_Autumn/zh.md
  wiki/Tournaments/GBC/zh.md
Labels: type:update, area:tournaments, size/L

#8152 Add `osu! Medal Hunters Discord server` article
  wiki/Community/Discord_servers/en.md
  wiki/Community/Discord_servers/osu!_Medal_Hunters/en.md
  wiki/Community/Discord_servers/osu!_Medal_Hunters/img/authentication_example.png
  wiki/Community/Discord_servers/osu!_Medal_Hunters/img/logo.png
  wiki/Community/Discord_servers/osu!_Medal_Hunters/img/medals_percentage.png
Labels: type:new article, size/M, area:community

#8172 Add `osu! University Discord server` article
  wiki/Community/Discord_servers/en.md
  wiki/Community/Discord_servers/osu!_University/en.md
  wiki/Community/Discord_servers/osu!_University/img/logo.png
  wiki/Community/osu!_Talk_Event/Overcoming_Obstacles/en.md
  wiki/Community/osu!_Talk_Event/Overcoming_Obstacles/fr.md
  wiki/Community/osu!_Talk_Event/Overcoming_Obstacles/id.md
  wiki/Community/osu!_Talk_Event/en.md
  wiki/Community/osu!_Talk_Event/fr.md
  wiki/Community/osu!_Talk_Event/id.md
Labels: type:new article, size/M, area:community

#8192 Clean up `osu! Medal Hunters Discord server`
  wiki/Community/Discord_servers/osu!_Medal_Hunters/en.md
Labels: type:clean up, size/XS, area:community

#8196 Add New Featured Artist: Hybrid Minds news post
  news/2022-10-12-new-featured-artist-hybrid-minds.md
Labels: area:news, size/M

#8190 Add `Taiko 2v2 Convert Tourney v2` wiki article
  wiki/Tournaments/TCT/en.md
  wiki/Tournaments/TCT/v2/en.md
  wiki/Tournaments/TCT/v2/img/badge.jpg
  wiki/Tournaments/TCT/v3/en.md
  wiki/Tournaments/TCT/v4/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
Labels: type:update, area:tournaments, size/XL

#8191 Improve readability in `Gameplay/Game_modifier/Easy`
  wiki/Gameplay/Game_modifier/Easy/en.md
Labels: type:clean up, size/XS, area:gameplay

#8197 [ID] Update `People/peppy`
  wiki/People/peppy/id.md
Labels: type:update, size/XS, area:community

#8202 Update `OBAM 2022` into Semifinals
  wiki/Tournaments/o!BAM/2/en.md
Labels: type:update, area:tournaments, size/M

#8201 Updating the current season
  wiki/Beatmap_Spotlights/en.md
  wiki/Beatmap_Spotlights/fr.md
  wiki/Beatmap_Spotlights/zh.md
Labels: type:clean up, size/XS

#8193 Add Modding Hubs Discord server articles
  wiki/Community/Discord_servers/en.md
  wiki/Community/Discord_servers/osu!catch_Modding_&_Mapping_Hub/en.md
  wiki/Community/Discord_servers/osu!catch_Modding_&_Mapping_Hub/img/auth.jpg
  wiki/Community/Discord_servers/osu!catch_Modding_&_Mapping_Hub/img/banner.jpg
  wiki/Community/Discord_servers/osu!mania_Modding_&_Mapping_Hub/en.md
  wiki/Community/Discord_servers/osu!mania_Modding_&_Mapping_Hub/img/auth.jpg
  wiki/Community/Discord_servers/osu!mania_Modding_&_Mapping_Hub/img/banner.jpg
  wiki/Community/Discord_servers/osu!taiko_Modding_&_Mapping_Hub/en.md
  wiki/Community/Discord_servers/osu!taiko_Modding_&_Mapping_Hub/img/auth.jpg
  wiki/Community/Discord_servers/osu!taiko_Modding_&_Mapping_Hub/img/banner.jpg
  wiki/Community/de.md
  wiki/Community/en.md
  wiki/Community/fr.md
  wiki/Community/id.md
  wiki/Community/uk.md
  wiki/Community/zh-tw.md
Labels: type:new article, size/L, area:modding

#8204 Update ZiRoX's Discord handle
  wiki/Community/Discord_servers/osu!catch_Modding_&_Mapping_Hub/en.md
Labels: size/XS

#8185 [FR] Update `Beatmap/Break`, `Beatmap/Online_offset`, and `Beatmap/Overall_difficulty`
  wiki/Beatmap/Break/fr.md
  wiki/Beatmap/Online_offset/fr.md
  wiki/Beatmap/Overall_difficulty/fr.md
Labels: area:translations, type:update, size/M, area:beatmapping

#8153 [FR] Update `Brand_identity_guidelines`
  wiki/Brand_identity_guidelines/fr.md
Labels: area:translations, type:update, size/M

#8184 [FR] Update `Rules/Visual_Content_Considerations`, `Gameplay/Game_modifier/Co-op`, and `Client/Beatmap_editor/Song_Setup`
  wiki/Client/Beatmap_editor/Song_Setup/fr.md
  wiki/Gameplay/Game_modifier/Co-op/fr.md
  wiki/Rules/Visual_Content_Considerations/fr.md
Labels: area:translations, type:update, size/S, area:beatmapping, area:gameplay, area:client

#8072 [ZH] Add `Client/Menu_tips`
  wiki/Client/Menu_tips/zh.md
Labels: area:translations, type:new article, size/L, stale merge, area:client

#8067 [ES] Add `Client/Menu_tips`
  wiki/Client/Menu_tips/es.md
Labels: area:translations, type:new article, size/L, area:client

#8117 [ES] Update `People/peppy`
  wiki/People/peppy/es.md
Labels: area:translations, type:update, size/XS

#8149 [FR] Update `Article_styling_criteria/Formatting` and `Article_styling_criteria/Writing`
  wiki/Article_styling_criteria/Formatting/fr.md
  wiki/Article_styling_criteria/Writing/fr.md
Labels: area:translations, type:update, size/M

#8207 Add New Featured Artist: GLORYHAMMER news post
  news/2022-10-15-new-featured-artist-gloryhammer.md
Labels: area:news, type:new article, size/M

#8211 Update `OWC 2022` rules
  wiki/Tournaments/OWC/2022/en.md
Labels: size/XS

#8209 Minor fixes in the modding hubs articles
  wiki/Community/Discord_servers/osu!_Medal_Hunters/en.md
  wiki/Community/Discord_servers/osu!catch_Modding_&_Mapping_Hub/en.md
  wiki/Community/Discord_servers/osu!mania_Modding_&_Mapping_Hub/en.md
  wiki/Community/Discord_servers/osu!taiko_Modding_&_Mapping_Hub/en.md
Labels: type:clean up, size/S, area:community

#8208 [FR] Update `Music_theory/Beat`
  wiki/Music_theory/Beat/fr.md
Labels: area:translations, type:update, size/S, area:beatmapping

#8212 [FR] Add Modding/Mapping Hub Discord articles in `Community/Discord_servers`
  wiki/Community/Discord_servers/osu!catch_Modding_&_Mapping_Hub/fr.md
  wiki/Community/Discord_servers/osu!mania_Modding_&_Mapping_Hub/fr.md
  wiki/Community/Discord_servers/osu!taiko_Modding_&_Mapping_Hub/fr.md
Labels: area:translations, type:new article, size/L, area:community

#8195 [FR] Add `Community/Discord servers`, `osu! Medal Hunters`, and `osu! University` Discord server articles
  wiki/Community/Discord_servers/fr.md
  wiki/Community/Discord_servers/osu!_Medal_Hunters/fr.md
  wiki/Community/Discord_servers/osu!_University/fr.md
Labels: area:translations, type:new article, size/L

#8205 [ZH] Update Main_page
  wiki/Main_Page/zh.md
Labels: area:translations, type:update, size/XS

#8139 [FR] Update `Contests`
  wiki/Contests/fr.md
Labels: area:translations, type:update, size/L, area:community

#8213 Remove outdated links from `Performance points`
  wiki/Performance_points/de.md
  wiki/Performance_points/en.md
  wiki/Performance_points/fr.md
  wiki/Performance_points/id.md
  wiki/Performance_points/ru.md
  wiki/Performance_points/th.md
  wiki/Performance_points/tr.md
  wiki/Performance_points/zh.md
Labels: type:clean up, size/M

#8218 Clarify line about pp updates in `Performance points`
  wiki/Performance_points/en.md
Labels: type:clean up, size/XS, area:gameplay

#8219 [FR] Update `Performance Points`
  wiki/Performance_points/fr.md
Labels: area:translations, type:update, size/XS, area:gameplay

#8217 Add `Vin-Tana Solo Showdown` wiki article
  wiki/Tournaments/VTSS/1/en.md
  wiki/Tournaments/VTSS/1/img/banner_first.gif
  wiki/Tournaments/VTSS/1/img/banner_second.gif
  wiki/Tournaments/VTSS/1/img/banner_third.gif
  wiki/Tournaments/VTSS/1/img/logo.jpg
  wiki/Tournaments/VTSS/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
Labels: type:update, type:new article, area:tournaments, size/XXL

#8216 Cache `node_modules` in Github Actions to win 40–50s
  .github/workflows/continuous-integration.yml
Labels: area:utilities, size/XS

#8220 [FR] Revert translations of "featured artist"
  wiki/Beatmap/fr.md
  wiki/Community/Mappers_Guild/fr.md
  wiki/Featured_Artists/fr.md
  wiki/History_of_osu!/Mapping_and_Modding_Timeline/fr.md
  wiki/Legal/Music_licensing/fr.md
Labels: area:translations, type:clean up, size/M

#8225 Minor staff addition to `VTSS` article
  wiki/Tournaments/VTSS/1/en.md
Labels: type:update, area:tournaments, size/XS

#8226 Update `o!BAM 2022`
  wiki/Tournaments/o!BAM/2/en.md
Labels: size/M

#8230 Conclude `EGTS 2022` wiki article
  wiki/Tournaments/GTS/EGTS_2022/en.md
  wiki/Tournaments/GTS/EGTS_2022/img/badge1.jpg
  wiki/Tournaments/GTS/EGTS_2022/img/badge2.jpg
  wiki/Tournaments/GTS/EGTS_2022/img/badge3.jpg
  wiki/Tournaments/GTS/EGTS_2022/img/podium.jpg
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
Labels: type:update, area:tournaments, size/M

#8233 Add New Featured Artists: Au5 & Fractal news post
  news/2022-10-19-new-featured-artists-au5-fractal.md
  wiki/shared/news/2022-10-19-new-featured-artists-au5-fractal/header.jpg
  wiki/shared/news/2022-10-19-new-featured-artists-au5-fractal/header@2x.jpg
Labels: area:news, size/L

#8234 Update qualifier result for `GBC 2022 Autumn`
  wiki/Tournaments/GBC/GBC_2022_Autumn/en.md
  wiki/Tournaments/GBC/GBC_2022_Autumn/zh.md
Labels: type:update, area:tournaments, size/L

#8236 Update `OWC 2022` links, match schedule
  wiki/Tournaments/OWC/2022/en.md
Labels: area:tournaments, size/S

#8237 Add Skinning Contest #3 Results news post
  news/2022-10-20-skinning-contest-chromatic-alteration-results.md
  wiki/Contests/Skinning_Contest/3/en.md
  wiki/Contests/Skinning_Contest/3/img/podium.png
  wiki/shared/news/2022-10-20-skinning-contest-chromatic-alteration-results/banner.jpg
  wiki/shared/news/2022-10-20-skinning-contest-chromatic-alteration-results/banner@2x.jpg
  wiki/shared/news/2022-10-20-skinning-contest-chromatic-alteration-results/grapes.png
  wiki/shared/news/2022-10-20-skinning-contest-chromatic-alteration-results/ralsei.png
  wiki/shared/news/2022-10-20-skinning-contest-chromatic-alteration-results/soumetsu.png
Labels: area:news, type:new article, size/M

#8229 [ZH] Update `Account`
  wiki/Help_centre/Account/zh.md
Labels: area:translations, type:update, size/M, area:help centre

#8198 Update `Beatmap Spotlights` with references. Add `Beatmap Spotlights/Chart Assembly Team`
  wiki/Beatmap_Spotlights/Chart_Assembly_Team/en.md
  wiki/Beatmap_Spotlights/en.md
  wiki/Beatmap_Spotlights/fr.md
  wiki/Beatmap_Spotlights/zh.md
  wiki/redirect.yaml
Labels: type:update, type:new article, size/M, area:community

#8187 Allow for running CI checks locally using `docker`
  .github/workflows/continuous-integration.yml
  CONTRIBUTING.md
  Dockerfile
  run-checks.sh
  run-ci.sh
  scripts/ci/inspect_binary_file_sizes.sh
  scripts/ci/inspect_file_sizes.sh
  scripts/ci/run_remark.sh
Labels: area:utilities, size/L

#8240 Add `Rising Global Taiko Showdown 2022` article
  wiki/Tournaments/GTS/RGTS_2022/en.md
  wiki/Tournaments/GTS/RGTS_2022/img/logo.jpg
  wiki/Tournaments/GTS/de.md
  wiki/Tournaments/GTS/en.md
  wiki/Tournaments/GTS/es.md
  wiki/Tournaments/GTS/fr.md
  wiki/Tournaments/GTS/id.md
  wiki/Tournaments/GTS/ja.md
  wiki/Tournaments/GTS/ko.md
  wiki/Tournaments/GTS/nl.md
  wiki/Tournaments/GTS/zh.md
Labels: type:new article, area:tournaments, size/L

#8242 Clean up `Beatmap Spotlights/Chart Assembly Team`
  wiki/Beatmap_Spotlights/Chart_Assembly_Team/en.md
Labels: type:clean up, size/XS, area:community

#8221 Separate osu spinner set table
  wiki/Ranking_Criteria/Skin_Set_List/en.md
  wiki/Ranking_Criteria/Skin_Set_List/fr.md
Labels: type:update, size/M, area:ranking criteria, area:skinning

#8228 [TH] Add translation of `contribution guide`
  wiki/osu!_wiki/Contribution_guide/th.md
Labels: area:translations, area:utilities, type:new article, size/M

#8214 [RU] Add `Discord Servers` and `osu! Medal Hunters` articles
  wiki/Community/Discord_servers/osu!_Medal_Hunters/ru.md
  wiki/Community/Discord_servers/ru.md
Labels: area:translations, type:new article, size/M, area:community

#8247 Add New Featured Artist: Kikuo news post
  news/2022-10-22-new-featured-artist-kikuo.md
Labels: area:news, type:new article, size/L

#8227 Add `osu!taiko Featured Artist Cup #3` news post and wiki article
  news/2022-10-23-osutaiko-featured-artist-cup-3.md
  wiki/Contests/en.md
  wiki/Contests/fr.md
  wiki/Contests/o!tFAC/1/en.md
  wiki/Contests/o!tFAC/2/en.md
  wiki/Contests/o!tFAC/3/en.md
  wiki/Contests/o!tFAC/3/img/badge.png
  wiki/Contests/o!tFAC/3/img/banner.jpg
  wiki/Contests/o!tFAC/en.md
Labels: area:news, type:new article, area:tournaments, size/L

#8250 Update `OWC 2022` for the RO16 stage
  wiki/Tournaments/OWC/2022/en.md
Labels: type:update, area:tournaments, size/L

#8249 [EN] Added 'Uni' to `Global_Moderation_Team`
  wiki/People/The_Team/Global_Moderation_Team/de.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Global_Moderation_Team/es.md
  wiki/People/The_Team/Global_Moderation_Team/fr.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/Global_Moderation_Team/ja.md
  wiki/People/The_Team/Global_Moderation_Team/ko.md
  wiki/People/The_Team/Global_Moderation_Team/pl.md
  wiki/People/The_Team/Global_Moderation_Team/pt-br.md
  wiki/People/The_Team/Global_Moderation_Team/ru.md
  wiki/People/The_Team/Global_Moderation_Team/th.md
  wiki/People/The_Team/Global_Moderation_Team/tr.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
Labels: type:update, size/M, area:community

#8118 [ES] Update `Main_page`
  wiki/Main_Page/es.md
Labels: area:translations, type:update, size/M, stale merge

#8129 [ES] Update `People/Community_Contributors`
  wiki/People/Community_Contributors/es.md
Labels: area:translations, type:update, size/L, stale merge

#8138 [ES] Update `Registration`
  wiki/Registration/es.md
Labels: area:translations, type:update, size/S, stale merge

#8140 [ES] Add `osu! originals`
  wiki/osu!_originals/es.md
Labels: area:translations, type:update, size/L, stale merge

#8151 [ES] Update `Storyboard`
  wiki/Storyboard/es.md
Labels: area:translations, type:update, size/S, stale merge, area:storyboarding

#8155 [ES] Update `Beat`, `TAG` and `Game_mode`
  wiki/Beatmap/TAG/es.md
  wiki/Game_mode/es.md
  wiki/Music_theory/Beat/es.md
Labels: area:translations, type:update, size/M, stale merge, area:beatmapping, area:gameplay

#8177 [VI] Add `BanchoBot`
  wiki/BanchoBot/vi.md
Labels: area:translations, size/L, stale merge

#8251 [ZH] Add missing heading identifier override to `Help centre/Account restrictions`
  wiki/Help_centre/Account_restrictions/zh.md
Labels: type:clean up, size/XS, area:help centre

#8093 Replace manual references with footnotes
  wiki/Community/Forum/Off-Topic/en.md
  wiki/Community/Forum/Off-Topic/fr.md
  wiki/Community/Forum/Off-Topic/ru.md
  wiki/History_of_osu!/2007/en.md
  wiki/History_of_osu!/2007/fr.md
  wiki/History_of_osu!/2007/id.md
  wiki/History_of_osu!/2007/pt-br.md
  wiki/History_of_osu!/2007/ru.md
  wiki/History_of_osu!/2015/en.md
  wiki/History_of_osu!/2015/fr.md
  wiki/History_of_osu!/2015/id.md
  wiki/History_of_osu!/2016/en.md
  wiki/History_of_osu!/2016/fr.md
  wiki/History_of_osu!/April_Fools/en.md
  wiki/History_of_osu!/April_Fools/fr.md
  wiki/Music_theory/Rhythm/en.md
  wiki/Music_theory/Rhythm/fr.md
  wiki/Silence/de.md
  wiki/Silence/en.md
  wiki/Silence/fr.md
  wiki/Silence/id.md
  wiki/Silence/ja.md
  wiki/Silence/ru.md
  wiki/Silence/zh.md
Labels: type:clean up, size/XXL

#8253 Add Halloween 2022 Fanart Voting Open news post
  news/2022-10-24-halloween-fanart-voting-open.md
Labels: area:news, size/M

#8248 [ZH] Update `Performance_points`
  wiki/Performance_points/zh.md
Labels: area:translations, type:update, size/S

#8252 Update `o!mLN 3` to the Round of 32 stage
  wiki/Tournaments/o!mLN/3/en.md
Labels: type:update, area:tournaments, size/M

#8257 Add New Featured Artist: Hinkik news post
  news/2022-10-26-new-featured-artist-hinkik.md
Labels: area:news, size/M
