Repository ppy/osu-wiki, pull requests merged in 2022-08, with the labels that each got.

#7680 Add osu!monthly #1 news post
  news/2022-08-01-osumonthly-1.md
  wiki/shared/news/2022-08-01-osumonthly-1/podium.png
  wiki/shared/news/2022-08-01-osumonthly-1/roundtable/RTable_players.jpg
  wiki/shared/news/2022-08-01-osumonthly-1/roundtable/RTable_title.png
  wiki/shared/news/banners/osu-monthly-1.jpg
  wiki/shared/news/banners/osu-monthly-1@2x.jpg
Labels: area:news, type:new article, size/L

#7740 Fix osu!monthly YouTube embed links
  news/2022-08-01-osumonthly-1.md
Labels: size/XS

#7742 Use iframe in EGTS video in osu!monthly article
  news/2022-08-01-osumonthly-1.md
Labels: size/XS

#7745 Update `4CWC2022` to add Qualifiers result and Round of 32 mappool
  wiki/Tournaments/4CWC/2022/en.md
Labels: type:new article, area:tournaments, size/M

#7606 Update Fan Art Contest listing
  wiki/Contests/en.md
  wiki/Contests/fr.md
Labels: type:update, size/M, area:community

#7747 Fix incorrect difficulty name and formatting in `4CWC2022`
  wiki/Tournaments/4CWC/2022/en.md
Labels: area:tournaments, type:clean up, size/XS

#7746 [ID] Update `People/Community Contributors` and `People/Users with unique titles`
  wiki/People/Community_Contributors/id.md
  wiki/People/Users_with_unique_titles/id.md
Labels: type:update, size/M, area:community

#7684 [ZH] Update `Client\File_formats`
  wiki/Client/File_formats/zh.md
Labels: area:translations, type:update, size/M, area:client

#7703 [ZH] Update `Osu_(file_format)`
  wiki/Client/File_formats/Osu_(file_format)/zh.md
Labels: area:translations, type:update, size/L, area:client

#7685 [ZH] Update ` Osr_(file_format)`
  wiki/Client/File_formats/Osr_(file_format)/zh.md
Labels: area:translations, type:update, size/M, area:client

#7738 Update `Mapping and modding timeline`
  wiki/History_of_osu!/Mapping_and_Modding_Timeline/en.md
  wiki/History_of_osu!/Mapping_and_Modding_Timeline/fr.md
  wiki/History_of_osu!/Mapping_and_Modding_Timeline/id.md
Labels: type:update, size/M, area:beatmapping, area:community, area:modding

#7741 [RU] Add `Gameplay/Game modifier` articles (title page + `10k`/`Auto`/`Autopilot`/`Cinema`/`Co-op`)
  wiki/Gameplay/Game_modifier/10K/ru.md
  wiki/Gameplay/Game_modifier/Auto/ru.md
  wiki/Gameplay/Game_modifier/Autopilot/ru.md
  wiki/Gameplay/Game_modifier/Cinema/ru.md
  wiki/Gameplay/Game_modifier/Co-op/ru.md
  wiki/Gameplay/Game_modifier/ru.md
Labels: area:translations, type:new article, size/L, area:gameplay, area:client

#7660 [FR] Update `IGTS 2019`
  wiki/Tournaments/GTS/IGTS_2019/fr.md
Labels: area:translations, type:update, size/L, state:needs rebase

#7732 Add osu! wiki recruitment news post
  news/2022-08-02-wiki-contributors-wanted.md
  wiki/shared/news/banners/osu-wiki.jpg
  wiki/shared/news/banners/osu-wiki@2x.jpg
Labels: area:news, type:new article, size/S

#7659 [FR] Update `AGTS 2019`
  wiki/Tournaments/GTS/AGTS_2019/fr.md
Labels: area:translations, type:update, size/M

#7739 [JA] Add `Beatmap/Play_time` and 5 other articles
  wiki/Beatmap/Break/ja.md
  wiki/Beatmap/Countdown/ja.md
  wiki/Beatmap/Online_offset/ja.md
  wiki/Beatmap/Play_time/ja.md
  wiki/Beatmap/Song_compilation/ja.md
  wiki/Beatmap/Star_rating/ja.md
Labels: area:translations, type:new article, size/M, state:needs rebase

#7758 Add New Featured Artist: Hamu newspost
  news/2022-08-03-new-featured-artist-hamu.md
Labels: area:news, size/M

#7761 Update Hamu FA showcase beatmap link/attribution
  news/2022-08-03-new-featured-artist-hamu.md
Labels: area:news, type:update, size/S

#7760 [RU] Add `Beatmap/Pattern/...`
  wiki/Beatmap/Pattern/Jump/ru.md
  wiki/Beatmap/Pattern/Stream/ru.md
  wiki/Beatmap/Pattern/ru.md
Labels: area:translations, type:new article, size/M, area:beatmapping

#7657 [FR] Update `MWC/2017_4K`
  wiki/Tournaments/MWC/2017_4K/fr.md
Labels: area:translations, type:update, size/L

#7734 [RU] Retranslate `Performance points`
  wiki/Performance_points/ru.md
Labels: area:translations, type:rewrite, size/L

#7655 [FR] Update `OWC/2013`
  wiki/Tournaments/OWC/2013/fr.md
Labels: area:translations, type:update, size/L

#7656 [FR] Update `OWC/2014`
  wiki/Tournaments/OWC/2014/fr.md
Labels: area:translations, type:update, size/XL

#7654 [FR] Update `MWC/2014`
  wiki/Tournaments/MWC/2014/fr.md
Labels: area:translations, type:update, size/XL

#7568 [RU] Add the `Community/Forum` articles
  wiki/Community/Forum/Feature_Requests/ru.md
  wiki/Community/Forum/Help/ru.md
  wiki/Community/Forum/Modding_Queues/ru.md
  wiki/Community/Forum/Off-Topic/ru.md
  wiki/Community/Forum/ru.md
Labels: area:translations, type:new article, size/L, area:community

#7754 [ID] Add `Community/Organisations/osu! at UCSD` and `Community/osu! Talk Event`
  wiki/Community/Organisations/osu!_at_UCSD/id.md
  wiki/Community/osu!_Talk_Event/Overcoming_Obstacles/id.md
  wiki/Community/osu!_Talk_Event/id.md
Labels: area:translations, type:new article, size/L

#7768 Change outdated term "iDevice" to "iOS device" in osu!stream article
  wiki/osu!stream/de.md
  wiki/osu!stream/en.md
  wiki/osu!stream/fr.md
Labels: type:clean up, size/S, area:client

#7767 Update community projects list
  wiki/Community/Projects/en.md
  wiki/Community/Projects/fr.md
Labels: type:update, size/M, area:community

#7736 [DE] Update `People/Community_Contributors`
  wiki/People/Community_Contributors/de.md
Labels: area:translations, type:update, size/S

#7733 [DE] Add `Guides/BSS_Issues`
  wiki/Guides/BSS_Issues/de.md
Labels: area:translations, type:new article, size/M

#7779 [ID] Apply minor wording fixes to the `osu! at UCSD` wiki page
  wiki/Community/Organisations/osu!_at_UCSD/id.md
Labels: size/XS

#7781 [DE] Update Article Styling Criteria
  wiki/Article_styling_criteria/Writing/de.md
Labels: area:translations, area:utilities, type:clean up, size/XS

#7766 [RU] Add and update articles in `Beatmap` directory
  wiki/Beatmap/Approach_rate/ru.md
  wiki/Beatmap/Countdown/ru.md
  wiki/Beatmap/Drain_time/ru.md
  wiki/Beatmap/HP_drain_rate/ru.md
  wiki/Beatmap/Hype/ru.md
  wiki/Beatmap/Marathon/ru.md
  wiki/Beatmap/Pattern/Stream/ru.md
  wiki/Beatmap/Pattern/ru.md
Labels: area:translations, type:update, type:new article, size/L

#7763 [RU] Add `History of osu!`
  wiki/History_of_osu!/ru.md
Labels: area:translations, type:new article, size/S

#7750 Add Community Mentorship Program Fall 2022 Signups Newspost
  news/2022-08-05-community-mentorship-program-fall-2022-signups-now-open.md
Labels: area:news, type:new article, size/M

#7780 Update Android release info and apply minor wording changes in "osu!stream"
  wiki/osu!stream/en.md
Labels: type:update, type:clean up, size/S, area:client

#7772 [ID] Update `History of osu!/2014`
  wiki/History_of_osu!/2014/id.md
Labels: area:translations, type:update, size/M

#7791 [IT] Update `Main_Page`
  wiki/Main_Page/bg.md
  wiki/Main_Page/cs.md
  wiki/Main_Page/de.md
  wiki/Main_Page/en.md
  wiki/Main_Page/es.md
  wiki/Main_Page/fr.md
  wiki/Main_Page/id.md
  wiki/Main_Page/it.md
  wiki/Main_Page/ja.md
  wiki/Main_Page/pt-br.md
  wiki/Main_Page/ru.md
  wiki/Main_Page/zh-tw.md
  wiki/Main_Page/zh.md
Labels: size/M

#7793 Add New Featured Artist: Darkney newspost
  news/2022-08-06-new-featured-artist-darkney.md
Labels: area:news, size/M

#7796 Update `MWC4K 2022` staff listing, clarify rule
  wiki/Tournaments/MWC/2022_4K/en.md
Labels: size/XS

#7712 [ZH] Update `Main_Page`
  wiki/Main_Page/zh.md
Labels: area:translations, type:update, size/XS

#7794 [RO] Update `Main_Page`
  wiki/Main_Page/ro.md
Labels: size/M

#7797 Add `Indonesian Taiko Showdown 2` wiki article
  wiki/Tournaments/AOTS/IDTS_2/en.md
  wiki/Tournaments/AOTS/IDTS_2/img/badge.jpg
  wiki/Tournaments/AOTS/IDTS_2/img/logo.jpg
  wiki/Tournaments/AOTS/IDTS_2/img/podium.jpg
  wiki/Tournaments/AOTS/en.md
  wiki/Tournaments/AOTS/id.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
Labels: type:new article, area:tournaments, size/L

#7773 [FR] Update `osu!stream`
  wiki/osu!stream/fr.md
Labels: area:translations, type:update, size/S

#7749 [FR] Update `Skin Set List`
  wiki/Ranking_Criteria/Skin_Set_List/fr.md
Labels: area:translations, type:update, size/M

#7803 Update `MWC4K 2022` for the Round of 32 stage
  wiki/Tournaments/MWC/2022_4K/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
Labels: size/L

#7795 [IT] Add `osu!dev_Discord_server`
  wiki/Community/osu!dev_Discord_server/it.md
Labels: area:translations, type:new article, size/M

#7775 [FR] Update `Projects`
  wiki/Community/Projects/fr.md
Labels: area:translations, type:update, size/M, area:community

#7748 [FR] Update `Livestreaming osu!`
  wiki/Guides/Livestreaming_osu!/fr.md
Labels: area:translations, type:update, size/S

#7804 [ID] Update `Beatmap/Overall difficulty`
  wiki/Beatmap/Overall_difficulty/en.md
  wiki/Beatmap/Overall_difficulty/id.md
Labels: area:translations, type:update, size/M

#7755 [ZH] Add `Online_offset`
  wiki/Beatmap/Online_offset/zh.md
Labels: area:translations, type:new article, size/S

#7805 [ZH] Update `Do you really want to ask peppy?`
  wiki/Do_you_really_want_to_ask_peppy/zh.md
Labels: area:translations, type:update, size/S

#7802 [RO] Add ``Do you really want to ask peppy?``
  wiki/Do_you_really_want_to_ask_peppy/ro.md
Labels: area:translations, type:new article, size/S

#7757 [ZH] Add `Tournament_Committee`
  wiki/People/Tournament_Committee/zh.md
Labels: area:translations, type:new article, size/M

#7786 [RU] Update `Beatmap/Overall difficulty`
  wiki/Beatmap/Overall_difficulty/ru.md
Labels: area:translations, type:update, size/M, area:beatmapping, area:gameplay

#7788 [RU] Minor updates for some of the community-related articles
  wiki/Community/Project_Loved/ru.md
  wiki/People/Community_Contributors/ru.md
  wiki/People/Performance_Points_Committee/ru.md
  wiki/People/The_Team/Staff_Log/ru.md
  wiki/Reporting_bad_behaviour/ru.md
Labels: area:translations, type:update, size/M, area:community

#7789 [RU] Add `Gameplay/Judgement/{Combobreak, Geki, Katu, Notelock, Sliderbreak}`
  wiki/Gameplay/Judgement/Combobreak/ru.md
  wiki/Gameplay/Judgement/Geki/ru.md
  wiki/Gameplay/Judgement/Katu/ru.md
  wiki/Gameplay/Judgement/Notelock/ru.md
  wiki/Gameplay/Judgement/Slider_break/ru.md
Labels: area:translations, type:new article, size/L, area:gameplay, area:client

#7752 [DE] Add `Beatmap/Category`
  wiki/Beatmap/Category/de.md
Labels: area:translations, type:new article, size/M

#7809 Add `Indonesian Taiko Beginner Showdown` wiki article
  wiki/Tournaments/AOTS/ITBS_1/en.md
  wiki/Tournaments/AOTS/ITBS_1/img/badge.jpg
  wiki/Tournaments/AOTS/ITBS_1/img/logo.jpg
  wiki/Tournaments/AOTS/ITBS_1/img/podium.jpg
  wiki/Tournaments/AOTS/en.md
  wiki/Tournaments/AOTS/id.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
Labels: type:new article, area:tournaments, size/L

#7814 Fix typos in the original `BBCode` article and UK `Contribution guide`
  wiki/BBCode/en.md
  wiki/osu!_wiki/Contribution_guide/uk.md
Labels: type:clean up, size/XS

#7770 [ID] Update `osu!stream`
  wiki/osu!stream/id.md
Labels: area:translations, type:update, size/L

#7811 [UK] Add `Help_centre/account`
  wiki/Help_centre/Account/uk.md
Labels: area:translations, type:new article, size/L

#7820 Add New Featured Artist: Waterflame
  news/2022-08-10-new-featured-artist-waterflame.md
Labels: area:news, size/M

#7751 [FR] Update `Mapping and Modding Timeline`
  wiki/History_of_osu!/Mapping_and_Modding_Timeline/fr.md
Labels: area:translations, type:update, size/M

#7706 [ZH] Add `osu!_tournament_client`
  wiki/osu!_tournament_client/zh.md
Labels: area:translations, type:new article, size/M

#7711 [ZH] Update `Performance_points`
  wiki/Performance_points/zh.md
Labels: area:translations, type:update, size/L

#7713 [ZH] Update `Rules\Content_Voting_Process`
  wiki/Rules/Content_Voting_Process/zh.md
Labels: area:translations, type:update, size/M

#7824 Escape unintentional span syntax
  wiki/Contests/en.md
  wiki/Contests/fr.md
  wiki/Tournaments/GTS/CGTS_2021/en.md
  wiki/Tournaments/GTS/RGTS_2021/en.md
  wiki/Tournaments/T_LMS/Shift_2/en.md
Labels: area:utilities, type:clean up, size/S

#7815 [UK] Add `Community`
  wiki/Community/uk.md
Labels: area:translations, type:new article, size/M, area:community

#7813 [UK] Add `meta/group-info`
  meta/group-info/uk.yaml
Labels: area:translations, area:utilities, size/M

#7825 Update `MWC4K 2022` RO32 schedule
  wiki/Tournaments/MWC/2022_4K/en.md
Labels: size/S

#7826 Add Konversation entry for "Disabling JOIN/PART/QUIT messages" in IRC
  wiki/Community/Internet_Relay_Chat/de.md
  wiki/Community/Internet_Relay_Chat/en.md
  wiki/Community/Internet_Relay_Chat/fr.md
  wiki/Community/Internet_Relay_Chat/id.md
  wiki/Community/Internet_Relay_Chat/ja.md
  wiki/Community/Internet_Relay_Chat/ko.md
  wiki/Community/Internet_Relay_Chat/ru.md
  wiki/Community/Internet_Relay_Chat/zh-tw.md
Labels: type:update, size/M, area:client, area:community

#7831 Update `MWC4K 2022` RO32 schedule
  wiki/Tournaments/MWC/2022_4K/en.md
Labels: size/XS

#7829 [FR] Update Internet Relay Chat
  wiki/Community/Internet_Relay_Chat/fr.md
Labels: area:translations, type:update, size/S

#7817 Add Beatmap Spotlights Summer 2022 newspost & wiki articles
  news/2022-08-11-beatmap-spotlights-season-7-summer-2022-reading-hell.md
  wiki/Beatmap_Spotlights/Seasons/2022_Summer/en.md
  wiki/Beatmap_Spotlights/Seasons/en.md
  wiki/Beatmap_Spotlights/Seasons/fr.md
  wiki/Beatmap_Spotlights/Seasons/id.md
  wiki/Beatmap_Spotlights/Seasons/ja.md
  wiki/Beatmap_Spotlights/Seasons/zh-tw.md
  wiki/Beatmap_Spotlights/Seasons/zh.md
  wiki/Beatmap_Spotlights/en.md
  wiki/Beatmap_Spotlights/fr.md
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/bronze_1.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/bronze_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/bronze_2.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/bronze_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/copper_1.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/copper_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/copper_2.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/copper_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/diamond_1.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/diamond_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/diamond_2.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/diamond_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/gold_1.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/gold_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/gold_2.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/gold_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/iron_1.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/iron_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/iron_2.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/iron_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/platinum_1.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/platinum_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/platinum_2.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/platinum_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/ri_1.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/ri_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/ri_2.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/ri_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/silver_1.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/silver_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/silver_2.png
  wiki/Beatmap_Spotlights/img/badges/summer_2022/osu/silver_2@2x.png
  wiki/Beatmap_Spotlights/zh.md
  wiki/shared/news/2022-08-11-beatmap-spotlights-season-7-summer-2022-reading-hell/1257525.jpg
  wiki/shared/news/2022-08-11-beatmap-spotlights-season-7-summer-2022-reading-hell/1283761.jpg
  wiki/shared/news/2022-08-11-beatmap-spotlights-season-7-summer-2022-reading-hell/1506936.jpg
  wiki/shared/news/2022-08-11-beatmap-spotlights-season-7-summer-2022-reading-hell/1517608.jpg
  wiki/shared/news/2022-08-11-beatmap-spotlights-season-7-summer-2022-reading-hell/1587293.jpg
  wiki/shared/news/2022-08-11-beatmap-spotlights-season-7-summer-2022-reading-hell/400078.jpg
Labels: area:news, size/L

#7833 Fix typo in Beatmap Spotlights Summer 2022 newspost
  news/2022-08-11-beatmap-spotlights-season-7-summer-2022-reading-hell.md
Labels: size/S

#7836 Update `MWC4K 2022` staff listing
  wiki/Tournaments/MWC/2022_4K/en.md
Labels: size/XS

#7837 Use Markdown-powered anchors in older newsposts
  news/2017-04-15-osuweekly-100.md
  news/2017-04-24-osuweekly-101.md
  news/2017-05-02-osuweekly-102.md
  news/2017-05-11-osuweekly-103.md
  news/2017-05-18-osuweekly-104.md
  news/2017-05-25-osuweekly-105.md
  news/2017-06-07-osu-weekly-106.md
  news/2020-02-28-mappers-report-february.md
  news/2020-04-11-mappers-report-march.md
  news/2020-05-11-mappers-report-april.md
  news/2020-07-02-mappers-report-may-june.md
  news/2020-08-09-mappers-report-july.md
  news/2020-09-08-mappers-report-august.md
  news/2020-12-31-mappers-report-fall.md
  news/2021-02-01-mappers-report-january.md
  news/2021-03-05-mappers-report-february.md
  news/2021-04-06-mappers-report-march.md
  news/2021-05-13-mappers-report-april.md
  news/2021-06-20-mappers-report-may.md
Labels: area:news, type:clean up, size/L

#7784 [DE] Use more common words in `Main Page`
  wiki/Main_Page/de.md
Labels: area:translations, type:clean up, size/XS

#7783 [DE] Small grammar and styling fixes
  wiki/Guides/Beginner's_Tutorial/de.md
  wiki/Guides/Videos_from_YouTube/de.md
  wiki/Main_Page/de.md
Labels: area:translations, type:clean up, size/S

#7840 Add New Featured Artist: Mitsukiyo newspost
  news/2022-08-13-new-featured-artist-mitsukiyo.md
Labels: area:news, size/M

#7725 [DE] Add `osu!tourney/Spectator_usage`, `osu!tourney/Troubleshooting` and `osu!tourney`
  wiki/osu!_tournament_client/osu!tourney/Spectator_usage/de.md
  wiki/osu!_tournament_client/osu!tourney/Troubleshooting/de.md
  wiki/osu!_tournament_client/osu!tourney/de.md
Labels: area:translations, type:new article, size/L

#7724 [DE] Add `osu!tourney/Multiplayer_usage`, `osu!tourney/Setup` and `osu!tourney/Skinning`
  wiki/osu!_tournament_client/osu!tourney/Multiplayer_usage/de.md
  wiki/osu!_tournament_client/osu!tourney/Setup/de.md
  wiki/osu!_tournament_client/osu!tourney/Skinning/de.md
Labels: area:translations, type:new article, size/L

#7832 Add `Aetherian's Summer Singles 2` tournament article
  wiki/Tournaments/AESS/2/en.md
  wiki/Tournaments/AESS/2/img/badge.png
  wiki/Tournaments/AESS/2/img/banner.png
  wiki/Tournaments/AESS/en.md
Labels: type:new article, area:tournaments, size/L

#7839 Add `Spanish Showdown 2022` wiki article
  wiki/Tournaments/SS/2022/en.md
  wiki/Tournaments/SS/2022/img/badge.jpg
  wiki/Tournaments/SS/2022/img/logo.jpg
  wiki/Tournaments/SS/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
Labels: type:new article, area:tournaments, size/XL

#7723 [DE] Add `osu!_tournament_client` and `Tournament_management_commands`
  wiki/osu!_tournament_client/de.md
  wiki/osu!_tournament_client/osu!tourney/Tournament_management_commands/de.md
Labels: area:translations, type:new article, size/L

#7823 [FR] Update `Tournaments`
  wiki/Tournaments/fr.md
Labels: area:translations, type:update, size/XL

#7842 Update team member lists and staff log
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/fr.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/ko.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/de.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Global_Moderation_Team/es.md
  wiki/People/The_Team/Global_Moderation_Team/fr.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/Global_Moderation_Team/ja.md
  wiki/People/The_Team/Global_Moderation_Team/ko.md
  wiki/People/The_Team/Global_Moderation_Team/pl.md
  wiki/People/The_Team/Global_Moderation_Team/pt-br.md
  wiki/People/The_Team/Global_Moderation_Team/ru.md
  wiki/People/The_Team/Global_Moderation_Team/th.md
  wiki/People/The_Team/Global_Moderation_Team/tr.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/es.md
  wiki/People/The_Team/Nomination_Assessment_Team/fr.md
  wiki/People/The_Team/Nomination_Assessment_Team/id.md
  wiki/People/The_Team/Nomination_Assessment_Team/pt-br.md
  wiki/People/The_Team/Nomination_Assessment_Team/ru.md
  wiki/People/The_Team/Nomination_Assessment_Team/th.md
  wiki/People/The_Team/Nomination_Assessment_Team/tr.md
  wiki/People/The_Team/Nomination_Assessment_Team/zh.md
  wiki/People/The_Team/Staff_Log/2022/en.md
  wiki/People/The_Team/osu!_Alumni/de.md
  wiki/People/The_Team/osu!_Alumni/en.md
  wiki/People/The_Team/osu!_Alumni/es.md
  wiki/People/The_Team/osu!_Alumni/fr.md
  wiki/People/The_Team/osu!_Alumni/id.md
  wiki/People/The_Team/osu!_Alumni/ja.md
  wiki/People/The_Team/osu!_Alumni/ko.md
  wiki/People/The_Team/osu!_Alumni/pl.md
  wiki/People/The_Team/osu!_Alumni/pt-br.md
  wiki/People/The_Team/osu!_Alumni/ru.md
  wiki/People/The_Team/osu!_Alumni/tr.md
  wiki/People/The_Team/osu!_Alumni/zh.md
Labels: type:update, size/L, area:community

#7678 Add The Sound Design of osu!(lazer) newspost
  news/2022-08-31-the-sound-design-of-lazer.md
  wiki/shared/news/2022-07-31-lazer-sound-design/banner.jpg
  wiki/shared/news/2022-07-31-lazer-sound-design/trivia-1.wav
  wiki/shared/news/2022-07-31-lazer-sound-design/trivia-2.wav
  wiki/shared/news/2022-07-31-lazer-sound-design/trivia-3.wav
Labels: area:news, type:new article, size/M

#7843 Use assets.ppy.sh links for osu!lazer sound design trivia
  news/2022-08-31-the-sound-design-of-lazer.md
Labels: area:news, type:update, size/XS

#7830 [FR] Update `Client\interface\Multiplayer`
  wiki/Client/Interface/Multiplayer/fr.md
  wiki/Client/Interface/Multiplayer/img/multi-beatmap-change-fr.jpg
  wiki/Client/Interface/Multiplayer/img/multi-beatmap-info-fr.jpg
  wiki/Client/Interface/Multiplayer/img/multi-host-map-change-fr.jpg
  wiki/Client/Interface/Multiplayer/img/multi-lobby-fr.jpg
  wiki/Client/Interface/Multiplayer/img/multi-match-current-players-list-fr.jpg
  wiki/Client/Interface/Multiplayer/img/multi-match-header-fr.jpg
  wiki/Client/Interface/Multiplayer/img/multi-match-settings-fr.jpg
  wiki/Client/Interface/Multiplayer/img/multi-player-free-mods-fr.jpg
  wiki/Client/Interface/Multiplayer/img/multi-room-fr.jpg
  wiki/Client/Interface/Multiplayer/img/multi-tag-colours-fr.jpg
Labels: area:translations, type:update, size/XL

#7835 [FR] Add `Beatmap_Spotlights/Seasons/2022_Summer`
  wiki/Beatmap_Spotlights/Seasons/2022_Summer/fr.md
  wiki/Beatmap_Spotlights/Seasons/fr.md
Labels: area:translations, type:new article, size/L

#7847 Fix a typo in a username in `The_Team/NAT`
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/es.md
  wiki/People/The_Team/Nomination_Assessment_Team/fr.md
  wiki/People/The_Team/Nomination_Assessment_Team/id.md
  wiki/People/The_Team/Nomination_Assessment_Team/pt-br.md
  wiki/People/The_Team/Nomination_Assessment_Team/ru.md
  wiki/People/The_Team/Nomination_Assessment_Team/th.md
  wiki/People/The_Team/Nomination_Assessment_Team/tr.md
  wiki/People/The_Team/Nomination_Assessment_Team/zh.md
Labels: size/S

#7848 [DE] Fix broken links
  wiki/Beatmapping/de.md
  wiki/Client/Interface/de.md
  wiki/Help_centre/Beatmapping/de.md
  wiki/Medals/de.md
  wiki/osu!supporter/de.md
Labels: type:clean up, size/S

#7849 Update `MWC4K 2022` for the RO16 stage
  wiki/Tournaments/MWC/2022_4K/en.md
Labels: size/L

#7846 Add `Spanish Showdown 2021` wiki article
  wiki/Tournaments/SS/2021/en.md
  wiki/Tournaments/SS/2021/img/logo.jpg
  wiki/Tournaments/SS/2022/en.md
  wiki/Tournaments/SS/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
Labels: size/XL

#7841 [JA] Update `BBCode` | Modify the wiki according to BBCode specifications
  wiki/BBCode/ja.md
Labels: area:translations, type:update, size/S

#7851 Update `EGTS 2022` for the RO96 stage
  wiki/Tournaments/GTS/EGTS_2022/en.md
Labels: size/M

#7801 [DE] Update `Client/Beatmap_editor/Menu`
  wiki/Client/Beatmap_editor/Menu/de.md
Labels: area:translations, type:update, size/L

#7798 [DE] Update `Client/Beatmap_editor`, `Modding/Kudosu`, `Skinning`
  wiki/Client/Beatmap_editor/de.md
  wiki/Client/Beatmap_editor/img/compose-DE.jpg
  wiki/Modding/Kudosu/de.md
  wiki/Skinning/de.md
Labels: area:translations, type:update, size/M

#7852 [DE] Update `Community/Internet_Relay_Chat` and `osu!stream`
  wiki/Community/Internet_Relay_Chat/de.md
  wiki/osu!stream/de.md
Labels: area:translations, type:update, size/M

#7850 Add 15th Anniversary Art Contest newspost
  news/2022-08-15-15-anniversary-art-contest.md
Labels: area:news, size/M

#7855 Minor false flag on `EGTS 2021` tournament article
  wiki/Tournaments/GTS/EGTS_2021/en.md
Labels: size/XS

#7857 [ZH] Fix bolding in `Osu_(file_format)`
  wiki/Client/File_formats/Osu_(file_format)/zh.md
Labels: size/M

#7856 Minor participant fix on `ITBS` tournament article
  wiki/Tournaments/AOTS/ITBS_1/en.md
Labels: size/XS

#7778 [ES] Update several `People` articles
  wiki/People/Performance_Points_Committee/es.md
  wiki/People/The_Team/Account_support_team/es.md
  wiki/People/The_Team/Developers/es.md
  wiki/People/The_Team/osu!_Alumni/es.md
  wiki/People/es.md
  wiki/People/peppy/es.md
Labels: area:translations, type:update, size/L, area:community

#7753 [ES] Add `.osk (file format)`
  wiki/Client/File_formats/Osk_(file_format)/es.md
Labels: area:translations, type:new article, size/XS

#7762 [ES] Update `Mascots`
  wiki/Mascots/es.md
Labels: area:translations, type:update, size/M

#7765 [ES] Update `osu!wiki/List_of_Maintainers`, `ScoreV1/osu!mania` and `ScoreV1/osu!standard`
  wiki/Gameplay/Score/ScoreV1/osu!/es.md
  wiki/Gameplay/Score/ScoreV1/osu!mania/es.md
  wiki/osu!_wiki/Maintenance/List_of_maintainers/es.md
Labels: area:translations, type:update, size/L

#7756 [VI] Update `Rules`
  wiki/Rules/vi.md
Labels: area:translations, type:update, size/S

#7861 Add New Featured Artist: Koven newspost
  news/2022-08-17-new-featured-artist-koven.md
Labels: area:news, size/M

#7759 [SK] Add `Beatmap/Circle_size`
  wiki/Beatmap/Circle_size/sk.md
Labels: area:translations, type:new article, size/M, area:beatmapping

#7769 [VI] Update `Contribution_guide/Best-practices`
  wiki/osu!_wiki/Contribution_guide/Best_practices/vi.md
Labels: area:translations, type:update, size/L

#7777 [ES] Update `group-info`
  meta/group-info/es.yaml
Labels: area:translations, type:update, size/XS

#7862 Fix a typo in a username
  wiki/Tournaments/AESS/2/en.md
Labels: size/XS

#7864 Update `MWC4K 2022` RO16 schedule
  wiki/Tournaments/MWC/2022_4K/en.md
Labels: size/S

#7844 [DE] Adjust wording rules regarding notes
  wiki/Article_styling_criteria/Formatting/de.md
Labels: area:translations, type:update, type:clean up, size/XS

#7866 Update BN and NAT listings
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/fr.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/ko.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/es.md
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/es.md
  wiki/People/The_Team/Nomination_Assessment_Team/fr.md
  wiki/People/The_Team/Nomination_Assessment_Team/id.md
  wiki/People/The_Team/Nomination_Assessment_Team/pt-br.md
  wiki/People/The_Team/Nomination_Assessment_Team/ru.md
  wiki/People/The_Team/Nomination_Assessment_Team/th.md
  wiki/People/The_Team/Nomination_Assessment_Team/tr.md
  wiki/People/The_Team/Nomination_Assessment_Team/zh.md
  wiki/People/The_Team/osu!_Alumni/es.md
Labels: type:update, size/L, area:community

#7867 Fix wrong types of outdated tags
  wiki/Contests/fr.md
  wiki/Ranking_Criteria/osu!mania/de.md
  wiki/Ranking_Criteria/osu!taiko/ja.md
  wiki/Skinning/History/es.md
  wiki/Skinning/History/fr.md
  wiki/Skinning/osu!/fr.md
Labels: area:utilities, type:clean up, size/S

#7863 [DE] Update `Ranking criteria/osu!mania`
  wiki/Ranking_Criteria/osu!mania/de.md
Labels: area:translations, type:update, size/XS, area:ranking criteria

#7859 Update `Help_centre/Account_restrictions`
  wiki/Help_centre/Account_restrictions/de.md
  wiki/Help_centre/Account_restrictions/en.md
  wiki/Help_centre/Account_restrictions/es.md
  wiki/Help_centre/Account_restrictions/fr.md
  wiki/Help_centre/Account_restrictions/id.md
  wiki/Help_centre/Account_restrictions/pt-br.md
  wiki/Help_centre/Account_restrictions/ru.md
  wiki/Help_centre/Account_restrictions/tr.md
  wiki/Help_centre/Account_restrictions/uk.md
  wiki/Help_centre/Account_restrictions/vi.md
  wiki/Help_centre/Account_restrictions/zh.md
Labels: area:translations, type:update, size/M, area:help centre

#7810 [ZH] Update `Client/Keyboard_shortcuts`
  wiki/Client/Keyboard_shortcuts/zh.md
Labels: area:translations, type:update, size/L, area:client

#7838 [RU] Add `osu! wiki`
  wiki/osu!_wiki/ru.md
Labels: area:translations, type:new article, size/M

#7854 [DE] Add `Beatmap`
  wiki/Beatmap/de.md
  wiki/osu!supporter/de.md
Labels: area:translations, type:new article, size/L

#7873 Remove wav files from "The Sound Design of osu!(lazer)" folder
  news/2022-08-31-the-sound-design-of-lazer.md
  wiki/shared/news/2022-07-31-lazer-sound-design/trivia-1.wav
  wiki/shared/news/2022-07-31-lazer-sound-design/trivia-2.wav
  wiki/shared/news/2022-07-31-lazer-sound-design/trivia-3.wav
  wiki/shared/news/2022-08-31-lazer-sound-design/banner.jpg
Labels: area:news, type:clean up, size/XS

#7876 Add New Featured Artist: Abuse newspost
  news/2022-08-20-new-featured-artist-abuse.md
Labels: area:news, size/M

#7845 [DE] Adjust occurences of Tipp according to updated rule
  wiki/Article_styling_criteria/Formatting/de.md
  wiki/BBCode/de.md
  wiki/Client/Interface/Visual_settings/de.md
  wiki/Client/Interface/de.md
  wiki/Client/Keyboard_shortcuts/de.md
  wiki/Client/Options/de.md
  wiki/Gameplay/Game_modifier/de.md
  wiki/Gameplay/Play_style/Tapx/de.md
  wiki/Gameplay/Play_style/de.md
  wiki/Help_centre/Client/de.md
  wiki/People/The_Team/Account_support_team/de.md
  wiki/People/The_Team/Global_Moderation_Team/de.md
  wiki/People/The_Team/Support_Team/de.md
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/de.md
  wiki/osu!_tournament_client/de.md
  wiki/osu!_tournament_client/osu!tourney/Setup/de.md
  wiki/osu!stream/de.md
  wiki/osu!supporter/de.md
Labels: area:translations, type:update, type:clean up, size/M

#7821 [DE] Add `Performance points`
  wiki/Performance_points/de.md
Labels: area:translations, type:new article, size/L

#7870 [DE] Add `Ranking_Criteria/Difficulty_naming`
  wiki/Ranking_Criteria/Difficulty_naming/de.md
Labels: area:translations, type:new article, size/L

#7868 [DE] Add `Beatmap/Difficulty`
  wiki/Beatmap/Difficulty/de.md
Labels: area:translations, type:new article, size/M, area:beatmapping

#7874 Add Project Loved: August 2022 newspost
  news/2022-08-21-project-loved-august-2022.md
  wiki/shared/news/2022-08-21-project-loved-august-2022/1015484.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1015484@2x.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1086007.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1086007@2x.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1125563.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1125563@2x.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1125754.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1125754@2x.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1189259.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1189259@2x.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1197740.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1197740@2x.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1224663.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1224663@2x.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1240394.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1240394@2x.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1252675.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1252675@2x.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1376887.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1376887@2x.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1416303.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1416303@2x.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1483232.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1483232@2x.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1516524.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1516524@2x.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1527363.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1527363@2x.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1670545.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1670545@2x.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1687036.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1687036@2x.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1817883.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/1817883@2x.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/599446.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/599446@2x.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/756792.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/756792@2x.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/819927.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/819927@2x.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/824051.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/824051@2x.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/845333.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/845333@2x.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/901873.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/901873@2x.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/984436.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/984436@2x.jpg
  wiki/shared/news/2022-08-21-project-loved-august-2022/banner-captains.png
  wiki/shared/news/2022-08-21-project-loved-august-2022/banner-catch.png
  wiki/shared/news/2022-08-21-project-loved-august-2022/banner-mania.png
  wiki/shared/news/2022-08-21-project-loved-august-2022/banner-standard.png
  wiki/shared/news/2022-08-21-project-loved-august-2022/banner-taiko.png
Labels: area:news, type:new article, size/L

#7877 Update `MWC4K 2022` for the Quarterfinals stage
  wiki/Tournaments/MWC/2022_4K/en.md
Labels: size/L

#7880 Add missing scheduled match for MWC4K 2022 Quarterfinals
  wiki/Tournaments/MWC/2022_4K/en.md
Labels: size/XS

#7879 Update `EGTS 2022` to the RO64 stage
  wiki/Tournaments/GTS/EGTS_2022/en.md
Labels: type:update, area:tournaments, size/M

#7792 [IT] Add `Help_centre`
  wiki/Help_centre/it.md
Labels: area:translations, type:new article, size/M

#7808 [ZH] Update `Twitter`
  wiki/Twitter/zh.md
Labels: area:translations, type:update, size/S

#7816 [UK] Add "Beatmap"
  wiki/Beatmap/uk.md
Labels: area:translations, type:new article, size/L, area:beatmapping

#7865 [ID] Add "osu!mania 4K Indonesia Cup 2022"
  wiki/Guides/Searching_and_Downloading_Beatmaps/en.md
  wiki/Tournaments/OMIC/2019_4K/en.md
  wiki/Tournaments/OMIC/2022_4K/en.md
  wiki/Tournaments/OMIC/2022_4K/id.md
  wiki/Tournaments/OMIC/2022_4K/img/logo.png
  wiki/Tournaments/OMIC/en.md
  wiki/Tournaments/OMIC/id.md
Labels: area:translations, type:new article, area:tournaments, size/L

#7893 Add New Featured Artist: DJ Genki / Gram newspost
  news/2022-08-24-new-featured-artist-dj-genki-gram.md
Labels: area:news, size/M

#7891 [ZH] Add `Beat`
  wiki/Beat/zh.md
Labels: area:translations, type:new article, size/S

#7828 [ZH] Update `Internet Relay Chat`
  wiki/Community/Internet_Relay_Chat/zh.md
Labels: area:translations, type:update, size/L, area:client

#7807 [ES] Add `Community/How you can help!`
  wiki/Community/How_you_can_help!/es.md
Labels: area:translations, type:new article, size/M

#7834 [ZH] Add `Spotlights/2022_Summer`
  wiki/Beatmap_Spotlights/Seasons/2020_Summer/zh.md
  wiki/Beatmap_Spotlights/Seasons/2021_Spring/zh.md
  wiki/Beatmap_Spotlights/Seasons/2021_Winter/zh.md
  wiki/Beatmap_Spotlights/Seasons/2022_Spring/zh.md
  wiki/Beatmap_Spotlights/Seasons/2022_Summer/zh.md
  wiki/Beatmap_Spotlights/Seasons/2022_Winter/zh.md
  wiki/Beatmap_Spotlights/Seasons/id.md
  wiki/Beatmap_Spotlights/Seasons/ja.md
  wiki/Beatmap_Spotlights/Seasons/zh-tw.md
  wiki/Beatmap_Spotlights/Seasons/zh.md
Labels: area:translations, type:new article, size/L

#7853 [DE] Update "Accuracy"
  wiki/Gameplay/Accuracy/de.md
Labels: area:translations, type:update, size/M, area:gameplay

#7869 [FR] Update "Skinning history" and "osu! skinning"
  wiki/Skinning/History/fr.md
  wiki/Skinning/osu!/en.md
  wiki/Skinning/osu!/fr.md
Labels: area:translations, type:update, size/L, area:skinning

#7896 Update `MWC4K 2022` Quarterfinals schedule
  wiki/Tournaments/MWC/2022_4K/en.md
Labels: size/S

#7897 Add missing scheduled match for MWC4K 2022 Quarterfinals
  wiki/Tournaments/MWC/2022_4K/en.md
Labels: area:tournaments, size/XS

#7881 Add `Catch French Dual Tournament 2` wiki article
  wiki/Tournaments/CFC/CFDT_2/en.md
  wiki/Tournaments/CFC/CFDT_2/img/logo.png
  wiki/Tournaments/CFC/en.md
  wiki/Tournaments/CFC/fr.md
Labels: size/L

#7887 [ZH-TW] Add `Gameplay/Judgement`
  wiki/Gameplay/Judgement/zh-tw.md
Labels: area:translations, type:new article, size/S, area:gameplay

#7890 [ZH] Add `Bancho_(server)`
  wiki/Bancho_(server)/zh.md
Labels: area:translations, type:new article, size/S, area:client
