Repository ppy/osu-wiki, pull requests merged in 2022-01, with the labels that each got.

#6632 [ID] Fix `Guides` link in index page
  wiki/Guides/id.md
Labels: size/XS

#6623 [ID] Update `Storyboard` and `Storyboard/Scripting`
  wiki/Storyboard/Scripting/id.md
  wiki/Storyboard/id.md
Labels: area:translations, type:update, size/M

#6635 [ID] Fix typo in `Storyboard scripting`
  wiki/Storyboard/Scripting/id.md
Labels: size/XS

#6636 Add 2022 section to `osu! rankings history`
  wiki/History_of_osu!/Online_rankings/osu!/en.md
  wiki/History_of_osu!/Online_rankings/osu!/fr.md
  wiki/History_of_osu!/Online_rankings/osu!/id.md
Labels: size/S

#6633 Merge FAQ with main-menu banner support section
  wiki/Tournaments/Official_support/en.md
Labels: area:tournaments, type:clean up, size/M, area:community

#6634 [ID] Cleanup/Retranslate `Silence`
  wiki/Disambiguation/id.md
  wiki/Silence/id.md
  wiki/Silence/img/ID-silence-profile.png
  wiki/Silence/img/silence-profile-ID.png
Labels: area:translations, type:clean up, size/M

#6637 Add `Featured Artist Track Updates: Winter 2022` news post
  news/2022-01-02-featured-artist-track-updates-winter-2022.md
  wiki/shared/news/2022-01-02-featured-artist-track-updates-winter-2022/new.png
Labels: size/L

#6539 [FR] Add `Ranking_Criteria\Difficulty_Naming`, `Ranking_Criteria_Council`, `Scaling_BPM`, `Timing_Songs_With_8-Signatures`
  wiki/Ranking_Criteria/Difficulty_Naming/fr.md
  wiki/Ranking_Criteria/Ranking_Criteria_Council/fr.md
  wiki/Ranking_Criteria/Scaling_BPM/fr.md
  wiki/Ranking_Criteria/Timing_Songs_With_8-Signatures/fr.md
Labels: area:translations, type:new article, size/L

#6638 Fix `osu!stream` formatting
  wiki/osu!stream/de.md
  wiki/osu!stream/en.md
  wiki/osu!stream/fr.md
Labels: size/S

#6640 [FR] Clean up wording in `Timing_Songs_With_8-Signatures`
  wiki/Ranking_Criteria/Timing_Songs_With_8-Signatures/fr.md
Labels: area:translations, type:clean up, size/XS

#6642 Use non-localized article links in newsposts
  news/2021-10-21-project-loved-october-2021.md
  news/2021-11-21-project-loved-november-2021.md
  news/2021-12-19-project-loved-december-2021.md
Labels: type:clean up, size/S

#6561 [FR] Update `Game_mode\osu!taiko`
  wiki/Game_mode/osu!taiko/fr.md
Labels: area:translations, type:update, size/L

#6645 Add ci test to check for broken wikilinks in articles and news posts
  .github/scripts/ci/find_broken_wikilinks.py
  .github/workflows/continuous-integration.yml
Labels: area:utilities, size/L

#6646 Fix various links across the wiki
  wiki/Community/en.md
  wiki/Community/fr.md
  wiki/Community/id.md
  wiki/Community/zh-tw.md
  wiki/Guides/Videos_from_YouTube/fr.md
  wiki/Guides/fr.md
  wiki/Guides/id.md
  wiki/Guides/ja.md
  wiki/Guides/pt-br.md
  wiki/Guides/tr.md
  wiki/Main_Page/cs.md
  wiki/Rules/de.md
  wiki/redirect.yaml
Labels: size/M

#6548 [FR] Update `Game_mode\osu!catch`
  wiki/Game_mode/osu!catch/fr.md
Labels: area:translations, type:update, size/L

#6550 [FR] Update `Game_mode\osu!mania`
  wiki/Game_mode/osu!mania/fr.md
Labels: area:translations, type:update, size/L

#6571 [FR] Add `osu!stream\Song_List`
  wiki/osu!stream/Song_List/fr.md
Labels: area:translations, type:new article, size/L

#6567 [FR] Update `Gameplay\Combo_(score_multiplier)`, `Grade`, `Judgement`, `Judgement\osu!`, `osu!catch`, `osu!mania`, `osu!taiko`, `Gameplay`
  wiki/Gameplay/Combo_(score_multiplier)/fr.md
  wiki/Gameplay/Grade/fr.md
  wiki/Gameplay/Judgement/fr.md
  wiki/Gameplay/Judgement/osu!/fr.md
  wiki/Gameplay/Judgement/osu!catch/fr.md
  wiki/Gameplay/Judgement/osu!mania/fr.md
  wiki/Gameplay/Judgement/osu!taiko/fr.md
  wiki/Gameplay/fr.md
Labels: area:translations, type:update, size/L

#6650 Update `osu! South East Asia Tournament 5` to Quarterfinals
  wiki/Tournaments/oSEAT/5/en.md
Labels: size/L

#6584 [DE] Add `People`, `People\peppy`, `People\The_Team\Account_support_team`; Update `People\The_Team\Support_Team` and `People\The_Team\Global_Moderation_Team`
  wiki/People/The_Team/Account_support_team/de.md
  wiki/People/The_Team/Global_Moderation_Team/de.md
  wiki/People/The_Team/Support_Team/de.md
  wiki/People/de.md
  wiki/People/peppy/de.md
Labels: area:translations, type:update, type:new article, size/L

#6644 [DE] Add `Help_Centre\Account`
  wiki/Help_Centre/Account/de.md
  wiki/People/The_Team/Account_support_team/de.md
Labels: size/L

#6653 Add missing image for a 2014 news post
  wiki/shared/news/2014-10-10-third-official-osu-fanart-contest-results/full-36.jpg
Labels: type:clean up, size/XS

#6649 Remove `Glossary/Loved`; merge `Grade` with `Gameplay/Grade`
  wiki/Gameplay/Grade/en.md
  wiki/Gameplay/Grade/es.md
  wiki/Gameplay/Grade/fr.md
  wiki/Gameplay/Grade/id.md
  wiki/Gameplay/Grade/ja.md
  wiki/Gameplay/Grade/pt-br.md
  wiki/Gameplay/Grade/tr.md
  wiki/Glossary/Loved/en.md
  wiki/Glossary/Loved/fr.md
  wiki/Glossary/Loved/id.md
  wiki/Glossary/en.md
  wiki/Glossary/fr.md
  wiki/Glossary/id.md
  wiki/Grade/en.md
  wiki/Grade/fr.md
  wiki/Grade/id.md
  wiki/redirect.yaml
Labels: type:update, type:clean up, size/L, area:gameplay

#6654 Use slightly neater wording in `Gameplay/Grade`
  wiki/Gameplay/Grade/en.md
Labels: size/XS

#6648 [EN/RU] Add `Tournaments/COT/2022`
  wiki/Tournaments/COT/2022/en.md
  wiki/Tournaments/COT/2022/img/banner.png
  wiki/Tournaments/COT/2022/ru.md
  wiki/Tournaments/COT/en.md
Labels: area:translations, type:new article, area:tournaments, size/L

#6655 [DE] Fix various articles
  wiki/Guides/Using_custom_hitsounds/de.md
  wiki/Help_Centre/Account/de.md
  wiki/People/The_Team/Account_support_team/de.md
  wiki/Reporting_Bad_Behaviour/Handling_Foul_Play/de.md
Labels: area:translations, type:clean up, size/S

#6602 [ZH-TW] Add `Community/Forum/Off-Topic`
  wiki/Community/Forum/Off-Topic/zh-tw.md
Labels: area:translations, type:new article, size/XS

#6603 [ZH-TW] Add `Community/Forum/Help`
  wiki/Community/Forum/Help/zh-tw.md
Labels: area:translations, type:new article, size/S

#6547 [ZH] Add `Rules/Content_Usage_Guidelines`
  wiki/Rules/Content_Usage_Guidelines/zh.md
Labels: area:translations, type:new article, size/M

#6542 [ID] Update `Glossary/Choke`, `Glossary/Changelog`, and `Glossary/Combo_fire`
  wiki/Glossary/Changelog/en.md
  wiki/Glossary/Changelog/id.md
  wiki/Glossary/Choke/id.md
  wiki/Glossary/Combo_fire/id.md
Labels: area:translations, type:update, size/M

#6651 Fix styling in `Guides\Videos_from_YouTube` and `Help_Centre\Account_Restrictions`
  wiki/Guides/Videos_from_YouTube/en.md
  wiki/Help_Centre/Account_Restrictions/en.md
Labels: type:clean up, size/XS

#6656 [ID] Fix styling in `Guides/Videos_from_YouTube`
  wiki/Guides/Videos_from_YouTube/id.md
Labels: area:translations, type:clean up, size/XS

#6643 [ID] Cleanup/Retranslate `Account_Restrictions`
  wiki/Help_Centre/Account_Restrictions/id.md
Labels: area:translations, type:update, type:clean up, size/L

#6566 [ID] Add `Skinning/osu!taiko`
  wiki/Skinning/osu!taiko/id.md
Labels: area:translations, type:new article, size/XL

#6658 Add New Featured Artist: NIWASHI newspost
  news/2022-01-05-new-featured-artist-niwashi.md
Labels: area:news, size/M

#6659 Make official tournament support page more visible
  wiki/Tournaments/en.md
  wiki/Tournaments/id.md
Labels: size/XS

#6661 [ID] Fix broken markdown syntax on `Silence`
  wiki/Silence/id.md
Labels: size/XS

#6660 [ID] Update `History_of_osu!/Online_rankings/osu!`
  wiki/History_of_osu!/Online_rankings/osu!/id.md
Labels: size/S

#6544 [FR] Update `Game_mode\osu!`
  wiki/Game_mode/osu!/fr.md
Labels: area:translations, type:update, size/L

#6581 [FR] Update `Client/Keyboard_shortcuts`
  wiki/Client/Keyboard_shortcuts/fr.md
Labels: area:translations, type:update, size/L

#6665 [DE] Fix link in `Account support team`
  wiki/People/The_Team/Account_support_team/de.md
  wiki/Reporting_Bad_Behaviour/Handling_Foul_Play/de.md
Labels: type:clean up, size/XS

#6580 [TH] Update `Twitter`
  wiki/Twitter/th.md
Labels: area:translations, type:update, size/S

#6666 Create Tournament Committee Article
  wiki/People/Tournament_Committee/en.md
Labels: type:new article, area:tournaments, size/M, area:community

#6670 Fix freshness check considering all `.md` files as templates
  .github/workflows/continuous-integration.yml
Labels: area:utilities, size/XS

#6672 Replace links in `Guides\Tablet_Purchase`
  wiki/Guides/Tablet_Purchase/en.md
  wiki/Guides/Tablet_Purchase/fr.md
Labels: type:update, size/XS

#6667 [ID] Cleanup/Retranslate `Reporting abuse`
  wiki/Reporting_bad_behaviour/Abuse/id.md
Labels: area:translations, type:update, type:clean up, size/M

#6669 [FR] Cleanup `Contribution_guide` `GitHub_web-based_editor` `List_of_maintainers`
  wiki/osu!_wiki/Contribution_guide/GitHub_web-based_editor/fr.md
  wiki/osu!_wiki/Contribution_guide/fr.md
  wiki/osu!_wiki/Maintenance/List_of_maintainers/fr.md
Labels: area:translations, type:update, type:clean up, size/S

#6668 Update yearly featured artist count in `Featured_Artists` and correct 2018 count
  wiki/Featured_Artists/en.md
  wiki/Featured_Artists/fr.md
  wiki/Featured_Artists/id.md
  wiki/Featured_Artists/ja.md
  wiki/Featured_Artists/nl.md
  wiki/Featured_Artists/tr.md
Labels: type:update, size/M

#6663 [EN/FR/ID] Add links in `Beatmap/Marathon` and Retranslate its Indonesian article
  wiki/Beatmap/Marathon/en.md
  wiki/Beatmap/Marathon/fr.md
  wiki/Beatmap/Marathon/id.md
Labels: area:translations, type:clean up, size/S, area:beatmapping

#6675 [EN/FR/ID/ZH-TW] Update to next meeting date in `osu!_community_meetings`
  wiki/Community/osu!_community_meetings/en.md
  wiki/Community/osu!_community_meetings/fr.md
  wiki/Community/osu!_community_meetings/id.md
  wiki/Community/osu!_community_meetings/zh-tw.md
Labels: type:update, size/S, area:community

#6676 [ID] Add `Tournament Committee`
  wiki/People/Tournament_Committee/id.md
Labels: area:translations, type:new article, size/M

#6674 Update `Reporting bad behaviour` to include mapping/modding GMTs as a point of contact on mapping/modding-related infringements
  wiki/Reporting_bad_behaviour/de.md
  wiki/Reporting_bad_behaviour/en.md
  wiki/Reporting_bad_behaviour/fr.md
  wiki/Reporting_bad_behaviour/id.md
Labels: type:update, size/S, area:community

#6652 [DE] Add `Guides` and `Guides\Videos_from_YouTube`
  wiki/Guides/Videos_from_YouTube/de.md
  wiki/Guides/de.md
Labels: area:translations, type:new article, size/M

#5930 [RU] Add `Scaling BPM on the ranking criteria`
  wiki/Ranking_Criteria/Scaling_BPM/ru.md
Labels: area:translations, type:new article, size/S

#6545 [ZH] Update `Main_Page`
  wiki/Main_Page/zh.md
Labels: area:translations, type:update, size/M

#6681 Update Discord channel list
  wiki/Community/osu!dev_Discord_server/de.md
  wiki/Community/osu!dev_Discord_server/en.md
  wiki/Community/osu!dev_Discord_server/fr.md
  wiki/Community/osu!dev_Discord_server/id.md
  wiki/Community/osu!dev_Discord_server/nl.md
  wiki/Community/osu!dev_Discord_server/pt-br.md
  wiki/Community/osu!dev_Discord_server/tr.md
  wiki/Community/osu!dev_Discord_server/zh-tw.md
  wiki/Community/osu!dev_Discord_server/zh.md
Labels: type:update, size/M, area:community

#6683 [ID] Update `Skinning/osu!catch`
  wiki/Skinning/osu!catch/id.md
Labels: area:translations, type:clean up, size/M

#6684 Update `MWC 7K 2022` and corresponding news post
  news/2021-12-16-osu-mania-7k-world-cup-2022-registrations-now-open.md
  wiki/Tournaments/MWC/2022_7K/en.md
Labels: size/M

#6679 Use direct links with exact case instead of redirects in the newsposts
  news/2020-03-23-featured-artist-beatmap-updates-from-the-mappers-guild.md
  news/2020-07-16-project-loved-july-2020.md
  news/2020-08-10-project-loved-august-2020.md
  news/2020-09-13-project-loved-september-2020.md
  news/2020-10-29-project-loved-october-2020.md
  news/2020-11-19-better-protecting-players-from-abuse.md
  news/2020-11-20-featured-artist-beatmap-updates-from-the-mappers-guild.md
  news/2020-11-21-new-featured-artist-i-love-you-orchestra.md
  news/2020-11-27-project-loved-november-2020.md
  news/2020-12-21-project-loved-december-2020.md
  news/2021-02-02-project-loved-january-2021.md
  news/2021-02-28-project-loved-february-2021.md
  news/2021-04-01-project-loved-march-2021.md
  news/2021-04-06-mappers-report-march.md
  news/2021-04-17-new-featured-artist-2tonedisco.md
  news/2021-04-20-project-loved-april-2021.md
  news/2021-05-01-new-featured-artist-m108.md
  news/2021-05-08-new-featured-artist-reku-mochizuki.md
  news/2021-05-14-project-loved-may-2021.md
  news/2021-06-02-new-featured-artist-fleshgod-apocalypse.md
  news/2021-06-15-project-loved-june-2021.md
  news/2021-07-20-project-loved-july-2021.md
  news/2021-07-28-new-featured-artist-seatrus.md
  news/2021-08-07-new-featured-artist-t-and-sugah.md
  news/2021-08-11-new-featured-artist-natsume-itsuki.md
  news/2021-08-19-project-loved-august-2021.md
  news/2021-09-25-new-featured-artist-tokiwa.md
  news/2021-09-28-project-loved-september-2021.md
  news/2021-10-09-new-featured-artist-metaroom.md
  news/2021-10-21-project-loved-october-2021.md
  news/2021-10-27-new-featured-artist-risa-yuzuki.md
  news/2021-11-17-new-featured-artist-kurubukko.md
  news/2021-11-21-project-loved-november-2021.md
  news/2021-12-01-new-featured-artist-tasty.md
  news/2021-12-04-new-featured-artist-kinema106.md
  news/2021-12-07-results-monthly-beatmapping-contest-2021-wrap-up.md
Labels: type:clean up, size/L

#6685 Add `New Featured Artist: DGK` news post
  news/2022-01-08-new-featured-artist-dgk.md
Labels: area:news, size/M

#6687 [FR] Cleanup `Client\Options`
  wiki/Client/Options/fr.md
Labels: area:translations, type:clean up, size/L

#6680 [DE] Add `Guides\Tablet_Purchase`
  wiki/Guides/Tablet_Purchase/de.md
Labels: area:translations, type:new article, size/M

#6689 [DE] Replace images in `Gameplay\Input_device\Wiimote` and `Gameplay\Input_device\Graphics_tablet` and fix typo in `Client/Installation`
  wiki/Client/Installation/de.md
  wiki/Gameplay/Input_device/Graphics_tablet/de.md
  wiki/Gameplay/Input_device/Graphics_tablet/img/os-tabletpc-option-DE.jpg
  wiki/Gameplay/Input_device/Wiimote/de.md
  wiki/Gameplay/Input_device/Wiimote/img/wiimote-support-option-DE.jpg
Labels: size/XS

#6691 Update `MWC 7K 2022`
  wiki/Tournaments/MWC/2022_7K/en.md
Labels: size/S

#6692 Update `Countries that participated in osu! tournaments` for `MWC 7K 2022`
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/en.md
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/id.md
Labels: size/L

#6693 Update staff listing for `MWC 7K 2022`
  wiki/Tournaments/MWC/2022_7K/en.md
Labels: size/XS

#6639 Complete rewrite and reshuffling of `Tournaments/Official support` and use British spelling in `People/The_Team` and `People/Users_with_unique_titles`
  wiki/People/The_Team/en.md
  wiki/People/Users_with_unique_titles/en.md
  wiki/Tournaments/Official_support/en.md
Labels: type:update, area:tournaments, type:clean up, size/L, area:community

#6695 Minor formatting fix for `Tournaments/Official_support`
  wiki/Tournaments/Official_support/en.md
Labels: size/XS

#6696 Update `Tournaments/Official Support` table style
  wiki/Tournaments/Official_support/en.md
Labels: size/XS

#6700 Update `MWC/7K_2022`
  wiki/Tournaments/MWC/2022_7K/en.md
Labels: size/S

#6694 [FR] Add `Client` and `People\Performance_Points_Committee`
  wiki/Client/fr.md
  wiki/People/Performance_Points_Committee/fr.md
Labels: area:translations, type:new article, size/M

#6699 Fix consistency on terms used (users/players)
  wiki/Tournaments/Official_support/en.md
Labels: area:tournaments, type:clean up, size/M, area:community

#6682 [ID] Update `Community/osu!dev_Discord_server` and `Reporting_bad_behaviour`
  wiki/Community/osu!dev_Discord_server/id.md
  wiki/Reporting_bad_behaviour/id.md
Labels: area:translations, type:update, size/S

#6698 [ID] Update `Community/osu!_community_meetings`
  wiki/Community/osu!_community_meetings/id.md
Labels: area:translations, type:update, size/S

#6688 [FR] Add `People\Tournament_Committee`
  wiki/People/Tournament_Committee/fr.md
Labels: area:translations, type:new article, size/M

#6701 Clarify conditions for scorebar-ki.png et al
  wiki/Skinning/Interface/en.md
  wiki/Skinning/Interface/fr.md
Labels: type:clean up, size/XS, area:skinning

#6702 [FR] Update `Community\osu!_community_meetings` and `Help_Centre\Account`
  wiki/Community/osu!_community_meetings/fr.md
  wiki/Help_Centre/Account/fr.md
Labels: area:translations, type:update, size/M

#6704 [ID] Update `Tournaments/Countries that participated in osu! tournaments`
  wiki/Tournaments/Countries_that_participated_in_osu!_tournaments/id.md
Labels: area:translations, type:update, size/L

#6677 [DE] Update `Reporting bad behaviour`
  wiki/Reporting_bad_behaviour/de.md
Labels: area:translations, type:update, size/XS

#6707 Fix typo in `MWC/7K_2022`
  wiki/Tournaments/MWC/2022_7K/en.md
Labels: area:tournaments, type:clean up, size/XS

#6703 [DE] Add `Community/osu!_community_meetings`
  wiki/Community/osu!_community_meetings/de.md
Labels: area:translations, type:new article, size/M

#6706 add osu! Battle Archive Malaysia Tournament Article
  wiki/Tournaments/en.md
  wiki/Tournaments/o!BAM/1/en.md
  wiki/Tournaments/o!BAM/1/img/banner.png
  wiki/Tournaments/o!BAM/en.md
Labels: type:new article, area:tournaments, size/XL

#6709 Fix incorrect heading level in the `Tournaments` index page and sort flags references in `Tournaments/o!BAM/1`
  wiki/Tournaments/en.md
  wiki/Tournaments/o!BAM/1/en.md
Labels: area:tournaments, type:clean up, size/XS

#6714 Update `osu! South East Asia Tournament 5` to Semifinals
  wiki/Tournaments/oSEAT/5/en.md
Labels: size/M

#6717 Update staff list in `Beatmap_Spotlights`
  wiki/Beatmap_Spotlights/en.md
  wiki/Beatmap_Spotlights/fr.md
  wiki/Beatmap_Spotlights/id.md
  wiki/Beatmap_Spotlights/zh.md
Labels: type:update, size/L, area:community

#6713 [FR] Update/cleanup `Guides`, `Audio_Editing`, and `Bit_rate`
  wiki/Bit_rate/fr.md
  wiki/Guides/Audio_Editing/fr.md
  wiki/Guides/fr.md
Labels: area:translations, type:update, size/M

#6711 [FR] Clean up Beatmap Nominators sub-articles
  wiki/People/The_Team/Beatmap_Nominators/Beatmap_Nominator_Test/fr.md
  wiki/People/The_Team/Beatmap_Nominators/Beatmap_Veto/fr.md
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/fr.md
  wiki/People/The_Team/Beatmap_Nominators/Expectations/fr.md
  wiki/People/The_Team/Beatmap_Nominators/General_Information/fr.md
  wiki/People/The_Team/Beatmap_Nominators/Rules/fr.md
Labels: area:translations, type:clean up, size/L

#6719 Add `New Featured Artist: Haywyre` news post
  news/2022-01-12-new-featured-artist-haywyre.md
Labels: area:news, size/M

#6710 [FR] Cleanup `Gameplay\Grade`, `History_of_osu!\April_Fools`, `Online_rankings`, `Performance_troubleshooting`, `Reporting_bad_behaviour`, `Abuse`, `Handling_foul_play`
  wiki/Gameplay/Grade/fr.md
  wiki/History_of_osu!/April_Fools/fr.md
  wiki/History_of_osu!/Online_rankings/fr.md
  wiki/Performance_troubleshooting/fr.md
  wiki/Reporting_bad_behaviour/Abuse/fr.md
  wiki/Reporting_bad_behaviour/Handling_foul_play/fr.md
  wiki/Reporting_bad_behaviour/fr.md
Labels: area:translations, type:update, type:clean up, size/L

#6716 [DE] Update `Client\Options`
  wiki/Client/Options/de.md
  wiki/Client/Options/img/general-DE.jpg
  wiki/Client/Options/img/graphics-DE.jpg
  wiki/Client/Options/img/input-DE.jpg
  wiki/Client/Options/img/maintenance-DE.jpg
  wiki/Client/Options/img/options_basic-DE.jpg
Labels: area:translations, type:update, type:clean up, size/XL

#6720 [DE] Cleanup `Rules`
  wiki/Rules/de.md
Labels: area:translations, type:clean up, size/M

#6722 Add disambiguation article for `Snapping`
  wiki/Disambiguation/Snapping/en.md
  wiki/Disambiguation/de.md
  wiki/Disambiguation/en.md
  wiki/Disambiguation/es.md
  wiki/Disambiguation/fr.md
  wiki/Disambiguation/id.md
  wiki/Disambiguation/ja.md
  wiki/Disambiguation/ko.md
  wiki/Disambiguation/pt-br.md
  wiki/Disambiguation/ru.md
  wiki/Gameplay/Dash_snapping/en.md
  wiki/Gameplay/Dash_snapping/fr.md
  wiki/Gameplay/Dash_snapping/id.md
  wiki/Gameplay/en.md
  wiki/Gameplay/fr.md
  wiki/Gameplay/id.md
  wiki/Ranking_Criteria/osu!catch/en.md
  wiki/redirect.yaml
Labels: type:new article, size/M

#6721 [DE] Add group info
  meta/group-info/de.yaml
Labels: area:translations, area:utilities, size/M

#6715 [DE] Update `People/The_Team` and `People/The_Team/osu!_Alumni`
  wiki/People/The_Team/de.md
  wiki/People/The_Team/osu!_Alumni/de.md
Labels: area:translations, type:update, size/L

#6725 Fix typo in `New Featured Artist: Haywyre` news post
  news/2022-01-12-new-featured-artist-haywyre.md
Labels: size/XS

#6728 [SV] Clean up `Legal`
  wiki/Legal/sv.md
Labels: area:translations, type:clean up, size/S

#6697 [ZH-TW] Update `Community/osu!_community_meetings`
  wiki/Community/osu!_community_meetings/zh-tw.md
Labels: area:translations, type:update, size/S

#6729 Create osu!taiko and osu!mania PP & SR survey newspost
  news/2022-01-14-taiko-mania-pp-sr-survey.md
  wiki/shared/news/2022-01-14-taiko-mania-pp-sr-survey/star-rating.jpg
  wiki/shared/news/2022-01-14-taiko-mania-pp-sr-survey/star-rating@2x.jpg
Labels: area:news, size/S

#6718 [FR] Cleanup `Rules`, `Code_of_Conduct_for_Modding_and_Mapping`, `Content_Usage_Guidelines`, `Content_Voting_Process`, `Explicit_Content`, `Song_Content_Rules`, `Visual_Content_Considerations`
  wiki/Rules/Code_of_Conduct_for_Modding_and_Mapping/fr.md
  wiki/Rules/Content_Usage_Guidelines/fr.md
  wiki/Rules/Content_Voting_Process/fr.md
  wiki/Rules/Explicit_Content/fr.md
  wiki/Rules/Song_Content_Rules/fr.md
  wiki/Rules/Visual_Content_Considerations/fr.md
  wiki/Rules/fr.md
Labels: area:translations, type:update, type:clean up, size/L

#6733 [ID] Update `Hit_object`
  wiki/Hit_object/id.md
Labels: area:translations, type:update, size/M

#6737 Add II-L to `Users with unique titles`
  wiki/People/Users_with_unique_titles/bg.md
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/fr.md
  wiki/People/Users_with_unique_titles/id.md
  wiki/People/Users_with_unique_titles/pl.md
  wiki/People/Users_with_unique_titles/pt-br.md
  wiki/People/Users_with_unique_titles/th.md
  wiki/People/Users_with_unique_titles/tr.md
  wiki/People/Users_with_unique_titles/zh.md
Labels: area:translations, type:update, type:clean up, size/S, area:community

#6736 Add `New Featured Artist: satella` news post
  news/2022-01-15-new-featured-artist-satella.md
Labels: area:news, size/M

#6730 [FR] Add `Disambiguation\Snapping`
  wiki/Disambiguation/Snapping/fr.md
Labels: area:translations, type:new article, size/S

#6739 [ID] Add `Disambiguation/Snapping`
  wiki/Disambiguation/Snapping/id.md
Labels: area:translations, type:new article, size/S

#6738 [DE] Add `Silence`
  wiki/Silence/de.md
Labels: area:translations, type:new article, size/M

#6726 [DE] Update `BanchoBot`
  wiki/BanchoBot/de.md
Labels: area:translations, type:update, size/L

#6741 Add "Skinning Contest #2: Tides of Winter - Voting Open" Newspost
  news/2022-01-16-skinning-contest-tides-of-winter-voting-open.md
  wiki/shared/news/2022-01-16-skinning-contest-tides-of-winter-voting-open/banner.jpg
Labels: area:news, size/S

#6743 Remove remaining redirects and use direct links where necessary
  wiki/Article_styling_criteria/Formatting/de.md
  wiki/Article_styling_criteria/Formatting/en.md
  wiki/Article_styling_criteria/Formatting/fr.md
  wiki/Article_styling_criteria/Formatting/ru.md
  wiki/Article_styling_criteria/Formatting/th.md
  wiki/Article_styling_criteria/Writing/de.md
  wiki/Article_styling_criteria/Writing/en.md
  wiki/Article_styling_criteria/Writing/es.md
  wiki/Article_styling_criteria/Writing/fr.md
  wiki/Article_styling_criteria/Writing/ru.md
  wiki/Article_styling_criteria/Writing/th.md
  wiki/Article_styling_criteria/de.md
  wiki/Article_styling_criteria/en.md
  wiki/Article_styling_criteria/es.md
  wiki/Article_styling_criteria/fr.md
  wiki/Article_styling_criteria/id.md
  wiki/Article_styling_criteria/ja.md
  wiki/Article_styling_criteria/ru.md
  wiki/Article_styling_criteria/th.md
  wiki/Article_styling_criteria/zh.md
  wiki/Beatmap/Category/en.md
  wiki/Beatmap/Category/fr.md
  wiki/Beatmap/Category/ru.md
  wiki/Beatmap/Category/th.md
  wiki/Community/Forum/Help/en.md
  wiki/Community/Forum/Help/fr.md
  wiki/Community/Forum/Help/zh-tw.md
  wiki/Community/Project_Loved/uk.md
  wiki/Guides/Videos_from_YouTube/de.md
  wiki/Reporting_bad_behaviour/Handling_foul_play/ru.md
  wiki/Reporting_bad_behaviour/en.md
  wiki/Rules/bg.md
  wiki/Rules/cs.md
  wiki/Rules/da.md
  wiki/Rules/de.md
  wiki/Rules/en.md
  wiki/Rules/es.md
  wiki/Rules/id.md
  wiki/Rules/it.md
  wiki/Rules/ja.md
  wiki/Rules/nl.md
  wiki/Rules/pt-br.md
  wiki/Rules/ru.md
  wiki/Rules/sv.md
  wiki/Rules/th.md
  wiki/Rules/tr.md
  wiki/Rules/vi.md
  wiki/Rules/zh.md
Labels: type:clean up, size/L

#6746 Update `MWC/2022_7K` for the Round of 16 week
  wiki/Tournaments/MWC/2022_7K/en.md
Labels: area:tournaments, size/M

#6747 Fix the `outdated_since` tag in `Gameplay` and `Judgement` translations
  wiki/Gameplay/Judgement/fr.md
  wiki/Gameplay/fr.md
  wiki/Gameplay/id.md
Labels: type:clean up, size/XS

#6731 [FR] Add `Ranking_Criteria\osu!`
  wiki/Ranking_Criteria/osu!/fr.md
Labels: area:translations, type:new article, size/L

#6754 [FR] Remove `outdated: true` in `History_of_osu!\2007`
  wiki/History_of_osu!/2007/fr.md
Labels: area:translations, type:clean up, size/XS

#6752 Consistently use "head/tail" in the Ranking Criteria
  wiki/Ranking_Criteria/en.md
  wiki/Ranking_Criteria/osu!catch/en.md
  wiki/Ranking_Criteria/osu!taiko/en.md
Labels: type:clean up, size/XS, area:ranking criteria

#6750 Fix active, passive, and storyboard hitsound definitions
  wiki/Beatmapping/Hitsound/en.md
  wiki/Beatmapping/Hitsound/fr.md
  wiki/Beatmapping/Hitsound/id.md
  wiki/Ranking_Criteria/en.md
  wiki/Ranking_Criteria/id.md
  wiki/Ranking_Criteria/ko.md
  wiki/Ranking_Criteria/zh.md
Labels: type:rewrite, size/S, area:beatmapping

#6758 Add `New Featured Artist: Vansire` news post
  news/2022-01-19-new-featured-artist-vansire.md
Labels: area:news, size/M

#6760 Update `osu! South East Asia Tournament 5` to Finals (week 1)
  wiki/Tournaments/oSEAT/5/en.md
Labels: type:update, area:tournaments, size/M

#6751 Add 4 Digit osu!mania World Cup 4 article
  wiki/Tournaments/4DM/4/en.md
  wiki/Tournaments/4DM/4/img/banner.jpg
  wiki/Tournaments/4DM/en.md
  wiki/Tournaments/4DM/zh-tw.md
  wiki/Tournaments/en.md
  wiki/Tournaments/id.md
  wiki/Tournaments/ja.md
  wiki/Tournaments/th.md
Labels: type:new article, area:tournaments, size/L

#6740 [FR] Add `Ranking_Criteria\osu!catch`
  wiki/Ranking_Criteria/osu!catch/fr.md
Labels: area:translations, type:new article, size/L

#6756 [FR] Update `Gameplay\Judgement` and `Gameplay`
  wiki/Gameplay/Judgement/fr.md
  wiki/Gameplay/fr.md
Labels: area:translations, type:update, size/M

#6764 Update `MWC/2022_7K` with updated RO16 schedules
  wiki/Tournaments/MWC/2022_7K/en.md
Labels: size/XS

#6767 Fix typo in `MWC/2022_7K`
  wiki/Tournaments/MWC/2022_7K/en.md
Labels: size/XS

#6744 [FR] Add How_To_Time_Songs
  wiki/Guides/How_to_Time_Songs/fr.md
Labels: area:translations, type:new article, size/L, state:needs rebase

#6755 [FR] Update `Gameplay\Accuracy`
  wiki/Gameplay/Accuracy/fr.md
Labels: area:translations, type:update, size/M

#6766 Add an initial checklist to the performance troubleshooting page
  wiki/Performance_troubleshooting/en.md
  wiki/Performance_troubleshooting/fr.md
  wiki/Performance_troubleshooting/vi.md
Labels: type:update, size/S, area:client

#6748 [ID] Update `Gameplay`
  wiki/Gameplay/id.md
Labels: area:translations, type:update, size/S

#6773 Add `New Featured Artist: Boom Kitty` news post
  news/2022-01-22-new-featured-artist-boom-kitty.md
Labels: area:news, size/M

#6772 Add Soft 6 article
  wiki/Tournaments/SOFT/6/en.md
  wiki/Tournaments/SOFT/6/img/logo.jpg
  wiki/Tournaments/SOFT/en.md
Labels: type:new article, area:tournaments, size/L

#6775 Update `osu!_community_meetings`
  wiki/Community/osu!_community_meetings/de.md
  wiki/Community/osu!_community_meetings/en.md
  wiki/Community/osu!_community_meetings/fr.md
  wiki/Community/osu!_community_meetings/id.md
  wiki/Community/osu!_community_meetings/zh-tw.md
Labels: type:update, size/S, area:community

#6776 [DE] Update `osu!_community_meetings`
  wiki/Community/osu!_community_meetings/de.md
Labels: area:translations, type:update, size/XS

#6778 [ID] Update `osu!_community_meetings`
  wiki/Community/osu!_community_meetings/id.md
Labels: size/XS

#6779 Update `MWC/7K_2022` with Quarterfinals information
  wiki/Tournaments/MWC/2022_7K/en.md
Labels: type:update, area:tournaments, size/M

#6785 Update 4DM4 results for RO16, and mappools for QF
  wiki/Tournaments/4DM/4/en.md
Labels: type:update, area:tournaments

#6780 [EN/RU] Update `COT/COT2022` for the Qualifiers
  wiki/Tournaments/COT/2022/en.md
  wiki/Tournaments/COT/2022/ru.md
Labels: area:translations, type:update, area:tournaments, size/M

#6732 [ZH] Update `Ranking_Criteria`
  wiki/Ranking_Criteria/zh.md
Labels: area:translations, type:update, size/L

#6770 [FR] Update `Ranking_Criteria\osu!mania`
  wiki/Ranking_Criteria/osu!mania/fr.md
Labels: area:translations, type:update, size/L

#6759 [ID] Update `Beatmapping/Hitsound` and `Ranking Criteria`
  wiki/Beatmapping/Hitsound/id.md
  wiki/Ranking_Criteria/id.md
Labels: area:translations, type:update, size/M

#6771 Add Project Loved: January 2022 Newspost
  news/2022-01-22-project-loved-january-2022.md
  wiki/shared/news/2022-01-22-project-loved-january-2022/1039654.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/1066293.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/1122397.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/1162342.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/1183311.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/1232389.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/1256680.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/1327834.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/1364787.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/1373754.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/1417314.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/1439700.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/1446650.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/1493162.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/249553.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/264677.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/339222.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/424715.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/478093.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/492726.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/493907.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/520617.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/527447.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/550429.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/611782.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/615707.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/690068.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/734838.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/741278.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/790290.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/793200.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/806792.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/916257.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/930413.jpg
  wiki/shared/news/2022-01-22-project-loved-january-2022/995928.jpg
Labels: area:news, size/L

#6791 Update `osu! South East Asia Tournament 5` to Finals (week 2)
  wiki/Tournaments/oSEAT/5/en.md
Labels: type:update, area:tournaments, size/M

#6790 Amend and move the `Timing Songs With 8-Signatures` guide from the RC category
  wiki/Guides/Timing_Songs_With_8-Signatures/en.md
  wiki/Guides/Timing_Songs_With_8-Signatures/fr.md
  wiki/Guides/de.md
  wiki/Guides/en.md
  wiki/Guides/fr.md
  wiki/Guides/id.md
  wiki/Ranking_Criteria/en.md
  wiki/Ranking_Criteria/id.md
  wiki/Ranking_Criteria/ko.md
  wiki/Ranking_Criteria/ru.md
  wiki/Ranking_Criteria/zh.md
  wiki/redirect.yaml
Labels: type:update, type:clean up, size/M

#6796 Add `New Featured Artist: Annabel` news post
  news/2022-01-26-new-featured-artist-annabel.md
Labels: area:news, size/M

#6783 Add info on applying reviews in the contribution guide
  wiki/osu!_wiki/Contribution_guide/Best_practices/en.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/fr.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/img/applying-batch-review.gif
  wiki/osu!_wiki/Contribution_guide/Best_practices/img/applying-single-review.gif
  wiki/osu!_wiki/Contribution_guide/Best_practices/ko.md
  wiki/osu!_wiki/Contribution_guide/en.md
  wiki/osu!_wiki/Contribution_guide/fr.md
Labels: type:update, size/S, area:community

#6794 Add descriptions for NoMod and FreeMod in `Game_modifier`
  wiki/Game_modifier/en.md
  wiki/Game_modifier/fr.md
  wiki/Game_modifier/id.md
  wiki/Game_modifier/ko.md
  wiki/Game_modifier/tr.md
Labels: type:update, size/S

#6803 Update `MWC/2022_7K` Quarterfinals schedule
  wiki/Tournaments/MWC/2022_7K/en.md
Labels: type:update, area:tournaments, size/S

#6805 Update Schedule for `MWC/2022_7K`
  wiki/Tournaments/MWC/2022_7K/en.md
Labels: area:tournaments, size/XS

#6745 Add LastExceed to `Users with unique titles`
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/fr.md
  wiki/People/Users_with_unique_titles/id.md
Labels: type:update, size/XS, area:community

#6802 [FR] Cleanup `People\The_Team\Beatmap_Nominators`
  wiki/People/The_Team/Beatmap_Nominators/fr.md
Labels: area:translations, type:clean up, size/XS

#6800 [FR] Update `Community\osu!_community_meetings`
  wiki/Community/osu!_community_meetings/fr.md
Labels: area:translations, type:update, size/XS

#6801 [FR] Update `Guides`
  wiki/Guides/fr.md
Labels: area:translations, type:update, size/XS

#6799 [FR] Update `Game_modifier`
  wiki/Game_modifier/fr.md
Labels: area:translations, type:update, size/S

#6807 Add Community Choice 2021 voting newspost
  news/2022-01-27-community-choice-2021-voting-open.md
Labels: area:news, size/M
