Repository ppy/osu-wiki, pull requests merged in 2023-12, with the labels that each got.

#10526 Fix remaining link errors and enable link checking in all non-outdated articles
  .github/workflows/continuous-integration.yml
  run-checks.sh
  wiki/Beatmap/Beatmap_collaborations/fr.md
  wiki/Beatmap/Difficulty/fr.md
  wiki/Beatmap/Genre_and_language/en.md
  wiki/Beatmap/Primary_metadata_source/en.md
  wiki/Beatmap/Primary_metadata_source/fr.md
  wiki/Beatmap/fr.md
  wiki/Beatmapping/Timing/es.md
  wiki/Beatmapping/Timing/fr.md
  wiki/Client/Beatmap_editor/AiMod/es.md
  wiki/Client/Beatmap_editor/AiMod/fr.md
  wiki/Client/Beatmap_editor/Song_setup/en.md
  wiki/Client/Beatmap_editor/Song_setup/fr.md
  wiki/Client/Beatmap_editor/en.md
  wiki/Client/Beatmap_editor/fr.md
  wiki/Client/File_formats/osu_(file_format)/en.md
  wiki/Client/Interface/Chat_console/Highlight/fr.md
  wiki/Community/Profile_badge/es.md
  wiki/Community/Project_Loved/es.md
  wiki/Guides/Compressing_files/fr.md
  wiki/Help_centre/Account_restrictions/fr.md
  wiki/History_of_osu!/2022/en.md
  wiki/Offset/fr.md
  wiki/People/Language_Surveillance_Division/fr.md
  wiki/People/Nomination_Assessment_Team/Evaluations/en.md
  wiki/Ranking_criteria/osu!mania/es.md
  wiki/Rules/es.md
  wiki/Tournaments/GBC/GBC_2023_Autumn/en.md
  wiki/Tournaments/GBC/GBC_2023_Spring/en.md
Labels: area:meta, size/M

#10568 Add unstable rate article
  wiki/Gameplay/Accuracy/de.md
  wiki/Gameplay/Accuracy/en.md
  wiki/Gameplay/Accuracy/es.md
  wiki/Gameplay/Accuracy/fr.md
  wiki/Gameplay/Accuracy/ru.md
  wiki/Gameplay/Accuracy/zh.md
  wiki/Gameplay/Unstable_rate/en.md
  wiki/Gameplay/Unstable_rate/img/performance-graph.png
  wiki/Gameplay/en.md
  wiki/Gameplay/es.md
  wiki/Gameplay/fr.md
  wiki/redirect.yaml
Labels: size/M

#10570 Misc. CI workflow improvements
  .github/workflows/continuous-integration.yml
  requirements.txt
Labels: area:meta, size/M

#10572 Update `Tournaments/4DM/2024`
  wiki/Tournaments/4DM/2024/en.md
Labels: area:tournaments, size/S

#10573 [ES] Update `Article_styling_criteria/Formatting`
  wiki/Article_styling_criteria/Formatting/es.md
Labels: area:translations, size/S

#10577 Fix base commit of outdated articles check
  .github/workflows/continuous-integration.yml
Labels: area:meta, size/XS

#10576 Update Beatmap Spotlights managers & history
  wiki/Beatmap_Spotlights/en.md
  wiki/Beatmap_Spotlights/es.md
  wiki/Beatmap_Spotlights/fr.md
  wiki/Beatmap_Spotlights/ru.md
  wiki/Beatmap_Spotlights/zh.md
  wiki/People/Beatmap_Spotlight_Curators/en.md
  wiki/People/Beatmap_Spotlight_Curators/es.md
  wiki/People/Beatmap_Spotlight_Curators/fr.md
  wiki/People/Beatmap_Spotlight_Curators/id.md
  wiki/People/osu!_team/de.md
  wiki/People/osu!_team/en.md
  wiki/People/osu!_team/es.md
  wiki/People/osu!_team/it.md
  wiki/People/osu!_team/ko.md
  wiki/People/osu!_team/zh.md
Labels: size/M

#10571 [ZH-TW] Update ```OWC 2023``` for the Grand Finals stage
  wiki/Tournaments/OWC/2023/zh-tw.md
Labels: area:translations, area:tournaments, size/M

#10590 Add `New Featured Artist: Knife` news post
  news/2023/2023-12-02-new-featured-artist-knife.md
  wiki/People/Featured_Artists/Featured_Artist_playlists/en.md
  wiki/People/Featured_Artists/Featured_Artist_playlists/es.md
  wiki/People/Featured_Artists/Featured_Artist_playlists/ru.md
Labels: size/L

#10592 Update `OWC 2023` with tournament results
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/img/badge-1st.png
  wiki/Tournaments/OWC/2023/img/badge-1st@2x.png
  wiki/Tournaments/OWC/2023/img/badge-2nd.png
  wiki/Tournaments/OWC/2023/img/badge-2nd@2x.png
  wiki/Tournaments/OWC/2023/img/badge-3rd.png
  wiki/Tournaments/OWC/2023/img/badge-3rd@2x.png
  wiki/Tournaments/OWC/2023/img/podium.jpg
  wiki/Tournaments/OWC/2023/img/podium@2x.jpg
  wiki/Tournaments/OWC/2023/ko.md
  wiki/Tournaments/OWC/2023/zh-tw.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/zh.md
Labels: area:tournaments, size/M

#10578 Add `osu! Indonesia Presents: Ascaveth Invitational Tournament 2023` news post
  news/2023/2023-12-03-osu-indonesia-presents-ascaveth-invitational-tournament-2023.md
  wiki/shared/news/2023-12-03-osu-indonesia-presents-ascaveth-invitational-tournament-2023/banner.png
Labels: area:news, size/M

#10197 Fix list indentation
  wiki/Guides/Compressing_files/en.md
  wiki/Guides/Compressing_files/fr.md
  wiki/Registration/cs.md
  wiki/Registration/de.md
  wiki/Registration/en.md
  wiki/Registration/es.md
  wiki/Registration/fr.md
  wiki/Registration/id.md
  wiki/Registration/it.md
  wiki/Registration/ja.md
  wiki/Registration/ko.md
  wiki/Registration/pl.md
  wiki/Registration/pt-br.md
  wiki/Registration/ru.md
  wiki/Registration/sk.md
  wiki/Registration/th.md
  wiki/Registration/uk.md
  wiki/Registration/vi.md
  wiki/Registration/zh-tw.md
  wiki/Registration/zh.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/de.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/en.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/es.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/fr.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/ko.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/ru.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/uk.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/vi.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/zh.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/de.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/en.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/es.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/fr.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/id.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/ru.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/uk.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/vi.md
  wiki/osu!_wiki/Contribution_guide/GitHub_web-based_editor/de.md
  wiki/osu!_wiki/Contribution_guide/GitHub_web-based_editor/en.md
  wiki/osu!_wiki/Contribution_guide/GitHub_web-based_editor/fr.md
  wiki/osu!_wiki/Contribution_guide/GitHub_web-based_editor/ru.md
  wiki/osu!_wiki/Contribution_guide/GitHub_web-based_editor/uk.md
  wiki/osu!_wiki/Contribution_guide/de.md
  wiki/osu!_wiki/Contribution_guide/en.md
  wiki/osu!_wiki/Contribution_guide/es.md
  wiki/osu!_wiki/Contribution_guide/fr.md
  wiki/osu!_wiki/Contribution_guide/id.md
  wiki/osu!_wiki/Contribution_guide/ja.md
  wiki/osu!_wiki/Contribution_guide/ko.md
  wiki/osu!_wiki/Contribution_guide/ru.md
  wiki/osu!_wiki/Contribution_guide/th.md
  wiki/osu!_wiki/Contribution_guide/tr.md
  wiki/osu!_wiki/Contribution_guide/uk.md
  wiki/osu!_wiki/Contribution_guide/vi.md
  wiki/osu!_wiki/Contribution_guide/zh-tw.md
  wiki/osu!_wiki/Contribution_guide/zh.md
Labels: size/XL

#10608 Remove outdated link in `OWC 2023`
  wiki/Tournaments/OWC/2023/en.md
Labels: area:tournaments, size/XS

#10597 [KO] Update Grand Final results for the `owc 2023`
  wiki/Tournaments/OWC/2023/ko.md
Labels: area:translations, area:tournaments, size/M

#10410 Add osu!mania 10K+ playstyles article
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/en.md
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/10K2S-hands.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/10K2S-hands@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/10K2S-keys.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/10K2S-keys@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/10K8K-hands.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/10K8K-hands@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/10K8K-keys.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/10K8K-keys@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/9K9K-hands.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/9K9K-hands@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/9K9K-keys.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/9K9K-keys@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/DP-hands.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/DP-hands@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/DP-keys.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/DP-keys@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/EZ2-hands.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/EZ2-hands@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/EZ2-keys.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/EZ2-keys@2x.png
  wiki/Game_mode/osu!mania/en.md
  wiki/Game_mode/osu!mania/fr.md
  wiki/Game_mode/osu!mania/zh.md
Labels: size/L

#10138 Allow key modes of 12-18K in osu!mania RC
  wiki/Ranking_criteria/en.md
  wiki/Ranking_criteria/es.md
  wiki/Ranking_criteria/fr.md
  wiki/Ranking_criteria/osu!mania/de.md
  wiki/Ranking_criteria/osu!mania/en.md
  wiki/Ranking_criteria/osu!mania/es.md
  wiki/Ranking_criteria/osu!mania/fr.md
  wiki/Ranking_criteria/osu!mania/ru.md
  wiki/Ranking_criteria/osu!mania/zh.md
  wiki/Ranking_criteria/zh.md
Labels: size/M, rule change, area:ranking criteria

#10538 [VI] Update `Contribution guide/Best practices`
  wiki/osu!_wiki/Contribution_guide/Best_practices/vi.md
Labels: area:translations, size/S, state/stale merge

#10537 [VI] Rename "Support Team" to "Technical Support Team"
  wiki/Main_page/vi.md
  wiki/People/vi.md
Labels: area:translations, size/S

#10536 [ES] Update `Client/Beatmap editor/Timing`
  wiki/Beatmap/Beatmap_collaborations/es.md
  wiki/Beatmapping/Timing/es.md
  wiki/Client/Beatmap_editor/AiMod/es.md
  wiki/Client/Beatmap_editor/Timing/es.md
  wiki/Client/Beatmap_editor/Timing/img/metronome-ES.png
  wiki/shared/timing/Timing_base-ES.png
Labels: area:translations, size/L, state/stale merge

#10484 [DE] Add `Music theory/Layer`
  wiki/Music_theory/Layer/de.md
Labels: area:translations, size/S, state/stale merge

#10152 [TR] Add `Ranking`
  wiki/Ranking/tr.md
Labels: area:translations, size/M, state/stale merge

#10183 [ES] Update `Announcement messages`
  wiki/Announcement_messages/es.md
Labels: area:translations, size/S

#10367 [ES] Add missing Disambiguation articles
  wiki/Beatmapping/Beat_snapping/es.md
  wiki/Disambiguation/Bancho/es.md
  wiki/Disambiguation/Combo/es.md
  wiki/Disambiguation/EZ/es.md
  wiki/Disambiguation/Easy/es.md
  wiki/Disambiguation/Fail/es.md
  wiki/Disambiguation/Mod/es.md
  wiki/Disambiguation/Ouendan/es.md
  wiki/Disambiguation/Rank/es.md
  wiki/Disambiguation/Score/es.md
  wiki/Disambiguation/Snapping/es.md
  wiki/Disambiguation/Star/es.md
  wiki/Disambiguation/Version/es.md
Labels: area:translations, size/L

#10362 [ES] Update `Game mode/osu!mania`
  wiki/Game_mode/osu!mania/es.md
  wiki/Game_mode/osu!mania/img/Editor_Mania-ES.jpg
  wiki/Game_mode/osu!mania/img/Mania_SC-ES.jpg
  wiki/Game_mode/osu!mania/img/Mania_Scale-ES.png
  wiki/Game_mode/osu!mania/img/Options_keyboard-ES.png
Labels: area:translations, size/L, state/stale merge

#10581 [ES] Update `Beatmap Spotlights` and `People/osu! team`
  wiki/Beatmap_Spotlights/es.md
  wiki/People/osu!_team/es.md
Labels: area:translations, size/XS

#10547 [DE] Update `Community/osu!monthly`
  wiki/Community/osu!monthly/de.md
  wiki/History_of_osu!/2022/de.md
Labels: area:translations, size/M

#10420 [DE] Add `TAG`
  wiki/Beatmap/TAG/de.md
Labels: area:translations, size/S

#10486 [DE] Fix issues in `History of osu!/April Fools`
  wiki/History_of_osu!/April_Fools/de.md
Labels: area:translations, size/XS

#10439 [DE] Add `Beatmap/Title text`
  wiki/Beatmap/Title_text/de.md
  wiki/Guides/de.md
Labels: area:translations, size/M

#10479 [DE] Add `Music theory/Tempo`
  wiki/Music_theory/Tempo/de.md
  wiki/Music_theory/Tempo/img/beatmap-info-DE.png
Labels: area:translations, size/M

#10468 [DE] Add `Beatmap/Beatmap description`
  wiki/Beatmap/Beatmap_description/de.md
Labels: area:translations, size/S

#10504 [ES] Update `People/Community Contributors`
  wiki/People/Community_Contributors/es.md
Labels: area:translations, size/M

#10550 [FR] Update `Article styling criteria/Formatting`
  wiki/Article_styling_criteria/Formatting/fr.md
  wiki/BanchoBot/fr.md
  wiki/News_styling_criteria/fr.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/fr.md
  wiki/osu!_wiki/Contribution_guide/GitHub_web-based_editor/fr.md
  wiki/osu!_wiki/Contribution_guide/fr.md
  wiki/osu!_wiki/fr.md
Labels: area:translations, size/XL

#10606 [ZH] Add `Gameplay/Judgement`
  wiki/Gameplay/Judgement/osu!/zh.md
  wiki/Gameplay/Judgement/zh.md
Labels: area:translations, size/L

#10612 Fix post date for `Winter 2023 Fanart Contest Results` news post
  news/2023/2023-12-07-winter-fanart-contest-results.md
Labels: area:news, size/XS

#10516 [RU] Add `Gameplay/Game modifier/ScoreV2`
  wiki/Gameplay/Game_modifier/ScoreV2/ru.md
Labels: area:translations, size/M

#10575 [ES] Add `Gameplay/Unstable rate`
  wiki/Gameplay/Unstable_rate/es.md
Labels: area:translations, size/M

#10429 [ES] Update `MWC 2014`
  wiki/Tournaments/MWC/2014/es.md
Labels: area:translations, area:tournaments, size/XL

#10616 [ES] Clean up `Disambiguation/Snapping`
  wiki/Disambiguation/Snapping/es.md
Labels: area:translations, size/XS

#10617 [ES] Update `Distance snap`
  wiki/Client/Beatmap_editor/Distance_snap/es.md
Labels: area:translations, size/M

#10503 [ES] Add `C` missing stubs
  wiki/Client/Beatmap_editor/Recalculate_slider_lengths/es.md
  wiki/Client/Beatmap_editor/Resnap/es.md
  wiki/Client/Release_stream/es.md
  wiki/Client/es.md
  wiki/Community/Community_Mentorship_Program/es.md
  wiki/Community/Forum/Abandoned_Wasteland/es.md
  wiki/Community/Forum/Feature_Requests/es.md
  wiki/Community/Forum/Help/es.md
  wiki/Community/Forum/Modding_Queues/es.md
Labels: area:translations, size/L

#10394 [ES] Native review of `History of osu!/Mapping and modding timeline`
  wiki/History_of_osu!/Mapping_and_modding_timeline/es.md
Labels: area:translations, size/L

#10618 Add new OWC 2023 tracks to `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: size/M

#10589 [FR] Update `Help centre/Tournament bans`
  wiki/Help_centre/Tournament_bans/fr.md
Labels: area:translations, size/M, state/stale merge, area:help centre

#10588 [FR] Update `People/Tournament Committee`
  wiki/People/Tournament_Committee/fr.md
Labels: area:translations, size/S, state/stale merge

#10585 [FR] Update `People/Account support team`
  wiki/People/Account_support_team/fr.md
Labels: area:translations, size/M, state/stale merge

#10584 [FR] Update `People/Quality Assurance Team/QAT Leaders`
  wiki/People/Quality_Assurance_Team/QAT_Leaders/fr.md
Labels: area:translations, size/S, state/stale merge

#10583 [FR] Update `People/osu! team`
  wiki/People/osu!_team/fr.md
Labels: area:translations, size/L, state/stale merge

#10582 [FR] Update `People`
  wiki/People/fr.md
Labels: area:translations, size/M, state/stale merge

#10602 [FR] Update `Client/Release stream/Lazer`
  wiki/Client/Release_stream/Lazer/fr.md
Labels: area:translations, size/S, state/stale merge

#10601 [FR] Update `osu! tournament client/osu!tourney/Setup`
  wiki/osu!_tournament_client/osu!tourney/Setup/fr.md
Labels: area:translations, size/M, state/stale merge

#10600 [FR] Update `Beatmap/Background`
  wiki/Beatmap/Background/fr.md
Labels: area:translations, size/XS, state/stale merge

#10599 [FR] Update `Community/osu!monthly`
  wiki/Community/osu!monthly/fr.md
Labels: area:translations, size/M, state/stale merge

#10594 [ES] Update `Health`
  wiki/Gameplay/Health/es.md
  wiki/History_of_osu!/Mapping_and_modding_timeline/es.md
Labels: area:translations, size/M

#10598 [FR] Update `People/Beatmap Nominators/Rules`
  wiki/People/Beatmap_Nominators/Rules/fr.md
Labels: area:translations, size/M, state/stale merge

#10393 [ES] Native review of `History of osu!/April Fools/osu!coin` and `History of osu!/History of Loved`
  wiki/History_of_osu!/April_Fools/osu!coin/es.md
  wiki/History_of_osu!/History_of_Loved/es.md
Labels: area:translations, size/M

#10619 Add `osu! World Cup 2023 Concludes` news post
  news/2023/2023-12-10-osu-world-cup-2023-concludes.md
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/AKARI-BEAM-CANNON-LAST-BOSS.jpg
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/Amethyst-Aurora.jpg
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/Burning-Star.jpg
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/Darkness-Parade.jpg
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/Doomsday-banner.png
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/Ebb-Tide.jpg
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/Endverse.jpg
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/Fana.jpg
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/Gllensista.jpg
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/KAGUTSUCHI.jpg
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/Kama-banner.png
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/Kizan.jpg
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/Mach-Roger.jpg
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/NOVO-HORIZONTE.jpg
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/OEFHEBEN.jpg
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/Pixel-Planet.jpg
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/Quartzshaper.jpg
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/Requiem-for-the-Aura.jpg
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/Sara.jpg
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/The-last-straw.jpg
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/VANITAS.jpg
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/Wandered.jpg
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/owc2023-credits.png
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/pickem.png
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/seleP-banner.png
Labels: area:news, size/L

#10623 Add `New Featured Artist: Asa` news post
  news/2023/2023-12-10-new-featured-artist-asa.md
Labels: area:news, size/M

#10632 Update credits image in `osu! World Cup 2023 Concludes` news post
  news/2023/2023-12-10-osu-world-cup-2023-concludes.md
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/owc2023-credits.png
Labels: area:news, size/XS

#10637 Fix typo in credits image of `osu! World Cup 2023 Concludes` news post
  news/2023/2023-12-10-osu-world-cup-2023-concludes.md
  wiki/shared/news/2023-12-10-osu-world-cup-2023-concludes/owc2023-credits.png
Labels: area:news, size/XS

#10638 Fix link from skipped wikilink check
  wiki/People/Project_Loved_Team/es.md
Labels: size/XS

#10639 Bump osu-wiki-tools to version `2.2.1`
  requirements.txt
Labels: area:meta, size/XS

#10643 Fix incorrect map link in `MWC7K 2016`
  wiki/Tournaments/MWC/2016_7K/en.md
Labels: area:tournaments, size/XS

#10646 Add `MWC 7K 2024` news post, wiki article
  news/2023/2023-12-14-osu-mania-7k-world-cup-2024-registrations-now-open.md
  wiki/Tournaments/MWC/2024_7K/en.md
  wiki/Tournaments/MWC/2024_7K/img/mwc7k2024-banner.jpg
  wiki/Tournaments/MWC/2024_7K/img/mwc7k2024-banner@2x.jpg
  wiki/Tournaments/MWC/2024_7K/img/mwc7k2024-bracket.png
  wiki/Tournaments/MWC/en.md
  wiki/Tournaments/MWC/ru.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/zh.md
Labels: area:news, area:tournaments, size/L

#10647 Remove juankristal from `People/Tournament_Committee`
  wiki/People/Tournament_Committee/de.md
  wiki/People/Tournament_Committee/en.md
  wiki/People/Tournament_Committee/es.md
  wiki/People/Tournament_Committee/fr.md
  wiki/People/Tournament_Committee/id.md
  wiki/People/Tournament_Committee/ko.md
  wiki/People/Tournament_Committee/ru.md
  wiki/People/Tournament_Committee/zh-tw.md
  wiki/People/Tournament_Committee/zh.md
Labels: size/S

#10648 Remove duplicate user in `osu!mania 7K World Cup 2024`
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: area:tournaments, size/XS

#10649 Add `Monthly Beatmapping Contest: December 2023` news post
  news/2023/2023-12-15-monthly-beatmapping-contest-december-2023.md
  wiki/Contests/Contest_points/en.md
Labels: area:news, size/L

#10650 Swap links in `Monthly Beatmapping Contest: December 2023` news post
  news/2023/2023-12-15-monthly-beatmapping-contest-december-2023.md
Labels: area:news, size/XS

#10651 Add more links and footnotes to `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: size/L

#10652 Update various BN/NAT articles
  wiki/People/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/en.md
  wiki/People/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/ru.md
  wiki/People/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/zh.md
  wiki/People/Beatmap_Nominators/Rules/en.md
  wiki/People/Beatmap_Nominators/Rules/fr.md
  wiki/People/Nomination_Assessment_Team/Evaluations/en.md
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Nomination_Assessment_Team/es.md
Labels: size/M

#10653 Add `The NAT Gazette: December 2023` news post
  news/2023/2023-12-16-the-nat-gazette-december-2023.md
  wiki/shared/news/2023-12-16-nat-gazette-dec-2023/banner.jpg
  wiki/shared/news/2023-12-16-nat-gazette-dec-2023/banner@2x.jpg
  wiki/shared/news/2023-12-16-nat-gazette-dec-2023/request.png
Labels: area:news, size/L

#10657 Fix `Garalulu` username and profile link on `The NAT Gazette: December 2023`
  news/2023/2023-12-16-the-nat-gazette-december-2023.md
Labels: area:news, size/XS

#10658 Remove -Alter from Mappool Playtesters
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: area:tournaments, size/XS

#10664 Update abuse handlers
  wiki/Reporting_bad_behaviour/Abuse/bg.md
  wiki/Reporting_bad_behaviour/Abuse/de.md
  wiki/Reporting_bad_behaviour/Abuse/en.md
  wiki/Reporting_bad_behaviour/Abuse/es.md
  wiki/Reporting_bad_behaviour/Abuse/fr.md
  wiki/Reporting_bad_behaviour/Abuse/id.md
  wiki/Reporting_bad_behaviour/Abuse/it.md
  wiki/Reporting_bad_behaviour/Abuse/pt-br.md
  wiki/Reporting_bad_behaviour/Abuse/ru.md
  wiki/Reporting_bad_behaviour/Abuse/zh.md
  wiki/Rules/Contributor_code_of_conduct/de.md
  wiki/Rules/Contributor_code_of_conduct/en.md
  wiki/Rules/Contributor_code_of_conduct/es.md
  wiki/Rules/Contributor_code_of_conduct/fr.md
  wiki/Rules/Contributor_code_of_conduct/id.md
  wiki/Rules/Contributor_code_of_conduct/ko.md
  wiki/Rules/Contributor_code_of_conduct/ru.md
  wiki/Rules/Contributor_code_of_conduct/zh.md
Labels: size/M

#10663 Add `New Featured Artist: Hitori Tori` news post
  news/2023/2023-12-17-new-featured-artist-hitori-tori.md
Labels: area:news, size/M

#10661 [DE] Fix missed words in `Client/Keyboard shortcuts`
  wiki/Client/Keyboard_shortcuts/de.md
Labels: area:translations, size/XS

#10665 [RU] Fix inherited/uninherited in `Ranking criteria/osu!taiko`
  wiki/Ranking_criteria/osu!taiko/ru.md
Labels: area:translations, size/XS, area:ranking criteria

#10595 [DE] Fix issues in `Help centre/Account restrictions`, `Rules/Explicit content`, and `Rules/Visual content considerations`
  wiki/Help_centre/Account_restrictions/de.md
  wiki/Rules/Explicit_content/de.md
  wiki/Rules/Visual_content_considerations/de.md
Labels: area:translations, size/S, area:help centre

#10613 [FR] Update small articles
  wiki/Beatmapping/Mapping_techniques/Time-distance_equality/fr.md
  wiki/Changelog/fr.md
  wiki/Client/Beatmap_editor/Beat_snap_divisor/fr.md
  wiki/Client/Beatmap_editor/Distance_snap/fr.md
  wiki/Client/Playfield/fr.md
  wiki/Community/osu!_community_meetings/fr.md
  wiki/Do_you_really_want_to_ask_peppy/fr.md
  wiki/Gameplay/Game_modifier/Perfect/fr.md
  wiki/Gameplay/Judgement/Slider_break/fr.md
  wiki/People/Nomination_Assessment_Team/Evaluations/fr.md
Labels: area:translations, size/L, state/stale merge

#10633 [FR] Update `Beatmap Spotlights`
  wiki/Beatmap_Spotlights/fr.md
Labels: area:translations, size/L, state/stale merge

#10631 [ES] Add `Skinning/Skinner` and `iNiS games`
  wiki/Skinning/Skinner/es.md
  wiki/iNiS_games/es.md
Labels: area:translations, size/M

#10636 [FR] Update `Ranking criteria/osu!catch`
  wiki/Ranking_criteria/osu!catch/fr.md
Labels: area:translations, size/XS, state/stale merge, area:ranking criteria

#10634 [FR] Update `osu! wiki/Maintenance` and `osu! wiki/Contribution guide/Best practices`
  wiki/Article_styling_criteria/Formatting/fr.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/fr.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/fr.md
  wiki/osu!_wiki/Contribution_guide/GitHub_web-based_editor/fr.md
  wiki/osu!_wiki/Contribution_guide/fr.md
  wiki/osu!_wiki/Maintenance/fr.md
Labels: area:translations, size/L

#10635 [FR] Update `Gameplay`
  wiki/Gameplay/fr.md
Labels: area:translations, size/XS

#10667 [ZH] Fix OWC 2023 end time in tournaments index
  wiki/Tournaments/zh.md
Labels: area:translations, area:tournaments, size/XS

#10669 Add `osu!(lazer) Updates & Preparing For Ranked Play` news post
  news/2023/2023-12-18-osulazer-updates-preparing-for-ranked-play.md
  wiki/shared/news/2023-12-18-osulazer-updates-preparing-for-ranked-play/banner.jpg
  wiki/shared/news/2023-12-18-osulazer-updates-preparing-for-ranked-play/banner@2x.jpg
  wiki/shared/news/2023-12-18-osulazer-updates-preparing-for-ranked-play/slider-late-leniency.jpg
Labels: area:news, size/L

#10668 Update BN and NAT member listings
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Nomination_Assessment_Team/en.md
Labels: size/L

#10674 [FR] Update `meta/group-info`
  meta/group-info/fr.yaml
Labels: area:translations, area:meta, size/XS, state/stale merge

#10677 Fix broken link formatting on `Project Loved: December 2023` news post
  news/2023/2023-12-21-project-loved-december-2023.md
Labels: area:news, size/XS

#10678 Update `MWC 7K 2024`, `OWC 2023`
  wiki/Tournaments/MWC/2024_7K/en.md
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
  wiki/Tournaments/OWC/2023/zh-tw.md
Labels: size/S

#10659 Add `How advances in technology affected the osu! community` news post
  news/2023/2023-12-22-how-advances-in-technology-affected-the-osu-community.md
  wiki/shared/news/2023-12-22-how-advances-in-technology-affected-the-osu-community/banner.jpg
  wiki/shared/news/2023-12-22-how-advances-in-technology-affected-the-osu-community/banner@2x.jpg
  wiki/shared/news/2023-12-22-how-advances-in-technology-affected-the-osu-community/rapid_trigger_example.gif
Labels: area:news, size/L

#10642 [RU] Add `Gameplay/Score`
  wiki/Gameplay/Score/ru.md
Labels: area:translations, size/S

#10680 Add `New Featured Artist: t+pazolite` news post
  news/2023/2023-12-23-new-featured-artist-tpazolite.md
Labels: area:news, size/L

#10686 Update songs list in `New Featured Artist: t+pazolite` news post
  news/2023/2023-12-23-new-featured-artist-tpazolite.md
Labels: area:news, size/S

#10689 Correct previous BN language updates
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Nomination_Assessment_Team/en.md
Labels: size/XS

#10692 Clarify activity requirement for triggering a probation eval
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Beatmap_Nominators/es.md
Labels: size/XS

#10682 [ES] Replace silence image
  wiki/Silence/es.md
  wiki/Silence/img/silence-profile-ES.jpg
  wiki/Silence/img/silence-profile-ES.png
Labels: area:translations, size/XS

#10683 Remove qtip from rules link in OWC 2016
  wiki/Tournaments/OWC/2016/en.md
  wiki/Tournaments/OWC/2016/es.md
Labels: area:tournaments, size/XS

#10675 Add announcements channel to `osu! Discord server`
  wiki/Community/osu!_Discord_server/de.md
  wiki/Community/osu!_Discord_server/en.md
  wiki/Community/osu!_Discord_server/es.md
  wiki/Community/osu!_Discord_server/fr.md
  wiki/Community/osu!_Discord_server/it.md
  wiki/Community/osu!_Discord_server/ko.md
  wiki/Community/osu!_Discord_server/zh.md
Labels: size/S

#10695 Add `New Year 2024 Countdown Medals` news post
  news/2023/2023-12-24-new-year-2024-countdown-medals.md
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/banner.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/banner@2x.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/cal_dec_24.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/dec_24.jpg
Labels: area:news, size/M

#10699 Fix link to beatmap on `New Featured Artist: t+pazolite`
  news/2023/2023-12-23-new-featured-artist-tpazolite.md
Labels: size/XS

#10700 Fix wording in `New Year 2024 Countdown Medals` news post
  news/2023/2023-12-24-new-year-2024-countdown-medals.md
Labels: area:news, size/XS

#10704 Update `New Year 2024 Countdown Medals` news post with next medal
  news/2023/2023-12-24-new-year-2024-countdown-medals.md
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/cal_dec_24.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/cal_dec_25.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/dec_24.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/dec_25.jpg
Labels: area:news, size/XS

#10709 Update `New Year 2024 Countdown Medals` news post with next medal
  news/2023/2023-12-24-new-year-2024-countdown-medals.md
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/cal_dec_25.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/cal_dec_26.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/dec_25.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/dec_26.jpg
Labels: area:news, size/S

#10708 Fix incorrect GB flags
  wiki/Tournaments/AESS/1/en.md
Labels: size/XS

#10707 Complete missing informations in `TWC 2016`
  wiki/Tournaments/TWC/2016/en.md
Labels: area:tournaments, size/S

#10705 Improve readability of osu!taiko hit window formulae in `Beatmap/Overall difficulty`
  wiki/Beatmap/Overall_difficulty/en.md
  wiki/Beatmap/Overall_difficulty/es.md
  wiki/Beatmap/Overall_difficulty/fr.md
  wiki/Beatmap/Overall_difficulty/id.md
  wiki/Beatmap/Overall_difficulty/it.md
  wiki/Beatmap/Overall_difficulty/ru.md
  wiki/Beatmap/Overall_difficulty/zh.md
Labels: size/M

#10694 [ES] Update `osu! Discord server`
  wiki/Community/osu!_Discord_server/es.md
Labels: area:translations, size/XS

#10691 [ZH] Update `People` and nested articles
  wiki/People/Beatmap_Nominators/Beatmap_Nominator_Test/zh.md
  wiki/People/Beatmap_Nominators/Rules/zh.md
  wiki/People/Beatmap_Nominators/zh.md
  wiki/People/Community_Contributors/zh.md
  wiki/People/Nomination_Assessment_Team/zh.md
  wiki/People/Technical_Support_Team/zh.md
  wiki/People/Tournament_Committee/zh.md
  wiki/People/Users_with_unique_titles/zh.md
  wiki/People/osu!_team/zh.md
  wiki/People/peppy/zh.md
  wiki/People/zh.md
Labels: area:translations, size/L

#10701 [ZH-TW] Add `Client/File formats`
  wiki/Client/File_formats/zh-tw.md
Labels: area:translations, size/M

#10688 [ZH] Update `Becoming a Beatmap Nominator`
  wiki/People/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/zh.md
Labels: area:translations, size/M

#10614 [ES] Update `Ranking criteria`
  wiki/Ranking_criteria/es.md
Labels: area:translations, size/S, area:ranking criteria

#10693 [ES] Update `Beatmap Nominators`
  wiki/People/Beatmap_Nominators/es.md
Labels: area:translations, size/S

#10629 [ES] Add `P` missing stubs (1)
  wiki/People/Beatmap_Appreciation_Team/BAT_Managers/es.md
  wiki/People/Beatmap_Appreciation_Team/es.md
  wiki/People/Mapping_Assistance_Team/MAT_Leaders/es.md
  wiki/People/Mapping_Assistance_Team/es.md
Labels: area:translations, size/M

#10645 [NL] Add Legal index and update Play time
  wiki/Beatmap/Play_time/nl.md
  wiki/Legal/nl.md
Labels: area:translations, size/S

#10687 [ZH] Update `Reporting bad behaviour/Abuse`
  wiki/Reporting_bad_behaviour/Abuse/zh.md
Labels: area:translations, size/S

#10679 [ES] Add `Judgement/osu!catch`
  wiki/Game_mode/osu!catch/es.md
  wiki/Gameplay/Judgement/osu!catch/es.md
Labels: area:translations, size/S

#10641 [FR] Update `People/Beatmap Nominators` and related articles
  wiki/History_of_osu!/Mapping_and_modding_timeline/fr.md
  wiki/People/Beatmap_Nominators/Beatmap_Nominator_Test/fr.md
  wiki/People/Beatmap_Nominators/Beatmap_Nominator_Tiers/fr.md
  wiki/People/Beatmap_Nominators/Beatmap_Veto/fr.md
  wiki/People/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/fr.md
  wiki/People/Beatmap_Nominators/fr.md
  wiki/People/Nomination_Assessment_Team/Evaluations/fr.md
Labels: area:translations, size/XL, state/stale merge

#10609 [VI] Update ` Help centre/Account`
  wiki/Help_centre/Account/vi.md
Labels: area:translations, size/M, state/stale merge, area:help centre

#10656 [FR] Update `Rules/Content usage permissions`
  wiki/Rules/Content_usage_permissions/fr.md
Labels: area:translations, size/L

#10654 [FR] Update `People/Staff log`, Add `2022` and `2023`, Cleanup `2021`, `2020` and `2019`
  wiki/People/Staff_log/2019/fr.md
  wiki/People/Staff_log/2020/fr.md
  wiki/People/Staff_log/2021/fr.md
  wiki/People/Staff_log/2022/fr.md
  wiki/People/Staff_log/2023/fr.md
  wiki/People/Staff_log/fr.md
Labels: area:translations, size/XXL, state/stale merge

#10640 [FR] Change "Support team" to "Technical support team" where applicable
  wiki/Community/Forum/Help/fr.md
  wiki/Main_page/fr.md
  wiki/People/Technical_Support_Team/fr.md
  wiki/People/User_group/fr.md
Labels: area:translations, size/M, state/stale merge

#10706 [FR] Add/Update `People` related articles
  wiki/People/Community_Contributors/fr.md
  wiki/People/Completionists/fr.md
  wiki/People/Elite_Nominators/fr.md
  wiki/People/Featured_Artists/Featured_Artist_playlists/fr.md
  wiki/People/Featured_Artists/Featured_Artist_playlists/img/playlist-FR.jpg
  wiki/People/Featured_Artists/Featured_Artist_playlists/img/playlist-listing-FR.jpg
  wiki/People/Featured_Artists/fr.md
  wiki/People/Global_Moderation_Team/fr.md
  wiki/People/Nomination_Assessment_Team/fr.md
  wiki/People/Quality_Assurance_Team/QAT_Leaders/fr.md
  wiki/People/Users_with_unique_titles/fr.md
Labels: area:translations, size/XXL, state/stale merge

#10712 Update `New Year 2024 Countdown Medals` news post with next medal
  news/2023/2023-12-24-new-year-2024-countdown-medals.md
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/cal_dec_26.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/cal_dec_27.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/dec_26.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/dec_27.jpg
Labels: area:news, size/S

#10697 [FR] Update `Client` related articles
  wiki/Beatmap/Background/fr.md
  wiki/Beatmap/Category/fr.md
  wiki/Beatmap/Packs/fr.md
  wiki/Beatmap/Star_rating/fr.md
  wiki/Client/Beatmap_editor/Compose/fr.md
  wiki/Client/Beatmap_editor/Compose/img/beat-snap-divisor-FR.jpg
  wiki/Client/Beatmap_editor/Compose/img/beat-snap-divisor-mania-FR.jpg
  wiki/Client/Beatmap_editor/Compose/img/compose-FR.jpg
  wiki/Client/Beatmap_editor/Compose/img/compose-mania-FR.jpg
  wiki/Client/Beatmap_editor/Menu/fr.md
  wiki/Client/File_formats/osu_(file_format)/fr.md
  wiki/Client/Installation/fr.md
  wiki/Client/Interface/fr.md
  wiki/Client/Menu_tips/fr.md
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/fr.md
  wiki/Gameplay/Kiai_time/fr.md
  wiki/Music_theory/Tempo/fr.md
Labels: area:translations, size/XXL, state/stale merge

#10535 [ES] Update `Client/Beatmap editor/AiMod`
  wiki/Client/Beatmap_editor/AiMod/es.md
Labels: area:translations, size/L

#10628 [ES] Add `M` missing stubs
  wiki/Modding/Kudosu/es.md
  wiki/Modding/Mod_for_mod/es.md
  wiki/Modding/Mod_request/es.md
  wiki/Modding/Modder/es.md
  wiki/Modding/Normal_mod/es.md
  wiki/Modding/Proto-bubble/es.md
  wiki/Modding/Star_priority/es.md
Labels: area:translations, size/M

#10630 [ES] Add `P` missing stubs (2)
  wiki/Performance_points/Total_performance_points/es.md
  wiki/Performance_points/Weighting_system/es.md
  wiki/Performance_points/ppv2/es.md
Labels: area:translations, size/M

#10533 [ES] Fix all appearances of "contributor"
  wiki/Article_styling_criteria/es.md
  wiki/History_of_osu!/2016/es.md
  wiki/People/osu!_wiki_maintainers/es.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/es.md
  wiki/osu!_wiki/Contribution_guide/es.md
Labels: area:translations, size/S

#10673 [FR] Update `Reporting bad behaviour/Abuse`
  wiki/Reporting_bad_behaviour/Abuse/fr.md
Labels: area:translations, size/M, state/stale merge

#10593 [DE] Update/Retranslate `Rules/Content usage permissions`
  wiki/Rules/Content_usage_permissions/de.md
Labels: area:translations, size/L

#10624 [ES] Add `G` missing stubs (1)
  wiki/Gameplay/Combo_(score_multiplier)/es.md
  wiki/Gameplay/Combo_milestone/es.md
  wiki/Gameplay/Comboburst/es.md
  wiki/Gameplay/Dash/es.md
  wiki/Gameplay/Edge_dash/es.md
  wiki/Gameplay/Fingerlock/es.md
  wiki/Gameplay/Game_modifier/Mod_multiplier/es.md
Labels: area:translations, size/L

#10672 [FR] Update `Ranking criteria` related articles
  wiki/People/Beatmap_Nominators/Beatmap_Nominator_Test/fr.md
  wiki/Ranking_criteria/Difficulty_naming/fr.md
  wiki/Ranking_criteria/fr.md
  wiki/Ranking_criteria/osu!mania/fr.md
Labels: area:translations, size/L, state/stale merge, area:ranking criteria

#10671 [FR] Update small articles
  wiki/Announcement_messages/fr.md
  wiki/Beatmap/Beatmap_description/fr.md
  wiki/Beatmap/Break/fr.md
  wiki/Beatmap/Genre_and_language/fr.md
  wiki/Community/Profile_badge/fr.md
  wiki/Gameplay/Full_combo/fr.md
  wiki/Help_centre/Beatmapping/fr.md
  wiki/Medals/fr.md
  wiki/Modding/Timestamp/fr.md
Labels: area:translations, size/L

#10681 [ES] Rename `denunciar` to `reportar` and leave `denunciar` for legal articles
  wiki/BanchoBot/es.md
  wiki/Legal/Copyright/es.md
  wiki/People/Global_Moderation_Team/es.md
Labels: area:translations, size/XS, area:legal

#10387 [ES] Native review of `History of osu!/2012`
  wiki/History_of_osu!/2012/es.md
Labels: area:translations, size/M

#10684 [ES] Rename `comportamiento` to `conducta`
  wiki/History_of_osu!/Mapping_and_modding_timeline/es.md
  wiki/People/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/es.md
  wiki/People/Beatmap_Nominators/es.md
  wiki/People/Global_Moderation_Team/es.md
  wiki/Rules/Visual_content_considerations/es.md
  wiki/Tournaments/MWC/2017_7K/en.md
  wiki/Tournaments/OWC/2015/es.md
  wiki/Tournaments/OWC/2016/es.md
  wiki/Tournaments/OWC/2017/es.md
  wiki/Tournaments/OWC/2018/es.md
  wiki/Tournaments/OWC/2019/es.md
  wiki/Tournaments/OWC/2020/es.md
  wiki/Tournaments/OWC/2021/en.md
  wiki/Tournaments/OWC/2021/es.md
Labels: area:translations, size/M

#10620 [ES] Update `People/Global Moderation Team`
  wiki/People/Global_Moderation_Team/es.md
Labels: area:translations, size/M

#10717 [ZH] Update ``Main_page``
  wiki/Main_page/zh.md
Labels: size/XS

#10722 Update `New Year 2024 Countdown Medals` news post with next medal
  news/2023/2023-12-24-new-year-2024-countdown-medals.md
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/cal_dec_27.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/cal_dec_28.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/dec_27.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/dec_28.jpg
Labels: area:news, size/XS

#10723 Update `New Year 2024 Countdown Medals` calendar image
  news/2023/2023-12-24-new-year-2024-countdown-medals.md
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/cal_dec_28.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/cal_dec_28_default.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/dec_28.jpg
Labels: area:news, size/XS

#10724 Use NUL as separator for input to `xargs`
  .github/workflows/continuous-integration.yml
  meta/check-all.sh
Labels: area:meta, size/S

#10726 Update `MWC 7K 2024` team listing with captains
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: size/M

#10728 Switch to new medal in `New Year 2024 Countdown Medals`
  news/2023/2023-12-24-new-year-2024-countdown-medals.md
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/cal_dec_28_default.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/cal_dec_29.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/dec_29.jpg
Labels: area:news, size/XS

#10725 Update lazer main menu tips
  wiki/Client/Menu_tips/de.md
  wiki/Client/Menu_tips/en.md
  wiki/Client/Menu_tips/es.md
  wiki/Client/Menu_tips/fr.md
  wiki/Client/Menu_tips/zh.md
Labels: size/M

#10710 Update wiki page of GBC 2023 Autumn
  wiki/Tournaments/GBC/GBC_2023_Autumn/en.md
  wiki/Tournaments/GBC/GBC_2023_Autumn/img/GBC-2023-Autumn-badge-Discord-1st.png
  wiki/Tournaments/GBC/GBC_2023_Autumn/img/GBC-2023-Autumn-badge-QQ-1st.png
  wiki/Tournaments/GBC/GBC_2023_Autumn/zh.md
Labels: area:tournaments, size/XL

#10735 Update `MWC 7K 2024` team listing
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: size/M

#10737 Update `New Year 2024 Countdown Medals` news post with next medal
  news/2023/2023-12-24-new-year-2024-countdown-medals.md
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/cal_dec_29.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/cal_dec_30.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/dec_29.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/dec_30.jpg
Labels: area:news, size/XS

#10730 [ES] Update `Client/Menu tips`
  wiki/Client/Menu_tips/es.md
Labels: size/M

#10745 Update `Gameplay differences in osu!(lazer)` with actual behaviour
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/en.md
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/fr.md
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/zh.md
Labels: size/M
