Repository ppy/osu-wiki, pull requests merged in 2023-06, with the labels that each got.

#9478 Fix various formatting issues in `osu! Philippines: CONQuest Festival 2023` news post and related wiki article
  news/2023/2023-05-29-osu-philippines-conquest-festival-2023.md
  wiki/Tournaments/oPQS/2/en.md
  wiki/Tournaments/oPQS/2/img/banner.png
  wiki/Tournaments/oPQS/2/img/banner@2x.png
Labels: area:news, area:tournaments, type:clean up, size/L

#9479 Update `CWC 2023` Quarterfinals schedules
  wiki/Tournaments/CWC/2023/en.md
Labels: type:update, area:tournaments, size/M

#9476 Update `Beatmap challenge packs`, `Beatmap packs`, and `Dedication`
  wiki/Medals/Unlock_requirements/Beatmap_challenge_packs/de.md
  wiki/Medals/Unlock_requirements/Beatmap_challenge_packs/en.md
  wiki/Medals/Unlock_requirements/Beatmap_challenge_packs/fr.md
  wiki/Medals/Unlock_requirements/Beatmap_challenge_packs/id.md
  wiki/Medals/Unlock_requirements/Beatmap_challenge_packs/ru.md
  wiki/Medals/Unlock_requirements/Beatmap_challenge_packs/uk.md
  wiki/Medals/Unlock_requirements/Beatmap_packs/de.md
  wiki/Medals/Unlock_requirements/Beatmap_packs/en.md
  wiki/Medals/Unlock_requirements/Beatmap_packs/fr.md
  wiki/Medals/Unlock_requirements/Beatmap_packs/id.md
  wiki/Medals/Unlock_requirements/Beatmap_packs/ru.md
  wiki/Medals/Unlock_requirements/Beatmap_packs/uk.md
  wiki/Medals/Unlock_requirements/Dedication/de.md
  wiki/Medals/Unlock_requirements/Dedication/en.md
  wiki/Medals/Unlock_requirements/Dedication/fr.md
  wiki/Medals/Unlock_requirements/Dedication/id.md
  wiki/Medals/Unlock_requirements/Dedication/ru.md
  wiki/Medals/Unlock_requirements/Dedication/uk.md
  wiki/Medals/Unlock_requirements/Dedication/zh-tw.md
Labels: type:update, size/M, area:gameplay

#9460 Cleanup `Yuyuko's Hidden Cup`
  wiki/Tournaments/YHC/2/en.md
  wiki/Tournaments/YHC/2/zh.md
Labels: area:tournaments, type:clean up, size/S

#9477 Add `The osu! YouTube legacy of ReeseWasHere` news post
  news/2023/2023-06-02-the-osu-youtube-legacy-of-reesewashere.md
  wiki/shared/news/2023-06-02-the-osu-youtube-legacy-of-reesewashere/banner.jpg
  wiki/shared/news/2023-06-02-the-osu-youtube-legacy-of-reesewashere/banner@2x.jpg
  wiki/shared/news/2023-06-02-the-osu-youtube-legacy-of-reesewashere/tweet.png
Labels: area:news, type:new article, size/M

#9413 [ZH] Add `Skinning/Sounds`
  wiki/Skinning/Sounds/zh.md
Labels: area:translations, type:new article, size/XL, area:skinning

#9358 [ES] Change `sólo` to `solo`
  wiki/Article_styling_criteria/Formatting/es.md
  wiki/BBCode/es.md
  wiki/Client/Beatmap_editor/AiMod/es.md
  wiki/Game_mode/osu!/es.md
  wiki/Gameplay/Game_modifier/es.md
  wiki/Mascots/es.md
  wiki/Ranking_Criteria/osu!taiko/es.md
  wiki/Skinning/FAQ/es.md
  wiki/Tournaments/CH/CHS_1/es.md
  wiki/Tournaments/CH/CHT_1/es.md
  wiki/Tournaments/GTS/AGTS_2019/es.md
  wiki/Tournaments/GTS/IGTS_2019/es.md
Labels: area:translations, type:clean up, size/M

#9480 Update `Featured Artist playlists`
  wiki/People/Featured_Artists/Featured_Artist_playlists/en.md
  wiki/People/Featured_Artists/Featured_Artist_playlists/fr.md
  wiki/People/Featured_Artists/Featured_Artist_playlists/ru.md
Labels: type:update, size/L, area:community

#9485 Add New Featured Artist: Andora news post
  news/2023/2023-06-03-new-featured-artist-andora.md
Labels: area:news, type:new article, size/M

#9486 Update `CWC 2023` Quarterfinals schedule
  wiki/Tournaments/CWC/2023/en.md
Labels: type:update, area:tournaments, size/M

#9490 List wooting as operational partner in `cavoe's osu! event 2023`
  wiki/Community/cavoe's_osu!_event/2023/en.md
  wiki/Community/cavoe's_osu!_event/2023/fr.md
Labels: type:update, size/XS, area:community

#9466 [FR] Review `Community/cavoe's osu! event` and `Community/cavoe's osu! event/2023`
  wiki/Community/cavoe's_osu!_event/2023/fr.md
  wiki/Community/cavoe's_osu!_event/fr.md
Labels: area:translations, type:update, size/S, area:community

#9491 Clarify that the tournament committee doesn't operate the tournament email
  wiki/People/Account_support_team/bg.md
  wiki/People/Account_support_team/de.md
  wiki/People/Account_support_team/en.md
  wiki/People/Account_support_team/es.md
  wiki/People/Account_support_team/fr.md
  wiki/People/Account_support_team/id.md
  wiki/People/Account_support_team/ru.md
  wiki/People/Account_support_team/th.md
  wiki/People/Account_support_team/tr.md
  wiki/People/Account_support_team/zh-tw.md
  wiki/People/Tournament_Committee/de.md
  wiki/People/Tournament_Committee/en.md
  wiki/People/Tournament_Committee/es.md
  wiki/People/Tournament_Committee/fr.md
  wiki/People/Tournament_Committee/id.md
  wiki/People/Tournament_Committee/ko.md
  wiki/People/Tournament_Committee/ru.md
  wiki/People/Tournament_Committee/zh-tw.md
  wiki/People/Tournament_Committee/zh.md
  wiki/Tournaments/Official_support/de.md
  wiki/Tournaments/Official_support/en.md
  wiki/Tournaments/Official_support/ko.md
  wiki/Tournaments/Official_support/zh.md
Labels: type:update, area:tournaments, size/M, area:community

#9493 Update `CWC 2023` rules, schedules and links
  wiki/Tournaments/CWC/2023/en.md
Labels: type:update, area:tournaments, size/L

#9470 Add `Community Mentorship Program Summer 2023: Signups Now Open` news post
  news/2023/2023-06-05-community-mentorship-program-summer-2023-signups-now-open.md
Labels: area:news, type:new article, size/S

#9496 Fix wrong cycle name in `Community Mentorship Program Summer 2023: Signups Now Open` news post
  news/2023/2023-06-05-community-mentorship-program-summer-2023-signups-now-open.md
Labels: area:news, type:clean up, size/XS

#9489 Apply some minor formatting fixes in the latest two news posts
  news/2023/2023-06-02-the-osu-youtube-legacy-of-reesewashere.md
  news/2023/2023-06-03-new-featured-artist-andora.md
Labels: area:news, type:clean up, size/XS

#9497 Bump osu-wiki-tools to version `1.1.4`
  scripts/requirements.txt
Labels: area:utilities, type:update, size/XS

#9488 Add back part about not italicising "osu!" in `Brand identity guidelines`
  wiki/Brand_identity_guidelines/de.md
  wiki/Brand_identity_guidelines/en.md
  wiki/Brand_identity_guidelines/es.md
  wiki/Brand_identity_guidelines/fr.md
  wiki/Brand_identity_guidelines/id.md
  wiki/Brand_identity_guidelines/ru.md
Labels: area:utilities, type:update, size/S

#9492 Update `News styling criteria` wiki article
  wiki/Article_styling_criteria/Formatting/de.md
  wiki/Article_styling_criteria/Formatting/en.md
  wiki/Article_styling_criteria/Formatting/es.md
  wiki/Article_styling_criteria/Formatting/fr.md
  wiki/Article_styling_criteria/Formatting/ko.md
  wiki/Article_styling_criteria/Formatting/ru.md
  wiki/News_styling_criteria/en.md
  wiki/News_styling_criteria/fr.md
Labels: area:utilities, type:update, size/L

#9423 Update extended marker and romanisation metadata rules in `Ranking criteria`
  wiki/Ranking_Criteria/en.md
  wiki/Ranking_Criteria/id.md
  wiki/Ranking_Criteria/ko.md
Labels: type:update, size/S, rule change, area:ranking criteria

#9510 Fix wrong outdated translation hash in `ASC/Formatting`
  wiki/Article_styling_criteria/Formatting/de.md
  wiki/Article_styling_criteria/Formatting/es.md
  wiki/Article_styling_criteria/Formatting/fr.md
  wiki/Article_styling_criteria/Formatting/ru.md
Labels: type:clean up, size/XS

#9512 Update `CWC 2023` Semifinals schedules
  wiki/Tournaments/CWC/2023/en.md
Labels: type:update, area:tournaments, size/S

#9076 Document new supported locales and rename `tl` translations to `fil`
  wiki/Article_styling_criteria/Formatting/en.md
  wiki/Article_styling_criteria/Formatting/es.md
  wiki/Article_styling_criteria/Formatting/fr.md
  wiki/Article_styling_criteria/Formatting/ko.md
  wiki/Article_styling_criteria/Formatting/ru.md
  wiki/Beatmapping/fil.md
  wiki/FAQ/fil.md
  wiki/People/Global_Moderation_Team/fil.md
Labels: type:update, size/S

#9484 [DE] Update `Main page`
  wiki/Main_Page/de.md
Labels: area:translations, type:update, area:website, size/S

#9456 [DE] Add `History of osu!/Online rankings`
  wiki/History_of_osu!/Online_rankings/de.md
Labels: area:translations, type:new article, size/M, area:community

#9458 [DE] Add `History of osu!/Online rankings/osu!`
  wiki/History_of_osu!/Online_rankings/osu!/de.md
Labels: area:translations, type:new article, size/L, area:community

#9509 [DE] Add `Client/Program files`
  wiki/Client/Program_files/de.md
Labels: area:translations, type:new article, size/L, area:client

#9098 [ES] Clean up `Tournaments/MWC/2014`
  wiki/Tournaments/MWC/2014/es.md
Labels: area:translations, type:update, area:tournaments, size/M, stale merge

#9136 [FR] Update `BBCode`
  wiki/BBCode/fr.md
Labels: area:translations, type:update, area:website, size/S, stale merge

#9114 [ES] Update `Contests`
  wiki/Contests/es.md
Labels: area:translations, type:update, size/XL, stale merge, area:community

#9318 [ES] Add `History of osu!/Mapping and Modding Timeline`
  wiki/History_of_osu!/Mapping_and_Modding_Timeline/es.md
Labels: area:translations, type:new article, size/XL, stale merge, area:community

#9438 [ES] Update `Client/Beatmap editor`
  wiki/Client/Beatmap_editor/es.md
Labels: area:translations, type:update, size/M, stale merge, area:client

#9449 [UK] Update `Community/Project Loved`
  wiki/Community/Project_Loved/uk.md
Labels: area:translations, type:update, size/L, stale merge, area:community

#9457 [ID] Update/Retranslate `BBCode`
  wiki/BBCode/id.md
Labels: area:translations, type:update, area:website, size/L, stale merge

#9396 [ES] Update `osu!supporter`
  wiki/osu!supporter/es.md
  wiki/osu!supporter/img/beatmap-search-ES.png
  wiki/osu!supporter/img/status-ES.png
  wiki/osu!supporter/img/usercard-ES.png
Labels: area:translations, type:update, size/M

#9515 Fix a few minor issues in `Article styling criteria/Formatting`
  wiki/Article_styling_criteria/Formatting/en.md
Labels: area:utilities, type:clean up, size/XS

#9498 [KO] Update `Article styling criteria/Formatting`
  wiki/Article_styling_criteria/Formatting/ko.md
Labels: area:translations, area:utilities, type:update, size/S

#9454 [UK] Update `Main Page`
  wiki/Main_Page/uk.md
Labels: area:translations, type:update, area:website, size/M, stale merge

#9468 [PT-BR] Update `Main Page`
  wiki/Main_Page/pt-br.md
Labels: area:translations, type:update, area:website, size/M, stale merge

#9481 [UK] Add/Update `Contribution guide` articles
  wiki/osu!_wiki/Contribution_guide/Best_practices/uk.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/uk.md
  wiki/osu!_wiki/Contribution_guide/GitHub_web-based_editor/uk.md
  wiki/osu!_wiki/Contribution_guide/uk.md
Labels: area:translations, area:utilities, type:update, type:new article, size/L, stale merge

#9395 [ZH] Add `Maintenance`, Update `Contribution guide`, `ASC` and sub articles
  wiki/Article_styling_criteria/Formatting/zh.md
  wiki/Article_styling_criteria/Writing/zh.md
  wiki/Article_styling_criteria/zh.md
  wiki/osu!_wiki/Contribution_guide/zh.md
  wiki/osu!_wiki/Maintenance/zh.md
Labels: area:translations, type:update, type:new article, size/XXL

#9519 Update `CWC 2023` Semifinals schedule
  wiki/Tournaments/CWC/2023/en.md
Labels: size/XS

#9500 Update `Global Moderation Team`
  wiki/People/Global_Moderation_Team/de.md
  wiki/People/Global_Moderation_Team/en.md
  wiki/People/Global_Moderation_Team/es.md
  wiki/People/Global_Moderation_Team/fr.md
  wiki/People/Global_Moderation_Team/id.md
  wiki/People/Global_Moderation_Team/ja.md
  wiki/People/Global_Moderation_Team/ko.md
  wiki/People/Global_Moderation_Team/pl.md
  wiki/People/Global_Moderation_Team/pt-br.md
  wiki/People/Global_Moderation_Team/ru.md
  wiki/People/Global_Moderation_Team/th.md
  wiki/People/Global_Moderation_Team/tr.md
  wiki/People/Global_Moderation_Team/zh.md
  wiki/People/Nomination_Assessment_Team/fr.md
Labels: type:update, size/L, area:community

#9514 Expand and update `News styling criteria`
  wiki/News_styling_criteria/en.md
  wiki/News_styling_criteria/img/banner-sizes.png
  wiki/News_styling_criteria/img/banner-sizes@2x.png
Labels: area:utilities, type:update, size/L

#9518 [ZH] Update `Ranking criteria`
  wiki/Ranking_Criteria/zh.md
Labels: area:translations, type:update, size/S, area:ranking criteria

#9482 [ZH] Review and clean up miscellaneous translations
  wiki/Beatmap/Category/zh.md
  wiki/Beatmap/zh.md
  wiki/Beatmapping/Timing/zh.md
  wiki/Bot_account/zh.md
  wiki/Client/Installation/macOS/zh.md
  wiki/Client/Interface/Visual_settings/zh.md
  wiki/Client/Menu_tips/zh.md
  wiki/Gameplay/Hit_object/Juice_stream/zh.md
  wiki/Gameplay/Play_style/Alternating/zh.md
  wiki/Gameplay/Play_style/Double_tapping/zh.md
  wiki/Gameplay/Play_style/Drag/zh.md
  wiki/Gameplay/Play_style/Hover/zh.md
  wiki/Gameplay/Play_style/Hybrid/zh.md
  wiki/Gameplay/Play_style/Single-tapping/zh.md
  wiki/Gameplay/Play_style/Tapping_style/zh.md
  wiki/Gameplay/Play_style/Tapx/zh.md
  wiki/Gameplay/Score/ScoreV1/osu!/zh.md
  wiki/Help_centre/Client/zh.md
  wiki/People/Community_Contributors/zh.md
  wiki/People/Nomination_Assessment_Team/SEV_rating/zh.md
  wiki/Performance_points/Total_performance_points/zh.md
  wiki/Performance_points/Weighting_system/zh.md
  wiki/Performance_points/ppv2/zh.md
  wiki/Rules/Content_Usage_Guidelines/zh.md
  wiki/Rules/Content_Voting_Process/zh.md
  wiki/Tournaments/Badge-weighted_seeding/zh.md
  wiki/Twitter/zh.md
  wiki/osu!_tournament_client/zh.md
  wiki/upppy/zh.md
Labels: area:translations, type:update, size/XL

#9520 Add New Featured Artist: kaitendaentai news post
  news/2023/2023-06-10-new-featured-artist-kaitendaentai.md
Labels: area:news, type:new article, size/M

#9517 [ZH] Update `Tournaments/Official support`
  wiki/Tournaments/Official_support/zh.md
Labels: area:translations, type:update, area:tournaments, size/XS

#9516 [ZH] Update `Beatmap Nominators/Becoming a BN`
  wiki/People/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/zh.md
Labels: area:translations, type:update, size/XS, area:modding

#9450 [UK] Add `Rules`
  wiki/Rules/uk.md
Labels: area:translations, type:new article, size/M, stale merge

#9055 Add `History of osu!/2022`
  wiki/History_of_osu!/2022/en.md
  wiki/History_of_osu!/2022/img/makeship.jpg
  wiki/History_of_osu!/2022/img/medals-november.jpg
  wiki/History_of_osu!/2022/img/medals-september.jpg
  wiki/History_of_osu!/2022/img/reddit_place.jpg
Labels: type:new article, size/L, area:community

#9056 Use table listing in `History of osu!`
  wiki/History_of_osu!/de.md
  wiki/History_of_osu!/en.md
  wiki/History_of_osu!/fr.md
  wiki/History_of_osu!/ru.md
Labels: type:clean up, size/M, area:community

#9506 [ES] Add `Client/Interface/Chat console/Highlight` and update `Client/Interface/Chat console`
  wiki/Client/Interface/Chat_console/Highlight/es.md
  wiki/Client/Interface/Chat_console/Highlight/img/hl-notification-ES.png
  wiki/Client/Interface/Chat_console/es.md
  wiki/Client/Interface/Chat_console/img/Chat_Console-Extended-ES.jpg
  wiki/Client/Interface/Chat_console/img/Chat_Console-Userpaneloptions-ES.jpg
Labels: area:translations, type:update, type:new article, size/M, area:client

#9521 Fix wording issues in `History of osu!/2022`
  wiki/History_of_osu!/2022/en.md
Labels: type:clean up, size/XS, area:community

#9522 Update `CWC 2023` Semifinals links
  wiki/Tournaments/CWC/2023/en.md
Labels: type:update, area:tournaments, size/M

#9507 [ES] Add `Client/Interface/Cookie` and `Client/Interface/Health_bar`
  wiki/Client/Interface/Cookie/es.md
  wiki/Client/Interface/Health_bar/es.md
Labels: area:translations, type:new article, size/M, area:client

#9505 [ES] Add `Client/Interface/Visual settings`
  wiki/Client/Interface/Visual_settings/es.md
  wiki/Client/Interface/Visual_settings/img/visual-settings-ES.jpg
Labels: area:translations, type:new article, size/S, area:client

#9524 Update `CWC 2023` for the Finals stage
  wiki/Tournaments/CWC/2023/en.md
Labels: type:update, area:tournaments, size/M

#9378 [RU] Update all `Ranking criteria` articles
  wiki/Ranking_Criteria/osu!/ru.md
  wiki/Ranking_Criteria/osu!catch/ru.md
  wiki/Ranking_Criteria/osu!mania/ru.md
  wiki/Ranking_Criteria/osu!taiko/ru.md
  wiki/Ranking_Criteria/ru.md
Labels: area:translations, type:update, size/L, area:ranking criteria

#9513 Clean up `Client/Interface/Multiplayer`
  wiki/Client/Interface/Multiplayer/en.md
  wiki/Client/Interface/Multiplayer/fr.md
Labels: type:clean up, size/S, area:client

#9447 [KO] Add `Beatmap/Beatmap host`
  wiki/Beatmap/Beatmap_host/ko.md
Labels: area:translations, type:new article, size/XS

#9222 [ES] Add `History of osu!/2017`
  wiki/History_of_osu!/2017/es.md
Labels: area:translations, type:new article, size/L, area:community

#9508 [ES] Update `ASC/Formatting`
  wiki/Article_styling_criteria/Formatting/es.md
Labels: area:translations, area:utilities, type:update, size/M

#9526 [DE] Add `Client/Menu tips`
  wiki/Client/Menu_tips/de.md
Labels: area:translations, type:new article, size/L, area:client

#9531 Add COEGTS article and update COE 2023 article
  wiki/Community/cavoe's_osu!_event/2023/en.md
  wiki/Community/cavoe's_osu!_event/2023/fr.md
  wiki/Tournaments/GTS/COEGTS_2023/en.md
  wiki/Tournaments/GTS/COEGTS_2023/img/banner.png
  wiki/Tournaments/GTS/de.md
  wiki/Tournaments/GTS/en.md
  wiki/Tournaments/GTS/es.md
  wiki/Tournaments/GTS/fr.md
  wiki/Tournaments/GTS/id.md
  wiki/Tournaments/GTS/ja.md
  wiki/Tournaments/GTS/ko.md
  wiki/Tournaments/GTS/nl.md
  wiki/Tournaments/GTS/zh.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/zh.md
Labels: type:update, type:new article, size/L, area:community

#9530 Add COEGTS original to `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/S

#9532 Fix various flag syntax errors
  wiki/People/Beatmap_Spotlight_Curators/fr.md
  wiki/People/Beatmap_Spotlight_Curators/id.md
  wiki/Tournaments/GTS/EGTS_2022/en.md
  wiki/Tournaments/GTS/RGTS_2022/en.md
Labels: type:clean up, size/XS

#9528 [DE] Update `History of osu!`
  wiki/History_of_osu!/de.md
Labels: area:translations, type:update, size/M

#9471 [FR] Review `Beatmap/Play time`, `Beatmap/Stack leniency`, `Disambiguation/Timing`, `Gameplay/Spinner trap`, `Music theory/Layer`, and `People/User group`
  wiki/Beatmap/Play_time/fr.md
  wiki/Beatmap/Stack_leniency/fr.md
  wiki/Disambiguation/Timing/fr.md
  wiki/Gameplay/Spinner_trap/fr.md
  wiki/Music_theory/Layer/fr.md
  wiki/People/User_group/fr.md
Labels: area:translations, type:update, type:clean up, size/M

#9499 Rearrange the descriptive artists clause in `Ranking criteria` for clarity
  wiki/Ranking_criteria/en.md
  wiki/Ranking_criteria/ru.md
  wiki/Ranking_criteria/zh.md
Labels: type:clean up, size/S, area:ranking criteria

#9472 [FR] Review `Announcement messages`, `Beatmap/Beatmap collaborations`, `Beatmap/Difficulty spread`, `Beatmap/Lead-in time`, `Beatmap Spotlights/Seasons/2023 Spring`, and `Beatmap Spotlights`
  wiki/Announcement_messages/fr.md
  wiki/Beatmap/Beatmap_collaborations/fr.md
  wiki/Beatmap/Difficulty_spread/fr.md
  wiki/Beatmap/Lead-in_time/fr.md
  wiki/Beatmap_Spotlights/Seasons/2023_Spring/fr.md
  wiki/Beatmap_Spotlights/fr.md
Labels: area:translations, type:update, size/M

#9537 Link to osu! originals article in `Ranking criteria`
  wiki/Ranking_criteria/en.md
  wiki/Ranking_criteria/fr.md
  wiki/Ranking_criteria/id.md
  wiki/Ranking_criteria/ko.md
  wiki/Ranking_criteria/zh.md
Labels: type:clean up, size/S, area:ranking criteria

#9538 Update `CWC 2023` Finals schedule
  wiki/Tournaments/CWC/2023/en.md
Labels: size/S

#9549 Update `CWC 2023` links
  wiki/Tournaments/CWC/2023/en.md
Labels: size/XS

#9550 Remove extraneous line from Junk FA newspost
  news/2023/2023-06-17-new-featured-artist-junk.md
Labels: area:news, size/XS

#9551 Update `CWC 2023` links, schedule
  wiki/Tournaments/CWC/2023/en.md
Labels: size/S

#9544 [DE] Add `Changelog` and `History of osu!/2009`
  wiki/Changelog/de.md
  wiki/History_of_osu!/2009/de.md
Labels: area:translations, type:new article, area:website, size/M, area:community

#9540 [ZH] Update `Ranking criteria`
  wiki/Ranking_criteria/zh.md
Labels: area:translations, type:update, size/XS, area:ranking criteria

#9553 Update `CWC 2023` for the Grand Finals stage
  wiki/Tournaments/CWC/2023/en.md
Labels: type:update, area:tournaments, size/M

#9555 Update `CWC 2023` Grand Finals schedule
  wiki/Tournaments/CWC/2023/en.md
Labels: type:update, area:tournaments, size/XS

#9556 [RU] Fix typo in `Account restrictions`
  wiki/Help_centre/Account_restrictions/ru.md
Labels: area:translations, type:clean up, size/XS, area:help centre

#9554 Add CWC 2023 `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/M

#9558 Update eligibility rules in `Official tournament support`
  wiki/Tournaments/Official_support/en.md
  wiki/Tournaments/Official_support/zh.md
Labels: type:update, area:tournaments, size/S, rule change

#9552 Change ''permanent" tournament bans to "indefinite" and allow appealing them
  wiki/Help_centre/Tournament_bans/de.md
  wiki/Help_centre/Tournament_bans/en.md
  wiki/Help_centre/Tournament_bans/fr.md
  wiki/Help_centre/Tournament_bans/id.md
  wiki/Help_centre/Tournament_bans/ko.md
  wiki/Help_centre/Tournament_bans/ru.md
Labels: size/M

#9560 Add `osu! Indonesia Tournament #13 (2023)` wiki article
  wiki/Tournaments/OIT/2023/en.md
  wiki/Tournaments/OIT/2023/img/badge.png
  wiki/Tournaments/OIT/2023/img/logo.jpg
  wiki/Tournaments/OIT/en.md
  wiki/Tournaments/oASIS/1/en.md
Labels: type:new article, area:tournaments, size/L

#9562 Update `Beatmap_veto` and add extra activity requirements for probation BNs
  wiki/People/Beatmap_Nominators/Beatmap_Veto/en.md
  wiki/People/Beatmap_Nominators/Beatmap_Veto/fr.md
  wiki/People/Beatmap_Nominators/Rules/en.md
  wiki/People/Beatmap_Nominators/Rules/fr.md
  wiki/People/Beatmap_Nominators/Rules/ko.md
  wiki/People/Beatmap_Nominators/Rules/ru.md
Labels: type:update, size/M, area:community

#9561 Update ranking criteria in line with multiple recent proposals
  wiki/Ranking_criteria/en.md
  wiki/Ranking_criteria/osu!taiko/de.md
  wiki/Ranking_criteria/osu!taiko/en.md
  wiki/Ranking_criteria/osu!taiko/ko.md
  wiki/Ranking_criteria/osu!taiko/ru.md
  wiki/Ranking_criteria/osu!taiko/zh.md
  wiki/Ranking_criteria/zh.md
Labels: type:update, size/M, rule change, area:ranking criteria

#9564 Fix case of article links in `Main Page`
  wiki/Main_page/bg.md
  wiki/Main_page/cs.md
  wiki/Main_page/de.md
  wiki/Main_page/en.md
  wiki/Main_page/es.md
  wiki/Main_page/fr.md
  wiki/Main_page/id.md
  wiki/Main_page/it.md
  wiki/Main_page/ja.md
  wiki/Main_page/ko.md
  wiki/Main_page/pl.md
  wiki/Main_page/pt-br.md
  wiki/Main_page/ro.md
  wiki/Main_page/ru.md
  wiki/Main_page/th.md
  wiki/Main_page/tr.md
  wiki/Main_page/uk.md
  wiki/Main_page/vi.md
  wiki/Main_page/zh-tw.md
  wiki/Main_page/zh.md
Labels: size/M

#9504 [ES] Update `Client/Interface`
  wiki/Client/Interface/es.md
  wiki/Client/Interface/img/beatmap-filters-ES.jpg
  wiki/Client/Interface/img/beatmap-options-ES.jpg
  wiki/Client/Interface/img/extended-results-screen-ES.jpg
  wiki/Client/Interface/img/game-mode-selector-ES.jpg
  wiki/Client/Interface/img/game-modifiers-ES.jpg
  wiki/Client/Interface/img/gameplay-toolbox-ES.jpg
  wiki/Client/Interface/img/intro-screen-ES.jpg
  wiki/Client/Interface/img/leaderboards-ES.jpg
  wiki/Client/Interface/img/main-menu-ES.jpg
  wiki/Client/Interface/img/medal-unlock-ES.jpg
  wiki/Client/Interface/img/metadata-comparison-ES.jpg
  wiki/Client/Interface/img/multi-lobby-ES.jpg
  wiki/Client/Interface/img/play-menu-ES.jpg
  wiki/Client/Interface/img/results-catch-ES.jpg
  wiki/Client/Interface/img/results-mania-ES.jpg
  wiki/Client/Interface/img/results-osu-ES.jpg
  wiki/Client/Interface/img/results-taiko-ES.jpg
  wiki/Client/Interface/img/search-bar-ES.jpg
  wiki/Client/Interface/img/song-selection-ES.jpg
  wiki/Client/Interface/img/user-options-ES.jpg
Labels: area:translations, type:update, size/L, area:client

#9502 [ES] Add `Client/Options/Keyboard_bindings`
  wiki/Client/Options/Keyboard_bindings/es.md
Labels: area:translations, type:new article, size/L, area:client

#9501 [ES] Add `Client/Options`
  wiki/Client/Options/es.md
  wiki/Client/Options/img/audio-ES.png
  wiki/Client/Options/img/editor-ES.png
  wiki/Client/Options/img/gameplay-ES.png
  wiki/Client/Options/img/general-ES.png
  wiki/Client/Options/img/graphics-ES.png
  wiki/Client/Options/img/input-ES.png
  wiki/Client/Options/img/maintenance-ES.png
  wiki/Client/Options/img/online-ES.png
  wiki/Client/Options/img/options_basic-ES.jpg
  wiki/Client/Options/img/skin-ES.png
Labels: area:translations, type:new article, size/L, area:client

#9567 Update `CWC 2023` Grand Finals schedule
  wiki/Tournaments/CWC/2023/en.md
Labels: size/S

#9566 Add `osu!(lazer) Updates: June 21, 2023` news post
  news/2023/2023-06-22-osulazer-updates-june-21-2023.md
  wiki/shared/news/2023-06-22-osulazer-updates-june-21-2023/banner.jpg
  wiki/shared/news/2023-06-22-osulazer-updates-june-21-2023/banner@2x.jpg
Labels: area:news, type:new article, size/M

#9569 Fix changelog link in `osu!(lazer) Updates: June 21, 2023` news post
  news/2023/2023-06-22-osulazer-updates-june-21-2023.md
Labels: area:news, type:clean up, size/XS

#9572 Update `CWC 2023` schedules
  wiki/Tournaments/CWC/2023/en.md
Labels: type:update, area:tournaments, size/XS

#9574 Update `CWC 2023` links
  wiki/Tournaments/CWC/2023/en.md
Labels: size/S

#9578 Add New Featured Artist: passchooo news post
  news/2023/2023-06-24-new-featured-artist-passchooo.md
Labels: area:news, type:new article, size/M

#9579 Add passchooo to `Featured Artists` osu! user list
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/fr.md
Labels: type:update, size/XS, area:community

#9565 Credit designer of Taikonator 3000 in `Mascots`
  wiki/Mascots/de.md
  wiki/Mascots/en.md
  wiki/Mascots/es.md
  wiki/Mascots/fr.md
  wiki/Mascots/id.md
  wiki/Mascots/zh.md
Labels: type:update, size/M, area:community

#9582 Update `CWC 2023` with tournament results
  wiki/Tournaments/CWC/2023/en.md
  wiki/Tournaments/CWC/2023/img/cwc2023-badge-1st.png
  wiki/Tournaments/CWC/2023/img/cwc2023-badge-1st@2x.png
  wiki/Tournaments/CWC/2023/img/cwc2023-badge-2nd.png
  wiki/Tournaments/CWC/2023/img/cwc2023-badge-2nd@2x.png
  wiki/Tournaments/CWC/2023/img/cwc2023-badge-3rd.png
  wiki/Tournaments/CWC/2023/img/cwc2023-badge-3rd@2x.png
  wiki/Tournaments/CWC/2023/img/cwc2023-podium.jpg
  wiki/Tournaments/CWC/2023/img/cwc2023-podium@2x.jpg
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/zh.md
Labels: type:update, area:tournaments, size/M

#9584 Add `osu!monthly, March 2023` news post
  news/2023/2023-06-26-osumonthly-9.md
  wiki/shared/news/2023-06-26-osumonthly-9/banner.jpg
  wiki/shared/news/2023-06-26-osumonthly-9/banner@2x.jpg
Labels: area:news, type:new article, size/S

#9583 Update osu!monthly-related wiki pages
  wiki/Community/osu!monthly/en.md
  wiki/Community/osu!monthly/fr.md
  wiki/Community/osu!monthly/id.md
  wiki/People/de.md
  wiki/People/en.md
  wiki/People/es.md
  wiki/People/id.md
  wiki/People/osu!monthly_team/en.md
  wiki/People/osu!monthly_team/fr.md
  wiki/People/osu!monthly_team/id.md
  wiki/People/ru.md
  wiki/People/zh.md
Labels: type:update, size/M, area:community

#9585 Fix typo in `osu!monthly, March 2023` news post and `osu!monthly team`
  news/2023/2023-06-26-osumonthly-9.md
  wiki/People/osu!monthly_team/en.md
Labels: area:news, type:clean up, size/XS, area:community

#9587 Update `CWC 2023` podium image
  wiki/Tournaments/CWC/2023/img/cwc2023-podium.jpg
  wiki/Tournaments/CWC/2023/img/cwc2023-podium@2x.jpg
Labels: area:tournaments, type:clean up, size/XS

#9586 Update `osu! Indonesia Tournament #13 (2023)` to the Round of 16
  wiki/Tournaments/OIT/2023/en.md
Labels: type:update, area:tournaments, size/M

#9588 Add `osu! originals - osu!catch World Cup 2023` news post
  news/2023/2023-06-28-osu-originals-osu-catch-world-cup-2023.md
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: area:news, type:new article, size/L

#9589 Adjust wording slightly in `osu! originals - osu!catch World Cup 2023` news post
  news/2023/2023-06-28-osu-originals-osu-catch-world-cup-2023.md
Labels: area:news, type:clean up, size/XS

#9592 Document osu!tourney connection limit raises
  wiki/osu!_tournament_client/osu!tourney/Setup/de.md
  wiki/osu!_tournament_client/osu!tourney/Setup/en.md
  wiki/osu!_tournament_client/osu!tourney/Setup/fr.md
  wiki/osu!_tournament_client/osu!tourney/Setup/it.md
  wiki/osu!_tournament_client/osu!tourney/Setup/ru.md
Labels: type:update, size/M, area:client

#9541 [VI] Update `Help_centre/Account_restrictions`
  wiki/Help_centre/Account_restrictions/vi.md
Labels: area:translations, type:update, size/S

#9546 [VI] Update `osu!_wiki/Contribution_guide`
  wiki/osu!_wiki/Contribution_guide/vi.md
Labels: area:translations, type:update, size/L

#9548 [DE] Add `Tournaments/Badge-weighted seeding`
  wiki/Tournaments/Badge-weighted_seeding/de.md
Labels: area:translations, type:new article, size/M

#9539 [ZH] Add `Game_mode` and update `FAQ`
  wiki/FAQ/zh.md
  wiki/Game_mode/osu!/zh.md
  wiki/Game_mode/osu!catch/zh.md
  wiki/Game_mode/osu!mania/zh.md
  wiki/Game_mode/osu!taiko/zh.md
Labels: area:translations, type:update, type:new article, size/XXL

#9525 [KO] Add `Performance Points/Weighting System`
  wiki/Performance_points/Weighting_system/ko.md
Labels: area:translations, type:new article, size/S

#9523 [IT] Add `Announcement_messages`
  wiki/Announcement_messages/it.md
Labels: area:translations, type:new article, size/M

#9141 [ES] Update `BBCode`
  wiki/BBCode/es.md
  wiki/BBCode/img/editor-ES.png
  wiki/BBCode/img/font-size-ES.png
Labels: area:translations, type:update, size/XL

#9594 Update Mania Mapping Hub invite link and moderators
  wiki/Community/Discord_servers/osu!mania_Modding_&_Mapping_Hub/de.md
  wiki/Community/Discord_servers/osu!mania_Modding_&_Mapping_Hub/en.md
  wiki/Community/Discord_servers/osu!mania_Modding_&_Mapping_Hub/fr.md
  wiki/Community/Discord_servers/osu!mania_Modding_&_Mapping_Hub/sr.md
Labels: type:update, size/S, area:community

#9595 Update `Background`
  wiki/Beatmap/Background/en.md
  wiki/Beatmap/Background/fr.md
  wiki/Beatmap/Background/id.md
  wiki/Beatmap/Background/ru.md
  wiki/Beatmap/Background/zh-tw.md
  wiki/Beatmap/Background/zh.md
Labels: type:update, area:website, size/S, area:client

#9601 Add "Down - nanoya" and "Down - Realazy" to `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/S

#9573 Update `Staff log` and Staff Pages for April 2023 -> June 2023
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Beatmap_Nominators/es.md
  wiki/People/Beatmap_Nominators/fr.md
  wiki/People/Beatmap_Nominators/id.md
  wiki/People/Beatmap_Nominators/ko.md
  wiki/People/Beatmap_Nominators/pt-br.md
  wiki/People/Beatmap_Nominators/ru.md
  wiki/People/Beatmap_Nominators/th.md
  wiki/People/Beatmap_Nominators/tr.md
  wiki/People/Beatmap_Nominators/zh.md
  wiki/People/Beatmap_Spotlight_Curators/en.md
  wiki/People/Beatmap_Spotlight_Curators/es.md
  wiki/People/Beatmap_Spotlight_Curators/fr.md
  wiki/People/Beatmap_Spotlight_Curators/id.md
  wiki/People/Global_Moderation_Team/fr.md
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Nomination_Assessment_Team/es.md
  wiki/People/Nomination_Assessment_Team/fr.md
  wiki/People/Nomination_Assessment_Team/id.md
  wiki/People/Nomination_Assessment_Team/ko.md
  wiki/People/Nomination_Assessment_Team/pt-br.md
  wiki/People/Nomination_Assessment_Team/ru.md
  wiki/People/Nomination_Assessment_Team/th.md
  wiki/People/Nomination_Assessment_Team/tr.md
  wiki/People/Nomination_Assessment_Team/zh.md
  wiki/People/Staff_log/2023/en.md
  wiki/People/osu!_Alumni/de.md
  wiki/People/osu!_Alumni/en.md
  wiki/People/osu!_Alumni/es.md
  wiki/People/osu!_Alumni/fr.md
  wiki/People/osu!_Alumni/id.md
  wiki/People/osu!_Alumni/ja.md
  wiki/People/osu!_Alumni/ko.md
  wiki/People/osu!_Alumni/pl.md
  wiki/People/osu!_Alumni/pt-br.md
  wiki/People/osu!_Alumni/ru.md
  wiki/People/osu!_Alumni/tr.md
  wiki/People/osu!_Alumni/zh.md
Labels: type:update, size/XXL, area:community

#9606 Update staff listing for `MWC7K 2023`, `TWC 2023`, and `CWC 2023`
  wiki/Tournaments/CWC/2023/en.md
  wiki/Tournaments/OWC/2022/en.md
  wiki/Tournaments/TWC/2023/en.md
Labels: type:update, area:tournaments, size/XS

#9607 Fix `OWC 2022`, `MWC7K 2023` staff listings
  wiki/Tournaments/MWC/2023_7K/en.md
  wiki/Tournaments/OWC/2022/en.md
Labels: area:tournaments, type:clean up, size/XS
