Repository ppy/osu-wiki, pull requests merged in 2023-02, with the labels that each got.

#8742 Add Twin Trials contest article and news post
  news/2023/2023-02-01-twin-trials-contest-beatmapping-phase.md
  wiki/Contests/Twin_Trials_Contest/en.md
Labels: area:news, type:new article, size/L, area:community

#8743 Add new James Landino osu! originals
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/M

#8677 [RU] Update `Beatmap Nominators` and their `Rules`. Add `Beatmap Nominator Tiers`
  wiki/Modding/Beatmap_Nominator_Tiers/ru.md
  wiki/People/The_Team/Beatmap_Nominators/Rules/ru.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
Labels: area:translations, type:update, type:new article, size/M, area:community, area:modding

#8670 [RU] Update `osu! wiki/Maintenance`
  wiki/osu!_wiki/Maintenance/ru.md
Labels: area:translations, area:utilities, type:update, size/M

#8679 [RU] Add `Beatmap/Online offset`, `Beatmapping/Offset`, `Client/Options/Universal offset`, and `Local song offset`
  wiki/Beatmap/Online_offset/ru.md
  wiki/Beatmapping/Offset/ru.md
  wiki/Client/Options/Universal_offset/ru.md
  wiki/Glossary/Local_song_offset/ru.md
Labels: area:translations, type:new article, size/M, area:beatmapping, area:gameplay, area:client, area:modding

#8745 Fix wrong year in Twin Trials announcement news post
  news/2023/2023-02-01-twin-trials-contest-beatmapping-phase.md
  wiki/Contests/Twin_Trials_Contest/en.md
Labels: area:news, type:clean up, size/XS

#8748 Official Tournament Support Eligibility Changes
  wiki/Tournaments/Official_support/en.md
  wiki/Tournaments/Official_support/zh.md
Labels: type:update, area:tournaments, size/XS

#8749 Update `MWC 7K 2023` Semifinals schedule
  wiki/Tournaments/MWC/2023_7K/en.md
Labels: type:update, area:tournaments, size/S

#8659 [RU] Update `Becoming a Beatmap Nominator`
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/ru.md
Labels: area:translations, type:update, size/M, area:modding

#8735 Update unlock requirement for dedication medals
  wiki/Medals/de.md
  wiki/Medals/en.md
  wiki/Medals/es.md
  wiki/Medals/fr.md
  wiki/Medals/id.md
  wiki/Medals/ru.md
Labels: type:update, size/S, area:gameplay

#8750 [JA] Remove outdated mark in `Main_Page`
  wiki/Main_Page/ja.md
Labels: area:translations, type:clean up, area:website, size/XS

#8668 [IT] Add `BBCode`
  wiki/BBCode/it.md
Labels: area:translations, type:new article, area:website, size/L

#8751 Update last updated text in `Tournaments/Official support`
  wiki/Tournaments/Official_support/en.md
Labels: type:update, area:tournaments, size/XS

#8754 Update screening and eligibility requirements for `Official tournament support`
  wiki/Tournaments/Official_support/en.md
Labels: type:update, area:tournaments, size/S

#8756 Rephrase rule in Twin Trials articles
  news/2023/2023-02-01-twin-trials-contest-beatmapping-phase.md
  wiki/Contests/Twin_Trials_Contest/en.md
Labels: area:news, type:update, size/XS, area:community

#8746 [JA] Update `Rules`
  wiki/Rules/ja.md
Labels: area:translations, type:update, size/M

#8641 [RU] Add `Client/Beatmap editor/Test mode`, update `Client/Beatmap editor`
  wiki/Client/Beatmap_editor/Test_mode/ru.md
  wiki/Client/Beatmap_editor/ru.md
Labels: area:translations, type:update, type:new article, size/M, area:beatmapping, area:client

#8657 [RU] Add osu!-related `Gameplay/Hit object` articles
  wiki/Gameplay/Hit_object/Hit_circle/ru.md
  wiki/Gameplay/Hit_object/Slider/Reverse_slider/ru.md
  wiki/Gameplay/Hit_object/Slider/Slider_anchor/ru.md
  wiki/Gameplay/Hit_object/Slider/Slider_tick/ru.md
  wiki/Gameplay/Hit_object/Slider/Slider_velocity/ru.md
  wiki/Gameplay/Hit_object/Slider/Sliderbody/ru.md
  wiki/Gameplay/Hit_object/Slider/Sliderhead/ru.md
  wiki/Gameplay/Hit_object/Slider/Slidertail/ru.md
  wiki/Gameplay/Hit_object/Slider/ru.md
  wiki/Gameplay/Hit_object/Spinner/ru.md
Labels: area:translations, type:new article, size/L, area:gameplay

#8658 [RU] Add `Beatmapping` articles: `Active object`, `Beats per minute`, `Colourhaxing`, and `Combo`
  wiki/Beatmapping/Active_object/ru.md
  wiki/Beatmapping/Beats_per_minute/ru.md
  wiki/Beatmapping/Colourhaxing/ru.md
  wiki/Beatmapping/Combo/ru.md
Labels: area:translations, type:new article, size/M, area:beatmapping

#8761 Mark Clayton as inactive in wiki maintainers list
  wiki/People/osu!_wiki_maintainers/de.md
  wiki/People/osu!_wiki_maintainers/en.md
  wiki/People/osu!_wiki_maintainers/es.md
  wiki/People/osu!_wiki_maintainers/fr.md
  wiki/People/osu!_wiki_maintainers/id.md
  wiki/People/osu!_wiki_maintainers/ru.md
Labels: type:update, size/S, area:community

#8759 Add New Featured Artist: FRASER EDWARDS news post
  news/2023/2023-02-04-new-featured-artist-fraser-edwards.md
Labels: area:news, type:new article, size/M

#8720 [IT] Add `Medals`
  wiki/Medals/it.md
Labels: area:translations, type:new article, size/M

#8760 Fix formatting of "[Zeth]" link in Loved news post
  news/2023/2023-01-31-project-loved-january-2023.md
Labels: area:news, type:clean up, size/XS

#8752 Adjust supporter message for first-time givers
  wiki/osu!supporter/de.md
  wiki/osu!supporter/en.md
  wiki/osu!supporter/fr.md
  wiki/osu!supporter/id.md
  wiki/osu!supporter/it.md
  wiki/osu!supporter/nl.md
  wiki/osu!supporter/ru.md
  wiki/osu!supporter/zh.md
Labels: type:update, area:website, size/M

#8762 Add Mentorship Spring 2023 Signups news post
  news/2023/2023-02-06-p-community-mentorshiprogram-spring-2023-signups-now-open.md
Labels: area:news, type:new article, size/M

#8763 Bump osu-wiki-tools to version `1.1.2`
  scripts/requirements.txt
Labels: area:utilities, type:update, size/XS

#8764 Update `MWC 7k 2023` for the Finals weekend
  wiki/Tournaments/MWC/2023_7K/en.md
Labels: type:update, area:tournaments, size/M

#8765 Update `MWC 7K 2023` Finals mappool
  wiki/Tournaments/MWC/2023_7K/en.md
Labels: size/XS

#8766 Fix grammar in `Sudden Death`
  wiki/Gameplay/Game_modifier/Sudden_Death/en.md
Labels: type:update, size/XS, area:client

#8758 Add multiplayer and official contests to `Help centre/Account restrictions`
  wiki/Help_centre/Account_restrictions/en.md
Labels: type:update, size/XS, area:help centre

#8767 Add two brand new commissioned tracks from MWC 7K 2023 to `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: size/XS

#8769 Update `MWC 7K 2023` Finals mappool
  wiki/Tournaments/MWC/2023_7K/en.md
Labels: type:update, area:tournaments, size/XS

#8757 [ZH] Update `Legal/Privacy`
  wiki/Legal/Privacy/zh.md
Labels: area:translations, type:update, size/M, area:legal

#8770 Fix formatting on Mentorship news post
  news/2023/2023-02-06-p-community-mentorshiprogram-spring-2023-signups-now-open.md
Labels: size/XS

#8755 [DE] Update `Medals` and `Help centre/Account restrictions`
  wiki/Help_centre/Account_restrictions/de.md
  wiki/Medals/de.md
Labels: area:translations, type:update, size/S

#8731 [JA] Add Japanese translation of the copyright policy
  wiki/Legal/Copyright/ja.md
Labels: area:translations, size/M

#8775 Add New Featured Artist Track Updates: Liquicity news post
  news/2023/2023-02-08-featured-artist-track-updates-liquicity.md
Labels: area:news, type:new article, size/M

#8741 [IT] Updated `Community Contributors`
  wiki/People/Community_Contributors/it.md
Labels: area:translations, type:update, size/L, area:community

#8630 [VI] Update `BanchoBot`
  wiki/BanchoBot/vi.md
Labels: area:translations, area:utilities, type:clean up, size/XS

#8701 [ZH] Cleanup `Tapping_Style` and subpages
  wiki/Gameplay/Play_style/Alternating/zh.md
  wiki/Gameplay/Play_style/Double_tapping/zh.md
  wiki/Gameplay/Play_style/Drag/zh.md
  wiki/Gameplay/Play_style/Hover/zh.md
  wiki/Gameplay/Play_style/Hybrid/zh.md
  wiki/Gameplay/Play_style/Single-tapping/zh.md
  wiki/Gameplay/Play_style/Tapping_style/zh.md
  wiki/Gameplay/Play_style/Tapx/zh.md
Labels: area:translations, type:clean up, size/L, stale merge, area:gameplay

#8706 [IT] Add `Do you really want to ask peppy`
  wiki/Do_you_really_want_to_ask_peppy/it.md
Labels: area:translations, type:new article, size/S

#8616 [RU] Update `ASC/Formatting`, `ASC/Writing`, and `Brand identity guidelines`
  wiki/Article_styling_criteria/Formatting/ru.md
  wiki/Article_styling_criteria/Writing/ru.md
  wiki/Brand_identity_guidelines/ru.md
Labels: area:translations, type:update, size/L

#8637 [RU] Retranslate `Tournaments/OWC/2013`
  wiki/Tournaments/OWC/2013/ru.md
Labels: area:translations, type:rewrite, area:tournaments, size/XL

#8665 [RU] Add remaining `Disambiguation` pages: `Fail`, `Offset`, `Ouendan`, `Score`, `Timing`, `Snapping`
  wiki/Disambiguation/Fail/ru.md
  wiki/Disambiguation/Offset/ru.md
  wiki/Disambiguation/Ouendan/ru.md
  wiki/Disambiguation/Score/ru.md
  wiki/Disambiguation/Snapping/ru.md
  wiki/Disambiguation/Timing/ru.md
Labels: area:translations, type:new article, size/M, area:beatmapping, area:gameplay

#8638 [RU] Update `Client/Interface/Visual settings`
  wiki/Client/Interface/Visual_settings/ru.md
Labels: area:translations, type:rewrite, type:update, size/S, area:client

#8640 [RU] Update `Performance troubleshooting`
  wiki/Performance_troubleshooting/ru.md
Labels: area:translations, area:utilities, type:update, size/M

#8778 Fix links in January Loved news post
  news/2023/2023-01-31-project-loved-january-2023.md
Labels: area:news, type:clean up, size/XS

#8632 [ZH] Fix typo in `Modding/Kudosu`
  wiki/Modding/Kudosu/zh.md
Labels: area:translations, type:clean up, size/XS, area:modding

#8773 Add `Skin of the Year 2022: Voting Open` news post
  news/2023/2023-02-09-skin-of-the-year-2022.md
  wiki/shared/news/2023-02-09-Skin-of-the-Year-2022/SOTY-2022-banner.jpg
Labels: area:news, type:new article, size/S

#8771 [EN/ZH] Add `Yuyuko's Hidden Cup Season 2` and Update `tournaments`
  wiki/Tournaments/YHC/2/en.md
  wiki/Tournaments/YHC/2/img/badge.png
  wiki/Tournaments/YHC/2/img/banner.jpg
  wiki/Tournaments/YHC/2/img/bracket.png
  wiki/Tournaments/YHC/2/img/groups.png
  wiki/Tournaments/YHC/2/zh.md
  wiki/Tournaments/YHC/en.md
  wiki/Tournaments/YHC/zh.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
Labels: type:new article, area:tournaments, size/XL

#8780 Update `MWC 7K 2023` Finals schedule
  wiki/Tournaments/MWC/2023_7K/en.md
Labels: type:update, area:tournaments, size/XS

#8776 Add `osu!monthly January 2023` news post
  news/2023/2023-02-10-osumonthly-7.md
  wiki/shared/news/2023-02-10-osumonthly-7/banner.jpg
  wiki/shared/news/2023-02-10-osumonthly-7/banner@2x.jpg
  wiki/shared/news/2023-02-10-osumonthly-7/bosphorus-banner.jpg
  wiki/shared/news/2023-02-10-osumonthly-7/jan23-quiz.jpg
Labels: area:news, type:new article, size/L

#8782 Fix minor issues in January's osu!monthly post and update its wiki page
  news/2023/2023-02-10-osumonthly-7.md
  wiki/Community/osu!monthly/en.md
  wiki/Community/osu!monthly/fr.md
Labels: area:news, type:update, type:clean up, size/S, area:community

#8783 Fix video embed in January's osu!monthly post
  news/2023/2023-02-10-osumonthly-7.md
Labels: area:news, type:clean up, size/XS

#8784 Fix outdated section in January's osu!monthly post
  news/2023/2023-02-10-osumonthly-7.md
Labels: area:news, type:update, size/S

#8785 Fix incorrect headings in January's osu!monthly post
  news/2023/2023-02-10-osumonthly-7.md
Labels: area:news, type:clean up, size/S

#8781 Add Albionthegreat to `Tournament Committee`
  wiki/People/Tournament_Committee/de.md
  wiki/People/Tournament_Committee/en.md
  wiki/People/Tournament_Committee/es.md
  wiki/People/Tournament_Committee/fr.md
  wiki/People/Tournament_Committee/id.md
  wiki/People/Tournament_Committee/ru.md
  wiki/People/Tournament_Committee/zh-tw.md
  wiki/People/Tournament_Committee/zh.md
Labels: type:update, size/S, area:community

#8789 Add New Featured Artist: Cinamoro news post
  news/2023-02-11-new-featured-artist-cinamoro.md
Labels: area:news, type:new article, size/M

#8685 [ZH] Update `Tournaments`
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/zh.md
Labels: area:translations, type:update, area:tournaments, size/XL

#8740 [ES] Add `Changelog`
  wiki/Changelog/es.md
Labels: area:translations, type:new article, size/M

#8792 Update `osu! rankings history` for 2023
  wiki/History_of_osu!/Online_rankings/osu!/en.md
  wiki/History_of_osu!/Online_rankings/osu!/fr.md
  wiki/History_of_osu!/Online_rankings/osu!/id.md
Labels: type:update, size/S, area:community

#8793 Update `osu! originals` with links to song streaming
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/S

#8788 Add Community Choice 2022: Results news post
  news/2023/2023-02-12-community-choice-2022-results.md
  wiki/shared/news/2023-02-12-community-choice-2022-results/chad.jpg
  wiki/shared/news/2023-02-12-community-choice-2022-results/chad@2x.jpg
  wiki/shared/news/2023-02-12-community-choice-2022-results/eternal-white.jpg
  wiki/shared/news/2023-02-12-community-choice-2022-results/eternal-white@2x.jpg
  wiki/shared/news/2023-02-12-community-choice-2022-results/gyakkou.jpg
  wiki/shared/news/2023-02-12-community-choice-2022-results/gyakkou@2x.jpg
  wiki/shared/news/2023-02-12-community-choice-2022-results/heathens.jpg
  wiki/shared/news/2023-02-12-community-choice-2022-results/heathens@2x.jpg
  wiki/shared/news/2023-02-12-community-choice-2022-results/non-breath-oblige.jpg
  wiki/shared/news/2023-02-12-community-choice-2022-results/non-breath-oblige@2x.jpg
  wiki/shared/news/2023-02-12-community-choice-2022-results/reikou.jpg
  wiki/shared/news/2023-02-12-community-choice-2022-results/reikou@2x.jpg
  wiki/shared/news/2023-02-12-community-choice-2022-results/truth.jpg
  wiki/shared/news/2023-02-12-community-choice-2022-results/truth@2x.jpg
  wiki/shared/news/2023-02-12-community-choice-2022-results/villainvirus.jpg
  wiki/shared/news/2023-02-12-community-choice-2022-results/villainvirus@2x.jpg
Labels: area:news, type:new article, size/L

#8794 Fix Dumii's name in Community Choice 2022: Results news post
  news/2023/2023-02-12-community-choice-2022-results.md
Labels: area:news, type:clean up, size/XS

#8795 Minor formatting fixes in Community Choice 2022: Results news post
  news/2023/2023-02-12-community-choice-2022-results.md
Labels: size/XS

#8796 Move Cinamoro news post to correct folder + fix typo in CC2022 news post
  news/2023/2023-02-11-new-featured-artist-cinamoro.md
  news/2023/2023-02-12-community-choice-2022-results.md
Labels: area:news, type:clean up, size/XS

#8797 Update `MWC 7K 2023` for the Grand Finals stage
  wiki/Tournaments/MWC/2023_7K/en.md
Labels: type:update, area:tournaments, size/M

#8798 Update `osu! originals` with `MWC7K 2023` Grand Finals originals
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/XS

#8801 Update links / use direct links in `File_formats`
  wiki/Client/File_formats/Osr_(file_format)/en.md
  wiki/Client/File_formats/Osr_(file_format)/fr.md
  wiki/Client/File_formats/Osr_(file_format)/pt-br.md
  wiki/Client/File_formats/Osr_(file_format)/ru.md
  wiki/Client/File_formats/Osr_(file_format)/zh.md
  wiki/Client/File_formats/Osu_(file_format)/en.md
  wiki/Client/File_formats/Osu_(file_format)/pt-br.md
  wiki/Client/File_formats/Osu_(file_format)/zh.md
  wiki/Client/File_formats/de.md
  wiki/Client/File_formats/en.md
  wiki/Client/File_formats/fr.md
  wiki/Client/File_formats/id.md
  wiki/Client/File_formats/zh.md
Labels: type:clean up, size/M

#8804 Add `TWC 2023` wiki article
  wiki/Tournaments/TWC/2023/en.md
  wiki/Tournaments/TWC/2023/img/twc2023-banner.jpg
  wiki/Tournaments/TWC/2023/img/twc2023-banner@2x.jpg
  wiki/Tournaments/TWC/en.md
  wiki/Tournaments/TWC/fr.md
  wiki/Tournaments/TWC/id.md
  wiki/Tournaments/TWC/ru.md
  wiki/Tournaments/TWC/zh-tw.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/zh.md
Labels: type:new article, area:tournaments, size/L

#8806 Update MWC7K `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/M

#8805 Add osu! originals - osu!mania 7K World Cup 2023 news post
  news/2023/2023-02-15-featured-artist-updates-mwc7k.md
Labels: area:news, type:new article, size/M

#8811 Use fixed video in MWC7K 2023 osu! originals news post
  news/2023/2023-02-15-featured-artist-updates-mwc7k.md
Labels: area:news, type:clean up, size/XS

#8810 Add TWC 2023 - Registrations Now Open news post
  news/2023/2023-02-16-osu-taiko-world-cup-2023-registrations-now-open.md
  wiki/Tournaments/TWC/2023/en.md
Labels: area:news, type:new article, size/M

#8808 Mark Featured Artist `osu! originals` that have been added to the FA catalogue
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/M

#8812 Update `MWC 7K 2023` Grand Finals schedule
  wiki/Tournaments/MWC/2023_7K/en.md
Labels: type:update, area:tournaments, size/S

#8813 Add a few missing footnotes and other fixes in `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:clean up, size/M

#8787 Update `Local song offset`
  wiki/Glossary/Local_song_offset/en.md
  wiki/Glossary/Local_song_offset/fr.md
  wiki/Glossary/Local_song_offset/id.md
  wiki/Glossary/Local_song_offset/img/local-offset-notice.png
  wiki/Glossary/Local_song_offset/img/local-offset.jpg
  wiki/Glossary/Local_song_offset/ru.md
Labels: type:update, size/M, area:gameplay, area:client

#8815 Add original tracks from GST:LIVE 2022 to `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/S

#8817 Fix broken identifiers in news posts
  news/2020/2020-02-28-mappers-report-february.md
  news/2020/2020-04-11-mappers-report-march.md
  news/2020/2020-05-11-mappers-report-april.md
  news/2020/2020-07-02-mappers-report-may-june.md
  news/2020/2020-08-09-mappers-report-july.md
  news/2020/2020-09-08-mappers-report-august.md
  news/2020/2020-12-31-mappers-report-fall.md
  news/2021/2021-02-01-mappers-report-january.md
  news/2021/2021-03-05-mappers-report-february.md
  news/2021/2021-04-06-mappers-report-march.md
  news/2021/2021-05-13-mappers-report-april.md
  news/2021/2021-06-20-mappers-report-may.md
  news/2022/2022-12-08-mappers-choice-awards.md
Labels: area:news, type:clean up, size/M

#8816 Add Community Contributors 2022: Elite Nominators news post
  news/2023/2023-02-17-community-contributors-elite-nominators-2022.md
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/Akasha-.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/Akasha-@2x.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/FuJu.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/FuJu@2x.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/Hivie.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/Hivie@2x.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/Maxus.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/Maxus@2x.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/Mirash.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/Mirash@2x.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/Ryuusei-Aika.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/Ryuusei-Aika@2x.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/SMOKELIND.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/SMOKELIND@2x.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/Secre.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/Secre@2x.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/fieryrage.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/fieryrage@2x.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/gzdongsheng.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/gzdongsheng@2x.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/header.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/header@2x.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/meiqth.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/meiqth@2x.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/moonpoint.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/moonpoint@2x.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/secXcscX.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/secXcscX@2x.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/zerokt.jpg
  wiki/shared/news/2023-02-17-community-contributors-elite-nominators-2022/zerokt@2x.jpg
Labels: area:news, type:new article, size/L

#8819 Add New Featured Artist: yaseta news post
  news/2023/2023-02-18-new-featured-artist-yaseta.md
Labels: area:news, type:new article, size/M

#8821 Update `MWC7K 2023` with tournament results
  wiki/Tournaments/MWC/2023_7K/en.md
  wiki/Tournaments/MWC/2023_7K/img/podium.jpg
  wiki/Tournaments/MWC/2023_7K/img/podium@2x.jpg
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/zh.md
Labels: size/M

#8825 Update `osu! Amateur Solo Indonesia Showdown` to Quarterfinals
  wiki/Tournaments/oASIS/1/en.md
Labels: type:update, area:tournaments, size/M

#8774 [ID] Update `Rules/Explicit Content` and `Rules/Song Content Rules`
  wiki/Rules/Explicit_Content/id.md
  wiki/Rules/Song_Content_Rules/id.md
Labels: area:translations, type:update, size/S, stale merge

#8823 Update `People/Users with unique titles`
  wiki/People/Users_with_unique_titles/de.md
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/es.md
  wiki/People/Users_with_unique_titles/id.md
Labels: type:update, size/M, area:community

#8802 [IT] Update `The Team`
  wiki/People/The_Team/it.md
Labels: type:update, size/L, stale merge, area:community

#8739 [ES] Change the name of full BN to something more understandable
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/es.md
  wiki/People/The_Team/Nomination_Assessment_Team/Evaluations/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/Evaluations/fr.md
  wiki/osu!_wiki/Maintenance/es.md
Labels: area:translations, type:update, size/S

#8744 [ES] Update `osu! originals`
  wiki/osu!_originals/es.md
Labels: area:translations, type:update, size/M

#8820 [ES] Update `Game_modifier`
  wiki/Gameplay/Game_modifier/es.md
Labels: size/S

#8753 [ES] Update `Gameplay/Grade`
  wiki/Gameplay/Accuracy/es.md
  wiki/Gameplay/Grade/es.md
Labels: area:translations, type:update, size/M

#8814 [ES] Update `Medals`
  wiki/Medals/es.md
  wiki/People/es.md
Labels: size/M

#8827 Fix Zeus-'s name in `Staff Log/2022`
  wiki/People/The_Team/Staff_Log/2022/en.md
Labels: type:clean up, size/XS

#8818 [KO] Add `Twitter`
  wiki/Twitter/ko.md
Labels: size/S

#8790 Add lazer article stub
  wiki/Client/Release_stream/Lazer/en.md
  wiki/Client/Release_stream/Lazer/img/lazer.png
  wiki/Client/de.md
  wiki/Client/en.md
  wiki/Client/fr.md
Labels: type:new article, size/M, area:client

#8839 Fix lazer logo image link in `Release stream/Lazer` and add `Release stream` stub
  wiki/Client/Release_stream/Lazer/en.md
  wiki/Client/Release_stream/en.md
Labels: type:new article, type:clean up, size/S, area:client

#8840 Add missing link to `AESS1` tournament article in tournament index
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/zh.md
Labels: area:tournaments, type:clean up, size/XS

#8841 Add Loved requirements to `Project Loved`
  wiki/Community/Project_Loved/en.md
  wiki/Community/Project_Loved/fr.md
  wiki/Community/Project_Loved/ru.md
Labels: type:update, size/M, area:community

#8842 Add `Project Loved: February 2023` news post
  news/2023/2023-02-24-project-loved-february-2023.md
  wiki/shared/news/2023-02-24-project-loved-february-2023/1117765.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1117765@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1135511.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1135511@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1182680.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1182680@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1192060.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1192060@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1286476.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1286476@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1287168.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1287168@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1335647.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1335647@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1419080.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1419080@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1489038.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1489038@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1508391.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1508391@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1589180.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1589180@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1670387.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1670387@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/16831.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/16831@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1709923.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1709923@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1838778.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1838778@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/188879.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/188879@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1916150.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/1916150@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/227711.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/227711@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/448197.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/448197@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/577770.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/577770@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/779226.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/779226@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/801653.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/801653@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/844655.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/844655@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/910058.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/910058@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/948158.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/948158@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/955075.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/955075@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/970662.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/970662@2x.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/974134.jpg
  wiki/shared/news/2023-02-24-project-loved-february-2023/974134@2x.jpg
Labels: area:news, type:new article, size/L

#8846 Fix typo in `Project Loved`
  wiki/Community/Project_Loved/en.md
Labels: type:clean up, size/XS, area:community

#8851 Update `MWC 7K 2023` images
  wiki/Tournaments/MWC/2023_7K/en.md
  wiki/Tournaments/MWC/2023_7K/img/badge-1st.png
  wiki/Tournaments/MWC/2023_7K/img/badge-1st@2x.png
  wiki/Tournaments/MWC/2023_7K/img/badge-2nd.png
  wiki/Tournaments/MWC/2023_7K/img/badge-2nd@2x.png
  wiki/Tournaments/MWC/2023_7K/img/badge-3rd.png
  wiki/Tournaments/MWC/2023_7K/img/badge-3rd@2x.png
  wiki/Tournaments/MWC/2023_7K/img/podium.jpg
  wiki/Tournaments/MWC/2023_7K/img/podium@2x.jpg
Labels: size/XS

#8852 Update `MWC 7K 2023` podium image cache
  wiki/Tournaments/MWC/2023_7K/en.md
Labels: area:tournaments, type:clean up, size/XS

#8845 Expand `osu!monthly team` listing
  wiki/People/osu!monthly_team/en.md
  wiki/People/osu!monthly_team/fr.md
Labels: type:update, size/XS, area:community

#8853 Add New Featured Artist: True North news post
  news/2023/2023-02-25-new-featured-artist-true-north.md
Labels: area:news, type:new article, size/M

#8849 Add `[c]` tag description to `BBCode`
  wiki/BBCode/de.md
  wiki/BBCode/en.md
  wiki/BBCode/fr.md
  wiki/BBCode/it.md
  wiki/BBCode/ja.md
  wiki/BBCode/ru.md
  wiki/BBCode/uk.md
Labels: type:update, area:website, size/M

#8860 Update `osu! Amateur Solo Indonesia Showdown` to Semifinals
  wiki/Tournaments/oASIS/1/en.md
Labels: type:update, area:tournaments, size/M

#8859 RC mania modes change : adding rules regarding N+1 style keymodes
  wiki/Ranking_Criteria/fr.md
  wiki/Ranking_Criteria/id.md
  wiki/Ranking_Criteria/osu!mania/de.md
  wiki/Ranking_Criteria/osu!mania/en.md
  wiki/Ranking_Criteria/osu!mania/es.md
  wiki/Ranking_Criteria/osu!mania/fr.md
  wiki/Ranking_Criteria/osu!mania/id.md
  wiki/Ranking_Criteria/osu!mania/ru.md
  wiki/Ranking_Criteria/osu!mania/zh.md
  wiki/Ranking_Criteria/ru.md
  wiki/Ranking_Criteria/zh.md
Labels: type:update, size/M, rule change, area:ranking criteria

#8791 Add lazer feature comparison article
  wiki/Client/Release_stream/Lazer/Feature_comparison/en.md
  wiki/Client/Release_stream/Lazer/Feature_comparison/img/aspire-slider.gif
  wiki/Client/Release_stream/Lazer/Feature_comparison/img/moving-slider-head.gif
  wiki/Client/Release_stream/Lazer/Feature_comparison/img/notelock.gif
  wiki/Client/Release_stream/Lazer/Feature_comparison/img/sb-bg-fill-mode.jpg
  wiki/Client/Release_stream/Lazer/Feature_comparison/img/sb-crop.jpg
  wiki/Client/Release_stream/Lazer/Feature_comparison/img/sb-triggers.gif
  wiki/Client/Release_stream/Lazer/Feature_comparison/img/slideracc.gif
Labels: type:new article, size/L, area:client

#8862 Revert incorrect `outdated_since` commit hash change
  wiki/Ranking_Criteria/ru.md
Labels: type:clean up, size/XS
