Repository ppy/osu-wiki, pull requests merged in 2023-05, with the labels that each got.

#9269 Add Journey into a Beatmap World Art Contest: Results news post
  news/2023/2023-05-01-journey-into-a-beatmap-world-contest-results.md
Labels: area:news, type:new article, size/L

#9272 Update `CWC 2023` team listing
  wiki/Tournaments/CWC/2023/en.md
Labels: type:update, area:tournaments, size/S

#9233 Add osu!catch ranking criteria spinner trap guideline
  wiki/Gameplay/Spinner_trap/en.md
  wiki/Gameplay/de.md
  wiki/Gameplay/en.md
  wiki/Gameplay/fr.md
  wiki/Gameplay/id.md
  wiki/Ranking_Criteria/osu!catch/en.md
  wiki/Ranking_Criteria/osu!catch/fr.md
  wiki/Ranking_Criteria/osu!catch/id.md
  wiki/Ranking_Criteria/osu!catch/ru.md
  wiki/Ranking_Criteria/osu!catch/zh.md
Labels: type:update, type:new article, size/M, rule change, area:ranking criteria

#9275 Update `CWC 2023` team listing
  wiki/Tournaments/CWC/2023/en.md
Labels: type:update, area:tournaments, size/S

#9274 Fix wrong year in `Beatmap_Spotlights/Seasons/2023_Spring`
  wiki/Beatmap_Spotlights/Seasons/2023_Spring/en.md
Labels: type:clean up, size/XS, area:community

#9262 Fix grammar and styling in `Storyboard/Scripting/Variables`
  wiki/Storyboard/Scripting/Variables/en.md
  wiki/Storyboard/Scripting/Variables/fr.md
  wiki/Storyboard/Scripting/Variables/ja.md
  wiki/Storyboard/Scripting/Variables/pt-br.md
  wiki/Storyboard/Scripting/Variables/zh.md
Labels: type:clean up, size/M, area:storyboarding

#9276 Fix incorrect link in `User group`
  wiki/People/User_group/de.md
  wiki/People/User_group/en.md
  wiki/People/User_group/es.md
Labels: type:clean up, size/XS, area:community

#9235 Add `Vocaloid Mapping Contest` news post and wiki article
  news/2023/2023-05-03-vocaloid-mapping-contest.md
  wiki/Contests/VMC/1/en.md
  wiki/Contests/VMC/1/img/banner.jpg
  wiki/Contests/VMC/1/img/banner@2x.jpg
  wiki/Contests/VMC/en.md
Labels: area:news, type:new article, size/L, area:community

#9148 [SR] Add `Community/Discord servers`
  wiki/Community/Discord_servers/osu!_Medal_Hunters/sr.md
  wiki/Community/Discord_servers/osu!_University/sr.md
  wiki/Community/Discord_servers/osu!catch_Modding_&_Mapping_Hub/sr.md
  wiki/Community/Discord_servers/osu!mania_Modding_&_Mapping_Hub/sr.md
  wiki/Community/Discord_servers/osu!taiko_Modding_&_Mapping_Hub/sr.md
  wiki/Community/Discord_servers/sr.md
Labels: area:translations, type:new article, size/L, area:community

#9287 Fix incorrect song info in VMC news post and article
  news/2023/2023-05-03-vocaloid-mapping-contest.md
  wiki/Contests/VMC/1/en.md
Labels: area:news, type:clean up, size/XS, area:community

#9288 Update `TWC 2023`, `CWC 2023`
  wiki/Tournaments/CWC/2023/en.md
  wiki/Tournaments/TWC/2023/en.md
Labels: type:update, area:tournaments, size/XS

#9266 Update `Ranking criteria`
  wiki/Beatmap/Song_compilation/en.md
  wiki/Beatmap/Song_compilation/es.md
  wiki/Beatmap/Song_compilation/fr.md
  wiki/Beatmap/Song_compilation/id.md
  wiki/Beatmap/Song_compilation/ja.md
  wiki/Ranking_Criteria/en.md
  wiki/Ranking_Criteria/zh.md
Labels: type:update, size/S, rule change, area:ranking criteria

#9284 Mark TWC 2023 originals as featured in FA catalogue in `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/S

#9293 Fix formatting error in `Ranking criteria`
  wiki/Ranking_Criteria/en.md
Labels: type:clean up, size/XS, area:ranking criteria

#9295 Update `CWC 2023` team listing
  wiki/Tournaments/CWC/2023/en.md
Labels: type:update, area:tournaments, size/S

#9050 [FR] Add `Client/Release stream/Lazer/Feature comparison`
  wiki/Client/Release_stream/Lazer/Feature_comparison/fr.md
Labels: area:translations, type:new article, size/L

#9225 [KO] Update `Main Page`
  wiki/Main_Page/ko.md
Labels: area:translations, type:update, size/M

#9248 [ZH] Update `Account restrictions`
  wiki/Help_centre/Account_restrictions/zh.md
Labels: area:translations, type:update, size/S, area:help centre

#9254 [ZH] Update `Performance troubleshooting`
  wiki/Performance_troubleshooting/zh.md
Labels: area:translations, type:update, size/M

#9261 [DE] Update `Storyboard/Scripting`
  wiki/Storyboard/Scripting/de.md
Labels: area:translations, type:update, size/M, area:storyboarding

#9265 [DE] Update `Beatmap/Play time`
  wiki/Beatmap/Play_time/de.md
Labels: area:translations, type:update, size/XS, area:beatmapping

#9271 Update links pointing to `User_group`
  wiki/Beatmap/Genre_and_language/en.md
  wiki/Beatmap/Genre_and_language/es.md
  wiki/Beatmap/Genre_and_language/fr.md
  wiki/Beatmap/Genre_and_language/id.md
  wiki/Beatmap/Genre_and_language/ja.md
  wiki/Beatmap/Genre_and_language/ru.md
  wiki/Beatmap/Genre_and_language/zh.md
  wiki/Community/Forum/de.md
  wiki/Community/Forum/en.md
  wiki/Community/Forum/fr.md
  wiki/Community/Forum/id.md
  wiki/Community/Forum/ru.md
  wiki/Community/User_title/de.md
  wiki/Community/User_title/en.md
  wiki/Community/User_title/fr.md
  wiki/People/Users_with_unique_titles/de.md
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/es.md
Labels: type:clean up, size/M

#9263 Update button images and add button image for `imagemap` tag in `BBCode`
  wiki/BBCode/de.md
  wiki/BBCode/en.md
  wiki/BBCode/id.md
  wiki/BBCode/img/bold.png
  wiki/BBCode/img/editor.jpg
  wiki/BBCode/img/heading.png
  wiki/BBCode/img/image.png
  wiki/BBCode/img/imagemap.png
  wiki/BBCode/img/italic.png
  wiki/BBCode/img/list-numbered.png
  wiki/BBCode/img/list.png
  wiki/BBCode/img/quotereply.png
  wiki/BBCode/img/spoilerbox.png
  wiki/BBCode/img/strike.png
  wiki/BBCode/img/url.png
Labels: type:update, area:website, size/XS

#9277 [ZH] Update osu!catch RC and add `Spinner trap`
  wiki/Gameplay/Spinner_trap/zh.md
  wiki/Ranking_Criteria/osu!catch/zh.md
Labels: size/M

#9278 [ZH] Update `Variables`
  wiki/Storyboard/Scripting/Variables/zh.md
Labels: area:translations, type:update, size/S, area:storyboarding

#9279 [ZH] Add `Bubble` and `Proto-bubble`
  wiki/Modding/Bubble/zh.md
  wiki/Modding/Proto-bubble/zh.md
Labels: area:translations, type:update, size/M, area:modding

#9281 [ZH] Update `Contribution guide/Best practices`
  wiki/osu!_wiki/Contribution_guide/Best_practices/zh.md
Labels: area:translations, area:utilities, type:update, size/L

#9283 [ZH] Add `Nuke`
  wiki/Modding/Nuke/zh.md
Labels: size/S

#9296 [KO] Fix punctuation in `Main Page`
  wiki/Main_Page/ko.md
Labels: area:translations, type:clean up, area:website, size/XS

#9298 Update `CWC 2023` team listing
  wiki/Tournaments/CWC/2023/en.md
Labels: type:update, area:tournaments, size/XS

#9301 Fix jury count in `Beatmap_Veto`, update `Scaling_BPM` with correct guideline
  wiki/People/Beatmap_Nominators/Beatmap_Veto/en.md
  wiki/Ranking_Criteria/Scaling_BPM/en.md
  wiki/Ranking_Criteria/Scaling_BPM/fr.md
  wiki/Ranking_Criteria/Scaling_BPM/id.md
  wiki/Ranking_Criteria/Scaling_BPM/ja.md
  wiki/Ranking_Criteria/Scaling_BPM/ru.md
  wiki/Ranking_Criteria/Scaling_BPM/zh.md
Labels: type:update, size/S, area:ranking criteria, area:modding

#9302 Update `CWC 2023` team listing
  wiki/Tournaments/CWC/2023/en.md
Labels: type:update, area:tournaments, size/XS

#9280 Clean up `Menu`
  wiki/Client/Beatmap_editor/Menu/de.md
  wiki/Client/Beatmap_editor/Menu/en.md
  wiki/Client/Beatmap_editor/Menu/fr.md
Labels: type:update, size/S, area:client

#9299 [ZH] Update `Ranking Criteria`
  wiki/Ranking_Criteria/zh.md
Labels: area:translations, type:update, size/S, area:ranking criteria

#9304 Add New Featured Artist: Genkaku Aria news post
  news/2023/2023-05-06-new-featured-artist-genkaku-aria.md
Labels: area:news, type:new article, size/M

#9305 Fix wrong cover in `New Featured Artist: Genkaku Aria` news post
  news/2023/2023-05-06-new-featured-artist-genkaku-aria.md
Labels: area:news, type:clean up, size/XS

#9089 [ES] Add `Announcement_messages`
  wiki/Announcement_messages/es.md
Labels: area:translations, type:new article, size/M

#9172 [ID] Cleanup/Retranslate `osu!mapping`
  wiki/Community/Video_series/osu!mapping/id.md
Labels: area:translations, type:update, size/S

#9206 [DE] Update `Help centre/Account restrictions`, `Community/osu! Discord server` and `Tournaments/Official support`
  wiki/Community/osu!_Discord_server/de.md
  wiki/Help_centre/Account_restrictions/de.md
  wiki/Tournaments/Official_support/de.md
Labels: area:translations, type:update, size/M

#9306 [DE] Update `Offset/Online offset`
  wiki/Offset/Online_offset/de.md
Labels: area:translations, type:update, size/S

#9290 [ZH] Add `Lazer/Feature comparison`
  wiki/Client/Release_stream/Lazer/Feature_comparison/zh.md
Labels: area:translations, type:new article, size/L, area:client

#9303 [ZH] Add `Guides/OpenGL Support Issues`
  wiki/Guides/OpenGL_Support_Issues/img/devicemanager-ZH.png
  wiki/Guides/OpenGL_Support_Issues/zh.md
Labels: area:translations, type:new article, size/M

#9311 Update `CWC 2023` for the Qualifer stage
  wiki/Tournaments/CWC/2023/en.md
Labels: type:update, area:tournaments, size/M

#9312 Add "GTS Orchestra Team - Akatsuki - Tokoyami no Yoru ga Aketa Toki -" to `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/S

#9314 Update `CWC 2023` links, staff listing
  wiki/Tournaments/CWC/2023/en.md
Labels: type:update, area:tournaments, size/XS

#9321 Fix flag syntax error in `CWC 2023` tournament article
  wiki/Tournaments/CWC/2023/en.md
Labels: area:tournaments, type:clean up, size/XS

#9322 Update `CWC 2023` links
  wiki/Tournaments/CWC/2023/en.md
Labels: type:update, area:tournaments, size/XS

#9310 Change instances of `osu!dev` to `osu!`, fix broken links and add missing redirect
  wiki/Community/osu!_Talk_Event/Overcoming_Obstacles/en.md
  wiki/Community/osu!_Talk_Event/Overcoming_Obstacles/fr.md
  wiki/Community/osu!_Talk_Event/Overcoming_Obstacles/id.md
  wiki/Community/osu!_Talk_Event/de.md
  wiki/Community/osu!_Talk_Event/en.md
  wiki/Community/osu!_Talk_Event/fr.md
  wiki/Community/osu!_Talk_Event/id.md
  wiki/Community/osu!monthly/en.md
  wiki/Community/osu!monthly/fr.md
  wiki/Community/osu!monthly/id.md
  wiki/History_of_osu!/Mapping_and_Modding_Timeline/en.md
  wiki/History_of_osu!/Mapping_and_Modding_Timeline/fr.md
  wiki/History_of_osu!/Mapping_and_Modding_Timeline/id.md
  wiki/People/Nomination_Assessment_Team/NAT_meetings/en.md
  wiki/People/Nomination_Assessment_Team/NAT_meetings/fr.md
  wiki/People/Nomination_Assessment_Team/NAT_meetings/id.md
  wiki/People/Nomination_Assessment_Team/NAT_meetings/tr.md
  wiki/People/osu!_wiki_maintainers/de.md
  wiki/People/osu!_wiki_maintainers/en.md
  wiki/People/osu!_wiki_maintainers/es.md
  wiki/People/osu!_wiki_maintainers/fr.md
  wiki/People/osu!_wiki_maintainers/id.md
  wiki/People/osu!_wiki_maintainers/ko.md
  wiki/People/osu!_wiki_maintainers/ru.md
  wiki/People/osu!_wiki_maintainers/zh-tw.md
  wiki/Performance_points/ppv2/en.md
  wiki/Performance_points/ppv2/fr.md
  wiki/Performance_points/ppv2/th.md
  wiki/Performance_points/ppv2/zh-tw.md
  wiki/Performance_points/ppv2/zh.md
  wiki/osu!_wiki/Contribution_guide/de.md
  wiki/osu!_wiki/Contribution_guide/en.md
  wiki/osu!_wiki/Contribution_guide/fr.md
  wiki/osu!_wiki/Contribution_guide/ko.md
  wiki/osu!_wiki/Contribution_guide/ru.md
  wiki/osu!_wiki/Contribution_guide/th.md
  wiki/osu!_wiki/Contribution_guide/zh.md
  wiki/osu!_wiki/Maintenance/de.md
  wiki/osu!_wiki/Maintenance/en.md
  wiki/osu!_wiki/Maintenance/es.md
  wiki/osu!_wiki/Maintenance/fr.md
  wiki/osu!_wiki/Maintenance/id.md
  wiki/osu!_wiki/Maintenance/ru.md
  wiki/osu!_wiki/de.md
  wiki/osu!_wiki/en.md
  wiki/osu!_wiki/fr.md
  wiki/osu!_wiki/id.md
  wiki/osu!_wiki/pt-br.md
  wiki/osu!_wiki/ru.md
  wiki/osu!_wiki/uk.md
  wiki/redirect.yaml
Labels: type:clean up, size/L

#9333 Fix mania mapping guide claiming 5K maps can use special style
  wiki/Guides/osu!mania_Mapping_Guide/en.md
  wiki/Guides/osu!mania_Mapping_Guide/fr.md
Labels: type:clean up, size/XS, area:beatmapping

#9334 Update `CWC 2023` staff listing
  wiki/Tournaments/CWC/2023/en.md
Labels: type:update, area:tournaments, size/XS

#9339 Add Skinning Contest: Icons of an Era wiki page
  wiki/Contests/Skinning_Contest/4/en.md
  wiki/Contests/Skinning_Contest/4/img/banner.jpg
  wiki/Contests/Skinning_Contest/en.md
  wiki/Contests/Skinning_Contest/fr.md
Labels: type:new article, size/M, area:community

#9335 Add `Skinning Contest: Icons of an Era` news post
  news/2023/2023-05-10-skinning-contest-icons-of-an-era.md
Labels: area:news, type:new article, size/M

#9343 Fix incorrect contest name in `Skinning Contest: Icons of an Era` wiki page
  wiki/Contests/Skinning_Contest/4/en.md
Labels: type:clean up, size/XS, area:community

#9270 [FR] Update `Offset` `Local_offset` `Online_offset` `Universal_offset`
  wiki/Offset/Local_offset/fr.md
  wiki/Offset/Online_offset/fr.md
  wiki/Offset/Universal_offset/fr.md
  wiki/Offset/fr.md
Labels: area:translations, type:update, size/L

#9338 Add missing table header in `Client/Interface/Multiplayer`
  wiki/Client/Interface/Multiplayer/en.md
  wiki/Client/Interface/Multiplayer/fr.md
Labels: type:clean up, size/XS, area:client

#9291 [FR] Update `Community/osu! Discord server`
  wiki/Community/osu!_Discord_server/fr.md
Labels: area:translations, type:update, size/M, area:community

#9328 [KO] Update `Beatmap/Play time`
  wiki/Beatmap/Play_time/ko.md
Labels: area:translations, type:update, size/XS, area:gameplay

#9309 [DE] Fix grammar and styling issues in various articles
  wiki/Community/Internet_Relay_Chat/de.md
  wiki/Help_centre/Account/de.md
  wiki/History_of_osu!/April_Fools/de.md
  wiki/Modding/Kudosu/de.md
Labels: area:translations, type:clean up, size/S

#9307 [DE] Update `Offset/Local offset`
  wiki/Offset/Local_offset/de.md
Labels: area:translations, type:update, size/S, area:gameplay

#9326 [ZH] Add `Gameplay/Mind block`
  wiki/Gameplay/Mind_block/zh.md
Labels: area:translations, type:new article, size/S, area:gameplay

#9122 [ES] Update `Help centre/Account restrictions`
  wiki/Help_centre/Account_restrictions/es.md
Labels: area:translations, type:update, size/L, area:help centre

#9332 Update `GST:LIVE 22`
  wiki/Tournaments/GSTLIVE/22/en.md
Labels: type:update, area:tournaments, size/L

#9037 [ZH] Add `AiMod`, `Beat Snap`, `Beap Snap Divisor` and `Song Setup` in `Client/Beatmap_editor`
  wiki/Client/Beatmap_editor/AiMod/img/AiMod-ZH.png
  wiki/Client/Beatmap_editor/AiMod/zh.md
  wiki/Client/Beatmap_editor/Beat_Snap/zh.md
  wiki/Client/Beatmap_editor/Beat_Snap_Divisor/zh.md
  wiki/Client/Beatmap_editor/Song_Setup/zh.md
Labels: area:translations, type:update, type:new article, size/XL, area:beatmapping, area:client

#9329 [ZH] Add `Beatmap editor/Menu`
  wiki/Client/Beatmap_editor/Menu/img/M_Compose-ZH.png
  wiki/Client/Beatmap_editor/Menu/img/M_Design-ZH.png
  wiki/Client/Beatmap_editor/Menu/img/M_Edit-ZH.png
  wiki/Client/Beatmap_editor/Menu/img/M_File-ZH.png
  wiki/Client/Beatmap_editor/Menu/img/M_Help-ZH.png
  wiki/Client/Beatmap_editor/Menu/img/M_Timing-ZH.png
  wiki/Client/Beatmap_editor/Menu/img/M_View-ZH.png
  wiki/Client/Beatmap_editor/Menu/img/M_Web-ZH.png
  wiki/Client/Beatmap_editor/Menu/zh.md
Labels: area:translations, type:new article, size/L, area:client

#9324 [ZH] Add `Notelock`
  wiki/Gameplay/Judgement/Notelock/zh.md
Labels: area:translations, type:new article, size/M, area:gameplay

#9111 [ES] Translation update `People/osu! team`
  wiki/People/osu!_team/es.md
Labels: area:translations, type:update, size/S

#9221 [ES] Add `History of osu!/2016`
  wiki/History_of_osu!/2016/es.md
Labels: area:translations, type:new article, size/L, stale merge, area:community

#9220 [ES] Add `History_of_osu!/2015`
  wiki/History_of_osu!/2015/es.md
Labels: area:translations, type:new article, size/L, stale merge, area:community

#9219 [ES] Add `History of osu!/2014`
  wiki/History_of_osu!/2014/es.md
Labels: area:translations, type:new article, size/M, stale merge, area:community

#9213 [ES] Update `History of osu!/2007`
  wiki/History_of_osu!/2007/es.md
Labels: area:translations, type:update, size/M, stale merge, area:community

#9217 [ES] Add `History of osu!/2012`
  wiki/History_of_osu!/2012/es.md
Labels: area:translations, type:new article, size/L, stale merge, area:community

#9216 [ES] Add `History of osu!/2011`
  wiki/History_of_osu!/2011/es.md
Labels: area:translations, type:new article, size/S, stale merge, area:community

#9215 [ES] Add `History of osu!/2010`
  wiki/History_of_osu!/2010/es.md
Labels: area:translations, type:new article, size/XS, area:community

#9214 [ES] Add `History of osu!/2008`
  wiki/History_of_osu!/2008/es.md
Labels: area:translations, type:new article, size/M, stale merge, area:community

#9344 [ES] Remove a "!" in `osu! team`
  wiki/People/osu!_team/es.md
Labels: area:translations, type:clean up, size/XS

#9346 Update the combo break threshold in `Gameplay/Judgement/Combobreak`
  wiki/Gameplay/Judgement/Combobreak/en.md
  wiki/Gameplay/Judgement/Combobreak/fr.md
  wiki/Gameplay/Judgement/Combobreak/id.md
  wiki/Gameplay/Judgement/Combobreak/ru.md
Labels: type:clean up, size/XS, area:gameplay

#9340 Cleanup `Client/Options`
  wiki/Client/Options/de.md
  wiki/Client/Options/en.md
  wiki/Client/Options/fr.md
Labels: type:clean up, size/S, area:client

#9347 Remove false information from `Gameplay/Game modifier/Mod multiplier`
  wiki/Gameplay/Game_modifier/Mod_multiplier/en.md
Labels: type:clean up, size/XS, area:gameplay

#9345 [RU] Update and clean up `Guides/Livestreaming osu!`
  wiki/Guides/Livestreaming_osu!/ru.md
Labels: area:translations, type:update, type:clean up, size/M

#9357 Update `CWC 2023` staff listing
  wiki/Tournaments/CWC/2023/en.md
Labels: type:update, area:tournaments, size/XS

#9349 [RU] Add `Bancho (server)`
  wiki/Bancho_(server)/ru.md
Labels: area:translations, area:utilities, type:new article, size/S

#9351 [RU] Update `Gameplay/Accuracy`
  wiki/Gameplay/Accuracy/ru.md
Labels: area:translations, type:update, size/M, area:gameplay

#9350 [RU] Add `Beatmap/Stack leniency`
  wiki/Beatmap/Stack_leniency/ru.md
Labels: area:translations, type:new article, size/M, area:gameplay

#9353 [RU] Update `Beatmap/Guest difficulty`
  wiki/Beatmap/Guest_difficulty/ru.md
Labels: area:translations, type:update, size/S, area:beatmapping

#9354 [RU] Slightly update various translations
  wiki/Beatmap/Pattern/ru.md
  wiki/Beatmap_Spotlights/ru.md
  wiki/Help_centre/Account_restrictions/ru.md
  wiki/Medals/ru.md
  wiki/People/Featured_Artists/ru.md
  wiki/Rules/Explicit_Content/ru.md
  wiki/osu!supporter/ru.md
Labels: area:translations, type:update, size/M

#9359 Update `CWC 2023` staff listing
  wiki/Tournaments/CWC/2023/en.md
Labels: type:update, area:tournaments, size/XS

#9355 [ZH] Add `Client/Options` and `Client/Options/Ignore list`
  wiki/Client/Options/Ignore_list/zh.md
  wiki/Client/Options/img/audio-ZH.png
  wiki/Client/Options/img/editor-ZH.png
  wiki/Client/Options/img/gameplay-ZH.png
  wiki/Client/Options/img/general-ZH.png
  wiki/Client/Options/img/graphics-ZH.png
  wiki/Client/Options/img/input-ZH.png
  wiki/Client/Options/img/maintenance-ZH.png
  wiki/Client/Options/img/online-ZH.png
  wiki/Client/Options/img/options_basic-ZH.jpg
  wiki/Client/Options/img/skin-ZH.png
  wiki/Client/Options/zh.md
Labels: area:translations, type:new article, size/L, area:client

#9297 [KO] Add `People/osu! team`
  wiki/People/osu!_team/ko.md
Labels: area:translations, type:new article, size/M, area:community

#9323 [KO] Add `Bancho (Server)`
  wiki/Bancho_(server)/ko.md
Labels: area:translations, type:new article, size/S

#9348 Update `BBCode` (`[box]`es without title are clickable)
  wiki/BBCode/en.md
Labels: type:clean up, area:website, size/XS

#9364 Add New Featured Artist: cygnus news post
  news/2023/2023-05-13-new-featured-artist-cygnus.md
Labels: area:news, type:new article, size/L

#9331 Change osu!catch spread requirements
  wiki/Ranking_Criteria/en.md
  wiki/Ranking_Criteria/osu!/en.md
  wiki/Ranking_Criteria/osu!/fr.md
  wiki/Ranking_Criteria/osu!/ru.md
  wiki/Ranking_Criteria/osu!/zh.md
  wiki/Ranking_Criteria/osu!catch/en.md
  wiki/Ranking_Criteria/osu!catch/zh.md
  wiki/Ranking_Criteria/osu!mania/en.md
  wiki/Ranking_Criteria/osu!mania/zh.md
  wiki/Ranking_Criteria/osu!taiko/de.md
  wiki/Ranking_Criteria/osu!taiko/en.md
  wiki/Ranking_Criteria/osu!taiko/ko.md
  wiki/Ranking_Criteria/osu!taiko/zh.md
  wiki/Ranking_Criteria/zh.md
Labels: type:update, size/M, rule change, area:ranking criteria

#9370 Add cygnus osu! originals to `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/S

#9371 Add another cygnus original to `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/XS

#9342 Update `GB Cup 2023 Spring` tournament article
  wiki/Tournaments/GBC/GBC_2023_Spring/en.md
  wiki/Tournaments/GBC/GBC_2023_Spring/zh.md
Labels: type:update, area:tournaments, size/L

#9372 Add tournament originals to `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/S

#9373 Update unique Featured Artist user title listing
  wiki/People/Users_with_unique_titles/de.md
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/es.md
Labels: type:update, size/S, area:community

#9313 Reword confusing metadata rule in `Ranking criteria`
  wiki/Ranking_Criteria/en.md
Labels: type:clean up, size/XS, area:ranking criteria

#9377 Update `CWC 2023` for the Round of 32 stage
  wiki/Tournaments/CWC/2023/en.md
Labels: size/L

#9379 Update `CWC 2023` links
  wiki/Tournaments/CWC/2023/en.md
Labels: type:update, area:tournaments, size/XS

#9380 Update image in `Explicit content`
  wiki/Rules/Explicit_Content/img/explicit-tag.jpg
Labels: type:clean up, size/XS

#9381 Revert accidental mania RC change
  wiki/Ranking_Criteria/osu!mania/en.md
Labels: type:clean up, size/S, area:ranking criteria

#9267 [ID] Update `Ranking criteria` & `Ranking criteria/osu!catch`
  wiki/Beatmap/Song_compilation/id.md
  wiki/Ranking_Criteria/id.md
  wiki/Ranking_Criteria/osu!catch/id.md
Labels: area:translations, type:update, size/S, stale merge, area:ranking criteria

#9175 [FR] Update `History of osu!/2014`
  wiki/History_of_osu!/2014/fr.md
Labels: area:translations, type:update, size/S

#9384 Update links in `osu!api` and `Internet Relay Chat`
  wiki/Community/Internet_Relay_Chat/de.md
  wiki/Community/Internet_Relay_Chat/en.md
  wiki/Community/Internet_Relay_Chat/fr.md
  wiki/Community/Internet_Relay_Chat/ru.md
  wiki/Community/Internet_Relay_Chat/zh.md
  wiki/osu!api/de.md
  wiki/osu!api/en.md
  wiki/osu!api/es.md
  wiki/osu!api/fr.md
  wiki/osu!api/id.md
  wiki/osu!api/nl.md
  wiki/osu!api/pl.md
  wiki/osu!api/pt-br.md
  wiki/osu!api/ru.md
  wiki/osu!api/th.md
  wiki/osu!api/zh.md
Labels: area:utilities, type:update, size/M

#9308 [DE] Update `Offset/Universal offset`
  wiki/Offset/Universal_offset/de.md
  wiki/Offset/Universal_offset/img/uo-settings-button-DE.png
Labels: area:translations, type:update, size/S, area:client

#9109 [ES] Clean up `People/Global Moderation Team` slightly
  wiki/People/Global_Moderation_Team/es.md
Labels: area:translations, type:update, size/XS

#9273 [FR] Add `Beatmap/Difficulty spread`, `Beatmap/Stack leniency`, `Beatmap Spotlights/Seasons/2023 Spring`
  wiki/Beatmap/Difficulty_spread/fr.md
  wiki/Beatmap/Stack_leniency/fr.md
  wiki/Beatmap_Spotlights/Seasons/2023_Spring/fr.md
Labels: area:translations, type:update, size/L, stale merge, area:beatmapping, area:community

#9319 [ES] Add `History of osu!/Online rankings`
  wiki/History_of_osu!/Online_rankings/es.md
Labels: area:translations, type:new article, size/M, stale merge

#9382 Move FA members list to `Featured Artists` article
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/ru.md
  wiki/People/Users_with_unique_titles/de.md
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/es.md
Labels: type:update, size/L, area:community

#9316 [ES] Add `History of osu!/April Fools/osu!coin`
  wiki/History_of_osu!/April_Fools/osu!coin/es.md
Labels: area:translations, type:new article, size/M, stale merge, area:community

#9317 [ES] Add `History of osu!/History of Loved`
  wiki/History_of_osu!/History_of_Loved/es.md
Labels: area:translations, type:new article, size/M, stale merge

#9320 [ES] Add `History of osu!/Online rankings/osu!`
  wiki/History_of_osu!/Online_rankings/osu!/es.md
Labels: area:translations, type:new article, size/L, stale merge

#9119 [ES] Update `Reporting bad behaviour`
  wiki/Reporting_bad_behaviour/es.md
  wiki/Reporting_bad_behaviour/img/report-score-beatmap-ES.png
  wiki/Reporting_bad_behaviour/img/report-score-user-ES.png
  wiki/Reporting_bad_behaviour/img/report-user-1-ES.png
  wiki/Reporting_bad_behaviour/img/report-user-2-ES.png
  wiki/Reporting_bad_behaviour/img/report-user-comment-ES.png
  wiki/Reporting_bad_behaviour/img/report-user-discussion-ES.png
  wiki/Reporting_bad_behaviour/img/report-user-forum-ES.png
  wiki/Reporting_bad_behaviour/img/report-user-profile-ES.png
  wiki/Reporting_bad_behaviour/img/report-user-web-ES.png
Labels: area:translations, type:update, size/M

#9360 [RU] Update `Offset` and related articles
  wiki/Offset/Local_offset/ru.md
  wiki/Offset/Online_offset/ru.md
  wiki/Offset/Universal_offset/ru.md
  wiki/Offset/ru.md
Labels: area:translations, type:update, area:website, size/M, area:gameplay, area:client

#9361 [RU] Update `Gameplay/Kiai time`
  wiki/Gameplay/Kiai_time/ru.md
Labels: area:translations, type:update, size/M, area:gameplay

#9374 [RU] Update `Client/File formats`
  wiki/Client/File_formats/ru.md
Labels: area:translations, area:utilities, type:update, size/M

#9369 [RU] Update `People/osu! team`
  wiki/People/osu!_team/ru.md
Labels: area:translations, type:update, size/S, area:community

#9368 [RU] Update `People/Global Moderation Team`
  wiki/People/Global_Moderation_Team/ru.md
Labels: area:translations, type:update, size/S, area:community

#9363 [RU] Update `Main Page`
  wiki/Main_Page/ru.md
Labels: area:translations, type:update, size/S

#9385 Update `osu! Medal Hunters Discord server`
  wiki/Community/Discord_servers/osu!_Medal_Hunters/de.md
  wiki/Community/Discord_servers/osu!_Medal_Hunters/en.md
  wiki/Community/Discord_servers/osu!_Medal_Hunters/fr.md
  wiki/Community/Discord_servers/osu!_Medal_Hunters/ru.md
  wiki/Community/Discord_servers/osu!_Medal_Hunters/sr.md
Labels: type:update, size/S, area:community

#9386 Add Twin Trials Contest Results news post
  news/2023/2023-05-15-results-twin-trials-beatmapping-phase.md
  wiki/Contests/Contest_points/en.md
  wiki/Contests/Twin_Trials_Contest/en.md
Labels: area:news, type:new article, size/L

#9388 [RU] Unify the distinction between the support team and the account support team
  wiki/Community/Forum/ru.md
  wiki/Help_centre/Tournament_bans/ru.md
  wiki/Help_centre/Website/ru.md
  wiki/Main_Page/ru.md
  wiki/People/Account_support_team/ru.md
  wiki/People/Support_Team/ru.md
  wiki/People/Tournament_Committee/ru.md
  wiki/People/osu!_team/ru.md
  wiki/People/ru.md
  wiki/Reporting_bad_behaviour/ru.md
  wiki/Rules/Explicit_Content/ru.md
Labels: area:translations, type:clean up, size/M

#9398 [ZH] Update `Internet Relay Chat` and `osu!api`
  wiki/Community/Internet_Relay_Chat/zh.md
  wiki/osu!api/zh.md
Labels: area:translations, area:utilities, type:update, size/S

#9403 [DE] Add history of osu! `2010` and `2011`
  wiki/History_of_osu!/2010/de.md
  wiki/History_of_osu!/2011/de.md
Labels: area:translations, type:new article, size/S

#9397 [ZH] Add `Test Mode`
  wiki/Client/Beatmap_editor/Test_mode/zh.md
Labels: area:translations, type:new article, size/M, area:beatmapping, area:client

#9327 [ZH] Update `Ranking Criteria` and sub articles
  wiki/Ranking_Criteria/osu!/zh.md
  wiki/Ranking_Criteria/osu!catch/zh.md
  wiki/Ranking_Criteria/osu!mania/zh.md
  wiki/Ranking_Criteria/osu!taiko/zh.md
  wiki/Ranking_Criteria/zh.md
Labels: area:translations, type:update, size/M, area:ranking criteria

#9383 [DE] Update `BBCode`
  wiki/BBCode/de.md
  wiki/BBCode/img/editor-DE.jpg
Labels: area:translations, type:update, area:website, size/M

#9400 [DE] Update `osu!api` and `Community/Internet_Relay_Chat`
  wiki/Community/Internet_Relay_Chat/de.md
  wiki/osu!api/de.md
Labels: area:translations, area:utilities, type:update, size/S

#9392 [ZH] Update `Client/Interface`
  wiki/Client/Interface/img/beatmap-metadata-ZH.jpg
  wiki/Client/Interface/img/gameplay-toolbox-ZH.jpg
  wiki/Client/Interface/img/main-menu-ZH.jpg
  wiki/Client/Interface/img/metadata-comparison-ZH.jpg
  wiki/Client/Interface/img/multi-lobby-ZH.jpg
  wiki/Client/Interface/img/multi-room-ZH.jpg
  wiki/Client/Interface/img/play-menu-ZH.jpg
  wiki/Client/Interface/img/song-selection-ZH.jpg
  wiki/Client/Interface/zh.md
Labels: area:translations, type:update, size/L, area:client

#9404 Update `Skinning Contest #4` wiki article
  wiki/Contests/Skinning_Contest/4/en.md
Labels: type:update, size/XS, area:community

#9399 [DE] Update ranking criteria `osu!mania` and `osu!taiko`
  wiki/Ranking_Criteria/osu!mania/de.md
  wiki/Ranking_Criteria/osu!taiko/de.md
Labels: area:translations, type:update, size/S, area:ranking criteria

#9407 Update `CWC 2023` Round of 32 schedule
  wiki/Tournaments/CWC/2023/en.md
Labels: type:update, area:tournaments, size/S

#9208 [KO] Update `Ranking_Criteria`, `Ranking_Criteria/osu!taiko`
  wiki/Ranking_Criteria/ko.md
  wiki/Ranking_Criteria/osu!taiko/ko.md
Labels: area:translations, type:update, size/L, area:ranking criteria

#9250 [KO] Update some words for consistency between articles
  wiki/Contests/KCC/1/ko.md
  wiki/Contests/KCC/2/ko.md
  wiki/Contests/TKBC/2/ko.md
  wiki/Rules/ko.md
Labels: area:translations, type:update, type:clean up, size/S

#9402 [DE] Update `People/Users with unique titles` and `Client/Options`
  wiki/Client/Options/de.md
  wiki/People/Users_with_unique_titles/de.md
Labels: area:translations, type:update, size/M, area:client, area:community

#9409 Further cleanup of `Client/Beatmap_editor/Menu`
  wiki/Client/Beatmap_editor/Menu/en.md
  wiki/Client/Beatmap_editor/Menu/img/M_View.jpg
  wiki/Client/Beatmap_editor/Menu/img/M_Web.jpg
  wiki/Client/Beatmap_editor/Menu/zh.md
Labels: type:clean up, size/XS, area:client

#9410 Update `GBC 2023 Spring` tournament wiki
  wiki/Tournaments/GBC/GBC_2023_Spring/en.md
Labels: type:update, area:tournaments, size/XS

#9406 Update appearance descriptions in several user group articles
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Beatmap_Nominators/es.md
  wiki/People/Beatmap_Nominators/fr.md
  wiki/People/Beatmap_Nominators/id.md
  wiki/People/Beatmap_Nominators/ru.md
  wiki/People/Beatmap_Nominators/zh.md
  wiki/People/Beatmap_Spotlight_Curators/en.md
  wiki/People/Beatmap_Spotlight_Curators/es.md
  wiki/People/Beatmap_Spotlight_Curators/fr.md
  wiki/People/Beatmap_Spotlight_Curators/id.md
  wiki/People/Developers/bg.md
  wiki/People/Developers/en.md
  wiki/People/Developers/es.md
  wiki/People/Developers/fr.md
  wiki/People/Developers/id.md
  wiki/People/Developers/ru.md
  wiki/People/Developers/zh-tw.md
  wiki/People/Global_Moderation_Team/de.md
  wiki/People/Global_Moderation_Team/en.md
  wiki/People/Global_Moderation_Team/es.md
  wiki/People/Global_Moderation_Team/ru.md
  wiki/People/Global_Moderation_Team/zh.md
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Nomination_Assessment_Team/ko.md
  wiki/People/Nomination_Assessment_Team/zh.md
Labels: type:update, area:website, size/M, area:community

#9376 [RU] Update `Guides/Getting your map modded`
  wiki/Guides/Getting_Your_Map_Modded/ru.md
Labels: area:translations, type:update, size/M, area:beatmapping

#9390 [RU] Update `Storyboard` and `Storyboard/Scripting`
  wiki/Storyboard/Scripting/ru.md
  wiki/Storyboard/ru.md
Labels: area:translations, type:update, size/M, area:storyboarding

#9391 [RU] Update `Do you really want to ask peppy?`
  wiki/Do_you_really_want_to_ask_peppy/ru.md
Labels: area:translations, type:update, size/S

#9405 Update `Project Loved` articles
  wiki/Community/Project_Loved/en.md
  wiki/Community/Project_Loved/fr.md
  wiki/People/Project_Loved_Team/en.md
  wiki/People/Project_Loved_Team/es.md
  wiki/People/Project_Loved_Team/fr.md
  wiki/People/Project_Loved_Team/id.md
  wiki/People/Project_Loved_Team/ru.md
Labels: type:update, size/M, area:community

#9411 Add Synthion's user profile to the user group listing in `Featured Artists`
  wiki/People/Featured_Artists/en.md
Labels: type:update, size/XS

#9341 [FR] Add `Community/cavoe's_osu!_event` `Community/cavoe's_osu!_event/2023`
  wiki/Community/cavoe's_osu!_event/2023/fr.md
  wiki/Community/cavoe's_osu!_event/fr.md
Labels: area:translations, type:new article, size/M, stale merge, area:community

#9417 Update `CWC 2023`
  wiki/Tournaments/CWC/2023/en.md
Labels: size/XS

#9420 Add New Featured Artist: Aice room / Nor news post
  news/2023/2023-05-20-new-featured-artist-aice-room-nor.md
Labels: area:news, type:new article, size/M

#9401 Clean up `Game mode/osu!`
  wiki/Game_mode/osu!/en.md
  wiki/Game_mode/osu!/fr.md
  wiki/Game_mode/osu!/ja.md
  wiki/Game_mode/osu!/ru.md
Labels: type:clean up, size/M, area:gameplay

#9336 [ZH] Add `Guides/Making Properly Centred Spinners`
  wiki/Guides/Making_Properly_Centred_Spinners/img/MPCS_01-ZH.png
  wiki/Guides/Making_Properly_Centred_Spinners/img/MPCS_02-ZH.png
  wiki/Guides/Making_Properly_Centred_Spinners/img/MPCS_03-ZH.png
  wiki/Guides/Making_Properly_Centred_Spinners/img/MPCS_05-ZH.png
  wiki/Guides/Making_Properly_Centred_Spinners/img/MPCS_07-ZH.png
  wiki/Guides/Making_Properly_Centred_Spinners/img/MPCS_10-ZH.png
  wiki/Guides/Making_Properly_Centred_Spinners/zh.md
Labels: area:translations, type:new article, size/L

#9408 [ZH] Add `Disambiguation` and subarticles
  wiki/Disambiguation/Bancho/zh.md
  wiki/Disambiguation/Combo/zh.md
  wiki/Disambiguation/EZ/zh.md
  wiki/Disambiguation/Easy/zh.md
  wiki/Disambiguation/Fail/zh.md
  wiki/Disambiguation/Mod/zh.md
  wiki/Disambiguation/NC/zh.md
  wiki/Disambiguation/NM/zh.md
  wiki/Disambiguation/Ouendan/zh.md
  wiki/Disambiguation/Rank/zh.md
  wiki/Disambiguation/Score/zh.md
  wiki/Disambiguation/Snapping/zh.md
  wiki/Disambiguation/Star/zh.md
  wiki/Disambiguation/Timing/zh.md
  wiki/Disambiguation/Version/zh.md
  wiki/Disambiguation/osu!/zh.md
  wiki/Disambiguation/zh.md
Labels: area:translations, type:new article, size/L
