Repository ppy/osu-wiki, pull requests merged in 2023-11, with the labels that each got.

#10334 [ES] Native review of `B` articles
  wiki/BanchoBot/es.md
  wiki/Bancho_(server)/es.md
  wiki/Beatmap/Guest_difficulty/es.md
  wiki/Beatmap/TAG/es.md
  wiki/Beatmap_Spotlights/Seasons/2020_Autumn/es.md
  wiki/Beatmap_Spotlights/Seasons/2020_Summer/es.md
  wiki/Beatmap_Spotlights/Seasons/2021_Spring/es.md
  wiki/Beatmap_Spotlights/Seasons/2021_Winter/es.md
  wiki/Beatmap_Spotlights/Seasons/2022_Spring/es.md
  wiki/Beatmap_Spotlights/Seasons/2022_Summer/es.md
  wiki/Beatmap_Spotlights/Seasons/2022_Winter/es.md
  wiki/Beatmap_Spotlights/Seasons/2023_Winter/es.md
  wiki/Beatmap_discussion/es.md
  wiki/Beatmapping/Combo/es.md
  wiki/Brand_identity_guidelines/es.md
Labels: area:translations, type:update, type:clean up, area:website, size/L, area:beatmapping, area:gameplay

#10214 [ZH-TW] Update `Main page`
  wiki/Main_page/zh-tw.md
Labels: area:translations, type:update, size/M

#10296 [ZH] Cleanup `Gameplay/Game modifier` subarticles
  wiki/Gameplay/Game_modifier/10K/zh.md
  wiki/Gameplay/Game_modifier/Auto/zh.md
  wiki/Gameplay/Game_modifier/Autopilot/zh.md
  wiki/Gameplay/Game_modifier/Co-op/zh.md
  wiki/Gameplay/Game_modifier/Double_Time/zh.md
  wiki/Gameplay/Game_modifier/Easy/zh.md
  wiki/Gameplay/Game_modifier/Fade_In/zh.md
  wiki/Gameplay/Game_modifier/Fade_Out/zh.md
  wiki/Gameplay/Game_modifier/Flashlight/zh.md
  wiki/Gameplay/Game_modifier/Half_Time/zh.md
  wiki/Gameplay/Game_modifier/Hard_Rock/zh.md
  wiki/Gameplay/Game_modifier/Hidden/zh.md
  wiki/Gameplay/Game_modifier/Mirror/zh.md
  wiki/Gameplay/Game_modifier/Nightcore/zh.md
  wiki/Gameplay/Game_modifier/No_Fail/zh.md
  wiki/Gameplay/Game_modifier/No_Video/zh.md
  wiki/Gameplay/Game_modifier/Perfect/zh.md
  wiki/Gameplay/Game_modifier/Random/zh.md
  wiki/Gameplay/Game_modifier/Relax/zh.md
  wiki/Gameplay/Game_modifier/ScoreV2/zh.md
  wiki/Gameplay/Game_modifier/Spun_Out/zh.md
  wiki/Gameplay/Game_modifier/Sudden_Death/zh.md
  wiki/Gameplay/Game_modifier/Target_Practice/zh.md
  wiki/Gameplay/Game_modifier/xK/zh.md
Labels: area:translations, type:clean up, size/XL, area:gameplay

#10339 Update `OWC 2023` RO16 schedule
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
  wiki/Tournaments/OWC/2023/zh-tw.md
Labels: type:update, area:tournaments, size/M

#10340 Update `OWC 2023` RO16 schedules
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
  wiki/Tournaments/OWC/2023/zh-tw.md
Labels: type:update, area:tournaments, size/S

#10135 Conclude `Tournaments/SOFT 6`
  wiki/Tournaments/SOFT/6/en.md
  wiki/Tournaments/SOFT/6/img/soft6-badge-1st.jpg
  wiki/Tournaments/SOFT/6/img/soft6-badge-2nd.jpg
  wiki/Tournaments/SOFT/6/img/soft6-badge-3rd.jpg
Labels: type:update, area:tournaments, size/XL

#10196 Add `Tournaments/MALT`
  wiki/Tournaments/MALT/1/en.md
  wiki/Tournaments/MALT/1/img/logo.jpg
  wiki/Tournaments/MALT/1/img/malt-badge.jpg
  wiki/Tournaments/MALT/en.md
Labels: type:new article, area:tournaments, size/XL

#10347 Update `osu! originals` with "Toromaru - Ebb Tide"
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/XS

#10336 Update GBC 2023 Autumn wiki page (ZH+EN)
  wiki/Tournaments/GBC/GBC_2023_Autumn/en.md
  wiki/Tournaments/GBC/GBC_2023_Autumn/zh.md
Labels: type:update, area:tournaments, size/L

#10350 [IT] Fix spelling error in `Star priority`
  wiki/Modding/Star_priority/it.md
Labels: area:translations, size/XS

#10348 Reword medal unlock requirements index page
  wiki/Medals/Unlock_requirements/de.md
  wiki/Medals/Unlock_requirements/en.md
  wiki/Medals/Unlock_requirements/es.md
  wiki/Medals/Unlock_requirements/fr.md
  wiki/Medals/Unlock_requirements/id.md
  wiki/Medals/Unlock_requirements/ru.md
  wiki/Medals/Unlock_requirements/uk.md
  wiki/Medals/Unlock_requirements/zh-tw.md
Labels: size/M

#10344 [ES] Native review of `Client/Menu_tips`, `Client/Release_stream/Lazer` and `Community/User_title`
  wiki/Client/Menu_tips/es.md
  wiki/Client/Release_stream/Lazer/es.md
  wiki/Community/User_title/es.md
Labels: area:translations, size/M

#10270 [DE] Add `Countdown`
  wiki/Beatmap/Countdown/de.md
Labels: area:translations, size/S

#10318 [DE] Add `Hype`
  wiki/Beatmap/Hype/de.md
Labels: area:translations, size/S

#10349 Improve readability of remark errors in log view
  package-lock.json
  package.json
  scripts/ci/run_remark.sh
Labels: area:meta, size/XS

#10353 [DE] `Hype`: Use correct translation from web
  wiki/Beatmap/Hype/de.md
Labels: area:translations, size/XS

#10359 [UK] Update `Unlock Requirements`
  wiki/Medals/Unlock_requirements/uk.md
Labels: area:translations, size/XS

#10366 Add a missing flag in `Centurions`
  wiki/People/Centurions/en.md
  wiki/People/Centurions/es.md
  wiki/People/Centurions/fr.md
  wiki/People/Centurions/it.md
  wiki/People/Centurions/zh.md
Labels: size/S

#10299 [UK] Add all file formats articles
  wiki/Client/File_formats/osb_(file_format)/uk.md
  wiki/Client/File_formats/osk_(file_format)/uk.md
  wiki/Client/File_formats/osu_(file_format)/uk.md
  wiki/Client/File_formats/osz_(file_format)/uk.md
Labels: area:translations, size/L

#10352 Update Node.js used in CI workflow to version 20
  .github/workflows/continuous-integration.yml
  .github/workflows/refresh-cache.yml
  Dockerfile
Labels: area:meta, size/S

#10346 [ES] Native review of `D` articles
  wiki/Disambiguation/Bancho/es.md
  wiki/Disambiguation/EZ/es.md
  wiki/Disambiguation/Easy/es.md
  wiki/Disambiguation/NC/es.md
  wiki/Disambiguation/NM/es.md
  wiki/Disambiguation/Ouendan/es.md
  wiki/Disambiguation/es.md
  wiki/Disambiguation/osu!/es.md
Labels: area:translations, size/M

#10248 [ES] Add `Judgement/osu!` and clean up `Notelock`
  wiki/Gameplay/Judgement/Notelock/es.md
  wiki/Gameplay/Judgement/es.md
  wiki/Gameplay/Judgement/osu!/es.md
Labels: area:translations, size/L

#10360 [RU] Update `Unlock Requirements`
  wiki/Medals/Unlock_requirements/ru.md
Labels: area:translations, size/XS

#10369 Update `OWC 2023` RO16 schedules
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
  wiki/Tournaments/OWC/2023/zh-tw.md
Labels: size/S

#10356 [ES] Clean up `Beatmap/Approach rate`
  wiki/Beatmap/Approach_rate/es.md
Labels: area:translations, size/M

#10355 [ES] Add `Disambiguation/Timing`
  wiki/Disambiguation/Timing/es.md
Labels: area:translations, size/XS

#10319 [ES] Add `Beatmap/Hype`
  wiki/Beatmap/Hype/es.md
Labels: area:translations, size/S

#10368 Add `osu! Philippines Nationals 2023 - osu!catch` wiki article
  wiki/Tournaments/oPHN/2023_catch/en.md
  wiki/Tournaments/oPHN/2023_catch/img/banner.png
  wiki/Tournaments/oPHN/en.md
Labels: area:tournaments, size/M

#10370 Add `New Featured Artist: PHAZE` news post
  news/2023/2023-11-04-new-featured-artist-phaze.md
Labels: area:news, size/M

#10371 Update `OWC 2023` RO16 schedules, results
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
  wiki/Tournaments/OWC/2023/zh-tw.md
Labels: area:tournaments, size/L

#10185 [ES] Update `Medals`
  wiki/Medals/es.md
Labels: area:translations, size/S

#10220 [KO] Add `Help centre`
  wiki/Help_centre/ko.md
Labels: area:translations, size/M, area:help centre

#10186 [ES] Clean up some beatmap articles
  wiki/Beatmap/Category/es.md
  wiki/Beatmap/Genre_and_language/es.md
  wiki/Beatmap/es.md
  wiki/Beatmap_ranking_procedure/es.md
  wiki/Community/How_you_can_help!/en.md
  wiki/Community/How_you_can_help!/es.md
  wiki/History_of_osu!/2007/en.md
  wiki/History_of_osu!/2007/es.md
  wiki/History_of_osu!/2007/fr.md
  wiki/History_of_osu!/2007/ru.md
  wiki/People/Beatmap_Nominators/es.md
  wiki/osu!supporter/es.md
Labels: area:translations, size/L

#10345 [ES] Update `Contests`
  wiki/Contests/Twin_Trials_Contest/en.md
  wiki/Contests/VMC/1/en.md
  wiki/Contests/en.md
  wiki/Contests/es.md
  wiki/Contests/fr.md
  wiki/Contests/oBWC/2/en.md
Labels: area:translations, size/L

#10361 [ES] Update `Game_mode`
  wiki/Game_mode/es.md
Labels: area:translations, size/S

#10332 Add custom identifiers to the sections linked when opening PRs
  .github/workflows/welcome-new-contributors.yml
  wiki/osu!_wiki/Contribution_guide/de.md
  wiki/osu!_wiki/Contribution_guide/en.md
  wiki/osu!_wiki/Contribution_guide/es.md
  wiki/osu!_wiki/Contribution_guide/fr.md
  wiki/osu!_wiki/Contribution_guide/ko.md
  wiki/osu!_wiki/Contribution_guide/ru.md
  wiki/osu!_wiki/Contribution_guide/th.md
  wiki/osu!_wiki/Contribution_guide/uk.md
  wiki/osu!_wiki/Contribution_guide/vi.md
  wiki/osu!_wiki/Contribution_guide/zh.md
  wiki/osu!_wiki/Maintenance/de.md
  wiki/osu!_wiki/Maintenance/en.md
  wiki/osu!_wiki/Maintenance/es.md
  wiki/osu!_wiki/Maintenance/fr.md
  wiki/osu!_wiki/Maintenance/ru.md
  wiki/osu!_wiki/Maintenance/zh.md
Labels: area:meta, size/M

#10343 [ES] Update `Client/Interface`
  wiki/Client/Interface/es.md
Labels: area:translations, size/L

#10257 [ES] Add `osu!catch` and `osu!taiko`
  wiki/Game_mode/osu!catch/en.md
  wiki/Game_mode/osu!catch/es.md
  wiki/Game_mode/osu!catch/fr.md
  wiki/Game_mode/osu!catch/zh.md
  wiki/Game_mode/osu!taiko/en.md
  wiki/Game_mode/osu!taiko/es.md
  wiki/Game_mode/osu!taiko/fr.md
  wiki/Game_mode/osu!taiko/ja.md
  wiki/Game_mode/osu!taiko/zh.md
Labels: area:translations, size/L

#10372 Fix Tumblr URL for old news post
  news/2014/2014-03-01-performance-ranking-for-all-gamemodes.md
Labels: area:news, size/XS

#10377 Update staff log
  wiki/People/Staff_log/2023/en.md
  wiki/People/Staff_log/en.md
  wiki/People/Staff_log/es.md
  wiki/People/Staff_log/fr.md
  wiki/People/Staff_log/id.md
  wiki/People/Staff_log/ja.md
  wiki/People/Staff_log/ru.md
  wiki/People/Staff_log/uk.md
Labels: size/L

#10282 Add BQT6 tournament
  wiki/Tournaments/BQT/6/en.md
  wiki/Tournaments/BQT/6/img/logo.png
  wiki/Tournaments/BQT/en.md
Labels: area:tournaments, size/L

#10358 [RU] Add `Beatmapping/Mapping techniques/Overlap`
  wiki/Beatmapping/Mapping_techniques/Overlap/ru.md
Labels: area:translations, size/XS

#10382 Update `OWC 2023` for the Quarterfinals stage
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
  wiki/Tournaments/OWC/2023/zh-tw.md
Labels: area:tournaments, size/L

#10383 Update `osu! originals` with 3 more OWC 2023 tracks
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: size/XS

#10303 Add Usage permissions wiki article
  wiki/Usage_permissions/en.md
Labels: size/L

#10411 Add Winter 2023 Fanart Contest submissions news post
  news/2023/2023-11-07-winter-fanart-contest.md
Labels: area:news, size/M

#10412 Add playlist B to Beatmap Spotlights Autumn 2023 wiki article
  wiki/Beatmap_Spotlights/Seasons/2023_Autumn/en.md
Labels: size/M

#10399 [ZH] Update `Ranking criteria` and sub articles
  wiki/Ranking_criteria/Difficulty_naming/zh.md
  wiki/Ranking_criteria/Skin_set_list/zh.md
  wiki/Ranking_criteria/osu!/zh.md
  wiki/Ranking_criteria/zh.md
Labels: area:translations, size/L, area:ranking criteria

#10408 Add `osu! World Cup 2023: Round of 16 Recap` news post
  news/2023/2023-11-08-osu-world-cup-2023-round-of-16-recap.md
  wiki/shared/news/2023-11-08-osu-world-cup-2023-round-of-16-recap/pickem.png
Labels: area:news, size/M

#10414 Fix excaping in `osu! World Cup 2023: Round of 16 Recap` news post
  news/2023/2023-11-08-osu-world-cup-2023-round-of-16-recap.md
Labels: area:news, size/XS

#10417 Update `Beatmap Spotlights`
  wiki/Beatmap_Spotlights/en.md
  wiki/Beatmap_Spotlights/fr.md
  wiki/Beatmap_Spotlights/ru.md
  wiki/Beatmap_Spotlights/zh.md
Labels: size/XS

#10418 Update `OWC 2023` Quarterfinals schedule
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/zh-tw.md
Labels: size/M

#10416 Update usage permissions with more allowance exceptions
  wiki/Rules/Content_usage_permissions/en.md
Labels: size/XS

#10413 [KO] Update `OWC 2023` RO16 results/QF schedules
  wiki/Tournaments/OWC/2023/ko.md
Labels: area:translations, area:tournaments, size/L

#10421 Update `BN` and `NAT` articles
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Beatmap_Nominators/es.md
  wiki/People/Beatmap_Nominators/zh.md
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Nomination_Assessment_Team/es.md
  wiki/People/Nomination_Assessment_Team/zh.md
Labels: size/M

#10422 Update `Beatmap Spotlight Curators` wiki page
  wiki/People/Beatmap_Spotlight_Curators/en.md
  wiki/People/Beatmap_Spotlight_Curators/es.md
  wiki/People/Beatmap_Spotlight_Curators/fr.md
  wiki/People/Beatmap_Spotlight_Curators/id.md
Labels: size/M

#10373 Reword osu!monthly article
  wiki/Community/osu!monthly/de.md
  wiki/Community/osu!monthly/en.md
  wiki/People/de.md
  wiki/People/en.md
  wiki/People/es.md
  wiki/People/fr.md
  wiki/People/id.md
  wiki/People/it.md
  wiki/People/ko.md
  wiki/People/osu!monthly_team/de.md
  wiki/People/osu!monthly_team/en.md
  wiki/People/osu!monthly_team/fr.md
  wiki/People/osu!monthly_team/id.md
  wiki/People/ru.md
  wiki/People/vi.md
  wiki/People/zh.md
  wiki/redirect.yaml
Labels: size/L

#10398 Update `BQT6` to Grand Finals stage
  wiki/Tournaments/BQT/6/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/zh.md
Labels: area:tournaments, size/M

#10155 [DE] Add `Music theory/Time signature`
  wiki/Music_theory/Time_signature/de.md
Labels: area:translations, size/S

#10364 [ES] Native review of `G` articles
  wiki/Gameplay/Hit_object/Approach_circle/es.md
  wiki/Gameplay/Hit_object/Banana/es.md
  wiki/Gameplay/Hit_object/Fruit/es.md
  wiki/Gameplay/Hit_object/Hit_circle/es.md
  wiki/Gameplay/Hit_object/Hyperfruit/es.md
  wiki/Gameplay/Hit_object/Juice_stream/es.md
  wiki/Gameplay/Hit_object/Slider/Reverse_slider/es.md
Labels: area:translations, size/M

#10392 [ES] Native review of `History_of_osu!/April_Fools`
  wiki/History_of_osu!/April_Fools/es.md
Labels: area:translations, size/L

#10395 [ES] Native review of `History_of_osu!/Online_rankings` and `History_of_osu!/Online_rankings/osu!`
  wiki/History_of_osu!/Online_rankings/es.md
  wiki/History_of_osu!/Online_rankings/osu!/es.md
Labels: area:translations, size/S

#10424 Update `OWC 2023` Quarterfinals schedule
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
  wiki/Tournaments/OWC/2023/zh-tw.md
Labels: area:tournaments, size/S

#10423 Add missing redirect to "Content usage permissions" article
  wiki/redirect.yaml
Labels: area:meta, size/XS

#10396 [ES] Native review of `Legal/Music_licensing` and `Legal`
  wiki/Legal/Music_licensing/es.md
  wiki/Legal/es.md
Labels: area:translations, size/S, area:legal

#10338 Add `The Followpoint: Ephemeral, The Man Behind The Medals` news post
  news/2023/2023-11-10-the-followpoint-ephemeral-the-man-behind-the-medals.md
  wiki/shared/news/2023-11-10-the-followpoint-ephemeral-the-man-behind-the-medals/banner.jpg
  wiki/shared/news/2023-11-10-the-followpoint-ephemeral-the-man-behind-the-medals/banner@2x.jpg
Labels: area:news, size/S

#10428 Fix typo in `MWC 2014`
  wiki/Tournaments/MWC/2014/en.md
  wiki/Tournaments/MWC/2014/fr.md
Labels: area:tournaments, size/M

#10430 Fix casing in The Followpoint news post title
  news/2023/2023-11-10-the-followpoint-ephemeral-the-man-behind-the-medals.md
Labels: area:news, size/XS

#10309 [ES] Add `Community/Project Loved`
  wiki/Community/Project_Loved/es.md
Labels: area:translations, size/L

#10432 Update fail threshold in `Beatmap Nominator Test`
  wiki/People/Beatmap_Nominators/Beatmap_Nominator_Test/bg.md
  wiki/People/Beatmap_Nominators/Beatmap_Nominator_Test/en.md
  wiki/People/Beatmap_Nominators/Beatmap_Nominator_Test/fr.md
  wiki/People/Beatmap_Nominators/Beatmap_Nominator_Test/id.md
  wiki/People/Beatmap_Nominators/Beatmap_Nominator_Test/ru.md
  wiki/People/Beatmap_Nominators/Beatmap_Nominator_Test/zh.md
Labels: size/S

#10374 [DE] Update `Beatmap search` and `Medals/Unlock requirements`
  wiki/Beatmap_search/de.md
  wiki/Medals/Unlock_requirements/de.md
Labels: size/S

#10375 [DE] Add `Music theory/Beat`
  wiki/Music_theory/Beat/de.md
Labels: size/S

#10376 [DE] Add `Music theory/Rhythm`
  wiki/Music_theory/Rhythm/de.md
Labels: area:translations, size/S

#10379 [DE] Clean up `Upgrading to lazer` / `Performance troubleshooting` / `Song content rules`
  wiki/Help_centre/Upgrading_to_lazer/de.md
  wiki/Performance_troubleshooting/de.md
  wiki/Rules/Song_content_rules/de.md
Labels: area:translations, size/S

#10437 Add `New Featured Artist: Solarbear` news post
  news/2023/2023-11-11-new-featured-artist-solarbear.md
Labels: area:news, size/M

#10446 Update `OWC 2023` QF schedules/results
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
  wiki/Tournaments/OWC/2023/zh-tw.md
Labels: area:tournaments, size/L

#10441 [ES] Add `B` missing stubs (1)
  wiki/Beatmap/Authentic/es.md
  wiki/Beatmap/Background/es.md
  wiki/Beatmap/Break/es.md
  wiki/Beatmap/Drain_time/es.md
  wiki/Beatmap/HP_drain_rate/es.md
  wiki/Beatmap/Marathon/es.md
  wiki/Beatmap/Pattern/es.md
  wiki/Beatmap/Pattern/osu!/Jump/es.md
Labels: area:translations, size/L

#10378 [DE] Add `Music theory/Measure`
  wiki/Music_theory/Measure/de.md
  wiki/Music_theory/Measure/img/measure_timing-DE.png
Labels: area:translations, size/S

#10176 [DE] Add `Music theory/Syncopation`
  wiki/Music_theory/Syncopation/de.md
Labels: area:translations, size/S

#10448 Update `OWC 2023` for the Semifinals stage
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
  wiki/Tournaments/OWC/2023/zh-tw.md
Labels: area:tournaments, size/L

#10449 [ZH-TW] Fix `OWC 2023` Semifinals schedule table
  wiki/Tournaments/OWC/2023/zh-tw.md
Labels: area:translations, area:tournaments, size/XS

#10450 Update `OWC 2023` with Semifinals mappool
  wiki/Tournaments/OWC/2023/en.md
Labels: area:tournaments, size/M

#10431 Add links in `Community Contributors`
  wiki/People/Community_Contributors/de.md
  wiki/People/Community_Contributors/en.md
  wiki/People/Community_Contributors/es.md
  wiki/People/Community_Contributors/it.md
  wiki/People/Community_Contributors/zh.md
Labels: size/L

#10451 Add new OWC tracks to `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: size/S

#10452 Add missing footnote to `OWC 2023`
  wiki/Tournaments/OWC/2023/en.md
Labels: area:tournaments, size/XS

#10456 [KO] Change Semifinal Translation `OWC 2023`
  wiki/Tournaments/OWC/2023/ko.md
Labels: area:translations, size/XS

#10425 Rename "Support Team" to "Technical Support Team"
  wiki/Community/Forum/Help/de.md
  wiki/Community/Forum/Help/en.md
  wiki/Community/Forum/Help/fr.md
  wiki/Community/Forum/Help/ru.md
  wiki/Community/Forum/Help/zh-tw.md
  wiki/Main_page/en.md
  wiki/Main_page/es.md
  wiki/Main_page/fr.md
  wiki/Main_page/it.md
  wiki/Main_page/ko.md
  wiki/Main_page/uk.md
  wiki/Main_page/vi.md
  wiki/Main_page/zh-tw.md
  wiki/Main_page/zh.md
  wiki/People/Account_support_team/de.md
  wiki/People/Account_support_team/en.md
  wiki/People/Account_support_team/es.md
  wiki/People/Account_support_team/ko.md
  wiki/People/Account_support_team/ru.md
  wiki/People/Support_Team/en.md
  wiki/People/Technical_Support_Team/bg.md
  wiki/People/Technical_Support_Team/de.md
  wiki/People/Technical_Support_Team/en.md
  wiki/People/Technical_Support_Team/es.md
  wiki/People/Technical_Support_Team/fr.md
  wiki/People/Technical_Support_Team/id.md
  wiki/People/Technical_Support_Team/it.md
  wiki/People/Technical_Support_Team/pl.md
  wiki/People/Technical_Support_Team/pt-br.md
  wiki/People/Technical_Support_Team/pt.md
  wiki/People/Technical_Support_Team/ru.md
  wiki/People/Technical_Support_Team/tr.md
  wiki/People/Technical_Support_Team/uk.md
  wiki/People/Technical_Support_Team/zh-tw.md
  wiki/People/Technical_Support_Team/zh.md
  wiki/People/User_group/de.md
  wiki/People/User_group/en.md
  wiki/People/User_group/es.md
  wiki/People/User_group/fr.md
  wiki/People/User_group/uk.md
  wiki/People/en.md
  wiki/People/es.md
  wiki/People/it.md
  wiki/People/ko.md
  wiki/People/vi.md
  wiki/People/zh.md
  wiki/redirect.yaml
Labels: size/L

#10458 [KO] Update `OWC 2023` with Semifinals mappool and fix error
  wiki/Tournaments/OWC/2023/ko.md
Labels: size/XS

#10457 Clarify mediation jury selection in `Beatmap Veto`
  wiki/People/Beatmap_Nominators/Beatmap_Veto/en.md
  wiki/People/Beatmap_Nominators/Beatmap_Veto/fr.md
  wiki/People/Beatmap_Nominators/Beatmap_Veto/ru.md
Labels: size/S

#10419 [DE] Add `Primary metadata source`
  wiki/Beatmap/Primary_metadata_source/de.md
Labels: area:translations, size/S

#10462 Add `Monthly Beatmapping Contest: November 2023` news post
  news/2023/2023-11-14-monthly-beatmapping-contest-november-2023.md
  wiki/shared/news/2023-11-14-monthly-beatmapping-contest-november-2023/2measures.png
  wiki/shared/news/2023-11-14-monthly-beatmapping-contest-november-2023/4measures.png
  wiki/shared/news/2023-11-14-monthly-beatmapping-contest-november-2023/count.png
  wiki/shared/news/2023-11-14-monthly-beatmapping-contest-november-2023/gap.png
  wiki/shared/news/2023-11-14-monthly-beatmapping-contest-november-2023/nogap.png
Labels: size/L

#10463 Fix typo in `Monthly Beatmapping Contest: November 2023` news post
  news/2023/2023-11-14-monthly-beatmapping-contest-november-2023.md
  wiki/Contests/Contest_points/en.md
Labels: size/S

#10403 [ES] Update `People/User_group` and `People/osu!_team`
  wiki/People/User_group/es.md
  wiki/People/osu!_team/es.md
Labels: area:translations, size/M

#10206 [ES] Add missing B-lettered articles
  wiki/Beatmap/Difficulty_spread/es.md
  wiki/Beatmap/Packs/es.md
  wiki/Beatmap/Stack_leniency/es.md
  wiki/Beatmap/Title_text/es.md
  wiki/Beatmap_Spotlights/Chart_Assembly_Team/es.md
  wiki/Beatmap_Spotlights/Seasons/2023_Spring/es.md
  wiki/Beatmap_Spotlights/es.md
  wiki/Beatmap_ranking_procedure/Ranking_queue/es.md
  wiki/Beatmapping/Beat_snapping/es.md
  wiki/Beatmapping/Beatmap_submission/es.md
  wiki/Beatmapping/Beatmap_submission/img/bss_submitting-ES.png
  wiki/Beatmapping/Beatmap_submission/img/bss_warning-ES.png
  wiki/Beatmapping/Mapping_techniques/Flow/es.md
  wiki/Beatmapping/Mapping_techniques/Time-distance_equality/es.md
  wiki/Beatmapping/Timing/es.md
Labels: area:translations, size/XL

#10442 [ES] Add `B` missing stubs (2)
  wiki/Beatmap/Pattern/osu!/Stream/es.md
  wiki/Beatmap/Pattern/osu!/es.md
  wiki/Beatmap/Pattern/osu!mania/Anchor/es.md
  wiki/Beatmap/Pattern/osu!mania/Chord/es.md
  wiki/Beatmap/Pattern/osu!mania/Hold_note/es.md
  wiki/Beatmap/Pattern/osu!mania/Jack/es.md
  wiki/Beatmap/Pattern/osu!mania/Stream/es.md
  wiki/Beatmap/Pattern/osu!mania/Trill/es.md
Labels: area:translations, size/L

#10467 Add `osu!(lazer) Updates: November 14th` news post
  news/2023/2023-11-14-osulazer-updates-november-14.md
  wiki/shared/news/2023-11-14-osulazer-updates-november-14/banner.jpg
  wiki/shared/news/2023-11-14-osulazer-updates-november-14/banner@2x.jpg
Labels: area:news, size/M

#10469 Fix lazer update news post title for consistency
  news/2023/2023-11-14-osulazer-updates-november-14.md
Labels: area:news, size/XS

#10464 [ES] Add `Featured Artist playlists`
  wiki/People/Featured_Artists/Featured_Artist_playlists/es.md
Labels: area:translations, size/L

#10330 Add `Ascaveth Invitational Tournament 2023: Last Chance Qualifier` wiki article
  wiki/Tournaments/AIT/2023_LCQ/en.md
  wiki/Tournaments/AIT/2023_LCQ/img/banner.png
  wiki/Tournaments/AIT/2023_LCQ/img/gf-bracket.png
  wiki/Tournaments/AIT/2023_LCQ/img/podium.png
  wiki/Tournaments/AIT/en.md
Labels: area:tournaments, size/L

#10454 [ZH] Add `/Beatmapping/Combo`
  wiki/Beatmapping/Combo/zh.md
Labels: area:translations, size/S

#10459 Update `BQT6` adding Winners for the tournament
  wiki/Tournaments/BQT/6/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/zh.md
Labels: area:tournaments, size/M

#10365 [ES] Native review of missing `G` articles
  wiki/Gameplay/Hit_object/Slider/Slider_anchor/es.md
  wiki/Gameplay/Hit_object/Slider/Slider_tick/es.md
  wiki/Gameplay/Hit_object/Slider/Slider_velocity/es.md
  wiki/Gameplay/Hit_object/Slider/Sliderbody/es.md
  wiki/Gameplay/Hit_object/Slider/Sliderhead/es.md
  wiki/Gameplay/Hit_object/Slider/Slidertail/es.md
  wiki/Gameplay/Hit_object/Spinner/es.md
Labels: area:translations, size/M

#10472 Fix link text in `Article styling criteria`
  wiki/Article_styling_criteria/Formatting/de.md
  wiki/Article_styling_criteria/Formatting/en.md
  wiki/Article_styling_criteria/Formatting/es.md
  wiki/Article_styling_criteria/Formatting/ko.md
  wiki/Article_styling_criteria/Formatting/ru.md
  wiki/Article_styling_criteria/Formatting/zh.md
Labels: size/S

#10473 Update `OWC 2023` Semifinals schedules
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
  wiki/Tournaments/OWC/2023/zh-tw.md
Labels: area:tournaments, size/M

#10474 Add `osu! World Cup 2023: Quarterfinals Recap` news post
  news/2023/2023-11-16-osu-world-cup-2023-quarterfinals-recap.md
Labels: area:news, size/M

#10477 Add missing periods in `osu! World Cup 2023: Quarterfinals Recap` news post
  news/2023/2023-11-16-osu-world-cup-2023-quarterfinals-recap.md
Labels: area:news, size/XS

#10476 Clarify beatmap veto conditions
  wiki/People/Beatmap_Nominators/Beatmap_Veto/en.md
  wiki/People/Beatmap_Nominators/Rules/en.md
Labels: size/XS

#10478 Fix title for osu!(lazer) update news posts
  news/2023/2023-09-25-osulazer-updates-september-24.md
  news/2023/2023-10-08-osulazer-updates-october-8.md
  news/2023/2023-10-26-osulazer-updates-october-26.md
  news/2023/2023-11-14-osulazer-updates-november-14.md
Labels: area:news, size/XS

#10436 [KO] Update `Support Team` to `Technical Support Team`
  wiki/Main_page/ko.md
  wiki/People/Account_support_team/ko.md
  wiki/People/ko.md
Labels: area:translations, size/XS

#10453 [KO] Update `meta/group-info`
  meta/group-info/ko.yaml
Labels: area:translations, area:meta, size/XS

#10475 [ZH] Add `/People/Featured_Artists`
  wiki/People/Featured_Artists/zh.md
Labels: area:translations, size/L

#10480 Add `New Featured Artist: you` news post
  news/2023/2023-11-18-new-featured-artist-you.md
Labels: area:news, size/M

#10482 Add missing maps to `New Featured Artist: you` news post
  news/2023/2023-11-18-new-featured-artist-you.md
Labels: size/S

#10483 Update `OWC 2023` Semifinals schedule
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
  wiki/Tournaments/OWC/2023/zh-tw.md
Labels: area:tournaments, size/M

#10494 Fix Drum & Bass pack link in `wiki/Medals/Unlock_requirements/Beatmap_packs`
  wiki/Medals/Unlock_requirements/Beatmap_packs/de.md
  wiki/Medals/Unlock_requirements/Beatmap_packs/en.md
  wiki/Medals/Unlock_requirements/Beatmap_packs/es.md
  wiki/Medals/Unlock_requirements/Beatmap_packs/ru.md
Labels: size/S

#10497 Update `OWC 2023` for the Finals week
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
  wiki/Tournaments/OWC/2023/zh-tw.md
Labels: area:tournaments, size/L

#10496 Add `Community Contributors: 2022 & 2023` news post
  news/2023/2023-11-19-community-contributors-2022-2023.md
  wiki/People/Community_Contributors/de.md
  wiki/People/Community_Contributors/en.md
  wiki/People/Community_Contributors/es.md
  wiki/People/Community_Contributors/it.md
  wiki/People/Community_Contributors/zh.md
  wiki/shared/news/2023-11-19-community-contributors-2022-2023/azer.jpg
  wiki/shared/news/2023-11-19-community-contributors-2022-2023/btmc.jpg
  wiki/shared/news/2023-11-19-community-contributors-2022-2023/cychloryn.jpg
  wiki/shared/news/2023-11-19-community-contributors-2022-2023/darksonic.jpg
  wiki/shared/news/2023-11-19-community-contributors-2022-2023/dio.jpg
  wiki/shared/news/2023-11-19-community-contributors-2022-2023/ephemeral.jpg
  wiki/shared/news/2023-11-19-community-contributors-2022-2023/famoss.jpg
  wiki/shared/news/2023-11-19-community-contributors-2022-2023/header.jpg
  wiki/shared/news/2023-11-19-community-contributors-2022-2023/hinsvar.jpg
  wiki/shared/news/2023-11-19-community-contributors-2022-2023/hivie.jpg
  wiki/shared/news/2023-11-19-community-contributors-2022-2023/jemzuu.jpg
  wiki/shared/news/2023-11-19-community-contributors-2022-2023/jerry.jpg
  wiki/shared/news/2023-11-19-community-contributors-2022-2023/meyer.jpg
  wiki/shared/news/2023-11-19-community-contributors-2022-2023/radar.jpg
  wiki/shared/news/2023-11-19-community-contributors-2022-2023/roan.jpg
  wiki/shared/news/2023-11-19-community-contributors-2022-2023/smokelind.jpg
  wiki/shared/news/2023-11-19-community-contributors-2022-2023/strategas.jpg
  wiki/shared/news/2023-11-19-community-contributors-2022-2023/tanza3d.jpg
  wiki/shared/news/2023-11-19-community-contributors-2022-2023/ticclick.jpg
  wiki/shared/news/2023-11-19-community-contributors-2022-2023/venix.jpg
  wiki/shared/news/2023-11-19-community-contributors-2022-2023/vrnl.jpg
Labels: area:news, size/L

#10498 Fix quotes in `Community Contributors: 2022 & 2023` news post
  news/2023/2023-11-19-community-contributors-2022-2023.md
Labels: area:news, size/S

#10499 Update `OWC 2023` Mappers listing
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
  wiki/Tournaments/OWC/2023/zh-tw.md
Labels: area:tournaments, size/XS

#10501 Update D I O's description in `Community Contributors: 2022 & 2023`
  news/2023/2023-11-19-community-contributors-2022-2023.md
Labels: area:news, size/XS

#10502 Fix a typo in `CC 2022 & 2023` news post
  news/2023/2023-11-19-community-contributors-2022-2023.md
Labels: area:news, size/XS

#10142 Add The First osu! Manga: osu! Combat Championship news post
  news/2023/2023-11-20-the-first-osu-manga-osu-combat-championship.md
  wiki/shared/news/2023-11-20-the-first-osu-manga-osu-combat-championship/Kariyu.jpg
  wiki/shared/news/2023-11-20-the-first-osu-manga-osu-combat-championship/Umbre.png
  wiki/shared/news/2023-11-20-the-first-osu-manga-osu-combat-championship/WhiteCat.jpg
  wiki/shared/news/2023-11-20-the-first-osu-manga-osu-combat-championship/banner.jpg
  wiki/shared/news/2023-11-20-the-first-osu-manga-osu-combat-championship/mrekk.png
  wiki/shared/news/2023-11-20-the-first-osu-manga-osu-combat-championship/occ-team.png
  wiki/shared/news/2023-11-20-the-first-osu-manga-osu-combat-championship/read-now.png
  wiki/shared/news/2023-11-20-the-first-osu-manga-osu-combat-championship/xootynator.jpg
Labels: area:news, size/M

#10500 Update `Users with unique titles`
  wiki/People/Users_with_unique_titles/bg.md
  wiki/People/Users_with_unique_titles/de.md
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/es.md
  wiki/People/Users_with_unique_titles/fr.md
  wiki/People/Users_with_unique_titles/id.md
  wiki/People/Users_with_unique_titles/pl.md
  wiki/People/Users_with_unique_titles/pt-br.md
  wiki/People/Users_with_unique_titles/th.md
  wiki/People/Users_with_unique_titles/tr.md
  wiki/People/Users_with_unique_titles/zh.md
Labels: size/L

#10506 Add _yosh to `People/Tournament_Committee`
  wiki/People/Tournament_Committee/de.md
  wiki/People/Tournament_Committee/en.md
  wiki/People/Tournament_Committee/es.md
  wiki/People/Tournament_Committee/fr.md
  wiki/People/Tournament_Committee/id.md
  wiki/People/Tournament_Committee/ko.md
  wiki/People/Tournament_Committee/ru.md
  wiki/People/Tournament_Committee/zh-tw.md
  wiki/People/Tournament_Committee/zh.md
Labels: size/S

#10380 Add `MCNC/7K2023` tournament article
  wiki/Tournaments/MCNC/7K2023/en.md
  wiki/Tournaments/MCNC/7K2023/img/badge.jpg
  wiki/Tournaments/MCNC/7K2023/img/banner.jpg
  wiki/Tournaments/MCNC/en.md
Labels: area:tournaments, size/XL

#10488 [DE] Fix issues in `BBCode`, `Client/Menu tips`, and `People/Users with unique titles`
  wiki/BBCode/de.md
  wiki/Client/Menu_tips/de.md
  wiki/People/Users_with_unique_titles/de.md
Labels: size/S

#10487 [DE] Change `vollfarbig` to `mehrfarbig` in `Brand identity guidelines` (and improve one wording)
  wiki/Brand_identity_guidelines/de.md
Labels: size/S

#10493 Change `Support Team` to `Technical Support Team` in meta information `TRANSLATING`
  meta/group-info/TRANSLATING.md
Labels: area:meta, size/XS

#10507 Add playlist C to Beatmap Spotlights Autumn 2023 wiki article
  wiki/Beatmap_Spotlights/Seasons/2023_Autumn/en.md
Labels: size/M

#10447 [DE] Add `Music theory/Downbeat`
  wiki/Music_theory/Downbeat/de.md
Labels: area:translations, size/S

#10444 [ES] Add `B` missing stubs (4)
  wiki/Beatmapping/Mapping_techniques/Blanket/es.md
  wiki/Beatmapping/Mapping_techniques/Overlap/es.md
  wiki/Beatmapping/Mapping_techniques/Stack/es.md
  wiki/Beatmapping/New_combo/es.md
  wiki/Beatmapping/Overmapping/es.md
  wiki/Beatmapping/Sampleset/es.md
  wiki/Beatmapping/Slider_tick_rate/es.md
  wiki/Bit_rate/es.md
Labels: area:translations, size/L

#10509 Add mappers to `CWC 2022`
  wiki/Tournaments/CWC/2022/en.md
Labels: area:tournaments, size/XS

#10384 Add Pereira006 to OWC 1 team listing
  wiki/Tournaments/OWC/1/en.md
Labels: area:tournaments, size/XS

#10251 [KO] Add `Help centre/Account`
  wiki/Help_centre/Account/ko.md
Labels: area:translations, size/L, area:help centre

#10321 [ES] Retranslate `Rules` and clean up `Help centre/Account restrictions`
  wiki/Help_centre/Account_restrictions/es.md
  wiki/People/Account_support_team/es.md
  wiki/People/Nomination_Assessment_Team/es.md
  wiki/Rules/Contributor_code_of_conduct/es.md
  wiki/Rules/es.md
Labels: area:translations, size/L, area:help centre

#10511 Add `osu! World Cup 2023: Semifinals Recap` news post
  news/2023/2023-11-21-osu-world-cup-2023-semifinals-recap.md
Labels: area:news, size/M

#10335 [FR] Update `Client/Beatmap editor/Song setup`
  wiki/Client/Beatmap_editor/Song_setup/fr.md
Labels: area:translations, size/L

#10515 Update `OWC 2023` Finals schedule, staff listing
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
  wiki/Tournaments/OWC/2023/zh-tw.md
Labels: area:tournaments, size/M

#10415 [ID] Add `Mapping techniques/Flow`
  wiki/Beatmapping/Mapping_techniques/Flow/id.md
Labels: area:translations, size/M

#10405 [FR] Update `Client/Beatmap editor/AiMod`
  wiki/Client/Beatmap_editor/AiMod/fr.md
  wiki/Client/Beatmap_editor/AiMod/img/AiMod-FR.png
Labels: area:translations, size/L

#10512 [ES] Fix typo in `Beatmap submission`
  wiki/Beatmapping/Beatmap_submission/es.md
Labels: area:translations, size/XS

#10435 [FR] Update `Gameplay`
  wiki/Gameplay/fr.md
Labels: area:translations, size/S

#10433 [FR] Update `History of osu!/osu! wiki`
  wiki/History_of_osu!/osu!_wiki/fr.md
Labels: area:translations, size/M, state/stale merge

#10407 [FR] Update `BBCode`
  wiki/BBCode/fr.md
  wiki/BBCode/img/editor-FR.png
  wiki/BBCode/img/font-size-FR.png
Labels: area:translations, size/L, state/stale merge

#10406 [FR] Update `Contests`
  wiki/Contests/fr.md
Labels: area:translations, size/L, state/stale merge

#10404 [FR] Update `Guides`
  wiki/Guides/fr.md
Labels: area:translations, size/M, state/stale merge

#10337 [FR] Update `Client/Beatmap editor/Timing`
  wiki/Client/Beatmap_editor/Timing/fr.md
  wiki/Client/Beatmap_editor/Timing/img/Timing_base-FR.jpg
  wiki/Client/Beatmap_editor/Timing/img/metronome-FR.png
  wiki/shared/timing/Timing_base-FR.jpg
Labels: area:translations, size/L, state/stale merge

#10323 [FR] Update `Tournaments/Official support`
  wiki/Tournaments/Official_support/fr.md
Labels: area:translations, area:tournaments, size/L, state/stale merge

#10316 [FR] Update `Skinning/History`
  wiki/Skinning/History/fr.md
Labels: area:translations, size/L, state/stale merge

#10314 [FR] Update `Ranking_criteria\osu!taiko`
  wiki/Ranking_criteria/osu!taiko/fr.md
Labels: area:translations, size/L, state/stale merge, area:ranking criteria
