Repository ppy/osu-wiki, pull requests merged in 2023-10, with the labels that each got.

#10082 Combine and adjust hitnormal and keysound feedback rules in `osu! ranking criteria`
  wiki/Ranking_criteria/osu!/en.md
  wiki/Ranking_criteria/osu!/ru.md
  wiki/Ranking_criteria/osu!/zh.md
Labels: type:update, size/S, rule change, area:ranking criteria

#10125 [ZH] Update `Skin.ini`, `Help centre/Beatmapping`, `Reporting bad behaviour` and sub articles
  wiki/Help_centre/Beatmapping/zh.md
  wiki/Reporting_bad_behaviour/Abuse/zh.md
  wiki/Reporting_bad_behaviour/Handling_foul_play/zh.md
  wiki/Reporting_bad_behaviour/zh.md
  wiki/Skinning/skin.ini/zh.md
Labels: area:translations, type:update, size/L

#10115 [DE] Add `Beatmap/Genre and language`
  wiki/Beatmap/Genre_and_language/de.md
  wiki/Beatmap/Genre_and_language/img/beatmap-info-DE.png
  wiki/Beatmap/Genre_and_language/img/beatmap-listing-DE.png
Labels: area:translations, type:new article, area:website, size/M

#10124 [ZH] Update `Genre and language` and `Medals`
  wiki/Beatmap/Genre_and_language/zh.md
  wiki/Medals/zh.md
Labels: area:translations, type:update, area:website, size/S

#10126 Add `osu! originals - osu!mania 4K World Cup 2023` news article
  news/2023/2023-10-03-osu-originals-osu-mania-4k-world-cup-2023.md
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: area:news, type:new article, size/L

#10127 Update outdated trivia point in `Profile badge`
  wiki/Community/Profile_badge/de.md
  wiki/Community/Profile_badge/en.md
  wiki/Community/Profile_badge/es.md
  wiki/Community/Profile_badge/fr.md
  wiki/Community/Profile_badge/zh.md
Labels: size/S

#10131 Add missing song name to MWC4K 2023 originals news post
  news/2023/2023-10-03-osu-originals-osu-mania-4k-world-cup-2023.md
Labels: area:news, type:clean up, size/XS

#10133 Fix errors in MWC 4K 2023 osu! originals news post
  news/2023/2023-10-03-osu-originals-osu-mania-4k-world-cup-2023.md
Labels: area:news, type:clean up, size/XS

#10134 Remove misleading combo multiplier note from `Gameplay/Full combo`
  wiki/Gameplay/Full_combo/de.md
  wiki/Gameplay/Full_combo/en.md
  wiki/Gameplay/Full_combo/fr.md
  wiki/Gameplay/Full_combo/id.md
  wiki/Gameplay/Full_combo/it.md
  wiki/Gameplay/Full_combo/ja.md
  wiki/Gameplay/Full_combo/ru.md
Labels: type:clean up, size/S, area:gameplay

#10137 Update `OWC 2023` links
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
Labels: type:update, area:tournaments, size/XS

#10129 [DE] Update `People/osu! team`
  wiki/People/osu!_team/de.md
Labels: area:translations, type:update, size/M

#10132 Update `4DM` wiki articles
  wiki/Tournaments/4DM/2/en.md
  wiki/Tournaments/4DM/2023/en.md
  wiki/Tournaments/4DM/2023/img/badge.jpg
  wiki/Tournaments/4DM/2023/img/badge@2x.jpg
  wiki/Tournaments/4DM/3/en.md
  wiki/Tournaments/4DM/4/en.md
  wiki/Tournaments/4DM/4/img/badge.jpg
Labels: type:update, area:tournaments, size/L

#10140 Add participants table to `OWC 2023`
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
Labels: type:update, area:tournaments, size/M

#10009 [KO] Update `Tournaments/Official_support`
  wiki/Tournaments/Official_support/ko.md
Labels: area:translations, type:update, area:tournaments, size/M

#10141 Add `New Featured Artist: Kou!` news article
  news/2023/2023-10-07-new-featured-artist-kou.md
  wiki/People/Featured_Artists/Featured_Artist_playlists/en.md
Labels: area:news, type:new article, size/L

#10144 Update staff listing, auth image, and invite link for `osu!taiko Modding & Mapping Hub`
  wiki/Community/Discord_servers/osu!taiko_Modding_&_Mapping_Hub/de.md
  wiki/Community/Discord_servers/osu!taiko_Modding_&_Mapping_Hub/en.md
  wiki/Community/Discord_servers/osu!taiko_Modding_&_Mapping_Hub/es.md
  wiki/Community/Discord_servers/osu!taiko_Modding_&_Mapping_Hub/fr.md
  wiki/Community/Discord_servers/osu!taiko_Modding_&_Mapping_Hub/img/auth.jpg
  wiki/Community/Discord_servers/osu!taiko_Modding_&_Mapping_Hub/img/auth.png
  wiki/Community/Discord_servers/osu!taiko_Modding_&_Mapping_Hub/sr.md
Labels: type:update, size/M, area:community

#10143 Add wafer to `Centurions`
  wiki/People/Centurions/en.md
  wiki/People/Centurions/es.md
  wiki/People/Centurions/fr.md
  wiki/People/Centurions/it.md
  wiki/People/Centurions/zh.md
Labels: type:update, size/S, area:community

#10145 Update staff listing for osu!mania mapping & modding hub
  wiki/Community/Discord_servers/osu!mania_Modding_&_Mapping_Hub/de.md
  wiki/Community/Discord_servers/osu!mania_Modding_&_Mapping_Hub/en.md
  wiki/Community/Discord_servers/osu!mania_Modding_&_Mapping_Hub/es.md
  wiki/Community/Discord_servers/osu!mania_Modding_&_Mapping_Hub/fr.md
  wiki/Community/Discord_servers/osu!mania_Modding_&_Mapping_Hub/sr.md
Labels: type:update, size/S, area:community

#10146 Add `osu!(lazer) Updates: October 8` news post
  news/2023/2023-10-08-osulazer-updates-october-8.md
  wiki/shared/news/2023-10-08-osulazer-updates-october-8/banner.jpg
  wiki/shared/news/2023-10-08-osulazer-updates-october-8/banner@2x.jpg
Labels: area:news, type:new article, size/M

#10147 Mark Kou! as FA in `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/XS

#10148 Fix typo in `osu!(lazer) Updates: October 8` news post
  news/2023/2023-10-08-osulazer-updates-october-8.md
Labels: area:news, type:clean up, size/XS

#10150 [TR] Add `Silence`
  wiki/Silence/tr.md
Labels: size/M

#10151 Update `OWC 2023` team listing
  wiki/Tournaments/OWC/2023/en.md
Labels: type:update, area:tournaments, size/M

#10153 Update `OWC 2023` team listing
  wiki/Tournaments/OWC/2023/en.md
Labels: type:update, area:tournaments, size/XS

#9969 [ES] Add `Tournaments`
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/zh.md
Labels: area:translations, type:new article, area:tournaments, size/XL

#10041 [ES] Update some `People` articles
  wiki/Main_page/es.md
  wiki/People/Beatmap_Nominators/es.md
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Nomination_Assessment_Team/es.md
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/es.md
  wiki/People/es.md
Labels: area:translations, type:update, size/L, area:community

#10130 [FR] Update `Music theory/Tempo`
  wiki/Music_theory/Tempo/fr.md
Labels: area:translations, type:update, size/M, stale merge

#10128 [FR] Update `Gameplay/Kiai time`
  wiki/Gameplay/Kiai_time/fr.md
Labels: area:translations, type:update, size/M, stale merge, area:gameplay

#10054 [ES] Add `Gameplay/Full combo` and `Gameplay/Combo multiplier effect`; review `Gameplay/Accuracy` and `Gameplay/Choke`
  wiki/Gameplay/Accuracy/es.md
  wiki/Gameplay/Choke/es.md
  wiki/Gameplay/Combo_multiplier_effect/es.md
  wiki/Gameplay/Full_combo/es.md
  wiki/Gameplay/es.md
Labels: area:translations, type:new article, type:clean up, size/M, area:gameplay

#10106 [FR] Update `Guides/Audio editing`
  wiki/Guides/Audio_editing/fr.md
Labels: area:translations, area:utilities, type:update, size/L, stale merge

#10105 [FR] Update `Skinning/Sounds`
  wiki/Skinning/Sounds/fr.md
Labels: area:translations, type:update, size/L, stale merge, area:skinning

#10104 [FR] Update `Main page`
  wiki/Main_page/fr.md
Labels: area:translations, type:update, area:website, size/M, stale merge

#10101 [FR] Update `Rules/Contributor code of conduct`
  wiki/Rules/Contributor_code_of_conduct/fr.md
Labels: area:translations, type:update, size/M, stale merge

#10103 [VI] Add `Help centre/Account`
  wiki/Help_centre/Account/vi.md
Labels: area:translations, type:new article, size/L, stale merge, area:help centre

#10089 [VI] Add `Client/File formats/osz (file format)`
  wiki/Client/File_formats/osz_(file_format)/vi.md
Labels: area:translations, type:new article, size/XS, stale merge, area:client

#9937 [VI] Add `People`
  wiki/People/vi.md
Labels: area:translations, type:new article, size/M, area:community

#10156 Remove superfluous "for" in "Time signature" article
  wiki/Music_theory/Time_signature/en.md
Labels: type:clean up, size/XS, area:beatmapping

#10157 Update `OWC 2023` team listing
  wiki/Tournaments/OWC/2023/en.md
Labels: size/S

#10158 Update `OWC 2023` staff listing
  wiki/Tournaments/OWC/2023/en.md
Labels: size/XS

#10163 Update `OWC 2023` team listing
  wiki/Tournaments/OWC/2023/en.md
Labels: type:update, area:tournaments, size/S

#10164 [DE] Add a translation-specific tag to "User Group" article
  wiki/People/User_group/de.md
Labels: size/XS

#10160 CI: Update `node_modules` cache on pushes to `master`
  .github/workflows/continuous-integration.yml
  .github/workflows/refresh-cache.yml
Labels: area:utilities, type:update, size/M

#10161 Add `Monthly Beatmapping Contest: October 2023` news article
  news/2023/2023-10-10-monthly-beatmapping-contest-october-2023.md
Labels: size/M

#10154 [KO] Update `OWC/2023`
  wiki/Tournaments/OWC/2023/ko.md
Labels: area:translations, type:update, area:tournaments, size/M

#10149 Add `osu!mania 4K World Cup 2023 Concludes` news post
  news/2023/2023-10-12-osu-mania-world-cup-2023.md
Labels: area:news, type:new article, size/L

#10166 Update `OWC 2023` team and staff listings
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
Labels: type:update, area:tournaments, size/M

#10167 Clarify osu!taiko rules in `MBC October 2023` news post
  news/2023/2023-10-10-monthly-beatmapping-contest-october-2023.md
Labels: area:news, type:update, size/XS

#9965 [ES] Clean `Formatting`
  wiki/Article_styling_criteria/Formatting/es.md
Labels: area:translations, area:utilities, type:clean up, size/L

#10171 Update `OWC 2023` team listing
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
Labels: type:update, area:tournaments, size/M

#10170 Beatmap description: Update "difficulty section" section
  wiki/Beatmap/Beatmap_description/en.md
  wiki/Beatmap/Beatmap_description/es.md
  wiki/Beatmap/Beatmap_description/fr.md
  wiki/Beatmap/Beatmap_description/id.md
  wiki/Beatmap/Beatmap_description/it.md
  wiki/Beatmap/Beatmap_description/pt-br.md
  wiki/Beatmap/Beatmap_description/ru.md
  wiki/Beatmap/Beatmap_description/th.md
  wiki/Beatmap/Beatmap_description/zh.md
Labels: type:clean up, area:website, size/M

#10173 Add `New Featured Artist: ColBreakz` news article
  news/2023/2023-10-15-new-featured-artist-colbreakz.md
Labels: area:news, type:new article, size/M

#10172 Remove the word "you" from `Announcement messages`
  wiki/Announcement_messages/en.md
  wiki/Announcement_messages/es.md
  wiki/Announcement_messages/fr.md
  wiki/Announcement_messages/it.md
  wiki/Announcement_messages/vi.md
Labels: type:clean up, area:website, size/S

#10178 Update `OWC 2023` for the Qualifier stage
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
Labels: type:update, area:tournaments, size/M

#10087 [ES] Clean up `Reporting bad behaviour` and `Silence`
  wiki/Reporting_bad_behaviour/es.md
  wiki/Silence/es.md
Labels: area:translations, type:clean up, size/M

#10190 Update `OWC 2023` commentators
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
Labels: type:update, area:tournaments, size/XS

#10193 Update ```OWC 2023``` Commentators
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
Labels: size/XS

#10139 [ZH] Update `Profile badge` and `Ranking criteria/osu!`
  wiki/Community/Profile_badge/zh.md
  wiki/Ranking_criteria/osu!/zh.md
Labels: area:translations, type:update, area:website, size/S, area:ranking criteria

#10174 [KO] Translate country names in `OWC/2023`
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
Labels: area:translations, area:tournaments, type:clean up, size/L

#10175 Update `Ranking criteria` with FA tag usage and AI content crediting
  wiki/Ranking_criteria/en.md
  wiki/Ranking_criteria/ru.md
  wiki/Ranking_criteria/zh.md
Labels: type:update, size/S, rule change, area:ranking criteria

#10189 Update .markdownlint.json
  .markdownlint.json
Labels: area:utilities, type:update, size/XS

#10208 Update `OWC 2023` staff listing
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
Labels: size/XS

#10207 Add Halloween 2023 Fanart Contest: Voting Open! news post
  news/2023/2023-10-18-halloween-2023-fanart-voting-open.md
Labels: area:news, type:new article, size/M

#10209 Update `Project Loved` with removal process
  wiki/Community/Project_Loved/en.md
Labels: type:update, size/XS, area:community

#10213 [ZH] Fix error in `Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/zh.md
Labels: area:translations, type:clean up, size/XS, area:help centre

#10215 Add winner badge to `COE 2023 1v1 osu! Tournament`
  wiki/Tournaments/COE/COE_2023/en.md
  wiki/Tournaments/COE/COE_2023/img/badge.png
Labels: type:update, area:tournaments, size/XS

#10212 Add SCTL page
  wiki/Legal/SCTL/en.md
  wiki/Legal/SCTL/ja.md
  wiki/Legal/de.md
  wiki/Legal/en.md
  wiki/Legal/es.md
  wiki/Legal/fr.md
  wiki/Legal/id.md
  wiki/Legal/ja.md
  wiki/Legal/ko.md
  wiki/Legal/pt-br.md
  wiki/Legal/ru.md
  wiki/Legal/sv.md
  wiki/Legal/tr.md
  wiki/Legal/zh-tw.md
Labels: type:new article, size/M, area:legal

#10221 CI: Remove unnecessary `git status` check
  .github/workflows/continuous-integration.yml
Labels: area:utilities, type:clean up, size/S

#10200 [DE] Add `Beatmap/Background`
  wiki/Beatmap/Background/de.md
Labels: area:translations, type:new article, size/S, area:beatmapping

#10199 [DE] Add `Authentic Beatmap`
  wiki/Beatmap/Authentic/de.md
Labels: area:translations, type:new article, size/S, area:beatmapping

#10179 [ES] Native review of `Circle size`
  wiki/Beatmap/Circle_size/es.md
Labels: area:translations, type:clean up, size/S, area:gameplay

#10182 [ES] Update `Beatmap description`
  wiki/Beatmap/Beatmap_description/es.md
  wiki/Beatmap/Beatmap_description/id.md
Labels: area:translations, type:update, area:website, size/S

#10187 Replace "x" with "×" in resolutions in `Client/Playfield`
  wiki/Client/Playfield/en.md
Labels: type:clean up, size/XS

#10188 [ES] Add `Client/Playfield`
  wiki/Client/Playfield/es.md
Labels: area:translations, type:new article, size/M, area:client

#10184 [ES] Update Trivia in `Profile badge`
  wiki/Community/Profile_badge/es.md
Labels: area:translations, type:update, area:website, size/S

#9418 [ES] Add several `Game modifier` articles
  wiki/Gameplay/Game_modifier/Fade_In/es.md
  wiki/Gameplay/Game_modifier/Fade_Out/es.md
  wiki/Gameplay/Game_modifier/Flashlight/es.md
  wiki/Gameplay/Game_modifier/Half_Time/es.md
  wiki/Gameplay/Game_modifier/Hard_Rock/es.md
  wiki/Gameplay/Game_modifier/Hidden/es.md
  wiki/Gameplay/Game_modifier/Mirror/es.md
  wiki/Gameplay/Game_modifier/Nightcore/es.md
  wiki/Gameplay/Game_modifier/No_Fail/es.md
  wiki/Gameplay/Game_modifier/No_Video/es.md
  wiki/Gameplay/Game_modifier/Perfect/es.md
  wiki/Gameplay/Game_modifier/Random/es.md
  wiki/Gameplay/Game_modifier/Relax/es.md
  wiki/Gameplay/Game_modifier/ScoreV2/es.md
  wiki/Gameplay/Game_modifier/Spun_Out/es.md
  wiki/Gameplay/Game_modifier/Sudden_Death/es.md
  wiki/Gameplay/Game_modifier/Target_Practice/es.md
  wiki/Gameplay/Game_modifier/xK/es.md
Labels: area:translations, type:new article, size/XL, area:gameplay

#10223 Revert "Replace "x" with "×" in resolutions in `Client/Playfield`"
  wiki/Client/Playfield/en.md
  wiki/Client/Playfield/es.md
Labels: type:clean up, size/S

#10226 Clean up misc. SCTL problems
  .github/CODEOWNERS
  .remarkignore
  wiki/Legal/SCTL/en.md
  wiki/Legal/SCTL/ja.md
Labels: type:clean up, size/S, area:legal

#10227 Update `OWC 2023` staff listing
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
Labels: size/XS

#10216 Update `Ranking Criteria/osu!` to include slider tracks in kiai luminosity guideline
  wiki/Ranking_criteria/osu!/en.md
  wiki/Ranking_criteria/osu!/zh.md
Labels: type:update, size/XS, rule change, area:ranking criteria

#10228 Remove spaces after comma in `Legal/SCTL`
  wiki/Legal/SCTL/ja.md
Labels: size/XS

#10203 [ES] Update `Account support team`
  wiki/People/Account_support_team/es.md
Labels: area:translations, type:update, size/S

#10222 [UK] Update `Main Page` translation
  wiki/Main_page/uk.md
Labels: area:translations, type:update, size/S

#10229 Update chat rate limits in `Bot account`
  wiki/Bot_account/de.md
  wiki/Bot_account/en.md
  wiki/Bot_account/fr.md
  wiki/Bot_account/id.md
  wiki/Bot_account/it.md
  wiki/Bot_account/ru.md
  wiki/Bot_account/vi.md
  wiki/Bot_account/zh.md
Labels: type:update, area:website, size/S

#10230 Add `updated` filter to `Beatmap search`
  wiki/Beatmap_search/de.md
  wiki/Beatmap_search/en.md
  wiki/Beatmap_search/es.md
  wiki/Beatmap_search/ru.md
Labels: size/XS

#10231 [UK] Add `Beatmapping`
  wiki/Beatmapping/uk.md
Labels: area:translations, type:new article, size/M, area:beatmapping

#10233 [UK] Add `Game mode`
  wiki/Game_mode/uk.md
Labels: area:translations, type:new article, size/M, area:gameplay

#10225 [UK] Translate `osu! Medal Hunters`
  wiki/Community/Discord_servers/osu!_Medal_Hunters/uk.md
Labels: area:translations, type:new article, size/M, area:community

#10232 [UK] Add `User Group` and fix minor issues in `Beatmapping`
  wiki/Beatmapping/uk.md
  wiki/People/User_group/uk.md
Labels: type:new article, type:clean up, size/M, area:beatmapping, area:community

#10236 [UK] Update `Community` index page
  wiki/Community/uk.md
Labels: area:translations, type:update, size/S, area:community

#10238 Fix typo in `Article styling criteria/Formatting`
  wiki/Article_styling_criteria/Formatting/en.md
Labels: area:utilities, type:clean up, size/XS

#10239 Clean up `Timestamp`, document mania format, and use better examples
  wiki/Modding/Timestamp/en.md
  wiki/Modding/Timestamp/fr.md
  wiki/Modding/Timestamp/id.md
  wiki/Modding/Timestamp/ja.md
  wiki/Modding/Timestamp/tr.md
Labels: type:update, type:clean up, size/M, area:modding

#10243 [UK] Add osu! file formats article
  wiki/Client/File_formats/uk.md
Labels: area:translations, type:new article, size/M, area:client

#10247 [ZH] Minor formatting fix in `Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/zh.md
Labels: area:translations, type:clean up, size/XS, area:help centre

#10250 Conclude `cavoe's osu! event 2023`
  wiki/Community/cavoe's_osu!_event/2023/en.md
Labels: type:update, size/S, area:community

#10245 Update wording for the CI welcome bot
  .github/workflows/welcome-new-contributors.yml
Labels: area:utilities, type:update, size/XS

#10241 [ES] Update `Beatmap search`
  wiki/Beatmap_search/es.md
Labels: area:translations, type:update, area:website, size/S

#10255 [UK] Add missing tags for `User Group` and `osu! Medal Hunters`
  wiki/Community/Discord_servers/osu!_Medal_Hunters/uk.md
  wiki/People/User_group/uk.md
Labels: area:translations, type:clean up, size/XS

#10249 [UK] Add `Bot Account`
  wiki/Bot_account/uk.md
Labels: area:translations, type:new article, size/M, area:client

#10165 [DE] Add `Announcement messages`
  wiki/Announcement_messages/de.md
Labels: area:translations, type:new article, area:website, size/M

#10256 Add Halloween 2023 Descends news post
  news/2023/2023-10-22-halloween-descends.md
Labels: area:news, type:new article, size/L

#10261 [UK] Add `Silence`
  wiki/Silence/uk.md
Labels: area:translations, type:new article, size/M, area:community

#10263 Add New Featured Artist: Will Stetson news post
  news/2023/2023-10-22-new-featured-artist-will-stetson.md
Labels: area:news, type:new article, size/M

#10264 Fix link in `New Featured Artist: Will Stetson` article
  news/2023/2023-10-22-new-featured-artist-will-stetson.md
Labels: area:news, type:update, size/XS

#10265 Update `OWC 2023` for the RO32 stage
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
Labels: type:update, area:tournaments, size/L

#10258 Add Hivie to `osu! wiki maintainers`
  wiki/People/osu!_wiki_maintainers/de.md
  wiki/People/osu!_wiki_maintainers/en.md
  wiki/People/osu!_wiki_maintainers/es.md
  wiki/People/osu!_wiki_maintainers/fr.md
  wiki/People/osu!_wiki_maintainers/id.md
  wiki/People/osu!_wiki_maintainers/ko.md
  wiki/People/osu!_wiki_maintainers/ru.md
  wiki/People/osu!_wiki_maintainers/zh-tw.md
Labels: type:update, size/S, area:community

#10177 [DE] Add `Circle Size`
  wiki/Beatmap/Circle_size/de.md
  wiki/Beatmap/Circle_size/en.md
  wiki/Beatmap/Circle_size/es.md
  wiki/Beatmap/Circle_size/fr.md
  wiki/Beatmap/Circle_size/id.md
  wiki/Beatmap/Circle_size/it.md
  wiki/Beatmap/Circle_size/ja.md
  wiki/Beatmap/Circle_size/ru.md
  wiki/Beatmap/Circle_size/sk.md
  wiki/Beatmap/Circle_size/zh-tw.md
  wiki/Beatmap/Circle_size/zh.md
Labels: area:translations, type:new article, size/M, area:gameplay

#10269 Add missing vote count into Halloween 2023 fanart blurb
  news/2023/2023-10-22-halloween-descends.md
Labels: area:news, type:clean up

#10271 Update `Featured Artists`
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/ru.md
Labels: type:update, size/S, area:community

#10277 Update `OWC 2023` staff listing, links
  wiki/Tournaments/OWC/2023/en.md
Labels: size/XS

#10275 Add Beatmap Spotlights Autumn 2023 news post & wiki article
  news/2023/2023-10-23-beatmap-spotlights-season-10-autumn-2023.md
  wiki/Beatmap_Spotlights/Seasons/2023_Autumn/en.md
  wiki/Beatmap_Spotlights/Seasons/en.md
  wiki/Beatmap_Spotlights/Seasons/es.md
  wiki/Beatmap_Spotlights/Seasons/fr.md
  wiki/Beatmap_Spotlights/Seasons/id.md
  wiki/Beatmap_Spotlights/Seasons/ja.md
  wiki/Beatmap_Spotlights/Seasons/ru.md
  wiki/Beatmap_Spotlights/Seasons/zh-tw.md
  wiki/Beatmap_Spotlights/Seasons/zh.md
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/bronze_1.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/bronze_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/bronze_2.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/bronze_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/copper_1.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/copper_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/copper_2.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/copper_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/diamond_1.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/diamond_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/diamond_2.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/diamond_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/gold_1.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/gold_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/gold_2.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/gold_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/iron_1.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/iron_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/iron_2.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/iron_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/osu! Silver 3 2023 Autumn@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/platinum_1.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/platinum_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/platinum_2.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/platinum_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/ri_1.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/ri_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/ri_2.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/ri_2@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/silver_1.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/silver_1@2x.png
  wiki/Beatmap_Spotlights/img/badges/autumn_2023/osu/silver_2.png
  wiki/shared/news/2023-10-23-beatmap-spotlights-season-10-autumn-2023/1613520.jpg
  wiki/shared/news/2023-10-23-beatmap-spotlights-season-10-autumn-2023/253969.jpg
  wiki/shared/news/2023-10-23-beatmap-spotlights-season-10-autumn-2023/29691.jpg
  wiki/shared/news/2023-10-23-beatmap-spotlights-season-10-autumn-2023/376340.jpg
  wiki/shared/news/2023-10-23-beatmap-spotlights-season-10-autumn-2023/7380.jpg
Labels: area:news, type:new article, size/L

#10278 Escape tildes in Beatmap Spotlights Autumn 2023 wiki article and news post
  news/2023/2023-10-23-beatmap-spotlights-season-10-autumn-2023.md
  wiki/Beatmap_Spotlights/Seasons/2023_Autumn/en.md
Labels: area:news, type:clean up, size/S, area:community

#10279 Fix doubled word typo in Beatmap Spotlights August 2023 news post
  news/2023/2023-10-23-beatmap-spotlights-season-10-autumn-2023.md
Labels: area:news, type:clean up, size/XS

#10259 [ES] Small word fix in `osu! originals`
  wiki/osu!_originals/es.md
Labels: area:translations, type:clean up, size/XS, area:community

#10267 Remove defunct clause from osu! and osu!taiko RC spread rules
  wiki/Ranking_criteria/osu!/en.md
  wiki/Ranking_criteria/osu!taiko/de.md
  wiki/Ranking_criteria/osu!taiko/en.md
  wiki/Ranking_criteria/osu!taiko/ru.md
Labels: type:clean up, size/S, area:ranking criteria

#10266 [ZH-TW] Add `Do_you_really_want_to_ask_peppy`
  wiki/Do_you_really_want_to_ask_peppy/zh-tw.md
Labels: area:translations, type:new article, size/S, area:community

#10195 [ZH] Update `BBCode`
  wiki/BBCode/img/editor-ZH.png
  wiki/BBCode/img/font-size-ZH.png
  wiki/BBCode/zh.md
Labels: area:translations, type:update, area:website, size/XL

#10194 [ZH] Update `Beatmap description`
  wiki/Beatmap/Beatmap_description/zh.md
Labels: area:translations, type:update, area:website, size/S

#10274 Update activity expectations for returning Beatmap Nominators in `Rules for Beatmap Nominators`
  wiki/People/Beatmap_Nominators/Rules/en.md
  wiki/People/Beatmap_Nominators/Rules/ru.md
Labels: type:update, size/XS, area:community

#10281 [UK] Add `Mascots`
  wiki/Mascots/uk.md
Labels: area:translations, type:new article, size/L, area:community

#10191 [DE] Review `Global Moderation Team`
  wiki/People/Global_Moderation_Team/de.md
Labels: area:translations, type:clean up, size/M, area:community

#10286 Fix incorrect channel name in `osu! Discord server`
  wiki/Community/osu!_Discord_server/de.md
  wiki/Community/osu!_Discord_server/en.md
  wiki/Community/osu!_Discord_server/es.md
  wiki/Community/osu!_Discord_server/fr.md
  wiki/Community/osu!_Discord_server/it.md
  wiki/Community/osu!_Discord_server/ko.md
  wiki/Community/osu!_Discord_server/zh.md
Labels: type:clean up, size/S, area:community

#10268 [KO] Update `OWC 2023` to RO32
  wiki/Tournaments/OWC/2023/ko.md
Labels: area:translations, type:update, area:tournaments, size/L

#10273 [ES] Clean up `Twitter`
  wiki/Twitter/es.md
Labels: area:translations, type:clean up, size/S, area:community

#10234 [DE] Add `Marathon`
  wiki/Beatmap/Marathon/de.md
Labels: area:translations, type:new article, size/S, area:beatmapping

#10280 Update `osu! originals` with 11 tracks
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/L

#10253 Clean up difficulty naming articles
  wiki/Beatmap/Difficulty/de.md
  wiki/Beatmap/Difficulty/en.md
  wiki/Beatmap/Difficulty/es.md
  wiki/Beatmap/Difficulty/fr.md
  wiki/Beatmap/Difficulty/id.md
  wiki/Beatmap/Difficulty/it.md
  wiki/Beatmap/Difficulty/ja.md
  wiki/Beatmap/Difficulty/pt-br.md
  wiki/Beatmap/Difficulty/ru.md
  wiki/Beatmap/Difficulty/tr.md
  wiki/Beatmap/Difficulty/zh.md
  wiki/Ranking_criteria/Difficulty_naming/de.md
  wiki/Ranking_criteria/Difficulty_naming/en.md
  wiki/Ranking_criteria/Difficulty_naming/fr.md
  wiki/Ranking_criteria/Difficulty_naming/id.md
  wiki/Ranking_criteria/Difficulty_naming/ja.md
  wiki/Ranking_criteria/Difficulty_naming/ko.md
  wiki/Ranking_criteria/Difficulty_naming/ru.md
  wiki/Ranking_criteria/Difficulty_naming/zh-tw.md
  wiki/Ranking_criteria/Difficulty_naming/zh.md
  wiki/Ranking_criteria/osu!/en.md
  wiki/Ranking_criteria/osu!/ko.md
  wiki/Ranking_criteria/osu!catch/en.md
  wiki/Ranking_criteria/osu!catch/ja.md
  wiki/Ranking_criteria/osu!mania/en.md
  wiki/Ranking_criteria/osu!mania/id.md
  wiki/Ranking_criteria/osu!mania/ja.md
  wiki/Ranking_criteria/osu!mania/ko.md
  wiki/Ranking_criteria/osu!taiko/de.md
  wiki/Ranking_criteria/osu!taiko/en.md
  wiki/Ranking_criteria/osu!taiko/fr.md
  wiki/Ranking_criteria/osu!taiko/id.md
  wiki/Ranking_criteria/osu!taiko/ja.md
  wiki/Ranking_criteria/osu!taiko/ko.md
  wiki/Ranking_criteria/osu!taiko/nl.md
  wiki/Ranking_criteria/osu!taiko/ru.md
  wiki/Ranking_criteria/osu!taiko/zh.md
Labels: type:update, type:clean up, size/L, area:beatmapping, area:ranking criteria

#10284 [UK] Add `Staff Log` and `Staff Log 2007`
  wiki/People/Staff_log/2007/uk.md
  wiki/People/Staff_log/uk.md
Labels: area:translations, type:new article, size/M, area:community

#10204 [DE] Remove `bestätigt` as a translation for `approved` from the ASC
  wiki/Article_styling_criteria/Writing/de.md
Labels: area:translations, type:clean up, size/XS

#10289 Update `OWC 2023` RO32 schedules
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
Labels: type:update, area:tournaments, size/M

#10288 [IT] Update `Medals`
  wiki/Medals/it.md
Labels: area:translations, type:update, area:website, size/XS

#10287 [UK] Add `Support Team`
  wiki/People/Support_Team/uk.md
Labels: area:translations, type:new article, size/M, area:community

#10283 [UK] Add `Changelog` and add a tag for other languages
  wiki/Changelog/de.md
  wiki/Changelog/en.md
  wiki/Changelog/es.md
  wiki/Changelog/fr.md
  wiki/Changelog/id.md
  wiki/Changelog/uk.md
  wiki/Changelog/zh-tw.md
Labels: area:translations, type:new article, area:website, size/M

#10180 [ES] Convert hyphens to slashes in Spanish dates
  wiki/Game_mode/osu!mania/es.md
  wiki/History_of_osu!/April_Fools/es.md
  wiki/History_of_osu!/Mapping_and_modding_timeline/es.md
Labels: area:translations, type:clean up, size/L

#10181 Fix translations of average rank time in `Centurions` and add comment for future updates
  wiki/People/Centurions/en.md
  wiki/People/Centurions/es.md
  wiki/People/Centurions/fr.md
  wiki/People/Centurions/it.md
  wiki/People/Centurions/zh.md
Labels: area:translations, type:clean up, size/M, area:community

#10290 Add `osu!(lazer) Updates: October 26` news post
  news/2023/2023-10-26-osulazer-updates-october-26.md
  wiki/shared/news/2023-10-08-osulazer-updates-october-26/banner.jpg
  wiki/shared/news/2023-10-08-osulazer-updates-october-26/banner@2x.jpg
Labels: area:news, type:new article, size/M

#10295 Pin Python minor version to 3.11
  .github/workflows/continuous-integration.yml
  Dockerfile
Labels: area:utilities, type:update, size/XS

#10293 Add `Community Mentorship Program Public Opening and Winter Cycle Mentor Signups` news post
  news/2023/2023-10-29-community-mentorship-program-public-opening-and-winter-cycle-mentor-signups.md
Labels: area:news, type:new article, size/M

#10300 Update `OWC 2023` links
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
Labels: size/XS

#10304 Add `New Featured Artist: Dustvoxx` news article
  news/2023/2023-10-28-new-featured-artist-dustvoxx.md
Labels: area:news, size/M

#10291 Fix table printing in remark-stringify
  .github/workflows/refresh-cache.yml
  .remarkrc.js
  meta/remark/markdown-table/index.js
  meta/remark/markdown-table/package.json
  package-lock.json
  package.json
Labels: area:utilities, type:update, size/L

#10306 Fix 0143's user link in FA playlists article and news post
  news/2023/2023-10-07-new-featured-artist-kou.md
  wiki/People/Featured_Artists/Featured_Artist_playlists/en.md
Labels: area:news, type:clean up, size/XS, area:community

#10308 Update `OWC 2023` with RO32 partial results
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
Labels: type:update, area:tournaments, size/S

#10240 [ZH-TW] Add `OWC/2023`
  wiki/Tournaments/OWC/2023/zh-tw.md
Labels: area:translations, type:new article, area:tournaments, size/L

#10198 [VI] Update `Announcement Messages`
  wiki/Announcement_messages/vi.md
Labels: area:translations, type:update, area:website, size/S, stale merge

#10201 [VI] Update `Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/vi.md
Labels: area:translations, type:update, size/M, stale merge, area:client

#10310 [KO] Update `OWC 2023` RO32 results
  wiki/Tournaments/OWC/2023/ko.md
Labels: area:translations, type:update, area:tournaments, size/S

#10311 Update NAT and DEV group icon colours
  wiki/People/User_group/de.md
  wiki/People/User_group/en.md
  wiki/People/User_group/es.md
  wiki/People/User_group/fr.md
  wiki/People/User_group/uk.md
  wiki/shared/group/DEV.png
  wiki/shared/group/NAT.png
Labels: type:update, size/S, area:community

#10302 Add remark-lint rules for ASC table styling
  .remarkrc.js
  package-lock.json
  package.json
Labels: area:utilities, type:update, size/XS

#10202 [VI] Update `Main page`
  wiki/Main_page/vi.md
Labels: size/S, stale merge

#10224 [KO] Add `Help centre/Account restrictions`
  wiki/Help_centre/Account_restrictions/ko.md
Labels: area:translations, type:new article, size/L, area:help centre
