Repository ppy/osu-wiki, pull requests merged in 2023-07, with the labels that each got.

#9609 Add New Featured Artist: Ruby My Dear news post
  news/2023/2023-07-01-new-featured-artist-ruby-my-dear.md
Labels: area:news, type:new article, size/L

#9580 Update `GBC 2023 Spring` match result and podium
  wiki/Tournaments/GBC/GBC_2023_Spring/en.md
  wiki/Tournaments/GBC/GBC_2023_Spring/img/GBC-2023-Spring-badge-1st.png
  wiki/Tournaments/GBC/GBC_2023_Spring/img/badge-kanon-1st.png
  wiki/Tournaments/GBC/GBC_2023_Spring/img/badge-kanon-2nd.png
  wiki/Tournaments/GBC/GBC_2023_Spring/img/badge-kanon-3rd.png
  wiki/Tournaments/GBC/GBC_2023_Spring/img/badge-kanon-attended.png
  wiki/Tournaments/GBC/GBC_2023_Spring/zh.md
Labels: type:update, area:tournaments, size/L

#9608 Update `osu! Philippines Quickfire Showdown 2023` wiki article
  wiki/Tournaments/oPQS/1/en.md
  wiki/Tournaments/oPQS/2/en.md
  wiki/Tournaments/oPQS/2/img/badge.png
Labels: type:update, area:tournaments, size/L

#9610 Add map to `New Featured Artist: Ruby My Dear` news post
  news/2023/2023-07-01-new-featured-artist-ruby-my-dear.md
Labels: area:news, type:update, size/XS

#9611 Apply some grammar fixes in `skin.ini`
  wiki/Skinning/skin.ini/en.md
Labels: type:clean up, size/XS, area:skinning

#8245 Rewrite judgement articles
  wiki/Gameplay/Judgement/osu!/en.md
  wiki/Gameplay/Judgement/osu!/fr.md
  wiki/Gameplay/Judgement/osu!catch/en.md
  wiki/Gameplay/Judgement/osu!catch/fr.md
  wiki/Gameplay/Judgement/osu!mania/en.md
  wiki/Gameplay/Judgement/osu!mania/fr.md
  wiki/Gameplay/Judgement/osu!taiko/en.md
  wiki/Gameplay/Judgement/osu!taiko/fr.md
Labels: type:rewrite, size/L, area:gameplay

#9612 [ES] Use translation from contributor-covenant.org for `Contributor code of conduct`
  wiki/Rules/Contributor_code_of_conduct/es.md
Labels: area:translations, type:update, size/M

#9571 [ZH] Update `Official support`
  wiki/Tournaments/Official_support/zh.md
Labels: area:translations, type:update, size/S

#9570 [ZH] Update `Ranking Criteria` and `Ranking Criteria/osu!taiko`
  wiki/Ranking_criteria/osu!taiko/zh.md
  wiki/Ranking_criteria/zh.md
Labels: area:translations, type:update, size/M, area:ranking criteria

#9568 [ES] Add `Help centre`
  wiki/Help_centre/es.md
Labels: area:translations, type:new article, size/M, area:help centre

#9603 [IT] Update `osu! tournament client/osu!tourney/Setup`
  wiki/osu!_tournament_client/osu!tourney/Setup/it.md
Labels: area:translations, type:update, size/S

#9605 In `BBCode`, replace Imgur with ImgBB as a reputable image sharing site
  wiki/BBCode/de.md
  wiki/BBCode/en.md
  wiki/BBCode/es.md
  wiki/BBCode/id.md
  wiki/BBCode/uk.md
Labels: type:update, area:website, size/S

#9616 Add a note regarding multi keymode on activity requirements
  wiki/People/Beatmap_Nominators/Rules/en.md
Labels: type:update, size/S, area:community

#9625 Update BN evaluation scheduling
  wiki/People/Nomination_Assessment_Team/Evaluations/en.md
  wiki/People/Nomination_Assessment_Team/Evaluations/fr.md
Labels: type:update, size/XS, area:community

#9620 Fix case of an article link and remove spaces in `Legal` articles
  wiki/Legal/Copyright/ja.md
  wiki/Legal/Copyright/tr.md
  wiki/Legal/Music_licensing/en.md
  wiki/Legal/Music_licensing/fr.md
  wiki/Legal/Privacy/en.md
  wiki/Legal/Privacy/fr.md
  wiki/Legal/Privacy/ru.md
  wiki/Legal/Privacy/tr.md
Labels: size/S

#9619 Update `osu! Philippines Quickfire Showdown 2023` staff listing and podium
  wiki/Tournaments/oPQS/1/en.md
  wiki/Tournaments/oPQS/2/en.md
Labels: type:update, area:tournaments, size/M

#9615 Update `osu! Indonesia Tournament #13 (2023)` to Quarterfinals
  wiki/Tournaments/OIT/2023/en.md
Labels: type:update, area:tournaments, size/M

#9629 Update `CWC 2023` staff listing
  wiki/Tournaments/CWC/2023/en.md
Labels: size/XS

#9632 Expanding the NAT bot listing into a paragraph and removing the listings
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Nomination_Assessment_Team/es.md
  wiki/People/Nomination_Assessment_Team/ru.md
  wiki/People/Nomination_Assessment_Team/zh.md
Labels: type:update, size/S, area:community

#9631 Fixing multiple BN listings
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Beatmap_Nominators/es.md
  wiki/People/Beatmap_Nominators/fr.md
  wiki/People/Beatmap_Nominators/id.md
  wiki/People/Beatmap_Nominators/ko.md
  wiki/People/Beatmap_Nominators/pt-br.md
  wiki/People/Beatmap_Nominators/ru.md
  wiki/People/Beatmap_Nominators/th.md
  wiki/People/Beatmap_Nominators/tr.md
  wiki/People/Beatmap_Nominators/zh.md
Labels: type:update, size/L, area:community

#9635 Replace non-breaking space with a regular space in `Staff log/2023`
  wiki/People/Staff_log/2023/en.md
Labels: type:clean up, size/XS, area:community

#9641 Update `M2P` contest article
  wiki/Contests/M2P/en.md
Labels: type:update, size/S, area:community

#9640 Ensure npm gets installed alongside nodejs
  Dockerfile
Labels: area:utilities, size/XS

#9590 Reorganise information in lazer-related articles
  wiki/Client/Release_stream/Lazer/Feature_comparison/img/sb-bg-fill-mode.jpg
  wiki/Client/Release_stream/Lazer/Feature_comparison/img/sb-crop.jpg
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/en.md
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/fr.md
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/img/aspire-slider.gif
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/img/moving-slider-head.gif
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/img/notelock.gif
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/img/sb-triggers.gif
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/img/slideracc.gif
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/zh.md
  wiki/Client/Release_stream/Lazer/de.md
  wiki/Client/Release_stream/Lazer/en.md
  wiki/Client/Release_stream/Lazer/fr.md
  wiki/Help_centre/Upgrading_to_lazer/de.md
  wiki/Help_centre/Upgrading_to_lazer/en.md
  wiki/Help_centre/Upgrading_to_lazer/fr.md
  wiki/Help_centre/Upgrading_to_lazer/id.md
  wiki/Help_centre/Upgrading_to_lazer/it.md
  wiki/Help_centre/Upgrading_to_lazer/pt-br.md
  wiki/Help_centre/Upgrading_to_lazer/ru.md
  wiki/Help_centre/Upgrading_to_lazer/vi.md
  wiki/Help_centre/Upgrading_to_lazer/zh.md
  wiki/redirect.yaml
Labels: type:update, size/L, area:client, area:help centre

#9642 Add New Featured Artist: Krimek news post
  news/2023/2023-07-08-new-featured-artist-krimek.md
Labels: area:news, type:new article, size/M

#9645 Expand template wording in `New Featured Artist: Krimek` news post
  news/2023/2023-07-08-new-featured-artist-krimek.md
Labels: area:news, type:clean up, size/XS

#9643 Add Krimek to Featured Artist user group listing
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/fr.md
Labels: type:update, size/XS, area:community

#9636 Add `Introducing New Beatmap Pack Categories` news post.
  news/2023/2023-07-11-introducing-new-beatmap-pack-categories.md
  wiki/shared/news/2023-07-11-introducing-new-beatmap-pack-categories/banner.jpg
  wiki/shared/news/2023-07-11-introducing-new-beatmap-pack-categories/banner@2x.jpg
  wiki/shared/news/2023-07-11-introducing-new-beatmap-pack-categories/centurion-banner.png
  wiki/shared/news/2023-07-11-introducing-new-beatmap-pack-categories/new-beatmap-pack-categories.png
Labels: area:news, type:new article, size/M

#9648 Update `osu! Indonesia Tournament #13 (2023)` to Semifinals
  wiki/Tournaments/OIT/2023/en.md
Labels: size/M

#9650 Clean up `Do you really want to ask peppy?`
  wiki/Do_you_really_want_to_ask_peppy/de.md
  wiki/Do_you_really_want_to_ask_peppy/en.md
  wiki/Do_you_really_want_to_ask_peppy/es.md
  wiki/Do_you_really_want_to_ask_peppy/fr.md
  wiki/Do_you_really_want_to_ask_peppy/id.md
  wiki/Do_you_really_want_to_ask_peppy/it.md
  wiki/Do_you_really_want_to_ask_peppy/ja.md
  wiki/Do_you_really_want_to_ask_peppy/ro.md
  wiki/Do_you_really_want_to_ask_peppy/ru.md
  wiki/Do_you_really_want_to_ask_peppy/sr.md
  wiki/Do_you_really_want_to_ask_peppy/th.md
  wiki/Do_you_really_want_to_ask_peppy/tr.md
  wiki/Do_you_really_want_to_ask_peppy/zh.md
Labels: type:clean up, size/M

#9647 Add `Community Meeting Recap` news post
  news/2023/2023-07-11-community-meeting-recap.md
  wiki/Community/osu!_community_meetings/de.md
  wiki/Community/osu!_community_meetings/en.md
  wiki/Community/osu!_community_meetings/fr.md
  wiki/Community/osu!_community_meetings/id.md
Labels: area:news, type:new article, size/M

#9657 Retime `Community Meeting Recap` news post closer to merge time
  news/2023/2023-07-11-community-meeting-recap.md
Labels: area:news, type:clean up, size/XS

#9653 Add `Centurions` article
  news/2023/2023-07-11-introducing-new-beatmap-pack-categories.md
  wiki/Main_page/de.md
  wiki/Main_page/en.md
  wiki/Main_page/es.md
  wiki/Main_page/id.md
  wiki/Main_page/ko.md
  wiki/Main_page/pt-br.md
  wiki/Main_page/ru.md
  wiki/Main_page/uk.md
  wiki/Main_page/zh.md
  wiki/People/Centurions/en.md
  wiki/People/Centurions/img/centurion.png
Labels: type:new article, size/M, area:community

#9652 Link to in-article chapter in `osu!stream`
  wiki/osu!stream/de.md
  wiki/osu!stream/en.md
  wiki/osu!stream/fr.md
Labels: size/XS

#9660 Add FA playlist results to `New Featured Artist: Krimek` news article
  news/2023/2023-07-08-new-featured-artist-krimek.md
  wiki/People/Featured_Artists/Featured_Artist_playlists/en.md
Labels: area:news, type:update, size/M

#9658 Miscellaneous clean-up in a few articles
  wiki/Do_you_really_want_to_ask_peppy/en.md
  wiki/Guides/Making_properly_centred_spinners/en.md
  wiki/Guides/Making_properly_centred_spinners/fr.md
  wiki/Guides/Making_properly_centred_spinners/ru.md
  wiki/Guides/Making_properly_centred_spinners/zh.md
Labels: type:clean up, size/S

#9649 Mention announce user group requests in `Account support team` article
  wiki/Announcement_messages/en.md
  wiki/Announcement_messages/es.md
  wiki/Announcement_messages/fr.md
  wiki/Announcement_messages/it.md
  wiki/People/Account_support_team/en.md
Labels: type:update, area:website, size/S, area:community

#9639 Fix Ranking_criteria links in several articles
  wiki/Article_styling_criteria/Formatting/de.md
  wiki/Article_styling_criteria/Formatting/en.md
  wiki/Article_styling_criteria/Formatting/es.md
  wiki/Article_styling_criteria/Formatting/fr.md
  wiki/Article_styling_criteria/Formatting/ko.md
  wiki/Article_styling_criteria/Formatting/ru.md
  wiki/Article_styling_criteria/Formatting/th.md
  wiki/Article_styling_criteria/Formatting/zh.md
  wiki/Ranking_criteria/osu!/en.md
  wiki/Ranking_criteria/osu!/fr.md
  wiki/Ranking_criteria/osu!/ko.md
  wiki/Ranking_criteria/osu!/ru.md
  wiki/Ranking_criteria/osu!/zh.md
  wiki/osu!_wiki/Maintenance/de.md
  wiki/osu!_wiki/Maintenance/en.md
  wiki/osu!_wiki/Maintenance/es.md
  wiki/osu!_wiki/Maintenance/fr.md
  wiki/osu!_wiki/Maintenance/id.md
  wiki/osu!_wiki/Maintenance/ru.md
  wiki/osu!_wiki/Maintenance/zh.md
Labels: type:clean up, size/M

#9667 Add The Roundtable II and COEGTS original soundtrack to `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/M

#9670 Fix typo in `Community Meeting Recap` news post
  news/2023/2023-07-11-community-meeting-recap.md
Labels: area:news, type:clean up, size/XS

#9621 [ES] Update `Client/Installation`
  wiki/Client/Installation/es.md
Labels: area:translations, type:update, size/M

#9593 [IT] Update `Community/osu!_Discord_Server`
  wiki/Community/osu!_Discord_server/it.md
Labels: area:translations, type:update, size/M

#9597 [IT] Update `Guides/How_to_use_the_Offset_Wizard`
  wiki/Guides/How_to_use_the_Offset_Wizard/it.md
Labels: area:translations, type:update, size/M

#9604 [ZH] Add several articles in `Beatmap`
  wiki/Beatmap/Approach_rate/zh.md
  wiki/Beatmap/Authentic/zh.md
  wiki/Beatmap/Beatmap_collaborations/zh.md
  wiki/Beatmap/Beatmap_host/zh.md
  wiki/Beatmap/Break/zh.md
  wiki/Beatmap/Circle_size/zh.md
  wiki/Beatmap/Difficulty_spread/zh.md
  wiki/Beatmap/Drain_time/zh.md
  wiki/Beatmap/Guest_difficulty/zh.md
  wiki/Beatmap/HP_drain_rate/zh.md
  wiki/Beatmap/Hype/zh.md
  wiki/Beatmap/Lead-in_time/zh.md
  wiki/Beatmap/Marathon/zh.md
  wiki/Beatmap/Overall_difficulty/zh.md
  wiki/Beatmap/Play_time/zh.md
  wiki/Beatmap/Primary_metadata_source/zh.md
  wiki/Beatmap/Song_compilation/zh.md
  wiki/Beatmap/Stack_leniency/zh.md
  wiki/Beatmap/Star_rating/zh.md
  wiki/Beatmap/TAG/zh.md
  wiki/Beatmap/Title_text/zh.md
Labels: area:translations, type:new article, size/XL

#9600 [KO] Update People/Tournament Committee
  wiki/People/Tournament_Committee/ko.md
Labels: area:translations, type:update, size/XS

#9622 [ZH] Update `Mascots`
  wiki/Mascots/zh.md
Labels: area:translations, type:update, size/XS

#9623 [ZH] Update `Beatmap/Background`
  wiki/Beatmap/Background/zh.md
Labels: area:translations, type:update, size/XS

#9627 [IT] Update `Main_page`
  wiki/Main_page/it.md
Labels: area:translations, type:update, size/S

#9633 [IT] Update `BBcode`
  wiki/BBCode/it.md
Labels: area:translations, type:update, size/M

#9646 [IT] Update `People/Support_Team` and add `group-info`
  meta/group-info/it.yaml
  wiki/People/Support_Team/it.md
Labels: area:translations, area:utilities, type:update, type:new article, size/M, area:community

#9651 [DE] Update `Article styling criteria/Formatting`
  wiki/Article_styling_criteria/Formatting/de.md
Labels: area:translations, area:utilities, type:update, size/S

#9661 [ID] Update `Main Page` to include new Centurions article
  wiki/Main_page/id.md
  wiki/People/Centurions/en.md
Labels: area:translations, type:update, type:clean up, size/XS, area:community

#9634 [IT] Update `People/Global_Moderation_Team`
  wiki/People/Global_Moderation_Team/it.md
Labels: area:translations, type:update, size/L

#9668 Update `COEGTS 2023` staff listing and add Qualifier mappool
  wiki/Tournaments/GTS/COEGTS_2023/en.md
Labels: type:update, area:tournaments, size/M

#9672 Update `MWC 4K 2023` rules
  wiki/Tournaments/MWC/2023_4K/en.md
Labels: type:update, area:tournaments, size/S

#9675 Fix link to beatmap pack in `Medals/Unlock requirements/Beatmap packs`
  wiki/Medals/Unlock_requirements/Beatmap_packs/en.md
Labels: type:clean up, size/XS, area:gameplay

#9676 Fix spelling in `osu! originals` articles
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: size/XS

#9677 Fix incorrect date listing on `Centurions`
  wiki/People/Centurions/en.md
Labels: size/XS

#9679 Add missing TWC & KRTT osu! originals
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/XS

#9681 [DE] Update `osu! community meetings`
  wiki/Community/osu!_community_meetings/de.md
Labels: area:translations, type:update, size/XS, area:community

#9689 Add New Featured Artist: YUC'e news post
  news/2023/2023-07-15-new-featured-artist-yuce.md
Labels: area:news, type:new article, size/L

#9690 Add more maps to `New Featured Artist: YUC'e` news post
  news/2023/2023-07-15-new-featured-artist-yuce.md
Labels: size/M

#9691 Fix grammar and formatting issues in `New Featured Artist: YUC'e` news post
  news/2023/2023-07-15-new-featured-artist-yuce.md
Labels: area:news, type:clean up, size/S

#9685 Removed unnecessary path in `Upgrading_to_lazer`
  wiki/Help_centre/Upgrading_to_lazer/en.md
Labels: type:clean up, size/XS, area:help centre

#9682 Add Krimek and takehirotei tracks to `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/L

#9697 Update staff listings for `MWC 4K`/`MWC 7K`
  wiki/Tournaments/MWC/2016_4K/en.md
  wiki/Tournaments/MWC/2016_7K/en.md
  wiki/Tournaments/MWC/2022_7K/en.md
  wiki/Tournaments/MWC/2023_7K/en.md
Labels: type:update, area:tournaments, size/XS

#9599 [KO] Update `Tournaments/Official_support`
  wiki/Tournaments/Official_support/ko.md
Labels: area:translations, type:update, size/XS

#9598 [KO] Update `Help_centre/Tournament_bans`
  wiki/Help_centre/Tournament_bans/ko.md
Labels: area:translations, type:update, size/M

#9698 Update `TWC 2022`/`OWC 2021`/`OWC 2022` staff listing
  wiki/Tournaments/OWC/2021/en.md
  wiki/Tournaments/OWC/2021/es.md
  wiki/Tournaments/OWC/2022/en.md
  wiki/Tournaments/TWC/2022/en.md
Labels: type:update, area:tournaments, size/XS

#9699 Update `TWC 2021` staff listing
  wiki/Tournaments/TWC/2021/en.md
Labels: type:update, area:tournaments, size/XS

#9702 Add `osu!(lazer) Updates: July 16, 2023` news post
  news/2023/2023-07-16-osulazer-updates-july-16-2023.md
  wiki/shared/news/2023-07-16-osulazer-updates-july-16-2023/banner.jpg
  wiki/shared/news/2023-07-16-osulazer-updates-july-16-2023/banner@2x.jpg
Labels: area:news, type:new article, size/M

#9703 Fix typo in `osu!(lazer) Updates: July 16, 2023` news post
  news/2023/2023-07-16-osulazer-updates-july-16-2023.md
Labels: area:news, type:clean up, size/XS

#9711 [ES] Clean up `peppy`
  wiki/People/peppy/es.md
Labels: size/XS

#9614 [ES] Update `BBCode`
  wiki/BBCode/es.md
Labels: area:translations, type:update, size/S

#9628 [ES] Add `Trigger_distance`
  wiki/Beatmapping/Trigger_distance/es.md
Labels: area:translations, type:new article, size/XS

#9626 [ES] Add `Legal/Music licensing`
  wiki/Legal/Music_licensing/es.md
  wiki/Legal/es.md
Labels: area:translations, type:new article, size/M

#9678 Update `Beatmap/Packs`
  wiki/Beatmap/Packs/en.md
Labels: type:update, area:website, size/S

#9674 [ES] Clean up `osu! originals`
  wiki/osu!_originals/es.md
Labels: area:translations, type:clean up, size/M

#9724 Fix a user link in `Elite Nominators` article
  wiki/People/Elite_Nominators/en.md
Labels: size/XS

#9725 Add AESS3 tournament page
  wiki/Tournaments/AESS/3/en.md
  wiki/Tournaments/AESS/3/img/badge.png
  wiki/Tournaments/AESS/3/img/banner.png
  wiki/Tournaments/AESS/en.md
Labels: type:new article, area:tournaments, size/L

#9723 Add OMT 2023 original to `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/XS

#9717 Add AGTS original to `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/S

#9719 Update `COEGTS 2023` with Qualifier results
  wiki/Tournaments/GTS/COEGTS_2023/en.md
Labels: type:update, area:tournaments, size/S

#9728 Update `osu! Indonesia Tournament #13 (2023)` to Finals (week 1)
  wiki/Tournaments/OIT/2023/en.md
Labels: type:update, area:tournaments, size/M

#9577 [ES] Update `Client/Beatmap editor/AiMod`
  wiki/Client/Beatmap_editor/AiMod/es.md
Labels: area:translations, type:update, size/L, stale merge, area:client

#9576 [ES] Add `Medals/Legacy beatmap packs`
  wiki/Medals/Legacy_beatmap_packs/es.md
Labels: area:translations, type:new article, size/L, stale merge

#9624 [ES] Update `Tournament Committee`
  wiki/People/Tournament_Committee/es.md
Labels: area:translations, type:update, area:tournaments, size/S, stale merge

#9655 [DE] Update subarticles in `Medals/Unlock requirements`
  wiki/Medals/Unlock_requirements/Beatmap_challenge_packs/de.md
  wiki/Medals/Unlock_requirements/Beatmap_packs/de.md
  wiki/Medals/Unlock_requirements/Dedication/de.md
  wiki/Medals/Unlock_requirements/Mod_introduction/de.md
Labels: area:translations, type:update, size/M

#9656 [DE] Update various articles
  wiki/BBCode/de.md
  wiki/Do_you_really_want_to_ask_peppy/de.md
  wiki/Mascots/de.md
  wiki/People/Tournament_Committee/de.md
Labels: area:translations, type:update, size/M

#9654 [DE] Fixes in various articles
  wiki/Beatmap/HP_drain_rate/de.md
  wiki/Client/File_formats/de.md
  wiki/Client/Installation/de.md
  wiki/Guides/Videos_from_YouTube/de.md
  wiki/Help_centre/Installation_and_registration/de.md
  wiki/Legal/Privacy/de.md
  wiki/Reporting_bad_behaviour/de.md
  wiki/osu!_wiki/de.md
  wiki/osu!stream/de.md
Labels: area:translations, type:update, size/M

#9665 [DE] Update `Client/Release_stream/Lazer`
  wiki/Client/Release_stream/Lazer/de.md
Labels: area:translations, type:update, size/XS

#9671 [IT] Update `Mascots`
  wiki/Mascots/it.md
Labels: area:translations, type:update, size/L

#9683 [IT] Update `People/osu! Alumni`
  wiki/People/osu!_Alumni/it.md
Labels: area:translations, type:update, size/S, area:community

#9684 [IT] Update `People/osu! team`
  wiki/People/osu!_team/it.md
Labels: area:translations, type:update, size/M

#9686 [IT] Update `Help centre/Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/it.md
Labels: area:translations, type:update, size/M, area:help centre

#9687 [IT] Update `Do you really want to ask peppy`
  wiki/Do_you_really_want_to_ask_peppy/it.md
Labels: area:translations, type:update, size/XS

#9688 [IT] Update `Mascots/Gallery`
  wiki/Mascots/Gallery/it.md
Labels: area:translations, type:update, size/L

#9693 [IT] Add `Game mode`
  wiki/Game_mode/it.md
Labels: area:translations, type:new article, size/M

#9664 [DE] Update `People/Account Support Team`, `Help centre/Tournament bans` and `Tournaments/Official support`
  wiki/Help_centre/Tournament_bans/de.md
  wiki/People/Account_support_team/de.md
  wiki/Tournaments/Official_support/de.md
Labels: area:translations, type:update, size/M, area:community, area:help centre

#9692 [IT] Add miscellaneous stubs
  wiki/Bit_rate/it.md
  wiki/Gameplay/Dash/it.md
  wiki/Gameplay/Full_combo/it.md
  wiki/Gameplay/Hit_object/Slider/Reverse_slider/it.md
  wiki/Gameplay/Hit_object/Slider/Slider_tick/it.md
  wiki/Gameplay/Pass/it.md
  wiki/Gameplay/Walk/it.md
  wiki/History_of_osu!/2009/it.md
  wiki/History_of_osu!/Online_rankings/it.md
  wiki/History_of_osu!/Online_rankings/osu!/it.md
  wiki/History_of_osu!/Online_rankings/osu!catch/it.md
  wiki/History_of_osu!/Online_rankings/osu!mania/it.md
  wiki/History_of_osu!/Online_rankings/osu!taiko/it.md
  wiki/Modding/Kudosu/it.md
  wiki/Modding/Mod_for_mod/it.md
  wiki/Modding/Mod_request/it.md
  wiki/Modding/Modder/it.md
  wiki/Modding/Normal_mod/it.md
  wiki/Modding/Proto-bubble/it.md
  wiki/Modding/Star_priority/it.md
  wiki/Performance_points/ppv2/it.md
  wiki/Skinning/Skinner/it.md
  wiki/upppy/it.md
Labels: area:translations, type:new article, size/XL

#9630 [ES] Clean up `Overall difficulty` and `Judgement/Notelock`
  wiki/Beatmap/Overall_difficulty/es.md
  wiki/Gameplay/Judgement/Notelock/es.md
Labels: area:translations, type:update, size/M, stale merge, area:gameplay

#9706 [ES] Update `Main page`
  wiki/Main_page/es.md
Labels: area:translations, type:update, size/S

#9581 [ES] Update `Mascots`
  wiki/Mascots/es.md
Labels: area:translations, type:update, size/S

#9663 [DE] Update various articles
  wiki/Main_page/de.md
  wiki/Ranking_criteria/osu!taiko/de.md
  wiki/osu!_tournament_client/osu!tourney/Setup/de.md
Labels: area:translations, type:update, size/M

#9727 Add AESS3 to the list of tournaments
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/zh.md
Labels: type:update, area:tournaments, size/XS

#9729 [ES] Fix typo in `Main page` and remove `no_native_review` tag from `Mascots`
  wiki/Main_page/es.md
  wiki/Mascots/es.md
Labels: size/XS

#9730 [DE] Remove outdated translation tag in `Do you really want to ask peppy?`
  wiki/Do_you_really_want_to_ask_peppy/de.md
Labels: size/XS

#9722 [DE] Add `History of osu!/2022`
  wiki/History_of_osu!/2022/de.md
Labels: size/L

#9733 Update `MWC 4K 2023`
  wiki/Tournaments/MWC/2023_4K/en.md
Labels: area:tournaments, type:clean up, size/XS

#9736 Add Beach Episode Art Contest Voting Open news post
  news/2023/2023-07-20-beach-episode-voting-open.md
Labels: area:news, type:new article, size/M

#9740 Correct the dates for osu!monthly season 3 in `osu!monthly`
  wiki/Community/osu!monthly/en.md
  wiki/Community/osu!monthly/fr.md
  wiki/Community/osu!monthly/id.md
Labels: type:update, size/XS, area:community

#9742 Add `Skinning Contest: Icons of an Era - Voting Open` news post and update wiki page
  news/2023/2023-07-21-skinning-contest-icons-of-an-era-voting.md
  wiki/Contests/Skinning_Contest/4/en.md
  wiki/shared/news/2023-07-21-skinning-contest-icons-of-an-era-voting/banner.jpg
  wiki/shared/news/2023-07-21-skinning-contest-icons-of-an-era-voting/banner@2x.jpg
Labels: size/M

#9744 Credit xootynator for banner artwork in `Skinning Contest: Icons of an Era - Voting Open`
  news/2023/2023-07-21-skinning-contest-icons-of-an-era-voting.md
Labels: area:news, type:update, size/XS

#9747 Mark 1KARUGA as part of FA catalogue in `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/XS

#9738 [RU] Add new pages to the Guides list
  wiki/Guides/ru.md
Labels: area:translations, type:update, type:clean up, size/M

#9226 [ES] Update `Ranking criteria/osu!mania`
  wiki/Ranking_criteria/osu!mania/es.md
Labels: area:translations, type:update, size/S, area:ranking criteria

#9732 [IT] Add `Performance troubleshooting`
  wiki/Performance_troubleshooting/it.md
Labels: area:translations, type:new article, size/L

#9731 [IT] Add `People/Elite Nominators` and update `Main page`
  wiki/Main_page/it.md
  wiki/People/Elite_Nominators/it.md
Labels: area:translations, type:new article, size/L

#9483 [ES] Change date and references format
  wiki/Article_styling_criteria/Writing/es.md
  wiki/Beatmap_Spotlights/Seasons/2020_Summer/es.md
  wiki/History_of_osu!/2007/es.md
  wiki/History_of_osu!/2008/es.md
  wiki/History_of_osu!/2011/es.md
  wiki/History_of_osu!/2012/en.md
  wiki/History_of_osu!/2012/es.md
  wiki/History_of_osu!/2012/fr.md
  wiki/History_of_osu!/2012/id.md
  wiki/History_of_osu!/2013/es.md
  wiki/History_of_osu!/2014/es.md
  wiki/History_of_osu!/2015/es.md
  wiki/History_of_osu!/2016/es.md
  wiki/History_of_osu!/Online_rankings/osu!/en.md
  wiki/History_of_osu!/Online_rankings/osu!/es.md
  wiki/History_of_osu!/Online_rankings/osu!/fr.md
  wiki/History_of_osu!/Online_rankings/osu!/id.md
  wiki/Tournaments/CH/CHS_1/es.md
  wiki/Tournaments/CH/CHT_1/es.md
  wiki/Tournaments/CWC/2014/es.md
  wiki/Tournaments/GTS/AGTS_2019/es.md
  wiki/Tournaments/GTS/IGTS_2019/es.md
  wiki/Tournaments/MWC/2014/es.md
  wiki/Tournaments/OWC/2013/es.md
  wiki/Tournaments/OWC/2014/es.md
  wiki/Tournaments/OWC/2015/es.md
  wiki/Tournaments/OWC/2016/es.md
  wiki/Tournaments/OWC/2017/es.md
  wiki/Tournaments/OWC/2018/es.md
  wiki/Tournaments/OWC/2019/es.md
  wiki/Tournaments/OWC/2020/es.md
  wiki/Tournaments/OWC/2021/es.md
  wiki/Tournaments/SS/2022/es.md
  wiki/Tournaments/TWC/2015/es.md
Labels: area:translations, type:clean up, size/XL

#9715 [ES] Change `Destacados` to `Spotlights`
  wiki/Beatmap_Spotlights/Seasons/2020_Autumn/en.md
  wiki/Beatmap_Spotlights/Seasons/2020_Autumn/es.md
  wiki/Beatmap_Spotlights/Seasons/2020_Autumn/fr.md
  wiki/Beatmap_Spotlights/Seasons/2020_Autumn/id.md
  wiki/Beatmap_Spotlights/Seasons/2020_Autumn/zh.md
  wiki/Beatmap_Spotlights/Seasons/2020_Summer/es.md
  wiki/Beatmap_Spotlights/Seasons/2021_Spring/es.md
  wiki/Beatmap_Spotlights/Seasons/2021_Winter/es.md
  wiki/Beatmap_Spotlights/Seasons/2022_Spring/es.md
  wiki/Beatmap_Spotlights/Seasons/2022_Summer/es.md
  wiki/Beatmap_Spotlights/Seasons/2022_Winter/es.md
  wiki/Beatmap_Spotlights/Seasons/2023_Winter/es.md
  wiki/Beatmap_Spotlights/Seasons/es.md
  wiki/History_of_osu!/2017/es.md
  wiki/Medals/es.md
  wiki/People/Community_Contributors/es.md
Labels: area:translations, type:clean up, size/L

#9746 Add Featured Artist Track Updates: Summer 2023 news post
  news/2023/2023-07-22-featured-artist-track-updates-summer-2023.md
Labels: area:news, type:new article, size/L

#9749 Fix incorrect track preview URL for "Good Kid - Mimi's Delivery Service" in the latest `Featured Artist Track Updates` newspost
  news/2023/2023-07-22-featured-artist-track-updates-summer-2023.md
Labels: size/XS

#9734 [DE] Add `People/osu!monthly team`, `Skinning/Guides and important threads` and `People/Developers`
  wiki/People/Developers/de.md
  wiki/People/osu!monthly_team/de.md
  wiki/Skinning/Guides_and_important_threads/de.md
Labels: area:translations, type:new article, size/L, area:community

#9718 [IT] Update `Tournaments/OWC/2013`
  wiki/Tournaments/OWC/2013/it.md
Labels: area:translations, type:update, area:tournaments, size/XL

#9743 Add Skinning Contest #3 to `Contests` wiki page
  wiki/Contests/en.md
  wiki/Contests/es.md
Labels: type:update, size/S, area:community

#9751 Fix the year of the SOTY contest in `Contests` wiki page
  wiki/Contests/en.md
Labels: size/XS

#9754 Add "takehirotei - See you next time!" to `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/XS

#9735 [IT] Update `BanchoBot`
  wiki/BanchoBot/it.md
Labels: area:translations, type:update, size/L

#9761 Update `Staff log` and Staff pages for June-July 2023
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Beatmap_Nominators/es.md
  wiki/People/Beatmap_Nominators/fr.md
  wiki/People/Beatmap_Nominators/id.md
  wiki/People/Beatmap_Nominators/ko.md
  wiki/People/Beatmap_Nominators/pt-br.md
  wiki/People/Beatmap_Nominators/ru.md
  wiki/People/Beatmap_Nominators/th.md
  wiki/People/Beatmap_Nominators/tr.md
  wiki/People/Beatmap_Nominators/zh.md
  wiki/People/Global_Moderation_Team/de.md
  wiki/People/Global_Moderation_Team/en.md
  wiki/People/Global_Moderation_Team/es.md
  wiki/People/Global_Moderation_Team/fr.md
  wiki/People/Global_Moderation_Team/id.md
  wiki/People/Global_Moderation_Team/it.md
  wiki/People/Global_Moderation_Team/ja.md
  wiki/People/Global_Moderation_Team/ko.md
  wiki/People/Global_Moderation_Team/pl.md
  wiki/People/Global_Moderation_Team/pt-br.md
  wiki/People/Global_Moderation_Team/ru.md
  wiki/People/Global_Moderation_Team/th.md
  wiki/People/Global_Moderation_Team/tr.md
  wiki/People/Global_Moderation_Team/zh.md
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Nomination_Assessment_Team/es.md
  wiki/People/Nomination_Assessment_Team/fr.md
  wiki/People/Nomination_Assessment_Team/id.md
  wiki/People/Nomination_Assessment_Team/ko.md
  wiki/People/Nomination_Assessment_Team/pt-br.md
  wiki/People/Nomination_Assessment_Team/ru.md
  wiki/People/Nomination_Assessment_Team/th.md
  wiki/People/Nomination_Assessment_Team/tr.md
  wiki/People/Nomination_Assessment_Team/zh.md
  wiki/People/Staff_log/2023/en.md
  wiki/People/Support_Team/it.md
  wiki/People/osu!_Alumni/de.md
  wiki/People/osu!_Alumni/en.md
  wiki/People/osu!_Alumni/es.md
  wiki/People/osu!_Alumni/fr.md
  wiki/People/osu!_Alumni/id.md
  wiki/People/osu!_Alumni/it.md
  wiki/People/osu!_Alumni/ja.md
  wiki/People/osu!_Alumni/ko.md
  wiki/People/osu!_Alumni/pl.md
  wiki/People/osu!_Alumni/pt-br.md
  wiki/People/osu!_Alumni/ru.md
  wiki/People/osu!_Alumni/tr.md
  wiki/People/osu!_Alumni/zh.md
Labels: type:update, size/XL, area:community

#9762 Add "ZxNX+Delaina - False Fairy Tale" to the list of `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: size/S

#9765 Add Beatmap Spotlights spring 2023 conlusion news post
  news/2023/2023-07-25-beatmap-spotlights-spring-2023-conclusion.md
Labels: area:news, type:new article, size/L

#9768 Update minor details in group-info translation guide
  meta/group-info/TRANSLATING.md
Labels: area:utilities, type:update, size/XS

#9766 Clean up `Beatmap Nominators`
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Beatmap_Nominators/es.md
  wiki/People/Beatmap_Nominators/fr.md
  wiki/People/Beatmap_Nominators/id.md
  wiki/People/Beatmap_Nominators/ko.md
  wiki/People/Beatmap_Nominators/pt-br.md
  wiki/People/Beatmap_Nominators/ru.md
  wiki/People/Beatmap_Nominators/th.md
  wiki/People/Beatmap_Nominators/tr.md
  wiki/People/Beatmap_Nominators/zh.md
Labels: type:clean up, size/L, area:community

#9750 [IT] Added `Gameplay/Hit_object`
  wiki/Gameplay/Hit_object/it.md
Labels: area:translations, type:new article, size/S, area:gameplay

#9760 [RU] Add `Gameplay/Game modifier/No Fail`
  wiki/Gameplay/Game_modifier/No_Fail/ru.md
Labels: area:translations, type:new article, size/M, area:gameplay

#9770 Change from 'permanent' to 'indefinite' in tournament bans article table
  wiki/Help_centre/Tournament_bans/en.md
Labels: type:update, size/XS, area:help centre

#9759 Expand Featured Artists with osu! accounts
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/fr.md
Labels: size/XS

#9756 Update `RGTS 2022` to Grand Finals stage.
  wiki/Tournaments/GTS/RGTS_2022/en.md
  wiki/Tournaments/GTS/RGTS_2022/img/badge.png
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/zh.md
Labels: type:update, area:tournaments, size/M

#9776 Fix formatting inconsistencies in `2023 Summer Splash` news post
  news/2023/2023-07-27-summer-splash.md
Labels: area:news, type:clean up, size/S

#9775 Add "Redside - beachballs!" to `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/XS

#9777 Update `M2P` contest article
  wiki/Contests/M2P/en.md
  wiki/Contests/M2P/img/t1.png
  wiki/Contests/M2P/img/t2.png
  wiki/Contests/M2P/img/t3.png
Labels: type:update, size/XS, area:community

#9769 Add Country Flag Changes Updates news post
  news/2023/2023-07-28-enabling-country-flag-changes.md
  wiki/shared/news/2023-07-28-flag-change-updates/banner.jpg
  wiki/shared/news/2023-07-28-flag-change-updates/banner@2x.jpg
  wiki/shared/news/2023-07-28-flag-change-updates/flag-change-prompt.jpg
Labels: area:news, type:new article, size/S

#9778 Update `MWC 4K 2023` dates
  wiki/Tournaments/MWC/2023_4K/en.md
Labels: type:update, area:tournaments, size/XS

#9767 Update `Help Centre/Account` with new flag change policy
  wiki/Help_centre/Account/de.md
  wiki/Help_centre/Account/en.md
  wiki/Help_centre/Account/fr.md
  wiki/Help_centre/Account/ru.md
  wiki/Help_centre/Account/zh.md
Labels: type:update, size/S, area:help centre

#9780 [RU] Update `Help centre/Account`
  wiki/Help_centre/Account/ru.md
Labels: area:translations, type:update, size/S, area:help centre

#9771 [RU] Add `Gameplay/Game modifier/Sudden Death`
  wiki/Gameplay/Game_modifier/Sudden_Death/ru.md
Labels: area:translations, type:new article, size/M, area:gameplay

#9783 Update `MWC 4K 2023` with team listings
  wiki/Tournaments/MWC/2023_4K/en.md
Labels: type:update, area:tournaments, size/M

#9708 [ES] Update `Do you really want to ask peppy`
  wiki/Do_you_really_want_to_ask_peppy/es.md
Labels: area:translations, type:update, size/S

#9707 [ES] Clean up `Gameplay/Hit object`
  wiki/Gameplay/Hit_object/es.md
Labels: area:translations, type:clean up, size/XS, area:gameplay

#9705 [ES] Clean up `Beatmapping`
  wiki/Beatmapping/es.md
Labels: area:translations, type:update, type:clean up, size/M, area:beatmapping
