Repository ppy/osu-wiki, pull requests merged in 2023-01, with the labels that each got.

#8552 Fix typos in `MWC 7K 2023`
  wiki/Tournaments/MWC/2023_7K/en.md
Labels: type:update, area:tournaments, size/XS

#8557 Delete spaces that should not be
  wiki/People/The_Team/Language_Surveillance_Division/en.md
  wiki/People/The_Team/Language_Surveillance_Division/fr.md
  wiki/People/The_Team/Language_Surveillance_Division/id.md
  wiki/People/Users_with_unique_titles/de.md
  wiki/People/Users_with_unique_titles/en.md
Labels: size/S

#8539 Update `Users with unique titles` listing
  wiki/People/Users_with_unique_titles/de.md
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/es.md
  wiki/People/Users_with_unique_titles/fr.md
  wiki/People/Users_with_unique_titles/id.md
Labels: type:update, size/L, area:community

#8559 Update `MWC 7K 2022` team listing
  wiki/Tournaments/MWC/2023_7K/en.md
Labels: type:update, area:tournaments, size/M

#8558 Fix o!m RC General Hard Guideline Only Appearing in 4k/7k Specific Guideline
  wiki/Ranking_Criteria/osu!mania/de.md
  wiki/Ranking_Criteria/osu!mania/en.md
  wiki/Ranking_Criteria/osu!mania/es.md
  wiki/Ranking_Criteria/osu!mania/fr.md
  wiki/Ranking_Criteria/osu!mania/id.md
  wiki/Ranking_Criteria/osu!mania/ja.md
  wiki/Ranking_Criteria/osu!mania/ko.md
  wiki/Ranking_Criteria/osu!mania/zh.md
Labels: type:update, size/S, area:beatmapping

#8562 Update `Featured Artists` total in 2022
  wiki/Featured_Artists/en.md
  wiki/Featured_Artists/fr.md
  wiki/Featured_Artists/id.md
  wiki/Featured_Artists/ja.md
  wiki/Featured_Artists/nl.md
  wiki/Featured_Artists/pt-br.md
  wiki/Featured_Artists/ru.md
  wiki/Featured_Artists/tr.md
Labels: type:update, size/S

#8564 Update `MWC 7K 2023` team listing
  wiki/Tournaments/MWC/2023_7K/en.md
Labels: size/S

#8561 Update `Nomination_Assessment_Team` and `Becoming_a_Beatmap_Nominator` articles
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/en.md
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/fr.md
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/zh.md
Labels: type:update, size/S, area:community, area:modding

#8566 Add Featured Artist Track Updates: Winter 2023 news post
  news/2023-01-04-featured-artist-track-updates-winter-2023.md
Labels: area:news, type:new article, size/L

#8567 Fix broken previews in Winter 2023 FA updates news post
  news/2023-01-04-featured-artist-track-updates-winter-2023.md
Labels: area:news, type:clean up, size/XS

#8546 Add Syrsa - Mad Machine and Sodium Iodate - Sucrose Overdose to `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/XS

#8568 Add `Syrsa - Desolated` to `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/XS

#8571 Fix link on Current FA Updates news post
  news/2023-01-04-featured-artist-track-updates-winter-2023.md
Labels: area:news, type:clean up, size/XS

#8572 Update `MWC 7K 2023` team listing
  wiki/Tournaments/MWC/2023_7K/en.md
Labels: type:update, area:tournaments, size/S

#8569 Document bypassing CI
  wiki/Article_styling_criteria/Formatting/en.md
  wiki/Article_styling_criteria/Formatting/fr.md
  wiki/Article_styling_criteria/Formatting/ko.md
  wiki/osu!_wiki/Maintenance/de.md
  wiki/osu!_wiki/Maintenance/en.md
  wiki/osu!_wiki/Maintenance/es.md
  wiki/osu!_wiki/Maintenance/fr.md
  wiki/osu!_wiki/Maintenance/id.md
  wiki/osu!_wiki/Maintenance/ru.md
Labels: area:utilities, type:update, size/L

#8574 Update `MWC 7K 2023` team listing
  wiki/Tournaments/MWC/2023_7K/en.md
Labels: size/S

#8575 Fix outdated translation incorrectly being in tag
  wiki/People/The_Team/Nomination_Assessment_Team/zh.md
Labels: type:clean up, size/XS

#8570 Add the `osu!monthly, December 2022` news post
  news/2023-01-06-osumonthly-6.md
  wiki/shared/news/2023-01-01-osumonthly-6/COE2023-banner.jpg
  wiki/shared/news/2023-01-01-osumonthly-6/COE2023-banner@2x.jpg
  wiki/shared/news/2023-01-01-osumonthly-6/UTTArena-banner.jpg
  wiki/shared/news/2023-01-01-osumonthly-6/banner.jpg
  wiki/shared/news/2023-01-01-osumonthly-6/banner@2x.jpg
  wiki/shared/news/2023-01-01-osumonthly-6/didyouknow-dec22.jpg
  wiki/shared/news/2023-01-01-osumonthly-6/dreamxiety-banner.jpg
  wiki/shared/news/2023-01-01-osumonthly-6/osu!mania-LNTournament-3.jpg
Labels: area:news, type:new article, size/L

#8577 Bump osu-wiki-tools to version `1.0.3`
  scripts/requirements.txt
Labels: area:utilities, type:update, size/XS

#8579 Update `MWC 7K 2023` team listing
  wiki/Tournaments/MWC/2023_7K/en.md
Labels: type:update, area:tournaments, size/S

#8580 Fix typo in `MWC 7K 2023`
  wiki/Tournaments/MWC/2023_7K/en.md
Labels: area:tournaments, type:clean up, size/XS

#8576 Add a note about lazer scores not being permanent
  wiki/Help_centre/Upgrading_to_lazer/en.md
Labels: type:update, size/XS, area:help centre

#8581 Add New Featured Artist: Fellowship news post
  news/2023-01-07-new-featured-artist-fellowship.md
Labels: area:news, type:new article, size/M

#8573 Retry setup of the outdated articles check for a few times before failing
  .github/workflows/continuous-integration.yml
Labels: area:utilities, size/S

#8582 Add custom YAML validation rules and use `yamllint` wrapper from another package
  .github/workflows/continuous-integration.yml
  run-checks.sh
  scripts/ci/run_yamllint.py
  scripts/requirements.txt
  wiki/osu!_wiki/Maintenance/en.md
Labels: area:utilities, size/L

#8583 Bump `osu-wiki-tools` to version `1.1.1`
  scripts/requirements.txt
Labels: area:utilities, type:update, size/XS

#8584 Fetch PR information for the outdated articles check using OAuth token provided by GitHub
  .github/workflows/continuous-integration.yml
Labels: area:utilities, size/XS

#8585 Allow for bot-assisted refereeing on officially supported tournaments
  wiki/Tournaments/Official_support/de.md
  wiki/Tournaments/Official_support/en.md
  wiki/Tournaments/Official_support/fr.md
  wiki/Tournaments/Official_support/zh.md
Labels: type:update, area:tournaments, size/XS

#8586 Update tourneys official support last update date
  wiki/Tournaments/Official_support/en.md
Labels: type:update, area:tournaments, size/XS

#8587 Update `MWC 7K 2023` for the Qualifiers stage
  wiki/Tournaments/MWC/2023_7K/en.md
Labels: type:update, area:tournaments, size/S

#8590 Update `Becoming_a_Beatmap_Nominator`
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/en.md
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/fr.md
Labels: type:update, size/S, area:community

#8591 Add "Danzai - Error 001" to `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/XS

#8588 Move list of wiki maintainers to `People`
  wiki/Main_Page/de.md
  wiki/Main_Page/en.md
  wiki/Main_Page/es.md
  wiki/Main_Page/fr.md
  wiki/People/de.md
  wiki/People/en.md
  wiki/People/es.md
  wiki/People/fr.md
  wiki/People/id.md
  wiki/People/osu!_wiki_maintainers/de.md
  wiki/People/osu!_wiki_maintainers/en.md
  wiki/People/osu!_wiki_maintainers/es.md
  wiki/People/osu!_wiki_maintainers/fr.md
  wiki/People/osu!_wiki_maintainers/id.md
  wiki/People/osu!_wiki_maintainers/ru.md
  wiki/People/osu!_wiki_maintainers/zh-tw.md
  wiki/People/ru.md
  wiki/People/sv.md
  wiki/People/zh-tw.md
  wiki/People/zh.md
  wiki/redirect.yaml
Labels: type:clean up, size/M, area:community

#8493 [ID] Retranslate `Handling foul play`
  wiki/Reporting_bad_behaviour/Handling_foul_play/id.md
Labels: area:translations, type:update, size/L, stale merge

#8503 [ZH] Complete translation of 'FAQ`
  wiki/FAQ/zh.md
Labels: area:translations, type:update, size/M, stale merge

#8514 [ZH] Add `SEV_Rating`
  wiki/People/The_Team/Nomination_Assessment_Team/SEV_rating/zh.md
Labels: area:translations, type:new article, size/L, stale merge

#8523 Cleanup `triangles_Beatmapping_Contest` and [ZH] Add `t_BC`
  wiki/Contests/triangles_Beatmapping_Contest/en.md
  wiki/Contests/triangles_Beatmapping_Contest/zh.md
Labels: area:translations, type:new article, type:clean up, size/L, stale merge, area:community

#8520 [ZH] Update `Ranking_Criteria`, Cleanup `o!m RC`, `o!t RC` and `o!c RC`
  wiki/Ranking_Criteria/osu!catch/zh.md
  wiki/Ranking_Criteria/osu!mania/zh.md
  wiki/Ranking_Criteria/osu!taiko/zh.md
  wiki/Ranking_Criteria/zh.md
Labels: area:translations, type:update, type:clean up, size/M, stale merge, area:ranking criteria

#8515 [FR] Update `Nomination Assessment Team`
  wiki/People/The_Team/Nomination_Assessment_Team/fr.md
Labels: area:translations, type:update, size/L, area:community

#8522 [ZH] Update `Main_Page`
  wiki/Main_Page/zh.md
Labels: area:translations, type:update, size/XS, stale merge

#8534 [ZH] Update `Help_centre`
  wiki/Help_centre/zh.md
Labels: area:translations, type:update, size/XS, area:help centre

#8518 [FR] Update `Help Centre` and `Main Page`
  wiki/Help_centre/fr.md
  wiki/Main_Page/fr.md
Labels: area:translations, type:update, size/XS

#8521 [ZH] Update `Beatmap_Category` and Cleanup `Beatmap`
  wiki/Beatmap/Category/zh.md
  wiki/Beatmap/zh.md
Labels: area:translations, type:update, size/M, stale merge, area:beatmapping

#8536 [FR] Update `Ranking Criteria/osu!`
  wiki/Ranking_Criteria/osu!/fr.md
Labels: area:translations, type:update, size/XS, area:ranking criteria

#8543 [DE] Add hit objects `Hyperfruit`, `Spinner` and `Juice stream`
  wiki/Gameplay/Hit_object/Hyperfruit/de.md
  wiki/Gameplay/Hit_object/Juice_stream/de.md
  wiki/Gameplay/Hit_object/Spinner/de.md
Labels: area:translations, type:new article, size/M, stale merge, area:beatmapping

#8551 [ID] Update `Main_Page`
  wiki/Main_Page/id.md
Labels: area:translations, type:update, size/M, stale merge

#8549 [DE] Add `Community/Video series/osu!mapping`
  wiki/Community/Video_series/osu!mapping/de.md
Labels: area:translations, type:new article, size/L, area:community

#8554 [DE] Add `Discord servers`, `osu! University` and `osu! Medal Hunters`
  wiki/Community/Discord_servers/de.md
  wiki/Community/Discord_servers/osu!_Medal_Hunters/de.md
  wiki/Community/Discord_servers/osu!_University/de.md
Labels: area:translations, type:new article, size/L, area:community

#8555 [DE] Add `Modding & Mapping Hub` Discord server articles
  wiki/Community/Discord_servers/osu!catch_Modding_&_Mapping_Hub/de.md
  wiki/Community/Discord_servers/osu!mania_Modding_&_Mapping_Hub/de.md
  wiki/Community/Discord_servers/osu!taiko_Modding_&_Mapping_Hub/de.md
Labels: area:translations, type:new article, size/L, area:community

#8532 [IT] Add `How you can help!`
  wiki/Community/How_you_can_help!/it.md
Labels: area:translations, type:new article, size/M

#8481 [FR] Add `Help centre/Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/fr.md
Labels: area:translations, type:new article, size/L, area:help centre

#8524 [PT-BR] Update `Main Page`
  wiki/Main_Page/pt-br.md
Labels: area:translations, type:update, size/XS

#8530 [PT-BR] Update `group-info`
  meta/group-info/pt-br.yaml
Labels: area:translations, area:utilities, type:update, size/S

#8519 [PT-BR] Update `ScoreV1`
  wiki/Gameplay/Score/ScoreV1/osu!/pt-br.md
Labels: area:translations, type:update, size/M, area:gameplay

#8529 [IT] Add `Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/it.md
Labels: area:translations, type:new article, size/L, area:help centre

#8541 [PT-BR] Add `Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/pt-br.md
Labels: area:translations, type:new article, size/L, area:help centre

#8525 Update BN/GMT/NAT listings
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/fr.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/ko.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/bg.md
  wiki/People/The_Team/Global_Moderation_Team/de.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Global_Moderation_Team/es.md
  wiki/People/The_Team/Global_Moderation_Team/fr.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/Global_Moderation_Team/ja.md
  wiki/People/The_Team/Global_Moderation_Team/ko.md
  wiki/People/The_Team/Global_Moderation_Team/pl.md
  wiki/People/The_Team/Global_Moderation_Team/pt-br.md
  wiki/People/The_Team/Global_Moderation_Team/ru.md
  wiki/People/The_Team/Global_Moderation_Team/th.md
  wiki/People/The_Team/Global_Moderation_Team/tr.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/es.md
  wiki/People/The_Team/Nomination_Assessment_Team/fr.md
  wiki/People/The_Team/Nomination_Assessment_Team/id.md
  wiki/People/The_Team/Nomination_Assessment_Team/pt-br.md
  wiki/People/The_Team/Nomination_Assessment_Team/ru.md
  wiki/People/The_Team/Nomination_Assessment_Team/th.md
  wiki/People/The_Team/Nomination_Assessment_Team/tr.md
  wiki/People/The_Team/Nomination_Assessment_Team/zh.md
Labels: type:update, size/M, area:community

#8556 [ES] Add/Update some `People` articles
  wiki/People/Community_Contributors/es.md
  wiki/People/Performance_Points_Committee/es.md
  wiki/People/The_Team/Developers/es.md
  wiki/People/The_Team/Staff_Log/es.md
  wiki/People/es.md
  wiki/People/peppy/es.md
Labels: area:translations, type:update, type:new article, size/M, area:community

#8535 Add `Ulat Cup 2022` wiki article
  wiki/Tournaments/UCUP/2022/en.md
  wiki/Tournaments/UCUP/2022/img/badge.png
  wiki/Tournaments/UCUP/2022/img/logo.jpg
  wiki/Tournaments/UCUP/en.md
  wiki/Tournaments/UCUP/id.md
  wiki/Tournaments/UCUP/zh-tw.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
Labels: type:new article, area:tournaments, size/XL

#8565 [ES] Update `Beatmap/Approach_rate`
  wiki/Beatmap/Approach_rate/es.md
Labels: area:translations, type:update, size/M, area:beatmapping

#8504 [ES] Add `Mascots/Gallery`
  wiki/Mascots/Gallery/es.md
  wiki/Mascots/es.md
Labels: area:translations, type:new article, size/L

#8598 Update `Maintenance` links
  wiki/osu!_wiki/Maintenance/de.md
  wiki/osu!_wiki/Maintenance/en.md
  wiki/osu!_wiki/Maintenance/es.md
  wiki/osu!_wiki/Maintenance/fr.md
  wiki/osu!_wiki/Maintenance/id.md
  wiki/osu!_wiki/Maintenance/ru.md
Labels: type:clean up, size/M

#8602 Fix missing flag displays on `Ulat Cup 2022`
  wiki/Tournaments/UCUP/2022/en.md
Labels: area:tournaments, type:clean up, size/XS

#8544 [ID] Add `Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/id.md
Labels: area:translations, type:new article, size/L, area:help centre

#8603 Add New Featured Artist: Euchaeta news post
  news/2023/2023-01-11-new-featured-artist-euchaeta.md
Labels: area:news, type:new article, size/M

#8563 [ID] Cleanup `Rules`
  wiki/Rules/id.md
Labels: area:translations, type:clean up, size/M, stale merge

#8540 [DE] Update `ASC/Formatting`
  wiki/Article_styling_criteria/Formatting/de.md
Labels: area:translations, area:utilities, type:update, size/M, stale merge

#8610 Add Skinning Contest #3 Results link
  wiki/Contests/Skinning_Contest/2/en.md
  wiki/Contests/Skinning_Contest/3/en.md
Labels: size/XS

#8611 [ID] Update `Main_page`
  wiki/Main_Page/id.md
Labels: size/XS

#8606 Add note about Azer's GMT badge
  wiki/People/The_Team/Global_Moderation_Team/de.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Global_Moderation_Team/es.md
  wiki/People/The_Team/Global_Moderation_Team/fr.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/Global_Moderation_Team/ja.md
  wiki/People/The_Team/Global_Moderation_Team/ru.md
  wiki/People/The_Team/Global_Moderation_Team/th.md
  wiki/People/The_Team/Global_Moderation_Team/tr.md
Labels: type:update, size/S, area:community

#8612 Add New Featured Artist: Sound piercer news post
  news/2023/2023-01-14-new-featured-artist-sound-piercer.md
Labels: area:news, type:new article, size/M

#8531 [DE] Add `Help centre/Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/de.md
Labels: area:translations, type:new article, size/L, area:help centre

#8537 [RU] Add `Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/ru.md
Labels: area:translations, type:new article, size/L, area:help centre

#8593 [IT] Update `Help centre`
  wiki/Help_centre/it.md
Labels: type:update, size/XS, stale merge, area:help centre

#8615 [RU] Update `Main page`
  wiki/Main_Page/ru.md
Labels: area:translations, type:update, type:clean up, size/S

#8627 Update `MWC 7K 2023` for the Round of 16 Stage
  wiki/Tournaments/MWC/2023_7K/en.md
Labels: type:update, area:tournaments, size/M

#8626 [DE] Update `Global moderation team` and `osu! wiki maintainers`
  wiki/People/The_Team/Global_Moderation_Team/de.md
  wiki/People/osu!_wiki_maintainers/de.md
Labels: area:translations, type:update, size/S, area:community

#8625 [DE] Update `People/Users with unique titles`
  wiki/People/Users_with_unique_titles/de.md
Labels: area:translations, type:update, size/S, area:community

#8622 [FR] Update `People/The Team/Global Moderation Team`
  wiki/People/The_Team/Global_Moderation_Team/fr.md
Labels: area:translations, type:update, size/XS, area:community

#8624 [DE] Fix grammar and styling issues in several articles
  wiki/Client/Options/de.md
  wiki/Community/Internet_Relay_Chat/de.md
  wiki/Gameplay/Grade/de.md
  wiki/Guides/OpenGL_Support_Issues/de.md
  wiki/Main_Page/de.md
  wiki/People/The_Team/de.md
  wiki/Performance_points/de.md
  wiki/Reporting_bad_behaviour/Handling_foul_play/de.md
  wiki/Storyboard/Scripting/osu!_File_Toggles/de.md
  wiki/Tournaments/OWC/2014/de.md
  wiki/Tournaments/OWC/2015/de.md
  wiki/osu!_wiki/Contribution_guide/GitHub_Desktop/de.md
  wiki/osu!_wiki/Contribution_guide/GitHub_web-based_editor/de.md
Labels: area:translations, type:clean up, size/M

#8599 [FR] Update `Tournaments/Official support`
  wiki/Tournaments/Official_support/fr.md
Labels: area:translations, type:update, area:tournaments, size/XS

#8601 [FR] Update `People/The Team/Beatmap Nominators/Becoming a Beatmap Nominator`
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/fr.md
Labels: area:translations, type:update, size/S, area:modding

#8608 Update `osu!stream` and fill in all the missing information on `osu!stream song list`
  wiki/osu!stream/Song_List/de.md
  wiki/osu!stream/Song_List/en.md
  wiki/osu!stream/Song_List/fr.md
  wiki/osu!stream/Song_List/img/dif0.png
  wiki/osu!stream/de.md
  wiki/osu!stream/en.md
  wiki/osu!stream/fr.md
  wiki/osu!stream/id.md
Labels: type:update, size/M

#8605 Add `osu! 2023 Skinning Poll` news post
  news/2023/2023-01-16-skinning-poll-2023.md
Labels: area:news, type:new article, size/S

#8617 Update `The_Team` Listings
  wiki/People/The_Team/Beatmap_Nominators/en.md
  wiki/People/The_Team/Beatmap_Nominators/es.md
  wiki/People/The_Team/Beatmap_Nominators/fr.md
  wiki/People/The_Team/Beatmap_Nominators/id.md
  wiki/People/The_Team/Beatmap_Nominators/ko.md
  wiki/People/The_Team/Beatmap_Nominators/pt-br.md
  wiki/People/The_Team/Beatmap_Nominators/ru.md
  wiki/People/The_Team/Beatmap_Nominators/th.md
  wiki/People/The_Team/Beatmap_Nominators/tr.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Global_Moderation_Team/es.md
  wiki/People/The_Team/Global_Moderation_Team/pt-br.md
  wiki/People/The_Team/Nomination_Assessment_Team/en.md
  wiki/People/The_Team/Nomination_Assessment_Team/es.md
  wiki/People/The_Team/Nomination_Assessment_Team/fr.md
  wiki/People/The_Team/Nomination_Assessment_Team/id.md
  wiki/People/The_Team/Nomination_Assessment_Team/pt-br.md
  wiki/People/The_Team/Nomination_Assessment_Team/ru.md
  wiki/People/The_Team/Nomination_Assessment_Team/th.md
  wiki/People/The_Team/Nomination_Assessment_Team/tr.md
  wiki/People/The_Team/Nomination_Assessment_Team/zh.md
  wiki/People/The_Team/Staff_Log/2022/en.md
  wiki/People/The_Team/Staff_Log/2023/en.md
  wiki/People/The_Team/osu!_Alumni/de.md
  wiki/People/The_Team/osu!_Alumni/en.md
  wiki/People/The_Team/osu!_Alumni/es.md
  wiki/People/The_Team/osu!_Alumni/fr.md
  wiki/People/The_Team/osu!_Alumni/id.md
  wiki/People/The_Team/osu!_Alumni/ja.md
  wiki/People/The_Team/osu!_Alumni/ko.md
  wiki/People/The_Team/osu!_Alumni/pl.md
  wiki/People/The_Team/osu!_Alumni/pt-br.md
  wiki/People/The_Team/osu!_Alumni/ru.md
  wiki/People/The_Team/osu!_Alumni/tr.md
  wiki/People/The_Team/osu!_Alumni/zh.md
Labels: type:update, size/XL, area:community

#8633 Update `Staff Log` with the `2023` entry link
  wiki/People/The_Team/Staff_Log/en.md
  wiki/People/The_Team/Staff_Log/es.md
  wiki/People/The_Team/Staff_Log/fr.md
  wiki/People/The_Team/Staff_Log/id.md
  wiki/People/The_Team/Staff_Log/ja.md
  wiki/People/The_Team/Staff_Log/ru.md
Labels: type:update, type:clean up, size/M

#8597 [ES] Add `Play time`, `Primary metadata source`, `Song compilation` and `Star Rating`
  wiki/Beatmap/Approach_rate/es.md
  wiki/Beatmap/Play_time/es.md
  wiki/Beatmap/Primary_metadata_source/es.md
  wiki/Beatmap/Song_compilation/es.md
  wiki/Beatmap/Star_rating/es.md
  wiki/Beatmap/TAG/es.md
Labels: area:translations, type:new article, size/M, area:beatmapping

#8609 [ES] Update `Maintenance` and `osu! wiki maintainers`
  wiki/Beatmap/Beatmap_description/es.md
  wiki/People/osu!_wiki_maintainers/es.md
  wiki/osu!_wiki/Maintenance/es.md
Labels: area:translations, area:utilities, type:update, size/L

#8639 Add New Featured Artist: Etherwood news post
  news/2023/2023-01-18-new-featured-artist-etherwood.md
Labels: area:news, type:new article, size/M

#8614 [RU] Add `Client/Release stream/Lazer/File storage`
  wiki/Client/Release_stream/Lazer/File_storage/ru.md
  wiki/Help_centre/Upgrading_to_lazer/ru.md
Labels: area:translations, area:utilities, type:new article, size/M, area:client

#8621 [RU] Update several website and community-related articles slightly
  wiki/BBCode/ru.md
  wiki/Bot_account/ru.md
  wiki/Help_centre/Account/ru.md
  wiki/People/The_Team/Global_Moderation_Team/ru.md
  wiki/People/peppy/ru.md
  wiki/Silence/ru.md
Labels: area:translations, type:update, size/M, area:community

#8619 [RU] Update several gameplay-related articles slightly
  wiki/Gameplay/Game_modifier/Auto/ru.md
  wiki/Gameplay/Game_modifier/Co-op/ru.md
  wiki/Performance_points/ru.md
Labels: area:translations, type:update, size/S, area:gameplay

#8618 [RU] Update several mapping-related articles slightly
  wiki/Beatmap/Approach_rate/ru.md
  wiki/Beatmap/Break/ru.md
  wiki/Beatmap/Overall_difficulty/ru.md
  wiki/Modding/Kudosu/ru.md
  wiki/Ranking_Criteria/osu!/ru.md
  wiki/Rules/Song_Content_Rules/ru.md
  wiki/Rules/Visual_Content_Considerations/ru.md
Labels: area:translations, type:update, size/M, area:beatmapping

#8635 [DE] Retranslate `Guides/Getting your map modded`
  wiki/Guides/Getting_Your_Map_Modded/de.md
Labels: area:translations, type:rewrite, size/M, area:modding

#8596 Add `Community/osu!monthly` and `People/osu!monthly team` wiki page
  wiki/Community/de.md
  wiki/Community/en.md
  wiki/Community/fr.md
  wiki/Community/id.md
  wiki/Community/osu!monthly/en.md
  wiki/Community/uk.md
  wiki/Community/zh-tw.md
  wiki/People/de.md
  wiki/People/en.md
  wiki/People/es.md
  wiki/People/fr.md
  wiki/People/osu!monthly_team/en.md
  wiki/People/ru.md
Labels: type:new article, size/L, area:community

#8642 Update `MWC 7K 2023` Round of 16 schedule
  wiki/Tournaments/MWC/2023_7K/en.md
Labels: type:update, area:tournaments, size/XS

#8646 Add GMT applications 2023 news post
  news/2023/2023-01-19-gmt-apps-now-open.md
Labels: area:news, size/M

#8607 Add placeholder question mark for 2018–present in `History of osu!`
  wiki/History_of_osu!/de.md
  wiki/History_of_osu!/en.md
  wiki/History_of_osu!/fr.md
  wiki/History_of_osu!/ru.md
Labels: size/XS

#8655 Remove FAMoss from `#indonesian` moderator listing in `Global Moderation Team`
  wiki/People/The_Team/Global_Moderation_Team/de.md
  wiki/People/The_Team/Global_Moderation_Team/en.md
  wiki/People/The_Team/Global_Moderation_Team/es.md
  wiki/People/The_Team/Global_Moderation_Team/fr.md
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/The_Team/Global_Moderation_Team/ja.md
  wiki/People/The_Team/Global_Moderation_Team/ko.md
  wiki/People/The_Team/Global_Moderation_Team/pl.md
  wiki/People/The_Team/Global_Moderation_Team/pt-br.md
  wiki/People/The_Team/Global_Moderation_Team/ru.md
  wiki/People/The_Team/Global_Moderation_Team/th.md
  wiki/People/The_Team/Global_Moderation_Team/tr.md
  wiki/People/The_Team/Global_Moderation_Team/zh.md
Labels: type:clean up, size/S, area:community

#8651 [ES] Fix typo in `People/osu! wiki maintainers`
  wiki/People/osu!_wiki_maintainers/es.md
Labels: area:translations, type:clean up, size/XS, area:community

#8656 Update `MWC 7K 2023`
  wiki/Tournaments/MWC/2023_7K/en.md
Labels: size/XS

#8634 Mark `History of osu!/2009` a stub
  wiki/History_of_osu!/2009/en.md
  wiki/History_of_osu!/2009/fr.md
  wiki/History_of_osu!/2009/id.md
Labels: type:clean up, size/S

#8664 Fix a grammar mistake in `Silence`
  wiki/Silence/en.md
Labels: type:clean up, size/XS

#8660 Add New Featured Artist: kakichoco news post
  news/2023/2023-01-21-new-featured-artist-kakichoco.md
Labels: area:news, type:new article, size/M

#8667 Update `File storage in osu!(lazer)`
  wiki/Client/Release_stream/Lazer/File_storage/en.md
  wiki/Client/Release_stream/Lazer/File_storage/es.md
  wiki/Client/Release_stream/Lazer/File_storage/fr.md
  wiki/Client/Release_stream/Lazer/File_storage/ru.md
Labels: type:update, size/M, area:client

#8669 [RU] Translate a missed heading from `File storage in osu!(lazer)`
  wiki/Client/Release_stream/Lazer/File_storage/ru.md
Labels: area:translations, area:utilities, type:clean up, size/XS, area:client

#8645 [ZH] Add `Gameplay/Health`
  wiki/Gameplay/Health/zh.md
Labels: area:translations, type:new article, size/L, area:gameplay

#8604 [JA] Add Beatmap related pages and resolve some pages' errors
  wiki/Beatmap/Beatmap_collaborations/ja.md
  wiki/Beatmap/Beatmap_host/ja.md
  wiki/Beatmap/Genre_and_language/ja.md
  wiki/Beatmap/Guest_difficulty/ja.md
  wiki/Beatmap/Hype/ja.md
  wiki/Beatmap/Marathon/ja.md
  wiki/Bit_rate/ja.md
  wiki/Game_mode/osu!taiko/ja.md
  wiki/Modding/Kudosu/ja.md
  wiki/Modding/Mod_for_mod/ja.md
  wiki/Modding/Mod_request/ja.md
  wiki/Modding/Modder/ja.md
  wiki/Modding/Normal_mod/ja.md
  wiki/Modding/Timestamp/ja.md
  wiki/Ranking_Criteria/Difficulty_naming/ja.md
  wiki/Ranking_Criteria/Scaling_BPM/ja.md
  wiki/Skinning/Skinner/ja.md
  wiki/Skinning/ja.md
  wiki/Skinning/osu!taiko/ja.md
Labels: area:translations, type:new article, size/XXL, area:beatmapping, area:modding

#8662 [RO] Update `Main Page`
  wiki/Main_Page/ro.md
Labels: area:translations, type:update, size/S

#8661 [RO] Add `Twitter`
  wiki/Twitter/ro.md
Labels: area:translations, type:new article, size/S, area:community

#8676 Update `MWC 7K 2023` for the Quarterfinals stage
  wiki/Tournaments/MWC/2023_7K/en.md
Labels: type:update, area:tournaments, size/M

#8678 [RU] Copy `Rules/Contributor Code of Conduct` with minimal changes
  wiki/Rules/Contributor_Code_of_Conduct/ru.md
Labels: area:translations, type:new article, size/M

#8680 Fix Beatmap Spotlights Winter 2023 schedule
  news/2022/2022-12-06-beatmap-spotlights-season-8-winter-2023-precision.md
  wiki/Beatmap_Spotlights/Seasons/2023_Winter/en.md
  wiki/Beatmap_Spotlights/Seasons/2023_Winter/es.md
  wiki/Beatmap_Spotlights/Seasons/2023_Winter/fr.md
Labels: area:news, type:clean up, size/M, area:community

#8681 Update `MWC 7K 2023`
  wiki/Tournaments/MWC/2023_7K/en.md
Labels: size/XS

#8663 [IT] Update `Installation`
  wiki/Client/Installation/it.md
Labels: area:translations, type:update, size/S, area:client

#8671 [IT] Add `Help centre/Beatmapping`
  wiki/Help_centre/Beatmapping/it.md
Labels: area:translations, type:new article, size/M, area:help centre

#8654 [ZH] Update `Main Page` and `People`
  wiki/Main_Page/zh.md
  wiki/People/zh.md
Labels: area:translations, type:update, size/S

#8672 [JA] Add `Client/Beatmap editor/Timing`
  wiki/Client/Beatmap_editor/Timing/ja.md
Labels: size/S

#8644 [JA] Retranslate `Gameplay/Grade`
  wiki/Gameplay/Grade/ja.md
Labels: size/M

#8683 [JA/others] Remove outdated marker and add missing tags in `Gameplay/Grade`
  wiki/Gameplay/Grade/de.md
  wiki/Gameplay/Grade/en.md
  wiki/Gameplay/Grade/fr.md
  wiki/Gameplay/Grade/ja.md
  wiki/Gameplay/Grade/zh-tw.md
Labels: area:translations, type:clean up, size/S

#8675 [ZH] Add `Gameplay/Play_style` (including subpages) and `Gameplay/Grade`
  wiki/Gameplay/Grade/zh.md
  wiki/Gameplay/Play_style/Alternating/zh.md
  wiki/Gameplay/Play_style/Double_tapping/zh.md
  wiki/Gameplay/Play_style/Drag/zh.md
  wiki/Gameplay/Play_style/Hover/zh.md
  wiki/Gameplay/Play_style/Hybrid/zh.md
  wiki/Gameplay/Play_style/Single-tapping/zh.md
  wiki/Gameplay/Play_style/Tapping_style/zh.md
  wiki/Gameplay/Play_style/Tapx/zh.md
  wiki/Gameplay/Play_style/zh.md
Labels: area:translations, type:new article, size/L

#8690 Add Community Choice 2022: Voting Open news post
  news/2023/2023-01-24-community-choice-2022-open.md
Labels: area:news, type:new article, size/M

#8691 [RU] Add `Gameplay/Grade`
  wiki/Gameplay/Grade/ru.md
Labels: area:translations, type:new article, size/M, area:gameplay

#8687 Add GitHub action to automatically greet new contributors
  .github/workflows/welcome-new-contributors.yml
Labels: area:utilities, size/S

#8695 Fix typo in `Ranking Criteria/Difficulty naming`
  wiki/Ranking_Criteria/Difficulty_naming/en.md
Labels: type:clean up, size/XS, area:ranking criteria

#8693 [ID] Update `People`, `People/The Team/Global Moderation Team`, and `People/Users with unique titles`
  wiki/People/The_Team/Global_Moderation_Team/id.md
  wiki/People/Users_with_unique_titles/id.md
  wiki/People/id.md
  wiki/People/osu!_wiki_maintainers/id.md
Labels: area:translations, type:update, size/M, area:community

#8694 Add New Featured Artist: WINTERHORDE news post
  news/2023/2023-01-25-new-featured-artist-winterhorde.md
Labels: area:news, type:new article, size/M

#8673 [RO] Add `group-info`
  meta/group-info/ro.yaml
Labels: area:translations, area:utilities, size/S

#8698 Update `MWC 7K 2023` Quarterfinals schedule
  wiki/Tournaments/MWC/2023_7K/en.md
Labels: type:update, area:tournaments, size/S

#8643 Add mapping contest official support article
  wiki/Contests/Contest_points/en.md
  wiki/Contests/Official_support/en.md
  wiki/Tournaments/Official_support/en.md
  wiki/Tournaments/Official_support/fr.md
Labels: size/L

#8708 Add clause clarifying `Rules/Explicit Content` only covering unchangeable audio content
  wiki/Rules/Explicit_Content/de.md
  wiki/Rules/Explicit_Content/en.md
  wiki/Rules/Explicit_Content/fr.md
  wiki/Rules/Explicit_Content/id.md
  wiki/Rules/Explicit_Content/ru.md
Labels: type:update, size/S, area:beatmapping

#8709 Update `M2P` contest article
  wiki/Contests/M2P/en.md
  wiki/Contests/Official_support/en.md
  wiki/Contests/en.md
  wiki/Contests/fr.md
Labels: type:update, size/M, area:community

#8707 [JA] Update `Main_Page`
  wiki/Main_Page/ja.md
Labels: size/XS

#8682 [ZH] Add `Client/Release stream/Lazer/File storage`
  wiki/Client/Release_stream/Lazer/File_storage/zh.md
Labels: area:translations, type:new article, size/M, area:client

#8628 [ZH] Add `Rules/Explicit Content` and several new translations in `Beatmap`
  wiki/Beatmap/Approach_rate/zh.md
  wiki/Beatmap/Beatmap_description/zh.md
  wiki/Beatmap/Countdown/zh.md
  wiki/Rules/Explicit_Content/zh.md
Labels: area:translations, type:new article, size/L, area:beatmapping

#8703 [ZH] Update `GMT`
  wiki/People/The_Team/Global_Moderation_Team/zh.md
Labels: area:translations, type:update, size/M, area:community

#8692 [ZH] Update `Gameplay/Accuracy`
  wiki/Gameplay/Accuracy/zh.md
Labels: area:translations, type:update, size/M, area:gameplay

#8629 [DE] Add `Community/osu! Talk Event`
  wiki/Community/osu!_Talk_Event/de.md
Labels: area:translations, type:new article, size/M, area:community

#8631 [FR] Update `osu!_wiki/Maintenance`
  wiki/osu!_wiki/Maintenance/fr.md
Labels: area:translations, area:utilities, type:update, size/M

#8647 [FR] Update `osu!stream` and `osu!stream/Song List`
  wiki/osu!stream/Song_List/fr.md
  wiki/osu!stream/fr.md
Labels: area:translations, type:update, size/M

#8648 [FR] Add `Community/osu!monthly` and `People/osu!monthly team` (+ Update `Community` and `People`)
  wiki/Community/fr.md
  wiki/Community/osu!monthly/fr.md
  wiki/People/fr.md
  wiki/People/osu!monthly_team/fr.md
Labels: type:update, type:new article, size/L, area:community

#8613 [FR] Add `People/The Team/Nomination Assessment Team/SEV rating`
  wiki/People/The_Team/Nomination_Assessment_Team/SEV_rating/fr.md
Labels: area:translations, type:new article, size/L, area:modding

#8696 [IT] Update `Main Page`
  wiki/Main_Page/it.md
Labels: area:translations, type:update, area:website, size/S

#8510 [ZH] Add ` Help centre/Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/zh.md
Labels: area:translations, type:new article, size/L, area:help centre

#8711 [ES] Review `osu!api`
  wiki/osu!api/es.md
Labels: area:translations, area:utilities, type:clean up, area:website, size/S

#8704 [ZH] Add `Gameplay/Hit_object` including subpages
  wiki/Gameplay/Hit_object/Approach_circle/zh.md
  wiki/Gameplay/Hit_object/Banana/zh.md
  wiki/Gameplay/Hit_object/Fruit/zh.md
  wiki/Gameplay/Hit_object/Hit_circle/zh.md
  wiki/Gameplay/Hit_object/Hyperfruit/zh.md
  wiki/Gameplay/Hit_object/Spinner/zh.md
  wiki/Gameplay/Hit_object/zh.md
  wiki/Gameplay/Hyperdash/zh.md
Labels: area:translations, type:new article, size/M, area:gameplay

#8700 [ZH] Update `BN`, `NAT`, and `becoming_a_BN`
  wiki/People/The_Team/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/zh.md
  wiki/People/The_Team/Beatmap_Nominators/zh.md
  wiki/People/The_Team/Nomination_Assessment_Team/zh.md
Labels: area:translations, type:update, size/M, area:community

#8684 [IT] Add `Beatmap/Category`
  wiki/Beatmap/Category/it.md
Labels: area:translations, type:new article, size/M, area:beatmapping

#8697 Add Clemaister's tracks to `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: type:update, size/S

#8505 [ES] Add/Update `People` articles
  wiki/People/Community_Contributors/es.md
  wiki/People/The_Team/Account_support_team/es.md
  wiki/People/The_Team/Beatmap_Spotlight_Curators/es.md
  wiki/People/The_Team/Language_Surveillance_Division/es.md
  wiki/People/The_Team/Project_Loved_Team/es.md
  wiki/People/The_Team/es.md
  wiki/People/Tournament_Committee/es.md
  wiki/People/Users_with_unique_titles/es.md
Labels: area:translations, type:new article, size/L, area:community
