Repository ppy/osu-wiki, pull requests merged in 2024-05, with the labels that each got.

#11345 [PT-BR] Add `Community`
  wiki/Community/pt-br.md
Labels: area:translations, size/M

#11276 [ES] Add `Featured Artists` & `Featured Artist showcase beatmaps`
  wiki/People/Featured_Artists/Featured_Artist_showcase_beatmaps/es.md
  wiki/People/Featured_Artists/es.md
Labels: area:translations, size/XL

#11033 [ES] Add `Music Theory`
  wiki/Music_theory/es.md
  wiki/Music_theory/img/MusicTheory1-ES.png
Labels: area:translations, size/M

#11285 [ES] Update `Tournaments`
  wiki/Tournaments/Badge-weighted_seeding/es.md
  wiki/Tournaments/es.md
Labels: area:translations, area:tournaments, size/M

#11245 [FR] Native review of `Announcement messages`
  wiki/Announcement_messages/fr.md
Labels: area:translations, size/S

#11334 Update tournament indicator in `Beatmap/Packs`
  wiki/Beatmap/Packs/en.md
  wiki/Beatmap/Packs/es.md
  wiki/Beatmap/Packs/fr.md
  wiki/Beatmap/Packs/it.md
  wiki/Beatmap/Packs/zh.md
Labels: size/S

#11298 [ES] Add `Content usage permissions`
  wiki/Ranking_criteria/es.md
  wiki/Rules/Content_usage_permissions/es.md
Labels: area:translations, size/L

#11287 [ES] Add `Storyboard/Scripting/Audio`
  wiki/Storyboard/Scripting/Audio/es.md
Labels: area:translations, size/M

#11289 [ES] Add `Storyboard/Scripting/Commands`
  wiki/Storyboard/Scripting/Commands/es.md
  wiki/Storyboard/Scripting/Commands/img/SBS_Base_C.-ES.png
Labels: area:translations, size/L

#11288 [ES] Add `Storyboard/Scripting/Cheat Sheet`
  wiki/Storyboard/Scripting/Cheat_Sheet/es.md
Labels: area:translations, size/L

#11299 [ES] Add `Beatmap Spotlights Season 10 (Autumn 2023)`
  wiki/Beatmap_Spotlights/Seasons/2023_Autumn/es.md
  wiki/Beatmap_Spotlights/Seasons/2023_Spring/es.md
Labels: area:translations, size/L

#11295 [ES] Add `Storyboard/Scripting`
  wiki/Storyboard/Scripting/es.md
Labels: area:translations, size/S

#11279 [ID] Update `Technical support team`
  wiki/People/Technical_Support_Team/id.md
Labels: area:translations, size/S, state/stale merge

#11310 [IT] Add `Rules/Content Usage Permissions`
  wiki/Rules/Content_usage_permissions/it.md
Labels: area:translations, size/L

#11290 [ES] Add `Storyboard/Scripting/Compound Commands`
  wiki/Storyboard/Scripting/Compound_Commands/es.md
Labels: area:translations, size/M

#11327 [ES] Add `Rules/Content voting process`
  wiki/Rules/Content_voting_process/es.md
Labels: area:translations, size/M, state/stale merge

#11317 [ES] Add `Skinning/skin.ini`
  wiki/Game_mode/osu!/es.md
  wiki/Skinning/FAQ/es.md
  wiki/Skinning/skin.ini/es.md
Labels: area:translations, size/XL

#11318 [ES] Add `Skinning/skin.ini/Blank`
  wiki/Skinning/skin.ini/Blank/es.md
Labels: area:translations, size/XXL

#11319 [ES] Add `Skinning/osu!taiko`
  wiki/Skinning/osu!taiko/es.md
Labels: area:translations, size/XL

#11320 [ES] Add `Skinning/osu!mania`
  wiki/Skinning/osu!mania/es.md
Labels: area:translations, size/XL

#11321 [ES] Add `Skinning/osu!catch`
  wiki/Skinning/osu!catch/es.md
Labels: area:translations, size/L

#11325 [ES] Add `Skin`
  wiki/Skin/es.md
Labels: area:translations, size/S

#11326 [ES] Add `Rules/Explicit content`
  wiki/Rules/Explicit_content/es.md
  wiki/Rules/Explicit_content/img/explicit-tag-ES.png
Labels: area:translations, size/M

#11323 [ES] Add `Skinning/Sounds`
  wiki/Beatmapping/Hitsound/es.md
  wiki/Ranking_criteria/es.md
  wiki/Skinning/Sounds/es.md
  wiki/osu!supporter/es.md
Labels: area:translations, size/XL

#11324 [ES] Add `Skinning/Interface`
  wiki/Skinning/Interface/es.md
  wiki/osu!supporter/es.md
Labels: area:translations, size/XXL

#11330 [ES] Update `Skinning/History`
  wiki/Skinning/History/es.md
Labels: area:translations, size/L, state/stale merge

#11348 [ES] Mark `Skinning/Intefrace` as unreviewed
  wiki/Skinning/Interface/es.md
Labels: area:translations, size/XS

#11337 Update `Hard Rock Showdown 2024`
  wiki/Tournaments/HRS/2024/en.md
  wiki/Tournaments/HRS/2024/img/badge.png
  wiki/Tournaments/HRS/2024/img/badge@2x.png
  wiki/Tournaments/HRS/2024/img/podium.png
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
Labels: area:tournaments, size/M

#11349 Update Hard Rock Showdown's listing in `Tournaments`
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
Labels: area:tournaments, size/XS

#11351 Update `CWC 2024` with partial team listing
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/M

#11350 Add Stage to Tournament Committee
  wiki/People/Tournament_Committee/de.md
  wiki/People/Tournament_Committee/en.md
  wiki/People/Tournament_Committee/es.md
  wiki/People/Tournament_Committee/fr.md
  wiki/People/Tournament_Committee/id.md
  wiki/People/Tournament_Committee/ko.md
  wiki/People/Tournament_Committee/ru.md
  wiki/People/Tournament_Committee/zh-tw.md
  wiki/People/Tournament_Committee/zh.md
Labels: size/XS

#11347 Add `5 Digit World Cup 2024 Concludes` news post
  news/2024/2024-05-04-5-digit-world-cup-2024-concludes.md
  wiki/shared/news/2024-05-04-5-digit-world-cup-2024-concludes/5wc2024-credits.png
  wiki/shared/news/2024-05-04-5-digit-world-cup-2024-concludes/Beyond_Reality.jpg
  wiki/shared/news/2024-05-04-5-digit-world-cup-2024-concludes/Birchman.png
  wiki/shared/news/2024-05-04-5-digit-world-cup-2024-concludes/Cybernetic_Reverie.jpg
  wiki/shared/news/2024-05-04-5-digit-world-cup-2024-concludes/Epsilon.jpg
  wiki/shared/news/2024-05-04-5-digit-world-cup-2024-concludes/Lupa.png
  wiki/shared/news/2024-05-04-5-digit-world-cup-2024-concludes/Naikou.png
  wiki/shared/news/2024-05-04-5-digit-world-cup-2024-concludes/Neptune.jpg
  wiki/shared/news/2024-05-04-5-digit-world-cup-2024-concludes/ajmosca.png
  wiki/shared/news/2024-05-04-5-digit-world-cup-2024-concludes/pickem.png
  wiki/shared/news/2024-05-04-5-digit-world-cup-2024-concludes/podium.jpg
Labels: area:news, size/L

#11354 Correct Poland pick in 5WC Conclusion
  news/2024/2024-05-04-5-digit-world-cup-2024-concludes.md
Labels: area:news, size/XS

#11356 Add `New Featured Artist: Rubatonin` news post
  news/2024/2024-05-04-new-featured-artist-rubatonin.md
Labels: area:news, size/M

#11357 Update `CWC 2024` team listing
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/M

#11359 Update `CWC 2024` team listing
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/S

#11358 Add `The Followpoint: mrekk, the osu! Prodigy` news post
  news/2024/2024-05-06-the-followpoint-mrekk-the-osu-standard-prodigy.md
  wiki/shared/news/2024-05-06-the-followpoint-mrekk-the-osu-standard-prodigy/banner.jpg
  wiki/shared/news/2024-05-06-the-followpoint-mrekk-the-osu-standard-prodigy/banner@2x.jpg
Labels: area:news, size/L

#11360 Fix formatting issues in `The Followpoint: mrekk, the osu! Prodigy` news post
  news/2024/2024-05-06-the-followpoint-mrekk-the-osu-prodigy.md
  news/2024/2024-05-06-the-followpoint-mrekk-the-osu-standard-prodigy.md
  wiki/shared/news/2024-05-06-the-followpoint-mrekk-the-osu-prodigy/banner.jpg
  wiki/shared/news/2024-05-06-the-followpoint-mrekk-the-osu-prodigy/banner@2x.jpg
Labels: area:news, size/L

#11361 Fix post time in recent news post
  news/2024/2024-05-06-the-followpoint-mrekk-the-osu-prodigy.md
Labels: area:news, size/XS

#11362 Reapply review to The Followpoint news post
  news/2024/2024-05-06-the-followpoint-mrekk-the-osu-standard-prodigy.md
Labels: area:news, size/L

#11363 Fix Twitch link in `The Followpoint: mrekk, the osu! Prodigy` news post
  news/2024/2024-05-06-the-followpoint-mrekk-the-osu-standard-prodigy.md
Labels: area:news, size/XS

#11365 Update `CWC 2024` team listing
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/S

#11353 Add `osu!taiko World Cup 2024 Concludes` news post
  news/2024/2024-05-07-osutaiko-world-cup-2024-concludes.md
  wiki/shared/news/2024-05-07-osutaiko-world-cup-2024-concludes/Cansol.png
  wiki/shared/news/2024-05-07-osutaiko-world-cup-2024-concludes/Copyfox.jpg
  wiki/shared/news/2024-05-07-osutaiko-world-cup-2024-concludes/Exaltation.jpg
  wiki/shared/news/2024-05-07-osutaiko-world-cup-2024-concludes/Fractured_Heaven.jpg
  wiki/shared/news/2024-05-07-osutaiko-world-cup-2024-concludes/R_J.png
  wiki/shared/news/2024-05-07-osutaiko-world-cup-2024-concludes/Stained_satin.jpg
  wiki/shared/news/2024-05-07-osutaiko-world-cup-2024-concludes/twc2024-credits.png
Labels: area:news, size/L

#11367 Update `CWC 2024` team listing
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/XS

#11366 Add `osu! Malaysia @ Rhythmeet 2024` news post
  news/2024/2024-05-08-osu-malaysia-rhythmeet-2024.md
  wiki/shared/news/2024-05-08-osu-malaysia-rhythmeet-2024/banner.jpg
  wiki/shared/news/2024-05-08-osu-malaysia-rhythmeet-2024/banner@2x.jpg
  wiki/shared/news/2024-05-08-osu-malaysia-rhythmeet-2024/booth-banner.jpg
  wiki/shared/news/2024-05-08-osu-malaysia-rhythmeet-2024/booth-image.jpg
  wiki/shared/news/2024-05-08-osu-malaysia-rhythmeet-2024/lan-banner.jpg
Labels: area:news, size/M

#11372 Add VOD links to `Ascaveth Invitational Tournament` and `Ascaveth Invitational Tournament 2023`
  wiki/Tournaments/AIT/2022/en.md
  wiki/Tournaments/AIT/2023/en.md
Labels: area:tournaments, size/M

#11373 Add `Monthly Beatmapping Contest: May 2024` news post
  news/2024/2024-05-10-monthly-beatmapping-contest-may-2024.md
  wiki/Contests/Contest_points/en.md
  wiki/Contests/Contest_points/fr.md
  wiki/People/Users_with_unique_titles/de.md
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/es.md
  wiki/People/Users_with_unique_titles/fr.md
  wiki/People/Users_with_unique_titles/zh.md
Labels: area:news, size/L

#11375 Fix hyperlink in `Monthly Beatmapping Contest: May 2024` news post
  news/2024/2024-05-10-monthly-beatmapping-contest-may-2024.md
Labels: area:news, size/XS

#11368 Update various BN/NAT articles
  wiki/People/Beatmap_Nominators/Beatmap_Veto/en.md
  wiki/People/Beatmap_Nominators/Beatmap_Veto/fr.md
  wiki/People/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/en.md
  wiki/People/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/es.md
  wiki/People/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/fr.md
  wiki/People/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/img/ApplicationFlowchart.png
  wiki/People/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/img/app-progress-bar.png
  wiki/People/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/img/bn-application-flowchart.png
  wiki/People/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/img/feedback-chat.png
  wiki/People/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/zh.md
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Beatmap_Nominators/es.md
  wiki/People/Beatmap_Nominators/fr.md
  wiki/People/Beatmap_Nominators/zh.md
  wiki/People/Nomination_Assessment_Team/Evaluations/en.md
  wiki/People/Nomination_Assessment_Team/Evaluations/fr.md
  wiki/People/Nomination_Assessment_Team/Evaluations/img/progress-bar.png
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Nomination_Assessment_Team/es.md
Labels: size/L

#11374 Add `Kyoku: Original Song & Beatmapping Contest` news post
  news/2024/2024-05-10-kyoku-original-song-and-beatmapping-contest.md
Labels: area:news, size/M

#11377 Update `CWC 2024` team listing
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/S

#11371 Update BN member listing, fix untranslated language names in FR
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Beatmap_Nominators/es.md
  wiki/People/Beatmap_Nominators/fr.md
  wiki/People/Beatmap_Nominators/zh.md
Labels: size/L

#11392 Add `New Featured Artist: 633397` news post
  news/2024/2024-05-11-new-featured-artist-633397.md
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/es.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/ru.md
  wiki/People/Featured_Artists/zh.md
Labels: area:news, size/M

#11370 Add `Resurrection Cup 2024` news post
  news/2024/2024-05-12-resurrection-cup-2024-registration-now-open.md
  wiki/shared/news/2024-05-12-resurrection-cup-2024-registrations-now-open/banner.jpg
  wiki/shared/news/2024-05-12-resurrection-cup-2024-registrations-now-open/banner@2x.jpg
Labels: area:news, size/M

#11400 Update `CWC 2024` for the Qualifier stage
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/S

#11401 Update `4WC2024` to Round of 32
  wiki/Tournaments/4WC/2024/en.md
Labels: area:tournaments, size/L

#11403 Update `CWC 2024` Qualifiers mappool
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/XS

#11407 Add `osu!taiko Mapping World Cup 2024` news post and wiki page
  news/2024/2024-05-17-osu-taiko-mapping-world-cup-2024-registrations.md
  wiki/Contests/TMWC/2024/en.md
  wiki/Contests/TMWC/2024/img/badge.png
  wiki/Contests/TMWC/2024/img/banner.png
  wiki/Contests/TMWC/en.md
Labels: area:news, size/L

#11409 Fix heading in `osu!taiko Mapping World Cup 2024: Registrations Open!` news post
  news/2024/2024-05-17-osu-taiko-mapping-world-cup-2024-registrations.md
Labels: area:news, size/XS

#11412 Add `osu! originals - TEST Open 2024` news post
  news/2024/2024-05-18-osu-originals-test-open-2024.md
Labels: area:news, size/M

#11413 Fix audio preview in `osu! originals - TEST Open 2024` news post
  news/2024/2024-05-18-osu-originals-test-open-2024.md
Labels: area:news, size/XS

#11414 Fix year in `osu! originals - TEST Open 2024` news post
  news/2024/2024-05-18-osu-originals-test-open-2024.md
Labels: area:news, size/XS

#11415 Add more tournament tracks to `osu! originals`
  wiki/osu!_originals/en.md
Labels: size/S

#11418 Add `osu!(lazer) Updates: May 19, 2024` news post
  news/2024/2024-05-19-osu-lazer-updates-may-19-2024.md
  wiki/shared/news/2024-05-19-osu-lazer-updates-may-19-2024/always-bundled-maps.png
  wiki/shared/news/2024-05-19-osu-lazer-updates-may-19-2024/banner.jpg
  wiki/shared/news/2024-05-19-osu-lazer-updates-may-19-2024/banner@2x.jpg
  wiki/shared/news/2024-05-19-osu-lazer-updates-may-19-2024/comparison-logo-dot.jpg
  wiki/shared/news/2024-05-19-osu-lazer-updates-may-19-2024/cup-of-the-day-comment.jpg
  wiki/shared/news/2024-05-19-osu-lazer-updates-may-19-2024/daily-challenge-wip.jpg
  wiki/shared/news/2024-05-19-osu-lazer-updates-may-19-2024/mappers-guild-maps.png
Labels: area:news, size/M

#11419 Update `CWC 2024` for the Round of 32 stage
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/L

#11405 [VI] Add `Rules/Song content rules`
  wiki/Rules/Song_content_rules/vi.md
Labels: area:translations, size/S

#11376 [PT-BR] Update `Game Mode`
  wiki/Game_mode/pt-br.md
Labels: area:translations, size/M

#11424 Update `CWC 2024` mappool links, schedules, staff listing
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/S

#11423 Update banner with new logo in `osu!(lazer) Updates: May 19, 2024`
  news/2024/2024-05-19-osu-lazer-updates-may-19-2024.md
  wiki/shared/news/2024-05-19-osu-lazer-updates-may-19-2024/banner.jpg
  wiki/shared/news/2024-05-19-osu-lazer-updates-may-19-2024/banner@2x.jpg
Labels: area:news, size/XS

#11426 Update staff listing in `TMWC 2024`
  wiki/Contests/TMWC/2024/en.md
Labels: size/XS

#11431 Fix typo in `osu!(lazer) Updates: May 19, 2024` news post
  news/2024/2024-05-19-osu-lazer-updates-may-19-2024.md
Labels: area:news, size/XS

#11420 Add `The Perennial Returns` news post
  news/2024/2024-05-21-the-perennial-returns.md
  wiki/shared/news/2024-05-21-the-perennial-returns/banner.jpg
  wiki/shared/news/2024-05-21-the-perennial-returns/banner@2x.jpg
Labels: area:news, size/M

#11432 Fix typo in `The Perennial Returns` news post
  news/2024/2024-05-21-the-perennial-returns.md
Labels: area:news, size/XS

#11433 Reword sentence in `The Perennial Returns` news post
  news/2024/2024-05-21-the-perennial-returns.md
Labels: area:news, size/XS

#11434 Update `CWC 2024` Round of 32 schedules, staff listing
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/S

#11421 Add new Arcaea difficulty to difficulty naming schemes list
  wiki/Ranking_criteria/Difficulty_naming/de.md
  wiki/Ranking_criteria/Difficulty_naming/en.md
  wiki/Ranking_criteria/Difficulty_naming/fr.md
  wiki/Ranking_criteria/Difficulty_naming/id.md
  wiki/Ranking_criteria/Difficulty_naming/ja.md
  wiki/Ranking_criteria/Difficulty_naming/ko.md
  wiki/Ranking_criteria/Difficulty_naming/ru.md
  wiki/Ranking_criteria/Difficulty_naming/sv.md
  wiki/Ranking_criteria/Difficulty_naming/zh-tw.md
  wiki/Ranking_criteria/Difficulty_naming/zh.md
Labels: size/M, area:ranking criteria

#11387 [ES] Update `Tournaments`
  wiki/Tournaments/es.md
Labels: area:translations, area:tournaments, size/XS

#11391 [ES] Update `People/Users with unique titles`
  wiki/People/Users_with_unique_titles/es.md
Labels: area:translations, size/S

#11395 [ES] Add `Community/Organisations/osu! UCI`
  wiki/Community/Organisations/osu!_UCI/es.md
Labels: area:translations, size/M

#11394 [ES] Add `Community/Organisations/osu! at UCSD`
  wiki/Community/Organisations/osu!_at_UCSD/es.md
Labels: area:translations, size/M

#11402 [ZH] Document `!mp ban` command
  wiki/osu!_tournament_client/osu!tourney/Tournament_management_commands/zh.md
Labels: area:translations, size/XS

#11389 [ES] Update `People/Beatmap Nominators`
  wiki/People/Beatmap_Nominators/es.md
Labels: area:translations, size/S

#11381 [ES] Add `Community/osu! Talk Event`
  wiki/Community/osu!_Talk_Event/es.md
Labels: area:translations, size/S

#11388 [ES] Update `People/Nomination Assessment Team`
  wiki/People/Nomination_Assessment_Team/es.md
Labels: area:translations, size/S

#11384 [ES] Add `Community/cavoe's osu! event/2023`
  wiki/Community/cavoe's_osu!_event/2023/es.md
Labels: area:translations, size/L

#11383 [ES] Add `Community/cavoe's osu! event`
  wiki/Community/cavoe's_osu!_event/es.md
Labels: area:translations, size/M

#11425 [ZH] Add `Client/Playfield`
  wiki/Client/Playfield/zh.md
Labels: area:translations, size/M

#11291 [ES] Add `Storyboard/Scripting/General Rules`
  wiki/Disambiguation/Fail/es.md
  wiki/Storyboard/Scripting/General_Rules/es.md
  wiki/Storyboard/Scripting/General_Rules/img/SBS_Base-ES.png
  wiki/Storyboard/Scripting/General_Rules/img/SBS_Time-ES.jpg
Labels: area:translations, size/L

#11436 Outdate Socal osu! club articles
  wiki/Community/Organisations/osu!_UCI/de.md
  wiki/Community/Organisations/osu!_UCI/en.md
  wiki/Community/Organisations/osu!_UCI/es.md
  wiki/Community/Organisations/osu!_UCI/fr.md
  wiki/Community/Organisations/osu!_UCI/id.md
  wiki/Community/Organisations/osu!_UCI/ja.md
  wiki/Community/Organisations/osu!_UCI/zh-tw.md
  wiki/Community/Organisations/osu!_UCI/zh.md
  wiki/Community/Organisations/osu!_at_UCSD/de.md
  wiki/Community/Organisations/osu!_at_UCSD/en.md
  wiki/Community/Organisations/osu!_at_UCSD/es.md
  wiki/Community/Organisations/osu!_at_UCSD/fr.md
  wiki/Community/Organisations/osu!_at_UCSD/id.md
Labels: size/S

#11382 [ES] Add `Community/osu! Talk Event/Overcoming Obstacles`
  wiki/Community/osu!_Talk_Event/Overcoming_Obstacles/es.md
Labels: area:translations, size/M

#11408 [VI] Fix spelling and translations in `Bot account`
  wiki/Bot_account/vi.md
Labels: area:translations, size/M

#11390 [ES] Update `People/Beatmap Nominators/Becoming a Beatmap Nominator`
  wiki/People/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/es.md
  wiki/People/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/img/ApplicationFlowchart-ES.png
  wiki/People/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/img/bn-application-flowchart-ES.png
Labels: area:translations, size/L

#11393 [ES] Add `Community/Video series/osu!academy`
  wiki/Community/Video_series/osu!academy/es.md
Labels: area:translations, size/M

#11386 [ES] Add `Community/Video series/osu!mapping`
  wiki/Community/Video_series/osu!mapping/es.md
Labels: area:translations, size/L

#11385 [ES] Add `Community/Video series/osu!talk`
  wiki/Community/Video_series/osu!talk/es.md
Labels: area:translations, size/L

#11380 [ES] Add `Community/osu! community meetings`
  wiki/Community/osu!_community_meetings/es.md
Labels: area:translations, size/M

#11379 [ES] Add `Community/osu!monthly`
  wiki/Community/osu!monthly/es.md
Labels: area:translations, size/M

#11438 Bump osu-wiki-tools to version `2.3.0`
  requirements.txt
Labels: area:meta, size/XS

#11437 Add `Project Loved: May 2024` news post
  news/2024/2024-05-22-project-loved-may-2024.md
  wiki/shared/news/2024-05-22-project-loved-may-2024/1014856.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1014856@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1034509.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1034509@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1083022.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1083022@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/110954.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/110954@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1181310.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1181310@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1239292.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1239292@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1344268.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1344268@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1395252.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1395252@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1422682.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1422682@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1579289.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1579289@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1592995.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1592995@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1719905.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1719905@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1779388.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1779388@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1816622.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1816622@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1852791.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1852791@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1888434.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1888434@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1955326.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1955326@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1977658.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1977658@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/2091345.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/2091345@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/291778.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/291778@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/393179.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/393179@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/461164.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/461164@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/478917.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/478917@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/517769.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/517769@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/578874.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/578874@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/681593.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/681593@2x.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/824872.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/824872@2x.jpg
Labels: area:news, size/L

#11441 Update `4WC 2024` to Quarterfinals
  wiki/Tournaments/4WC/2024/en.md
Labels: area:tournaments, size/L

#11442 Update `CWC 2024` RO32 Schedule
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/XS

#11458 Remove pick from `Project Loved: May 2024` news post
  news/2024/2024-05-22-project-loved-may-2024.md
  wiki/shared/news/2024-05-22-project-loved-may-2024/1181310.jpg
  wiki/shared/news/2024-05-22-project-loved-may-2024/1181310@2x.jpg
Labels: area:news, size/S

#11459 Add "IDOLS" UCI LAN article
  wiki/Tournaments/osu!_UCI/IDOLS/en.md
  wiki/Tournaments/osu!_UCI/en.md
Labels: area:tournaments, size/L

#11460 Fix grammar in `Reporting Abuse`
  wiki/Reporting_bad_behaviour/Abuse/en.md
  wiki/Reporting_bad_behaviour/Abuse/es.md
  wiki/Reporting_bad_behaviour/Abuse/it.md
Labels: size/S

#11406 Add `Asia Suiji Cup: Rhythmus Aquarum` tournament article
  wiki/Tournaments/ASC/1/en.md
  wiki/Tournaments/ASC/1/img/asc-banner.jpeg
  wiki/Tournaments/ASC/1/img/asc-banner@2x.jpeg
  wiki/Tournaments/ASC/1/img/mappool-categories.jpeg
  wiki/Tournaments/ASC/1/img/mappool-categories@2x.jpeg
  wiki/Tournaments/ASC/1/img/mappool-structure.jpeg
  wiki/Tournaments/ASC/1/img/mappool-structure@2x.jpg
  wiki/Tournaments/ASC/en.md
Labels: area:tournaments, size/L

#11461 [ES] Update `Reporting bad behaviour/Abuse`
  wiki/Reporting_bad_behaviour/Abuse/es.md
Labels: area:translations, size/XS

#11463 Fix flag for IncognitoMercy in ASC tournament article
  wiki/Tournaments/ASC/1/en.md
Labels: area:tournaments, size/XS

#11464 Update `CWC 2024` with partial RO32 results
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/S

#11475 Add `New Featured Artist: Strelitzia` news post
  news/2024/2024-05-26-new-featured-artist-strelitzia.md
Labels: area:news, size/M

#11483 Fix typo in `New Featured Artist: Strelitzia` news post
  news/2024/2024-05-26-new-featured-artist-strelitzia.md
Labels: area:news, size/XS

#11462 Fix English title and remove outdated mark in translation of `Reporting bad behaviour/Abuse`
  wiki/Reporting_bad_behaviour/Abuse/en.md
  wiki/Reporting_bad_behaviour/Abuse/it.md
Labels: size/XS

#11484 Update `CWC 2024` for the Round of 16 stage
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/M

#11485 Update `CWC 2024` RO16 links
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/S

#11435 Add `osu! keycaps` news post
  news/2024/2024-05-27-osu-keycaps.md
  wiki/shared/news/2024-05-27-osu-keycaps/banner.jpg
  wiki/shared/news/2024-05-27-osu-keycaps/banner@2x.jpg
  wiki/shared/news/2024-05-27-osu-keycaps/esc.jpg
  wiki/shared/news/2024-05-27-osu-keycaps/keyboard.jpg
  wiki/shared/news/2024-05-27-osu-keycaps/keys.jpg
  wiki/shared/news/2024-05-27-osu-keycaps/numpad.jpg
  wiki/shared/news/2024-05-27-osu-keycaps/space.jpg
  wiki/shared/news/2024-05-27-osu-keycaps/special.jpg
  wiki/shared/news/2024-05-27-osu-keycaps/specialonly.jpg
Labels: area:news, size/M

#11486 Add tweet link to `osu! keycaps` news post
  news/2024/2024-05-27-osu-keycaps.md
Labels: area:news, size/XS

#11052 Add `MCNC/4K2023` tournament article
  wiki/Tournaments/MCNC/4k2023/en.md
  wiki/Tournaments/MCNC/4k2023/img/badge.png
  wiki/Tournaments/MCNC/4k2023/img/logo.jpg
  wiki/Tournaments/MCNC/en.md
Labels: area:tournaments, size/XL

#11410 [VI] Clean up `Help centre/Account restriction`
  wiki/Help_centre/Account_restrictions/vi.md
Labels: area:translations, size/M, area:help centre

#11256 [KO] Add `Simplified ranking criteria`
  wiki/Ranking_criteria/Simplified_ranking_criteria/ko.md
Labels: area:translations, size/L, state/stale merge, area:ranking criteria

#11336 [DE] Update `Help centre/Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/de.md
Labels: area:translations, size/M, state/stale merge, area:help centre

#11378 [ZH] Fix typos in `Ranking_criteria/osu!taiko`
  wiki/Ranking_criteria/osu!taiko/zh.md
Labels: area:translations, size/S, area:ranking criteria

#11397 [ZH] Update `Beatmap search`
  wiki/Beatmap_search/zh.md
Labels: area:translations, size/S

#11411 [ID] Cleanup `osu! music licensing`
  wiki/Legal/Music_licensing/id.md
Labels: area:translations, size/S, area:legal

#11344 [ID] Add `Common modding mistakes`
  wiki/Guides/Common_modding_mistakes/id.md
Labels: area:translations, size/L, state/stale merge

#11422 [ID] Add `Announcement messages`
  wiki/Announcement_messages/id.md
Labels: area:translations, size/M, state/stale merge

#11398 [EN/ZH] Update outdated articles in `Client`
  wiki/Client/Beatmap_editor/Compose/en.md
  wiki/Client/Beatmap_editor/Compose/es.md
  wiki/Client/Beatmap_editor/Compose/fr.md
  wiki/Client/Beatmap_editor/Compose/zh.md
  wiki/Client/Beatmap_editor/Menu/zh.md
  wiki/Client/File_formats/osu_(file_format)/zh.md
  wiki/Client/Interface/zh.md
  wiki/Music_theory/Tempo/zh.md
Labels: area:translations, size/L

#11417 [VI] Add `Nomination Assessment Team`
  wiki/People/Nomination_Assessment_Team/vi.md
Labels: area:translations, size/L

#11416 Add `The Followpoint: YesMyDarknesss, the Master of osu!catch` news post
  news/2024/2024-05-28-the-followpoint-yesmydarknesss-the-master-of-osu-catch.md
  wiki/shared/news/2024-05-28-the-followpoint-yesmydarknesss-the-master-of-osu-catch/banner.jpg
  wiki/shared/news/2024-05-28-the-followpoint-yesmydarknesss-the-master-of-osu-catch/banner@2x.jpg
Labels: area:news, size/M

#11489 Update `4WC2024` to Semifinals
  wiki/Tournaments/4WC/2024/en.md
Labels: area:tournaments, size/L

#11447 [ES] Add `Gameplay/Score/Ranked score`
  wiki/Gameplay/Score/Ranked_score/es.md
Labels: area:translations, size/S

#11467 [ES] Add `Offset/Universal offset`
  wiki/Offset/Universal_offset/es.md
  wiki/Offset/Universal_offset/img/uo-settings-button-ES.png
Labels: area:translations, size/M

#11443 [ES] Add `Gameplay/Judgement/Slider break`
  wiki/Gameplay/Judgement/Slider_break/es.md
Labels: area:translations, size/S

#11449 [ES] Add `Gameplay/Play style/Hybrid`
  wiki/Gameplay/Play_style/Hybrid/es.md
Labels: area:translations, size/S

#11450 [ES] Add `Gameplay/Play style/Double tapping`
  wiki/Gameplay/Play_style/Double_tapping/es.md
Labels: area:translations, size/S

#11444 [ES] Add `Gameplay/Score/Total score`
  wiki/Client/Interface/es.md
  wiki/Gameplay/Score/Total_score/es.md
Labels: area:translations, size/S

#11446 [ES] Add `Gameplay/Score/ScoreV1/osu!catch`
  wiki/Gameplay/Score/ScoreV1/osu!catch/es.md
Labels: area:translations, size/S

#11448 [ES] Add `Gameplay/Play style/Tapx`
  wiki/Gameplay/Play_style/Tapx/es.md
Labels: area:translations, size/M

#11452 [ES] Add `Gameplay/Judgement/osu!taiko`
  wiki/Gameplay/Judgement/osu!taiko/es.md
Labels: area:translations, size/M

#11451 [ES] Add `Gameplay/Play style/Alternating`
  wiki/Gameplay/Play_style/Alternating/es.md
Labels: area:translations, size/M

#11457 [ES] Add `Gameplay/Combo fire`
  wiki/Gameplay/Combo_fire/es.md
Labels: area:translations, size/S

#11454 [ES] Add `Gameplay/Judgement/Geki`
  wiki/Gameplay/Judgement/Geki/es.md
Labels: area:translations, size/M

#11453 [ES] Add `Gameplay/Judgement/Katu`
  wiki/Gameplay/Judgement/Katu/es.md
Labels: area:translations, size/M

#11456 [ES] Add `Gameplay/Dash snapping`
  wiki/Gameplay/Dash_snapping/es.md
  wiki/Ranking_criteria/osu!catch/es.md
Labels: area:translations, size/M

#11455 [ES] Add `Gameplay/Game modifier/Summary`
  wiki/Gameplay/Game_modifier/Summary/es.md
Labels: area:translations, size/M

#11439 [VI] Add `Community/How you can help`
  wiki/Community/How_you_can_help!/vi.md
Labels: area:translations, size/M

#11428 [VI] Add `reporting bad behaviour/Abuse`
  wiki/Reporting_bad_behaviour/Abuse /vi.md
Labels: area:translations, size/M

#11481 [ES] Update `Skinning/Interface`
  wiki/Skinning/Interface/es.md
Labels: area:translations, size/L

#11480 [ES] Update `Skinning/History`
  wiki/Skinning/History/es.md
Labels: area:translations, size/S

#11479 [ES] Update `Rules/Content voting process`
  wiki/Rules/Content_voting_process/es.md
Labels: area:translations, size/S

#11478 [ES] Update `Gameplay/Judgement/osu!mania`
  wiki/Gameplay/Judgement/osu!mania/es.md
Labels: area:translations, size/S

#11476 [ES] Update `Client/Beatmap editor/Beat snap divisor`
  wiki/Client/Beatmap_editor/Beat_snap_divisor/es.md
Labels: area:translations, size/XS
