Repository ppy/osu-wiki, pull requests merged in 2024-12, with the labels that each got.

#12510 Update `OWC 2024` with Finals results
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/S

#12509 Update grading system heading in `Gameplay differences in osu!(lazer)`
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/en.md
Labels: size/XS

#12116 [EN/ZH] Add `Chinese Charting Contest 2024`
  wiki/Contests/CCC/2024/en.md
  wiki/Contests/CCC/2024/img/banner.jpg
  wiki/Contests/CCC/2024/img/winner_badge.png
  wiki/Contests/CCC/2024/zh.md
  wiki/Contests/CCC/en.md
  wiki/Contests/CCC/zh.md
Labels: size/L

#12511 Update `OWC 2024` for the Grand Finals stage
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/M

#12513 Update `OWC 2024` mappool links
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/S

#12430 [ES] Update `osu! originals`
  wiki/osu!_originals/es.md
  wiki/osu!_originals/img/originals-over-time-ES.png
Labels: area:translations, size/L

#12512 Add `osu!taiko Mapping World Cup 2024 concludes!` news post
  news/2024/2024-12-02-osutaiko-mapping-world-cup-2024-concludes.md
Labels: area:news, size/M

#12520 Make sure the TMWC banner has an `@2x` version
  news/2024/2024-05-17-osu-taiko-mapping-world-cup-2024-registrations.md
  news/2024/2024-12-02-osutaiko-mapping-world-cup-2024-concludes.md
  wiki/Contests/TMWC/2024/en.md
  wiki/Contests/TMWC/2024/img/banner.jpg
  wiki/Contests/TMWC/2024/img/banner.png
  wiki/Contests/TMWC/2024/img/banner@2x.jpg
Labels: area:news, size/XS

#12522 Update `OWC 2024` schedules, staff listing
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/XS

#12516 Update `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/img/originals-over-time.png
Labels: size/M

#12523 Add `Midnight Moment Art Contest` news post
  news/2024/2024-12-03-midnight-moment-art-contest.md
  wiki/shared/news/2024-12-03-midnight-moment-art-contest/banner.jpg
  wiki/shared/news/2024-12-03-midnight-moment-art-contest/banner@2x.jpg
Labels: area:news, size/M

#12525 Update `PDC 2024` schedule and judges/contributors
  news/2024/2024-08-25-pending-cup-2024.md
  wiki/Contests/PDC/2024/en.md
  wiki/shared/news/2024-08-25-pending-cup-2024/contributors.jpg
Labels: area:news, size/S

#12526 Update `OWC 2024` Grand Finals schedules, staff listing
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/XS

#12528 Update `OWC 2024` Grand Finals schedules
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/XS

#12529 Add `Monthly Beatmapping Contest: December 2024` news post
  news/2024/2024-12-07-monthly-beatmapping-contest-december-2024.md
  wiki/shared/news/2024-12-07-monthly-beatmapping-contest-december-2024/beat-snap-divisor.jpg
  wiki/shared/news/2024-12-07-monthly-beatmapping-contest-december-2024/slider-examples.jpg
Labels: area:news, size/L

#12530 Redate MBC news post
  news/2024/2024-12-06-monthly-beatmapping-contest-december-2024.md
  wiki/shared/news/2024-12-06-monthly-beatmapping-contest-december-2024/beat-snap-divisor.jpg
  wiki/shared/news/2024-12-06-monthly-beatmapping-contest-december-2024/slider-examples.jpg
Labels: area:news, size/XS

#12531 Update `OWC 2024` with partial results
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/S

#12533 Update `OWC 2024` with tournament results
  wiki/Tournaments/OWC/2024/en.md
  wiki/Tournaments/OWC/2024/img/owc2024-badge-1st.png
  wiki/Tournaments/OWC/2024/img/owc2024-badge-1st@2x.png
  wiki/Tournaments/OWC/2024/img/owc2024-badge-2nd.png
  wiki/Tournaments/OWC/2024/img/owc2024-badge-2nd@2x.png
  wiki/Tournaments/OWC/2024/img/owc2024-badge-3rd.png
  wiki/Tournaments/OWC/2024/img/owc2024-badge-3rd@2x.png
  wiki/Tournaments/OWC/2024/img/owc2024-podium.jpg
  wiki/Tournaments/OWC/2024/img/owc2024-podium@2x.jpg
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
Labels: area:tournaments, size/M

#12534 Update `OWC 2024` links, fix wording
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/XS

#12497 [ES] Update `Beatmap/Packs`
  wiki/Beatmap/Packs/es.md
Labels: area:translations, size/M

#12496 [ES] Update `Ranking criteria`
  wiki/Ranking_criteria/es.md
Labels: area:translations, size/S, area:ranking criteria

#12495 [ES] Update `Skinning/skin.ini`
  wiki/Skinning/skin.ini/es.md
Labels: area:translations, size/S

#12491 [ES] Update `People/Performance Points Committee`
  wiki/People/Performance_Points_Committee/es.md
Labels: area:translations, size/S

#12490 [ES] Update `Client/Release stream/Lazer/Gameplay differences in osu!(lazer)`
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/es.md
Labels: area:translations, size/S

#12507 [ES] Add `Gameplay/Daily challenge`
  wiki/Gameplay/Daily_challenge/es.md
  wiki/Gameplay/Daily_challenge/img/Beatmap-selection-criteria-ES.png
  wiki/Gameplay/Daily_challenge/img/tiers/bronze-ES.png
  wiki/Gameplay/Daily_challenge/img/tiers/gold-ES.png
  wiki/Gameplay/Daily_challenge/img/tiers/iron-ES.png
  wiki/Gameplay/Daily_challenge/img/tiers/lustrous-ES.png
  wiki/Gameplay/Daily_challenge/img/tiers/platinum-ES.png
  wiki/Gameplay/Daily_challenge/img/tiers/radiant-ES.png
  wiki/Gameplay/Daily_challenge/img/tiers/rhodium-ES.png
  wiki/Gameplay/Daily_challenge/img/tiers/silver-ES.png
  wiki/Gameplay/Daily_challenge/img/yt-comment-ES.png
Labels: area:translations, size/M

#12445 [ZH] Add `Changelog`
  wiki/Changelog/zh.md
Labels: area:translations, size/M

#12397 [ES] Update `People/Beatmap_Nominators/Rules` and `People/Beatmap_Nominators`
  wiki/People/Beatmap_Nominators/Rules/es.md
  wiki/People/Beatmap_Nominators/es.md
Labels: area:translations, size/M

#12405 [ZH] Add `Metadata`, Update `Ranking criteria`
  wiki/Ranking_criteria/Metadata/zh.md
  wiki/Ranking_criteria/osu!/zh.md
  wiki/Ranking_criteria/osu!catch/zh.md
  wiki/Ranking_criteria/osu!mania/zh.md
  wiki/Ranking_criteria/osu!taiko/zh.md
  wiki/Ranking_criteria/zh.md
Labels: area:translations, size/XL, area:ranking criteria

#12391 [EN/ZH] Add OFFC cirno tournament result sections
  wiki/Tournaments/OFFC/cirno/en.md
  wiki/Tournaments/OFFC/cirno/zh.md
Labels: area:tournaments, size/L

#12485 [ZH] Update wording in `Upgrading_to_lazer`
  wiki/Help_centre/Upgrading_to_lazer/zh.md
Labels: area:translations, size/XS, area:help centre

#12374 [ID] Update/Cleanup `Main page`
  wiki/Main_page/id.md
Labels: area:translations, size/S, state/stale merge

#12299 [VI] Add `Interface` and `Client`
  wiki/BanchoBot/vi.md
  wiki/Client/Interface/Chat_console/vi.md
  wiki/Client/Interface/Cookie/vi.md
  wiki/Client/Interface/Visual_settings/img/visual-settings-VI.png
  wiki/Client/Interface/Visual_settings/vi.md
  wiki/Client/Interface/vi.md
  wiki/Client/Keyboard_shortcuts/vi.md
  wiki/Client/Options/img/audio-VI.png
  wiki/Client/Options/img/editor-VI.png
  wiki/Client/Options/img/gameplay-VI.png
  wiki/Client/Options/img/general-VI.png
  wiki/Client/Options/img/graphics-VI.png
  wiki/Client/Options/img/input-VI.png
  wiki/Client/Options/img/maintenance-VI.png
  wiki/Client/Options/img/online-VI.png
  wiki/Client/Options/img/options_basic-VI.png
  wiki/Client/Options/img/skin-VI.png
  wiki/Client/Options/vi.md
  wiki/Client/Program_files/User_configuration_file/vi.md
Labels: area:translations, size/XXL, state/stale merge

#12488 [ID] Cleanup/Retranslate `Help centre/Installation and registration`
  wiki/Help_centre/Installation_and_registration/id.md
Labels: area:translations, size/S, area:help centre

#12484 [ID] Update/Retranslate `Help centre/Beatmapping and editor`
  wiki/Help_centre/Beatmapping/id.md
Labels: area:translations, size/M, state/stale merge, area:help centre

#12475 [ID] Add `Store archive`
  wiki/Help_centre/Store/Store_archive/id.md
Labels: area:translations, size/L, state/stale merge, area:help centre

#12470 [ID] Update/Retranslate `Performance troubleshooting`
  wiki/Performance_troubleshooting/id.md
Labels: area:translations, size/L, state/stale merge

#12354 [DE] Add `Gameplay/Game modifier/Mod multiplier`
  wiki/Gameplay/Game_modifier/Mod_multiplier/de.md
Labels: area:translations, size/S, state/stale merge

#12278 [DE] Add `Beatmapping/Beat snapping`
  wiki/Beatmapping/Beat_snapping/de.md
Labels: area:translations, size/S, state/stale merge

#12420 [FR] Improve wording in several gameplay-related articles
  wiki/Gameplay/Combo_(score_multiplier)/fr.md
  wiki/Gameplay/Combo_fire/fr.md
  wiki/Gameplay/Combo_milestone/fr.md
  wiki/Gameplay/Combo_multiplier_effect/fr.md
  wiki/Gameplay/Comboburst/fr.md
  wiki/Gameplay/Full_combo/fr.md
  wiki/Gameplay/Health/fr.md
  wiki/Gameplay/Mind_block/fr.md
  wiki/Gameplay/Replay/fr.md
  wiki/Gameplay/Spectating/fr.md
  wiki/Gameplay/Spinner_trap/fr.md
  wiki/Gameplay/Tablet_cover/fr.md
  wiki/Gameplay/Unstable_rate/fr.md
  wiki/Gameplay/fr.md
Labels: area:translations, size/M

#12166 [ID] Cleanup/Retranslate `Chat console`
  wiki/Client/Interface/Chat_console/id.md
Labels: area:translations, size/L, state/stale merge

#12493 [ID] Cleanup/Retranslate `Help centre/Website`
  wiki/Help_centre/Website/id.md
Labels: area:translations, size/M, state/stale merge, area:help centre

#12506 [PL] Add `Daily_challenge`
  wiki/Gameplay/Daily_challenge/pl.md
Labels: area:translations, size/M, state/stale merge

#12535 Add `Featured Artist Track Updates: S3RL` news post
  news/2024/2024-12-08-featured-artist-track-updates-s3rl.md
  wiki/shared/news/2024-12-08-featured-artist-track-updates-s3rl/new-s3rl.jpg
Labels: area:news, size/L

#12540 Update `OWC 2024` staff listing, VODs
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/XS

#12537 Fix grammar
  wiki/Game_mode/osu!mania/en.md
Labels: size/XS

#12379 [ID] Cleanup `Help centre`
  wiki/Help_centre/id.md
Labels: area:translations, size/M, area:help centre

#12521 [FR] Add `History of osu!/2023`
  wiki/History_of_osu!/2023/en.md
  wiki/History_of_osu!/2023/fr.md
Labels: size/L

#11541 [KO] Apply 11/12 updates to `Tournaments/Official support`
  wiki/Tournaments/Official_support/ko.md
Labels: area:translations, area:tournaments, size/M

#12541 Add `osu!(lazer) Updates: December 9, 2024` news post
  news/2024/2024-12-09-osulazer-updates-december-9-2024.md
  wiki/shared/news/2024-12-09-osulazer-updates-december-9-2024/banner.jpg
  wiki/shared/news/2024-12-09-osulazer-updates-december-9-2024/banner@2x.jpg
  wiki/shared/news/2024-12-09-osulazer-updates-december-9-2024/hold-to-pause.png
  wiki/shared/news/2024-12-09-osulazer-updates-december-9-2024/star-fountain.png
  wiki/shared/news/2024-12-09-osulazer-updates-december-9-2024/try-lazer.jpg
Labels: area:news, size/M

#12329 [ZH] Add and update articles from the `People` category
  wiki/People/Beatmap_Appreciation_Team/Delegation_of_the_Beatmap_Approval_Deciding_Authorities_Submission_Squad/zh.md
  wiki/People/Beatmap_Nominators/Beatmap_Nominator_Tiers/zh.md
  wiki/People/Beatmap_Nominators/Beatmap_Veto/zh.md
  wiki/People/Beatmap_Nominators/General_Information/zh.md
  wiki/People/Elite_Nominators/zh.md
  wiki/People/Language_Surveillance_Division/zh.md
  wiki/People/Tournament_Committee/zh.md
Labels: area:translations, size/L

#12545 Add `osu!mania 7K World Cup 2025: Registrations Now Open!` news post and wiki article
  news/2024/2024-12-12-osu-mania-7k-world-cup-2025-registrations-now-open.md
  wiki/Tournaments/MWC/2025_7K/en.md
  wiki/Tournaments/MWC/2025_7K/img/mwc7k2025-banner.jpg
  wiki/Tournaments/MWC/2025_7K/img/mwc7k2025-banner@2x.jpg
  wiki/Tournaments/MWC/en.md
  wiki/Tournaments/MWC/ru.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
Labels: area:news, area:tournaments, size/L

#12549 [ID[ Remove `outdated` tag from main page
  wiki/Main_page/id.md
Labels: area:translations, size/XS

#12492 Define public dataset expiry window in `Tournaments/Official_Support`
  wiki/Tournaments/Official_support/en.md
  wiki/Tournaments/Official_support/es.md
  wiki/Tournaments/Official_support/ko.md
Labels: area:tournaments, size/XS

#12553 Update `MWC 7K 2025` staff listing
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/XS

#12554 Add Project Loved: December 2024 newspost
  news/2024/2024-12-13-project-loved-december-2024.md
  wiki/shared/news/2024-12-13-project-loved-december-2024/1028094.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1028094@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1129493.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1129493@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1194047.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1194047@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1210574.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1210574@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1221644.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1221644@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1238488.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1238488@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1286450.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1286450@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1329211.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1329211@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1414239.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1414239@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1541763.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1541763@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1545929.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1545929@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1559849.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1559849@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1681892.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1681892@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1684011.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1684011@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1730920.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1730920@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1768121.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1768121@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1782081.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1782081@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1799413.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1799413@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1842684.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1842684@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1850782.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/1850782@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/2022456.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/2022456@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/2156700.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/2156700@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/573538.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/573538@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/628412.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/628412@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/740537.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/740537@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/748726.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/748726@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/952710.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/952710@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/961450.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/961450@2x.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/980741.jpg
  wiki/shared/news/2024-12-13-project-loved-december-2024/980741@2x.jpg
Labels: area:news, size/L

#12515 [ZH] Update `Gameplay differences in osu!(lazer)`
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/zh.md
Labels: area:translations, size/M

#12558 Fix pronoun in `Project Loved: December 2024` news post
  news/2024/2024-12-13-project-loved-december-2024.md
Labels: area:news, size/XS

#12559 Add `osu! World Cup 2024 Concludes` news post
  news/2024/2024-12-14-osu-world-cup-2024-concludes.md
  wiki/shared/avatars/AlexDunk.jpg
  wiki/shared/avatars/Camellia.jpg
  wiki/shared/avatars/FlyingTuna.jpg
  wiki/shared/news/2024-12-14-osu-world-cup-2024-concludes/AlexDunk-banner.png
  wiki/shared/news/2024-12-14-osu-world-cup-2024-concludes/Camellia-banner.png
  wiki/shared/news/2024-12-14-osu-world-cup-2024-concludes/Corrupted_Paywall-banner.jpg
  wiki/shared/news/2024-12-14-osu-world-cup-2024-concludes/FlyingTuna-banner.png
  wiki/shared/news/2024-12-14-osu-world-cup-2024-concludes/Naples_Yellow_Mango-banner.jpg
  wiki/shared/news/2024-12-14-osu-world-cup-2024-concludes/Operation_Zenithfall-banner.jpg
  wiki/shared/news/2024-12-14-osu-world-cup-2024-concludes/XIchedelic_Nova_Trinity-banner.jpg
  wiki/shared/news/2024-12-14-osu-world-cup-2024-concludes/owc-2024-gf-closest.png
  wiki/shared/news/2024-12-14-osu-world-cup-2024-concludes/owc-2024-gf-mappool.png
  wiki/shared/news/2024-12-14-osu-world-cup-2024-concludes/owc-2024-gf-score-diff.png
  wiki/shared/news/2024-12-14-osu-world-cup-2024-concludes/owc-2024-gf-yap-costs.png
  wiki/shared/news/2024-12-14-osu-world-cup-2024-concludes/owc-2024-mvp.png
  wiki/shared/news/2024-12-14-osu-world-cup-2024-concludes/owc-2024-team-winrate.png
  wiki/shared/news/2024-12-14-osu-world-cup-2024-concludes/owc-2024-top-pp.png
  wiki/shared/news/2024-12-14-osu-world-cup-2024-concludes/owc2024-credits.png
Labels: area:news, size/XL

#12560 Fix header in `osu! World Cup 2024 Concludes` news post
  news/2024/2024-12-14-osu-world-cup-2024-concludes.md
Labels: area:news, size/XS

#12550 [ID] Fix broken link formatting in `Installation and registration`
  wiki/Help_centre/Installation_and_registration/id.md
Labels: area:translations, size/XS, area:help centre

#12555 [ID] Cleanup `Registration`
  wiki/Registration/id.md
Labels: area:translations, size/S

#12542 [ES] Update `Client/Beatmap editor/Compose` and `Gameplay/Hit object/Slider/Repeat slider`
  wiki/Client/Beatmap_editor/Compose/en.md
  wiki/Client/Beatmap_editor/Compose/es.md
  wiki/Gameplay/Hit_object/Slider/Repeat_slider/es.md
Labels: area:translations, size/S

#12562 Fix flag and apply feedback in `osu! World Cup 2024 Concludes` news post
  news/2024/2024-12-14-osu-world-cup-2024-concludes.md
Labels: area:news, size/XS

#12564 Update `Contest Points`
  wiki/Contests/Contest_points/en.md
  wiki/Contests/Contest_points/es.md
  wiki/Contests/Contest_points/fr.md
Labels: size/M

#12563 Add `New Featured Artist: uynet` news post
  news/2024/2024-12-15-new-featured-artist-uynet.md
Labels: area:news, size/M

#12505 Re-write the `Silence` wiki page
  wiki/Silence/de.md
  wiki/Silence/en.md
  wiki/Silence/es.md
  wiki/Silence/fr.md
  wiki/Silence/id.md
  wiki/Silence/ko.md
  wiki/Silence/ru.md
  wiki/Silence/tr.md
  wiki/Silence/uk.md
  wiki/Silence/zh.md
Labels: size/M

#12568 Fix typos in osu! World Cup articles
  wiki/Tournaments/CWC/2023/en.md
  wiki/Tournaments/CWC/2024/en.md
  wiki/Tournaments/MWC/2023_4K/en.md
  wiki/Tournaments/MWC/2023_7K/en.md
  wiki/Tournaments/MWC/2024_4K/en.md
  wiki/Tournaments/MWC/2024_7K/en.md
  wiki/Tournaments/MWC/2025_7K/en.md
  wiki/Tournaments/OWC/2022/en.md
  wiki/Tournaments/TWC/2023/en.md
Labels: area:tournaments, size/S

#12569 Replace link in `New Featured Artist: uynet` news post
  news/2024/2024-12-15-new-featured-artist-uynet.md
Labels: area:news, size/XS

#12557 [ID] Cleanup `Help centre`
  wiki/Help_centre/id.md
Labels: area:translations, size/S, area:help centre

#12186 [ZH] Add `History of osu!` (2007 and 2008)
  wiki/History_of_osu!/2007/zh.md
  wiki/History_of_osu!/2008/zh.md
Labels: area:translations, size/L

#12571 Fix player flag in `osu! World Cup 2024 Concludes` news post
  news/2024/2024-12-14-osu-world-cup-2024-concludes.md
Labels: area:news, size/XS

#12561 Expand `Overmapping` article with examples and more contemporary explanations
  wiki/Beatmapping/Overmapping/en.md
  wiki/Beatmapping/Overmapping/es.md
  wiki/Beatmapping/Overmapping/fr.md
  wiki/Beatmapping/Overmapping/id.md
  wiki/Beatmapping/Overmapping/img/overmap-jump.gif
  wiki/Beatmapping/Overmapping/img/overmap-slider.gif
  wiki/Beatmapping/Overmapping/img/overmap-stream.gif
  wiki/Beatmapping/Overmapping/nl.md
Labels: size/M

#12565 Update `Sparxe's Two Key Event` with results
  wiki/Tournaments/STKE/1/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
Labels: area:tournaments, size/L

#12567 Fix "Clemaister (ft. Kamoflage) - Rewind" link in osu! originals
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
Labels: size/XS

#12577 Fix link in `Sparxe's Two Key Event`
  wiki/Tournaments/STKE/1/en.md
Labels: area:tournaments, size/XS

#12572 Clarify that songs featuring disallowed artists that are licensed as part of other artist's FA listing are fine to use in `Content usage permissions`
  wiki/Rules/Content_usage_permissions/de.md
  wiki/Rules/Content_usage_permissions/en.md
  wiki/Rules/Content_usage_permissions/es.md
  wiki/Rules/Content_usage_permissions/fr.md
  wiki/Rules/Content_usage_permissions/it.md
  wiki/Rules/Content_usage_permissions/ko.md
  wiki/Rules/Content_usage_permissions/ru.md
  wiki/Rules/Content_usage_permissions/zh.md
Labels: size/M

#12517 Add new osu!taiko Performance Points Committee members
  wiki/People/Performance_Points_Committee/en.md
  wiki/People/Performance_Points_Committee/es.md
Labels: size/XS

#12580 Add `osu!mania 4K World Cup 2025 Mapper and Playtester Applications` news post
  news/2024/2024-12-19-osumania-4k-world-cup-2025-mapper-and-playtester-applications.md
Labels: area:news, size/M

#12584 Add `New Featured Artist: Anamanaguchi` news post
  news/2024/2024-12-21-new-featured-artist-anamanaguchi.md
Labels: area:news, size/L

#12552 Add `THMC 4` wiki article
  wiki/Tournaments/TMC/4th/en.md
  wiki/Tournaments/TMC/4th/img/banner.png
  wiki/Tournaments/TMC/4th/img/banner@2x.png
  wiki/Tournaments/TMC/4th/img/group-stage-bracket.png
  wiki/Tournaments/TMC/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
Labels: area:tournaments, size/L

#12586 Adjust Z-sum/Z-score definition on `osu! Indonesia Tournament #14 (2024)`
  wiki/Tournaments/OIT/2024/en.md
Labels: area:tournaments, size/XS

#12581 Add osu! news scheduler to `Community/Projects`
  wiki/Community/Projects/en.md
  wiki/Community/Projects/es.md
Labels: size/XS

#12576 Add `Touhou Project Mania Cup 4: Registrations are Now Open!` news post
  news/2024/2024-12-23-touhou-project-mania-cup-4th-registrations-now-open.md
  wiki/Tournaments/TMC/4th/en.md
  wiki/Tournaments/TMC/4th/img/banner.jpg
  wiki/Tournaments/TMC/4th/img/banner.png
  wiki/Tournaments/TMC/4th/img/banner@2x.jpg
  wiki/Tournaments/TMC/4th/img/banner@2x.png
  wiki/Tournaments/TMC/4th/img/group-stage-bracket.png
Labels: area:news, size/M

#12590 Add `Midnight Moment Art Contest: Voting Open` news post
  news/2024/2024-12-23-midnight-moment-art-contest-voting.md
  wiki/shared/news/2024-12-23-midnight-moment-art-contest-voting/vote.png
Labels: area:news, size/M

#12591 Update `Pending Cup 2024`
  wiki/Contests/PDC/2024/en.md
Labels: size/XS

#12593 Add podium and badge images to `Sparxe's Two Key Event`
  wiki/Tournaments/STKE/1/en.md
  wiki/Tournaments/STKE/1/img/badge.png
  wiki/Tournaments/STKE/1/img/podium.jpg
Labels: area:tournaments, size/XS

#12594 Add `happy holidays!` news post
  news/2024/2024-12-25-happy-holidays.md
  wiki/shared/news/2024-12-25-happy-holidays/banner.jpg
  wiki/shared/news/2024-12-25-happy-holidays/banner@2x.jpg
  wiki/shared/news/2024-12-25-happy-holidays/medal-board.jpg
Labels: area:news, size/M

#12595 Fix duplicate wording on `happy holidays!` news post
  news/2024/2024-12-25-happy-holidays.md
Labels: area:news, size/XS

#12599 Add Daily Challenge medals to `Dedication` category in unlock requirements
  wiki/Medals/Unlock_requirements/Dedication/de.md
  wiki/Medals/Unlock_requirements/Dedication/en.md
  wiki/Medals/Unlock_requirements/Dedication/es.md
  wiki/Medals/Unlock_requirements/Dedication/fr.md
  wiki/Medals/Unlock_requirements/Dedication/ru.md
  wiki/Medals/Unlock_requirements/Dedication/zh.md
Labels: size/S

#12598 Expand system mod articles
  wiki/Gameplay/Game_modifier/Score_V2_(lazer)/en.md
  wiki/Gameplay/Game_modifier/Touch_Device_(lazer)/en.md
Labels: size/S

#12603 Update entry count in `Midnight Moment Art Contest: Voting Open` news post
  news/2024/2024-12-23-midnight-moment-art-contest-voting.md
Labels: area:news, size/XS

#12583 Add `3 Digit World Cup 2025: Registrations Now Open!` news post
  news/2024/2024-12-28-3-digit-world-cup-2025-registrations-now-open.md
  wiki/shared/news/2024-12-28-3-digit-world-cup-2025-registrations-now-open/banner.jpg
  wiki/shared/news/2024-12-28-3-digit-world-cup-2025-registrations-now-open/banner@2x.jpg
Labels: area:news, size/M

#12614 Update `MWC 7K 2025` team listing, rules
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/M

#12618 Update `MWC 7K 2025` team listing
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/M

#12620 Fix incorrect profile picture display in `Twitter`
  wiki/Twitter/bg.md
  wiki/Twitter/de.md
  wiki/Twitter/en.md
  wiki/Twitter/es.md
  wiki/Twitter/fr.md
  wiki/Twitter/id.md
  wiki/Twitter/img/osu-support.png
  wiki/Twitter/img/osusupport.jpg
  wiki/Twitter/it.md
  wiki/Twitter/ja.md
  wiki/Twitter/ko.md
  wiki/Twitter/nl.md
  wiki/Twitter/pl.md
  wiki/Twitter/pt-br.md
  wiki/Twitter/ro.md
  wiki/Twitter/ru.md
  wiki/Twitter/th.md
  wiki/Twitter/tr.md
  wiki/Twitter/vi.md
  wiki/Twitter/zh-tw.md
  wiki/Twitter/zh.md
Labels: size/M
