Repository ppy/osu-wiki, pull requests merged in 2024-06, with the labels that each got.

#11181 [EN/ZH] Update `Tournaments/JHC/JHC_2024` articles
  wiki/Tournaments/JHC/JHC_2024/en.md
  wiki/Tournaments/JHC/JHC_2024/img/badge.png
  wiki/Tournaments/JHC/JHC_2024/zh.md
Labels: area:tournaments, size/XXL

#11512 Update user group listings
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Beatmap_Nominators/es.md
  wiki/People/Beatmap_Nominators/fr.md
  wiki/People/Beatmap_Nominators/zh.md
  wiki/People/Global_Moderation_Team/de.md
  wiki/People/Global_Moderation_Team/en.md
  wiki/People/Global_Moderation_Team/es.md
  wiki/People/Global_Moderation_Team/fr.md
  wiki/People/Global_Moderation_Team/id.md
  wiki/People/Global_Moderation_Team/it.md
  wiki/People/Global_Moderation_Team/ja.md
  wiki/People/Global_Moderation_Team/ko.md
  wiki/People/Global_Moderation_Team/pl.md
  wiki/People/Global_Moderation_Team/pt-br.md
  wiki/People/Global_Moderation_Team/ru.md
  wiki/People/Global_Moderation_Team/th.md
  wiki/People/Global_Moderation_Team/tr.md
  wiki/People/Global_Moderation_Team/zh-tw.md
  wiki/People/Global_Moderation_Team/zh.md
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Technical_Support_Team/id.md
  wiki/People/osu!_Alumni/de.md
  wiki/People/osu!_Alumni/en.md
  wiki/People/osu!_Alumni/es.md
  wiki/People/osu!_Alumni/fr.md
  wiki/People/osu!_Alumni/id.md
  wiki/People/osu!_Alumni/it.md
  wiki/People/osu!_Alumni/ja.md
  wiki/People/osu!_Alumni/ko.md
  wiki/People/osu!_Alumni/pl.md
  wiki/People/osu!_Alumni/pt-br.md
  wiki/People/osu!_Alumni/ru.md
  wiki/People/osu!_Alumni/tr.md
  wiki/People/osu!_Alumni/zh-tw.md
  wiki/People/osu!_Alumni/zh.md
Labels: size/L

#11516 Update `CWC 2024` with partial RO16 results
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/M

#11465 Clarify expectations and requirements for programs used for registrant filtering, seeding and automated refereeing in `Tournaments/Official_support`
  wiki/Tournaments/Official_support/en.md
Labels: area:tournaments, size/M

#11520 Add `New Featured Artist: DeBisco` news post
  news/2024/2024-06-02-new-featured-artist-debisco.md
Labels: area:news, size/M

#11346 Clarify news post expectations in `Official beatmapping contest support` and `Official tournament support` wiki articles
  wiki/Contests/Official_support/en.md
  wiki/Tournaments/Official_support/en.md
  wiki/Tournaments/Official_support/ko.md
Labels: area:tournaments, size/M

#11521 Add DeBisco on `Featured Artists` listing
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/es.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: size/XS

#11523 Update `CWC 2024` for the Quarterfinals stage
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/M

#11525 Update `CWC 2024` links
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/XS

#11498 Add `The Followpoint: Eriha, Top Drum Basher` news post
  news/2024/2024-06-03-the-followpoint-eriha-top-drum-basher.md
  wiki/shared/news/2024-06-03-the-followpoint-eriha-top-drum-basher/banner.jpg
  wiki/shared/news/2024-06-03-the-followpoint-eriha-top-drum-basher/banner@2x.jpg
Labels: area:news, size/L

#11527 Add Project Prism and CWC tracks to `osu! originals`
  wiki/osu!_originals/en.md
Labels: size/S

#11513 Add `Mappers' Guild - Summer 2024 Priority Quests` news post
  news/2024/2024-06-04-mappers-guild-priority-quests-summer-2024.md
  wiki/shared/news/2024-06-04-mappers-guild-priority-quests-summer-2024/progress.jpg
Labels: area:news, size/L

#11530 Apply series tag to all "The Followpoint" news posts
  news/2023/2023-11-10-the-followpoint-ephemeral-the-man-behind-the-medals.md
  news/2024/2024-03-13-the-followpoint-btmc-the-face-of-osu.md
  news/2024/2024-04-04-the-followpoint-digitalhypno-the-osu-professor.md
  news/2024/2024-05-06-the-followpoint-mrekk-the-osu-standard-prodigy.md
  news/2024/2024-05-28-the-followpoint-yesmydarknesss-the-master-of-osu-catch.md
  news/2024/2024-06-03-the-followpoint-eriha-top-drum-basher.md
Labels: area:news, size/XS

#11531 Add `osu!catch World Cup 2024: Round of 16 Recap` news post
  news/2024/2024-06-05-osu-catch-world-cup-2024-round-of-16-recap.md
  wiki/shared/news/2024-06-05-osu-catch-world-cup-2024-round-of-16-recap/insomnia.jpg
Labels: area:news, size/L

#11533 Update `CWC 2024` Quarterfinals schedule
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/M

#11532 Fix a contradiction and wrong thread link in `People/Tournament Committee`
  wiki/People/Tournament_Committee/en.md
Labels: size/XS

#11535 Add `osu! World Cup 2024: Mapper & Tester Applications` news post
  news/2024/2024-06-06-osu-world-cup-2024-mapper-tester-applications.md
Labels: area:news, size/S

#11333 Update `History of osu!/2011`
  wiki/History_of_osu!/2011/de.md
  wiki/History_of_osu!/2011/en.md
  wiki/History_of_osu!/2011/es.md
  wiki/History_of_osu!/2011/fr.md
  wiki/History_of_osu!/2011/id.md
  wiki/History_of_osu!/2011/pt-br.md
Labels: size/M

#11540 Update `CWC 2024` with partial Quarterfinals results
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/M

#11539 Add `Corsace Closed, Closed!` news post
  news/2024/2024-06-09-corsace-closed.md
  wiki/shared/news/2024-06-09-corsace-closed/4-koma.jpg
  wiki/shared/news/2024-06-09-corsace-closed/SOUND-ARCHITECT.jpg
  wiki/shared/news/2024-06-09-corsace-closed/Viltus.jpg
  wiki/shared/news/2024-06-09-corsace-closed/banner.jpg
  wiki/shared/news/2024-06-09-corsace-closed/banner@2x.jpg
  wiki/shared/news/2024-06-09-corsace-closed/chloe-concept.jpg
  wiki/shared/news/2024-06-09-corsace-closed/manga.jpg
  wiki/shared/news/2024-06-09-corsace-closed/podium.jpg
Labels: area:news, size/L

#11542 Fix misplaced word in `Corsace Closed, Closed!` news post
  news/2024/2024-06-09-corsace-closed.md
Labels: area:news, size/XS

#11544 Add `Community/Manga` article
  wiki/Community/Manga/en.md
  wiki/Community/Manga/img/corsace-closed-the-manga.jpg
  wiki/Community/Manga/img/how-do-i-improve.jpg
  wiki/Community/Manga/img/osu!-combat-championship.jpg
  wiki/Community/Manga/img/osu!-winner-s-circle.jpg
  wiki/Community/de.md
  wiki/Community/en.md
  wiki/Community/es.md
  wiki/Community/fr.md
  wiki/Community/id.md
  wiki/Community/pt-br.md
  wiki/Community/uk.md
Labels: size/M

#11545 Update `CWC 2024` for the Semifinals stage
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/M

#11546 Add `New Featured Artist: xiiiac13` news post
  news/2024/2024-06-09-new-featured-artist-xiiiac13.md
Labels: area:news, size/M

#11547 Add xiiiac13 on `Featured Artists` listing
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/es.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: size/XS

#11550 Update `CWC 2024` links
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/XS

#11551 Add `Kyoku 2024` contest article
  wiki/Contests/Kyoku/2024/en.md
  wiki/Contests/Kyoku/en.md
  wiki/shared/link/Link.png
  wiki/shared/link/Twitter.png
Labels: size/L

#11548 Add new world cup tracks to `osu! originals`
  wiki/osu!_originals/en.md
Labels: size/S

#11549 Add Absolute Zero to `Featured Artist` listing
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/es.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/ru.md
  wiki/People/Featured_Artists/zh.md
Labels: size/XS

#11518 Add `The NAT Gazette: June 2024` news post
  news/2024/2024-06-10-the-nat-gazette-june-2024.md
  wiki/shared/news/2024-06-10-the-nat-gazette-june-2024/evaluation-chat.jpg
  wiki/shared/news/2024-06-10-the-nat-gazette-june-2024/evaluation-feedback.jpg
  wiki/shared/news/2024-06-10-the-nat-gazette-june-2024/evaluation-tracker.jpg
  wiki/shared/news/2024-06-10-the-nat-gazette-june-2024/nat-gazette-june-2024.jpg
  wiki/shared/news/2024-06-10-the-nat-gazette-june-2024/nat-gazette-june-2024@2x.jpg
  wiki/shared/news/2024-06-10-the-nat-gazette-june-2024/public-eval-archive.jpg
Labels: area:news, size/L

#11552 Add new tournament tracks to `osu! originals`
  wiki/osu!_originals/en.md
Labels: size/S

#11553 Apply a few fixes in `The NAT Gazette: June 2024` news post
  news/2024/2024-06-10-the-nat-gazette-june-2024.md
Labels: area:news, size/S

#11555 Update `CWC 2024` links, schedule
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/S

#11524 [IT] Add `Rules/Explicit content`
  wiki/Rules/Explicit_content/it.md
Labels: area:translations, size/M

#11519 [ES] Update `People/Staff log` and `People/Language Surveillance Division`
  wiki/People/Language_Surveillance_Division/es.md
  wiki/People/Staff_log/es.md
  wiki/People/es.md
Labels: area:translations, size/S

#11499 [ES] Update `Ranking criteria/osu!catch`
  wiki/Ranking_criteria/osu!catch/es.md
  wiki/Ranking_criteria/osu!mania/es.md
Labels: area:translations, size/M, area:ranking criteria

#11505 [VI] Update `group-info`
  meta/group-info/vi.yaml
Labels: area:meta, size/XS

#11559 Fix flag and link for Nuolong in `Contests/Contest points`
  wiki/Contests/Contest_points/en.md
Labels: size/XS

#11561 Fix broken links in `MCNC/4K2023` tournament article
  wiki/Tournaments/MCNC/4k2023/en.md
Labels: area:tournaments, size/L

#11562 Update `4WC2024` to Grand Finals
  wiki/Tournaments/4WC/2024/en.md
Labels: area:tournaments, size/L

#11565 Add `Monthly Beatmapping Contest: June 2024` news post
  news/2024/2024-06-12-monthly-beatmapping-contest-june-2024.md
  wiki/Contests/Contest_points/en.md
  wiki/Contests/Contest_points/fr.md
Labels: area:news, size/L

#11557 Add the `osu!catch World Cup 2024: Quarterfinals Recap` news post
  news/2024/2024-06-13-osu-catch-world-cup-2024-quarterfinals-recap.md
  wiki/shared/news/2024-06-13-osu-catch-world-cup-2024-quarterfinals-recap/junglist-acid.jpg
  wiki/shared/news/2024-06-13-osu-catch-world-cup-2024-quarterfinals-recap/raison-detre.jpg
  wiki/shared/news/2024-06-13-osu-catch-world-cup-2024-quarterfinals-recap/step-by-step.jpg
Labels: area:news, size/L

#11564 Add osu_tcomm to `Twitter` listing
  wiki/Twitter/bg.md
  wiki/Twitter/de.md
  wiki/Twitter/en.md
  wiki/Twitter/es.md
  wiki/Twitter/fr.md
  wiki/Twitter/id.md
  wiki/Twitter/img/osu_tcomm.jpg
  wiki/Twitter/it.md
  wiki/Twitter/ko.md
  wiki/Twitter/nl.md
  wiki/Twitter/ro.md
  wiki/Twitter/ru.md
  wiki/Twitter/vi.md
  wiki/Twitter/zh.md
Labels: size/M

#11566 Update `CWC 2024` Semifinals schedule
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/S

#11556 Update `GB Cup 2024 Spring` wiki articles
  wiki/Tournaments/GBC/GBC_2024_Spring/en.md
  wiki/Tournaments/GBC/GBC_2024_Spring/img/GBC-2024-Spring-badge-Discord-1st.png
  wiki/Tournaments/GBC/GBC_2024_Spring/img/GBC-2024-Spring-badge-QQ-1st.jpg
  wiki/Tournaments/GBC/GBC_2024_Spring/zh.md
Labels: area:tournaments, size/XL

#11568 Update `GB Cup 2024 Spring` wiki articles
  wiki/Tournaments/GBC/GBC_2024_Spring/en.md
  wiki/Tournaments/GBC/GBC_2024_Spring/zh.md
Labels: area:tournaments, size/M

#11569 Small fix for the `osu!catch World Cup 2024: Quarterfinals Recap` news post
  news/2024/2024-06-13-osu-catch-world-cup-2024-quarterfinals-recap.md
Labels: area:news, size/XS

#11571 Apply missing outdated tag in `Skinning/Interface` translations
  wiki/Skinning/Interface/es.md
  wiki/Skinning/Interface/fr.md
  wiki/Skinning/Interface/zh.md
Labels: area:translations, size/S

#11570 Use `master` instead of HEAD for `--base-commit` in outdated article check
  .github/workflows/continuous-integration.yml
Labels: area:meta, size/XS

#11578 Fix typo in `Aerial Antics Art Contest` news post
  news/2024/2024-06-14-aerial-antics-art-contest.md
Labels: area:news, size/XS

#11583 Update `CWC 2024` Semifinals schedule
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/XS

#11574 Community Mentorship Program 2024 Summer newspost
  news/2024/2024-06-15-community-mentorship-program-summer-2024-signups-now-open.md
Labels: area:news, size/M

#11584 Update `CWC 2024` schedules
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/S

#11586 Update `CWC 2024` with partial Semifinals results
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/S

#11466 [ES] Add `Offset`
  wiki/Client/Beatmap_editor/Timing/es.md
  wiki/Offset/es.md
Labels: area:translations, size/S

#11468 [ES] Add `Offset/Online offset`
  wiki/Offset/Online_offset/es.md
  wiki/Offset/Online_offset/img/beatmap-management-panel-new-ES.png
Labels: area:translations, size/M

#11471 [ES] Add `Modding/Nuke`
  wiki/Modding/Nuke/es.md
Labels: area:translations, size/S

#11472 [ES] Add `Modding/Forum modding`
  wiki/Modding/Forum_modding/es.md
Labels: area:translations, size/L

#11473 [ES] Add `Modding/Bubble`
  wiki/Modding/Bubble/es.md
  wiki/Modding/Forum_modding/es.md
  wiki/People/Mapping_Assistance_Team/es.md
Labels: area:translations, size/M

#11474 [ES] Add `Rules/Code of conduct for modding and mapping`
  wiki/Guides/Common_modding_mistakes/es.md
  wiki/Modding/Forum_modding/es.md
  wiki/Modding/es.md
  wiki/Rules/Code_of_conduct_for_modding_and_mapping/es.md
Labels: area:translations, size/M

#11496 [VI] Add `People / osu! Alumni`
  wiki/People/osu!_Alumni/vi.md
Labels: area:translations, size/L

#11477 [ES] Update `Client/Beatmap editor/Timing`
  wiki/Client/Beatmap_editor/Timing/es.md
Labels: area:translations, size/M

#11497 [VI] Add `People / Technical Support Team`
  wiki/People/Technical_Support_Team/vi.md
Labels: area:translations, size/S

#11567 [ES] Update `Twitter`
  wiki/Twitter/es.md
Labels: area:translations, size/XS

#11573 [ES] Update `Skinning/Interface`
  wiki/Skinning/Interface/es.md
Labels: area:translations, size/S

#11580 [ES] Add `Ranking criteria/Scaling BPM`
  wiki/Ranking_criteria/Scaling_BPM/es.md
Labels: area:translations, size/S, area:ranking criteria

#11536 [IT] Add `osu!api`
  wiki/osu!api/it.md
Labels: area:translations, size/S

#11582 [ES] Add `Ranking criteria/Difficulty naming`
  wiki/Ranking_criteria/Difficulty_naming/es.md
Labels: area:translations, size/L, area:ranking criteria

#11589 Add `New Featured Artist: Doomsday` news post
  news/2024/2024-06-16-new-featured-artist-doomsday.md
Labels: area:news, size/M

#11588 Update `CWC 2024` for the Finals stage
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/M

#11558 Add `The Followpoint: dressurf, The #1 Key Smasher` news post
  news/2024/2024-06-17-the-followpoint-dressurf-the-1-key-smasher.md
  wiki/shared/news/2024-06-17-the-followpoint-dressurf-the-1-key-smasher/banner.jpg
  wiki/shared/news/2024-06-17-the-followpoint-dressurf-the-1-key-smasher/banner@2x.jpg
Labels: area:news, size/L

#11590 Add Doomsday on `Featured Artists` listing
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/es.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: size/XS

#11592 Update `CWC 2024` links
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/XS

#11579 Clarify "Areas of focus" in `People/Global_Moderation_Team`
  meta/group-info/de.yaml
  meta/group-info/en.yaml
  meta/group-info/es.yaml
  meta/group-info/fr.yaml
  meta/group-info/it.yaml
  meta/group-info/ko.yaml
  meta/group-info/ru.yaml
  meta/group-info/vi.yaml
  meta/group-info/zh-tw.yaml
  meta/group-info/zh.yaml
  wiki/People/Global_Moderation_Team/de.md
  wiki/People/Global_Moderation_Team/en.md
  wiki/People/Global_Moderation_Team/es.md
  wiki/People/Global_Moderation_Team/fr.md
  wiki/People/Global_Moderation_Team/id.md
  wiki/People/Global_Moderation_Team/it.md
  wiki/People/Global_Moderation_Team/ja.md
  wiki/People/Global_Moderation_Team/ko.md
  wiki/People/Global_Moderation_Team/pl.md
  wiki/People/Global_Moderation_Team/pt-br.md
  wiki/People/Global_Moderation_Team/ru.md
  wiki/People/Global_Moderation_Team/th.md
  wiki/People/Global_Moderation_Team/tr.md
  wiki/People/Global_Moderation_Team/zh-tw.md
  wiki/People/Global_Moderation_Team/zh.md
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Nomination_Assessment_Team/es.md
  wiki/People/Nomination_Assessment_Team/vi.md
Labels: size/L

#11595 Fix translation error in latest `The Followpoint` newspost
  news/2024/2024-06-17-the-followpoint-dressurf-the-1-key-smasher.md
Labels: area:news, size/XS

#11598 Minor fixes on multiple Featured Artist news posts
  news/2022/2022-11-26-new-featured-artist-innocent-key.md
  news/2024/2024-06-02-new-featured-artist-debisco.md
  news/2024/2024-06-09-new-featured-artist-xiiiac13.md
  news/2024/2024-06-16-new-featured-artist-doomsday.md
Labels: area:news, size/S

#11599 Add `Lazer Grand Arena: Registrations now open!` wiki article and news post
  news/2024/2024-06-18-lazer-grand-arena-registrations-now-open.md
  wiki/Tournaments/LGA/2024/en.md
  wiki/Tournaments/LGA/2024/img/lga2024-banner.jpg
  wiki/Tournaments/LGA/2024/img/lga2024-banner@2x.jpg
  wiki/Tournaments/LGA/en.md
Labels: area:news, area:tournaments, size/L

#11600 Update `LGA` rule typos, identation
  wiki/Tournaments/LGA/2024/en.md
Labels: area:tournaments, size/S

#11601 Update `LGA` with more fixes
  wiki/Tournaments/LGA/2024/en.md
Labels: area:tournaments, size/XS

#11596 Add more tournament songs to `osu! originals`
  wiki/osu!_originals/en.md
Labels: size/M

#11604 Add `osu!catch World Cup 2024: Semifinals Recap` news post
  news/2024/2024-06-19-osu-catch-world-cup-2024-semifinals-recap.md
  wiki/shared/news/2024-06-19-osu-catch-world-cup-2024-semifinals-recap/brilliant-silver-shining-blade.jpg
  wiki/shared/news/2024-06-19-osu-catch-world-cup-2024-semifinals-recap/illloved.jpg
  wiki/shared/news/2024-06-19-osu-catch-world-cup-2024-semifinals-recap/silver-bullet.jpg
Labels: area:news, size/L

#11607 Fix flag in `osu!catch World Cup 2024: Semifinals Recap` news post
  news/2024/2024-06-19-osu-catch-world-cup-2024-semifinals-recap.md
Labels: area:news, size/XS

#11430 [ID] Standardise writing of index pages
  wiki/Beatmap/Pattern/osu!/id.md
  wiki/Client/id.md
  wiki/Community/Discord_servers/id.md
  wiki/Community/Organisations/id.md
  wiki/Gameplay/Score/ScoreV1/id.md
  wiki/Legal/id.md
  wiki/Medals/Unlock_requirements/id.md
  wiki/People/id.md
Labels: area:translations, size/M, area:legal

#11608 Fix labeler for translations of group-info
  .github/labeler.yml
Labels: area:meta, size/XS

#11593 [ES] Update `group-info`
  meta/group-info/es.yaml
  wiki/People/Global_Moderation_Team/es.md
Labels: area:translations, area:meta, size/S

#11609 Update `CWC 2024` Finals schedule
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/XS

#11605 Update lazer medal support (`2024.312.0`)
  wiki/Help_centre/Upgrading_to_lazer/de.md
  wiki/Help_centre/Upgrading_to_lazer/en.md
  wiki/Help_centre/Upgrading_to_lazer/es.md
  wiki/Help_centre/Upgrading_to_lazer/fr.md
  wiki/Help_centre/Upgrading_to_lazer/id.md
  wiki/Help_centre/Upgrading_to_lazer/it.md
  wiki/Help_centre/Upgrading_to_lazer/pt-br.md
  wiki/Help_centre/Upgrading_to_lazer/ro.md
  wiki/Help_centre/Upgrading_to_lazer/ru.md
  wiki/Help_centre/Upgrading_to_lazer/vi.md
  wiki/Help_centre/Upgrading_to_lazer/zh.md
Labels: size/M, area:help centre

#11602 [IT] Update `People/Global Moderation Team` and `group-info`
  meta/group-info/it.yaml
  wiki/People/Global_Moderation_Team/it.md
Labels: area:translations, area:meta, size/S

#11603 [FR] Update `How you can help`
  wiki/Community/How_you_can_help!/fr.md
Labels: area:translations, size/XS

#11594 [ES] Update `People/Nomination Assessment Team` and `People/Global Moderation Team`
  wiki/People/Global_Moderation_Team/es.md
  wiki/People/Nomination_Assessment_Team/es.md
Labels: area:translations, size/S

#11581 [ES] Add `Ranking criteria/Ranking Criteria Council`
  wiki/Ranking_criteria/Ranking_Criteria_Council/es.md
Labels: area:translations, size/L, area:ranking criteria

#11543 [ID] Cleanup/Update `Developers`
  wiki/People/Developers/id.md
Labels: area:translations, size/S, state/stale merge

#11528 [ID] Cleanup `osu! Alumni`
  wiki/People/osu!_Alumni/id.md
Labels: area:translations, size/S

#11517 [ES] Update `People/Tournament Committee`
  wiki/People/Tournament_Committee/es.md
Labels: area:translations, size/L

#11329 [DE] Update `ASC/Writing` and `Community/How_you_can_help`
  wiki/Article_styling_criteria/Writing/de.md
  wiki/Community/How_you_can_help!/de.md
Labels: area:translations, size/S, state/stale merge

#11396 [ZH] Clean up `Help centre/Client`
  wiki/Help_centre/Client/zh.md
Labels: area:translations, size/L, state/stale merge, area:help centre

#11534 [ID] Cleanup/Update `Mascots`
  wiki/Mascots/id.md
Labels: area:translations, size/M

#11537 [ID] Cleanup `Rules`
  wiki/Rules/id.md
Labels: area:translations, size/S, state/stale merge

#11538 [ID] Cleanup `Reporting bad behaviour`
  wiki/Community/Forum/id.md
  wiki/Reporting_bad_behaviour/id.md
Labels: area:translations, size/M, state/stale merge

#11576 [IT] Add `History_of_osu!/2007`
  wiki/History_of_osu!/2007/it.md
Labels: area:translations, size/L

#11585 [ES] Add `Ranking criteria/Simplified ranking criteria`
  wiki/Ranking_criteria/Simplified_ranking_criteria/es.md
  wiki/Ranking_criteria/Simplified_ranking_criteria/img/delay-ES.png
Labels: area:translations, size/L, area:ranking criteria

#11587 [ZH] Add Bilibili streaming in `Livestreaming osu!`
  wiki/Guides/Livestreaming_osu!/img/bilibili-game-capture.png
  wiki/Guides/Livestreaming_osu!/img/bilibili-livecenter.png
  wiki/Guides/Livestreaming_osu!/img/bilibili-stream-info.png
  wiki/Guides/Livestreaming_osu!/zh.md
Labels: area:translations, size/M

#11352 [EN/DE] Clarify Distance Snap page
  wiki/Client/Beatmap_editor/Distance_snap/de.md
  wiki/Client/Beatmap_editor/Distance_snap/en.md
  wiki/Client/Beatmap_editor/Distance_snap/es.md
  wiki/Client/Beatmap_editor/Distance_snap/fr.md
  wiki/Client/Beatmap_editor/Distance_snap/ru.md
Labels: area:translations, size/S

#11610 [ES] Update `Client/Beatmap editor/Distance snap`
  wiki/Client/Beatmap_editor/Distance_snap/es.md
Labels: area:translations, size/XS

#11620 [ES] Add missing `.` in `People/Users with unique titles`
  wiki/People/Users_with_unique_titles/es.md
Labels: area:translations, size/XS

#11514 [RU] Add `Community/osu!_Discord_server`
  wiki/Community/osu!_Discord_server/ru.md
Labels: area:translations, size/M

#11628 Change osu! Loved pick description in `Project Loved: June 2024` news post
  news/2024/2024-06-20-project-loved-june-2024.md
Labels: area:news, size/XS

#11629 Remove second popular playcounts pick from `Project Loved: June 2024` news post
  news/2024/2024-06-20-project-loved-june-2024.md
Labels: area:news, size/S

#11636 Update `CWC 2024` schedules
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/XS

#11639 Tidy up `Project Loved: June 2024` news post
  news/2024/2024-06-20-project-loved-june-2024.md
Labels: area:news, size/S

#11640 Fix typo in `Project Loved: June 2024` news post
  news/2024/2024-06-20-project-loved-june-2024.md
Labels: area:news, size/XS

#11624 Update `SOFT` and `4DM` in tournaments listing
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
Labels: area:tournaments, size/M

#11638 [FR] Review `Formatting` in `Article_styling_criteria`
  wiki/Article_styling_criteria/Formatting/fr.md
Labels: area:translations, size/M

#11621 [ES] Update `Do you really want to ask peppy`
  wiki/Do_you_really_want_to_ask_peppy/es.md
Labels: area:translations, size/XS

#11619 [ES] Update `Beatmap/Beatmap collaborations`
  wiki/Beatmap/Beatmap_collaborations/es.md
Labels: area:translations, size/S

#11623 Fix metadata settings link in `Beatmap discussion`
  wiki/Beatmap_discussion/en.md
  wiki/Beatmap_discussion/es.md
  wiki/Beatmap_discussion/fr.md
  wiki/Beatmap_discussion/id.md
Labels: size/XS

#11622 [ES] Update `Beatmap/Lead-in time`
  wiki/Beatmap/Lead-in_time/es.md
Labels: area:translations, size/XS

#11618 [ES] Update `Beatmap/Beatmap host`
  wiki/Beatmap/Beatmap_host/es.md
Labels: area:translations, size/XS

#11643 Conclude `4WC 2024`
  wiki/Tournaments/4WC/2024/en.md
  wiki/Tournaments/4WC/2024/img/podium.jpg
Labels: area:tournaments, size/M

#11644 Add `New Featured Artist: Nakura` news post
  news/2024/2024-06-22-new-featured-artist-nakura.md
Labels: area:news, size/M

#11645 Update `CWC 2024` with partial Finals results
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/S

#11642 [ZH] Update `Gameplay differences in osu!(lazer)`
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/zh.md
Labels: area:translations, size/XS

#11613 Delete incorrect note about scorebar-colour sizing
  wiki/Skinning/Interface/en.md
  wiki/Skinning/Interface/es.md
  wiki/Skinning/Interface/fr.md
  wiki/Skinning/Interface/zh.md
Labels: size/XS

#11641 Add `Skinning Contest: Unchained - Voting Open` news post
  news/2024/2024-06-23-skinning-contest-unchained-voting.md
  wiki/shared/news/2024-06-23-skinning-contest-unchained-voting/banner.jpg
  wiki/shared/news/2024-06-23-skinning-contest-unchained-voting/banner@2x.jpg
Labels: area:news, size/S

#11646 Add participants, voting news link and updated schedule in `Skinning Contest #5: Unchained`
  wiki/Contests/Skinning_Contest/5/en.md
Labels: size/M

#11647 Update `CWC 2024` for the Grand Finals stage
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/M

#11648 Add new tournament tracks to `osu! originals`
  wiki/osu!_originals/en.md
Labels: size/S

#11649 Update `CWC 2024` links
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/XS

#11650 Update `CWC 2024` links, results
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/XS

#11615 [FR] Added `Manga` page
  wiki/Community/Manga/fr.md
Labels: area:translations, size/S

#11627 Add `4 Digit World Cup 2024 Concludes` news post
  news/2024/2024-06-24-4-digit-world-cup-2024-concludes.md
  wiki/shared/news/2024-06-24-4-digit-world-cup-2024-concludes/blanktap-banner.png
  wiki/shared/news/2024-06-24-4-digit-world-cup-2024-concludes/credits.png
  wiki/shared/news/2024-06-24-4-digit-world-cup-2024-concludes/jimarrah-banner.png
  wiki/shared/news/2024-06-24-4-digit-world-cup-2024-concludes/shurelia-banner.png
Labels: area:news, size/L

#11612 Fix description of sliders with longer length than defined curve
  wiki/Client/File_formats/osu_(file_format)/en.md
  wiki/Client/File_formats/osu_(file_format)/es.md
  wiki/Client/File_formats/osu_(file_format)/fr.md
  wiki/Client/File_formats/osu_(file_format)/uk.md
  wiki/Client/File_formats/osu_(file_format)/zh.md
Labels: size/S

#11652 Add `osu!(lazer) Updates: June 25, 2024` news post
  news/2024/2024-06-25-osu-lazer-updates-june-25-2024.md
  wiki/shared/news/2024-06-25-osu-lazer-updates-june-25-2024/banner.jpg
  wiki/shared/news/2024-06-25-osu-lazer-updates-june-25-2024/banner@2x.jpg
Labels: area:news, size/M

#11656 Fix wrong info in `4 Digit World Cup 2024 Concludes` news post
  news/2024/2024-06-24-4-digit-world-cup-2024-concludes.md
Labels: area:news, size/XS

#11660 Add `Jogja Fun Cup` wiki article
  wiki/Tournaments/JFC/1/en.md
  wiki/Tournaments/JFC/1/img/banner.jpg
  wiki/Tournaments/JFC/en.md
Labels: area:tournaments, size/L

#11663 Update `NAT` article
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Nomination_Assessment_Team/es.md
Labels: size/S

#11661 Add WangleLine on `Featured Artists` listing
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/es.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: size/XS

#11659 Add `osu!catch World Cup 2024: Finals Recap` news post
  news/2024/2024-06-28-osu-catch-world-cup-2024-finals-recap.md
  wiki/shared/news/2024-06-28-osu-catch-world-cup-2024-finals-recap/neverlast.jpg
Labels: area:news, size/M

#11664 Fix flag in `osu!catch World Cup 2024: Finals Recap` news post
  news/2024/2024-06-28-osu-catch-world-cup-2024-finals-recap.md
Labels: area:news, size/XS

#11515 [RU] Update `Rules/Content_usage_permissions`
  wiki/Rules/Content_usage_permissions/ru.md
Labels: area:translations, size/L

#11666 Update `CWC 2024` schedules
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/XS

#11658 Fix incorrect artist name and add flag references to `Mascots`
  wiki/Mascots/de.md
  wiki/Mascots/en.md
  wiki/Mascots/es.md
  wiki/Mascots/fr.md
  wiki/Mascots/id.md
  wiki/Mascots/it.md
  wiki/Mascots/uk.md
  wiki/Mascots/zh.md
Labels: size/L

#11662 Update group member listings
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Beatmap_Nominators/es.md
  wiki/People/Beatmap_Nominators/fr.md
  wiki/People/Beatmap_Nominators/zh.md
  wiki/People/Global_Moderation_Team/de.md
  wiki/People/Global_Moderation_Team/en.md
  wiki/People/Global_Moderation_Team/es.md
  wiki/People/Global_Moderation_Team/fr.md
  wiki/People/Global_Moderation_Team/id.md
  wiki/People/Global_Moderation_Team/it.md
  wiki/People/Global_Moderation_Team/ja.md
  wiki/People/Global_Moderation_Team/ko.md
  wiki/People/Global_Moderation_Team/pl.md
  wiki/People/Global_Moderation_Team/pt-br.md
  wiki/People/Global_Moderation_Team/ru.md
  wiki/People/Global_Moderation_Team/th.md
  wiki/People/Global_Moderation_Team/tr.md
  wiki/People/Global_Moderation_Team/zh-tw.md
  wiki/People/Global_Moderation_Team/zh.md
  wiki/People/osu!_Alumni/de.md
  wiki/People/osu!_Alumni/en.md
  wiki/People/osu!_Alumni/es.md
  wiki/People/osu!_Alumni/fr.md
  wiki/People/osu!_Alumni/id.md
  wiki/People/osu!_Alumni/it.md
  wiki/People/osu!_Alumni/ja.md
  wiki/People/osu!_Alumni/ko.md
  wiki/People/osu!_Alumni/pl.md
  wiki/People/osu!_Alumni/pt-br.md
  wiki/People/osu!_Alumni/ru.md
  wiki/People/osu!_Alumni/tr.md
  wiki/People/osu!_Alumni/vi.md
  wiki/People/osu!_Alumni/zh-tw.md
  wiki/People/osu!_Alumni/zh.md
Labels: size/L

#11654 [ES] Update `Client/File formats/osu (file format)`
  wiki/Client/File_formats/osu_(file_format)/es.md
Labels: area:translations, size/M

#11668 Add `New Featured Artist: takehirotei` news post
  news/2024/2024-06-29-new-featured-artist-takehirotei.md
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/es.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: area:news, size/M

#11669 Update `osu! originals` and fix formatting in takehirotei's news post
  news/2024/2024-06-29-new-featured-artist-takehirotei.md
  wiki/osu!_originals/en.md
Labels: area:news, size/M

#11667 Update `CWC 2024` links, results
  wiki/Tournaments/CWC/2024/en.md
Labels: area:tournaments, size/S
