Repository ppy/osu-wiki, pull requests merged in 2024-11, with the labels that each got.

#12339 [ES] Update `osu! originals`
  wiki/osu!_originals/es.md
  wiki/osu!_originals/img/originals-over-time-ES.png
Labels: area:translations, size/L

#12382 Update `TMWC 2024` article with results
  wiki/Contests/Contest_points/en.md
  wiki/Contests/Contest_points/es.md
  wiki/Contests/Contest_points/fr.md
  wiki/Contests/TMWC/2024/en.md
  wiki/Contests/TMWC/2024/img/podium.png
Labels: size/M

#12384 Add `New Featured Artist: Midian` news post
  news/2024/2024-10-28-performance-points-star-rating-updates.md
  news/2024/2024-11-02-new-featured-artist-midian.md
  wiki/shared/news/banners/pp-sr-pippi.jpg
  wiki/shared/news/banners/pp-sr-pippi@2x.jpg
Labels: area:news, size/M

#12385 Add Midian on `Featured Artists` listing
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/es.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: size/S

#12387 Update `OWC 2024` with partial RO32 results
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/M

#12371 Add `GB Cup 2024 IRL` wiki articles
  wiki/Tournaments/GBC/GBC_2024_Autumn/en.md
  wiki/Tournaments/GBC/GBC_2024_IRL/en.md
  wiki/Tournaments/GBC/GBC_2024_IRL/img/gbc2024irl-banner.jpg
  wiki/Tournaments/GBC/GBC_2024_IRL/img/gbc2024irl-cups.jpg
  wiki/Tournaments/GBC/GBC_2024_IRL/img/gbc2024irl-together.jpg
  wiki/Tournaments/GBC/GBC_2024_IRL/img/gbc2024irl-winner.png
  wiki/Tournaments/GBC/GBC_2024_IRL/zh.md
  wiki/Tournaments/GBC/en.md
  wiki/Tournaments/GBC/zh.md
Labels: area:tournaments, size/L

#12383 Update pp committee page, bring outdated translations closer to the original
  wiki/People/Performance_Points_Committee/en.md
  wiki/People/Performance_Points_Committee/es.md
  wiki/People/Performance_Points_Committee/fr.md
  wiki/People/Performance_Points_Committee/id.md
  wiki/People/Performance_Points_Committee/ru.md
  wiki/People/Performance_Points_Committee/zh-tw.md
Labels: size/M

#12381 Update activity requirements in Beatmap Nominator rules
  wiki/People/Beatmap_Nominators/Rules/en.md
  wiki/People/Beatmap_Nominators/Rules/es.md
  wiki/People/Beatmap_Nominators/Rules/fr.md
  wiki/People/Beatmap_Nominators/Rules/zh.md
  wiki/People/Beatmap_Nominators/en.md
Labels: size/M

#12390 Add a missing word in `Rules for Beatmap Nominators`
  wiki/People/Beatmap_Nominators/Rules/en.md
Labels: size/XS

#12389 Clarify probation activity requirements in `Beatmap Nominators`
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Beatmap_Nominators/es.md
  wiki/People/Beatmap_Nominators/fr.md
  wiki/People/Beatmap_Nominators/vi.md
  wiki/People/Beatmap_Nominators/zh.md
Labels: size/S

#12347 Update `osu!supporter` user profile images
  wiki/osu!supporter/de.md
  wiki/osu!supporter/en.md
  wiki/osu!supporter/es.md
  wiki/osu!supporter/fr.md
  wiki/osu!supporter/id.md
  wiki/osu!supporter/img/usercard-DE.png
  wiki/osu!supporter/img/usercard-DE@2x.png
  wiki/osu!supporter/img/usercard-ES.png
  wiki/osu!supporter/img/usercard-ES@2x.png
  wiki/osu!supporter/img/usercard-FR.png
  wiki/osu!supporter/img/usercard-FR@2x.png
  wiki/osu!supporter/img/usercard-ID.png
  wiki/osu!supporter/img/usercard-ID@2x.png
  wiki/osu!supporter/img/usercard-IT.png
  wiki/osu!supporter/img/usercard-IT@2x.png
  wiki/osu!supporter/img/usercard-JA.png
  wiki/osu!supporter/img/usercard-JA@2x.png
  wiki/osu!supporter/img/usercard-NL.png
  wiki/osu!supporter/img/usercard-NL@2x.png
  wiki/osu!supporter/img/usercard-RU.png
  wiki/osu!supporter/img/usercard-RU@2x.png
  wiki/osu!supporter/img/usercard-ZH.png
  wiki/osu!supporter/img/usercard-ZH@2x.png
  wiki/osu!supporter/img/usercard.png
  wiki/osu!supporter/img/usercard@2x.png
  wiki/osu!supporter/img/userpage.png
  wiki/osu!supporter/img/userpage@2x.png
  wiki/osu!supporter/it.md
  wiki/osu!supporter/ja.md
  wiki/osu!supporter/nl.md
  wiki/osu!supporter/ru.md
  wiki/osu!supporter/tr.md
  wiki/osu!supporter/zh.md
Labels: size/M

#12394 Update `OWC 2024` for the Round of 16 stage
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/M

#12388 Add link to "Past osu!store items" on `Store archive`
  wiki/Help_centre/Store/Store_archive/de.md
  wiki/Help_centre/Store/Store_archive/en.md
  wiki/Help_centre/Store/Store_archive/es.md
  wiki/Help_centre/Store/Store_archive/fr.md
  wiki/Help_centre/Store/Store_archive/ru.md
  wiki/History_of_osu!/en.md
  wiki/History_of_osu!/es.md
  wiki/History_of_osu!/id.md
  wiki/History_of_osu!/zh.md
  wiki/Past_osu!store_items/en.md
  wiki/Past_osu!store_items/es.md
Labels: size/S, area:help centre

#12265 Add `Resurrection Cup 2024 Concludes` news post
  news/2024/2024-10-28-performance-points-star-rating-updates.md
  news/2024/2024-11-04-resurrection-cup-2024-results.md
  wiki/shared/news/2024-11-04-resurrection-cup-2024-results/alvearia-and-luminous-sky.jpg
  wiki/shared/news/2024-11-04-resurrection-cup-2024-results/avatar-Alvearia.jpg
  wiki/shared/news/2024-11-04-resurrection-cup-2024-results/avatar-Hoaq.jpg
  wiki/shared/news/2024-11-04-resurrection-cup-2024-results/avatar-Krimek.jpg
  wiki/shared/news/2024-11-04-resurrection-cup-2024-results/avatar-Luminous_Sky.jpg
  wiki/shared/news/2024-11-04-resurrection-cup-2024-results/avatar-Phreel.jpg
  wiki/shared/news/2024-11-04-resurrection-cup-2024-results/avatar-Xyris.jpg
  wiki/shared/news/2024-11-04-resurrection-cup-2024-results/avatar-Yumeyo.jpg
  wiki/shared/news/2024-11-04-resurrection-cup-2024-results/avatar-[Boy]DaLat.jpg
  wiki/shared/news/2024-11-04-resurrection-cup-2024-results/hoaq-and-[boy]dalat.jpg
  wiki/shared/news/2024-11-04-resurrection-cup-2024-results/krimek-and-xyris.jpg
  wiki/shared/news/2024-11-04-resurrection-cup-2024-results/podium.jpg
  wiki/shared/news/2024-11-04-resurrection-cup-2024-results/serenity.jpg
  wiki/shared/news/2024-11-04-resurrection-cup-2024-results/theme-progression.png
  wiki/shared/news/2024-11-04-resurrection-cup-2024-results/yumeyo.jpg
  wiki/shared/news/banners/pp-sr-pippi.jpg
  wiki/shared/news/banners/pp-sr-pippi@2x.jpg
Labels: area:news, size/L

#12320 Conclusion National Dutch Championship 2024
  wiki/Tournaments/NDC/2024/en.md
  wiki/Tournaments/NDC/2024/img/badge.jpg
  wiki/Tournaments/NDC/2024/img/podium.jpg
Labels: area:tournaments, size/L

#12400 Fix malfunctioning beatmap links on `National Dutch Championship 2024`
  wiki/Tournaments/NDC/2024/en.md
Labels: area:tournaments, size/L

#12357 Add veexie to `Content Usage Permissions`
  wiki/Rules/Content_usage_permissions/de.md
  wiki/Rules/Content_usage_permissions/en.md
  wiki/Rules/Content_usage_permissions/es.md
  wiki/Rules/Content_usage_permissions/fr.md
  wiki/Rules/Content_usage_permissions/it.md
  wiki/Rules/Content_usage_permissions/ko.md
  wiki/Rules/Content_usage_permissions/ru.md
  wiki/Rules/Content_usage_permissions/zh.md
Labels: size/XS

#12393 Remove detail about maps moving out of Loved in `Beatmap category`
  wiki/Beatmap/Category/de.md
  wiki/Beatmap/Category/en.md
  wiki/Beatmap/Category/es.md
  wiki/Beatmap/Category/fr.md
  wiki/Beatmap/Category/id.md
  wiki/Beatmap/Category/it.md
  wiki/Beatmap/Category/ru.md
  wiki/Beatmap/Category/th.md
  wiki/Beatmap/Category/zh.md
Labels: size/M

#12402 Update `OWC 2024` Round of 16 schedules
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/M

#12396 [ZH] Update `Contests`
  wiki/Contests/zh.md
Labels: area:translations, size/XL

#12401 Add `osu! World Cup 2024: Round of 32 Recap` news post
  news/2024/2024-10-30-osu-world-cup-2024-qualifiers-recap.md
  news/2024/2024-11-07-osu-world-cup-2024-round-of-32-recap.md
  wiki/shared/news/2024-10-30-osu-world-cup-2024-qualifiers-recap/chiv-and-dada-banner.png
  wiki/shared/news/2024-10-30-osu-world-cup-2024-qualifiers-recap/chiv-and-dada.png
  wiki/shared/news/2024-11-07-osu-world-cup-2024-round-of-32-recap/Lies_playing_Truth-banner.jpg
  wiki/shared/news/2024-11-07-osu-world-cup-2024-round-of-32-recap/avatar-Ryuusei_Aika.jpg
  wiki/shared/news/2024-11-07-osu-world-cup-2024-round-of-32-recap/avatar-scylla.jpg
  wiki/shared/news/2024-11-07-osu-world-cup-2024-round-of-32-recap/owc-2024-ro32-mappool.jpg
  wiki/shared/news/2024-11-07-osu-world-cup-2024-round-of-32-recap/scylla.png
Labels: area:news, size/L

#12407 Update BN member listing
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Beatmap_Nominators/es.md
  wiki/People/Beatmap_Nominators/fr.md
  wiki/People/Beatmap_Nominators/vi.md
  wiki/People/Beatmap_Nominators/zh.md
Labels: size/L

#12406 Update NAT member listing and mark internal representatives
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Nomination_Assessment_Team/es.md
  wiki/People/Nomination_Assessment_Team/fr.md
Labels: size/S

#12399 Update osu!taiko changes in the recent pp/sr news post
  news/2024/2024-10-28-performance-points-star-rating-updates.md
Labels: area:news, size/S

#12409 Update `OWC 2024` RO16 schedule
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/XS

#12410 [ES] Update `People/Nomination Assessment Team`
  wiki/People/Nomination_Assessment_Team/es.md
Labels: area:translations, size/S

#12412 Add `New Featured Artist: WyvernP` news post
  news/2024/2024-11-09-new-featured-artist-wyvernp.md
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/es.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: area:news, size/M

#12413 Update Centurion listing
  wiki/People/Centurions/en.md
  wiki/People/Centurions/es.md
  wiki/People/Centurions/fr.md
  wiki/People/Centurions/it.md
  wiki/People/Centurions/zh.md
Labels: size/S

#12415 Update `OWC 2024` with partial RO16 results
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/M

#12418 Update `OWC 2024` for the Quarterfinals stage
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/L

#12414 Update `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/img/originals-over-time.png
Labels: size/M

#12421 Fix wrong mapper in `OWC 2024` wiki article
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/XS

#12422 Update `OWC 2024` staff listing, QF schedules
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/S

#12404 Consolidate avatar images
  news/2024/2024-07-12-osu-catch-world-cup-2024-concludes.md
  news/2024/2024-07-14-the-followpoint-whitecat-the-cat-who-dominated-osu.md
  news/2024/2024-07-28-the-perennial-concludes.md
  news/2024/2024-07-29-the-followpoint-flaro-the-queen-of-speed.md
  news/2024/2024-08-19-the-followpoint-motion-the-ultimate-catcher.md
  news/2024/2024-09-02-the-followpoint-dreamxiety-the-osu-artist-extraordinaire.md
  news/2024/2024-09-16-the-followpoint-xootynator-the-biggest-full-area-stan.md
  news/2024/2024-09-30-the-followpoint-d-i-o-the-charismatic-caster.md
  news/2024/2024-10-07-osumania-4k-world-cup-2024-concludes.md
  news/2024/2024-10-21-the-followpoint-predominador-the-grandmaster-of-ss-ranks.md
  news/2024/2024-10-30-osu-world-cup-2024-qualifiers-recap.md
  news/2024/2024-11-04-resurrection-cup-2024-results.md
  news/2024/2024-11-07-osu-world-cup-2024-round-of-32-recap.md
  wiki/shared/avatars/0x84f.jpg
  wiki/shared/avatars/Alvearia.jpg
  wiki/shared/avatars/D I O.jpg
  wiki/shared/avatars/Dahcreeper.jpg
  wiki/shared/avatars/Dreamxiety.jpg
  wiki/shared/avatars/Flaro.jpg
  wiki/shared/avatars/Hoaq.jpg
  wiki/shared/avatars/Krimek.jpg
  wiki/shared/avatars/Lexii.jpg
  wiki/shared/avatars/Luminous_Sky.jpg
  wiki/shared/avatars/MegaMix.jpg
  wiki/shared/avatars/Motion.jpg
  wiki/shared/avatars/Paturages.jpg
  wiki/shared/avatars/Phreel.jpg
  wiki/shared/avatars/Predominador.jpg
  wiki/shared/avatars/RandomeLoL.jpg
  wiki/shared/avatars/Ryuusei_Aika.jpg
  wiki/shared/avatars/SOOOO.jpg
  wiki/shared/avatars/Secre.jpg
  wiki/shared/avatars/Supa7onyz.jpg
  wiki/shared/avatars/Utiba.jpg
  wiki/shared/avatars/Walavouchey.jpg
  wiki/shared/avatars/WhiteCat.jpg
  wiki/shared/avatars/Xyris.jpg
  wiki/shared/avatars/Yoshi_green.jpg
  wiki/shared/avatars/Yumeyo.jpg
  wiki/shared/avatars/[Boy]DaLat.jpg
  wiki/shared/avatars/_Kiruru.jpg
  wiki/shared/avatars/chiv.jpg
  wiki/shared/avatars/dada.jpg
  wiki/shared/avatars/dio.jpg
  wiki/shared/avatars/doomsday.jpg
  wiki/shared/avatars/enri.jpg
  wiki/shared/avatars/scylla.jpg
  wiki/shared/avatars/wwwww.jpg
  wiki/shared/avatars/xootynator.jpg
  wiki/shared/news/2024-07-28-the-perennial-concludes/avatar-chiv.jpg
  wiki/shared/news/2024-08-19-the-followpoint-motion-the-ultimate-catcher/avatar-MegaMix.jpg
  wiki/shared/news/2024-09-02-the-followpoint-dreamxiety-the-osu-artist-extraordinaire/avatar-Utiba.jpeg
  wiki/shared/news/2024-09-16-the-followpoint-xootynator-the-biggest-full-area-stan/avatar-MegaMix.jpg
  wiki/shared/news/2024-09-30-the-followpoint-d-i-o-the-charismatic-caster/avatar-Utiba.jpg
  wiki/shared/news/2024-10-21-the-followpoint-predominador-the-grandmaster-of-ss-ranks/avatar-MegaMix.jpg
Labels: area:news, size/XL

#12419 Update `Official tournament support` with multiple minor changes
  wiki/Tournaments/Official_support/en.md
  wiki/Tournaments/Official_support/es.md
  wiki/Tournaments/Official_support/fr.md
Labels: area:tournaments, size/S

#12417 Add personal information collection framework in `Tournaments/Official_support`
  wiki/Tournaments/Official_support/en.md
Labels: area:tournaments, size/XS

#12424 Add missing 'that' in `Official tournament support`
  wiki/Tournaments/Official_support/en.md
Labels: area:tournaments, size/XS

#12353 Fix issues in `History of osu! 2014` and `2015`
  wiki/History_of_osu!/2014/en.md
  wiki/History_of_osu!/2015/en.md
  wiki/History_of_osu!/2015/es.md
  wiki/History_of_osu!/2015/fr.md
Labels: size/S

#12425 Update `Tournament bans` with parity changes.
  wiki/Help_centre/Tournament_bans/de.md
  wiki/Help_centre/Tournament_bans/en.md
  wiki/Help_centre/Tournament_bans/es.md
  wiki/Help_centre/Tournament_bans/fr.md
Labels: size/S, area:help centre

#11992 Add `4 Digit Player Tournament wiki` and `2024 Tournament Article`
  wiki/Tournaments/4DPT/2024/en.md
  wiki/Tournaments/4DPT/2024/img/badge.png
  wiki/Tournaments/4DPT/2024/img/banner.png
  wiki/Tournaments/4DPT/en.md
Labels: area:tournaments, size/XL

#12423 Make the osu!catch spread rules more relaxed
  wiki/Ranking_criteria/osu!catch/en.md
  wiki/Ranking_criteria/osu!catch/es.md
  wiki/Ranking_criteria/osu!catch/fr.md
Labels: size/S, area:ranking criteria

#12426 Update date on `Official tournament support`
  wiki/Tournaments/Official_support/en.md
Labels: area:tournaments, size/XS

#11878 Update "Name" and "Author" usage in `skin.ini`
  wiki/Skinning/skin.ini/en.md
  wiki/Skinning/skin.ini/es.md
  wiki/Skinning/skin.ini/fr.md
  wiki/Skinning/skin.ini/zh.md
Labels: size/S

#12427 Update `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/img/originals-over-time.png
Labels: size/M

#12435 Small fixes in `osu! World Cup 2024: Round of 32 Recap` news post
  news/2024/2024-11-07-osu-world-cup-2024-round-of-32-recap.md
Labels: area:news, size/XS

#12436 Update `OWC 2024` QF schedules, staff listing
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/M

#12437 Fix incorrect details on 4DPT 2024
  wiki/Tournaments/4DPT/2024/en.md
Labels: area:tournaments, size/M

#12439 Add `osu! World Cup 2024: Round of 16 Recap` news post
  news/2024/2024-07-28-the-perennial-concludes.md
  news/2024/2024-10-28-performance-points-star-rating-updates.md
  news/2024/2024-11-14-osu-world-cup-2024-round-of-16-recap.md
  wiki/shared/avatars/Azer.jpg
  wiki/shared/avatars/Doomsday.jpg
  wiki/shared/news/2024-11-14-osu-world-cup-2024-round-of-16-recap/AJITAMA_Adventure_OST_banner.jpg
  wiki/shared/news/2024-11-14-osu-world-cup-2024-round-of-16-recap/Resolution_banner.jpg
  wiki/shared/news/2024-11-14-osu-world-cup-2024-round-of-16-recap/doomsday.png
  wiki/shared/news/2024-11-14-osu-world-cup-2024-round-of-16-recap/owc-2024-ro16-mappool.jpg
  wiki/shared/news/2024-11-14-osu-world-cup-2024-round-of-16-recap/rustbell-old-score.jpg
  wiki/shared/news/banners/pp-sr-pippi.jpg
  wiki/shared/news/banners/pp-sr-pippi@2x.jpg
Labels: area:news, size/L

#12440 Fix incorrect statistic in `osu! World Cup 2024: Round of 16 Recap` news post
  news/2024/2024-11-14-osu-world-cup-2024-round-of-16-recap.md
Labels: area:news, size/XS

#12442 fix incorrect link in `osu! World Cup 2024: Round of 16 Recap` news post
  news/2024/2024-11-14-osu-world-cup-2024-round-of-16-recap.md
Labels: area:news, size/XS

#12447 Remove `Kasoku Suru Koi wa Dare mo Tomerarenai` from voting in Project Loved November 2024
  news/2024/2024-11-15-project-loved-november-2024.md
  wiki/shared/news/2024-11-15-project-loved-november-2024/1609956.jpg
  wiki/shared/news/2024-11-15-project-loved-november-2024/1609956@2x.jpg
Labels: area:news, size/S

#12448 Add `New Featured Artist: ikaruga_nex` news post
  news/2024/2024-11-16-new-featured-artist-ikaruga-nex.md
  wiki/shared/news/2024-11-16-new-featured-artist-ikaruga-nex/ikaruga-nex-banner.jpg
  wiki/shared/news/2024-11-16-new-featured-artist-ikaruga-nex/ikaruga-nex-banner@2x.jpg
Labels: area:news, size/M

#12451 Update `OWC 2024` with partial Quarterfinals results
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/M

#12450 Add `osu!(lazer) Updates: November 15, 2024` news post
  news/2024/2024-11-15-osulazer-updates-november-15-2024.md
  wiki/Beatmap_search/en.md
  wiki/Beatmap_search/es.md
  wiki/Beatmap_search/fr.md
  wiki/shared/news/2024-11-16-osulazer-updates-november-15-2024/banner.jpg
  wiki/shared/news/2024-11-16-osulazer-updates-november-15-2024/banner@2x.jpg
  wiki/shared/news/2024-11-16-osulazer-updates-november-15-2024/hitsounding-shortcuts.jpg
  wiki/shared/news/2024-11-16-osulazer-updates-november-15-2024/option-slider-keyboard-input.gif
  wiki/shared/news/2024-11-16-osulazer-updates-november-15-2024/score-link-copy.jpg
Labels: area:news, size/L

#12456 Fix manga table
  wiki/Community/Manga/en.md
  wiki/Community/Manga/es.md
  wiki/Community/Manga/fr.md
Labels: size/XS

#12458 Use asset link for MBC news banner
  news/2020/2020-01-05-monthly-beatmapping-contests-return.md
  news/2020/2020-02-03-monthly-beatmapping-contest-february.md
  news/2020/2020-02-20-monthly-beatmapping-contest-1-results.md
  news/2020/2020-03-05-monthly-beatmapping-contest-march.md
  news/2020/2020-03-21-monthly-beatmapping-contest-2-results.md
  news/2020/2020-04-04-monthly-beatmapping-contest-april.md
  news/2020/2020-04-21-monthly-beatmapping-contest-3-results.md
  news/2020/2020-05-05-monthly-beatmapping-contest-may.md
  news/2020/2020-05-22-monthly-beatmapping-contest-4-results.md
  news/2020/2020-06-04-monthly-beatmapping-contest-june.md
  news/2020/2020-07-04-monthly-beatmapping-contest-july.md
  news/2020/2020-07-24-monthly-beatmapping-contest-5-6-results.md
  news/2020/2020-08-08-monthly-beatmapping-contest-august.md
  news/2020/2020-08-27-monthly-beatmapping-contest-7-results.md
  news/2020/2020-09-08-monthly-beatmapping-contest-september.md
  news/2020/2020-09-27-monthly-beatmapping-contest-8-results.md
  news/2020/2020-10-06-monthly-beatmapping-contest-october.md
  news/2020/2020-10-30-monthly-beatmapping-contest-9-results.md
  news/2020/2020-11-20-featured-artist-beatmap-updates-from-the-mappers-guild.md
  news/2020/2020-12-14-monthly-beatmapping-contest-10-results.md
  news/2021/2021-03-07-monthly-beatmapping-contest-march-2021.md
  news/2021/2021-04-08-monthly-beatmapping-contest-april-2021.md
  news/2021/2021-04-23-results-monthly-beatmapping-contest-march-2021.md
  news/2021/2021-05-09-monthly-beatmapping-contest-may-2021.md
  news/2021/2021-05-24-results-monthly-beatmapping-contest-april-2020.md
  news/2021/2021-06-07-monthly-beatmapping-contest-june-2021.md
  news/2021/2021-06-25-results-monthly-beatmapping-contest-may-osu.md
  news/2021/2021-07-08-monthly-beatmapping-contest-july-2021.md
  news/2021/2021-07-30-results-monthly-beatmapping-contest-june-2021.md
  news/2021/2021-08-09-monthly-beatmapping-contest-august-2021.md
  news/2021/2021-08-30-results-monthly-beatmapping-contest-july-2021.md
  news/2021/2021-12-07-results-monthly-beatmapping-contest-2021-wrap-up.md
  news/2023/2023-09-09-monthly-beatmapping-contest-september-2023.md
  news/2023/2023-10-10-monthly-beatmapping-contest-october-2023.md
  news/2023/2023-11-14-monthly-beatmapping-contest-november-2023.md
  news/2023/2023-12-15-monthly-beatmapping-contest-december-2023.md
  news/2024/2024-02-21-monthly-beatmapping-contest-february-2024.md
  news/2024/2024-03-23-monthly-beatmapping-contest-march-2024.md
  news/2024/2024-05-10-monthly-beatmapping-contest-may-2024.md
  news/2024/2024-06-12-monthly-beatmapping-contest-june-2024.md
  news/2024/2024-07-16-monthly-beatmapping-contest-july-2024.md
  news/2024/2024-09-03-monthly-beatmapping-contest-september-2024.md
  news/2024/2024-10-02-monthly-beatmapping-contest-october-2024.md
  news/2024/2024-11-17-monthly-beatmapping-contest-november-2024.md
  wiki/shared/news/banners/monthly-beatmapping-contest.png
Labels: area:news, size/M

#12452 Add link to the original SICK ROCK CRAZY map in `New Featured Artist: ikaruga_nex` newspost
  news/2024/2024-11-16-new-featured-artist-ikaruga-nex.md
Labels: area:news, size/XS

#12433 Add `KEL LAN Tournament 3` news post
  news/2024/2024-11-18-kel-lan-tournament-3-signups-now-open.md
  wiki/shared/news/2024-11-18-kel-lan-tournament-3/banner.jpg
  wiki/shared/news/2024-11-18-kel-lan-tournament-3/banner@2x.jpg
Labels: area:news, size/M

#12461 Remove duplicate user in `Contest points` article
  wiki/Contests/Contest_points/en.md
  wiki/Contests/Contest_points/es.md
  wiki/Contests/Contest_points/fr.md
Labels: size/XS

#12462 Add links to osu! original banners in OWC recap news posts
  news/2024/2024-11-07-osu-world-cup-2024-round-of-32-recap.md
  news/2024/2024-11-14-osu-world-cup-2024-round-of-16-recap.md
Labels: area:news, size/XS

#12464 Add rule in `Monthly Beatmapping Contest: November 2024` news post
  news/2024/2024-11-17-monthly-beatmapping-contest-november-2024.md
Labels: area:news, size/XS

#12467 Add `osu! World Cup 2024: Quarterfinals Recap` news post
  news/2024/2024-11-07-osu-world-cup-2024-round-of-32-recap.md
  news/2024/2024-11-14-osu-world-cup-2024-round-of-16-recap.md
  news/2024/2024-11-20-osu-world-cup-2024-quarterfinals-recap.md
  wiki/shared/avatars/Genkaku_Aria.jpg
  wiki/shared/news/2024-11-14-osu-world-cup-2024-round-of-16-recap/owc-2024-ro16-mappool.jpg
  wiki/shared/news/2024-11-20-osu-world-cup-2024-quarterfinals-recap/owc-2024-qf-mappool.jpg
  wiki/shared/news/2024-11-20-osu-world-cup-2024-quarterfinals-recap/whiteout-banner.jpg
Labels: area:news, size/L

#12468 Update `OWC 2024` Semifinals schedules
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/S

#12469 Update `OWC 2024` schedules
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/XS

#12471 Remove `Happatai - YATTA` from Project Loved November 2024 voting
  news/2024/2024-11-15-project-loved-november-2024.md
  wiki/shared/news/2024-11-15-project-loved-november-2024/966789.jpg
  wiki/shared/news/2024-11-15-project-loved-november-2024/966789@2x.jpg
Labels: area:news, size/S

#12473 Update `OWC 2024` staff listing/Semifinals schedule, add partial results
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/M

#12474 Update `OWC 2024` with partial Semifinals results
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/XS

#12480 Add `New Featured Artist: Kry.exe` news post
  news/2024/2024-11-24-new-featured-artist-kry-exe.md
Labels: area:news, size/M

#12481 Update `OWC 2024` for the Finals stage
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/M

#12482 Add Kry.exe on `Featured Artists` listing
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/es.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: size/XS

#12483 Adjust wording in `Monthly Beatmapping Contest: November 2024` news post
  news/2024/2024-11-17-monthly-beatmapping-contest-november-2024.md
Labels: area:news, size/XS

#12446 Update `M2P` contest article
  wiki/Contests/M2P/en.md
  wiki/Contests/M2P/fr.md
Labels: size/XS

#12411 Fix stable grading criteria on `Gameplay differences in osu!(lazer)`
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/en.md
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/es.md
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/fr.md
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/zh.md
Labels: size/S

#12486 Update osu!taiko pp committee member list
  wiki/People/Performance_Points_Committee/en.md
  wiki/People/Performance_Points_Committee/es.md
  wiki/People/Performance_Points_Committee/fr.md
Labels: size/XS

#12489 Update `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/img/originals-over-time.png
Labels: size/M

#12479 [ZH] Add Community
  wiki/Community/zh.md
Labels: area:translations, size/M

#12455 [DE] Add `Community/Manga`
  wiki/Community/Manga/de.md
Labels: area:translations, size/S

#12454 Add `Ranking_criteria/Metadata`'s link to `Main_page`
  wiki/Main_page/bg.md
  wiki/Main_page/en.md
  wiki/Main_page/es.md
  wiki/Main_page/fr.md
  wiki/Main_page/id.md
  wiki/Main_page/it.md
  wiki/Main_page/ko.md
  wiki/Main_page/vi.md
  wiki/Main_page/zh.md
Labels: size/S

#12453 [ES] Update `Beatmap search`
  wiki/Beatmap_search/es.md
Labels: area:translations, size/XS

#12432 [ES] Update `Help centre/Tournament bans`
  wiki/Help_centre/Tournament_bans/es.md
Labels: area:translations, size/XS, area:help centre

#12431 [ES] Update `Ranking criteria/osu!catch`
  wiki/Ranking_criteria/osu!catch/es.md
Labels: area:translations, size/S, area:ranking criteria

#12428 [ES] Update `History of osu!/2015`
  wiki/History_of_osu!/2015/es.md
Labels: area:translations, size/M

#12408 [ES] Update `Beatmap/Category`
  wiki/Beatmap/Category/es.md
Labels: area:translations, size/S

#12398 [ES] Update `Past osu!store items`, `History of osu!`, and `Help centre/Store/Store archive`
  wiki/Help_centre/Store/Store_archive/es.md
  wiki/History_of_osu!/es.md
  wiki/Past_osu!store_items/es.md
Labels: area:translations, size/S, area:help centre

#12386 [ES] Add `Converts`
  wiki/Beatmap/Converts/es.md
  wiki/Game_mode/osu!catch/es.md
Labels: area:translations, size/M

#12352 [DE] Add `Past osu!store items`
  wiki/Past_osu!store_items/de.md
Labels: area:translations, size/L

#12341 [DE] Update `Help centre/Store`
  wiki/Help_centre/Store/de.md
Labels: area:translations, size/L, area:help centre

#12330 [ES] Update `Rules/Code of conduct for modding and mapping`
  wiki/Rules/Code_of_conduct_for_modding_and_mapping/es.md
Labels: area:translations, size/M

#12477 [DE] Add `Beatmapping/Combo`
  wiki/Beatmapping/Combo/de.md
Labels: area:translations, size/S

#12228 [DE] Update `Help centre/Store/Store archive`
  wiki/Help_centre/Store/Store_archive/de.md
Labels: area:translations, size/XS, area:help centre

#12277 [DE] Add `Beatmap/Stack leniency`
  wiki/Beatmap/Stack_leniency/de.md
Labels: area:translations, size/M

#12187 Specify codec for audio files in `Ranking criteria`
  wiki/Ranking_criteria/en.md
  wiki/Ranking_criteria/es.md
  wiki/Ranking_criteria/fr.md
Labels: size/S, area:ranking criteria

#12309 [ZH] Update `Beatmap/TAG beatmaps` and `Guest difficulty`
  wiki/Beatmap/Guest_difficulty/zh.md
  wiki/Beatmap/TAG_beatmaps/zh.md
Labels: area:translations, size/S

#12308 [ZH] Update `BanchoBot` and `Bancho (server)`
  wiki/BanchoBot/zh.md
  wiki/Bancho_(server)/zh.md
Labels: area:translations, size/M

#12429 [ES] Update `Tournaments/Official support`
  wiki/Tournaments/Official_support/es.md
Labels: area:translations, area:tournaments, size/S

#12478 Cleanup `Beatmap packs`
  wiki/Beatmap/Packs/en.md
  wiki/Beatmap/Packs/es.md
  wiki/Beatmap/Packs/fr.md
  wiki/Beatmap/Packs/it.md
  wiki/Beatmap/Packs/zh.md
Labels: size/M

#12494 Update `OWC 2024` Finals schedule
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/S

#12498 Add `osu! World Cup 2024: Semifinals Recap` news post
  news/2024/2024-11-29-osu-world-cup-2024-semifinals-recap.md
  wiki/shared/news/2024-11-29-osu-world-cup-2024-semifinals-recap/VALDeS_banner.jpg
  wiki/shared/news/2024-11-29-osu-world-cup-2024-semifinals-recap/owc-2024-sf-mappool.jpg
  wiki/shared/news/2024-11-29-osu-world-cup-2024-semifinals-recap/today_is_the_day_banner.jpg
Labels: area:news, size/L

#12501 Update `OWC 2024` Finals schedule
  wiki/Tournaments/OWC/2024/en.md
Labels: area:tournaments, size/XS

#12502 Fix flag in `osu! World Cup 2024: Semifinals Recap` news post
  news/2024/2024-11-29-osu-world-cup-2024-semifinals-recap.md
Labels: area:news, size/XS

#12392 Add `Daily_challenge`
  wiki/Gameplay/Daily_challenge/en.md
  wiki/Gameplay/Daily_challenge/img/Beatmap-selection-criteria.png
  wiki/Gameplay/Daily_challenge/img/daily-challenge-menu.png
  wiki/Gameplay/Daily_challenge/img/tiers/bronze.png
  wiki/Gameplay/Daily_challenge/img/tiers/gold.png
  wiki/Gameplay/Daily_challenge/img/tiers/iron.png
  wiki/Gameplay/Daily_challenge/img/tiers/lustrous.png
  wiki/Gameplay/Daily_challenge/img/tiers/platinum.png
  wiki/Gameplay/Daily_challenge/img/tiers/radiant.png
  wiki/Gameplay/Daily_challenge/img/tiers/rhodium.png
  wiki/Gameplay/Daily_challenge/img/tiers/silver.png
  wiki/Gameplay/Daily_challenge/img/yt-comment.jpg
Labels: size/M

#12503 Fix the wrong user link in `Daily Challenge`
  wiki/Gameplay/Daily_challenge/en.md
Labels: size/XS

#12504 Add `New Featured Artist: Zmey Gorynich` news post
  news/2024/2024-11-30-new-featured-artist-zmey-gorynich.md
Labels: area:news, size/M
