Repository ppy/osu-wiki, pull requests merged in 2024-01, with the labels that each got.

#10727 Don't translate the reference style link example
  wiki/Article_styling_criteria/Formatting/es.md
  wiki/Article_styling_criteria/Formatting/fr.md
  wiki/Article_styling_criteria/Formatting/th.md
Labels: size/S

#10748 Lazer Gameplay differences: Small fix about slider-ends combo
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/en.md
Labels: size/XS

#10749 Lazer Gameplay Differences: Spinner OD-based RPM cap
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/en.md
Labels: size/S

#10752 Update ``New Year 2024 Countdown Medals`` news post with next medal
  news/2023/2023-12-24-new-year-2024-countdown-medals.md
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/cal_dec_31.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/cal_jan_01.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/dec_31.jpg
  wiki/shared/news/2023-12-24-new-year-2024-countdown-medals/jan_01.jpg
Labels: area:news, size/XS

#10729 Update lazer download link in `Help centre`
  wiki/Help_centre/Upgrading_to_lazer/de.md
  wiki/Help_centre/Upgrading_to_lazer/en.md
  wiki/Help_centre/Upgrading_to_lazer/it.md
  wiki/Help_centre/Upgrading_to_lazer/vi.md
  wiki/Help_centre/Upgrading_to_lazer/zh.md
Labels: size/S, area:help centre

#10739 Fix notes heading being h3 in `Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/de.md
  wiki/Help_centre/Upgrading_to_lazer/en.md
  wiki/Help_centre/Upgrading_to_lazer/it.md
  wiki/Help_centre/Upgrading_to_lazer/vi.md
  wiki/Help_centre/Upgrading_to_lazer/zh.md
Labels: size/S, area:help centre

#10753 Update `MWC 7K 2024` team listing
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: size/S

#10755 Update `MWC 7K 2024` team listing
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: area:tournaments, size/S

#10758 Update BN/NAT badge links in their respective articles
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Beatmap_Nominators/es.md
  wiki/People/Beatmap_Nominators/fr.md
  wiki/People/Beatmap_Nominators/zh.md
  wiki/People/Elite_Nominators/en.md
  wiki/People/Elite_Nominators/es.md
  wiki/People/Elite_Nominators/fr.md
  wiki/People/Elite_Nominators/it.md
  wiki/People/Elite_Nominators/zh.md
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Nomination_Assessment_Team/es.md
  wiki/People/Nomination_Assessment_Team/fr.md
  wiki/People/Nomination_Assessment_Team/zh.md
Labels: size/S

#10759 Update `MWC 7K 2024` team listing, staff listing
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: size/XS

#10761 Update `MWC 7K 2024` team listing
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: area:tournaments, size/S

#10762 Update `BN`, `GMT` and `osu! Alumni` listings for 2024
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Global_Moderation_Team/en.md
  wiki/People/osu!_Alumni/en.md
Labels: size/M

#10763 Fix wrong flag in `Beatmap Nominators`
  wiki/People/Beatmap_Nominators/en.md
Labels: size/XS

#10764 Update `MWC 7K 2024` team listing
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: area:tournaments, size/XS

#10767 Add `Featured Artist Track Updates: Winter 2024` news post
  news/2024/2024-01-07-featured-artist-track-updates-winter-2024.md
Labels: area:news, size/L

#10769 Fix year in `Featured Artist Track Updates: Winter 2024` news post
  news/2024/2024-01-07-featured-artist-track-updates-winter-2024.md
Labels: area:news, size/XS

#10770 Add map to `Featured Artist Track Updates: Winter 2024` news post
  news/2024/2024-01-07-featured-artist-track-updates-winter-2024.md
Labels: size/XS

#10771 Update `Tournaments/4DM2024` with participants
  wiki/Tournaments/4DM/2024/en.md
  wiki/Tournaments/SOFT/6/en.md
Labels: area:tournaments, size/M

#10766 Update `MWC 7K 2024` for the Qualifier stage
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: area:tournaments, size/S

#10773 Fix wrong link in `osu!academy`
  wiki/Community/Video_series/osu!academy/de.md
  wiki/Community/Video_series/osu!academy/en.md
  wiki/Community/Video_series/osu!academy/fr.md
  wiki/Community/Video_series/osu!academy/id.md
  wiki/Community/Video_series/osu!academy/it.md
  wiki/Community/Video_series/osu!academy/pl.md
  wiki/Community/Video_series/osu!academy/pt.md
  wiki/Community/Video_series/osu!academy/ru.md
Labels: size/S

#10760 Update yearly count in `Featured Artists`
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: size/XS

#10768 Cleanup `Global Moderation Team` team listings
  wiki/People/Global_Moderation_Team/en.md
Labels: size/S

#10774 Update `Beatmap Nominators`
  wiki/People/Beatmap_Nominators/en.md
Labels: size/XS

#10775 Update `Nomination Assessment Team`
  wiki/People/Nomination_Assessment_Team/en.md
Labels: size/XS

#10777 Update "LV.4 - Chemical Diving" map link
  news/2023/2023-06-28-osu-originals-osu-catch-world-cup-2023.md
  wiki/Tournaments/CWC/2023/en.md
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: size/S

#10443 [ES] Add `B` missing stubs (3)
  wiki/Beatmap/Pattern/osu!mania/es.md
  wiki/Beatmap/Technical_maps/es.md
  wiki/Beatmap/Technical_maps/img/beatmap_hard_flow-ES.jpg
  wiki/Beatmap/Technical_maps/img/difficult_to_read_beatmap-ES.jpg
  wiki/Beatmap/Technical_maps/img/irregular_slider-ES.jpg
  wiki/Beatmap/Technical_maps/img/nongeneric_beatmap_pattern-ES.jpg
  wiki/Beatmapping/Active_object/es.md
  wiki/Beatmapping/Colourhaxing/es.md
  wiki/Beatmapping/Combo_colour/es.md
  wiki/Beatmapping/Grid_snapping/es.md
  wiki/Beatmapping/Hitsound/es.md
  wiki/Beatmapping/Mapping_techniques/Antiflow/es.md
  wiki/Ranking_criteria/es.md
Labels: area:translations, size/L

#10744 [FR] Update `Beatmap/Overall difficulty` and `Gameplay/Accuracy`
  wiki/Beatmap/Overall_difficulty/fr.md
  wiki/Gameplay/Accuracy/fr.md
Labels: area:translations, size/L, state/stale merge

#10740 [FR] Update `S` folder
  wiki/Skinning/skin.ini/fr.md
  wiki/Storyboard/Scripting/General_Rules/fr.md
Labels: area:translations, size/XL, state/stale merge

#10743 [FR] Update `C` folders
  wiki/Client/Menu_tips/fr.md
  wiki/Community/osu!_Discord_server/fr.md
Labels: area:translations, size/L, state/stale merge

#10716 [FR] Add `G` folders
  wiki/Gameplay/Unstable_rate/fr.md
  wiki/Guides/Common_modding_mistakes/fr.md
Labels: area:translations, size/L, state/stale merge

#10715 [FR] Add `B` folders
  wiki/Beatmap_Spotlights/Seasons/2023_Autumn/fr.md
  wiki/Beatmap_search/fr.md
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/fr.md
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/10K2S-hands-FR.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/10K2S-hands-FR@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/10K2S-keys-FR.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/10K2S-keys-FR@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/10K8K-hands-FR.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/10K8K-hands-FR@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/10K8K-keys-FR.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/10K8K-keys-FR@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/9K9K-hands-FR.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/9K9K-hands-FR@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/9K9K-keys-FR.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/9K9K-keys-FR@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/DP-hands-FR.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/DP-hands-FR@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/DP-keys-FR.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/DP-keys-FR@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/EZ2-hands-FR.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/EZ2-hands-FR@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/EZ2-keys-FR.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/EZ2-keys-FR@2x.png
Labels: area:translations, size/L, state/stale merge

#10714 [FR] Update `Community` related articles
  wiki/Community/Mappers_Guild/fr.md
  wiki/Community/cavoe's_osu!_event/2023/fr.md
Labels: area:translations, size/L, state/stale merge

#10746 [FR] Update `Client/Release stream/Lazer/Gameplay differences in osu!(lazer)`
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/fr.md
Labels: area:translations, size/M, state/stale merge

#10736 [FR] Add/Update `O` and `H` folders
  wiki/Beatmap/Category/fr.md
  wiki/Community/Profile_badge/fr.md
  wiki/Help_centre/Account/fr.md
  wiki/Help_centre/Beatmapping/fr.md
  wiki/Help_centre/Upgrading_to_lazer/fr.md
  wiki/History_of_osu!/2009/fr.md
  wiki/History_of_osu!/2022/fr.md
  wiki/People/Account_support_team/fr.md
  wiki/Skin/fr.md
  wiki/Skinning/skin.ini/fr.md
  wiki/osu!supporter/fr.md
  wiki/osu!supporter/img/beatmap-search-FR.png
  wiki/osu!supporter/img/profile-gift-supporter-FR.png
  wiki/osu!supporter/img/status-FR.jpg
  wiki/osu!supporter/img/supporter-eyecatch-FR.jpg
  wiki/osu!supporter/img/usercard-FR.png
Labels: area:translations, size/XXL, state/stale merge

#10742 [ZH] Update `Overall difficulty`
  wiki/Beatmap/Overall_difficulty/zh.md
Labels: area:translations, size/M

#10741 [ZH] Update `Menu_tips`
  wiki/Client/Menu_tips/zh.md
Labels: area:translations, size/M

#10734 [ZH] Add `Client` and `Client/Release stream`
  wiki/Client/Release_stream/Lazer/zh.md
  wiki/Client/Release_stream/zh.md
  wiki/Client/zh.md
Labels: area:translations, size/M

#10731 [ES] Add `Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/es.md
Labels: area:translations, size/L, area:help centre

#10751 [VI] Reword and fix minor mistakes in `Help centre`
  wiki/Help_centre/vi.md
Labels: area:translations, size/M

#10690 [ZH-TW] Add `Skin`
  wiki/Skin/zh-tw.md
Labels: area:translations, size/S

#10625 [ES] Add `G` missing stubs (2)
  wiki/Gameplay/Hyperdash/es.md
  wiki/Gameplay/Input_device/Beatmania_controller/es.md
  wiki/Gameplay/Input_device/Dance_pad/es.md
  wiki/Gameplay/Input_device/Drum_controller/es.md
  wiki/Gameplay/Input_device/Graphics_tablet/es.md
  wiki/Gameplay/Input_device/Graphics_tablet/img/os-tabletpc-option-ES.jpg
  wiki/Gameplay/Input_device/Keyboard/es.md
  wiki/Gameplay/Input_device/Mouse/es.md
Labels: area:translations, size/L

#10626 [ES] Add `G` missing stubs (3)
  wiki/Gameplay/Input_device/Touch_device/es.md
  wiki/Gameplay/Input_device/Wiimote/es.md
  wiki/Gameplay/Input_device/Wiimote/img/wiimote-support-option-ES.jpg
  wiki/Gameplay/Input_device/es.md
  wiki/Gameplay/Judgement/Combobreak/es.md
  wiki/Gameplay/Mind_block/es.md
  wiki/Gameplay/Pass/es.md
  wiki/Gameplay/Play_style/Drag/es.md
Labels: area:translations, size/L

#10754 [BG] Update `Main_page`
  wiki/Main_page/bg.md
Labels: area:translations, size/S, state/stale merge

#10627 [ES] Add `G` missing stubs (4)
  wiki/Gameplay/Play_style/Hover/es.md
  wiki/Gameplay/Play_style/Single-tapping/es.md
  wiki/Gameplay/Play_style/Tapping_style/es.md
  wiki/Gameplay/Spectating/es.md
  wiki/Gameplay/Spinner_trap/es.md
  wiki/Gameplay/Tablet_cover/es.md
  wiki/Gameplay/Walk/es.md
  wiki/Gameplay/es.md
Labels: area:translations, size/L

#10757 [ZH] Update `Gameplay differences in osu!(lazer)`
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/zh.md
Labels: area:translations, size/M

#10711 [RU] Update `beatmapping/beatmap submission`
  wiki/Beatmapping/Beatmap_submission/ru.md
Labels: area:translations, size/M

#10776 Update `Beatmap Nominators`, `Beatmap Spotlight Curators`, `Nomination Assessment Team` and `osu! Alumni`
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Beatmap_Spotlight_Curators/en.md
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/osu!_Alumni/en.md
Labels: size/S

#10786 Add `New Featured Artist: anubasu-anubasu` news post
  news/2024/2024-01-13-new-featured-artist-anubasu-anubasu.md
Labels: area:news, size/M

#10787 Fix link in `New Featured Artist: anubasu-anubasu` news post
  news/2024/2024-01-13-new-featured-artist-anubasu-anubasu.md
Labels: size/XS

#10718 [KO] Add `Beatmap/TAG`
  wiki/Beatmap/TAG/ko.md
Labels: area:translations, size/S

#10789 Fix broken song preview link in `New Featured Artist: anubasu-anubasu` news post
  news/2024/2024-01-13-new-featured-artist-anubasu-anubasu.md
Labels: size/XS

#10756 Add `Skin of the Year 2023: Voting Open` news post
  news/2024/2024-01-14-skin-of-the-year-2023.md
  wiki/shared/news/2024-01-14-skin-of-the-year-2023/banner.jpg
  wiki/shared/news/2024-01-14-skin-of-the-year-2023/banner@2x.jpg
Labels: area:news, size/M

#10615 [ES] Retranslate `osu!mania ranking criteria`
  wiki/Ranking_criteria/osu!mania/es.md
Labels: area:translations, size/L, area:ranking criteria

#10791 Add `CWC/TWC 2024` staff recruitment news post
  news/2024/2024-01-15-osutaiko-osucatch-osumania-4k-world-cup-staff-applications.md
Labels: area:news, size/M

#10793 Update `TWC/CWC 2024` news post file name to match title
  news/2024/2024-01-15-osutaiko-osucatch-world-cup-staff-applications.md
Labels: area:news, size/XS

#10792 Update `MWC 7K 2024` for the RO24 stage
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: area:tournaments, size/L

#10794 Update `MWC 7K 2024` links, staff listing
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: area:tournaments, size/S

#10795 Fix Zenpaku listing URL in ``People/Featured Artists`` wiki article
  wiki/People/Featured_Artists/en.md
Labels: size/XS

#10698 Add `Ascaveth Invitational Tournament 2023` wiki article
  wiki/Tournaments/AIT/2023/en.md
  wiki/Tournaments/AIT/2023/img/BracketStructure.png
  wiki/Tournaments/AIT/2023/img/logo.png
  wiki/Tournaments/AIT/en.md
  wiki/Tournaments/OIT/2023/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/zh.md
Labels: area:tournaments, size/L

#10798 [ZH] Fix Zenpaku listing URL in `People/Featured Artists`
  wiki/People/Featured_Artists/zh.md
Labels: area:translations, size/XS

#10780 [ZH] Update `People/Featured Artists`
  wiki/People/Featured_Artists/zh.md
Labels: area:translations, size/S

#10803 Add `Mappers' Guild - More Priority Quests` news post
  news/2024/2024-01-16-mappers-guild-more-priority-quests.md
  wiki/shared/news/2024-01-16-mappers-guild-more-priority-quests/hitsounds.png
Labels: area:news, size/L

#10804 Add support banner link in `MWC7K 2024`
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: area:tournaments, size/XS

#10807 Add news post consideration bullet point to `Official tournament support` wiki article
  wiki/Tournaments/Official_support/de.md
  wiki/Tournaments/Official_support/el.md
  wiki/Tournaments/Official_support/en.md
  wiki/Tournaments/Official_support/fr.md
  wiki/Tournaments/Official_support/ko.md
  wiki/Tournaments/Official_support/zh.md
Labels: area:tournaments, size/S

#10808 Update `MWC 7K 2024` RO24 schedules
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: area:tournaments, size/M

#10810 Reword sentence in `Mappers' Guild - More Priority Quests` news post
  news/2024/2024-01-16-mappers-guild-more-priority-quests.md
Labels: size/XS

#10813 Fix typo on `How_you_can_help!`
  wiki/Community/How_you_can_help!/en.md
Labels: size/XS

#10801 Fix ICC 2022 listing in `Tournaments/ICC`
  wiki/Tournaments/ICC/en.md
Labels: area:tournaments, size/XS

#10814 Update staff listing requirement in `Official tournament support`
  wiki/Tournaments/Official_support/en.md
Labels: area:tournaments, size/XS

#10817 Add commentators to `MWC 7K 2024` staff listing
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: area:tournaments, size/XS

#10823 Clarify explanation of the "unplayed" filter in `Beatmap_search`
  wiki/Beatmap_search/de.md
  wiki/Beatmap_search/en.md
  wiki/Beatmap_search/es.md
  wiki/Beatmap_search/fr.md
Labels: size/XS

#10828 Add `New Featured Artist: Sparxe` news post
  news/2024/2024-01-20-new-featured-artist-sparxe.md
Labels: area:news, size/M

#10811 Add `Jack House Cup 2024` wiki articles
  wiki/Tournaments/JHC/JHC_2024/en.md
  wiki/Tournaments/JHC/JHC_2024/img/JHC-2024-banner.jpg
  wiki/Tournaments/JHC/JHC_2024/zh.md
  wiki/Tournaments/JHC/en.md
  wiki/Tournaments/JHC/zh.md
Labels: area:tournaments, size/L

#10830 Correct the schedule in `Jack House Cup 2024` wiki articles
  wiki/Tournaments/JHC/JHC_2024/en.md
  wiki/Tournaments/JHC/JHC_2024/zh.md
Labels: area:tournaments, size/XS

#10832 Add Sparxe in `Featured Artists` listing
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/zh.md
Labels: size/XS

#10834 Update `MWC 7K 2024` for the RO16 stage
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: area:tournaments, size/M

#10831 Add `Project Loved: January 2024` news post
  news/2024/2024-01-22-project-loved-january-2024.md
  wiki/shared/news/2024-01-22-project-loved-january-2024/1062298.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1062298@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/107834.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/107834@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1173057.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1173057@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1231048.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1231048@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1240175.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1240175@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1306775.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1306775@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1316855.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1316855@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1352473.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1352473@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1371992.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1371992@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1375117.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1375117@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1441606.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1441606@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1671839.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1671839@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1723217.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1723217@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1743421.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1743421@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1774900.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1774900@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1870950.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1870950@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1884351.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1884351@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1888601.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1888601@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1907694.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1907694@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1926113.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1926113@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1938191.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1938191@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1972394.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1972394@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1980743.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/1980743@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/336272.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/336272@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/419879.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/419879@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/469679.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/469679@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/588965.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/588965@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/803906.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/803906@2x.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/929862.jpg
  wiki/shared/news/2024-01-22-project-loved-january-2024/929862@2x.jpg
Labels: area:news, size/L

#10838 Update `MWC 7K 2024` RO16 schedules
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: area:tournaments, size/S

#10824 [ZH] Add `Beatmap search`
  wiki/Beatmap_search/zh.md
Labels: area:translations, size/L

#10825 Misc. Project Loved updates
  wiki/Community/Project_Loved/en.md
  wiki/Community/Project_Loved/es.md
  wiki/Community/Project_Loved/fr.md
Labels: size/M

#10790 [ES] Add `osu!catch Ranking Criteria`
  wiki/Ranking_criteria/osu!catch/es.md
Labels: area:translations, size/L, area:ranking criteria

#10829 [VI] Fixing some translations in `People`
  wiki/People/vi.md
Labels: area:translations, size/M

#10833 [FR] Update `Beatmap search`
  wiki/Beatmap_search/fr.md
Labels: area:translations, size/XS

#10782 [ZH] Update `Beatmap Spotlights`
  wiki/Beatmap_Spotlights/zh.md
Labels: area:translations, size/XS

#10827 [ES] Add `ScoreV1`
  wiki/Gameplay/Score/ScoreV1/es.md
Labels: area:translations, size/XS

#10826 [ES] Add `Organisations`
  wiki/Community/Organisations/es.md
Labels: area:translations, size/XS

#10784 [ZH] Update `Gameplay/Accuracy`
  wiki/Gameplay/Accuracy/zh.md
Labels: area:translations, size/S

#10818 [FR] Update `Tournaments/Official support`
  wiki/Tournaments/Official_support/fr.md
Labels: area:translations, area:tournaments, size/S

#10819 [FR] Update `Game mode/osu!mania` and `osu!`
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/fr.md
  wiki/Game_mode/osu!/fr.md
  wiki/Game_mode/osu!mania/fr.md
  wiki/Modding/Timestamp/fr.md
  wiki/Ranking_criteria/osu!mania/fr.md
Labels: area:translations, size/L, area:ranking criteria

#10820 [FR] Update `People/Featured Artists`
  wiki/People/Featured_Artists/fr.md
Labels: area:translations, size/XS

#10783 [ZH] Update `Article styling criteria/Formatting` and `Writing`
  wiki/Article_styling_criteria/Formatting/zh.md
  wiki/Article_styling_criteria/Writing/zh.md
Labels: area:translations, size/S

#10812 [IT] Update `Beatmap/Overall difficulty`
  wiki/Beatmap/Overall_difficulty/it.md
Labels: area:translations, size/M

#10799 Add "BREACH PROTOCOL" to the list of `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: size/S

#10796 [RO] Add `Help centre`
  wiki/Help_centre/ro.md
Labels: area:translations, size/M, area:help centre

#10721 [ES] Rename `hit window` to `timing window`
  wiki/Beatmap/Overall_difficulty/es.md
  wiki/Gameplay/Judgement/Notelock/es.md
  wiki/Gameplay/Judgement/osu!/es.md
  wiki/Gameplay/Judgement/osu!catch/es.md
Labels: area:translations, size/M

#10719 [ES] Clean up `Interface/Visual settings`
  wiki/Client/Interface/Visual_settings/es.md
Labels: area:translations, size/XS

#10738 [ES] Add `Community` and `Video series`
  wiki/Community/Video_series/es.md
  wiki/Community/es.md
Labels: area:translations, size/M

#10621 [ES] Update `People/Beatmap Nominators/Becoming a Beatmap Nominator`
  wiki/People/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/es.md
  wiki/People/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/img/ApplicationFlowchart-ES.png
Labels: area:translations, size/L

#10788 [RO] Add `Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/ro.md
Labels: area:translations, size/L, area:help centre

#10781 [ZH] Update `Community/osu! Discord server`
  wiki/Community/osu!_Discord_server/zh.md
Labels: area:translations, size/XS

#10797 [RO] Update `Do you really want to ask peppy`
  wiki/Do_you_really_want_to_ask_peppy/ro.md
Labels: area:translations, size/XS

#10837 [ES] Update osu!mania RC to match osu!catch RC
  wiki/Ranking_criteria/osu!mania/es.md
Labels: area:translations, size/XS, area:ranking criteria

#10357 Add new editions of `o!RST` Tournament
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/o!RT/2021/en.md
  wiki/Tournaments/o!RT/2022/en.md
  wiki/Tournaments/o!RT/2022/img/badge.png
  wiki/Tournaments/o!RT/2022/img/logo.png
  wiki/Tournaments/o!RT/2023/en.md
  wiki/Tournaments/o!RT/2023/img/badge.png
  wiki/Tournaments/o!RT/2023/img/logo.png
  wiki/Tournaments/o!RT/2023/img/podium.png
  wiki/Tournaments/o!RT/en.md
  wiki/Tournaments/zh.md
Labels: area:tournaments, size/XXL

#10802 [VI] Update `Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/vi.md
Labels: area:translations, size/L, area:help centre

#10785 [ZH] Update `Ranking criteria` and sub articles
  wiki/People/Beatmap_Nominators/Beatmap_Nominator_Test/zh.md
  wiki/Ranking_criteria/osu!catch/zh.md
  wiki/Ranking_criteria/osu!mania/zh.md
  wiki/Ranking_criteria/zh.md
Labels: area:translations, size/L, area:ranking criteria

#10842 Fix incorrect format for UK flags in `o!RT` tournament page
  wiki/Tournaments/o!RT/2023/en.md
Labels: area:tournaments, size/XS

#10816 [KO] Update `Tournaments/Official support`
  wiki/Tournaments/Official_support/ko.md
Labels: area:translations, area:tournaments, size/S

#10386 [ES] Native review of `History of osu!/2008`
  wiki/History_of_osu!/2008/es.md
Labels: area:translations, size/M

#10841 Add `osu!mania 7K World Cup 2024: Round of 24 Recap` news post
  news/2024/2024-01-26-osumania-7k-world-cup-2024-round-of-24-recap.md
Labels: area:news, size/M

#10850 Add `Community Choice 2023: Voting Open` news post
  news/2024/2024-01-28-community-choice-2023-open.md
Labels: area:news, size/M

#10851 Update `MWC 7K 2024` with partial RO16 results
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: area:tournaments, size/S

#10854 Update `MWC 7K 2024` for the Quarterfinals stage
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: area:tournaments, size/M

#10849 Add `Vocaloid Mapping Contest 2 & New Featured Artist: iroha(sasaki)` news post and associated wiki article
  news/2024/2024-01-28-vocaloid-mapping-contest-2.md
  wiki/Contests/VMC/1/en.md
  wiki/Contests/VMC/2/en.md
  wiki/Contests/VMC/2/img/banner.jpg
  wiki/Contests/VMC/2/img/banner@2x.jpg
  wiki/Contests/VMC/2/img/vmcwinnerbadge.png
  wiki/Contests/VMC/en.md
Labels: area:news, size/L

#10855 Update `MWC 7K 2024` mappool, schedules
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: area:tournaments, size/M

#10857 Update `Contests/VMC/2` rules
  news/2024/2024-01-28-vocaloid-mapping-contest-2.md
  wiki/Contests/VMC/2/en.md
Labels: area:news, size/XS

#10858 Add `Community Choice 2023: Voting Open` news post
  news/2024/2024-01-29-community-choice-2023-open.md
Labels: area:news, size/M

#10806 [RO] Add `Beatmapping` and `Installation and registration`
  wiki/Help_centre/Beatmapping/ro.md
  wiki/Help_centre/Installation_and_registration/ro.md
Labels: area:translations, size/M, area:help centre

#10852 [IT] Update `Reporting bad behavior/Abuse`
  wiki/Reporting_bad_behaviour/Abuse/it.md
Labels: size/M

#10779 [ES] Add `Gameplay differences in osu!(lazer)`
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/es.md
Labels: area:translations, size/L

#10862 Add `osu!(lazer) Updates: Performance Points Now Live` news post
  news/2024/2024-01-30-osulazer-updates-performance-points-now-live.md
  wiki/shared/news/2024-01-30-osulazer-updates-performance-points-now-live/banner.jpg
  wiki/shared/news/2024-01-30-osulazer-updates-performance-points-now-live/banner@2x.jpg
  wiki/shared/news/2024-01-30-osulazer-updates-performance-points-now-live/lazer-mode.jpg
  wiki/shared/news/2024-01-30-osulazer-updates-performance-points-now-live/mods-that-give-pp.png
  wiki/shared/news/2024-01-30-osulazer-updates-performance-points-now-live/offset-panel.jpg
  wiki/shared/news/2024-01-30-osulazer-updates-performance-points-now-live/offset-suggestion.jpg
Labels: area:news, size/L

#10864 Change Yes/No options to true/false images in `Gameplay differences in osu!(lazer)`
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/en.md
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/es.md
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/fr.md
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/zh.md
Labels: size/XL

#10865 Update `Skinning Contest` section within `Contests` wiki page
  wiki/Contests/en.md
  wiki/Contests/es.md
  wiki/Contests/fr.md
  wiki/Contests/id.md
  wiki/Contests/pl.md
  wiki/Contests/zh.md
Labels: size/S

#10843 Redirect `/wiki/Timing` to a disambiguation page at first
  wiki/redirect.yaml
Labels: size/XS

#10866 Remove incorrect `outdated_since` tag in `Contests` page
  wiki/Contests/id.md
  wiki/Contests/pl.md
  wiki/Contests/zh.md
Labels: size/XS
