Repository ppy/osu-wiki, pull requests merged in 2024-02, with the labels that each got.

#10869 Add `Mapper's Choice Awards / A Year In Mapping 2023` news post
  news/2024/2024-02-01-mappers-choice-awards-2023.md
  wiki/shared/news/2024-02-01-mappers-choice-awards-2023/banner.jpg
  wiki/shared/news/2024-02-01-mappers-choice-awards-2023/banner@2x.jpg
Labels: area:news, size/M

#10871 Update `MWC 7K 2024` Quarterfinals schedule
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: area:tournaments, size/M

#10870 Fix dead image link in `osu!monthly, November 2022` news post
  news/2022/2022-12-01-osumonthly-5.md
  wiki/shared/news/2022-12-01-osumonthly-5/BResports-banner.jpg
Labels: area:news, size/XS

#10876 Add dedicated profile badge and podium image to `Ascaveth Invitational Tournament 2023`
  wiki/Tournaments/AIT/2023/en.md
  wiki/Tournaments/AIT/2023/img/badge.png
  wiki/Tournaments/AIT/2023/img/podium.jpg
Labels: area:tournaments, size/S

#10839 Add `osu!catch Convert Cup Open 2023` wiki article
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/o!cCO/2023/en.md
  wiki/Tournaments/o!cCO/2023/img/badge.jpg
  wiki/Tournaments/o!cCO/2023/img/banner.jpg
  wiki/Tournaments/o!cCO/en.md
  wiki/Tournaments/zh.md
Labels: area:tournaments, size/XL

#10877 Fix double slash on wiki URL in `osu!mania 7K World Cup 2024: Round of 16 Recap`
  news/2024/2024-02-02-osumania-7k-world-cup-2024-round-of-16-recap.md
Labels: area:news, size/XS

#10815 Add `Simplified ranking criteria`
  wiki/Ranking_criteria/Simplified_ranking_criteria/en.md
  wiki/Ranking_criteria/Simplified_ranking_criteria/img/2b.png
  wiki/Ranking_criteria/Simplified_ranking_criteria/img/delay.png
  wiki/Ranking_criteria/Simplified_ranking_criteria/img/offscreen.png
  wiki/Ranking_criteria/Simplified_ranking_criteria/img/percent.png
  wiki/Ranking_criteria/Simplified_ranking_criteria/img/taiko/futsuu.png
  wiki/Ranking_criteria/Simplified_ranking_criteria/img/taiko/kantan.png
  wiki/Ranking_criteria/Simplified_ranking_criteria/img/taiko/muzu1.png
  wiki/Ranking_criteria/Simplified_ranking_criteria/img/taiko/muzu2.png
  wiki/Ranking_criteria/Simplified_ranking_criteria/img/taiko/oni.png
  wiki/Ranking_criteria/en.md
  wiki/Ranking_criteria/es.md
  wiki/Ranking_criteria/fr.md
  wiki/Ranking_criteria/zh.md
Labels: size/L, area:ranking criteria

#10879 [ZH] Add `Simplified ranking criteria`
  wiki/Ranking_criteria/Simplified_ranking_criteria/zh.md
  wiki/Ranking_criteria/zh.md
Labels: area:translations, size/L

#10883 Add `New Featured Artist: Rocket Start` news post
  news/2024/2024-02-03-new-featured-artist-rocket-start.md
Labels: size/M

#10884 Fix link in `New Featured Artist: Rocket Start` news post
  news/2024/2024-02-03-new-featured-artist-rocket-start.md
Labels: area:news, size/XS

#10882 Fix Muzukashii break image in `Simplified ranking criteria`
  wiki/Ranking_criteria/Simplified_ranking_criteria/en.md
  wiki/Ranking_criteria/Simplified_ranking_criteria/img/taiko/muzu2.png
  wiki/Ranking_criteria/Simplified_ranking_criteria/zh.md
Labels: size/XS

#10885 Update `MWC 7K 2024` with Quarterfinals partial results
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: area:tournaments, size/M

#10886 Update `Help centre/Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/de.md
  wiki/Help_centre/Upgrading_to_lazer/en.md
  wiki/Help_centre/Upgrading_to_lazer/es.md
  wiki/Help_centre/Upgrading_to_lazer/fr.md
  wiki/Help_centre/Upgrading_to_lazer/it.md
  wiki/Help_centre/Upgrading_to_lazer/ro.md
  wiki/Help_centre/Upgrading_to_lazer/vi.md
  wiki/Help_centre/Upgrading_to_lazer/zh.md
Labels: size/M, area:help centre

#10893 Update `MWC 7K 2024` for the Semifinals stage
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: area:tournaments, size/M

#10845 [PT-BR] Update `Client/Interface/Visual settings`
  wiki/Client/Interface/Visual_settings/pt-br.md
Labels: area:translations, size/M, state/stale merge

#10860 [ZH] Update `Beatmap/Break`
  wiki/Beatmap/Break/zh.md
Labels: area:translations, size/S

#10853 [FR] Update `Client/Interface/Multiplayer`
  wiki/Client/Interface/Multiplayer/fr.md
  wiki/Client/Interface/Multiplayer/img/multi-mh-fr.jpg
Labels: area:translations, size/L, state/stale merge

#10846 [FR] Update `Community/Project Loved`
  wiki/Community/Project_Loved/fr.md
Labels: area:translations, size/M, state/stale merge

#10875 [ZH-TW] Add `Game Mode`
  wiki/Game_mode/zh-tw.md
Labels: area:translations, size/M

#10889 Add "CIC 2022" and "CIC 2023" to `Tournaments` listing
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/o!cCO/en.md
  wiki/Tournaments/zh.md
Labels: area:tournaments, size/S

#10887 Clarify detail in `Beatmap/Guest_Difficulty`
  wiki/Beatmap/Guest_difficulty/en.md
  wiki/Beatmap/Guest_difficulty/es.md
  wiki/Beatmap/Guest_difficulty/fr.md
  wiki/Beatmap/Guest_difficulty/id.md
  wiki/Beatmap/Guest_difficulty/it.md
  wiki/Beatmap/Guest_difficulty/ja.md
  wiki/Beatmap/Guest_difficulty/ru.md
  wiki/Beatmap/Guest_difficulty/zh.md
Labels: size/S

#10894 Update `MWC 7K 2024` Semifinals mappool links
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: area:tournaments, size/XS

#10892 Add `Skin of the Year 2023: Results` news post
  news/2024/2024-02-05-skin-of-the-year-2023-results.md
  wiki/Contests/en.md
  wiki/shared/news/2024-02-05-skin-of-the-year-2023-results/Divide-by-8.jpg
  wiki/shared/news/2024-02-05-skin-of-the-year-2023-results/Divide-by-8@2x.jpg
  wiki/shared/news/2024-02-05-skin-of-the-year-2023-results/Everlasting-Moment.jpg
  wiki/shared/news/2024-02-05-skin-of-the-year-2023-results/Everlasting-Moment@2x.jpg
  wiki/shared/news/2024-02-05-skin-of-the-year-2023-results/FMN.jpg
  wiki/shared/news/2024-02-05-skin-of-the-year-2023-results/FMN@2x.jpg
  wiki/shared/news/2024-02-05-skin-of-the-year-2023-results/Game-Over.jpg
  wiki/shared/news/2024-02-05-skin-of-the-year-2023-results/Game-Over@2x.jpg
  wiki/shared/news/2024-02-05-skin-of-the-year-2023-results/Ghost-Rule.jpg
  wiki/shared/news/2024-02-05-skin-of-the-year-2023-results/Ghost-Rule@2x.jpg
  wiki/shared/news/2024-02-05-skin-of-the-year-2023-results/IT_S-SHOWTIME.jpg
  wiki/shared/news/2024-02-05-skin-of-the-year-2023-results/IT_S-SHOWTIME@2x.jpg
  wiki/shared/news/2024-02-05-skin-of-the-year-2023-results/KEMOMINI-EDM-SQUAD.jpg
  wiki/shared/news/2024-02-05-skin-of-the-year-2023-results/KEMOMINI-EDM-SQUAD@2x.jpg
  wiki/shared/news/2024-02-05-skin-of-the-year-2023-results/Paper-Touhou.jpg
  wiki/shared/news/2024-02-05-skin-of-the-year-2023-results/Paper-Touhou@2x.jpg
  wiki/shared/news/2024-02-05-skin-of-the-year-2023-results/Whitecat.jpg
  wiki/shared/news/2024-02-05-skin-of-the-year-2023-results/Whitecat@2x.jpg
  wiki/shared/news/2024-02-05-skin-of-the-year-2023-results/Windosu.jpg
  wiki/shared/news/2024-02-05-skin-of-the-year-2023-results/Windosu@2x.jpg
  wiki/shared/news/2024-02-05-skin-of-the-year-2023-results/banner.jpg
  wiki/shared/news/2024-02-05-skin-of-the-year-2023-results/banner@2x.jpg
Labels: area:news, size/M

#10045 Add `COE 2022 1v1 Tournament` wiki article
  wiki/Tournaments/COE/COE_2022/en.md
  wiki/Tournaments/COE/COE_2022/img/badge-1st.png
  wiki/Tournaments/COE/COE_2022/img/badge-1st@2x.png
  wiki/Tournaments/COE/COE_2022/img/banner.png
  wiki/Tournaments/COE/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/zh.md
Labels: area:tournaments, size/L

#10900 Update tenure badges in ``People/Global_Moderation_Team`` wiki article
  wiki/People/Global_Moderation_Team/de.md
  wiki/People/Global_Moderation_Team/en.md
  wiki/People/Global_Moderation_Team/es.md
  wiki/People/Global_Moderation_Team/fr.md
  wiki/People/Global_Moderation_Team/it.md
  wiki/People/Global_Moderation_Team/zh.md
Labels: size/S

#10906 Update `MWC 7K 2024` Semifinals schedule
  wiki/Tournaments/MWC/2024_7K/en.md
Labels: area:tournaments, size/M

#10905 Update `NAT` and `osu! team` user listings
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Nomination_Assessment_Team/es.md
  wiki/People/Nomination_Assessment_Team/fr.md
  wiki/People/Nomination_Assessment_Team/zh.md
  wiki/People/osu!_team/en.md
  wiki/People/osu!_team/es.md
  wiki/People/osu!_team/fr.md
  wiki/People/osu!_team/ko.md
  wiki/People/osu!_team/zh.md
Labels: size/S

#10902 Update `Official tournament support` with new badge guidelines
  wiki/Tournaments/Official_support/en.md
  wiki/Tournaments/Official_support/fr.md
  wiki/Tournaments/Official_support/ko.md
Labels: area:tournaments, size/XS, rule change

#10916 Add Sydosys in `Featured Artists` listing
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: size/XS

#10911 [ES] Update `Contests`
  wiki/Contests/es.md
Labels: area:translations, size/XS

#10888 [KO] Add `MWC/2024 7k`
  wiki/Tournaments/MWC/2024_7K/ko.md
Labels: area:translations, area:tournaments, size/XL

#10909 [ES] Update `osu! team`
  wiki/People/osu!_team/es.md
Labels: area:translations, size/XS

#10912 [ES] Update `Ranking criteria`
  wiki/Ranking_criteria/es.md
Labels: area:translations, size/XS, area:ranking criteria

#10907 [KO] Update `People/osu! team`
  wiki/People/osu!_team/ko.md
Labels: area:translations, size/XS

#10835 [PT-BR] Add `osu!taiko ranking criteria`
  wiki/Ranking_criteria/osu!taiko/pt-br.md
Labels: area:translations, size/L, area:ranking criteria

#10890 [KO] Fixed spacing and some misleading expressions in `OWC/2023`
  wiki/Tournaments/OWC/2023/ko.md
Labels: area:translations, area:tournaments, size/XS

#10914 Update `Centurions`
  wiki/People/Centurions/en.md
  wiki/People/Centurions/es.md
  wiki/People/Centurions/fr.md
  wiki/People/Centurions/it.md
  wiki/People/Centurions/zh.md
Labels: size/XS

#10923 Add `osu!mania 7K World Cup 2024: Quarterfinals Recap` news post
  news/2024/2024-02-09-osumania-7k-world-cup-2024-quarterfinals-recap.md
Labels: area:news, size/M

#10908 [ES] Update `NAT`
  wiki/People/Nomination_Assessment_Team/es.md
Labels: area:translations, size/S

#10926 fix typo in `Community Contributors` wiki page
  wiki/People/Community_Contributors/en.md
Labels: size/XS

#10873 [RO] Add `Help centre/Website`
  wiki/Help_centre/Website/ro.md
Labels: area:translations, size/L, area:help centre

#10655 [DE] Add `Client/File formats/osr`
  wiki/Client/File_formats/osr_(file_format)/de.md
Labels: area:translations, size/L

#10391 [ES] Native review of `History of osu!/2016`
  wiki/History_of_osu!/2016/es.md
Labels: area:translations, size/M

#10389 [ES] Native review of `History of osu!/2014`
  wiki/History_of_osu!/2014/es.md
Labels: area:translations, size/M

#10927 Update `MWC 7K 2024` with partial Semifinals results
  wiki/Tournaments/MWC/2024_7K/en.md
  wiki/Tournaments/MWC/2024_7K/ko.md
Labels: area:tournaments, size/M

#10929 Update numbers in `Centurions`
  wiki/People/Centurions/en.md
  wiki/People/Centurions/es.md
  wiki/People/Centurions/fr.md
  wiki/People/Centurions/it.md
  wiki/People/Centurions/zh.md
Labels: size/S

#10930 Update `MWC 7K 2024` Semifinals schedule, results
  wiki/Tournaments/MWC/2024_7K/en.md
  wiki/Tournaments/MWC/2024_7K/ko.md
Labels: size/M

#10878 Update `Skinning/Interface`
  wiki/Skinning/Interface/en.md
  wiki/Skinning/Interface/fr.md
  wiki/Skinning/Interface/img/rank-forum.png
  wiki/Skinning/Interface/img/songselect-bottom.png
  wiki/Skinning/Interface/img/songselect-top.png
  wiki/Skinning/Interface/zh.md
Labels: area:translations, size/M

#10938 [KO] Delete error in `MWC/2024_7K`
  wiki/Tournaments/MWC/2024_7K/ko.md
Labels: size/XS

#10910 [ES] Update `Guest difficulty`
  wiki/Beatmap/Guest_difficulty/es.md
Labels: size/XS

#10942 Update `MWC 7K 2024` for the Finals stage
  wiki/Tournaments/MWC/2024_7K/en.md
  wiki/Tournaments/MWC/2024_7K/ko.md
Labels: area:tournaments, size/L

#10944 Add `New Featured Artist: Akiri` news post
  news/2024/2024-02-11-new-featured-artist-akiri.md
Labels: area:news, size/M

#10945 Update `MWC 7K 2024` links
  wiki/Tournaments/MWC/2024_7K/en.md
  wiki/Tournaments/MWC/2024_7K/ko.md
Labels: area:tournaments, size/S

#10946 Add `Community Choice 2023: Results` news post
  news/2024/2024-02-12-community-choice-2023-results.md
  wiki/shared/news/2024-02-12-community-choice-2023-results/1869818.jpg
  wiki/shared/news/2024-02-12-community-choice-2023-results/1960673.jpg
  wiki/shared/news/2024-02-12-community-choice-2023-results/1976834.jpg
  wiki/shared/news/2024-02-12-community-choice-2023-results/2062263.jpg
  wiki/shared/news/2024-02-12-community-choice-2023-results/2088431.jpg
Labels: area:news, size/L

#10949 Switch links in `Featured Artists`
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: size/XS

#10950 Fix formatting in `Community Choice 2023: Results` news post
  news/2024/2024-02-12-community-choice-2023-results.md
Labels: area:news, size/S

#10922 Update `Gameplay differences in osu!(lazer)`
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/en.md
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/es.md
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/fr.md
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/img/slider-early-leniency.gif
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/zh.md
Labels: size/L

#10951 Add Hinsvar pack to `Centurions`
  wiki/People/Centurions/en.md
  wiki/People/Centurions/es.md
  wiki/People/Centurions/fr.md
  wiki/People/Centurions/it.md
  wiki/People/Centurions/zh.md
Labels: size/S

#10867 [PT-BR] Add upppy
  wiki/upppy/pt-br.md
Labels: area:translations, size/XS, state/stale merge

#10970 Small amends in `Community Choice 2023: Results`
  news/2024/2024-02-12-community-choice-2023-results.md
Labels: size/XS

#10971 Amend writer's mark in `osu!mania 7K World Cup 2024: Quarterfinals Recap`
  news/2024/2024-02-09-osumania-7k-world-cup-2024-quarterfinals-recap.md
Labels: size/XS

#10939 [ZH] Add `Game modifier/Cinema`
  wiki/Gameplay/Game_modifier/Cinema/zh.md
Labels: area:translations, size/M

#10940 [ZH] Update `Skinning/Interface`
  wiki/Skinning/Interface/zh.md
Labels: area:translations, size/M

#10972 [PT-BR] Add Client
  wiki/Client/pt-br.md
Labels: size/S

#10388 [ES] Native review of `History of osu!/2013`
  wiki/History_of_osu!/2013/es.md
Labels: area:translations, size/L

#10897 [ES] Add `History of osu! 2022`
  wiki/History_of_osu!/2022/es.md
Labels: area:translations, size/L

#10974 [ZH] Cleanup `Simplified ranking criteria`, `Explicit content` and `Main page`
  wiki/Main_page/zh.md
  wiki/Ranking_criteria/Simplified_ranking_criteria/zh.md
  wiki/Rules/Explicit_content/zh.md
Labels: area:translations, size/M

#10904 [VI] Reviews for no-native-review articles
  wiki/BanchoBot/vi.md
  wiki/Beatmap/Hype/vi.md
  wiki/Bit_rate/vi.md
  wiki/Client/File_formats/osz_(file_format)/vi.md
  wiki/Rules/vi.md
  wiki/Storyboard/vi.md
Labels: area:translations, size/L

#10880 [VI] Reword and fix translations in `Main page`
  wiki/Main_page/vi.md
Labels: area:translations, size/M

#10976 Add `Project Loved: February 2024` news post
  news/2024/2024-02-14-project-loved-february-2024.md
  wiki/shared/news/2024-02-14-project-loved-february-2024/1020101.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1020101@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1078911.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1078911@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1143823.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1143823@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1155381.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1155381@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1164788.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1164788@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1187701.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1187701@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1315153.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1315153@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1318035.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1318035@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1338625.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1338625@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1347975.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1347975@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1349241.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1349241@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1365773.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1365773@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1598664.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1598664@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1627456.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1627456@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1712507.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1712507@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1731937.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1731937@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1745746.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1745746@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1900403.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1900403@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1901782.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1901782@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1955325.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/1955325@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/2129161.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/2129161@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/479929.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/479929@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/541546.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/541546@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/60228.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/60228@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/765642.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/765642@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/802996.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/802996@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/808318.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/808318@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/832889.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/832889@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/980182.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/980182@2x.jpg
  wiki/shared/news/2024-02-14-project-loved-february-2024/ghostlove.png
Labels: area:news, size/L

#10961 [ES] Update `Tournaments`
  wiki/Tournaments/es.md
Labels: area:translations, area:tournaments, size/S

#10977 Add `TWC/2024`, `TWC 2024` registrations news post
  news/2024/2024-02-15-osu-taiko-world-cup-2024-registrations-now-open.md
  wiki/Tournaments/TWC/2024/en.md
  wiki/Tournaments/TWC/2024/img/twc2024-banner.jpg
  wiki/Tournaments/TWC/2024/img/twc2024-banner@2x.jpg
  wiki/Tournaments/TWC/en.md
  wiki/Tournaments/TWC/fr.md
  wiki/Tournaments/TWC/id.md
  wiki/Tournaments/TWC/ru.md
  wiki/Tournaments/TWC/zh-tw.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
Labels: area:news, size/L

#10978 Update `MWC7K 2024` Finals schedule
  wiki/Tournaments/MWC/2024_7K/en.md
  wiki/Tournaments/MWC/2024_7K/ko.md
Labels: area:tournaments, size/S

#10979 Fix typo in `TWC 2024`
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/XS

#10973 Update `Global Moderation Team`, `Nomination Assessment Team`, and `osu! Alumni` for February 2024
  wiki/People/Global_Moderation_Team/de.md
  wiki/People/Global_Moderation_Team/en.md
  wiki/People/Global_Moderation_Team/fr.md
  wiki/People/Global_Moderation_Team/id.md
  wiki/People/Global_Moderation_Team/it.md
  wiki/People/Global_Moderation_Team/ja.md
  wiki/People/Global_Moderation_Team/ko.md
  wiki/People/Global_Moderation_Team/pl.md
  wiki/People/Global_Moderation_Team/pt-br.md
  wiki/People/Global_Moderation_Team/ru.md
  wiki/People/Global_Moderation_Team/th.md
  wiki/People/Global_Moderation_Team/tr.md
  wiki/People/Global_Moderation_Team/zh.md
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Nomination_Assessment_Team/es.md
  wiki/People/osu!_Alumni/de.md
  wiki/People/osu!_Alumni/en.md
  wiki/People/osu!_Alumni/es.md
  wiki/People/osu!_Alumni/fr.md
  wiki/People/osu!_Alumni/id.md
  wiki/People/osu!_Alumni/it.md
  wiki/People/osu!_Alumni/ja.md
  wiki/People/osu!_Alumni/ko.md
  wiki/People/osu!_Alumni/pl.md
  wiki/People/osu!_Alumni/pt-br.md
  wiki/People/osu!_Alumni/ru.md
  wiki/People/osu!_Alumni/tr.md
  wiki/People/osu!_Alumni/zh.md
Labels: size/L

#10924 Add an action to automatically add `area:` labels
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: area:meta, size/M

#10982 Add `osu!mania 7K World Cup 2024: Semifinals Recap` news post
  news/2024/2024-02-09-osumania-7k-world-cup-2024-quarterfinals-recap.md
  news/2024/2024-02-16-osumania-7k-world-cup-2024-semifinals-recap.md
  wiki/shared/news/2024-02-16-osumania-7k-world-cup-2024-semifinals-recap/Kagaribi.jpg
  wiki/shared/news/2024-02-16-osumania-7k-world-cup-2024-semifinals-recap/Symphony-Of-The-Lost-Souls.jpg
  wiki/shared/news/2024-02-16-osumania-7k-world-cup-2024-semifinals-recap/Voyage.jpg
Labels: area:news, size/L

#10943 Move mappool showcase VOD links to mappool section in `MWC 7K 2024`
  wiki/Tournaments/MWC/2024_7K/en.md
  wiki/Tournaments/MWC/2024_7K/ko.md
Labels: area:tournaments, size/M

#10983 Update `osu! originals`
  wiki/osu!_originals/en.md
  wiki/osu!_originals/es.md
  wiki/osu!_originals/fr.md
Labels: size/XL

#10958 [ES] Update `Client/Beatmap editor/Compose`
  wiki/Client/Beatmap_editor/Compose/es.md
  wiki/Client/Beatmap_editor/Compose/img/beat-snap-divisor-ES.jpg
  wiki/Client/Beatmap_editor/Compose/img/beat-snap-divisor-mania-ES.jpg
  wiki/Client/Beatmap_editor/Compose/img/compose-ES.jpg
  wiki/Client/Beatmap_editor/Compose/img/compose-mania-ES.jpg
Labels: area:translations, size/L

#10964 [ES] Update `Beatmap search`
  wiki/Beatmap_search/es.md
Labels: area:translations, size/XS

#10966 [ES] Update `People/Global Moderation Team`
  wiki/People/Global_Moderation_Team/es.md
Labels: area:translations, size/M

#10965 [ES] Update `Help centre/Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/es.md
Labels: area:translations, size/M, area:help centre

#10984 Fix incorrect link in SOTY 2023 contest listing
  wiki/Contests/en.md
  wiki/Contests/es.md
Labels: size/XS

#10986 Change D I O's flag in `Global Moderation Team`
  wiki/People/Global_Moderation_Team/en.md
  wiki/People/Global_Moderation_Team/es.md
Labels: size/XS

#10936 [FR] Update `Global Moderation Team`, `osu! team` and `Nomination Assessment Team`
  wiki/People/Global_Moderation_Team/fr.md
  wiki/People/Nomination_Assessment_Team/fr.md
  wiki/People/osu!_team/fr.md
Labels: area:translations, size/S

#10987 Add `New Featured Artist: uselet` news post
  news/2024/2024-02-17-new-featured-artist-uselet.md
Labels: area:news, size/M

#10988 Add uselet in `Featured Artists` listing
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: size/XS

#10968 Update ranks on `Mappers' Guild`
  wiki/Community/Mappers_Guild/en.md
  wiki/Community/Mappers_Guild/fr.md
  wiki/Community/Mappers_Guild/img/mg-badges.png
Labels: size/XS

#10990 Update `MWC 7K 2024` for the Grand Finals stage
  wiki/Tournaments/MWC/2024_7K/en.md
  wiki/Tournaments/MWC/2024_7K/ko.md
Labels: area:tournaments, size/L

#10991 Update `osu! originals` with "seatrus - DiSANiMATE"
  wiki/osu!_originals/en.md
Labels: size/XS

#10992 Fix flag syntax in `MWC 7K 2024`
  wiki/Tournaments/MWC/2024_7K/en.md
  wiki/Tournaments/MWC/2024_7K/ko.md
Labels: area:tournaments, size/XS

#10993 Update `MWC 7K 2024` Grand Finals mappool links
  wiki/Tournaments/MWC/2024_7K/en.md
  wiki/Tournaments/MWC/2024_7K/ko.md
Labels: area:tournaments, size/S

#10899 [ZH-TW] Add `Guides`
  wiki/Guides/zh-tw.md
Labels: area:translations, size/M, state/stale merge

#10898 [ZH-TW] Add `Discord Servers`
  wiki/Community/Discord_servers/zh-tw.md
Labels: area:translations, size/S, state/stale merge

#10390 [ES] Native review of `History of osu!/2015`
  wiki/History_of_osu!/2015/es.md
Labels: area:translations, size/M

#10998 Fix banner in `osu!(lazer) Updates: February 19, 2024` news post
  news/2024/2024-02-19-osulazer-updates-february-19.md
  wiki/shared/news/2024-02-19-osulazer-updates-february-19/banner.jpg
  wiki/shared/news/2024-02-19-osulazer-updates-february-19/banner@2x.jpg
Labels: area:news, size/XS

#10997 Remove remaining score reset notices from `Help centre/Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/de.md
  wiki/Help_centre/Upgrading_to_lazer/en.md
  wiki/Help_centre/Upgrading_to_lazer/es.md
  wiki/Help_centre/Upgrading_to_lazer/fr.md
  wiki/Help_centre/Upgrading_to_lazer/id.md
  wiki/Help_centre/Upgrading_to_lazer/it.md
  wiki/Help_centre/Upgrading_to_lazer/pt-br.md
  wiki/Help_centre/Upgrading_to_lazer/ro.md
  wiki/Help_centre/Upgrading_to_lazer/ru.md
  wiki/Help_centre/Upgrading_to_lazer/vi.md
  wiki/Help_centre/Upgrading_to_lazer/zh.md
Labels: size/M, area:help centre

#10994 Add new search filters to `Beatmap search`
  wiki/Beatmap_search/en.md
  wiki/Beatmap_search/es.md
  wiki/Beatmap_search/fr.md
  wiki/Beatmap_search/zh.md
Labels: size/M

#11004 Replace lazer logo in `Release stream/Lazer`
  wiki/Client/Release_stream/Lazer/de.md
  wiki/Client/Release_stream/Lazer/en.md
  wiki/Client/Release_stream/Lazer/es.md
  wiki/Client/Release_stream/Lazer/fr.md
  wiki/Client/Release_stream/Lazer/img/lazer.png
  wiki/Client/Release_stream/Lazer/zh.md
Labels: size/S

#11006 Add `Monthly Beatmapping Contest: February 2024` news post
  news/2024/2024-02-21-monthly-beatmapping-contest-february-2024.md
  wiki/Contests/Contest_points/en.md
Labels: area:news, size/L

#11007 Add `osu!mania 7K World Cup 2024: Finals Recap` news post
  news/2024/2024-02-22-osumania-7k-world-cup-2024-finals-recap.md
  wiki/shared/news/2024-02-22-osu-mania-7k-world-cup-2024-finals-recap/Campanella.jpg
  wiki/shared/news/2024-02-22-osu-mania-7k-world-cup-2024-finals-recap/Tonight_We_Fly.jpg
  wiki/shared/news/2024-02-22-osu-mania-7k-world-cup-2024-finals-recap/Vomit.jpg
Labels: area:news, size/L

#11010 Add `Hard Rock Showdown 2024` wiki article
  wiki/Tournaments/HRS/2024/en.md
  wiki/Tournaments/HRS/2024/img/banner.png
  wiki/Tournaments/HRS/en.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
Labels: area:tournaments, size/L

#11011 Update `Hard Rock Showdown 2024` wiki
  wiki/Tournaments/HRS/2024/en.md
Labels: area:tournaments, size/XS

#11012 Fix typo in several articles ("alloted" -> "allotted")
  wiki/Tournaments/4DM/2024/en.md
  wiki/Tournaments/CWC/1/en.md
  wiki/Tournaments/CWC/2023/en.md
  wiki/Tournaments/HOT/1/en.md
  wiki/Tournaments/MCNC/4K2022/en.md
  wiki/Tournaments/MCNC/7K2022/en.md
  wiki/Tournaments/MCNC/7K2023/en.md
  wiki/Tournaments/MWC/2021_4K/en.md
  wiki/Tournaments/MWC/2022_7K/en.md
  wiki/Tournaments/MWC/2023_4K/en.md
  wiki/Tournaments/MWC/2023_7K/en.md
  wiki/Tournaments/MWC/2024_7K/en.md
  wiki/Tournaments/OWC/2021/en.md
  wiki/Tournaments/OWC/2022/en.md
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/TMC/2nd/en.md
  wiki/Tournaments/TWC/2023/en.md
  wiki/Tournaments/TWC/2024/en.md
  wiki/Tournaments/YHC/2/en.md
  wiki/Tournaments/YHC/3/en.md
Labels: area:tournaments, size/M

#10915 [DE] Update `ASC/Formatting`
  wiki/Article_styling_criteria/Formatting/de.md
Labels: area:translations, size/S

#11013 Add `Tournament Staff` to user groups
  wiki/People/User_group/de.md
  wiki/People/User_group/en.md
  wiki/People/User_group/es.md
  wiki/People/User_group/fr.md
Labels: size/S

#11014 Add `BN Mentorship: Cycle 2 Sign-ups Open` news post
  news/2024/2024-02-23-bn-mentorship-cycle-2.md
Labels: area:news, size/S

#11016 Fix flag in `BN Mentorship: Cycle 2 Sign-ups Open` news post
  news/2024/2024-02-23-bn-mentorship-cycle-2.md
Labels: area:news, size/XS

#11017 Update medal count in `Medals`
  wiki/Medals/de.md
  wiki/Medals/en.md
  wiki/Medals/es.md
  wiki/Medals/fr.md
  wiki/Medals/id.md
  wiki/Medals/it.md
  wiki/Medals/ru.md
  wiki/Medals/zh.md
Labels: size/S

#11008 [ZH] Update `Beatmap search`
  wiki/Beatmap_search/zh.md
Labels: area:translations, size/S

#11018 Update `MWC 7K 2024` with partial Grand Finals results
  wiki/Tournaments/MWC/2024_7K/en.md
  wiki/Tournaments/MWC/2024_7K/ko.md
Labels: area:tournaments, size/M

#11019 Add `New Featured Artist: Draper` news post
  news/2024/2024-02-24-new-featured-artist-draper.md
Labels: area:news, size/M

#11022 Update `MWC 7K 2024` with tournament results
  wiki/Tournaments/MWC/2024_7K/en.md
  wiki/Tournaments/MWC/2024_7K/img/badge-1st.png
  wiki/Tournaments/MWC/2024_7K/img/badge-1st@2x.png
  wiki/Tournaments/MWC/2024_7K/img/badge-2nd.png
  wiki/Tournaments/MWC/2024_7K/img/badge-2nd@2x.png
  wiki/Tournaments/MWC/2024_7K/img/badge-3rd.png
  wiki/Tournaments/MWC/2024_7K/img/badge-3rd@2x.png
  wiki/Tournaments/MWC/2024_7K/img/podium.jpg
  wiki/Tournaments/MWC/2024_7K/img/podium@2x.jpg
  wiki/Tournaments/MWC/2024_7K/ko.md
  wiki/Tournaments/en.md
Labels: area:tournaments, size/S

#11023 Update `Tournaments/4DM/2024` with results
  wiki/Tournaments/4DM/2024/en.md
Labels: area:tournaments, size/L

#11024 [ES] Update `People/User group`
  wiki/People/User_group/es.md
Labels: area:translations, size/S

#11003 [ES] Update `Beatmap search`
  wiki/Beatmap_search/es.md
Labels: area:translations, size/S

#11025 Add `Mapper's Choice Awards 2023: Results` news post
  news/2024/2024-02-26-mappers-choice-awards-2023-results.md
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/catch-map-ga-1.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/catch-map-ga-2.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/catch-map-ga-3.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/catch-map-ga-header.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/catch-user-ga-1.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/catch-user-ga-2.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/catch-user-ga-3.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/catch-user-ga-header.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/mania-map-ga-1.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/mania-map-ga-2.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/mania-map-ga-3.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/mania-map-ga-header.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/mania-user-ga-1.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/mania-user-ga-2.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/mania-user-ga-3.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/mania-user-ga-header.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/osu-map-ga-1.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/osu-map-ga-2.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/osu-map-ga-3.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/osu-map-ga-header.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/osu-user-ga-1.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/osu-user-ga-2.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/osu-user-ga-3.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/osu-user-ga-header.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/sb-map-ga-1.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/sb-map-ga-2.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/sb-map-ga-3.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/sb-map-ga-header.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/sb-user-ga-1.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/sb-user-ga-2.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/sb-user-ga-3.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/sb-user-ga-header.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/taiko-map-ga-1.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/taiko-map-ga-2.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/taiko-map-ga-3.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/taiko-map-ga-header.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/taiko-user-ga-1.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/taiko-user-ga-2.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/taiko-user-ga-3.png
  wiki/shared/news/2024-02-26-mappers-choice-awards-2023-results/taiko-user-ga-header.png
Labels: area:news, size/L

#11002 [ES] Update `Help centre/Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/es.md
Labels: area:translations, size/S, area:help centre

#10962 [ES] Update `Beatmap/Overall difficulty`
  wiki/Beatmap/Overall_difficulty/es.md
Labels: area:translations, size/S

#10859 [ZH] Update `Beatmap editor/Song setup`
  wiki/Beatmap/Difficulty/zh.md
  wiki/Beatmap/Genre_and_language/zh.md
  wiki/Beatmap/Primary_metadata_source/zh.md
  wiki/Client/Beatmap_editor/Song_setup/zh.md
  wiki/Client/Beatmap_editor/zh.md
Labels: area:translations, size/L

#11027 Add `MWC4K 2024` staff recruitment news post
  news/2024/2024-02-27-osumania-4k-world-cup-2024-mapper-and-playtester-applications.md
  wiki/shared/news/2024-02-27-osumania-4k-world-cup-2024-mapper-and-playtester-applications/mwc4k2024-apps-flowchart.png
Labels: area:news, size/M

#10918 [ZH] Add `Changing the artist or title` and cleanup `Livestreaming osu!`
  wiki/Guides/Changing_the_artist_or_title/zh.md
  wiki/Guides/Livestreaming_osu!/zh.md
Labels: area:translations, size/M

#10921 [ZH] Add `Cropping with backgrounds`
  wiki/Guides/Cropping_with_complex_backgrounds/zh.md
  wiki/Guides/Cropping_with_simple_backgrounds/img/CSB-2-ZH.png
  wiki/Guides/Cropping_with_simple_backgrounds/img/CSB-3-ZH.png
  wiki/Guides/Cropping_with_simple_backgrounds/img/CSB-4-ZH.png
  wiki/Guides/Cropping_with_simple_backgrounds/img/CSB-5-ZH.png
  wiki/Guides/Cropping_with_simple_backgrounds/zh.md
Labels: area:translations, size/M

#11028 Fix typo in `osu!mania 4K World Cup 2024 Mapper and Playtester Applications` news post title
  news/2024/2024-02-27-osumania-4k-world-cup-2024-mapper-and-playtester-applications.md
Labels: area:news, size/XS

#10941 [ZH] Cleanup `Gameplay/Hit object`
  wiki/Gameplay/Hit_object/Hyperfruit/zh.md
  wiki/Gameplay/Hit_object/Slider/Reverse_slider/zh.md
  wiki/Gameplay/Hit_object/Slider/Slider_anchor/zh.md
  wiki/Gameplay/Hit_object/Slider/Slider_velocity/zh.md
  wiki/Gameplay/Hit_object/Slider/Sliderbody/zh.md
  wiki/Gameplay/Hit_object/Slider/Sliderhead/zh.md
  wiki/Gameplay/Hit_object/Slider/Slidertail/zh.md
  wiki/Gameplay/Hit_object/zh.md
Labels: area:translations, size/S

#10913 [DE] Update `Client/Menu tips`
  wiki/Client/Menu_tips/de.md
Labels: area:translations, size/S

#10989 [ES] Add `History of osu! 2009`
  wiki/History_of_osu!/2009/es.md
Labels: area:translations, size/L

#10696 [DE] Update `Community/osu! Discord server`, `Reporting bad behaviour/Abuse`, `osu!_wiki/Contribution guide/Best practices` and `osu!_wiki/Maintenance`
  wiki/Community/osu!_Discord_server/de.md
  wiki/Reporting_bad_behaviour/Abuse/de.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/de.md
  wiki/osu!_wiki/Maintenance/de.md
Labels: area:translations, size/M

#10931 [ID] Update News styling criteria
  wiki/News_styling_criteria/id.md
Labels: area:translations, size/L

#11029 Minor fixes in `osu!mania 7K World Cup 2024`
  wiki/Tournaments/MWC/2024_7K/en.md
  wiki/Tournaments/MWC/2024_7K/ko.md
Labels: area:tournaments, size/XS

#11026 Update `News styling criteria` with design section
  wiki/News_styling_criteria/en.md
  wiki/News_styling_criteria/fr.md
  wiki/News_styling_criteria/id.md
  wiki/News_styling_criteria/img/text-size.png
Labels: size/S

#10305 Extend `Game modifier/Target Practice` stub
  wiki/Gameplay/Game_modifier/Target_Practice/de.md
  wiki/Gameplay/Game_modifier/Target_Practice/en.md
  wiki/Gameplay/Game_modifier/Target_Practice/es.md
  wiki/Gameplay/Game_modifier/Target_Practice/fr.md
  wiki/Gameplay/Game_modifier/Target_Practice/id.md
  wiki/Gameplay/Game_modifier/Target_Practice/zh.md
Labels: size/S

#10937 [FR] Update `Tournaments` and `Official support`
  wiki/Tournaments/Official_support/fr.md
  wiki/Tournaments/fr.md
Labels: area:translations, area:tournaments, size/L, state/stale merge

#10999 Update `osu! originals` with streaming platform link icons
  wiki/osu!_originals/en.md
  wiki/shared/link/Asset.png
  wiki/shared/link/Bandcamp.png
  wiki/shared/link/FA.png
  wiki/shared/link/SoundCloud.png
  wiki/shared/link/Spotify.png
  wiki/shared/link/YouTube.png
Labels: size/XXL

#10895 [FR] Add/Update/Cleanup `Contests` folder
  wiki/Contests/Contest_points/fr.md
  wiki/Contests/FBC/fr.md
  wiki/Contests/KCC/2/fr.md
  wiki/Contests/M2P/fr.md
  wiki/Contests/Monthly_Beatmapping_Contest/fr.md
  wiki/Contests/fr.md
  wiki/Contests/o!tFAC/1/fr.md
  wiki/Contests/o!tFAC/2/fr.md
  wiki/Contests/o!tFAC/3/fr.md
  wiki/Contests/o!tFAC/fr.md
Labels: area:translations, size/XL, state/stale merge

#10928 [FR] Add `Contests` related articles
  wiki/Contests/SVS/1/fr.md
  wiki/Contests/SVS/2/fr.md
  wiki/Contests/SVS/fr.md
  wiki/Contests/TKBC/1/fr.md
  wiki/Contests/TKBC/2/fr.md
  wiki/Contests/Twin_Trials_Contest/fr.md
  wiki/Contests/VMC/1/fr.md
  wiki/Contests/VMC/2/fr.md
  wiki/Contests/VMC/fr.md
  wiki/Contests/triangles_Beatmapping_Contest/fr.md
Labels: area:translations, size/XL, state/stale merge

#10933 [FR] Update `Skinning/Interface`
  wiki/Skinning/Interface/fr.md
Labels: area:translations, size/M, state/stale merge

#10935 [FR] Update `Beatmap/Guest difficulty`
  wiki/Beatmap/Guest_difficulty/fr.md
Labels: area:translations, size/XS

#10932 [FR] Update `Ranking criteria`, Add `Simplified ranking criteria`
  wiki/Ranking_criteria/Simplified_ranking_criteria/fr.md
  wiki/Ranking_criteria/fr.md
Labels: area:translations, size/L, state/stale merge, area:ranking criteria

#11005 [VI] Update `Help centre/Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/vi.md
Labels: area:translations, size/M, state/stale merge, area:help centre

#10960 [ES] Update `Changelog`
  wiki/Changelog/es.md
Labels: area:translations, size/S

#10981 [VI] Review `Help centre/Account`, `Modding/Bubble`, and `osu! wiki/Contribution guide` with `Best practices`
  wiki/Help_centre/Account/vi.md
  wiki/Modding/Bubble/vi.md
  wiki/osu!_wiki/Contribution_guide/Best_practices/vi.md
  wiki/osu!_wiki/Contribution_guide/vi.md
Labels: area:translations, size/L

#10980 [PT-BR] Add `Skin`
  wiki/Skin/pt-br.md
Labels: area:translations, size/S, state/stale merge

#10975 [ID] Cleanup `Rules`
  wiki/Rules/id.md
Labels: area:translations, size/M

#10969 [EL] Add `People/Account support team`
  wiki/People/Account_support_team/el.md
Labels: area:translations, size/M, state/stale merge

#10917 [KO] Update `Tournaments/Offical support`
  wiki/Tournaments/Official_support/ko.md
Labels: area:translations, area:tournaments, size/XS

#10947 [ID] Update `People/osu! team`
  wiki/People/osu!_team/id.md
Labels: area:translations, size/M, state/stale merge

#11030 Update `Hard Rock Showdown` staff listing
  wiki/Tournaments/HRS/2024/en.md
Labels: area:tournaments, size/XS

#10868 [PT-BR] Add `Bit rate`
  wiki/Bit_rate/pt-br.md
Labels: area:translations, size/S, state/stale merge
