Repository ppy/osu-wiki, pull requests merged in 2024-04, with the labels that each got.

#11194 Update `TWC 2024` Quarterfinals mappool
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/XS

#11122 Update extended edit rule to account for recreating official versions in RC
  wiki/Ranking_criteria/en.md
  wiki/Ranking_criteria/es.md
  wiki/Ranking_criteria/fr.md
  wiki/Ranking_criteria/zh.md
Labels: size/S, rule change, area:ranking criteria

#11197 Change number in `New Featured Artist: ptar124` news post
  news/2024/2024-03-31-new-featured-artist-ptar124.md
Labels: area:news, size/XS

#11198 Update `TWC 2024` staff listing
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/XS

#11186 [ES] Update `Community/How you can help!`
  wiki/Community/How_you_can_help!/es.md
Labels: area:translations, size/S

#11199 Add `osu!taiko World Cup 2024: Round of 16 Recap` news post
  news/2024/2024-04-03-osutaiko-world-cup-2024-round-of-16-recap.md
  wiki/shared/news/2024-04-03-osutaiko-world-cup-2024-round-of-16-recap/Train_of_Thought.jpg
  wiki/shared/news/2024-04-03-osutaiko-world-cup-2024-round-of-16-recap/Usuva_Kagerow.jpg
  wiki/shared/news/2024-04-03-osutaiko-world-cup-2024-round-of-16-recap/aqua_vitae.jpg
Labels: area:news, size/M

#11201 Update `TWC 2024` Quarterfinals schedule
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/M

#11200 Add `The Followpoint: DigitalHypno, the osu! Professor` news post
  news/2024/2024-04-04-the-followpoint-digitalhypno-the-osu-professor.md
  wiki/shared/news/2024-04-04-the-followpoint-digitalhypno-the-osu-professor/banner.jpg
  wiki/shared/news/2024-04-04-the-followpoint-digitalhypno-the-osu-professor/banner@2x.jpg
  wiki/shared/news/2024-04-04-the-followpoint-digitalhypno-the-osu-professor/graph.jpg
Labels: area:news, size/L

#11203 [IT] Add link in `Community/How you can help!`
  wiki/Community/How_you_can_help!/it.md
Labels: area:translations, size/XS

#11204 Add benefits to People/Tournament_Committee
  wiki/People/Tournament_Committee/en.md
  wiki/People/Tournament_Committee/zh.md
Labels: size/XS

#11207 Update `TWC 2024` Quarterfinals schedule
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/M

#11195 [ZH] update `Client/Release_stream`
  wiki/Client/Release_stream/zh.md
Labels: area:translations, size/S

#11208 Add `New Featured Artists: Grabbitz, ODDEEO, Pa's Lam System, and REAPER` news post
  news/2024/2024-04-06-new-featured-artists-grabbitz-oddeeo-pas-lam-system-and-reaper.md
  wiki/shared/news/2024-04-06-new-featured-artists-grabbitz-oddeeo-pas-lam-system-and-reaper/coin.jpg
Labels: area:news, size/M

#11210 Update `TWC 2024` with partial Quarterfinals results
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/M

#11211 Update `Hard Rock Showdown`
  wiki/Tournaments/HRS/2024/en.md
Labels: area:tournaments, size/M

#11209 Update user group listings
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Beatmap_Nominators/es.md
  wiki/People/Beatmap_Nominators/fr.md
  wiki/People/Beatmap_Nominators/zh.md
  wiki/People/Global_Moderation_Team/de.md
  wiki/People/Global_Moderation_Team/en.md
  wiki/People/Global_Moderation_Team/es.md
  wiki/People/Global_Moderation_Team/fr.md
  wiki/People/Global_Moderation_Team/id.md
  wiki/People/Global_Moderation_Team/it.md
  wiki/People/Global_Moderation_Team/ja.md
  wiki/People/Global_Moderation_Team/ko.md
  wiki/People/Global_Moderation_Team/pl.md
  wiki/People/Global_Moderation_Team/pt-br.md
  wiki/People/Global_Moderation_Team/ru.md
  wiki/People/Global_Moderation_Team/th.md
  wiki/People/Global_Moderation_Team/tr.md
  wiki/People/Global_Moderation_Team/zh-tw.md
  wiki/People/Global_Moderation_Team/zh.md
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Nomination_Assessment_Team/es.md
  wiki/People/Nomination_Assessment_Team/zh.md
  wiki/People/osu!_Alumni/de.md
  wiki/People/osu!_Alumni/en.md
  wiki/People/osu!_Alumni/es.md
  wiki/People/osu!_Alumni/fr.md
  wiki/People/osu!_Alumni/id.md
  wiki/People/osu!_Alumni/it.md
  wiki/People/osu!_Alumni/ja.md
  wiki/People/osu!_Alumni/ko.md
  wiki/People/osu!_Alumni/pl.md
  wiki/People/osu!_Alumni/pt-br.md
  wiki/People/osu!_Alumni/ru.md
  wiki/People/osu!_Alumni/tr.md
  wiki/People/osu!_Alumni/zh-tw.md
  wiki/People/osu!_Alumni/zh.md
Labels: size/L

#11213 Add `Vocaloid Mapping Contest 2 Results` news post
  news/2024/2024-01-28-vocaloid-mapping-contest-2.md
  news/2024/2024-04-07-vocaloid-mapping-contest-2-results.md
  wiki/Contests/VMC/2/en.md
  wiki/Contests/VMC/2/fr.md
  wiki/Contests/VMC/2/img/vmcwinnerbadge.png
  wiki/Contests/VMC/2/img/winnerbadge.png
Labels: area:news, size/L

#11216 Fix wrong link in the `Vocaloid Mapping Contest 2 Results` news post
  news/2024/2024-04-07-vocaloid-mapping-contest-2-results.md
Labels: area:news, size/XS

#11215 [ZH] Update `People/Tournament Committee`
  wiki/People/Tournament_Committee/zh.md
Labels: area:translations, size/XS

#11220 Update ruleset and staff listing for `4WC2024`
  wiki/Tournaments/4WC/2024/en.md
Labels: area:tournaments, size/XS

#11221 Update `Hard Rock Showdown`
  wiki/Tournaments/HRS/2024/en.md
Labels: area:tournaments, size/M

#11218 Update `Contest points` and `Official beatmapping contest support`
  wiki/Contests/Contest_points/en.md
  wiki/Contests/Contest_points/fr.md
  wiki/Contests/Official_support/en.md
  wiki/Contests/Official_support/fr.md
  wiki/Contests/Official_support/ko.md
Labels: size/S

#11217 Add `Skinning Contest: Unchained` news post
  news/2024/2024-04-09-skinning-contest-unchained.md
  wiki/shared/news/2024-04-09-skinning-contest-unchained/banner.jpg
  wiki/shared/news/2024-04-09-skinning-contest-unchained/banner@2x.jpg
Labels: area:news, size/M

#11223 Add `Skinning_Contest/5`
  wiki/Contests/Skinning_Contest/1/en.md
  wiki/Contests/Skinning_Contest/2/en.md
  wiki/Contests/Skinning_Contest/2/fr.md
  wiki/Contests/Skinning_Contest/3/en.md
  wiki/Contests/Skinning_Contest/3/fr.md
  wiki/Contests/Skinning_Contest/4/en.md
  wiki/Contests/Skinning_Contest/4/fr.md
  wiki/Contests/Skinning_Contest/5/en.md
  wiki/Contests/Skinning_Contest/5/img/banner.jpg
  wiki/Contests/Skinning_Contest/en.md
  wiki/Contests/Skinning_Contest/fr.md
Labels: size/L

#11224 Add update date to `Official beatmapping contest support` article
  wiki/Contests/Official_support/en.md
Labels: size/XS

#11226 [ID] Fix incorrectly placed punctuation mark on `Registration`
  wiki/Registration/id.md
Labels: area:translations, size/XS

#11225 Add `osu!taiko World Cup 2024: Quarterfinals Recap` news post
  news/2024/2024-04-10-osutaiko-world-cup-2024-quarterfinals-recap.md
  wiki/shared/news/2024-04-10-osutaiko-world-cup-2024-quarterfinals-recap/Viatores_Nebulae.jpg
  wiki/shared/news/2024-04-10-osutaiko-world-cup-2024-quarterfinals-recap/Yakou.jpg
Labels: area:news, size/L

#11222 Add more songs to `osu! originals`
  wiki/osu!_originals/en.md
Labels: size/S

#11228 Add badge to `Tournaments/4DM2024`
  wiki/Tournaments/4DM/2024/en.md
Labels: area:tournaments, size/S

#11229 Remove badge from `Tournaments/SEA Summer Suiji Showdown 3`
  wiki/Tournaments/SSSS/3/en.md
  wiki/Tournaments/SSSS/3/img/badge.png
Labels: area:tournaments, size/XS

#11230 Add link to the tournament support updates thread to `Tournaments/Official_support`
  wiki/Tournaments/Official_support/en.md
Labels: area:tournaments, size/XS

#11231 Update `TWC 2024` Semifinals schedules, links
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/M

#11232 Fix image in `osu!taiko World Cup 2024: Quarterfinals Recap` news post
  news/2024/2024-04-10-osutaiko-world-cup-2024-quarterfinals-recap.md
  wiki/shared/news/2024-04-10-osutaiko-world-cup-2024-quarterfinals-recap/Viatores_Nebulae.jpg
Labels: area:news, size/XS

#11206 [IT] Update `Technical Support Team`
  wiki/People/Technical_Support_Team/it.md
Labels: area:translations, size/S

#11237 Add `osu!(lazer) Updates: April 13, 2024` news post
  news/2024/2024-04-13-osu-lazer-updates-april-13-2024.md
  wiki/shared/news/2024-04-13-osulazer-updates-april-13-2024/banner.jpg
  wiki/shared/news/2024-04-13-osulazer-updates-april-13-2024/banner@2x.jpg
  wiki/shared/news/2024-04-13-osulazer-updates-april-13-2024/comparison-accuracy-heatmap.jpg
  wiki/shared/news/2024-04-13-osulazer-updates-april-13-2024/comparison-beatmap-notices.jpg
  wiki/shared/news/2024-04-13-osulazer-updates-april-13-2024/comparison-catmull.jpg
  wiki/shared/news/2024-04-13-osulazer-updates-april-13-2024/comparison-hit-error-bar.jpg
  wiki/shared/news/2024-04-13-osulazer-updates-april-13-2024/comparison-pippidon.jpg
  wiki/shared/news/2024-04-13-osulazer-updates-april-13-2024/comparison-unranked-pp.jpg
  wiki/shared/news/2024-04-13-osulazer-updates-april-13-2024/cookie-poll.png
  wiki/shared/news/2024-04-13-osulazer-updates-april-13-2024/deferred-renderers.png
  wiki/shared/news/2024-04-13-osulazer-updates-april-13-2024/hush-hush.png
  wiki/shared/news/2024-04-13-osulazer-updates-april-13-2024/new-cookie.png
Labels: area:news, size/L

#11243 Update `TWC 2024` with partial results/schedule
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/S

#11244 Add `New Featured Artist: PaceMKR` news post
  news/2024/2024-04-13-new-featured-artist-pacemkr.md
Labels: area:news, size/M

#11236 Update `Beatmap search` with lazer's multi-valued beatmap status filtering
  wiki/Beatmap_search/de.md
  wiki/Beatmap_search/en.md
  wiki/Beatmap_search/es.md
  wiki/Beatmap_search/fr.md
  wiki/Beatmap_search/zh.md
Labels: size/S

#11247 [RU] Add `Client/File_formats/osk_(file_format)` and `Client/File_formats/osz_(file_format)`
  wiki/Client/File_formats/osk_(file_format)/ru.md
  wiki/Client/File_formats/osz_(file_format)/ru.md
Labels: area:translations, size/XS

#11250 Update `TWC 2024` for the Finals stage
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/M

#11251 Update `TWC 2024` links
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/XS

#11242 [IT] Updated miscellaneous articles
  wiki/Announcement_messages/it.md
  wiki/Beatmap/Beatmap_description/it.md
  wiki/Beatmap/Break/it.md
  wiki/Beatmap/Guest_difficulty/it.md
  wiki/Community/osu!_Discord_server/it.md
  wiki/Gameplay/Full_combo/it.md
  wiki/People/Community_Contributors/it.md
  wiki/People/it.md
  wiki/People/osu!_team/it.md
Labels: area:translations, size/L

#11115 [ES] Update `Language Surveillance Division`
  wiki/People/Language_Surveillance_Division/es.md
Labels: area:translations, size/S

#11090 [ES] Add `osu! tournament client/osu!tourney/Spectator usage`
  wiki/osu!_tournament_client/osu!tourney/Spectator_usage/es.md
Labels: area:translations, size/M

#11165 [ES] Update `Writing`
  wiki/Article_styling_criteria/Writing/es.md
Labels: area:translations, size/M

#11254 Add flags for missing users in `TWC 2024`
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/XS

#11235 [ES] Update `People/Nomination Assessment Team`
  wiki/People/Nomination_Assessment_Team/es.md
Labels: area:translations, size/S

#11252 Add more songs and updates to `osu! originals`
  wiki/osu!_originals/en.md
Labels: size/S

#11259 Update `TWC 2024` staff listing
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/XS

#10954 [ES] Update `Gameplay/Judgement/osu!mania`
  wiki/Gameplay/Judgement/osu!mania/es.md
Labels: area:translations, size/M, state/stale merge

#10956 [ES] Update `Client/Beatmap editor/Beat snap divisor`
  wiki/Client/Beatmap_editor/Beat_snap_divisor/es.md
  wiki/Client/Beatmap_editor/Beat_snap_divisor/img/beat_snap_divisor-ES.png
Labels: area:translations, size/M, state/stale merge

#11092 [ES] Add `osu! tournament client/osu!tourney/Setup`
  wiki/osu!_tournament_client/osu!tourney/Setup/es.md
Labels: area:translations, size/M, state/stale merge

#11249 [ES] Update `Beatmap search`
  wiki/Beatmap_search/en.md
  wiki/Beatmap_search/es.md
Labels: area:translations, size/S

#11241 [IT] Update `Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/it.md
Labels: area:translations, size/M, area:help centre

#11255 Update list on `Featured Artist showcase beatmaps`
  wiki/People/Featured_Artists/Featured_Artist_showcase_beatmaps/en.md
  wiki/People/Featured_Artists/Featured_Artist_showcase_beatmaps/fr.md
  wiki/People/Featured_Artists/Featured_Artist_showcase_beatmaps/id.md
  wiki/People/Featured_Artists/Featured_Artist_showcase_beatmaps/ja.md
  wiki/People/Featured_Artists/Featured_Artist_showcase_beatmaps/ru.md
Labels: size/L

#10963 [ES] Update `Community/Project Loved`
  wiki/Community/Project_Loved/es.md
Labels: area:translations, size/M

#11085 [ES] Add `osu! wiki`
  wiki/osu!_wiki/es.md
Labels: area:translations, size/M

#11238 Update osu! pp committee members
  wiki/People/Performance_Points_Committee/en.md
  wiki/People/Performance_Points_Committee/es.md
  wiki/People/Performance_Points_Committee/fr.md
  wiki/People/Performance_Points_Committee/id.md
  wiki/People/Performance_Points_Committee/ru.md
Labels: size/S

#11227 [ZH] Add `Gameplay/Ranked score` and `Gameplay/Total score`
  wiki/Client/Interface/Multiplayer/zh.md
  wiki/Gameplay/Score/Ranked_score/zh.md
  wiki/Gameplay/Score/Total_score/en.md
  wiki/Gameplay/Score/Total_score/fr.md
  wiki/Gameplay/Score/Total_score/id.md
  wiki/Gameplay/Score/Total_score/zh.md
Labels: area:translations, size/M

#11233 Clean up and extend `Reporting bad behaviour/Abuse`
  wiki/Reporting_bad_behaviour/Abuse/de.md
  wiki/Reporting_bad_behaviour/Abuse/en.md
  wiki/Reporting_bad_behaviour/Abuse/es.md
  wiki/Reporting_bad_behaviour/Abuse/fr.md
  wiki/Reporting_bad_behaviour/Abuse/id.md
  wiki/Reporting_bad_behaviour/Abuse/it.md
  wiki/Reporting_bad_behaviour/Abuse/zh.md
Labels: size/M

#11239 [FR] Native review of `Completionists`
  wiki/People/Completionists/fr.md
Labels: area:translations, size/S

#11257 Fix incorrect hitsound rule in `Simplified ranking criteria`
  wiki/Ranking_criteria/Simplified_ranking_criteria/en.md
  wiki/Ranking_criteria/Simplified_ranking_criteria/fr.md
Labels: size/XS, area:ranking criteria

#11089 [ES] Add `osu! tournament client/osu!tourney/Tournament management commands`
  wiki/osu!_tournament_client/osu!tourney/Tournament_management_commands/es.md
Labels: area:translations, size/M, state/stale merge

#11188 [VI] Add `group-info`
  meta/group-info/vi.yaml
Labels: area:translations, area:meta, size/M, state/stale merge

#11015 [KO] Add `TWC/2024`
  wiki/Tournaments/TWC/2024/ko.md
Labels: area:translations, area:tournaments, size/XL

#11260 [KO] Update `Tournaments/Official_support`
  wiki/Tournaments/Official_support/ko.md
Labels: area:translations, area:tournaments, size/XS

#11262 Add content usage permissions rule to the ranking criteria
  wiki/Ranking_criteria/Simplified_ranking_criteria/en.md
  wiki/Ranking_criteria/Simplified_ranking_criteria/zh.md
  wiki/Ranking_criteria/en.md
Labels: size/XS, area:ranking criteria

#11264 Add `osu!taiko World Cup 2024: Semifinals Recap` news post
  news/2024/2024-04-17-osutaiko-world-cup-2024-semifinals-recap.md
  wiki/shared/news/2024-04-17-osutaiko-world-cup-2024-semifinals-recap/Algorithm_54.jpg
  wiki/shared/news/2024-04-17-osutaiko-world-cup-2024-semifinals-recap/Pomegranate.jpg
  wiki/shared/news/2024-04-17-osutaiko-world-cup-2024-semifinals-recap/Switcheroo.jpg
Labels: area:news, size/M

#11267 Fix switched audio previews in `osu!taiko World Cup 2024: Semifinals Recap` news post
  news/2024/2024-04-17-osutaiko-world-cup-2024-semifinals-recap.md
Labels: area:news, size/XS

#11268 Update `TWC 2024` Finals schedule
  wiki/Tournaments/TWC/2024/en.md
  wiki/Tournaments/TWC/2024/ko.md
Labels: area:tournaments, size/XS

#11265 Update number of provided top replays per beatmap difficulty
  wiki/Beatmap/de.md
  wiki/Beatmap/en.md
  wiki/Beatmap/es.md
  wiki/Beatmap/fr.md
  wiki/Beatmap/id.md
  wiki/Beatmap/it.md
  wiki/Beatmap/pt-br.md
  wiki/Beatmap/ru.md
  wiki/Beatmap/uk.md
  wiki/Beatmap/zh.md
Labels: size/S

#11269 Add `CWC 2024` wiki article, registration post
  news/2024/2024-04-18-osu-catch-world-cup-2024-registrations-now-open.md
  wiki/Tournaments/CWC/2024/en.md
  wiki/Tournaments/CWC/2024/img/cwc2024-banner.jpg
  wiki/Tournaments/CWC/2024/img/cwc2024-banner@2x.jpg
  wiki/Tournaments/CWC/en.md
  wiki/Tournaments/CWC/ru.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
Labels: area:news, area:tournaments, size/L

#11093 [ES] Add `osu! tournament client/osu!tourney/Multiplayer usage`
  wiki/osu!_tournament_client/osu!tourney/Multiplayer_usage/es.md
Labels: area:translations, size/M

#11270 Remove 2 picks from `Project Loved: April 2024` news post
  news/2024/2024-04-16-project-loved-april-2024.md
  wiki/shared/news/2024-04-16-project-loved-april-2024/2070101.jpg
  wiki/shared/news/2024-04-16-project-loved-april-2024/2070101@2x.jpg
  wiki/shared/news/2024-04-16-project-loved-april-2024/81730.jpg
  wiki/shared/news/2024-04-16-project-loved-april-2024/81730@2x.jpg
Labels: area:news, size/S

#11274 Add Cinamoro in `Featured Artists` listing
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: size/XS

#11277 Update `TWC 2024` Finals mappool
  wiki/Tournaments/TWC/2024/en.md
  wiki/Tournaments/TWC/2024/ko.md
Labels: area:tournaments, size/S

#11273 Add `Project Prism 2024: Registrations Now Open!` news post
  news/2024/2024-04-19-project-prism-2024-registrations-now-open.md
  wiki/shared/news/2024-04-19-project-prism-2024-registrations-now-open/banner.jpg
  wiki/shared/news/2024-04-19-project-prism-2024-registrations-now-open/banner@2x.jpg
  wiki/shared/news/2024-04-19-project-prism-2024-registrations-now-open/raid-banner.jpg
Labels: area:news, area:tournaments, size/M

#11272 Add `Project Prism 2024` tournament article
  wiki/Tournaments/Project_Prism/2024/en.md
  wiki/Tournaments/Project_Prism/2024/img/banner.jpg
  wiki/Tournaments/Project_Prism/2024/img/character-cards.png
  wiki/Tournaments/Project_Prism/2024/img/raid-battle.jpg
  wiki/Tournaments/Project_Prism/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
Labels: area:tournaments, size/L

#11278 Mark skinning contest badges as pending
  news/2024/2024-04-09-skinning-contest-unchained.md
  wiki/Contests/Skinning_Contest/5/en.md
Labels: area:news, size/S

#11280 Apply change to skinning contest rules and extend submission deadline
  news/2024/2024-04-09-skinning-contest-unchained.md
  wiki/Contests/Skinning_Contest/5/en.md
Labels: area:news, size/S

#11281 Update schedule in skinning contest news post
  news/2024/2024-04-09-skinning-contest-unchained.md
Labels: area:news, size/XS

#11248 [RU] Add `Client/Beatmap_editor/Menu`
  wiki/Client/Beatmap_editor/Menu/img/M_Compose-RU.png
  wiki/Client/Beatmap_editor/Menu/img/M_Design-RU.png
  wiki/Client/Beatmap_editor/Menu/img/M_Edit-RU.png
  wiki/Client/Beatmap_editor/Menu/img/M_File-RU.png
  wiki/Client/Beatmap_editor/Menu/img/M_Help-RU.png
  wiki/Client/Beatmap_editor/Menu/img/M_Timing-RU.png
  wiki/Client/Beatmap_editor/Menu/img/M_View-RU.png
  wiki/Client/Beatmap_editor/Menu/img/M_Web-RU.png
  wiki/Client/Beatmap_editor/Menu/ru.md
Labels: area:translations, size/L

#11301 Update rule in `Skinning Contest #5: Unchained`
  wiki/Contests/Skinning_Contest/5/en.md
Labels: size/XS

#11282 [ES] Update `osu! wiki/Contribution guide`
  wiki/osu!_wiki/Contribution_guide/es.md
Labels: area:translations, size/M

#11266 [ES] Update `Reporting bad behaviour/Abuse`
  wiki/Reporting_bad_behaviour/Abuse/es.md
Labels: area:translations, size/M

#11305 Add `New Featured Artist: watering` news post
  news/2024/2024-04-20-new-featured-artist-watering.md
Labels: area:news, size/M

#11306 Add watering in `Featured Artists` listing
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: size/XS

#11308 Fix accuracy requirement table column order in `Gameplay_differences_in_osu!(lazer)`
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/en.md
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/es.md
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/fr.md
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/zh.md
Labels: size/M

#11309 Update `TWC 2024` with partial Finals results
  wiki/Tournaments/TWC/2024/en.md
  wiki/Tournaments/TWC/2024/ko.md
Labels: area:tournaments, size/M

#11311 Update `TWC 2024` Finals schedule
  wiki/Tournaments/TWC/2024/en.md
  wiki/Tournaments/TWC/2024/ko.md
Labels: area:tournaments, size/XS

#11313 Update `Hard Rock Showdown 2024`
  wiki/Tournaments/HRS/2024/en.md
Labels: area:tournaments, size/L

#11314 Update `TWC 2024` Grand Finals mappool/schedule
  wiki/Tournaments/TWC/2024/en.md
  wiki/Tournaments/TWC/2024/ko.md
Labels: area:tournaments, size/S

#11316 Fix incorrect link in `Tournaments/Official_support`
  wiki/Tournaments/Official_support/en.md
Labels: area:tournaments, size/XS

#11315 Update `osu! originals` with 5WC and TWC songs
  wiki/osu!_originals/en.md
Labels: size/S

#11263 Split artist permissions table based on status in `Content usage permissions`
  wiki/Rules/Content_usage_permissions/de.md
  wiki/Rules/Content_usage_permissions/en.md
  wiki/Rules/Content_usage_permissions/fr.md
  wiki/Rules/Content_usage_permissions/ko.md
  wiki/Rules/Content_usage_permissions/zh.md
Labels: size/XXL

#11196 [DE] Update `History of osu!/2009`
  wiki/History_of_osu!/2009/de.md
Labels: area:translations, size/L

#11303 [IT] Add `Beatmap Spotlights/Seasons/*` and `Beatmap Spotlights/Chart Assembly Team`
  wiki/Beatmap_Spotlights/Chart_Assembly_Team/it.md
  wiki/Beatmap_Spotlights/Seasons/2020_Autumn/it.md
  wiki/Beatmap_Spotlights/Seasons/2020_Summer/it.md
  wiki/Beatmap_Spotlights/Seasons/2021_Spring/it.md
  wiki/Beatmap_Spotlights/Seasons/2021_Winter/it.md
  wiki/Beatmap_Spotlights/Seasons/2022_Spring/it.md
  wiki/Beatmap_Spotlights/Seasons/2022_Summer/it.md
  wiki/Beatmap_Spotlights/Seasons/2022_Winter/it.md
  wiki/Beatmap_Spotlights/Seasons/2023_Autumn/it.md
  wiki/Beatmap_Spotlights/Seasons/2023_Spring/it.md
  wiki/Beatmap_Spotlights/Seasons/2023_Winter/it.md
  wiki/Beatmap_Spotlights/Seasons/it.md
Labels: area:translations, size/XXL

#11302 [ES] Add `osu!mania 10K+ playstyles`
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/es.md
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/10K2S-hands-ES.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/10K2S-hands-ES@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/10K2S-keys-ES.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/10K2S-keys-ES@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/10K8K-hands-ES.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/10K8K-hands-ES@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/10K8K-keys-ES.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/10K8K-keys-ES@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/9K9K-hands-ES.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/9K9K-hands-ES@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/9K9K-keys-ES.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/9K9K-keys-ES@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/DP-hands-ES.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/DP-hands-ES@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/DP-keys-ES.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/DP-keys-ES@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/EZ2-hands-ES.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/EZ2-hands-ES@2x.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/EZ2-keys-ES.png
  wiki/Beatmapping/osu!mania_10K_plus_playstyles/img/EZ2-keys-ES@2x.png
Labels: area:translations, size/L

#11284 [ES] Update `People/Tournament Committee`
  wiki/People/Tournament_Committee/es.md
Labels: area:translations, size/M

#11294 [ES] Add `Storyboard/Scripting/Variables`
  wiki/Storyboard/Scripting/Variables/es.md
Labels: area:translations, size/M

#11292 [ES] Add `Storyboard/Scripting/Objects`
  wiki/Storyboard/Scripting/Objects/es.md
  wiki/Storyboard/Scripting/Objects/img/SBS_Sprite-ES.png
Labels: area:translations, size/M

#11293 [ES] Add `Storyboard/Scripting/Shorthand`
  wiki/Storyboard/Scripting/Shorthand/es.md
Labels: area:translations, size/M

#11328 Add `osu!taiko World Cup 2024: Finals Recap` news post
  news/2024/2024-04-24-osutaiko-world-cup-2024-finals-recap.md
  wiki/shared/news/2024-04-24-osutaiko-world-cup-2024-finals-recap/Kaze_no_Denwa.jpg
  wiki/shared/news/2024-04-24-osutaiko-world-cup-2024-finals-recap/Nebula.jpg
Labels: area:news, size/M

#11286 [ES] Update `Ranking criteria`
  wiki/Ranking_criteria/es.md
Labels: area:translations, size/S, area:ranking criteria

#11297 [ES] Add `Tournaments/Badge-weighted seeding`
  wiki/Tournaments/Badge-weighted_seeding/es.md
Labels: area:translations, area:tournaments, size/M

#11296 [ES] Add `Storyboard/Scripting/osu! File Toggles`
  wiki/Storyboard/Scripting/osu!_File_Toggles/es.md
Labels: area:translations, size/S

#11283 [ES] Update `Registration`, `Skinning/Guides and important threads`, and `Storyboard`
  wiki/Registration/es.md
  wiki/Skinning/Guides_and_important_threads/es.md
  wiki/Storyboard/es.md
Labels: area:translations, size/M

#11332 Update `TWC 2024` links, staff listing
  wiki/Tournaments/TWC/2024/en.md
  wiki/Tournaments/TWC/2024/ko.md
Labels: area:tournaments, size/XS

#11300 [ES] Update `TAG beatmaps`
  wiki/Beatmap/TAG_beatmaps/es.md
  wiki/Beatmap/TAG_beatmaps/img/tag-beatmap-example-ES.png
Labels: area:translations, size/S

#11335 Update `TWC 2024` with partial Grand Finals results
  wiki/Tournaments/TWC/2024/en.md
  wiki/Tournaments/TWC/2024/ko.md
Labels: area:tournaments, size/M

#11338 Update `TWC 2024` with tournament results
  wiki/Tournaments/TWC/2024/en.md
  wiki/Tournaments/TWC/2024/img/twc2024-badge-1st.png
  wiki/Tournaments/TWC/2024/img/twc2024-badge-1st@2x.png
  wiki/Tournaments/TWC/2024/img/twc2024-badge-2nd.png
  wiki/Tournaments/TWC/2024/img/twc2024-badge-2nd@2x.png
  wiki/Tournaments/TWC/2024/img/twc2024-badge-3rd.png
  wiki/Tournaments/TWC/2024/img/twc2024-badge-3rd@2x.png
  wiki/Tournaments/TWC/2024/img/twc2024-podium.jpg
  wiki/Tournaments/TWC/2024/img/twc2024-podium@2x.jpg
  wiki/Tournaments/TWC/2024/ko.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
Labels: area:tournaments, size/M

#11339 Add `New Featured Artist: Billx` news post
  news/2024/2024-04-28-new-featured-artist-billx.md
Labels: area:news, size/M

#11340 Replace osu! original banners in multiple TWC news posts
  news/2024/2024-03-27-osutaiko-world-cup-2024-round-of-32-recap.md
  news/2024/2024-04-03-osutaiko-world-cup-2024-round-of-16-recap.md
  news/2024/2024-04-10-osutaiko-world-cup-2024-quarterfinals-recap.md
  wiki/shared/news/2024-03-27-osutaiko-world-cup-2024-round-of-32-recap/Frozen_Blood.jpg
  wiki/shared/news/2024-04-03-osutaiko-world-cup-2024-round-of-16-recap/Train_of_Thought.jpg
  wiki/shared/news/2024-04-03-osutaiko-world-cup-2024-round-of-16-recap/Usuva_Kagerow.jpg
  wiki/shared/news/2024-04-03-osutaiko-world-cup-2024-round-of-16-recap/aqua_vitae.jpg
  wiki/shared/news/2024-04-10-osutaiko-world-cup-2024-quarterfinals-recap/Viatores_Nebulae.jpg
  wiki/shared/news/2024-04-10-osutaiko-world-cup-2024-quarterfinals-recap/Yakou.jpg
Labels: area:news, size/S

#11341 Update `osu!tourney setup`
  wiki/osu!_tournament_client/osu!tourney/Setup/de.md
  wiki/osu!_tournament_client/osu!tourney/Setup/en.md
  wiki/osu!_tournament_client/osu!tourney/Setup/es.md
  wiki/osu!_tournament_client/osu!tourney/Setup/fr.md
  wiki/osu!_tournament_client/osu!tourney/Setup/it.md
Labels: size/S

#11342 [ES] Update `osu! tournament client/osu!tourney/Setup`
  wiki/osu!_tournament_client/osu!tourney/Setup/es.md
Labels: area:translations, size/S

#11343 Add Exyl to Featured Artists with osu! accounts
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/ru.md
  wiki/People/Featured_Artists/zh.md
Labels: size/XS
