Repository ppy/osu-wiki, pull requests merged in 2024-03, with the labels that each got.

#11051 Fix wrong number in `GBC 2024 Spring`
  wiki/Tournaments/GBC/GBC_2024_Spring/en.md
Labels: area:tournaments, size/XS

#11058 Add `New Featured Artist: Takamachi Walk` news post
  news/2024/2024-03-02-new-featured-artist-takamachi-walk.md
Labels: area:news, size/M

#11059 Add Spring 2024 Mentorship Signups newspost
  news/2024/2024-03-05-community-mentorship-program-spring-2024-signups-now-open.md
Labels: area:news, size/M

#10896 Cleanup/Rewrite `Beatmap/TAG` as `TAG beatmaps`
  news/2023/2023-12-22-how-advances-in-technology-affected-the-osu-community.md
  wiki/Beatmap/TAG/en.md
  wiki/Beatmap/TAG_beatmaps/de.md
  wiki/Beatmap/TAG_beatmaps/en.md
  wiki/Beatmap/TAG_beatmaps/es.md
  wiki/Beatmap/TAG_beatmaps/fr.md
  wiki/Beatmap/TAG_beatmaps/id.md
  wiki/Beatmap/TAG_beatmaps/img/tag-beatmap-example.png
  wiki/Beatmap/TAG_beatmaps/it.md
  wiki/Beatmap/TAG_beatmaps/ja.md
  wiki/Beatmap/TAG_beatmaps/ko.md
  wiki/Beatmap/TAG_beatmaps/ru.md
  wiki/Beatmap/TAG_beatmaps/th.md
  wiki/Beatmap/TAG_beatmaps/zh-tw.md
  wiki/Beatmap/TAG_beatmaps/zh.md
  wiki/History_of_osu!/History_of_Loved/en.md
  wiki/History_of_osu!/History_of_Loved/es.md
  wiki/History_of_osu!/History_of_Loved/fr.md
  wiki/redirect.yaml
Labels: size/M

#11065 Update `TWC 2024` team listing
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/S

#11068 Fix wrong year in Mentorship Program news post
  news/2024/2024-03-05-community-mentorship-program-spring-2024-signups-now-open.md
Labels: area:news, size/XS

#11070 Update wiki tournament `GBC 2024 Spring`
  wiki/Tournaments/GBC/GBC_2024_Spring/en.md
  wiki/Tournaments/GBC/GBC_2024_Spring/img/GBC-2024-Spring-banner.png
  wiki/Tournaments/GBC/GBC_2024_Spring/zh.md
Labels: area:tournaments, size/S

#11075 Update `TWC 2024` team listing
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/S

#11076 Fix typo in `Rules/Visual content considerations`
  wiki/Rules/Visual_content_considerations/en.md
Labels: size/XS

#11077 Update `TWC 2024` team listing
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/S

#11078 Update `TWC 2024` rules, links
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/XS

#11081 Add `New Featured Artist: Pandize` news post
  news/2024/2024-03-09-new-featured-artist-pandize.md
Labels: area:news, size/M

#11082 Add Pandize on `Featured Artist` listing
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: size/XS

#11083 Update `TWC 2024` for the Qualifier stage
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/S

#10953 [ES] Update `Game mode/osu!`
  wiki/Game_mode/osu!/es.md
Labels: area:translations, size/L

#11084 Add Qualifier pool to `Hard Rock Showdown 2024`
  wiki/Tournaments/HRS/2024/en.md
Labels: area:tournaments, size/S

#11097 Add `osu!(lazer) Updates: March 11, 2024` news post
  news/2024/2024-03-11-osu-lazer-updates-march-11.md
  wiki/shared/news/2024-03-11-osu-lazer-updates-march-11/banner.jpg
  wiki/shared/news/2024-03-11-osu-lazer-updates-march-11/banner@2x.jpg
Labels: area:news, size/M

#11098 Fix incorrect date in `Tournaments`
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
Labels: area:tournaments, size/XS

#11086 [ES] Add `osu! wiki/Contribution guide/GitHub web-based editor`
  wiki/osu!_wiki/Contribution_guide/GitHub_web-based_editor/es.md
Labels: area:translations, size/M

#10957 [ES] Update `Community/Mappers Guild`
  wiki/Community/Mappers_Guild/es.md
Labels: area:translations, size/M

#11074 [ZH] Update `Upgrading_to_lazer`
  wiki/Help_centre/Upgrading_to_lazer/zh.md
Labels: area:translations, size/M, area:help centre

#11064 [ID] Cleanup `Community` index page
  wiki/Community/id.md
Labels: area:translations, size/XS

#11062 [ID] Cleanup `Brand identity guidelines`
  wiki/Brand_identity_guidelines/id.md
Labels: area:translations, size/M

#11060 [ID] Update `osu! Discord server`
  wiki/Community/osu!_Discord_server/id.md
Labels: area:translations, size/M, state/stale merge

#11049 [ID] Update and retranslate `Beatmap category`
  wiki/Beatmap/Category/id.md
Labels: area:translations, size/M, state/stale merge

#11057 [ID] Cleanup `Copyright`
  wiki/Legal/Copyright/id.md
Labels: area:translations, size/M, area:legal

#11032 [ID] Update/Cleanup `Reporting bad behaviour/Abuse`
  wiki/Reporting_bad_behaviour/Abuse/id.md
Labels: area:translations, size/M

#11047 [FR] Add `Beatmap/Converts`
  wiki/Beatmap/Converts/fr.md
Labels: area:translations, size/M, state/stale merge

#11050 Update MWC winners in `Users with unique titles`
  wiki/People/Users_with_unique_titles/de.md
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/es.md
  wiki/People/Users_with_unique_titles/fr.md
  wiki/People/Users_with_unique_titles/zh.md
Labels: size/M

#11071 [ZH] Update `Game mode/osu!taiko`
  wiki/Game_mode/osu!taiko/zh.md
Labels: area:translations, size/M

#11069 Add `The Followpoint: BTMC, the Face of osu!` news post
  news/2024/2024-03-13-the-followpoint-btmc-the-face-of-osu.md
  wiki/shared/news/2024-03-13-the-followpoint-btmc-the-face-of-osu/banner.jpg
  wiki/shared/news/2024-03-13-the-followpoint-btmc-the-face-of-osu/banner@2x.jpg
  wiki/shared/news/2024-03-13-the-followpoint-btmc-the-face-of-osu/weirdchamp.jpg
Labels: area:news, size/L

#10848 Update `People/Tournament Committee` with Contest Committee
  wiki/People/Tournament_Committee/de.md
  wiki/People/Tournament_Committee/en.md
  wiki/People/Tournament_Committee/es.md
  wiki/People/Tournament_Committee/fr.md
  wiki/People/Tournament_Committee/id.md
  wiki/People/Tournament_Committee/ko.md
  wiki/People/Tournament_Committee/ru.md
  wiki/People/Tournament_Committee/zh-tw.md
  wiki/People/Tournament_Committee/zh.md
Labels: area:tournaments, size/M

#11101 Fix link text in `Tournament Committee`
  wiki/People/Tournament_Committee/en.md
Labels: size/XS

#11103 Replace banner in `The Followpoint: BTMC, the Face of osu!`
  news/2024/2024-03-13-the-followpoint-btmc-the-face-of-osu.md
  wiki/shared/news/2024-03-13-the-followpoint-btmc-the-face-of-osu/banner.jpg
  wiki/shared/news/2024-03-13-the-followpoint-btmc-the-face-of-osu/banner@2x.jpg
Labels: area:news, size/XS

#11104 Fx date in `Tournament Committee`
  wiki/People/Tournament_Committee/en.md
Labels: size/XS

#11107 Add shdewz to `People/Tournament Committee`
  wiki/People/Tournament_Committee/en.md
Labels: size/XS

#11105 Fix wrong hit window in `Overall difficulty`
  wiki/Beatmap/Overall_difficulty/en.md
  wiki/Beatmap/Overall_difficulty/es.md
  wiki/Beatmap/Overall_difficulty/fr.md
  wiki/Beatmap/Overall_difficulty/id.md
  wiki/Beatmap/Overall_difficulty/it.md
  wiki/Beatmap/Overall_difficulty/ru.md
  wiki/Beatmap/Overall_difficulty/zh.md
Labels: size/S

#11113 Tiny update of wiki article `GBC 2024 Spring`
  wiki/Tournaments/GBC/GBC_2024_Spring/en.md
  wiki/Tournaments/GBC/GBC_2024_Spring/zh.md
Labels: area:tournaments, size/XS

#11114 [ES] Fix typo in `Genre and language`
  wiki/Beatmap/Genre_and_language/es.md
Labels: area:translations, size/XS

#11056 [DA] Add `Song content rules`
  wiki/Rules/Song_content_rules/da.md
Labels: area:translations, size/M

#11118 Update `osu! originals` with new tracks
  wiki/osu!_originals/en.md
Labels: size/S

#11119 Add `New Featured Artist: YonKaGor` news post
  news/2024/2024-03-16-new-featured-artist-yonkagor.md
Labels: area:news, size/M

#11124 Update `TWC 2024` for the Round of 32 stage
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/L

#11125 Update `osu! originals` with TWC 2024 Ro32 originals
  wiki/osu!_originals/en.md
Labels: size/S

#11126 Fix wrong hyperlink in `Project Loved: March 2024`
  news/2024/2024-03-17-project-loved-march-2024.md
Labels: area:news, size/XS

#11127 Update `Hard Rock Showdown 2024`
  wiki/Tournaments/HRS/2024/en.md
Labels: area:tournaments, size/L

#11131 Update `Hard Rock Showdown`
  wiki/Tournaments/HRS/2024/en.md
Labels: area:tournaments, size/L

#11134 Add `Changes to performance points` news post
  news/2024/2024-03-19-changes-to-performance-points.md
  wiki/shared/news/2024-03-19-changes-to-performance-points/performance-bonus-change.png
  wiki/shared/news/2024-03-19-changes-to-performance-points/performance-graph-flip-flop.png
Labels: area:news, size/M

#11135 Fix typo in `Changes to Performance Points` news post
  news/2024/2024-03-19-changes-to-performance-points.md
Labels: area:news, size/XS

#11136 Fix typo in `Changes to Performance Points` news post
  news/2024/2024-03-19-changes-to-performance-points.md
Labels: area:news, size/XS

#11137 Update `TWC 2024` links/staff listing/schedules
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/S

#11129 [ZH] Add `Account support team`
  wiki/People/Account_support_team/zh.md
Labels: area:translations, size/M

#10959 [ES] Update `Client/File formats/osu (file format)`
  wiki/Client/File_formats/osu_(file_format)/es.md
Labels: area:translations, size/L

#11094 [ES] Add `osu! tournament client`
  wiki/osu!_tournament_client/es.md
Labels: area:translations, size/M

#11020 [ZH-TW] Update `Break`
  wiki/Beatmap/Break/zh-tw.md
Labels: area:translations, size/S

#11096 [ID] Cleanup `Registration`
  wiki/Registration/id.md
Labels: area:translations, size/S

#11080 [FR] Update `Game mode/osu!taiko`
  wiki/Beatmap/Converts/fr.md
  wiki/Game_mode/osu!taiko/fr.md
Labels: area:translations, size/M, state/stale merge

#11036 [FR] Update `News styling criteria`
  wiki/News_styling_criteria/fr.md
Labels: area:translations, size/S, state/stale merge

#11037 [FR] Update `People/User group`
  wiki/People/User_group/fr.md
Labels: area:translations, size/S, state/stale merge

#11038 [FR] Update `Beatmap search`
  wiki/Beatmap_search/fr.md
Labels: area:translations, size/S, state/stale merge

#11040 [FR] Update `Community/Mappers Guild`
  wiki/Community/Mappers_Guild/fr.md
Labels: area:translations, size/XS, state/stale merge

#11041 [FR] Update `Client/Release stream/Lazer/Gameplay differences in osu!(lazer)`
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/fr.md
Labels: area:translations, size/L, state/stale merge

#11042 [FR] Update `Gameplay/Game modifier/Target Practice`
  wiki/Gameplay/Game_modifier/Target_Practice/fr.md
Labels: area:translations, size/S, state/stale merge

#11079 [FR] Update `Beatmap/TAG beatmaps`
  wiki/Beatmap/TAG_beatmaps/fr.md
Labels: area:translations, size/S, state/stale merge

#11099 [ID] Add `User group`
  wiki/People/User_group/id.md
Labels: area:translations, size/M, state/stale merge

#11120 Add `Bespoke Music in osu!` news post
  news/2024/2024-03-20-bespoke-music-in-osu.md
  wiki/shared/news/2024-03-20-bespoke-music-in-osu/HowToPlayLN.png
  wiki/shared/news/2024-03-20-bespoke-music-in-osu/Its_not_Marvin.png
  wiki/shared/news/2024-03-20-bespoke-music-in-osu/Jerry.png
  wiki/shared/news/2024-03-20-bespoke-music-in-osu/Kasumi-sama.png
  wiki/shared/news/2024-03-20-bespoke-music-in-osu/akatsuki-parts.png
  wiki/shared/news/2024-03-20-bespoke-music-in-osu/banner.jpg
  wiki/shared/news/2024-03-20-bespoke-music-in-osu/banner@2x.jpg
  wiki/shared/news/2024-03-20-bespoke-music-in-osu/fa-listing-original-label.png
  wiki/shared/news/2024-03-20-bespoke-music-in-osu/iris.jpg
  wiki/shared/news/2024-03-20-bespoke-music-in-osu/originals-over-time.png
  wiki/shared/news/2024-03-20-bespoke-music-in-osu/takehirotei.png
Labels: area:news, size/L

#11138 [ZH] Fix typo in `GBC 2024 Spring`
  wiki/Tournaments/GBC/GBC_2024_Spring/zh.md
Labels: area:translations, area:tournaments, size/XS

#10622 Add `History of osu!/2010`
  wiki/History_of_osu!/2010/de.md
  wiki/History_of_osu!/2010/en.md
  wiki/History_of_osu!/2010/es.md
  wiki/History_of_osu!/2010/fr.md
  wiki/History_of_osu!/2010/id.md
  wiki/History_of_osu!/2010/img/.gitkeep
  wiki/History_of_osu!/2010/img/osu!arcade.jpg
  wiki/History_of_osu!/2010/pt-br.md
Labels: size/L

#11143 Update `TWC 2024` Round of 32 schedule
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/S

#11145 Fix number in `Hard Rock Showdown`
  wiki/Tournaments/HRS/2024/en.md
Labels: area:tournaments, size/XS

#11110 Add `4 Digit World Cup 2024: Registrations Now Open!` news post
  news/2024/2024-03-21-4-digit-world-cup-2024-registrations-now-open.md
  wiki/shared/news/2024-03-21-4-digit-world-cup-2024-registrations-now-open/banner.jpg
  wiki/shared/news/2024-03-21-4-digit-world-cup-2024-registrations-now-open/banner@2x.jpg
Labels: area:news, size/M

#11147 Update `TWC 2024` Round of 32 schedule
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/XS

#11144 Add `4 Digit World Cup 2024` article
  wiki/Tournaments/4WC/2024/en.md
  wiki/Tournaments/4WC/2024/img/banner.jpg
  wiki/Tournaments/4WC/en.md
  wiki/Tournaments/en.md
  wiki/Tournaments/fr.md
Labels: area:tournaments, size/L

#11146 Link 4WC wiki article in `4 Digit World Cup 2024: Registrations Now Open!` news post
  news/2024/2024-03-21-4-digit-world-cup-2024-registrations-now-open.md
Labels: area:news, size/XS

#11149 Add Battle of the Box 2024 tracks to `osu! originals`
  wiki/osu!_originals/en.md
Labels: size/S

#11128 Update staff pages for March 2024
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Beatmap_Nominators/es.md
  wiki/People/Beatmap_Nominators/fr.md
  wiki/People/Beatmap_Nominators/zh.md
  wiki/People/Global_Moderation_Team/de.md
  wiki/People/Global_Moderation_Team/en.md
  wiki/People/Global_Moderation_Team/es.md
  wiki/People/Global_Moderation_Team/fr.md
  wiki/People/Global_Moderation_Team/id.md
  wiki/People/Global_Moderation_Team/it.md
  wiki/People/Global_Moderation_Team/ja.md
  wiki/People/Global_Moderation_Team/ko.md
  wiki/People/Global_Moderation_Team/pl.md
  wiki/People/Global_Moderation_Team/pt-br.md
  wiki/People/Global_Moderation_Team/ru.md
  wiki/People/Global_Moderation_Team/th.md
  wiki/People/Global_Moderation_Team/tr.md
  wiki/People/Global_Moderation_Team/zh-tw.md
  wiki/People/Global_Moderation_Team/zh.md
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Nomination_Assessment_Team/es.md
  wiki/People/Nomination_Assessment_Team/fr.md
  wiki/People/Technical_Support_Team/fr.md
  wiki/People/Technical_Support_Team/id.md
  wiki/People/Technical_Support_Team/it.md
  wiki/People/Technical_Support_Team/pl.md
  wiki/People/Technical_Support_Team/pt-br.md
  wiki/People/Technical_Support_Team/ru.md
  wiki/People/Technical_Support_Team/tr.md
  wiki/People/Technical_Support_Team/uk.md
  wiki/People/Technical_Support_Team/zh-tw.md
  wiki/People/osu!_Alumni/de.md
  wiki/People/osu!_Alumni/en.md
  wiki/People/osu!_Alumni/es.md
  wiki/People/osu!_Alumni/fr.md
  wiki/People/osu!_Alumni/id.md
  wiki/People/osu!_Alumni/it.md
  wiki/People/osu!_Alumni/ja.md
  wiki/People/osu!_Alumni/ko.md
  wiki/People/osu!_Alumni/pl.md
  wiki/People/osu!_Alumni/pt-br.md
  wiki/People/osu!_Alumni/ru.md
  wiki/People/osu!_Alumni/tr.md
  wiki/People/osu!_Alumni/zh-tw.md
  wiki/People/osu!_Alumni/zh.md
Labels: size/XXL

#11151 Update search operator table in `Beatmap search`
  wiki/Beatmap_search/en.md
  wiki/Beatmap_search/es.md
  wiki/Beatmap_search/fr.md
Labels: size/M

#11157 Add `Spring 2024 Fanart Contest: Voting Open` news post
  news/2024/2024-03-22-spring-fanart-voting.md
Labels: area:news, size/M

#11158 Update staff list in `4 Digit World Cup 2024`
  wiki/Tournaments/4WC/2024/en.md
Labels: area:tournaments, size/XS

#11159 Add `Monthly Beatmapping Contest: March 2024` news post
  news/2024/2024-03-23-monthly-beatmapping-contest-march-2024.md
  wiki/Contests/Contest_points/en.md
  wiki/Contests/Contest_points/fr.md
  wiki/shared/news/2024-03-23-monthly-beatmapping-contest-march-2024/taiko.png
Labels: area:news, size/L

#11160 Fix links in `Monthly Beatmapping Contest: March 2024` news post
  news/2024/2024-03-23-monthly-beatmapping-contest-march-2024.md
Labels: area:news, size/XS

#11112 Update spelling for "No Mod" and "Free Mod" in `Article styling criteria/Writing` and `Game modifier`
  wiki/Article_styling_criteria/Writing/de.md
  wiki/Article_styling_criteria/Writing/en.md
  wiki/Article_styling_criteria/Writing/es.md
  wiki/Article_styling_criteria/Writing/fr.md
  wiki/Article_styling_criteria/Writing/ru.md
  wiki/Article_styling_criteria/Writing/zh.md
  wiki/Gameplay/Game_modifier/de.md
  wiki/Gameplay/Game_modifier/en.md
  wiki/Gameplay/Game_modifier/es.md
  wiki/Gameplay/Game_modifier/fr.md
  wiki/Gameplay/Game_modifier/id.md
  wiki/Gameplay/Game_modifier/ru.md
  wiki/Gameplay/Game_modifier/uk.md
  wiki/Gameplay/Game_modifier/zh.md
  wiki/Tournaments/CWC/2022/en.md
  wiki/Tournaments/CWC/2023/en.md
  wiki/Tournaments/GBC/GBC_2022_Autumn/en.md
  wiki/Tournaments/GBC/GBC_2022_Autumn/zh.md
  wiki/Tournaments/GBC/GBC_2023_Autumn/en.md
  wiki/Tournaments/GBC/GBC_2023_Autumn/zh.md
  wiki/Tournaments/GBC/GBC_2023_Spring/en.md
  wiki/Tournaments/GBC/GBC_2023_Spring/zh.md
  wiki/Tournaments/GBC/GBC_2024_Spring/en.md
  wiki/Tournaments/GBC/GBC_2024_Spring/zh.md
  wiki/Tournaments/JHC/JHC_2024/en.md
  wiki/Tournaments/JHC/JHC_2024/zh.md
  wiki/Tournaments/MWC/2022_4K/en.md
  wiki/Tournaments/MWC/2023_4K/en.md
  wiki/Tournaments/OWC/2022/en.md
  wiki/Tournaments/OWC/2022/ko.md
  wiki/Tournaments/OWC/2023/en.md
  wiki/Tournaments/OWC/2023/ko.md
  wiki/Tournaments/OWC/2023/zh-tw.md
  wiki/Tournaments/SVSE/2/en.md
  wiki/Tournaments/TWC/2022/en.md
  wiki/Tournaments/TWC/2023/en.md
  wiki/Tournaments/TWC/2024/en.md
  wiki/Tournaments/YHC/2/en.md
  wiki/Tournaments/YHC/2/zh.md
  wiki/Tournaments/YHC/3/en.md
  wiki/Tournaments/YHC/3/zh.md
  wiki/Tournaments/o!RT/2021/en.md
  wiki/Tournaments/o!RT/2022/en.md
  wiki/Tournaments/o!RT/2023/en.md
Labels: size/L

#11161 Update `TWC 2024` with partial Round of 32 results
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/M

#11163 Fix artist name in `Monthly Beatmapping Contest: March 2024` news post
  news/2024/2024-03-23-monthly-beatmapping-contest-march-2024.md
Labels: area:news, size/XS

#11164 [FR] Fix typo in `Client/Interface`
  wiki/Client/Interface/fr.md
Labels: area:translations, size/XS

#11166 Add past tense in `The Roundtable` wiki page
  wiki/Tournaments/The_Roundtable/en.md
Labels: area:tournaments, size/XS

#11162 Update tournaments index for `3WC` and `4WC`
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/zh.md
Labels: area:tournaments, size/M

#11167 Update `TWC 2024` for the Round of 16 stage
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/M

#11168 Add round of 32 results + ro16 mappool
  wiki/Tournaments/HRS/2024/en.md
Labels: area:tournaments, size/M

#11169 Add `New Featured Artist: Cansol` news post
  news/2024/2024-03-24-new-featured-artist-cansol.md
Labels: area:news, size/M

#11170 Add more tracks to `osu! originals`
  wiki/osu!_originals/en.md
Labels: size/M

#11171 Fix livestream link timestamp in `New Featured Artist: Cansol` news post
  news/2024/2024-03-24-new-featured-artist-cansol.md
Labels: area:news, size/XS

#11172 Add links for TWC2024 tracks in `osu! originals`
  wiki/osu!_originals/en.md
Labels: size/XS

#11174 Update `TWC 2024` links, mappool
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/XS

#11072 [DE] Update `Tournaments`
  wiki/Tournaments/de.md
Labels: area:translations, area:tournaments, size/M

#11175 Add `osu!taiko World Cup 2024: Round of 32 Recap` news post
  news/2024/2024-03-27-osutaiko-world-cup-2024-round-of-32-recap.md
  wiki/shared/news/2024-03-27-osutaiko-world-cup-2024-round-of-32-recap/Frozen_Blood.jpg
Labels: area:news, size/L

#11139 [ZH] Add `Beatmap/Converts`
  wiki/Beatmap/Converts/zh.md
Labels: area:translations, size/M

#11152 [ES] Update `People/Nomination Assessment Team`
  wiki/People/Nomination_Assessment_Team/es.md
Labels: area:translations, size/XS

#11154 [ZH] Update `People` nested articles
  wiki/People/Developers/zh.md
  wiki/People/Global_Moderation_Team/zh.md
  wiki/People/Nomination_Assessment_Team/zh.md
  wiki/People/Tournament_Committee/zh.md
  wiki/People/osu!_team/zh.md
Labels: area:translations, size/L

#11153 [ZH] Update `Beatmap search`
  wiki/Beatmap_search/zh.md
Labels: area:translations, size/M

#11156 [ZH] Update `Best practices`
  wiki/osu!_wiki/Contribution_guide/Best_practices/zh.md
Labels: area:translations, size/M

#11155 [ZH] Update `Content usage permissions`
  wiki/Rules/Content_usage_permissions/zh.md
Labels: area:translations, size/L

#11111 [RU] Add `Music theory/Downbeat`
  wiki/Music_theory/Downbeat/ru.md
Labels: area:translations, size/S

#11063 [RU] Update `Help centre/Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/ru.md
Labels: area:translations, size/L, area:help centre

#11177 Update VMC2 schedule
  news/2024/2024-01-28-vocaloid-mapping-contest-2.md
  wiki/Contests/VMC/2/en.md
  wiki/Contests/VMC/2/fr.md
Labels: area:news, size/S

#11176 Update `Monthly Beatmapping Contest`
  wiki/Contests/Monthly_Beatmapping_Contest/en.md
  wiki/Contests/Monthly_Beatmapping_Contest/fr.md
Labels: size/S

#11178 Update `Hard Rock Showdown`
  wiki/Tournaments/HRS/2024/en.md
Labels: area:tournaments, size/XS

#11116 [ES] Update `Guest difficulty`
  wiki/Beatmap/Guest_difficulty/es.md
Labels: area:translations, size/XS

#11091 [ES] Add `osu! tournament client/osu!tourney/Skinning`
  wiki/osu!_tournament_client/osu!tourney/Skinning/es.md
Labels: area:translations, size/S

#10955 [ES] Update `Client/Keyboard shortcuts`
  wiki/Client/Beatmap_editor/es.md
  wiki/Client/Interface/es.md
  wiki/Client/Keyboard_shortcuts/es.md
Labels: area:translations, size/L

#11088 [ES] Add `osu! tournament client/osu!tourney/Troubleshooting`
  wiki/osu!_tournament_client/osu!tourney/Troubleshooting/es.md
Labels: area:translations, size/M

#11087 [ES] Add `osu! tournament client/osu!tourney`
  wiki/osu!_tournament_client/osu!tourney/es.md
Labels: area:translations, size/S

#11179 Update `TWC 2024` Round of 16 schedule
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/S

#11180 Update `TWC 2024` Round of 16 schedule
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/XS

#11184 Add `Spring 2024 Fanart Contest: Results` news post
  news/2024/2024-03-30-spring-fanart-results.md
  wiki/shared/news/2024-03-30-spring-fanart-results/peppy-response.png
Labels: area:news, size/L

#11185 Fix banner crop and formatting issues in `Spring 2024 Fanart Contest: Results` news post
  news/2024/2024-03-30-spring-fanart-results.md
  wiki/shared/news/2024-03-30-spring-fanart-results/banner.jpg
  wiki/shared/news/2024-03-30-spring-fanart-results/banner@2x.jpg
Labels: area:news, size/M

#11182 Update `History of osu!`
  wiki/History_of_osu!/de.md
  wiki/History_of_osu!/en.md
Labels: size/XS

#11142 [NL] Add/Update `Beatmapping`
  wiki/Beatmapping/Active_object/nl.md
  wiki/Beatmapping/Beat_snapping/nl.md
  wiki/Beatmapping/Colourhaxing/nl.md
  wiki/Beatmapping/Combo/nl.md
  wiki/Beatmapping/Combo_colour/nl.md
  wiki/Beatmapping/Grid_snapping/nl.md
  wiki/Beatmapping/Hitsound/nl.md
  wiki/Beatmapping/New_combo/nl.md
  wiki/Beatmapping/Overmapping/nl.md
  wiki/Beatmapping/Sampleset/nl.md
  wiki/Beatmapping/Slider_tick_rate/nl.md
  wiki/Beatmapping/Timing/nl.md
  wiki/Beatmapping/Trigger_distance/nl.md
Labels: area:translations, size/L, state/stale merge

#11117 [ID] Cleanup/Retranslate `Difficulty`
  wiki/Beatmap/Difficulty/id.md
Labels: area:translations, size/S, state/stale merge

#11109 [ID] Update `Account support team`
  wiki/People/Account_support_team/id.md
Labels: area:translations, size/M, state/stale merge

#11183 Clean up `Community/How you can help!` slightly
  wiki/Community/How_you_can_help!/de.md
  wiki/Community/How_you_can_help!/en.md
  wiki/Community/How_you_can_help!/es.md
  wiki/Community/How_you_can_help!/fr.md
  wiki/Community/How_you_can_help!/it.md
  wiki/Community/How_you_can_help!/zh.md
Labels: size/M

#11108 [ID] Update `osu!api`
  wiki/osu!api/id.md
Labels: area:translations, size/S, state/stale merge

#11102 [ID] Update `Do you really want to ask peppy?`
  wiki/Do_you_really_want_to_ask_peppy/id.md
Labels: area:translations, size/S, state/stale merge

#11073 [DE] Update `Beatmap search`, `People/GMT`, `People/User group` and `Ranking criteria/Difficulty naming`
  wiki/Beatmap_search/de.md
  wiki/People/Global_Moderation_Team/de.md
  wiki/People/User_group/de.md
  wiki/Ranking_criteria/Difficulty_naming/de.md
Labels: area:translations, size/L, area:ranking criteria

#11187 Update `TWC 2024` with partial RO16 results
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/S

#11121 [ZH] Update `Gameplay_differences_in_osu!(lazer)`
  wiki/Client/Release_stream/Lazer/Gameplay_differences_in_osu!(lazer)/zh.md
Labels: area:translations, size/L

#11106 [ID] Update `History of osu!` index page
  wiki/History_of_osu!/id.md
Labels: area:translations, size/M

#11190 Add `New Featured Artist: ptar124` news post
  news/2024/2024-03-31-new-featured-artist-ptar124.md
Labels: area:news, size/M

#11191 Add ptar124 on `Featured Artists` listing
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: size/XS

#11192 Update `TWC 2024` for the Quarterfinals stage
  wiki/Tournaments/TWC/2024/en.md
Labels: area:tournaments, size/L

#11193 Update `osu! originals` and fix minor issues in ptar124's FA news post
  news/2024/2024-03-31-new-featured-artist-ptar124.md
  wiki/osu!_originals/en.md
Labels: area:news, size/M
