Repository ppy/osu-wiki, pull requests merged in 2025-08, with the labels that each got.

#13579 Update `Daily challenge` wiki article
  wiki/Gameplay/Daily_challenge/en.md
Labels: size/XS

#13569 [IT] Review multiple articles
  wiki/Beatmap/Packs/it.md
  wiki/Help_centre/it.md
  wiki/Main_page/it.md
  wiki/People/Community_Contributors/it.md
  wiki/Registration/it.md
  wiki/Reporting_bad_behaviour/Abuse/it.md
Labels: area:translations, size/L, area:help centre

#13560 [ES] Update `Ranking criteria`
  wiki/Ranking_criteria/es.md
Labels: area:translations, size/XS, area:ranking criteria

#13570 [IT] Update `Game mode`
  wiki/Game_mode/it.md
Labels: area:translations, size/S

#13555 [VI] Add `Rules/Code of conduct for modding and mapping`
  wiki/Rules/Code_of_conduct_for_modding_and_mapping/vi.md
Labels: area:translations, size/M, state/stale merge

#13565 [DE] Update `Beatmap/Approach rate`
  wiki/Beatmap/Approach_rate/de.md
Labels: area:translations, size/S

#13585 Add note about reporting Ranked maps
  wiki/Help_centre/Silences/da.md
  wiki/Reporting_bad_behaviour/en.md
Labels: size/S, area:help centre

#13518 [RU] Update `Featured Artists` articles
  wiki/People/Featured_Artists/Featured_Artist_playlists/ru.md
  wiki/People/Featured_Artists/ru.md
Labels: area:translations, size/L

#13529 [RU] Update articles covering the duties of `Beatmap Nominators`
  wiki/Beatmap/Genre_and_language/ru.md
  wiki/Beatmap_ranking_procedure/ru.md
  wiki/People/Beatmap_Nominators/Beatmap_Nominator_Test/ru.md
  wiki/People/Beatmap_Nominators/Beatmap_Veto/ru.md
  wiki/People/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/ru.md
  wiki/People/Beatmap_Nominators/General_Information/ru.md
  wiki/People/Beatmap_Nominators/Rules/ru.md
  wiki/People/Elite_Nominators/ru.md
Labels: area:translations, size/L

#13539 [RU] Update `People/Beatmap nominators`
  wiki/People/Beatmap_Nominators/ru.md
  wiki/People/User_groups/ru.md
Labels: area:translations, size/L

#13514 [RU] Add `Community/Video series/osu!mapping`
  wiki/Community/Video_series/osu!mapping/ru.md
Labels: area:translations, size/L

#13515 [RU] Update `People/Community contributors`
  wiki/People/Community_Contributors/ru.md
Labels: area:translations, size/L

#13513 [RU] Add `Community/Video series/osu!talk`
  wiki/Community/Video_series/osu!talk/ru.md
Labels: area:translations, size/L

#13592 Add `New Featured Artist: SPIRIT GARDEN *` news post
  news/2025/2025-08-09-new-featured-artist-spirit-garden.md
Labels: area:news, size/M

#13593 Update `MWC 4K 2025` team listing
  wiki/Tournaments/MWC/2025_4K/en.md
Labels: area:tournaments, size/S

#13598 Clarify average placement in `Common seeding methods`
  wiki/Tournaments/Common_seeding_methods/en.md
Labels: area:tournaments, size/XS

#13601 Update `CWC`/`TWC`/`MWC 4K` 2025 wiki articles
  wiki/Tournaments/CWC/2025/en.md
  wiki/Tournaments/MWC/2025_4K/en.md
  wiki/Tournaments/TWC/2025/en.md
Labels: area:tournaments, size/S

#13602 Update `Storyboard/Scripting/Commands` with proper examples
  wiki/Storyboard/Scripting/Commands/en.md
Labels: size/XS

#13605 Fix wrong flag in `People/Community Contributors`
  wiki/People/Community_Contributors/de.md
  wiki/People/Community_Contributors/en.md
  wiki/People/Community_Contributors/es.md
  wiki/People/Community_Contributors/it.md
  wiki/People/Community_Contributors/ru.md
  wiki/People/Community_Contributors/zh.md
Labels: size/S

#13606 Put correct hyperlinks for map forum pages in `Project Loved: August 2025` news post
  news/2025/2025-08-16-project-loved-august-2025.md
Labels: area:news, size/M

#13607 Add `New Featured Artist: Juwubi` news post
  news/2025/2025-08-16-new-featured-artist-juwubi.md
Labels: area:news, size/M

#13609 Update `MWC 4K 2025`, `MWC 4K 2024`
  wiki/Tournaments/MWC/2024_4K/en.md
  wiki/Tournaments/MWC/2025_4K/en.md
Labels: area:tournaments, size/S

#13617 Add more tracks to `Bespoke music`
  wiki/Community/Bespoke_music/en.md
  wiki/Community/Bespoke_music/img/bespoke-music-over-time.png
Labels: size/L

#13621 Fix user flags and redirects in `Contests`
  wiki/Contests/en.md
  wiki/Contests/es.md
  wiki/Contests/fr.md
  wiki/Contests/zh.md
Labels: size/S

#13622 Update `MWC 4K 2025` Round of 32 schedules
  wiki/Tournaments/MWC/2025_4K/en.md
Labels: area:tournaments, size/S

#13623 Fix incorrect flag designations in `GBC 2025 Spring`
  wiki/Tournaments/GBC/GBC_2025_Spring/en.md
  wiki/Tournaments/GBC/GBC_2025_Spring/zh.md
Labels: area:tournaments, size/S

#13624 Update peppy pick image in `Locus 2025` news post and wiki
  news/2025/2025-08-21-locus-2025-results.md
  wiki/Contests/Locus/2025/en.md
  wiki/Contests/Locus/2025/img/peppy-pick.jpg
Labels: area:news, size/XS

#13628 Add note to `Locus 2025` regarding Free Your Heart's disqualification
  wiki/Contests/Locus/2025/en.md
Labels: size/XS

#13655 Fix typo on `Medals/First medal unlocks`
  wiki/Medals/First_medal_unlocks/en.md
Labels: size/XS

#13659 Update `MWC 4K 2025` Round of 16 schedules
  wiki/Tournaments/MWC/2025_4K/en.md
Labels: area:tournaments, size/S

#13653 Add version number used in osu!lazer beatmap files
  wiki/Client/File_formats/osu_(file_format)/en.md
Labels: size/XS

#13558 [ZH] Update `Game mode` and `Game mode/osu!catch`
  wiki/Game_mode/osu!catch/zh.md
  wiki/Game_mode/zh.md
Labels: area:translations, size/L

#13614 Update `Content usage permissions` translations
  wiki/Rules/Content_usage_permissions/de.md
  wiki/Rules/Content_usage_permissions/es.md
  wiki/Rules/Content_usage_permissions/it.md
  wiki/Rules/Content_usage_permissions/zh.md
Labels: area:translations, size/S

#13664 Add `osu!mania 4K World Cup 2025: Round of 32 Recap` news post
  news/2025/2025-08-30-osumania-4k-world-cup-2025-round-of-32-recap.md
  wiki/shared/news/2025-08-30-osumania-4k-world-cup-2025-round-of-32-recap/Oumuamua.jpg
  wiki/shared/news/2025-08-30-osumania-4k-world-cup-2025-round-of-32-recap/banner.jpg
  wiki/shared/news/2025-08-30-osumania-4k-world-cup-2025-round-of-32-recap/banner@2x.jpg
  wiki/shared/news/2025-08-30-osumania-4k-world-cup-2025-round-of-32-recap/mappool-ro32.jpg
Labels: area:news, size/L

#13665 Add `New Featured Artist: d0tc0mmie` news post
  news/2025/2025-08-31-new-featured-artist-d0tc0mmie.md
Labels: area:news, size/M

#13669 Fix an user's flag in `osu!mania 4K World Cup 2025: Round of 32 Recap`
  news/2025/2025-08-30-osumania-4k-world-cup-2025-round-of-32-recap.md
Labels: area:news, size/XS

#13670 Update `MWC 4K 2024` for the Quarterfinals stage
  wiki/Tournaments/MWC/2025_4K/en.md
Labels: area:tournaments, size/L
