Repository ppy/osu-wiki, pull requests merged in 2025-07, with the labels that each got.

#13448 Fix broken formatting in `Community/Moscow osu! Event`
  wiki/Community/Moscow_osu!_Event/en.md
  wiki/Community/Moscow_osu!_Event/ru.md
Labels: size/XS

#13437 Update `History of osu!/Online rankings`
  wiki/History_of_osu!/Online_rankings/en.md
Labels: size/XS

#13451 Fix typo in `New Featured Artist: Ice` news post
  news/2025/2025-06-29-new-featured-artist-ice.md
Labels: area:news, size/XS

#13453 Update `CWC 2025` Semifinals schedules
  wiki/Tournaments/CWC/2025/en.md
Labels: area:tournaments, size/S

#13454 Conclude `4WC 2025`
  wiki/Tournaments/4WC/2025/en.md
  wiki/Tournaments/4WC/2025/img/badge.png
  wiki/Tournaments/4WC/2025/img/podium.png
Labels: area:tournaments, size/L

#13456 Fix artist capitalisation in `Content usage permissions`
  wiki/Rules/Content_usage_permissions/de.md
  wiki/Rules/Content_usage_permissions/en.md
  wiki/Rules/Content_usage_permissions/es.md
  wiki/Rules/Content_usage_permissions/fr.md
  wiki/Rules/Content_usage_permissions/it.md
  wiki/Rules/Content_usage_permissions/ko.md
  wiki/Rules/Content_usage_permissions/ru.md
  wiki/Rules/Content_usage_permissions/zh.md
Labels: size/S

#13440 Retry outdating the translations up to 3 times to account for new upstream changes
  .github/workflows/post-merge-outdate.yml
Labels: area:meta, size/S

#13321 Add `We Go March! retot's Tournament` wiki article
  wiki/Tournaments/WGMRT/1/en.md
  wiki/Tournaments/WGMRT/1/img/banner.png
  wiki/Tournaments/WGMRT/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/ru.md
Labels: area:tournaments, size/XL

#13459 Fix the rest of invalid `outdated_since` hashes
  wiki/Gameplay/Game_modifier/Daycore/es.md
  wiki/Gameplay/Game_modifier/Easy_(lazer)/es.md
  wiki/History_of_osu!/osu!_wiki/de.md
  wiki/History_of_osu!/osu!_wiki/fr.md
  wiki/Skinning/de.md
  wiki/Skinning/fr.md
  wiki/Skinning/ja.md
  wiki/Skinning/pl.md
  wiki/Skinning/pt-br.md
  wiki/Skinning/ru.md
  wiki/Skinning/sv.md
  wiki/Skinning/tr.md
  wiki/Skinning/zh.md
Labels: area:meta, size/S

#13458 Update documentation on outdated translations
  wiki/Article_styling_criteria/Formatting/en.md
  wiki/osu!_wiki/Maintenance/en.md
Labels: size/S

#13413 [DE] Add `Tumblr`
  wiki/Tumblr/de.md
Labels: area:translations, size/S

#13461 [EN,RU] Add `Moscow osu! Event` index page link
  wiki/Community/en.md
  wiki/Community/es.md
  wiki/Community/ru.md
Labels: size/XS

#13449 Add `Mappers' Guild - Summer 2025 Priority Quests` news post & rewrite `Recording osu!`
  news/2025/2025-07-04-mappers-guild-summer-2025-priority-quests.md
  wiki/Guides/Recording_osu!/en.md
  wiki/Guides/Recording_osu!/img/recording_osu_1.png
  wiki/Guides/Recording_osu!/img/recording_osu_2.png
  wiki/Guides/Recording_osu!/img/recording_osu_3.png
  wiki/Guides/Recording_osu!/img/recording_osu_4.png
  wiki/Guides/Recording_osu!/img/recording_osu_5.png
  wiki/Guides/Recording_osu!/img/recording_osu_6.png
Labels: area:news, size/L

#13455 Update `MGTS 2025` wiki article, news post, and `Bespoke music`
  news/2025/2025-06-01-mgts-2025-registrations.md
  wiki/Community/Bespoke_music/en.md
  wiki/Community/Bespoke_music/img/bespoke-music-over-time.png
  wiki/Contests/MGTS/2025/en.md
Labels: area:news, size/M

#13460 Add `osu!catch World Cup 2025: Quarterfinals Recap` news post
  news/2025/2025-07-05-osucatch-world-cup-2025-quarterfinals-recap.md
  wiki/shared/avatars/Creameries.jpg
  wiki/shared/news/2025-07-05-osucatch-world-cup-2025-quarterfinals-recap/Creameries-artwork.png
  wiki/shared/news/2025-07-05-osucatch-world-cup-2025-quarterfinals-recap/Creameries.png
  wiki/shared/news/2025-07-05-osucatch-world-cup-2025-quarterfinals-recap/Heliosphere.jpg
  wiki/shared/news/2025-07-05-osucatch-world-cup-2025-quarterfinals-recap/Heliosphere_Banner.png
  wiki/shared/news/2025-07-05-osucatch-world-cup-2025-quarterfinals-recap/banner.jpg
  wiki/shared/news/2025-07-05-osucatch-world-cup-2025-quarterfinals-recap/banner@2x.jpg
  wiki/shared/news/2025-07-05-osucatch-world-cup-2025-quarterfinals-recap/cwc-2025-qf-mappool.png
Labels: area:news, size/L

#13462 Fix wrong link in `osu!catch World Cup 2025: Quarterfinals Recap` news post
  news/2025/2025-07-05-osucatch-world-cup-2025-quarterfinals-recap.md
Labels: area:news, size/XS

#13464 Add `New Featured Artist: Dispel` news post
  news/2025/2025-07-05-new-featured-artist-dispel.md
  wiki/People/Featured_Artists/de.md
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/es.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: area:news, size/M

#13466 Update `CWC 2025` staff listing, partial Semifinals results
  wiki/Tournaments/CWC/2025/en.md
Labels: area:tournaments, size/S

#13467 Update `CWC 2025` for the Finals stage
  wiki/Tournaments/CWC/2025/en.md
Labels: area:tournaments, size/M

#13403 Add section for trial voting results in `Locus 2025`
  news/2025/2025-04-14-locus-2025-update-1.md
  news/2025/2025-06-03-locus-2025-update-2.md
  wiki/Contests/Locus/2025/en.md
Labels: area:news, size/M

#13471 Add `Fantasy World Art Contest: Results` news post
  news/2025/2025-08-07-fantasy-world-art-contest-results.md
  wiki/shared/news/2025-07-08-fantasy-world-art-contest-results/banner.jpg
  wiki/shared/news/2025-07-08-fantasy-world-art-contest-results/banner@2x.jpg
Labels: area:news, size/L

#13472 Fix date in `Fantasy World Art Contest: Results` news post
  news/2025/2025-07-08-fantasy-world-art-contest-results.md
Labels: area:news, size/XS

#13476 [DE] Update abuse article translation
  wiki/Reporting_bad_behaviour/Abuse/de.md
Labels: area:translations, size/XS

#13436 [ES] Add `History of osu!/Online rankings/osu!catch`
  wiki/History_of_osu!/Online_rankings/osu!/es.md
  wiki/History_of_osu!/Online_rankings/osu!catch/es.md
Labels: area:translations, size/L

#13446 [PT-BR] Add `Reporting bad behavior`
  wiki/Reporting_bad_behaviour/pt-br.md
Labels: area:translations, size/L, state/stale merge

#13364 Update `Upgrading to lazer` feature comparison
  wiki/Help_centre/Upgrading_to_lazer/en.md
  wiki/Help_centre/Upgrading_to_lazer/id.md
Labels: size/S, area:help centre

#13482 Add `osu!catch World Cup 2025: Semifinals Recap` news post
  news/2025/2025-07-11-osucatch-world-cup-2025-semifinals-recap.md
  wiki/shared/avatars/Phob.jpg
  wiki/shared/news/2025-07-11-osucatch-world-cup-2025-semifinals-recap/SUTEGORO_Banner.png
  wiki/shared/news/2025-07-11-osucatch-world-cup-2025-semifinals-recap/SidebySide_Banner.png
  wiki/shared/news/2025-07-11-osucatch-world-cup-2025-semifinals-recap/Sonatina_Banner.jpg
  wiki/shared/news/2025-07-11-osucatch-world-cup-2025-semifinals-recap/banner.png
  wiki/shared/news/2025-07-11-osucatch-world-cup-2025-semifinals-recap/banner@2x.png
  wiki/shared/news/2025-07-11-osucatch-world-cup-2025-semifinals-recap/cwc-2025-sf-mappool.png
Labels: area:news, size/L

#13490 [DE] Update `Help centre/Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/de.md
Labels: area:translations, size/XS, area:help centre

#13495 Update `CWC 2025` Finals schedule
  wiki/Tournaments/CWC/2025/en.md
Labels: area:tournaments, size/S

#13492 [DE] Update `History of osu!/Online rankings`
  wiki/History_of_osu!/Online_rankings/de.md
Labels: area:translations, size/XS

#13491 [DE] Update `Ranking criteria/Difficulty naming`
  wiki/Ranking_criteria/Difficulty_naming/de.md
Labels: area:translations, size/XS, area:ranking criteria

#13488 [ZH] Update `Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/zh.md
Labels: area:translations, size/S, area:help centre

#13498 Add `osu!(lazer) Updates: July 11, 2025` news post
  news/2025/2025-07-12-osulazer-updates-july-10-2025.md
  wiki/shared/news/2025-07-12-osulazer-updates-july-10-2025/banner.jpg
  wiki/shared/news/2025-07-12-osulazer-updates-july-10-2025/banner@2x.jpg
Labels: area:news, size/M

#13470 [RU] Add `Beatmapping/Timing`
  wiki/Beatmapping/Timing/ru.md
Labels: area:translations, size/M

#13487 [RU] Remove outdated and/or poorly translated tournament articles
  wiki/Tournaments/GTS/IGTS_2019/ru.md
  wiki/Tournaments/OWC/2014/ru.md
  wiki/Tournaments/TWC/2015/ru.md
Labels: area:tournaments, size/XXL

#13504 Update `CWC 2025` for the Grand Finals stage
  wiki/Tournaments/CWC/2025/en.md
Labels: area:tournaments, size/M

#13506 Update `CWC 2025` links
  wiki/Tournaments/CWC/2025/en.md
Labels: area:tournaments, size/S

#13306 Rewrite `History of osu!/2012`
  wiki/History_of_osu!/2012/en.md
  wiki/History_of_osu!/2012/es.md
  wiki/History_of_osu!/2012/fr.md
  wiki/History_of_osu!/2012/id.md
  wiki/History_of_osu!/2012/img/achievement-submission.jpg
  wiki/History_of_osu!/2012/img/shirt-contest.png
Labels: size/L

#13517 Use correct `outdated_since` tag in `History of osu!/2012`
  wiki/History_of_osu!/2012/es.md
  wiki/History_of_osu!/2012/fr.md
  wiki/History_of_osu!/2012/id.md
Labels: area:translations, size/XS

#13480 Add `Tournaments/COE/COE 2025`
  wiki/Tournaments/COE/COE_2025/en.md
  wiki/Tournaments/COE/COE_2025/img/banner.PNG
  wiki/Tournaments/COE/en.md
Labels: area:tournaments, size/L

#13497 [ES] Update `Client/Menu tips`
  wiki/Client/Menu_tips/es.md
Labels: area:translations, size/XS

#13522 [ES] Update `Beatmap/Approach rate`
  wiki/Beatmap/Approach_rate/es.md
Labels: area:translations, size/S

#13494 [ES] Update `Beatmap/Hype`
  wiki/Beatmap/Hype/es.md
  wiki/Beatmap/Hype/img/hypetrain-ES.png
Labels: area:translations, size/S

#13469 [RU] Add `Beatmap/Beatmap tags`
  wiki/Beatmap/Beatmap_tags/ru.md
Labels: area:translations, size/L

#13521 [ES] Add `Community/Moscow osu! Event`
  wiki/Community/Moscow_osu!_Event/es.md
Labels: area:translations, size/M

#13509 [ES] Update `osu! wiki/Maintenance`
  wiki/osu!_wiki/Maintenance/es.md
Labels: area:translations, size/S

#13525 [ZH] Update `Approach rate`
  wiki/Beatmap/Approach_rate/zh.md
Labels: area:translations, size/M

#13527 [RU] Update `People/Performance Points Committee`
  wiki/People/Performance_Points_Committee/ru.md
Labels: area:translations, size/L

#13532 Add `osu!mania 4K World Cup 2025: Registrations Now Open!` news post, `MWC 4K 2025` wiki article
  news/2025/2025-07-17-osumania-4k-world-cup-2025-registrations-now-open.md
  wiki/Tournaments/MWC/2025_4K/en.md
  wiki/Tournaments/MWC/2025_4K/img/mwc4k2025-banner.jpg
  wiki/Tournaments/MWC/2025_4K/img/mwc4k2025-banner@2x.jpg
  wiki/Tournaments/MWC/en.md
  wiki/Tournaments/MWC/ru.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/ru.md
Labels: area:news, area:tournaments, size/L

#13533 Replace user in `Monthly Beatmapping Contest`
  wiki/Contests/Monthly_Beatmapping_Contest/en.md
  wiki/Contests/Monthly_Beatmapping_Contest/es.md
  wiki/Contests/Monthly_Beatmapping_Contest/fr.md
Labels: size/XS

#13526 Update `COEGTS 2025: Registrations Now Open!` schedule and prize info
  news/2025/2025-06-30-coegts-2025-registrations-now-open.md
Labels: area:news, size/S

#13530 Add `osu!catch World Cup 2025: Finals Recap` news post
  news/2025/2025-07-18-osucatch-world-cup-2025-finals-recap.md
  wiki/shared/news/2025-07-18-osucatch-world-cup-2025-finals-recap/banner.png
  wiki/shared/news/2025-07-18-osucatch-world-cup-2025-finals-recap/banner@2x.png
  wiki/shared/news/2025-07-18-osucatch-world-cup-2025-finals-recap/cwc-2025-f-mappool.png
  wiki/shared/news/2025-07-18-osucatch-world-cup-2025-finals-recap/petitponey_banner.png
Labels: area:news, size/L

#13537 Add search links to user tag listing in `Beatmap tags`
  wiki/Beatmap/Beatmap_tags/en.md
  wiki/Beatmap/Beatmap_tags/es.md
  wiki/Beatmap/Beatmap_tags/ru.md
Labels: size/XL

#13538 Fix user link in `osu!catch ranking history`
  wiki/History_of_osu!/Online_rankings/osu!catch/en.md
  wiki/History_of_osu!/Online_rankings/osu!catch/es.md
Labels: size/XS

#13545 [ID] Cleanup `Installation`
  wiki/Client/Installation/id.md
Labels: area:translations, size/XS

#13524 [ES] Update `Game mode`
  wiki/Game_mode/es.md
Labels: area:translations, size/S

#13543 Add `osu!mania LN Tournament 4: Registrations now open!` news post
  news/2025/2025-07-21-osu-mania-ln-tournament-4-registrations-now-open.md
  wiki/shared/news/2025-07-21-osu-mania-ln-tournament-4-registrations-now-open/banner.jpg
  wiki/shared/news/2025-07-21-osu-mania-ln-tournament-4-registrations-now-open/banner@2x.jpg
Labels: area:news, size/M

#13505 [RU] Make small updates to several `People` articles
  wiki/People/Account_support_team/ru.md
  wiki/People/Staff_log/ru.md
  wiki/People/Technical_Support_Team/ru.md
  wiki/People/osu!_Alumni/ru.md
  wiki/People/osu!_wiki_maintainers/ru.md
Labels: area:translations, size/M

#13502 [RU] Update small `Beatmap` articles (`Break`, `Beatmap description`, `Genre and language`)
  wiki/Beatmap/Beatmap_description/ru.md
  wiki/Beatmap/Break/ru.md
  wiki/Beatmap/Genre_and_language/ru.md
Labels: area:translations, size/S

#13501 [RU] Update `Beatmap/TAG beatmaps`
  wiki/Beatmap/TAG_beatmaps/ru.md
Labels: area:translations, size/S

#13500 [RU] Update `Beatmap/Hype`
  wiki/Beatmap/Hype/ru.md
Labels: area:translations, size/S

#13516 [VI] Fix translation errors in `Help_centre/Tournament_bans`
  wiki/Help_centre/Tournament_bans/vi.md
Labels: area:translations, size/S, state/stale merge, area:help centre

#13528 [ZH] Update `Account restrictions`
  wiki/Help_centre/Account_restrictions/zh.md
Labels: area:translations, size/M, state/stale merge, area:help centre

#13554 Clarify romanisation of symbols in `Ranking criteria/Metadata`
  wiki/Ranking_criteria/Metadata/en.md
Labels: size/XS, area:ranking criteria

#13549 [IT] Add `Client/File formats`
  wiki/Client/File_formats/it.md
Labels: area:translations, size/M

#13546 Add `4 Digit World Cup 2025 Concludes` news post
  news/2025/2025-07-24-4-digit-world-cup-2025-concludes.md
  wiki/shared/avatars/Godskin_Noble.jpg
  wiki/shared/avatars/SiLiS.jpg
  wiki/shared/avatars/hav.jpg
  wiki/shared/news/2025-07-24-4-digit-world-cup-2025-concludes/credits.png
  wiki/shared/news/2025-07-24-4-digit-world-cup-2025-concludes/interview-banner-hav.png
  wiki/shared/news/2025-07-24-4-digit-world-cup-2025-concludes/interview-banner-pezz.png
Labels: area:news, size/L

#13556 Add `Monthly Beatmapping Contest: July 2025` news post
  news/2025/2025-07-25-monthly-beatmapping-contest-july-2025.md
  wiki/Contests/Contest_points/en.md
Labels: area:news, size/L

#13551 [IT] Add `Disamgibuation/Ouendan`
  wiki/Disambiguation/Ouendan/it.md
Labels: area:translations, size/S

#13563 Add `New Featured Artist: Aspect` news post
  news/2025/2025-07-26-new-featured-artist-aspect.md
Labels: area:news, size/M

#13559 [ZH] Update `osu! wiki/Maintenance`
  wiki/osu!_wiki/Maintenance/zh.md
Labels: area:translations, size/S

#13567 Add `Summer Mapping Contest #2: Results` news post
  news/2025/2025-07-29-summer-mapping-contest-2-results.md
Labels: area:news, size/M

#13568 Apply small fixes to `osu!catch World Cup 2025 Concludes` news post
  news/2025/2025-07-29-osucatch-world-cup-2025-concludes.md
Labels: area:news, size/XS
