Repository ppy/osu-wiki, pull requests merged in 2025-06, with the labels that each got.

#13316 Add `Mapping Global Taiko Showdown 2025: Registrations Open!` news post and wiki page
  news/2025/2025-06-01-mgts-2025-registrations.md
  wiki/Contests/MGTS/2025/en.md
  wiki/Contests/MGTS/2025/img/banner.png
  wiki/Contests/MGTS/2025/img/banner@2x.png
  wiki/Contests/MGTS/en.md
  wiki/shared/news/2025-06-01-mgts-2025-registrations/axisbreak.jpg
  wiki/shared/news/2025-06-01-mgts-2025-registrations/banner.png
  wiki/shared/news/2025-06-01-mgts-2025-registrations/banner@2x.png
  wiki/shared/news/2025-06-01-mgts-2025-registrations/hatching.png
  wiki/shared/news/2025-06-01-mgts-2025-registrations/illusoryprogram97.png
Labels: area:news, size/L

#13318 Update `CWC 2025` for the Qualifier stage
  wiki/Tournaments/CWC/2025/en.md
Labels: area:tournaments, size/S

#13314 Add `osu! World Cup 2025 Mapper and Playtester Applications` news post
  news/2025/2025-06-04-osu-world-cup-2025-mapper-playtester-applications.md
Labels: area:news, size/S

#13323 Update leaderboard in `Featured Artist playlists` article
  wiki/People/Featured_Artists/Featured_Artist_playlists/en.md
  wiki/People/Featured_Artists/Featured_Artist_playlists/es.md
Labels: size/M

#13310 [RU] Add `Help centre/Installation and registration` and `Tournaments`
  wiki/Help_centre/Installation_and_registration/ru.md
  wiki/Tournaments/ru.md
Labels: area:translations, area:tournaments, size/XXL, area:help centre

#13326 Update Lazer migration page to specify that certain medals are unobtainable on Stable
  wiki/Help_centre/Upgrading_to_lazer/de.md
  wiki/Help_centre/Upgrading_to_lazer/en.md
  wiki/Help_centre/Upgrading_to_lazer/es.md
  wiki/Help_centre/Upgrading_to_lazer/id.md
  wiki/Help_centre/Upgrading_to_lazer/it.md
Labels: size/S, area:help centre

#13230 [ZH] Update `Peoples` nested articles
  wiki/People/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/img/ApplicationFlowchart-ZH.png
  wiki/People/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/img/bn-application-flowchart-ZH.png
  wiki/People/Beatmap_Nominators/Becoming_a_Beatmap_Nominator/zh.md
  wiki/People/Beatmap_Nominators/Rules/zh.md
  wiki/People/Beatmap_Nominators/zh.md
  wiki/People/Global_Moderation_Team/zh.md
  wiki/People/Nomination_Assessment_Team/SEV_rating/zh.md
  wiki/People/Nomination_Assessment_Team/zh.md
  wiki/People/Tournament_Committee/zh.md
  wiki/People/Users_with_unique_titles/zh.md
  wiki/People/osu!_team/zh.md
Labels: area:translations, size/L

#13288 [DE] Update `Beatmap/TAG beatmaps`
  wiki/Beatmap/TAG_beatmaps/de.md
Labels: area:translations, size/S

#13289 [DE] Update `Ranking criteria/Difficulty naming`
  wiki/Ranking_criteria/Difficulty_naming/de.md
Labels: area:translations, size/XS, area:ranking criteria

#13290 [DE] Update `Beatmap search`
  wiki/Beatmap_search/de.md
Labels: area:translations, size/S

#13291 [DE] Update `People/osu! wiki maintainers`
  wiki/People/osu!_wiki_maintainers/de.md
Labels: area:translations, size/S

#13292 [DE] Update `Gameplay/Hit object/Hit circle`
  wiki/Gameplay/Hit_object/Hit_circle/de.md
Labels: area:translations, size/S

#13293 [DE] Update `Help centre/Tournament bans`
  wiki/Help_centre/Tournament_bans/de.md
Labels: area:translations, size/XS, area:help centre

#13229 [ZH] Update `Judgment/osu!taiko`, `osr_(file_format)`, `Upgrading to lazer`, `Content usage permissions`, `osu!supporter`
  wiki/Client/File_formats/osr_(file_format)/zh.md
  wiki/Gameplay/Judgement/osu!taiko/zh.md
  wiki/Help_centre/Upgrading_to_lazer/zh.md
  wiki/Rules/Content_usage_permissions/zh.md
  wiki/osu!supporter/zh.md
Labels: area:translations, size/M, area:help centre

#13331 Add `Fantasy World Art Contest` news post
  news/2025/2025-06-06-fantasy-world-art-contest.md
  wiki/shared/news/2025-06-06-fantasy-world-art-contest/banner.jpg
  wiki/shared/news/2025-06-06-fantasy-world-art-contest/banner@2x.jpg
Labels: area:news, size/M

#13336 Update `CWC 2025` links
  wiki/Tournaments/CWC/2025/en.md
Labels: area:tournaments, size/XS

#13333 [ID] Update `Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/id.md
Labels: area:translations, size/XS, area:help centre

#13352 Add `Community Mentorship Program Summer 2025 Signups Now Open` news post
  news/2025/2025-06-09-community-mentorship-program-summer-2025-signups-now-open.md
Labels: area:news, size/L

#13355 Remove extra comma from `Fantasy World Art Contest` news post
  news/2025/2025-06-06-fantasy-world-art-contest.md
Labels: area:news, size/XS

#13360 add user `rloseise` to osu!taiko pp committee wiki page
  wiki/People/Performance_Points_Committee/en.md
  wiki/People/Performance_Points_Committee/es.md
Labels: size/XS

#13356 Update `CWC 2025` links, schedules
  wiki/Tournaments/CWC/2025/en.md
Labels: area:tournaments, size/S

#13366 Add `Monthly Beatmapping Contest: June 2025` news post
  news/2025/2025-06-13-monthly-beatmapping-contest-june-2025.md
  wiki/Contests/Contest_points/en.md
  wiki/Contests/Contest_points/es.md
  wiki/Contests/Contest_points/fr.md
Labels: area:news, size/L

#13367 Fix typo in `Monthly Beatmapping Contest: June 2025` news post
  news/2025/2025-06-13-monthly-beatmapping-contest-june-2025.md
Labels: area:news, size/XS

#12961 `Ranking criteria` allow mapset host to indicate possession in a difficulty name
  wiki/Ranking_criteria/en.md
  wiki/Ranking_criteria/es.md
  wiki/Ranking_criteria/zh.md
Labels: size/S, area:ranking criteria

#13373 Add `New Featured Artist: Simon Safhalter` news post
  news/2025/2025-06-14-new-featured-artist-simon-safhalter.md
Labels: area:news, size/M

#13375 Update `CWC 2025` with partial RO32 results
  wiki/Tournaments/CWC/2025/en.md
Labels: area:tournaments, size/S

#13379 Update `CWC 2025` for the Round of 16 stage
  wiki/Tournaments/CWC/2025/en.md
Labels: area:tournaments, size/M

#13381 Update `CWC 2025` links
  wiki/Tournaments/CWC/2025/en.md
Labels: area:tournaments, size/S

#13354 Corrected text in "sliderendcircle" and "sliderendcircleoverlay" sections
  wiki/Skinning/osu!/en.md
  wiki/Skinning/osu!/es.md
  wiki/Skinning/osu!/fr.md
  wiki/Skinning/osu!/zh.md
Labels: size/S

#13133 [DE] Add `Beatmapping/Overmapping`
  wiki/Beatmapping/Overmapping/de.md
Labels: area:translations, size/S, state/stale merge

#13134 [DE] Add `Client/Playfield`
  wiki/Client/Playfield/de.md
Labels: area:translations, size/M, state/stale merge

#13135 [DE] Update `osu!stream`
  wiki/osu!stream/de.md
Labels: area:translations, size/L, state/stale merge

#12896 Rewrite `Game mode/osu!catch`
  wiki/Game_mode/osu!catch/en.md
  wiki/Game_mode/osu!catch/es.md
  wiki/Game_mode/osu!catch/fr.md
  wiki/Game_mode/osu!catch/zh.md
  wiki/shared/lazer_beatmap_listing.png
Labels: size/L

#12629 Expand Difficulty Increase mod articles
  wiki/Gameplay/Game_modifier/Accuracy_Challenge/en.md
  wiki/Gameplay/Game_modifier/Accuracy_Challenge/es.md
  wiki/Gameplay/Game_modifier/Blinds/en.md
  wiki/Gameplay/Game_modifier/Blinds/es.md
  wiki/Gameplay/Game_modifier/Bloom/en.md
  wiki/Gameplay/Game_modifier/Bloom/es.md
  wiki/Gameplay/Game_modifier/Cover/en.md
  wiki/Gameplay/Game_modifier/Cover/es.md
  wiki/Gameplay/Game_modifier/Daycore/en.md
  wiki/Gameplay/Game_modifier/Daycore/es.md
  wiki/Gameplay/Game_modifier/Double_Time_(lazer)/en.md
  wiki/Gameplay/Game_modifier/Double_Time_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Easy_(lazer)/en.md
  wiki/Gameplay/Game_modifier/Easy_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Easy_(lazer)/fr.md
  wiki/Gameplay/Game_modifier/Fade_In_(lazer)/en.md
  wiki/Gameplay/Game_modifier/Fade_In_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Flashlight_(lazer)/en.md
  wiki/Gameplay/Game_modifier/Flashlight_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Half_Time_(lazer)/en.md
  wiki/Gameplay/Game_modifier/Half_Time_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Hard_Rock_(lazer)/en.md
  wiki/Gameplay/Game_modifier/Hard_Rock_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Hidden_(lazer)/en.md
  wiki/Gameplay/Game_modifier/Hidden_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Muted/en.md
  wiki/Gameplay/Game_modifier/Muted/es.md
  wiki/Gameplay/Game_modifier/Nightcore_(lazer)/en.md
  wiki/Gameplay/Game_modifier/Nightcore_(lazer)/es.md
  wiki/Gameplay/Game_modifier/No_Scope/en.md
  wiki/Gameplay/Game_modifier/No_Scope/es.md
  wiki/Gameplay/Game_modifier/Perfect_(lazer)/en.md
  wiki/Gameplay/Game_modifier/Perfect_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Strict_Tracking/en.md
  wiki/Gameplay/Game_modifier/Strict_Tracking/es.md
  wiki/Gameplay/Game_modifier/Sudden_Death_(lazer)/en.md
  wiki/Gameplay/Game_modifier/Sudden_Death_(lazer)/es.md
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/AC.png
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/BM.jpg
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/BM.png
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/CO.png
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/DC.jpg
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/DC.png
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/DT.png
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/EZ.jpg
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/EZ.png
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/FL.png
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/HD.png
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/HT.jpg
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/HT.png
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/MU.jpg
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/MU.png
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/NC.png
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/NS.jpg
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/NS.png
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/PF.png
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/SD.png
Labels: size/L

#13278 Add initial `UKCC 13` Tournament page
  wiki/Tournaments/UKCC/13/en.md
  wiki/Tournaments/UKCC/13/img/banner.jpg
  wiki/Tournaments/UKCC/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/ru.md
Labels: area:tournaments, size/L

#13294 [DE] Update `People/Users with unique titles`
  wiki/People/Users_with_unique_titles/de.md
Labels: area:translations, size/M

#13317 Mention the Overlay layer in `Storyboard/Scripting/General Rules`
  wiki/Storyboard/Scripting/General_Rules/en.md
  wiki/Storyboard/Scripting/General_Rules/es.md
  wiki/Storyboard/Scripting/General_Rules/fr.md
  wiki/Storyboard/Scripting/General_Rules/zh.md
Labels: size/S

#13345 [IT] Update `Main page`
  wiki/Main_page/it.md
Labels: area:translations, size/S, state/stale merge

#13347 [IT] Update `Beatmap/Category`
  wiki/Beatmap/Category/it.md
Labels: area:translations, size/S

#13334 [ID] Cleanup `Silences`
  wiki/Help_centre/Silences/id.md
Labels: area:translations, size/S, state/stale merge, area:help centre

#13349 [IT] Update `People/osu! team`
  wiki/People/osu!_team/it.md
Labels: area:translations, size/XS

#13315 [DE] Small improvements in `osu!supporter`
  wiki/osu!supporter/de.md
Labels: area:translations, size/XS

#13348 [IT] Update and clean up `Game mode`
  wiki/Game_mode/it.md
Labels: area:translations, size/S, state/stale merge

#13358 [PT-BR] Update `upppy`
  wiki/upppy/pt-br.md
Labels: area:translations, size/XS

#13344 [IT] Update `People/Global Moderation Team`
  wiki/People/Global_Moderation_Team/it.md
Labels: area:translations, size/XS

#13327 Group updates june 25
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Beatmap_Nominators/es.md
  wiki/People/Beatmap_Nominators/zh.md
  wiki/People/Global_Moderation_Team/de.md
  wiki/People/Global_Moderation_Team/en.md
  wiki/People/Global_Moderation_Team/es.md
  wiki/People/Global_Moderation_Team/fr.md
  wiki/People/Global_Moderation_Team/id.md
  wiki/People/Global_Moderation_Team/it.md
  wiki/People/Global_Moderation_Team/ja.md
  wiki/People/Global_Moderation_Team/ko.md
  wiki/People/Global_Moderation_Team/pl.md
  wiki/People/Global_Moderation_Team/pt-br.md
  wiki/People/Global_Moderation_Team/ru.md
  wiki/People/Global_Moderation_Team/th.md
  wiki/People/Global_Moderation_Team/tr.md
  wiki/People/Global_Moderation_Team/vi.md
  wiki/People/Global_Moderation_Team/zh-tw.md
  wiki/People/Global_Moderation_Team/zh.md
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Nomination_Assessment_Team/es.md
  wiki/People/Nomination_Assessment_Team/fr.md
  wiki/People/Nomination_Assessment_Team/zh.md
  wiki/People/osu!_Alumni/de.md
  wiki/People/osu!_Alumni/en.md
  wiki/People/osu!_Alumni/es.md
  wiki/People/osu!_Alumni/fr.md
  wiki/People/osu!_Alumni/id.md
  wiki/People/osu!_Alumni/it.md
  wiki/People/osu!_Alumni/ja.md
  wiki/People/osu!_Alumni/ko.md
  wiki/People/osu!_Alumni/pl.md
  wiki/People/osu!_Alumni/pt-br.md
  wiki/People/osu!_Alumni/ru.md
  wiki/People/osu!_Alumni/tr.md
  wiki/People/osu!_Alumni/vi.md
  wiki/People/osu!_Alumni/zh-tw.md
  wiki/People/osu!_Alumni/zh.md
Labels: size/XXL

#13298 [RU] Update `Abuse`
  wiki/Reporting_bad_behaviour/Abuse/ru.md
Labels: area:translations, size/S

#13388 Add `BN Mentorship: Cycle 5 Sign-ups Open` news post
  news/2025/2025-06-17-bn-mentorship-cycle-5.md
Labels: area:news, size/M

#13357 [PT-BR] Update `Community/Discord_servers`
  wiki/Community/Discord_servers/pt-br.md
Labels: area:translations, size/XS

#13389 Add `Newspaper Cup 2025: Results` news post
  news/2025/2025-06-18-newspaper-cup-2025-results.md
Labels: area:news, size/L

#13387 [ID] Fix minor typo in `Help centre/Account`
  wiki/Help_centre/Account/id.md
Labels: area:translations, size/XS, area:help centre

#13404 Update `Resurrection Cup 2025` with Qualifier results and RO32 mappool
  wiki/Tournaments/RESC/2025/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/ru.md
Labels: area:tournaments, size/M

#13408 Add recap news post link to `KEL LAN Tournament 3` wiki page
  wiki/Tournaments/KEL/3/en.md
Labels: area:tournaments, size/XS

#13406 Add `osu!catch World Cup 2025: Round of 32 Recap` news post
  news/2025/2025-06-20-osucatch-world-cup-2025-round-of-32-recap.md
  wiki/shared/news/2025-06-20-osucatch-world-cup-2025-round-of-32-recap/cwc-2025-ro32-mappool.png
Labels: area:news, size/L

#13394 Add `Capture The Achievement 2` news post
  news/2025/2025-06-21-capture-the-achievement-2.md
  wiki/shared/news/2025-06-21-capture-the-achievement-2/banner.jpg
  wiki/shared/news/2025-06-21-capture-the-achievement-2/banner@2x.jpg
  wiki/shared/news/2025-06-21-capture-the-achievement-2/example-1.png
  wiki/shared/news/2025-06-21-capture-the-achievement-2/example-2.png
  wiki/shared/news/2025-06-21-capture-the-achievement-2/example-3.png
  wiki/shared/news/2025-06-21-capture-the-achievement-2/example-4.png
Labels: area:news, size/M

#13411 Add `New Featured Artist: Shirobon` news post
  news/2025/2025-06-21-new-featured-artist-shirobon.md
Labels: area:news, size/M

#13415 Update `CWC 2025` for the Quarterfinals stage
  wiki/Tournaments/CWC/2025/en.md
Labels: area:tournaments, size/L

#13385 [ES] Update `Skinning/osu!`
  wiki/Skinning/osu!/es.md
Labels: area:translations, size/XS

#13384 [ES] Update `Help centre/Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/es.md
Labels: area:translations, size/XS, area:help centre

#13398 [ES] Update lazer mods in `Game modifier` (2)
  wiki/Gameplay/Game_modifier/Half_Time_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Hard_Rock_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Hidden_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Nightcore_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Perfect_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Strict_Tracking/es.md
  wiki/Gameplay/Game_modifier/Sudden_Death_(lazer)/es.md
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/HD.png
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/HT.png
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/MU.png
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/NC.png
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/NS.png
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/PF.png
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/SD.png
Labels: area:translations, size/M

#13390 [ES] Update `Game mode/osu!catch`
  wiki/Beatmap/Converts/es.md
  wiki/Game_mode/osu!catch/es.md
  wiki/Game_mode/osu!catch/img/lazer_beatmap_listing-ES.png
  wiki/Game_mode/osu!taiko/es.md
Labels: area:translations, size/L

#13380 [ES] Add `Contests/o!tFAC/3` and `Contests/o!tFAC`
  wiki/Contests/o!tFAC/3/es.md
  wiki/Contests/o!tFAC/es.md
Labels: area:translations, size/L

#13374 [ES] Add `Contests/o!tFAC/2`
  wiki/Contests/o!tFAC/2/es.md
Labels: area:translations, size/M

#13372 [ES] Add `Contests/o!tFAC/1`
  wiki/Contests/o!tFAC/1/es.md
Labels: area:translations, size/M

#13371 [ES] Add `Contests/Aspire`
  wiki/Contests/Aspire/es.md
Labels: area:translations, size/S

#13369 [ES] Update `Ranking criteria`
  wiki/Ranking_criteria/es.md
Labels: area:translations, size/S, area:ranking criteria

#13325 [PT-BR] Update `Client/Beatmap_editor`
  wiki/Client/Beatmap_editor/pt-br.md
Labels: area:translations, size/M

#13423 Update `CWC 2025` links, schedules
  wiki/Tournaments/CWC/2025/en.md
Labels: area:tournaments, size/M

#13425 Update `CWC 2025` Quarterfinals schedules
  wiki/Tournaments/CWC/2025/en.md
Labels: area:tournaments, size/S

#13428 Replace mappool image in `osu!catch World Cup 2025: Round of 16 Recap` news post
  news/2025/2025-06-27-osucatch-world-cup-2025-round-of-16-recap.md
  wiki/shared/news/2025-06-27-osucatch-world-cup-2025-round-of-16-recap/cwc-2025-ro16-mappool.png
Labels: area:news, size/XS

#13430 Add `Fantasy World Art Contest: Voting Open` news post
  news/2025/2025-06-28-fantasy-world-art-contest-voting.md
  wiki/shared/news/2025-06-28-fantasy-world-art-contest-voting/voting-banner.png
Labels: area:news, size/M

#13432 Update `CWC 2025` Quarterfinals schedule, results
  wiki/Tournaments/CWC/2025/en.md
Labels: area:tournaments, size/M

#13434 Update template download link in `Summer Mapping Contest #2` news post
  news/2025/2025-06-14-summer-mapping-contest-2.md
Labels: area:news, size/XS

#13330 [RU] Add `Gameplay/Score` and `Gameplay/Online rankings` articles
  wiki/Gameplay/Score/Ranked_score/ru.md
  wiki/Gameplay/Score/ScoreV1/ru.md
  wiki/Gameplay/Score/Total_score/ru.md
  wiki/History_of_osu!/Online_rankings/osu!/ru.md
  wiki/History_of_osu!/Online_rankings/ru.md
Labels: area:translations, size/L

#13412 [RU] Add `User title`
  wiki/Community/User_title/de.md
  wiki/Community/User_title/en.md
  wiki/Community/User_title/es.md
  wiki/Community/User_title/fr.md
  wiki/Community/User_title/id.md
  wiki/Community/User_title/ru.md
  wiki/Community/User_title/zh-tw.md
  wiki/Community/User_title/zh.md
Labels: area:translations, size/M

#13409 Update BN, GMT, NAT, and osu!Alumni listings (2025-06-20)
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Beatmap_Nominators/es.md
  wiki/People/Beatmap_Nominators/zh.md
  wiki/People/Global_Moderation_Team/de.md
  wiki/People/Global_Moderation_Team/en.md
  wiki/People/Global_Moderation_Team/es.md
  wiki/People/Global_Moderation_Team/fr.md
  wiki/People/Global_Moderation_Team/id.md
  wiki/People/Global_Moderation_Team/it.md
  wiki/People/Global_Moderation_Team/ja.md
  wiki/People/Global_Moderation_Team/ko.md
  wiki/People/Global_Moderation_Team/pl.md
  wiki/People/Global_Moderation_Team/pt-br.md
  wiki/People/Global_Moderation_Team/ru.md
  wiki/People/Global_Moderation_Team/th.md
  wiki/People/Global_Moderation_Team/tr.md
  wiki/People/Global_Moderation_Team/vi.md
  wiki/People/Global_Moderation_Team/zh-tw.md
  wiki/People/Global_Moderation_Team/zh.md
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Nomination_Assessment_Team/es.md
  wiki/People/Nomination_Assessment_Team/fr.md
  wiki/People/Nomination_Assessment_Team/zh.md
  wiki/People/osu!_Alumni/de.md
  wiki/People/osu!_Alumni/en.md
  wiki/People/osu!_Alumni/es.md
  wiki/People/osu!_Alumni/fr.md
  wiki/People/osu!_Alumni/id.md
  wiki/People/osu!_Alumni/it.md
  wiki/People/osu!_Alumni/ja.md
  wiki/People/osu!_Alumni/ko.md
  wiki/People/osu!_Alumni/pl.md
  wiki/People/osu!_Alumni/pt-br.md
  wiki/People/osu!_Alumni/ru.md
  wiki/People/osu!_Alumni/tr.md
  wiki/People/osu!_Alumni/vi.md
  wiki/People/osu!_Alumni/zh-tw.md
  wiki/People/osu!_Alumni/zh.md
Labels: size/L

#13324 [ZH] Add `Jack House Cup 2025` into `Tournaments`
  wiki/Tournaments/JHC/JHC_2025/en.md
  wiki/Tournaments/JHC/JHC_2025/img/JHC-2025-banner.png
  wiki/Tournaments/JHC/JHC_2025/zh.md
  wiki/Tournaments/JHC/en.md
  wiki/Tournaments/JHC/zh.md
Labels: area:tournaments, size/L, state/stale merge

#13418 [ID] Cleanup `Rules`
  wiki/Rules/id.md
Labels: area:translations, size/M, state/stale merge

#13401 [PT-BR] Update `Main_page`
  wiki/Main_page/pt-br.md
Labels: area:translations, size/M, state/stale merge

#13376 [ID] Add `Github web-based editor`
  wiki/osu!_wiki/Contribution_guide/GitHub_web-based_editor/id.md
Labels: area:translations, size/M, state/stale merge

#13382 [ID] Cleanup/Retranslate `iNiS games`
  wiki/iNiS_games/id.md
  wiki/osu!_wiki/Contribution_guide/GitHub_web-based_editor/id.md
Labels: area:translations, size/S, state/stale merge

#11933 Add `History of osu!/Online rankings/osu!catch`
  wiki/History_of_osu!/Online_rankings/osu!catch/en.md
Labels: size/L

#13441 Update `CWC 2025` for the Semifinals stage
  wiki/Tournaments/CWC/2025/en.md
Labels: area:tournaments, size/L

#13442 Add `New Featured Artist: Ice` news post
  news/2025/2025-06-29-new-featured-artist-ice.md
Labels: area:news, size/M

#13443 Update `CWC 2025` Semifinals links
  wiki/Tournaments/CWC/2025/en.md
Labels: area:tournaments, size/S

#13445 Update leaderboard in `Featured Artist playlists`
  wiki/People/Featured_Artists/Featured_Artist_playlists/en.md
  wiki/People/Featured_Artists/Featured_Artist_playlists/es.md
Labels: size/M

#13439 Add `COEGTS 2025: Registrations Now Open!` news post
  news/2025/2025-06-30-coegts-2025-registrations-now-open.md
  wiki/shared/news/2025-06-30-coegts-2025-registrations-now-open/banner.png
  wiki/shared/news/2025-06-30-coegts-2025-registrations-now-open/banner@2x.png
Labels: area:news, size/M
