Repository ppy/osu-wiki, pull requests merged in 2025-05, with the labels that each got.

#13186 Update `Tournaments/Official support` with new draft tournament rules
  wiki/Tournaments/Official_support/en.md
  wiki/Tournaments/Official_support/es.md
Labels: area:tournaments, size/S

#13210 Update `Daily Challenge` contributors list
  wiki/Gameplay/Daily_challenge/en.md
  wiki/Gameplay/Daily_challenge/es.md
  wiki/Gameplay/Daily_challenge/pl.md
Labels: size/S

#13213 Add `LGA 2025` announcement news post, wiki article
  news/2025/2025-05-02-the-lazer-grand-arena-returns.md
  wiki/Tournaments/LGA/2024/en.md
  wiki/Tournaments/LGA/2025/en.md
  wiki/Tournaments/LGA/2025/img/lga2025-banner.jpg
  wiki/Tournaments/LGA/2025/img/lga2025-banner@2x.jpg
  wiki/Tournaments/LGA/en.md
  wiki/shared/news/2025-05-02-the-lazer-grand-arena-returns/breakdown.jpg
  wiki/shared/news/2025-05-02-the-lazer-grand-arena-returns/breakdown@2x.jpg
Labels: area:news, area:tournaments, size/L

#13216 Fix typo on `The Lazer Grand Arena Returns` news post
  news/2025/2025-05-02-the-lazer-grand-arena-returns.md
Labels: area:news, size/XS

#13209 Update the veto process in related articles
  wiki/People/Beatmap_Nominators/Beatmap_Veto/en.md
  wiki/People/Beatmap_Nominators/Beatmap_Veto/es.md
  wiki/People/Beatmap_Nominators/Beatmap_Veto/fr.md
  wiki/People/Beatmap_Nominators/Beatmap_Veto/zh.md
  wiki/People/Beatmap_Nominators/Rules/en.md
  wiki/People/Beatmap_Nominators/Rules/es.md
Labels: size/M

#13217 Add `osu!taiko World Cup 2025 Concludes` news post
  news/2025/2025-05-04-osutaiko-world-cup-concludes.md
  wiki/shared/avatars/chibamasu.jpg
  wiki/shared/avatars/coppertine.jpg
  wiki/shared/avatars/fraser-edwards.jpg
  wiki/shared/avatars/nurend.jpg
  wiki/shared/avatars/raphalge.jpg
  wiki/shared/news/2025-05-04-osutaiko-world-cup-concludes/Coppertine.png
  wiki/shared/news/2025-05-04-osutaiko-world-cup-concludes/Fraser-Edwards.png
  wiki/shared/news/2025-05-04-osutaiko-world-cup-concludes/banner.jpg
  wiki/shared/news/2025-05-04-osutaiko-world-cup-concludes/banner@2x.jpg
  wiki/shared/news/2025-05-04-osutaiko-world-cup-concludes/buzzcutz.jpg
  wiki/shared/news/2025-05-04-osutaiko-world-cup-concludes/chibamasu.png
  wiki/shared/news/2025-05-04-osutaiko-world-cup-concludes/mappool.png
  wiki/shared/news/2025-05-04-osutaiko-world-cup-concludes/oceanslegacy.jpg
  wiki/shared/news/2025-05-04-osutaiko-world-cup-concludes/podium.jpg
  wiki/shared/news/2025-05-04-osutaiko-world-cup-concludes/twc25-credits.png
Labels: area:news, size/L

#13223 Update `The Lazer Grand Arena Returns` and related articles
  news/2025/2025-05-02-the-lazer-grand-arena-returns.md
  wiki/Tournaments/LGA/2024/en.md
  wiki/Tournaments/LGA/2025/en.md
Labels: area:news, area:tournaments, size/M

#13224 Update page titles for `LGA 2024/2025`
  wiki/Tournaments/LGA/2024/en.md
  wiki/Tournaments/LGA/2025/en.md
Labels: area:tournaments, size/XS

#13222 Add `Featured Artist Track Updates: Krimek` news post
  news/2025/2025-05-04-featured-artist-track-updates-krimek.md
  wiki/shared/news/2025-05-04-featured-artist-track-updates-krimek/new-krimek.png
Labels: area:news, size/M

#13111 Merge `oBWC` into `o!bwc`
  news/2025/2025-04-07-osu-beatmapping-world-championship-2025.md
  wiki/Contests/o!bwc/1/en.md
  wiki/Contests/o!bwc/1/fr.md
  wiki/Contests/o!bwc/1/img/logo.png
  wiki/Contests/o!bwc/1/img/podium.jpg
  wiki/Contests/o!bwc/2/en.md
  wiki/Contests/o!bwc/2/fr.md
  wiki/Contests/o!bwc/2/img/badge.png
  wiki/Contests/o!bwc/2/img/badge2.png
  wiki/Contests/o!bwc/2/img/badge3.png
  wiki/Contests/o!bwc/2/img/banner.jpg
  wiki/Contests/o!bwc/2/img/podium.png
  wiki/Contests/o!bwc/3/en.md
  wiki/Contests/o!bwc/3/fr.md
  wiki/Contests/o!bwc/3/img/banner.png
  wiki/Contests/o!bwc/3/img/first_place.png
  wiki/Contests/o!bwc/3/img/players_pick.png
  wiki/Contests/o!bwc/3/img/second_place.png
  wiki/Contests/o!bwc/3/img/third_place.png
  wiki/Contests/o!bwc/4/en.md
  wiki/Contests/o!bwc/4/img/banner.jpg
  wiki/Contests/o!bwc/4/img/banner@2x.jpg
  wiki/Contests/o!bwc/en.md
  wiki/Contests/o!bwc/fr.md
  wiki/Contests/oBWC/en.md
  wiki/redirect.yaml
Labels: area:news, size/S

#13227 Update `LGA 2025` links, staff listing
  wiki/Tournaments/LGA/2025/en.md
Labels: area:tournaments, size/XS

#13232 Fix broken Discord link in `The Followpoint: Spectator` news post
  news/2025/2025-04-30-the-followpoint-spectator-the-osu-catch-mapping-pioneer.md
Labels: area:news, size/XS

#13228 [EN/ZH] Cleanup `People/Community contributors`
  wiki/People/Community_Contributors/de.md
  wiki/People/Community_Contributors/en.md
  wiki/People/Community_Contributors/es.md
  wiki/People/Community_Contributors/zh.md
Labels: size/M

#13172 Update `Bespoke music`
  wiki/Community/Bespoke_music/en.md
  wiki/Community/Bespoke_music/es.md
  wiki/Community/Bespoke_music/img/bespoke-music-over-time.png
Labels: size/L

#13236 Add `osu!catch World Cup 2025: Registrations Now Open!`, `CWC 2025` wiki article
  news/2025/2025-05-09-osucatch-world-cup-2025-registrations-now-open.md
  wiki/Tournaments/CWC/2025/en.md
  wiki/Tournaments/CWC/2025/img/cwc2025-banner.jpg
  wiki/Tournaments/CWC/2025/img/cwc2025-banner@2x.jpg
  wiki/Tournaments/CWC/en.md
  wiki/Tournaments/CWC/ru.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
Labels: area:news, area:tournaments, size/L

#13226 Add `Squad Global Taiko Showdown 2025: Registrations Now Open!` news post
  news/2025/2025-05-09-squad-global-taiko-showdown-2025-registrations-now-open.md
  wiki/shared/news/2025-05-09-squad-global-taiko-showdown-2025-registrations-now-open/banner.jpg
  wiki/shared/news/2025-05-09-squad-global-taiko-showdown-2025-registrations-now-open/banner@2x.jpg
Labels: area:news, size/M

#13238 Add `Resurrection Cup 2025: Registrations Now Open!` news post
  news/2025/2025-05-11-resurrection-cup-2025-registrations-now-open.md
  wiki/Tournaments/RESC/2025/en.md
  wiki/Tournaments/RESC/2025/img/banner.jpg
  wiki/Tournaments/RESC/2025/img/banner@2x.jpg
  wiki/Tournaments/RESC/en.md
Labels: area:news, area:tournaments, size/L

#13240 Fix link in `Resurrection Cup 2025: Registrations Now Open!`
  news/2025/2025-05-11-resurrection-cup-2025-registrations-now-open.md
Labels: area:news, size/XS

#13235 Update `Gulano Cup #5` tournament article
  wiki/Tournaments/GNV/5/en.md
  wiki/Tournaments/GNV/5/id.md
Labels: area:tournaments, size/M

#13239 [ES] Update `Ranking criteria/Difficulty naming`
  wiki/Ranking_criteria/Difficulty_naming/es.md
Labels: area:translations, size/XS, area:ranking criteria

#13242 Add `New Featured Artist: Xeven` news post
  news/2025/2025-05-11-new-featured-artist-xeven.md
Labels: area:news, size/M

#13237 Update NAT and SEV articles
  wiki/People/Nomination_Assessment_Team/SEV_rating/en.md
  wiki/People/Nomination_Assessment_Team/SEV_rating/es.md
  wiki/People/Nomination_Assessment_Team/SEV_rating/fr.md
  wiki/People/Nomination_Assessment_Team/SEV_rating/ko.md
  wiki/People/Nomination_Assessment_Team/SEV_rating/zh.md
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Nomination_Assessment_Team/es.md
Labels: size/M

#13243 Update `LGA 2025` for the Week 1 stage
  news/2025/2025-05-02-the-lazer-grand-arena-returns.md
  wiki/Tournaments/LGA/2025/en.md
Labels: area:news, area:tournaments, size/L

#13221 [ES] Update `People/Beatmap Nominators/Beatmap Veto`
  wiki/People/Beatmap_Nominators/Beatmap_Veto/es.md
Labels: area:translations, size/S

#13205 [ES] Update `People/Featured Artists/Featured Artist playlists`
  wiki/People/Featured_Artists/Featured_Artist_playlists/es.md
Labels: area:translations, size/XS

#13207 [ES] Update `Beatmap search`
  wiki/Beatmap_search/es.md
Labels: area:translations, size/S

#13214 [ES] Update `Tournaments/Official support`
  wiki/Tournaments/Official_support/es.md
Labels: area:translations, area:tournaments, size/S

#13181 [ES] Update `Ranking criteria/osu!taiko`
  wiki/Ranking_criteria/osu!/es.md
  wiki/Ranking_criteria/osu!taiko/es.md
  wiki/Tumblr/es.md
Labels: area:translations, size/L, area:ranking criteria

#13241 [ES] Update `Community/Bespoke music`
  wiki/Community/Bespoke_music/es.md
Labels: area:translations, size/L

#13190 [ID] Cleanup `osu! file formats`
  wiki/Client/File_formats/id.md
Labels: area:translations, size/S, state/stale merge

#13195 [ID] Cleanup/Retranslate `Beatmap editor`
  wiki/Client/Beatmap_editor/id.md
Labels: area:translations, size/M, state/stale merge

#13199 [VI] Update `Help centre/Account restrictions`
  wiki/Help_centre/Account_restrictions/vi.md
Labels: area:translations, size/XS, state/stale merge, area:help centre

#13218 [ID] Cleanup `Beatmap ranking queue`
  wiki/Beatmap_ranking_procedure/Ranking_queue/id.md
Labels: area:translations, size/S, state/stale merge

#13219 [ZH] Add `History of osu!/2011`
  wiki/History_of_osu!/2011/zh.md
Labels: area:translations, size/M, state/stale merge

#13225 [ID] Add `Stack leniency`
  wiki/Beatmap/Stack_leniency/id.md
Labels: area:translations, size/M, state/stale merge

#13191 [ID] Cleanup `Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/id.md
Labels: area:translations, size/M, area:help centre

#13187 [ID] Further cleanup `Help centre/Tournament bans`
  wiki/Help_centre/Tournament_bans/id.md
Labels: area:translations, size/S, area:help centre

#13198 [ID] Cleanup `How you can help!`
  wiki/Community/How_you_can_help!/id.md
Labels: area:translations, size/M

#13233 Update `4WC 2025` to Qualifiers
  wiki/Tournaments/4WC/2025/en.md
Labels: area:tournaments, size/M

#13202 [VI] Add `Help centre/Client`
  wiki/Help_centre/Client/vi.md
Labels: area:translations, size/L, state/stale merge, area:help centre

#13176 Update `People/Performance_Points_Committee`
  wiki/People/Performance_Points_Committee/en.md
  wiki/People/Performance_Points_Committee/es.md
  wiki/People/Performance_Points_Committee/fr.md
  wiki/People/Performance_Points_Committee/id.md
  wiki/People/Performance_Points_Committee/ru.md
  wiki/People/Performance_Points_Committee/zh-tw.md
Labels: size/M

#13247 [ID] Adjust a couple more things in `How you can help!`
  wiki/Community/How_you_can_help!/id.md
Labels: area:translations, size/XS

#13249 Add `Monthly Beatmapping Contest: May 2025` news post
  news/2025/2025-04-10-monthly-beatmapping-contest-april-2025.md
  news/2025/2025-05-12-monthly-beatmapping-contest-may-2025.md
  wiki/Contests/Contest_points/en.md
  wiki/Contests/Contest_points/es.md
  wiki/Contests/Contest_points/fr.md
  wiki/shared/news/2025-05-12-monthly-beatmapping-contest-may-2025/combos.jpg
  wiki/shared/news/2025-05-12-monthly-beatmapping-contest-may-2025/lazer.png
  wiki/shared/news/2025-05-12-monthly-beatmapping-contest-may-2025/stable.png
Labels: area:news, size/L

#13250 Fix typo in `Monthly Beatmapping Contest: May 2025` news post
  news/2025/2025-05-12-monthly-beatmapping-contest-may-2025.md
Labels: area:news, size/XS

#13179 Add `UKCC12` tournament page
  wiki/Tournaments/UKCC/12/en.md
  wiki/Tournaments/UKCC/12/img/badge.png
  wiki/Tournaments/UKCC/12/img/banner.jpg
  wiki/Tournaments/UKCC/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
Labels: area:tournaments, size/L

#13251 Update acceptable rank ranges for osu!mania tournaments in `Official tournament support`
  wiki/Tournaments/Official_support/en.md
  wiki/Tournaments/Official_support/es.md
Labels: area:tournaments, size/S

#13244 Add `MCNC/4K2024` tournament article
  wiki/Tournaments/MCNC/4K2024/en.md
  wiki/Tournaments/MCNC/4K2024/img/badge.jpg
  wiki/Tournaments/MCNC/4K2024/img/logo.jpg
  wiki/Tournaments/MCNC/en.md
Labels: area:tournaments, size/XL

#13254 Add Xeven to `Featured Artists`
  wiki/People/Featured_Artists/de.md
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/es.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: size/XS

#12944 Add `FDC 2025` tournament page
  wiki/Tournaments/FDC/2025/en.md
  wiki/Tournaments/FDC/2025/img/badge.png
  wiki/Tournaments/FDC/2025/img/banner.png
  wiki/Tournaments/FDC/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
Labels: area:tournaments, size/XL

#13211 Update `Beatmap ranking procedure`
  wiki/Beatmap_ranking_procedure/de.md
  wiki/Beatmap_ranking_procedure/en.md
  wiki/Beatmap_ranking_procedure/es.md
  wiki/Beatmap_ranking_procedure/fr.md
  wiki/Beatmap_ranking_procedure/img/nomination-progress-beatmapset1857663.png
  wiki/Beatmap_ranking_procedure/img/nomination-progress-beatmapset2293010.jpg
  wiki/Beatmap_ranking_procedure/ru.md
  wiki/Beatmap_ranking_procedure/zh.md
  wiki/People/Beatmap_Nominators/General_Information/en.md
  wiki/People/Beatmap_Nominators/General_Information/es.md
  wiki/People/Beatmap_Nominators/General_Information/fr.md
  wiki/People/Beatmap_Nominators/General_Information/zh.md
Labels: size/M

#13245 [ES] Update `People/Nomination Assessment Team/SEV rating`
  wiki/People/Nomination_Assessment_Team/SEV_rating/es.md
Labels: area:translations, size/S

#13246 [ES] Update `People/Nomination Assessment Team`
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Nomination_Assessment_Team/es.md
Labels: area:translations, size/S

#13248 Cleanup `Compressing files`
  wiki/Guides/Compressing_files/en.md
  wiki/Guides/Compressing_files/es.md
  wiki/Guides/Compressing_files/fr.md
Labels: size/S

#13261 Fix tournament format in intro of `Resurrection Cup 2025`
  wiki/Tournaments/RESC/2025/en.md
Labels: area:tournaments, size/XS

#13262 Add `osu!mania 7K World Cup 2026 Mapper and Playtester Applications` news post
  news/2025/2025-05-16-osumania-7k-world-cup-2026-mapper-and-playtester-applications.md
Labels: area:news, size/S

#13265 Update `LGA 2025` rules
  wiki/Tournaments/LGA/2025/en.md
Labels: area:tournaments, size/XS

#13267 Add `New Featured Artist: Kyutatsuki` news post
  news/2025/2025-05-17-new-featured-artist-kyutatsuki.md
Labels: area:news, size/M

#13270 Add map links to `New Featured Artist: Kyutatsuki` newspost
  news/2025/2025-05-17-new-featured-artist-kyutatsuki.md
Labels: area:news, size/S

#13268 Update `LGA 2025` with partial results, sunday schedule, staff listing
  wiki/Tournaments/LGA/2025/en.md
Labels: area:tournaments, size/M

#13271 Add more links to `New Featured Artist: Kyutatsuki` newspost
  news/2025/2025-05-17-new-featured-artist-kyutatsuki.md
Labels: area:news, size/XS

#13266 Mapper's Choice Awards 2024: Results
  news/2025/2025-05-18-mappers-choice-awards-2024-results.md
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-catch-map-1.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-catch-map-2.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-catch-map-3.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-catch-map-header.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-catch-user-1.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-catch-user-2.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-catch-user-3.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-catch-user-header.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-mania-map-1.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-mania-map-2.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-mania-map-3.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-mania-map-header.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-mania-user-1.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-mania-user-2.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-mania-user-3.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-mania-user-header.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-osu-map-1.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-osu-map-2.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-osu-map-3.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-osu-map-header.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-osu-user-1.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-osu-user-2.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-osu-user-3.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-osu-user-header.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-storyboard-map-1.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-storyboard-map-2.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-storyboard-map-3.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-storyboard-map-header.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-storyboard-user-1.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-storyboard-user-2.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-storyboard-user-3.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-storyboard-user-4.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-storyboard-user-header.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-taiko-map-1.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-taiko-map-2.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-taiko-map-3.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-taiko-map-4.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-taiko-map-header.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-taiko-user-1.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-taiko-user-2.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-taiko-user-3-1.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-taiko-user-3-2.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-taiko-user-3.png
  wiki/shared/news/2025-05-18-mappers-choice-awards-2024-results/top3-taiko-user-header.png
Labels: area:news, size/L

#13272 Update `LGA 2025` with Week 1 results
  wiki/Tournaments/LGA/2025/en.md
Labels: area:tournaments, size/M

#13264 Update `o!bwc 2025` schedule
  news/2025/2025-04-07-osu-beatmapping-world-championship-2025.md
  wiki/Contests/o!bwc/4/en.md
Labels: area:news, size/M

#13273 Update `LGA 2025` with Week 2 schedules, links
  wiki/Tournaments/LGA/2025/en.md
Labels: area:tournaments, size/M

#13274 Update `LGA 2025` Week 2 schedule with fixes
  wiki/Tournaments/LGA/2025/en.md
Labels: area:tournaments, size/M

#13258 [ES] Update `Guides/Compressing files`
  wiki/Guides/Compressing_files/es.md
Labels: area:translations, size/S

#13255 [ES] Update `Beatmap ranking procedure` and `People/Beatmap Nominators/General Information`
  wiki/Beatmap_ranking_procedure/es.md
  wiki/Beatmap_ranking_procedure/img/nomination-progress-beatmapset2293010-ES.png
  wiki/People/Beatmap_Nominators/General_Information/es.md
  wiki/People/Beatmap_Nominators/General_Information/img/nominate-ES.png
  wiki/People/Beatmap_Nominators/General_Information/img/reset_dq-ES.png
Labels: area:translations, size/S

#13252 [ES] Update `FAQ`
  wiki/Client/Interface/Chat_console/es.md
  wiki/FAQ/es.md
  wiki/FAQ/img/Options_keyboard-ES.png
  wiki/FAQ/img/Options_quickicons-ES.png
Labels: area:translations, size/XL

#13257 [ES] Fix incorrect key in `Client/Keyboard shortcuts`
  wiki/Client/Keyboard_shortcuts/es.md
Labels: area:translations, size/XS

#13277 Update `4WC 2025` to Round of 16
  wiki/Tournaments/4WC/2025/en.md
Labels: area:tournaments, size/M

#13279 Update `LGA 2025` Week 2 schedules
  wiki/Tournaments/LGA/2025/en.md
Labels: area:tournaments, size/M

#13281 Fix incorrect mod link on `Lazer Grand Arena 2025`
  wiki/Tournaments/LGA/2025/en.md
Labels: area:tournaments, size/XS

#13283 Update `LGA 2025` schedules for sunday
  wiki/Tournaments/LGA/2025/en.md
Labels: area:tournaments, size/M

#13285 Fix typo, links in `LGA 2025`
  wiki/Tournaments/LGA/2025/en.md
Labels: area:tournaments, size/XS

#13286 Add `New Featured Artist: The Musical Ghost` news post
  news/2025/2025-05-24-new-featured-artist-the-musical-ghost.md
Labels: area:news, size/M

#13295 Update `LGA 2025` wiki post, news article with partial Week 2 results/redate
  news/2025/2025-05-02-the-lazer-grand-arena-returns.md
  wiki/Tournaments/LGA/2025/en.md
Labels: area:news, area:tournaments, size/M

#13269 [VI] minor correction in translations
  wiki/Help_centre/Client/vi.md
  wiki/Help_centre/Silences/vi.md
  wiki/Reporting_bad_behaviour/Abuse/vi.md
Labels: area:translations, size/M, state/stale merge, area:help centre

#13299 Update `4WC 2025` to Quarterfinals
  wiki/Tournaments/4WC/2025/en.md
Labels: area:tournaments, size/L

#13304 Add TheMusicalGhost to `Featured Artists`
  wiki/People/Featured_Artists/de.md
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/es.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: size/XS

#13305 Update `CWC 2025` teams listing
  wiki/Tournaments/CWC/2025/en.md
Labels: area:tournaments, size/XS

#13307 Update `CWC 2025` teams listing
  wiki/Tournaments/CWC/2025/en.md
Labels: area:tournaments, size/S

#13309 Update `CWC 2025` teams listing
  wiki/Tournaments/CWC/2025/en.md
Labels: area:tournaments, size/XS

#13311 Add `New Featured Artist: UNTONE Sound Group` news post
  news/2025/2025-05-31-new-featured-artist-untone-sound-group.md
  wiki/shared/news/2025-05-31-new-featured-artist-untone-sound-group/untone-tone-fury-banner.jpg
Labels: area:news, size/L
