Repository ppy/osu-wiki, pull requests merged in 2025-03, with the labels that each got.

#12889 Update `TWC 2025` with provisional teams listing
  wiki/Tournaments/TWC/2025/en.md
Labels: area:tournaments, size/M

#12609 [ES] Add lazer mods to `Game modifier` (6)
  wiki/Gameplay/Game_modifier/Single_Tap/es.md
  wiki/Gameplay/Game_modifier/Spin_In/es.md
  wiki/Gameplay/Game_modifier/Spun_Out_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Strict_Tracking/es.md
  wiki/Gameplay/Game_modifier/Sudden_Death_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Swap/es.md
  wiki/Gameplay/Game_modifier/Synesthesia/es.md
Labels: area:translations, size/L

#12607 [ES] Add lazer mods to `Game modifier` (4)
  wiki/Gameplay/Game_modifier/Half_Time_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Hard_Rock_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Hidden_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Hold_Off/es.md
  wiki/Gameplay/Game_modifier/Invert/es.md
  wiki/Gameplay/Game_modifier/Key_mods_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Magnetised/es.md
  wiki/Gameplay/Game_modifier/Mirror_(lazer)/es.md
Labels: area:translations, size/L

#12605 [ES] Add lazer mods to `Game modifier` (2)
  wiki/Gameplay/Game_modifier/Bubbles/es.md
  wiki/Gameplay/Game_modifier/Cinema_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Classic/es.md
  wiki/Gameplay/Game_modifier/Constant_Speed/es.md
  wiki/Gameplay/Game_modifier/Cover/es.md
  wiki/Gameplay/Game_modifier/Daycore/es.md
  wiki/Gameplay/Game_modifier/Deflate/es.md
  wiki/Gameplay/Game_modifier/Depth/es.md
Labels: area:translations, size/L

#12784 [DE] Update `Medals` and `Medals/Unlock requirements/Dedication`
  wiki/Medals/Unlock_requirements/Dedication/de.md
  wiki/Medals/de.md
Labels: area:translations, size/S

#12874 [ES] Modification to `Daily Challenge`
  wiki/Gameplay/Daily_challenge/es.md
Labels: area:translations, size/XS

#12587 [ES] Update `Community/Projects`
  wiki/Community/Projects/es.md
Labels: area:translations, size/XS

#12604 [ES] Add lazer mods to `Game modifier` (1)
  wiki/Gameplay/Game_modifier/Accuracy_Challenge/es.md
  wiki/Gameplay/Game_modifier/Adaptive_Speed/es.md
  wiki/Gameplay/Game_modifier/Alternate/es.md
  wiki/Gameplay/Game_modifier/Approach_Different/es.md
  wiki/Gameplay/Game_modifier/Autopilot_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Autoplay_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Barrel_Roll/es.md
  wiki/Gameplay/Game_modifier/Blinds/es.md
Labels: area:translations, size/L

#12749 [ID] Cleanup/Retranslate `User configuration file`
  wiki/Client/Program_files/User_configuration_file/id.md
Labels: area:translations, size/L, state/stale merge

#12751 [DE] Update `Beatmap search`
  wiki/Beatmap_search/de.md
Labels: area:translations, size/S

#12722 [VI] Add `People/Account support team`
  wiki/People/Account_support_team/vi.md
Labels: area:translations, size/M, state/stale merge

#12748 [VI] Add `Help centre/Tournament bans`
  wiki/Help_centre/Tournament_bans/vi.md
Labels: area:translations, size/M, state/stale merge, area:help centre

#12750 [VI] Update `reporting bad behaviour/Abuse`
  wiki/Reporting_bad_behaviour/Abuse/vi.md
Labels: area:translations, size/M, state/stale merge

#12711 [VI] Add `Help_centre/Website`
  wiki/Help_centre/Website/vi.md
Labels: area:translations, size/M, state/stale merge, area:help centre

#12827 [DE] Update `People/User groups`
  wiki/People/User_groups/de.md
Labels: area:translations, size/XS

#12887 [ES] Update `Medals`
  wiki/Medals/es.md
Labels: area:translations, size/S

#12826 [DE] Make phrasing in `Tournament management commands` more natural
  wiki/osu!_tournament_client/osu!tourney/Tournament_management_commands/de.md
Labels: area:translations, size/S

#12886 [ES] Update `Beatmap search`
  wiki/Beatmap_search/es.md
Labels: area:translations, size/XS

#12885 [ES] Update `Contests`
  wiki/Contests/es.md
Labels: area:translations, size/S

#12822 [ID] Update `Help centre`
  wiki/Help_centre/id.md
Labels: area:translations, size/XS, area:help centre

#12892 Update tournament report link across tournament articles
  wiki/People/Tournament_Committee/de.md
  wiki/People/Tournament_Committee/en.md
  wiki/People/Tournament_Committee/es.md
  wiki/People/Tournament_Committee/fr.md
  wiki/People/Tournament_Committee/id.md
  wiki/People/Tournament_Committee/ko.md
  wiki/People/Tournament_Committee/ru.md
  wiki/People/Tournament_Committee/zh-tw.md
  wiki/People/Tournament_Committee/zh.md
  wiki/Tournaments/JHC/JHC_2024/en.md
  wiki/Tournaments/JHC/JHC_2024/zh.md
  wiki/Tournaments/Official_support/de.md
  wiki/Tournaments/Official_support/el.md
  wiki/Tournaments/Official_support/en.md
  wiki/Tournaments/Official_support/es.md
  wiki/Tournaments/Official_support/fr.md
  wiki/Tournaments/Official_support/ko.md
  wiki/Tournaments/Official_support/zh.md
Labels: area:tournaments, size/M

#12894 Update official tournament support article's last updated date
  wiki/Tournaments/Official_support/en.md
Labels: area:tournaments, size/XS

#12898 Add nik to `Tournament Committee`
  wiki/People/Tournament_Committee/en.md
Labels: size/XS

#12899 Update `TWC 2025`, `MWC 7K 2025`
  wiki/Tournaments/MWC/2025_7K/en.md
  wiki/Tournaments/TWC/2025/en.md
Labels: area:tournaments, size/M

#12895 Add `osu!mania 7K World Cup 2025 Concludes` news post
  news/2025/2025-03-03-osumania-7k-world-cup-2025-concludes.md
  wiki/shared/avatars/CrewK.jpg
  wiki/shared/avatars/Crusher.jpg
  wiki/shared/avatars/Kalkai.jpg
  wiki/shared/avatars/Ludicin.jpg
  wiki/shared/avatars/Sakura006.jpg
  wiki/shared/avatars/TheFunk.jpg
  wiki/shared/avatars/dressurf.jpg
  wiki/shared/avatars/yz1155.jpg
  wiki/shared/news/2025-03-03-osumania-7k-world-cup-2025-concludes/Lost_Requiem_banner.jpg
  wiki/shared/news/2025-03-03-osumania-7k-world-cup-2025-concludes/Ludicin.png
  wiki/shared/news/2025-03-03-osumania-7k-world-cup-2025-concludes/TheFunk-and-CrewK.png
  wiki/shared/news/2025-03-03-osumania-7k-world-cup-2025-concludes/banner.jpg
  wiki/shared/news/2025-03-03-osumania-7k-world-cup-2025-concludes/banner@2x.jpg
  wiki/shared/news/2025-03-03-osumania-7k-world-cup-2025-concludes/mappool.jpg
  wiki/shared/news/2025-03-03-osumania-7k-world-cup-2025-concludes/mwc7k2025-credits.png
  wiki/shared/news/2025-03-03-osumania-7k-world-cup-2025-concludes/yz1155.png
Labels: area:news, size/L

#12901 Add missing interview hyperlinks and credits to `osu!mania 7K World Cup 2025 Concludes`
  news/2025/2025-03-03-osumania-7k-world-cup-2025-concludes.md
  wiki/shared/news/2025-03-03-osumania-7k-world-cup-2025-concludes/mwc7k2025-credits.png
Labels: area:news, size/XS

#12905 Update `Bespoke music in osu!`
  wiki/Community/Bespoke_music/en.md
  wiki/Community/Bespoke_music/img/bespoke-music-over-time.png
Labels: size/M

#12891 Add `Mappers' Guild - Spring 2025 Priority Quests` news post
  news/2025/2025-03-03-mappers-guild-spring-2025-priority-quests.md
Labels: area:news, size/M

#12908 Update Lost Requiem banner in `osu!mania 7K World Cup 2025 Concludes` news post
  news/2025/2025-03-03-osumania-7k-world-cup-2025-concludes.md
  wiki/shared/news/2025-03-03-osumania-7k-world-cup-2025-concludes/Lost_Requiem_banner.jpg
Labels: area:news, size/XS

#12893 Update schedule in `Newspaper Cup 2025`
  news/2025/2025-01-29-newspaper-cup-2025.md
Labels: area:news, size/XS

#12911 Add Polytetral to `Tournament Committee`
  wiki/People/Tournament_Committee/en.md
Labels: size/XS

#12909 Update `Locus 2025` to make drain time rule a bit more lenient
  wiki/Contests/Locus/2025/en.md
Labels: size/XS

#12912 Update `Featured Artist playlists`
  wiki/People/Featured_Artists/Featured_Artist_playlists/en.md
  wiki/People/Featured_Artists/Featured_Artist_playlists/es.md
  wiki/People/Featured_Artists/Featured_Artist_playlists/fr.md
Labels: size/M

#12914 Update THMC4 Round of 16 results, statics and Quarterfinals mappools
  wiki/Tournaments/TMC/4th/en.md
Labels: area:tournaments, size/M

#12916 Update `3WC 2025` to Finals
  wiki/Tournaments/3WC/2025/en.md
Labels: area:tournaments, size/M

#12699 Add March 2025 `Performance Points & Star Rating Updates` news post
  news/2025/2025-03-06-performance-points-star-rating-updates.md
  wiki/shared/news/2025-03-06-performance-points-star-rating-updates/reading-graph.png
  wiki/shared/news/2025-03-06-performance-points-star-rating-updates/wiggle-graph.png
Labels: area:news, size/L

#12539 [EN][FR] Update articles related to game modes and gameplay, add missing links
  wiki/Game_mode/fr.md
  wiki/Gameplay/Hit_object/Hit_circle/de.md
  wiki/Gameplay/Hit_object/Hit_circle/en.md
  wiki/Gameplay/Hit_object/Hit_circle/es.md
  wiki/Gameplay/Hit_object/Hit_circle/fr.md
  wiki/Gameplay/Hit_object/Hit_circle/id.md
  wiki/Gameplay/Hit_object/Hit_circle/ru.md
  wiki/Gameplay/Hit_object/Hit_circle/zh.md
  wiki/Gameplay/Hit_object/Slider/en.md
  wiki/Gameplay/Hit_object/Slider/es.md
  wiki/Gameplay/Hit_object/Slider/fr.md
  wiki/Gameplay/Hit_object/Slider/id.md
  wiki/Gameplay/Hit_object/Slider/ru.md
  wiki/Gameplay/Hit_object/Slider/zh.md
Labels: size/M

#12924 Fix typo in `Performance Points & Star Rating Updates` news post
  news/2025/2025-03-06-performance-points-star-rating-updates.md
Labels: area:news, size/XS

#12925 Update `TWC 2025` team listings
  wiki/Tournaments/TWC/2025/en.md
Labels: area:tournaments, size/S

#12930 Update `TWC 2025` team listings
  wiki/Tournaments/TWC/2025/en.md
Labels: area:tournaments, size/S

#12931 Add Riot to `Tournament Committee`
  wiki/People/Tournament_Committee/en.md
Labels: size/XS

#12927 Update `Users with unique titles`
  wiki/People/Users_with_unique_titles/de.md
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/es.md
  wiki/People/Users_with_unique_titles/fr.md
Labels: size/S

#12926 Add exception in `Content usage permissions`
  wiki/Rules/Content_usage_permissions/de.md
  wiki/Rules/Content_usage_permissions/en.md
  wiki/Rules/Content_usage_permissions/es.md
  wiki/Rules/Content_usage_permissions/zh.md
Labels: size/S

#12933 Update `TWC 2025` for the Qualifier stage
  wiki/Tournaments/TWC/2025/en.md
Labels: area:tournaments, size/M

#12938 Add `TWC 2025` on index page
  wiki/Tournaments/TWC/en.md
  wiki/Tournaments/TWC/fr.md
  wiki/Tournaments/TWC/id.md
  wiki/Tournaments/TWC/ru.md
  wiki/Tournaments/TWC/zh-tw.md
Labels: area:tournaments, size/XS

#12848 [ES] Add `Community/Beatmap Nominator events/New Mapper Nomination Event`
  wiki/Community/Beatmap_Nominator_events/New_Mapper_Nomination_Event/es.md
  wiki/Community/Beatmap_Nominator_events/es.md
Labels: area:translations, size/M

#12880 [ES] Update `People/Global Moderation Team`, `People/Nomination Assessment Team`, `People/Tournament Committee` and `People/Beatmap Nominators`
  wiki/People/Beatmap_Nominators/es.md
  wiki/People/Global_Moderation_Team/es.md
  wiki/People/Nomination_Assessment_Team/es.md
  wiki/People/Tournament_Committee/es.md
Labels: area:translations, size/M

#12920 [ES] Update `osu!supporter`
  wiki/osu!supporter/es.md
Labels: area:translations, size/XS

#12881 [ES] Update `Help centre/Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/es.md
Labels: area:translations, size/XS, area:help centre

#12883 [ES] Update `People/User groups`
  wiki/People/User_groups/es.md
Labels: area:translations, size/XS

#12915 [FR] Add "Easy (lazer mod)"
  wiki/Gameplay/Game_modifier/Easy_(lazer)/fr.md
Labels: area:translations, size/M

#12833 [ID] Update/Retranslate `How you can help!`
  wiki/Community/How_you_can_help!/id.md
Labels: area:translations, size/M, state/stale merge

#12940 Update `TWC 2025` staff listing
  wiki/Tournaments/TWC/2025/en.md
Labels: area:tournaments, size/XS

#12821 [ID] Update `Help centre/Silences`
  wiki/Help_centre/Silences/id.md
Labels: area:translations, size/M, state/stale merge, area:help centre

#12809 [ID] Update/Retranslate `Tournament bans`
  wiki/Help_centre/Tournament_bans/id.md
Labels: area:translations, size/M, state/stale merge, area:help centre

#12823 [ID] Update `Community`
  wiki/Community/id.md
Labels: area:translations, size/S

#12941 Add SEVEN LIVES to `Featured Artists`
  wiki/People/Featured_Artists/de.md
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/es.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: size/XS

#12943 Update THMC4 Quarterfinals results, statics and Semifinals mappools, schedules
  wiki/Tournaments/TMC/4th/en.md
Labels: area:tournaments, size/L

#12700 Update members list and add heading for Performance Points Maintainers on `People/Performance_Points_Committee`
  wiki/People/Performance_Points_Committee/en.md
  wiki/People/Performance_Points_Committee/es.md
Labels: size/M

#12921 Update `Official beatmapping contest support`
  wiki/Contests/Official_support/en.md
  wiki/Contests/Official_support/es.md
  wiki/Contests/Official_support/fr.md
Labels: size/M

#12953 Update `MCLT 4K 2025` with final matches and information
  wiki/Tournaments/MCLT/4K2025/en.md
  wiki/Tournaments/MCLT/4K2025/img/badge-1st.png
  wiki/Tournaments/MCLT/4K2025/img/mclt-podium.jpg
Labels: area:tournaments, size/M

#12945 Add `Skin of the Year 2024: Results` news post
  news/2025/2025-03-13-skin-of-the-year-2024-results.md
  wiki/shared/news/2025-03-13-skin-of-the-year-2024-results/banner.jpg
  wiki/shared/news/2025-03-13-skin-of-the-year-2024-results/banner@2x.jpg
  wiki/shared/news/2025-03-13-skin-of-the-year-2024-results/echoing-inside.jpg
  wiki/shared/news/2025-03-13-skin-of-the-year-2024-results/echoing-inside@2x.jpg
  wiki/shared/news/2025-03-13-skin-of-the-year-2024-results/fool-moon-night2.0.jpg
  wiki/shared/news/2025-03-13-skin-of-the-year-2024-results/fool-moon-night2.0@2x.jpg
  wiki/shared/news/2025-03-13-skin-of-the-year-2024-results/freedom-dive-remastered.jpg
  wiki/shared/news/2025-03-13-skin-of-the-year-2024-results/freedom-dive-remastered@2x.jpg
  wiki/shared/news/2025-03-13-skin-of-the-year-2024-results/furina.jpg
  wiki/shared/news/2025-03-13-skin-of-the-year-2024-results/furina@2x.jpg
  wiki/shared/news/2025-03-13-skin-of-the-year-2024-results/phosphor.jpg
  wiki/shared/news/2025-03-13-skin-of-the-year-2024-results/phosphor@2x.jpg
  wiki/shared/news/2025-03-13-skin-of-the-year-2024-results/tetos-territory.jpg
  wiki/shared/news/2025-03-13-skin-of-the-year-2024-results/tetos-territory@2x.jpg
  wiki/shared/news/2025-03-13-skin-of-the-year-2024-results/unofficial-deskmat-skin.jpg
  wiki/shared/news/2025-03-13-skin-of-the-year-2024-results/unofficial-deskmat-skin@2x.jpg
  wiki/shared/news/2025-03-13-skin-of-the-year-2024-results/wangan.jpg
  wiki/shared/news/2025-03-13-skin-of-the-year-2024-results/wangan@2x.jpg
  wiki/shared/news/2025-03-13-skin-of-the-year-2024-results/windosu.jpg
  wiki/shared/news/2025-03-13-skin-of-the-year-2024-results/windosu@2x.jpg
  wiki/shared/news/2025-03-13-skin-of-the-year-2024-results/yugen-remastered.jpg
  wiki/shared/news/2025-03-13-skin-of-the-year-2024-results/yugen-remastered@2x.jpg
Labels: area:news, size/M

#12955 Add extra entry in `Skin of the Year 2024: Results` news post
  news/2025/2025-03-13-skin-of-the-year-2024-results.md
  wiki/shared/news/2025-03-13-skin-of-the-year-2024-results/pastel.jpg
  wiki/shared/news/2025-03-13-skin-of-the-year-2024-results/pastel@2x.jpg
Labels: area:news, size/XS

#12956 Update `THMC4` SF schedule
  wiki/Tournaments/TMC/4th/en.md
Labels: area:tournaments, size/M

#12608 [ES] Add lazer mods to `Game modifier` (5)
  wiki/Gameplay/Game_modifier/Nightcore_(lazer)/es.md
  wiki/Gameplay/Game_modifier/No_Fail_(lazer)/es.md
  wiki/Gameplay/Game_modifier/No_Release/es.md
  wiki/Gameplay/Game_modifier/Perfect_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Random_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Relax_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Repel/es.md
Labels: area:translations, size/L

#12947 [DE] Update `Rules/Content usage permissions`
  wiki/Rules/Content_usage_permissions/de.md
Labels: area:translations, size/XS

#12948 [DE] Update `osu!supporter`
  wiki/osu!supporter/de.md
Labels: area:translations, size/XS

#12597 [ES] Update `Game modifier` mods (2)
  wiki/Gameplay/Game_modifier/Nightcore/es.md
  wiki/Gameplay/Game_modifier/No_Fail/es.md
  wiki/Gameplay/Game_modifier/Perfect/es.md
  wiki/Gameplay/Game_modifier/Random/es.md
  wiki/Gameplay/Game_modifier/Relax/es.md
  wiki/Gameplay/Game_modifier/ScoreV2/es.md
  wiki/Gameplay/Game_modifier/Spun_Out/es.md
  wiki/Gameplay/Game_modifier/Sudden_Death/es.md
  wiki/Gameplay/Game_modifier/Target_Practice/es.md
  wiki/Gameplay/Game_modifier/es.md
  wiki/Gameplay/Game_modifier/img/mod-selection-screen-ES.jpg
  wiki/Gameplay/Game_modifier/xK/es.md
Labels: area:translations, size/L

#12964 Update `Daily challenge`
  wiki/Gameplay/Daily_challenge/en.md
  wiki/Gameplay/Daily_challenge/es.md
  wiki/Gameplay/Daily_challenge/fr.md
  wiki/Gameplay/Daily_challenge/pl.md
Labels: size/XS

#12967 Update `THMC4` Semifinals results and future matchup
  wiki/Tournaments/TMC/4th/en.md
Labels: area:tournaments, size/M

#12965 Add new tracks to `Bespoke music in osu!`
  wiki/Community/Bespoke_music/en.md
  wiki/Community/Bespoke_music/img/bespoke-music-over-time.png
Labels: size/M

#12962 [ES] Update `Tournaments/Official support`
  wiki/Tournaments/Official_support/es.md
Labels: area:translations, area:tournaments, size/XS

#12963 [ES] Update `Rules/Content usage permissions`
  wiki/Rules/Content_usage_permissions/es.md
Labels: area:translations, size/XS

#12888 [ES] Update `Community/Discord servers`
  wiki/Community/Discord_servers/es.md
Labels: area:translations, size/XS

#12935 [ES] Update `People/Users with unique titles`
  wiki/People/Users_with_unique_titles/es.md
Labels: area:translations, size/XS

#12949 [DE] Add link to lazer version in game modifier articles
  wiki/Gameplay/Game_modifier/Auto/de.md
  wiki/Gameplay/Game_modifier/Autopilot/de.md
  wiki/Gameplay/Game_modifier/Cinema/de.md
  wiki/Gameplay/Game_modifier/Double_Time/de.md
  wiki/Gameplay/Game_modifier/Easy/de.md
  wiki/Gameplay/Game_modifier/Fade_In/de.md
  wiki/Gameplay/Game_modifier/Flashlight/de.md
  wiki/Gameplay/Game_modifier/Half_Time/de.md
  wiki/Gameplay/Game_modifier/Hard_Rock/de.md
  wiki/Gameplay/Game_modifier/Hidden/de.md
  wiki/Gameplay/Game_modifier/Mirror/de.md
  wiki/Gameplay/Game_modifier/Nightcore/de.md
  wiki/Gameplay/Game_modifier/No_Fail/de.md
  wiki/Gameplay/Game_modifier/Perfect/de.md
  wiki/Gameplay/Game_modifier/Random/de.md
  wiki/Gameplay/Game_modifier/Relax/de.md
  wiki/Gameplay/Game_modifier/ScoreV2/de.md
  wiki/Gameplay/Game_modifier/Spun_Out/de.md
  wiki/Gameplay/Game_modifier/Sudden_Death/de.md
  wiki/Gameplay/Game_modifier/de.md
  wiki/Gameplay/Game_modifier/xK/de.md
Labels: area:translations, size/M

#12968 Add `New Featured Artist: hikota` news post
  news/2025/2025-03-15-new-featured-artist-hikota.md
Labels: area:news, size/M

#12969 Update `3WC 2025` Grand Finals schedule
  wiki/Tournaments/3WC/2025/en.md
Labels: area:tournaments, size/S

#12610 [ES] Add lazer mods to `Game modifier` (7)
  wiki/Gameplay/Game_modifier/Target_Practice_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Traceable/es.md
  wiki/Gameplay/Game_modifier/Transform/es.md
  wiki/Gameplay/Game_modifier/Wiggle/es.md
  wiki/Gameplay/Game_modifier/Wind_Down/es.md
  wiki/Gameplay/Game_modifier/Wind_Up/es.md
  wiki/Gameplay/Game_modifier_(lazer)/es.md
  wiki/Gameplay/Game_modifier_(lazer)/img/mod-select-ES.png
Labels: area:translations, size/L

#12973 Update `TWC 2025` for the Round of 32 stage
  wiki/Tournaments/TWC/2025/en.md
Labels: area:tournaments, size/L

#12974 [RU] Update `People` index page
  wiki/People/ru.md
Labels: area:translations, size/S

#12866 [DE] Update `Help centre`
  wiki/Help_centre/de.md
Labels: area:translations, size/XS, area:help centre

#12946 Add `Resurrection Cup 2023` tournament article
  wiki/Tournaments/RESC/2023/en.md
  wiki/Tournaments/RESC/2023/img/badge.png
  wiki/Tournaments/RESC/2023/img/banner.jpg
  wiki/Tournaments/RESC/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
Labels: area:tournaments, size/XL

#12959 [DE] Update `Beatmap/Category`
  wiki/Beatmap/Category/de.md
Labels: area:translations, size/XS

#12934 Add `ANZT7S` tournament page
  wiki/Tournaments/ANZT/2020_Summer/en.md
  wiki/Tournaments/ANZT/2020_Summer/img/badge.png
  wiki/Tournaments/ANZT/2020_Summer/img/logo.png
  wiki/Tournaments/ANZT/en.md
  wiki/Tournaments/ANZT/zh-tw.md
Labels: area:tournaments, size/L

#10840 Fix small mistake in `History of osu! 2007`
  wiki/History_of_osu!/2007/en.md
  wiki/History_of_osu!/2007/es.md
  wiki/History_of_osu!/2007/fr.md
  wiki/History_of_osu!/2007/id.md
  wiki/History_of_osu!/2007/it.md
  wiki/History_of_osu!/2007/nl.md
  wiki/History_of_osu!/2007/pt-br.md
  wiki/History_of_osu!/2007/ru.md
  wiki/History_of_osu!/2007/zh.md
Labels: size/M

#12653 [PT-BR] Add `Beatmapping/Mapping techniques`
  wiki/Beatmapping/Mapping_techniques/pt-br.md
Labels: area:translations, size/L, state/stale merge

#12922 [ID] Update/Retranslate `Upgrading to lazer`
  wiki/Help_centre/Upgrading_to_lazer/id.md
Labels: area:translations, size/L, state/stale merge, area:help centre

#12616 Add `ANZT6W` tournament page
  wiki/Tournaments/ANZT/2019_Winter/en.md
  wiki/Tournaments/ANZT/2019_Winter/img/badge.png
  wiki/Tournaments/ANZT/2019_Winter/img/banner.png
  wiki/Tournaments/ANZT/en.md
  wiki/Tournaments/ANZT/zh-tw.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/ja.md
  wiki/Tournaments/ko.md
  wiki/Tournaments/pl.md
  wiki/Tournaments/th.md
  wiki/Tournaments/zh.md
Labels: area:tournaments, size/L

#12975 Update `3WC 2025` with bracket reset schedule
  wiki/Tournaments/3WC/2025/en.md
Labels: area:tournaments, size/S

#12870 Add `Gulano Cup #5` tournament article
  wiki/Tournaments/GNV/5/en.md
  wiki/Tournaments/GNV/5/id.md
  wiki/Tournaments/GNV/5/img/banner.png
  wiki/Tournaments/GNV/5/img/podium.jpg
  wiki/Tournaments/GNV/en.md
  wiki/Tournaments/GNV/id.md
Labels: area:tournaments, size/XXL

#12976 Add new tracks to `Bespoke music in osu!`
  wiki/Community/Bespoke_music/en.md
  wiki/Community/Bespoke_music/img/bespoke-music-over-time.png
Labels: size/S

#12606 [ES] Add lazer mods to `Game modifier` (3)
  wiki/Gameplay/Game_modifier/Difficulty_Adjust/es.md
  wiki/Gameplay/Game_modifier/Double_Time_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Easy_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Fade_In_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Flashlight_(lazer)/es.md
  wiki/Gameplay/Game_modifier/Floating_Fruits/es.md
  wiki/Gameplay/Game_modifier/Freeze_Frame/es.md
  wiki/Gameplay/Game_modifier/Grow/es.md
Labels: area:translations, size/L

#12936 Update world cup titles
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/es.md
Labels: size/M

#12917 [ES] Update `People/Featured Artists/Featured Artist playlists`
  wiki/People/Featured_Artists/Featured_Artist_playlists/es.md
Labels: area:translations, size/S

#12978 Update `THMC4` Semifinals results, statics and Finals mappools, schedules
  wiki/Tournaments/TMC/4th/en.md
Labels: area:tournaments, size/M

#12951 Update Elite Mappers and Elite Nominators in `Users with unique titles`
  wiki/People/Users_with_unique_titles/en.md
Labels: size/M

#12731 Update NAT, Alumni, osu! team members
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Nomination_Assessment_Team/es.md
  wiki/People/osu!_Alumni/bg.md
  wiki/People/osu!_Alumni/de.md
  wiki/People/osu!_Alumni/en.md
  wiki/People/osu!_Alumni/es.md
  wiki/People/osu!_Alumni/fr.md
  wiki/People/osu!_Alumni/id.md
  wiki/People/osu!_Alumni/it.md
  wiki/People/osu!_Alumni/ja.md
  wiki/People/osu!_Alumni/pl.md
  wiki/People/osu!_Alumni/pt-br.md
  wiki/People/osu!_Alumni/ru.md
  wiki/People/osu!_Alumni/tr.md
  wiki/People/osu!_Alumni/vi.md
  wiki/People/osu!_Alumni/zh.md
  wiki/People/osu!_team/de.md
  wiki/People/osu!_team/en.md
  wiki/People/osu!_team/es.md
  wiki/People/osu!_team/fr.md
  wiki/People/osu!_team/id.md
Labels: size/M

#12979 [ES] Update `People/Performance Points Committee`
  wiki/People/Performance_Points_Committee/es.md
Labels: area:translations, size/M

#12981 [ES] Update `History of osu!/2007`
  wiki/History_of_osu!/2007/es.md
Labels: area:translations, size/M

#12980 [ES] Update `People/Users with unique titles`
  wiki/People/Users_with_unique_titles/es.md
Labels: area:translations, size/M

#12983 Update `THMC4` RO32 Showcase VOD link and Finals mappools maplink
  wiki/Tournaments/TMC/4th/en.md
Labels: area:tournaments, size/XS

#12574 [ES] Update `Silence`
  wiki/Help_centre/Silences/es.md
  wiki/Help_centre/Silences/img/silence-profile-ES.jpg
  wiki/Help_centre/Silences/img/silence-profile-ES.png
Labels: area:translations, size/M

#11705 Extend `People/Mapping Assistance Team` with references and missing details
  wiki/People/Mapping_Assistance_Team/en.md
  wiki/People/Mapping_Assistance_Team/es.md
  wiki/People/Mapping_Assistance_Team/fr.md
  wiki/People/Mapping_Assistance_Team/id.md
Labels: size/S

#12937 [ID] Cleanup `.osb (file format)`, `.osk (file format)`, and `.osz (file format)`
  wiki/Client/File_formats/osb_(file_format)/id.md
  wiki/Client/File_formats/osk_(file_format)/id.md
  wiki/Client/File_formats/osz_(file_format)/id.md
Labels: area:translations, size/S

#12767 [VI] Add `Star Priority` and `Modding`
  wiki/Modding/Star_priority/vi.md
  wiki/Modding/vi.md
Labels: area:translations, size/M, state/stale merge

#12972 Add credits to `Locus 2025` and reorder sections
  wiki/Contests/Locus/2025/en.md
Labels: size/M

#12982 Add `ANZT7W` tournament page
  wiki/Tournaments/ANZT/2020_Winter/en.md
  wiki/Tournaments/ANZT/2020_Winter/img/badge.png
  wiki/Tournaments/ANZT/2020_Winter/img/logo.png
  wiki/Tournaments/ANZT/en.md
  wiki/Tournaments/ANZT/zh-tw.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/ja.md
  wiki/Tournaments/ko.md
  wiki/Tournaments/pl.md
  wiki/Tournaments/th.md
  wiki/Tournaments/zh.md
Labels: area:tournaments, size/L

#12683 [KO] Update `People/Tournament Committee`
  wiki/People/Tournament_Committee/ko.md
Labels: area:translations, size/M

#13001 Fix flags in `Resurrection Cup 2023`
  wiki/Tournaments/RESC/2023/en.md
Labels: area:tournaments, size/XS

#12999 [ES] Update `Client/File formats/osr (file format)`
  wiki/Client/File_formats/osr_(file_format)/es.md
Labels: area:translations, size/S

#12993 [ES] Update `Community`
  wiki/Community/es.md
Labels: area:translations, size/S

#12991 [ES] Update `Past osu!store items`
  wiki/Past_osu!store_items/es.md
Labels: area:translations, size/S

#12990 [ES] Update `Gameplay/Hit object/Hit circle`
  wiki/Gameplay/Hit_object/Hit_circle/es.md
Labels: area:translations, size/S

#12988 [ES] Update `Help centre`
  wiki/Help_centre/es.md
Labels: area:translations, size/XS, area:help centre

#12998 [RU] Update `Main page`
  wiki/Main_page/ru.md
Labels: area:translations, size/S

#13003 Update `TWC 2025` Round of 32 schedule
  wiki/Tournaments/TWC/2025/en.md
Labels: area:tournaments, size/S

#13007 Add `ANZT8S` & `ANZT8W` tournament pages
  wiki/Tournaments/ANZT/2021_Summer/en.md
  wiki/Tournaments/ANZT/2021_Summer/img/badge.png
  wiki/Tournaments/ANZT/2021_Summer/img/logo.png
  wiki/Tournaments/ANZT/2021_Winter/en.md
  wiki/Tournaments/ANZT/2021_Winter/img/badge.png
  wiki/Tournaments/ANZT/2021_Winter/img/logo.png
  wiki/Tournaments/ANZT/en.md
  wiki/Tournaments/ANZT/zh-tw.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/ja.md
  wiki/Tournaments/ko.md
  wiki/Tournaments/pl.md
  wiki/Tournaments/th.md
  wiki/Tournaments/zh.md
Labels: area:tournaments, size/XL

#12989 [ES] Update `Gameplay/Hit object/Slider`
  wiki/Gameplay/Hit_object/Slider/es.md
Labels: area:translations, size/S

#12985 [ES] Update `People/Mapping Assistance Team`
  wiki/People/Mapping_Assistance_Team/es.md
Labels: area:translations, size/S

#13000 [ES] Add `Medals/First medal unlocks`
  wiki/Medals/First_medal_unlocks/es.md
Labels: area:translations, size/L

#13005 Update `THMC4` Final schedule
  wiki/Tournaments/TMC/4th/en.md
Labels: area:tournaments, size/S

#13009 Add `Springtime Showdown Art Contest: Voting Open` news post
  news/2025/2025-03-21-springtime-showdown-art-contest-voting-open.md
  wiki/shared/news/2025-03-21-springtime-showdown-art-voting/graph.png
  wiki/shared/news/2025-03-21-springtime-showdown-art-voting/voting-banner.png
Labels: area:news, size/M

#13012 Update `THMC4` Finals result and schedules
  wiki/Tournaments/TMC/4th/en.md
Labels: area:tournaments, size/S

#13014 Update `TWC 2025` with partial RO32 results, links
  wiki/Tournaments/TWC/2025/en.md
Labels: area:tournaments, size/S

#13011 Update `Ranking Criteria` with new sampling rate rules
  wiki/Ranking_criteria/en.md
  wiki/Ranking_criteria/es.md
  wiki/Ranking_criteria/ko.md
  wiki/Ranking_criteria/zh.md
Labels: size/S, area:ranking criteria

#13013 Fix minor detail in graph in `Springtime Showdown Art Contest: Voting Open` news post
  news/2025/2025-03-21-springtime-showdown-art-contest-voting-open.md
  wiki/shared/news/2025-03-21-springtime-showdown-art-voting/graph.png
Labels: area:news, size/XS

#13015 Add `New Featured Artist: rae` news post
  news/2025/2025-03-22-new-featured-artist-rae.md
Labels: area:news, size/M

#13016 Add `osu!(lazer) Updates: March 21, 2025` news post
  news/2025/2025-03-23-osulazer-updates-march-21-2025.md
  wiki/shared/news/2025-03-23-osulazer-updates-march-21-2025/banner.jpg
  wiki/shared/news/2025-03-23-osulazer-updates-march-21-2025/banner@2x.jpg
Labels: area:news, size/M

#13017 Update `TWC 2025` for the RO16 stage
  wiki/Tournaments/TWC/2025/en.md
Labels: area:tournaments, size/M

#13018 Update `TWC 2025` links, results and schedule
  wiki/Tournaments/TWC/2025/en.md
Labels: area:tournaments, size/S

#13020 Add `Community Contributors 2024: Elite Nominators` news post
  news/2024/2024-02-28-community-contributors-elite-nominators-2023.md
  news/2025/2025-03-24-community-contributors-elite-nominators-2024.md
  wiki/People/Elite_Nominators/en.md
  wiki/People/Elite_Nominators/es.md
  wiki/People/Elite_Nominators/fr.md
  wiki/People/Elite_Nominators/it.md
  wiki/People/Elite_Nominators/ru.md
  wiki/People/Elite_Nominators/zh.md
  wiki/shared/news/2025-03-24-community-contributors-elite-nominators-2024/aeril.jpg
  wiki/shared/news/2025-03-24-community-contributors-elite-nominators-2024/airincat.jpg
  wiki/shared/news/2025-03-24-community-contributors-elite-nominators-2024/ascended.jpg
  wiki/shared/news/2025-03-24-community-contributors-elite-nominators-2024/banner.jpg
  wiki/shared/news/2025-03-24-community-contributors-elite-nominators-2024/banner@2x.jpg
  wiki/shared/news/2025-03-24-community-contributors-elite-nominators-2024/blackbn.jpg
  wiki/shared/news/2025-03-24-community-contributors-elite-nominators-2024/carpihat.jpg
  wiki/shared/news/2025-03-24-community-contributors-elite-nominators-2024/gorou.jpg
  wiki/shared/news/2025-03-24-community-contributors-elite-nominators-2024/gt.jpg
  wiki/shared/news/2025-03-24-community-contributors-elite-nominators-2024/gzdongsheng.jpg
  wiki/shared/news/2025-03-24-community-contributors-elite-nominators-2024/iredi.jpg
  wiki/shared/news/2025-03-24-community-contributors-elite-nominators-2024/lasse.jpg
  wiki/shared/news/2025-03-24-community-contributors-elite-nominators-2024/mattay.jpg
  wiki/shared/news/2025-03-24-community-contributors-elite-nominators-2024/maxus.jpg
  wiki/shared/news/2025-03-24-community-contributors-elite-nominators-2024/momoyo.jpg
  wiki/shared/news/2025-03-24-community-contributors-elite-nominators-2024/monoseul.jpg
  wiki/shared/news/2025-03-24-community-contributors-elite-nominators-2024/nekroman4ik.jpg
  wiki/shared/news/2025-03-24-community-contributors-elite-nominators-2024/seiran.jpg
  wiki/shared/news/2025-03-24-community-contributors-elite-nominators-2024/spectator.jpg
Labels: area:news, size/L

#13028 [RU] Update `Elite Nominators`
  wiki/People/Elite_Nominators/ru.md
Labels: area:translations, size/S

#13021 Conclude `3WC 2025`
  wiki/Tournaments/3WC/2025/en.md
  wiki/Tournaments/3WC/2025/img/badge.png
  wiki/Tournaments/3WC/2025/img/podium.jpg
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/zh.md
Labels: area:tournaments, size/M

#12994 [ES] Update `Contests`
  wiki/Contests/es.md
Labels: area:translations, size/M

#12986 [ES] Update `Performance points`
  wiki/Performance_points/es.md
Labels: area:translations, size/M

#13026 [ES] Add `Gameplay/Game modifier/Score V2 (lazer)`
  wiki/Gameplay/Game_modifier/Score_V2_(lazer)/es.md
Labels: area:translations, size/M

#13023 [ES] Add `Gameplay/Game modifier/Bloom`
  wiki/Gameplay/Game_modifier/Bloom/es.md
Labels: area:translations, size/M

#13022 [ES] Update `Ranking criteria`
  wiki/Ranking_criteria/es.md
Labels: area:translations, size/XS, area:ranking criteria

#13029 [ES] Fix untranslated headers in `People/Elite Nominators`
  wiki/People/Elite_Nominators/es.md
  wiki/People/Elite_Nominators/fr.md
  wiki/People/Elite_Nominators/it.md
  wiki/People/Elite_Nominators/zh.md
Labels: area:translations, size/S

#13027 [ES] Add `Gameplay/Game modifier/Touch Device (lazer)`
  wiki/Gameplay/Game_modifier/Touch_Device_(lazer)/es.md
Labels: area:translations, size/M

#13032 Add users to `Featured Artists` list
  wiki/People/Featured_Artists/de.md
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/es.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: size/S

#13033 Update Finals results and Grand Finals schedule for `THMC4`
  wiki/Tournaments/TMC/4th/en.md
Labels: area:tournaments, size/M

#13034 Add `ANZT12S` podium results
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/ja.md
  wiki/Tournaments/ko.md
  wiki/Tournaments/pl.md
  wiki/Tournaments/th.md
  wiki/Tournaments/zh.md
Labels: area:tournaments, size/S

#13035 Fix flag in `Elite Nominators`
  wiki/People/Elite_Nominators/en.md
  wiki/People/Elite_Nominators/es.md
  wiki/People/Elite_Nominators/fr.md
  wiki/People/Elite_Nominators/it.md
  wiki/People/Elite_Nominators/ru.md
  wiki/People/Elite_Nominators/zh.md
Labels: size/S

#13037 Updated `Official beatmapping contest support` with new screening rule
  wiki/Contests/Official_support/en.md
  wiki/Contests/Official_support/es.md
Labels: size/XS

#13039 Update `Community Contributors: 2024` pronouns
  news/2025/2025-03-25-community-contributors-2024.md
Labels: area:news, size/XS

#13030 Update Elite Nominators in `Users with unique titles`
  wiki/People/Users_with_unique_titles/en.md
  wiki/People/Users_with_unique_titles/es.md
Labels: size/M

#13006 Add Mapper's Choice Awards 2024 news post
  news/2025/2025-03-26-mappers-choice-awards-2024.md
  wiki/shared/news/2025-03-26-mappers-choice-awards-2024/banner.jpg
  wiki/shared/news/2025-03-26-mappers-choice-awards-2024/banner@2x.jpg
Labels: area:news, size/M

#13043 Update `TWC 2025` Round of 16 schedules
  wiki/Tournaments/TWC/2025/en.md
Labels: area:tournaments, size/S
