Repository ppy/osu-wiki, pull requests merged in 2025-01, with the labels that each got.

#12623 Add `Midnight Moment Art Contest: Results` news post
  news/2025/2025-01-01-midnight-moment-art-contest-results.md
  wiki/shared/news/2025-01-01-midnight-moment-art-contest-results/banner.jpg
  wiki/shared/news/2025-01-01-midnight-moment-art-contest-results/banner@2x.jpg
Labels: area:news, size/L

#12624 Fix a few wording issues with `Midnight Moment Art Contest: Results` news post
  news/2025/2025-01-01-midnight-moment-art-contest-results.md
Labels: area:news, size/XS

#12625 Update `MWC 7K 2025` team listing
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/S

#12627 Update `THMC 4` Staff list
  wiki/Tournaments/TMC/4th/en.md
Labels: area:tournaments, size/S

#12626 [JA] osu!api　Added Japanese language to osu!api
  wiki/osu!api/ja.md
Labels: area:translations, size/S

#12628 Fix typo in `MWC 7K 2025`
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/XS

#12634 Add `Featured Artist Track Updates: Winter 2025` news post
  news/2025/2025-01-04-featured-artist-track-updates-winter-2025.md
Labels: area:news, size/L

#12635 Fix year in FA news post
  news/2025/2025-01-04-featured-artist-track-updates-winter-2025.md
Labels: area:news, size/XS

#12633 Add `Expert Global Taiko Showdown 2025: Registrations Now Open!` news post
  news/2025/2025-01-05-expert-global-taiko-showdown-2025-registrations-now-open.md
  wiki/shared/news/2025-01-05-egts-2025-registrations-now-open/banner.jpg
  wiki/shared/news/2025-01-05-egts-2025-registrations-now-open/banner@2x.jpg
Labels: area:news, size/M

#12636 Update `MWC 7K 2025` team listing
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/S

#12631 Add the second batch of Makeship plushies to `Past osu!store items`
  wiki/Past_osu!store_items/de.md
  wiki/Past_osu!store_items/en.md
  wiki/Past_osu!store_items/es.md
Labels: size/S

#12638 Update `MWC 7K 2025` for the Qualifier stage
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/S

#12639 Add `@2x` version of the FA news banner
  wiki/shared/news/banners/featured-artist@2x.jpg
Labels: area:news, size/XS

#12640 Update `OWC 2024` team listing, staff listing
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/XS

#12644 Fix incorrect Discord invite in `osu! indonesia Tournament #14 (2024)`
  wiki/Tournaments/OIT/2024/en.md
Labels: area:tournaments, size/XS

#12582 Add `Resurrection Cup 2024` tournament and listing.
  wiki/Tournaments/RESC/2024/en.md
  wiki/Tournaments/RESC/2024/img/badge.png
  wiki/Tournaments/RESC/2024/img/banner.jpg
  wiki/Tournaments/RESC/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
Labels: area:tournaments, size/XL

#12645 Reformat table in `Monthly Beatmapping Contest`
  wiki/Contests/Monthly_Beatmapping_Contest/en.md
  wiki/Contests/Monthly_Beatmapping_Contest/fr.md
Labels: size/L

#12641 Split large news banners into 1x and 2x versions
  wiki/Tournaments/GSTLIVE/22/img/banner.png
  wiki/Tournaments/GSTLIVE/22/img/banner@2x.png
  wiki/shared/news/2020-09-01-osu-idol-2020-auditions-now-open/2020.jpg
  wiki/shared/news/2020-09-01-osu-idol-2020-auditions-now-open/2020@2x.jpg
  wiki/shared/news/2020-12-16-new-featured-artist-jun-kuroda/jun-kuroda-header.png
  wiki/shared/news/2020-12-16-new-featured-artist-jun-kuroda/jun-kuroda-header@2x.png
  wiki/shared/news/2021-03-08-skinning-contest-announcement/skinning_contest_banner_announcement.jpg
  wiki/shared/news/2021-03-08-skinning-contest-announcement/skinning_contest_banner_announcement@2x.jpg
  wiki/shared/news/2021-04-29-skinning-contest-voting-open/skinning_contest_banner_voting.jpg
  wiki/shared/news/2021-04-29-skinning-contest-voting-open/skinning_contest_banner_voting@2x.jpg
  wiki/shared/news/2021-05-27-skinning-contest-results/skinning_contest_banner.jpg
  wiki/shared/news/2021-05-27-skinning-contest-results/skinning_contest_banner@2x.jpg
  wiki/shared/news/2021-12-02-skinning-contest-tides-of-winter-announcement/announcement.jpg
  wiki/shared/news/2021-12-02-skinning-contest-tides-of-winter-announcement/announcement@2x.jpg
  wiki/shared/news/2022-01-16-skinning-contest-tides-of-winter-voting-open/banner.jpg
  wiki/shared/news/2022-01-16-skinning-contest-tides-of-winter-voting-open/banner@2x.jpg
  wiki/shared/news/2022-02-25-skinning-contest-tides-of-winter-results/banner.jpg
  wiki/shared/news/2022-02-25-skinning-contest-tides-of-winter-results/banner@2x.jpg
  wiki/shared/news/2022-07-06-new-featured-artists-rootkit-grant/rootkit-grant-banner.jpg
  wiki/shared/news/2022-07-06-new-featured-artists-rootkit-grant/rootkit-grant-banner@2x.jpg
  wiki/shared/news/2022-07-08-the-roundtable/roundtable_banner.png
  wiki/shared/news/2022-07-08-the-roundtable/roundtable_banner@2x.png
  wiki/shared/news/2022-07-18-skinning-contest-chromatic-alteration-announcement/banner.jpg
  wiki/shared/news/2022-07-18-skinning-contest-chromatic-alteration-announcement/banner@2x.jpg
  wiki/shared/news/2022-07-21-osu-philippines-conquest-ph-2022/quickfire_showdown_banner.png
  wiki/shared/news/2022-07-21-osu-philippines-conquest-ph-2022/quickfire_showdown_banner@2x.png
  wiki/shared/news/2022-09-08-skinning-contest-chromatic-alteration-voting-open/banner.jpg
  wiki/shared/news/2022-09-08-skinning-contest-chromatic-alteration-voting-open/banner@2x.jpg
  wiki/shared/news/2022-11-04-mappers-choice-awards/newspost.png
  wiki/shared/news/2022-11-04-mappers-choice-awards/newspost@2x.png
  wiki/shared/news/2022-12-31-the-roundtable-ii-qualifiers/news_banner.png
  wiki/shared/news/2022-12-31-the-roundtable-ii-qualifiers/news_banner@2x.png
  wiki/shared/news/2023-02-09-Skin-of-the-Year-2022/SOTY-2022-banner.jpg
  wiki/shared/news/2023-02-09-Skin-of-the-Year-2022/SOTY-2022-banner@2x.jpg
  wiki/shared/news/2023-03-03-mappers-choice-awards/banner.jpg
  wiki/shared/news/2023-03-03-mappers-choice-awards/banner@2x.jpg
  wiki/shared/news/2023-03-05-skin-of-the-year-2022-results/banner.jpg
  wiki/shared/news/2023-03-05-skin-of-the-year-2022-results/banner@2x.jpg
  wiki/shared/news/2023-04-22-waifu-jam-map-battle-contest/waifu_jam_banner.png
  wiki/shared/news/2023-04-22-waifu-jam-map-battle-contest/waifu_jam_banner@2x.png
  wiki/shared/news/2023-07-07-the-roundtable-ii/banner.jpg
  wiki/shared/news/2023-07-07-the-roundtable-ii/banner@2x.jpg
  wiki/shared/news/2023-11-20-the-first-osu-manga-osu-combat-championship/banner.jpg
  wiki/shared/news/2023-11-20-the-first-osu-manga-osu-combat-championship/banner@2x.jpg
  wiki/shared/news/2024-10-06-new-featured-artist-trina-lydia/trina_lydia_banner.png
  wiki/shared/news/2024-10-06-new-featured-artist-trina-lydia/trina_lydia_banner@2x.png
  wiki/shared/news/banners/beatmap-management.jpg
  wiki/shared/news/banners/beatmap-management@2x.jpg
  wiki/shared/news/banners/skinners-bulletin.png
  wiki/shared/news/banners/skinners-bulletin@2x.png
  wiki/shared/news/banners/weekly_1.jpg
  wiki/shared/news/banners/weekly_1@2x.jpg
  wiki/shared/news/banners/weekly_2.png
  wiki/shared/news/banners/weekly_2@2x.png
Labels: area:news, area:tournaments, size/XS

#12643 Move and rename osu! originals article
  wiki/Community/Bespoke_music/en.md
  wiki/Community/Bespoke_music/es.md
  wiki/Community/Bespoke_music/fr.md
  wiki/Community/Bespoke_music/img/bespoke-music-over-time-ES.png
  wiki/Community/Bespoke_music/img/bespoke-music-over-time.png
  wiki/Community/de.md
  wiki/Community/en.md
  wiki/Community/es.md
  wiki/Community/fr.md
  wiki/Community/id.md
  wiki/Community/pt-br.md
  wiki/Community/uk.md
  wiki/Community/zh.md
  wiki/Main_page/en.md
  wiki/Main_page/es.md
  wiki/Main_page/fr.md
  wiki/Main_page/id.md
  wiki/redirect.yaml
  wiki/shared/link/FA.png
  wiki/shared/link/original-pill.png
  wiki/shared/link/original.png
Labels: size/XXL

#12649 Update `Discord servers`
  wiki/Community/Discord_servers/de.md
  wiki/Community/Discord_servers/en.md
  wiki/Community/Discord_servers/es.md
  wiki/Community/Discord_servers/fr.md
  wiki/Community/Discord_servers/img/Mentorship.png
Labels: size/S

#12646 Fix incorrect info in `Monthly Beatmapping Contest`
  wiki/Contests/Monthly_Beatmapping_Contest/en.md
  wiki/Contests/Monthly_Beatmapping_Contest/fr.md
Labels: size/M

#12651 Move ranking criteria table of contents to the top
  wiki/Ranking_criteria/en.md
  wiki/Ranking_criteria/es.md
  wiki/Ranking_criteria/zh.md
Labels: size/M, area:ranking criteria

#12652 Add `BN Mentorship: Cycle 4 Sign-ups Open` news post
  news/2025/2025-01-10-bn-mentorship-cycle-4.md
Labels: area:news, size/M

#12585 Update `Featured Artists` releases
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/es.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: size/S

#12660 Add `New Featured Artist: ZVLIAN` news post
  news/2025/2025-01-12-new-featured-artist-zvlian.md
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/es.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: area:news, size/M

#12663 Fix broken links on `History of osu!` pages
  wiki/History_of_osu!/2014/en.md
  wiki/History_of_osu!/2014/es.md
  wiki/History_of_osu!/2014/fr.md
  wiki/History_of_osu!/en.md
  wiki/History_of_osu!/es.md
Labels: size/S

#12664 Update `MWC 7K 2025` for the Round of 32 stage
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/L

#12665 Update `MWC 7K 2025` links
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/XS

#12659 Add `Tournament Committee applications now open!` news post
  news/2025/2025-01-13-tournament-committee-applications-now-open.md
  wiki/shared/news/2025-01-13-tournament-committee-applications-now-open/banner.jpg
  wiki/shared/news/2025-01-13-tournament-committee-applications-now-open/banner@2x.jpg
Labels: area:news, size/M

#12670 Update `MWC 7K 2025` Round of 32 schedules
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/S

#12661 Update `Ranking Criteria` with new difficulty name rules.
  wiki/Ranking_criteria/en.md
  wiki/Ranking_criteria/es.md
  wiki/Ranking_criteria/fr.md
  wiki/Ranking_criteria/id.md
  wiki/Ranking_criteria/ko.md
  wiki/Ranking_criteria/ru.md
  wiki/Ranking_criteria/zh.md
Labels: size/XS, rule change, area:ranking criteria

#12672 Update `Departure from the team` in NAT/GMT articles
  wiki/People/Global_Moderation_Team/de.md
  wiki/People/Global_Moderation_Team/en.md
  wiki/People/Global_Moderation_Team/es.md
  wiki/People/Global_Moderation_Team/fr.md
  wiki/People/Global_Moderation_Team/it.md
  wiki/People/Global_Moderation_Team/ru.md
  wiki/People/Global_Moderation_Team/vi.md
  wiki/People/Global_Moderation_Team/zh.md
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Nomination_Assessment_Team/es.md
Labels: size/S

#12662 Update wiki page of `GBC 2024 Autumn`
  wiki/Tournaments/GBC/GBC_2024_Autumn/en.md
  wiki/Tournaments/GBC/GBC_2024_Autumn/img/GBC-2024-Autumn-badge-Discord-1st.png
  wiki/Tournaments/GBC/GBC_2024_Autumn/img/GBC-2024-Autumn-badge-QQ-1st.png
  wiki/Tournaments/GBC/GBC_2024_Autumn/zh.md
  wiki/Tournaments/GBC/en.md
  wiki/Tournaments/GBC/zh.md
Labels: area:tournaments, size/XXL

#12675 Fix typo in `Project Loved: January 2025` newspost
  news/2025/2025-01-17-project-loved-january-2025.md
Labels: area:news, size/XS

#12667 Remove "anonymous" from Tournament Committee voting language
  wiki/People/Tournament_Committee/en.md
  wiki/People/Tournament_Committee/es.md
  wiki/People/Tournament_Committee/fr.md
  wiki/People/Tournament_Committee/zh.md
Labels: size/S

#12671 Add `osu!mania 7K World Cup 2025: Qualifiers Recap` news post
  news/2025/2025-01-17-osumania-7k-world-cup-2025-qualifiers-recap.md
  wiki/shared/avatars/ExNeko.jpg
  wiki/shared/avatars/_Kobii.jpg
  wiki/shared/avatars/cheewee10.jpg
  wiki/shared/news/2025-01-17-osumania-7k-world-cup-2025-qualifiers-recap/ExNeko.png
  wiki/shared/news/2025-01-17-osumania-7k-world-cup-2025-qualifiers-recap/Kobii.png
  wiki/shared/news/2025-01-17-osumania-7k-world-cup-2025-qualifiers-recap/cheewee10.png
  wiki/shared/news/2025-01-17-osumania-7k-world-cup-2025-qualifiers-recap/mappool.jpg
  wiki/shared/news/2025-01-17-osumania-7k-world-cup-2025-qualifiers-recap/results.jpg
Labels: area:news, size/L

#12677 Fix username hyperlink in latest Project Loved news post
  news/2025/2025-01-17-project-loved-january-2025.md
Labels: area:news, size/XS

#12678 Fix results sheet in `osu!mania 7K World Cup 2025: Qualifiers Recap` news post
  news/2025/2025-01-17-osumania-7k-world-cup-2025-qualifiers-recap.md
  wiki/shared/news/2025-01-17-osumania-7k-world-cup-2025-qualifiers-recap/results.jpg
Labels: area:news, size/XS

#12679 Fix beatmap hyperlink in `osu!mania 7K World Cup 2025: Qualifiers Recap` news post
  news/2025/2025-01-17-osumania-7k-world-cup-2025-qualifiers-recap.md
Labels: area:news, size/XS

#12681 Add `New Featured Artist: ntyn` news post
  news/2025/2025-01-18-new-featured-artist-ntyn.md
Labels: area:news, size/M

#12682 Add note to "nekodex - circle the halls"
  wiki/Community/Bespoke_music/en.md
Labels: size/XS

#12685 Add `osu!(lazer) Updates: January 19, 2024` news post
  news/2025/2025-01-19-osulazer-updates-january-19-2025.md
  wiki/shared/news/2025-01-19-osulazer-updates-january-19-2025/banner.jpg
  wiki/shared/news/2025-01-19-osulazer-updates-january-19-2025/banner@2x.jpg
  wiki/shared/news/2025-01-19-osulazer-updates-january-19-2025/bookmarks.jpg
  wiki/shared/news/2025-01-19-osulazer-updates-january-19-2025/file-extensions.jpg
  wiki/shared/news/2025-01-19-osulazer-updates-january-19-2025/yellow-fellow.jpg
Labels: area:news, size/M

#12688 Fix incorrect year on osu!(lazer) updates newspost
  news/2025/2025-01-19-osulazer-updates-january-19-2025.md
Labels: area:news, size/XS

#12691 Update `MWC 7K 2025` for the RO16 stage
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/M

#12692 Update medal count in `Medals`
  wiki/Medals/de.md
  wiki/Medals/en.md
  wiki/Medals/es.md
  wiki/Medals/fr.md
  wiki/Medals/id.md
  wiki/Medals/it.md
  wiki/Medals/ru.md
  wiki/Medals/zh.md
Labels: size/S

#12694 Update `MWC 7K 2025` links, schedule
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/S

#12693 Update `THMC 4` tags and mappools
  wiki/Tournaments/TMC/4th/en.md
Labels: area:tournaments, size/S

#12689 Add `Community Mentorship Program Spring 2025 Signups Now Open` news post
  news/2025/2025-01-20-community-mentorship-program-spring-2025-signups-now-open.md
Labels: area:news, size/M

#12697 A few minor fixes in `Medals`
  wiki/Medals/en.md
  wiki/Medals/ko.md
  wiki/Medals/pl.md
  wiki/Medals/pt-br.md
  wiki/Medals/pt.md
Labels: size/S

#12698 Fix grammatical errors in ``Slider``
  wiki/Gameplay/Hit_object/Slider/en.md
Labels: size/XS

#12701 Remove (pending) from badge prize in `Sparxe's Two Key Event`
  wiki/Tournaments/STKE/1/en.md
Labels: area:tournaments, size/XS

#12704 Add `Monthly Beatmapping Contest: January 2025` news post
  news/2025/2025-01-23-monthly-beatmapping-contest-january-2025.md
  wiki/Contests/Contest_points/en.md
  wiki/Contests/Contest_points/es.md
  wiki/Contests/Contest_points/fr.md
Labels: area:news, size/L

#12703 Add `osu!mania 7K World Cup 2025: Round of 32 Recap` news post
  news/2025/2025-01-24-osumania-7k-world-cup-2025-round-of-32-recap.md
  wiki/shared/avatars/Adogg145.jpg
  wiki/shared/news/2025-01-24-osumania-7k-world-cup-2025-round-of-32-recap/Adogg145.png
  wiki/shared/news/2025-01-24-osumania-7k-world-cup-2025-round-of-32-recap/mappool.png
Labels: area:news, size/L

#12705 Update `MWC 7K 2025` RO16 schedule
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/XS

#12538 Update `Client/Menu tips`
  wiki/Client/Menu_tips/de.md
  wiki/Client/Menu_tips/en.md
  wiki/Client/Menu_tips/es.md
  wiki/Client/Menu_tips/fr.md
  wiki/Client/Menu_tips/zh.md
Labels: size/S

#12708 Add `New Featured Artist: Powerwolf` news post
  news/2025/2025-01-25-new-featured-artist-powerwolf.md
Labels: area:news, size/M

#12709 Update `MWC 7K 2025` with partial RO32 results
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/S

#12712 Update `MWC 7K 2025` for the Quarterfinals stage
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/M

#12543 [EN/ZH] Update `Skinning/Sounds`
  wiki/Skinning/Sounds/en.md
  wiki/Skinning/Sounds/es.md
  wiki/Skinning/Sounds/fr.md
  wiki/Skinning/Sounds/zh.md
Labels: area:translations, size/XL, state/stale merge

#12548 [ID] Update `Beatmap category`
  wiki/Beatmap/Category/id.md
Labels: area:translations, size/S, state/stale merge

#12556 [ES] Update `Tournaments/Official support`
  wiki/Tournaments/Official_support/es.md
Labels: area:translations, area:tournaments, size/XS

#12566 [PT-BR] Update `osu!taiko ranking criteria`
  wiki/Ranking_criteria/osu!taiko/pt-br.md
Labels: area:translations, size/M, area:ranking criteria

#12579 [ES] Update `Rules/Content usage permissions`
  wiki/Rules/Content_usage_permissions/es.md
Labels: area:translations, size/XS

#12325 [KO] Update `OWC 2024`
  wiki/Tournaments/OWC/2024/ko.md
Labels: area:translations, area:tournaments, size/XL

#12575 [ES] Update `Beatmapping/Overmapping`
  wiki/Beatmapping/Overmapping/es.md
Labels: area:translations, size/S

#12544 [FR] Add `Gameplay/Daily challenge`
  wiki/Gameplay/Daily_challenge/fr.md
Labels: area:translations, size/M

#12573 [ES] Add `History of osu!/2023`
  wiki/History_of_osu!/2023/en.md
  wiki/History_of_osu!/2023/es.md
  wiki/History_of_osu!/2023/fr.md
Labels: area:translations, size/L

#12611 [ZH] Update `Gameplay/Game modifier`
  wiki/Gameplay/Game_modifier/Auto/zh.md
  wiki/Gameplay/Game_modifier/Autopilot/zh.md
  wiki/Gameplay/Game_modifier/Cinema/zh.md
  wiki/Gameplay/Game_modifier/Double_Time/zh.md
  wiki/Gameplay/Game_modifier/Easy/zh.md
  wiki/Gameplay/Game_modifier/Fade_In/zh.md
  wiki/Gameplay/Game_modifier/Flashlight/zh.md
  wiki/Gameplay/Game_modifier/Half_Time/zh.md
  wiki/Gameplay/Game_modifier/Hard_Rock/zh.md
  wiki/Gameplay/Game_modifier/Hidden/zh.md
  wiki/Gameplay/Game_modifier/Mirror/zh.md
  wiki/Gameplay/Game_modifier/Nightcore/zh.md
  wiki/Gameplay/Game_modifier/No_Fail/zh.md
  wiki/Gameplay/Game_modifier/Perfect/zh.md
  wiki/Gameplay/Game_modifier/Random/zh.md
  wiki/Gameplay/Game_modifier/Relax/zh.md
  wiki/Gameplay/Game_modifier/ScoreV2/zh.md
  wiki/Gameplay/Game_modifier/Spun_Out/zh.md
  wiki/Gameplay/Game_modifier/Sudden_Death/zh.md
  wiki/Gameplay/Game_modifier/Target_Practice/zh.md
  wiki/Gameplay/Game_modifier/xK/zh.md
  wiki/Gameplay/Game_modifier/zh.md
Labels: area:translations, size/M

#12588 [ZH] Update `Content usage permissions` and `Silence`
  wiki/Rules/Content_usage_permissions/zh.md
  wiki/Silence/zh.md
Labels: area:translations, size/M

#12622 [ZH] Add and update `Offset`
  wiki/Client/Beatmap_editor/Timing/zh.md
  wiki/Offset/Local_offset/zh.md
  wiki/Offset/Online_offset/zh.md
  wiki/Offset/Universal_offset/img/uo-settings-button-ZH.png
  wiki/Offset/Universal_offset/zh.md
  wiki/Offset/zh.md
Labels: area:translations, size/L

#12602 [ES] Update `Medals/Unlock requirements/Dedication`
  wiki/Medals/Unlock_requirements/Dedication/es.md
Labels: area:translations, size/M

#12578 [KO] Update `Ranking Criteria`
  wiki/Ranking_criteria/ko.md
Labels: area:translations, size/L, area:ranking criteria

#12546 [ZH] Update `Beatmap search`
  wiki/Beatmap_search/zh.md
Labels: area:translations, size/XS

#12601 [ID] Update/Retranslate `Help centre/Account restrictions`
  wiki/Help_centre/Account_restrictions/id.md
  wiki/Help_centre/id.md
Labels: area:translations, size/L, state/stale merge, area:help centre

#12713 Update `MWC 7K 2025` links
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/S

#12613 Update `Tournament drawings`
  wiki/Tournament_drawings/en.md
  wiki/Tournament_drawings/es.md
  wiki/Tournament_drawings/fr.md
  wiki/Tournament_drawings/id.md
  wiki/Tournament_drawings/img/drawings-txt-visual.png
  wiki/Tournament_drawings/img/main-screen.png
Labels: size/M

#12617 [ID] Add `Community/cavoe's osu! event`
  wiki/Community/cavoe's_osu!_event/id.md
Labels: area:translations, size/M, state/stale merge

#12632 [ID] Add `Ranking criteria/Metadata`
  wiki/Ranking_criteria/Metadata/id.md
Labels: area:translations, size/L, state/stale merge, area:ranking criteria

#12642 [ID] Improve writing on `Installation`
  wiki/Client/Installation/id.md
Labels: area:translations, size/S

#12647 [ID] Update `Main page`
  wiki/Main_page/id.md
Labels: area:translations, size/S

#12658 [ZH] Add `History of osu!/2009`
  wiki/History_of_osu!/2009/zh.md
Labels: area:translations, size/L, state/stale merge

#12615 [ID] Update/Retranslate `Game mode`
  wiki/Game_mode/id.md
Labels: area:translations, size/M, state/stale merge

#12657 [PT-BR] Translate `Discord Servers`
  wiki/Community/Discord_servers/pt-br.md
  wiki/osu!_wiki/pt-br.md
Labels: area:translations, size/M, state/stale merge

#12695 [VI] Add `Reporting bad behaviour/Handling foul play`
  wiki/Reporting_bad_behaviour/Handling_foul_play/vi.md
Labels: area:translations, size/M, state/stale merge

#12487 [DE] Add `People/Featured Artists`
  wiki/People/Featured_Artists/de.md
Labels: area:translations, size/L

#12656 [PT-BR] Translate `Performance points`
  wiki/Performance_points/pt-br.md
Labels: area:translations, size/L, state/stale merge

#12686 [VI] Update `Rules/Song content rules`
  wiki/Rules/Song_content_rules/vi.md
Labels: area:translations, size/S, state/stale merge

#12621 Add `3 Digit World Cup 2025` tournament and listing
  wiki/Tournaments/3WC/2025/en.md
  wiki/Tournaments/3WC/2025/img/AH.png
  wiki/Tournaments/3WC/2025/img/AY.png
  wiki/Tournaments/3WC/2025/img/BC.png
  wiki/Tournaments/3WC/2025/img/IB.png
  wiki/Tournaments/3WC/2025/img/OC.png
  wiki/Tournaments/3WC/2025/img/banner.jpg
  wiki/Tournaments/3WC/en.md
  wiki/Tournaments/3WC/zh-tw.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/id.md
  wiki/Tournaments/zh.md
Labels: area:tournaments, size/L

#12676 Added `ladder` to the table of contents of videos for the tournament client
  wiki/osu!_tournament_client/de.md
  wiki/osu!_tournament_client/en.md
  wiki/osu!_tournament_client/es.md
  wiki/osu!_tournament_client/fr.md
  wiki/osu!_tournament_client/id.md
  wiki/osu!_tournament_client/it.md
  wiki/osu!_tournament_client/ru.md
  wiki/osu!_tournament_client/zh.md
Labels: size/S

#12710 Add `osu! UK @ EPIC44` news post
  news/2025/2025-01-27-osu-uk-epic44.md
  wiki/shared/news/2025-01-27-osu-uk-epic44/banner.jpg
  wiki/shared/news/2025-01-27-osu-uk-epic44/banner@2x.jpg
Labels: area:news, size/M

#12716 [ID] Update `Main page`
  wiki/Main_page/id.md
Labels: area:translations, size/S

#12718 Add circles and sliders into website beatmapset search section in `Beatmap search`
  wiki/Beatmap_search/en.md
  wiki/Beatmap_search/es.md
  wiki/Beatmap_search/zh.md
Labels: size/XS

#12717 Add `Newspaper Cup 2025` news post
  news/2025/2025-01-29-newspaper-cup-2025.md
  wiki/shared/news/2025-01-29-newspaper-cup-2025/banner.jpg
  wiki/shared/news/2025-01-29-newspaper-cup-2025/banner@2x.jpg
Labels: area:news, size/L

#12724 Update `Technical Support Team`
  wiki/People/Technical_Support_Team/de.md
  wiki/People/Technical_Support_Team/en.md
  wiki/People/Technical_Support_Team/es.md
  wiki/People/Technical_Support_Team/fr.md
  wiki/People/Technical_Support_Team/id.md
  wiki/People/Technical_Support_Team/it.md
  wiki/People/Technical_Support_Team/vi.md
  wiki/People/Technical_Support_Team/zh.md
Labels: size/M

#12725 Fix flag in `Technical Support Team`
  wiki/People/Technical_Support_Team/de.md
  wiki/People/Technical_Support_Team/en.md
  wiki/People/Technical_Support_Team/es.md
  wiki/People/Technical_Support_Team/fr.md
  wiki/People/Technical_Support_Team/id.md
  wiki/People/Technical_Support_Team/it.md
  wiki/People/Technical_Support_Team/vi.md
  wiki/People/Technical_Support_Team/zh.md
Labels: size/S

#12726 Amend minimum account age rule in `Newspaper Cup 2025` news post
  news/2025/2025-01-29-newspaper-cup-2025.md
Labels: area:news, size/XS

#12732 Update `MWC 7K 2025` Quarterfinals schedules
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/M

#12729 Add 100 nominations badge to BN/NAT pages
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Beatmap_Nominators/es.md
  wiki/People/Beatmap_Nominators/fr.md
  wiki/People/Beatmap_Nominators/vi.md
  wiki/People/Beatmap_Nominators/zh.md
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Nomination_Assessment_Team/es.md
  wiki/People/Nomination_Assessment_Team/fr.md
  wiki/People/Nomination_Assessment_Team/vi.md
  wiki/People/Nomination_Assessment_Team/zh.md
Labels: size/S

#12734 Fix incorrect artist name in `New Featured Artist: Powerwolf` news post
  news/2025/2025-01-25-new-featured-artist-powerwolf.md
Labels: area:news, size/XS

#12737 Fix year in `Community Choice 2024: Voting Open` news post
  news/2025/2025-01-30-community-choice-2024-voting-open.md
Labels: area:news, size/XS

#12735 Add `osu!mania 7K World Cup 2025: Round of 16` Recap news post
  news/2025/2025-01-31-osumania-7k-world-cup-2025-round-of-16-recap.md
  wiki/shared/avatars/ChillierPear.jpg
  wiki/shared/news/2025-01-31-osumania-7k-world-cup-2025-round-of-16-recap/ChillierPear.png
  wiki/shared/news/2025-01-31-osumania-7k-world-cup-2025-round-of-16-recap/mappool.jpg
Labels: area:news, size/L

#12720 Update `THMC 3` and `THMC 4` wikis
  wiki/Tournaments/TMC/3rd/en.md
  wiki/Tournaments/TMC/4th/en.md
Labels: area:tournaments, size/L

#12740 Fix flag and map category in `osu!mania 7K World Cup 2025: Round of 16 Recap` news post
  news/2025/2025-01-31-osumania-7k-world-cup-2025-round-of-16-recap.md
Labels: area:news, size/XS

#12733 Move WalterToro to Alumni in `Tournament Committee`
  wiki/People/Tournament_Committee/en.md
Labels: size/XS

#12741 Add `Locus` news post
  news/2025/2025-01-31-locus.md
  wiki/Contests/Locus/2025/en.md
  wiki/Contests/Locus/2025/img/banner.jpg
  wiki/Contests/Locus/2025/img/banner@2x.jpg
  wiki/Contests/Locus/en.md
  wiki/Contests/en.md
  wiki/Contests/es.md
  wiki/Contests/fr.md
  wiki/Contests/zh.md
Labels: area:news, size/L
