Repository ppy/osu-wiki, pull requests merged in 2025-02, with the labels that each got.

#12743 Fix Finland's seed in `osu!mania 7K World Cup 2025: Round of 16 Recap` news post
  news/2025/2025-01-31-osumania-7k-world-cup-2025-round-of-16-recap.md
Labels: area:news, size/XS

#12744 Update `MWC 7K 2025` with partial Quarterfinals results
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/M

#12745 Add `Featured Artist Track Updates: Akiri` news post
  news/2025/2025-02-01-featured-artist-track-updates-akiri.md
  wiki/shared/news/2025-02-01-featured-artist-track-updates-akiri/new-akiri.jpg
Labels: area:news, size/M

#12746 Fix year in `Featured Artist Track Updates: Akiri` news post
  news/2025/2025-02-01-featured-artist-track-updates-akiri.md
Labels: area:news, size/XS

#12719 Add new tracks to `Bespoke music`
  wiki/Community/Bespoke_music/en.md
  wiki/Community/Bespoke_music/img/bespoke-music-over-time.png
Labels: size/S

#12742 Update rank 1 osu!mania player in `Online rankings`
  wiki/History_of_osu!/Online_rankings/de.md
  wiki/History_of_osu!/Online_rankings/en.md
  wiki/History_of_osu!/Online_rankings/es.md
  wiki/History_of_osu!/Online_rankings/fr.md
  wiki/History_of_osu!/Online_rankings/it.md
Labels: size/S

#12723 Update Okoratu's name on `osu! team` and [ID] update its translation to match latest version
  wiki/People/osu!_team/bg.md
  wiki/People/osu!_team/de.md
  wiki/People/osu!_team/en.md
  wiki/People/osu!_team/es.md
  wiki/People/osu!_team/fr.md
  wiki/People/osu!_team/id.md
  wiki/People/osu!_team/it.md
  wiki/People/osu!_team/ko.md
  wiki/People/osu!_team/pl.md
  wiki/People/osu!_team/pt-br.md
  wiki/People/osu!_team/sv.md
  wiki/People/osu!_team/th.md
  wiki/People/osu!_team/tr.md
  wiki/People/osu!_team/zh.md
Labels: area:translations, size/M

#12755 Update ˋMWC 7K 2025ˋ for the Semifinals stage
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/M

#12756 Update ˋMWC 7K 2025ˋ links
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/S

#12757 [Typo] update osu RC
  wiki/Ranking_criteria/osu!/en.md
Labels: size/XS, area:ranking criteria

#12758 Update `MWC 7K 2025` schedules
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/XS

#12747 Add `poolingcore` to `Community/Discord_servers`
  wiki/Community/Discord_servers/en.md
  wiki/Community/Discord_servers/img/poolingcore.png
  wiki/Community/Discord_servers/pt-br.md
Labels: size/XS

#12763 Update `Locus/2025` rules to cap difficulties in submissions
  wiki/Contests/Locus/2025/en.md
Labels: size/XS

#12690 Add Fushia, ler1211 & Monstrata to `/People/Centurions/`
  wiki/People/Centurions/en.md
  wiki/People/Centurions/es.md
  wiki/People/Centurions/fr.md
  wiki/People/Centurions/it.md
  wiki/People/Centurions/zh.md
Labels: size/S

#12536 [RU] Retranslate `Beatmap/Packs`
  wiki/Beatmap/Packs/ru.md
Labels: area:translations, size/M

#12630 Add the Bloom mod article
  wiki/Gameplay/Game_modifier/Bloom/en.md
  wiki/Gameplay/Game_modifier/Flashlight_(lazer)/en.md
  wiki/Gameplay/Game_modifier/No_Scope/en.md
  wiki/Gameplay/Game_modifier/Touch_Device_(lazer)/en.md
  wiki/Gameplay/Game_modifier_(lazer)/en.md
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/BM.jpg
  wiki/Gameplay/Game_modifier_(lazer)/img/mods/BM.png
  wiki/Gameplay/Game_modifier_(lazer)/img/mods/BM@2x.png
Labels: size/M

#12570 [ZH] Update `Game mode`
  wiki/Game_mode/osu!mania/zh.md
  wiki/Game_mode/osu!taiko/zh.md
  wiki/Game_mode/zh.md
  wiki/Ranking_criteria/osu!mania/zh.md
Labels: area:translations, size/M

#12738 [ZH] Update `Beatmap/Packs`
  wiki/Beatmap/Packs/zh.md
Labels: area:translations, size/M

#12739 [ZH] Remove extra table column in `Contests`
  wiki/Contests/zh.md
Labels: area:translations, size/XS

#12759 [DE] Change `Melden von schlechtem Verhalten` to `Schlechtes Verhalten melden`
  wiki/BanchoBot/de.md
  wiki/Community/Forum/de.md
  wiki/People/Global_Moderation_Team/de.md
  wiki/Reporting_bad_behaviour/de.md
Labels: area:translations, size/XS

#12752 [DE] Update `Rules/Content usage permissions`
  wiki/Rules/Content_usage_permissions/de.md
Labels: area:translations, size/XS

#12754 [DE] Update `Help centre/Account restrictions`
  wiki/Help_centre/Account_restrictions/de.md
Labels: area:translations, size/S, area:help centre

#12707 [ZH] Update `Skinning/skin.ini`
  wiki/Skinning/skin.ini/zh.md
Labels: area:translations, size/S

#12600 Expand Difficulty Reduction mod articles + Add "Mods (lazer)" on the Main page
  wiki/Gameplay/Game_modifier/Daycore/en.md
  wiki/Gameplay/Game_modifier/Easy_(lazer)/en.md
  wiki/Gameplay/Game_modifier/Half_Time_(lazer)/en.md
  wiki/Gameplay/Game_modifier/No_Fail_(lazer)/en.md
  wiki/Gameplay/Game_modifier/No_Release/en.md
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/DC.jpg
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/EZ.jpg
  wiki/Gameplay/Game_modifier_(lazer)/img/customise/HT.jpg
  wiki/Main_page/en.md
  wiki/Main_page/id.md
Labels: size/M

#12768 [ID] Update main page to include `Mods (lazer)`
  wiki/Main_page/id.md
Labels: area:translations, size/XS

#12769 Move _yosh to Alumni in `Tournament Committee`
  wiki/People/Tournament_Committee/en.md
Labels: size/XS

#12764 Add `osu!mania 7K World Cup 2025: Quarterfinals Recap` news post
  news/2025/2025-02-07-osumania-7k-world-cup-2025-quarterfinals-recap.md
  wiki/shared/news/2025-02-07-osumania-7k-world-cup-2025-quarterfinals-recap/Evolutionary_Anima_banner.jpg
  wiki/shared/news/2025-02-07-osumania-7k-world-cup-2025-quarterfinals-recap/mappool.jpg
Labels: area:news, size/L

#12770 Update badge request deadline in `Tournaments/Official Support`
  wiki/Tournaments/Official_support/en.md
  wiki/Tournaments/Official_support/es.md
Labels: area:tournaments, size/XS

#12771 Update `MWC 7K 2025` Semifinals schedules, results
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/S

#12772 Fix user names in `GBC 2024 Autumn`
  wiki/Tournaments/GBC/GBC_2024_Autumn/en.md
  wiki/Tournaments/GBC/GBC_2024_Autumn/zh.md
Labels: area:tournaments, size/L

#12773 Add `New Featured Artist: SiLiS` news post
  news/2025/2025-02-08-new-featured-artist-silis.md
  wiki/shared/news/2025-02-08-new-featured-artist-silis/header.jpg
Labels: area:news, size/M

#12774 Fix banner in `New Featured Artist: SiLiS` news post
  news/2025/2025-02-08-new-featured-artist-silis.md
  wiki/shared/news/2025-02-08-new-featured-artist-silis/header.jpg
  wiki/shared/news/2025-02-08-new-featured-artist-silis/header@2x.jpg
Labels: area:news, size/XS

#12775 Update `MWC 7K 2025` with partial Semifinals results
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/S

#12777 Add SiLiS on `Featured Artists` listing
  wiki/People/Featured_Artists/de.md
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/es.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: size/XS

#12778 Mention collab mapper in `New Featured Artist: SiLiS` news post
  news/2025/2025-02-08-new-featured-artist-silis.md
Labels: area:news, size/XS

#12776 Add new tracks to `Bespoke music`
  wiki/Community/Bespoke_music/en.md
  wiki/Community/Bespoke_music/img/bespoke-music-over-time.png
Labels: size/M

#12788 Update `MWC 7K 2025` for the Finals stage
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/M

#12791 fix Nokashi's Flag in Elite Nominator article
  wiki/People/Elite_Nominators/en.md
  wiki/People/Elite_Nominators/es.md
  wiki/People/Elite_Nominators/fr.md
  wiki/People/Elite_Nominators/it.md
  wiki/People/Elite_Nominators/ru.md
  wiki/People/Elite_Nominators/zh.md
Labels: size/S

#12790 Update `MWC 7K 2025` links
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/XS

#12789 Added 1 missing commentator into `GBC 2024 Autumn`
  wiki/Tournaments/GBC/GBC_2024_Autumn/en.md
  wiki/Tournaments/GBC/GBC_2024_Autumn/zh.md
Labels: area:tournaments, size/XS

#12761 Add `International Convert Cup 2024` wiki article
  wiki/Tournaments/IntlConvertCup/2024/en.md
  wiki/Tournaments/IntlConvertCup/2024/img/badge.png
  wiki/Tournaments/IntlConvertCup/2024/img/banner.jpg
  wiki/Tournaments/IntlConvertCup/2024/img/podium.jpg
  wiki/Tournaments/IntlConvertCup/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/o!cCO/2023/en.md
Labels: area:tournaments, size/XL

#12783 [DE] Update `Community`
  wiki/Community/de.md
Labels: area:translations, size/S

#12792 Update `3WC 2025` to Round of 16
  wiki/Tournaments/3WC/2025/en.md
Labels: area:tournaments, size/L

#12798 Add clayton to `osu! Alumni`
  wiki/People/osu!_Alumni/bg.md
  wiki/People/osu!_Alumni/de.md
  wiki/People/osu!_Alumni/en.md
  wiki/People/osu!_Alumni/es.md
  wiki/People/osu!_Alumni/fr.md
  wiki/People/osu!_Alumni/id.md
  wiki/People/osu!_Alumni/it.md
  wiki/People/osu!_Alumni/ja.md
  wiki/People/osu!_Alumni/ko.md
  wiki/People/osu!_Alumni/pl.md
  wiki/People/osu!_Alumni/pt-br.md
  wiki/People/osu!_Alumni/pt.md
  wiki/People/osu!_Alumni/ru.md
  wiki/People/osu!_Alumni/tr.md
  wiki/People/osu!_Alumni/vi.md
  wiki/People/osu!_Alumni/zh-tw.md
  wiki/People/osu!_Alumni/zh.md
Labels: size/S

#12797 Add `Skin of the Year 2024: Voting Open` news post
  news/2025/2025-02-11-skin-of-the-year-2024.md
  wiki/shared/news/2025-02-11-skin-of-the-year-2024/banner.jpg
  wiki/shared/news/2025-02-11-skin-of-the-year-2024/banner@2x.jpg
Labels: area:news, size/M

#12801 Fix flag in `Jaye's One Key Event 3`
  wiki/Tournaments/JOKE/3/en.md
Labels: area:tournaments, size/XS

#12794 Add `osu!tablets return` news post
  news/2025/2025-02-12-osu-tablets-return.md
  wiki/shared/news/2025-02-12-osu-tablets-return/banner.jpg
  wiki/shared/news/2025-02-12-osu-tablets-return/banner@2x.jpg
  wiki/shared/news/2025-02-12-osu-tablets-return/beauty.jpg
  wiki/shared/news/2025-02-12-osu-tablets-return/box.jpg
  wiki/shared/news/2025-02-12-osu-tablets-return/fridge.jpg
  wiki/shared/news/2025-02-12-osu-tablets-return/hang.jpg
  wiki/shared/news/2025-02-12-osu-tablets-return/info.jpg
  wiki/shared/news/2025-02-12-osu-tablets-return/quickstart.jpg
  wiki/shared/news/2025-02-12-osu-tablets-return/stock.png
  wiki/shared/news/2025-02-12-osu-tablets-return/teaser.jpg
Labels: area:news, size/M

#12806 Update 1 commentator in `GBC 2024 Autumn`
  wiki/Tournaments/GBC/GBC_2024_Autumn/en.md
  wiki/Tournaments/GBC/GBC_2024_Autumn/zh.md
Labels: area:tournaments, size/XS

#12637 Add ``osu! Philippines Nationals 2024 - osu!taiko`` tournament article
  wiki/Tournaments/oPHN/2024_taiko/en.md
  wiki/Tournaments/oPHN/2024_taiko/img/logo.jpg
  wiki/Tournaments/oPHN/2024_taiko/img/phnt-badge.png
  wiki/Tournaments/oPHN/en.md
Labels: area:tournaments, size/L

#12810 Fix participant user links in PHNT2025 tournament article
  wiki/Tournaments/oPHN/2024_taiko/en.md
Labels: area:tournaments, size/M

#12811 [ID] Update `Main page`
  wiki/Main_page/id.md
Labels: area:translations, size/XS

#12803 Add `osu!mania 7K World Cup 2025: Semifinals Recap` news post
  news/2025/2025-02-13-osumania-7k-world-cup-2025-semifinals-recap.md
  wiki/shared/avatars/-luvv.jpg
  wiki/shared/news/2025-02-13-osumania-7k-world-cup-2025-semifinals-recap/-luvv.png
  wiki/shared/news/2025-02-13-osumania-7k-world-cup-2025-semifinals-recap/FOXGLOVE_banner.jpg
  wiki/shared/news/2025-02-13-osumania-7k-world-cup-2025-semifinals-recap/Ruin_in_Cascade_banner.jpg
  wiki/shared/news/2025-02-13-osumania-7k-world-cup-2025-semifinals-recap/banner.jpg
  wiki/shared/news/2025-02-13-osumania-7k-world-cup-2025-semifinals-recap/banner@2x.jpg
  wiki/shared/news/2025-02-13-osumania-7k-world-cup-2025-semifinals-recap/mappool.jpg
Labels: area:news, size/L

#12812 Fix map link in `osu!mania 7K World Cup 2025: Semifinals Recap` news post
  news/2025/2025-02-13-osumania-7k-world-cup-2025-semifinals-recap.md
Labels: area:news, size/XS

#12815 Grammar and rewording in `Project Loved: February 2025` news post
  news/2025/2025-02-14-project-loved-february-2025.md
Labels: area:news, size/XS

#12795 Change Outstanding Oldies description in `Project Loved` wiki page
  wiki/Community/Project_Loved/en.md
Labels: size/XS

#12796 Add missing word to ``Global Moderation Team``
  wiki/People/Global_Moderation_Team/en.md
Labels: size/XS

#12805 Changes to participation assessment and addition of host bans - Official Tournament Support
  wiki/Tournaments/Official_support/en.md
Labels: area:tournaments, size/XS

#12807 Fix incorrect winner attribution for "International Convert Cup 2024" in `Tournaments`
  wiki/Tournaments/IntlConvertCup/2024/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
Labels: area:tournaments, size/S

#12816 Update `3WC2025` Round of 16 schedule with reschedules
  wiki/Tournaments/3WC/2025/en.md
Labels: area:tournaments, size/S

#12817 [ID] Retitle `Contributor code of conduct`
  wiki/Rules/Contributor_code_of_conduct/id.md
Labels: area:translations, size/XS

#12818 Add `TWC 2025: Registrations Now Open!` news post/wiki article
  news/2025/2025-02-15-osutaiko-world-cup-2025-registrations-now-open.md
  wiki/Tournaments/TWC/2025/en.md
  wiki/Tournaments/TWC/2025/img/twc2025-banner.jpg
  wiki/Tournaments/TWC/2025/img/twc2025-banner@2x.jpg
Labels: area:news, area:tournaments, size/L

#12819 Remove stray asterisks in `TWC 2025`
  wiki/Tournaments/TWC/2025/en.md
Labels: area:tournaments, size/XS

#12820 Add missing flag on `TWC 2025`
  wiki/Tournaments/TWC/2025/en.md
Labels: area:tournaments, size/XS

#12824 Update `MWC 7K 2025` with partial Finals results
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/S

#12403 [EN/ZH] Update `Performance points`
  wiki/Performance_points/en.md
  wiki/Performance_points/es.md
  wiki/Performance_points/fr.md
  wiki/Performance_points/pt-br.md
  wiki/Performance_points/ru.md
  wiki/Performance_points/zh.md
Labels: size/L

#12808 Update `THMC4` wikis
  wiki/Tournaments/TMC/4th/en.md
Labels: area:tournaments, size/M

#12829 Update `MWC 7K 2025` for the Grand Finals stage
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/M

#12830 Add `New Featured Artist: Ludicin` news post
  news/2025/2025-02-16-new-featured-artist-ludicin.md
  wiki/People/Featured_Artists/de.md
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/es.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: area:news, size/L

#12831 Fix link in `New Featured Artist: Ludicin` news post
  news/2025/2025-02-16-new-featured-artist-ludicin.md
Labels: area:news, size/XS

#12832 Update `MWC 7K 2025` links
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/XS

#12835 Add `Monthly Beatmapping Contest: February 2025` news post
  news/2025/2025-02-17-monthly-beatmapping-contest-february-2025.md
  wiki/Contests/Contest_points/en.md
  wiki/Contests/Contest_points/es.md
  wiki/Contests/Contest_points/fr.md
Labels: area:news, size/L

#12836 Fix flag on `Contest points` article
  wiki/Contests/Contest_points/en.md
  wiki/Contests/Contest_points/es.md
  wiki/Contests/Contest_points/fr.md
Labels: size/XS

#12837 Update `3WC 2025` to Quarterfinals
  wiki/Tournaments/3WC/2025/en.md
Labels: area:tournaments, size/M

#12838 Add `Community Choice 2024: Results` news post
  news/2025/2025-02-18-community-choice-2024-results.md
  wiki/shared/news/2025-02-18-community-choice-2024-results/burning-star.jpg
  wiki/shared/news/2025-02-18-community-choice-2024-results/candyyyland.jpg
  wiki/shared/news/2025-02-18-community-choice-2024-results/cruzeiro-do-neymar-oh-neymar.jpg
  wiki/shared/news/2025-02-18-community-choice-2024-results/electromagnetic-stealth-girl-born-in-philadelphia.jpg
  wiki/shared/news/2025-02-18-community-choice-2024-results/everlasting-eternity.jpg
  wiki/shared/news/2025-02-18-community-choice-2024-results/light-left-behind.jpg
  wiki/shared/news/2025-02-18-community-choice-2024-results/mochio-.jpg
  wiki/shared/news/2025-02-18-community-choice-2024-results/train-of-thought.jpg
Labels: area:news, size/L

#12839 Fix wrong banner link in `Community Choice 2024: Results` news post
  news/2025/2025-02-18-community-choice-2024-results.md
Labels: area:news, size/XS

#12841 Replace incorrect map banner in `Community Choice 2024: Results` news post
  news/2025/2025-02-18-community-choice-2024-results.md
  wiki/shared/news/2025-02-18-community-choice-2024-results/everlasting-eternity.jpg
Labels: area:news, size/XS

#12842 Update `osu! Medal Hunters` Discord server icon in `Discord servers`
  wiki/Community/Discord_servers/img/osu!-Medal-Hunters.png
Labels: size/XS

#12845 Fix `IGTS 2021`'s discussion thread link
  wiki/Tournaments/GTS/IGTS_2021/en.md
Labels: area:tournaments, size/XS

#12847 Add `osu!(lazer) Updates: February 20, 2025` news post
  news/2025/2025-02-20-osulazer-updates-february-20-2025.md
  wiki/shared/news/2025-02-20-osulazer-updates-february-20-2025/banner.jpg
  wiki/shared/news/2025-02-20-osulazer-updates-february-20-2025/banner@2x.jpg
Labels: area:news, size/M

#12849 Update `3WC 2025` Quarterfinals schedule with reschedules
  wiki/Tournaments/3WC/2025/en.md
Labels: area:tournaments, size/S

#12834 Add menu tip about 'laser' writing
  wiki/Client/Menu_tips/de.md
  wiki/Client/Menu_tips/en.md
  wiki/Client/Menu_tips/es.md
  wiki/Client/Menu_tips/fr.md
  wiki/Client/Menu_tips/zh.md
Labels: size/S

#12850 Update `MWC 7K 2025` staff listing, schedule
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/XS

#12851 Add `osu!mania 7K World Cup 2025: Finals Recap` news post
  news/2025/2025-02-21-osumania-7k-world-cup-2025-finals-recap.md
  wiki/shared/avatars/[GB]yobrevelc.jpg
  wiki/shared/avatars/tyrcs.jpg
  wiki/shared/news/2025-02-21-osumania-7k-world-cup-2025-finals-recap/CuttingEdgeInsaneArtifact_banner.jpg
  wiki/shared/news/2025-02-21-osumania-7k-world-cup-2025-finals-recap/NIGHTMARE_INVITATION_banner.jpg
  wiki/shared/news/2025-02-21-osumania-7k-world-cup-2025-finals-recap/Welkius_banner.jpg
  wiki/shared/news/2025-02-21-osumania-7k-world-cup-2025-finals-recap/banner.jpg
  wiki/shared/news/2025-02-21-osumania-7k-world-cup-2025-finals-recap/banner@2x.jpg
  wiki/shared/news/2025-02-21-osumania-7k-world-cup-2025-finals-recap/mappool.jpg
  wiki/shared/news/2025-02-21-osumania-7k-world-cup-2025-finals-recap/tyrcs.png
Labels: area:news, size/L

#12852 Add missing credits to `osu!mania 7K World Cup 2025: Finals Recap`
  news/2025/2025-02-21-osumania-7k-world-cup-2025-finals-recap.md
Labels: area:news, size/XS

#12855 Update `3WC 2025` Quarterfinals with one more reschedule
  wiki/Tournaments/3WC/2025/en.md
Labels: area:tournaments, size/XS

#12856 Small fixes in `osu!mania 7K World Cup 2025: Finals Recap` news post
  news/2025/2025-02-21-osumania-7k-world-cup-2025-finals-recap.md
Labels: area:news, size/XS

#12857 Add `New Featured Artist: WEARY` news post
  news/2025/2025-02-22-new-featured-artist-weary.md
Labels: area:news, size/M

#12858 Update `MWC 7K 2025` with tournament results, update `MWC` index page
  wiki/Tournaments/MWC/2025_7K/en.md
  wiki/Tournaments/MWC/2025_7K/img/mwc7k2025-podium.jpg
  wiki/Tournaments/MWC/2025_7K/img/mwc7k2025-podium@2x.jpg
  wiki/Tournaments/MWC/en.md
  wiki/Tournaments/MWC/ru.md
Labels: area:tournaments, size/M

#12859 Add past tense in `MWC 7K 2025`
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/XS

#12860 Add WEARY to `Featured Artists`
  wiki/People/Featured_Artists/de.md
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/es.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/zh.md
Labels: size/XS

#12840 Update `THMC4` Group stage results, statics and Round of 32 mappools
  wiki/Tournaments/TMC/4th/en.md
Labels: area:tournaments, size/M

#12854 Update `Upgrading to lazer` feature comparison
  wiki/Help_centre/Upgrading_to_lazer/de.md
  wiki/Help_centre/Upgrading_to_lazer/en.md
  wiki/Help_centre/Upgrading_to_lazer/es.md
  wiki/Help_centre/Upgrading_to_lazer/fr.md
  wiki/Help_centre/Upgrading_to_lazer/it.md
  wiki/Help_centre/Upgrading_to_lazer/ru.md
  wiki/Help_centre/Upgrading_to_lazer/zh.md
Labels: size/M, area:help centre

#12655 [FR] Fix grammar in `Ranking criteria/osu!`
  wiki/Ranking_criteria/osu!/fr.md
Labels: area:translations, size/S, area:ranking criteria

#12863 Update `3WC 2025` to Semifinals
  wiki/Tournaments/3WC/2025/en.md
Labels: area:tournaments, size/M

#12867 Add more music to `Bespoke music in osu!`
  wiki/Community/Bespoke_music/en.md
  wiki/Community/Bespoke_music/img/bespoke-music-over-time.png
Labels: size/M

#12869 Update `THMC4` Round of 32 results, statics and Round of 16 mappools
  wiki/Tournaments/TMC/4th/en.md
Labels: area:tournaments, size/M

#12871 Fix `THMC4` incorrect RO16 mappool order
  wiki/Tournaments/TMC/4th/en.md
Labels: area:tournaments, size/S

#12872 Fix user link in `MWC 2025`
  wiki/Tournaments/MWC/2025_7K/en.md
Labels: area:tournaments, size/XS

#12873 Add more songs to `Bespoke music in osu!`
  wiki/Community/Bespoke_music/en.md
  wiki/Community/Bespoke_music/img/bespoke-music-over-time.png
Labels: size/S

#12844 Add the MCLT 4K 2025 tournament article
  wiki/Tournaments/MCLT/4K2025/en.md
  wiki/Tournaments/MCLT/4K2025/img/banner.jpg
Labels: area:tournaments, size/L

#12875 Add `Introducing Teams` news post
  news/2025/2025-02-27-introducing-teams.md
  wiki/shared/news/2025-02-27-introducing-teams/banner.jpg
  wiki/shared/news/2025-02-27-introducing-teams/banner@2x.jpg
  wiki/shared/news/2025-02-27-introducing-teams/team-banner.jpg
  wiki/shared/news/2025-02-27-introducing-teams/team-display.png
Labels: area:news, size/M

#12876 Add enri to `Tournament Committee`
  wiki/People/Tournament_Committee/en.md
Labels: size/XS

#12877 Update `3WC2025` Semifinals schedule with reschedules
  wiki/Tournaments/3WC/2025/en.md
Labels: area:tournaments, size/S

#12843 Add `Common seeding methods` wiki page
  wiki/Tournaments/Common_seeding_methods/en.md
  wiki/Tournaments/Common_seeding_methods/img/avgscore.png
  wiki/Tournaments/Common_seeding_methods/img/golf.png
  wiki/Tournaments/Common_seeding_methods/img/percentdiff.png
  wiki/Tournaments/Common_seeding_methods/img/percentmax.png
  wiki/Tournaments/Common_seeding_methods/img/weight.png
  wiki/Tournaments/Common_seeding_methods/img/zipf.png
  wiki/Tournaments/Common_seeding_methods/img/zpercentile.png
  wiki/Tournaments/Common_seeding_methods/img/zsum.png
  wiki/Tournaments/Official_support/en.md
Labels: area:tournaments, size/L

#12878 Add `Springtime Showdown Art Contest` news post
  news/2025/2025-02-28-springtime-showdown-art-contest.md
  wiki/shared/news/2025-02-28-springtime-showdown-art-contest/banner.jpg
  wiki/shared/news/2025-02-28-springtime-showdown-art-contest/banner@2x.jpg
Labels: area:news, size/M

#12786 [DE] Update `Past osu! store items`
  wiki/Past_osu!store_items/de.md
Labels: area:translations, size/S

#12785 [DE] Update `Community/Discord servers`
  wiki/Community/Discord_servers/de.md
Labels: area:translations, size/XS

#12782 [DE] Update `People/osu! team`
  wiki/People/osu!_team/de.md
Labels: area:translations, size/XS

#12780 [DE] Update `Client/File formats/osr`
  wiki/Client/File_formats/osr_(file_format)/de.md
Labels: area:translations, size/XS

#12753 [DE] Update `Reporting bad behaviour/Abuse`
  wiki/Reporting_bad_behaviour/Abuse/de.md
Labels: area:translations, size/M

#12879 Fix typo in `Springtime Showdown Art Contest` news post
  news/2025/2025-02-28-springtime-showdown-art-contest.md
Labels: area:news, size/XS
