Repository ppy/osu-wiki, pull requests merged in 2025-09, with the labels that each got.

#13671 Update `MWX 4K 2025` links
  wiki/Tournaments/MWC/2025_4K/en.md
Labels: area:tournaments, size/XS

#13666 Add entry to `Content usage permissions`
  wiki/Rules/Content_usage_permissions/en.md
Labels: size/XS

#13680 Disable autoplay in Twitch embed in CTA2 results news post
  news/2025/2025-09-03-capture-the-achievement-2-results.md
Labels: area:news, size/S

#13681 Add Twitch embed and audio preview examples to `News styling criteria`
  wiki/News_styling_criteria/en.md
Labels: size/S

#13672 Bump `Content usage permissions` date
  wiki/Rules/Content_usage_permissions/en.md
Labels: size/XS

#13700 Update `MWC 4K 2025` with partial Quarterfinals results
  wiki/Tournaments/MWC/2025_4K/en.md
Labels: area:tournaments, size/M

#13703 Add `New Featured Artist: Drazically` news post
  news/2025/2025-09-07-new-featured-artist-drazically.md
Labels: area:news, size/M

#13704 Update `MWC 4K 2025` for the Semifinals stage
  wiki/Tournaments/MWC/2025_4K/en.md
Labels: area:tournaments, size/L

#13705 Update `MWC 4K 2025` Semifinals link
  wiki/Tournaments/MWC/2025_4K/en.md
Labels: area:tournaments, size/XS

#13644 [DE] Update `Reporting bad behaviour`
  wiki/Reporting_bad_behaviour/de.md
Labels: area:translations, size/S

#13597 [EN/ZH] Add `Contests/CCC/2025`
  wiki/Contests/CCC/2025/en.md
  wiki/Contests/CCC/2025/img/banner.png
  wiki/Contests/CCC/2025/img/winner_badge.png
  wiki/Contests/CCC/2025/zh.md
  wiki/Contests/CCC/en.md
  wiki/Contests/CCC/zh.md
Labels: size/L

#13688 [ID] Update `Metadata`
  wiki/Ranking_criteria/Metadata/id.md
Labels: area:translations, size/XS, state/stale merge, area:ranking criteria

#13674 [ES] Update `People/Users with unique titles`
  wiki/People/Users_with_unique_titles/es.md
Labels: area:translations, size/M

#13677 [ES] Update `Rules/Content usage permissions`
  wiki/Rules/Content_usage_permissions/es.md
Labels: area:translations, size/S

#13697 [ES] Update `News styling criteria`
  wiki/News_styling_criteria/es.md
Labels: area:translations, size/S

#13713 Fix the spreadsheet link in `GBC 2024 IRL`
  wiki/Tournaments/GBC/GBC_2024_IRL/en.md
  wiki/Tournaments/GBC/GBC_2024_IRL/zh.md
Labels: area:tournaments, size/XS

#13685 [ZH] Update `Tournaments`
  wiki/Tournaments/zh.md
Labels: area:translations, area:tournaments, size/L

#13662 [ID] Further cleanup `Help centre/Account`
  wiki/Help_centre/Account/id.md
Labels: area:translations, size/S, state/stale merge, area:help centre

#13668 [ID] Update/Retranslate `Kiai time`
  wiki/Gameplay/Kiai_time/id.md
Labels: area:translations, size/M, state/stale merge

#13661 [ID] Update/Retranslate `Tempo`
  wiki/Music_theory/Tempo/id.md
Labels: area:translations, size/M, state/stale merge

#13715 Add `New Featured Artist: kikoyu` news post
  news/2025/2025-09-13-new-featured-artist-kikoyu.md
  wiki/People/Featured_Artists/de.md
  wiki/People/Featured_Artists/en.md
  wiki/People/Featured_Artists/es.md
  wiki/People/Featured_Artists/fr.md
  wiki/People/Featured_Artists/ru.md
  wiki/People/Featured_Artists/zh.md
Labels: area:news, size/M

#13716 Update `MWC 4K 2025` for the Semifinals week
  wiki/Tournaments/MWC/2025_4K/en.md
Labels: area:tournaments, size/L

#13714 [ZH] Update `People/Users with unique titles`
  wiki/People/Users_with_unique_titles/zh.md
Labels: area:translations, size/M

#13721 Update `Nomination Assessment Team` and `Beatmap Nominators` pages with tenure badges for 11-14 years.
  wiki/People/Beatmap_Nominators/en.md
  wiki/People/Beatmap_Nominators/es.md
  wiki/People/Beatmap_Nominators/fr.md
  wiki/People/Beatmap_Nominators/ru.md
  wiki/People/Beatmap_Nominators/zh.md
  wiki/People/Nomination_Assessment_Team/en.md
  wiki/People/Nomination_Assessment_Team/es.md
  wiki/People/Nomination_Assessment_Team/fr.md
  wiki/People/Nomination_Assessment_Team/zh.md
Labels: size/S

#13723 Add `Catch the Beat Indonesia Cup Open 2025` wiki article
  wiki/Tournaments/CIC/Open_2024/en.md
  wiki/Tournaments/CIC/Open_2025/en.md
  wiki/Tournaments/CIC/Open_2025/img/badge.png
  wiki/Tournaments/CIC/Open_2025/img/banner.jpg
  wiki/Tournaments/CIC/Open_2025/img/formula.png
  wiki/Tournaments/CIC/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
Labels: area:tournaments, size/XL

#13725 Fix typo in `osu!mania 4K World Cup 2025: Quarterfinals Recap`
  news/2025/2025-09-17-osumania-4k-world-cup-2025-quarterfinals-recap.md
Labels: area:news, size/XS

#13727 Fix one map's slot in `osu!mania 4K World Cup 2025: Quarterfinals Recap`
  news/2025/2025-09-17-osumania-4k-world-cup-2025-quarterfinals-recap.md
Labels: area:news, size/XS

#13731 Bring Tournament index pages back in sync
  wiki/Tournaments/de.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/ru.md
  wiki/Tournaments/zh.md
Labels: area:translations, area:tournaments, size/L

#13702 Clean up `Content_voting_process`
  wiki/Rules/Content_voting_process/en.md
Labels: size/S

#13734 Add `Halloween 2025 Fanart Contest` news post
  news/2025/2025-09-19-halloween-fanart-contest.md
Labels: area:news, size/M

#13735 Fix typo in `Halloween 2025 Fanart Contest` news post
  news/2025/2025-09-19-halloween-fanart-contest.md
Labels: area:news, size/XS

#13737 Fix typos in `New Featured Artist: Xeon Diversity` newspost
  news/2025/2025-09-20-new-featured-artist-xeon-diversity.md
Labels: area:news, size/XS

#13740 Fix leftover template in world cup recap news post
  news/2025/2025-09-21-osumania-4k-world-cup-2025-semifinals-recap.md
Labels: area:news, size/XS

#13745 Update `MWC 4K 2025`, `CWC 2025`
  wiki/Tournaments/CWC/2025/en.md
  wiki/Tournaments/MWC/2025_4K/en.md
Labels: area:tournaments, size/M

#13743 Add Mentorship Fall 2025 news post
  news/2025/2025-09-22-community-mentorship-program-fall-2025-signups-now-open.md
Labels: area:news, size/L

#13742 Update `Ranking Criteria` and `Community/Project Loved` with newest Loved changes
  wiki/Community/Project_Loved/en.md
  wiki/Ranking_criteria/en.md
Labels: size/XS, rule change, area:ranking criteria

#13751 Expand `upppy`
  wiki/upppy/en.md
  wiki/upppy/img/upppyScreenshot.png
Labels: size/M

#13712 Add `The State of Ranked: Results` news post
  news/2025/2025-09-24-the-state-of-ranked-survey-results.md
  wiki/shared/news/2025-09-24-the-state-of-ranked-survey-results/bar-goals.png
  wiki/shared/news/2025-09-24-the-state-of-ranked-survey-results/bar-quality.png
  wiki/shared/news/2025-09-24-the-state-of-ranked-survey-results/pie-enforcement.png
  wiki/shared/news/2025-09-24-the-state-of-ranked-survey-results/pie-influx.png
  wiki/shared/news/2025-09-24-the-state-of-ranked-survey-results/pie-main-drive.png
  wiki/shared/news/2025-09-24-the-state-of-ranked-survey-results/pie-quality.png
Labels: area:news, size/L

#13756 Update `MWC 4K 2025` Grand Finals schedule
  wiki/Tournaments/MWC/2025_4K/en.md
Labels: area:tournaments, size/XS

#13758 Fix incorrect flag display on `Catch the Beat Indonesia Cup Open 2025``
  wiki/Tournaments/CIC/Open_2025/en.md
Labels: area:tournaments, size/XS

#13757 Remove #1824 from voting in `Project Loved: Eight Years / September 2025` news post
  news/2025/2025-09-23-project-loved-eight-years-september-2025.md
  wiki/shared/news/2025-09-23-project-loved-eight-years-september-2025/592023.jpg
  wiki/shared/news/2025-09-23-project-loved-eight-years-september-2025/592023@2x.jpg
Labels: area:news, size/S

#13759 Update `Daily challenge` contributors listing
  wiki/Gameplay/Daily_challenge/de.md
  wiki/Gameplay/Daily_challenge/en.md
  wiki/Gameplay/Daily_challenge/es.md
  wiki/Gameplay/Daily_challenge/pl.md
Labels: size/XS

#13762 Move `upppy` to `Community/Projects`
  wiki/Community/Projects/upppy/de.md
  wiki/Community/Projects/upppy/en.md
  wiki/Community/Projects/upppy/es.md
  wiki/Community/Projects/upppy/fr.md
  wiki/Community/Projects/upppy/id.md
  wiki/Community/Projects/upppy/img/upppyScreenshot.png
  wiki/Community/Projects/upppy/it.md
  wiki/Community/Projects/upppy/ja.md
  wiki/Community/Projects/upppy/ko.md
  wiki/Community/Projects/upppy/pt-br.md
  wiki/Community/Projects/upppy/ru.md
  wiki/Community/Projects/upppy/th.md
  wiki/Community/Projects/upppy/zh-tw.md
  wiki/Community/Projects/upppy/zh.md
  wiki/redirect.yaml
Labels: size/XS

#13765 [ES] Update `Rules/Content voting process` and `Ranking criteria`
  wiki/Ranking_criteria/es.md
  wiki/Rules/Content_voting_process/es.md
Labels: area:translations, size/M

#13766 Update staff listing for `CWC`, `MWC 7K`, `MWC 4K`, and `TWC` 2025 wiki articles
  wiki/Tournaments/CWC/2025/en.md
  wiki/Tournaments/MWC/2025_4K/en.md
  wiki/Tournaments/MWC/2025_7K/en.md
  wiki/Tournaments/TWC/2025/en.md
Labels: area:tournaments, size/S

#13768 Add `pTransl`
  wiki/Community/Projects/pTransl/en.md
Labels: size/S

#13726 [ES] Update `Client/Interface/Cookie`
  wiki/Client/Interface/Cookie/es.md
Labels: area:translations, size/S

#13773 Add `osu!mania 4K World Cup 2025: Finals Recap` news post
  news/2025/2025-09-27-osumania-4k-world-cup-2025-finals-recap.md
  wiki/shared/news/2025-09-27-osumania-4k-world-cup-2025-finals-recap/mappool-f.jpg
Labels: area:news, size/L

#13772 [ES] Add `pTransl`
  wiki/Community/Projects/pTransl/en.md
  wiki/Community/Projects/pTransl/es.md
Labels: size/S

#13783 Update `MWC 4K 2025` with tournament results, `OWC 2025` typo fixes
  wiki/Tournaments/MWC/2025_4K/en.md
  wiki/Tournaments/MWC/2025_4K/img/mwc4k2025-badge-1st.png
  wiki/Tournaments/MWC/2025_4K/img/mwc4k2025-badge-1st@2x.png
  wiki/Tournaments/MWC/2025_4K/img/mwc4k2025-badge-2nd.png
  wiki/Tournaments/MWC/2025_4K/img/mwc4k2025-badge-2nd@2x.png
  wiki/Tournaments/MWC/2025_4K/img/mwc4k2025-badge-3rd.png
  wiki/Tournaments/MWC/2025_4K/img/mwc4k2025-badge-3rd@2x.png
  wiki/Tournaments/MWC/2025_4K/img/mwc4k2025-podium.jpg
  wiki/Tournaments/MWC/2025_4K/img/mwc4k2025-podium@2x.jpg
  wiki/Tournaments/OWC/2025/en.md
  wiki/Tournaments/de.md
  wiki/Tournaments/en.md
  wiki/Tournaments/es.md
  wiki/Tournaments/fr.md
  wiki/Tournaments/ru.md
  wiki/Tournaments/zh.md
Labels: area:tournaments, size/M

#13784 Fix user links in `osu!mania 4K World Cup 2025: Finals Recap` news post
  news/2025/2025-09-27-osumania-4k-world-cup-2025-finals-recap.md
Labels: area:news, size/XS
